[2018-06-15 09:14] gbitzes commented on #3982
Thanks! I'll try out the workaround.

[2018-06-15 17:23] koldat opened #4001 "Solaris Sparc build is not working"
Solaris Sparc build failed. There is also problem in CRC test (it is filling test data in little endian so that CRC is different).

Fixed in pull request: #4000

[2018-06-15 18:11] atris opened #4002 "Test Issue -- Error while accessing ColumnFamily"
I am writing a unit test to test a PR I am working on (supporting a new variable that is settable in SetOptions).

I am creating a ColumnFamily and reopening the database with the ColumnFamily, but I am getting:

Invalid argument: You have to open all column families. Column families not opened: foo

from VersionSet::Recover.

std::vector<ColumnFamilyDescriptor> dummy;
    ColumnFamilyDescriptor d

[2018-06-15 20:08] anand1976 commented on #3987
@markrui3 When memtable is flushed to sst, only the key with the latest sequence number is written, performing a merge as necessary. Older sequence numbers are written only if there is a snapshot where they are visible

[2018-06-15 20:36] sagar0 commented on #3938
@koldat I'll take a look at your PR.

[2018-06-15 21:21] anand1976 commented on #3998
@koldat Thanks for catching this. It does look like a problem since CompactionFilterFactoryJniCallback is inheriting from JniCallback first..

[2018-06-16 00:47] #4001 closed

[2018-06-16 04:21] #3843 closed

[2018-06-17 07:29] markrui3 commented on #3987
Er, ok, I read the code for one days and probobly know the logic. Thanks a lot.

[2018-06-17 07:29] #3987 closed

[2018-06-17 14:22] anhldbk opened #4008 "Java API: Manual WAL Flush"
*I'm sorry if this is NOT a suitable way to ask a question against using RocksDb*

In the C++ version, we've got [DBOptions::manual_wal_flush](https://github.com/facebook/rocksdb/wiki/Write-Ahead-Log#dboptionsmanual_wal_flush). How can I enable such option with our Java wrapper?

[2018-06-18 06:27] koldat commented on #3998
pulled

[2018-06-18 06:27] #3998 closed

[2018-06-18 06:29] koldat opened #4010 "Support for s390x zLinux"
JNI is missing support for zLinux s390x platform.

Pull request: #4009

[2018-06-18 06:37] koldat commented on #3938
Thanks @sagar0 Let me know if you want to have rebased version to current master.

[2018-06-18 09:08] koldat opened #4011 "ExternalSSTFileTest::OverlappingRanges fails on Solaris Sparc"
### Expected behavior
Test TEST_F(ExternalSSTFileTest, OverlappingRanges)  has incorrect cast to SyncPoint variable. It was probably refactored. It is expecting picked_level which is int, but now it emits assigned_seqno which is SequenceNumber (uin64).

On little endian this missed update of test has no effect, because cast is taking lower 32bits thus correct. On bigendian it always takes zero thu

[2018-06-18 16:59] koldat commented on #4010
pulled

[2018-06-18 16:59] #4010 closed

[2018-06-18 20:14] sagar0 commented on #4008
`manual_wal_flush` hasn't been added to the RocksDB Java API yet. Feel free to send a pull request if you are interested in contributing.

Also, RocksDB Developers facebook group or our google mailing list might be better suited for asking questions instead of github issues.

[2018-06-18 20:14] #4008 closed

[2018-06-18 20:36] sagar0 commented on #3984
I didn't fully understand your setup here. How are you building a dll on os x? Are you saying that you are cross-compiling on os x using gcc/mingw to get a dll?

[2018-06-18 23:07] Pustovetov opened #4017 "small bug with gcc-8.1.1"
Small bug/warning with gcc-8.1.1
[code]
bugfix very simple.
std::strncpy(result, state, cch);
i.e. we copy '\0' too

[2018-06-18 23:41] angerman commented on #3984
Yes. I’m using gcc/mingw with winpthreads to compile rocksdb on macOS to produce a Windows dll.

Quite similar to how the mingw Travis CI Job runs. It compiles fine, just seems to have different runtime behaviour to the dll compiled with MSVC on windows.

[2018-06-19 00:31] anand1976 commented on #4017
Makes sense. Not a bug since we set the null terminator on line 22, but we can do what you suggested to silence the compiler. Do you want to go ahead and submit a PR with this change?

[2018-06-19 00:47] anand1976 commented on #4002
I believe you have to provide options for each column family you want to open - https://github.com/facebook/rocksdb/blob/b73652169e5acfd1bb264ac386bf50bebca5b2aa/db/db_test_util.cc#L557

[2018-06-19 02:04] anhldbk commented on #4008
@sagar0 Thank you very much!

[2018-06-19 07:02] koldat commented on #4011
pulled

[2018-06-19 07:02] #4011 closed

[2018-06-19 07:36] koldat opened #4022 "zLinux build on s390x"
It seems that gcc for -march=z10 shows warning for predefined CACHE_LINE_SIZE 256 introduced in:
16e03882054fa8c947ca84f30b87e1cd3e929597 and ccf5f08f882038e8b481fafa0a0c0b1a04f6a390
[code]

I am not sure what is effect (only performance?) of aligning in RocksDB. Also I do not know what compiler was used so that it did not produced this warning. @grooverdan ?

### Expected behavior
No warning

###

[2018-06-19 13:43] Pustovetov commented on #4017
Yes, of course it is not real bug. The new gcc just panics. ;)  But if you make such a change that will be very good.

[2018-06-19 21:38] miasantreble commented on #3889
Hi @leventov, do you mind sharing the AMI you are using? You seem to be running on AWS.
We tried to reproduce this in a Ubuntu 14.04 instance but had no luck

[2018-06-19 21:55] yiwu-arbug commented on #4022
@koldat The aligning is only for performance sake. You can change CACHE_LINE_SIZE to 64 to get around. I'm not familiar with zLinux and s390. What should be the correct cache line size?

[2018-06-19 23:27] grooverdan commented on #4022
While 256 is the correct cache side for zLinux/s390, it appears this is above the stdc defined maximum of std::max_align_t.

I think the most compatible thing it to take the minimum of the existing cache size and std::max_align_t.

refs:
https://stackoverflow.com/questions/15523537/alignas-specifier-vs-attribute-aligned-c11
http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2007/n2341.pdf
https://

[2018-06-20 04:15] abhishekagarwal87 commented on #3889
If it helps, the AMI id I was using is ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20180522

[2018-06-20 04:47] leventov commented on #3889
@miasantreble I use `ubuntu/images/hvm-ssd/ubuntu-xenial-16.04-amd64-server-20180126 (ami-66506c1c)`

[2018-06-20 06:35] grooverdan commented on #4022
ignore, was probably on wrong track. sizeof(::max_align_t) was 32 and and alignof(::max_align_t) varied was 8 or 16 depending on architecture. the standard specified  alignof(::max_align_t) as the minimum however the maximum isn't defined.

I assume the warning is indicating the compiler is reducing it. On Power8 I had the compiler warning and pushing down to 128 when a 256 alignment was requested

[2018-06-20 06:59] koldat commented on #4022
Does it really have that high impact (I assume that operations required to process the cache is much higher)? Isn't 64 bytes good compromise?

[2018-06-20 07:10] grooverdan commented on #4022
There's a small loss in cache efficiency at higher values because some is empty however the aim is that concurrent accesses to adjacent memory structures get separated so they don't wait on cycles to obtain the cache line on concurrently updated that are being updated on different CPUs. Measurement depends on architecture so feel free to test (I should too). 'perf c2c' and the `perf stat` will be

[2018-06-20 13:56] koldat commented on #4022
Should we use BIGGEST_ALIGNMENT macro then?

[2018-06-20 17:06] hcnimkar commented on #1114
@jeremyeder @dhruba Did you guys add the spec file to the repo? It would be great if you could share the link. I am unable to find it on the Bugzilla thread and in the repo.

[2018-06-20 17:14] jeremyeder commented on #1114
https://src.fedoraproject.org/cgit/rpms/rocksdb.git/tree/rocksdb.spec

[2018-06-20 17:44] hcnimkar commented on #1114
@jeremyeder Thanks

[2018-06-20 18:11] merlimat commented on #2717
Thanks @ajkr!

[2018-06-20 18:19] itamarjp commented on #1114
`if` you would like a rocksdb package for EL report a bug here and ask,

http://bugz.fedoraproject.org/rocksdb

[2018-06-21 01:00] yiwu-arbug commented on #4002
@atris please reopen if you have further question.

[2018-06-21 01:00] #4002 closed

[2018-06-21 01:07] yiwu-arbug commented on #3984
@angerman Can you paste a sample code of how you using rocksdb and trigger the assertion?

[2018-06-21 01:08] yiwu-arbug commented on #3982
@gbitzes please reopen if you have further question.

[2018-06-21 01:08] #3982 closed

[2018-06-21 01:11] yiwu-arbug commented on #3981
@corndolly It could be normal for the method to take cpu if it is a write heavy workload. Please reopen if you think otherwise and have more evidence.

[2018-06-21 01:11] #3981 closed

[2018-06-21 01:34] yiwu-arbug commented on #3972
@burtonli Instead of CFs, can you use multiple DB instance instead if you don't need atomic writes to HDD and flash simultaneously? If you cannot, you can probably implement an Env wrapper to change the thread pool behavior, but I don't if how difficult it is.

[2018-06-21 07:14] grooverdan commented on #4022
BIGGEST_ALIGNMENT appears to be ```alignof(::max_align_t)``` -  quickly tested on multiple arches by doing ```int main() { return BIGGEST_ALIGNMENT; }``` https://gcc.godbolt.org/. Its the biggest alignment of a basic type rather than the maximum value for the compiler.

Looking at https://github.com/gcc-mirror/gcc/blob/master/gcc/varasm.c#L2106 i think the maximum alignment is equal to the max(siz

[2018-06-21 07:33] atris commented on #4002
Thanks guys, I missed this one. I will look into this and reopen if needed

On Thu, Jun 21, 2018 at 6:30 AM yiwu-arbug <notifications@github.com> wrote:

--
Regards,

Atri
*l'apprenant*

[2018-06-21 07:48] atris commented on #3844
JFYI I am working on this. Thanks

[2018-06-21 07:48] atris commented on #3847
JFYI I am working on this. Thanks

[2018-06-21 18:21] sagar0 commented on #3841
- @fgwu updated the restart interval for properties block in #3970 (I grabbed this task earlier as he was working on it, and I couldn't assign the issue to him).
- In a discussion with @ajkr, he mentioned that we shouldn't change the restart intervals in range del blocks, as this will cause a perf regression.

Are there any other blocks where we need to update the interval?

[2018-06-21 18:33] sagar0 opened #4034 "Add FlushWAL and manual_wal_flush to RocksJava API"
manual_wal_flush option and FlushWAL API were first introduced in #2345. These should be ported to RocksJava API.

[2018-06-21 18:34] sagar0 commented on #4008
Created #4034.

[2018-06-21 21:16] sagar0 commented on #2874
Another improvement just landed, this time for Direct IO user range scans - #3884.

[2018-06-22 08:06] adamretter commented on #2717
@ajkr so the target we use for release builds of RocksJava is `PORTABLE=1 rocksdbjavastaticreleasedocker`.

This uses the `rocksdbjavastatic` target directly the Linux builds which are done inside Docker, which as far as I can tell does set `DEBUG_LEVEL=0` when you call `make rocksdbjavastatic`.

However for the Mac build the `rocksdbjavastatic` is a sub-target of rocksdbjavastaticreleasedocker an

[2018-06-22 14:18] toktarev opened #4041 "Removal of DNDEBUG caused Write performance degradation"
Upgrade to last 5.13.2 version

### Expected behavior

Performance of write operation is the same

### Actual behavior

2x  performance degradation

### Steps to reproduce the behavior

The problem is that key -DNDEBUG was remove from the place specified in my commit:

https://github.com/toktarev/rocksdb/commit/0f083b05cc305f1316245838dc057596b0000420.

As result we see 2x performance degradation

[2018-06-22 16:14] toktarev commented on #4041
This is how I measure time:

https://github.com/toktarev/rocksdb/commit/33cf10b504a823b8056c266fda8622843a64f118

I inserted time's measurement directly inside RocksDB's code

And see 2x time difference with and without that flag

[2018-06-22 16:18] toktarev commented on #4041
I suspect that the reason is inside inlineskiplist.h file which uses asserts widely and this flag disable them

[2018-06-22 16:58] gfosco commented on #2809
6 months without update.  Several new versions in this timeframe.. If you want this re-opened, just let us know.

[2018-06-22 16:58] #2809 closed

[2018-06-22 17:02] gfosco commented on #3305
If you'd like to get this update in, please send a PR.  Thanks!

[2018-06-22 17:02] #3305 closed

[2018-06-22 17:10] hcnimkar commented on #1114
@jeremyeder The spec file was really helpful. However, I have a few questions about it. Can you please explain to me the purpose of these three lines. I am using RocksDB v5.13.4. And I don't think they are relevant now. I may be wrong. Let me know if I should include them in my spec file.

`rm -rf third-party/gtest-1.7.0
rm java/benchmark/src/main/java/org/rocksdb/benchmark/DbBenchmark.java
rm bui

[2018-06-22 17:58] #2717 closed

[2018-06-22 18:45] jeremyeder commented on #1114
If those are no longer relevant, I'd submit a bugzilla against the fedora package at bugzilla.redhat.com (I did not write the spec file)

[2018-06-22 19:30] tulshiba opened #4044 "Iterator (readahead > 0) destruction pollutes the block cache"
Iterator with readahead > 0 drops all the partitioned bloom filter entries when destructed. This can cause subsequent get/read ops to reload the bloom filter entries adding to disk reads and latency. I see a comment in the code (partitioned bloom filter destructor) attesting to this behavior. This looks like a bug to me (RocksDB 5.9.2). We thought of using the workaround of setting the readahead t

[2018-06-22 22:17] krytarowski commented on #3305
max_align_t is in recent versions of NetBSD, should be in 8.0

[2018-06-24 00:29] solracor commented on #3307
thenanox commented on 4 May •
I've been checking around on rocksdb and this bug is something related to the physical CPU you have in your computer. If you have >= Haswell intel processors (4xxx) propably works for you. In case you are using previous CPU, then it won't work with 5.7.3 rocksdbjni.

This happens because of the way rocksdb build for windows the package rocksdbjni. In some point after

[2018-06-24 09:05] adamretter commented on #3307
Okay so I have taken a look into this. It seems that we can set `-DPORTABLE=1` as part of the CMake generation of the MSBuild files and that will cause the /arch:AVX2 flag not to be set. I will make sure that the next release of RocksJava has this flag set.

[2018-06-24 09:07] #3307 closed

[2018-06-25 20:04] ajkr commented on #4041
Historical context: #2300, #2445, #2595

[2018-06-25 20:50] toktarev commented on #4041
@ajkr , so ?

Removing this option we can't compile ROcksDB without heavy asserts, and it kills performance

[2018-06-25 21:08] ajkr commented on #4041
So whoever picks this up can see what problems we ran into last time we tried it and make sure not to hit them again.

[2018-06-25 21:10] toktarev commented on #4041
But how can we build RocksDB with previous performance level ?

[2018-06-25 21:11] yuslepukhin opened #4051 "Latest changes in AlignedBuffer produce Access Violation"
### Expected behavior
db_bench does not core dump
### Actual behavior
db_bench when running seekrandom produces access violation (jemalloc build)

In the below code the current size and the capacity of the buffer is 12288, however, the memcpy attempts to copy bufstart_ + copy_offset (12288), copy_len(12288) from the old buffer resulting in out of buffer access.

![image](https://user-images.github

[2018-06-25 23:19] sagar0 commented on #4051
Taking a look ...

[2018-06-26 00:13] tulshiba commented on #4044
@maysamyabandeh - Any inputs on this? Thanks.

[2018-06-26 09:24] rockeet opened #4056 "Feature Request: Allowing write to memtable fail"
### Expected behavior
When write to a memtable, it may failed because reached memory limit, in this failed case, rocksdb should create a new memtable and write to the new memtable.

### Actual behavior
Now rocksdb memtable does not allow write fail, but checks the memtable memory usage and to dicide wheather need to create a new memtable. This mechenism has many defects:

#### 1. Waste memory
For

[2018-06-26 17:21] yuslepukhin commented on #4051
I think AlignedBuffer is not used properly in a couple of places. The notion of the class encapsulation is that it knows its size and would restrict operations based on what it knows. The example includes Read() method. It would never read more than the buffer has and will return the actual amount.
The recent changes violate that principle.

Another example of improper use is at https://github.com

[2018-06-26 21:45] yuslepukhin opened #4059 "Improper usage of std::string results in a zero size string in Blob_log_reader"
### Expected behavior

### Actual behavior

https://github.com/facebook/rocksdb/blob/master/utilities/blob_db/blob_log_reader.cc#L30

`Reader::ReadSlice` makes use of `std::string` as output buffer. It reserves the space but does not update `std::string` for the actual amount of data it contains. It should call `resize()` after the actual amount read is known. So the `std::string` instance still t

[2018-06-26 23:21] sagar0 commented on #4051
I haven't been able to reproduce the crash/access_violation on Linux, running on even a much large db and larger number of ops. I have also been running a few stress tests over the past few days without an issue.
Adding more tests and tweaks to see if I can repro this.

[2018-06-27 08:39] shanshan0309 opened #4062 "RocksDB failed due to error C2338 when build with MSVC"
Hi All,

I tried to build RocksDB with VS2017 Update 7 on Windows. It failed to build due to the C2338. This issue can be reproduced from master revision 346d106. Could you please help take a look at this? Thanks!

**Expected behavior:**
build successfully

**Actual behavior:**
The whole log file please see attachment.
[RocksDB_x64_build.log](https://github.com/facebook/rocksdb/files/2140403/Rocks

[2018-06-27 14:01] toktarev opened #4063 "Assertion failed: (last_ref), function ~ColumnFamilySet, file /repos/rocksdb/db/column_family.cc"
RocksDB version: 5.13.2

### Expected behavior

Infinite program work

### Actual behavior
Assertion failed: (last_ref), function ~ColumnFamilySet, file /repos/rocksdb/db/column_family.cc
line 1166
### Steps to reproduce the behavior

[code]

[2018-06-27 14:46] #4063 closed

[2018-06-27 16:32] riversand963 commented on #4059
@yiwu-arbug , could you PTAL?

[2018-06-27 17:02] riversand963 commented on #4056
RocksDB has memory limit for each column family. RocksDB also checks the number of existing memtables (mutable and immutable) of each column family. Upon reaching the limit, write stalls will occur. See [write stall conditions](https://github.com/facebook/rocksdb/blob/master/db/column_family.cc#L716).
If a memtable reaches its limit, I'm not sure if it's a good idea to create a new one since it vi

[2018-06-27 17:52] yuslepukhin commented on #4051
@sagar0 I have a 100% repro case. I suggest that you simply run under the debugger and put a conditional breakpoint for the condition outlined in the above scenario. I am lucky to repro because the beyond the buffer access falls beyond the mapped memory region on windows but in a different setup the memory can be mapped and thus no immediate impact.

[2018-06-27 17:55] yuslepukhin commented on #4051
@sagar0 The main issue is that the buffer access is driven from the outside and the internal knowledge of the buffer is neither consulted nor enforced, thus anyone can supply arbitrary offset and data size to copy.

[2018-06-27 18:26] mbalex99 opened #4064 "Latest Commits on Master fails for iOS builds"
### Expected behavior

It builds for iOS successfully

### Actual behavior

[code]

### Steps to reproduce the behavior

1. Clone from master, latest commit: https://github.com/facebook/rocksdb/commit/17339dc2f39a87a9cf097e056a59560b0795ff6e
2. run `TARGET_OS=IOS make static_lib`

This occurs for Xcode 9, 9.2, 9.3, 9.4 and 10 beta 1

__However__ this commit onto master works without an issue: c60d

[2018-06-27 18:55] riversand963 commented on #4064
@mbalex99 We have made some changes related to alignment of data structures recently. Would you mind telling us which commit broke your build? Thanks!

[2018-06-28 03:44] rockeet commented on #4056
Thank you for your comment!

Let me explain more:

1. user API: memtable changes will never impact rocksdb user API.

2. Write stalls: We don’t concern write stalls, write stalls will always happen on switching memtable, regardless how to decide whether memtable is full.

3. memtable insertion fail: memtable insertion fail will never impact user API. It just impact rocksdb implementation: If memta

[2018-06-28 08:02] shanshan0309 commented on #4062
Thanks @riversand963 for looking into this issue.
I tried your fix and it works well.

[2018-06-28 15:44] mdcallag commented on #4056
PatriciaTrie is interesting. Is this academic research? Something you plan to contribute?

[2018-06-28 16:11] riversand963 commented on #4062
#4061 should already have been merged. I'm closing this issue now. Please let us know if anything comes up. Thanks.

[2018-06-28 16:11] #4062 closed

[2018-06-28 17:31] sagar0 commented on #4051
@yuslepukhin Yeah, I investigated more into the issue yesterday and am currently working on a fix.

[2018-06-28 18:02] riversand963 commented on #4056
Thanks @rockeet , I think you probably misunderstood what I meant by "contract". Sorry about the confusion. By "contract between application and RocksDB", I did not mean the user API. I meant user has specified a certain amount of memory that can be used by RocksDB, and RocksDB currently abides by this contract.
My understanding of your proposal is as follows. You want a memtable write failure cau

[2018-06-28 23:29] rockeet commented on #4056
Our real requirement is: If write to a memtable fail, rocksdb should not write to this memtable again, and it should retry write this key value into a new memtable.

all other things are implementation details, such as:
1. if rocksdb mem usage is under limit, a new memtable will be created at once.
2. if it reaches the total mem limit at this time(before creating a new memtable), it should wait un

[2018-06-28 23:34] rockeet commented on #4056
@mdcallag Yes, we will contibute our memtable once it is stable. Now this issue is a blocker for us.

[2018-06-29 11:41] unoexperto commented on #3717
Guys, any progress on this ? I think it's beginning to be stuck on write for me after I recreated RocksDB from scratch. I even forcibly call compaction method after writing each chunk of documents.

[2018-06-29 12:49] unoexperto commented on #2490
@benoitc It was faulty custom comparator.

[2018-06-29 13:04] azagrebin commented on #3865
@sagar0 @ajkr
do you have any preference about fixing this issue?

[2018-06-29 13:29] jsteemann opened #4076 "assertion failure in version_set.cc"
### Expected behavior

Not running into an assertion failure.

### Actual behavior

Running into an assertion failure in version_set.cc:4010
[code]
Original call is from application layer to DBImpl::GetApproximateSizes.

### Steps to reproduce the behavior

The assertion failure happens very seldomly and "randomly" (i.e. it is not easy to reproduce).
The keys provided to DBImpl::GetApproximateSize

[2018-06-29 16:21] riversand963 commented on #3717
@unoexperto , did this happen after you trigger manual flush? How many CPU cores do you have
Can you tell the result of `std::thread::hardware_concurrency()` by any chance?

[2018-06-29 18:50] ajkr commented on #3865
@azagrebin I agree with your proposed solution. We can pass the output of `GetOperandsDirectionBackward` to `ShouldMerge` and document that the operands are in the reverse order of what would be passed to `FullMerge` or `FullMergeV2`. I'm ok with this change because we never documented before in what order the operands would be provided to `ShouldMerge`.

[2018-06-29 21:54] riversand963 commented on #4056
@rockeet , Thanks for clarification of "reaching memory limit".
Have you take a look at `WriteCallback` passed to `WriteImpl`? Is it possible to implement your feature here? This callback will be called before writing to the memtables, maybe you can check whether the current memtable is full.

[2018-06-30 06:18] elohffa opened #4079 "Please submit a full bug report, with preprocessed source if appropriate"
execute make all in rocksdb folder

and i got problem when CC       db/column_family.o
. See <file:///usr/share/doc/gcc-5/README.Bugs> for instructions. Makefile:1892: recipe for target 'db/column_family.o' failed make[1]: *** [db/column_family.o] Error 4

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2018-07-01 23:57] petermattis commented on #4064
346d1069c3031468cf5cb06299f018a873c9fb33 seems to have caused a similar failure on Mac OS X:

[code]

Commenting out the setting of `-faligned-new` in the Makefile can temporarily work around the problem.

[2018-07-02 07:08] shanshan0309 commented on #4062
Thank you @riversand963.
RocksDB passed in latest master revision.

[2018-07-02 12:37] oltdaniel opened #4083 "C - Column Family Options casting fails"
### Expected behavior
The cast should pass without an error, and add the column families to the main options.

### Actual behavior
The C executable crashes with an `Segmentation fault (core dumped)` error. The `gdb` backtrace and source code can be found [here](). The error is caused [here](https://gist.github.com/oltdaniel/4abbc79aaa31aeac73aed1878958e400#file-main-c-L37) and can be traced back w

[2018-07-02 15:49] xphoenix opened #4084 "CorruptionError on compaction if cache is under pressure"
### Expected behavior
Slowdown compaction/fail compaction

### Actual behavior
CorruptionError and in worse case invalid data in result files

### Steps to reproduce the behavior
Hight rate inserts with a very small cache

### Broken code sequence
``
#0  rocksdb::BlockBasedTable::NewDataBlockIterator(rocksdb::BlockBasedTable::Rep*, rocksdb::ReadOptions const&, rocksdb::BlockHandle const&, rocksdb:

[2018-07-02 17:23] sagar0 commented on #2490
Curious, where are you using RocksDB with Scala?

[2018-07-02 18:59] petermattis opened #4085 "Is in-place sstable truncation possible?"
The current compaction mechanisms require that whenever an `Ln->Ln+1` compaction occurs a compaction that involves table `T` at `Ln` will have to include any overlapping tables in `Ln+1`. For example, consider this simple LSM structure:

[code]

If we're compacting `L1:[g-t]` to `L2`, we need to include `L2:[a-m]` and `L2:[o-z]` in the compaction. Failure to do so would result in a violation of th

[2018-07-02 19:11] petermattis opened #4086 "WriteThread::AwaitState PAUSE spin-loop needs investigation"
[`WriteThread::AwaitState`](https://github.com/facebook/rocksdb/blob/master/db/write_thread.cc#L61-L75) contains the following block of code:

[code]

The comment about the duration of each loop iteration is incorrect on recent Intel microarchitectures. The pause instruction changed from taking single-digit nanoseconds to 43 nanoseconds. See [this blog post](https://aloiskraus.wordpress.com/2018/0

[2018-07-03 08:06] bestans opened #4088 "how to fix java.lang.UnsatisfiedLinkError"
source code:
[code]

Report error:
[code]

Environment:
windows 7 64bit + Eclipse(Luna Service Release 2 (4.4.2)) + JDK1.7 + RocksJava 5.13.2

I have tried different JDK versions (1.7 / 1.8)，different Eclipse versions , different RocksJava  versions，but just not work. help me, please!

[2018-07-03 08:23] adamretter commented on #4088
@bestans Perhaps you have the same problem as described here: https://github.com/facebook/rocksdb/issues/3307#issuecomment-399741126

If so the next release of 5.14.x should be out in the next few days. In the mean time you could try compiling yourself with the `PORTABLE` flag as described in that issue and the Wiki.

[2018-07-03 08:36] bestans commented on #4088
@adamretter  thank you! I will try compiling myself and wait new release.

[2018-07-03 10:39] azagrebin commented on #3849
@adamretter
I think last PR addressed the issue. I guess we can close the issue?

[2018-07-03 15:19] iFA88 opened #4089 "Error: Too many open files"
Greetings,

Sadly I receive every time `RocksIOError: IO error: While open a file for appending: /mnt/ssd/databases/bch/067928.sst: Too many open files` error during writing into the database.
In the DIR are 980 files, using 120gb space.
LOG file in the folder says -1 for `max_open_files`:
https://gist.github.com/iFA88/d5b04dfcfc083b7952c214a56002a144#file-gistfile1-txt-L67

My system settings:
[c

[2018-07-03 16:55] ordian commented on #4017
I'm having this compilation error when building 5.13.4 with gcc-8.1.1:
[code]
Am I doing something stupid?
`cmake -DCMAKE_BUILD_TYPE=Release -DWITH_JEMALLOC=true -DWITH_SNAPPY=true .. && make`

[2018-07-03 19:52] riversand963 commented on #4076
@jsteemann Have you been able to reproduce this deterministically?

[2018-07-03 20:09] jsteemann commented on #4076
Unfortunately not.
We have seen this assertion failure probably twice in a period of at least two months. So it may be a real edge case.

[2018-07-04 03:28] bestans commented on #4088
[code]

[2018-07-04 03:38] bestans commented on #4088
@adamretter I think it isn't the same as #3307 (comment). I have set PORTABLE  flag in CMake generation, and check  the /arch:AVX2 flag not to be set, but it still not work.

otherwise,
[code]
but
[code]

[2018-07-04 05:21] adamretter commented on #4088
That is very strange as it is implemented here - https://github.com/facebook/rocksdb/blob/master/java/rocksjni/optimistic_transaction_db.cc#L24

We also have a test case which uses that here: https://github.com/facebook/rocksdb/blob/master/java/src/test/java/org/rocksdb/OptimisticTransactionDBTest.java#L123

[2018-07-04 08:03] bestans commented on #4088
@adamretter I found that java cmakelist.txt doesn't contain optimistic_transaction_db.cc and some other files, so interface like Java_org_rocksdb_OptimisticTransactionDB_open__JLjava_lang_String_2 doesn't generate.
[https://github.com/facebook/rocksdb/blob/master/java/CMakeLists.txt](url)

[2018-07-05 10:58] tcwalther opened #4094 "performance regression in merge operator in RocksDB >= 5.9 when merging many values"
When updating RocksDB to any version >= 5.9 (I tried 5.9.2, 5.11.3, 5.13.2 - 5.8.8 still works fine), the merge operator in our code base becomes extremely slow, such that a merge of ~20000 values (each around 5 bytes) takes 0.3 seconds (before that it was barely measurable). I'm not sure yet whether I can reproduce this in a simple test case - it's probably a bit complicated, as I would assume th

[2018-07-05 16:08] ajkr commented on #4094
Thanks for reporting. This sounds similar to #3865. I believe @azagrebin is working on a fix.

[2018-07-05 16:11] tcwalther commented on #4094
@ajkr thank you so much for your reply. Yes, this sounds indeed like a duplicate. I'm happy for you to close this issue if you prefer, and I will track the other issue instead.

[2018-07-05 16:20] #4094 closed

[2018-07-05 16:49] mperham opened #4095 "Slow Get with lots of merge records"
I have a uint64 counter which I'm incrementing with the Merge operator, possibly hundreds or even thousands of times per second.  As the system works, calling Get on the associated key gets slower and slower as the Merge records pile up, many seconds or even minutes.  How can I tune RocksDB to compact these Merge records more often?

I'm seeing this behavior in 5.9.2 and 5.13.2.

[2018-07-05 17:51] yiwu-arbug commented on #4086
That's true. We aware of the change but don't have bandwidth to dig further right now. We are wondering whether pause is still needed here, but it would need more benchmarking to confirm.

[2018-07-05 18:37] yiwu-arbug commented on #4095
You can try the mex_sucessive_merge option.

[2018-07-05 18:42] mperham commented on #4095
I set it to 1000 but saw no diff in performance.

[2018-07-05 18:47] yiwu-arbug commented on #4095
@mperham maybe a much lower value for it?

[2018-07-05 19:48] mperham commented on #4095
In fact, this did solve it.  I set the value on the wrong set of options, the Stats CF was using a different set of options from the other CFs because it had to enable the merge operator for that CF.  Thank you!

[2018-07-05 19:48] #4095 closed

[2018-07-05 20:06] ajkr commented on #3865
Hi @azagrebin do you have an ETA? Our most recent two GitHub issues are both about this. We can contribute the fix if you haven't started or aren't far along. But I wanted to check with you first so we don't duplicate your work.

[2018-07-05 21:34] tulshiba commented on #4044
Any inputs on this?

[2018-07-05 22:15] ajkr commented on #4085
I don't think we've discussed this idea. We often discuss, though, how to avoid rewriting data in compaction that is not merged with anything but was pulled in due to key-range overlap. From your example, that'd be [a, g) and (t, z], assuming our current strategy where the L1 file gets compacted with both L2 files.

I think your idea can help with this problem. cc @siying.

[2018-07-05 22:32] miasantreble commented on #4084
Thanks for reporting. I think the second part has been fixed recently: https://github.com/facebook/rocksdb/pull/3688

[2018-07-05 23:01] ajkr commented on #4083
I think `family_options` should be an array of 10 pointers.

[2018-07-05 23:03] miasantreble commented on #4083
Right, you can check https://github.com/facebook/rocksdb/blob/master/db/c_test.c#L1169 as an example of setting up `column_family_options` for `rocksdb_open_column_families`
Basically the `num_column_families` you pass should match the actual number of column families in the array `column_family_options`

[2018-07-05 23:12] ajkr commented on #4084
BTW, this explanation I didn't quite follow:

[code]

It looks like you are saying `iter->data_ != nullptr`, but there is a line setting `iter->data` to be `nullptr`. Am I misunderstanding?

[2018-07-05 23:19] miasantreble commented on #4084
Actually I cannot find that line anywhere in the codebase, either in the initial PR that added the dummy record https://github.com/facebook/rocksdb/pull/3333 or the fix that removed the double deletion https://github.com/facebook/rocksdb/pull/3688. Maybe @xphoenix added it as a way to fix this?

[2018-07-06 05:30] adamretter commented on #3849
Closed by https://github.com/facebook/rocksdb/pull/3850

[2018-07-06 05:30] #3849 closed

[2018-07-06 05:49] adamretter commented on #4088
@bestans looks like this is being addressed here: https://github.com/facebook/rocksdb/pull/4015

[2018-07-06 09:37] huor opened #4097 "No sst file generated after put data to rocksdb but only log file"
### Expected behavior
If it follows the step to open rocksdb, put data, get data, close rocksdb, there should be ssl file generated. However, it does not. The rocksdb version is 5.10.3.

If it follows the step to open rocksdb, put data, close rocksdb, then open rocksdb again, get data, close rocksdb, there is ssl file generated as expected. But it might take some long time to recover when open roc

[2018-07-06 10:20] xphoenix commented on #4084
Yeap, sorry, that is my try to proove bug was there. Note to myself to copy&paste _original_ code in issues

[2018-07-06 13:47] petermattis commented on #4085
Yes, you could avoid compacting those parts of the ranges as well by doing an in-place truncate of the existing L2 sstables:

[code]

The downside, of course, is extra disk space usage. The compaction heuristics would likely want to take this into consideration.

[2018-07-06 16:42] riversand963 commented on #4056
HI @rockeet , I'd like to touch base with you on this topic. Will `WriteCallback` be able to provide a solution? Thanks

[2018-07-06 17:42] miasantreble commented on #4097
you can either do manual flush by calling `Flush()` or close the db by calling `Close()`
See https://github.com/facebook/rocksdb/blob/master/include/rocksdb/db.h for all DB related APIs

[2018-07-06 19:08] ajkr commented on #4064
We need to change "build_tools/build_detect_platform" to check aligned new is actually implemented before setting `-DHAVE_ALIGNED_NEW`.

[2018-07-07 06:14] rockeet commented on #4056
We are investigating your proposal, it is very complex, we need time understand the writing process

[2018-07-09 09:35] azagrebin commented on #3865
Hi @ajkr, thanks for asking, I have not started yet. Please, go ahead with the contribution. atm I would have time only next week to work on the fix.

[2018-07-09 22:14] #4083 closed

[2018-07-09 22:40] miasantreble commented on #3245
@ajkr close?

[2018-07-09 22:42] miasantreble commented on #3521
ping @tanzeelrana

[2018-07-09 22:50] miasantreble commented on #3575
updated

[2018-07-09 22:50] #3575 closed

[2018-07-09 23:34] anand1976 commented on #3790
Closing due to no response.

[2018-07-09 23:34] #3790 closed

[2018-07-10 02:21] ajkr commented on #3245
yes.

[2018-07-10 02:21] #3245 closed

[2018-07-10 12:57] toktarev opened #4103 "Performance problem"
### Expected behavior

Stable performance and memory consumption

### Actual behavior

Strong performance degradation

Unreasonable memory growth

### Steps to reproduce the behavior

[code]

[2018-07-10 14:15] toktarev commented on #4103
Memory growth happens because of the block cache

Is there possibility to strictly limit it's size ?

[2018-07-10 14:19] #4103 closed

[2018-07-10 17:05] yiwu-arbug commented on #4103
@toktarev try `strict_capacity_limit`?
https://github.com/facebook/rocksdb/blob/master/include/rocksdb/cache.h#L66

[2018-07-10 17:09] toktarev commented on #4103
Yes this is why I closed ticket

[2018-07-10 17:10] toktarev commented on #4103
@yiwu-arbug is it possible to disable block cache usage on memtable flush ?

[2018-07-10 19:22] yuslepukhin commented on #4051
I am going to PR my proposal.

[2018-07-10 19:45] sagar0 commented on #4051
Created #4105 to remove external tracking of AlignedBuffer size. Do you think we'd need more than that?

[2018-07-10 20:15] yuslepukhin commented on #4051
@sagar0 I think, what needs to be done is the actual size to be copied to be enforced by std::min/max functions based on the current data size and buffer capacity. And then return the actual size copied. This way, the caller can assert() to see if his expectations are met.

[2018-07-10 20:16] yuslepukhin commented on #4051
@sagar0 Also there are many spaces in encryption code (!) where the buffer size is not set. Again, once copying is enforced, it is going to break

[2018-07-10 20:24] sagar0 commented on #4051
I missed the env_encryption code; I was solely concentrating on file_reader_writer APIs. I'll update env_encryption code as well.

[2018-07-10 20:29] yuslepukhin commented on #4051
@sagar0 So providing tests pass and encryption is addressed, the only thing is to return the number of bytes copied from Allocate() so the caller could verify it meets the expections.

[2018-07-10 20:38] yuslepukhin commented on #4051
@sagar0 With regards to encryption code. It a lot of times simply memmove data into the buffer. One can simply call Append() and it would take care of the size and everything else.

[2018-07-10 20:49] sagar0 commented on #4051
There are multiple different problem we found while investigating this issue. Let me summarize our discussion based on my understanding so far:

1. Access Violation which @yuslepukhin saw in seekrandom with db_bench in his setup: This is a bug introduced in #3884, and the fix for this is in #4100.
1. AlignedBuffer length is being tracked outside, possibly incorrectly and redundantly in ReadadheadR

[2018-07-10 20:57] yuslepukhin commented on #4051
@sagar0 This is spot on! Thank you for attending to this.

[2018-07-10 23:43] zhichao-cao opened #4107 "db_bench only execute "delete, single_delete, seek(), merge" in the default cf 0?"
I'm running the following commands to evaluate the delete, single delete, and seek in multiple column families with multi-threads:
./db_bench -num_column_families 6 --benchmarks="fillseq,readrandom,seekrandom" -reads 20005  -threads 16 -num 30002
 ./db_bench -num_column_families 6 --benchmarks="fillseq,deleterandom" -deletes 10002 -threads 16 -num 30002
./db_bench -num_column_families 6 --benchmar

[2018-07-11 02:59] #4107 closed

[2018-07-11 15:13] toktarev opened #4112 "Memory grows without limit"
### Expected behavior

Process consumes about 10 megabytes

### Actual behavior

Memory grows without limit

### Steps to reproduce the behavior

Run this code:

https://pastebin.com/Ch8RhsSB

Sorry RocksDB team, but it is huge problem.

This is trivial test and I expect it will work as finite state machine
Populate memory - flush - re-use memory.

I see like memory grows.

[2018-07-11 15:16] toktarev commented on #4112
BTW: Block cache is totally disabled

[2018-07-11 15:16] toktarev commented on #4112
`
#include <thread>
#include <cstdio>
#include <string>
#include <iostream>
#include <cinttypes>
#include "rocksdb/db.h"
#include <db/memtable.h>
#include "memtablefactory.h"
#include <memtable/inlineskiplist.h>

using namespace std;
using namespace rocksdb;
using namespace std::chrono;

std::string kDBPath = "/repos/rocksdata";

template<typename T>
T swap_endian(T u) {
    static_assert(CHAR_BIT

[2018-07-11 16:07] toktarev commented on #4112
Allocator tracker shows memory leak in:

rocksdb::BlockFetcher::ReadBlockContents

+0x00	pushq               %rbp
+0x01	movq                %rsp, %rbp
+0x04	pushq               %r15
+0x06	pushq               %r14
+0x08	pushq               %r13
+0x0a	pushq               %r12
+0x0c	pushq               %rbx
+0x0d	subq                $392, %rsp
+0x14	movq                %rsi, %rbx
+0x17	movq

[2018-07-11 17:43] siying commented on #616
@adamretter what's the reason for reopening the issue? This can't be easily improved, as WriteBatchWithIndex isn't multiversioning, so accessing the data with older version while you have deleted it is very hard to implement. Furthermore, the memory backs WriteBatch is a std::string, which can be resized, so that what external rocksdb::Slice points to it is subject to disappear if we modify any da

[2018-07-11 17:56] siying commented on #616
The PR to add comments: https://github.com/facebook/rocksdb/pull/4113

[2018-07-11 23:14] siying commented on #4044
CC @sagar0

[2018-07-11 23:17] siying commented on #4112
Can you paste the full call stack of the allocation?

[2018-07-12 00:40] siying commented on #608
@adamretter are you saying it's 60% slower than DB::Put() or WriteBatch::Put()? It is much faster than DB::Put() when I try it. 60% slower than WriteBatch::Put() is not a bad result.

[2018-07-12 00:43] siying commented on #675
Is the problem only for iterator created by WriteBatchWithIndex, or is it for general iterator from DB too?

[2018-07-12 00:49] siying commented on #1235
This information provided here is not sufficient to figure out the reason. Can you share your RocksDB info log?

By the way, we fixed some issues related to this in the past two years. Are you still seeing it with newere releases?

[2018-07-12 00:53] siying commented on #1555
`ro.managed = true` is not a feature we ever seriously used. If you run without this option, do you see this problem?

[2018-07-12 01:12] pdillinger opened #4120 "Bloom filters using a flawed double hashing scheme"
### Expected behavior

I expected the Bloom filter implementations to have behavior reasonably close to the accuracy predicted by formulas.

### Actual behavior

With more thorough testing, the Bloom filters used for summarizing keys in an SST file show compromised accuracy. Fixing some implementation flaws can result in faster and more accurate Bloom filters.

Introduction
---------------

From m

[2018-07-12 03:48] pdillinger commented on #4120
See prototyping+testing in https://github.com/pdillinger/rocksdb/tree/bloom-filters, commit 90d1ab9

[2018-07-12 06:18] toktarev commented on #4112
No, this is all information I have.

I am trying to find allocation in code as well.

[2018-07-12 14:57] jonahgao opened #4122 "DeleteRange doesn't work well with row_cache"
### Expected behavior & Actual behavior
when row_cache is enabled,
after we delete a key by a DeleteRange call,
we can still Get the key and its value from the db

### Steps to reproduce the behavior
[code]

[2018-07-12 17:03] ajkr commented on #4122
Thanks for reporting. I think the most we can promise right now is making it explicitly unsupported, i.e., disallow range deletions when row cache is enabled. If you want to contribute code for purging the row cache when `DeleteRange` happens, we should be able to review and land it.

[2018-07-12 21:45] #1809 closed

[2018-07-12 21:49] siying commented on #1811
@ajkr is working on it.

[2018-07-12 21:52] siying commented on #2005
@loadwiki if you are dealing with write burst, you can increase level0_slowdown_writes_trigger to much larger, with level_stop_writes_trigger to be even larger. Now the default I believe is something like 32.

[2018-07-12 21:53] siying commented on #2005
I don't think keeping the issue open can help anything. We don't have any near term improvements planned to help with issue. In long term, we do plan to get a more adaptive LSM-tree setting so that things can be adjusted more dynamically.

[2018-07-12 21:54] #2005 closed

[2018-07-12 22:07] siying commented on #3072
@guozhangwang are you still fighting it?

[2018-07-12 22:13] siying commented on #3070
The call stack doesn't indicate any problem related to RocksDB. It fails inside jemalloc, when RocksDB trying to allocate space for the std::string. IdentityFileName() is a super simply function https://github.com/facebook/rocksdb/blob/v5.14.2/util/filename.cc#L218-L220 and I don't see how RocksDB can cause this allocation issue. Is there a way you run out of memory?

If you still can't figure out

[2018-07-12 22:13] #3070 closed

[2018-07-12 22:20] EliFinkelshteyn commented on #2547
Hi @siying,
Thanks for your response. I'm well aware that python-rocksdb is a third party port. I'm not asking questions related to it. I used it merely to demonstrate the issue. I linked you to the portion of the python-rocksdb code that calls out to RocksDB and, in the case of this issue, receives back an error with the statement `No locks available`.

This `No locks available` error is coming d

[2018-07-12 22:31] siying commented on #3133
@huachaohuang I can't reproduce it. Maybe we have fixed it in a recent release?

[2018-07-12 22:53] riversand963 commented on #4089
@iFA88 , `max_open_files=-1` means the files opened will always be kept open. I cannot see any issue from the information you posted here. Did you run RocksDB in the same shell you ran the above command? Could you check your `/etc/security/limits.conf`?

[2018-07-12 22:55] riversand963 commented on #3905
Test disabled in https://github.com/facebook/rocksdb/pull/4126

[2018-07-12 22:55] #3905 closed

[2018-07-12 23:01] gmossessian commented on #2547
Hi @siying , thanks for your responses, I work with @EliFinkelshteyn so please excuse my butting in.

It seems that you are correct, that intended Cython behavior is to trigger the C++ destructor upon garbage collection, and there is no access to the `delete` C++ keyword from within Cython. However, I noticed there is a C API for Rocksdb in `c.h`, which includes `extern ROCKSDB_LIBRARY_API void ro

[2018-07-12 23:08] ajkr commented on #3743
We don't plan to do it.

[2018-07-12 23:08] #3743 closed

[2018-07-12 23:13] ajkr commented on #3266
Do you still see this problem?

[2018-07-12 23:15] siying commented on #2547
@gmossessian yes, rocksdb_close() destroy the C++ DB object, so calling it should be sufficient.

[2018-07-12 23:17] ajkr commented on #3198
I'd prefer to fix the issue preventing upgrade to 5.12 instead of backporting non-critical fixes to arbitrary old versions. Want to report the issue you see with upgrading?

[2018-07-12 23:17] #3198 closed

[2018-07-12 23:17] siying commented on #2547
@gmossessian to clarify, if you create DB using C API, then use C API rocksdb_close() to destroy it. If you create it through C++ API, then you have to call C++ `delete` to destroy it. Are you able to do it in CPython?

[2018-07-12 23:30] yiwu-arbug commented on #3501
@siying not yet.

[2018-07-12 23:37] gmossessian commented on #2547
wouldn't this would still imply access to C++ from CPython? I was hoping to avoid modifying RocksDB itself, but one way to address this issue that would make everything else easier is to add a `Close()` method to the C++ library, which does not seem to exist as far as I can find it.

[2018-07-12 23:45] anand1976 commented on #4017
Closed by #3870

[2018-07-12 23:45] #4017 closed

[2018-07-12 23:46] anand1976 commented on #3218
Closing due to no response. Please reopen if you're still seeing this issue.

[2018-07-12 23:46] #3218 closed

[2018-07-12 23:48] anand1976 commented on #3791
We don't guarantee ABI compatibility, so I think this is not an issue.

[2018-07-12 23:48] #3791 closed

[2018-07-13 00:02] siying commented on #3738
Does it build without tests? If only tests fail to build, I wouldn't bother investing time on fixing it, as it is not one of our standard development environments. If the release components fail to build too, maybe we should take a look at and see whether there is a quick fix.

[2018-07-13 03:13] huachaohuang commented on #3133
Yup, I can't reproduce it too, let's close it now.
BTW, please tell me if you know which commit fixes this, thanks.

[2018-07-13 03:13] #3133 closed

[2018-07-13 03:59] riversand963 commented on #4076
@jsteemann which version of RocksDB were you using when this assertion failure happened?

[2018-07-13 04:09] jazy333 opened #4130 "wiki mistake"
https://github.com/facebook/rocksdb/wiki/Simulation-Cache
### Expected behavior
NewSimCache(normal_block_cache,
  10 * 1024 * 1024 * 1024 /* sim_capacity 10GB */);
### Actual behavior

NewSimCache(normal_block_cache,
  1024 * 1024 * 1024 * 1024 /* sim_capacity 10GB */);
### Steps to reproduce the behavior

[2018-07-13 05:05] ajkr commented on #3959
Sorry for the delay, thanks a lot for the idea. I was wondering whether the seqnums could be swapped, i.e., put the tombstone's seqnum in the value, and put the insertion seqnum in the key. Using your example, it'd look like:

[code]

One problem that came up is we can't have multiple values for `m#5`. I believe we only need to store the latest one. If a query is for a snapshot with seqnum >= 5, w

[2018-07-13 05:35] miasantreble commented on #4130
@jazy333 Thanks for reporting, feel free to update the wiki

[2018-07-13 07:32] jsteemann commented on #4076
That was 5.9. But I checked 5.14 as well and found that the corresponding code in version_set.cc is almost identical, so probably the assertion may still trigger under some (yet to be found) circumstances.

[2018-07-13 08:42] byteink commented on #4122
Thank for your reply @ajkr , I'll look into this and try to fix it.

[2018-07-13 09:43] iFA88 commented on #4089
Hy! Yes I use the same shell and user (root) during run.

In `/etc/security/limits.conf`:
[code]

The only solution was, when I set the `max_open_files` to very high (5000).

[2018-07-13 12:53] toktarev commented on #4112
[code]

[2018-07-13 17:41] yiwu-arbug commented on #4130
updated. thanks.

[2018-07-13 17:41] #4130 closed

[2018-07-13 18:01] riversand963 commented on #4089
Thanks. `/etc/security/limits.conf` specifies the maximum number of open files user `root` can have. I wonder whether it's possible that other processes belonging to `root` have large number of open files.

[2018-07-13 18:11] toktarev commented on #4112
I’ve found the reason of leak

this is not exactly a leak
but a lot of memory is allocated
but not released
const int table_cache_size = (mutable_db_options_.max_open_files == -1)
                                 ? TableCache::kInfiniteCapacity
                                 : mutable_db_options_.max_open_files - 10;
table_cache_ = NewLRUCache(table_cache_size,
                           immutab

[2018-07-13 20:11] riversand963 commented on #4076
@jsteemann , thanks for the report. One thought is that the assertion error could have been caused by `CompactFiles` writing files to the same range as another concurrent compaction, which was addressed in https://github.com/facebook/rocksdb/pull/3926/. Could you upgrade your RocksDB version and see if the assertion error still exists?

[2018-07-13 20:17] riversand963 commented on #3628
@huachaohuang Thanks for reporting this issue. Now that there is a separate PR #4099 addressing this issue, I'm closing this one. If you have further input, let's discuss under PR #4099 .

[2018-07-13 20:17] #3628 closed

[2018-07-13 20:43] riversand963 commented on #4085
Thanks for the suggestion.
I think block-baased SSTs also have meta blocks storing some properties which can be considered as meta data ([wiki](https://github.com/facebook/rocksdb/wiki/Rocksdb-BlockBasedTable-Format)).

[2018-07-13 21:35] zawlazaw commented on #3717
I am absolutely no expert on this, but some time ago I ran into write stalls with rocksdb-java on a write-intense workload. After unsuccessfully trying to manually optimize, all problems went totally away simply by adding the following option before opening rocksdb:

    val` options = new Options()
    options.optimizeLevelStyleCompaction()
    val db = RocksDB.open(options, ...)

The call to `op

[2018-07-13 21:57] riversand963 commented on #3704
@yiwu-arbug I think I have also seen this in the crash test. Pipelined write will enter a state in which two threads are in `__lll_lock_wait` while other threads are in `pthread_cond_wait`.

[2018-07-14 00:50] maysamyabandeh commented on #4120
Thanks @pdillinger for the well-researched, well-written proposal. Benchmarks would have the final world about any such change. The simplest benchmark that we have is db_bench. Do you think you can run db_bench readrandom with and without the change and see how much the difference is?

[2018-07-14 01:08] ot commented on #4120
Awesome analysis! I just want to point out that if we change the Bloom filters format we may also take this opportunity to re-evaluate the choice of the hash function, which is quite dated.

[2018-07-14 05:43] #3391 closed

[2018-07-14 13:19] abhishekmaheshwari86 opened #4137 "Application"
Application is crashing again and again on below frame:

Java frames: (J=compiled Java code, j=interpreted, Vv=VM code)
J 7874  org.rocksdb.RocksDB.get(JJ[BII)[B (0 bytes) @ 0x00007f6a528b3a53 [0x00007f6a528b3a00+0x53]
J 8223 C2 org.colombia.jcache.LocalCache.put(Ljava/lang/Object;Ljava/lang/Object;)V (435 bytes) @ 0x00007f6a52abd90c [0x00007f6a52abc5a0+0x136c]
J 8223 C2 org.colombia.jcache.LocalC

[2018-07-14 17:35] petermattis commented on #3959
I'm not seeing anything obviously wrong with this approach, but the devil is in the details. I'll try to find time to adapt my existing testbed to this approach and see if it uncovers any problems.

[2018-07-14 20:07] adamretter commented on #4137
From the trace you have provided, I don't think we can diagnose much. Can you build a debug binary and recreate your issue with that, the trace from that should give us line numbers etc. See - https://github.com/facebook/rocksdb/wiki/JNI-Debugging

[2018-07-14 21:22] guozhangwang commented on #3072
@siying I've just upgraded to the most recent version (5.14.2) and will check if we still saw the same issue on that version.

[2018-07-15 08:12] jsteemann commented on #4076
Ok, will do. Thanks for the update!

[2018-07-16 06:08] pdillinger commented on #4120
@maysamyabandeh  My experience with db_bench so far is that it's slow to get results and there's so much variance in the results, in testing up to num = 20M (still just hitting disk cache for reads), that I don't have faith that I'm going to have meaningful data if I do some big runs. Why so much variance? Up to 33% change in ops/sec from one run to the next. The level stats are even different. I

[2018-07-16 13:13] abhishekmaheshwari86 commented on #4137
[hs_err_pid16732.log](https://github.com/facebook/rocksdb/files/2197716/hs_err_pid16732.log)
[hs_err_pid19733.log](https://github.com/facebook/rocksdb/files/2197717/hs_err_pid19733.log)
[hs_err_pid22123.log](https://github.com/facebook/rocksdb/files/2197718/hs_err_pid22123.log)
[hs_err_pid30009.log](https://github.com/facebook/rocksdb/files/2197719/hs_err_pid30009.log)
[hs_err_pid30359.log](https:

[2018-07-16 15:00] koldat commented on #4112
Hi @siying . I am having exactly same issue. It is serious one. Cache is simply growing. Callstack using jemalloc See attachment:

![out1250](https://user-images.githubusercontent.com/16866502/42765746-fc734be0-8918-11e8-9678-8b729f4a2e19.png)

![leak](https://user-images.githubusercontent.com/16866502/42766007-9ca7fc28-8919-11e8-8445-95a2cec91e1c.png)

My configuration is:
[code]

Is there some w

[2018-07-16 15:16] koldat commented on #4112
There is this bugfix message:
5.14.1 (6/20/2018)
Fix block-based table reader pinning blocks throughout its lifetime, causing memory usage increase.

Is it related to this issue? I was not able to find any change related to block table between 5.14.0 and 5.14.1. What changeset fixes this bug?

[2018-07-16 15:30] maysamyabandeh commented on #4120
@pdillinger you can use readrandom[X10] to run the benchmark many time, discard the first run, and average over the next runs. "-duration 60" could also be used to control the duration of the benchmark. Also make sure block_cache (default 8MB) is proportional to the DB size.
If a significant benefit did not show up in reading from SST file, we might be able to still benefit  from the improvement i

[2018-07-16 15:46] toktarev commented on #4112
Executed the same benchmark on the latest RocksDB version
git checkout tags/v5.14.2 -b b14.

Still see memory grows

Bytes Used	Count		Symbol Name
 149.29 MB      51.7%	28800	 	    rocksdb::ThreadPoolImpl::Impl::BGThreadWrapper(void*)
 149.29 MB      51.7%	28793	 	     rocksdb::ThreadPoolImpl::Impl::BGThread(unsigned long)
 149.07 MB      51.6%	27278	 	      rocksdb::DBImpl::BackgroundCallFlush()

[2018-07-16 16:25] riversand963 commented on #4076
@jsteemann Thanks for looking into this, I will close this issue for now, but you can re-open it once you see the failure again. Steps to reproduce will be highly appreciated.

[2018-07-16 16:25] #4076 closed

[2018-07-16 19:50] ajkr commented on #3959
I started thinking about how iterator will work with this approach. Here's a first stab.

Consider we have two files each with range deletions.

[code]

Now these files are compacted together. We can iterate through each one's range deletions and create a new range deletion meta-block.

[code]

We insert `a#10 -> c,10` and `b#30 -> e,30`, then advance the iterator in SST_1.

[code]

We insert `c#2

[2018-07-16 20:10] ot commented on #4120
Very rare for most of the use cases I'm aware of, in fact it is quite common to encode a hierarchy (for example table name, column name) or other kind of structure into the key. I don't think the cost of hashing is really an issue here, hashing can be amortized over the multiple lookups (at least one per level), and I assume memory lookups take the majority of the cost.

This is very nice, I'll lo

[2018-07-17 18:37] pdillinger commented on #4120
@maysamyabandeh I'm still getting too much noise with db_bench, I believe because there seems to be significant randomness in how the resulting db from N insertions is laid out, based at least on levelstats. For example, since readrandom seems to query stored keys only (not clear from docs), 9-bit-per-element Bloom filters should have slightly faster readrandom times (and slower readmissing times

[2018-07-18 07:34] koldat commented on #4112
My solution was to use recommendation here: https://github.com/facebook/rocksdb/wiki/Partitioned-Index-Filters (I have huge database and I require small memory footprint)

Table files are using cache driven by capacity of max_open_files. When I used big value it was growing in time a lot, because my index is around 5MB per file (and I had 5k files - 200MB each). When I used smaller value then quer

[2018-07-18 08:08] toktarev commented on #4112
@koldat it is clear that max_open_files reduce corresponding cache capacity.

But if I set it small and add `Get` operation to the benchmark I see considerable performance degradation after some time

[2018-07-18 08:33] toktarev commented on #4112
@koldat  sure I'll test it a big latter (a bit busy right now).

I don't understand why RocksDB keeps file blocks in cache.
There is no big needs for this.

I'd like to ask them revise their memory management and free allocated memory in Blocks after each Flush or Read operation.

This is 360K cache blocks which just consumes memory for nothing.

[2018-07-18 08:50] koldat commented on #4112
@toktarev It makes a lot of sense to keep it in memory. Let me describe it on example:

You are calling GET operation
1. It checks memtable. If it is there return.
2. It checks all L0 files in range for GET (see table get steps down). If it is there return.
3. It checks L1 files in range. If it is there return.
4. It checks L2 files in range. If it is there return.
5. etc.

Every table check for G

[2018-07-18 09:16] toktarev commented on #4112
There is no leak.
There is just memory consumption.
@koldat
Thanks for explanation

But I still see at least 1 problem:

I can't used https://github.com/facebook/rocksdb/wiki/Partitioned-Index-Filters
for Hash-optimized MemTables (optimized for lookUp) at least I didn't find how to do it

[2018-07-18 14:25] iFA88 opened #4149 "`key_may_exist` not works as expected"
Fresh opened databases
[code]

[2018-07-18 15:11] siying commented on #4149
Here is the comment of DB::KeyMayExist(): https://github.com/facebook/rocksdb/blob/v5.14.2/include/rocksdb/db.h#L369-L375

If the return value is false, "the key definitely does not exist in the database". If the value is true, then it may or may not exist in the database. I don't see how the example violated the contract.

KeyMayExist() is an API we added a long time ago, and we don't usually use

[2018-07-18 15:23] toktarev commented on #4112
My custom application load huge number of data into RocksDB (about 70G)

After some time I see:

-rw-r--r-- 1 ubuntu ubuntu 118410341 Jul 18 15:19 000121.sst
-rw-r--r-- 1 ubuntu ubuntu 118412305 Jul 18 15:19 000122.sst
-rw-r--r-- 1 ubuntu ubuntu 118412022 Jul 18 15:19 000123.sst
-rw-r--r-- 1 ubuntu ubuntu 118410456 Jul 18 15:19 000124.sst
-rw-r--r-- 1 ubuntu ubuntu 118411486 Jul 18 15:19 000125.ss

[2018-07-18 15:41] koldat commented on #4112
It is hard to say. Anyway it looks strange, because listed files are around 2GB size in total. That means compression generates files 35 times smaller (strange). It also strangely correlates with your data size. Are you sure that you do not have issue (memory leak) in your application?

[2018-07-18 15:42] iFA88 commented on #4149
Thank you for the comment. I have read about that there: http://pyrocksdb.readthedocs.io/en/v0.4/api/database.html#rocksdb.DB.key_may_exist
If I can not trust in the function result, then its useless :)

[2018-07-18 15:42] #4149 closed

[2018-07-18 17:33] sagar0 opened #4151 "Flaky tests causing Travis TEST_GROUP=1 to fail frequently"
We have seen a lot of flakiness in Linux Travis TEST_GROUP=1 recently due to below tests, and it needs to be fixed asap.

Workaround until its fixed: A restart of the job mostly works for me. (You need to have a  travis account for this though).
But its annoying and not everyone knows about it.
New contributors are especially caught by surprise as they might think that the failure is due to their

[2018-07-18 19:30] DorianZheng opened #4152 "VersionSet::LogAndApply and DBImpl::IngestExternalFile running concurrently cause data loss"
### Expected behavior
pass

### Actual behavior
fail

### Steps to reproduce the behavior
[code]

[2018-07-18 20:16] ajkr commented on #4152
Looking.

[2018-07-19 06:10] riversand963 commented on #4152
@DorianZheng Thanks for looking into this. I have PR #4157 that should be able to fix it.

[2018-07-21 03:14] yuslepukhin commented on #4112
Our profiling indicates there is a huge leak accumulating within a couple of days with a process growing up to 60 GB a day. The process usually recycles. I am seeing multiple stacks that has a common theme of a BlockFetcher and trying to insert the block into cache etc. The below happens during Get()/MultiGet(), at the end of compaction etc. The first below stack is the most prolific raking many G

[2018-07-22 04:03] ajkr commented on #3977
I believe you fixed it fully in #4050. Let us know if it's still an issue.

[2018-07-22 04:03] #3977 closed

[2018-07-23 10:29] yaojingguo opened #4166 "doc: outdated description in Statistics wiki page"
In [Statistics wiki page](https://github.com/facebook/rocksdb/wiki/Statistics), there is:

[code]

`options.statistics`  should be `options->statistics`.

[2018-07-23 11:23] nosknut opened #4167 "Slow concurrent reads"
Info about project:
- I am bench marking a jetty java web server.
- I have mad a REST API that returns a JSON formatted text file containing all the contents of a table with 100 rows and some 30 columns of different datatypes.
- I am currently trying to decide between using InnoDB or RocksDB as my storage engine.
- Using 2 identical tables, one stored in a RocksDB and one in an InnoDB. They both c

[2018-07-23 15:08] petermattis commented on #3977
#4050 fixed an issue where adjacent sstables were treated unnecessarily as an atomic unit if they contained part of the same range tombstone.

The issue here was about something different: `SubcompactionState::ShouldStopBefore` doesn't take range tombstones into account when determining if an output sstable should be finished. Now that `RangeDelAggregator::NewIterator` exists, I think it should be

[2018-07-23 16:44] maysamyabandeh commented on #4167
Or here: https://www.facebook.com/groups/rocksdb.dev

[2018-07-23 17:45] yuslepukhin commented on #4112
@siying @ajkr This is real. There is something going on with cached blocks.

[2018-07-23 17:56] siying commented on #4112
@koldat which release or commit are you running on while seeing the leak?
@yuslepukhin same question

CC @maysamyabandeh . One the the previous heap profile shows the partitioned index took most of the memory.

[2018-07-23 18:01] siying commented on #4112
@yuslepukhin Get()/MultiGet() is not supposed to go this path. Maybe it's the compaction path? Can you paste the whole stack so that we can figure out where it is from?

[2018-07-23 18:07] yuslepukhin commented on #4112
@siying Thanks for responding.
The commit I am using is de98fd88e3b9e4ac5c8114aada07635256d9e3ae, however, the leak shows up in earlier commits such as 1f32dc7d2b6721a1fe13eb515d52e5cd6f110f59

There are multiple stacks that show in my profiling. Let me gather the top and I will post it here.

@maysamyabandeh Partitioned index also caught my attention.

[2018-07-23 18:40] yuslepukhin commented on #4112
This covers practically all of it.

[TopStacksPosted.txt](https://github.com/facebook/rocksdb/files/2220613/TopStacksPosted.txt)

[2018-07-23 18:42] toktarev commented on #4112
I confirm

	RocksDBStore!rocksdb::UncompressBlockContentsForCompressionType+27D (d:\vsts\agent_1\_work\1\s\table\format.cc, 354)
	RocksDBStore!rocksdb::UncompressBlockContents+3B (d:\vsts\agent_1\_work\1\s\table\format.cc, 390)
	RocksDBStore!rocksdb::BlockFetcher::ReadBlockContents+552 (d:\vsts\agent_1\_work\1\s\table\block_fetcher.cc, 230)

This causes a lot of allocations and problems

[2018-07-23 18:45] #4166 closed

[2018-07-23 18:47] koldat commented on #4112
I am using 5.12. branch with our JNI modifications. I can say that two level index maybe "hide" the leak, because grow of memory is not noticeable (so I thought it was incorrect usage). Most of memory was taken from compaction and seek and seekPrev (see picture). Seek is hitting that ReadBlockContents as well as compaction.

I guess that maybe index cache does not evict indices for files that are

[2018-07-23 18:48] toktarev commented on #4112
We switched all column families on two level index.

We still observe memory grows on intensive read operations.

[2018-07-23 20:48] gaojieliu opened #4168 "Could not see statistics when opening RocksDB in read only mode"
I was trying to use RocksDB in read only mode to boost the read performance, but I could not see the statistics, which is working in regular read-write mode.
### Expected behavior
See statistics.
### Actual behavior
Could not see valid statistics.
### Steps to reproduce the behavior
I was using '**org.rocksdb:rocksdbjni:5.14.2**'
Code snippet:
[code]

Result:
rocksdb.block.cache.miss COUNT : 1
roc

[2018-07-23 21:15] sagar0 commented on #2915
Added by @adamretter in #3666. Thanks!

[2018-07-23 21:15] #2915 closed

[2018-07-23 21:29] sagar0 commented on #3278
It think it is a great candidate for "up-for-grabs" -- may people who are interested in contributing to RocksDB and don't know where to start can take this on and contribute as their first PR.

[2018-07-23 21:33] sagar0 commented on #4151
Disabled `DBFlushTest.SyncFail` and `DBTest.GroupCommitTest` on Travis. in #4154. Travis builds seem more stable now.

[2018-07-23 21:38] siying commented on #4112
@koldat what's your block cache size? Data blocks from a deleted file are not necessarily being deleted immediately. Eventually they will be evicted based on LRU. If your actual block cache usage is larger than capacity, then it's a problem. Otherwise, it is still expected.

[2018-07-23 21:44] siying commented on #4112
For those who run on C++ or you can get block cache size using another way, what's your reading of Cache::GetCapacity(), Cache::GetUsage() and Cache::GetPinnedUsage() reading?

[2018-07-23 22:06] maysamyabandeh opened #4171 "Implement DB::MultiGet(PinnableSlice)"
In https://github.com/facebook/rocksdb/pull/1756 DB::Get API is extended to receive a PinnableSlice instead of std::string. We should extend DB::MultiGet to do the same.

[2018-07-23 22:44] #3831 closed

[2018-07-24 00:19] yuslepukhin commented on #4112
@siying We only use uncompressed cache and graph GetUsage() on it which is fairly flat and it shows as configured value times the partitions on a box. I do not have immediate access to GetPinnedUsage().

[2018-07-24 00:20] yuslepukhin commented on #4112
@siying There are indications that leak existed in 5.6.1

[2018-07-24 06:44] yaojingguo commented on #4166
Sorry. It is my fault.

[2018-07-24 07:29] nosknut commented on #4167
This is not a question about using the rocksdb API in code. Its a question about how to optimize a database using rocksdb as a storage engine. This is also an issue when looking for documentation.

[2018-07-24 08:14] yaojingguo opened #4175 "doc: outdated description of stats_dump_period_sec in RocksDB Tuning Guide wiki page"
`This is 3600 by default, which means that stats will be dumped every 1 hour. ` should be `This is 600 by default, which means that stats will be dumped every 10 minutes.`.  Since https://github.com/facebook/rocksdb/blob/v5.14.2/include/rocksdb/options.h#L627 has the following code:

[code]

[2018-07-24 16:18] siying commented on #4167
@nosknut you have to optimize through MyRocks interface, including getting stats from MyRocks interface and changing options through MyRocks. There will be more experts there who can help you better.

[2018-07-24 19:33] #4167 closed

[2018-07-24 21:57] yuslepukhin opened #4177 "Persistent Cache tests fail on Windows"
### Expected behavior
tests pass
### Actual behavior

The following test cases fail in a similar fashion.

WARNING: persistent_cache_test::PersistentCacheDBTest.TieredCacheTest State: Completed
WARNING: Note: Google Test filter = PersistentCacheDBTest.TieredCacheTest
WARNING: [==========] Running 1 test from 1 test case.
WARNING: [----------] Global test environment set-up.
WARNING: [----------] 1

[2018-07-24 23:20] siying commented on #4177
Do you use persistent cache? We have been discussing to deprecate it.

[2018-07-24 23:43] yuslepukhin commented on #4177
@siying I am not using it but I am curious to see what is broken and if that is related somehow to the other problems. None of the inserted keys hit it. I mean why it would stop working?

[2018-07-25 02:23] critical27 opened #4178 "db_paths in options does't work"
Hi, i wanna put sst files into different disks, so i set my db_paths in options according to code below, it seems that the db_paths does not work as expect.
[code]

### Expected behavior
If sst file in /data/disk1 files size exceed 1G, sst file will be put into /data/disk2

### Actual behavior
All sst file was put input /data/disk1, even if its size is bigger than 1G.

### Steps to reproduce the b

[2018-07-25 02:57] #4178 closed

[2018-07-25 07:17] nosknut commented on #4167
That is me lol!

[2018-07-25 07:18] fuyufjh opened #4180 "Option `max_total_wal_size` does not take effect"
### Expected behavior

I set `max_total_wal_size` value to 1MB when opening a new RocksDB.

Expect the log in disk should be cleared (and memtable being flushed) once its size reaches 1MB.

### Actual behavior

**The WAL file didn't stop growing.** Much more than 1MB.

### Steps to reproduce the behavior

I am using `rocksdbjni`. You may reproduce it with following code on latest RocksDB version (

[2018-07-25 07:20] yaojingguo opened #4181 "doc: wrong description about max_size_amplification_percent on RocksDB Tuning Guide wiki page"
[RocksDB Tuning Guide](https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide) has the following text:

`100 bytes of that 300 bytes` should be `200 bytes of that 300 bytes` since it conflicts with the  following comment of [max_size_amplification_percent](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/universal_compaction.h#L48):

[code]

[2018-07-25 10:24] koldat commented on #4112
I was trying to simulate issue using @toktarev source code. When I set properly max_open_files then it works fine. Even if I use block cache. Pinned/Usage/Capacity of block cache and of table_cache is moving in configured limits only.

@yuslepukhin can you please send us your options? I am wondering if you have unlimited max_open files or something like that.

[2018-07-25 10:31] toktarev commented on #4112
Which max_open_files  value did you set ?

I set the same in my custom application.

Everything just hunged, so I had to return max_open_files back.

[2018-07-25 10:33] koldat commented on #4112
options.max_open_files = 500;

[2018-07-25 10:35] toktarev commented on #4112
I set it to 10 in my application, probably it would work better for 500.

Anyway we have some limit after our application just hungs.
It is not a problem of performance (faster slower) it is a problem of application's work.

If it hungs - it is huge problem if memory allocation is normal.

[2018-07-25 10:42] koldat commented on #4112
If you set 10 then it is a problem. My tuning options (I do not know your app so it does not need to work perfectly):
target_file_size_base=128M
target_file_size_multiplier=1
compression=LZ4
write_buffer_size=128M
max_open_files=1024
index_type=twoLevel
blockSize=16k
If you need use one level index then I would go for:
max_open_files=128
blockSize=16k or 32k

Anyway, let's finish memory leak here,

[2018-07-25 10:48] toktarev commented on #4112
Both problems are important.

Configuration for benchmark or business case is not a problem's resolution.

I suspect that in some conditions you will see the same "application hungs" even with your configuration settings. Probably it happens when number of sst files become greater than max_open_files and `Get` operations should read directly from file omiting  block cache.

I don't have any object

[2018-07-25 14:03] chrisjdole opened #4184 "RocksDB "Failed to Flush State Store" Error on Startup of Streams Application"
### Expected behavior
Within a Kafka Streams application, expected to open and access a RocksDB state store.

### Actual behavior
Get "Failed to flush state store" exception without a root cause message.

The error happens right away, just after Spring Boot app startup.

Note that I've deleted the cache multiple times in the local storage location.

I tried (through the RocksDB configuration (see

[2018-07-25 15:53] dhilipkumars opened #4185 "[ARM64 CentOS] Rocksdb build on arm64 Centos servers"
### Expected behavior
builds sucessfully

### Actual behavior
cc1plus: error: unknown value ‘native’ for -march
cc1plus: error: unknown value ‘native’ for -march
cc1plus: error: unknown value ‘native’ for -march
cc1plus: error: unknown value ‘native’ for -march
cc1plus: error: unknown value ‘native’ for -march
cc1plus: error: unknown value ‘native’ for -march
cc1plus: error: unknown value ‘native’

[2018-07-25 16:18] prographo opened #4186 "Install fails: Failed building wheel for python-rocksdb"
This is on Ubuntu 16.04

### Expected behavior

make all
pip install python-rocksdb

(success)

### Actual behavior

(pyrocks_test) ubuntu@ip-172-31-21-95:~/ETH/rocksdb$ pip install python-rocksdb
Collecting python-rocksdb
  Using cached https://files.pythonhosted.org/packages/66/ec/5668df5564ef3bc6aa985ac5609ac716d4808b935f69e0e4720460a58b0e/python-rocksdb-0.6.9.tar.gz
Requirement already satisfi

[2018-07-25 17:14] siying commented on #4167
@nosknut thanks!

[2018-07-25 17:59] siying commented on #4181
Feel free to go ahead and edit the page.

[2018-07-25 18:05] yuslepukhin commented on #4112
@koldat We currently do not limit the number of files opened as it worked well in all cases. In all, except may be the most recent one. I will quickly try limiting it.

[2018-07-25 18:07] siying commented on #4112
Based on the discussion, the leakage only happens if options.max_open_files=-1?

[2018-07-25 18:09] toktarev commented on #4112
if options.max_open_files=-1 a lot of memory is allocated but it is not a memory leak

At least in my test

[2018-07-25 18:15] yuslepukhin commented on #4112
@siying It is not certain for now. I am gathering more details as to what kind of compaction style is being used in that bed and how many files are in partitions.

[2018-07-25 18:17] koldat commented on #4112
@toktarev it is documented feature. -1 instructs Rocksdb to cache all table indices up to 4 milion files. If you do not want that you should set a limit.

@siying yes. At least I did not reproduced after configuration change. Let’s wait for @yuslepukhin test. For me it happened when my data set started to grow much faster thus higher effect that I did not noticed before.

[2018-07-25 18:19] toktarev commented on #4112
@koldat I set limit.

The question is - what should I configure also to prevent RocksDB working directly with disk during lookups ?

If it is impossible it is quite dangerous option and I understand why it is -1 by default

[2018-07-25 18:31] yuslepukhin commented on #4112
@siying @koldat the stacks indicate a potential issue with block cache and the size of it is limited by options which is shared by all tables. The max open file setting affects the table cache size. How is the two related?

[2018-07-25 18:40] koldat commented on #4112
@yuslepukhin table cache is counting open files (1 size per file) up to max open file and is for whole database. If you have big sst then index can be 10mb per file thus 100 files is 1gb. That is the problem. Block cache is size limited, but table cache count limited. Take a look in log file to see what is size of your indexes (index_size=xxxx).

When you use two level index then table cache is mu

[2018-07-25 18:44] yuslepukhin commented on #4112
@siying @koldat  kEstimateTableReadersMem property which we monitor is not big and relatively flat, I would assume that this includes the index.

[2018-07-25 19:38] toktarev commented on #4112
@siying

Could you please explain if max_open_files limit is a safe option ?

I am scared to set it less then port::GeMaxFiles().

May be other options can help to prevent system from very slow lookUps ?

I didn't find this explanation in RocksDB documentation.

[2018-07-25 21:30] yuslepukhin commented on #4112
@koldat here is a sample of table creation log entry. Not our typical load, experimental bed where the leak is acute:

EVENT_LOG_v1 {"time_micros": 1532203080080358, "cf_name": "ContentDataCG", "job": 140, "event": "table_file_creation", "file_number": 5127, "file_size": 268690599, "table_properties": {"data_size": 268643118, "index_size": 83051, "filter_size": 10565, "raw_key_size": 319656, "raw_

[2018-07-25 21:50] koldat commented on #4112
@yuslepukhin yours numbers are much smaller than mine (I have smaller entries thus much more entries -> bigger index).

I was looking in source and metric you are using should be reflecting table cache size. I am quite lost. I was going through all of stacks in this thread and I do not see any obvious leak. I am just user and do not know internals, but there is pointer/reference puzzle game in thi

[2018-07-25 21:54] yuslepukhin commented on #4112
Here is the results of the experiement.
We have limited the number of open files on the bed to 100 and we can see the immediate impact on the  kEstimateTableReadersMem value. So the TableReaders now take less memory. The issue is that neither the original value of  kEstimateTableReadersMem nor the reduced value really affect the overall picture. The reduction of 2MB does not make a dent on the mul

[2018-07-25 21:56] yuslepukhin commented on #4112
@koldat Yes, the pointer/reference game is there

[2018-07-25 22:08] koldat commented on #4112
Maybe this max open file is secondary issue (unlimited default configuration). And we were seeing different one under heavy load. I am for example using mostly iterators.
And maybe that two level index helped me, because it is using different block reader thus does not hit leak condition. Maybe....
My increase was quite slow (1gb a day) and I am ingesting like 1Tb of raw data per hour, reevaluatin

[2018-07-25 23:23] maysamyabandeh commented on #4180
can you paste i) the ls result of roclsdb dir after the test, and ii) the LOG content?

[2018-07-25 23:29] maysamyabandeh commented on #4185
You will have better luck asking such question in user group https://www.facebook.com/groups/rocksdb.dev where users who have tried rocksdb in different platforms can chime in.

[2018-07-26 02:42] fuyufjh commented on #4180
Sure @maysamyabandeh

1) Result of RocksDB dir

[code]

2) The LOG is too long so I paste them [here](https://gist.github.com/fuyufjh/e048023812e3b29d95b51dc385e081f3).

Ps. I did some modification to the Java code in issue so that you can reproduce this result exactly.

[2018-07-26 05:33] adamretter commented on #4185
AFAIK it hasn't been ported yet. as @maysamyabandeh suggests, the mailing list is probably a better place to discuss this. The place to start looking is probably `port/README.md` and `port/port_posix.h`.

[2018-07-26 17:54] dhilipkumars commented on #4185
cc @gfosco @siying @yuslepukhin
Hi all just trying to get more attention for this, this a blocking issue for us.   Are there any plans to officially port and support Rocksdb on Arm64 servers?

And facebook blocked my new account to start the discussion in the dev.list.
![image](https://user-images.githubusercontent.com/10920260/43279053-e3abfa5c-90da-11e8-9bdd-0f945e21f859.png)

[2018-07-26 18:44] yuslepukhin commented on #4185
I am not aware of any efforts to create such a port.

[2018-07-26 20:55] ktnowak commented on #3266
No, we don't see this issue anymore. Seems it was resolved in version 5.13.1 - 'Fix WAL corruption caused by race condition between user write thread and backup/checkpoint thread.'

Thanks for help,

[2018-07-26 21:16] maysamyabandeh commented on #4177
@yuslepukhin assigning it to you as you are our windows expert.

[2018-07-26 21:45] siying commented on #4177
@maysamyabandeh assigning the issue to who opened it?

[2018-07-26 21:55] #4181 closed

[2018-07-26 22:10] maysamyabandeh commented on #4180
this option takes effect only when we have multiple column families. we should clarify that in the inline docs. When there is only one cf, then wal is switched when memtable is flushed, so you can control the size by controlling write_buffer_size

[2018-07-26 22:18] yuslepukhin commented on #4112
Looks like we continue leaking with block_cache disabled.

[2018-07-27 02:19] fuyufjh commented on #4180
Thank you! @maysamyabandeh

As you said, this fact is not doced in any inline doc or Wiki.

BTW, I just read some code and found that logic in [db_impl_write.cc#L712-L713](https://github.com/facebook/rocksdb/blob/master/db/db_impl_write.cc#L712-L713) as below:

[code]

I think we can remove this condition `!single_column_family_mode_` here and everything will work as expected (at least as I expect

[2018-07-27 03:07] skilxnTL commented on #4177
@siying Why do you want to deprecate persistent cache?

[2018-07-27 08:00] rockeet commented on #4056
@riversand963 Very sad, after a long time fail and retry, we give up, and continue using our workaround.

Thanks for your help.

[2018-07-27 08:23] rockeet opened #4192 "Feature Request: Allowing WriteBatch to emulate a memtable"
### Expected behavior
When we creating a large `WriteBatch`,  this WriteBatch can be Wrapped as a memtable.

### Actual behavior
`WriteBatch` is always write to memtable, regardless how large it is. This waste memory and drop down performance.

### Steps to reproduce the behavior
Put 1GB data into a single WriteBatch.

### Further more ( Proposed implementation ... )
1. This trick can be applied o

[2018-07-27 10:32] RootUp opened #4193 "racecondition in posix platform"
Team,

File:  /env/env_posix.cc#L493

[code]

I believe this indicates a security flaw, If an attacker can change anything along the path between the call `access()` and the files actually used, attacker may exploit the race condition or a time-of-check, time-of-use race condition, request team to please have a look and validate.

Reference: https://linux.die.net/man/2/access

[2018-07-27 13:53] yaojingguo commented on #4181
@siying I don't have the permission to edit the page.

[2018-07-27 16:07] maysamyabandeh commented on #4120
@pdillinger The randomness in the experiments could also imply that the impact of the change is not significant. But still if the change is sensible we could apply it anyway. However since this would be a format change, as @ot suggested if we go with that, we could as well revisit the bloom filters with any pending ideas for improvement.

There is another part of the code base that could benefit f

[2018-07-27 16:15] christian-esken opened #4195 "Add CompactRangeOptions for Java"
The `CompactRangeOptions` are not (yet) available in the Java layer. Are there any plans to add them?

If not, is there interest in a PR from me to make it available? If yes, then I need to know whether the Java `CompactRangeOptions` can be a POJO or must be a RocksObject. I think a POJO could be enough, as `CompactRangeOptions` would not be used for a long time, as they can be created on a per-re

[2018-07-27 16:30] #4180 closed

[2018-07-27 17:16] maysamyabandeh commented on #4044
The solution is not to create a new TableReader when readahead > 0. This will be addressed in https://github.com/facebook/rocksdb/pull/4052

[2018-07-27 17:16] #4044 closed

[2018-07-27 18:07] DorianZheng commented on #4152
#4157

[2018-07-27 18:07] #4152 closed

[2018-07-27 18:30] maysamyabandeh commented on #4193
AFAIK rocksdb assumes the instance is not compromised.

[2018-07-27 18:30] #4193 closed

[2018-07-27 18:56] maysamyabandeh commented on #3780
Closing it since there is no clear path for followup.

[2018-07-27 18:56] #3780 closed

[2018-07-27 18:57] #3534 closed

[2018-07-27 19:01] #3774 closed

[2018-07-27 19:02] #3976 closed

[2018-07-27 19:05] #3430 closed

[2018-07-27 20:21] sagar0 commented on #4195
I don't know of anyone working on porting CompactRangeOptions to Java. So feel free to send out a PR if you are interested.

If you look at other options classes, like `WriteOptions`, `FlushOptions`, `IngestExternalFileOptions`, etc, all of them extend from RocksObject. So CompactRangeOptions also should also be a RocksObject, if you decide to implement one. Also, some of the existing APIs might n

[2018-07-28 06:26] yaojingguo opened #4197 "doc: some options are deprecated now in Universal Compaction wiki page"
The following 3 options are deprecated now:

- options.source_compaction_factor
- options.max_grandparent_overlap_bytes
- options.expanded_compaction_factor

[2018-07-28 06:37] yaojingguo opened #4198 "doc: wrong description about Universal Compaction in RocksDB Tuning Guide wiki page"
In https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide, there is the following text:

It is wrong since `num_levels` can have a value larger than 1.

[2018-07-28 19:51] christinaa opened #4199 "Multiple failures at several points during CMake builds of the 5.14.2 release (latest stable). 3 bugs with 3 fixes as I did not sign the FB CLA and thus can't do a PR."
### Expected behavior
Build is successful.

### Actual behavior
Build fails in several places.

### Failure point 1
RTTI is used disregarding flags, resulting in an error.
[code]

**Hotfix for CMakeLists.txt:**

[code]

### Failure point 2
Linkage failure, generated version object file is incompatible with an LLVM bitcode-only build (this should not assume PIC or PIE or whether it's LLVM bitcode o

[2018-07-29 06:52] adamretter commented on #4168
As far as I can see, the Java code is correctly calling the appropriate C++ methods.

Could it be that you have not performed enough operations on the db for the statistics to register yet?

[2018-07-29 08:32] adamretter commented on #4199
@sagar0 if these changes look reasonable to you, I am happy to make them and test on Windows (which is where we use CMake for the RocksJava Windows builds)

[2018-07-30 09:43] christian-esken commented on #4195
Thanks for the info. I started to implement it. Do I need to do anything about the "up-for-grabs"?
I now also came to the conclusion that extending from RocksObject is beneficial, e.g. to inherit defaults.
About the process: Its a standard github "fork and do a PR" procedure, right? (PS: I will prepare the CLA soon).

[2018-07-30 12:52] mdcallag commented on #4192
Idea seems interesting

MyRocks has bulk loading optimizations - https://github.com/facebook/mysql-5.6/wiki/Data-Loading

[2018-07-30 16:38] gaojieliu commented on #4168
Hi @adamretter
Thanks for your reply.

Here is my test code:
``
  private static final String DATA_BASE_DIR = "/tmp/data";
  private static final String keyPrefix = "key_";
  private static final String valuePrefix = "value_";

  private String getTempDatabaseDir(String storeName) {
    String storePath = DATA_BASE_DIR + "/" + storeName;
    File storeDir = new File(storePath);
    if (!storeDir.m

[2018-07-30 16:41] adamretter commented on #4168
@gaojieliu Ah okay, I missed that you were using read-only mode.

@sagar0 Do we report stats in read-only mode?

[2018-07-30 16:46] adamretter commented on #4195
@christian-esken The important thing in RocksJava is to think about the ownership of objects.

If there is a C++ object which needs to be created on the heap for the Java object to "wrap", then the Java object must *own* the C++ object to ensure it is deleted from the heap when no-longer needed. The RocksObject hierarchy of classes in Java help with this. As @sagar0 mentioned, you should try and f

[2018-07-30 16:59] christian-esken commented on #4195
What is the best way to check whether my method signature in java/rocksjni/rocksjni.cc is correct? I added ``Java_org_rocksdb_RocksDB_compactRange__J_3BI_3BIJJ``, but that is more or less a best-effort name. If I understand JNI correctly then javah would generate a stub file so I could look it up - I cannot find that stub though.

As a reference here is the commit:
https://github.com/christian-esk

[2018-07-30 18:56] adamretter commented on #4195
@christian-esken Best way us to write the Java code first. Then you can have the function signatures generated for you by running `make rocksdbjava`. Look in `java/include` and you should find the C++ header file that corresponds to your native method declarations, complete with functions signatures.

[2018-07-30 22:30] ajkr commented on #1555
Yes, it is used for TB-sized DBs. To speculate on your OOM, it could be due to a compaction that includes all L0 files, which is all files in the DB in your case. Since `cache_index_and_filter_blocks=0`, each file open involves preloading index/filter metablocks. Those are normally 5-10% of your DB size, so enough to cause OOM... Maybe set `cache_index_and_filter_blocks=1`, or do compaction period

[2018-07-30 23:26] #3266 closed

[2018-07-30 23:29] ajkr commented on #4177
@skilxnTL we don't use it. Do you?

[2018-07-30 23:53] ajkr commented on #4168
hm, it seems we're not updating many stats in read-only mode. In `DBImpl::GetImpl`, there's lots of calls to `RecordTick` like for bytes read or keys read. But those are totally missing in `DBImplReadOnly::Get`. We should fix this...

[2018-07-31 02:48] skilxnTL commented on #4177
@ajkr We try to use it, but there are some problems.
Each k-v element will cost about 200 bytes in block-cache-tier's meta data.
If we use a 800G ssd, and 4kB block size for sst-files, block-cache-tiers's meta data will cost
800 * 1024 * 1024(kB) / 4kB * 200 bytes = 40G memory.

Have you test this?

[2018-07-31 07:31] rockeet commented on #4192
@mdcallag The bulk loading optimizations are great! Hope my idea can improve MyRocks further more.

[2018-07-31 14:56] christian-esken commented on #4195
That worked. Next challenge: Get the librocksdbjni lib to include the new class. Example:

The following was created in org_rocksdb_CompactRangeOptions.h :

Looks fine, so I implemented that, but the code does not get built into the librocksdbjni library. I see other "new options" symbols, but not my `Java_org_rocksdb_CompactRangeOptions_newCompactRangeOptions`:
[code]
I guess that I need to edit

[2018-07-31 15:27] adamretter commented on #4195
So there are two build systems. Make and CMake. You need to edit both CMakeLists.txt, and Makefile and java/Makefile

[2018-07-31 18:04] yuslepukhin opened #4204 "Invalid iterator assertion fires on 5.15fb tag"
### Expected behavior
The iterator must be valid to dereference
### Actual behavior
The program dereferences an invalid iterator

![image](https://user-images.githubusercontent.com/11303988/43477844-1e097fc4-94b1-11e8-9b36-7ae3d8bc66da.png)

![image](https://user-images.githubusercontent.com/11303988/43477917-4dfcb0ca-94b1-11e8-8024-956863150108.png)

![image](https://user-images.githubusercontent

[2018-07-31 18:17] riversand963 commented on #4204
@yuslepukhin Thanks for your report. We haven't seen this issue on our platform. Were you running the following command when this occurred?
[code]

[2018-07-31 18:18] yuslepukhin commented on #4204
external_sst_file_test_je.exe --gtest_filter=ExternalSSTFileTest.Basic

[2018-07-31 18:19] yuslepukhin commented on #4204
@riversand963 The actual command does not matter much once you see the code.

[2018-07-31 18:25] riversand963 commented on #4204
@yuslepukhin Let me investigate and fix.

[2018-07-31 18:31] siying commented on #4177
@skilxnTL yes we tested it and we are aware that the memory consumption is a little bit high. However, we never plan a 800GB SSD as a cache. We are more thinking of 100+GB persistent cache. Memory consumption is one another reason we want to deprecate it is that we want to implement something that is much more memory efficient.

[2018-07-31 18:43] toktarev commented on #4112
any news ?

[2018-07-31 18:59] yuslepukhin commented on #4112
I have disabled the cache and and the tracing picture is entirely different. At this point the issue that we are experiencing is evidently not related to what either of you have seen. For that reason I have not replied to @koldat as the findings is out of rocksdb library land.

[2018-07-31 19:38] #4051 closed

[2018-07-31 20:11] ajkr commented on #4204
Hm, I don't see the bug and can't repro. Here is how it intends to work, which we should document better.

- `CollapsedRangeDelMap::Iterator::Valid()` returns true if `iter_` is not positioned at the end. Further, `iter_` should not be positioned at the last element either. That's because the last element is always a sentinel with seqnum zero, which gets skipped past by `MaybeSeekPastSentinel`, wh

[2018-07-31 21:16] yuslepukhin commented on #4204
@ajkr It is a repro 100%. I still have a debugger open, so you can ask as many questions as you'd like.
`iter_` is indeed valid when it all starts. However, std::next() returns a result of `iter_` being advanced and that is the end which should not be dereferenced. Here you have it. :)

[2018-07-31 21:26] yuslepukhin commented on #4204
![image](https://user-images.githubusercontent.com/11303988/43488174-aba15390-94cd-11e8-9e1d-f1491f68efce.png)

[2018-07-31 21:36] yuslepukhin commented on #4204
Just compared what I have with the master's tip and the range_del_aggregator files are identical

[2018-07-31 23:42] ajkr commented on #4204
Are you able to print `iter_->first.ToString()` and `iter_->second` for each element in the map?

fyi @benesch

[2018-08-01 07:40] yaojingguo opened #4213 "Improving cache misses for FullFilterBitsReader"
[RocksDB Bloom Filter](https://github.com/facebook/rocksdb/wiki/RocksDB-Bloom-Filter) claims that one key incurs at most one cache miss:

But `data_` member of `FullFilterBitsReader` is not cache line aligned. So it is possible that one key incurs two cache misses in the case of full bloom filters.

[2018-08-01 08:01] eostb opened #4214 "facebook/rb"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2018-08-01 10:09] christian-esken commented on #4195
I think I already edited everything that is necessary:
- java/CMakeLists.txt - Edited
- java/Makefile - Edited
- Makefile - Not edited, as I only have changes below java/ . Other classes like CompressionOptions are also not in here.
- CMakeLists.txt - Not edited. Same reason

After it I did a "make clean" and "make rocksdbjava", with the same results. My `Java_org_rocksdb_CompactRangeOptions_newCo

[2018-08-01 10:15] adamretter commented on #4195
@christian-esken Did you edit `src.mk`?

[2018-08-01 14:08] yaojingguo opened #4215 "doc: image link is broken in Iterator Implementation wiki page"
[Higher quality diagram](https://s9.postimg.org/h8c9jz0zz/Screen_Shot_2016_08_09_at_5_21_47_PM.png) is broken.

[2018-08-01 16:39] christian-esken commented on #4195
Nope. I didn't know that file. I see now it is included from Makefile. It is a bit astonishing to find JNI_NATIVE_SOURCES both within the java folder (java/CMakeLists.txt) and and also outside the Java folder (src.mk). I'll try that tomorrow.

[2018-08-01 17:47] maysamyabandeh commented on #4197
@yaojingguo feel free to update the wiki when you see a mistake.

[2018-08-01 17:47] #4197 closed

[2018-08-01 17:50] maysamyabandeh commented on #4198
@yaojingguo if it is obvious mistake feel free to update the wiki. Otherwise that would be more like a question, which is the best to be brought up in the user group https://www.facebook.com/groups/rocksdb.dev/

[2018-08-01 17:50] #4198 closed

[2018-08-01 17:50] maysamyabandeh commented on #4213
@yaojingguo if it is obvious mistake feel free to update the wiki. Otherwise that would be more like a question, which is the best to be brought up in the user group https://www.facebook.com/groups/rocksdb.dev/

[2018-08-01 17:50] #4213 closed

[2018-08-01 17:52] #4215 closed

[2018-08-01 17:53] #4214 closed

[2018-08-01 18:05] yuslepukhin commented on #4204
FWIW, It appears to be the only element in the map right before we hit the issue.

key000700:0

[2018-08-01 18:16] benesch commented on #4204
Thanks for the ping, @ajkr. /cc @petermattis

[2018-08-01 18:16] benesch commented on #4204
@ajkr let me know if you'd like me to prepare the fix. We'll definitely want the fix in our upcoming release of CockroachDB so I can certainly find the time.

[2018-08-01 22:17] maysamyabandeh commented on #4199
About Failure point 1, dynamic_cast is allowed in debug mode and since it is used inside assert it should be fine. We should see why the Makefile has disabled the RTTI in debug mode.

[2018-08-02 01:41] yaojingguo commented on #4197
@maysamyabandeh I don't have the permission to edit the wiki. Could you please apply the changes to the wiki page?

[2018-08-02 01:46] yaojingguo commented on #4215
@maysamyabandeh Can you open the image link?

[2018-08-02 07:08] adamretter commented on #4195
So the Make build and the CMake build are completely separate things. Sadly that means when adding files to the build you have to do it twice

[2018-08-02 08:27] christian-esken commented on #4195
Thanks for the explanation. It works now end-to-end. I have build a jar with the jni lib inside and am using the CompactRangeOptions in my application. I will complete the implementation and create a PR.

[2018-08-02 15:01] christian-esken commented on #4195
Thanks for the explanation. It works now end-to-end. I have build a jar with the jni lib inside and am using the CompactRangeOptions in my application. I will complete the implementation and create a PR.

[2018-08-02 16:09] christian-esken commented on #4195
PR is now open, and CI is done: https://github.com/facebook/rocksdb/pull/4220

[2018-08-03 17:28] gaojieliu commented on #4168
@ajkr Who will be in charge of adding metrics for read-only user case?
Or is it intentional not to add any metrics since stats could degrade read-only performance?

[2018-08-04 07:41] land-pack commented on #627
I encounter this issues, please help!

[2018-08-04 07:45] land-pack commented on #112
`g++ test_rocksdb.cpp -lrocksdb` works for me, I don't know why did you leave a `-L` here @stephenpmorgan.

[2018-08-04 22:28] promethe42 opened #4231 "`major()` and `minor()` are undefined with `OS_ANDROID`"
### Expected behavior

When building for Android, the following build errors are reported:

[code]

### Actual behavior

Should build without error for Android.

### Steps to reproduce the behavior

Build rocksdb 5.14.2 targetting Android.

The problem comes from this commit:

https://github.com/facebook/rocksdb/commit/4708a6875c29d4879ebcb6173149363883f94df4

Specifically, this `#include` should

[2018-08-04 22:56] promethe42 commented on #4231
MR available here: https://github.com/facebook/rocksdb/pull/4232

[2018-08-06 08:01] abhishekmaheshwari86 commented on #3135
hi ,

I am facing same issue on CentOs 7. below is log

Stack: [0x00007f9aeabf0000,0x00007f9aeacf1000],  sp=0x00007f9aeacef2c0,  free space=1020k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [librocksdbjni8053011404372402617.so+0x2d375c]  rocksdb_put_helper(JNIEnv_*, rocksdb::DB*, rocksdb::WriteOptions const&, rocksdb::ColumnFamilyHandle*, _jbyteArray*, int, i

[2018-08-07 02:40] hoganfan opened #4237 "UniversalCompactionStyle can't use multiple db_path"
### Expected behavior
i use 3 db_path, one small(will use ssd in product mode), two large(pin disk), like this:
[code]
### Actual behavior
but in fact, the size of db_path are:
[code]
the UniversalCompactionPicker::GetPathId seems not suitable

[2018-08-07 13:45] adamretter commented on #3135
@abhishekmaheshwari86 There seem to be some frames missing in your stack dump.

Do you have a small example code which reproduces this?

[2018-08-07 16:55] miasantreble commented on #4237
Looks like `UniversalCompactionPicker::GetPathId` checks `cf_paths` instead of `db_path` https://github.com/facebook/rocksdb/blob/master/db/compaction_picker_universal.cc#L433

[2018-08-07 16:58] miasantreble commented on #4175
fixed, thanks for reporting

[2018-08-07 16:58] #4175 closed

[2018-08-07 17:45] shrikanthshankar commented on #3842
@xxks-kkk  - are you still working on this task? If not I would like to pick it up.

[2018-08-07 17:47] xxks-kkk commented on #3842
@shrikanthshankar go ahead

[2018-08-07 19:10] rnkovacs opened #4239 "Use-after-free in db/db_impl_open.cc"
I am working on a bug finding tool that looks for a special kind of a use-after-free problem in C++ code (a "checker" module in the [Clang Static Analyzer](https://clang-analyzer.llvm.org/)), and I've been running it on a few projects to see if it finds anything interesting. I found the following issue when analyzing the Ceph project that uses RocksDB.

### Expected behavior

No use-after-free.

#

[2018-08-07 20:32] promethe42 commented on #4231
@sagar0 here is the relevant part of my CMakeLists.txt:

[code]

[2018-08-07 20:43] sagar0 commented on #4231
What's the value of ${ARG_ANDROID_STL} and, could you also provide any relevant content from ${CMAKE_TOOLCHAIN_FILE} ?

[2018-08-07 20:45] miasantreble commented on #4239
@rnkovacs thanks for reporting, it does look like a bug that I introduced.
I will open a PR to fix this shortly.
@siying any idea why ASAN didn't catch this?

[2018-08-07 20:48] sagar0 commented on #4231
While your PR #4232 looks ok, I am inquiring mainly to help other folks trying to build for android -- #1193 .

[2018-08-07 22:02] rnkovacs commented on #4239
@miasantreble Glad to help.

This is a relatively new feature in the Clang Analyzer (moved to the default set of checks a week ago).

[2018-08-08 02:27] hoganfan commented on #4237
@miasantreble rocksdb will copy db_options to cf_options if not set cf_options, will use db_path if not set cf_path, so it can use /xxx/kv1

[2018-08-08 07:48] promethe42 commented on #1193
For Android, here is an extract of the `CMakeLists.txt` for my project which depends on RocksDB:

[code]

Then I use a Docker container with the NDK and CMake. Here is the Dockerfile:

[code]

Then build it in an image named `rocksdb-android`:

[code]

Finally, assuming you are in the directory where your project's `CMakeLists.txt` is, use Docker to build your project in a single command line:

[c

[2018-08-08 07:50] promethe42 commented on #4231
@saga0 I answered your questions in #1193 :

https://github.com/facebook/rocksdb/issues/1193#issuecomment-411318485

[2018-08-08 08:01] benoitc opened #4241 "Symbol not found: _ZDICT_isError"
### Expected behavior

use latest rocksdb with zstd compression enabled.

### Actual behavior

Using latest ZSTD version (1.3.5) enabling the ZSTD compression trigger the following error in our code:  `Symbol not found: _ZDICT_isError`.

This error has also been reproduced there : https://jira.mariadb.org/browse/MDEV-16525

### Steps to reproduce the behavior

1) Build rocksdb with ZSTD
2) Create

[2018-08-08 15:12] #4231 closed

[2018-08-08 17:49] anand1976 commented on #4237
@hoganfan Its hard to tell what's going on with the information given. Can you provide a dump of the options you're using and the current state of the LSM?

[2018-08-08 22:46] yuslepukhin opened #4245 "Memory usage is incorrectly reported for all block sizes in case ROCKSDB_MALLOC_USABLE_SIZE is not defined"
If jemalloc is disabled or the API is incorrectly referenced (jemalloc api on windows have a prefix je_) memory usage is incorrectly reported for all block sizes.

### Expected behavior
At least the size of the block is returned for memory usage
### Actual behavior

then this line reports always 1 for all block sizes.

https://github.com/facebook/rocksdb/blob/master/table/format.h#L215

because si

[2018-08-08 23:16] JoeLoser commented on #3278
Have you thought about how to script a way to find all such const global objects to fix?

[2018-08-09 00:42] yuslepukhin commented on #4245
@maysamyabandeh Will implement on Windows

[2018-08-09 00:43] #4245 closed

[2018-08-09 02:17] hoganfan commented on #4237
@anand1976
options:
[code]
is the current state means MANIFEST?
[MANIFEST-002533.zip](https://github.com/facebook/rocksdb/files/2272596/MANIFEST-002533.zip)

[2018-08-09 03:14] maysamyabandeh commented on #4245
@yuslepukhin not sure if I understand the comment. The bug is not limited to Windows.

[2018-08-09 14:41] liewegas commented on #3707
This was my fault!  closing

[2018-08-09 14:41] #3707 closed

[2018-08-09 15:39] ccleve commented on #1227
Still very interested in this issue. Continuing discussion in #1247

[2018-08-09 17:12] ajkr commented on #4241
Can you provide your build/run commands? I am running with zstd 1.3.5 (with zstd compression enabled) and haven't seen a problem.

[2018-08-09 17:16] riversand963 commented on #4089
@iFA88 Has there been any update on this issue?

[2018-08-09 17:18] riversand963 commented on #4056
@rockeet Thanks for keeping up updated. I'll be closing this issue for now. Feel free to reopen it once you have made any progress on this.

[2018-08-09 17:18] #4056 closed

[2018-08-09 18:13] #4239 closed

[2018-08-09 18:49] anand1976 commented on #4237
@hoganfan Interesting. Can you take a snapshot of the LOG, MANIFEST file and ls -l of /xxx/kv[012] at the same time and post it? I'm wondering if there are any sst files in /xxx/kv0 that are not referenced by the manifest. Given your target_sizes and size_ratio, I'd expect any sorted runs > ~10GB would be placed in /xxx/kv1 or above.

[2018-08-09 20:25] yuslepukhin commented on #4245
@maysamyabandeh I will make sure `malloc_usable_size` functionality is available on Windows

[2018-08-09 22:29] yuslepukhin commented on #4112
@toktarev I am still looking at it.

[2018-08-10 00:42] yuslepukhin opened #4252 "Using malloc_usable_size() in arena triggers compactions early and results in smaller files and diff number of files"
### Expected behavior

Some tests such as column_family_test,db_compaction_test rely on producing a specific number of SST files in directories. To that end they employ a `SpecialMemTable` rep that causes flushes to take place once once a certain threshold is reached.

### Actual behavior

However, the compaction is triggered based on the amount of memory used within the `Memtable`. Some debug and

[2018-08-10 03:06] hoganfan opened #4253 "total_log_size not recovered when avoid flush during restart"
### Expected behavior
whenever wal log size exceed max_total_wal_size(1G), rocksdb will flush memtable to disk.

### Actual behavior
before restart, the total wal log size is a little less than 1G.
after restart, wal log size exeed 1G, but rocksdb have not triggered the flush operation.
the options as bellow, avoid flush during restart.
it seems like that rocksdb does not recover the total_log_siz

[2018-08-10 17:49] anand1976 commented on #4237
Thanks. I see from the log that almost all files in /xxx/kv0 are generated by a manual compaction (look for "JOB 2424" in the LOG). Did you explicitly specify the output_path_id to the manual compaction (in CompactRangeOptions if you called CompactRange())? If not, I think it will default to 0.

[2018-08-10 22:06] mperham opened #4261 "Manual Compaction?"
I'm seeing behavior where RocksDB will have 100s of MB of log/sst files.  When I restart it, the data on disk shrinking radically to just 1-5MB.  My system writes and deletes a lot.

### Expected behavior

I'm calling [db.CompactRange](https://godoc.org/github.com/tecbot/gorocksdb#DB.CompactRange) with the start key of 0x0 and the limit key of 0xFF -- in other words, compact everything possible.

[2018-08-11 10:44] hoganfan commented on #4237
@anand1976
this is my compact options:
[code]
i see the default value of target_path_id is 0, i will try to change the target_path_id to 2, expect to /xxx/kv2.
Thank you very much!

[2018-08-13 17:31] jsdt opened #4269 "Advisor is unable to parse Percentiles"
### Expected behavior
Advisor should be able to parse a log file.
### Actual behavior
Parsing fails with the following stack trace:
[code]
The log line it is failing to parse is:
[code]
### Steps to reproduce the behavior
Using rocks version 5.14.2 and the advisor from 4ea56b1bd00b5f8751e5e9733d01ceb33ebd09e3:
[code]
I attached the a zip with the log file and options file.
[input.zip](https://gith

[2018-08-13 17:48] anand1976 commented on #4237
Closing this. Please re-open is you continue to see issues after setting the target_path_id.

[2018-08-13 17:48] #4237 closed

[2018-08-13 18:20] anand1976 commented on #4261
@mperham Is it possible that after CompactRange() finishes, you have iterators that are still holding references to the old SST files? They would get deleted when the iterators are deleted, or upon db restart.

[2018-08-13 18:26] mperham commented on #4261
@anand1976 For my testing, this CompactRange call is running every minute on a quiet system.  Nothing appears to change on disk, even after multiple calls and multiple minutes.  I'm using 5.14.0.  Here's my config changes from default:

[code]

[2018-08-13 19:52] petermattis opened #4270 "store global sequence number in FileMetadata"
When an external sst is ingested it is assigned a global sequence number which applies to all of the entries in the sstable. This is done by setting the `rocksdb.external_sst_file.global_seqno` property stored in the sstable itself. The way the property is written is a bit awkward as it is done by having the property reading code store the byte offset of the property within the sstable and then [o

[2018-08-13 19:59] riversand963 commented on #4270
@petermattis thanks for your post. We noticed the problem you mentioned and have already provided an alternative way of writing `global_seqno` when ingesting external SST files.
Do you think #4188 can solve your problem? In this PR, we are using the information already stored in the MANIFEST to assign global seqno when we read the externally-ingested SST.

[2018-08-13 20:06] petermattis commented on #4270
@riversand963 Yep, that is more or less the same idea, but without changing the MANIFEST format. There is a backwards compatibility issue, though (present in my proposal as well). A DB containing an sstable ingested with RocksDB #4188 will be silently corrupted by an earlier version of RocksDB.

[2018-08-13 20:32] riversand963 commented on #4270
@petermattis Sorry for the confusion. I was referring to #4172 . #4188 was abandoned by me.

[2018-08-13 21:47] anand1976 commented on #4269
I'm not very familiar with the advisor. Cc @maysamyabandeh

[2018-08-13 22:40] anand1976 commented on #4252
@yuslepukhin The db_compaction_test and column_family_test are using ```SpecialMemTableRep```, which triggers flush when the configured number of entries is reached. This should not depend on malloc_usable_size(). Do you have an example of the test failure?

[2018-08-13 22:55] yuslepukhin commented on #4252
@anand1976 Yes, I do. The flush takes place earlier than the configured number of entries. The end result is that I have 4 SST files and not 3 as the test expects. The moment I disable malloc_usable_size() within the ConcurrentArena, things start working as expected in `db_compaction_test`.
`column_family_test` is yet another story, where the overhead is set to 1.1 and it simply does not work for

[2018-08-13 22:55] yuslepukhin commented on #4252
@anand1976 I will follow up as soon as I can.

[2018-08-13 22:59] jsdt commented on #4269
It looks like advisor depends on a formatting change that isn't in the latest release. I wrote a quick fix for it: https://github.com/facebook/rocksdb/compare/master...jsdt:jsdt/advisor

[2018-08-13 23:25] yuslepukhin commented on #4252
@anand1976 In reality, all you need to do is to increase the number returned by malloc_usable_size() by 25% at that location and it should repro.

[2018-08-14 00:05] maysamyabandeh commented on #4269
Thanks @jsdt for the report. Yeah the formatting is changed in https://github.com/facebook/rocksdb/commit/508a09fd62bf058a2b6bd9ea9bcd8e66e5b240cc
The patch of yours seems to properly handle the difference in formatting. I let the issue to be open for a while so others also could find your patch if faced the same issue.

[2018-08-14 01:34] anand1976 commented on #4252
@yuslepukhin The problem seems to be with ```write_buffer_size```. When this is set, ```WriteBufferManager``` is enabled and its calculation of memory usage is determined by ```malloc_usable_size()```, as that's the number that the arena allocator uses when it calls ```WriteBufferManager::ReserveMem```.

[2018-08-14 19:43] yuslepukhin commented on #4252
Correct, so the tests assume that the allocated size is the same as data size. Previously it was close enough, but after this change to usable size the difference grew.

[2018-08-14 23:33] yiwu-arbug commented on #4253
@hoganfan This is expected behavior. Since avoid_flush_during_recovery=true, flush could not be done during recovery, and then it is not safe the purge WAL. Then a flush is forced when WAL continue to accumulate and finally reach max_total_wal_size (1G).

[2018-08-14 23:34] yiwu-arbug commented on #4253
Please reopen if you have more questions.

[2018-08-14 23:41] yiwu-arbug commented on #4253
Sorry, I misread the issue. Reopening.

[2018-08-15 10:25] jing5877 opened #4276 "can't load IA 32-bit .so on a ARM-bit platform"
### Expected behavior
rocksdb init ok.

### Actual behavior
Some mistake appeared when init rocksdb.

### Steps to reproduce the behavior
Init rocksdb on  raspberrypi 3.
[code]

[2018-08-15 10:37] jing5877 opened #4277 "Raspberry pi 3 build error."
### Expected behavior
builds sucessfully

### Actual behavior
Generating target/apidocs/deprecated-list.html...
Building index for all classes...
Generating target/apidocs/allclasses-frame.html...
Generating target/apidocs/allclasses-noframe.html...
Generating target/apidocs/index.html...
Generating target/apidocs/overview-summary.html...
Generating target/apidocs/help-doc.html...
22 warnings
make

[2018-08-15 12:14] adamretter commented on #4276
So the answer is in the error message.

At the moment we don't provide support and builds for the ARM processors. That is not to say that we couldn't, but we don't currently. Feel free to send a PR to enable it...

[2018-08-15 12:14] #4276 closed

[2018-08-15 18:35] gaddamas commented on #1055
I see https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L827 is pointing to a comment, perhaps code has changed.
Could you please paste the config option here for opening the db with column families.
Also another question: Is it necessary to close the db after creating a column family and reopen the db with column family in the options, to put a key-value into column family

[2018-08-15 19:25] mdcallag opened #4278 "is:issue chaos"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2018-08-15 19:26] #4278 closed

[2018-08-15 19:26] mdcallag commented on #4278
oops

[2018-08-16 08:42] krithikagopalakrishnan opened #4280 "Dropping column family doesnot drop the memory associated"
Hi,
Im facing an issue in rocksdb when i try to drop a columnfamily.
Im trying to load a few hundreds of MBs into rocksdb(v5.10.4) and trying to read the memory usage while dropping it. The data was loaded in two ways, number of single PUT commands and a single WRITE_BATCH write. After loading data,  i call rocksdb_flush(), drop the CF and then Drop the handler associated with it.

case 1 : using

[2018-08-16 18:09] yiwu-arbug commented on #4280
@krithikagopalakrishnan I suspect it is because the write batch object itself hold all the data before its destruction, even after write. Do you measure RSS before or after destructing the write batch object?

[2018-08-16 18:11] yuslepukhin commented on #4112
Here is the result of the investigation on my side.
The scenario is using Tx databse which keeps a number of Memtables around in memory.
The number of the memtables kept around defaults to the max_write_buffer_number.
The scenario deals with big records and with the number of partitions on the machine the number of memtables memory usage grows beyond the physical memory installed.
I am done with w

[2018-08-16 22:08] ajkr commented on #1055
@gaddamas - it should be this option: https://github.com/facebook/rocksdb/blob/aeed4f07493e6b480be827ac0443b03f050f7dbd/include/rocksdb/options.h#L362.

It is not necessary to close/reopen the DB in order to start using a newly created column family.

[2018-08-16 23:11] jsdt commented on #4269
Would you like a PR with this fix (and tests)?

[2018-08-16 23:27] arnetheduck opened #4283 "OptimizeLevelStyleCompaction enables snappy compression even when snappy support is not built in"
### Expected behavior
OptimizeLevelStyleCompaction uses no compression when snappy support is disabled, akin to how defaults use `Snappy_Supported` : https://github.com/facebook/rocksdb/blob/991120fa10716ea371463188f6638d0401c1a935/options/cf_options.h#L188

### Actual behavior
OptimizeLevelStyleCompaction forces snappy compression: https://github.com/facebook/rocksdb/blob/991120fa10716ea371463188

[2018-08-17 00:44] maysamyabandeh commented on #4269
The advisor should be consistent with master status and it is today. At this stage we better avoid making it complicated to be compatible with previous releases too.

[2018-08-17 07:45] benoitc commented on #4241
@ajkr sorry for the late answer. Original ticket is there:
https://gitlab.com/barrel-db/erlang-rocksdb/issues/56

The build of rocksdb is done there: https://gitlab.com/barrel-db/erlang-rocksdb/blob/master/deps/Makefile

As you can see we are building ourself zstd then rely on the static library generated in this folder. Let me know if you need more informations or some tests :)

[2018-08-17 17:58] #4195 closed

[2018-08-17 18:26] yiwu-arbug commented on #4277
@jing5877 Thank you for reporting! Are you interested in sending a PR for a fix?

[2018-08-17 19:47] ajkr commented on #4241
Sorry I did not find any reference to ZSTD in the Makefile here: https://gitlab.com/barrel-db/erlang-rocksdb/blob/master/deps/Makefile. Are the ZSTD header files you're building against also v1.3.5?

[2018-08-17 20:39] ajkr commented on #4241
For the error in https://jira.mariadb.org/browse/MDEV-16525, it looks like our bug. The ZSTD dictionary APIs became available for static linking in v0.8.0, and available for dynamic linking in v1.1.3. However, we only check the version is v0.8.0+ to including dictionary generation code. I will fix that but am not certain it's the same issue as yours.

[2018-08-18 15:39] rjonesxmoz opened #4285 "Reading from RocksDB rapidly increases memory until OOM crasy"
The database size is about 30GB compressed. Once I start reading a few hundred thousands rows it fills up the 12GB of memory and then crashes.

I'm guessing that the cache is filling up or something of that sort. Are there any configuration options to stop this?

Thanks

[2018-08-19 05:57] laiyongGit opened #4287 "what's difference between Makefile and cmake generated in rocksdb ?"

[2018-08-19 07:09] paolococchi opened #4288 "Cannot intercept the Compaction-Begin event"
In my project I use the rocksdb::EventListener::GetCompactionEventListener function as a callback for the Compaction-Begin event. I'm on RocksDB 5.8.

But, that callback has been removed from RocksDB 5.13.1 with commit https://github.com/facebook/rocksdb/commit/1209b6db5c5ea3e26d72a12e94b3d9cf6c93f6c5 .

So, from v5.13.1 we have this in rocksdb::EventListener:
- OnFlushBegin
- OnFlushCompleted
- O

[2018-08-19 20:03] arnetheduck commented on #4283
@yiwu-arbug Not really - for a one-liner like this..

[2018-08-20 09:08] benoitc commented on #4241
@ajkr oh sorry I realised I didn't push the branch. I will update the ticket once i've pushed the branch.  I believe we are experimenting the same issue as mariadb anyway.

[2018-08-20 16:39] riversand963 commented on #4287
@laiyongGit Thanks for your post, but we use Github issues to track bugs and up-for-grab tasks. You can post your question in [our user group](https://www.facebook.com/groups/rocksdb.dev/).

[2018-08-20 16:39] #4287 closed

[2018-08-20 16:40] riversand963 commented on #4285
Can you post your LOG file and OPTIONS file?

[2018-08-20 19:08] ajkr commented on #4288
I agree, we should have `OnCompactionBegin`. Do you want to try implementing it (in the same way `OnCompactionCompleted` is implemented, not like `CompactionEventListener`)?

[2018-08-20 19:11] gaddamas commented on #1055
if we create a db, create some column families and then close it, is it must to specify the column families to open the db?
I got this error: Invalid argument: You have to open all column families. Column families not opened: test
If db open knows there exists a column family test, why can't it simply open.
Can db open succeed if create_missing_column_families = true option is used? would it overw

[2018-08-20 20:50] sagar0 commented on #3865
@azagrebin fixed this in #4266 and #4284. Thanks!

[2018-08-20 20:50] #3865 closed

[2018-08-21 01:29] ajkr commented on #4241
#4295 may help.

[2018-08-21 18:40] ajkr commented on #4241
cool, you can try setting the environment variable `ROCKSDB_DISABLE_ZSTD=1` to avoid the dependency (and other optional dependencies can be avoided in a similar way; see "build_tools/build_detect_platform")

[2018-08-21 18:52] ajkr commented on #1055
No, that option is only for creating new column families. You need to specify all existing column families because otherwise we wouldn't know what to use for the `ColumnFamilyOptions`.

[2018-08-22 13:45] Charles909090 commented on #4241
YELPNINALREADY KNOW ALL THESE ERRORS HAVE BEEN DELETED OF AS SOON AS PEOPLE SEE THEY ONLY AN CAUSE OF AN ISSUE FOR EVEN PUT IT THERE OVER ALL MINE CASH JUST SO THEY CAN THEFT.

[2018-08-22 13:46] Charles909090 opened #4303 "Issue error"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2018-08-22 22:59] ajkr commented on #4288
Or, anybody who wants to try out contributing to RocksDB can take this.

[2018-08-22 23:08] ajkr commented on #4261
Can you report the value of "rocksdb.num-live-versions" property using our `DB::GetProperty` API?

[2018-08-22 23:12] ajkr commented on #4285
We have a function, `rocksdb::MemoryUtil::GetApproximateMemoryUsageByType`, that you can try out to see where the memory is being used.

[2018-08-22 23:38] ajkr commented on #4184
If you're still seeing this and suspect a RocksDB issue, please upload the RocksDB info log (in a file called LOG in your database directory). If you know which RocksDB API is failing and what Status object it's returning, that'd also be helpful.

[2018-08-23 18:25] sagar0 opened #4305 "RocksJava builds are broken due to bzip.org domain ownership issues"
RocksJava static builds from source (using `make rocksdbjavastatic`) are currently failing with the below error, on all branches which depend on downloaded bzip sources.
[code]
I found that bzip.org is no longer being maintained, and RocksJava depends on bzip2 packages downloaded from bzip.org.

Our Makefile showing the relevant code:
https://github.com/facebook/rocksdb/blob/f1f5ba085fa28e3dbcd520

[2018-08-23 18:30] sagar0 commented on #4305
I suggest to temporarily get the packages using wayback machine, as someone suggested in that lwn article link above.

A link to most recent snapshot of bzip 1.0.6 tar.gz taken on June 6th 2018: https://web.archive.org/web/20180624184835/http://www.bzip.org/1.0.6/bzip2-1.0.6.tar.gz
(got from the archives as shown here: https://web.archive.org/web/*/http://www.bzip.org/1.0.6/bzip2-1.0.6.tar.gz) .

[2018-08-23 18:45] #4241 closed

[2018-08-24 17:14] vitalyisaev2 opened #4313 "Possible memory leak when iterating over database with MergeOperator enabled"
We faced with memory leak in one of our applications, which is written in Go and uses RocksDB 5.13 via `cgo` interface (https://github.com/tecbot/gorocksdb). The application periodically iterates over whole RocksDB nstance and reads data sequentially key by key. It turns out that the memory allocated after every iteration is never freed.

Please visit this repo for the further information: https:/

[2018-08-25 00:11] ajkr commented on #4313
Also reported https://github.com/tecbot/gorocksdb/issues/144.

I'll probably wait on them to rule out a problem with your Go application or the Go bindings, unless you want to try providing a repro using RocksDB directly in C or C++.

[2018-08-25 15:47] benoitc opened #4316 "add logging.h in include/rocksdb"
### Expected behavior

Having a public api  in "include/rocksdb" to use the Logger instance in merge operators would make it easier to log errors in them.

### Actual behavior

The merge operators in utilities are using util/logging.h but don't show how to use the Logger instance without the helpers provided in this file. It's actually unclear how to do it in fact.

[2018-08-26 09:23] benoitc opened #4318 "release tag no v5.14.3"
We have a rocksdb-5.14.3 release but no v5.14.3.

In the past we had both, until recently we only vX.Y.Z version. So I'm not sure what should be expected.

[2018-08-26 19:14] pgoodman opened #4319 "Asan: container-overflow in HistogramBucketMapper constructor"
So this is probably a false positive from Asan, but it was easy enough to fix with a minor refactor.

### Expected behavior
No Asan report.

### Actual behavior
The following:
[code]
### How I fixed it

Old code:

[code]

New code:
[code]

[2018-08-26 20:34] ajkr commented on #4318
It should be v5.14.3. Added it: https://github.com/facebook/rocksdb/releases/tag/v5.14.3

[2018-08-26 20:34] #4318 closed

[2018-08-27 15:12] vitalyisaev2 commented on #4313
@ajkr I've added C++ example and as far as I can see there is no memory leak in it.

Though I'm not totally sure if my implementations of `MergeOperator` in Go and C++ are equivalent: in Go it concatenates `[]byte` slices via built-in `append` function, while in C++ it uses `string::append` (which I believe also implies memory allocations and copying). Providing that these operations are really eq

[2018-08-27 19:31] sagar0 commented on #4305
This is temporarily fixed in #4306 by switching the download from web.archive.org, but we should find a long term solution.

[2018-08-28 02:30] ajkr commented on #3959
Oh yes you are right. For snapshot we do not pin a `Version` so snapshot reads would not have a collapsed map readily available. Slow snapshot reads would probably be a problem for somebody at some point...

Anyways I thought a bit more about your splitting/format change ideas and how to integrate them with iterators, etc. It seems workable - will try to write something up this week.

[2018-08-28 04:07] messense commented on #3276
Just hit this issue, are there any workarounds besides upgrading LLVM or disabling SSE?

[2018-08-28 18:53] ajkr commented on #4316
Sure, I don't see why not make "util/logging.h" a public header file. Do you want to send a PR?

[2018-08-28 18:57] ajkr commented on #4319
Hm interesting, we also build with ASAN but haven't seen this issue. Is there any chance the false positive described here (https://github.com/google/sanitizers/wiki/AddressSanitizerContainerOverflow) applies to you?

[2018-08-28 18:58] siying commented on #4316
@ajkr this file depends on port.h which we need to be careful. Also, we really want macros named STRINGIFY, TOSTRING, PREPEND_FILE_LINE to be public? How if it conflicts with user defined macros?

[2018-08-28 19:15] ajkr commented on #4316
Good points. Yeah, might require some experimentation to see which macros can be untangled from internal dependencies and made public.. We can also rename macros with "ROCKS_" prefix to avoid using generic names.

[2018-08-29 09:17] chllcy opened #4329 ".rodata._ZTIN7rocksdb11StackableDBE[_ZTIN7rocksdb11StackableDBE]+0x10)：undefined reference to `typeinfo for rocksdb::DB'"
### Expected behavior
g++ -O0 -rdynamic -g3 -ggdb -pedantic -Wno-unused-value -Wno-variadic-macros -Wno-deprecated -c -fmessage-length=0 --static -w -Wcast-align -Wall -Werror -std=c++11  -I../test/include/ -c test.cpp -o test.o
g++ -L../libs -o test -Xlinker '-(' -llz4 -luuid -lz -ljsoncpp -lssl -lrt -lmsgpackc -lrocksdb -lgnutls -lnettle -largon2 -lopendht -lsnappy -lbz2 -lzstd -luv -lxbase -lxu

[2018-08-29 10:43] neondude opened #4330 "Random characters appended to merge existing_value when implementing jni"
I encountered this error while i was trying to parse json which i read from `existing_value` in the merge operator interface

### Expected behavior
Expected to read the value i have inserted through put operation

### Actual behavior
Reading the value i have inserted plus some random characters have been appended when i read from `existing_value->data()`

This does not happen consistently. It happ

[2018-08-29 17:08] pgoodman commented on #4319
Indeed, definitely covered by that false positive.

[2018-08-29 22:55] burtonli commented on #3972
@yiwu-arbug  We do need atomic write and transaction across CFs.

I have a PR to resolve the issue: https://github.com/facebook/rocksdb/pull/4332

[2018-08-29 23:28] burtonli opened #4333 "Transaction DB holds too much memory"
We have a scenario needs multiple DB instances and also multiple CFs within a DB with transaction support.
Transaction DB keeps **max_write_buffer_number** of memtable even when it is flushed, considering the number of DB instance times the CF count, it's significant of memory consumption.
I know those memtable is held for checking write conflicts, but it doesn't seem to be freed when there is no

[2018-08-30 08:39] vitalyisaev2 commented on #4313
I still have no idea what has happened to the database, but if I trigger whole database compaction manually at the start of the application, the leak is no longer observed.

Like this:
[code]

I thinks that there is some non-obvious and strange relationship between state of the database and the behavior of the iterators accessed through the `CGO` wrappers.

[2018-08-30 11:38] vinovarkey opened #4334 "[Android] Abort message: assertion "terminating with uncaught exception of type std::length_error: vector" failed'"
Team,

I have compiled rocksdb for Android using the following cmake command

[code]
followed by a `$ANDROID_CMAKE --build /path/containing/CMakeCache.txt`

I have bundled the resulting librocksdb.so into a sample Android app. I have the following JNI code snippet which crashes

[code]

The crash exception trace is

[code]

I have been able to reproduce the crash with a much simpler code than `DB:

[2018-08-30 12:49] maysamyabandeh commented on #4333
Have you tried max_write_buffer_number_to_maintain=0?
Otherwise, this would be more of a feature request than a bug. It seems like a reasonable feature but I am not sure if it would get a high priority.

[2018-08-30 17:04] sagar0 commented on #4334
What version of RocksDB are you using?

@promethe42 was able to successfully build RocksDB targeting Android as mentioned here: https://github.com/facebook/rocksdb/issues/1193#issuecomment-411318485 , after a bug fix that he did in #4231 .

[2018-08-30 17:59] ajkr commented on #4319
Great, thanks for getting back to us.

[2018-08-30 17:59] #4319 closed

[2018-08-30 18:16] burtonli commented on #4333
Actually the default value of max_write_buffer_number_to_maintain is 0, I think set max_write_buffer_number_to_maintain=0 will make it uses max_write_buffer_number instead.

[2018-08-31 13:26] tcwalther opened #4337 "Add documentation for format_version 4"
The documentation for format_version 4 is currently missing:

https://github.com/facebook/rocksdb/blob/9d646a6311c4940bc69b8b95f073abf938eff70d/include/rocksdb/table.h#L241

Since I don't feel comfortable enough writing correct documentation about version 4, I'm flagging this as an issue instead of making a PR.

[2018-08-31 17:54] miasantreble commented on #4337
FYI @maysamyabandeh

[2018-09-03 11:58] promethe42 commented on #4334
@sagar0 building yes, testing no... at least not yet! I'll report here ASAP.

[2018-09-04 14:41] toktarev commented on #4285
I suspect it clone of https://github.com/facebook/rocksdb/issues/4112

[2018-09-05 11:07] vitalyisaev2 commented on #4313
Sorry, but it is still an issue. Even after manual compaction, after several hours, the linear memory growth comes back.

[2018-09-05 11:07] vitalyisaev2 commented on #4313
Sorry, but it is still an issue. Even after manual compaction, after several hours, the linear memory growth comes back.

[2018-09-05 11:08] vitalyisaev2 commented on #4285
quite similar behavior in #4313

[2018-09-05 17:58] vaintroub opened #4344 "Compile on Windows with -DWIN32_LEAN_AND_MEAN"
Add -DWIN32_LEAN_AND_MEAN to compile flags to improve compile time.
Fix env_win.cc to include winioctl.h (this include is missing, and it breaks WIN32_LEAN_AND_MEAN)

[2018-09-05 20:59] ajkr commented on #4285
OK, closing this one due to insufficient details to investigate.

[2018-09-05 20:59] #4285 closed

[2018-09-05 21:49] ajkr commented on #4112
@toktarev - you are correct that `OptimizeForPointLookup` sets hash index which is not compatible with partitioned index. Further, since you are not using `cache_index_and_filter_blocks`, we pin the whole indexes in-memory for open table readers. The hash table part of the index will be particularly huge -- since you're using `NoopTransform`, the hash table is going to have a separate entry for ev

[2018-09-05 22:01] ajkr commented on #4313
To check integrity: first use `DB::Open()`, which will process WALs and MANIFEST. It'll return non-OK status if there's any problem. Then, call `DB::VerifyChecksum()`, which will verify checksums in all blocks of all SSTs and will let you know about any corruptions.

[2018-09-05 22:05] ajkr commented on #4313
For your primary issue: I'm not sure I can be much help if the equivalent program written in C++ doesn't repro the issue. Maybe chase down the go binding maintainers? :)

[2018-09-06 07:30] yinyi26 commented on #761
The issue is resolved after i update the version of libsnappy

[2018-09-06 12:08] vitalyisaev2 commented on #4313
@ajkr thanks for the tips! Going to check database integrity first

[2018-09-06 12:08] #4313 closed

[2018-09-07 04:38] hildo commented on #2531
Can confirm still happening on a Windows 10 machine.  Only way I could load the library was using version 5.3.6 as listed above

[2018-09-07 06:28] ajkr commented on #4329
Just a guess - it may be because we use `-fno-rtti` compiler flag. You can set the environment variable `USE_RTTI=1` for your make command to change this behavior.

If that doesn't work, it'd be helpful to provide some details on what "test.cpp" does. I tried using your build commands with a simple test file that just calls `DB::Open`, but the problem didn't reproduce.

[2018-09-07 14:58] #4337 closed

[2018-09-10 18:51] iFA88 commented on #4089
I have found the leak of this issue. I have executed my application on a `systemd` based system and the `service` has limited the NOLIMIT to 1024.
It was resolved by editing `/etc/systemd/system.conf` file with the line `DefaultLimitNOFILE=15000`

[2018-09-12 23:14] AFFogarty opened #4360 "Some keys have unexpected size during DBWithTTL::Open()"
### Expected behavior
All rows in our DB were inserted with keys of a fixed size. When calling `DBWithTTL::Open()`, all key comparisons should be on keys of the expected size.

### Actual behavior
During `DBWithTTL::Open()`, comparisons are being made on some rows that have keys that are a greater size than expected.

This breaks our custom Comparator which expects keys with a fixed number of byte

[2018-09-14 01:28] #4329 closed

[2018-09-14 10:04] cbelyaev opened #4364 "Cannot create checkpoint to other device (filesystem) on Windows"
### Expected behavior

Checkpoint created successfully when DB and checkpoint dir are not on
the same device (filesystem) on Windows.

### Actual behavior

Checkpoint creation failed when DB and checkpoint dir are not on
the same device (filesystem) on Windows.

### Steps to reproduce the behavior
#include <assert>
#include "rocksdb/db.h"

rocksdb::DB* db;
rocksdb::Options options;
options.create_

[2018-09-14 17:29] #4364 closed

[2018-09-17 17:20] benesch commented on #3959
Other ancillary related work that we discussed today:

  * Automatically triggering flushes and compactions when range tombstones pile up. Perhaps by artificially inflating the sizes of memtables/SSTs based on how much data the range tombstones cover.
  * Splitting range tombstones based on the grandparent SST boundaries during compaction.

[2018-09-18 14:39] #3049 closed

[2018-09-18 15:46] theimpostor opened #4387 "RocksDB blog atom feed does not validate"
### Expected behavior
RocksDB blog feed (http://rocksdb.org/feed.xml) is valid

### Actual behavior
The feed does not validate:

 https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Frocksdb.org%2Fblog%2F

### Steps to reproduce the behavior
Try to add http://rocksdb.org/feed.xml to Mozilla Thunderbird feed reader.

Errors presented by w3c validator:

[code]

[2018-09-18 16:29] ajkr commented on #4387
Perhaps @gfosco would be interested in looking at this?

[2018-09-18 18:30] ssabnis opened #4390 "make db_bench error"
I am new to rocksDB, after some struggle installed gflags 2.0.0

Compiling the make db_bench

### Expected behavior
Produce runnable db_bench

### Actual behavior
[code]

### Steps to reproduce the behavior
Install latest rocks_db
Install gflags 2.0.0., compile and install
run the .benchmark.sh bulkload
You get an error  -- /db_bench: No such file or directory

Compile make db_bench
Error

[code]

[2018-09-18 20:48] gfosco commented on #4387
Thanks for reporting this.  The w3 validator now reports the feed is valid.

[2018-09-18 20:48] #4387 closed

[2018-09-19 11:02] jing5877 opened #4401 "Rocksdbjni ReadOptions :There is no lower bound on the iterator."
### Expected behavior
ReadOptions.java has a method to set lower bound on the iterator.
### Actual behavior
There is no lower bound on the iterator.
### Steps to reproduce the behavior
When I use RocksIterator.seekForPrev(byte[] target) , I want to set lower bound in the ReadOptions. but I can not. May I ask why there is no lower bound on the iterator?  There is any way else to set lower bound ?

[2018-09-19 18:29] sagar0 commented on #4401
ReadOptions.iterate_lower_bound was introduced into the C++ API about 11 months back. It hasn't been ported to the Java API as no one requested for it until now. Would you be interested in porting it?

https://github.com/facebook/rocksdb/blob/a0ebec3804451e1aebda56b51dec82d6d900c5b1/include/rocksdb/options.h#L1008-L1018

[2018-09-19 19:12] mdcallag opened #4402 "optimistic transactions suffer from mutex contention"
### Expected behavior

QPS to increase with concurrency until saturation

### Actual behavior

QPS decreases with concurrency

### Steps to reproduce the behavior

Compare QPS with trx=p and trx=o in the results linked below. trx=p is pessimistic and trx=o is optimistic. Pessimistic does much better.

Test and results at https://gist.github.com/mdcallag/09fc94ff585297c00adef6243e6339e3
These are f

[2018-09-20 02:33] wolfkdy commented on #4402
During a multi-cf comparation of DB/OptTxnDB/TxnDB, I also found OptTxnDB is 5 times slower than DB/TxnDB.  It seems cpu can not be fully used. here is the perf result: https://groups.google.com/forum/#!topic/rocksdb/7fgTyJa0uFo

I'll do a single cf comparation there days and try to understand where the bottleneck is.

[2018-09-20 12:31] TomasStanek opened #4409 "rocksdb-java: leak/interface confusion - db.dropColumnFamily(cfh) disOwns native handle of cfh"
Hello all,

### In RocksDB.java dropColumnFamily(cfh) calls cfh.disOwnNativeHandle()
This has the following consequences:
- Native handle of the column family is never released (disposeInternal is never called) and a user can no longer release it by cfh.close because the native handle is no longer owned.
- All resources (sst files, descriptors, etc.) are held indefinitely
- Corresponding sst files

[2018-09-21 05:16] ssabnis commented on #4390
Issue is closed, I just had typo in the directory structure.

[2018-09-21 05:16] #4390 closed

[2018-09-21 05:18] ssabnis opened #4413 "Memtable doesn't concurrent writes (allow_concurrent_memtable_write)"
### Expected behavior
Benchmark to continues

### Actual behavior
Error open error: Invalid argument: Memtable doesn't concurrent writes (allow_concurrent_memtable_write)

### Steps to reproduce the behavior
`run tools/benchmark.sh bulkload`

I must doing something wrong here. Or some input arguments. Can anyone help.  Thanks

[2018-09-21 16:53] #4151 closed

[2018-09-21 17:23] mdcallag opened #4417 "Get is between 10% and 30% slower from release 4.2 to 5.14.3"
Get is 10% to 30% slower. Maybe this is worth investigating.

### Expected behavior

10% slower over 2 years of releases seems OK to me. But 20% or 30% might be worth fixing.

### Actual behavior

Results are provided for (key,value) with sizes (32,10) and (8,400) with different numbers of keys to get LSM trees with different numbers of levels. For (key,value) with sizes (32,10) I used 10M, 100M a

[2018-09-21 17:31] mdcallag commented on #4417
Tests were run with: bash ra.sh 180 3 $(( 1024 * 180 ))

[2018-09-21 23:46] yuslepukhin commented on #4417
We have observed slow degradation as well.

[2018-09-22 03:28] krithikagopalakrishnan opened #4418 "GeoDB in rocksDB is returning unexpected results for geo_fence queries"
Hi,
Im doing a small testing on geodb_impl in rocksdb. And i found something strange.
Let me summarise my testing,

I insert a Point (45,45) into geodb.
Now, i want to get all points which are at a distance of 200km from (46,46).
This is an example from geodb_test.cc. I measured the distance from the link to verify, and the distance was ~135km, and it satisfies the criteria. So yeah, All Good here

[2018-09-23 10:55] chllcy opened #4420 "valgrind memory leak"
valgrind --tool=memcheck --leak-check=full ./xtest
==19550== Memcheck, a memory error detector
==19550== Copyright (C) 2002-2017, and GNU GPL'd, by Julian Seward et al.
==19550== Using Valgrind-3.13.0 and LibVEX; rerun with -h for copyright info
==19550== Command: ./xtest
==19550==
======begin=======
==19550== Warning: unimplemented fcntl command: 1036
==19550== Thread 22:
==19550== Invalid read o

[2018-09-23 10:55] wolfkdy commented on #4402
Well, @mdcallag , I think I've more or less undertood it. But unfortunely, Under OptTxnDB's architecture, I think it hopeless to improve OptTxnDB's performance.

At first, Reasons for short,
1) OptimisticTransactionCallback::AllowWriteBatching returns false
2) OptTxn does conflict check during commit procedure,

Explainations:
As we all know, RocksDB uses group commit mechanism to speedup the comm

[2018-09-24 11:44] kamdibus opened #4421 "SST file lock"
### Expected behaviour
SST file can be deleted after RocksDb instance is closed on Windows.
### Actual behaviour
SST file remains locked after closing RocksDb instance on Windows. This problem happens after dropColumnFamily operation.
The file can be deleted after the jvm is shutdown.
### Environment
Windows 7
RocksDb 5.13.1, 5.14.2
### Steps to reproduce the behavior
[code]

[2018-09-24 18:00] jneedham83 commented on #4277
Just encountered on legacy (573) dbg build on aarch64

[2018-09-24 19:28] jtelleria opened #4422 "MariaDB + RocksDB Crash: "rocksdb_allow_mmap_reads" and "rocksdb_use_direct_io_for_flush_and_compaction". Both cannot be enabled at the same time."
I attach an Issue of a Server Crash when using RocksDB + MariaDB:

https://jira.mariadb.org/browse/MDEV-16854

[2018-09-24 21:13] mdcallag commented on #4422
This reproduces in the 5.7.5 release of RocksDB but not in 5.14.3.
MariaDB 10.3 uses RocksDB 5.10

./db_bench -benchmarks=fillrandom,readrandom -use_existing_db=0 -seed=1537823408 -disable_auto_compactions=0 -sync=0 -db=./rdb -num=1000000 -num_levels=6 -key_size=32 -value_size=10 -block_size=4096 -cache_size=104857600 -cache_numshardbits=-1 -compression_type=none -compression_ratio=0.5 -level_comp

[2018-09-25 03:48] Myasuka commented on #4417
We observed this degradation and posted them in [rocksdb-groups](https://groups.google.com/forum/#!topic/rocksdb/XbAosKTMh0o).

[2018-09-25 15:19] ajkr commented on #4422
It's implicitly fixed by #3829, which makes `use_direct_io_for_flush_and_compaction` apply to writes only. Interestingly, the original implementation of flush/compaction direct I/O refused to open with mmap writes, but forgot to check mmap reads.

[2018-09-25 15:20] ajkr commented on #4422
I am not familiar with MariaDB release process. Should we backport to 5.10, or should they upgrade to 5.14?

[2018-09-25 15:29] ajkr commented on #4418
I think `GeoDB` is unknown to RocksDB team members at this point (and likely to be deprecated in next major version), so putting this up for grabs.

[2018-09-25 19:29] ajkr commented on #4413
That script is rarely (never?) used so there could be a bug as we changed our defaults. In this case it looks like the `-memtablerep=vector` is incompatible with the `db_bench` default value of `allow_concurrent_memtable_write=true`.

[2018-09-25 19:39] ajkr commented on #4409
I wonder if it's the cause of #4421

[2018-09-26 17:38] #4253 closed

[2018-09-29 03:46] wangxiaof opened #4439 "flink taskmanager java thread crash"
Stack: [0x00007f1aeb1f4000,0x00007f1aeb2f5000],  sp=0x00007f1aeb2f2fb8,  free space=1019k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  0x0000000000000001
C  [librocksdbjni-linux64.so+0x2df2c9]  rocksdb::DBImpl::Get(rocksdb::ReadOptions const&, rocksdb::ColumnFamilyHandle*, rocksdb::Slice const&, rocksdb::PinnableSlice*)+0x19
C  [librocksdbjni-linux64.so+0x2b0b

[2018-09-29 03:58] wangxiaof commented on #4439
rocksdbjni 5.6.1

[2018-09-30 08:32] TennyZhuang commented on #1055
@ajkr What I need is an interface like `Database.GetColumnFamily(opts, name)`, which will return a `ColumnFamilyHandle`, and we need not to reopen the database.
It can be implemented by enable `SetErrorIfExists(false)` for `Database.CreaateColumnFamily(opts, name)`.

It seems that there is no way to get a `ColumnFamilyHandle` for an existed but not opened column family, except reopening the databa

[2018-10-01 19:41] ssabnis opened #4441 "UI for benchmark results?"
Is there any UI that I can use to visualize the RocksDB bench mark results.. I am having hard time understanding the terms and numbers. Can anyone help?

Thanks in advance!

[2018-10-03 01:42] lucassaldanha commented on #3788
Same problem here. I've tried installing"Microsoft Visual C++ 2015 Redistributable" as per the Windows instructions but I still have the same problem.

**Environment**
RocksDB 5.14.2
Windows 10 x64

**Error**
[code]

[2018-10-03 02:30] lucassaldanha commented on #3307
Hi Adam,

Any idea of when the new release is coming out?

Cheers!

[2018-10-03 04:47] laurentgo commented on #3307
@lucassaldanha I actually tried the latest on maven central, and it has been working fine on non-avx2 machine.

[2018-10-03 04:53] lucassaldanha commented on #3307
@laurentgo I’ve tried the latest as well and, unfortunately, it didn’t work. I’m trying to build from scratch (following the process on the docs). I’ll update this thread with what I can find.

[2018-10-03 06:37] jontejj opened #4445 "SIGSEGV when deleting db files before closing"
### Expected behavior
An exception that indicates missing files of some sort?
### Actual behavior
[code]
### Steps to reproduce the behavior
[code]

Note that RocksStore is actually using a ColumnFamilyHandle to write/read values. TransactionDB is use d with default options.

[2018-10-03 08:15] partylana commented on #3833
whats the solution for this?

[2018-10-03 11:34] lucassaldanha commented on #3307
Ok, it looks like my problem is the one described here: https://github.com/facebook/rocksdb/issues/3788

[2018-10-03 15:55] rozuur commented on #3962
Can I work on this?

[2018-10-03 18:14] jcalcote opened #4447 "RocksJava: expose summing merge operator"
Currently RocksJava exposes only the most basic of merge operators that exist in the C++ interface - the string-append merge operator. We recognize that the purpose of exposing this single merge operator is really just proof-of-concept, and that a better approach is desired for more general purpose merge functionality in the Java interface.

However, in the interim, it would be super helpful if we

[2018-10-03 18:47] sagar0 commented on #4447
This should be very straight-forward. Would you like to contribute?

[2018-10-03 19:32] jcalcote commented on #4447
I would - I've actually already done it, but I honestly don't know much about rocks code, so I'd need a really good review before it got committed. I'll post a PR.

[2018-10-04 00:31] jcalcote commented on #4447
PR Posted - Travis passed, but AppVeyor had one failed test that's apparently unrelated to my changes.

[2018-10-04 08:49] gbitzes opened #4451 "Hard-linked snapshot SST files are changing?"
### Expected behavior
After creating a snapshot of a running db, the SST files in said snapshot should remain unchanging, and should not be affected by the running instance from which they originate.

### Actual behavior
After creating a snapshot, and attempting to tar and stream it over the network, we see this error:
[code]

I assume these are the memtable files being changed by the running inst

[2018-10-04 08:56] gbitzes commented on #4451
A couple more datapoints:
1. Each time we attempt this, the count number of the SST file being changed increases. For example:
[code]

This strongly points to the files being memtables, no?

2. We're running 5.13.4.

[2018-10-04 12:30] ael-code opened #4452 "Missing pkg-config file"
If I compile through the provided makefile, all the optional compression libraries found on my system are kicked in as dependencies. When I later try to link against the generated rocksDB shared library I need to link with all those compression libraries, otherwise I'll get:
```Compression type <CompressionLibrary> is not linked with the binary```

While compiling my software I don't have an easy

[2018-10-04 22:16] anand1976 commented on #4451
Memtables are exclusively in-memory (heap). There are no memtable files. SST files are created by either memtable flush or compaction and are immutable, i.e don't change after they are closed and recorded in the MANIFEST file.

[2018-10-04 22:52] lucassaldanha commented on #3788
Ok, I think I know what is going on...

The last maven release (5.14.2) was on the 5th July 2018 (https://github.com/facebook/rocksdb/releases/tag/v5.14.2).

On 19th July 2018, there was a PR adding some missing libraries into the java/CMakeLists.txt file
(https://github.com/facebook/rocksdb/commit/80afa8490371ad50d65e10063fc576a7839e7628#diff-4bed60f270bfee21f80ac14ab5bf7f28)

One of the addition

[2018-10-04 23:33] gbitzes commented on #4451
Thanks - if SST files are never supposed to change, this makes the error message we're getting even more strange. I'll try to make a reproducer, and update this issue once I have more info.

[2018-10-05 00:19] gbitzes commented on #4451
Ah, it looks like adding or removing a hard link to an inode will modify its ctime.. So, if the running rocksdb instance runs compaction and removes some SST file, tar will detect the modification in ctime on the checkpoint and complain, even though the contents have remained the same.

False alarm, sorry for the noise.

[2018-10-05 00:19] #4451 closed

[2018-10-05 08:42] jontejj opened #4461 "SIGSEGV when closing database"
### Expected behavior
For the db to be closed without problems.
### Actual behavior
Fails randomly with SIGSEGV. I suspect that it happens because there is still background work that is being cancelled, even though pause was called earlier? Also note that the files are deleted on shutdown, so if the finalizers runs after that, the files don't exist anymore. My real question is, how am I supposed t

[2018-10-05 15:18] zpalmtree opened #4462 "Windows C++17 support"
### Expected behavior
RocksDB builds on Windows C++17

### Actual behavior
Build fails due to usage of `std::random_shuffle` in
https://github.com/facebook/rocksdb/blob/master/util/transaction_test_util.cc#L138 and
https://github.com/facebook/rocksdb/blob/master/util/transaction_test_util.cc#L262

The exact error I get is `error C2039: 'random_shuffle': is not a member of 'std'`

`std::random_shuf

[2018-10-05 19:18] jontejj commented on #4461
Turns out that there was a missing
[code]
for some other tests that caused the failure. So it seems like automatic gc for the db can lead to segfaults. For the other tests, RocksMemEnv was used. Maybe this issue can be closed? A bit odd with segfaults here and there though.

[2018-10-06 09:04] partylana commented on #144
wheres the binary?

[2018-10-08 02:34] wolfkdy commented on #4333
@burtonli  perhaps the stats below will help diagonise.
[code]
Sometimes, the memory you see from top may be affected by the malloc-layer.

[2018-10-08 05:24] lemonguge opened #4468 "library loading error with rocksdb5.14.2"
`RocksDB.loadLibrary()` throw exception
[code]
### Expected behavior
I can start normally on my MAC computer.
### Actual behavior
But it can't be started on my Linux server(Red Hat Enterprise Linux Server release 5.7).

[2018-10-08 06:44] adamretter commented on #4468
We build the releases on CentOS 6. We used to build on CentOS 5, but it became to difficult to support due to its age. You will need to build your own release for CentOS 5.

[2018-10-08 06:44] #4468 closed

[2018-10-08 08:06] lemonguge commented on #4468
how to build and replace it

[2018-10-08 08:16] adamretter commented on #4468
@lemonguge - follow INSTALL.md to make sure you have all the pre-requisites on your CentOS 5 machine and then run `make rocksdbjavastatic`

[2018-10-09 01:54] lucassaldanha commented on #3788
Ok guys,

I was able to get this working building the latest version from source. I've followed the wiki instructions to [build on Windows](https://github.com/facebook/rocksdb/wiki/Building-on-Windows), however, I had to set the compression libraries flags to false. I also used the PORTABLE flag.

This is the cmake command that I used:
[code]

After that, I added the shared DLL that was built into

[2018-10-09 15:59] adamretter commented on #3788
@lucassaldanha apologies for the delay there with the releases. I am not sure quite what happened.
Anyway, I just uploaded 5.14.3 and 5.15.10 to Maven Central. Should appear in the next sync window (~2 hours).

[2018-10-09 15:59] #3788 closed

[2018-10-10 00:14] #4401 closed

[2018-10-10 04:00] maheshsenni commented on #3135
@abhishekmaheshwari86 Did you manage to fix this? I am running into this issue was well.

JDK: 1.8.0_171-b11
rocksdbjni: 5.14.2
OSX

[code]

[2018-10-10 04:33] adamretter commented on #3135
@abhishekmaheshwari86 Can you tell us the line numbers for the top four stack frames? You can find out how to get those here: https://github.com/facebook/rocksdb/wiki/JNI-Debugging#interpreting-hs_err_pid-files

[2018-10-10 07:41] huachaohuang opened #4477 "Write latency spikes in memtable"
Hi, I'm trying to reduce the max write latency to be less than 5ms recently (no wal sync).
I enable the perf context and find out that the `wal_time` and `memtable_time` can take more than 10ms sometimes. While the `wal_time` may or may not be avoidable since it needs to write back to the disk anyway, I expect that there may be some improvement in the `memtable_time`.

I write a simple test snippe

[2018-10-10 16:52] maheshsenni commented on #3135
@adamretter - I don't mean to hijack @abhishekmaheshwari86 's issue, but these are my stack frames. Looks like it's trying to get a column family id.

[code]

I am following the example in the wiki - [RocksJava Basics](https://github.com/facebook/rocksdb/wiki/RocksJava-Basics).

[code]

[2018-10-10 22:06] maheshsenni commented on #3135
@adamretter I take it back. This was actually a problem with my code.

[2018-10-10 23:07] yiwu-arbug commented on #4462
@zpalmtree Are you interested in sending a pull request for a fix? Thanks.

[2018-10-10 23:09] yiwu-arbug commented on #4461
@sagar0 Do you mind chime in? Since it is related to JNI.

[2018-10-10 23:13] yiwu-arbug commented on #4452
@ael-code We are not familiar with pkg-config. Are you interested in send us a pull request for it? Thanks.

[2018-10-10 23:15] yiwu-arbug commented on #4445
@jontejj Is this duplicate of #4461 ?

[2018-10-10 23:15] yiwu-arbug commented on #4441
No there isn't. As least not that I know of.

[2018-10-10 23:15] #4441 closed

[2018-10-11 00:17] zpalmtree commented on #4462
Made a PR: https://github.com/facebook/rocksdb/pull/4482

[2018-10-11 00:32] #4288 closed

[2018-10-11 04:54] jontejj commented on #4445
The segfault seemed to occur in several different locations. So I reported it for each occurrence. So I still think it's useful? But maybe just marking it as a duplicate and being careful when solving the other one to also think about this code path.

[2018-10-11 06:11] adamretter commented on #4461
@jontejj So it looks to me that you have things being cleanup up via Java's Finalizer. You really should avoid that and do object cleanup yourself. It looks like `org.rocksdb.TransactionDB.disposeInternal(J)` is being called by the finalizer.

I suspect some sort of issue where the order of cleaning up the database objects during shutdown is incorrect. I would advise you to manually call close on

[2018-10-11 06:13] adamretter commented on #4445
@jontejj without the full stack trace it is impossible for us to even guess what is happening. However I suspect a similar issue to that which I suggested in - https://github.com/facebook/rocksdb/issues/4461

[2018-10-11 10:37] ael-code opened #4484 "Allow to select static or shared lib target in CMake"
### Expected behavior
It would be nice to have the possibility to select between the static and the shared lib target in CMake. In this way would be possible to build only one of them or both of them.

### Actual behavior
At the moment CMake doesn't allow you to select which target to compile. Both the static library and the shared one will be compiled. There is no way to build only one of them.

[2018-10-11 14:13] rockeet opened #4485 "Feature Request: Add DB::Prefetch(begin, end)"
Add `DB::Prefetch(begin, end)` to prefetch a range of data from Disk/SSD to memory.

Now there exists `TableReader::Prefetch(begin, end)`, this method can be expanded as `DB::Prefetch()`.

[2018-10-11 17:50] #4462 closed

[2018-10-11 18:38] joehopfield commented on #4420
Where's the source code of your test? Seems likely you mis-used the api (failed to close or destroy...)

[2018-10-11 21:52] jontejj commented on #4461
Yep, closing handles in the right order indeed solved it. Can this case be handled in a better way than segfaulting perhaps? An IllegalStateException would be much nicer for example

[2018-10-11 23:59] ajkr commented on #4484
Sounds good. Do you want to open a PR for the change?

[2018-10-12 00:17] ajkr commented on #4452
The values of the options @anand1976 mentioned will tell you which compression libraries need to be linked.

[2018-10-12 01:45] ajkr commented on #3962
quick question: don't we know 4.log is complete if its latest seqnum is one less than 5.log's earliest seqnum?

[2018-10-12 02:15] ajkr commented on #1055
@TennyZhuang - understood. Do you mind providing more details about your use case? I am curious as we are seeing requests like yours increasingly frequently.

However, the implementation of the functionality isn't that straightforward. For example, what if the WAL contains data for a column family that was not opened during `DB::Open`? We need to keep that WAL for arbitrarily long - until the user

[2018-10-12 10:05] paolococchi commented on #4288
Thank you @solicomo and @ajkr for picking up and fixing this issue so quickly.

[2018-10-12 15:51] siying commented on #3962
@ajkr not the case if people ever write with WriteOptions.disableWAL=true.

[2018-10-12 15:51] siying commented on #3962
@rozuur you are welcome to take it.

[2018-10-13 00:36] #4447 closed

[2018-10-15 10:07] Aitozi commented on #4439
@wangxiaof I think It may be a flink issue. And may be it has been sloved by this PR https://github.com/apache/flink/pull/5058

[2018-10-15 12:54] wangxiaof commented on #4439
thanks

[2018-10-15 12:55] #4439 closed

[2018-10-16 04:10] rockeet opened #4499 "Feature Request: RangeMerge Support"
Now RocksDB has feature `RangeDelete` and `MergeOperator`, these concepts can be extended:

## RangeMerge support
With range merge, we can optimize range update on DB, such as:
[code]

[2018-10-16 05:55] monsterd0n opened #4500 "potential buffer overflow in backupable_db.cc"
Good day,
I have been going through the code and it seems that there is a potential for an overflow as the size argument of this snprintf call is derived from its return value, which may exceed the size of the buffer and overflow.

Unless if I'm reading it wrong

[2018-10-16 17:41] zyycj opened #4501 "macos build example failed"
## env
macos 10.14
gcc8.2

## error
make simple_example

g++ -fno-rtti simple_example.cc -osimple_example ../librocksdb.a -I../include -O2 -std=c++11 -lsnappy -lgflags -lz -lbz2 -llz4 -lzstd -ltbb -std=c++11  -DROCKSDB_PLATFORM_POSIX -DROCKSDB_LIB_IO_POSIX  -DOS_MACOSX -DSNAPPY -DGFLAGS=1 -DZLIB -DBZIP2 -DLZ4 -DZSTD -DTBB -DROCKSDB_BACKTRACE -Wshorten-64-to-32 -march=native  -DHAVE_SSE42 -DHAVE_PC

[2018-10-16 18:35] yiwu-arbug commented on #4500
Each time `snprintf` is called, assume return value is `r`, it maintains `len_after = r + len_before <= buffer_size`. So it doesn't overflow. Does it make sense?

Closing for now. Feel free to reopen if you still think it is an issue.

[2018-10-16 18:35] #4500 closed

[2018-10-16 18:49] yiwu-arbug commented on #4501
do you miss `-ljemalloc`?

[2018-10-17 04:33] zyycj commented on #4501
I add the flag `-ljemalloc` , and solve this problem.

[2018-10-17 04:33] #4501 closed

[2018-10-17 11:31] rockeet commented on #4499
@yiwu-arbug As my understandings on RocksDB, `RangeMerge` can not reusing `RangeDelete`'s implementation, it has many essential difference with `RangeDelete`.

## Proposed API
1. Needs an interface which is similar with existing `MergeOperator`, even we can reuse `MergeOperator`
1. Add an method like `DB::RangeMerge(BeginKey, EndKey, Value)`

## Proposed implementation
We expect there are many `Ra

[2018-10-17 18:48] solicomo commented on #3820
Hi @maysamyabandeh , do you have any idea about "compile time processing to convert `__FILE__` to include only the file name and its next level directory"?

[2018-10-18 22:06] yiwu-arbug commented on #4499
@rockeet Thanks for your detail proposal. I'll leave the request up-for-grab.

cc @ajkr @siying just in case you have any comments :)

[2018-10-19 14:37] siddontang commented on #4477
any update? @yiwu-arbug

[2018-10-21 14:50] cache123abc opened #4563 "example code build failed in Clion at MacOS"
### Env
macOS 10.14
Clion 2018.1.2
gcc-8.2

### Problem
I want to use Clion to try the rocksdb. I add a new `CMakeLists.txt` file  at `examples` directory.
CMakeLists.txt
[code]

examples/CMakeLists.txt
[code]
But when build the `s_test` executable, I get the error as follows.

[code]

And I already install the gflags
ls /usr/local/lib | grep gflags

[code]

How to solve it ? Thank you!

[2018-10-21 17:54] phoenixchinar opened #4566 "Replication of Prepared Transactions in TransactionDB WriteCommitted"
Replication of Prepared Transactions in TransactionDB WriteCommitted

I am using rocksdb::TransactionDB with WRITE_COMMITTED policy for my datastore. I am using GetUpdatesSince API for replication between a master and slave. What it looks like is that transactions that are not yet committed, the information is not getting returned using GetUpdatesSince. Due to this even though a transaction has be

[2018-10-22 03:40] Ironman-Jason commented on #2426
@tbarbugli , if I create million column family in the database, is there something like LRU swap for column family write_buffer?

[2018-10-23 03:13] cache123abc opened #4578 "Compression type Snappy is not linked with the binary"
### ENV
Ubuntu 16.04
gcc version 5.4.0 20160609

## Problem

I want to use the simple_example.cc. So, I build a dynamic shared lib to link with the executable. But when execute the binary file, the error as follows.
[code]

But my CmakeLists.txt already link snappy.
[code]
And  if I use the static lib and the official MakeFile in examples directory, then everything is fine. What's the problem?

[2018-10-23 17:45] maysamyabandeh commented on #4563
You would have more luck in user group: https://www.facebook.com/groups/rocksdb.dev

[2018-10-23 17:45] #4563 closed

[2018-10-23 17:48] maysamyabandeh commented on #4578
You would have more luck in user group: https://www.facebook.com/groups/rocksdb.dev

[2018-10-23 17:48] #4578 closed

[2018-10-23 18:16] maysamyabandeh commented on #4566
GetLatestSequenceNumber and GetUpdatesSince are function on DB (not TransactionDB) so they operate on committed data visible to normal reads.

Other applications like MyRocks use an separate external WAL (called binlog) for replication. Using RocksDB WAL for replication is an interesting approach. I do not what would be the challenges there but it does seem doable. If you could make it work perhap

[2018-10-23 18:16] #4566 closed

[2018-10-24 20:59] nitesh1994 opened #4586 "Post upgradation to Ubuntu 18.04, getting make error"
Previously, I could make successfully in Ubuntu 16. Then, I upgraded to Ubuntu 18.04 and made small change in examples/simple_example.cc to change the key input to DB. I'm getting following make error post that

/usr/bin/ld: db/builder.o: relocation R_X86_64_32 against `.bss' can not be used when making a PIE object; recompile with -fPIC
/usr/bin/ld: db/c.o: relocation R_X86_64_32S against symbol

[2018-10-24 21:00] #4305 closed

[2018-10-26 07:28] brary opened #4591 "HDFS backup feature in rocksjni"
I couldn't find HDFSBackup in rocksjni. The HDFSEnv is present in c++ library but no way to use it in java client of rocksdb. Can you please point to it if any implementation is available or if the feature is coming up.

[2018-10-27 00:37] anniefu commented on #4421
I've seen the same issue on Windows using the C# - https://github.com/warrenfalk/rocksdb-sharp API

**Environment**
Windows 10 Pro, version 1803
RocksDb 5.14.2

**Repro**
[code]

**Result**
[code]

[2018-10-28 12:13] wolfkdy commented on #4477
This issue interseted me and I also run the code above for severial times, sort the results by
`cat output |awk '{print $2}' |sort -nr |less`
Unfortunely, the highest latency is only about 150 microseconds.
I think the code above may be baised for two reasons
1) It prints a result each every time an insertion is done, the print is an io operation and can deviates the result
2) I didnt see allocsta

[2018-10-28 14:02] baoxuezhao opened #4597 "WAL cannot be flushed after transaction Prepared and Rollback"
Hello,

We are using the TransactionDB as well as the [Two Phase Commit](https://github.com/facebook/rocksdb/wiki/Two-Phase-Commit-Implementation) to implement distributed transactions. Sometimes the prepared transactions cannot be committed right away due to worker failure and later (maybe after worker restart) we restore all prepared transactions and call Rollback or Commit on each of them.
We n

[2018-10-29 00:17] miasantreble commented on #4597
cc @maysamyabandeh

[2018-10-29 04:19] wolfkdy commented on #4597
This issue interested me, I did some investigation into the code. And know where the problem is.
Let's discuss base on the code above.
PessimisticTransaction::~PessimisticTransaction didn't write ROLLBACK tag into WAL if current transaction is not committed nor rollbacked.  It just removed the txn by txn_db_impl_->UnregisterTransaction(this);  So that wal-log-writer dare not purge prepare-tag with

[2018-10-29 06:03] brary opened #4598 "I am looking for GetLiveFiles() in java-api for rocksdb. Can you expose that, didn't seem to find it"
There are few important functions which would be helpful if exposed in rocksjni as they are already implemented in rocksdb c++. One of them being GetLiveFiles(). Please share if it already done.

[2018-10-29 10:38] brary commented on #4598
It would be helpful if VerifyChecksum() is also exposed. Thanks.

[2018-10-29 11:35] ael-code commented on #4452
That's true. But if rocksDB have been installed on my system by another person or through the package manager I don't have any clue about which configuration option have been used.

[2018-10-29 16:31] ael-code opened #4600 "Error running make"
I've just noticed that even if make build correctly rocksDB shared library it throws repeatedly `rocksdb/build_tools/build_detect_platform: 501: [: Linux: unexpected operator` during build process.

[2018-10-29 17:27] eliaslevy opened #4601 "Add additional options to Java's CompactionOptionsFIFO"
### Expected behavior

Support for the FIFO compaction strategy's `allow_compaction` and `ttl` options.

### Actual behavior

Lack of support for the options.

### Steps to reproduce the behavior

[2018-10-29 18:47] maysamyabandeh commented on #4597
1. GetAllPreparedTransactions is to be called after a db restart to recover from a crash. This is already documented: https://github.com/facebook/rocksdb/blob/7fb39f1ae19bf6c88544d485fc7b6940ebad8981/utilities/transactions/pessimistic_transaction_db.h#L110
2. Deleting a txn does not roll it back. At this stage, this is a feature and the behavior is not to be changed.

[2018-10-30 07:15] siddontang commented on #3789
Hi @absolute8511

Have you found anything wrong here?

[2018-10-30 15:20] absolute8511 commented on #3789
@siddontang
I solved it by copying Go bytes to C char array while setting the `iterate_upper_bound`.

[2018-10-30 21:37] #4597 closed

[2018-10-30 21:37] sagar0 commented on #4601
PR: #4609

[2018-10-30 21:45] sagar0 commented on #4601
I had the java options patch sitting in my local branch for a few months now.

[2018-11-01 03:51] cooljiansir opened #4613 "2PC bug"
In 2PC transaction, after we write a prepare entry into WAL, we call a Flush before `MarkLogAsContainingPrepSection`, the log file containing the prepare entry will be deleted.
see https://github.com/facebook/rocksdb/pull/4612

[2018-11-01 23:19] #3820 closed

[2018-11-02 08:32] andrewt0301 opened #4620 "Unable to compile RocksDBLite with JNI support."
Unable to compile RocksDBLite with JNI support because of unresolved references to transaction-related classes from JNI libraries. Transactions are not supported in RocksDBLite. However, JNI libraries refer to transaction-related code covered with `#ifndef ROCKSDB_LITE ... #endif` directives. This functionality must be disabled in JNI classes when they are compiled for RocksDBLite.

### Expected b

[2018-11-02 09:44] hustchensi opened #4621 "snapshots maybe lost for check in WritePreparedTxnDB::CheckAgainstSnapshots"
### Expected behavior
CheckAgainstSnapshots should check all related snapshots
### Actual behavior
only those in snapshot cache are checked
### Steps to reproduce the behavior
just update the testcase in the repo

[code]

- use new **seqs** contain only one commit pair
- assert the **old_commit_map_** size

here is the results:
[code]

the following condition check code is suspect in **WritePrepar

[2018-11-02 14:13] pratikdhandharia commented on #1179
I am also seeing this behavior. I am using rocksdb in my application and I have multiple column families. I have a mechanism of running Flush on each ColumnFamily but when I do so, The system hangs indefinitely and the backtrace looks something like this:

#0  0x00007f8241f72945 in pthread_cond_wait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x00000000035ebf9d in rocksdb::port::CondVar::Wait

[2018-11-02 14:28] pratikdhandharia opened #4622 "Flush Hung forever"
I am using RocksDB in my application(statically linking) and I create a ColumnFamily everytime a user enters the system. My system works fine when I keep the size of memtables exceptionally large. However I am testing a scenario where I reduce the size of memtables to accommodate more users.

### Expected behavior
I expected rocksdb flush operation to flush the immutable memtables periodically to

[2018-11-02 18:21] riversand963 commented on #4622
Thanks @pratikdhandharia for reporting. How many column families do you have in the DB? Do you have LOG file that we can take a look? It will also be great if you can provide a way to reproduce it.

[2018-11-02 18:22] riversand963 commented on #4600
Hi @ael-code , could you elaborate a little more on how to reproduce this?

[2018-11-02 18:29] ajkr commented on #4622
Do you happen to know if a background error happened? There was a bug fix recently for flush hanging with that call stack when background errors caused the DB to go into read-only mode (#4615).

This property should tell you whether any BG errors happened if you haven't restarted the DB: https://github.com/facebook/rocksdb/blob/55c03492749a70351294b547a90c2091998df756/include/rocksdb/db.h#L502-L50

[2018-11-02 19:00] pratikdhandharia commented on #4622
Thanks @riversand963 @ajkr for replying.

@riversand963: At this moment I only have couple of Column Families. I am attaching the OPTIONS and LOG file for your reference. I am trying hard to get a simple reproducer as, at this moment I am only able to reproduce this when I integrate rocksdb with my application.

[LOG.txt](https://github.com/facebook/rocksdb/files/2543794/LOG.txt)
[OPTIONS-001659.t

[2018-11-02 19:34] pratikdhandharia commented on #4622
Here is the output of few properties for each ColumnFamilies I have in the system when I trigger manual Flush:

 Column Family: default
rocksdb.cur-size-all-mem-tables: 800
rocksdb.mem-table-flush-pending: 0
rocksdb.num-immutable-mem-table: 0
rocksdb.background-errors: 0
Column Family: global
rocksdb.cur-size-all-mem-tables: 6340248
rocksdb.mem-table-flush-pending: 0
rocksdb.num-immutable-mem-tabl

[2018-11-02 20:11] riversand963 commented on #4622
@pratikdhandharia , the LOG file ends with this line `2018/11/02-14:53:29.864836 7fdd40fc9700 [db/db_impl.cc:1605] Created column family [transaction-45035996273705354] (ID 411)`. It does not show logs related to flush. Do you have other newer logs?
Just curious, when did you observe this hang to occur? Could you find the last "good" commit in RocksDB?

[2018-11-02 20:44] pratikdhandharia commented on #4622
Unfortunately this is the latest log from that directory. I don't see any other logs.

[2018-11-02 21:17] ajkr commented on #4622
hm seems you're creating the same column family multiple times.

[code]

[2018-11-02 21:18] riversand963 commented on #4622
That's strange. If your `getRocksDB()` opens a db successfully, there should at least be a line similar to the following in the LOG. After that, you can write to the DB and call manual flush.
[code]

[2018-11-02 23:47] riversand963 commented on #4622
@pratikdhandharia can you try writing a simple test program in which you open the DB, create the column families, insert data and call manual flush? Let's see if it's able to reproduce the issue. If you more LOG files, that will also be helpful. Another thing to try, as I mentioned, is to identify the last working version of RocksDB and your application, and we can see what's different.

[2018-11-04 13:01] GalRogozinski commented on #1988
Hey @StephanEwen,
Did you contribute back?
In RocksJava I still only see the old `StringAppendOperator`...

[2018-11-04 13:11] GalRogozinski commented on #2282
@adamretter do you have any news?

[2018-11-04 13:19] pokai0426 commented on #1955
I'm running into the same issue
[hs_err_pid14376.log](https://github.com/facebook/rocksdb/files/2545847/hs_err_pid14376.log)

[2018-11-04 13:34] pokai0426 commented on #1955
@adamretter how can i do

[2018-11-04 19:17] #4586 closed

[2018-11-04 19:30] ajkr commented on #4622
couple things -

In the original text you mentioned seeing a stalling writes warning. I didn't find that in the log - where did you see it?

Also, it's possible that RocksDB has logged lines using `fwrite` that are yet to be `fflush`'d. We unfortunately don't currently expose a way to make loggers use unbuffered (or line-buffered) mode. But you can call `rocksdb::Logger::Flush` on your `DBOptions:

[2018-11-05 07:00] adamretter commented on #2282
@GalRogozinski My plan is to implement this in the later part of November and December.

[2018-11-05 16:28] pratikdhandharia commented on #4622
@riversand963 I am working on trying to get a simple reproducer with calling manual flush but I haven't been able to find one. I will update this thread as soon as I find one.

@ajkr I did mention about Stalling writes warning in the original message. That was before I tried manual flush. In my application, if I don't trigger manual flush and continue to write key-value pairs in rocksdb, it will e

[2018-11-05 16:37] pratikdhandharia commented on #4622
Also, I am using DropColumnFamily as a mechanism for deleting all key-value pairs in a particular CF instead of iterating over them and deleting each single key-value pair. My assumption is dropping column Family and recreating a new one, is cheaper than iterating over all key-value pairs and deleting them.

Is that a wrong assumption?

[2018-11-06 01:54] ajkr commented on #4622
Dropping a column family (CF) is a good way to efficiently remove a lot of keys. It sounds like there is some possibility the hanging manual flush is targeting an already dropped CF. I will investigate and make sure we handle that case properly.

Also, yes, you need to call `DestroyColumnFamilyHandle` on all the dropped CF's handles at some point in order for that CF's data to actually be deleted.

[2018-11-06 07:04] #4621 closed

[2018-11-06 18:21] #3675 closed

[2018-11-06 18:32] miasantreble commented on #3494
@xuy98 is this still an issue for you?
If so can you please let us know the version of RocksDB you are using?
Otherwise this issue will be closed automatically

[2018-11-06 19:19] pratikdhandharia commented on #4622
Alright, finally I have a sample reproducer.

Steps to Reproduce: (Rename the txt file to cpp file)
[rocksdb_flush_hang.txt](https://github.com/facebook/rocksdb/files/2554678/rocksdb_flush_hang.txt)

1. Compile the sample code attached to this comment.

I used the following command:

ROCKSDB_LIB=/path/to/librocksdb.a
ROCKSDB_INCLUDE/path/to/include/rocksdb
rocksdb_flush_hang: rocksdb_flush_hang.cp

[2018-11-06 21:50] riversand963 commented on #4622
@pratikdhandharia I put your code into rocksdb's code base, but haven't been able to reproduce the hang. The program is able to finish successfully. Before trying to reproduce it, can you tell us your environment, e.g. compiler version, OS, etc.?

[2018-11-06 22:09] riversand963 commented on #4622
Actually, I seem to be able to reproduce. Investigating.

[2018-11-06 22:16] benoitc opened #4644 "inconsistent behaviour with GetApproximateSizes ?"
GetApproximateSizes can return from time to time "0", when expected size is > 6000 bytes for 1 range when including both files and memtables. I'm passing to the function an array of ranges:

[code]

where ranges have been initialised like this:

[code]

Full code : https://gitlab.com/barrel-db/erlang-rocksdb/blob/master/c_src/erocksdb_db.cc#L1301-1381

The test is doing similar to the one in [db_t

[2018-11-07 00:59] riversand963 commented on #4622
@pratikdhandharia I made some trivial changes to your test program, and the updated test program can be found at https://github.com/riversand963/rocksdb/tree/flush_hang_investigation. It's in `examples/flush_example.cc`. Could you checkout this branch and do the following?
[code]

The results of my running it can be found in the commit message (duplicated here)
[code]

[2018-11-07 04:04] hoganfan opened #4645 "MANIFEST write: Corruption: Unable to Encode VersionEdit"
I use the release 5.3.4, meet the error "MANIFEST write: Corruption: Unable to Encode VersionEdit" when auto compact L0->L1. It seems that there is one "ghost" file 806313.sst which can not found.
Is it already known or fixed? Can I fix the data?
I uploaded the log and CURRENT and MANIFEST.

[2018-11-07 04:04] hoganfan commented on #4645
[log.zip](https://github.com/facebook/rocksdb/files/2555979/log.zip)

[2018-11-07 15:54] pratikdhandharia commented on #4622
@riversand963 So I checked-out your branch and did exactly as you mentioned in the comment above.

Details of my machine:
OS: RHEL, Version: 7.4, RAM: 256G, Processors: 40, GCC Version: 4.8.5.

Here is my observation of the first run:

$ rm -rf /tmp/rocksdb && time ./flush_example /tmp/rocksdb 1000000 1
Total key-value pair: 1000000
Use sync write: 1

real	0m52.783s
user	0m3.422s
sys	0m7.410s

**_

[2018-11-07 19:38] riversand963 commented on #4622
@pratikdhandharia , so there are two processes trying to read/write the same db. RocksDB currently does not support this mode and use file locking on the LOCK file to prevent it. In your case, the child process inherits the file descriptor and duplicate the file lock, that's why it is not stopped by the file lock.

[2018-11-07 19:50] riversand963 commented on #4622
Also, is there a particular reason that you want to use multiple-process approach?

[2018-11-08 02:29] jevolk opened #4654 "Various use of std thread primitives bypass rocksdb::port and rocksdb::Env"
There are several instances now where stdlib thread interfaces are used directly without being wrapped by `rocksdb::port` or `rocksdb::Env` as they ought to be.

Notable examples:
- https://github.com/facebook/rocksdb/blob/5.16.fb/memtable/write_buffer_manager.cc#L25
`std::mutex` is used here rather than `rocksdb::port::Mutex`. When the embedding adapts the `rocksdb::port` for alternative threadin

[2018-11-08 05:29] baoxuezhao commented on #4597
I did another test based on the above comments.
1. start an db instance from an empty directory, insert kv with interleaved Committed and UnCommitted transactions, and then exit the program.

[code]
To simulate the program crash, the txn_db instance is not deleted at the end of the program.

2. Next I reopen the the database with the same path as above, and call ```GetAllPreparedTransactions```.
[

[2018-11-08 16:30] pratikdhandharia commented on #4622
I see! I played around my little sample flush program and got more insight. My application currently  forks itself while starting up to deamonize. And when I changed the sequence of operations, I was able to get RocksDB to working with desired behavior.

Now I fork my application before opening Rocksdb even for the first time. This helped me fix the issue.

I believe we can safely close this issue

[2018-11-08 16:30] #4622 closed

[2018-11-08 18:08] maysamyabandeh commented on #4597
The tests are good starting point but I recommend taking it to the next level and dig in the code via gdb and good-old printf to see what is going on. To see how to test GetAllPreparedTransactions you can also get inspired by existing tests in PersistentTwoPhaseTransactionTest.
PS: Since this no longer qualifies as a bug I recommend reaching out to the rocksdb community https://www.facebook.com/gr

[2018-11-09 14:09] benoitc commented on #4644
Current theory is that the data has been written in SST files. But then i'm confused about what means include_files there. Shouldn't it return also the size?

The [unit test](https://gitlab.com/barrel-db/erlang-rocksdb/blob/master/test/db.erl#L178-205) is actually a port of the[ApproximateSizesMemTable](https://github.com/facebook/rocksdb/blob/master/db/db_test.cc#L1254) test  in  db_tests.cc in e

[2018-11-09 17:52] anand1976 commented on #3439
@venuchitta There have been improvements to the LRU cache locking in the past few months. Do you want to re-try your experiment with the latest and see if performance with block cache on is better?

[2018-11-09 17:54] anand1976 commented on #3521
Closing due to no response

[2018-11-09 17:54] #3521 closed

[2018-11-09 18:00] anand1976 commented on #3760
@absolute8511 I know its been a while. Did disabling THP resolve the high ```write_memtable_time```?

[2018-11-09 22:43] yiwu-arbug commented on #4280
Closing for no response. Please reopen if needed.

[2018-11-09 22:43] #4280 closed

[2018-11-09 22:54] yiwu-arbug commented on #4477
@huachaohuang @siddontang sorry for delay. I didn't get a chance to check. I'll see if I'll get a chance next week.

[2018-11-10 11:35] absolute8511 commented on #3760
@anand1976 Yeah, it is resolved.

[2018-11-12 18:42] jcalcote opened #4667 "Allow merge operator to return nullptr in new-value to indicate desire to remove key."
I'd like to implement a RefCountOperator that works similarly to the UInt64AddOperator in that it allows deltas to be passed in. The RefCountOperator, however, would never allow the count to go negative, and when the addition results in zero, the key is removed. In this manner, a ref-counted key could be completely managed by the merge operator.

Here's how my merge function would work - note the

[2018-11-12 18:54] sagar0 commented on #4645
From the LOG:
[code]

[2018-11-12 19:46] anand1976 commented on #3760
Thanks. I'll close this issue.

[2018-11-12 19:46] #3760 closed

[2018-11-12 20:21] ajkr commented on #4645
That's good, it looks like the ghost file wasn't written to the manifest. Can you open your DB with `max_subcompactions=1` and see if it works? It looks like 806313.sst (the ghost SST) and 806314.sst (the non-ghost SST in the same compaction) are generated by different threads, indicating subcompactions are enabled.

[2018-11-12 21:52] Banu27 opened #4670 "SIGSEGV on db open"
Rocksdb version: 5.14.2
JVM version: JDK-1_8_0_72

### Actual behavior: Segmentation fault during rocksdb open. This wasn't happening in the past and we have been on this version for almost 3 months now. Please let me know if any other information would be helpful

Stack trace:

`R14=0x00007f7ce3ffb060: <offset 0x8fa060> in /export/content/lid/apps/followfeed-storage/50b8fc1343aa4fbdcfd954006b616c

[2018-11-12 22:39] ajkr commented on #4452
Those are runtime options that the user provides to RocksDB every time a DB is opened. They are not set during RocksDB shared library installation.

[2018-11-12 22:54] ajkr commented on #4452
I agree we should have a pkg-config file, though. I just don't see that it needs to require compression libraries.

[2018-11-12 22:56] ajkr commented on #4422
I guess it can wait for them to upgrade.

[2018-11-12 22:56] #4422 closed

[2018-11-12 22:58] #4184 closed

[2018-11-12 22:59] #4420 closed

[2018-11-12 23:08] ajkr commented on #3961
Currently it looks like no. Do you still need it?

[2018-11-13 00:41] sagar0 opened #4673 "Appveyor builds are failing with "Build exceeded allowed resource quotas" error"
All appveyor builds are currently failing with the message:
[code]
Example: https://ci.appveyor.com/project/Facebook/rocksdb/builds/20222437/messages

We are aware of the issue, and are investigating internally.

[2018-11-13 00:49] sagar0 opened #4674 "Add Travis windows build"
Travis CI now support windows: https://blog.travis-ci.com/2018-10-11-windows-early-release . It would be good to test RocksDB on their windows containers, and make any needed changes. It would also help us to unify all our continuous testing to be on a single platform.

[2018-11-13 02:35] hoganfan commented on #4645
Sorry, I can't reproduce it.
I have met the bug 3 times on 2 different modules with rocksdb-5.14.2. After I delete the DB and restart it, they have never been reproduced.
I used rocksdb-5.3.4 before, and never met this bug on many modules for more than 1 year.
But I always set `max_subcompactions=3` before, I'll change it to `max_subcompactions=1` just in case.

[2018-11-13 10:43] benoitc commented on #4644
is there anything i should check? This error comes often dring our unit tests, and it's not good to restart them to fix it...

[2018-11-13 18:33] sagar0 commented on #1955
@pokai0426 Looking at the log, your crash seems be in `RocksDB.put` whereas the earlier crash's stack trace shows `RocksDB.get`. So this might be a different issue. However, could you get use the line numbers by following the instructions here: https://github.com/facebook/rocksdb/wiki/JNI-Debugging . See if you can reproduce the issue with debug binaries if you can.

[2018-11-13 18:40] sagar0 commented on #4613
@maysamyabandeh could you take a look?

[2018-11-13 19:13] sagar0 commented on #4670
If you are able to consistently reproduce the issue, could you provide a small test case? That would make things much easier to debug.

[2018-11-13 19:32] #3840 closed

[2018-11-13 19:41] sagar0 commented on #2770
Closing this as its been too long. Please let us know if you are running into this issue and we can reopen it.

[2018-11-13 19:41] #2770 closed

[2018-11-13 19:47] #3013 closed

[2018-11-13 19:48] sagar0 commented on #3468
@bajrachar are you still seeing this issue with the latest versions of RocksDB?

[2018-11-13 19:49] sagar0 commented on #3458
Closing as there's no new information provided.

[2018-11-13 19:49] #3458 closed

[2018-11-13 20:02] sagar0 commented on #4088
I believe this is fixed.

[2018-11-13 20:02] #4088 closed

[2018-11-13 20:05] sagar0 commented on #3446
@rbrasga Checking in ... Were you able to get through your legal to sign the CLA?

[2018-11-13 20:07] sagar0 commented on #3314
Closing, as there has been no follow up with the requested information.

[2018-11-13 20:07] #3314 closed

[2018-11-13 20:10] sagar0 commented on #3486
I believe this is fixed. Please let us know if you still see any errors and we'd happy to investigate further.

[2018-11-13 20:10] #3486 closed

[2018-11-13 21:22] #4059 closed

[2018-11-13 22:08] Banu27 commented on #4670
Hi @sagar0 ,

We are not able to reproduce the crash at this point but it did happen about 5/6 times in the past week. Also, we have unit tests for the db open codepath and they are passing fine. Since there is no definitive set of steps to reproduce, Could you maybe publish a version on maven which enables c++ line numbers? We can pull it from there and have it run in production. When the failure

[2018-11-14 00:02] maysamyabandeh commented on #4613
Thanks @cooljiansir Seems to be a valid issue. One solution could be marking the prepared logs in the write thread via PreReleaseCallback. (We can then remove logs_with_prep_mutex_ as it would be already protected by mutex_.) The drawback would be longer write time which could have negative impact in performance but I do not see any way around it.
@yiwu-arbug @lth what do you think?

[2018-11-14 00:21] sagar0 commented on #4670
@Banu27 -- I see a few places in DBImpl::Open where InstrumentedMutex::Lock() is called, so it would be quite difficult to debug without having the line numbers and/or a reproducible test case.

We don't publish debug builds to maven; moreover the debug builds will have much worse performance to run in production. However I think its worth considering publishing Debug jars to maven in the future.

[2018-11-14 01:50] rbrasga commented on #3446
@sagar0 Amazingly, the CLA is still in progress. However, I will submit a pull request later today or tomorrow from my personal account. Thank you for following up!

[2018-11-14 02:05] lth commented on #4613
That sounds reasonable to me, since we need some way of writing WAL and marking logs atomically.

We will have to extend the callback to include log_used though, so we just have to make sure that's available when we call the callback.

[2018-11-15 07:16] amitdesai03 commented on #4485
Hey @rockeet , i was thinking to contribute here, but unsure if its begineers task?

[2018-11-15 07:19] yiwu-arbug commented on #4613
+1 for marking log atomically during write. I'm not familiar with the `MarkLogAsContainingPrepSection` though. Not sure if it will really have impact on write time.

[2018-11-15 08:20] andrewt0301 opened #4684 "rocksjni: possible bug in options_util.cc - no return after setting an exception"
Methods [Java_org_rocksdb_OptionsUtil_loadLatestOptions](https://github.com/facebook/rocksdb/blob/147697420ab60c85deb13cea4532844e3f2ae352/java/rocksjni/options_util.cc#L68) and [Java_org_rocksdb_OptionsUtil_loadOptionsFromFile](https://github.com/facebook/rocksdb/blob/147697420ab60c85deb13cea4532844e3f2ae352/java/rocksjni/options_util.cc#L91) in the  [options_util.cc](https://github.com/facebook/

[2018-11-15 08:43] rockeet commented on #4485
I think a beginner may needs at least two week for this task.

[2018-11-15 23:01] ssabnis opened #4685 "Erros when Make All"
### Expected behavior
Compile success
### Actual behavior
[code]
### Steps to reproduce the behavior

Checkout the latest `master` branch and compile using `CentOS 7.4`

[2018-11-16 13:03] adamretter commented on #4684
Indeed.

Alternatively just a `return;` after the `rocksdb::RocksDBExceptionJni::ThrowNew(env, s);` would also be fine.

[2018-11-16 15:36] arnetheduck opened #4688 "Unity build fails with gcc 8.2"
### Expected behavior
`make unity` succeeds

### Actual behavior
`make unity` fails

### Steps to reproduce the behavior
147697420ab60c85deb13cea4532844e3f2ae352

[code]

[2018-11-16 15:38] arnetheduck opened #4689 "Amalgamation build fails on fedora linux"
### Expected behavior
`make rocksdb.cc` works

### Actual behavior
`make rocksdb.cc` fails

### Steps to reproduce the behavior
147697420ab60c85deb13cea4532844e3f2ae352

[code]

[2018-11-16 22:27] ssabnis opened #4694 "Error during benchmark testing"
### Expected behavior
Run the bulkload  bench mark
### Actual behavior
[code]

### Steps to reproduce the behavior
`tools/benchmark.sh bulkload`

Unable to conduct the bench mark testing, even though I have the lib installed.

OS CentOS 7.5

[2018-11-17 23:41] ganibc opened #4696 "Resource temporarily unavailable error for just copied database"
I'm new with rocksdb and I cannot find anything to suggest the issue I'm having.

### Expected behavior
If I copied to another directory, that no other people access it.
When calling db open, there shouldn't be any lock issue.

### Actual behavior
If I copied to another directory, that no other people access it.
When calling db open, sometimes I'm getting:
[code]
### Steps to reproduce the behavio

[2018-11-18 17:56] benoitc commented on #4644
closing issue as it's not enough described IMO. I will reopen a more descriptive one.

[2018-11-18 17:56] #4644 closed

[2018-11-19 00:08] ajkr commented on #4694
Where is the library installed? I learned recently that CentOS doesn't search /usr/local/lib for shared libraries, which seemed surprising. If that's the issue, this answer might help: https://stackoverflow.com/a/4743249

[2018-11-19 07:36] ganibc commented on #4696
This is not rocksdb issue. There're 2 application trying to open rocksdb one after another.
Closing this issue.

[2018-11-19 07:36] #4696 closed

[2018-11-20 06:13] ssabnis commented on #4694
Thanks @ajkr ,

After that doing I am getting the following error.

[code]
i spent more than half a day. Can you help

Thanks

[2018-11-20 13:13] toktarev opened #4699 "Compaction process is not resilent against asyncrhonous shutdown"
[code]

### Expected behavior

Correct shutting down

### Actual behavior

libc++abi.dylib: terminating

### Steps to reproduce the behavior

Just run the above code

[2018-11-20 13:51] toktarev commented on #4699
They key point here is t.join() call;

If it presents everything works fine otherwise
libc++abi.dylib: terminating;