[2022-01-11 00:59] riversand963 commented on #9223
Thanks @sunlike-Lipo, will take a look and get back to you.

[2022-01-11 03:17] holmescn commented on #8609
I am facing the same problem on Android armv7-a. I tried to add `__arm__` as `__aarch64__` but I didn't find the virtual counter register for armv7-a archtecture.

[2022-01-11 03:45] holmescn commented on #8609
Here is my patch
[code]
But I don't have an armv7-a device. anyone who would like to try it ,please report if it works. it compiled successfully.

[2022-01-11 14:21] jmertic commented on #3744
@adamretter - Probably - can you email at jmertic at linuxfoundation dot org and we can see what is needed?

[2022-01-11 16:20] niklasf opened #9375 "Regression in memory usage for db open after #8692"
A test instance of one column family produced by https://github.com/niklasf/lila-openingexplorer:
* has 50 million random keys
* of fixed length
* with a fixed-size prefix extractor
* custom merge operator
* 2 bit per key bloom filter with new format
* 500 MB LRU cache

### Expected behavior

A process that just opens the database using RocksDB `9a116ab~1` needs about 50 MB RAM (RSS).

`rocksdb.es

[2022-01-11 20:16] pdillinger commented on #9375
IIRC, this change fixed a bug where the hash index would not be used. Very large indexes might just be the effect of the bug fix. It looks like you are generating hash indexes. Using the default kBinarySearch index (only) should give you the old behavior.

https://github.com/niklasf/lila-openingexplorer/blob/44335964d5062abc5d2c8b33ed52ebed93357ac5/src/db.rs#L37

[2022-01-11 21:02] ajkr commented on #9367
Should we copy the data into block cache when mmap reads and block cache are both enabled? I imagine not doing so can also cause uneven query perf when a subset of data blocks are stored uncompressed due to poor compression ratio.

I think #5504 surfaced this by fixing an issue (previously with mmap read, querying a filter block could transparently read from storage without verifying checksum).

[2022-01-11 21:15] ltamasi commented on #9367
Yeah, that's what I was thinking too.

Right. In addition, index blocks might be uncompressed as well.

[2022-01-11 22:07] niklasf commented on #9375
Thank you, that clears it up!

In can confirm that the memory usage is back to the previous level.

There also doesn't appear to be any performance regression from not using kBinarySearch. As expected, if it wasn't really used in the first place.

[2022-01-11 22:07] #9375 closed

[2022-01-12 06:02] ajkr commented on #9336
During ingestion, could we write current time as `oldest_ancester_time` to MANIFEST? When `ExternalSstFilePropertyNames::kVersion` property is present in an SST, we can access `FileMetaData::oldest_ancester_time` to learn when the file was ingested. This is similar to the technique we use to make `FileMetaData::largest_seqno` the global seqno when ingestion cannot mutate table properties.

I think

[2022-01-12 06:50] dbw9580 opened #9378 "Segfault in BlockBasedTableIterator::CheckDataBlockWithinUpperBound() using JNI"
Hi, we are using RocksDB to store file system metadata in Alluxio. When retrieving these metadata from RocksDB, it occasionally segfaults with the following stack trace:

[code]

We are using RocksDB 6.25.3.

### Steps to reproduce the behavior

Currently we don't have a reproduction without involving Alluxio. So the steps to reproduce this is
1. Start an Alluxio cluster with [rocksdb as the metas

[2022-01-12 07:06] riversand963 opened #9379 "Build RocksDB fuzz testing"
tl,dr;
Fix the compilation errors in rocksdb/fuzz/sst_file_writer_fuzzer.cc, and include this file in `make check` (optional), and add a new CircleCI for it.

### Expected behavior
RocksDB fuzz testing framework (rocksdb/fuzz) can be built and run.

### Actual behavior
Compilation failed due to usage of out-dated APIs in sst_file_writer_fuzzer.cc

### Steps to reproduce the behavior
(Tried on Cent

[2022-01-12 07:24] halberdholder commented on #7363
i came cross the same issue, thanks @meilihao @siying

[2022-01-12 08:11] ajkr commented on #9291
@briantkim93 Perhaps #7599 could be a good starter task?

[2022-01-12 08:17] jiacheliu3 commented on #9378
Adding to the above context:

**How does Alluxio use RocksDB**

From the crash stacktrace, the code throwing the segfault is from
https://github.com/Alluxio/alluxio/blob/b65655e9ba7c3b7fed1ea77e6454174921c53965/core/server/master/src/main/java/alluxio/master/metastore/rocks/RocksBlockStore.java#L160

Pasting the exact code here, hoping that helps further discussion and reference a bit:
[code]

All

[2022-01-12 08:39] jiacheliu3 commented on #9378
It'll be great if you could let us know what we can better collect from the somewhat-frequent reproductions (anything like RocksDB logs?), or how we can further debug this (like how to find the on-disk file causing the segfault etc).

[2022-01-12 17:40] riversand963 opened #9382 "Bring `rdb` to python3 and add it to CI-build or move it to a separate repo or deprecate it"
According to https://github.com/facebook/rocksdb/tree/main/tools/rdb#readme, rdb relies on Python2 for which support is no longer provided, even for security issues (https://www.python.org/doc/sunset-python-2/).

Currently, the tools/rdb is not compiled during daily development, making it easy to break. If the decision is to keep rdb in rocksdb main repo, we should include it in at least one CI bu

[2022-01-12 18:58] siying commented on #9378
This line:
[code]
might be problematic. I don't whether it is the root of the problem, but Slice probably needs to be hold during the whole process. This is very similar to your previous reporting: https://groups.google.com/g/rocksdb/c/PwapmWwyBbc/m/Wh4N89tjBgAJ

Can you give a similar fix a try?

[2022-01-12 20:02] yuzhu commented on #9378
thanks for the quick response! In this case, since we do hold a reference to the `readOptions` object, which  holds a reference to the object created by `new Slice(endKey)`. I don't see how this object could be garbage collected?

[2022-01-12 21:00] siying commented on #9378
ReadOptions actually doesn't hold a reference to Slice. I think this is an implementation that we probably should improve but I think this is how it is now.

[2022-01-12 21:21] #8046 closed

[2022-01-12 22:35] yuzhu commented on #9378
Thanks, we will give this a try.

[2022-01-13 01:21] #7720 closed

[2022-01-13 01:26] riversand963 commented on #8345
Thanks for reporting. Would you like to contribute a fix?

[2022-01-13 01:54] jiacheliu3 commented on #9378
Thanks a lot for the replies @siying  ! Sure we will try the suggested fix and update asap.

But sorry I still fail to understand why the `ReadOptions` does not hold a ref to the Slice. I'm looking at https://github.com/facebook/rocksdb/blob/0103296f39ec3fd89b4cdda9687c63fde90eec24/java/src/main/java/org/rocksdb/ReadOptions.java#L492
[code]
The method argument is a reference to the anonymous `new

[2022-01-13 02:04] igorrogov commented on #8345
Yes, we might. One of our developers will be looking into it soon. I'll ask him to send a patch/PR.

[2022-01-13 04:29] taiyang-li commented on #4063
Me too. Any progress ?

[2022-01-13 07:07] cheng-chang commented on #9378
@jiacheliu3 `ReadOptions` does hold a reference to the `Slice`, but in after the `ReadOptions` is created in `final ReadOptions readOptions = new ReadOptions().setIterateUpperBound(new Slice(endKey));`, it's only referenced once in `try (RocksIterator iter = db().newIterator(mBlockLocationsColumn.get(), readOptions)) {`, if you look into `newIterator`: https://github.com/facebook/rocksdb/blob/main

[2022-01-13 07:28] briantkim93 commented on #9291
Awesome, thanks @ajkr I'm going to work on it

[2022-01-13 15:09] etherond commented on #7720
Yes, it was merged a few hours ago! You can try it by cloning the official repo's `main` branch and running `make rocksdbjavastatic` to produce a JAR to test on your local machine.

Thanks again to @jurmous for the investigation work that led to the solution :)

[2022-01-13 18:08] siying commented on #9378
You are correct. Sorry for my previous wrong answer. I think it might have something to do with how RocksDB Java deals with native handle. As @cheng-chang said, it is possible that Java might think some objects are of no use anymore, while RocksDB still keeps its native handle. I suspect that it might have happened for endKey, and perhaps readOptions too. It's just a suspicious and I don't know ho

[2022-01-13 18:10] siying commented on #9378
@adamretter do you have any thought how we can test and/or fix the problem?

[2022-01-13 18:16] siying commented on #9378
I guess one way to hack it around is to create a class contains endKey, readOptions and iter so that as long as the class is kept around, they are not GCed.

[2022-01-14 01:48] loop commented on #7720
@etherond When will this version be pushed to maven?

[2022-01-14 04:39] benkeil commented on #7720
A release or at least a nightly build version would be useful.

[2022-01-14 09:08] bbkot commented on #8345
created pull request , with solution proposed solution
here you are the link

https://github.com/facebook/rocksdb/pull/9384

[2022-01-14 11:46] etherond commented on #7720
@loop From what I understand of the project's [release methodology](https://github.com/facebook/rocksdb/wiki/RocksDB-Release-Methodology), it should be at least a few more weeks before a new version based on the current `main` is released publicly...
In the meantime, it seems that you could build your own cross-platform JAR by following instructions in `RELEASE.md` (as indicated earlier, I didn't

[2022-01-14 11:54] jurmous commented on #7720
I am not aware of any nightly builds that exist.

It is possible to use a build of 6.25.3 already build manually by me to be universal from Maven Central: io.maryk.rocksdb:rocksdbjni:6.25.3

[2022-01-14 13:32] liam-thunder opened #9385 "db_crashtest.py blackbox test failed in TestCheckpoint"
Below error keeps showing when trying to run db_crashtest.py 's blackbox test for v6.27.3:

[code]

each round db_stress will run with below params:

After reading code and added few extra log, I found that the missing key's status in expected value is UNKNOWN_SENTINEL, while in:

https://github.com/facebook/rocksdb/blob/5602b1d3d9021c0e57490db4237841eaef01445d/db_stress_tool/expected_state.cc#L68

[2022-01-14 19:58] #9271 closed

[2022-01-14 21:51] sike-evolve commented on #8916
@jcalcote -- Here is how RocksDB handles the number of keys.
bool InternalStats::HandleEstimateNumKeys(uint64_t* value, DBImpl* /*db*/,
                                          Version* /*version*/) {
  // Estimate number of entries in the column family:
  // Use estimated entries in tables + total entries in memtables.
  const auto* vstorage = cfd_->current()->storage_info();
  uint64_t estimate

[2022-01-14 23:58] pdillinger opened #9388 "Dropping some compiler support in 7.0"
Planned minimum compiler support for RocksDB 7.0 (based on "Stop Supporting Older GCC versions" in https://www.facebook.com/groups/rocksdb.dev/):

C++17 standard (from C++11)
GCC 7.x (from 4.8.x)
Visual Studio 2017 (from 2015)
Clang 5 (from 3.3?)

Please let us know in comments here if you have concerns

[2022-01-15 00:04] pdillinger opened #9389 "Removing some deprecated APIs in 7.0"
In the upcoming 7.0 major release we plan to remove some APIs marked "deprecated." We have have not committed to which will or will not be removed, but let us know in comments if you have particular concerns (such as deprecated API with no workable alternative).

Deprecated options to remove:
- max_mem_compaction_level
- soft_rate_limit
- hard_rate_limit
- rate_limit_delay_max_milliseconds
- purge

[2022-01-15 00:12] pdillinger opened #9390 "NOTICE: Changes planned for RocksDB 7.0 release"
The next major release of RocksDB, 7.0, is planned for cut in February 2022 and release in March 2022.

Here are some relevant linked issues with various planned changes:

Removing some compiler support in 7.0 #9388, including requiring gcc >= 7 and C++17
Removing some deprecated APIs in 7.0 #9389
Move RADOS support to a separate plugin repo #9207
Move HDFS support from RocksDB main repo to plugin

[2022-01-15 01:02] loop commented on #7720
@etherond Tried building my own. Ran:

`PORTABLE=1 make clean rocksdbjavastaticosx_ub --debug`

It created a `rocksdbjni-6.28.0-osx.jar`

When i try to use it it says:

`Caused by: java.lang.RuntimeException: librocksdbjni-osx-aarch64.jnilib was not found inside JAR.`

I thought `PORTABLE=1` should include the jnilib inside the jar?

[2022-01-15 03:19] liam-thunder commented on #9385
Hi @riversand963, Could you please take a look on this issue, thx.

[2022-01-16 15:47] mpoeter opened #9391 "Allow multiple active memtables"
From what I found in the documentation, there can be only a single active memtable. Is there a particular reason for this limitation?

I think it could be beneficial to have multiple active memtables, especially when using a prefix_extractor. Suppose we have a fixed size hashmap for the memtables, and the prefix hash determines which memtable to use. That could not only reduce contention on the me

[2022-01-16 15:50] mpoeter commented on #5083
@frew Yes, but only for a short time before I was again sucked into a different project. However, I switched jobs in the meantime and am now working even more with RocksDB, so there is a good chance I might look into this again, but probably not in the next weeks.

[2022-01-16 21:05] dpeuscher commented on #8609
built it with an armv7 from a Raspberry Pi 4 (ARMv7 rev 3) and it also compiled successfully with the patch

[2022-01-17 03:47] jiacheliu3 commented on #9378
I see a lot of patterns like https://github.com/facebook/rocksdb/blob/53c8f739fd266bb9e755eccceea7adb4d5126083/java/src/main/java/org/rocksdb/RocksDB.java#L3150 where the `nativeHandle_` is passed while the original holder object is untouched (and subsequently may get GC-ed). I guess if this is a problem then it is quite general and applies to many places in RocksDB code?

Not sure if I understand

[2022-01-17 08:28] sunlike-Lipo commented on #9223
Very sorry to bother you, but have you reviewed the demo recently?
If it is implemented in the way that you expected, I will open a pull request for a formal review.

[2022-01-17 13:45] alanpaxton commented on #9378
Hi, just dropping in to introduce myself. I work for @adamretter and I have been looking at some changes and improvements in RocksJava. First to confirm [memory mgmt](https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management ) is the guidance for how to stay safe while using the JNI interface to RocksDB.

Also @jiacheliu3 you are right that we can potentially hold multiple java r

[2022-01-17 19:48] pdillinger commented on #9391
To be more precise, there is one mutable memtable per column family. There can be immutable memtables as well.

We have an existing community contributed feature SstPartitioner that sets boundaries for sorted runs (IIRC to make leveled compaction more efficient on some kinds of data). One could make an option to use the same on memtables, but it would be a significant, risky change. I could see th

[2022-01-18 07:51] jiacheliu3 commented on #9378
Thanks for the reply @alanpaxton !

We are currently trying siying's idea and scrutinizing all our past usages for `RocksObject` and closing them more carefully. However do you guys know how to squeeze more info from a Rocks segfault, like seeing which exact object caused it and what that object looks like? As you see we are using JNI and don't have too much expertise in core dump analysis.

On yo

[2022-01-18 09:20] alanpaxton commented on #9378
Hi @jiacheliu3 I think for documentation you just want to add to the [wiki](https://github.com/facebook/rocksdb/wiki) where the info is missing or outdated.

I'll gladly share what I'm doing in a draft PR as soon as I make any progress. I generally work in public in my fork (github.com/alanpaxton/rocksdb) and I'm alan at evolvedbinary dot com.

I'm not aware how to get anything more out of the sta

[2022-01-18 11:09] mpoeter commented on #9391
Yes, by "active" I actually meant "mutable" I just couldn't think of the correct term. :)

I know, but also lock-free data structures can suffer from contention on frequently changed memory locations, but to be fair this never showed up in any of my profiling runs (the key comparison was much more dominant).

I am not sure if I understand you correctly, but let me provide very a simple example. Su

[2022-01-18 13:14] adamretter commented on #9378
@jiacheliu3 @dbw9580 I have seen some examples of where Java Objects are GC'd but are still needed in subsequent API calls - this can cause such a segfault, although I can't be certain that this is your issue.

In the early design of the RocksJava API (before I was involved), it was decided that the `finalize` method of each Java Object should free any underlying C++ objects that are owned by that

[2022-01-18 17:51] pdillinger commented on #9385
This isn't reproducing for me on main branch. Can you tell me what compiler and OS+distro+version you're using? What filesystem type is /mnt/nvme01? Is this device healthy?

[2022-01-18 18:39] pdillinger commented on #9385
I eventually got a different failure

[code]

[2022-01-18 19:51] cheng-chang opened #9397 "Alternative layouts for SST files"
@siying shared a post about HTAP. It reminded me of the Ressi data layout in [Spanner](https://static.googleusercontent.com/media/research.google.com/en//pubs/archive/46103.pdf), which is based on [PAX](https://www.pdl.cmu.edu/PDL-FTP/Database/pax.pdf).

After moving from local storage to cloud storage, all SST files are stored in the cloud filesystem. Similar to the design of remote compaction co

[2022-01-18 22:01] riversand963 commented on #9389
Repeating here to boost this post:

This is the current list we plan to remove.

Deprecated options to remove:

max_mem_compaction_level
soft_rate_limit
hard_rate_limit
rate_limit_delay_max_milliseconds
purge_redundant_kvs_while_flush
base_background_compactions
skip_log_error_on_recovery
preserve_deletes
iter_start_seqnum
table_cache_remove_scan_count_limit
Deprecated APIs to remove:

ROCKSDB_DEP

[2022-01-18 22:58] riversand963 commented on #9223
@sunlike-Lipo Sorry for the delay.
After reviewing at high level, I think the idea of creating a new InternalIterator is what I have suggested. Feel free to create a PR and we can continue from there.
According to our prior discussion, it would be nice to make sure history trimming happens at db instance recovery. Otherwise, it would be more complex to reason about possibly concurrent compactions/

[2022-01-19 04:28] #5954 closed

[2022-01-19 15:39] dparrella commented on #7299
+1 on this. This was an unfortunate discovery on the project I am working on. We are building SST files from Redshift data for use in a data pipeline for event enrichment and we wanted to use a `TtlDB`.

As a workaround we are considering just re-building the database periodically to achieve the same TTL.

[2022-01-19 16:20] liam-thunder commented on #9385
compiler: gcc version 8.5.0 20210514 (Red Hat 8.5.0-4) (GCC)
distro: CentOS Linux release 8.5.2111
kernel: 4.18.0-348.2.1.el8_5.x86_64
filesystem: ext4
The device is a 2TB intel dc p4510 nvme ssd and I believe is healthy

[2022-01-20 04:25] ajkr commented on #9385
Thank you very much for debugging the expected value. I think it is a bug for it to be UNKNOWN_SENTINEL during checkpoint. We are supposed to acquire mutexes for the keys that will be verified in the checkpoint; they should not be undergoing mutation in other threads.

Can you help me figure out where `--column_families=1` comes from in your `db_stress` command? For me it only shows up when I run

[2022-01-20 06:09] pdillinger commented on #9391
In your contrived example you assume essentially twice as much memory devoted to memtables in the second case as in the first case. If you simply devote the same amount of memory to memtables in the first case, it essentially fixes the problem, and with one L0 file instead of two L0 files, which is better for read amplification and write amplification (compaction triggering).

[2022-01-20 07:26] ylsGit opened #9408 "Rocksdb uses too much memory <50GB>"
When I open a DB, the memory usage is 50GB.
Is this normal? Should I optimise any parameters or upgrade any version?

rocksdb version: 6.15.5
rocksdb data size: 2TB
rocksdb LOG:
[code]

### Expected behavior

Smaller memory footprint after opening DB

### Actual behavior

After opening DB, there is no read or write operation and the machine memory consumption is about 50GB

### Steps to reproduce

[2022-01-20 08:27] mpoeter commented on #9391
Yes, for this particular example that would be true. But if different prefixes occur with different frequency this is no longer the case. Consider for example that we write the following keys: ``
If we flush every four elements we would get:
[code]
If, for fairness with respect to memory consumption, we double the size of the single memtable we would end up with:
[code]
With this partitioning we w

[2022-01-20 11:57] sunlike-Lipo commented on #9223
@riversand963
I create a PR https://github.com/facebook/rocksdb/pull/9410. Please take a review when you are not busy.
Thanks a lot.

[2022-01-20 16:19] liam-thunder commented on #9385
Hi @ajkr, I've checked my command again, yes it has `--simple`, so the command should be

[2022-01-20 16:20] liam-thunder commented on #9385
As for mutex, could these lines:

https://github.com/facebook/rocksdb/blob/ffe1e4b8207650f50ba2202020b7ad2fad891b11/db_stress_tool/db_stress_test_base.cc#L745-L749

https://github.com/facebook/rocksdb/blob/ffe1e4b8207650f50ba2202020b7ad2fad891b11/db_stress_tool/no_batched_ops_stress.cc#L495-L499

be enough to guard the key unmodified by other threads?

And I left my debug observation here, hope it

[2022-01-20 18:47] ajkr commented on #9385
@liam-thunder Thanks for the details. Of course you are right - the UNKNOWN_SENTINEL could be left over from a previous crash. It does not necessarily mean the key is undergoing mutation in another thread, as I had stated previously.

[2022-01-20 19:11] jcalcote commented on #8916
@sike-evolve - thanks for the feedback, but I solved my problem by just assuming the database had a very large number of keys in my code. This worked for me as I really did just need an estimate, but a value larger than the actual number of keys for me is better than a very small value that's significantly lower than the actual number. As I said, for my use case, this was sufficient. I'm sorry you

[2022-01-21 00:16] hgdesai commented on #761
@igorcanadi when I type command yum install libsnappy-dev
Last metadata expiration check: 0:50:59 ago on Thu 20 Jan 2022 05:21:21 PM CST.
No match for argument: libsnappy-dev
Error: Unable to find a match. This is for Centos 8 Operating System.

[2022-01-21 02:59] ajkr commented on #9408
With the info provided, yes.

You can try https://github.com/facebook/rocksdb/blob/cd50078ae0fbad85ae04d8ddf30c049be7f97b4a/include/rocksdb/utilities/memory_util.h#L44-L47 to see where the memory usage is coming from.

Considering the provided info (cache_index_and_filter_blocks=0, max_open_files=-1, and 2TB DB size), I'd speculate table readers are consuming memory by holding index and filter blo

[2022-01-21 02:59] #9408 closed

[2022-01-21 03:07] liam-thunder commented on #9385
Sure, glad it can help!

[2022-01-21 18:38] riversand963 commented on #9379
I am going to give this a shot. If the dependency on protobuf3 and libprotobuf-mutator is so hard that we cannot easily manage it (add it to make check and CI), I would vote for removing it for now and migrating to a separate repo.

@cheng-chang.

[2022-01-21 22:03] riversand963 commented on #9379
After fixing compilation, linking now fails with
[code]

[2022-01-22 00:00] pdillinger commented on #9389
(Will also update the description with these)

Deprecated override implementations to remove (derived classes must now implement):

Env::Name
EnvWrapper::Name
FileSystemWrapper::Name
Statistics::Name
FilterBitsBuilder::ApproximateNumEntries

Deprecated APIs to remove:

ObjectLibrary::Register (uses regexes)
FilterBitsBuilder::CalculateNumEntry
FilterPolicy::CreateFilter (for slow, deprecated block

[2022-01-22 00:06] riversand963 commented on #9379
[code]
Applying the above fixes the link error. (should have noticed earlier)

[2022-01-22 01:05] xunlai opened #9419 "RocksDB deleted some sst files around the time of the shutdown, but later re-opening db complained about missing those files"
### Expected behavior
Normal shutdown of the DB, and re-opening of the DB should succeed.
 
### Actual behavior
Normal shutdown of the DB, but re-opening of the DB failed and complained about missing files due to deleted sst files.
 
### Steps to reproduce the behavior
I can't reproduce it easily.  But it happened sometimes in our production system.  Here is what I captured.
 
The last few lines o

[2022-01-23 23:19] hdesai78 commented on #761
i have installed snappy using yum install snappy command before compiling rocksdb. Also, I ran following link command "“ln -sfT /usr/local/rocksdb-6.xx.x /usr/local/rocksdb" but snappy is not linked binary issue is still persist. I am using Centos 8.0

[2022-01-23 23:22] hdesai78 opened #9422 "SNAPPY LINK ISSUE TO BINARY"
###> Note: Please use Issues only for bug reports. For questions, discussions, feature requests, etc. post to dev group: https://groups.google.com/forum/#!forum/rocksdb or https://www.facebook.com/groups/rocksdb.dev

### Expected behavior
rocksdb shoul_bench command it shows error "[root@RocksDBNew rocksdb-6.27.3]# ./db_bench
Initializing RocksDB Options from the specified file
Initializing RocksD

[2022-01-24 08:38] ylsGit commented on #9408
Thanks.

I reduced the max_open_files and the memory footprint was reduced, but of course the performance was also reduced.

This solved my problem.

[2022-01-24 10:51] adamretter commented on #761
@hgdesai After installing Snappy you have to rebuild RocksDB. You also need tom make sure you installed `snappy-devel` in CentOS.

[2022-01-24 10:55] adamretter commented on #9422
@hdesai78 I think as you also posted here https://github.com/facebook/rocksdb/issues/761#issuecomment-1019589468 I answered your question there.

[2022-01-24 10:55] #9422 closed

[2022-01-24 16:38] dtanner commented on #7720
@jurmous One issue I noticed is that the jar you uploaded targets JDK 15, so isn't compatible with runtimes older than that. In my case I'm trying to retrofit a JDK 11 project. Shouldn't be a big deal to resolve and build locally, just wanted to give a heads-up.
The symptom is:
[code]

[2022-01-24 17:25] mdcallag opened #9423 "There are too many write stalls because the write slowdown stage is frequently skipped"
### Expected behavior

Write slowdowns should be applied long before write stalls

### Actual behavior

The bytes pending compaction value computed in [EstimateCompactionBytesNeeded](https://github.com/facebook/rocksdb/blob/b860a4215893c5862c7df1bbe14c30fc50af9b28/db/version_set.cc#L2573) changes too rapidly. With write-heavy workloads (db_bench --benchmarks=overwrite) RocksDB can change within 1

[2022-01-24 17:44] mdcallag commented on #9423
For 2 workloads (cpu-bound, IO-bound) repeated with 3 configs comparing v6.26.1 without and with the PoC fix listed above:

all use:
[code]

x1 uses:
[code]

x2 uses:
[code]

x3 uses
[code]

Below, _old_ is upstream without changes and _new_ has the PoC diff. The diff fixes the stalls with a small benefit to average throughput. The worst case stall without the fix is between 218 and 319 seconds fo

[2022-01-24 17:49] ltamasi commented on #9351
Looking at the code, there is one simple optimization we can do to reduce the overhead. We can preallocate the space for the hash; in fact, we can do the same for the vectors that store the LSM tree. Doing this should eliminate the costly reallocation/rehashing as the vectors/hash expand. Will put up a patch for this in the next couple of days. I expect this to significantly reduce the performance

[2022-01-24 22:37] pdillinger opened #9428 "Cache entry stats likely broken in Windows release build"
Our strategy of using deleter function pointers to categorize cache entries (compatible with existing Cache API) is likely broken in msvc release builds by a default option `/OPT:ICF` that collapses implementations of functions with identical implementations. Thus we likely aren't getting unique function pointers for each role `R` sharing a type `T`.

https://github.com/facebook/rocksdb/blob/main/

[2022-01-24 22:43] #8673 closed

[2022-01-25 01:36] ltamasi commented on #9351
... actually, it might not be that involved after all!

[2022-01-25 04:07] jiacheliu3 commented on #9378
@adamretter Thx for you explanation!

On this, is there a github issue or something equivalent that we can subscribe to? According to google search bar, the 7.0.0 is in Feb/Mar 2022? We would like to actively follow and try out the new mechanism.

[2022-01-25 04:11] jiacheliu3 commented on #9378
The segfault no longer occurs after the fix
https://github.com/Alluxio/alluxio/pull/14856
where we follow the rules defined in [memory mgmt](https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management) and close all RocksObject instances with try-with-resource blocks. @dbw9580 run the reproduction code for like a dozen times and did not see a reproduction. The issue can be closed a

[2022-01-25 04:47] #9378 closed

[2022-01-25 05:23] #9382 closed

[2022-01-25 20:40] siying commented on #9419
This is not expected to happen. We only delete files who we've already marked being deleted in manifest. When you dump your manifest file, how does it mention file 48510? I assume some tail record of file deletion is missing?

[2022-01-25 22:58] siying opened #9437 "Remove non empty levels after DB shrinks"
If most KVs in a DB are deleted, ideally, the LSM-tree should be adjusted to an ideal state. We know that it will naturally happen in Universal Compaction, and unlikely happen in non-dynamic leveled compaction without a full compaction. With some special treatment in dynamic leveled compaction, we should make it possible. If we identify a base level becomes obviously excessive, we should pause L0

[2022-01-26 00:19] mdcallag commented on #9437
Inspired by [this error message](https://github.com/facebook/rocksdb/blob/022b400cbabb842acd937b4c47f228e2b225c4f4/db/version_set.cc#L3745) where each level's target size is computed.

[2022-01-26 01:47] ajkr commented on #9437
I tried this once in #3921. It's not very aggressive in that it only drains levels when there's no other compaction needed. The idea of suspending compaction to base level and compact the whole base level away in one shot is interesting. It seems to assume the base level drain is the most important thing to complete, which might not be true. But it is helpful in guaranteeing that the base level dr

[2022-01-26 05:58] wuguanyu opened #9440 "Disk usage is too large，need some help"
** DB Stats **
Uptime(secs): 0.9 total, 0.9 interval
Cumulative writes: 0 writes, 0 keys, 0 commit groups, 0.0 writes per commit group, ingest: 0.00 GB, 0.00 MB/s
Cumulative WAL: 0 writes, 0 syncs, 0.00 writes per sync, written: 0.00 GB, 0.00 MB/s
Cumulative stall: 00:00:0.000 H:M:S, 0.0 percent
Interval writes: 0 writes, 0 keys, 0 commit groups, 0.0 writes per commit group, ingest: 0.00 MB, 0.00

[2022-01-26 06:00] wuguanyu commented on #9440
I hope what can i do? It can reduce disk usage, I have already delete range key, But it doesn't work

[2022-01-26 06:00] wuguanyu commented on #9440
2022/01/25-19:36:15.041933 7f2ffb430ae8 RocksDB version: 5.17.2
2022/01/25-19:36:15.042004 7f2ffb430ae8 Git sha rocksdb_build_git_sha:
2022/01/25-19:36:15.042013 7f2ffb430ae8 Compile date Nov 26 2018
2022/01/25-19:36:15.042020 7f2ffb430ae8 DB SUMMARY
2022/01/25-19:36:15.090924 7f2ffb430ae8 CURRENT file:  CURRENT
2022/01/25-19:36:15.090944 7f2ffb430ae8 IDENTITY file:  IDENTITY
2022/01/25-19:36:15.0

[2022-01-26 15:45] sike-evolve commented on #7042
@Fugoes  I'd like to know how you did compile RocksDB shared library. I'm trying to reproduce the same problem but I couldn't.

[2022-01-26 16:52] hgdesai opened #9445 "benchmark readrandom show 0.00 MB/s data read"
### Expected behavior
Should see some MB read when issuing ./db_bench --benchmarks=readrandom
### Actual behavior
Not seeing any data being read from DB_DIR
### Steps to reproduce the behavior
1) Ran fillseq benchmarks to create some *.sst files into DB_DIR and WAL_DIR by using following command.
./db_bench --benchmarks=fillseq --use_existing_db=0 --db=$DB_DIR --wal_dir=$WAL_DIR --key_size=12 --va

[2022-01-26 17:16] asad-awadia opened #9447 "Rocksdb diff tool"
Is there any support for checking consistency between two rocksdb instances? Something like a diff tool that shows data difference, if any?

[2022-01-26 17:58] ajkr commented on #9440
`Delete()` or `DeleteRange()` only logically delete the keys so they won't be visible to reads. For physical removal you need to run compaction after `Delete()` or `DeleteRange()`, such as by calling `CompactRange()`.

[2022-01-26 17:58] #9440 closed

[2022-01-26 19:26] ajkr commented on #9445
It's a lot of output but the only read throughput line I saw was `2022/01/26-12:08:40 ... thread 0: (6057000,35188000) ops and (100937.5,97738.1) ops/second in (60.007423,360.023472) seconds`. Can you include the line of output that says 0.0 MB/s -- I believe it includes other info too like how many keys were queried vs. found, which could be useful.

[2022-01-26 19:31] ajkr commented on #9447
Not specifically. You can compare the output of `ldb scan --hex` for an offline comparison. Or for online comparison, create iterators at the same point in time and compare their results.

[2022-01-26 19:31] #9447 closed

[2022-01-26 19:58] hgdesai commented on #9445
@ajkr As you can see below every data is zero(start line with ** and end line with **(bold)).
Cumulative compaction: 0.00 GB write, 0.00 MB/s write, 0.00 GB read, 0.00 MB/s read, 0.0 seconds

[root@RocksDBNew rocksdb-6.27.3]# ./db_bench --benchmarks=readrandom --disable_auto_compactions=1 --use_existing_db=1 --db=$DB_DIR --wal_dir=$WAL_DIR --key_size=12 --value_size=1024 --num=1200000000 --threads

[2022-01-26 20:04] hgdesai commented on #9445
@ajkr As you can see below every data is zero(start line with ** and end line with **(bold)).
Cumulative compaction: 0.00 GB write, 0.00 MB/s write, 0.00 GB read, 0.00 MB/s read, 0.0 seconds
[root@RocksDBNew rocksdb-6.27.3]# ./db_bench --benchmarks=readrandom --disable_auto_compactions=1 --use_existing_db=1 --db=$DB_DIR --wal_dir=$WAL_DIR --key_size=12 --value_size=1024 --num=1200000000 --threads=

[2022-01-26 20:20] riversand963 commented on #9445
In the above, you disabled compaction and the benchmark is only readrandom, so compaction and write related counters are of course 0. Note the following
[code]
The "0.00MB/s read" refers to compaction read.

[2022-01-26 20:24] hgdesai commented on #9445
@riversand963 thanks for the response. It works now.

[2022-01-26 20:31] #9445 closed

[2022-01-26 20:32] ajkr commented on #9445
Just want to re-emphasize this is compaction read, not readrandom benchmark read throughput.

[2022-01-26 20:33] hgdesai commented on #9445
@ajkr how would I read throughput of readrandom benchmark?

[2022-01-26 21:09] ajkr commented on #9445
At the end of the benchmark run it should print a line like this:

[code]

Sorry I did not find one...

[2022-01-26 21:16] hgdesai commented on #9445
Anyone else guide me to it please?

[2022-01-26 22:07] mdcallag opened #9448 "Sharing TableReader between user operations and compaction threads means the wrong posix_fadvise hints will be used"
### Expected behavior

Don't share TableReader between user reads and compaction reads because that prevents them from using different posix_fadvise hints. The problem probably began with [PR 5431](https://github.com/facebook/rocksdb/pull/5431).

### Actual behavior

The option [advise_random_on_open](https://github.com/facebook/rocksdb/blob/11d73295030bfd8ac80397862200db35547bf018/include/rocksdb

[2022-01-26 22:16] hgdesai opened #9449 "Please Provide Document or Guidance to Read benchmarks results Output"
### Expected behavior
Looking for guidance how to read results output for rocksdb benchmark
### Actual behavior
Looking for guidance how to read results output for rocksdb benchmark
### Steps to reproduce the behavior
Looking for guidance or documentation which explain result output of benchmarks from attached file.
[fillseq.txt](https://github.com/facebook/rocksdb/files/7945975/fillseq.txt)

[2022-01-26 23:46] riversand963 commented on #9449
Could you refer to https://github.com/facebook/rocksdb/blob/6.29.fb/db/internal_stats.cc and take a look at the various `DumpXXStats()` functions? For the metrics that interest you, you can find how they are computed. It may be nice to have some code comments for some of the types defined in internal_stats.h to explain in more detail what they exactly stand for, but there are actually some comment

[2022-01-26 23:46] #9449 closed

[2022-01-27 02:48] wuguanyu commented on #9440
I need invoke CompactRange by myself. It doesn't compact auto when i invoke DeleteRange method

[2022-01-27 02:48] wuguanyu commented on #9440
thanks for your support

[2022-01-27 11:26] wuguanyu commented on #9440
https://github.com/facebook/rocksdb/wiki/Delete-Stale-Files

 I will take a look at above wiki

[2022-01-28 03:01] ajkr commented on #9423
Siying, Jay, and I discussed this a bit. I am probably the one slowing down the response to this issue due to being caught up in the philosophy of slowing down writes. Giving a quick update on where I am on that right now.

Take, for example, an arrival rate curve that would come close to violating limits on space, memory, or read-amp, but not quite reach those limits. The gradual slowdown phase i

[2022-01-28 04:38] #7109 closed

[2022-01-28 16:40] xunlai commented on #9419
The ldb command shows the manifest file doesn't contain the four deleted files (48510  is one of them) mentioned in the LOG file.

[2022-01-28 20:24] sike-evolve commented on #6520
Here is what I found.
handleTable in RocksDB.open(options, dbPath.toString(), cfDescriptors, handleTable) does not include the default column handle.
In his code, he used 0 index handle in handleTable, this was not the default handle. It can cause segment fault. Here is the source in java/src/main/java/org/rocksdb/RocksDB.java:311,
final long[] handles = open(options.nativeHandle_, path, cfNames,

[2022-01-28 22:32] sherriiiliu commented on #7930
Hi @thejchap , is there any update on this bug fix?

[2022-02-01 01:06] mdcallag commented on #9423
WRT to gradual slowdowns being harmful, users can set the soft and hard limits to be close or far apart, or we could make RocksDB more clever about when to apply the soft limit.

The average throughput from the red curve was slightly higher than the blue curve. So I am confused by this.

The red and blue curves will be largely unchanged for open-loop workloads, if made from the perspective of Rock

[2022-02-01 02:11] ajkr commented on #9423
with decent tail latencies?"

Sorry let me try to clarify. I believe a "workload" is essentially an arrival rate curve. In a closed-loop benchmark, I believe a curve in these graphs represents both the system's processing rate and its arrival rate (since a request is generated as soon as the previous request completes). Since the curves for "x4.io.old" and "x4.io.new" are not identical, there are

[2022-02-01 02:36] mdcallag commented on #9423
I agree that we should have workloads with 1) open-loop and 2) varying arrival rates and I am happy to help on the effort to create them.

I suspect you are being generous in stating that RocksDB can handle the blue curve. A write request that arrives during any of those valleys (stall periods) will wait several minutes. So the workload it can accept has to be the same or a subset of the blue curv

[2022-02-01 02:40] mdcallag commented on #9354
Thank you. If it isn't there I will eventually add an option to db_bench so this can optionally be disabled and make it easier for me to spot regressions across versions.

[2022-02-01 02:40] #9354 closed

[2022-02-01 02:51] mdcallag opened #9478 "request for a new benchmark client"
### Expected behavior

It would be great to have a benchmark client that does workloads with:
1) Open-loop workloads (fixed arrival rate rather than fixed number of clients, aka [coordinated omission](https://www.google.com/search?q=coordinated+omission))
2) Workloads with variance in arrival rates. Perhaps this builds on the support for open-loop, but the arrival rate should vary to see how Rocks

[2022-02-01 02:55] mdcallag commented on #9423
Filed https://github.com/facebook/rocksdb/issues/9478 for the benchmark client that does open-loop and varying arrival rates

[2022-02-01 13:42] yhr opened #9482 "db_stress hangs/segfaults for a small test case"
### Expected behavior

That db_stress exist gracefully for the command line

### Actual behavior

A deadlock(?) at the test completion (after "Verification successful") for debug builds
..and with a segfault for non-debug builds:
[code]
Reverting commit f07c56928f998649cfd110854a7898dad532e1d3 fixes the issue.

### Steps to reproduce the behavior

`./db_stress --ops_per_thread=1000 --reopen=5`

[2022-02-01 15:28] vadimtk commented on #9478
sysbench has --tx-rate mode which issues events with the given rate.
It does not have variance though

[2022-02-01 18:02] mdcallag commented on #9423
One scenario for a benchmark client that sustains a fixed arrival rate with a multi-minute write stall.
1) Assume the client needs 10 threads to sustain the target rate
2) And the client checks every 100 milliseconds to determine whether new threads are needed because existing ones are stalled

Then a stall arrives, and 10 threads are created each 100 milliseconds, or 100 threads/second and 6000 t

[2022-02-01 19:21] vadimtk commented on #9423
in sysbench we implemented a "queue" for events arriving with the target rate. we do not create extra threads, but just place arrived into "queue"... when the stall happens, the queue will grow, and then we need to decide at what moment the queue becomes too long to return the response in the acceptable response time window

[2022-02-01 19:25] ajkr commented on #9385
@pdillinger can I claim the part of this issue related to `ExpectedState::Exists()` (IIRC you were looking at a different checkpoint failure)?

[2022-02-01 20:02] mdcallag commented on #9423
That is interesting but it keeps the server from seeing too many concurrent query requests which used to be an exciting event back in the day.

[2022-02-01 21:57] ltamasi commented on #9482
Thanks for reporting @yhr ! I've run your repro under TSAN and indeed there are some races, for instance this one which I believe is the immediate cause of the crash:

[code]

[2022-02-01 21:57] pdillinger commented on #9385
Go ahead

[2022-02-01 23:56] #9482 closed

[2022-02-02 05:17] hx235 commented on #9385
Now it's yours :)

[2022-02-02 10:52] theolivenbaum opened #9488 "Typo on variable name"
Minor minor issue, but I just noticed a typo on the C header (colummn instead of column) , which was breaking our [header to C# code gen](https://github.com/curiosity-ai/rocksdb-sharp/commit/de6b157ebf8d3cda2cf62f8159e6c6dc26ad28d5#diff-a6067276a613ed8b5ff021589a35966d840ebd2e3bd69e49087fc93725023004R348)

https://github.com/facebook/rocksdb/blob/42cca28ebb379177e6248b664eeab8475c3bebcb/include/ro

[2022-02-02 12:45] HMAshiqulIslam commented on #942
@jerousrb did you manage to find any answer ?

[2022-02-02 16:52] riversand963 commented on #9488
Thanks @theolivenbaum for reporting. Would you like to contribute a PR to fix this?

[2022-02-02 16:55] riversand963 commented on #942
@HMAshiqulIslam @jerousrb
afaik, there is no hard-coded, artificial limit on the number of RocksDB instances that can be created by a process. The number of instances is likely bounded by the amount of resources available, and performance/efficiency is the main consideration here.

[2022-02-02 18:07] kloczek opened #9489 "6.28.2: build fails with gcc 12.0.0"
gcc 12.0.0 from fedora rawhide
[code]

[2022-02-03 09:39] theolivenbaum commented on #9488
@riversand963 done!

[2022-02-03 09:39] #9488 closed

[2022-02-03 16:31] adamretter commented on #9390
@pdillinger Can you tell me where to contribute to this effort - is there a canonical list of TODO - there are changes and cleanup we would like to make in RocksJava as well as moving to Java 8.

[2022-02-03 17:02] adamretter commented on #9388
Hi @pdillinger I see that GCC 5 was the first to offer C++ 17 features, however if I understand your message above, I think you are saying that GCC 7.0.0 will be considered the minimum compiler required for RocksDB? Is that correct?

At the moment for RocksJava we are using the below compilers for the binary releases. I don't see an issue with getting a newer compiler for CentOS 7 through SCL or s

[2022-02-03 19:55] pdillinger commented on #9390
All the listed items (specifics in tasks) are already "claimed" by Meta employees.

For Java updates, we grant you pretty broad discretion to make updates you think are appropriate for a major release.

For changes affecting C++, you're welcome to propose additional items, though we might veto if they seem like they would have unacceptable internal impact for us.

Our planned branch cut date is Fe

[2022-02-03 19:57] pdillinger commented on #9390
If you want to create a tracking issue for Java updates for 7.0, I can link to it from here. Prefer linked issues for discussing specifics, but some discussion here is also OK.

[2022-02-03 20:02] pdillinger commented on #9388
I was working from this: https://gcc.gnu.org/projects/cxx-status.html  A good number of features require GCC 7, and at a minimum 'constexpr if' is one I foresee using.

Thanks for the update!

[2022-02-04 02:32] adamretter commented on #9388
I have upgraded the following:

* CentOS 6 x86 from gcc 4.8.2 to 8.3.1; I could not find a usable gcc 7 package for CentOS 6 or 7 on x86, but I did find a gcc 8 package.
* CentOS 7 ppc64le from gcc 4.8.5 to 7.3.1
* CentOS 7 arm64 from gcc 4.8.5 to 7.3.1
* Switched from CentOS 7 s390x to Ubuntu 18.04 s390x with gcc 7.5.0. I chose Ubuntu here over CentOS, as for s390x there are older versions of Ubu

[2022-02-04 04:27] hx235 commented on #9489
I guess somehow you are using the latest google `benchmark/benchmark. h` in the build since that header recently changed from `public const int thread_index;` to `int thread_index() const { return thread_index_; }` according to their [PR](https://github.com/google/benchmark/commit/dc1a97174d5b84b1ce6720f1c98f85e6031b4723#diff-cb62aeda23f73502b1ce471b5fd1a17c187f41d0311f6e6dcc3a4d98f3fb79d8R676) wh

[2022-02-04 09:24] kloczek commented on #9489
I'm using google benchmark 1.6.1and I'm building rocksdb using cmake.

[2022-02-05 01:28] hx235 commented on #9489
Is there any chance you could install/use a 1.5.5 version as a quick fix if you don't necessarily need to use 16.1? 1.5.5 version works fine with me.

[2022-02-05 07:03] sg20180546 commented on #9233
i am working on it...

[2022-02-05 07:41] lni commented on #9397
@cheng-chang

sounds like a very interesting topic, any chance to share the HTAP post from @siying ? Thanks!

[2022-02-05 11:36] kloczek commented on #9489
All other packages in my diseo have no problems with that version.
So .. looks like rocksdb is not ready yet for that version of the google benchmark? (if yess feesl free to change subject of this issue ticket)

[2022-02-05 11:42] hx235 commented on #9489
Yeah and there isn’t any immediate plan to make change on Rocksdb side. But I tried to clarify things a bit here https://github.com/facebook/rocksdb/pull/9505

Is there anything else I can help you with before closing the issue?

[2022-02-05 12:37] kloczek commented on #9489
Does it mean that you are not going to adapt rocksdb code to be able use it with latest google benchmark? 🤔

[2022-02-05 16:52] kerneltime commented on #8617
Here is an update. I have yet to link libasan but the code above printed
[code]
I set the following watch
[code]
the watch did not trigger. Let me know if you want to watch any other address.

JVM has an on error option to launch gdb, will try that to catch the SIGSEV and link to libasan.

[stderr.log](https://github.com/facebook/rocksdb/files/8008414/stderr.log)

Other gdb commands used
[code]
[c

[2022-02-05 16:53] kerneltime commented on #8617
cc @ajkr

[2022-02-05 18:30] hx235 commented on #9489
We might in the future - I was just saying there isn’t intermediate plan. And the INSTALL file change is there for more clarity right now. And I changed the issue title.

[2022-02-06 00:03] cjhoward92 commented on #8238
It looks like this has been addressed https://github.com/facebook/rocksdb/pull/8302

[2022-02-06 23:10] #8238 closed

[2022-02-07 03:10] lhsoft opened #9509 "threadpool_imp.cc:146: rocksdb::ThreadPoolImpl::Impl::~Impl(): Assertion `bgthreads_.size() == 0U' failed."
in func ThreadPoolImpl::Impl::JoinThreads
the exit_all_threads_ is set back to false when exiting
`void ThreadPoolImpl::Impl::JoinThreads(bool wait_for_jobs_to_complete) {

  std::unique_lock<std::mutex> lock(mu_);
  assert(!exit_all_threads_);

  wait_for_jobs_to_complete_ = wait_for_jobs_to_complete;
  exit_all_threads_ = true;
  // prevent threads from being recreated right after they're joined

[2022-02-07 17:17] #9351 closed

[2022-02-07 18:28] guozhangwang opened #9514 "NO_FILE_CLOSES seems losing its recordings again"
We fixed a bug for recording NO_FILE_CLOSES in the past (https://github.com/facebook/rocksdb/issues/4700), but it seems the actual fix (https://github.com/facebook/rocksdb/commit/07cf0ee5891582152a1fd26a107555173f294bdb) is lost again during this commit: https://github.com/facebook/rocksdb/commit/24b118ad986e656a11b94ad441cd455830bac7b2#diff-2246bc7e1cdf984026f1f0ecc8bb813655635499874faa29a5f6b2bc

[2022-02-07 18:44] jay-zhuang commented on #9489
Thanks @hx235 for calcifying it in the doc. Yeah, unfortunately it's because Google benchmark introduced a non-backward compatible change in `1.6.0`: https://github.com/google/benchmark/commit/dc1a97174d5b84b1ce6720f1c98f85e6031b4723 and some platforms (like ubuntu-20.04) are not yet upgraded to the 1.6.x version, which blocks us from upgrading. We will upgrade once most of the platforms are havin

[2022-02-08 00:17] kerneltime commented on #8617
Do you'll have any pointers for running with libasan? I either ran into ```Shadow memory range interleaves with an existing memory mapping``` or if I did `LD_PRELOAD` ran into a segfault before the actual problem we are trying to debug.

[2022-02-08 01:43] anand1976 commented on #9448
For normal user iteration, we explicitly call the ```readahead()``` system call. However, for the compaction iterator, we rely solely on the ```compaction_readahead_size``` setting (https://github.com/facebook/rocksdb/blob/main/table/block_based/block_prefetcher.cc#L19). I'm not sure why we don't call ```readahead()``` for compactions? If we do that, the posix_fadvise hints can be left unchanged.

[2022-02-08 14:57] asad-awadia commented on #8502
@ajkr just to clarify @akrylysov comment of "it seems to be handling the case."

1. I can't have both max_successive_merges > 0 and allow_concurrent_memtable_write enabled at the same time?

2. What happens if I do specify it in the options? Will one get ignored all the time?

[2022-02-08 16:32] pdillinger opened #9524 "Travis s390x Makefile builds broken with gcc-7"
Since #9481 we have Travis builds configured to use gcc-7 by default, but on s390x we get weird messages suggesting the assembler is not compatible with the compiler, as we pass `-march=native` to the compiler:

[code]

Note that the cmake build passes, perhaps because it is able to find and use the right assembler. If we upgrade from using Ubuntu 16 to Ubuntu 20, presumably we would be in a bette

[2022-02-08 16:33] pdillinger commented on #9524
@adamretter Any chance you or someone can look into this? It's not a blocker, but we'd like to improve our Travis build status if able.

[2022-02-08 16:34] pdillinger commented on #9524
Example: https://app.travis-ci.com/github/facebook/rocksdb/builds/246060210

[2022-02-08 22:13] hx235 opened #9530 "Difficulty in understanding db_bench output for RocksDB/Programming beginners"
Posting for a user in RocksDB Developers Public facebook group.

For users with limited experience in programming/RocksDB, it could be challenging to understand db bench output (e.g, what each column means, what data is important). It might be a good doc enhancement if we have that.

TODO
- Dig into the code and find out what each keyword means
- Put them into a readable Github doc
- Invite some e

[2022-02-08 22:15] hx235 commented on #9530
Hey dbbench experts! Please free to grab this task from me.

[2022-02-08 22:47] mdcallag commented on #9423
WRT to the start of the bug, perhaps I can restate my wishes if per-level target sizes can be dynamically increased when the L0 gets too large because the write rate is high:

1) I prefer an option to opt-out of that behavior. I want a stronger limit on space-amp and the current behavior means that space-amp can reach 2X (or even exceed it) when I expect it to be closer to 1.1X. There is no way to

[2022-02-08 22:53] sherriiiliu opened #9532 "Estimating write amplification of integrated blobdb"
Hi, I am trying to tune different options of integrated blobdb to tradeoff between space and write amplification, but feel lack of guidance on tuning. @ltamasi do we have a math model to estimate write amplification of integrated blobdb something just like [universal compaction](https://github.com/facebook/rocksdb/wiki/Universal-Compaction)

[2022-02-09 00:15] ajkr commented on #9530
See also #9445 #9449

[2022-02-09 05:17] kerneltime commented on #8617
I am able to use the JVM's onError option to open the SEG fault in a gdb session. Here is a sample of the most recent crash ```
 JRE version: Java(TM) SE Runtime Environment 18.9 (11.0.9+7) (build 11.0.9+7-LTS)
# Java VM: Java HotSpot(TM) 64-Bit Server VM 18.9 (11.0.9+7-LTS, mixed mode, tiered, concurrent mark sweep gc, linux-amd64)
# Problematic frame:
# C  [libstdc++.so.6+0xbccd3]  std::string::

[2022-02-09 05:44] kerneltime commented on #8617
Here is the full thread backtrace
[code]

[2022-02-09 05:56] LuciferYang commented on #7720
Isn't this feature released in version 6.28.2?

[2022-02-09 06:09] yoyo837 commented on #7720
Obviously, not yet.

[2022-02-09 06:11] kerneltime commented on #8617
The current_fn in the heap seems to be corrupted
[code]

[2022-02-09 06:27] kerneltime commented on #8617
I sampled a couple of other entries in the heap and they seem to be fine... is it possible that closing a DB can corrupt a task in registered with the timer?
[code]

[2022-02-09 09:06] jurmous commented on #7720
The feature has landed on the 6.29.fb branch so it will be first released in version 6.29.x.

[2022-02-09 09:11] jurmous commented on #7720
@dtanner Ah I missed setting up the proper JDK when compiling. I am afraid it is then best to wait for the next proper release.

[2022-02-09 21:11] hgdesai opened #9536 "Benchmark readrandom shows Zero data being read using benchmark.sh tool."
### Expected behavior
While running readrandom benchmark it should show some throughput
### Actual behavior
While running readrandom benchmark it shows 0.00 throughput.
### Steps to reproduce the behavior
1) Issue command as follows
 NUM_KEYS=900000000 CACHE_SIZE=6442450944 DURATION=5400 /root/rocksdb-6.28.2/tools/./benchmark.sh readrandom --stats_per_interval=1
2) The out will shows all zero as b

[2022-02-09 22:12] kerneltime commented on #8617
I have been able to hit this issue in GDB a few times, the corruption of the entry seems similar.
[code]

[2022-02-10 01:05] #9379 closed

[2022-02-10 01:05] #9207 closed

[2022-02-10 01:05] #9159 closed

[2022-02-10 02:05] jay-zhuang commented on #8617
@kerneltime while looking at that code, we found a bug but not sure if it's the root-cause of this crash, would you please try this patch and see if it can fix the problem:
https://github.com/jay-zhuang/rocksdb/commit/b4e0d419683128f432dd17059e412aab0f6583a1.patch

During DB open() we register a few callbacks to timer, each callback should have a unique name (with db_session_id + function_name). B

[2022-02-10 02:19] ajkr commented on #9536
Duplicate of #9445. Please add your comments to the original issue, even if it is closed.

[2022-02-10 02:20] #9536 closed

[2022-02-10 02:28] ajkr commented on #9445
For both this and #9536, your db_bench command is using all kinds of options to print advanced info, and you're interpreting it as a zero result. I am not sure what line exactly suggests to you the result is zero, but anyways I'd suggest starting with db_bench readrandom with default options and add advanced options only as needed.

[2022-02-10 03:49] kerneltime commented on #8617
Thank you for taking a look and a quick response. I will try the patch out and report back in a day or so.

[2022-02-10 05:10] kerneltime commented on #8617
The crash still occurred, though the `name` is empty vs. a garbage address. Not entirely sure how the patch will help but the event that is being popped is no longer valid. Re-sorting the heap might help correctness but not sure how the invalid memory is addressed.
[code]

[2022-02-10 05:24] kerneltime commented on #8617
This is the code line that crashes https://github.com/facebook/rocksdb/blob/v6.20.3/util/timer.h#L207 the name refers to a wrong address.

[2022-02-10 05:57] Shenjiaqi opened #9540 "Lots of small sst files generated in delete after put and frequent checkpoint workload"
### Actual behavior
If all keys are put and deleted in ascending order, and checkpoint is triggered frequently, Many small sst files is generated.
It seems that these sst files is compacted(trivial moved) from level-0:
* Most sst files are in level-1.
* All records in these sst files are kTypeDeletion.
* Logs such as "Moving #${sst file id} to level-1 ${serveral KB} bytes" can be found in LOG.

Th

[2022-02-10 13:39] hgdesai commented on #9445
@ajkr The commands were used by benchmark.sh in both the cases.  As you see I am only initiating the command as follows "NUM_KEYS=900000000 CACHE_SIZE=6442450944 DURATION=5400 /root/rocksdb-6.28.2/tools/./benchmark.sh readrandom --stats_per_interval=1" the rest of the output is done by the db_bench automatically.  My question is why it is only showing zeros for readradom benchmark but it shows som

[2022-02-10 17:47] pdillinger opened #9543 "Test with older Linux release in CircleCI"
In follow-up to #9486 we should resurrect build+test in CircleCI on a distribution older than Ubuntu 20, presumably using a docker image, perhaps from @adamretter as in https://hub.docker.com/r/evolvedbinary/rocksjava/tags

We do have some features that interact with Linux on a low level (e.g. io_uring) so we should ideally have a wide range of regularly tested configurations (kernel and glibc).

[2022-02-10 18:10] mdcallag opened #9544 "Default value for max_compaction_bytes should be scaled with max_bytes_for_level_multiplier"
This is a feature request.

The default for max_compaction_bytes is 0 and when 0 is set to 25 * target_file_size_base at startup. This limits a leveled compaction job to <= 25 SSTs. But if someone were to increase max_bytes_for_level_multiplier from the default of 10 to 20 or 50 then it is expected that an SST on level N will overlap with more SSTs on level N+1 and max_compaction_bytes should be s

[2022-02-11 06:13] xj524598 opened #9550 "rocksDB JNI can not run in macos when jdk version is 17"
rocksDB JNI can not run in macos when jdk version is 17:

my macos version is: Big Sur 11.6

jdk version is: 17.0.1

rocksDB jni version is:
   <dependency>
            <groupId>org.rocksdb</groupId>
            <artifactId>rocksdbjni</artifactId>
            <version>6.27.3</version>
        </dependency>

### Expected behavior: rocksDB init sucess

### Actual behavior: no suitable image found. d

[2022-02-11 06:19] xj524598 commented on #9550
there is some pictures:

macos:
![image](https://user-images.githubusercontent.com/26913796/153545598-e5dd94bd-c8e5-49d0-93b8-38f6b5d9bd47.png)

jdk version:
![image](https://user-images.githubusercontent.com/26913796/153545664-acdc3d33-45ed-4734-8f8e-223e0c32ad89.png)

error
![image](https://user-images.githubusercontent.com/26913796/153545774-6356b667-205c-48a6-a70e-97e0b70a080b.png)

[2022-02-11 06:46] chenyou-intel commented on #8347
Hi, We are the Intel RPC Optane team. Now, we're building a secondary cache plugin implementation (along with other fs layer plugins) based on Optane Persistent Memory hardware and will be open-sourced soon. Hope we can contribute to the RocksDB community!

[2022-02-11 18:10] akankshamahajan15 commented on #9540
Can you try Manual compaction to force the compaction on the bottommost level. https://github.com/facebook/rocksdb/wiki/Compaction-Trivial-Move

[2022-02-11 19:45] ltamasi commented on #9532
Hi @sherriiiliu - we don't have a formal mathematical model but we do have some (still evolving) tuning guidance for BlobDB here: https://github.com/facebook/rocksdb/wiki/BlobDB#api.

For good write performance, one of the key points is to have a nicely shaped LSM tree since too few/large SST files can lead to heavy compactions/garbage collection. This translates to setting `target_file_size_base`

[2022-02-11 20:13] hgdesai commented on #9445
@riversand963  I did ran following command and the result is really low compare to Facebook benchmark results. The hardware information is as below listed and I am running the benchmark using Samsung 512 P918 NVMe drive.  The default sequential read for this drive is 3500 MB.

[root@RocksDBNew rocksdb-6.28.2]# ./db_bench -use_existing_db=1 --benchmarks=readrandom  --stats_per_interval=1 --db=$DB_D

[2022-02-11 20:56] mdcallag commented on #9448
WRT "snapsnots will extend it" I am probably incorrect with my terminology. AFAIK, RocksDB provides features for readers to 1) keep old versions, but compaction can move such KV pairs into new SSTs and 2) keep old SSTs. I am referring to 2)

Agree with you WRT to using the readahead call instead of posix_fadvise

[2022-02-12 05:49] OfekShochat opened #9555 "rocksdb with rusty_v8 aborts"
Im using the rust-rocksdb crate and rusty_v8 in an application (which is in rust). they both work fine on separate projects, but when I try to call new_default_platform which is in rusty_v8, and try to load the db (the db loads first) the resulting executable throws a SIGABRT.
expected behavior: doesnt abort
actual behavior: aborts
minimal code to reproduce (in rust):
`main.rs`:
[code]
`Cargo.toml

[2022-02-12 11:12] OfekShochat commented on #9555
lol tried to reproduce this in c++. but this is just a mess. rocksdb is so easy to build and v8 needs so many more steps and their build-depenency installer thing doesnt even support redhat distributions.

[2022-02-13 10:11] sg20180546 commented on #9364
I would work on it.

[2022-02-13 14:57] OfekShochat commented on #9555
Btw, the code I posted on my issue is directly translatable to c++.

[2022-02-13 16:41] romanblachman opened #9560 "rocksdb jni fails on invalid instruction when popcnt instruction is missing"
### Expected behavior

rocksdb fails to execute on some windows machine, and crashes with invalid instruction.
it appears that popcnt (popcount) instruction is missing on specific CPUs that causes this crash.

`Current thread (0x000000f6a9db0000): JavaThread "main" [_thread_in_native, id=16228, stack(0x000000f6a9420000,0x000000f6a9520000)]

Stack: [0x000000f6a9420000,0x000000f6a9520000], sp=0x0000

[2022-02-13 17:07] jxy-s commented on #9560
After investigating the source of this. `BitSetToOne` makes the assumption that `popcnt` is supported on all cpus. `BitSetToOne` shouldn't make this assumption and check the feature bits of the cpu for the existence of `popcnt` support (`ECX` bit 23) and opt to use the fallback `BitsSetToOneFallback` when the feature isn't present. Or alternatively use a portable solution like `std::bitset::count`

[2022-02-14 04:02] Shenjiaqi commented on #9540
@akankshamahajan15
I mantain a long running job using rocksdb. Should I create a thread checking number of sst files and compact them periodlly？

[2022-02-14 15:56] jay-zhuang commented on #8617
@kerneltime I'm unable to reproduce the problem with https://github.com/kerneltime/rdb-debug
command:
[code]
Which runs about 12 hours and generate 2T data without hit the exception. Is there anything I missed?
I was also trying to reproduce it with c++ test (with ASAN enable), but unable to reproduce: https://github.com/jay-zhuang/rocksdb/blob/timer_crash/db/options_file_test.cc#L70-L174

[2022-02-14 16:40] kerneltime commented on #8617
Yeah, the standalone tool is not as good at reproducing it as the full datanode that we use. I am guessing it has to do with lesser memory being used overall. I am seeing if I can give you a way to run the datanode code and steps to reproduce it.

[2022-02-14 16:42] kerneltime commented on #8617
@jay-zhuang have you tried running ASAN enabled with a java app? I ran into issues with it and was wondering if there is a way to do it.

[2022-02-14 17:53] devinbost commented on #7720
When should we expect the next release to include this fix?

[2022-02-14 18:02] mdcallag opened #9561 "Request for a stricter limit on worst-case space-amplification"
This is a feature request.

### Expected behavior

With respect to worst-case space-amplification:
- Leveled compaction in theory has an implied limit of 1 + 1/plf where plf is the per-level fanout. But see #9423 to understand why in practice the limit is larger and the results below show that.
- Universal doesn't have a limit. There is [max_size_amplification_percent](https://github.com/facebook/

[2022-02-14 18:12] akankshamahajan15 commented on #9509
@lhsoft I didn't look deep into the APIs  I am not sure if you will get the  assertion because exit_all_threads_ is set false at the end of the function. Can you share the unit test/scenario where you are seeing this assertion? From the title it seems you are getting different assertion.

[2022-02-14 19:56] jay-zhuang commented on #8617
You should be able to build it with the following command:
[code]

[2022-02-14 23:01] sherriiiliu commented on #9532
Thanks @ltamasi  for the clear guidance. The newly added log looks quite helpful for us to quickly track the garbage amount and blobdb space amplification in periodic stats report. I will follow your suggestions to tune the options

[2022-02-14 23:01] #9532 closed

[2022-02-14 23:05] mdcallag opened #9565 "Trivial moves don't happen for leveled compaction when universal.allow_trivial_move enabled"
[Compaction::IsTrivialMove](https://github.com/facebook/rocksdb/blob/a2b9be42b6d5ac4d44bcc6a9451a825440000769/db/compaction/compaction.cc#L318) checks whether allow_trivial_move is set, and if so it returns the value of is_trivial_move_. The allow_trivial_move option is there for universal compaction. So when this is set and leveled compaction is enabled, then useful code that follows this block n

[2022-02-15 06:18] ajkr commented on #9540
You can also try increasing `log_size_for_flush` to avoid flushing of small files: https://github.com/facebook/rocksdb/blob/241b5aa15aaf1569ff13a2da2e13a34f90de7aa6/include/rocksdb/utilities/checkpoint.h#L47

Make sure to read the API doc carefully -- it can be dangerous if you set `WriteOptions::disableWAL`.

[2022-02-15 09:10] bbkot opened #9573 "rocksdbjni-shared.dll initialization failed"
### Expected behavior
library should initialize
### Actual behavior

sometimes rocksdbjni-shared.dll crashes during initialization.

Configuration.

1. platform windows 10 , visual studio 2019, using ms vcpkg to use snappy
2. pulled rocksdb version 6.27.3 or latest
3. generated build files with using cmake. Command line "cmake -B . -S .. -DCMAKE_TOOLCHAIN_FILE=d:\code\git.projects\vcpkg\scripts\bu

[2022-02-15 10:13] jurmous commented on #7720
As mentioned above we can indeed expect the fix in the 6.29.x release. Past releases suggest a RocksDB java release every 1 or 2 months. So likely March or April.

https://search.maven.org/artifact/org.rocksdb/rocksdbjni

[2022-02-16 03:15] hx235 commented on #9364
Thanks!

[2022-02-17 06:14] kerneltime commented on #8617
I am working on getting the right dev environment to build with all the dependencies needed to use CLANG 10 and libasan.
In the meantime, I am attaching a jar and the command I used to produce the following crash.
I run this on a spindle-backed drive and the crash is quite reproducible.

https://drive.google.com/file/d/1z5VByjHNWKUGC9FXFmXns6vX0O6C76tG/view?usp=sharing
The backing code is at: http

[2022-02-17 08:16] sg20180546 opened #9587 "At ubnutu 20 "make *_test -j" computer freezes and down"
my ubuntu version : **Ubuntu 20.04.3 LTS**
**RAM : 16GB**
hello. when i execute "make clean" -> "make *_test -j" , free memory space rapidly decrease and computer freezes(any key cannot make response, even mouse cursor are freezes), so i have to forcely reboot computer

i guess it is relative to  "make *_test -j" exploit free memory space hardly

In contrast, just "make" command works well ( free

[2022-02-17 18:20] pdillinger commented on #9587
From `man make`:

-j without an argument is inviting trouble. I would not use more than -j32 with 16GB ram.

[2022-02-17 18:20] #9587 closed

[2022-02-18 06:14] lhsoft commented on #9509
@akankshamahajan15 I meet the assertion error when I'm closing the db. Firstly I called the JoinThreads and then close db instance.
If we exit_all_threads_ is set false in JoinThreads, it may create new thread by calling SetBackgroundThreads after JoinThreads and will cause the assertion error when closing db instance。

[2022-02-18 11:31] ujfjhz opened #9596 "[rocksdbjni] RocksDBException: While fsync: a directory: Invalid argument"
rocksdbjni is used in container(linux), the data dir which rocksdb writing to is mounted from a Windows based file system.

Error Msg:
Caused by: org.rocksdb.RocksDBException: While fsync: a directory: Invalid argument

<img width="710" alt="image" src="https://user-images.githubusercontent.com/1305628/154674493-66b12a86-280a-45d5-8ebd-4a4683987c13.png">

[2022-02-18 21:27] OfekShochat commented on #9555
Anyone...?

[2022-02-18 21:50] ajkr commented on #9555
Hi, rust-rocksdb crate and rusty_v8 are not part of this repository.

[2022-02-18 21:50] #9555 closed

[2022-02-18 21:53] OfekShochat commented on #9555
yeah, but this is crashing on your code

[2022-02-18 22:23] #9565 closed

[2022-02-20 21:47] briantkim93 commented on #9151
Hey guys, I'm gonna try looking at this :)

[2022-02-21 02:45] xionghul commented on #3754
It is quite possible that -DZSTD is not defined when compiling:

inline bool ZSTDNotFinal_Supported() {
#ifdef ZSTD
  return true;
#else
  return false;
#endif
}

[2022-02-22 01:57] LuciferYang commented on #7720
@jurmous Has `RockDB 6.29` really been released? I saw the [release notes](https://github.com/facebook/rocksdb/releases/tag/v6.29.3) three days ago, but `rocksdbjni:6.29.3` cannot be downloaded from Maven repository.

[2022-02-22 02:17] yoyo837 commented on #7720
I found this:
<img width="1336" alt="image" src="https://user-images.githubusercontent.com/6134547/155050877-a48ce1bf-999c-4b2b-8716-f4594ab08e1e.png">

[2022-02-22 03:31] shrenikkjain opened #9614 "Core dump occurs while performing put() operation in java"
Maven rocksDB version:  <rocksdb.version>6.4.6</rocksdb.version>
OS: RHEL

### Actual behavior
Program terminated with signal 6, Aborted.
#0  0x00007fd35e49c387 in raise () from /lib64/libc.so.6
Missing separate debuginfos, use: debuginfo-install glibc-2.17-325.el7_9.x86_64 java-1.8.0-openjdk-headless-1.8.0.302.b08-0.el7_9.x86_64 libgcc-4.8.5-44.el7.x86_64 libstdc++-4.8.5-44.el7.x86_64 zlib-1.2.7-

[2022-02-22 11:25] shrenikkjain commented on #9614
[hs_err_pid10593.log](https://github.com/facebook/rocksdb/files/8116190/hs_err_pid10593.log)

[2022-02-22 14:42] jonathan-albrecht-ibm commented on #9388
@pdillinger, @adamretter I started looking at the s390x assembler error reported in https://github.com/facebook/rocksdb/pull/9512. What's happening is that the travis build machine is a z14 model (the cpu generation) running ubuntu 16.04. The `g++-7` compiler that is installed from `ubuntu-toolchain-r-test` detects the z14 model and sets `march=z14` under the hood when `-march=native` is used on t

[2022-02-22 17:11] mdcallag opened #9620 "Benchmarks loads can lose 20% to 30% of throughput from this fprintf"
[This fprintf](https://github.com/facebook/rocksdb/blob/3379d1466f357ae4e1e15f068a35d7ea2fddb4d1/tools/db_bench_tool.cc#L2102) was inherited [from LevelDB](https://github.com/google/leveldb/blob/main/benchmarks/db_bench.cc#L280). For some stress tests that reduces throughput by 20% to 30%.

It is only an issue when db_bench is run with --histogram=1 --stats_interval=0 --stats_interval_seconds=0

T

[2022-02-22 17:24] mdcallag opened #9621 "db_bench should fail rather than accepting an unsupported compression type"
db_bench has several options that accept a compression type as a string and [a function](https://github.com/facebook/rocksdb/blob/6.29.fb/tools/db_bench_tool.cc#L1097) converts that string to a compression type enum. For invalid strings the function logs an error message and then returns kSnappyCompression.

I want it to fail (exit with an error code) in that case because nobody is writing scripts

[2022-02-23 00:08] jonathan-albrecht-ibm commented on #9388
Actually, I found a fix for the s390x build on 16.04. I had put a check in build_tools/build_detect_platform to check if `-march=native` flag is working but the way I did it, it didn't end up calling the assembler. If I fix the `-march=native` check, then it correctly falls back to building with `-march=z196` which is recognized by the whole toolchain. The same check in CMakelists.txt is working c

[2022-02-23 13:42] koldat opened #9626 "Keys in SST files on L1 overlaps"
I was writing some test and found something I am not able to explain and not sure if it is correct behavior. Basically I have a test that put same key multiple times and flush after each put (creates SST). Then start manual compaction. All files are trivial moved to L1 so that L1 end up with SSTs where each key is overlapping. Is this some serious problem? I am not able to say if it cannot cause s

[2022-02-23 15:38] katusk commented on #5117
@grove, that 10.7 seconds for 100 column families sounds about right, and it was not this slow before indeed.

I have similar problems with RocksDB 6.14.6 on a Windows 10 machine: creating 19 column families takes almost a second (800 ms). Looking at a profiler output it seems that most time is spent in `rocksdb::DBImpl::WriteOptionsFile`, which also seem to reparse (?) the options file, and horri

[2022-02-23 17:20] matthewvon opened #9627 "Some Azure Container Instances for Linux fail due to lack of SMB hard link support"
### Expected behavior

Checkpoints execute flawlessly in Linux when executed on Azure Container Instances.

### Actual behavior

Checkpoints fail with "operation not supported" due to missing hard link feature.  Going to assume same would happen with BackupEngine since documentation says backups based upon checkpoint.

Sample error line from our application:
 Unable to checkpoint column family __T

[2022-02-23 19:29] mdcallag opened #9628 "Change db_bench to display stats when num_multi_db is set"
Today most of the monitoring is based on db_ and not on multi_dbs_ so there is little visibility when running tests that use --num_multi_db. If nothing else, I want to see the equivalent of rocksdb.stats for each db, even if only printed once at test end to get details on compaction and the shape of the LSM tree.

[2022-02-23 23:18] ajkr commented on #9509
It does not appear supported to join all threads while the DB is still using the thread pool.

Why is such support needed? Also, are you using a custom `Env`? I did not see a public interface exposing our `Env`s' underlying `ThreadPool`s.

[2022-02-23 23:24] ajkr commented on #9626
Looks alright. The files appear non-overlapping from an internal key perspective since each one contains a key with a different sequence number, like you said.

[2022-02-23 23:24] #9626 closed

[2022-02-24 04:06] katusk commented on #5117
Thanks. If you solve this, I owe you a beer. Or two.

[2022-02-24 18:47] mdcallag opened #9632 "There is no way to avoid seed reuse when --benchmarks specifies more than one test"
With _db_bench --seed=$X --benchmarks=multireadrandom,readrandom_ then the per-thread seeds used for multireadrandom will be reused for readrandom so both tests will use the same key sequences. This is usually a bad idea. One problem is with an IO-bound test and buffered IO. The first test (multireadrandom) warms the cache and the second test (readrandom) will have a much higher hit rate in the OS

[2022-02-24 19:02] hegjon opened #9633 "6.29.3 fail to compile on Fedora rawhide"
### Build dependencies:
[code]

### Expanded build commands:
[code]

### Compile errors:
[code]

### Full log:
https://kojipkgs.fedoraproject.org//work/tasks/9664/83279664/build.log

[2022-02-24 19:04] hegjon commented on #9633
It builds fine on Fedora 35 with gcc-c++-11.2.1

[2022-02-24 19:06] hegjon commented on #9633
This patch is used https://src.fedoraproject.org/rpms/rocksdb/blob/rawhide/f/gcc-c++-false-positive-warning.patch everything else is the tarball located here https://github.com/facebook/rocksdb/archive/v6.29.3/rocksdb-6.29.3.tar.gz

[2022-02-25 08:07] martin-g commented on #7720
@anand1976 I see you created the (Github) release. Do you know why there is no [Maven](https://repo1.maven.org/maven2/org/rocksdb/rocksdbjni/6.29.3) release ?

[2022-02-25 17:21] anand1976 commented on #7720
@adamretter Do you plan to release the Java binary for 6.29.3 soon?

[2022-02-26 14:14] microhardsmith commented on #9550
using 6.28.2 and still got the same problem,waiting for 6.29.x now

[2022-02-28 03:17] anand1976 commented on #9627
The checkpoint implementation automatically falls back to copying if hard linking fails. However, the Env/FileSystem needs to return Status::NotSupported() from the LinkFile() method. In this case, its returning Status::IOError. Cc @burtonli the maintainer of the Windows port.

[2022-02-28 15:24] mrambacher commented on #9627
I think the original post said this was an "Azure Linux" container, not Windows.  And that specific error message is printed by fs_posix.cc.

@matthewvon Can you determine the exact error number that is translated to "Operation not supported" for Azure Linux?

[2022-02-28 22:05] loquesangra opened #9639 "Unable to build RocksDB under illumos"
[code]

### Steps to reproduce the behavior
1. Install latest DilOS:
  - ISO image: https://apt.tambov.ru/dilos/iso/dilos-core-21-11-04_14-03-2.0.2.92.iso
  - USB drive image: https://apt.tambov.ru/dilos/iso/dilos-2.0.2.92-amd64-loader.usb
2. Change repositories to dilos2-testing on /etc/apt/sources.list
3. Update system with `os-upgrade`
4. Install build-essential and gcc-8, plus RocksDB dependen

[2022-02-28 22:26] kerneltime commented on #8617
@jay-zhuang any luck trying to reproduce the corruption?

[2022-02-28 22:35] jay-zhuang commented on #8617
Yes, I'm able to reproduce the problem and working on a fix.

[2022-02-28 22:40] kerneltime commented on #8617
That is great news! Thank you! Let us know if we can help.

[2022-03-01 01:09] mdcallag opened #9640 "db_bench should not reuse RNG seeds or hardwire them"
This took a while to figure out. I suspect there is only one problem from seed reuse with overwrite_gen, but plenty of opportunity to introduce problems in the future.

db_bench should not reuse RNG seeds or hardwire them, unless that is desired (even better, commented). My assumption is that in most cases, the following should be true to avoid things (threads in one run, threads across runs) from

[2022-03-01 05:01] bbkot opened #9641 "Rocksdb dll error"
### Expected behavior
Closing rocksdb database without errors

### Actual behavior
error raised from rocksdb Collumn_family destructor

### Steps to reproduce the behavior
version latest
executed from java using rockdsdbjni.
assertions failed in destructor. Skipping them cause jvm crash , or some weird errors. Guess it might be source of some weird crashes of jvm we observed , but couldn't identif

[2022-03-01 19:22] loquesangra commented on #9639
Some progress @ https://github.com/loquesangra/rocksdb/commit/87a47d88fd4c209a87e77b541cc071dd4360b52c , however  now I'm getting a error under `monitoring/perf_context.cc` and `monitoring/perf_context_imp.h`:

[code]

[2022-03-01 20:39] mdcallag opened #9650 "Make fillseq load databases in order when --num_multi_db is used"
When I run db_bench --benchmarks=fillseq --num_multi_db=X then I want it to run as fast as possible, which means it should minimize the time when IO is not in progress. But today, the DoWrite method does this:

1. Select an id from 0 to (num_multi_db-1)
2. Use the key generator for that the db with that id
3. Repeat

Much of the code [is here](https://github.com/facebook/rocksdb/blob/9e9e3d16b97e7

[2022-03-01 22:11] mdcallag commented on #9650
A minor issue related to this, after running fillseq with --num_multi_db it is unlikely that all databases get --num keys. Some will have more, some will have less. This can be a source of confusion when you run a test like readrandom and expect all lookups to return a value.

[2022-03-01 22:18] riversand963 commented on #9530
Discussed with @hx235 offline, and decided to close.

[2022-03-01 22:18] #9530 closed

[2022-03-01 22:23] #9524 closed

[2022-03-01 23:10] pdillinger commented on #9627
Is it ENOTSUP?

[2022-03-02 00:15] anand1976 commented on #9627
Yeah, you're right. That last part of the IOStatus error message comes from strerror, so it corresponds to ENOTSUP. I guess we can just check for it in LinkFile().

[2022-03-02 00:18] mrambacher commented on #9639
If you change __thread to thread_local, does it get better?

[2022-03-02 12:01] ChrisZMF commented on #5747
Hi. This bug also occurred in our project. Has it been fixed?  @LoveTommy

[2022-03-02 16:17] loquesangra commented on #9639
@mrambacher, sadly no, the errors are very similar:
[code]

[2022-03-02 20:48] mdcallag opened #9651 "The MixGraph workload should not be used with more than one thread"
I spoke with the author to confirm that db_bench --benchmarks=mixgraph should only be used with --threads=1

The short term fix is to fail with an error if --threads is greater than 1.

From the author:
For the first question, I have tried the multi-thread, it works. Specify the thread number in db_bench options. But there is a problem. Each thread will generate the workload with the expected dist

[2022-03-02 23:58] mdcallag commented on #9621
StringToDistributionType has the same problem, ignores bad type names.

[2022-03-03 01:24] dongjoon-hyun commented on #9550
Actually, 6.29.3 was released 12 days ago but `RocksDB JNI` is still not published to the Maven Central.
- https://github.com/facebook/rocksdb/releases/tag/v6.29.3

[2022-03-03 13:32] microhardsmith commented on #9550
so when can we get RocksDB JNI 6.29.3?

[2022-03-03 15:51] loquesangra commented on #9639
It seems that #define line was making perf_context lead nowhere. Fixed @ https://github.com/loquesangra/rocksdb/commit/da3aa9676b49f7927acf15c1455e2989c7327675 . Now I'm getting various zstd errors:
[code]

[2022-03-03 19:26] dongjoon-hyun commented on #9550
According to their cadence, +1 month from the tag creation.

[2022-03-03 19:27] dongjoon-hyun commented on #9550
Let me correct me. Here is the official answer link.
- https://github.com/facebook/rocksdb/issues/7720#issuecomment-1040091300

[2022-03-03 21:10] jay-zhuang commented on #8617
@kerneltime we have a fix here: #9656 which should fix the problem, would you please help to test it.
BTW. here is the command I used to build and test ASAN binary in java, which revealed the issue:
[code]

[2022-03-03 21:33] jurmous commented on #9550
As mentioned later in the issue: There is an issue with creating the jars for the release. That needs to be fixed first and then needs to land in another future version...

[2022-03-03 22:04] dongjoon-hyun commented on #9550
Oh, thank you for informing that, @jurmous .

[2022-03-03 23:08] kerneltime commented on #8617
Thanks! I ran into unrelated faults when. I tried LD_PRELOAD but it was not compiled with CLANG 10.
This is awesome! Thank you. Will test and report back.

[2022-03-04 14:01] adamretter commented on #7720
@LuciferYang @anand1976 Current status is commented on here - https://github.com/facebook/rocksdb/pull/9254#issuecomment-1054598516

[2022-03-04 15:19] adamretter commented on #9641
@bbkot Which version of RocksDB? Have you checked this - https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management

[2022-03-04 21:00] EvanSonnemans commented on #9641
Guess it's not only a windows issue:
`
digita@ubuntu:~/ail-framework/ardb/deps/rocksdb-6.8.1$ make static_lib
$DEBUG_LEVEL is 0
  GEN      util/build_version.cc
  CC       db/column_family.o
g++: fatal error: Killed signal terminated program cc1plus
compilation terminated.
make: *** [Makefile:2117: db/column_family.o] Error 1
`

[2022-03-04 21:13] adamretter commented on #9641
@EvanSonnemans The problem described by @bbkot is a runtime issue.

However, the problem you have shown is a compile issue. I most usually see this when you don't have enough memory to compile the source code.

[2022-03-05 01:53] yuanxu4 opened #9661 "compile error"
### Actual behavior

sudo DEBUG_LEVEL=0 ROCKSDB_PLUGINS=zenfs make -j48 db_bench install
$DEBUG_LEVEL is 0
$DEBUG_LEVEL is 0
  CC       tools/db_bench.o
  CC       tools/db_bench_tool.o
  CC       tools/simulated_hybrid_file_system.o
  CC       test_util/testutil.o
  CC       cache/cache.o
  CC       cache/cache_entry_roles.o
  CC       cache/cache_key.o
  CC       cache/cache_reservation_manager.

[2022-03-05 04:21] EvanSonnemans commented on #9641
Thank you for your information!

[2022-03-07 11:09] pedrohjordao opened #9667 "Unsatisfied link error when creating statistics from Java api"
### Expected behavior

Statistics should be able to be created from Java

### Actual behavior

The following exception:

[code]

### Steps to reproduce the behavior

I have the following code (in scala):

[code]

If i remove the statistics everything works as expected.

I'm using rocksdbjni version 6.28.2

[2022-03-07 12:02] pedrohjordao commented on #9667
Weirdly enough, if I change it to

[code]

it works as expected

[2022-03-07 18:08] LuciferYang commented on #7720
Thank you for your reply @adamretter

[2022-03-07 18:40] kerneltime commented on #8617
@jay-zhuang so far I have not hit the issue with the standalone tool over the weekend, will continue to test with our entire stack as well.

[2022-03-07 20:42] yuanxu4 commented on #9661
I delete the -j 48, and it works.

[2022-03-07 22:45] mdcallag opened #9672 "Monitoring enhancements for mixgraph"
Today the db_bench summary line for mixgraph has details on the number of gets done and gets that return a key. It would help to have the same for seeks. The current output is below:
[code]

This part of the output is only for Get() operations:
[code]

This is an ugly proof-of-concept change to get that output:
[code]

Another piece of information that I want is the average lengths for the followi

[2022-03-07 23:27] #9661 closed

[2022-03-08 00:05] alexreg commented on #7934
Any chance of getting this implemented soon?

[2022-03-08 14:56] romanblachman commented on #9560
@ajkr @akankshamahajan15 any updates here? I'm not sure why bug was removed, since rocksdb just crashes on virtual machines with CPUs that don't support the popcnt/popcount instruction.

[2022-03-08 19:42] ajkr commented on #9560
Anyways, do you mind sharing more details of your build? For example, are you using the Maven builds? Or if building with our Makefile, what flags do you set, like PORTABLE=1?

I prefer somebody on our team confirms it first before applying "bug" label as the description of that label is "Confirmed RocksDB bugs".

[2022-03-08 20:16] jxy-s commented on #9560
[`math.h`](https://github.com/facebook/rocksdb/blob/main/util/math.h#L142) makes a pretty clear assumption that `popcnt` is supported by the CPU.

From [MSDN](https://docs.microsoft.com/en-us/cpp/intrinsics/popcnt16-popcnt-popcnt64?view=msvc-170):

[2022-03-09 12:40] ChrisZMF opened #9681 "Core dumped at assert() in LevelCompactionBuilder::SetupInitialFiles()"
I got a core at `assert(!level_and_file.second->being_compacted);` in function `LevelCompactionBuilder::SetupInitialFiles()`. The detailed stack is shown blow. It is a same bug as issue #5747.

**Rocksdb version**: 5.15

### Analysis
Related code as following:
[code]

This bug is triggered due to re-compact the bottommost SST files. The bottommost SST files marked for compaction are stored in `bot

[2022-03-10 05:09] #9560 closed

[2022-03-10 06:05] romanblachman commented on #9560
Thank you @ajkr for pushing the fix! Do you know if this is expected to make the 7.0 major release? or 6.29.x release?

[2022-03-10 06:52] ajkr commented on #9560
No problem. Do you mind letting us know once you've validated the fix works for you? As @pdillinger mentioned in the PR review, we don't have the hardware to validate it, so we aren't completely certain.

I will include it in both 6.29 and 7.0. There should be new tags for both release series this week.

[2022-03-10 08:40] romanblachman commented on #9560
Is there a way for me to get a JNI JAR with the fix included that I can test with for the 6.29 release series? I'm happy to validate this as soon as possible.

[2022-03-10 18:15] ajkr commented on #9560
Oh, we only have them published to Maven after the tagging happens, unless you coordinate with @adamretter to get an early build. It's still helpful if you can verify after the Maven publishing, though that could take a few more days.

[2022-03-11 16:42] pdillinger commented on #9627
Assuming fixed with #9657

[2022-03-11 16:42] #9627 closed

[2022-03-12 00:30] riversand963 commented on #9223
Closing after #9410 is merged.

[2022-03-12 00:30] #9223 closed

[2022-03-12 08:41] adamretter commented on #9560
@romanblachman You can easily build a snapshot yourself, `make rocksdbjavastatic` should do the trick.

[2022-03-12 08:53] kloczek commented on #9489
Just tested 7.0.1 and looks like issue still is around .. 🤔

[2022-03-12 09:12] romanblachman commented on #9560
@adamretter I am worried that my build won't originate the same output as the build system does, but I can try that.

[2022-03-12 09:46] theolivenbaum opened #9688 "compression.h(781,53): warning C4267: 'argument': conversion from 'size_t' to 'uLong', possible loss of data"
I'm trying to fix our build pipeline for Windows since the [release 7.0.1](https://github.com/facebook/rocksdb/releases/tag/v7.0.1), and hitting an issue with the warning C4267 treated as error.

It seems like the [offending line](https://github.com/facebook/rocksdb/blob/95305c44a14ba14fb2233998707cea5f410adc5b/util/compression.h#L782) was introduced by this commit: https://github.com/facebook/roc

[2022-03-12 11:37] tianleios opened #9689 "rocksdbjni 6.29.4 and 7.0.3 are missing from maven central"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2022-03-12 11:47] tianleios commented on #9689
6.29.0 support m1 but i cannot find this in maven central

[2022-03-13 02:10] jay-zhuang commented on #8617
Would you please create a new issue for that and would be great to have more information to help reproduce.
I'm closing this one, as the timer issue should be fixed.

[2022-03-13 02:10] #8617 closed

[2022-03-14 03:58] tianleios commented on #9689
quick！quick！

[2022-03-14 08:05] itsdevbear opened #9691 "Previous versions missing from homebrew cask"
Previous versions of rocksdb are missing from homebrew.

[code]

[2022-03-14 12:09] zhuchong0329 opened #9692 "After encountering the problem of disk full, some write threads are stuck forever even though the disk has been cleaned up."
## Expected behavior
After disk cleanup, the write threads execute normally.

## Actual behavior
After disk cleanup, the write threads are stuck forever.
In my environment，three write threads are stuck and their link_older is actually looped.

### thread 1
[code]

### thread 2
[code]

### thread 3
[code]

### their link_older is looped
[code]

[code]

[code]

## Steps to reproduce the behavior
Why

[2022-03-14 17:05] kerneltime opened #9693 "SEGSEGV for JNI based RocksDB usage (`LoadTableHandlers` -> `__memcmp_sse4_1+0xa1e`)"
Ran into this SEGSEGV while testing https://github.com/facebook/rocksdb/issues/8617.
The following steps were used to test https://github.com/facebook/rocksdb/issues/8617#issuecomment-1042609708
This crash is not as easy to reproduce as #8617
[code]
### Expected behavior
The open and close calls should continue without crashing.

### Actual behavior
The code crashes under heavy load.

### Steps to

[2022-03-15 00:29] cavallium commented on #9689
Also 7.0.1

[2022-03-15 16:51] #9255 closed

[2022-03-15 16:51] #9691 closed

[2022-03-15 18:42] jay-zhuang commented on #9489
It's because a non-backward compatible change from google benchmark. If we upgrade, then it will break the build for the user with 1.5.x. And for example Ubuntu 20.0 is still using google benchmark 1.5.0 version.

[2022-03-15 20:51] ajkr commented on #8617
No automated mechanism. Let's use #9689 as the central issue for getting current releases (6.29.4 and 7.0.2) to Maven.

[2022-03-15 20:58] ajkr commented on #9689
I changed the title. There is currently no 6.29.4, but there will be once https://github.com/facebook/rocksdb/pull/9662#issuecomment-1062018209 is answered or we get tired of waiting. In any case it should be tagged before release to Maven.

[2022-03-15 21:05] ajkr commented on #9550
#9689 for tracking this.

[2022-03-15 21:05] #9550 closed

[2022-03-15 21:17] meangrape opened #9701 "Can't build v7.0.2 ROCKSDB_LITE on macOS 12.3/aarm64"
I'm unable to build ROCKSDB_LITE using `LITE=1 make static_lib`. To verify I'm doing things correctly I modified the Makefile to emit the pertinent variable settings. Note: `make static_lib` works fine.

[code]

### Expected behavior
I get a library!

### Actual behavior
[code]

### Steps to reproduce the behavior
`LITE=1 make static_lib` works every time.

[2022-03-15 21:45] ajkr commented on #9560
#9689 for tracking Maven release.

[2022-03-17 01:36] lhsoft commented on #9509
Yes, we are using custom Env which cause this problem and I have fixed it in out env Impl.
Thanks for your replay, this issue can be closed.

[2022-03-17 01:42] lhsoft opened #9705 "global limit for TableCache"
Now rocksdb uses global cache for BlockCache, but there is no global cache for TableCache.
### Expected behavior
A global TableCache could be shared between different RocksDB instances on single host
### Actual behavior

### Steps to reproduce the behavior

[2022-03-17 02:16] lhsoft commented on #9705
I'd like to work on it if possible

[2022-03-17 04:17] #9688 closed

[2022-03-17 16:10] #9509 closed

[2022-03-17 17:09] guerinoni opened #9707 "Missing cache `strict_capacity_limit` from C API"
### Expected behavior
I'm working with C API (from rust) and my expectation was to create a `Cache` with `strict_capacity_limit` `true`.

### Actual behavior
The only `ctor` that C API offers is with default option (strict_capacity_limit=false)

Here my patch for add this new feature

[new_c_api.txt](https://github.com/facebook/rocksdb/files/8288373/new_c_api.txt)

[2022-03-17 18:00] mdcallag opened #9709 "Print number of running and pending compactions in compaction IO statistics"
RocksDB has counters for the number of running flushes and compactions. This feature request is open to have them printed in compaction IO statistics.

To see the counters, start your search [here](https://github.com/facebook/rocksdb/blob/main/db/internal_stats.cc#L293).

[2022-03-18 20:00] cavallium opened #9718 "verify_checksums is ignored in rocksdbjni"
when creating a db iterator with column family handle and ReadOptions, the option "setVerifyChecksums" is ignored

### Expected behavior

The database is iterated without verifying any checksum

### Actual behavior

Checksums are being verified:
![image](https://user-images.githubusercontent.com/8604780/159075011-a8c6e681-379f-4e92-80f7-7973aa07940d.png)

### Steps to reproduce the behavior

[code

[2022-03-19 11:20] andrew-ld commented on #9718
analysing rocksdb's code I saw that in many parts where a BlockFetcher instance is created an empty ReadOptions instance is passed in the constructor, I think our problem exists because of this.

https://github.com/facebook/rocksdb/blob/a8a422e96205015ab9a32cfdb89a48c3f831e8a9/table/meta_blocks.cc#L526

https://github.com/facebook/rocksdb/blob/a8a422e96205015ab9a32cfdb89a48c3f831e8a9/table/meta_bl

[2022-03-19 11:26] andrew-ld commented on #9718
when analyzing the jni code it can be seen that the opts are set correctly.

https://github.com/facebook/rocksdb/blob/9e05c5e2519444faaf147a79e842853cee6f20ff/java/rocksjni/options.cc#L7887

but during the iteration the checksum is checked on BlockFetcher and looking at the comment above you can tell that the instance of the options that is passed to BlockFetcher is not the same as the one that is

[2022-03-19 22:44] cavallium opened #9720 "kxxH3 is missing in java"
The Java API is missing the latest checksum type, kxxH3 (value 4)

[2022-03-20 12:37] romanblachman commented on #9560
@ajkr Hi Andrew, any updates? It appears that none of the 6.29.x releases appear in maven central.
https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni

[2022-03-21 10:56] zhangxiatlq opened #9721 "mac m1 rocksdb create Object of ‘org.rocksdb.Options’ to make error"
Exception in thread "main" java.lang.UnsatisfiedLinkError: /private/var/folders/v6/m7pdv5jx32j4x4chgx9g84lm0000gn/T/librocksdbjni1427334806259122995.jnilib: dlopen(/private/var/folders/v6/m7pdv5jx32j4x4chgx9g84lm0000gn/T/librocksdbjni1427334806259122995.jnilib, 0x0001): tried: '/private/var/folders/v6/m7pdv5jx32j4x4chgx9g84lm0000gn/T/librocksdbjni1427334806259122995.jnilib' (mach-o file, but is an

[2022-03-21 10:58] zhangxiatlq commented on #9721
the program is true  when running in environment of windows

[2022-03-21 15:25] vibbix commented on #9721
Latest version of RocksJaba (6.28.2 as of now) isn't a universal binary, this is fixed in the upcoming 6.29.x release.

[2022-03-21 16:25] ajkr commented on #9721
Tracking issue for upcoming release - #9689

[2022-03-21 16:25] #9721 closed

[2022-03-22 10:17] LuciferYang commented on #9689
Is there an expected release time?

[2022-03-22 15:39] mrambacher opened #9731 "Should drop Support for Make, and just use CMake"
Maintaining two build systems (Make and CMake) is getting to be difficult.  Files, tests, configurations are added to one and not the other.  The "build_platform" script must be maintained and the contents matched for CMake.  Support for plugins and third-party code is difficult using Makefiles (variables with well-known names and hope for the best) whereas CMake has better tools for isolating and

[2022-03-22 17:37] #9650 closed

[2022-03-22 17:40] #9672 closed

[2022-03-22 19:29] eric-maynard commented on #2282
@east825 We have a similar use case; were you ever able to move forward with this?

[2022-03-22 22:07] ramvadiv commented on #9689
@LuciferYang  - we don't have a firm ETA yet. Waiting for update/status from @adamretter  on this. Will try to provide an firm ETA soon.

[2022-03-22 23:46] mdcallag opened #9737 "Use a good seed when --seed is not set or set to 0"
I have wasted more than a few hours running db_bench benchmarks where --seed was not set and getting better than expected results because cache hit rates are great because multiple invocations of db_bench used the same value for --seed or did not set it, and then all used 0. The result is that all see the same sequence of keys.

A good way to avoid this is to set it to the equivalent of gettimeofd

[2022-03-23 00:30] ajkr commented on #9689
Changed 7.0.2 -> 7.0.3 in the title. We don't want to distribute [7.0.0, 7.0.2] further due to a severe bug that'll be fixed by #9736 and included in 7.0.3.

[2022-03-23 01:26] ajkr commented on #9689
Tagged v6.29.4 with latest fixes so there is something concrete to release  when this resumes. I know there was a claim that 6.29.fb contains the wrong commits, but we don't know what those are and only intend to make bug fix changes on that branch at this point.

[2022-03-23 02:01] ajkr commented on #8617
BTW, I was unable to include #9656 in 6.29.4 because it uses features unavailable in C++11 (make_unique and try_emplace). 7.0.2+ releases will have the fix.

[2022-03-23 11:10] adamretter commented on #9689
I have posted a status update here - https://github.com/facebook/rocksdb/pull/9662#issuecomment-1076243221

[2022-03-23 11:58] dongdongwcpp opened #9739 "row_cache for one column family"
according to table_cache.h ,it said the row cache is obtained from ioptions.row_cache, why can't use row_cache for one column family only?

[2022-03-24 15:59] #9632 closed

[2022-03-24 19:34] #9720 closed

[2022-03-24 19:52] #6282 closed

[2022-03-25 16:18] adamretter commented on #9689
@ajkr Should I release RocksJava 7.0.1 and 7.0.2 or should I wait for 7.0.3?

[2022-03-25 16:38] jay-zhuang commented on #9689
I think v7.0.3 is tagged: https://github.com/facebook/rocksdb/tree/v7.0.3

[2022-03-25 17:07] stefan-zobel commented on #9689
6.29.4 is on Maven Central. I just noticed that librocksdbjni-win64.dll is missing in rocksdbjni-6.29.4.jar.
Don't know if that is on purpose. It is in rocksdbjni-6.29.4-win64.jar, so personally, I'm fine with that.

[2022-03-25 17:09] mrambacher commented on #5117
I believe the performance degradation started when validation of the Options file was introduced.  The performance problem is that every time the Options file is written, it is read back in and validated.  This validation is done by re-creating the ColumnFamilyOptions and comparing them to the expected ones.  This operation is what is taking the time.  Note that every ColumnFamily is validated on

[2022-03-25 19:14] adamretter commented on #9689
Afraid not. It should have also been in `rocksdbjni-6.29.4.jar`

[2022-03-25 22:09] adamretter commented on #9689
@stefan-zobel I just released a 6.29.4.1 to Maven Central (should appear in their next sync window <2 hours).

[2022-03-25 23:56] stefan-zobel commented on #9689
Thanks, it's there and it contains `librocksdbjni-win64.dll`

[2022-03-26 07:03] katusk commented on #5117
@mrambacher, thanks for the update. I am wondering: does the above, what you just described, also influence DB Open times? So is it possible that e.g. you have `rocksdb_options_set_create_if_missing` and `rocksdb_options_set_create_missing_column_families` flags set to true, all your column families are already created, and you call `rocksdb_open_column_families` -- yet parts of this Options file

[2022-03-26 09:29] jurmous commented on #9721
RocksDB 6.29.4.1 has been released to maven.

[2022-03-26 09:30] jurmous commented on #7720
RocksDB 6.29.4.1 has been released to Maven Central which should now work on M1 macs.

[2022-03-26 09:46] zhangxiatlq commented on #9721
<img width="879" alt="image" src="https://user-images.githubusercontent.com/26112021/160234073-f1f71d70-bd2c-465f-903e-bd362470042c.png">

[2022-03-26 11:28] jurmous commented on #9721
@zhangxiatlq I checked it on Maven Central directly and it works inside my project. It seems mvnrepository did not reindex Maven Central yet at the moment you checked it. It is now there.

<img width="736" alt="Screenshot 2022-03-26 at 12 25 23" src="https://user-images.githubusercontent.com/6823511/160237260-83d58cf7-4cad-45b0-ab45-c74b2ecb2704.png">

<img width="734" alt="Screenshot 2022-03-26 a

[2022-03-26 21:04] adamretter commented on #9689
I have now just release 7.0.3 as well to Maven Central. It should appear in their next sync window <2 hours.

[2022-03-26 21:04] #9689 closed

[2022-03-26 21:10] adamretter commented on #7720
Additionally now so has version 7.0.3

[2022-03-26 21:13] adamretter commented on #9721
@zhangxiatlq I would not trust mvnrepository!

[2022-03-27 05:17] zhangxiatlq commented on #9721
I have found version 6.29.4.1 of rocksdb in mvn repository

[2022-03-27 05:20] zhangxiatlq commented on #9721
why？？I think it very nice, but  Network instability

[2022-03-28 09:55] adamretter commented on #9721
Because it is just an aggregation index. I think it is better to go to the source, so you can be certain where your artifacts are coming from and what they are. Also mvnrepository can be out of date at times.

[2022-03-28 09:55] adamretter commented on #9721
Also to note that RocksDB 7.0.3 is now available from Maven Central too.

[2022-03-28 10:56] Coder666 opened #9761 "Assert constantly hit when using iter_start_ts"
### Expected behavior

When enumerating keys with an iterator that has the lower bound timestamp set the keys should be able to be enumerated without hitting any asserts within ```saved_key_.GetInternalKey()```

In a Relase build this works fine and the expected keys are returned.  In a Debug build this assert is triggered which leads me to believe that there is some possible logic error with the

[2022-03-28 11:25] jsteemann opened #9762 "Behavior after "no space left on device""
It looks to me that RocksDB's auto-recovery functionality after htting "no space left on device" does not work with the PessimisticTransactionDB and write policy `WRITE_COMMITTED`.
When the disk runs full and RocksDB gets an error on filesystem operation, it tracks that there has been a background error and makes all subsequent write operations fail. That is fine so far.
However, RocksDB stays in

[2022-03-28 17:39] #9390 closed

[2022-03-28 17:39] #9389 closed

[2022-03-28 18:30] ltamasi commented on #9762
Cc @anand1976

[2022-03-29 10:25] jsteemann commented on #5322
Update: the situation hasn't changed up to now.
It would be useful if the block cache could be made completely transparent, so that results of Status::Incomplete can be avoided when an entry does not fit into the block cache.
Otherwise the whole burden of sizing the block cache correctly in resource-constraint environments (where `strict_capacity_limit` is required to prevent OOM) is completely pu

[2022-03-29 15:15] alexreg opened #9768 "Status of rocksdb 6?"
Could someone kindly confirm the status of rocksdb? (I know a lot of existing software, including some of my own, depends on it, and is not ready to upgrade to v7.) Will it see patch releases in the near-medium future at least?

[2022-03-29 16:29] ajkr commented on #9768
We can try backporting bug fixes to 6.29 upon request. It is already difficult because fixes like #9656 are using C++17 features. It will get more difficult because we don't just have to backport to 6.29, but also to all 7.x versions up to the latest version, to make sure no upgrades (6.29 -> 7.x) cause a bug to be reintroduced.

To my knowledge, 6.29 is currently up-to-date besides the PR 9656.

[2022-03-29 17:28] frew commented on #5083
@riversand963 Are you working on this issue? No worries either way - just trying to figure out logistics on our end.

[2022-03-29 17:29] jay-zhuang commented on #9692
an related issue #9762 for recovery after disk full.

[2022-03-29 17:54] riversand963 commented on #5083
@frew I haven't started this yet, but I am interested in this. Self-assigning to either work on it or follow-up.
I haven't caught up with the discussion here so far either, but will do later.
I wonder whether we can reduce time holding db mutex by allowing applications to share snapshots. Currently, iiuc, a new `snapshot` object is created and inserted to the snapshot list, even if they may have t

[2022-03-29 18:56] #9718 closed

[2022-03-29 21:52] romanblachman commented on #9560
I can confirm that the solution works with 6.29.4

[2022-03-30 01:30] ajkr commented on #9681
Does it happen on newer versions (6.29.x or 7.0.x)? If so we can reopen.

[2022-03-30 01:30] #9681 closed

[2022-03-30 01:41] ajkr commented on #9737
Is it fixed so can be closed?

[2022-03-30 10:20] cavallium opened #9776 "Implement ByteBuffer methods for Transaction in Java API"
Transaction.getForUpdate, and other methods of Transaction, do not allow to use buffers, but only arrays.

[2022-03-30 20:52] jxy-s opened #9779 "CacheAlignedInstrumentedMutex padding array can be zero on 32bit"
### Expected behavior
The source should build.

### Actual behavior
The source does not build.

### Steps to reproduce the behavior
Building for Win32 produces a zero sized array in `CacheAlignedInstrumentedMutex` due to the a zero sized "padding" array.

[code]

I do not believe the explicit array padding is necessary, at least not for MSVC, as you defined the class to be aligned already with `AL

[2022-03-30 21:11] #9388 closed

[2022-03-30 23:07] #8345 closed

[2022-03-31 08:35] Rafat001 commented on #9279
Using either **SNAPPY** or **ZSTD** compression instead of **LZ4** seems to solve the problem. Any idea about what's wrong with **LZ4**?

[2022-03-31 21:51] mdcallag commented on #9737
Fixed by https://github.com/facebook/rocksdb/pull/9740

[2022-03-31 21:51] #9737 closed

[2022-03-31 21:51] mdcallag commented on #9737
yes

[2022-03-31 21:52] mdcallag commented on #9709
Fixed by https://github.com/facebook/rocksdb/pull/9726

[2022-03-31 21:52] #9709 closed

[2022-03-31 21:53] #9621 closed

[2022-03-31 21:53] mdcallag commented on #9620
Fixed by https://github.com/facebook/rocksdb/pull/9732

[2022-03-31 21:53] #9620 closed

[2022-03-31 21:59] mdcallag commented on #6889
@ajkr reopen if you disagree, but I think this can be closed given that [max_compaction_bytes](https://github.com/facebook/rocksdb/blob/53c8f739fd266bb9e755eccceea7adb4d5126083/include/rocksdb/advanced_options.h#L612) is a limit

[2022-03-31 21:59] #6889 closed

[2022-04-01 21:35] jonathan-albrecht-ibm opened #9795 "Compile util/compression.cc fails on Ubuntu 18.04 because of zstd version"
Can't compile rocksdb on ubuntu 18.04. libzstd on 18.04 is version 1.3.3 which did not have `ZSTD_compressStream2`. I think that was added with zstd 1.4.0.

I think this PR added `util/compression.cc` but I don't know if there are other issues in addition: https://github.com/facebook/rocksdb/pull/9619

Also relates to https://github.com/facebook/rocksdb/issues/9543

### Expected behavior
Successfu

[2022-04-04 05:49] #9540 closed

[2022-04-04 07:08] AllegraMcdonnell123 commented on #8522
anything new with this bug?

[2022-04-04 09:18] adamretter commented on #8522
Is it possible to re-test this with a newer version of RocksDB?

[2022-04-04 16:31] ajkr commented on #9066
The second problem is fixed by #9507. I will check on the first problem.

[2022-04-05 10:23] theolivenbaum commented on #8522
Still seeing the same issue, it seems like the rocksdb portable build is not really portable on Windows. Happens on machines that don't have AVX2

[2022-04-05 11:43] adamretter commented on #8522
@theolivenbaum Can you send a PR to the CMakeLists.txt to adjust it?

[2022-04-05 12:02] theolivenbaum commented on #8522
Hi @adamretter I would love to - but I'm not familiar enough with the rocksdb source code to be able to identify what's causing this dependency on AVX2. If there is no bandwidth on your side, I could try to figure this out. but would appreciate any tips!

[2022-04-05 16:59] siying commented on #9795
It feels that the definition here is wrong: https://github.com/facebook/rocksdb/blob/2586585b0c9e5a2d7df776ccdf18e6a3f9ddc05e/util/compression.h#L48-L53

@jonathan-albrecht-ibm are you interested in fixing this definition for us?

CC @anand1976

[2022-04-05 17:24] siying commented on #9779
If my understanding is correct, this is not to align the beginning of the object, but to make sure the variable after the object won't sit in the same cacheline as the current mutex.

If it breaks the build if "char padding[0]" is used, it might indeed be a problem. @ajkr do you have any suggestion how we should fix it?

[2022-04-05 18:17] siying commented on #9776
@cavallium are you interested in helping with it, assuming @adamretter would review the change?

[2022-04-05 18:42] ajkr commented on #9779
Right.

I think we could heap allocate the CacheAlignedInstrumentedMutex (to solve C2229) and disable the warning (to solve C4200).

[2022-04-05 19:28] #9066 closed

[2022-04-05 20:08] davidtavarez opened #9808 "facebook-rocksdb-v6.6.4.tar.gz wrong hash"
### Expected behavior

Hash of file https://github.com/facebook/rocksdb/archive/v6.6.4.tar.gz should be: 22f5105244c55ca7030cc8d7ee06cb87f4afdfc85b3f44f7512a9c9c41c037c3b70fd291ec1b0df2553a93b770e11abc4ae2d7f984b2a0f1addd26d424c09539
### Actual behavior

Hash of https://github.com/facebook/rocksdb/archive/v6.6.4.tar.gz vary.

### Steps to reproduce the behavior

Install rocksdb using vcpkg.

[2022-04-05 20:28] ajkr commented on #9779
Actually, it is an artifact of an earlier approach and is no longer needed. Now that we have a struct we can rely on sizeof to include padding at the end (implied in the sizeof spec: [When applied to a class, the result is the number of bytes in an object of that class including any padding required for placing objects of that type in an array.](https://eel.is/c++draft/expr.sizeof#2.sentence-2))

[2022-04-05 21:30] jonathan-albrecht-ibm commented on #9795
I tried building and testing with this change:
[code]
but I get an error when testing:
[code]
@anand1976 I think its a zstd failure so I think there's more than just the definition fix.

[2022-04-05 21:54] anand1976 commented on #9795
@jonathan-albrecht-ibm The [ZSTD_StreamingSupported()](https://github.com/facebook/rocksdb/blob/main/util/compression.h#L518) definition also needs to be updated.

[2022-04-06 01:32] cavallium commented on #9776
Sorry, I can't, I am currently very busy.

[2022-04-06 01:34] #9779 closed

[2022-04-06 03:57] jay-zhuang commented on #9808
sounds like a problem of vcpkg. Other than java package, rocksdb team doesn't distribute other binaries.
and here is the link to 6.6.4 release: https://github.com/facebook/rocksdb/releases/tag/v6.6.4 with asset links.

[2022-04-06 03:57] #9808 closed

[2022-04-06 04:39] jxy-s commented on #9779
kudos for taking care of this @ajkr - thank you!

[2022-04-06 04:42] jxy-s commented on #9779
kudos for taking care of this @ajkr - thank you!

[2022-04-06 15:45] guoxiangCN opened #9813 "Error reported when build rocksjava portable target"
### Expected behavior
build success

### Actual behavior
1. failed since zlib's download url was invalid. (i fixed this)
2. build java target when use docker, error like:
mkdir -p java/target
docker run --rm --name rocksdb_linux_x86-be --platform linux/386 --attach stdin --attach stdout --attach stderr --volume /Users/kuiper/.m2:/root/.m2:ro --volume `pwd`:/rocksdb-host:ro --volume /rocksdb-local-

[2022-04-06 18:30] pdillinger commented on #8522
I'm not a cmake expert but I believe that `-DHAVE_AVX2=OFF` is going to enable the `#ifdef HAVE_AVX2` in the source code

[2022-04-07 03:57] 6591812 commented on #3254
@kennthhz
hi，I download you code in https://github.com/kennthhz/rocksdb with master branch.

After read code with "async get with coroutine"，I have some questions.
(1) Could you give some examples of how a user call AsyncGet() in db_impl.cc?
(2) How are the coroutines resumed?  In async_result.h, where is the async_result.promise_type.prev_ initialized?

Thanks.

[2022-04-07 05:40] GOGOYAO commented on #3961
I meet this problem too. CPU is used heavily and cpu hotspot is `CheckBlockChecksum`

[2022-04-07 06:41] GOGOYAO opened #9816 "`cache_index_and_filter_blocks=true` make `Get` slowdown on RAM"
I use rocksdb on ram with`cache_index_and_filter_blocks=true`. But it will slow down `get` performance.
The cpu is used heavily and cpu hotspot is on `crc`
![image](https://user-images.githubusercontent.com/18675094/162135751-e18fcdca-241b-4905-b855-d6aeaedd1eca.png)

If I set `cache_index_and_filter_blocks=true`, I will get a steady performance.

### Expected behavior
performance should be steady

[2022-04-07 06:43] GOGOYAO commented on #9816
This issue is mentioned at https://github.com/facebook/rocksdb/issues/3961 before.

My rocksdb version is 5.11.3. I wonder whether this issue is fixed after version 5.11.3

[2022-04-07 11:24] Coder666 opened #9818 "Blobdb incorrect Get behaviour when using timestamps "Key mismatch when reading blob""
### Expected behavior

db->Get(...) should return status OK

### Actual behavior

db->Get(...) returns a corruption error ```Status::Corruption("Key mismatch when reading blob")```

### Steps to reproduce the behavior

use the timestamp feature
use the blobdb feature

perform a Get, whereby the get is a MEMTABLE_MISS

The following callstack causes the issue:

[code]

Within the ```BlobFileReader:

[2022-04-07 14:45] szetszwo commented on #8617
@adamretter,  Just a question: when there is a RocksDBException, is it good to close RocksDB and other RocksObject(s)?  We are not sure how to handle a RocksDBException, if there is any.  Thank you in advance.

[code]

[2022-04-07 14:48] adamretter commented on #8617
You should close any objects you have acquired

[2022-04-07 15:11] szetszwo commented on #8617
@admretter, Thanks a lot for the quick response!

[2022-04-07 17:03] kerneltime commented on #8617
Thank you @adamretter are you saying that RocksDB should be closed if we hit any exception? I see that RocksDBException an encompass list of errors.
[code]

[2022-04-07 17:15] ajkr commented on #9816
@GOGOYAO What is the capacity of your block cache? It can be found in the LOG file or in your code where you create a block cache. LOG file example (capacity is 8MB):

[code]

Also, what is the size of your filter data? You could get it exactly by calling `GetPropertiesOfAllTables()` and summing the TableProperties::filter_size, or provide an estimate.

My guess based on the profile is that your f

[2022-04-07 17:50] adamretter commented on #8617
No not at all. I'm just suggesting you close the resources you no longer need

[2022-04-08 02:07] GOGOYAO commented on #9816
[code]
My cache capacity is 1 GB. The setting details is as stated above.

My value is small, about 200 bytes.  The compaction log is as below.
[code]

[2022-04-08 02:17] GOGOYAO commented on #9816
Besides, I wonder what is the caveat of cache_index_and_filter_blocks. I did not see advise in wiki.

[2022-04-08 06:01] ajkr commented on #9816
Yeah the index+filter is not huge according to the logs.. But it still appears quite possible the total exceeds 1GB (particularly considering the logs showed files with average value size 800+ bytes, while you mentioned average value size is 200 bytes, which would mean the filters in other files are on average > 4x larger than shown here). If the total index+filter exceeds your block cache size, a

[2022-04-08 06:05] ajkr commented on #9816
Here is one related wiki: [cache_index_and_filter_blocks](https://github.com/facebook/rocksdb/wiki/Block-Cache#caching-index-filter-and-compression-dictionary-blocks)

Also note newer RocksDB versions offer pinning options to prevent thrashing in more scenarios; see https://github.com/facebook/rocksdb/blob/49623f9c8e3c2803b6e1d992fc1687628a17491e/include/rocksdb/table.h#L58-L105

[2022-04-08 07:15] GOGOYAO commented on #9816
thank you. I will test it.

[2022-04-08 07:54] q96456 opened #9822 "mongorocks with rocksdb 5.7.3 lose data"
[[](>]([url](url)) Note: Please use Issues only for bug reports. For questions, discussions, feature requests, etc. post to dev group: https://groups.google.com/forum/#!forum/rocksdb or https://www.facebook.com/groups/rocksdb.dev

### Expected behavior
data integrity

### Actual behavior
data lost or invisible

I use mongorocks with rocksdb 5.7.3. Theoretically, primary and secondary data are appr

[2022-04-08 10:51] adamretter commented on #9813
Which version are you building?

[2022-04-08 20:19] mrambacher commented on #8522
I agree with Peter.  I think the "HAVE_AVX=OFF and HAVE_AVX2=OFF are wrong.  The are not commands to the cmake system and, if they actually managed to set something in the C++ code, it would be enabled.

If you are attempting to make sure the AVX is OFF even with PORTABLE=ON, you need to use -DFORCE_AVX(2)=OFF

[2022-04-09 14:25] cavallium opened #9826 "Multiple crashes with rocksdbjni 7.0.4"
Recently I found out that my server crashed multiple times on a rocksdb internal function during the last days, here are the crash logs:

[hs_err_pid711251.log](https://github.com/facebook/rocksdb/files/8457113/hs_err_pid711251.log)
[hs_err_pid712825.log](https://github.com/facebook/rocksdb/files/8457114/hs_err_pid712825.log)
[hs_err_pid3360734.log](https://github.com/facebook/rocksdb/files/845711

[2022-04-10 11:39] adamretter commented on #9826
These all appear to be caused by Background Compaction - @jay-zhuang have you seen anything like this?

[2022-04-11 01:39] zhichao-cao opened #9828 "Efficient way to split a DB into 2 or multiple DB based on key range?"
Is there an existing function or logic to split one DB into 2 or more DB based on the key range?

For example, the current DB key range is [0, 1000]. To split the DB into 2 small DBs with a balanced space size, the 2 new DB may be [0, 420] and [430, 1000] (say each contains 200 KV-pairs).

Theoretically, we just need to split at most 1 SST file in each level if it is a 2-DB split. Other SST files

[2022-04-11 03:50] riversand963 commented on #9828
Have you considered using DeleteRange?
Use backup or checkpoint (not sure of the details) to get two databases that are the same as the previous one.
Open each of them. For the first db, write a `DeleteRange(420, 1000)`. For the second one, write a `DeleteRange(0, 430)`. Additional attention needs to be paid to interval bound: inclusive or exclusive.

[2022-04-11 03:52] riversand963 commented on #9828
Note this does not say anything about "balance size". To achieve balanced size, you need something like `GetApprorimateSizes()` to figure out where to split.

[2022-04-11 12:47] szetszwo commented on #8617
@kerneltime , wrong list?  It is a list of status but not a list of errors.  Are you saying that `Ok((byte)0x0)` is an error?  :)

[2022-04-11 15:58] zhichao-cao commented on #9828
@riversand963 Hi Yanqin, thanks for your suggestion. Yes, the backup/checkpoint + DeleteRange can be a combination to achieve that. But it may have 2 downsides: 1) I need to copy the whole DB which will cause write amplification and heavy workload. 2) During the backup and deleterange, we may need to suspend the write? I cannot think of it clearly: in this whole process, should we shutdown the DB?

[2022-04-11 20:28] riversand963 commented on #9828
As long as the two DBs will both continue to serve writes, they will eventually diverge. If you do not want to copy upfront, then you are looking for some copy-on-write approaches in which the two DBs share files before their writes diverge. Afaik, this is not well supported atm. Secondary instance may be promising with non-trivial additional work to be done.

Suppose you already have two database

[2022-04-12 13:19] iam57-2020 opened #9832 "disable_auto_compactions in FillDeterministic benchmark"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

after cmake and  make, "./db_bench" throw 《disable_auto_compactions in FillDeterministic benchmark》

[2022-04-12 16:16] jay-zhuang commented on #9832
I think db_bench by default will run `fillseqdeterministic` which requires `disable_auto_compactions=true`:
https://github.com/facebook/rocksdb/blob/f241d082b61e758e137c661e47f768c8fce6f8f5/tools/db_bench_tool.cc#L3180-L3188
You can specify the test name and set `-disable_auto_compactions=1`, example:
[code]

[2022-04-12 17:27] jay-zhuang commented on #9826
@cavallium is there any information could help to reproduce the issue?

[2022-04-12 17:39] akankshamahajan15 commented on #9818
cc @ltamasi Can you take a look at this one.

[2022-04-12 17:56] cavallium commented on #9826
Unfortunately no, It seems to happen randomly.

[2022-04-12 17:57] cavallium commented on #9826
In the tests I just opened the databases and started writing a large quantity of key-value pairs for some minutes

[2022-04-12 17:59] jay-zhuang commented on #9826
Can you share the tests?

And run with a debug version should give us more information about the exception, can you try that: https://github.com/facebook/rocksdb/wiki/JNI-Debugging

[2022-04-12 19:03] ltamasi commented on #9818
Right, these two features are currently not fully compatible. This particular issue should be easy to fix and in fact, `MultiGet` seems to be fine based on my reading of the code.

@riversand963 I see that this feature combination is actually disabled in our stress tests. I'm wondering if you are aware of any other places that might need some work?

[2022-04-12 19:52] cavallium commented on #9826
Unfortunately the test is based on a lot of private code that I can't share.
I'll try to write a test based only on rocksdbjni, thanks for the suggestion about the debug version

[2022-04-12 20:58] adamretter commented on #9826
@jay-zhuang I might be wrong, but the existing traces seem to indicate a problem in Rocks background compaction as opposed to a jni misuse issue. What are your thoughts?

[2022-04-12 21:17] riversand963 commented on #9818
@ltamasi Need to take a closer look, but I don't think this is hard to support.

[2022-04-13 00:47] netguy204 commented on #5611
I'm experiencing this crash as well on version 6.28.2

[2022-04-14 18:07] #9795 closed

[2022-04-15 00:22] #1565 closed

[2022-04-15 09:06] AndyShen105 opened #9847 "confuse about memory usage of block cache"
RocksDB:6.20.3

Background: There is a  task which I read data by multi-get and write some data meanwhile. And first, I set the option as follow:
bbt_opts.cache_index_and_filter_blocks = true;
bbt_opts.cache_index_and_filter_blocks_with_high_priority = true;
max_open_files = -1
when the task finished, the memory usage of block cache is about 11GB;
Then I set cache_index_and_filter_blocks to false

[2022-04-15 16:39] pdillinger commented on #9826
The crash is likely in code from https://github.com/facebook/rocksdb/pull/9736. Any chance the process is shutting down when you see this crash (static destruction order)?

[2022-04-15 18:31] cavallium commented on #9826
I figured out the problem, there was a bug in my code that bypassed the close method (I was marking the database as closed before checking if it needed to be closed).

So this happened because my code didn't call db.close()

[2022-04-15 19:33] theolivenbaum commented on #8522
@ajkr this is unfortunately not closed yet.
I've tested the change proposed but still crashing on CPUs without AVX2.

I've ordered now an older laptop to see how to test this directly from the rocksdb source code, but any guidance would be appreciated!

[2022-04-15 19:36] ajkr commented on #9847
What's the configured capacity of your block cache? We do not proactively evict an index/filter block from block cache when its associated file is deleted. Whereas, with `cache_index_and_filter_blocks == false`, an index or filter will only occupy memory while its associated file is alive.

[2022-04-15 19:36] #9847 closed

[2022-04-15 20:12] #9826 closed

[2022-04-16 03:21] lootnath opened #9853 "but how fast. and why call it just fast if its fastest cuz i aint fast, i am thegodspeed."
but how fast. and why call it just fast if its fastest cuz i aint fast, i am thegodspeed.

[2022-04-16 03:36] #9853 closed

[2022-04-16 09:18] theolivenbaum commented on #8522
I'm wondering if we're missing setting flags for one of the imports is causing this issue. @fmarkor reported that [disabling compression](https://github.com/curiosity-ai/rocksdb-sharp/issues/5#issuecomment-1087785763) fixes the problem on his case - obviously not the ideal solution, but interesting finding... I'm still investigating on our case if this also fixes the crash.

From a quick check on

[2022-04-17 01:16] hx235 commented on #9828
Hey our old friend @zhichao-cao :) any particular thing you still need or action item for this issue before we can close it?

[2022-04-17 01:19] hx235 commented on #9822
Hi @q96456, does the suggestion above work for you? I am closing this for now but feel free to re-open it if any more help is needed.

[2022-04-17 01:19] #9822 closed

[2022-04-17 01:24] hx235 commented on #9816
@GOGOYAO Any other things you might need for this issue? I am closing this one but feel free to reopen if you do need more help.

[2022-04-17 01:24] #9816 closed

[2022-04-17 01:28] hx235 commented on #9707
@guerinoni Considering you have the patch already, would you be interested in opening a new PR or link one if you already did so? Thanks!

[2022-04-17 05:50] zhichao-cao commented on #9828
I see. Thanks! It is really helpful. What if we extend it to a more general case? If we want to split the DB into N key ranges and migrate the N key ranges to other DBs, any efficient way to do that?

[2022-04-17 05:51] zhichao-cao commented on #9828
Hi Hui, it has been such a long time! I may prefer to leave this issue open for a while to discuss some related topics. (I guess you are the on-call this week? :）)

[2022-04-17 05:53] hx235 commented on #9828
Got you! Then I will tag this as "design discussion" instead of question!

(Haha - yes I am the luck oncall this week :)

[2022-04-17 10:05] theolivenbaum commented on #8522
@ajkr we can finally close the issue. The problem was with the vcpkg imports on the windows build script, that didn't disable avx2.

[2022-04-17 10:05] #8522 closed

[2022-04-17 16:55] guerinoni commented on #9707
@hx235 thank you for reviewing this :)
Opened a PR

[2022-04-18 11:28] q96456 commented on #5317
@ajkr  I think I have this problem too. I have complete data and logs from creation to now.
how do i submit it to you.

[2022-04-18 15:29] mdcallag opened #9856 "Print the elapsed time for a benchmark in db_bench output"
db_bench has many metrics to print at the end of a benchmark. But it does not print the elapsed time. I was debugging a benchmark with too much variance and then I realized the benchmark finished in 0.1 seconds.

The current output displays throughput and total number of operations. It is possible to do the math with these to derive the elapsed time but I prefer to make it easier and just display

[2022-04-18 21:57] charleswei19 opened #9860 "Rocksdb Jni multiGetAsList cause Jvm crash"
### Expected behavior

No Crash

### Actual behavior

The jvm will crash due the rocksdb jni issue.
Jni version: 7.1.1 (Got the similar crash in 6.8.1 as well)
The log is from 7.1.1

[code]

one more different stack trace
[code]

[2022-04-18 23:53] mdcallag opened #9861 "CPU overhead from malloc_usable_size"
Using tools/benchmark.sh to run benchmarks shows that malloc_usable_size might account for between 10% and 20% of the regression between v6.0 and v6.28. Note that the regression from v6.0 to v6.28 is frequently in the range of 10% to 20%, 10% of 10% is 1% while 20% of 20% is 4%.

So disabling malloc_usable_size in v6.28 will make it between 1% and 4% faster. I am not suggesting that, but I am sugg

[2022-04-19 01:27] ltamasi commented on #8713
@leon-db Sorry about the long delay. Would you still be interested in working on this feature?

[2022-04-19 02:45] sunlike-Lipo opened #9863 "[Proposal]Optimize OpenAndTrimHistory performance with skip unnessary compacting files by checking each file's timestamp meta"
A new API named DB::OpenAndTrimHistory is added to imported by (https://github.com/facebook/rocksdb/issues/9223), this API will open DB and trim data to the timestamp specified by trim_ts (The data with newer timestamp than specified trim bound will be removed).
Currently this API will iterate every sst file to trim data which has newer timestamp than specified trim_ts. Actually files with max_ts

[2022-04-19 06:35] q96456 commented on #9822
It's maybe ok.,but I don't think I have to call DeleteRange or DeleteFilesInRange. I find the issue https://github.com/facebook/rocksdb/issues/5317 It looks similar to my problem. I can provide complete data catalog and logs, from creation to current. How do i submit it to you.

[2022-04-19 06:51] foreverneverer opened #9864 "java.lang.UnsatisfiedLinkError: org.rocksdb.HdfsEnv.createHdfsEnv(Ljava/lang/String;)J"
# Version 6.6.4

I use rocksdbjava with hdfs-env(I compile it in my own os env, java=1.8, gcc=4.8) in following pom(**spark 2.1 env**) running well:
[code]
But when I use the following pom(**spark3.1 env**):
[code]

The code is call:
[code]
and it report error:
[code]
I was confused that it just report `UnsatisfiedLinkError` but no any other more message. I try add debug info as follow:
[code]

I

[2022-04-19 07:03] foreverneverer commented on #9864
@adamretter Hi, I have see some related issue but not found the resolution, and I found you should have enough experience to jni module, could you give me some suggestion?

[2022-04-19 16:35] #9707 closed

[2022-04-20 02:13] walterzhaoJR opened #9876 "When the disk space is full and recovered, some write threads are stuck and cannot heal themselves."
### Version
* RocksDB version: 5.18.3

### Expected behavior
* When the disk space is full and recovered, the database should resume normal writing.
### Actual behavior
* When the disk space is full and recovered, the database does not resume normal writing.
* Some write threads are stuck and cannot heal themselves.

### Steps to reproduce the behavior
* Stack information for a stuck thread
![imag

[2022-04-20 11:24] adamretter commented on #9864
Can you try with a newer version 6. Also be aware that for version 7 Hadoop support has been moved out of the project into a plugin

[2022-04-20 11:58] foreverneverer commented on #9864
Our [project](https://github.com/XiaoMi/pegasus-rocksdb) has compatibility problems above 6.6.4, so I can't upgrade to the latest to test.

[2022-04-20 22:10] mdcallag opened #9880 "db_bench --benchmarks=flush doesn't flush the default column family"
I added support for --benchmarks=flush [last year](https://github.com/facebook/rocksdb/blame/main/tools/db_bench_tool.cc#L7935) and that code does not call Flush for the default column family. Something like this diff will do the right thing for the default column family:
[code]

[2022-04-21 02:27] ajkr commented on #9822
I didn't check your version, but one safeguard against #5317 that we enable by default today is force_consistency_checks=true. In recent versions, at least, it checks that files do not overlap before installing them to the LSM (more details: http://rocksdb.org/blog/2021/05/26/online-validation.html).

[2022-04-21 02:33] ajkr commented on #5317
The default for force_consistency_checks is true for the past few versions, so overlapping files can't be applied to the LSM anymore, unless running an older version or explicitly opting out.

[2022-04-21 02:33] #5317 closed

[2022-04-21 02:36] ajkr commented on #9692
Also #9876.

[2022-04-21 02:58] q96456 commented on #5317
I did not upgrade the version of rocksdb,also did not restart the process.

[2022-04-21 09:11] nguyenm100 opened #9883 "EXCEPTION_UNCAUGHT_CXX_EXCEPTION"
using java rocksdb/java 7.1.1 on windows 10, java 17.  trying to build a triplestore atop rocksdb and loading a very large ttl file (88G) but have seen this write issue before on ttls a few gigs large.

[code]

[2022-04-21 09:31] nguyenm100 commented on #9883
May have been around the time of a compaction.  Per above, crash around: 23:16:46

From LOG

2022/04/20-23:16:02.518062 345c [db\compaction\compaction_job.cc:2040] [default] [JOB 78] enerated table #660: 31249505 keys, 2299557453 bytes
2022/04/20-23:16:02.518878 345c EVENT_LOG_v1 {"time_micros": 1650510962518233, "cf_name": "default", "job": 78, "event": "table_file_creation", "file_number": 660,

[2022-04-21 09:47] adamretter commented on #9864
Can you check that the native signature of `createHdfsEnv` here - https://github.com/facebook/rocksdb/blob/v6.6.4/java/rocksjni/env.cc#L182
matches your generated `java/include/org_rocksdb_HdfsEnv`?

[2022-04-21 09:49] adamretter commented on #9860
@charleswei19 Can you provide the full stack and steps to reproduce please

[2022-04-21 09:51] foreverneverer commented on #9864
I check it and find it is right

[code]

[2022-04-21 09:53] adamretter commented on #9883
Is this exception coming from `KERNELBASE.dll` ? We need some idea of what the exception is to progress I think

[2022-04-21 09:55] adamretter commented on #9864
Did you build with `USE_HDFS=1` set? See https://github.com/facebook/rocksdb/blob/v6.6.4/build_tools/build_detect_platform#L519

[2022-04-21 09:57] ronag opened #9884 "Slice is missing virtual destructor"
The following will not work as expected without a virtual destructor:

[code]

[2022-04-21 10:06] nguyenm100 commented on #9883
sorry am new to rocksdb wrt internals. this is the dump i get after kicking off the process and having it run for a few hours. could you advise on how to obtain better debugging info? tx

[2022-04-21 10:08] foreverneverer commented on #9864
Yeah, the jni library can be used for `spark2.1`, but can't run on `spark3.1`

[2022-04-21 11:50] adamretter commented on #9864
@foreverneverer Sorry, but I don't understand why there is a problem with different spark versions? Surely that would point to a Spark issue rather than a Rocks isue?

[2022-04-21 11:53] adamretter commented on #9883
@nguyenm100 I am afraid I am not sure. Maybe building a Debug version of RocksDB would help (but I am not certain), see:

https://github.com/facebook/rocksdb/wiki/Building-on-Windows

Specifically, changing `-DCMAKE_BUILD_TYPE=Release` and `/p:Configuration=Release` to `-DCMAKE_BUILD_TYPE=Debug` and `/p:Configuration=Debug`

[2022-04-21 12:50] nguyenm100 commented on #9883
Ok thanks.  Revisiting my code, I noticed I'm not closing out my WriteBatch and WriteOptions objects which may be causing the problem.  Will dig around a little more on my side.

[2022-04-22 00:33] ajkr commented on #9884
I tried it and it worked. You may want to specify what is expected to happen and what actually happened.

[2022-04-22 02:35] foreverneverer commented on #9864
OK, thanks a lot! I will try it!

[2022-04-22 04:07] #9813 closed

[2022-04-22 04:08] #9306 closed

[2022-04-22 04:09] #9268 closed

[2022-04-22 05:17] ronag commented on #9884
I don't think this should have question label?

[2022-04-22 07:22] muthukrishnan24 opened #9889 "User Timestamp in C API"
Need [User Timestamp](https://github.com/facebook/rocksdb/wiki/User-defined-Timestamp-(Experimental)) APIs in C API

[2022-04-22 08:28] nguyenm100 commented on #9883
problem does appear to be not releasing various rocksdb jni objects.

[2022-04-22 08:28] #9883 closed

[2022-04-22 15:56] mdcallag opened #9891 "crc32c benchmark is 2X faster for gcc builds vs clang"
### Expected behavior

I expect similar performance for this whether gcc or clang was used:
db_bench --benchmarks=crc32c

### Actual behavior

Results for gcc builds are more than 2X faster than clang builds.

### Steps to reproduce the behavior

Create 3 binaries:
* gcc = make DEBUG_LEVEL=0 V=1 VERBOSE=1 db_bench
* clang.0 = CC=/usr/bin/clang CXX=/usr/bin/clang++ make DEBUG_LEVEL=0 V=1 VERBOSE=1

[2022-04-22 16:41] mdcallag commented on #9891
Results for all of the CPU-intensive microbenchmarks from db_bench

All numbers are MB/s
[code]

[2022-04-22 16:46] pdillinger commented on #9891
CC: @Cyan4973

[2022-04-22 17:06] riversand963 commented on #9761
Thanks @Coder666 for reporting.
I wonder whether there is any subtle difference between your code and our unit test https://github.com/facebook/rocksdb/blob/6.29.fb/db/db_with_timestamp_basic_test.cc#L1061:L1075, except comparators.

[2022-04-22 17:30] RoeyMaor opened #9892 "Flush with wait=false is still blocking while there are stopped writes"
### Expected behavior
If there are stopped writes, manual flush should return and not block if in the flush options we have wait=false.

### Actual behavior
Manual flush is stuck forever if there are stopped writes

### Steps to reproduce the behavior
Written a test to reproduce the bug in the pull request solving it.

[2022-04-22 18:13] RoeyMaor opened #9894 "Problem with PosixEnv destructor"
The PosixEnv destructor was designed with the assumption that it runs in the main thread.
There are situations where it won't execute in the main thread, resulting in a deadlock or other undefined behavior.

When a signal is received, Linux chooses the thread on which the signal handler will run from all of the threads of the process which are in a waiting state (like the threadpool background thr

[2022-04-22 19:25] Coder666 commented on #9761
ok so I uncommented the assert and ran our unit tests again.  The issue is actually ocurring only when iterating backwards

so:

pIter->Seek( ... );

[code]

[2022-04-22 19:29] riversand963 commented on #9761
I see. I don't think iter_start_ts is supported in backward mode, and unfortunately, there is no comment to make this explicit. We should update the API comment.

[2022-04-22 19:32] Coder666 commented on #9761
seems to work fine with the assert just commented out :)

[2022-04-22 19:33] Coder666 commented on #9761
We have been using it for almost a month now like that.

[2022-04-22 21:29] ajkr commented on #9884
I think it should have the question label. The question is whether to add a virtual function to Slice thereby increasing an extremely frequently used class's size. My feeling is we should not, but I'll leave it as an open question in case there are differing opinions/alternative ideas.

[2022-04-23 16:56] ronag opened #9900 "Question: How to get exclusive/inclusive bounds?"
The `iterate_upper_bound` and `iterate_lower_bound` are exclusive and inclusive respectively. Is there a smart way to also get the opposite somehow (i.e. inclusive and exclusive)?

[2022-04-23 17:22] ronag commented on #9900
I'm trying to simplify the following code https://github.com/nxtedition/rocks-level/blob/951441f9722bf87288945a7d15618f829fcf4ae6/binding.cc#L451-L633

[2022-04-24 23:05] #8349 closed

[2022-04-25 13:53] adamretter commented on #8349
@Dmdv You can find Docker images (including Alpine) for build-environments for RocksDB for various CPU architectures here - https://github.com/evolvedbinary/docker-rocksjava

If you look in the RocksDB Makefile itself and search for 'docker', you will see how these are used for building RocksDB.

[2022-04-25 14:19] renjc0816 opened #9902 "Question：How to run Rocksdb Multi-thread in YCSBC?"
Ok it`s due to i am newbee, but is there anyone konw how to run Multi-thread rocksdb in YCSBC?
(Not YCSBC Multi-thread itselfs)
o(╥﹏╥)o

[2022-04-25 15:23] jay-zhuang commented on #9902
does this help: https://github.com/Colins110/YCSB-C-RocksDB

[2022-04-25 15:23] #9902 closed

[2022-04-25 15:47] adamretter commented on #9902
I contributed the original RocksDB code to YCSB, however as YCSB is in Java, it uses the RocksJava API.

The JNI interface has some overhead, so the results with RocksJava will be less than those of using RocksDB from C or C++. If you want C or C++ then @jay-zhuang's suggestion is likely the way to go. Otherwise if you want Java you can use https://github.com/brianfrankcooper/YCSB/tree/master/rock

[2022-04-26 08:19] ronag opened #9904 "Iterator Seek & SeekForPrev does not consider bounds"
When seeking it's possible to seek out of bounds. Seems like the bounds are only applied for Next/Prev?

[2022-04-26 14:03] renjc0816 commented on #9902
Thanks for your help, i don`t konw how to reply comment so i add a new comment here.
Maybe it's because I didn't describe it clearly enough...
I run rocksdb in YCSBC ok but in single thread,now i want to run Multi-thread rocksdb in YCSBC.The parameter of '-threads 8' only change the threads of ycsbc itself not rocksdb,i want know how to make rocksdb run in Multi-thread (rocksdb default in single t

[2022-04-26 18:36] pdillinger opened #9907 "Multireadrandom in benchmark.sh doesn't use batched MultiGet"
https://github.com/facebook/rocksdb/blob/3653029dda238692564773552c55cc29fea10310/tools/db_bench_tool.cc#L1548
https://github.com/facebook/rocksdb/blob/3653029dda238692564773552c55cc29fea10310/tools/benchmark.sh#L521
https://github.com/facebook/rocksdb/blob/3653029dda238692564773552c55cc29fea10310/include/rocksdb/db.h#L586
https://github.com/facebook/rocksdb/wiki/Performance-Benchmarks#test-3-mult

[2022-04-26 18:37] pdillinger commented on #9907
Doing a MultiGet benchmark with db_bench is user-hostile, because defaults for --multiread_batched and --batch_size work against you.

[2022-04-26 21:07] pdillinger commented on #9894
AFAIK there is no bug here. If a signal causes termination, no destructors are run. If a signal does not cause termination, no destructors are run. Closing until you can provide some reproducer.

If you exit the program with a DB open, you can easily run into trouble in the PosixEnv destructor. That's because we don't attempt to support that case (starting static destruction with a DB open). That

[2022-04-26 21:07] #9894 closed

[2022-04-26 21:31] pdillinger commented on #9884
My understanding of the consensus in C++ coding standards and analyzers is this:

* A class with virtual functions should have a virtual destructor
* Don't delete a derived class object through pointer to base class without virtual destructor

Or subsuming both of those:
* [Do not delete a polymorphic object without a virtual destructor](https://wiki.sei.cmu.edu/confluence/display/cplusplus/OOP52-

[2022-04-26 21:36] ajkr commented on #9904
I'd assume `Seek*()` should target a key within the bounds specified by `iterate_{lower,upper}_bound`. The bounds should apply to the internal iterations that happen during `Seek*()`, though. For example, if your `iterate_upper_bound` is "b", you `Seek("a")`, and the only key in the DB is "c", the iterator should not iterate to "c".

[2022-04-26 21:39] ajkr commented on #9907
Not sure if you wanted this up-for-grabs or assigned to yourself. Please correct it if my guess was incorrect.

[2022-04-26 21:42] ajkr commented on #9900
I don't think there is a way. If your key's immediate successor can be determined by appending a '\0', you could do that to the lower bound to make it exclusive, or do that to the upper bound to make it inclusive.

[2022-04-26 21:42] #9900 closed

[2022-04-27 04:20] chris-yupeng opened #9909 "env_ in java of Options might be messed"
In Options.java
[code]

The DBOptions here already has an env_ which could be implemented with some other os interfaces and very different from the Env.getDefault().
When using this function to generate a new Options from DBOptions and ColumnFamilyOptions, shouldn't we use the env from the DBOptions to the Options java env_ here?

So I think the code should be like this:
[code]

[2022-04-27 04:36] caipengbo opened #9910 "GeneralTableTest.ApproximateOffsetOfCompressed test case failed in table_test"
I ran the unit tests for Rocksdb version 6.29.5 and found that one test case failed:

[code]

I looked at the code and found that it was related to the compression algorithm. I successfully installed all the compression algorithms tested, and the version information is as follows:

[code]

I guess the failure of this test case is related to the effect of the compression algorithm, is that right?

[2022-04-27 05:22] ronag commented on #9904
In this case I would assume the iterator is no longer valid. However, that is not what I am seeing.

[2022-04-27 05:24] ronag commented on #9904
[code]

[2022-04-27 05:30] ronag opened #9911 "Feature Request: DeleteRange with open range"
Would be nice if `DeleteRange` added an overload where begin and/or end are optional which means that it's open ended. Similar to lower/upper bound in the iterator API. I guess open begin could be emulated with `Slice("")`. However, open end is a bit trickier...

[2022-04-27 05:40] ronag commented on #9904
Only SeekToFirst, SeekToLast and Next seem to consider the bounds :/

[2022-04-27 07:42] katusk commented on #5117
Just a quick remark: `rocksdb::LoadLatestOptions` seems to be also affected. So if above is solved, then LoadLatestOptions should be also way faster.

[2022-04-27 08:09] adamretter commented on #9904
@ronag If this is an Iterator on a WBWI, there are issues that I tried to solve here - https://github.com/facebook/rocksdb/pull/7214

That PR stalled, but I can try and get it restarted if it is the issue you are seeing?

[2022-04-27 08:24] ronag commented on #9904
That would be great!

[2022-04-27 11:33] oronsh opened #9913 "Add C ffis for NewSstPartitionerFixedPrefixFactory"
https://github.com/facebook/rocksdb/pull/9912

[2022-04-27 16:34] riversand963 commented on #9828
I think this really depends on N, db size and your use cases. Consider N=2 which we discussed earlier and N=#keys in your original db, the answer to your question will vary significantly.
iirc, checkpoints will use hard links instead of copy when possible.

[2022-04-27 16:49] adamretter commented on #9909
Should it perhaps be:

[code]

We should check also when DbOptions can have a null `env_`, and also ask the question if it should ever have a null `env_` or if that is a bug?

[2022-04-27 17:22] ajkr commented on #9904
Is the code example intended to support this argument? If so, I don't understand. It appears to be handling the other case I mentioned: "I'd assume `Seek*()` should target a key within the bounds specified by `iterate_{lower,upper}_bound`." It does not appear to be preventing `Seek("a")` when `iterate_upper_bound` is "c".

[2022-04-27 21:25] zhichao-cao commented on #9828
I'm thinking to achieve the spit-migrate-merge in the backend SST level. For example, one RocksDB instance is responsible to 5 key-ranges (after partition). Due to the workload changing, one key-range becomes extremely large. We need to split this key-range into several small one, migrate the KV-pairs based on the sub-key-range to other DB instances to better achieve load balancing. One extreme ca

[2022-04-28 15:11] lhsoft opened #9918 "Allow L0 -> L1 compaction use IOPriority::IO_MID"
As we know that the slow L0 -> L1 compaction will cause write stall which cause high latency for online application.
Rocksdb have added IOPriority::IO_MID. It's better to all L0-L1 compaction use IO_MID to reduce the writing stall.
### Expected behavior
Use can config the Rocksdb  to use IO_MID for L0 -> L1 compaction
### Actual behavior

### Steps to reproduce the behavior

[2022-04-28 17:36] anand1976 commented on #9913
@oronsh Since you already have a PR for this, we don't need an issue to track it. I'll close this issue for now. Reopen it if there's something specific you want to raise that's not covered in the PR.

[2022-04-28 17:36] anand1976 commented on #9918
CC @ajkr

[2022-04-28 17:50] oronsh commented on #9913
many thanks @anand1976

[2022-04-28 17:50] oronsh commented on #9913
many thanks @anand1976

[2022-04-28 18:25] ajkr commented on #9918
Agreed. Also L0->L0 should be IO_MID. @lhsoft do you want to try it?

[2022-04-28 22:22] mdcallag commented on #9891
Bug filed for llvm
https://github.com/llvm/llvm-project/issues/55153

[2022-04-29 12:54] hfx123456 opened #9921 "HDFS error"
when i use the command ./db_bench --hdfs="hdfs://master:9000"
it  made a mistake

You have not build rocksdb with HDFS support
Please see hdfs/README for details
Received signal 6 (Aborted)
#0   /lib/x86_64-linux-gnu/libc.so.6(gsignal+0xcb) [0x7f9ff753203b] ??	??:0
#1   /lib/x86_64-linux-gnu/libc.so.6(abort+0x12b) [0x7f9ff7511859] ??	??:0
#2   ./db_bench(+0x57d10) [0x55db0dfe0d10] ??	??:0
#3   /li

[2022-04-29 21:28] sherriiiliu commented on #7930
Kindly ping again @thejchap , is the bug fixed?

[2022-04-30 14:49] hegjon opened #9925 "7.1.2 fails to compile on Fedora 37/Rawhide (GCC 12)"
### Build dependencies:
[code]
Complete build info: https://koji.fedoraproject.org/koji/taskinfo?taskID=86451700

### Build error:
[code]
The same build error happens for all platforms.

Build log: https://kojipkgs.fedoraproject.org//work/tasks/1771/86451771/build.log

[2022-04-30 14:51] hegjon commented on #9925
### Build flags and invokation:
[code]

[2022-05-02 10:02] mpoeter commented on #9692
I only just familiarized myself with the code, but I agree with @zhuchong0329's analysis . In `ExitAsBatchGroupLeader` with `enable_pipelined_write_`, writers for which `ShouldWriteToMemtable()` evalutes to false are removed from the write_group via `CompleteFollower`/ `CompleteLeader`. Writers in the middle of the group are fully unlinked, but if that writers is the `last_writer`, then we do not

[2022-05-02 17:59] riversand963 commented on #9921
Since RocksDB 7.0, we no longer maintain `HdfsEnv` in RocksDB main repo., so I think it is necessary to specify explicitly the version of RocksDB. Otherwise, people may get confused.

Having said that, have you tried the instructions in https://github.com/riversand963/rocksdb-hdfs-env#readme?

[2022-05-02 22:42] mdcallag opened #9931 "madvise calls are needed to avoid over-fetching when mmap reads are used"
RocksDB [uses posix_fadvise](http://smalldatum.blogspot.com/2022/02/rocksdb-internals-prefetch-andor.html) to tune IO patterns when buffered IO is used. It doesn't do something similar for mmap reads via [madvise](https://linux.die.net/man/2/madvise). The result is that significant overfetching occurs on read-heavy workloads that are IO-bound.

The amount of overfetching depends on how Linux is co

[2022-05-03 05:16] hfx123456 commented on #9921
hello，when i use it，dbbench will send wrong message，

[code]
and have you have something demo about how to use rocskdb with hdfs？ I want to use rocksdb to store the data and can use it to get or scan data from hdfs

[2022-05-03 10:16] mpoeter commented on #9692
I have created a unit test to systematically trigger this error:
[code]
Will now start working on a fix.

[2022-05-03 16:52] #9880 closed

[2022-05-03 21:38] riversand963 commented on #9921
Unfortunately, I do not have a demo. The above README is a summary of what I did when I last tested. Maybe try creating the db directory first?

Just want to mention again that HDFS support is removed from the RocksDB main repo since RocksDB 7.0: something to consider if you intend to upgrade to recent versions of RocksDB.

[2022-05-03 22:28] socketpair opened #9941 "fail_if_options_file_error = false: leaves temporary OPTIONS-XXXXX.dbtmp on every DB open"
I had:

[code]

Which is definitely an error. It should be `INFO_LEVEL`. But I had to spend 3 hours to figure out why each DB open creates temporary file and NOT delete.

I see three points:
1. set `fail_if_options_file_error = true` by default. Why it is false ?
2. In case of error in config persisting, write message to logs.
3. run function that removes obsolete temporary files, even in case of

[2022-05-04 04:39] chenyou-intel commented on #8347
We have open sourced our persistent memory based secondary cache [here](https://github.com/pmem/pmem-rocksdb-plugin/tree/main/plugin/pmem_scache) !

[2022-05-04 20:52] #9884 closed

[2022-05-05 00:33] riversand963 commented on #9941
I think we actually do it now (https://github.com/facebook/rocksdb/blob/main/db/db_impl/db_impl.cc#L4310). But in this case, your info_log_level is not configured properly, so maybe this is the reason you didn't see it?

I think we do clean up obsolete files when we open a new db (https://github.com/facebook/rocksdb/blob/main/db/db_impl/db_impl_open.cc#L1879) or after we finish background flush/co

[2022-05-05 03:18] threadfly opened #9948 "WAL iterator's nextImpl implements performance problems caused by inaccurate semantics"
### Expected behavior
When the consumer WAL log encounters the latest Sequence Number, the status of the iterator should be OK, not "tryagain".

### Reason
This kind of consumption WAL log speed catch up with the latest Sequence scene. If it is returned to "TRYAGAIN", according to semantics, a new WAL iterator must be allocated (because it cannot be distinguished by key, or other situations, so),

[2022-05-05 16:06] #7934 closed

[2022-05-05 16:56] #9856 closed

[2022-05-05 18:24] #9921 closed

[2022-05-06 05:58] DRoppelt opened #9956 "Auto-detection of musl assumes shell access to call ldd"
We are using rocksdb through kafka-streams on an alpine container. The version streams pulls is `6.19.3`

After last years AdoptOpenJDK's switch to Eclipse Temurin, they have also completely migrated from java on alpine via glibc to musl native (see https://github.com/adoptium/containers/issues/72)

During this switch, we observed that rocksdb needed some libs, first we installed libstdc++ and the

[2022-05-06 18:11] walterzhaoJR opened #9959 "Calling function ReadOneLine does not return correctly"
### version
* RocksDB version: 5.18.3

### Expected behavior
* After calling the function ReadOneLine, it can return correctly.

### Actual behavior
* When I use the function ReadOneLine in a loop, it does not return correctly on the last call to ReadOneLine

### Steps to reproduce the behavior
* I call ReadOneLine in a loop to call the file on disk
<img width="1059" alt="image" src="https://user-

[2022-05-06 18:56] jackjoesh opened #9960 "Is there a way to implement a Java-based deletion-triggered compaction"
Is there a way to implement a Java-based deletion-triggered compaction?
like this:  options.table_properties_collector_factories.emplace_back(rocksdb::NewCompactOnDeletionCollectorFactory(10000, 1000));
thank you

[2022-05-06 21:40] jojochuang opened #9962 "Native memory leak through JNI after upgrading to 7.0.4"
Hello, we are the developers for Apache Ozone (https://ozone.apache.org/), which is a distributed object store. Our namespace manager, the Ozone Manager relies on RocksDB internally for keeping track the key name space. We recently updated RocksDB from 6.20.3 to 7.0.4 (https://github.com/apache/ozone/pull/3199) to address the memory corruption https://github.com/facebook/rocksdb/issues/8617

Howev

[2022-05-06 21:45] riversand963 commented on #9962
Can you provide a heap profile and show where the memory goes to?

[2022-05-06 21:48] jojochuang commented on #9962
Interestingly, the Java heap dump was quite small, around 1-2GB in size. So something is going on within the native memory space.
We're trying to get core dump, but it's more than 100GB in size.

[2022-05-07 03:23] jojochuang commented on #9962
Managed to create heap profile using jemalloc
https://drive.google.com/file/d/1nrXYXm5GVW-t0-pA_neN3C626JOxh1OG/view?usp=sharing

as well as the pdf report.
[om_rocksdb_leak.pdf](https://github.com/facebook/rocksdb/files/8644362/om_rocksdb_leak.pdf)

[root@ve0306 tmp]# jeprof --show_bytes /usr/java/jdk1.8.0_232-cloudera/bin/java jeprof.18198.311.i311.heap
Using local file /usr/java/jdk1.8.0_232-cl

[2022-05-07 03:56] jojochuang commented on #9962
This is the heap profile with RocksDB 6.20.3
https://drive.google.com/file/d/1lgUdGjlReoB47HyTfxbr2X7sw69vYpgT/view?usp=sharing

and pdf report
[om_rocksdb_noleak.pdf](https://github.com/facebook/rocksdb/files/8644415/om_rocksdb_noleak.pdf)

[root@ve0305 tmp]# jeprof --show_bytes /usr/java/jdk1.8.0_232-cloudera/bin/java jeprof.153724.9.i9.heap
Using local file /usr/java/jdk1.8.0_232-cloudera/bin/j

[2022-05-07 04:22] jojochuang commented on #9962
This is reproducible with the first RocksDB 7 (7.0.3) but not with the last RocksDB 6 (6.29.5). Something’s changed in between.

There are more than a hundred commits in between the releases. Hard to tell what change caused it.

[2022-05-07 05:56] riversand963 commented on #9960
I guess you are proposing that deletion-triggered compaction be added to Java binding?

[2022-05-07 08:34] jackjoesh commented on #9960
yes it's this problem,  how can I add to java binding?

[2022-05-07 11:29] briantkim93 commented on #7599
Hey @ajkr I've been blocked on this for a while. I posted a [question](https://groups.google.com/g/rocksdb/c/HfT04b2y59I) on the rocksdb google group but there's been nothing so far

[2022-05-07 12:08] lhsoft commented on #9918
@ajkr sure, I'd like to work on it. Please feel free to assign it to me:)

[2022-05-07 15:50] andrew-ld commented on #9962
ping @cavallium, we are also having memory problems with the latest rocksdb release.

[2022-05-07 16:30] cavallium commented on #9962
The top leaks that I found with heaptrack are:

- 18.6GB (26.8%) leaked in rocksdb::UncompressBlockContentsForCompressionType(rocksdb::UncompressionInfo const&, char const*, unsigned long, rocksdb::BlockContents*, unsigned int, rocksdb::ImmutableOptions const&, rocksdb::MemoryAllocator*) in librocksdbjni13233355335049142912.so and below.
- 12.4GB (17.9%) leaked in rocksdb::BlockFetcher::ReadBlockC

[2022-05-08 01:43] ajkr commented on #7599
Sorry I have not checked the google group. Let me try to catch up on the current PR and see if I can help sometime this coming week. This issue or the PR are probably the best forums although the unblocking time can still be slow as you found.. :/

[2022-05-08 04:29] threadfly opened #9965 "The content of the read record records changes in the wal iterator"
### version
6.10.1

### Problem Description
[code]
Why is the current_batch_ in the wal iterator printed twice, its **rep** content changed, what happened?

[2022-05-08 07:08] ronag opened #9967 "Read-Only and Catch-Up"
I'm reading up on read only instances and there are some things that are unclear to me:

- Do read-only instances only work on a snapshot of the db from when it was opened? Or are writes in the primary immediately or eventually visible for reads in the read-only instances?
- What exactly does "catch up" mean? It's mentioned multiple times but never really explained.

[2022-05-08 18:42] cavallium commented on #9962
This bug is quite severe, this should be fixed as soon as possible. I can't keep the database open for more than 6 hours with 256GB of ram and 100GB of swap

[2022-05-08 23:57] riversand963 commented on #9962
Thanks all for reporting and investigating!

@jojochuang I cannot use `jeprof` to open the heap profile because some dependencies are missing on my machine, thus I am looking at the pdf you provided.
Do the arrows represent caller-callee relations? If so, I guess some of the them do not make sense. For example, I don't think `BlockBasedTable::PrefixExtractorChanged()` calls `BlockFetcher::ReadBloc

[2022-05-09 00:20] riversand963 commented on #9967
A few (re)-clarifications on terminology.
"read-only instances" -> `DBImplReadOnly` -> opened by `DB::OpenForReadOnly()`.
"secondary instance" => `DBImplSecondary` -> opened by `DB::OpenAsSecondary()`.

Read-only instances has only the state of the db when the read-only instance is opened. It's not meant to be used when the db is also opened by a normal DB instance. The normal db instance can caus

[2022-05-09 13:24] cavallium commented on #9962
I anonymized the report, you can open it using heaptrack: https://local.cavallium.it/mirrors/heaptrack.java.anonymized.gz
I've also collected some statistics, tell me which stats keys I should send

[2022-05-09 15:18] #9967 closed

[2022-05-09 17:27] riversand963 commented on #9962
The filter and index block counters are all zero. Something is not right.
Can you check the git sha of RocksDB?

[2022-05-09 17:59] cavallium commented on #9962
I am using the latest version that rocksdb published on maven central. I have not compiled it myself

[2022-05-09 18:38] riversand963 commented on #9962
You can check the first a few lines of the generated LOG file in the RocksDB directory.

[2022-05-09 22:09] cavallium commented on #9962
[code]

[2022-05-09 23:18] pdillinger commented on #9962
That's expected with cache_index_and_filter_blocks=false && partition_filters=false

[2022-05-09 23:36] riversand963 commented on #9962
@cavallium could you share all the output from `statistics`?

[2022-05-10 00:06] pdillinger commented on #9962
Do we know if different LZ4 versions are used between these two versions?

[2022-05-10 00:07] jojochuang commented on #9962
So, I just realized the memory leak started after this commit: #9523 https://github.com/facebook/rocksdb/commit/99d86252b

and it makes sense because objects could linger around for extended period of time after this change.

[2022-05-10 00:10] riversand963 commented on #9962
Thanks @jojochuang a lot for the investigation!
cc @alanpaxton, could you take a look at this?

[2022-05-10 00:38] riversand963 commented on #9962
So I think after #9523, it is required that users call `close` on RocksJava objects or use `try-with-resource`, since original `dispose()` will not be used for reasons explained in that PR.

[2022-05-10 00:40] jojochuang commented on #9962
Supposedly this suggests somewhere in our application code we failed to release rocksdb objects properly. However, I am having hard time figuring out where it is. The leak is not in Java heap so jmap doesn't show; jemalloc doesn't show Java symbols so while I see a lot of memory leak, can't trace back to the Java code that caused it. The Java static analyzer we use doesn't tell where the leak coul

[2022-05-10 04:24] jojochuang commented on #9962
@riversand963 while i understand the purpose of the #9523, it makes the migration from RocksDB 6 to 7 very hard because this is all hidden underneath.

I was finally able to find the source of the leak in my code, after add back finalize() and additional debug log to show the stack trace when the object is created. https://github.com/jojochuang/rocksdb/commits/debug_memory_leak

It would be great

[2022-05-10 07:57] cavallium commented on #9962
[code]

[2022-05-10 08:05] cavallium commented on #9962
Thanks, I have always used try with resources with rocksdb objects, but probably some object somewhere in my code has not been closed

[2022-05-10 08:15] alanpaxton commented on #9962
Thanks @riversand963 @jojochuang for figuring out what is happening. There's never a good time to make that sort of change. I'll have a chat with @adamretter and see if we can pick up your leak checker in some form.

[2022-05-10 08:28] adamretter commented on #9962
@jojochuang The reliance on `finalize` in RocksDB has been deprecated for a couple of years at least now. Not relying on finalize has also been documented for some time here - https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management

We decided to finally remove the use of `finalize` as one of the major features when updating from RocksDB 6 to 7, we also moved to Java 8 from Jav

[2022-05-10 10:03] cavallium commented on #9962
Regarding reference counting, I suggest you to take a look at how netty buffers approached this problem when they started developing netty 5: https://github.com/netty/netty/pull/11347 (they removed ref-counting in favor of try-with-resources)

[2022-05-10 15:13] riversand963 commented on #9959
It looks like `rocksdb::ReadOneLine()` has been removed for sometime. Is it possible for you to try a newer RocksDB version?

[2022-05-10 15:16] riversand963 commented on #9956
Thanks @DRoppelt for reporting. I see you have a proposal, would you like to contribute a PR?

[2022-05-10 16:12] DRoppelt commented on #9956
@riversand963 I would like to, yes 👍

[2022-05-10 19:24] jojochuang commented on #9962
Re: Netty
I am looking forward to something similar to Netty's leak detection mechanism, where it can be enabled/disabled via a runtime parameter https://netty.io/wiki/reference-counted-objects.html#leak-detection-levels
IMO it would be useful for developers.

[2022-05-10 20:18] DRoppelt commented on #9956
@riversand963 PR submitted

[2022-05-10 20:28] hegjon commented on #9925
Also fails to compile on Fedora 36, but it builds on Fedora 35

[2022-05-10 22:23] cavallium commented on #9962
I found that some internal RocksDB java code is causing leaks, note that the readOptions are not wrapped with try/finally:
[code]

@jojochuang are you really sure that you don't have memory leaks anymore?

[2022-05-11 09:03] walterzhaoJR commented on #9959
We may not be able to upgrade the new version for the time being.

[2022-05-11 17:54] pdillinger commented on #9959
Sorry, we can't help you with your own usage of a "confusing, awkward, and undocumented internal API" that has been long removed. https://github.com/facebook/rocksdb/pull/8026

[2022-05-11 17:54] #9959 closed

[2022-05-11 23:04] socketpair commented on #9941
The complete program, that demonstrate the bug:
[code]

[2022-05-11 23:07] socketpair commented on #9941
Listing of files:
[code]

[2022-05-12 00:15] alexreg commented on #8654
There's a PR open for this now. https://github.com/facebook/rocksdb/pull/9878

[2022-05-12 01:43] walterzhaoJR commented on #9959
I see.Currently I temporarily circumvent it by adjusting the size of kBufferSize.

[2022-05-12 07:17] cavallium commented on #9962
The problem is still present in 7.2.2

[2022-05-12 15:34] jojochuang commented on #9962
I found lots of memory leaks, both in my application code as well as in RocksDB.

IMO TransactionLogIterator should implement close() and close its writeBatch object too.

ColumnFamilyOptions is tricky, because it does not implement close and many of its subfield needs to be closed one by one.  I mean it's doable but annoying.

[2022-05-12 17:34] LucienXian opened #9985 "Best practices for implementing DB splitting"
## Problem Description

I'm trying to use rocksdb on hdfs or some object storage, like S3, etc(Like SST files and WAL will be placed on this), but I'm having some issues with how to implement DB instance splitting.

Suppose the current DB key range is `[0, 100]`. To split the DB into 2 small DBs according to certain rules, the 2 new DBs may be `[0, 50]` and `[51, 100]`. How should I do it in a bet

[2022-05-12 17:46] riversand963 commented on #9985
Thanks @LucienXian

Before discussion starts to diverge, I am closing this one. Please see #9828

[2022-05-12 17:46] #9985 closed

[2022-05-12 19:47] riversand963 commented on #9962
It seems to me that RocksJava needs to detect leaks of native objects in our codebase caused by not using `try-with-resource` or not calling `close()`.
@adamretter, is there any tool or other means that can be used to find out and fix these improper usage? Seems a blocker for people to upgrade to RocksDB 7.0+ Java bindings.

[2022-05-12 20:47] twblamer opened #9987 "Plugin header support missing in CMakeLists.txt"
The Makefile processing for plugins allows you to set a ${PLUGIN}_HEADERS variable to add your plugin's headers to the RocksDB install. For example, see [rados.mk](https://github.com/riversand963/rocksdb-rados-env/blob/main/rados.mk) in the rocksdb-rados-env repo.

This functionality seems to be missing from CMakeLists.txt. The following patch seems to do the trick, but I could be missing somethin

[2022-05-13 07:10] pjpringle opened #9991 "rocksbjni.jar size"
The fat jni jar is now over 25mb. Most users only need to target a particular platform e.g. linux64.

Can we get different jni jars per platform to avoid pulling large sets of .so files into builds which are not needed.

[2022-05-13 16:58] hegjon commented on #9925
@adamretter would it be possible to add GCC 12 to the build matrix?

[2022-05-14 13:47] Anlon-Burke commented on #9991
There are already a lot of them? https://repo1.maven.org/maven2/org/rocksdb/rocksdbjni/7.2.2/

[2022-05-14 14:40] pjpringle commented on #9991
Thanks for the link, seems that these are not listed under this artifact.
https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni

[2022-05-14 15:11] hegjon commented on #9925
I made test setup at COPR https://copr.fedorainfracloud.org/coprs/jonny/rocksdb/

The last build can be found here https://copr.fedorainfracloud.org/coprs/jonny/rocksdb/build/4412396/

[2022-05-15 09:05] hfx123456 commented on #9921
I want use hdfs to store my sstable,is this plugin support.? I just use db_stress ,But I don't know if I can write my own code to achieve similar functions

[2022-05-15 09:08] hfx123456 opened #9997 "HDFS relevant"
I want use hdfs to store my sstable,is this plugin support.? I just use db_stress ,But I don't know if I can write my own code to achieve similar functions。
      I just want to use my own code to achieve  similar to the dbbench ，

[2022-05-15 20:06] mrambacher commented on #9987
@twblamer Could you submit this as a PR?

[2022-05-16 17:04] briantkim93 commented on #7599
@ajkr The code is here - https://github.com/facebook/rocksdb/compare/main...briantkim93:add_outputvalidator_to_sstfilewrites sst_file_writer.cc lines 375-401.
Also should we consider opening a slack channel where folks like can get unblocked faster?

[2022-05-16 18:52] mrambacher commented on #9997
This would be better suited to the Google group (https://groups.google.com/g/rocksdb).  Please repost it there.  Please include more information such as what version of Rocks you are using and what programming language.

[2022-05-16 18:52] #9997 closed

[2022-05-16 22:16] siying commented on #9962
@adamretter can you comment on whether RocksDB Java internally cancause of memory leaks?

[2022-05-16 23:25] pdillinger opened #10003 "auto_prefix_mode doesn't have promised performance with partitioned filters"
The following diff fixes stats and updates the only(!) auto_prefix_mode unit test to use partitioned filters, and the test fails.

[code]

[code]

Indicating it does not in fact check the filter when expected, so cannot optimize the look-up

I'm still looking into the details, but it seems we have two implementations of RangeMayExist: one good for full filters only (https://github.com/facebook/roc

[2022-05-17 02:19] ajkr commented on #7599
Very sorry for the delay. It takes a while for anything to reach the front of my queue.

SstFileReader is one way to read back data written by an SstFileWriter. But it is a user API and therefore returns user keys, which exclude internal metadata (seqno+value type). Meanwhile, `kv_validator` is constructed from internal keys, which include internal metadata as the name implies. Can you try using a

[2022-05-17 06:45] hfx123456 commented on #9997
rocksdb 7.2.0 ，C++。

[2022-05-17 06:55] hfx123456 opened #10006 "Can I change kDBPath from /tmp/** to a remote reliable source such as HDFS or GFS?"
If you have a example like this ，I will very I will appreciate your help very much

[2022-05-17 08:31] hfx123456 commented on #10006
std::shared_ptr<FileSystem>* fs ,what it is ? I am not good at C++

[2022-05-17 10:52] hfx123456 commented on #10006
how to use my own code to connect to the hdfs,rather than use the db_bench

[2022-05-17 11:08] jsteemann opened #10007 "IngestExternalFile() breaks GetUpdatesSince() due to "gap in sequence numbers""
When taking a database snapshot and then ingesting .sst files with the SstFileWriter/IngestExternalFile() call, RocksDB seems to bump the WAL sequence number because of the newly ingested files.
This has the consequence that tailing the WAL file via `GetUpdatesSince()` can stop working because there can be gaps in the WAL sequence numbers.

The problem can be reproduced with the following sequence

[2022-05-17 11:58] mrambacher commented on #9997
If you built RocksDB including the HDFS plugin, you should be able to create one use either:
 - NewHdfsEnv/NewHdfsFileSystem(path)
 - Env::CreateFromString(..., "hdfs::/<path>", ...)

Where path is passed to hdfsConnectNewInstance.

Feel free to enter a PR against the HDFS plugin repo for better documentation.

[2022-05-17 12:11] hfx123456 commented on #9997
Status NewHdfsEnv(const std::string& fsname, std::unique_ptr<Env>* env);
Status NewHdfsFileSystem(const std::string& fsname, std::shared_ptr<FileSystem>* fs);
Two parameters are required。what is the second parameter。
Can I just add this function（NewHdfsEnv/NewHdfsFileSystem）? Are other operations the same as those on the local fileststem，such as get scan。

[2022-05-17 12:11] hfx123456 commented on #9997
Status NewHdfsEnv(const std::string& fsname, std::unique_ptr* env);
Status NewHdfsFileSystem(const std::string& fsname, std::shared_ptr* fs);
Two parameters are required。what is the second parameter。
Can I just add this function（NewHdfsEnv/NewHdfsFileSystem）? Are other operations the same as those on the local fileststem，such as get scan。

Status NewHdfsEnv(const std::string& fsname, std::unique_p

[2022-05-17 12:16] hfx123456 commented on #9997
rocksdb::SetPerfLevel(rocksdb::PerfLevel::kEnableTimeExceptForMutex);

[code]
I add NewHdfsFileSystem（xxx，xxx）into my code block？

[2022-05-17 12:33] mrambacher commented on #9997
std::unique_ptr<Env> hdfs;
NewHdfsEnv("hdfs://your path", &hdfs);
options.env = hdfs.get();

Make sure hdfs is a long-lived object and does not get deleted while your DB is open.

[2022-05-17 12:34] hfx123456 commented on #9997
ok,thanks, I'm not good at C++。thank you so much！

[2022-05-17 13:58] jsteemann commented on #10007
Btw, using `ingest_options.snapshot_consistency = false;` will probably fix this one example test, but still leads to other "gap in sequence numbers" errors in more complex use cases.

[2022-05-17 18:02] riversand963 commented on #10006
https://en.cppreference.com/w/cpp/memory/shared_ptr may be helpful.

Not related to RocksDB, but anyway: https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/LibHdfs.html.
To integrate with RocksDB, you need to use the APIs https://github.com/riversand963/rocksdb-hdfs-env/blob/master/env_hdfs.h#L97:L98 to obtain a smart pointer to `HDFSEnv` or `HDFSFs`, and pass it to `options` wh

[2022-05-17 18:02] #10006 closed

[2022-05-17 19:53] andrew-ld commented on #9962
@jojochuang have you been able to solve all the memory leaks on apache ozone?, we even closing everything still have memory leaks.

[2022-05-17 20:38] ajkr commented on #10006
please continue using the original issue, even if closed (#9997)

[2022-05-17 22:25] jojochuang commented on #9962
I have a big project and I'm only able to catch the biggest offenders so far :)

it would be best to apply the patch in my fork https://github.com/jojochuang/rocksdb/commits/debug_memory_leak and run your application. It prints stacktrace where leak come from.

[2022-05-18 05:52] hfx123456 commented on #9997
this is my code
`#include <cassert>
#include <string>
#include <iostream>
#include <chrono>
#include "rocksdb/db.h"
#include "rocksdb/table.h"
#include "rocksdb/options.h"
#include "rocksdb/filter_policy.h"
#include "rocksdb/cache.h"
#include "rocksdb/iostats_context.h"
#include "rocksdb/perf_context.h"
#include "rocksdb/statistics.h"
#include "plugin/hdfs/env_hdfs.h"
#include "hdfs.h"
#define TES

[2022-05-18 05:55] hfx123456 commented on #9997
`#include
#include
#include
#include
#include "rocksdb/db.h"
#include "rocksdb/table.h"
#include "rocksdb/options.h"
#include "rocksdb/filter_policy.h"
#include "rocksdb/cache.h"
#include "rocksdb/iostats_context.h"
#include "rocksdb/perf_context.h"
#include "rocksdb/statistics.h"
#include "plugin/hdfs/env_hdfs.h"
#include "hdfs.h"
#define TEST_FREQUENCY (10000)
using namespace std;
const int MAX

[2022-05-18 05:59] dfa1 opened #10013 "log spamming in db_impl_files.cc"
### Expected behavior
No warnings.

### Actual behavior
Log spamming, with the following 2 message repeated hundreds of times per day:

[/db_impl/db_impl_files.cc:94] File Deletions Enable, but not really enabled. Counter: 1
[/db_impl/db_impl_files.cc:54] File Deletions Disabled, but already disabled. Counter: 1

### Steps to reproduce the behavior
We are using Rocksdb in Java (6.2xx): these logs

[2022-05-18 08:16] hfx123456 commented on #9997
this is my code
`
#include <cassert>
#include <string>
#include <iostream>
#include <chrono>
#include "rocksdb/db.h"
#include "rocksdb/table.h"
#include "rocksdb/options.h"
#include "rocksdb/filter_policy.h"
#include "rocksdb/cache.h"
#include "rocksdb/iostats_context.h"
#include "rocksdb/perf_context.h"
#include "rocksdb/statistics.h"
#include "plugin/hdfs/env_hdfs.h"
#include "hdfs.h"
#define TE

[2022-05-18 08:21] hfx123456 commented on #9997
`
#include <cassert>
#include <string>
#include <iostream>
#include <chrono>
#include "rocksdb/db.h"
#include "rocksdb/table.h"
#include "rocksdb/options.h"
#include "rocksdb/filter_policy.h"
#include "rocksdb/cache.h"
#include "rocksdb/iostats_context.h"
#include "rocksdb/perf_context.h"
#include "rocksdb/statistics.h"
#include "plugin/hdfs/env_hdfs.h"
#include "hdfs.h"
#define TEST_FREQUENCY	(10

[2022-05-18 08:23] hfx123456 commented on #9997
this is my code
`#include <cassert>
#include <string>
#include <iostream>
#include <chrono>
#include "rocksdb/db.h"
#include "rocksdb/table.h"
#include "rocksdb/options.h"
#include "rocksdb/filter_policy.h"
#include "rocksdb/cache.h"
#include "rocksdb/iostats_context.h"
#include "rocksdb/perf_context.h"
#include "rocksdb/statistics.h"
#include "plugin/hdfs/env_hdfs.h"
#include "hdfs.h"
#define TES

[2022-05-18 08:24] hfx123456 commented on #9997
This is my code
`#include <cassert>
#include <string>
#include <iostream>
#include <chrono>
#include "rocksdb/db.h"
#include "rocksdb/table.h"
#include "rocksdb/options.h"
#include "rocksdb/filter_policy.h"
#include "rocksdb/cache.h"
#include "rocksdb/iostats_context.h"
#include "rocksdb/perf_context.h"
#include "rocksdb/statistics.h"
#include "plugin/hdfs/env_hdfs.h"
#include "hdfs.h"
#define TES

[2022-05-18 08:34] hfx123456 commented on #9997
the error message is that
/usr/bin/ld: can not find  /usr/hadoop-2.10.1/include: file format not recognized
/usr/bin/ld: can not find  /usr/hadoop-2.10.1/lib/native: file format not recognized

[2022-05-18 08:36] hfx123456 commented on #9997
my hadoop is running now ,
![image](https://user-images.githubusercontent.com/51705232/168995603-8692c682-e5a6-45e1-b81b-b37db7123cee.png)

[2022-05-18 10:54] jsteemann commented on #5322
Potential fix: https://github.com/facebook/rocksdb/pull/9975

[2022-05-18 13:40] evgenisqream opened #10014 "Slow Pererformance in rocksdb::DB::Put method"
Dear RocksDB engineers. My company uses  rocksdb database for storing kind of meta data. It was found that sometimes the method rocksdb::DB::Put may take several seconds.   It happens randomly when during approaching to Put method with the same key. I tried to change paranoid_checks to false, but the issue still happens. Please assist. Thanks.

[2022-05-18 15:26] pdillinger commented on #5322
Unless you really want to allow Incomplete for some queries AND not for others, I don't think the option makes sense.

If you set strict_capacity_limit=true and return_incomplete_on_too_large_cache_inserts=false, then only when block cache has nothing to evict ("full"), Get and Iterators, etc will temporarily load blocks into memory beyond block cache memory capacity in order to answer the query a

[2022-05-18 16:14] riversand963 commented on #10007
Assigning myself to follow-up.

[2022-05-18 17:29] cculianu commented on #9925
Sadly, this is actually a bug in GCC 12.1+ (see: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=105329).

The workaround is to pass `DISABLE_WARNING_AS_ERROR=1` to `make` if using make.. or `-DFAIL_ON_WARNINGS=OFF` if using cmake.

[2022-05-18 19:30] hegjon commented on #9925
I confirm that it works both for make and cmake with the flags

[2022-05-19 11:19] jsteemann commented on #5322
@pdillinger : ok, thanks for sharing your thoughts. I think it is fine for me to move forward without the extra option I suggested in the PR. Simply have to be extra careful with the `strict_capacity_limit` then and will adjust client application code. Closing this issue and PR #9975 now.

[2022-05-19 11:19] #5322 closed

[2022-05-19 20:10] #10003 closed

[2022-05-20 02:39] #9925 closed

[2022-05-20 13:46] cayolblake opened #10023 "PHP, non-EOL versions support"
Hello,

It listed here https://github.com/facebook/rocksdb/blob/main/LANGUAGE-BINDINGS.md that PHP support is through https://github.com/Photonios/rocksdb-php which is 7 years old with no updates or compatibility with any usable non-EOL PHP version.

Any better option? Should the LANGUAGE-BINDINGS.md doc be updated with up to date info?

[2022-05-20 16:54] dufferzafar commented on #494
@igorcanadi I'm new to rocksdb, how can I set logs to go to /dev/null?

[2022-05-20 17:04] dufferzafar commented on #7966
@ajkr I'm using an older RocksDB version, specifically 6.1.2, how can I get this behaviour of not writing a LOG file when opening in ReadOnlyMode.

I see there's a function for `CreateLoggerFromOptions`, but how can I create a logger that won't log anything, or not create any files. Will setting `db_log_dir` to `/dev/null` work?

[2022-05-20 19:42] siying commented on #9861
Trying to fix it with https://github.com/facebook/rocksdb/pull/10026

[2022-05-20 20:04] siying commented on #9628
I'm a little bit confused. I just gave it a try and I did see rocksdb.stats printed out:

[code]

[2022-05-20 20:59] ajkr commented on #10023
I do not know of a better option. Feel free to update LANGUAGE-BINDINGS.md with your findings and send a PR, even if it's just to delete/recommend against the option it currently mentions.

[2022-05-20 20:59] #10023 closed

[2022-05-21 09:37] hegjon commented on #8610
I can confirm that it builds on S390X https://copr.fedorainfracloud.org/coprs/jonny/rocksdb/build/4434358/

[2022-05-21 09:39] hegjon commented on #9633
Works by using the `DISABLE_WARNING_AS_ERROR=1` flag

[2022-05-21 09:39] #9633 closed

[2022-05-22 03:14] #8610 closed

[2022-05-22 17:50] rajivshah3 opened #10035 "`build_detect_platform` seems to detect incorrect features for iOS"
I'm having trouble building for iOS. I think I was able to get one of the recent 6.x releases to build a while ago, but it seems like something may have changed in 7.x that's causing problems for iOS.

Following the instructions in `INSTALL.md`, I first run `TARGET_OS=IOS make static_lib -j8`:
https://github.com/facebook/rocksdb/blob/9454e744ed0ca4bb27ebcd8d4f79c59ef723adcf/INSTALL.md?plain=1#L180

[2022-05-22 20:58] rajivshah3 commented on #10035
It seems like it compiles successfully if I remove `-arch i686` and `-arch armv6 -arch armv7 -arch armv7s` from the Makefile

[2022-05-23 10:00] foreverneverer commented on #9864
I have found the problem that is our spark3.1 cluster env include `iceberg` which contains the `rocksdbjava-jni` dependency, so the cluster ignore my own `rocksdbjava-jni` version.

I exclude the cluster's `rocksdbjava-jni` and resolve it

[2022-05-23 10:01] #9864 closed

[2022-05-23 16:55] #9987 closed

[2022-05-23 17:25] ltamasi commented on #9351
Yeah :) this was fixed in #9504 in February.

[2022-05-23 18:06] mdcallag commented on #9423
I repeated a benchmark using RocksDB version 6.28.2 both as-is and with a hack. The hack does two things: disables intra-L0 compaction, disables dynamic adjust of the per-level target sizes. The test is IO-bound (database larger than RAM) and was repeated on two server types -- one with 18 CPU cores, one with 40 CPU cores. I used 16 client threads for the 18-core server and 32 client threads for t

[2022-05-23 19:04] kostiantyn-povnych commented on #10013
I have inspected the source code, and it looks like a bug.
If `opts.wal_size_for_flush > 0`, `CreateCheckpoint` call tree looks like this:
-Status CheckpointImpl::CreateCheckpoint
-- db_->DisableFileDeletions() <- Disable file deletions first time. Counter: 1
-- CheckpointImpl::CreateCustomCheckpoint()
--- GetLiveFilesStorageInfo()
---- DBImpl::GetLiveFilesStorageInfo()
----- GetSortedWalFiles()
-

[2022-05-23 23:18] siying commented on #9891
Since it is not a RocksDB issue and llvm already made changes to fix it, should we close it?

[2022-05-24 04:05] pdillinger commented on #9891
Probably worth verifying the LLVM fix in next release

[2022-05-24 06:55] dfa1 commented on #10013
I confirm that it is happening as soon as a checkpoint is created. Thank you @kostiantyn-povnych for the analysis!

[2022-05-24 17:29] siying commented on #9351
Thanks for the clarification.

[2022-05-25 20:48] jtmonroe opened #10055 "RocksDB slow ingest speed"
### Expected behavior
Low Write Stalls for highly parallelized writes.

### Actual behavior
High write stalls that become an issue at 3million key value pairs where the keys are not a unique set. Using merge operators to add data.

### Steps to reproduce the behavior
used JAVA version in KOTLIN
Database opened with the following configuration

[code]

Writing with 12 threads and one WriteBatch per

[2022-05-25 20:54] #10055 closed

[2022-05-26 16:46] #9889 closed

[2022-05-26 19:17] ronag opened #10064 "Reading User defined Timestamp"
The UDT feature is great. However, I'm missing the possibility to retrieve the UDT, i.e. when I do a get I would like to know what timestamp the retrieved value has.

[2022-05-26 19:23] jay-zhuang commented on #10014
You can check the log see if the write is stalled: https://github.com/facebook/rocksdb/wiki/Write-Stalls
There're different reasons for the write stall, based on that, you can increase the compaction throughput if compaction is unable to catchup, etc.

[2022-05-26 19:23] #10014 closed

[2022-05-26 19:45] riversand963 commented on #10064
For point lookup, the following allows returning the timestamps
[code]
For range scan, you can access the timestamps via `Iterator::timestamp()`.

[2022-05-26 19:45] #10064 closed

[2022-05-27 06:33] ronag opened #10068 "Change Stream"
I'm trying to implement a change stream from rocksdb similar to what can be found in [couchdb](https://docs.couchdb.org/en/3.2.0/api/database/changes.html).

The way I currently believe I would achieve this is to:

1. Grab a snapshot + sequence number.
2. Create an iterator using snapshot from step 1 and iterate over all keys.
3. Call `GetUpdatesSince` based on the sequence number from step 1.

I

[2022-05-27 12:12] ronag commented on #10068
Actually another problem is that if I save a sequence number and try to resume from it, I can only resume as long as the sequence is in the WAL. Is there are reason as to why `GetUpdatesSInce` can't look into to the levels to iterate sequences?

[2022-05-27 21:18] #10068 closed

[2022-05-28 14:55] HBSDLJZ opened #10071 "open error: Invalid argument: Compression type Snappy is not linked with the binary."
**I can compile and run"db_bench" locally in my cloud service provider,** but when I compile the "db_bench" remotely in clion by toolchain, appears problem "open error: Invalid argument: Compression type Snappy is not linked with the binary."!
How to solve it? I guess bashrc or bash_profile settings.
![image](https://user-images.githubusercontent.com/43542395/170830739-adb70c15-f7fc-4d2a-ab7f-4257

[2022-05-28 15:43] jay-zhuang commented on #10071
try add CMake options: `-DWITH_SNAPPY=1`
cmake doesn't link with compression by default, for more option, check
https://github.com/facebook/rocksdb/blob/4eb7b35f6d47f9a19a7f080d2ebbfdfb31430417/CMakeLists.txt#L67-L73

[2022-05-28 15:43] #10071 closed

[2022-05-29 01:39] HBSDLJZ commented on #10071
thank you~~ you helped me solving this problem!

[2022-05-30 06:04] YiteGu opened #10072 "make ldb error"
### Expected behavior
run: make ldb

### Actual behavior
make failed:
rocksdb]$ make ldb
$DEBUG_LEVEL is 1
Makefile:166: Warning: Compiling in debug mode. Don't use the resulting binary in production
  CC       tools/ldb.o
  CC       tools/io_tracer_parser_tool.o
  CC       tools/ldb_cmd.o
  CC       tools/ldb_tool.o
  CC       tools/sst_dump_tool.o
  CC       utilities/blob_db/blob_dump_tool.o

[2022-05-30 11:29] dufferzafar commented on #908
Is it possible to check a rocksdb is open by another process? I want to trigger some `Delete` & `Compact` calls on a DB, but  before doing that I want to check if another process has the DB open. In that case, I'd just error out, & exit.

[2022-05-30 18:16] LucienXian opened #10074 "Some questions about manifest live files"
I'm trying to build rocksdb on S3, put related table files etc on S3. We are implementing a fork splitting feature that splits one rocksdb instance into two. This is a lazy split, that is, in the initial stage, the two new db instances will share the table files left by the original db instance. As the compaction progresses, the original old files are gradually deleted, and their respective table

[2022-05-30 19:08] jay-zhuang commented on #908
not atomically, you can check if LOCK file is hold by another process, internally rocksdb uses that to make sure only 1 process is able to open the DB.

If it's possible, try make the DB process to handle all the operations with different threads to handle `Delete`, `Compact` requests.

[2022-05-30 19:12] jay-zhuang commented on #10072
Please be specific about the build environment, looks like it's your local build configuration issue.

[2022-05-30 19:12] #10072 closed

[2022-05-30 22:19] mdcallag opened #10075 "Intra-L0 compaction reduces usage of trivial move during loads in key order"
Prior to intra-L0 compaction when db_bench --benchmarks=fillseq is run with leveled compaction there was no compaction, only trivial moves. I can reproduce that using RocksDB versions 4.1 or 5.1.4. This is related to [issue 9423](https://github.com/facebook/rocksdb/issues/9423).

But in v6 once there are a few stalls then some intra-L0 compaction occurs and at that point some compaction is used in

[2022-05-30 23:17] YiteGu commented on #10072
my build environment is centos7

[2022-05-31 01:21] YiteGu commented on #10072
@jay-zhuang
I found the root cause of problem
First, I build librocksdb.a with command `make static_lib`
and then, I want to build ldb with command `make ldb` in the same code repository. Because `make static_lib` with debug_level 0, but `make ldb` with debug_level 1, use rtti and no_rtti will cause to compile error in linker phase.

[2022-05-31 15:40] pdillinger opened #10079 "Race condition on all SetOptions on "block_based_table_factory""
Apply this patch to expand SetOptions testing in stress test and amplify bad behavior:

[code]

Run `USE_CLANG=1 COMPILE_WITH_TSAN=1 make blackbox_crash_test` and quickly observe race condition reported.

[2022-05-31 15:42] pdillinger commented on #10079
@mrambacher Is this something you can look into? The race condition seems rather "baked in" to the Configurable interface with GetOptionsPtr.

[2022-05-31 17:09] pdillinger opened #10080 "Missing WAL allowed with track_and_verify_wals_in_manifest and WALRecoveryMode::kAbsoluteConsistency"
Based on the API doc for track_and_verify_wals_in_manifest,

[code]

I constructed a unit test for what seems to be the most basic thing that track_and_verify_wals_in_manifest is supposed to catch, and it fails:

[code]

Failure:
[code]

[2022-05-31 17:49] mdcallag opened #10082 "Write-amp increased for fillseq with universal compaction"
This occurs after 4.1 but in or before 5.1.4.
* Throughput is ~1.1X better for 4.1
* Write-amp is ~1.4X larger for 5.1.4
* Compaction wall clock seconds are ~1.7X larger for 5.1.4

Notice in the compaction IO stats below that with v4.1 there is data in L0 and L7. While with v5.1.4 there is data in L0, L2, L3, L4, L5, L6. For v5.1.4 only trivial move is used for L2 through L6. But with v5.1.4 the a

[2022-05-31 18:54] anand1976 commented on #8347
@chenyou-intel Thanks for the contribution! I'll take a look in the next week or so.

[2022-05-31 19:39] riversand963 commented on #10080
Looks like the reason is https://github.com/facebook/rocksdb/blob/7.3.fb/db/db_impl/db_impl.cc#L1444.
[code]
This is not quite right, but happens to work for flush-triggered wal sync.

[2022-05-31 20:28] mdcallag commented on #9891
I don't mind owning it until a fix arrives in a clang release that we use. AFAIK the fix was pushed upstream recently.

[2022-05-31 20:43] riversand963 commented on #10007
@jsteemann We have not finished planning yet. I may not have bandwidth for this until July, but will create a task to track its progress.

[2022-06-01 07:58] daggarwal387 opened #10089 "WaitForFlushMemTables finishing before result is committed to Manifest"
While using the ExportColumnFamily API I observed that the result is missing the newly flushed memtable. Upon further investigation, I found that WaitForFlushMemTables is finishing before the flush has actually committed the result to the Manifest. Following are the logs for the column family that experienced it(there are some additional logs added for debugging).
`2022/05/31-16:28:39.080669 4f8a7

[2022-06-01 08:54] scharfstein-dev commented on #5959
This does not seem to occur any longer in the 7.x line.

[2022-06-01 14:40] jsteemann commented on #10007
@riversand963 : ok, any progress on this issue is highly appreciated from our side! Thanks!

[2022-06-02 04:10] liming30 commented on #9336
hi, @ajkr @vicpang , we have also encountered such a problem, what is the progress of this issue? Or is there any other way we can temporarily fix it? Thanks.

[2022-06-03 04:17] chenyou-intel commented on #8347
Sure, you could also find a WIP PR to integrate PMem optimized CacheLib with SecondaryCache in https://github.com/pmem/pmem-rocksdb-plugin/pull/6

[2022-06-03 18:04] mpoeter commented on #9075
I don't think the race described in https://github.com/facebook/rocksdb/pull/8261#issuecomment-832262226 is possible
[code]
`Ref()` only attempts the CAS if the `kInCacheBit` is set, but erase/evict clear that flag. So either the `Ref()` must fail, or the erase/evict cannot recycle the entry. I added additional assertions in insert that fore the recycled entry `InCache(flags) == false && CountRef(

[2022-06-03 20:34] ltamasi opened #10111 "Forward compatibility issue between 7.3 and mainline"
Noticed this when looking at our nightly format compatibility tests. Some change in/around options parsing apparently broke forward compatibility in 7.3, see https://app.circleci.com/pipelines/github/facebook/rocksdb/13904/workflows/68767452-1ec2-472e-81bb-b060de6d5769/jobs/382398

Note how RocksDB versions up to and including 7.2 are correctly opening the database written by the version on main (

[2022-06-03 20:35] ltamasi commented on #10111
@mrambacher Would you be able to help look into this?

[2022-06-03 21:41] ltamasi commented on #10111
Actually I've figured out what's going on --
after https://github.com/facebook/rocksdb/commit/270179bb125e82ce1c6cca1e6f5edad03196548b, `ldb` defaults to `try_load_options` in cases like this. Combined with the default behavior of `ignore_unknown_options` not being set, this makes the forward compatibility tests fail.

[2022-06-04 01:35] #10111 closed

[2022-06-04 09:15] vicpang commented on #9336
Hi liming30, I remember what we did was to avoid using SST Writer

[2022-06-07 13:05] CMCDragonkai commented on #4620
I wonder if there's a way to leave transactions enabled in while enabling the ROCKSDB_LITE.