[2016-03-08 05:07] kahkeng commented on #1013
Ok looks like increasing the write_buffer_size to 64MB or just 16MB did the trick here for me. Somehow the default 4MB doesn't work well with the hash skip list.

Pasting output here in case it is helpful to others as well.

[code]

[2016-03-08 05:07] #1013 closed

[2016-03-08 08:20] infidob commented on #963
@dhruba:
I didn't know whether snapshots are affected by compaction and wasn't aware of checkpoints at the time - I guess those are persistent snapshots.
Even though I may not need the snapshots in case of shutdown and restart, I wanted to know what state the DB is left if it crashes with snapshots and then restarts.

I want to phase-in a new node to a cluster and transfer some fraction of the dat

[2016-03-08 08:20] #963 closed

[2016-03-08 14:49] mdcallag commented on #1031
We also have a google group that could use more interesting questions, like this one.
https://groups.google.com/forum/#!forum/rocksdb

[2016-03-08 14:53] adamretter commented on #1031
Personally I find it very hard to use/follow technical discussions on a
Facebook wall. IMHO it is not well suited to it at all. I would really like
to see the GoogleGroup promoted and ideally replace the Facebook wall for
technical discussion. Is there any appetite for that inside the RocksDB
group at Facebook?

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2016-03-08 16:13] mdcallag commented on #1031
I am the #1 promoter of the Google group.
https://groups.google.com/forum/#!topic/rocksdb/bbXDdzf0CCY

[2016-03-08 19:03] adamretter commented on #1031
Okay cool :-)

On 8 March 2016 at 11:13, Mark Callaghan <notifications@github.com> wrote:

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2016-03-08 22:03] hrjaco commented on #1014
I have been doing some large data load testing(mainly writes). The limiting factor I found is the disk writes IO bytes/sec due to the write amplification. Suppose we want to support 20MB/sec Network In Byte/sec, we would write 20 * X MB/sec to disk(where X is the write amplification).

The box where I am going to use this has 1.6TB disk space.

At the beginning, I used one Rocksdb shard, where lev

[2016-03-08 22:08] igorcanadi commented on #1014
We almost always see write amp much lower than what is estimated by theory. Did you actually measure write amplification of 60? We're seeing 15-20 write amp when we store a big database (hundreds of GB, or a TB) in one shard.

But if you're constrained by write amp, you should try out universal compaction. It makes write amp much better while increasing read amp and space amp. But if you're runnin

[2016-03-08 22:27] hrjaco commented on #1014
Yes, 60 is what I observed when I was doing load testing. The test basically generates PUT for a random key in a very large key space, so this is definitely not same as production traffic. Do you know why you get 15-20 write amp? Delete markers? duplicated puts?

I do not understand very well about universal compaction. How many levels can Rocksdb have if using universal compaction? From https://g

[2016-03-08 22:54] hrjaco commented on #1014
Another thing to mention is I still want to have low read amplification since this is used as a cache. Level compaction gives good read amplification(~1) for point look up if we cache all the bloom filters.

In order to also achieve close to 1 write amplification, I am thinking about running more rocksdb instances. But I am wondering what's the tradeoff here.

[2016-03-09 00:43] siying commented on #1013
Or you can lower --hash_bucket_count . Default 1 million hash buckets are far too many for 4MB memtable. Metadata of any skip list is in hundreds of bytes. So Even 16MB may just barely make it run, but the performance will not be well.

[2016-03-09 01:05] mdcallag commented on #1014
Can you share compaction IO statistics from the RocksDB LOG file?

On Tue, Mar 8, 2016 at 2:55 PM, hrjaco <notifications@github.com> wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2016-03-09 17:24] hixel commented on #145
"make clean" before helped me

[2016-03-12 00:21] hrjaco opened #1033 "Add wiki about cuckoo-hash based memtable."
I just noticed there is a cuckoo hash based memtable https://github.com/facebook/rocksdb/commit/9d9d2965cb4df6163624a31d2b5dd7364813f27f, which seems to be very good for point lookup. But I do not see wiki mentioning it. Curious is it of production quality? If so, could someone please add it to wikis:
https://github.com/facebook/rocksdb/wiki/Hash-based-memtable-implementations
https://github.com/f

[2016-03-12 00:24] hrjaco commented on #1033
Also it would be great if there are related benchmark results to share.

[2016-03-12 13:54] zhaown commented on #696
@igorcanadi @siying In which version the "missing-scheduled-flush/compaction-bug" fixed? I think I hit the similar problem: the Rocksdb (3.13.1 in Samza on Yarn) totally hanged, the "Stopping writes" triggered but no compaction started. Below is my last few lines of `LOG`, I waited it for about one hour but nothing happened, please help.

2016/03/12-20:44:17.981029 7f3bdb92e700 (Original Log Time

[2016-03-12 19:05] igorcanadi commented on #696
Can you please send us the full LOG?

[2016-03-13 03:36] zhaown commented on #696
@igorcanadi I can send you the full LOG but it's 13MB, what's the proper way to send it to you? Below is the first and last 1k lines of it.
First 1k lines: http://pastebin.com/fbCBBKvR
Last 1k lines: http://pastebin.com/EVp8T1Pp

[2016-03-13 14:49] zhaown commented on #696
@igorcanadi I've tried using another version of Samza(0.9.0) with Rocksdb(3.5.1) on another Yarn(2.4.1),  but the HANGING still were there.

The 2.4 Yarn cluster is mix of bare metal with CentOS 5 and CentOS 6, the hanged Rocksdb is always on CentOS 6 in all my 3 test rounds, it's wired. I'll do more tests tomorrow to see if the OS is relevant to the issue.

The LOG this time is smaller so I paste

[2016-03-14 16:54] igorcanadi commented on #696
In this particular LOG there is no mention of stalling anywhere, so I don't think this was a problem with RocksDB. Can you find a stack trace of the hanged threads?

[2016-03-14 20:30] jamespedwards42 opened #1034 "seekToLast() Broken For rocksdbjni Library?"
both #seekToFirst() and #seek(byte[] key) work just fine, however when I use #seekToLast() instead the iterator is always invalid.

Also, this might be expected/desired behavior, but if I continue to iterate forward on a valid iterator with #next() until #isValid() returns false I am then unable to use #prev() to go back to a valid state.  The iterator will remain invalid once it has completed its

[2016-03-14 21:19] adamretter commented on #1034
@jamespedwards42 Let me see if I can reproduce this...

[2016-03-14 21:58] dhruba commented on #1018
Hi edouarda, if you can submit a pull request, we can merge it in very quickly. And thanks for finding this.

[2016-03-14 21:59] dhruba commented on #758
Is there any plans of moving the windows code  to std::mutex?

[2016-03-14 22:10] dhruba commented on #1018
https://reviews.facebook.net/D55455

[2016-03-14 22:11] edouarda commented on #1018
Awesome, do you need me to do the PR?

[2016-03-14 23:03] edouarda commented on #1032
The effect is different on Windows

[code]

However

[code]

I think a better option name would be "request_unmapping" (or similar) as the OS isn't bound to follow fadvise requests in the first place and also to change the code in Windows has FILE_FLAG_NO_BUFFERING doesn't do what you might think it does.

See (here)[https://msdn.microsoft.com/en-us/library/windows/desktop/aa363858(v=vs.85).aspx#c

[2016-03-14 23:05] yuslepukhin commented on #758
@dhruba Ready whenever you are. port::Mutex impl use std::mutex

[2016-03-14 23:08] yuslepukhin commented on #758
This particular issue was fixed here https://github.com/facebook/rocksdb/commit/a1d37602a0b9a31c0fc5a9869e57bd55884f6af9#diff-e438cc784cd0656061844d09ff9372ce

[2016-03-14 23:10] yuslepukhin commented on #1032
@edouarda The flag does exactly what we think it does :) However, we turn on the no buffering mode only when mmaping is not requested.

[2016-03-14 23:12] dhruba commented on #1032
I see your point @edouarda. But it is difficult to change the name of the option (to keep backward compatibility). Would you like to submit a pull request that enhances the code comments around https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L1044 so that the beviour on Linux and windows is well explained?

[2016-03-14 23:14] yuslepukhin commented on #1032
Basically, Windows allocates the amount of memory for file buffering which is hard to control in multi-tenant environment. So what we (and many other windows products) do is do direct I/O (hence aligned buffers) and control memory allocation by specifying cache size.

[2016-03-14 23:24] #1018 closed

[2016-03-15 00:11] jamespedwards42 commented on #1034
@adamretter Adding the tailing read option is what breaks it.  My goal was to reuse the same iterator and call seekToLast each time to see the latest sorted entry.

`db.newIterator(new ReadOptions().setTailing(true));`

[2016-03-15 00:45] siying commented on #1032
@kradhakrishnan is adding direct IO support to RocksDB. It will be ready soon. Will let you know whether this is going to be the option to use.

[2016-03-15 03:02] ehamilto opened #1036 "crash doing batched write, JNI"
Hi guys,

Below the stack trace. The use case is one YCSB client running 4 threads during the loading phase, with workload,

fieldcount=1
recordcount=1000000000
operationcount=1000000000
workload=com.yahoo.ycsb.workloads.CoreWorkload
readallfields=true
readproportion=0.5
updateproportion=0.5
scanproportion=0
insertproportion=0
requestdistribution=zipfian

There is a different server process that s

[2016-03-15 03:10] ehamilto commented on #1036
I got a different stack trace the second time around, but similar scenario (~ 16 million entries in),

#1  0x00000034bf834085 in abort () from /lib64/libc.so.6
#2  0x00007f0df822ae85 in os::abort(bool) () from /home/fgomez/java/jdk1.7.0/jre/lib/amd64/server/libjvm.so
#3  0x00007f0df837f907 in VMError::report_and_die() () from /home/fgomez/java/jdk1.7.0/jre/lib/amd64/server/libjvm.so
#4  0x00007f0d

[2016-03-15 03:19] adamretter commented on #1036
@ehamilto How did you build RocksJava? Do you have a recent C++ compiler and GDB. I noticed the string "Unhandled dwarf expression opcode 0xf3" in your output, Googling about seemed to suggest that the version of gdb you have does not match your version of gcc, and so not all of the information can be provided. Also is this a production version, or a version with debug symbols? If it's production,

[2016-03-15 03:46] ehamilto commented on #1036
Thank you for your quick reply,

The version of gcc that I am using for building RocksDB is different from the one that comes by default in my OS (RHEL 6.4, 2.6.32-358.el6.x86_64 ). The default is 4.4.7.

For building, I am using,

export GCC_HOME=/opt/centos/devtoolset-2/root/usr
export CC=$GCC_HOME/bin/gcc
export CPP=$GCC_HOME/bin/cpp
export CXX=$GCC_HOME/bin/c++

 `$CC -v`
Using built-in specs.

[2016-03-15 04:18] ehamilto commented on #1036
I created a debug version and rerun the test. It happened a couple of times with different stack traces, see below. While I cannot share my code, I can execute gdb commands on the core files to get info if that might help you.

#0  0x00000034bf8328a5 in raise () from /lib64/libc.so.6
#1  0x00000034bf834085 in abort () from /lib64/libc.so.6
#2  0x00007f97a3bfee85 in os::abort(bool) () from /home/fg

[2016-03-15 04:35] adamretter commented on #1036
@ehamilto I think you are still using the wrong version of GDB however. Also perhaps it is easier to learn from the hs_err files from the JVM crash?

[2016-03-15 04:58] ehamilto commented on #1036
OK, here is what the hs_errr files give with the debug builds. I can upload them if you want them.

Stack: [0x00007fc6002d1000,0x00007fc6003d2000],  sp=0x00007fc6003d0240,  free space=1020k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [librocksdbjni-linux64.so+0x23bdc5]  rocksdb::WriteThread::EnterAsBatchGroupLeader(rocksdb::WriteThread::Writer*, rocksdb::Writ

[2016-03-15 08:42] edouarda commented on #1032
@dhruba Yes I think you are right it's a good idea, but let me make sure I understand everything correctly. The only thing worse than no documentation is incorrect documentation.
@yuslepukhin If my understanding is correct - but I haven't written Windows kernel code for a couple of years now so my knowledge might be outdated - file cache of NT and Linux work fundamentally differently. On top of th

[2016-03-15 10:58] dhruba commented on #1036
@ehamilto Is there a way you can give us a reproducible test-case with a test-code that you share with us? Then I can run the same code on my machine and see if I can debug/fix it for you.

[2016-03-15 15:01] ehamilto commented on #1036
Let me try to reproduce the issue by running YCSB in embedded mode (ie, without the client/server code). If I am able to do that, I'll be happy to share the code.

[2016-03-15 15:22] mdcallag commented on #1032
I like the Windows solution. The RocksDB approach on Linux of doing an
extra system call (posix_fadvise) after every read() calls is ugly and
wastes CPU -- both for the system call and for the work to move pages to
the end of the LRU. Changes to use O_DIRECT are being discussed.

On Tue, Mar 15, 2016 at 1:42 AM, Edouard A. <notifications@github.com>
wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2016-03-15 15:50] jrtipton commented on #1032
@edouarda For what it's worth, Windows will indeed bypass the file system cache (cache manager) when FILE_FLAG_NO_BUFFERING is set. Note that the requests have to be aligned to the underlying device properly (though page size alignment is generally sufficient).

[2016-03-15 16:48] edouarda commented on #1032
@jrtipton  Thanks for the information!

In theory the database should do only direct I/O as it knows exactly what it needs to buffer and how. The OS doesn't know you're doing a database.

[2016-03-15 17:44] yuslepukhin commented on #1032
In a few words
- @edouarda  No doubt the code for posix and windows is different now. We currently do not plan to contribute to posix in this area. If you have a proposal for unification, we'd be willing to adjust. Though, changing the option name for the sake of the name alone may not be worth it. We selected the existing option because at the time it reflected what we wanted to achieve versus in

[2016-03-15 17:54] edouarda commented on #1032
Thanks for the answer, are you saying that os_buffer = true has a negative impact on performance in most cases? All I can say is that in our high level benchmarks (ie from quasardb API) we cannot see a difference, except, like you said, more system memory occupied.

[2016-03-15 18:41] mdcallag commented on #1032
Ran some tests for 1TB database with fast storage to understand whether
there is CPU or IO difference when using allow_os_buffer = true or false.
There wasn't much of a difference. I was mostly checking to determine
whether CPU load increased with allow_os_buffer=false.
https://gist.github.com/mdcallag/a3dadfcd7f3e52c560bf

On Tue, Mar 15, 2016 at 10:55 AM, Edouard A. <notifications@github.com>
wr

[2016-03-15 20:51] yuslepukhin commented on #1032
@edouarda if you ran db_bench w and w/o os_buffer you will likely get much better numbers with buffering on. The out the door latency you'd get in your application w/o buffering will depend on what you do on the application level, caching, bloom, etc.
The decision to use buffering or not to use will have to come from your requirements and trade offs resulting vector.

[2016-03-15 20:53] ehamilto commented on #1036
Hi,

I have below a self contained example that reproduces the issue with the standard workloada of YCSB,

I am running,

import com.yahoo.ycsb.ByteArrayByteIterator;
import com.yahoo.ycsb.ByteIterator;
import com.yahoo.ycsb.DB;
import com.yahoo.ycsb.Status;
import com.yahoo.ycsb.DBException;
import org.rocksdb.*;
import org.rocksdb.util.SizeUnit;

import java.nio.ByteBuffer;
import java.util.*;

[2016-03-16 06:51] edouarda commented on #1032
Hope you will not take offense I had to make sure you guys were correct, so I checked up what really happens under the hood...

... and it seems you were right and I was wrong. My memory was incorrect, when you pass `FILE_NO_INTERMEDIATE_BUFFERING` (the internal name for `FILE_FLAG_NO_BUFFERING`) the driver has to comply (if it can) and

- Do not cache data in its internal buffers, to the limits o

[2016-03-16 16:53] ehamilto commented on #1036
Hi,

Unfortunately, I am unable to produce a standalone test that produces the crash (I attach below the code I have been using for this purpose, a slightly modified version of the one that I posted yesterday in which each thread uses a dedicated WriteBatch object to maximize write activity).

I cannot share the code from the setup that produces the crash because of confidentiality reasons. I can

[2016-03-16 18:29] yuslepukhin commented on #1032
@edouarda `FILE_WRITE_THROUGH` is a potential option to include if @kradhakrishnan comes up with an implementation that requires behavior that is more inline with it.
Performance implications remain to be seen.
However, it can not subst `FlushFileBuffers` because file metadata is flushed then and some functionality, notably some tests rely on it. I have no idea why `FlushFileBuffers` was chosen to

[2016-03-17 04:30] zhaown commented on #696
jstack: http://pastebin.com/b8inYP1h
LOG: http://pastebin.com/99GWTpmf

It's on spinning disk, so I did some tuning this time which like larger sst file size, but it's no help... And the iostat showed low workload as below, please advice.

[2016-03-17 22:14] dhongMicron commented on #1016
Thank you for all the responses.  I think Mongo storage engine, a published interface, is what I was looking for.

[2016-03-22 13:48] seguijoaquin opened #1045 "Compilation errors on make static_lib under Travis CI"
Hi
Having trouble compiling static lib under Travis CI server
I installed all dependencies so far

##Build System information
_Description:	Ubuntu 12.04.5 LTS_
_Linux Version 3.13.0-63-generic_
_gcc (Ubuntu/Linaro 4.6.3-1ubuntu5) 4.6.3_

##My Travis.yml file

install:
#Dependencias RocksDB
- sudo apt-get install build-essential
- sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
- sudo apt-ge

[2016-03-22 14:51] seguijoaquin commented on #1045
Label
_dist: trusty_

Under the travis.yml file got the job done, since no tricks had to be done in order to install dependencies..

Just added them the usual way, running over Ubuntu Trusty (14.04)

[2016-03-22 14:51] #1045 closed

[2016-03-22 22:01] yuslepukhin opened #1046 "Snapshot leaks in ManagedIterator"
Assignment of the Snapshot never happens in release build because it is within the assert stmt. Consequently, it can not be used nor released. Is it a leak?
https://github.com/facebook/rocksdb/blob/master/db/managed_iterator.cc#L82

[2016-03-22 22:02] #1046 closed

[2016-03-26 08:21] edouarda opened #1051 "Add void Env::UnsafeDeallocate()?"
In quasardb to make profiling easier we added the following method in Env:

[code]

The goal of this function is to deallocate all structures before exiting the program to make hunting for memory leaks easier. It's unsafe in the sense it cannot be called at any other moment but before all RocksDB threads and objects have been terminated.

Would you like us to do a PR? It's still not 100% working o

[2016-03-30 00:49] franksunjin commented on #993
I read ExpandWhileOverlapping, it is the same logic of the bugfix in https://github.com/google/leveldb/pull/339

And the unit test pass, should able to resolve this issue

[2016-04-01 12:09] warrenfalk opened #1055 "Column Family creation and db open sequence"
This is part question, part issue, and part request for comment/advice.  I have developed a [.Net (C#) library for RocksDB](https://github.com/warrenfalk/rocksdb-sharp) and am now adding Column Family support to it.

I'm confused by the design of the interface for column families. When I open the db, I must specify every column family it contains and none that it doesn't.  If I miss one the databa

[2016-04-01 15:03] siying commented on #1055
The reason of the interface is that different column families can have different options. For example, LSM setting, comparators, merge operators, or compaction filters. The Open() function is strict enough to make sure users don't make mistakes.

There are cases where users want to use the same option for multiple column families and don't want to remember column families by themselves. In this ca

[2016-04-01 16:03] warrenfalk commented on #1055
Perhaps I'm still missing something.  I already understand how a call to open with _missing_ CFs can harm the user.  What I don't understand is how a call to open with _extra_ CFs (complete with options) harms the user.

Even if we only deal with the simplest case which is that there is only one version of the database, then the database will be in one of these states: 1) doesn't exist or 2) exist

[2016-04-01 16:04] igorcanadi commented on #1055
We do have this option! https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L827

And thanks for developing .net bindings for RocksDB!

[2016-04-01 16:09] igorcanadi commented on #1055
Also, I created a file LANGUAGE-BINDINGS.md where I added a link to your bindings, hope you don't mind: #1056

[2016-04-01 16:12] warrenfalk commented on #1055
Ha, there it is.  Thanks Igor.  I don't know how I missed it.  I'm thinking maybe we should add it to the example.

No problem, and I don't mind at all.

[2016-04-01 16:12] #1055 closed

[2016-04-02 15:30] dbabenko opened #1057 "subsequent restarts after initial crash produce assert failure in debug build of rocksdb 4.2.0"
After initial crash process using debug build of rocks 4.2.0 consistently fails with the error below. Please let me know what additional information you would like me to provide. I don't have core dump for initial crash to confirm that this failure caused the first crash but subsequent restarts result in the following assert failure included in this message.

Thank you,
Dmitry
#0  0x00007f3bdfc3cc

[2016-04-04 04:25] Toshh opened #1058 "rocksdbjni on Windows doesn't release memory cache"
Hi,

I'm using rocksdbjni.dll(V4.3.1) on Windows.
Its performance is better than leveldb.

But I have one issue. And this issue occurs in LevelDB jni also.
Windows keeps  .sst files as Active state in RAM even if finish to read/write data.
I checked by using RAMMap.exe
So finally memory usage leach maximum in my system.

Now my workaround is using Dynamic Chache Service that can restrict memory ch

[2016-04-04 20:11] jamespedwards42 commented on #703
Is this available on the latest release? I'm trying to find the latest 4.3.1 release jar but I can only find up to [4.2 on maven central](http://mvnrepository.com/artifact/org.rocksdb/rocksdbjni).  Is there another repo with newer releases?

[2016-04-04 22:14] dbabenko opened #1059 "memory leak?"
Hello,

I was wondering if I'm running into memory leak situation here or not? Any input is appreciated. Thank you!

Applicaton overview:
- java app, uses rocksdb 4.2.0 published in maven repo, running on ubunut linux in aws.
- writes 3mil small records a minute, uses put, no batches, no queries.
- record: 8byte key / 8 byte value
- database is configured with 24h TTL. Uses bloom filter.
- db size

[2016-04-05 01:03] shuzhang1989 opened #1060 "Backup to S3?"
For the current version of RocksDb, do we have a way to backup and restore to / from S3?

[2016-04-05 01:18] siying commented on #1060
You can write your own Env which operates on S3 files. You are also welcome to contribute back:)

[2016-04-05 19:07] shuzhang1989 commented on #1022
@dhruba rocksdb LOG file looks file. Do you know what's the best way to increase the JVM memory uplimit? because we are doing in this JNI manner looks regular java flags doesn't work

[2016-04-05 19:07] shuzhang1989 commented on #1060
haha @siying , i see. Thanks for the info :)

[2016-04-05 19:14] igorcanadi commented on #1060
rocks-strata is a tool that can backup RocksDB and it already has an S3 implementation: https://github.com/facebookgo/rocks-strata.

[2016-04-05 22:46] shuzhang1989 commented on #1060
@igorcanadi wow, i will definitely take a look! Thanks !

[2016-04-05 22:47] #1060 closed

[2016-04-05 23:10] adamretter commented on #703
@jamespedwards42 and @liqweed 4.2.0 is the latest release of rocksdbjni; It does not contain any Windows binary artifacts.

I can create a 4.3.1 release and publish it to Maven Central, but if I did it also would not contain any Windows Binary artifacts.

If someone wants to work on adding the ability to build Windows artifacts to the build then this is what we need:

1. A Vagrant box file contain

[2016-04-05 23:15] adamretter commented on #1059
@dbabenko For any short lived objects that you use in the Java API like `RocksIterator` or `WriteOptions` etc, are you making sure to close them as soon as you are finished with them by either manually calling `.close()` or using a `try-with-resources` expression?

Also when you have a running Java application which you believe is growing and holding memory, you could use `jmc` or `jconsole` to co

[2016-04-06 18:59] jamespedwards42 commented on #703
@adamretter oof, I see. Thank you for all of the information.  We are 99% a unix based shop, but we recently had someone join that uses windows so I was trying get them going with one of our Rocks dependent projects and hit this issue.  I don't have any experience with building on Windows either so I can't be of any help here.   Given all of this I think it will be easier for me to push them to us

[2016-04-06 22:15] dbabenko commented on #1059
@adamretter Thank you for your suggestions!

RocksIterator - `RocksIterator` is not used (or at least java code doesn't create it explicitly). There are no `get` calls either.

WriteOptions - there is only one instance created and then reused for all put calls. Same instance of WriteOptions is used by 16 threads executing put operation.

I've checked jvm heap usage - no obvious issues.  btw java h

[2016-04-07 17:13] jensz12 opened #1062 "RSS icon image is missing"
The RSS icon image on http://rocksdb.org/ is missing

[2016-04-07 17:54] igorcanadi commented on #1062
Tnx for the report, I fixed it.

[2016-04-07 17:54] #1062 closed

[2016-04-07 21:24] shuzhang1989 commented on #1022
sent a diff for this issue:
https://github.com/facebook/rocksdb/pull/1063

[2016-04-07 21:24] #1022 closed

[2016-04-08 11:03] VishvendraRana opened #1064 "Commit() failure (abort) when multiple threads attempt write transactions using TransactionDB."
Hello,

I am using TransactionDB object in multithreaded environment.  There are two threads trying to update the value for the same key. See the attached program. One thread, T1, successfully PUTs the data (on a key) - a pessimistic transaction, while at the same time if thread (T2) attempts to PUT on the same key, the PUT fails, which is understandable, but when thread T1 invokes Commit(), commi

[2016-04-08 11:49] abuldakov opened #1065 "Crash during compaction if some file is not found"
Hi!

I found a bug here (db/table_cache.cc:95). RocksDB v.4.4.1

[code]

If the file 'fname' does not exist, and the condition in the next line is true,
the app crashes inside of NewReadaheadRandomAccessFile because 'file' is null.

This code works fine:

[code]

[2016-04-08 16:32] siying commented on #1065
Good finding. Do you want to fix it, or you want us to fix it for you?

[2016-04-08 19:07] abuldakov commented on #1065
I'll be happy if you fix it, guys :)

I'm really not very good at pulling requests. Never done it :)

[2016-04-08 19:10] siying commented on #1065
By the way, why doesn't the file exist? Did you manually delete a file?

[2016-04-08 20:01] abuldakov commented on #1065
No, I did not..

In my system I use manual CompactFiles call with parallel background flush and compactions.
I need this manual compaction to delete obsolete keys on high (4 and 5) levels by CompactionFilter.

So I cought this bug:
https://github.com/facebook/rocksdb/commit/eef63ef807eaf13b55d07d044ac35152371963ff
It suddenly happened after 2 weeks of stable work (later I understood why)

Neverthe

[2016-04-10 13:20] edouarda opened #1070 "StaticMeta issues"
Hello,

There is already the matter of the environment not being destroyed on termination of the program, we solved that with an `Env::UnsafeDeallocate()` function that we call right before exiting the application.

But there is a tougher problem with the usage tracking of RocksDB (thread_local.cc).

The problem is that it's extremly POSIXey on one side and leaks memory on exit on the other side.

[2016-04-11 09:27] #1064 closed

[2016-04-11 18:06] yuslepukhin commented on #1070
@edouarda The first bullet is intentional but you can change it, not an issue. Just add a case on Library unloading.
Please, elaborate on the second bullet. I am not seeing any issues. Linker directives are not ignored. Are you saying that unit tests that are linked to the static library (or DLL) are not firing the cleanup code?

[2016-04-11 18:53] edouarda commented on #1070
The problem I have is that if I compile rocksdb into a library and then link the library, the pragma are ignored. I have this problem with VS 2015 Update 2.

The logic is that the linker directives are ignored when you compile the library and the linker doesn't know you have these pragmas inside the cpp of your library.

[2016-04-11 19:31] sam-guo opened #1071 "Java JNI compaction suspend and resume API available?"
Hi,

In our Java app we would like to pause and resume Rocks compaction from time to time (for example, in order to do our own EBS snapshot).

Are those APIs available on JNI interface? I did a quick search and could not find any.
If they are not in JNI, are they available in the original C/C++ APIs? Any plan to add them to JNI?

Or, is there any other way to achieve what we are trying to do on Ja

[2016-04-11 20:15] yuslepukhin commented on #1070
@edouarda I wil take a look at it

[2016-04-11 20:34] edouarda commented on #1070
Thanks, as a note we're using CMake it might be a CMake related problem.

[2016-04-11 20:37] yuslepukhin commented on #1070
@edouarda I am seeing this both in Debug and Release executables built with Jemalloc (should not matter). VS 15 Update 2

c:\dev\RocksDb\repo.RocksDB\build\Release>dumpbin /TLS rocksdb_je.dll
Microsoft (R) COFF/PE Dumper Version 14.00.23918.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Dump of file rocksdb_je.dll

File Type: DLL

  Section contains the following TLS directory:

[2016-04-11 20:45] edouarda commented on #1070
Yes but we don't build RocksDB as a dll, we build it as a lib.

[2016-04-11 20:47] yuslepukhin commented on #1070
@edouarda We are using CMake the same CMake build as on GitHub, no changes.
The conflict that you are referring to should not be a problem otherwise `__declspec(thread)` would not work properly. The linker takes care of it.
The reason why this solution was preferred it avoids any changes in the code so they are not necessary.
The fact that you are building RocksDB as a lib is fine too. All of the

[2016-04-11 20:49] edouarda commented on #1070
Did you put a breakpoint on the callback and see if it was called? On my case it didn't work. What would have been the cause?

[2016-04-11 20:50] yuslepukhin commented on #1070
@edouarda  I did not do it recently. There might be an issue so that's why I wanted to know the manifestation. The linker directives are there.

[2016-04-11 20:50] edouarda commented on #1070
Yes I didn't check that they were there I just saw the symptom that the breakpoint wasn't triggered.

[2016-04-11 21:43] yuslepukhin commented on #1070
@edouarda Just tried that with thread_local_test which is linked to the static library build with CMake. The callback is being called.
![callback](https://cloud.githubusercontent.com/assets/11303988/14443387/c395c4de-fff3-11e5-8351-d96b957d5c1c.PNG)

[2016-04-11 22:18] adamretter commented on #1071
@sam-guo If they are available in the C++ API and you can point me to the methods, I will happily add wrappers to the Java API for you.

[2016-04-11 23:17] yuslepukhin commented on #1070
@edouarda You can still do whatever you intended. For example, you can create your own env with your own thread pool and your own way to start threads and then use it with your database and pass cleanup there.
The above callback mechanism works for a specific thread local storage class and does not do anything else.

[2016-04-12 15:54] edouarda commented on #1070
My point was it would be better to have a mechanism that works on all platforms the same way rather than a variation per platform, I know the current mechanism "works" (although here for some unknown reason it doesn't, I guess we must have something interfering with it, anyway we found a work around).

I will submit an issue for cleaning up on exit the main thread, thanks for the answers and looki

[2016-04-12 22:14] yuslepukhin commented on #1070
I get your point and I do agree. It's just there is not such a mechanism on the language level and the OS facilities differ.

Your approach though seem to require a similar code. on_exit() routing must be shared among the all the threads and among the all the thread local storage indexes so every thread now and in there future would attempt to clean up all the possible thread local storage that ar

[2016-04-12 23:35] guozhangwang opened #1074 "Transient assertion failure in 4.1.0"
We saw the following failure assertion consistently while using rocksDB version 4.1.0 in a streaming application runtime (cc @norwood @ijuma):

[code]

Any guidance about what went wrong are appreciated, thanks!

[2016-04-12 23:37] guozhangwang opened #1075 "More frequent segfaults in 4.2.0"
We are currently using 4.1.0 in our streaming library as a state storage, and we saw transient segfaults in our integration tests; we tested with 4.2.0 and the segfaults seems even more frequent than 4.1.0. cc @ijuma

[2016-04-13 07:10] ijuma commented on #1075
The hs_err file written by HotSpot tends to have either of the following as the problematic frame:

[code]
https://gist.github.com/ijuma/1ad3f45a0c7cc38fb83e1198e53640c1

[code]
https://gist.github.com/ijuma/87d53e9406859a659ec28bcb6350239b

[2016-04-13 07:11] ijuma commented on #1075
Also, we would be happy to try a newer version (eg 4.6.0), but they don't seem to be published to Maven for some reason.

[2016-04-13 15:19] sam-guo opened #1076 "rocksdbjava, code from Master, close resources explicitly, or not?"
Hi,

I got latest code from Master (4/12/2016), noticed the dispose() has been deprecated and close() was added which is fine.

I am trying to understand, from my java code, whether I should call close() explicitly for resources  like RocksIterator, RocksDB, ReadOptions etc.

Specifically, when looking at the test code AbstractComparatorTest.java, I saw it does not call close() on RocksIterator or

[2016-04-13 15:57] adamretter commented on #1076
@sam-guo You do need to call `close`. You can do this either explicitly or implicitly through the `try-with-resources` statement introduced in Java 7.

You should call `close` on any object that implements `java.lang.AutoCloseable`. Typically you should close the objects in the same order that you opened them.

`AbstractComparatorTest.java` does actually call `close` on `RocksIterator` but it is d

[2016-04-13 15:58] #1076 closed

[2016-04-13 18:16] sam-guo commented on #1071
Hi adamretter,

I did a grep and saw these 2 functions:

./db/db_impl.cc:Status DBImpl::PauseBackgroundWork()
./db/db_impl.cc:Status DBImpl::ContinueBackgroundWork()

that I think will work. Could you add them to the Java API?

Thanks!

[2016-04-13 21:28] adamretter commented on #1075
@ijuma Okay so you are going via the Java API...

I will publish a `4.3.1` later today, and then `4.4.1` that you can use for testing a newer version if you like.

If you want the latest changes to the Java API for using `try-with-resources` to close your objects you will need to create your own build from source.

**NOTE** that the latest public version of RocksDB is `4.4.1` which was released ye

[2016-04-13 21:32] ijuma commented on #1075
@adamretter yes, we are using it via the Java API indeed (eg https://github.com/apache/kafka/blob/trunk/streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java).

Thanks for publishing the newer versions, that's awesome and we'll test them ASAP. With regards to the latest version, I saw `4.6.0` here:

https://github.com/facebook/rocksdb/blob/master/HISTORY.md

But then I n

[2016-04-13 23:19] adamretter commented on #1075
@ijuma So version `4.4.1` is the latest public stable release - https://www.facebook.com/groups/rocksdb.dev/permalink/925995520832296/

The other versions in `HISTORY.md` are for upcoming releases that are still being tested to make sure they are stable before they are publicly released.

I just pushed `4.3.1` of RocksJava to Maven Central. It should show up in a few hours.

[2016-04-13 23:26] ijuma commented on #1075
Thanks for the explanation @adamretter and for publishing 4.3.1.

[2016-04-14 00:06] adamretter commented on #1075
@ijuma Okay I just sent 4.4.1 toward Maven Central too. So maybe test with that and let us know how it goes...

[2016-04-14 06:22] ijuma commented on #1075
I ran the tests with 4.4.1 a number of times and they passed every time so far (unlike 4.2.0). It's probably OK to close this issue. If we run into issues again, we'll file a new one with the details.

Thank you @adamretter!

[2016-04-14 18:35] #1075 closed

[2016-04-14 19:01] edouarda commented on #1070
I will open an issue for the unloading, I will try to reproduce the problem we had with the breakpoint. I submit it is related to linking options. NB: I was in debug mode. Maybe is it related?

Your comment on the on_exit is spot on, but you don't need to expose it in the higher level library. The only purpose is to have a portable hook

We're working on a release on our side, but when it's done I

[2016-04-14 19:07] edouarda opened #1077 "Leaks on unloading"
Currently RocksDB "leaks" memory on exit.

This is not a serious problem in itself as since the executable is exiting, it doesn't matter if not all resources are freed.

However it has the disadvantage of triggering a lot of false alerts (noise) in tools that track memory leaks.

It would therefore be really nice if RocksDB could capture the main thread exit and properly deallocate all structures.

[2016-04-15 03:55] followheart opened #1079 "rockstable run error : IO error No such file or directory"
when my rocksdb instance run a few time , i find some error in rocksdb LOG,

2016/04/14-15:46:14.280843 7f68a4bff700 Move log file ./db_data/rt_mc_1_11/089425.log to ./db_data/rt_mc_1_11/archive/089425.log -- OK
2016/04/14-15:46:14.280885 7f68a4bff700 Move log file ./db_data/rt_mc_1_11/089426.log to ./db_data/rt_mc_1_11/archive/089412.log -- OK
2016/04/14-15:46:14.280931 7f68a4bff700 Move log file

[2016-04-15 03:56] followheart commented on #1079
@siying , do you have any idea about this?

[2016-04-15 03:59] siying commented on #1079
This should be harmless, right?

[2016-04-15 04:09] followheart commented on #1079
thanks for answering so quckily，
yes，ithis is harmless in the production environment ，but i want to know why this is happen? this should be only delete one time correctly, is it?
in my case，my rocksdb suddleny uses cpu as much as 80% in some time....when i read runtime log,i find this error info, then i want to know detail, although maybe this is not the main causes..

[2016-04-15 12:56] sam-guo opened #1080 "JNI RocksDB.close() async?"
Hi,

In my junit test case, I repeatedly write to rocks db, close it (by closing all rocks resource I can think of, then `RocksDB.close()`), delete the db, and start over again. At random time I would get this error:

[code]

This error appears on random time of the test, always after the delete db. I suspect the `RocksDB.close()` is not completed yet in the background when the db is deleted in di

[2016-04-16 20:29] adamretter opened #1082 "Is this a corrupt database?"
I have a database with Rocks that I have been using. However when I start up now, it appears that my database is empty somehow.

At startup it now looks like the recovery process runs:

[code]

Is the recovery process deleting my data somehow?

[2016-04-16 20:32] adamretter commented on #1080
@sam-guo Which version of RocksJava are you using? Can you test this with the HEAD version of RocksDB? Quite some changes were made around closing resources from the Java API here - https://github.com/facebook/rocksdb/commit/51c9464dfc0415911897e83a275dcf84753f99f9

[2016-04-17 20:01] adamretter commented on #608
@siying I wrote a small benchmark for testing the three methods if insertion into the database:

1. Direct puts, i.e. `RocksDB#put(cf, key, value)`
2. WriteBatch
3. WriteBatchWithIndex

The results were gathered using the latest version of RocksDB as of today, i.e. with the micro-optimization for `WriteBatchWithIndex` https://reviews.facebook.net/D55539.

Unfortunately it seems that WBWI is still

[2016-04-18 13:43] sam-guo commented on #1080
Hi adamretter,

I am at master (HEAD?). Is there another branch you would like me to try?

The error (Assertion failed: (refs_.load(std::memory_order_relaxed) == 0)) shown up randomly in many of my unit test.

Thanks,
Sam

[2016-04-18 14:09] adamretter commented on #1080
RocksJava has a fairly reasonable test suite which doesn't show this. Would you be able to contribute a test which shows this behaviour?

[2016-04-19 18:10] adamretter commented on #1058
@Toshh Regards RocksJava support on Windows, please see - https://github.com/facebook/rocksdb/issues/703#issuecomment-206027819

[2016-04-21 17:40] sam-guo commented on #1080
Hi,

I think I know a little bit more on this.

In my code I use the default column family only. When I opened up a db using this method:

open(DBOptions var0, String var1, List<ColumnFamilyDescriptor> var2, List<ColumnFamilyHandle> var3)

and closing it by first closing everything in var3, it will give me that error.

So I switched to using this open method:

RocksDB open(Options var0, String var

[2016-04-21 17:46] sam-guo commented on #1080
There is another piece of related info.

With
   RocksDB open(Options var0, String var1)
when ever I use Intellij debugger to step into a class that directly uses RocksIterator, the debugger session dies immediately. Without stepping into those classes the program runs fine, with and without debugger running.

With
   open(DBOptions var0, String var1, List var2, List var3)
above problem never occu

[2016-04-21 18:33] mdcallag opened #1085 "Cumulative compaction: metrics miss writes done to non default column families"
"Cumulative compaction:" metrics are printed by https://github.com/facebook/rocksdb/blob/master/db/internal_stats.cc#L652

They show zeros when running linkbench with column families. This is incorrect.
https://gist.github.com/mdcallag/4f00526662636b53243497c92bf141f0

They show non-zero values when running linkbench without column families. This is correct.

I assume the problem is in db/compacti

[2016-04-21 18:33] mdcallag commented on #1085
Siying - can you find an owner?

[2016-04-22 00:01] siying commented on #1085
https://reviews.facebook.net/D57063

[2016-04-22 00:32] guozhangwang commented on #829
@followheart Could you let me know how you fixed the problem? I think I may be encountering a similar one.

[2016-04-22 09:28] followheart commented on #829
you may forgot to delete the instance of rocksdb(such as delete db_ptr)~~~ha

[2016-04-22 09:28] followheart commented on #829
@guozhangwang  you can have a try~~

[2016-04-22 15:44] guozhangwang commented on #829
Good to know, will check all my instances, thanks!

[2016-04-22 17:25] mdcallag opened #1086 "FLUSH_WRITE_BYTES is incorrect"
I ran db_bench --benchmarks=fillseq and WAL sync disabled. iostat was running during the test and bytes written by iostat are about half the rate of bytes written by rocksdb.flush.write.bytes. This is true whether I use snappy or no compression.

For this example, iostat reports ~1gb of writes when compression is disabled because there are 1M keys and each value is 1024 bytes. But rocksdb.flush.wr

[2016-04-22 21:00] yiwu-arbug commented on #1086
Seems RecordTick is called three times after flush (two RecordFlushIOStats() in db_impl.cc and one in flush_job.cc). Will send a fix.

[2016-04-22 22:01] yiwu-arbug commented on #1086
@mdcallag in you awk command why you multiply wkb by 5? I ask because I'm not able to repro the same number. I run it locally and the awk command outputs 1.8.

[2016-04-22 22:15] mdcallag commented on #1086
From the reproduction scripts...

I run "iostat -kx 5" so I get one sample per 5 seconds and the unit is KB.
To convert to total bytes written I sum the column from iostat, multiply by
5, then divide by (1024 * 1024). And divide by (1024*1024) is in place of
multiply by 1024 then divide by (1024*1024*1024).

On Fri, Apr 22, 2016 at 3:01 PM, yiwu-arbug <notifications@github.com>
wrote:

--
Mark Cal

[2016-04-22 23:43] yhchiang commented on #1086
Thanks for reporting this.  https://reviews.facebook.net/D57111 should fix this issue.

[2016-04-25 06:11] foongws opened #1090 "error: 'NUMBER_DB_SEEK' is not a member of 'rocksdb'"
When I try to compile mongo db with rocksdb, i received following error.

Compiling build/opt/mongo/db/modules/rocks/src/rocks_server_status.o
src/mongo/db/modules/rocks/src/rocks_server_status.cpp: In member function 'virtual mongo::BSONObj mongo::RocksServerStatusSection::generateSection(mongo::OperationContext*, const mongo::BSONElement&) const':
src/mongo/db/modules/rocks/src/rocks_server_stat

[2016-04-25 18:22] siying commented on #1090
Which version of RocksDB are you using?

[2016-04-25 23:26] shuzhang1989 opened #1094 "Dependency on AWS SDK"
Hi,

I am thinking to write an S3 environment for rocksdb, turned out we can leverage the AWS cpp sdk (https://github.com/aws/aws-sdk-cpp), but I wonder what's the best practice here to wind a 3rd party lib into rocks db?

[2016-04-26 01:24] warrenfalk opened #1095 "(C API) Segfault when calling rocksdb_slicetransform_destroy() after rocksdb_options_set_prefix_extractor()"
The code below will segfault.

The expectation is that a call to rocksdb_slicetransform_create_fixed_prefix() should be paired with a call to rocksdb_slicetransform_destroy().

However, once the rocksdb_slicetransform_t is associated with an rocksdb_options_t, it gets destroyed when the rocksdb_options_t is destroyed, and so if you call rocksdb_slicetransform_destroy() it segfaults.

This makes la

[2016-04-26 01:40] foongws commented on #1090
Should be version 4. When I open HISTORY.md, i saw this .

# Rocksdb Change Log

## 4.0.0 (9/9/2015)
### New Features
* Added support for transactions.  See include/rocksdb/utilities/transaction.h for more info.

I compile the rocksdb from source using the following command:

git clone https://github.com/facebook/rocksdb.git
cd rocksdb
git checkout mongorocks
make static_lib
make install
cd～

[2016-04-26 08:39] amostyaev opened #1096 "Loss values during high-rate write"
I'm using small rocksdb base to store one meta value for another big database.

Operations log is the following:
[code]

Because key is only one, I want to reduce memory consumption and set the following opening options:
[code]

Rocksdb loses the last value after some amount of writes rocksdb.

If I set the constants above to high values (16MB), all works fine.

Is that a bug or I forgot to set so

[2016-04-26 09:17] dhruba commented on #1096
It should have worked correctly. Do you see any errors in the log file? If there is any way for you to show us the LOG file, that would be great.

It will be best if you can write a small program that repeats the above mentioned steps and see if you can reproduce the same problem with your standalone program. If you can, please share the standalone program with us so that we can reproduce the same

[2016-04-26 09:28] dhruba commented on #956
@benoitc : just curious to know if any patches need to be done to rocksdb to make it compile on SmartOS. If you have such a patch, please consider contributing it back here..

[2016-04-26 09:41] dhruba commented on #1094
This is a great initiative. Is the change all localized to a new rocksdb::Env?

We have similar integration of rocksdb + HDFS, see https://github.com/facebook/rocksdb/blob/master/util/env_hdfs.cc. If you can create a similar file for S3, that would be awesome!

[2016-04-26 09:59] yangwu200799 opened #1097 "Hi,I have some questions about a db api of OpenForReadOnly"
I describe my requirement as follows:
I have two client of database, they are in two different processes,one has write and read request of database called A,another has only read request of database called B. Now A writes into database without a stop. I want that B can read the real time updates of database written by A.
I see that rocksdb has an api  OpenForReadOnly. But it seems that B can only

[2016-04-26 11:26] warrenfalk commented on #1095
The segfault also occurs with the bloom filter policies also, and possibly more.  However it does not occur with block based table options.  And here is what appears to be the difference:

The following seems to be OK:
[code]
The following eventually results in segfault:
[code]
Is there any reason why the latter can't be made to work like the former?

[2016-04-26 11:37] Licenser commented on #956
The following patch is what was missing to compile it on SmartOS: https://github.com/project-fifo/erocksdb/blob/r3/c_src/smartos.patch

[2016-04-26 12:43] dhruba commented on #956
Is  std::emplace_hint not available in the C++ compiler on SmartOS?

[2016-04-26 12:50] amostyaev commented on #1096
Here is the LOG link:
https://www.dropbox.com/s/j8dh5kkf2dgb2xm/LOG?dl=0
I didn't see any errors there.

Sorry, but I can't write a small program, because that situation is the result of the work of complex application. Rocksdb is only part of it.

Please look at the LOG file, maybe I forgot to override some default value.

[2016-04-26 13:36] dhruba commented on #1096
Your LOG file seems ok.

Please see if you can modify https://github.com/facebook/rocksdb/blob/master/examples/simple_example.cc acoriding to the steps you have listed above to reproduce this problem.

[2016-04-26 13:39] Licenser commented on #956
nope it was not :(

[2016-04-26 13:40] Licenser commented on #956
That said I have no idea about c libraires so it's just pulling togehter work of @benoitc and google to get it to work

[2016-04-26 14:00] amostyaev commented on #1096
Sorry, I can't reproduce this, Will try to implement workaround to store that value.

[2016-04-26 14:00] #1096 closed

[2016-04-26 14:15] dhruba commented on #1096
No problem, let me know if you run into any other issues.

[2016-04-26 15:29] adamretter opened #1098 "How to partial merge deletion of last item in list"
I have a Merge Operator which maintains a list of values. I merge values to the database like:

[code]

In my `MergeOperator::PartialMerge` I receive the parameters:

* `left_operand` = `ADD_X`
* `right_operand` = `DEL_X`

An add for "X" followed by a delete for "X" effectively cancels out the operations on "X". I am assuming that I should return `true` as I was able to process the operands, howev

[2016-04-26 15:38] dhruba commented on #1098
1. return false from PartialMerge if you want to handle this as a FullMerge.
2. return true but set new_value="EMPTY", so that when a FullMerge occurs later, then you can handle it appropriately.
3. You can also setup CompactionFilter to drop keys where value="EMPTY"

[2016-04-26 16:32] igorcanadi commented on #1090
This is a duplicate of https://github.com/mongodb-partners/mongo-rocks/issues/23. Let's keep all the discussion there.

[2016-04-26 16:32] #1090 closed

[2016-04-26 16:35] shuzhang1989 commented on #1094
@dhruba yes, my assumption is that we can create another environment implementation separately.
The HDFS integration has the assumption that the user has HDFS library installed by themselves. Should we also push the responsibility of installing AWS sdk to users, or Rocksdb itself will integrate necessary aws libraries? Looks there is a third-party folder there.

[2016-04-26 17:18] dhruba commented on #1094
My vote would be to make the user install the S3 libraries outside of rocksdb, but have a env_s3.cc inside of the rocksdb code. Basically, follow the same structure that we have done for HDFS

[2016-04-26 17:22] shuzhang1989 commented on #1094
@dhruba SGTM, thanks!

[2016-04-26 19:30] adamretter opened #1100 "Working with WriteBatchWithIndex and merge"
For the background story - I am trying to work with `WBWI` (`WriteBatchWithIndex`) and merge operations. I have a need to be able to see the `merged` value of a key in the `WBWI` after I have performed the merge operation, e.g.

[code]

It seems that `WBWIterator` does not respect the merge semantics, which I really need and would have expected it to do intrinsically.

So... I thought I would try

[2016-04-26 22:20] adamretter commented on #1098
@dhruba Thank you very much, I already had (3) so I have implemented (2) and it seems to be working well. I also had to extend my PartialMerge to handle merging where left and right are both `EMPTY` :-)

[2016-04-26 22:20] #1098 closed

[2016-04-29 19:15] #943 closed

[2016-04-29 19:17] adamretter commented on #878
@karma243 @nickpan47 Have you resolved this issue?

[2016-04-29 19:17] adamretter commented on #858
@chnaik Have you resolved this issue?

[2016-04-29 19:18] adamretter commented on #857
@chnaik The latest version of RocksDB should include support for Mac OS X inside its Jar file.

[2016-04-29 19:18] #857 closed

[2016-04-29 19:37] adamretter commented on #658
@gustavoanatoly Did you ever make progress on this?

[2016-04-29 19:37] adamretter commented on #632
@snowtopcoffee Do you still have this issue on the latest version of RocksJava?

[2016-04-29 19:44] #606 closed

[2016-04-29 19:44] #577 closed

[2016-04-29 19:45] adamretter commented on #557
Latest RocksDB Jar's on Maven Central are built with JDK 7.

[2016-04-29 19:45] #557 closed

[2016-04-29 19:48] #547 closed

[2016-04-30 09:55] karma243 commented on #878
We could not fix the issue.

[2016-04-30 13:05] adamretter commented on #878
@karma243 Do you have the same issue with the latest release of RocksDB?

[2016-04-30 16:22] warrenfalk opened #1110 "Mac OS/X 32 bit build broken at commit 1a2cc27e013b561c9d3c8b81384d14443822057f"
Mac 32 bit build now fails with the following error:

[code]

[2016-04-30 16:28] adamretter opened #1111 "Fastest approach to Read-your-own-writes"
I am wondering what the most performant approach to achieving read-your-own-writes semantics via a WBWI (`WriteBatchWithIndex`) is?

I can see 4 possible approaches:
1. Take a `WBWIIterator` on the WBWI by calling `NewIterator`, seek, and if no item is found then fallback to `db->Get`. This was described by @siying in http://rocksdb.org/blog/1901/write-batch-with-index/ and is used in MongoRocks -

[2016-05-02 12:40] jeremyeder opened #1114 "rocksdb packages for RHEL-based operating systems"
Hi all --

Some users are requesting rocksdb packages for RHEL-based operating systems.  I found build_tools/make_packages.sh script but was not able to find any of the build artifacts in any external repos.  So I wonder if you are interested in getting rocksdb packaged for Fedora, CentOS (EPEL), etc?

[2016-05-02 13:10] dhruba commented on #1114
It would be good to get rocksdb packaged for Fedora, CentOS, etc? what are the steps/process to be followed?

[2016-05-02 15:09] jeremyeder commented on #1114
Process is listed here:  https://fedoraproject.org/wiki/New_package_process_for_existing_contributors

[2016-05-02 17:04] #1110 closed

[2016-05-02 17:30] dhruba commented on #1114
Hi Jeremy,  I read through the guidelines.  Since rocksdb is a pure c++ library, the rocksdb release process is mainly focussed on producing periodic, high-quality, bug-free releases of the source-code that can be consumed in various operating systems.

One way is for a volunteer to take a new rocksdb-release and then build packages for Fedora/CentOS and publish them in an open-source repository.

[2016-05-02 18:30] jeremyeder commented on #1114
Yes that's what I was thinking.  There's an existing open Red Hat bugzilla for this:  https://bugzilla.redhat.com/show_bug.cgi?id=1200612.

It has fallen silent for about a year, but we can still use that one.  I just wanted to make sure it was ok with the Facebook folks.

One thing we would probably ask is that if it's possible that Facebook review our packaging (RPM spec files) for correctness.

[2016-05-02 18:48] nickpan47 commented on #878
@adamretter we were using rocksdbjni-3.13.1 and we couldn't fix the issue either. The workaround we had was to change the order of invocation of rocksdbjni APIs as documented in issue-989

[2016-05-02 20:23] dhruba commented on #1114
Yes I will be very happy to review whatever way I can (I am not a Fedora/CentOS expert). Thanks again for doing this.

[2016-05-03 02:10] ghost opened #1115 "I didn't see SstFileTracker exposed through the C API"
Hi guys,

We am very interested in this feature,

https://github.com/facebook/rocksdb/blob/master/include/rocksdb/sst_file_manager.h

I see the C-API hasn't been updated to reflect it however. Basically we want to be able to limit the resources used by RocksDB. In our current thinking that comes down to:
- Limiting memory. This can be done with the read cache size for workloads with data in the Gb

[2016-05-03 04:51] IslamAbdelRahman commented on #1115
Hi @ehamilto
That's correct, we dont have a C-API for SstFileManager yet, would you be interested in submitting a pull request to expose it in ?

[2016-05-03 05:21] ehamilto commented on #1115
Hi @IslamAbdelRahman

Thanks for the quick reply. I am not, in principle opposed to submitting the pull request it but I need to double check with my management about TIBCO's open source contribution policies and whether they approve. This is not something we need right away. Let me get back to you guys with an answer.

Best,

Ethan.

[2016-05-03 09:05] dhruba commented on #1115
It will be great if you can contribute back to the RocksDb community. It will definitely help other RocksDB C users in the long-term.

[2016-05-03 12:55] liewegas commented on #677
Note that there is a unit test in db_test.cc (DBTest.SSTsWithLdbSuffixHandling) that pretends to verify that this works, but the test is flawed--it never causes rocksdb to read the .ldb files.

[2016-05-03 14:25] jeremyeder commented on #1114
@dhruba I'd like to cc you on the bugzilla we have open for this, what email address could I use?

[2016-05-03 14:41] dhruba commented on #1114
Please use dhruba@gmail.com

[2016-05-03 14:44] jeremyeder commented on #1114
Ah, crap.  Unfortunately I can't cc addresses, you'd have to create a bugzilla account. I'll just ping you here if/when that BZ shows movement.

[2016-05-03 18:17] adsharma commented on #1114
Jeremy: I updated the cmake files to produce three rpms. Code in this branch:
https://github.com/adsharma/rocksdb/commits/cmake_451

Would be great if you could review and provide feedback. Things that need fixing:

ls *.rpm
rocksdb-4.5.1-Linux-devel.rpm  rocksdb-4.5.1-Linux-runtime.rpm  rocksdb-4.5.1-Linux-tools.rpm

The files could be named better (rocksdb-devel* for eg).

[2016-05-03 18:18] adamretter commented on #1114
I am just wondering about RocksJava, should we have packages for that also?

[2016-05-03 19:08] jeremyeder commented on #1114
@adsharma hey -- I see your changes are to a CMakefile.  But to package rocksdb, we will want to arrive at an RPM spec file.

The spec file would use a zip of (i.e.) git tag rocksdb-v4.5.1, compile the software according to the upstream project standards, and lay down files according to the distro-standardized locations.

(I apologize if you know all this already).

[2016-05-04 04:14] adsharma commented on #1114
Jeremy: cmake has some rpm packaging support builtin.
https://cmake.org/Wiki/CMake:CPackPackageGenerators#RPM_.28Unix_Only.29

I tried to use it to the extent possible, but I'm not an expert on any of this. Hope someone more familiar with the distro standards can provide patches on top.

Yeah, rocksdb@fb.com is probably not the best contact email. @dhruba or @igorcanadi may have better suggestions

[2016-05-04 09:26] dhruba commented on #966
@koldat : curious to know if you were able to run RocksDB on AIX?

[2016-05-04 14:19] koldat commented on #966
@dhruba Yes we make it working. I have JNI on branch 4.1 running on AIX, Solaris Sparc, Mac, Windows, Linux. All Java tests passes. Very small number do not pass, because of problem with endianity (cuckoo hashing). We are finalizing tests and then I will start merge to master branch so I can do pull request. Hopefully soon.

[2016-05-04 14:58] dhruba commented on #966
Thanks for the update @koldat.

[2016-05-06 22:04] #1071 closed

[2016-05-09 08:09] sanxiyn opened #1117 "error: 'log' is not a member of 'std'"
In the latest Debian unstable, I get:

[code]

Changing `#include <math.h>` to `#include <cmath>` fixes the issue.

[2016-05-09 19:09] ehamilto opened #1118 "Prefix iteration with dynamic prefixes"
Hi ,

We want to be able to do fast prefix iteration but we are a bit confused as to how the prefix iteration feature will help us.

Our use case is the following,

1- Call DB::Open

2- Put some data (potentially, lots of data)

3- Do fast "prefix iteration" on the data put on 2-.

Note that we don't know by the time we call 1- all the prefixes we want to do iterations with in 3-. From reading the

[2016-05-12 03:36] ijsong commented on #1118
You can create column family using prefix extractor (https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L399). By using this option, you can indicate important prefix whenever you write some puts into the specific column family.

[2016-05-13 16:12] ehamilto commented on #1118
@ijsong Thanks for the info. This is good and it will help us going forward.

[2016-05-13 16:12] #1118 closed

[2016-05-14 01:51] Kangmo opened #1121 "rocksdbjni crashes with RocksIterator.seek, seekToFirst"
## Reproduction Environment

The issue was reproduced with the version : 4.1.0, 4.5.1
MacBook Pro(Retina, 15-inch, Mid 2014)
OS X El Capitan
Version 10.11.1
## Reproduction Steps
### Step 1 : Install sbt and scala.

[code]
### Step 2 : Clone scalechain.

[code]
### Step 3 : Switch branch to proto-stream

[code]
### Step 4 : run unit tests.

[code]
## Crash dump1

[code]
## crash dump2

[code]

[2016-05-14 01:53] Kangmo commented on #1121
## crash log written by pid file.
[code]

[2016-05-14 01:54] Kangmo commented on #1121
## another crash log written by pid log file.
[code]

[2016-05-14 07:48] raaka1 opened #1122 "Nvcc complier"
I am using rocksdb on embedded system
Linux tegra-ubuntu 3.10.67-g458d45c #1 SMP PREEMPT Mon Feb 8 17:44:18 PST 2016 aarch64 aarch64 aarch64 GNU/Linux

I have received following error, is this compiler related ?

[code]

[2016-05-15 00:42] Kangmo commented on #1121
It turned out that following cases results in JVM crash.
case 1. invoke RocksIterator.isValid after RocksIterator.close was called
case 2. invoke RocksIterator.value when RocksIterator.isValid is false because we reached at the end of iteration by calling RocksIterator.next many times.

[2016-05-15 00:42] Kangmo commented on #1121
Details on my code fix on my project :
https://github.com/ScaleChain/scalechain/commit/a7f3a6ee9b2c33adea41d9ee5724cfcad17d049f

[2016-05-16 09:36] dhruba commented on #1122
I think we can change the rocksdb code (in include/rocksdb/options.h)

kDisableCompressionOption = -1

to
kDisableCompressionOption = 0xff

Please verity  if this fixes your problem, and if it does, then submit a pull request for your rocksdb change.

[2016-05-16 22:22] 4tXJ7f commented on #1122
It seems like `0xff` does not work for compilers that define `char` to use the same representation as `signed char` [0]. Maybe also make the type `unsigned char` or `uint8_t`?

[0] http://coliru.stacked-crooked.com/a/d1ef43b27dac1fd3

[2016-05-16 22:42] dhruba commented on #1122
@4tXJ7f andres: your suggestion makes sense

[2016-05-16 23:38] guozhangwang commented on #932
@adamretter Thanks for the pointers, I realized that `prefix_seek` has been deprecated in trunk, and that by default when users specify `prefix_extractor` in Options, the prefix seeking is auto turned on.

However, the `prefix_extractor` is not exposed in JNI `Options` yet, is there another way we can get prefix seeking in the current JNI interface from latest RocksDB versions? If not, could we ad

[2016-05-16 23:41] guozhangwang commented on #675
@adamretter Is this issue resolved in trunk yet?

[2016-05-16 23:43] guozhangwang commented on #1074
This issue seems resolved in newer versions.

[2016-05-16 23:43] #1074 closed

[2016-05-17 11:09] raaka1 commented on #1122
when i run `make install `

[code]

leveldb works fine tough

[2016-05-17 18:08] adamretter commented on #932
@guozhangwang Yes feel free to send a PR which adds prefix extractor to the Java Options. You might like to study how the existing callbacks are managed.

[2016-05-17 18:27] guozhangwang commented on #932
@adamretter Could you point me to some references about existing callbacks management? Thanks.

[2016-05-17 18:37] adamretter commented on #932
@guozhangwang Sure Comparators https://github.com/facebook/rocksdb/blob/master/java/rocksjni/comparatorjnicallback.cc are a good one to look at, although yours will most likely be simpler. Also the LoggerAdapter.

[2016-05-17 18:42] guozhangwang commented on #932
@adamretter Since current JNI only considers byte arrays for put / get / iterator (there is no `Slice`), I'm thinking of only doing byte array transformers assuming default lexicographic comparator as well.

[2016-05-17 19:25] adamretter commented on #932
@guozhangwang Well `Options::prefix_extractor` is a type of `SiceTransform` which is declared in slice_transform.h and uses `Slice` so it would be good to try and keep the Java API close to this maybe.

Perhaps @yhchiang has some thoughts on this?

[2016-05-17 19:32] HawleyJean opened #1124 "Need help configuring RocksDB to Windows 10 Visual Studio c++"
Hey guys!

Working on a Visual Studio C++ project at the moment in Windows 10. I'm not very fimiliar with configuration and setting path environments, so I was wondering if I could get some help with that.

I looked at the CMakeLists.txt file and wasn't sure about the steps.

"Step 1: Update paths to third-party libraryes in thirdparty.inc file" Im not sure whether to go into my environment variab

[2016-05-17 20:19] yuslepukhin commented on #1124
@HawleyJean
3rd party libraries are all optional and you do not need them to build and run RocksDB.

You may want to clone gflags library from github since some tools require it and build it or download   [gflags2.2](https://github.com/gflags/gflags/archive/v2.1.2.zip) which is used on Linux and build it.

You can use this PowerShell snippet for a script

`(New-Object Net.WebClient).DownloadFile('

[2016-05-18 18:07] guozhangwang commented on #932
Ping @yhchiang , personally I would prefer to not introducing `Slice` in the JNI just for adding the prefix_extractor in `Options` because that would be a much bigger addition and may be out of my scope and time.

[2016-05-18 18:48] adamretter commented on #932
@guozhangwang Slice already exists in the Java API

[2016-05-19 21:15] nickpan47 opened #1127 "RocksDB JNI 3.13.1 Snappy not linked error"
Hi, several reports from our users shows that they have encountered the following issue when using rocksdbjni-3.13.1 in CentOS and Redhat 6.6.

org.apache.samza.SamzaException: Error opening RocksDB store
xxx/Partition_6, received the following exception from RocksDB
org.rocksdb.RocksDBException: Invalid argument: Compression type Snappy is
not linked with the binary.
        at
org.apache.samza.s

[2016-05-19 21:25] nickpan47 commented on #989
Ping? Any updates to this issue?

[2016-05-19 21:51] adamretter commented on #1127
I believe that the latest released versions of rocksdbjni feature statically linked binaries which should help avoid such linking issues.

[2016-05-19 21:53] adamretter commented on #675
@guozhangwang No this is a desirable future improvement.

[2016-05-19 21:57] adamretter commented on #675
Misusing a Iterator from Java should also never result in a SIGSEGV, see - https://github.com/facebook/rocksdb/issues/1121

[2016-05-19 21:59] adamretter commented on #1121
@Kangmo Thanks for reporting the Java API still has some rough edges whereby if it is not used `correctly` i.e. in a similar manner to the C++ API, we can end up with a SIGSEGV.

If you were to run your code in the JVM with assertions enabled i.e. `java -ea` then you would have got some assertion errors instead of the crashes. Ideally we should make the Java API more forgiving...

[2016-05-19 22:03] adamretter commented on #989
@nickpan47 Another option is to always initalise the Native Library component first in your code, e.g. add

[code]

[2016-05-20 05:52] Kangmo commented on #1121
@adamretter Thanks for the reply~ As I don't have the issue after correctly using RocksDB, it is ok.
But it would be great if it can throw an exception when a user did not use APIs correctly. Otherwise people may think that RocksDB has bugs like I did.

[2016-05-20 06:49] axw2013 opened #1129 "How to calculate the number of keys which is valid in one column family？"
I do not want to use:  count++ 。Is there a function?  Sorry, my English is not well, thank you for your help.

[2016-05-20 14:34] imay opened #1130 "Maybe a bug"
In file db/write_thread.cc, function `WriteThread::LinkOne`

[code]

I think `Writer* writers = newest_writer_.load(std::memory_order_relaxed);` should in `while` block, if `newest_writer_.compare_exchange_strong` return false first, it will return false forever.

[2016-05-20 18:31] guozhangwang commented on #932
Thanks, I will take a look at it.

[2016-05-23 10:15] PaladinTyrion commented on #875
Finally, there is no solution??

[2016-05-23 17:31] thatsafunnyname opened #1133 "When using ldb load, getline on cin can use a lot of user CPU when lines are long."
Hello and thank you for RocksDB,

When using `ldb load`, `getline` on `cin` can use a lot of user CPU when lines are long.

I noticed `ldb` using a lot of user CPU when loading large values:

[code]

`perf record -g` showed the CPU time was spent in `_IO_getc`

[code]

The `getline` on `cin` code in `tools/ldb_cmd.cc::DBLoaderCommand::DoCommand` can be inefficient, to demonstrate:

`getline.cc`

[

[2016-05-23 22:10] thatsafunnyname commented on #1133
I could not find a way to set a buffer on `cin`, but setting one on an `ifstream` and then using it to open `/dev/stdin` works:

`getlinebuf.cc`

    #include <iostream>
    #include <string>
    #include <fstream>
    using namespace std;
    int main(){
      ifstream ifs;
      char stream_buffer[1048576] = {0};
      ifs.rdbuf()->pubsetbuf(stream_buffer, sizeof(stream_buffer) );
      ifs.open

[2016-05-24 00:18] guozhangwang opened #1134 "[Question] Can we only using sstfile in RocksDB"
Hello!

We have a use case of RocksDB where the application itself keeps its own caching layer as well as WAL on top of the RocksDB, and hence all writes to RocksDB itself is batched writes upon cache flushing. We have already `setDisableWAL` in the write options.

I'm wondering if there is a recommended way to "turn off" memtable as well in RocksDB, and only use sstfile?

cc @enothereska @mjsax

[2016-05-24 06:26] dhruba commented on #1134
We do not have such an option at present. One option would be fro you to create the file on disk and then use the AddFile api: https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files

is that what you were looking for?

[2016-05-24 13:14] mdcallag commented on #1134
The vector memtable will reduce the CPU overhead from the memtable.

On Mon, May 23, 2016 at 11:26 PM, dhruba borthakur <notifications@github.com

--
Mark Callaghan
mdcallag@gmail.com

[2016-05-25 18:29] HawleyJean commented on #1124
@yuslepukhin
Thank you for your reply, after a few days of configuration I decided to try the tests. I want to ask if G-flags is nesscary to run RocksDB?

[2016-05-25 19:21] HawleyJean commented on #1124
@yuslepukhin
I seem to also be getting linker errors to the rocksdb distribution. Its Visual Studio 12 (2013) I'm using and it uses a Win32 bit machine.
I've included 3 files in my C++ solution, which includes  the rocksdb/include and /rocksdb/ files as headers, as well as rocksdb/third-party/gtest-1.7/fused-src/

I however seem to be receving some linker errors.

![image](https://cloud.githubuser

[2016-05-26 11:31] manojlds commented on #417
No updates on this one yet?

[2016-05-26 13:52] petermattis commented on #1100
@adamretter We had the same problem in CockroachDB. My solution was to fork `BaseDeltaIterator` and add merge support. You can see the code [here](https://github.com/cockroachdb/cockroach/blob/master/storage/engine/rocksdb/db.cc#L983). I was planning to eventually bundle this into a patch to send upstream but never got around to it.

[2016-05-27 02:18] guozhangwang commented on #1134
@mdcallag I am not sure I understand your previous comment, could you elaborate a bit?

Also I am considering to pick some good default configs for our RocksDB use cases: https://issues.apache.org/jira/browse/KAFKA-3740, since you are a top expert I would love to hear your opinions!

[2016-05-27 02:26] guozhangwang opened #1140 "[Question] Efficiency of RocksDB Checkpoint"
Hello folks!

I have a question regarding the efficiency of RocksDB Checkpoint: http://rocksdb.org/blog/2609/use-checkpoints-for-efficient-snapshots/

As for implementation does that involve copying all the SST files of all levels to the specified directory? What if I have a more than 100GB instance that I need frequent checkpoints?

cc @junrao

[2016-05-27 03:20] ajkr commented on #1140
SST files are copied only if the checkpoint directory is on another filesystem; otherwise, the checkpoint directory contains hard links to SST files in the database directory. Using hard links causes data to be shared between database directory and checkpoint directory, and has refcounting so SST data won't be deleted when compaction removes files from the database directory.

[2016-05-27 03:27] mdcallag commented on #1134
You need to write in key order to create an SST file. I assume there is a
low level interface to create an SST file from sorted input but I have no
idea if that is exposed. Otherwise, using a vector memtable can reduce the
overhead of the memtable assuming the internal sort done on it is better
than O(N log N) for sorted input and you don't mind the memory overhead of
keeping all key-value pairs i

[2016-05-27 04:14] ghost opened #1141 "Question about C-API limits"
Hi,

We are using the C-API in our current work with RocksDB. I have a question about the following limitation advertised here,

https://github.com/facebook/rocksdb/blob/master/include/rocksdb/c.h

Does not support:
...
  . capturing post-write-snapshot

Can you guys be more explicit about what this means? What we would like to do is the following:
- Thread 1 creates snapshot and iterates over sna

[2016-05-27 09:34] prehistoric-penguin opened #1142 "db_bench core"
version:
release 4.5.1

build with:
[code]

while running `db_bench`,get a core: Program terminated with signal SIGSEGV, Segmentation fault.
back tarce:
[code]

[2016-05-27 10:35] dhruba commented on #662
Please re-open if you are still seeing this problem with the fix proposed by Siying.

[2016-05-27 10:35] #662 closed

[2016-05-27 19:49] adamretter commented on #1100
For reference @siying described to me that the difference is because `TestGetFromBatchMerge` constructs its `WriteBatchWithIndex` with `overwrite_key = false` i.e.

[code]

Whilst `TestGetFromBatchMerge2` constructs its WriteBatchWithIndex with `overwrite_key = true`, i.e.

[code]

[2016-05-27 22:32] nickpan47 opened #1143 "Any TTL timestamp per record available via get() API?"
Is there any APIs available s.t. we can tell what's the current expiration time associated w/ a record in RocksDB database w/ TTL?

The use case is: since the TTL RocksDB expires records w/ background compaction threads, there may be time that get() or iterator.next() will get records that should be expired. For application that can not run correct logic w/ stale records, the application will need

[2016-05-27 22:46] nickpan47 commented on #1127
@adamretter thanks for the recommendation. I have opened a JIRA in Samza to upgrade the rocksdbjni version (SAMZA-955).

[2016-05-27 22:46] #1127 closed

[2016-05-28 00:30] guozhangwang commented on #1140
@ajkr Ah, that makes sense, and hard link works perfectly since all files are immutable.

Closing this ticket now.

[2016-05-28 00:30] #1140 closed

[2016-05-28 03:29] #1142 closed

[2016-05-28 23:17] jmakes commented on #696
We started seeing this recently at LinkedIn with a Samza job running RocksDB version: 3.13.1 with TTL enabled. The performance degraded by an order of magnitude (not a complete hang) for around 23hrs and then magically fixed itself.

The log is 47MB compressed, much too large for paste bin. So here's what I've noticed:
1. The "Interval Stall" ratio is <10% in the normal case and >60% during the de

[2016-05-30 20:13] igorcanadi commented on #696
Looking at the compaction stats, you flushed a total of 23GB with 177321 flushes, or 140 bytes per flush on average. Why do you flush a memtable with only 140 bytes? Are you calling db->Flush() too often?

[2016-05-30 20:16] igorcanadi commented on #696
You can also see this here:

    Level    Files   Size(MB)
    ----------------------------------------------------------
     L0     18/0          1

18 L0 files, but total size is only 1MB.

[2016-05-31 16:27] jmakes commented on #696
Thanks, @igorcanadi

That's entirely possible. It looks like Samza's cache in front of RocksDB has been liberal with the flushes.
https://github.com/apache/samza/blob/master/samza-kv/src/main/scala/org/apache/samza/storage/kv/CachedStore.scala
There was a recent patch that avoids flushing on each cache eviction. We'll upgrade the job to include that patch and see if it resolves the issue.

Since t

[2016-05-31 16:59] igorcanadi commented on #696
If you overload RocksDB with work (i.e. do bunch of writes really fast, or in your case, bunch of small flushes), it will begin stalling writes while the compactions (deferred work) completes. An interesting thing with RocksDB and LSM architecture is that the more behind you are on compactions, the more expensive the compactions are (due to increased write amplifications and single-threadness of L

[2016-05-31 17:24] siying commented on #696
@jmakes which version did you upgrade from?

[2016-05-31 18:28] jmakes commented on #696
Thanks again, Igor!

@siying The job was running samza 10.0, we're upgrading them essentially to HEAD, which is a LinkedIn prerelease of version 10.1.

[2016-06-01 09:53] elad opened #1147 "Process killed when opening large (?) database"
Hello,

I must be doing something wrong because when I try to open a 5.3gb database for read-only operation the process hangs for about a minute and then gets killed.

The database has ten column families (which I pass during the open). The same code works fine for a smaller database.

These are the column family options I use:

[code]

These are the database options I use:

[code]

If I strace th

[2016-06-01 13:26] nilya commented on #1147
Hi,
Who kills your database instance? Is it an operating system (Out-of-memory
killer maybe)? Or process crashes itself?

ср, 1 июн. 2016 г. в 16:53, Elad Efrat <notifications@github.com>:

[2016-06-01 13:31] elad commented on #1147
The OS kills it due to high memory usage, yeah.

I see that I have a `.log` file in the database directory. Removing it fixes the issue, but I don't know if it's safe to do so and why do I have to do it manually. Perhaps it's not properly closed/flushed during write, which forces it to enter recovery when it's opened (again). I'm going to rebuild the database (in Java), this time explicitly callin

[2016-06-01 14:01] #1147 closed

[2016-06-02 22:39] jjhuo commented on #1016
@kradhakrishnan I wonder what's the progress of your direct io work? I am interested to use it as well. Thanks.

[2016-06-03 01:07] kradhakrishnan commented on #1016
It is in the process of being landed and integrated. We will post about it when we have all the pieces checked in and available as part of a release.

[2016-06-03 03:09] leodie opened #1148 "Question: whats Corruption mean?"
I use

`     Status s = m_db->Get(rocksdb::ReadOptions(), keyword, &value);`
value is right, but status is kCorruption

what's that mean?

[2016-06-03 14:13] vinhqdang opened #1150 "Getting started with RocksDB on Mac OS"
Hello all

I have a question on stackoverflow [here](http://stackoverflow.com/questions/37616259/getting-started-with-rocksdb-on-macos). Could you please help me to answer?

**Update**: I also followed the guides at http://pyrocksdb.readthedocs.io/en/v0.2.1/installation.html#building-pyrocksdb to add

[code]

but it does not help: when I move the example file to any other directory and tried to co

[2016-06-03 15:21] jjhuo commented on #1016
@kradhakrishnan Thanks! I saw current direct io in posix layer uses a buffer inside and copies the data, how about your coming DIO changes, what changes it will have to db layer? I am also asking another question on facebook forum, nobody answers it yet, whether or not compression block cache does aligned read. I think it should does, if we have block size set as device block size?

[2016-06-03 19:15] guozhangwang commented on #1134
Thanks @mdcallag , we will check if vector memtable config is exposed in the JNI.

[2016-06-03 19:15] #1134 closed

[2016-06-04 04:04] danielnegri commented on #1117
+1

[2016-06-04 08:20] Kangmo opened #1151 "Request to add TransactionDB and OptimisticTransactionDB to rockdbjni"
Hi,

I am assuming that these two classes are missing in rocksdbjni.
It would be great if I can achieve atomicity of my transaction using either TransactionDB or OptimisticTransactionDB.

I request to add these two classes to rocksdbjni.
It would be great if you have any planned release day for the new rocksdbjni with these (or one of these) classes.

RocksDB rocks!!

[2016-06-04 10:59] adamretter commented on #1151
Hi @Kangmo I am already working on this and hope to have something in the next week or two.

[2016-06-04 12:47] Kangmo commented on #1151
Thanks Adam, that is great news!

2016년 6월 4일 토요일, Adam Retter<notifications@github.com>님이 작성한 메시지:

[2016-06-05 14:47] douxing opened #1152 "windows compile problem"
i am using vs community under windows7

there are warnings about some 32bit/64bit conversion or bit-wise operations, vs complains with C4244 and C4334 warnings.
but the original CMakeLists.txt set /WX on in CMAKE_CXX_FLAGS, thus my compilation fails
so i remove this /WX from CMakeLists.txt, although the warning still exists, 32bit rocksdb.dll was generated successfully.

so does rocksdb support 32

[2016-06-05 21:20] Kangmo commented on #1151
Hi Adam, is there a branch that I can test the two classes before the release? It would be great if there is any to try out these classes.

Thanks for providing two classes in advance.

[2016-06-06 12:26] abinashkaran commented on #719
@igorcanadi is compaction scoped to a mysql table partition?
that will curb the memory need?

[2016-06-06 16:32] igorcanadi commented on #719
I'm not sure what you mean by 'scoped'? For MyRocks questions, I would recommend posting to https://github.com/facebook/mysql-5.6/issues

[2016-06-06 20:42] siying commented on #1148
Can you print out s.ToString()? It will provide more information.

[2016-06-06 20:43] siying commented on #1117
Let me see whether I can remove util/options_builder.cc from the build. I don't think anyone is using it.

[2016-06-06 23:04] #835 closed

[2016-06-07 07:46] douxing commented on #1152
there are there are two slice.cc files, db/slice.cc and util/slice.cc
with the same base name, the latter generated slice.obj will overwrite the previous one, incurs a link warning LNK4042
maybe the content of db/slice.cc should be in slice.h directly?

[2016-06-07 10:58] leodie commented on #1148
Thanks, I fix it, use
`m_db->Flush(rocksdb::FlushOptions());`

[2016-06-07 10:58] #1148 closed

[2016-06-08 08:55] dhruba commented on #700
Closing this hoping that you were able to tune rocksdb appropriately.

[2016-06-08 08:55] #700 closed

[2016-06-08 18:07] SherlockNoMad opened #1158 "Unifying PerfContext, IOStatContext, DB::Properties and Statistics"
There are three sets of mechanisms for gathering statistics over Rocksdb

1) Per DB Instance counters: Tickers and Histograms exposed through statistics.h interface
    [https://github.com/facebook/rocksdb/blob/master/include/rocksdb/statistics.h#L23](url)
    [https://github.com/facebook/rocksdb/blob/master/include/rocksdb/statistics.h#L286](url)
2) Per Column family counters: Internal statistics

[2016-06-08 19:24] #808 closed

[2016-06-08 19:24] #1009 closed

[2016-06-09 13:05] jainshasha opened #1159 "Does prefix seek api avaliable for java in 4.5.1 version"
Hi,

I am not able to find the api in java for prefix seek functionality in 4.5.1 version of RocksDB.
Could anyone help me in confirming about this, would really appreciate that.

Regards,
Shashank Jain

[2016-06-09 13:26] adamretter commented on #1159
In the Java API - at the moment there is only support for the following prefix extractors:

1. FixedPrefixTransform
2. CappedPrefixTransform

These are currently available on Options and ColumnFamilyOptions via . `#useFixedLengthPrefixExtractor(int)` and `#useCappedPrefixExtractor(int) respectively.

[2016-06-09 16:55] vmorris commented on #1122
#1160

[2016-06-09 17:08] siying commented on #1152
@yuslepukhin and @PraveenSinghRao will have the final say but I don't think RocksDB build on 32-bit on Windows. It's more likely to build on other 32-bit platforms.

I can move the contents of db/slice.cc into util/slice.cc if it solves your problem. Or you can send a PR for that by yourself and I'll merge it.

[2016-06-09 17:14] siying commented on #1130
CC @nbronson

[2016-06-09 17:15] ajkr commented on #1150
the comments on the stackoverflow answer suggests this has been resolved.

[2016-06-09 17:15] #1150 closed

[2016-06-09 17:20] siying commented on #1130
@nbronson explained to me offline.

With compare_exchange_strong():

Compare and exchange contained value (strong)
Compares the contents of the contained value with expected:
- if true, it replaces the contained value with val (like store).
- if false, it replaces expected with the contained value.

http://www.cplusplus.com/reference/atomic/atomic/compare_exchange_strong/

So the code is correct.

[2016-06-09 17:21] #1130 closed

[2016-06-09 17:21] jainshasha opened #1161 "Java API support for HDFS"
Hi,

Is there a rocksdb java api support for HDFS avaliable in 4.5.1 ?

[2016-06-09 17:22] jainshasha commented on #1159
Ohk, Thanks for the prompt reply.

[2016-06-09 17:28] siying commented on #1158
The interface of adding column family counter looks good to me. The challenging part is the implementation.

I agree the problem you mentioned about three different stats and a unified way will be great. I assume just providing a unified wrapper that covers all of them will be good. The interface may be challenge to design though. Do you have some rough idea in your mind?

[2016-06-09 17:53] yuslepukhin commented on #1152
We do not build 32-bit.
Moving slices would not solve the problem. I think it is the same names of the files that may be confusing sometimes not their location. We had not have troubles with it for a while. Try getting the latest CMake for the start.

[2016-06-09 18:13] siying commented on #1152
@yuslepukhin if I copy the content of db/slice.cc into util/slice.cc and remove db/slice.cc, would that work?

[2016-06-09 20:59] adamretter commented on #1161
@jainshasha There is currently no explicit support for HDFS in the RocksJava API. Feel free to discuss and send a PR.

[2016-06-10 19:17] HawleyJean opened #1162 "Installing G-Flags for Visual Studio C++"
Hey All,

Very new to RocksDB configuration and building under Visual Studio 12 2013 C++. After running in Debug mode through a VisStudio developer command line, I'm Currently running into some linker errors where I cannot find

gflags/glfags.h

My errors are coming out like this :

![image](https://cloud.githubusercontent.com/assets/7003288/15975749/7cfa943a-2f25-11e6-92ed-1ce18b93ae4a.png)

And

[2016-06-10 20:11] siying commented on #1162
In thirdparty.inc, comment out the libraries you don't have. (very unlikely you have gflag in Windows). This is documented in step 1 in CMakeLists.txt.

[2016-06-10 20:31] yuslepukhin commented on #1162
@HawleyJean do not define -DGFLAGS=1 on the Cmake command line if you do not have GFalgs to link to. If you do have it, then either edit thirdparty.inc OR override with env vars to set include and library paths to it.

[2016-06-10 20:43] ovjh commented on #919
@dhruba @igorcanadi @siying ... we too are hitting into this issue. Is there a way we can tell rocksdb to return error or call cleanup routine to free space up when it detects this?

[2016-06-10 22:19] siying commented on #919
@ovjh so far RocksDB can't detect out of space. We just directly forward IO errors to users. Is there a way you can't detect out of space by youself and do the cleaning up?

[2016-06-10 23:04] ovjh commented on #919
@siying We detect the IO error and cleanup space but rocksdb never comes out of that state.

[2016-06-10 23:05] siying commented on #919
@ovjh you mean even restarting the DB doesn't work?

[2016-06-10 23:07] siying commented on #919
@ovjh one way you can think of is to use SST file manager to cap size of your DBs to be a conservative value: https://github.com/facebook/rocksdb/blob/4.8.fb/include/rocksdb/options.h#L871-L885

[2016-06-10 23:18] ovjh commented on #919
@siying  Unfortunately we can't restart the db. Let me try using SST file manager. I will keep you posted. Tx for the help.

[2016-06-10 23:25] siying commented on #919
@ovjh actaully with size cap reached, SST file manager also fails the DB in the same way as out of disk and you need to restart DB to recover. So maybe it can't solve your problem :(

[2016-06-11 04:00] mdcallag commented on #919
Is there still a feature request to let bg_error_ get cleared when disk
space is made available? This is an infrequent problem for MySQL tiers
(disk full) but it waits until we free up disk space -- no need to restart
the database process.

On Fri, Jun 10, 2016 at 4:25 PM, Siying Dong <notifications@github.com>
wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2016-06-11 04:09] siying commented on #919
We do plan to do it. The first step would be to recover from failing to write new files of compactions and flushes. But it's trickier to deal with writing to WAL failure. Out of space is can get either failures.

On Jun 10, 2016, at 9:00 PM, Mark Callaghan <notifications@github.com<mailto:notifications@github.com>> wrote:

Is there still a feature request to let bg_error_ get cleared when disk
spa

[2016-06-12 07:08] douxing commented on #1152
okay, i read CMakeList.txt carefully, and find out if i add this option to cmake(with or without Win64)
```-G "Visual Studio 14 Win64"```
then that  LNK4042 error will gone.

this is because db and util sub-folders is created specially for the two slice.obj by cmake with -G option set.

however, i still think it is good practice NOT to use the same file basename, which is compiler independent

[2016-06-13 14:10] HawleyJean commented on #1162
Thank you! Could I also ask about the Debug\rocksdblib.lib file?

[2016-06-13 19:06] #1162 closed

[2016-06-13 19:40] HawleyJean opened #1163 "Visual Studio 12 2013 x64 C++ Error Linking Correct Library"
Hey guys,

I seem to be running into some issues with the Visual Studio 12 2013. I don't exactly know which libraries to link,
I am currently attempting to create a test database and close it in C++.
![image](https://cloud.githubusercontent.com/assets/7003288/16020651/659b41ec-3185-11e6-9b70-9dcb8c904d7d.png)

The linker errors I seem to be receiving seem to be a library-linker problem. However, I

[2016-06-13 23:52] jjhuo opened #1164 "Add an option for block cache to cache writes"
We have a workload(Ceph bluestore on SSDs), whole db size is about 0.5GB to 4GB per 400GB drive, uncompressed and constantly being updated(at a rate about 5K per second, but we want more). And we don't want rocksdb to share page cache with others, and want to configure rocksdb to use fixed amount of memory, so tried to use block cache to replace page cache. db read is good, slightly better than pa

[2016-06-13 23:59] siying commented on #1164
We do plan to explore the possibility of warm block cache after generating new SST files. For now, it's not supported.

[2016-06-14 02:34] jjhuo commented on #1164
Thanks, Siying. Do you have an estimate when this feature will be developed?

[2016-06-14 07:16] myjfm opened #1165 "the interface DBImpl::IsFileDeletionsEnabled() has opposite meaning"
when the file deletions are disabled, this interface returns value that > 0, and if the file deletions are enabled, it returns value that = 0.
I think it should be reversed.

[2016-06-14 08:05] douxing commented on #1163
@HawleyJean i believe this is because you are not strictly following the steps in the [CMakeList.txt](https://github.com/facebook/rocksdb/blob/master/CMakeLists.txt#L16) when compiling rocksdblib,which should be like:
[code]

you can find the reason [here](https://github.com/facebook/rocksdb/issues/1152)

[2016-06-14 11:50] adamretter opened #1166 "Problems with uint64_t in RocksJava"
If we look for example at `DBOptions` then we see that there are several options in the C++ API of RocksDB that use `uint64_t` as their type. Unfortunately in RocksJava the `DBOptionsInterface` presents these to the user as a Java `long` which is a two's complement signed 64 bit integer.

Sadly Java has no native support for unsigned integers. However as Java's `long` is 64 bits we can go back and

[2016-06-14 13:42] adamretter commented on #1166
A similar question could also be posed for `uint32_t`...

[2016-06-14 17:10] siying commented on #1166
Is there a valid use case of setting a value larger than INT64_MAX?

[2016-06-14 17:44] adamretter commented on #1166
@siying I am not certain. I had rather assumed that you guys had used appropriate types. If there is no case for going above `INT64_MAX` whilst using `uint64_t`, then I would have thought that you might have chosen to just use `uint32_t`?

[2016-06-14 17:46] siying commented on #1166
@adamretter for now the values more than int64_t is far larger than making any sense in our options.

[2016-06-14 17:59] adamretter commented on #1166
@siying Hmm okay. So maybe I shouldn't worry, or perhaps we should document this somewhere? Also is that the case where `uint32_t` was used, i.e. values won't be more than `INT32_MAX`?

[2016-06-14 18:06] siying commented on #1166
@adamretter for the options we have now, no value larger than int32_max makes sense. No guarantee for the future though, as 2GB can make more sense than 8EB.

[2016-06-14 21:11] mvayngrib commented on #734
+1

[2016-06-15 04:44] SherlockNoMad commented on #1158
I will first send out a patch for adding column family counters.

[2016-06-15 06:12] ajkr commented on #1165
See https://github.com/facebook/rocksdb/blob/master/include/rocksdb/db.h#L725-L729

The return value acts as a counter for the number of threads that have disabled file deletions and not reenabled them yet. The name should probably be something like NumFileDeletionsDisabled().

[2016-06-15 09:11] myjfm commented on #1165
Yes, it's more reasonable to change the method name.

[2016-06-15 12:40] HawleyJean commented on #1163
Thank you! So I have the number of tests compiling and working. However, I am interested in building my own tests in Visual Studio C++. If I want to start a new cpp class with the code indicated above what sort of steps would I need to take in order for it to run smoothly?

[2016-06-16 02:59] fclh1991 opened #1169 "The Current File return by GetLiveFiles"
We want to get a snapshot of the DB, according to the interface of rocksdb, the step lists following:

1. call DisableFileDeletions to exclude other thread delete obsolete files of the rocksdb
2. call GetLiveFiles to get the names of all ssts, manifest, and Current
3. copy all the ssts, manifest, and current to build another db
4. call EnableFileDeletions

Everything seems ok!  However, one bug ma

[2016-06-16 04:58] ajkr commented on #1169
You are exactly right, we noticed this issue too a few months ago and fixed it here: https://github.com/facebook/rocksdb/commit/72224104d339e19e708296f8a10f2ba7dcea88ee. The idea is, instead of copying the "CURRENT" file, just write a new one that refers to the checkpoint's manifest. I can update the documentation.

[2016-06-16 05:42] fclh1991 commented on #1169
@ajkr Thanks for your answer!

[2016-06-16 05:42] #1169 closed

[2016-06-16 07:43] jainshasha opened #1170 "How to delete in memory data without flushing out to disk"
Hi,

How to delete the complete data from Rocksdb without flushing out onto the disk.
I was trying to close the db connection but that is flushing out the data on disk.

Thanks

[2016-06-16 18:54] #1163 closed

[2016-06-16 21:52] wicknicks commented on #1151
Hi @adamretter, any progress on this feature. Would love to test it out on a project I am working on. Thanks very much.

[2016-06-18 15:33] adamretter opened #1171 "`keyMayExist` in the Java API incomplete"
`RocksDB#keyMayExist` in the Java API does not allow control over whether the value should be returned or not, i.e. there is no control over the initial value of `value_found`.

[2016-06-20 09:29] amostyaev opened #1173 "IO error in FlushViewOfFile on Windows"
Hello,

I'm using rocksdb as a dll library on Windows. One of the users receive the following stable error:

I've set `allow_mmap_writes` to true, because it gives 150% boost for me. So this error happens in `WinMmapFile` class.

I've solved this error by re-trying `FlushViewOfFile` after some time. So I changed

[code]

to

[code]

with `file_errors_retry_count` as 10 and `file_errors_delay_milli

[2016-06-20 10:36] fclh1991 opened #1174 "A potential Bug of Rocksdb(v2.7) When the output level of memtable Flush is not 0"
RocksDB is an amazing storage engine. We are impressed by the performance of RocksDB. However, We meet some unexpected phenomenons of RocksDB. The version of RocksDB is v2.7, and the latest commit hash value of the version is: 91c01485d1c0a4675e24b39ad2adb950a3a468e6
The phenomenons are described following:

1. Firstly, we call NewIterator to get a DBIter of a columnfamily
2. Then, we use the DBIt

[2016-06-20 17:29] siying commented on #1174
Thank you for reporting this! This is a valid bug. The feature of directly flushing to non-L0 was removed since version 3.13, so the bug won't be there any more.

[2016-06-20 17:35] fclh1991 commented on #1174
@siying We also find some dead cycle during the manual compaction! Are they are the same reason? Thanks for you answer!

[2016-06-20 17:55] siying commented on #1174
@fclh1991 what "dead cycle" do you mean?

[2016-06-20 18:01] HawleyJean opened #1175 "SpatialDB insertion error"
So after weeks on end of working with the RocksDB configuration to Visual Studio 12 C++ win64, I decided to build the test cases given in the msbuild and just write a test of Spatial_Database code on top of that.

![file](https://cloud.githubusercontent.com/assets/7003288/16204905/7fab90ec-36f7-11e6-984d-3db0721a520a.JPG)

I have run into a few errors in hopes of solving. In relation to "Insert(wr

[2016-06-20 18:16] fclh1991 commented on #1174
@siying The manual compaction thread falls into a state that it occupies a core of CPU with 100% usage rate and the compaction lasts so long time that we has to kill the rocksdb to prevent it influence other service deployed in the same server.  However, I can't find some Seeks during compaction like the DBIter! So, I don't very understand why!

[2016-06-20 18:19] siying commented on #1174
@fclh1991 how large is your DB? What's your expected time of compacting the whole DB?

[2016-06-20 18:23] fclh1991 commented on #1174
@siying You mean the compaction lasts long time since the DB is large? The size of the db is about 400GB.

[2016-06-20 18:32] siying commented on #1174
@fclh1991 we haven't experienced any unexpected high CPU usage in manual compaction. How large did it manual compaction take with your 400GB DB?

[2016-06-20 18:38] fclh1991 commented on #1174
@siying We compact all data in the DB,  and we configure the level of db as 3 to relieve the write amplification. Maybe it is a wrong usage mode.

[2016-06-20 19:38] HawleyJean opened #1176 "LZ4 compression error - how to build Snappy library for Visual Studio 12 c++?"
Hey guys,

I have an error regarding the Snappy Compression library, and How I'd build it/link it for visual studio 12 C++?

I assume I download the snappy-master off the Google GitHub repo?

The error comes from this line of code..

![image](https://cloud.githubusercontent.com/assets/7003288/16207753/46f8b46a-3705-11e6-87a2-e20267a7e6c0.png)

and creates this error

![image](https://cloud.githubu

[2016-06-21 07:32] plaksina opened #1177 "include librocksdbjni-win64.dll in maven package"
It would be very helpful if you could include the dll for windows support in the maven package , we are having trouble building it

[2016-06-21 10:10] adamretter commented on #1177
Related to - https://github.com/facebook/rocksdb/issues/703#issuecomment-206027819

[2016-06-21 14:01] plaksina commented on #1177
after reading the related comment and building the dll from the source we get the following error with stack trace @adamretter

`Exception in thread "StreamThread-1" java.lang.UnsatisfiedLinkError: org.rocksdb.Options.newOptions()V

       at org.rocksdb.Options.newOptions(Native Method)

       at org.rocksdb.Options.<init>(Options.java:31)

       at org.apache.kafka.streams.state.internals.Rock

[2016-06-22 00:10] sachja opened #1179 "Flush with sync option stuck forever"
I am using 1024 column families. I am trying to write about 18MB data at a time to a column family with wal disabled and then call Flush with sync option on the column family. Sometimes the flush call just gets stuck and not return ever.

Following is the stack trace of the thread calling the flush

Stacktrace for pid: 192836
0x7fc27a93260a	pthread_cond_wait
0x7fc27bedc3fd	rocksdb::port::CondVar::

[2016-06-22 00:23] siying commented on #1179
Is min_write_buffer_number_to_merge=1?

[2016-06-22 03:55] lkjx77 opened #1180 "Is there any Java APi for spatialDB?"

[2016-06-22 06:45] #1152 closed

[2016-06-22 09:52] adamretter commented on #1180
@lkjx77 Not yet, feel free to send a PR

[2016-06-22 09:53] #1180 closed

[2016-06-22 14:23] #1176 closed

[2016-06-23 00:43] sachja commented on #1179
min_write_buffer_number_to_merge was 3. Changing that to 1 fixed my issue. Thanks!

[2016-06-23 00:43] #1179 closed

[2016-06-23 00:43] sachja commented on #1179
min_write_buffer_number_to_merge

[2016-06-23 03:26] baotiao opened #1181 "Add a limitation in disk IO when rocksdb do compaction"
we use rocksdb as our storage engine, we have monitor on the disk about the disk's IO util, we set the sst file size about 20Mb, since our db size is about 500Gb, we don't want to have too many small files.
So in this situation, when rocksdb do compaction, the disk's IO util always up to 100.
And sometimes we also share the disk with other service, rocksdb's compaction may also affect other's serv

[2016-06-23 04:28] mvbattan commented on #1117
+1

[2016-06-23 07:46] zhangjinpeng1987 commented on #1181
hope db_options: bytes_per_sync && wal_bytes_per_sync && rate_limiter helpful for you.

[2016-06-23 13:13] #1124 closed

[2016-06-23 13:14] #1175 closed

[2016-06-23 14:33] dhruba commented on #1175
did u find the cause of the problem?

[2016-06-24 04:22] gnuowned commented on #1122
Seen this same issue when try to compile ceph from GIT. Any proposed solution besides @vmorris one?

[2016-06-24 13:28] HawleyJean commented on #1175
I did. It was because SpatialDB requires LZ4 compression library to be linked to its binary. I ended up downloading LZ4 from NuGet, and built a static library object to be linked to the RocksDB solition.

Thanks for the help!

[2016-06-24 13:33] dhruba commented on #1175
Thanks for the info @HawleyJean

[2016-06-24 19:01] HawleyJean opened #1182 "reading from spatialDB"
I was reading a guide on reading SpatialDB values.

The errors I've run into is in regards to the render class. What extension in rocksdb path does render come from?

![image](https://cloud.githubusercontent.com/assets/7003288/16347765/d52ac12a-3a24-11e6-8d4c-d9f314373dc2.png)

Where Cursor is rocksdb::spatial::SpatialDBOptions::Cursor ,
where does Render reside ?

[2016-06-25 07:41] darionyaphet opened #1184 "Rocks Counters in Java API"
Hi :

Have Java API could support Counters ? I don't found how to use it .

[2016-06-25 10:24] adamretter commented on #1184
@darionyaphet Do you mean a key/value pair where the value is an atomic increment?

If so then yes, first you should probably read - https://github.com/facebook/rocksdb/wiki/Merge-Operator

Then you can use the `ColumnFamilyOptions#setMergeOperatorName(String)`, the name to use for the add merge operator is `uint64add`.

Does that help you?

[2016-06-25 10:53] darionyaphet commented on #1184
@adamretter Yes it's Thanks a lot ~~

[2016-06-25 10:53] #1184 closed

[2016-06-26 16:37] phraktle opened #1185 "RocksJava: make RocksDBException a RuntimeException"
Checked exceptions on every database operation are unwieldy (especially in Java 8 lambdas) and are usually handled in a higher layer so you tend to propagate them instead of handling locally.

Hence the request is to make RocksDBException an un-checked exception to make the API usage more convenient.

[2016-06-27 07:12] helloleef opened #1186 "rocksdb::BlockPrefixIndex::GetBlocks error"
(gdb) bt
#0  0x00007f58ee798425 in raise () from /lib/x86_64-linux-gnu/libc.so.6
#1  0x00007f58ee79bb8b in abort () from /lib/x86_64-linux-gnu/libc.so.6
#2  0x0000000001237fbd in __gnu_cxx::__verbose_terminate_handler() () at ../../../../gcc-4.9.3/libstdc++-v3/libsupc++/vterminate.cc:95
#3  0x00000000011dff96 in __cxxabiv1::__terminate(void (*)()) () at ../../../../gcc-4.9.3/libstdc++-v3/libsupc++

[2016-06-27 07:43] ashwin95r commented on #706
Hi @igorcanadi ,
Is there a single function call that would return the total memory used by rocksDB?

[2016-06-27 16:28] igorcanadi commented on #706
@ashwin95r Check out @yhchiang's previous comment -- GetApproximateMemoryUsageByType.

I'm closing this issue since it seems like the original question has been resolved.

[2016-06-27 16:28] #706 closed

[2016-06-28 22:39] ehamilto opened #1188 "Logger class/object in C-API"
Hi,

I see that when it comes to logging features, the C-API provides these two functions,

`
extern ROCKSDB_LIBRARY_API void rocksdb_options_set_env(rocksdb_options_t*,
                                                        rocksdb_env_t*);
extern ROCKSDB_LIBRARY_API void rocksdb_options_set_info_log(rocksdb_options_t*,
rocksdb_logger_t*);
`

However, I don't see that it provides for the creatio

[2016-06-29 09:24] dhruba commented on #1182
@igorcanadi : The SpatialDB blog post at http://rocksdb.org/blog/author/icanadi/ mentions that there is a Render function that is invoked. Can we make it explicit that the Render function is 'outside' of rocksdb?

[2016-06-29 09:43] dhruba commented on #1188
I think you have to implement GetOptions in the C code here:
https://github.com/facebook/rocksdb/blob/master/db/c.cc#L1899

Inside the Options object returned via the above call, you will find a pointer to the logger by accessing opt->rep.info_log. Similar to here:
https://github.com/facebook/rocksdb/blob/master/db/c.cc#L1471

[2016-06-29 15:53] igorcanadi commented on #1182
Done:

![screen shot 2016-06-29 at 8 52 44 am](https://cloud.githubusercontent.com/assets/1091023/16459184/dd2d899c-3dd6-11e6-8ec5-fe4c0d834ec2.png)

[2016-06-29 15:53] #1182 closed

[2016-06-29 21:47] ehamilto commented on #1188
Thanks, this is useful info.

[2016-06-29 21:47] #1188 closed

[2016-06-30 09:38] raaka1 commented on #1122
I am using Jetson TK1 from Nvidia :)

[2016-07-01 23:12] nickpan47 commented on #1143
Any one has an answer?

[2016-07-01 23:21] nickpan47 commented on #989
@adamretter thanks for your response. It works for us right now, so, I am closing this one. I would suggest that we make the initialization step clear for JNI clear in the documentation (or some simple tutorial program). Thanks!

[2016-07-01 23:41] adamretter commented on #989
I want to keep this open to remind me of the changes to make...

[2016-07-01 23:47] adamretter commented on #1143
I just had a quick look at `utilities/db_ttl_impl.h`, it looks like `TtlIterator` has a `timestamp()` method.

Is that what you were looking for?

[2016-07-02 09:36] Kangmo commented on #1151
Hi @adamretter, I also would love to test it out, and waiting for this feature to keep RocksDB data consistent in my project, ScaleChain.
Thanks in advance for your effort on this issue, again.

[2016-07-02 10:29] adamretter commented on #1151
I am working on it. It's just taking a while I am afraid

[2016-07-05 16:32] thenewvu opened #1193 "Is there any document for building/integrating rocksdb for/into android/ios app ?"
I saw that rocksdb supports Android and iOS but I didn't find any document for building/integrating it for/into those platforms. So if I'm correct (that it indeed supports those platforms), could you guys give some time to write some document for it ? Such as:
- Common use cases for using Rocksdb on those platforms (when should use, when should not use, ...).
- How to build it for Android/iOS.
- S

[2016-07-06 03:12] baotiao commented on #1181
@zhangjinpeng1987  that's what we want, thank you

[2016-07-06 03:12] #1181 closed

[2016-07-06 03:36] 474420502 opened #1194 "rocksdb for mongo drop collection"
is it a bug can't drop collection?
drop collection , but it don't delete data in disk.

[2016-07-06 10:17] #1194 closed

[2016-07-07 02:36] sxb075 opened #1198 "rocksdb doesn't sync to disk"
We're using the ruby API set to store a large set of k,v pairs to databases.  Inadvertently, I get into a situation where the k,v pairs can't be retrieved using the get API.  However, running an iterator on the database can see the values.  Iterating over the values, and invoking a put doesn't address this either.  Is there a flush API in ruby that can help address this?  Or is there some paramete

[2016-07-07 04:26] archupsg03 opened #1199 "make_shared lib is not successful on RHEL 7"
# make shared_lib && INSTALL_PATH=/usr make install-shared && ldconfig

cc1plus: error: bad value (zEC12) for -march= switch
cc1plus: error: bad value (zEC12) for -march= switch
cc1plus: error: bad value (zEC12) for -march= switch
cc1plus: error: bad value (zEC12) for -march= switch
cc1plus: error: bad value (zEC12) for -march= switch
cc1plus: error: bad value (zEC12) for -march= switch
cc1plus: e

[2016-07-07 09:52] igorcanadi commented on #1198
This is extremely weird and the first bug report of this kind I've ever seen (especially if you're using the default settings). Are your bloom filters also turned off? Can you send us your LOG files (you can find them in the same directory as other RocksDB files)?

BTW The title doesn't seem related to the issue.

[2016-07-07 11:17] sxb075 commented on #1198
here's the LOG file that has been attached.  every entry can be viewed using the iterator, but a get on any of these entries returns a null.

[LOG.txt](https://github.com/facebook/rocksdb/files/351997/LOG.txt)

[2016-07-08 04:16] ghost opened #1200 "rocksdb_iter_key vs rocksdb_iter_value performance"
Hi,

I have a quick question. We are thinking about doing some encoding for keys in a way that results in something like,

key = value1|value2

The idea would be then to iterate over value1 as some sort of prefix (it is not exactly this, but it is a good first order approximation).

We were not thinking about inserting a value associated to each key originally, just call rocksdb_iter_key and then

[2016-07-08 04:53] jigajut opened #1201 "RocksDB typo found in /db/internal_stats.cc"
Hi.
Just wanted to let you guys know that in line 585 of /db/internal_stats.cc,
In the snprintf function string constant portion saying "Interval WAL", it should be GB instead of MB

Thanks

[2016-07-08 13:50] HawleyJean opened #1202 "Reading Geo-Data from RocksDB SpatialDB"
In the project in which we're hoping to integrate RocksDB, we use a number of maps cut up into rectangle objects.

Each rectangle object consists of the following attributes
MinX, MaxX, MinY, MaxY, and Rectangle Name (each rectangle Name being a unique string).

I've used the following methods to store the rectangles into the SpatialDB
(please correct me if I'm wrong here)

for(MapSet->FirstRectan

[2016-07-08 16:10] aayushKumarJarvis opened #1203 "Typo error in Wiki Documentation for Write-Ahead-Log-File-Format.md"
There seems to be a typo error in the following paragraph of the [_Write-Ahead-Log-File-Format.md_](https://github.com/facebook/rocksdb/wiki/Write-Ahead-Log-File-Format) :

_Write ahead log (WAL) serializes memtable operations to persistent medium as log files. In the event of a failure, WAL files can be used to recover the database to its consistent state, by reconstructing the memtable from the

[2016-07-10 23:33] spacejam opened #1204 "add rust to third party language bindings"
https://github.com/facebook/rocksdb/wiki/Third-party-language-bindings
rust: https://github.com/spacejam/rust-rocksdb

[2016-07-11 20:22] ldemailly opened #1205 "IOError preserve errno"
When creating a snapshot and the directory already exists for instance we get Status IOError
but only the string has at the end "File exists" we should preserve the errno code

[2016-07-12 16:48] ccleve commented on #703
@adamretter Is it possible to publish a cookbook on how to build the dll on our own? Those of us who do not do C++ development on Windows are going to have a tough time.

Either that, or just point us at a prebuilt dll somewhere. It'll be easy to just drag it into a Windows project and use it.

Or maybe ping the Bing team and ask them to do it. This issue really does hold up true cross-platform us

[2016-07-12 17:28] adamretter commented on #703
@ccleve The cookbook as such is already available in the file [WINDOWS_PORT.md](https://github.com/facebook/rocksdb/blob/master/WINDOWS_PORT.md).

I have been discussing getting the output artifacts from AppVeyor uploaded to a public place, but we are not there yet...

[2016-07-12 17:41] yuslepukhin commented on #703
@ccleve Rocksdb dll is built automatically as a part of the CMake build.

[2016-07-12 17:45] ccleve commented on #703
Are there binaries anywhere I could download?

On Tue, Jul 12, 2016 at 12:42 PM, Dmitri Smirnov <notifications@github.com>
wrote:

--
Chris Cleveland
Dieselpoint, Inc.
http://dieselpoint.com
312-339-2677 mobile

[2016-07-12 17:50] yuslepukhin commented on #703
@ccleve Released binaries is something that @adamretter has been working on. But you can build a DLL yourself now.

[2016-07-12 20:26] igorcanadi commented on #1204
Done. Thanks @spacejam for building this!

[2016-07-12 20:26] #1204 closed

[2016-07-12 22:09] siying commented on #1204
@spacejam do you mind sending a pull request to add it to LANGUAGE-BINDINGS.md file too?

[2016-07-12 23:23] veeve commented on #1204
this is great! thanks @spacejam!

On Tue, Jul 12, 2016 at 3:10 PM Siying Dong <notifications@github.com>
wrote:

[2016-07-13 08:04] niupre opened #1206 "Cannot Build Rocksdb on Windows with VS2015"
Trying to follow the official instruction to build RocksDb on windows . I am using VS 2015.

`msbuild rocksdb.sln /p:Configuration=Release /p:Platform=X64` gets me multiple build errors. Attaching the logs. What could be going wrong here?

[buildlog.txt](https://github.com/facebook/rocksdb/files/360952/buildlog.txt)

[2016-07-13 15:44] tcwalther commented on #920
I just stumbled over that behaviour, too. I had to set

[code]

in my merge operator to make sure that I "reset" it on every call. Otherwise, it would contain the bytes of the previous merge operation, which would corrupt my keys' values.

I'm on a somewhat older commit 1aeca97.

[2016-07-14 14:47] HolodovAlexander opened #1208 "RocksDB 4.6.1 hangs forever with disabled autocompactions"
following code hangs forever after 10-30minutes

[code]

gdb output:

[code]

[2016-07-14 20:18] clumsy commented on #1206
Hello,
I'm experiencing the same issue. It looks like this build is not even working.
The compiler complains in two places:

1.

There's a self-explanatory error message for the problem though:

And it actually makes sense, and if we read the comment from that method it says: `// Pull the last 8 bits and cast it to a character`

This implies reinterpret_case ([reinterpret_cast](http://en.cpprefere

[2016-07-14 22:15] mdcallag commented on #1208
Can you paste all of the options from $datadir/LOG? My guess is you need to
increase the number of L0 files that are allowed before write stalls are
triggered. This problem has happened to me a few times. I wonder if we can
make it easier to avoid.

The options are:
* level0_stop_writes_trigger -
https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L411
* level0_slowdown_write

[2016-07-15 11:09] igorcanadi commented on #1204
https://github.com/facebook/rocksdb/commit/c6a8665b37594bde380fd16695cb2b9ce6376f2d

[2016-07-15 14:32] clumsy opened #1210 "rocksdb/java/CMakeLists.txt lacks cmake_minimum_required"
Otherwise a warning is raised that has to be suppressed explicitly (via -Wno-dev) - this is not very convenient.

[2016-07-15 14:36] clumsy opened #1211 "rocksdb/java/rocksjni.pom does not follow Maven naming convention"
It's an xml for starters, plus Maven expects it to be named pom.xml.
There's no other pom.xml in this directory which makes this change trivial.

[2016-07-15 15:15] clumsy opened #1212 "rocksdbjni maven build does not escape slashes in groovy script"
On Windows `project.basedir` can return a path that contains backslashes as the file separator, but this breaks Java language syntax when it's in the string like that: `"${project.basedir}"`

The error:

[code]

[2016-07-15 15:48] clumsy commented on #1212
I suggest using `String fileContents = new File(project.basedir.absolutePath + "/../include/rocksdb/version.h").getText('UTF-8')`

I'll submit a pull-request shortly

[2016-07-15 17:20] HolodovAlexander commented on #1208
ok, thank you

my options

[code]

[2016-07-15 17:22] siying commented on #1208
Do you have stack traces for other threads. These two threads seem to be irrelevant.

[2016-07-15 17:36] mdcallag commented on #1208
Siying - am I right? If compaction is disabled then there will be a large
number of files in L0. But from the LOG writes are throttled when there are
20 L0 files and writes are stopped when there are 24 L0 files.

2016/06/29-13:13:09.168807 7ff06e851900
Options.level0_slowdown_writes_trigger: 20
2016/06/29-13:13:09.168808 7ff06e851900 Options.level0_stop_writes_trigger:
24

On Fri, Jul 15, 2016 at

[2016-07-15 17:48] siying commented on #1208
@mdcallag yes, you are right. It's very likely the issue.

[2016-07-17 07:43] #1212 closed

[2016-07-18 13:15] fclh1991 commented on #1174
@siying Thanks for you response!

[2016-07-18 13:15] #1174 closed

[2016-07-18 14:37] #1210 closed

[2016-07-18 19:42] clumsy opened #1215 "execute_process(COMMAND mkdir ${DIR}) fails to create a directory with cmake on Windows"
This is the case for `rockdb/java` JNI cmake project
I suggest using `file(MAKE_DIRECTORY ${DIR})`

[2016-07-18 19:44] yoshinorim opened #1216 "LOG files should be unbuffered"
LOG files should be unbuffered (writing to OS immediately), or at least should have an option to write without buffering. Otherwise full logs might not be written in case of rocksdb got crashed, which makes debugging harder.

[code]

[2016-07-18 20:19] mdcallag commented on #1216
All log messages regardless of severity levels?

On Mon, Jul 18, 2016 at 12:44 PM, Yoshinori Matsunobu <
notifications@github.com> wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2016-07-18 20:19] clumsy opened #1217 "rocksdbjni javac and javah execute_processes fail on windows"
The following commands will fail on windows because in order to execute them one needs `cmd /c` or otherwise specify the full path to the executable to run (like java or javah):

[code]

Currently this results in build not generating both class files and JNI headers for rocksdbjni project.

The solution is to wrap commands in `cmd /c` as follows:

[code]

[2016-07-18 20:26] yoshinorim commented on #1216
Keeping buffering for DEBUG logs is better. But calling write() (not fsync) ~100 times per second won't affect performance.

[2016-07-19 14:06] clumsy opened #1220 "rocksjni build fails on Windows due to variable-size array declaration"
I get a bunch of errors:

rocksdb-master\java\rocksjni\ttl.cc:
[code]

rocksdb-master\java\rocksjni\rocksjni.cc:
[code]

rocksdb-master\java\rocksjni\rocksjni.cc:
[code]

I suggest not to rely on the compiler to support variable-size array declaration but rather create it via `new` keyword.

[2016-07-19 20:55] clumsy opened #1221 "EXCEPTION_ACCESS_VIOLATION in JVM when setting TableFactory for a brand new Options on Windows via JNI"
JNI code in Kafka Streams creates a new Options object and then tries to set a brand new BlockBasedTableConfig via JNI which results in the crash on Windows:

[code]

I'm not a C/C++ Pro, but based on the [shared_ptr doc](http://en.cppreference.com/w/cpp/memory/shared_ptr/reset) and the fact that the address that it complains is the same from run to run - my bet is that `shared_ptr` tried to `dele

[2016-07-20 14:35] clumsy commented on #1221
Ok, looks like I've found the culprit. It looks like `nativehandle_` is not set in `Options` constructors:

[code]

Even though native code returns `jlong` for both and changing the Java native method signature and assigning the `nativeHandle_` does fix the problem for `Options` class - there seem to be more places like this.

So the question is whether this JNI library works at all (say on Unix).

[2016-07-20 14:53] adamretter commented on #1221
@clumsy Yes the JNI library works well generally, I (and others) have been using it in our own Java projects for sometime. What version of the code are you looking at, I did quite some work to improve the handling of the Native Handle and disposal a few months ago. The code you pasted above certainly isn't the most recent...

[2016-07-20 19:43] clumsy commented on #1221
Yes, you're right.
I was using rocksdbjni from a dependency, the version is 4.4.1. I was building dll from master branch and the JNI Java classes do not match.

[2016-07-20 19:43] #1221 closed

[2016-07-20 20:52] ccleve opened #1227 "Make Java API more efficient by exposing zero-copy slices"
The C++ API .key() and .value() methods return Slice objects, which are just pointers to external byte arrays. This is very efficient because it avoids copying data.

The Java API, unfortunately, forces some unnecessary copying internally. Instead, it should offer the option to get a slice of a native data structure. This change will yield substantial performance benefits and greatly reduce the am

[2016-07-21 16:23] clumsy opened #1228 "rockdbjni loadLibraryFromJarToTemp fails when file is already present"
[code]

Proposed fix:

[code]

[2016-07-21 16:38] zhang-tong opened #1229 "min_level_to_compression setup in db_bench"
In db_bench_tool.cc, the following code at the line 2707 clears the previous configuration of options.compression_per_level based upon the min_level_to_compression parameter.  As a result, all the levels starting from L0 use the same compression type regardless to the min_level_to_compression parameter. After commenting out this statement, min_level_to_compression configuration works as expected i

[2016-07-22 04:07] clumsy opened #1230 "Error:string sub-command REGEX, mode REPLACE needs at least 6 arguments total to command."
The following problem occurred on Mac, using CMake 3.5.1.

The solution is to simply quote the last argument of `string(REGEX REPLACE` in `CMakeLists.txt`

[2016-07-22 18:59] IslamAbdelRahman commented on #1229
Thanks @zhang-tong, you are correct.
do you want to send a pull request to fix this ?

[2016-07-22 20:03] AlexNk opened #1233 "Error: use of undeclared identifier 'abort' (Clang)"
When compiling by Clang 3.8.0 the following error was observed:
[code]
To fix it, add include of stdlib.h to thread_posix.cc

[2016-07-23 00:26] IslamAbdelRahman commented on #1233
Thanks @AlexNk for reporting, do you want to create a pull request to fix it ?

[2016-07-23 01:37] battleAgain opened #1234 "java.lang.ExceptionInInitializerError"
ava.lang.ExceptionInInitializerError: empty message
com.facebook.imagepipeline.memory.NativeMemoryChunkPool.com.facebook.imagepipeline.memory.NativeMemoryChunk alloc(int)(NativeMemoryChunkPool.java:60)
com.facebook.imagepipeline.memory.NativeMemoryChunkPool.void free(java.lang.Object)(NativeMemoryChunkPool.java:22)
java.lang.Object alloc(int)
com.facebook.imagepipeline.memory.BasePool.java.lang.Ob

[2016-07-23 02:25] sachja opened #1235 "Deadlock after hitting Stall"
I have a setup with ~1000 column families. I hit a deadlock where a write is stalled forever and now all the operations are waiting on condition_variable. The Logs suggest the write is stalled waiting for some background flush/compaction but they are not getting scheduled.

Following is the stack trace for the various threads and some of the db and column family options

2016/07/22-13:36:41.410949

[2016-07-23 10:14] adamretter commented on #1234
@huli1987 Did you mean to open this issue here? Looking at the stacktrace, it seems unrelated to RocksDB!

[2016-07-23 11:43] AlexNk commented on #1233
Just double-checked.
This issue relates only to 4.6 (latest release) and 4.7.
In later versions this file is not exists and project can be successfully compiled with clang.

[2016-07-23 11:43] #1233 closed

[2016-07-25 12:44] adamretter commented on #1228
Closed by https://github.com/facebook/rocksdb/pull/1232

[2016-07-25 12:44] #1228 closed

[2016-07-25 21:51] #1229 closed

[2016-07-26 09:23] yemt opened #1240 "PrefixKey Question"
Can i according the prefixKey to find out all the total key number immediately?

[2016-07-26 23:16] sachja opened #1242 "GetOptions after SetOptions does not return latest value"
If I do SetOptions for some column family handle and immediately do GetOptions for the same handle , I do not get the latest value. However if I do GetDescriptor for the same column family handle - i am able to retrieve the correct updated options value.

[2016-07-26 23:27] yiwu-arbug commented on #1242
Can you provide more info, like which version of RocksDB are you using?

[2016-07-26 23:50] sachja commented on #1242
RocksDB version: 4.6.1

I have 1024 column families. I do the following on an opened DB
1. Create column family with some default options where disable_auto_compactions is false.
2. SetOptions on the column family to set disable_auto_compactions=true based on some condition
3. Soon a function does GetOptions on the column family . It sees the original value of disable_auto_compactions i.e. still

[2016-07-28 13:34] vmx opened #1246 "ROCKSDB_PLATFORM_POSIX needs to be set"
I'm not sure if it's a bug or intentional. On Linux you need to set `ROCKSDB_PLATFORM_POSIX` explicitly if certain header files are used.

Here's a minimal example:

[code]

Put this file into the root of a RocksDB checkout and compile it e.g. with:

[code]

You'll get:

[code]

It compiles fine when `-DROCKSDB_PLATFORM_POSIX` is set:

[code]

[2016-07-28 17:48] IslamAbdelRahman commented on #1240
Hi @yemt, I am not sure I understand the question correctly, Do you have a prefix and want to figure out the total number of keys that have this prefix ? Can you explain more what do you mean by "immediately" ?

[2016-07-28 17:58] IslamAbdelRahman commented on #1246
Hi @vmx, this looks like the right behaviour to me we have a port for POSIX and a port for windows
https://github.com/facebook/rocksdb/blob/master/port/port.h

`ROCKSDB_PLATFORM_POSIX` will be set automatically if you are using the Makefile

[2016-07-28 21:17] groldan commented on #1166
perhaps you can use Guava's `UnsignedLong` to convert back and forth from a `long` to an `UnsignedLong`, but as mentioned above it shouldn't matter

[2016-07-29 05:03] yemt commented on #1240
@IslamAbdelRahman ，yes，is what I mean，“immediately” I'd like to confirm whether there is this interface。

[2016-07-29 06:19] vmx commented on #1246
I just thought if it would make sense to have use preprocessor directives that use defines that are predefined. Something like:

[code]

[2016-07-29 18:09] yuslepukhin commented on #1246
@vmx Don't we already have it in `port/port.h`?

[2016-07-29 18:15] yuslepukhin commented on #1227
@ccleve Please, also consider the case when RocksDB is built and operates with Jemalloc memory allocator. If you link to such a Rocksdb DLL or SO then you can not pass the memory out of it and successfully deallocate outside such a shared object. In this case data copy at the boundary is unavoidable and beneficial.

[2016-07-29 18:17] yuslepukhin commented on #1227
@ccleve I am aware that this comment may be not exactly on the topic if so disregard.

[2016-07-29 19:12] #932 closed

[2016-07-30 14:04] guozhangwang commented on #932
Thanks @siying , this is great!

[2016-07-31 13:51] vmx commented on #1246
@yuslepukhin My point was about using defines that are *predefined* by the compilers instead of using custom ones like `ROCKSDB_PLATFORM_POSIX` that need to be set manually.

[2016-08-01 16:30] ijsong opened #1248 "SstFileWriter in Java API"
C++ API has API for creating SST file and ingesting the SST file into rocksdb. (https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files) However, rocksdbjni has no API for that. For bulk-loading data into rocksdb, it is very efficient way, thus, Java needs to implement this API.

[2016-08-01 16:36] dhruba commented on #1248
if you have a patch that implements these APIs in Java, please consider contributing it back to this github repo.

[2016-08-01 16:36] ijsong commented on #1248
@dhruba Yes, I am working on this issue.

[2016-08-01 18:11] IslamAbdelRahman commented on #1248
Thanks @ijsong, Please submit a java API pull request and I will review it

[2016-08-02 02:43] karma243 commented on #878
We have discontinued the service which was using RocksDB and have terminated those servers. So cannot reproduce the issue.

[2016-08-02 07:18] siddontang opened #1249 "Add config for ignore snapshot checking when AddFile"
Hi @siying

We want to heavily use https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files to replicate data, but we may using lots of snapshot for read when AddFile. We can use a RWLock, but we really don't want to block other reads when adding huge SST file (> 1GB).

I think maybe you can ad a configuration to let user ignore snapshot checking, If user can guarantee that we won

[2016-08-02 07:38] IslamAbdelRahman commented on #1249
Hi @siddontang, The reason we disallow using AddFile() when snapshots are held is that AddFile() is adding data with sequence number zero (This is as if it's adding data to the past).

That mean that if you took a snapshot of the Database and then ingest a file. the data in this file will be visible in this snapshot even though AddFile() was called after the snapshot was taken.

[2016-08-02 09:02] siddontang commented on #1249
Hi @IslamAbdelRahman

I know it is dangerous for using snapshot when AddFile, but if we can ensure we can't access the data in SST range in the snapshot, is it safe?

[2016-08-02 14:21] adamretter opened #1250 "Java API does not expose Status"
The Java API does not expose information from the Status class which makes it difficult to diagnose the result of functions that can return an error status or an information status such as `Transaction::Get` with `Status::MergeInProgress`.

At the moment the Java API simply throws the checked exception `RocksDBException` when `!status.isOk()`.

In addition the current use of Checked Exceptions als

[2016-08-02 14:22] adamretter commented on #1250
At present all except (1) would require API changes in RocksJava. As such I think we should aim for (1) and then when we consider the move to Java 8, we could look at (4) possibly.

[2016-08-02 14:35] adamretter opened #1251 "RocksDB#multiGet copies keys"
The `multiGet` function in RocksJava in the `RocksDB` and and `Transaction` class make copies of the provided `key` lists, this should be avoided by either:
1. Using Slices instead so that the `byte[]` are encapsulated and the `List`/`Map` contains just a reference to the slice.
2. Just returning a `List` of values as opposed to a `Map`. Probably the simplest option and closest to the C++ API!

[2016-08-02 17:42] clumsy opened #1252 "Java API lacks an options to increase flush parallelism"
It's currently fixed to 1, parallelism can only be increased for compaction:

[code]

But according to the [RocksDB tuning guide](https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide#parallelism-options) states that both can be executed concurrently and thus may benefit from increasing parallelism.

It looks like ` env->SetBackgroundThreads(1, Env::HIGH);` can be safely removed and an add

[2016-08-02 17:52] adamretter commented on #1252
@clumsy So are you asking that we add `increaseParallelism` to the Java API? It seems to me that it is already there: https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/DBOptions.java#L75

[2016-08-02 18:57] dhruba commented on #1250
I vote for (1) as well.

[2016-08-02 18:59] dhruba commented on #1014
Hello @hrjaco : were u able to use rocksdb as a SSD cache?

[2016-08-02 21:33] clumsy commented on #1252
Can you please check the description. I've also mentioned "flush" in particular.
The description also has the link for the feature spec.
TL;DR
There are two thread pools: Env::LOW and Env::HIGH.if max_background_flushes > 0 then the Env::

[2016-08-03 15:28] #878 closed

[2016-08-03 17:51] adamretter commented on #1220
Closed by https://github.com/facebook/rocksdb/pull/1223

[2016-08-03 17:51] #1220 closed

[2016-08-03 17:54] adamretter commented on #1206
@clumsy Is this merged into Rocks, or is their a PR?

Also could I ask that you use Syntax like `Closes #nnnn` in your commit messages, so that issues you have opened are correctly referenced and closed from merging your PR's? Please see: https://help.github.com/articles/closing-issues-via-commit-messages/

[2016-08-03 17:59] adamretter commented on #1211
@clumsy The issue is that `rocksjni.pom` does not include a version number as this is non-static and meant to be calculated dynamically and injected by `java/Makefile`. In reality, a whole bunch of cleanup could be done around the Java build, where we either start with `mvn` and call `make` for the native C++ parts, or start with `make` and call `mvn` for the Java parts.

I did consider the `nar-p

[2016-08-03 18:00] adamretter commented on #1215
Fixed by: https://github.com/facebook/rocksdb/pull/1219

[2016-08-03 18:03] adamretter commented on #1217
Closed by https://github.com/facebook/rocksdb/pull/1218

[2016-08-03 18:03] #1217 closed

[2016-08-03 18:07] adamretter commented on #1230
Closed by https://github.com/facebook/rocksdb/pull/1231

[2016-08-03 18:07] #1230 closed

[2016-08-03 18:10] adamretter commented on #1252
@clumsy Sorry, it is not clear to me why you claim this:

[2016-08-03 18:11] IslamAbdelRahman commented on #1249
@siddontang, I think we can have an option to ignore the snapshot restriction as long as the user is aware of the consequences of skipping such restriction.

Are you interested in creating a pull request to add this feature and some unit tests for it ?

[2016-08-03 18:18] yuslepukhin opened #1255 "EnvDefault/EnvBasicTestWithParam.ReadWrite/0 fails on Windows due to positional read beyond the end of the file"
Windows refuses to honor a positional read with an offset that is too big for the given file yet this apparently works for Posix. What is the rationale behind this ?

c:\dev\rocksdb\rocksdb\util\env_basic_test.cc(243): error: Value of: rand_file->Read(1000, 5, &result, scratch).ok()
ARNING:   Actual: false

[2016-08-03 20:32] clumsy commented on #1252
@adamretter it's in the snippet in the first message:

[code]

[2016-08-03 21:35] ajkr commented on #1255
it became this way because PosixRandomAccessFile::Read() uses pread(2), which succeeds with offset-beyond-EOF, and we use PosixEnv as our gold standard for other Envs. I'm sure we can change this though without breaking anything. But would it be easier to address this in the windows Env by checking offset against file size before invoking the read?

[2016-08-03 21:52] clumsy commented on #1211
I've actually made it working with nar-plugin :)

By far the only change is the addition of the new plugin in build section:

[code]

There's still a problem making tests use the native code for native classes - they fail on runtime.
But at least it compiles.

[2016-08-03 21:56] clumsy commented on #1206
Aren't they referenced with Fixes too? That manual says it should be just as good... It's just I forgot to mention this issue...

As for the PR - it's merged.
I think we can close this one too.

[2016-08-03 22:17] adamretter commented on #1252
@clumsy Okay but that snippet is from Rocks and not RocksJava if I am not mistaken; Which file (and line numbers) is that snippet from?

[2016-08-03 22:25] adamretter commented on #1211
@clumsy Okay but you are only producing the native headers with `javah` there you are not actually compiling the C++ code in `java/rocksjni` or even prior to that the Rocks C++ code which will also be needed.

[2016-08-03 22:29] adamretter commented on #1206
@clumsy ah okay. Which PR was it please?

[2016-08-03 22:51] yuslepukhin commented on #1255
@ajkr True, we can do that. It is more of the question what is the right thing to do.

[2016-08-04 00:44] clumsy commented on #1252
@adamretter Right, the snippet is from Rocks [options.cc](https://github.com/facebook/rocksdb/blob/e5b5f12b819e7c31946b4a11ee3cec92916e11d7/util/options.cc#L792)
This is how RocksJava sets it in `Options` class. There might be a way of doing it more fine-grained using other Rocks API.

[2016-08-04 00:46] clumsy commented on #1211
@adamretter JNI headers is all you need to compile Java classes.
The only problem is with runtime, and here you'll rocksdb library.

[2016-08-04 00:56] clumsy commented on #1206
@adamretter It's in the comment to my [PR](https://github.com/facebook/rocksdb/pull/1209) that was closed because another PR had the changes already.

[2016-08-04 02:43] siddontang commented on #1249
Yes, I will try it later.

[2016-08-04 07:59] xieqing287227 opened #1256 "can restore rocksdb when using?"
app is using rocksdb /tmp/rocksdb and created a backup to /tmp/rocksdb/backup
can we run another application to restore the db from /tmp/rocksdb/backup?

[2016-08-04 07:59] xieqing287227 commented on #1256
or can the first app spawn a thread to restore from /tmp/rocksdb/backup when main thread using db?

[2016-08-06 02:00] xh931076284 opened #1259 "what's the difference of Options,DBOptions and ColumnFamilyOptions?"
In rocksdbJava API, how to pass Options argument to open function? And I tried to construction self-comparator,what should I do?

[2016-08-06 02:07] xh931076284 opened #1260 "delay_write_rate?"
I can not find API to set `delay_write_rate` in RocksJava? Is it not supported?

[2016-08-06 10:44] adamretter commented on #1259
@xh931076284 `Options` is used when you open the Database without specifying any column families.

`DBOptions` is used when you open the Database with column families, in addition each column family takes a `ColumnFamilyOptions`.

I am not sure what you are asking about `Comparator` exactly, if you don't specify one, then RocksDB will do a byte-wise comparison of your keys by default.

[2016-08-06 11:04] adamretter commented on #1260
@xh931076284 I assume you mean`DBOptions::delayed_write_rate`? If so then, no that does not yet seem to be in the Java API, but if you need it, it would be very simple to add it.

[2016-08-06 14:26] xh931076284 commented on #1260
Yes.We had test the performance of rocksdb and rocksdbjava,and found the significant difference between the two,so,I want to try to find the reason.But so far,We have not found where is the time to spend in calling rocksdbjava? Can you help me?

[2016-08-08 07:15] Kangmo commented on #1151
Hi @adamretter, thanks for the update.

I have some questions on the transaction feature.
Just out of curiosity, does a transaction keep locks on keys?

Ex> (1) Transaction A updates key1 (2) Transaction B updates key 2 before Transaction A ends Does transaction B wait for the lock on key1 held by Transaction A?
Does it support deadlock detection?
Does it support range rocks, or different kinds of

[2016-08-08 07:28] BusyJay opened #1262 "c bindings: missing abi to set IgnoreSnapshots to true for compaction filter"
Currently c bindings only has ABI to create compaction filter with IgnoreSnapshots being false by default. And there is no way to change this value.

IgnoreSnapshots will be useful when snapshot is used very frequently and the consistent view can be ensured by the application even calling the filter on keys written before the snapshot.

[2016-08-08 08:07] xh931076284 commented on #1259
In our db, key can be defined by uint64, so I want to realize a comparator compared between uint64 types

[2016-08-08 08:11] xh931076284 commented on #1260
@adamretter I have added a setDelayedWriteRate function to java api, and it works well . Thank you.

[2016-08-08 08:30] xh931076284 opened #1263 "What can I do to improve the performance of rocksdbjava Iterator API?"
In traversing DB using Iterator API ,  it show significant difference between c++ API and Java API. Why?

[2016-08-08 10:13] adamretter commented on #1259
@xh931076284 you can use the bytewise comparator for that

[2016-08-08 10:13] #1259 closed

[2016-08-08 10:14] adamretter commented on #1260
@xh931076284 Will you send a PR for that?

[2016-08-08 10:23] xh931076284 commented on #1260
What is PR?

[2016-08-08 11:02] adamretter commented on #1260
@xh931076284 A Pull Request. i.e. if you have made those changes locally to RocksJava, would you consider contributing them back to the project?

[2016-08-08 13:37] xh931076284 commented on #1260
@adamretter Yes, it's my honor.

[2016-08-08 22:07] dhruba commented on #1202
@HawleyJean : curious to know if you are able to share any of your experiences about this experiment. Thanks.

[2016-08-08 22:21] dhruba commented on #966
@koldat If you have any patches to contribute back to open-source rocksdb, that would be great.

[2016-08-08 22:22] dhruba commented on #941
This is a useful feature to have, but it is not currently implemented.

[2016-08-08 22:26] siying commented on #941
You can try this: https://github.com/facebook/rocksdb/blob/v4.9/include/rocksdb/options.h#L881-L895

[2016-08-08 22:27] koldat commented on #966
Sorry that we did not do it yet. We were finalizing our product and fixing some of the stuff related to RocksDB. I will plan this work for next sprint we will have.

[2016-08-08 23:14] dhruba commented on #521
Please reopen this issue if you are still seeing any performance problems

[2016-08-08 23:14] #521 closed

[2016-08-08 23:15] dhruba commented on #941
You would have to write some code to implement this feature, but as Siying points out, the core APIs that you need from rocksdb is available.

[2016-08-08 23:15] #941 closed

[2016-08-08 23:51] dhruba commented on #499
@ekg Does the API AddSstFile() help your use case?https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files

[2016-08-09 08:47] hlitz opened #1265 "O_DIRECT and db_bench: open error: Not implemented:"
I compiled rocksdb with O_DIRECT by modifiying in include/rocksdb/env.h
use_os_buffer = false;
use_direct_reads = true;
use_direct_writes = true;

When I run db_bench I get an "open error: Not implemented"

1. How do I fix this?
2. What is "use_os_buffer" exactly, how does it interact with use_direct_reads?
3. Can I pass these options to db_bench over the command line, somehow?

[2016-08-09 10:03] hlitz commented on #1265
It seems as if rocksdb was trying to open /proc/sys/ files with O_DIRECT which fails.

How do I only open the main db with O_DIRECT?

Why do incluce/rocksdb/options.h do not support the direct flags?

[2016-08-09 10:46] ekg commented on #499
I've stepped around this issue by building a custom in-memory database on
top of succinct data structures from https://github.com/simongog/sdsl-lite.
However, I may have need to use rocksdb as an intermediate in this process
and when I do I'll look into the AddSstFile interface. Thanks!

On Tue, Aug 9, 2016 at 1:51 AM dhruba borthakur <notifications@github.com>
wrote:

[2016-08-09 13:53] siddontang commented on #1262
@siying

can we add a `ignore_snapshots` function pointer field like name or filter?

[2016-08-09 16:30] dhruba commented on #499
please reopen if needed.

[2016-08-09 16:30] #499 closed

[2016-08-09 16:41] siying commented on #1262
@siddontang definitely. You are more than welcome to do that.

[2016-08-09 22:38] brano543 opened #1266 "Windows error: Compression type Snappy is not linked with the binary."
I have compiled rocksdb with Visual Studio 2015 x64 using cmake as static library with --DSNAPPY=1 option according to tutorial for Windows in CMakeLists.txt and tried to use the c_simple_example (because only C API works, c++ example gets unresolved externals). All compiles well,but when i am calling
`db = rocksdb_open(options, &nodesFileName[0], &err);`
i get error
Invalid argument: Compression

[2016-08-09 22:48] yuslepukhin commented on #1266
@brano543  You need a version of Snappy that provides all of the API required. You do not need to try any of the combinations. The CMake produced build should work as it is.

[2016-08-10 01:33] siddontang commented on #1249
Thanks @IslamAbdelRahman  @baotiao
I can close this issue now.

[2016-08-10 01:33] #1249 closed

[2016-08-10 03:11] siddontang commented on #1262
Hi @siying
Maybe we should add an argument for rocksdb_compactionfilter_create function, but I worry about the compatibility issue, or should we use another new function?

[2016-08-10 11:08] ifndef-SleePy opened #1267 "SIGSEGV on RocksJava"
We are using rocksdb(0.4.2) in our project. Currently we met some 'core dump' problem. Here is some information about it.
### The stack in error file

[code]
### The options we use

[code]
- We only use put and get method, something like this

[code]
### The situation is
- When we set opt.setCacheIndexAndFilterBlocks(false), there will be no problem
- When we not set prefix, there will be no probl

[2016-08-10 15:09] brano543 commented on #1266
@yuslepukhin Still same problem: Compression type Snappy is not linked with the binary.
I compiled Snappy as static library and i can run those functions:
[code]
I get this error when linking to rockdb.lib.

When i link to rocksdblib.lib, i cannot even compile. It ends with:
[code]

[2016-08-10 16:17] vincenthouy opened #1270 "windows + jni compilation errors"
I would like to use RocksDB on a windows 7 64 bits platform.
I try to compile using the steps describe in the CMakeLists.txt using the following command:

1) `cmake -G "Visual Studio 14 Win64" -DJNI=1 .. `
log file: [msbuild.txt](https://github.com/facebook/rocksdb/files/411586/msbuild.txt)

2) `msbuild rocksdb.sln /m`

The last one generates the following errors:
[code]
full log file:  [cmake.txt

[2016-08-10 17:13] brano543 commented on #1270
I am having the same problem with Snappy extension. Besides the library refuses to work no matter compression there is,it always looks for snappy.

[2016-08-10 18:15] yuslepukhin commented on #1266
@brano543 You can compile, you can not link for some reason.

The linking errors that you are encountering do not appear to have anything to do with Snappy and should be independent of it. The above calls are Win API calls that are satisfied from Rpcrt4.lib which appears among the dependancies in the CMake file
`set(SYSTEM_LIBS ${SYSTEM_LIBS} Shlwapi.lib Rpcrt4.lib)

However, the requirement is th

[2016-08-10 18:43] IslamAbdelRahman commented on #1263
I took a quick look at our Java iterator API, it looks to me that the only overhead we do over the c++ work is doing a memcpy of the Key and the Value when accessing them.

The ideal optimization would be to eliminate this memcpy intearly and pass the Slice directly.
but as a starting point we could cache the key and value the first time we access them.
Instead of doing memcpy on every key() and v

[2016-08-10 18:57] brano543 commented on #1266
@yuslepukhin Are you running Windows and are you getting the Compression type snappy is not linked with the binary?
Still after calling
`db = rocksdb_open(options, &nodesFileName[0], &err);`
getting it.

[2016-08-10 19:15] yuslepukhin commented on #1266
@brano543 I am running Windows and link Snappy all the time since it is a default engine and many of the tests rely on it.

Error `Compression type Snappy is not linked with the binary.` looks like indeed it is not linked but the linkage errors point to another direction.

Are you running off the GitHub master and what commit?

[2016-08-10 19:16] yuslepukhin commented on #1266
@brano543 Check that your system has rpcrt4.dll

[2016-08-10 19:24] brano543 commented on #1266
@yuslepukhin  I am running Windows 7 and yes, i have rpcrt4.dll.  I cloned from master directly. Commit f4d986364e0366c07a78fc87f27ddd3a205649f2
Where did you downloaded Snappy from? I used this https://bitbucket.org/robertvazan/snappy-visual-cpp

[2016-08-10 19:35] brano543 commented on #1266
@yuslepukhin I was building with Visual studio 2016 x64 setting in cmake. I have compiled snappy as static library,because when it was dynamic rocksdb couldn´t compile. Here are my compiled binaries for rocksdb. Can you check them if you encounter same error with linking snappy? https://www.dropbox.com/s/k8cwznml8qj5z5d/rocksdb_snappy.7z?dl=0

[2016-08-10 19:37] IslamAbdelRahman commented on #1265
@kradhakrishnan, Do you know the reason for getting such error ?

[2016-08-10 19:44] IslamAbdelRahman commented on #1240
@yemt, I hope I answered your questions. I will close this issue

[2016-08-10 19:44] #1240 closed

[2016-08-10 19:45] kradhakrishnan commented on #1265
Basically you are opening a file on a filesystem that does not support direct IO like memory FS. Usually you get invalid argument.

We are in the process of exposing the direct IO capability via RocksDB options.

At this point, we have direct IO implemented at the Env level. It has been tested. I have tested the read code path for RocksDB (but not the write code path). I am working on enabling dir

[2016-08-10 19:53] yuslepukhin commented on #1266
@brano543 I will take a look. To compile Snappy as DLL you will need to make sure that the entry points are marked as either exported (when building Snappy) or exported when linking to it. I just recently changed the internal version of Snappy and we are consuming it as a DLL.

[2016-08-10 19:54] yuslepukhin commented on #1266
@brano543 Dropbox requires a sign in.

[2016-08-10 19:56] brano543 commented on #1266
@yuslepukhin Where do i check tha? Sign in is not required to download the file,just close that pop up.

[2016-08-10 19:57] yuslepukhin commented on #1266
@brano543  Here is what you should see from your Snappy.

`d:\>dumpbin /EXPORTS SnappyDll.dll
Microsoft (R) COFF/PE Dumper Version 14.00.23506.0
Copyright (C) Microsoft Corporation.  All rights reserved.

Dump of file SnappyDll.dll

File Type: DLL

  Section contains the following exports for Snappydll.dll

    00000000 characteristics
    57A8C322 time date stamp Mon Aug  8 10:36:34 2016

[2016-08-10 20:02] yuslepukhin commented on #1266
@brano543 We are using an internally packaged version of Snappy which is somewhat customized. However, it does not affect the API since it is dictated by the Rocksdb. We make use of standard snappy namespace standalone functions exposed via snappy.h. However, they need to be exported. The maintainers of the version you use thought the exports are useless so they dropped it in this commit.

https:/

[2016-08-10 20:05] brano543 commented on #1266
@yuslepukhin I wanted to use original repo https://github.com/google/snappy, but i couldn´t figure out how to make snappy-stubs-public.h from snappy-stubs-public.h.in.

[2016-08-10 20:07] yuslepukhin commented on #1266
@brano543 You can still use the version that you are using and link to it as a static library. The main repo build requires autoconf much like Jemalloc. I have written a CMake file for Jemalloc and much of it can be reused for creating a CMake build for Snappy but I am short on time right now.

[2016-08-10 20:10] brano543 commented on #1266
@yuslepukhin

How do i do that? I have build Snappy as static library, but rocksdb could only be build as dynamic library, because rocksdblib.lib had unresolved external problems.

BTW couldn´t be the solution put these definitions again in snappy.h?

[code]

[2016-08-10 20:24] yuslepukhin commented on #1266
@brano543 The presense of the unresolved symbols does not depend on whether you build Rockdb as static or dynamic library and certainly does not depend on snappy. Those are two different issues and I just want to emphasize that.

You can put those definitions back but they are only needed if you want to create a snappy DLL and use it which IMHO would not make much difference except for the fact yo

[2016-08-10 20:57] yuslepukhin commented on #1266
@brano543 FWIW, I just pulled the latest master and built it w/o no problems. on Windows 2012R Server

[2016-08-10 21:19] brano543 commented on #1266
@yuslepukhin I am going to kill myself. I have forgot to replace the DLL after i newly build it. So i was 2 days rebuilding with no change because there was the old DLL without linked snappy.

I am still unable to build rocksdblib. How do you compile rocksdblib(static library of rocksdb) on your OS? Because for me Cmake somehow generates gtest,rocksdb and rocksdblib to depend on each other. The ro

[2016-08-10 21:24] yuslepukhin commented on #1266
@brano543 Follow the instructions in the CMake file.

# 1. Update paths to third-party libraries in thirdparty.inc file or use env vars to override
 mkdir build && cd build
 cmake -G "Visual Studio 14 Win64"  -DSNAPPY=1  ..
 msbuild rocksdb.sln /m

[2016-08-10 21:33] brano543 commented on #1266
@yuslepukhin I am doing that, but there is no option to make static like discribed here https://github.com/facebook/rocksdb/blob/master/INSTALL.md. I am only able to build rocksdb as dynamic library. If i build it as static from the project generated by cmake, i get those _imp external errors when i link rocksdblib.lib in my project.

[2016-08-10 21:36] yuslepukhin commented on #1266
@brano543 You are certainly doing something wrong because the Cmake generated projects build both versions of the rocksdb (static and dynamic) automatically and you do not have any control over that unless you are changing the make file.

[2016-08-11 01:03] yemt commented on #1240
yes,ths

[2016-08-11 09:08] brano543 commented on #1266
@yuslepukhin You were right, i was missing include Rpcrt4.lib. I also didn´t know that i have to include snappy64.lib when it was build as static. Now the static build of rocksdb works for me. Now i can use the c++ interface. Unfortunately there are some memory leaks in the simple_example.cc
[code]
but it may be false positives since i am using visual leak detector.
  Thank you for your help.

[2016-08-11 12:50] adamretter commented on #1270
As I understand it, libsnappy is required when building on Windows. I think you can find the relevant information on that here -https://github.com/facebook/rocksdb/issues/1266#issuecomment-239108983

[2016-08-11 13:01] adamretter commented on #1260
@xh931076284 Probably start by reading this - https://help.github.com/articles/using-pull-requests/

[2016-08-11 14:58] vincenthouy commented on #1270
No snappy is not mandatory for Windows. I successfully build the project without any flag activated.
My issue is the errors that are raised when I compile the project on windows platform with the JNI option activated.

[2016-08-11 16:02] dbrock commented on #1117
Status? I'm getting this error right now.

[2016-08-11 17:29] yuslepukhin commented on #1266
@brano543 Env on Windows is not deallocated and lives through the lifetime of the process

[2016-08-11 17:31] yuslepukhin commented on #1270
@vincenthouy It is apparent that JNI code does not obey the modular architecture of RocksDB and that means respecting the optional nature of certain components.

[2016-08-11 18:08] brano543 commented on #1266
@yuslepukhin Is there a way to free it just before the program exits so i don´t get false positives in leak detector?

[2016-08-11 18:10] brano543 commented on #1266
@yuslepukhin Btw i was trying to run db_benchmark, i wanted to see how they achieved so fast inserts,because for me around 1 million nodes takes like 90 seconds.

[2016-08-11 18:12] siying commented on #1117
@dbrock I've already removed util/options_builder.cc. Are you building from the master?

[2016-08-11 18:22] yuslepukhin commented on #1266
@brano543 You may want to build and link with Jemalloc and run against an SSD drive. Also it takes some tuning to approach Linux numbers on Windows

[2016-08-11 18:23] yuslepukhin commented on #1266
@brano543 Have you looked at the Release build folder just to see what is built?

[2016-08-11 18:36] brano543 commented on #1266
@yuslepukhin I will try to build it with jemalloc. How do i turn it on once its compiled?

[2016-08-11 20:13] dbrock commented on #1117
Oops, sorry! :sob: Works!

[2016-08-11 20:14] #1117 closed

[2016-08-12 10:24] vincenthouy commented on #1270
@yuslepukhin : Ok I compile with both JNI and SNAPPY activated. But my build provides the same error. Do I need to include all third dependencies ?

[2016-08-12 13:34] brano543 commented on #1266
@yuslepukhin I am unable to use autoconf for jemalloc. I have tried the tutorial. I have cygwin installed, i have all those dependencies,i also have cygwin bin folder in path,but when i run
`sh -c "./autogen.sh CC=cl --enable-lazy-lock=no"`
it cannot find the autoconf
[code]
How did you run the autoconf command? When i run through cygwin terminal it also fails.

[2016-08-12 15:33] vincenthouy commented on #1270
OK, I correct the compilation errors on option.cc that was similar to those of the issue :  #1220
It's on the option.cc that variable arrays were also provided.

But when I try to use my rocskdb.dll file with the java API (I rebuild it also to be sure to be on the same version everywhere) I still have the link exception when the newOptions method is called.

[code]

I put the rocksdb dll on the JA

[2016-08-12 16:30] brano543 commented on #1266
I have compiled it with jemalloc, seems like i am not doing the bulk load correctly,because its still slow. Maybe i need to create sorted vectors and create sst files from those like described here. https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files

[2016-08-12 17:31] yuslepukhin commented on #1270
@vincenthouy I do not know much about JNI. Whether you need the DLL depends on whether you link to DLL or to a static version which I assume is the same setting for the rocksdb libraries. The latter link to static by default unless you changed.

As I indicated in the previous post Rocksdb 3rd parties are option and you need to follow the instructions in CMake file and take a look at thirdparty.inc

[2016-08-12 17:32] yuslepukhin commented on #1266
@brano543 I recommend a CMake based jemalloc-cmake project on GH which is currently 4.2.1, very close to the latest.

[2016-08-12 18:00] brano543 commented on #1266
@yuslepukhin I wanted to try the bulk load,but this line is giving me a hard time
`SstFileWriter sst_file_writer(EnvOptions(), ioptions, options.comparator);`
I can´t find a way to send there those EnvOptions. I have tried
[code]

[2016-08-12 19:16] wouterbeek commented on #1114
Any progress on this?  I'm a Fedora user and a RocksDB package would be very much appreciated.  I can also help in testing the package if that is needed.

[2016-08-14 11:52] brigadier opened #1274 "build rocksdb with -static-libstdc++"
Hi, is it possible to build rocksdb without dependency to libstdc++.so? Both snappy and rocksdb should be compiled with -static-libstdc++. Anyone tried it?

[2016-08-14 13:47] #1274 closed

[2016-08-14 21:24] adsharma commented on #1114
Cmake has enough glue to create a usable package, but it may not be
conforming to distro packaging standards.

Distros are most likely going to implement their own packaging.

On Aug 12, 2016 12:16 PM, "Wouter Beek" <notifications@github.com> wrote:

[2016-08-15 01:31] mdcallag opened #1276 "db_bench prints compaction IO stats too often"
These should be printed once per --stats_interval_seconds. Now they are printed once per:
    -stats_interval_seconds X --threads

see https://www.facebook.com/groups/rocksdb.dev/permalink/999367556828425/

[2016-08-15 01:36] mdcallag opened #1277 "consider changing "batches" to "groups""
Given the use of WriteBatch I think that "groups" or "commit groups" is a better term than "batches" for reporting the number of commit groups.

https://www.facebook.com/groups/rocksdb.dev/permalink/999367556828425/

[2016-08-15 05:31] overvenus opened #1278 "c_simple_example killed because of Illegal instruction"
Hi,

`c_simple_example`, built in ubuntu 16 with g++ 5.4, is unable to run in ubuntu 14, killed because of Illegal instruction.

Built in ubuntu 16:

[code]

Runs in ubuntu 14:

[code]

Orginal issue pingcap/tikv#928

Any help will be appreciated!

[2016-08-15 06:46] siddontang commented on #1278
@overvenus I think you should show the `bt` result here too.

[2016-08-15 07:03] overvenus commented on #1278
Thanks for reminding.

[code]

[2016-08-15 12:07] overvenus commented on #1278
Seems I forgot setting `PORTABLE=1`, now it works.

[2016-08-15 12:07] #1278 closed

[2016-08-15 18:10] #1276 closed

[2016-08-16 03:23] #291 closed

[2016-08-16 04:54] siying commented on #1267
Let me further check whether putting hash index into block cache is supported or not. I'm not sure it is supported.

[2016-08-16 06:28] siying commented on #1267
Is it possible for you to try version 4.9 or newer? I want to rule out some bugs that we fixed in 4.9.

I was not able to reproduce the issue in the unit test. Some more information of the failure will be helpful.
I'm not an expert on this but is there a way to get line number from the call stack? It will help us with what we should look at.

[2016-08-16 10:53] adamretter commented on #1267
@siying @ifndef-SleePy The line number can be retrieved by using `addr2line` if you have the original binary. I wrote up how to do that on the Wiki here - https://github.com/facebook/rocksdb/wiki/JNI-Debugging#interpreting-hs_err_pid-files

[2016-08-17 05:55] hedengcheng commented on #1267
@siying @adamretter
we have reproduce the core in our test enviroment, and see the call stack as below. Have anyone met this before?
#13 0x00007fb6f98877ac in rocksdb::BlockPrefixIndex::GetBlocks (this=0x7fb6b3373620, key=..., blocks=blocks@entry=0x7fb6f14e0f78) at table/block_prefix_index.cc:215
#14 0x00007fb6f9885fb3 in rocksdb::BlockIter::PrefixSeek (this=this@entry=0x7fb6f14e10e0, target=...,

[2016-08-17 08:28] dguy opened #1282 "Support for EventListeners in the Java API"
Hi,
We'd like to make use of https://github.com/facebook/rocksdb/wiki/EventListener, but in the java API. Are there any plans to add this?

Thanks,
Damian

[2016-08-17 10:02] ifndef-SleePy commented on #1267
@siying @adamretter Thanks for reply. The comment of hedengcheng shows more details about this problem. Do you have any idea?

[2016-08-17 11:52] adamretter commented on #291
@skanskan I have a basic driver for RocksDB's Java API for YCSB that I created a few months ago, I just pushed it if you want to take a look - https://github.com/adamretter/YCSB/tree/rocks-java. It functions but needs a bit more work around config etc.

I note that it takes a slightly different approach that that of EthanHamilton Tibco with @yosubshin's https://github.com/YosubShin/RocksDB-YCSB wo

[2016-08-17 13:57] brigadier opened #1283 "inherited NewIterators method in DBWithTTLImpl"
Looks like there's a bug in `db_ttl_impl`. `DBWithTTLImpl` overrides only the `NewIterator` method. There's no 'NewIterators' in this class, so this method is inherited, and iterators obtained as the result of this method are not `TtlIterator`. They don't know anything about TTL and won't strip the time from value.

example of patch against 4.5.1
http://textuploader.com/58c63

[2016-08-17 15:43] adamretter commented on #1227
For reference, also relevant is the discussion here: https://github.com/facebook/rocksdb/pull/1247#issuecomment-238017960

[2016-08-17 15:50] adamretter commented on #1263
@IslamAbdelRahman Hi yes, we have been talking about adding in some zero-copy stuff (or reducing copies) to the Java API in a few threads now, see the following for reference:

https://github.com/facebook/rocksdb/pull/1247#issuecomment-238017960
https://github.com/facebook/rocksdb/issues/1227
https://github.com/facebook/rocksdb/issues/1251

There are a few things that should be explored here inclu

[2016-08-17 16:23] siying commented on #1267
@hedengcheng which RocksDB version is it? We may have fixed something in 4.9 related to this.

[2016-08-17 16:31] siying commented on #1267
To explain more, the call stack shows that the index block in the block cache out-lived the table reader. It can happen in three cases: table reader is evicted by table cache, the DB is reopened in the same process, or you opened the same DB twice with the same block cache in the same process. The last case is rare so I assume it's not the case. We have some change in 4.9 that clears up the cached

[2016-08-17 16:32] adamretter commented on #1282
@dguy There is no support for that in the Java API at the moment.

I am just finishing the first PR for transactions in the Java API. However I could attempt to tackle this next, unless you want to approach it yourself?

[2016-08-17 16:39] siying commented on #1267
Sorry I thought 4.9 has been official released but just realized that we haven't published release note yet. We will do it soon and the tag "v4.9" is ready to use already.

[2016-08-17 17:17] dguy commented on #1282
@adamretter thanks for getting back to me.  If you have the time to look into it, that'd be great!

[2016-08-17 19:05] adamretter opened #1285 "Building RocksJava on Windows failure"
I am trying to follow the instructions in `CMakeLists.txt` to build RocksJava v4.9 on a clean Windows 10.

1. I installed Git and added it to the PATH.
2. I installed Visual Studio Community 2015 (made sure all the C++ stuff was selected).
3. I installed CMake 3.6.1 from cmake.org and added it to the PATH.
4. I installed Oracle JDK 7.
5. I made sure that JAVA_HOME is set to `C:\Program Files\Java\

[2016-08-17 19:22] adamretter commented on #1285
So it seems that `javah` is never run to generate the files that should go into  `c:\users\aretter\code\rocksdb\java\include`

[2016-08-17 19:25] davispw commented on #1177
Workaround here, but it is quite horrible -- appears that RocksDB only looks inside its own jar for native libraries, and inserting the .dll into the jar breaks Maven.  Any progress on this?

https://mail-archives.apache.org/mod_mbox/kafka-users/201608.mbox/%3CCAJikTEXmn2UxkoKc0P4JsXqqwcNeP3pFfm2j5=eZH9pdgQaOvA@mail.gmail.com%3E

[2016-08-17 20:05] adamretter commented on #1285
So the error seems to occur because the folder `java\classes` doesn't exist as required in `java\CMakeLists.txt` on lines https://github.com/facebook/rocksdb/blob/master/java/CMakeLists.txt#L161 https://github.com/facebook/rocksdb/blob/master/java/CMakeLists.txt#L162

[code]

[2016-08-17 20:22] adamretter commented on #1177
@davispw If you want to patch it, you can take a RocksDB Jar from Maven Central, modify the Jar by inserting the .dll or whatever else you need in there and then creating your own Maven artifact from that; There is nothing about that process that "*beaks Maven*".

However, I am hoping to release RocksJava 4.9 this evening. This should contain a DLL for Windows in the Jar file and appear on Maven C

[2016-08-17 20:29] davispw commented on #1177
Great news about 4.9 release!  Will look forward to it.

By "breaks maven" I meant at my organization (I don't think I'm alone) it is quite difficult to inject a customized jar that doesn't follow the normal process, aside from the pain of putting together a Windows build at a Java shop. A bureaucratic issue, not a technical one.  Sorry for inflammatory characterization!

[2016-08-17 23:41] adamretter commented on #1177
@davispw I just published 4.9.0 to Maven Central, it should be available within the next two hours (according to Sonatype's synchronisation rules).

[2016-08-17 23:41] #1177 closed

[2016-08-17 23:43] adamretter commented on #1270
There is now a Windows DLL (without any of the 3rd party libraries supported) publicly available for RocksJava 4.9.0, see https://github.com/facebook/rocksdb/issues/1177#issuecomment-240582631

[2016-08-17 23:48] #1206 closed

[2016-08-17 23:49] #868 closed

[2016-08-17 23:52] adamretter commented on #703
For those who are interested, the new 4.9.0 release of RocksDB Java has a Windows DLL build packaged in the Jar file also - see https://github.com/facebook/rocksdb/issues/1177#issuecomment-240582631

**NOTE:** I gave it a quick test from Java in Windows 10 and it appeared to work, but I have not thoroughly tested it in any sense. Also it is not linked with any of the compression libraries, so don'

[2016-08-17 23:59] #1285 closed

[2016-08-18 00:04] adamretter commented on #1267
@ifndef-SleePy @hedengcheng RocksJava 4.9.0 binaries are now on their way to Maven Central :-)

[2016-08-18 01:48] #1262 closed

[2016-08-18 03:17] ifndef-SleePy commented on #1267
Sounds great, we have tested it in version 4.2 and 4.5.1. We will test it in 4.9. Thanks a lot!

[2016-08-18 04:40] stofel opened #1286 "freebsd compile error"
Hi.
Freebsd build fail with `stoull` is not a member of `std` error

[code]

[code]

[code]

[2016-08-18 08:30] vincenthouy commented on #1270
@adamretter  great news I will check your work. Thanks a lot.

For my remaining problem, I understand what I did wrong. I was using the wrong produced dll. I was getting the one on the build/release folder instead of the build/java/release one. I'm really sorry for this mistake, I didn't see that another dll was build for JNI.

So there is still some issue on the master branch with a Visual Studio

[2016-08-18 09:54] adamretter commented on #1270
@vincenthouy Thanks for the patch, I will take a look, although I think some of these have already been addressed in HEAD.

[2016-08-18 20:05] ehamilto commented on #1036
After careful analysis it seems a different library we are using for the project when running on client/server mode was corrupting RocksDB's native memory, Sorry I cannot give more details. The issue can be closed now.

[2016-08-18 20:05] #1036 closed

[2016-08-18 20:31] ccleve commented on #1266
I just started using the Java .jar file in version 4.9, and can confirm that the embedded librocksdbjni-win64.dll does not have Snappy support. The LOG file says:

2016/08/18-14:55:41.322341 b60 Compression algorithms supported:
2016/08/18-14:55:41.322352 b60 	Snappy supported: 0
2016/08/18-14:55:41.322358 b60 	Zlib supported: 0
2016/08/18-14:55:41.322362 b60 	Bzip supported: 0
2016/08/18-14:55:41

[2016-08-18 20:39] adamretter commented on #1266
@ccleve I intentionally did not link the RocksJava 4.9.0 released DLL with any of the 3rd party libraries until there is a clear understanding on how to do that.

[2016-08-18 20:43] ccleve commented on #1266
@adamretter Thanks for doing the .dll, by the way. I did some testing and it works great. Has made my life *way* easier.

[2016-08-18 21:04] yuslepukhin commented on #1266
@adamretter One way out for compression on Windows is to enable XPRESS which does not require 3rd parties (links to windows libs). The compression ratio is about the same as Snappy but I did not test the CPU.

[2016-08-19 17:32] adamretter commented on #1252
@clumsy If the Rocks API doesn't expose it, then I don't want to add it to RocksJava

[2016-08-19 17:32] #1252 closed

[2016-08-19 17:32] adamretter commented on #1215
Closed by https://github.com/facebook/rocksdb/pull/1219

[2016-08-19 17:32] #1215 closed

[2016-08-19 17:35] adamretter commented on #1015
Closed by https://github.com/facebook/rocksdb/pull/1243 and https://github.com/facebook/rocksdb/pull/1167

[2016-08-19 17:35] #1015 closed

[2016-08-19 20:48] davispw commented on #1177
You rock @adamretter!  Working now with 4.9.0.

[2016-08-19 21:36] brigadier commented on #1283
Please review this commit against 4.11
https://github.com/brigadier/rocksdb/commit/1e5ef5ea268281893b22ac40633e4c7e5e004ac3

[2016-08-19 21:47] ccleve commented on #1227
I'd like to suggest a possible design. Create ByteSequence RocksIterator.keySlice() and .valueSlice(), where ByteSequence looks like this:

public interface ByteSequence {
  public byte byteAt(int index);
  public int length();
  public ByteSequence subSequence(int start, int end);
  public String toString();
}

ByteSequence is directly analogous to Java's [CharSequence](https://docs.oracle.com/ja

[2016-08-19 22:46] adamretter commented on #417
@bayesian I am closing this issue as there have been now recent updates.

[2016-08-19 22:46] #417 closed

[2016-08-19 22:48] adamretter commented on #469
Related - https://github.com/facebook/rocksdb/pull/1241

[2016-08-19 22:48] #469 closed

[2016-08-19 23:02] adamretter commented on #571
I am closing this as I haven't experienced this problem now for some time.

[2016-08-19 23:02] #571 closed

[2016-08-19 23:06] adamretter commented on #599
I am closing this issue as there has been no recent update. The way that objects are disposed/closed has been completely revised in RocksJava, and I suspect this was was solved by https://github.com/facebook/rocksdb/pull/980

[2016-08-19 23:06] #599 closed

[2016-08-19 23:08] adamretter commented on #632
@snowtopcoffee I am closing this issue as there has been no update from you.

[2016-08-19 23:08] #632 closed

[2016-08-19 23:09] adamretter commented on #683
I am closing this as RocksJava has been published to Maven Central as part of the official release for some time now.

[2016-08-19 23:09] #683 closed

[2016-08-19 23:10] adamretter commented on #688
@cardamon Did you experience this issue any further? If not I would like to close the issue.

[2016-08-19 23:12] adamretter commented on #691
@archiecobbs I think this recently merged PR may fix your issue: https://github.com/facebook/rocksdb/pull/1106

[2016-08-19 23:13] adamretter commented on #1151
Duplicate of https://github.com/facebook/rocksdb/issues/1151

[2016-08-19 23:14] adamretter commented on #1151
@Kangmo You are best to look at the Transaction Samples: https://github.com/adamretter/rocksdb/tree/java-transactions/java/samples/src/main/java

[2016-08-19 23:16] adamretter commented on #697
@agiardullo This is being implemented and in fact is almost complete, see https://github.com/facebook/rocksdb/issues/1151.

I am closing this issue as there is a larger audience in the other duplicate issue.

[2016-08-19 23:16] #697 closed

[2016-08-19 23:17] adamretter commented on #774
@b00lean I am closing this because as @feng-tao point's out the Java API has TTLDB.

[2016-08-19 23:17] #774 closed

[2016-08-19 23:18] archiecobbs commented on #691
Probably does. I'm not setup to test the fix right now but you can close this issue if you're confident about it. Thanks.

[2016-08-19 23:18] adamretter commented on #858
@chnaik I am closing this issue as there has been no update from you.

[2016-08-19 23:18] #858 closed

[2016-08-19 23:20] adamretter commented on #896
@lasarojc Are you still experiencing this issue?

[2016-08-19 23:23] adamretter commented on #1058
@Toshh The release of RocksJava 4.9.0 now available on Maven Central has a Windows .dll included within it.

[2016-08-19 23:23] #1058 closed

[2016-08-19 23:26] adamretter commented on #1080
@sam-guo You have to cleanup (close) the column family handles before you close the database, otherwise you can get the assertion error that you described. See https://github.com/facebook/rocksdb/issues/974

[2016-08-19 23:26] #1080 closed

[2016-08-19 23:26] #1161 closed

[2016-08-19 23:29] adamretter commented on #691
@archiecobbs Without testing it on Tomcat I am not confident ;-)

[2016-08-19 23:31] adamretter commented on #658
@gustavoanatoly I am closing this issue as it has been sometime since you provided an update.

[2016-08-19 23:31] #658 closed

[2016-08-20 03:28] xh931076284 opened #1288 "We want to add a single sst file to a DB, but failed due to the too tight restriction."
There  is a restriction on the SST files ingested into a DB, is that the key ranges in the sst files can not overlap  with each other or existing/deleted keys in the DB, why? we want to write s single sst file and than
add it to an existing DB, but failed due to the restriction. Could you tell us  what about  the restriction you consider? And what can I do to add sst filea to DB if the keys ranges

[2016-08-20 12:56] mmmyb commented on #1267
## RocksJava 4.9.0 has the similar error:

## The options we use

it will crash after processing some data

[2016-08-20 17:57] adamretter commented on #912
@dmarjenburgh On the latest RocksJava I can run your test until I run out of Heap Space, I have allocated `-Xmx6g`. Do you want to try with the latest Rocks, or how much Heap do I need for your test?

[2016-08-21 13:03] jchiu0 opened #1289 "Block cache get size"
Good day,

We use Go and [gorocksdb](https://github.com/tecbot/gorocksdb).

However, as far as I'm concerned, gorocksdb requires an exposed C function [here](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/c.h) in order to run table_options.block_cache->GetUsage();

If that is the case, can we go ahead and make this modification and send a PR here first?

Thanks.

JC

[2016-08-21 13:04] jchiu0 commented on #1289
I should add that yes, we wanted to get the size of the block cache through gorocksdb, and intend to send a PR to gorocksdb once this C function is added here.

[2016-08-21 21:50] bioothod commented on #1235
Second this, I have a bit different stack trace with batched writes.
There are 2 types of load in this trace: periodic sync which uses plain `Put()` and several parallel rather big batch writes.

[code]

[2016-08-21 21:52] bioothod commented on #1235
I built rocksdb tree against commit 6920cde8936d4f7096a0e30815493dc59965f8db

[2016-08-21 21:54] bioothod commented on #1235
Nice thing to note, that after gdb has been attouched/detouched, threads recovered.

[2016-08-21 22:27] bioothod commented on #1235
Nope, it blocked again after several minutes and gdb trick doesn't help

[2016-08-21 23:32] IslamAbdelRahman commented on #1289
Thanks @jchiu0, will be waiting for the C API pull request

[2016-08-21 23:34] IslamAbdelRahman commented on #1288
@xh931076284, I will be working in the following weeks on removing this restriction, will update this issue when we have the updated AddFile().

[2016-08-22 00:44] xh931076284 commented on #1288
@IslamAbdelRahman Could you tell us about the role  the restriction play in DB, or the reason to do this?

[2016-08-22 00:53] IslamAbdelRahman commented on #1288
@xh931076284, there are multiple reasons but
1st reason is that if you have (K1 => V1) in the memtable and then ingest a file with (K1 => V2) in level-0.
on the read path, RocksDB will first check the memtable and find the key and return immediately reporting that the value for K1 is V1, even thought we just ingested a file with (K1 => V2).

another reason is that the file generated by SstFileWrit

[2016-08-22 04:08] xh931076284 commented on #1288
@IslamAbdelRahman Ok, thank you!

[2016-08-22 04:21] hedengcheng commented on #1267
@siying @adamretter
we found the bug, it's a concurrency bug, and not fixed in the last release rocksdb 4.9. The root cause of the bug is that two or more threads enter to create the same sstable's index reader with no concurrency control.
#### Bug description:
Suppose two threads, Thread A and Thread B, read the same sstable's prefix index block (BlockBasedTable::NewIndexIterator), but not find t

[2016-08-22 07:49] yuwenlong123 opened #1290 "crash in ShouldStopBefore of sub-compact"
I have a problem with RocksDB version: 4.6.1. The crash breaktrace as blow:

[code]

Strace to source code. Only such useful info as blow:

[code]

Is anybody can help me? Thanks.

[2016-08-22 09:14] hedengcheng commented on #1267
Following is the backtrace before crash.

#### Thread 0x7fa64edf4700
[code]
#### Thread 0x7fa64f2f9700
[code]

Both thread 0x7fa64edf4700 and 0x7fa64f2f9700 are running in index reader create logic, both of them are creating the index reader for sstable /home/***/rocksdb-test/testproject/data/000018.sst. Thread 0x7fa64edf4700 enter first, followed by thread 0x7fa64f2f9700. After thread 0x7fa64f2f9

[2016-08-22 12:12] jchiu0 commented on #1289
Hihi, I am not really allowed to push here.. Can I be added?

[2016-08-22 17:39] siying commented on #1267
@hedengcheng thank you for reporting it! We'll fix it.

[2016-08-22 17:57] IslamAbdelRahman commented on #1289
Sorry @jchiu0, I don't understand what do you mean by `not allowed to push`, Can you send a pull request ?

[2016-08-22 18:01] #1250 closed

[2016-08-22 19:49] TaecMike opened #1292 "segmentation fault in RocksDB version 4.9"
I am running into segmentation fault with the following parameters:

===== Benchmark =====
Start filluniquerandom at Mon Aug 22 11:37:00 PDT 2016
Loading 1048576 unique keys randomly into database...
./db_bench --db=/rocksdb/db/ --num_levels=6 --key_size=20 --value_size=800 --block_size=4096 --cache_size=17179869184 --cache_numshardbits=6 --compression_type=snappy --compression_ratio=0.5 --hard_ra

[2016-08-22 23:40] jchiu0 commented on #1289
I thought I need to push to a remote branch before I can send a pull
request?

I don't have any permission to push this remote branch.

Am I getting something wrong here?

Thanks!

On Tue, Aug 23, 2016 at 1:58 AM, Islam AbdelRahman <notifications@github.com

--
Jay Chiu

[2016-08-23 09:27] xh931076284 opened #1293 "How to get the middle-key of a sst file?"
If We want to split a big sst file into two smaller sst files according to the middle-key, What can we do?
Can we travel a specified Block directly？

[2016-08-23 17:36] ccleve commented on #1227
It would also be nice to have an absolute bulk get() method:

void ByteSequence.get(int offset, int numberOfBytesToCopy, byte [] bufferToReceiveOutput);

@adamretter Let me know your thoughts. (And whether you've given more thought to slices and improving iterator performance in Java.)

I'd work on this myself, but my C++ is really weak and I've had zero luck getting rocksdb to compile inside an I

[2016-08-23 17:57] IslamAbdelRahman commented on #1293
Hi @xh931076284, Can you please clarify more what are you trying to achieve ?

It's not possible to split an SST file into 2 SST files without re-generating the smaller SST files by reading the original SST file.

[2016-08-23 18:15] IslamAbdelRahman commented on #1290
In RocksDB 4.6 there is a possible data race that was fixed with this commit
https://github.com/facebook/rocksdb/commit/be9816b3d970e0eceb931c2643a976dbea068da2

The fix is available in RocksDB 4.8

[2016-08-23 18:54] brigadier opened #1295 "Best way to delete everything from column family"
Hi,
what is the fastest way to delete all keys from column family? Is sequence of `DropColumnFamily(); CreateColumnFamily();` enough fast (preferable constant time) and does it guarantee that no keys from the given column family would exist after column family with the same name is reopened?

I need to do this once a day - clear about 30 column families from about 30 threads, in the same time with

[2016-08-23 22:46] adamfaulkner opened #1296 "C API set_memtable_vector_rep causes segfaults."
Hi, I think I found a bug in the C api. (Not a C++ expert). Can someone sanity check this before I try to fix it?
https://github.com/facebook/rocksdb/blob/master/db/c.cc#L1790
If I do this:
[code]

then try to use b, I get segfaults accessing the memtable factory. I'm guessing that's because the shared_ptr memtable_factory destroys the underlying MemtableRepFactory when a is destroyed.

Does this

[2016-08-23 23:39] mdcallag commented on #1267
Yes, awesome bug report. Thank you for figuring this out.

[2016-08-23 23:41] siying commented on #1267
Aaron Gao has a diff out for it: https://reviews.facebook.net/D62361

[2016-08-24 00:19] xh931076284 commented on #1293
@IslamAbdelRahman Yes.Frist, we want to lookup and read the middle-key of a single sst file; second, we want to read the original SST file , and write the key range from smallest key to middle-key  to a re-generating SST file; and write the key range from middle-key to largest key to another re-generating SST file.

[2016-08-24 00:29] siying commented on #1293
Feel free to add a function in block_based_table_reader to return you the key.

[2016-08-24 00:47] hedengcheng commented on #1267
@siying Thanks a lot.
It's so quick for fixing this bug, we will try it and deploy it on our production.

[2016-08-24 00:48] siying commented on #1267
@hedengcheng it's not committed yet...

[2016-08-24 06:29] yuwenlong123 commented on #1290
Thank you for your reply. I will upgrade rocksDB to 4.8.
BTW, why multi compact thread seem didn't work simultaneously? From my observation, when rocksDB schedule one compact job ( the same as flush job), it will wake up one thread to work. And this thread will try to pick most compactions (or most imms) to deal, so when another  compact or flush job wake up another thread, there is little thing t

[2016-08-24 07:56] cardamon commented on #688
I'll close the issue because we're currently no longer using RocksDB and apparently were the only ones who experienced the issue in the first place...

[2016-08-24 07:56] #688 closed

[2016-08-24 20:08] a-robinson opened #1297 "Apparent deadlock during DelayWrite"
First off, thanks for the great project!

I'm looking into a problem (https://github.com/cockroachdb/cockroach/issues/8784) that cockroachdb is having with an apparent deadlock that seems like it may be due to an underlying deadlock in our embedded rocksdb instance. We're running version 4.8 of rocksdb, and seeing this happen fairly regularly on Google Compute Engine with standard persistent disks

[2016-08-24 21:24] IslamAbdelRahman commented on #1297
Hi @a-robinson, Thanks for the detailed information.

I am wondering if you are using rocksdb EventListener, We actually have a bug that was fixed in RocksDB 4.9
https://github.com/facebook/rocksdb/commit/c70a9335de4040e0fae0f8888789256638a60ff6

This bug could happen if you are using Options::listeners, this bug could cause the DB to Stall

[2016-08-24 21:29] tschottdorf commented on #1297
It seems that we do:

storage/engine/rocksdb/db.cc:
 options.listeners.emplace_back(event_listener);

Thanks for the info, Islam!

On Wed, Aug 24, 2016 at 5:24 PM Islam AbdelRahman <notifications@github.com>
wrote:

[2016-08-24 21:30] IslamAbdelRahman commented on #1296
Hi @adamfaulkner, You are correct.
I don't see any significant benefit from the way the code is written now, Can you please send a pull request to fix it ?

[2016-08-24 21:31] a-robinson commented on #1297
Indeed, thank you! We'll try upgrading to 4.9 and seeing how it works for us.

[2016-08-24 21:35] igorcanadi commented on #1295
Yes, DropColumnFamily()/CreateColumnFamily() are constant time. I'm also 99% sure that you can create the column family with the same name as the previously dropped one. Internally we use IDs instead of names and the new column family would get the new ID, so there's no risk of mixing the old and new column family data.

[2016-08-25 07:12] yhchiang commented on #1295
If you don't want anything stored in that column family, then DropColumnFamily() is the best way.

[2016-08-25 14:08] zhouyuan opened #1299 "high memory usage with rocksdb4.8"
Hi,

I have a application that stores small KV pair to rocksdb, the key and values are both quite small(100 - 200 bytes). Previously I'm using rocks4.2. The performance looks quite good and the memory usage is like ~4.6GB. Recently I upgraded to rocks4.8 and find the memory usage jumps to like ~12GB with the same load. Is there's any clues why the memory usage so high for 4.8? any options to reduc

[2016-08-25 17:04] manojlds commented on #417
@adamretter it would be good to at least mention what these "recent updates" are.

[2016-08-25 17:05] manojlds commented on #417
Or did you mean "no" instead of "now"?

[2016-08-25 17:08] siying commented on #1299
We changed some default options. You can try call options.OldDefaults() before calling the function and see whether your old behavior comes back.

[2016-08-25 17:10] siying commented on #1299
I rethink about it. If you are using IncreaseParallelism() or/and OptimizeLevelStyleCompaction(), the option changes should be irrelevant. Can you compare the OPTIONS-xxx files generated using the new RocksDB with the old one and see what changed?

[2016-08-25 19:48] a-robinson commented on #1297
Unfortunately, bumping our version to 4.9 didn't fix the issue, we're still getting consistently stuck in the same situation after around 4 hours of running. We do have more debugging symbols now, so we've got that going for us, which is nice. I can play around in gdb some more, but do you have any further suggestions or thoughts?

[code]

[2016-08-25 19:56] a-robinson commented on #1297
In the background thread, the work queue is apparently empty, so it doesn't seem unreasonable that the background thread is waiting:

[code]

[2016-08-25 20:09] a-robinson commented on #1297
And here's a quick look at going on in the thread that's waiting in DelayWrite. The most suspicious thing that jumps out at me is that `bg_error_` has status OK, but also has a couple suspicious looking error messages inside of it (`{0x17d8690 "", 0x1805e3f "Timeout Acquiring Mutex",
    0x1805e57 "Timeout waiting to lock key", 0x18015e8 "Failed to acquire lock due to max_num_locks limit"}`). Is t

[2016-08-25 20:27] a-robinson commented on #1297
Also potentially of interest, still from the DelayWrite stack frame:

[code]

[2016-08-25 20:29] a-robinson commented on #1297
[code]

[2016-08-25 20:44] a-robinson commented on #1297
And I'm not sure why I didn't include this in the initial dumps, but this is the actual condvar in the background thread:

[code]

And this is the condvar in the DelayWrite thread:

[code]

[2016-08-25 22:22] IslamAbdelRahman commented on #1297
@a-robinson, I will try to take a look soon. Can you please share with me the options that you are using, Is it also possible to get RocksDB LOG file ?

[2016-08-26 02:23] hlitz commented on #1265
Thanks @kradhakrishnan ! Is there an ETA for this feature? Feel free to close

[2016-08-26 14:22] a-robinson commented on #1297
I've pasted the options file below. Getting logs is a bit trickier due to the embedded way that we're running rocksdb via cgo, but I'm trying to get some for you.

[code]

[2016-08-26 18:15] kradhakrishnan commented on #1265
Sorry! There is no ETA as such.

[2016-08-26 18:15] #1265 closed

[2016-08-26 20:55] lasarojc commented on #896
@adamretter , I stopped using batched writes, which allowed me to move to a different part of the project, so I am not sure it still happens. Are you seeing this error?

[2016-08-27 00:08] zhouyuan commented on #1299
thanks @siying for the help! I did some tests and find the  _soft_pending_compaction_bytes_limit_ seems quite suspicious. Will do more tests to verify here.

[2016-08-27 00:08] #1299 closed

[2016-08-27 16:06] adamretter commented on #896
@lasarojc No I don't see this issue so I am going to close the ticket. It can always be reopened if someone reports the same problem.

[2016-08-27 16:06] #896 closed

[2016-08-27 18:22] adamretter commented on #417
@manojlds Indeed I meant "no", I have corrected above...

[2016-08-28 10:35] kobikis commented on #1177
@adamretter while using 4.9.0 on Win7 (on vm) I got this error, (the dll exists) any idea?

Caused by: java.lang.UnsatisfiedLinkError: C:\Users\kobi\AppData\Local\Temp\librocksdbjni3993939733537201067.dll: Can't find dependent libraries
at java.lang.ClassLoader$NativeLibrary.load(Native Method)
at java.lang.ClassLoader.loadLibrary1(ClassLoader.java:1965)
at java.lang.ClassLoader.loadLibrary0(Class

[2016-08-28 11:21] adamretter commented on #1177
@kobikis can you please open a new issue for this instead

[2016-08-28 12:14] kobikis commented on #1177
sure

[2016-08-28 12:18] kobikis opened #1302 "RocksDB on windows (librocksdbjni-win64.dll)- Can't find dependent libraries"
While using 4.9.0 on Win7 (on vm) I got this error, (the dll exists)

[code]

[2016-08-28 14:32] somnathr opened #1303 "log recycling is trying to reuse the deleted log file"
Hi,
This is Somnath and I am a Ceph developer working on integrating rocksdb as a metadata store for Ceph's upcoming new backend. In the process we found this bug within rocksdb. If I enable log recycling with the rocksdb (recycle_log_file_num=16) after ~5-6 hours of run (1M seq but can happen to any workload I guess))  I am getting an error during db->WriteBatch(). Digging down further I got the

[2016-08-28 16:20] adamretter commented on #1302
@kobikis Can you find out what the missing dependencies are by running Dependency Walker as described here please: http://stackoverflow.com/questions/6092200/how-to-fix-an-unsatisfiedlinkerror-cant-find-dependent-libraries-in-a-jni-pro

[2016-08-29 00:40] adamretter opened #1305 "Which glibc should we support in binary releases?"
At the moment the RocksJava releases for Linux are built on CentOS 5.6 which provides `glibc 2.5` and `libstdc++ 4.1`.

Obviously that version of glibc and libstdc++ is quite outdated now; However I am trying to understand forwards and backwards compatibility between glibc versions.

Using a `librocksdbjni-linux64.so` file built on CentOS 5.6 (`glibc 2.5`) on CentOS 7.2 (`glibc 2.17`) seems to wor

[2016-08-29 04:59] kobikis commented on #1302
@adamretter these are all the missing dependencies from Dependency Walker:

API-MS-WIN-CRT-CONVERT-L1-1-0.DLL
API-MS-WIN-CRT-ENVIRONMENT-L1-1-0.DLL
API-MS-WIN-CRT-FILESYSTEM-L1-1-0.DLL
API-MS-WIN-CRT-HEAP-L1-1-0.DLL
API-MS-WIN-CRT-MATH-L1-1-0.DLL
API-MS-WIN-CRT-RUNTIME-L1-1-0.DLL
API-MS-WIN-CRT-STDIO-L1-1-0.DLL
API-MS-WIN-CRT-STRING-L1-1-0.DLL
API-MS-WIN-CRT-TIME-L1-1-0.DLL
MSVCP140.DLL
VCRUNTIME1

[2016-08-29 11:17] adamretter commented on #1302
@kobikis I think you might need the Visual C++ runtime for Visual Studio 2015 installed, you can find it here https://www.microsoft.com/en-us/download/details.aspx?id=48145.

Can you install that and let me know if it fixes the issue please?

[2016-08-29 12:49] JonChesterfield commented on #1305
I can think of four answers to distribution of glibc based binaries.

1/ Link to whatever your CI server is using and hope for the best

2/ Link against many glibc versions and offer as downloads sorted by OS version. This works, but is a serious inconvenience for all involved

3/ Link against as old a glibc as we can get away with, usually from an old centos distribution. This will work (modulo b

[2016-08-29 12:50] kobikis commented on #1302
Thanks @adamretter  my code is working well on Windows 7 without Snappy compression.

[2016-08-29 12:51] #1302 closed

[2016-08-29 15:23] a-robinson commented on #1297
It might not be in quite the format you're expecting due to the tricks we play with cgo, but you can download the rocks.log file from a stuck node here: https://storage.googleapis.com/cockroach-alex/rocks.log

As I commented on https://github.com/cockroachdb/cockroach/issues/8784#issuecomment-243155761, there's an interesting escalation of problems in the WARN logs (there aren't any ERROR logs):

[2016-08-29 15:36] petermattis commented on #1297
Per my comment on https://github.com/cockroachdb/cockroach/issues/8784, I think the accidental `max_background_compactions = 0` setting is the problem. We normally don't see this because we're running on multi-cpu machines.

[2016-08-29 17:19] IslamAbdelRahman commented on #1297
Thanks @petermattis ! setting max_background_compactions to zero could definitely cause this issue. The more pending L0 files and compaction bytes RocksDB accumulate the more it will slow down the writes until they stop completely, and if there are no compactions to reduce the number of L0 files and pending compaction bytes the DB won't be able to recover from this Stall/Dead lock

[2016-08-29 17:23] petermattis commented on #1297
@IslamAbdelRahman Is it ever valid/desirable for `max_background_compactions` to be 0? Perhaps RocksDB should prohibit that configuration (or make it less likely). Regardless, we'll be fixing this on our end as well.

[2016-08-29 17:35] IslamAbdelRahman commented on #1297
@petermattis, I don't think there is a reason to set `max_background_compactions` to 0
If users want to bulk load data they set `disable_auto_compactions` to true and issue a manual compaction after loading everything. This is the recommended way of disabling background compactions.
I believe we should prohibit setting `max_background_compactions` to zero

[2016-08-29 17:39] a-robinson commented on #1297
Ok, thanks. This line of code is where we were inadvertently setting `max_background_compactions` to 0, for what it's worth:
https://github.com/facebook/rocksdb/blob/v4.9/util/options.cc#L795