[2017-07-09 01:36] EliFinkelshteyn commented on #2547
[Python API ](https://github.com/twmht/python-rocksdb), but as far as I can tell, [this part of the code is coming from Rocks DB itself](https://github.com/twmht/python-rocksdb/blob/master/rocksdb/_rocksdb.pyx#L1437).

[2017-07-10 00:22] guozhangwang commented on #2533
We do not create rocksDB with column families.

[2017-07-10 07:49] xieyilun commented on #2538
Yes
So I suggest to recommend CappedPrefixTransform in your wiki

[2017-07-10 15:24] adamretter commented on #2532
@scottfines I am afraid that I cannot seem to reproduce your issue. Using RocksDB 5.5.1 with your second code example with minimal modifications (I increased the number of iterations):

[code]

I have tested this on two platforms without issue:

1. macOS Sierra (10.12.5) / Oracle JDK 1.7.0_80-b15 and also Oracle JDK 1.8.0_131.

2. Ubuntu Linux 17.04 / IBM JDK 1.7.0 (J9 VM build 2.7)

Can you test

[2017-07-10 15:44] adamretter commented on #2425
You can set it on the `ColumnFamilyOptions`.

[2017-07-10 15:44] #2425 closed

[2017-07-10 15:45] adamretter commented on #2415
As there has been no response for over 1 month, I am going to close this.

[2017-07-10 15:45] #2415 closed

[2017-07-10 16:03] adamretter commented on #2414
@grooverdan I can't reproduce this in 5.5.1. I think the issue was resolved here - https://github.com/facebook/rocksdb/commit/2a9cd87997e504d3dae634b34083abfd273647a8

[2017-07-10 16:03] #2414 closed

[2017-07-10 16:03] #2426 closed

[2017-07-10 16:04] #2394 closed

[2017-07-10 16:05] #2384 closed

[2017-07-10 18:22] sagar0 commented on #2472
@adamretter Thanks for investigating the issue, and providing a detailed explanation with various options!

I agree with you that it might be better to go with option (1) i.e. throw checked exceptions when dealing with use-after-free cases; I agree that it is a lot more JVM-developer-friendly way. With regard to the overhead, I believe that people using RocksJava already accept the larger overhead

[2017-07-10 21:45] KenMacD opened #2555 "DISABLE_JEMALLOC doesn't prevent linking"
On Linux when building `rocksdb` with:

    DISABLE_JEMALLOC=1 make shared_lib

The resulting shared library will still link against `jemalloc` if it was installed on the system.

It seems to be being added at:

https://github.com/facebook/rocksdb/blob/master/build_tools/build_detect_platform#L317-L322

[2017-07-10 21:50] adamretter commented on #2343
@graetzer Interesting. Would you be willing to contribute unit tests for this?

[2017-07-11 00:29] grooverdan commented on #703
I notice a lot of work has been done to java/CMakeList.txt recently.

Seems like a more recent (though still old) CMake version would simplify some work here:
https://cmake.org/cmake/help/v3.0/module/UseJava.html

[2017-07-11 01:19] adamretter commented on #703
@ccleve @jamespedwards42 @Gadreel @liqweed @mingqlin In case you hadn't noticed, Windows builds are now part of the release process and the jars and published to Maven central. There is also now a more thorough `cookbook` on building on Windows platforms - https://github.com/facebook/rocksdb/wiki/Building-on-Windows.

@grooverdan I think there are some restrictions over which version is supported

[2017-07-11 01:19] #703 closed

[2017-07-11 01:41] grooverdan commented on #703
FYI: https://travis-ci.org/facebook/rocksdb/jobs/252222466#L65 (cmake version 3.2.2) (and I agree with closing FWIW)

[2017-07-11 02:06] adamretter commented on #703
@grooverdan Okay cool. Feel free to send a PR

[2017-07-11 05:59] grooverdan commented on #2412
gcc bug which has been fixed https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80593

[2017-07-11 05:59] #2412 closed

[2017-07-11 06:53] grooverdan opened #2559 "ubsan_crash_test highlighted signed integer overflow in db/write_thread.cc"
On current master branch:

gcc --version
gcc (Ubuntu/IBM 5.4.0-6ubuntu1~16.04.4) 5.4.0 20160609

<pre>
Running:./db_stress --max_background_compactions=1 --max_write_buffer_number=3 --sync=0 --reopen=20 --write_buffer_size=33554432 --delpercent=5 --log2_keys_per_lock=10 --block_size=16384 --allow_concurrent_memtable_write=0 --test_batches_snapshots=0 --max_bytes_for_level_base=67108864 --target_fi

[2017-07-11 07:09] zhangjinpeng1987 opened #2560 "coredump when compact range"
I encounter coredump when call CompactRange after DeleteRangeCf finished.
This is the coredump backtrace:
[code]
we can see `inputs1` and `inputs2` are both empty.

[2017-07-11 15:26] DarkEld3r opened #2564 "Column families related functions for `rocksdb_transactiondb_t` (C-API)"
Column families related functions are missing for the `rocksdb_transactiondb_t` in the C-API. I suppose implementation should be pretty straightforward, so I can try to submit a pull request. Am I missing something?

[2017-07-11 15:48] ilovezfs opened #2565 "rocksdb 5.5.1 checksum mismatch"
RE: https://github.com/Homebrew/homebrew-core/pull/15141

The sha256 checksum for rocksdb 5.5.1 was originally (https://github.com/Homebrew/homebrew-core/commit/1b2b13222787fe4a4e81299b1fef16fa06fd9f9f)
a1d29149d23bfc8635e464505daf222fcdefa3eaa67455fe38725ba7c9478602
but for the [current download](https://github.com/facebook/rocksdb/archive/v5.5.1.tar.gz), it's
b8d8848bc2fd08905c034e5fb4d471fe1372

[2017-07-11 16:04] adamretter commented on #2565
@siying Would this have changed when I noticed the issue with the tags (which I think you addressed)?

[2017-07-11 16:05] adamretter commented on #2564
@DarkEld3r Probably not. The C and Java API's sometimes lag behind the C++ API. If you see something missing that you want, please sign the CLA and send a PR :-)

[2017-07-11 16:05] #2564 closed

[2017-07-11 16:07] adamretter commented on #703
@grooverdan This may be of interest - https://github.com/facebook/rocksdb/pull/2301 it also updates the CMake used on Travis to the latest.

[2017-07-11 16:08] #1925 closed

[2017-07-11 16:09] adamretter commented on #1329
I am closing this as there has been no response from the poster for over two months.

[2017-07-11 16:09] #1329 closed

[2017-07-11 16:11] adamretter commented on #869
Closing as duplicate of #726

[2017-07-11 16:11] #869 closed

[2017-07-11 16:13] #934 closed

[2017-07-11 18:12] ajkr commented on #2560
How did you determine that `inputs1` is empty?

[2017-07-11 18:15] ajkr commented on #2560
Also I was curious whether `DeleteRangeCf` is a function you implemented, and what does it do? Seems this is an L4->L5 compaction, so the range deletions must have already undergone some compactions in order for them to be in L4 or L5.

[2017-07-11 22:16] grooverdan commented on #703
I'm not particularly interested in Windows development however I saw the opportunity to improve an aspect and it seems RocksDB has at least one interested party.

[2017-07-11 23:22] adamretter commented on #703
@grooverdan I think several people are interested in CMake, but I need to ensure it keeps working on Windows as we use that to publish the Windows binaries for RocksJava.

[2017-07-12 01:34] zhangjinpeng1987 commented on #2560
`DeleteRangeCf` I means `virtual Status DeleteRange(const WriteOptions& options, ColumnFamilyHandle* column_family, const Slice& begin_key, const Slice& end_key);`

[2017-07-12 01:37] zhangjinpeng1987 commented on #2560
You can see that `_M_start` and `_M_finish` of `inputs1` are both `0x7f2ae3830300` and _M_finish = 0x7f2ae3830300.

[2017-07-12 01:41] zhangjinpeng1987 commented on #2560
BTW, I use this [branch](https://github.com/zhangjinpeng1987/rocksdb/tree/zhangjinpeng/improve-L0-compaction) which only modify a little for L0->L0 compaction, you can see it [here](https://github.com/facebook/rocksdb/pull/2534/files).

[2017-07-12 01:57] zhangjinpeng1987 commented on #2560
There are more details about the coredump stack, wish it will do some help.
[code]

[2017-07-12 18:11] #2478 closed

[2017-07-13 14:17] ilovezfs commented on #2565
@lightmark @ajkr @yiwu-arbug any ideas? This issue is now blocking the snappy 1.1.6 upgrade in Homebrew.

[2017-07-13 16:33] AhmedSoliman commented on #2445
I had the same issue, seems that cleaning up the repo (deleting all dirty changes and old build files) fixes the issue. Try a fresh checkout.

[2017-07-13 16:47] yiwu-arbug commented on #2565
@ilovezfs The one only the current download page is the correct one. We tagged the wrong revision at the beginning but corrected it later. Are you able to fix it on homebrew side? Sorry for inconvenience.

[2017-07-13 16:58] ilovezfs commented on #2565
@yiwu-arbug In the future, it would be best to tag a new version (even if it's 5.5.1.1 or 5.5.2) rather than retagging.

I could update the checksum this time, but it will mean it will be more difficult for you to determine which users are on the not-really-5.5.1 version we've been distributing so far, and which ones are on the ok-it's-really-5.5.1-this-time version.

[2017-07-13 17:54] yiwu-arbug commented on #2565
@ilovezfs totally agree. Will create a 5.5.2 tag to fix the confusion.

[2017-07-13 17:54] ilovezfs commented on #2565
@yiwu-arbug that would be awesome. Thanks!

[2017-07-13 19:15] yiwu-arbug commented on #2565
Done. Just created 5.5.2 tag.

[2017-07-13 19:15] #2565 closed

[2017-07-13 19:17] ilovezfs commented on #2565
@yiwu-arbug thanks: https://github.com/Homebrew/homebrew-core/pull/15597.

[2017-07-14 00:06] maysamyabandeh commented on #2559
Hi @nbronson Could you please chime in? Not sure what was the math behind this line that is causing overflow:

[code]

[2017-07-14 00:20] maysamyabandeh commented on #2555
Seems make sense to move the jemalloc update of PLATFORM_LDFLAGS and JAVA_LDFLAGS to
this line in the Makefile: https://github.com/facebook/rocksdb/blob/master/Makefile#L220
[code]
@siying what do you think?

[2017-07-14 14:29] zhangjinpeng1987 opened #2582 "A question about blobdb"
When use blobdb with multiple column families, currently all values are store in the blob file, sometimes we wanna store some column families's value in the blob file, and the others we wanna store them in the lsm engine, because some column families's values are short, at the same time we want guarantee the write through multiple column families is atomic.
@anirbanr-fb Is there any plan to suppor

[2017-07-14 16:46] yiwu-arbug commented on #2582
Thank you for your interest in blob db! The blob db is not yet ready as I'm still trying to fix some crash issue. Also option to store value in LSM is not implemented yet. Though to achieve atomic writes you can simply use write batch on top of blob db.

[2017-07-14 19:25] sangodbole opened #2585 "Runtime unhandled exception with RocksDB on Windows"
Hi Team,
I am seeing the following exception at Runtime with my c++ application trying to use RocksDB.
Unhandled exception at 0x000000013F5A43E0 in TestRocks.exe: 0xC000001D: Illegal Instruction.

Happening in file lru_cache.cc line 443.
 int num_shards = 1 << num_shard_bits;

Other important build information:

Build on VS2017 with Release x64 Windows7
all libraries built for x64
Rocks DB built e

[2017-07-14 20:02] yuslepukhin commented on #566
Is this still an issue?

[2017-07-14 22:25] maysamyabandeh commented on #2585
Illegal Instruction usually means a wrong option is applied to the compiler. Perhaps you can share the options used by the compiler in the rocksdb user group (https://www.facebook.com/groups/rocksdb.dev) so that the other windows users might be able to help you.

[2017-07-15 13:29] sangodbole commented on #2585
I use the following options
cmake -G "Visual Studio 15 Win64" -DGFLAGS=1 -DZLIB=1 ..
msbuild rocksdb.sln /p:Configuration=Release

I will share them in the user group as well. Thanks

[2017-07-17 04:10] buremba commented on #1251
And update on this? Maybe we can add a new low-level `multiGet` method that doesn't copy the underlying array and create an HashMap? It should be super-useful considering `multiGet` will often be used for fetching too many keys and the current implementation copies array and create a big `HashMap` even though we expect the result to contain only a few values.

[2017-07-17 14:02] JohnsonJackblue opened #2593 "Static lib file size is bigger than expected"
Hello,

I recently build RocksDB with Windows and my rocksdb.lib have a size of 170 mb, I would like to know if it's normal.

Also I found this stackoverflow topic : https://stackoverflow.com/questions/40192894/rocksdb-static-library-size-thats-built-from-source-is-really-large

Strip solve his problem, but Visual studio set debug symbols on a pdb file well normally this problem can not happen.

C

[2017-07-17 15:07] SethTisue commented on #1543
relevant: #2589 (license is now Apache)

[2017-07-17 18:24] ajkr commented on #2445
blame revision is a48a62d5baa5e60d7e9340ef513ce8640fb1c738

[2017-07-17 19:22] ajkr commented on #2445
I reverted the breaking change. It raised an important point, though, which is that we're not supporting -DNDEBUG on Linux/CMake.

cc @tchaikov, who implemented our CMake support for Linux/OSX.

[2017-07-17 20:01] lxcode opened #2596 "LITE build broken on db_bench again"
There appears to have been a regression between 5.4.6 and 5.5.2 causing the same issue as described in:

https://github.com/facebook/rocksdb/issues/2386

Build log is here:

http://beefy9.nyi.freebsd.org/data/110amd64-default/445841/logs/rocksdb-lite-5.5.2.log

[2017-07-17 21:33] yiwu-arbug commented on #2596
Just tag 5.5.3 with fixes for lite build.

[2017-07-17 21:33] #2596 closed

[2017-07-18 11:12] rockeet opened #2604 "Breaking code changes: "do not read next datablock if upperbound is reached""
Breaking code changes: a30a6960346518dadb7e79184116b5bc68c1fe2c

This commit breaked existing SST implementations, and imposed irrelevant unneeded module coupling.

"do not read next datablock", this feature should be implemented in SSTable(especially for BlockBasedTable) itself, and should not escape out of SSTable implementation boundary.

There are also [many comments](https://github.com/facebo

[2017-07-18 15:52] StefanRRichter commented on #1964
Just tried this again on 5.5.1 and it seems that the problem doesn't exist anymore. I think the issue could be closed.

[2017-07-18 16:33] StefanRRichter opened #2605 "License update not included in latest releases"
Hi,

I noticed that RocksDB changed the license in the current master so that it can be safely used in Apache projects. Unfortunately, I think the new license text was not included in the latest releases or and is also not merged into any of the current 5.x branches. This makes the current releases still not useable for Apache projects. Is there any plan to propagate the license changes into the n

[2017-07-18 16:48] #1964 closed

[2017-07-18 17:37] siying commented on #2604
Can you explain what scenario this commit broke?

[2017-07-18 17:38] siying commented on #2605
We are going release something with the change.

[2017-07-18 19:10] siying commented on #2605
We just released 5.5.4.

[2017-07-18 19:37] StefanRRichter commented on #2605
Thanks, that was quick! :-)

[2017-07-18 19:37] #2605 closed

[2017-07-18 19:39] siying commented on #2605
We'll probably need to release 5.5.5 soon with this change https://github.com/facebook/rocksdb/pull/2610/

[2017-07-18 21:14] siying commented on #2555
@maysamyabandeh I don't have an opinion on this.

[2017-07-19 01:07] rockeet commented on #2604
[TableReader::NewIterator](https://github.com/facebook/rocksdb/pull/2239/files#diff-e46a3603a4d8aece5d21dcfcda8f3f5aL43) was added a parameter `const InternalKeyComparator*`,  this change was spread to all rocksdb builtin SSTable implementations.

The alternative solution should be using existing `TableReaderOptions::internal_comparator`, this will not break any existing code.

[2017-07-19 02:02] grooverdan commented on #691
Seems still here. Not every test run however.

<pre>
Last Built Revision: Revision 6e3ee015fb1ce03e47838e9a3995410ce884c212 (Tue Jul 18 12:58:57 2017 -0700)

ibm-jdk - 8.0-4.7

+ CXXFLAGS='-m64 -O3 -g -I /opt/ibm/java/include/ -mtune=native -std=c++11'
+ g++-6 --version
g++-6 (Ubuntu/Linaro 6.3.0-18ubuntu2~16.04) 6.3.0 20170519
Copyright (C) 2016 Free Software Foundation, Inc.
This is free softwar

[2017-07-19 05:11] zhangjinpeng1987 opened #2611 "blobdb return wrong value"
I use blobdb, and create a column family,  after I put a key/value to this cf I read it, but the returned value is not equal with the one I have putted.
[code]

[2017-07-19 11:08] JohnsonJackblue commented on #2593
I also tried to use
`msbuild rocksdb.sln /p:Configuration=MinSizeRel /p:Plateform=x64`
but I earn only 4mb. I don't know if I did something wrong or it's the normal size of this lib because linux package is around 12mb.

Thanks in advance !

[2017-07-19 16:02] GilGribb opened #2614 "Return type for SliceTransform::Transform is too limiting"
SliceTransform::Transform returns a slice, when it should return a string.

For example, suppose the key is a 64 bit unsigned int and we are using little endian machines. Thus a memcmp()-type total order (i.e. lexicographic on bytes) is not really what you want. No problem, we can easily define a rocksdb::Comparator that does the right thing to order the DB the way you expect: 0,1,2,3...

But what

[2017-07-19 18:38] yiwu-arbug commented on #2611
Are you testing with the latest master? Are you hitting #2553?

[2017-07-20 01:06] rockeet commented on #2604
@siying @lightmark Is there any update?

[2017-07-20 01:22] siying commented on #2604
The function you mentioned is not public RocksDB API. If you fork your own branch and have some updates there, it is expected that you'll need to sometimes do some hard change when the upstream updates.

[2017-07-20 03:07] rockeet commented on #2604
Yes, I can always merge upstream changes, the real issue is: such inappropriate code changes will lead rocksdb code into a disordered state, which will finally harm `rocksdb itself`.

Now that has such a good solution(using `TableReaderOptions::internal_comparator`), it should be fixed.

@siying @lightmark

[2017-07-20 15:36] nihathrael opened #2622 "RocksDB Java requires Visual C++ Runtime for Visual Studio 2015 to be installed"
Hi everyone,
it seems rocksdb java requires the Visual C++ Runtime for Visual Studio 2015 to be installed on a windows machine in order to run. Otherwise an exception similar to this will be thrown:

[code]

As far as I understood the included binaries should be statically linked.

Is it possible to include the visual studio runtime statically, so that no additional software needs to be installed

[2017-07-20 16:01] adamretter commented on #2622
I think we would be able to do this using the `/MT` argument to the linker. However this is probably a question better answered by @yuslepukhin.

[2017-07-20 19:36] scottfines commented on #2533
I can reproduce this in 5.4.5 (on Mac OS X) without creating column families. Here is my smallest reproducing case:

[code]

technically, this produces the following line
[code]

Perhaps noteworthy, this version does NOT fail:
[code]

There aren't TOO many changes here, so it shouldn't be very hard to track down. Let me know if you need more, but here's my env. information:

OS: Mac OS X v. 10.12.

[2017-07-20 20:15] scottfines commented on #2533
OK, even smaller reproducing case:

[code]

[2017-07-20 23:31] ajkr commented on #2604
`TableReaderOptions` is part of the `TableFactory::NewTableReader` API. It is not part of any `TableReader` APIs. Thus in the current code we cannot guarantee an arbitrary `TableReader` has access to an `InternalKeyComparator`.

If you want to fix this, feel free to submit a PR. I do not agree this was a breaking code change as it conforms to the existing design (refactoring as you desire is a sep

[2017-07-20 23:43] ajkr commented on #2604
it should be `rep_->internal_comparator` in block-based table reader as we don't have access to the `TableReaderOptions` there. @lightmark can you fix it when you're back from vacation?

[2017-07-21 02:06] rockeet commented on #2604
@lightmark As this pull request has  other code changes, can you fix it? As @ajkr commented, it is `rep_->internal_comparator` for block-based table, for other tables, `internal_compare` can be always accessed in `TableFactory::NewTableReader` through param `TableReaderOptions`.

[2017-07-21 08:05] jserv commented on #2404
Cc. @siying

[2017-07-21 18:34] siying commented on #2404
OK. I deleted it.

[2017-07-21 18:34] #2404 closed

[2017-07-24 02:34] zhangjinpeng1987 commented on #2611
@yiwu-arbug Thanks, exactly hitting the bug.

[2017-07-24 02:40] zhangjinpeng1987 commented on #2611
BTW, When there are multiple column families with blobdb, if we can specified which column family should use blob engine and which should use lsm engine, this is helpfull for our use case. And if each column family has individual blobfile is also helpfull, because each column family's data has its own characteristic, this will make gc more efficiently.

[2017-07-24 02:46] #2611 closed

[2017-07-24 02:46] #2539 closed

[2017-07-24 02:47] #2582 closed

[2017-07-24 10:56] HassanCehef commented on #2614
Hi,

For your example, it seems like you could solve the issue by writing your integers in a big-endian way.
using https://linux.die.net/man/3/htobe32 it should work on both little and big-endianned processors. Then your keys will be sorted. You can also prefix seek on only the high order 32 bits: just change your query to also apply htobeXX functions first.

[2017-07-24 13:15] GilGribb commented on #2614
Yeah is another workaround for the example I gave. But then I can't use the slices coming back from rocks directly; I have to make a byte swapped version.

That doesn't work in general. Suppose I wanted to "prefix" on the high 22 bits instead of the high 32 bits (this is perfectly reasonable). Now again, no slice of the given key is the prefix and byte swapping can't help.

My actual use case is m

[2017-07-24 21:06] yiwu-arbug commented on #2611
@zhangjinpeng1987 Thanks for the suggestion. May consider it later on.

[2017-07-24 21:34] mkosieradzki opened #2632 "Expose OptimisticTransactionDB in the C API"
WriteWithCallback is required to implement optimistic transactions and I would like to add such a feature in C# API.

It is currently not exposed in the C API.

If required I can try to create a PR.

[2017-07-24 22:06] sagar0 commented on #2632
Please do. We'd love to have such a contribution.

[2017-07-24 22:16] sagar0 commented on #2593
Wondering if @yuslepukhin can help?

[2017-07-24 22:55] mkosieradzki commented on #2632
OK. BTW I can see I will also need to expose:
at least

GetLatestSequenceNumber

and

GetLatestSequenceForKey, GetEarliestMemTableSequenceNumber, GetAndRefSuperVersion (which can be called only on the write thread), ReturnAndCleanupSuperVersion
OR
something more high-level like TransactionUtil::CheckKeysForConflicts

And if I wanted to add snapshots support it's getting way too complex.

I have no

[2017-07-25 02:30] rockeet commented on #2604
Is there any update?

[2017-07-25 07:28] zydcom opened #2635 "rdb tool cannot not compile"
`node-gyp build` cannot work well

[code]

[2017-07-25 13:59] yaelna commented on #1937
Hi Adam,
I saw that you have a commit in your forked repo that is linked with Issue #2374,
I've built the jar from your repo from branch improve-stats-enums and it has solved our problem :)
Are you planning on submitting a pull request soon? we are looking forward for a rocksdb release with this fix.
thank you,
Yael

[2017-07-25 21:26] sagar0 commented on #2593
This seems to have been answered in the RocksDB google group.

[2017-07-25 22:22] sangodbole commented on #2585
Someone from the facebook community helped me. works with the option -DPORTABLE=1
Apparently my processor does not support the newest instructions.

[2017-07-25 22:56] #2585 closed

[2017-07-26 15:21] wouterbeek commented on #1114
There seems to be a RocksDB package for Fedora 26 over here: https://admin.fedoraproject.org/pkgdb/package/rpms/rocksdb/

It does not show up when I run `dnf search rocks` though :-(

[2017-07-26 22:46] lightmark commented on #2604
I just come back from PTO. I can fix it but I don't quite sure how does it lead rocksdb code into **disorder** state as nothing in public api changed.

[2017-07-27 01:51] rockeet commented on #2604
@lightmark Thanks for your fix! Now there is no **disorder** state, it's great!

[2017-07-27 08:42] mm304321141 commented on #2604
@lightmark https://github.com/Terark/terark-zip-rocksdb
We implemented a custom table ...

[2017-07-27 19:06] yuslepukhin opened #2658 "Improper use of ROCKSDB_SUPPORT_THREAD_LOCAL macro"
The macro is defined to be either 0 or 1 but always defined

However, the code,  even in the same file, makes different use of it.
For some placed it is `#ifdef ROCKSDB_SUPPORT_THREAD_LOCAL` which is always true
and yet for other is `#if !(ROCKSDB_SUPPORT_THREAD_LOCAL)`

[2017-07-27 19:08] #2658 closed

[2017-07-27 19:27] scottfines commented on #2532
Sorry, just saw the last comment. Will try with latest release in public repo (5.6.1) and 5.5.1.

[2017-07-27 19:30] scottfines commented on #2532
Looks like this is resolved in 5.6.1! Maybe a regression on 5.4.5? It definitely still occurs on the 5.4.5 release.

So the recommended resolution here is probably to just avoid the 5.4.5 release if you are using merge through JNI?

[2017-07-27 19:46] scottfines commented on #2533
Looks like this is still failing in 5.6.1, but the error message looks marginally different:

[code]

[2017-07-27 19:53] adamretter commented on #2532
@scottfines I would certainly recommend using the latest RocksJava.

[2017-07-27 19:53] #2532 closed

[2017-07-27 20:08] guozhangwang commented on #2533
Yup, tested 5.5.1 and 5.4.5 and they are also there.

[2017-07-27 21:05] lightmark commented on #2604
@mm304321141 That is not recommended.

[2017-07-28 18:28] guozhangwang commented on #2533
The interesting thing is, we do not use call specifically any column family functions in our JNI (maybe they get triggered internally somehow). Also the error we saw is slightly different:

[code]

This issue is currently blocking us, or I believe more generally any JNI users to upgrade to any versions higher than 5.3.6. cc @adamretter @siying

[2017-07-28 23:15] siying commented on #2533
@guozhangwang several questions:
1. did you destroy all the iterators before closing the DB?
2. why is it blocking you? Aren't most of your users using release mode?
Let me take a look at the code too.

[2017-07-28 23:26] guozhangwang commented on #2533
1. Yes.
2. My statement was confusing before: we want to upgrade to newer versions than 5.3.6 in the next release with the new features but can't because of it. So technically it is not "blocking" us now but will be great if in the next release of Kafka we can use the newer versioned rocksdb.

[2017-07-28 23:30] siying commented on #2533
@scottfines for your question, don't you need to call close() to all column family handles in `handles` before closing the DB?

[2017-07-28 23:31] siying commented on #2533
@guozhangwang I want to sure I understand correctly: you never create a column family other than the default one, right?

[2017-07-28 23:38] guozhangwang commented on #2533
Yes. In fact here is all we did with the JNI interface for creating a db (about 20 LOC in total): https://github.com/apache/kafka/blob/c50c941af1395d010160790f0127f06106cc69c8/streams/src/main/java/org/apache/kafka/streams/state/internals/RocksDBStore.java#L121

[2017-07-28 23:43] siying commented on #2533
@guozhangwang any idea you got a full call stack? For example, if you have a core dump you can gdb to it and get it.

[2017-07-29 04:38] h-1 opened #2668 "SstFileWriter performance"
Was testing SstFileWriter with [5.5.5](https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni/5.5.5). Below is the summary.

I have a sorted 1 GB text file, keys are 15 bytes, values are also 15 bytes.

This takes about ~70s write time
`val sstFileWriter = new SstFileWriter(new EnvOptions, new Options())`

This takes about ~140s write time
`val sstFileWriter = new SstFileWriter(new EnvOptions,

[2017-07-29 05:38] mikhail-antonov commented on #2668
Yeah I'd expect better write throughput too, especially given that w/o params we should be using cheap (CPU-wise) block compression.
Just to check - did you you pre-load entire test file in memory before you start SstFileWriter to make sure the speed to actually fetch the data into buffReader doesn't affect anything?

I'll try to reproduce that.

[2017-07-29 10:58] adamretter commented on #2668
@h-1 Just to point out, but implementing comparators in Java has quite some performance overhead and we are aware of that. There are several improvements planned in that area. For the moment if you need a custom comparator, you could implement just the comparator in C++ and set it from Java. Also I would point out that `ByteWiseComparator` should not be used as it is a Java reimplementation of the

[2017-07-29 16:45] h-1 commented on #2668
@mikhail-antonov Thanks for the quick reply. No, I haven't tried loading the test file into memory. This is just a test, real data is much larger. And buffReader is a regular Java `BufferedReader`, so I don't think that's the bottleneck. I will try the same test in C++ when I get some time and will report back.

Thanks for the help!

[2017-07-29 16:59] h-1 commented on #2668
@adamretter Thanks for the tip. I read the Java `ByteWiseComparator` performance issue in some the questions, [here](https://github.com/facebook/rocksdb/issues/538) and [here](https://github.com/facebook/rocksdb/issues/2001), but just thought I'd test it out.

[2017-07-31 15:38] mkosieradzki commented on #2622
I think the most simplistic way instead of doing static linking is deploy vc runtime dlls together with your application (as private assemblies)

https://msdn.microsoft.com/en-us/library/ms235291.aspx

This is MUCH easier and much more elastic approach.

[2017-07-31 20:01] hocngo commented on #1846
Sledgeh: Are you going to implement this feature?

[2017-08-01 06:33] choleraehyq opened #2672 "make tools error when using g++ 7.1.1"
[code]

[code]

[2017-08-01 14:06] Liuchang0812 opened #2673 "rocksdb::RepairDB leaks WAL files under options.wal_dir"

[2017-08-02 16:50] nbronson commented on #2559
That's a bug (my bug). It should be v = v - (v / 1024), to correspond to preserving 99.9% of the old value and adding in a new part. The overflow computation is that when repeatedly doing x = a*x+b for -1 < a < 1, the asymptote is b/(1-a). Since 16384/(1-(1-1/1024)) == 16384*1024, it doesn't overflow int32_t. An alternate way to think about how it should work is that when would_spin_again is true

[2017-08-02 17:18] maysamyabandeh commented on #2673
@Liuchang0812 Thanks for reporting. Unfortunately without more details the report is not actionable.

[2017-08-02 17:42] siying commented on #2673
CC @ajkr

[2017-08-02 17:44] maysamyabandeh commented on #2672
Seems like you are passing -Waligned-new to your compiler:
https://gcc.gnu.org/gcc-7/changes.html

[2017-08-03 01:00] Liuchang0812 commented on #2673
thank you, i will give more informations soon.

[2017-08-03 01:02] siying commented on #2673
@Liuchang0812 a pull request will be more preferred:)

[2017-08-03 01:31] Liuchang0812 commented on #2673
@siying yeah, I will create a PR this weekend.

[2017-08-03 02:01] choleraehyq commented on #2672
I just use the official Makefile without any change. Maybe we should modify the Makefile to fit gcc 7?

[2017-08-03 02:09] siying commented on #2672
CC @IslamAbdelRahman

[2017-08-03 02:10] maysamyabandeh commented on #2672
Would you like to submit a pull request?

[2017-08-03 02:26] choleraehyq commented on #2672
Ok, I'll have a try.

[2017-08-03 03:26] grooverdan commented on #2672
FYI things I've tried but not managed to get correct yet (out of time for now).

https://github.com/grooverdan/rocksdb/commit/22b6b716621b2fc1e04a95d31dcc7907022f4b8c

(still complains of same error).

https://github.com/grooverdan/rocksdb/commit/928ade378fae26843f68a392fd866feef84f32d4

CXXFLAGS=-std=c++1z  need for gcc/clang of version clang-4.0 (__cplusplus == 201406)/gcc-7.1 (#if __cplusplus >

[2017-08-03 03:44] grooverdan commented on #2672
Oh, and I haven't even looked how OSX clang versions map into this.

[2017-08-03 17:46] #2559 closed

[2017-08-04 03:59] #2672 closed

[2017-08-04 06:33] AmanSin opened #2686 "Too many SST files of very small size"
Hello Team

I am using RocksDBJava after running the service for sometime I can see the "Too many open files" exception. Digging though the previous issue mentioned on the portal I found out that it is because of system limitation of opening a maximum number of files.
When I check the directory, which the rocksDB is using, I noticed there is over 100K sst files of 1KB size, and this can be the rea

[2017-08-04 06:36] AmanSin commented on #2686
Also in my current project there ane many read threads and one write thread, and I open and close the connection (using RocksDB.open() and RocksDB.close() ) before reading or writing to the rockdDB.

[2017-08-04 14:57] maysamyabandeh commented on #2686
Github issues is not the best place to ask for configuration help. I recommend user group (https://www.facebook.com/groups/rocksdb.dev) where other users can help you with that.

[2017-08-04 14:57] #2686 closed

[2017-08-04 17:29] scottfines opened #2687 "RockJava assertion error with ColumnFamilyHandle"
Looks like a very simple looping problem can result in an assertion failure:

[code]

will produce

[code]

This does not appear to occur in rocks 5.3.6, but starts occurring in 5.4.5 and carries through to 5.6.1 (I didn't try 5.5.x)

Environment:
java version: Java HotSpot(TM) 64-Bit Server VM (build 25.111-b14, mixed mode)
rocksdb version: 5.6.1 AND 5.4.5
Os: Mac OS X Siera

[2017-08-04 17:42] #2555 closed

[2017-08-04 19:47] graetzer commented on #2343
@adamretter something like

[code]

[2017-08-07 09:43] JohnsonJackblue commented on #2593
Thanks @sagar0, I've taken a look to the RocksDB google group but see nothing related, if you can post the link to the topic I will really appreciate :)

Also, I tried to use shared lib instead to reduce library size, but I get symbols error even if the rocksdb-shared.lib is correctly linked on my visual studio project (and rocksdb-shared.dll is on my Release folder).
Also include are correctly se

[2017-08-07 11:41] zhangjinpeng1987 opened #2696 "IO error: While open a file for random read"
We encounter `IO error: While open a file for random read: /data1/kv1/deploy/data/db/093618.sst: No such file or directory` error, why this would happen?
[code]

[2017-08-07 15:21] sledgeh commented on #1846
not in nearest future.

[2017-08-07 17:40] sagar0 commented on #2593
Sorry, my mistake: not 'google' group but our 'facebook' group :) .
I was referring to your post in "RocksDB Developers Public" facebook group: https://www.facebook.com/groups/rocksdb.dev/permalink/1341600742605103/ . @PraveenSinghRao seems to have replied there.

[2017-08-08 03:19] zhangjinpeng1987 commented on #2696
BTW, we don't use `delete_files_in_range`.

[2017-08-08 15:27] 5chdn commented on #2166
It seems [it's not possible](https://stackoverflow.com/q/45572264/1260906) to set the `KeepLogFileNum` to 0. Isn't there any way to disable database debug logging at all?

[2017-08-08 15:47] maysamyabandeh commented on #2696
It could be a bug or simply a disk error. At this point there is not much data to suggest that it is a bug or help in debugging it.

[2017-08-08 15:54] maysamyabandeh commented on #2687
We had a similar issue but was reported fix in 5.5.1: https://github.com/facebook/rocksdb/issues/1964
@adamretter do you think it is the same problem?

[2017-08-08 16:22] adamretter commented on #2687
@maysamyabandeh It does look familiar yes.

@scottfines Can you please try and refactor your code to follow the correct alloc/free order as described here: https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#opening-a-database-with-column-families

[2017-08-08 19:13] sangodbole opened #2701 "Delete DB does not delete the entire DB"
I have the following program running RocksDB on windows with C++. I see that delete is deleting only one of the *.sst files and rest of the db is still on disk. Could someone tell if this is an expected behavior(if yes, is there another way to remove all the db files). Is Batch insert the problem here? I appreciate all the help in advance.

#include "rocksdb/db.h"
using namespace std;
int main()
{

[2017-08-08 19:29] siying commented on #2701
`delete db;` only closes the DB. If you want to clean up the data call DestroyDB() after it.

[2017-08-08 19:29] #2701 closed

[2017-08-08 19:39] sangodbole commented on #2701
Thanks! That works.

[2017-08-09 00:09] grooverdan commented on #1462
I can't see an easy way either.

I did ask the jemalloc folks for exposing the prefix which would make it easier. https://github.com/jemalloc/jemalloc/issues/723

Then, or alternately through some other mechanism, the operator ::new family of operators could be overwritten like in 16e03882054fa8c947ca84f30b87e1cd3e929597

[2017-08-09 00:17] grooverdan opened #2705 "gcc-8.0 error=class-memaccess compile failure due to memcpy in ./memtable/inlineskiplist.h"
This isn't occurring on the gcc-7-branch however the gcc master/trunk branch is enhancing its strictness

<pre>
${CXX} --version
+ x86_64-pc-linux-gnu-g++ --version
x86_64-pc-linux-gnu-g++ (GCC) 8.0.0 20170808 (experimental)

x86_64-pc-linux-gnu-g++ -m64 -O3 -g -I /opt/ibm/java/include/ -mtune=native -std=c++11  -DROCKSDB_USE_RTTI -g -faligned-new -W -Wextra -Wall -Wsign-compare -Wshadow -Wno-unus

[2017-08-09 00:32] alexreg commented on #1462
@grooverdan Yeah... sadly no reply on that issue. I bumped it, just in case. Any thoughts, given the above, @siying?

[2017-08-09 01:22] ananclub opened #2707 "build err on freebsd11.1 clang 4.0"
CC       utilities/column_aware_encoding_util.o
utilities/column_aware_encoding_util.cc:61:23: error: cannot use dynamic_cast with -fno-rtti
  table_reader_.reset(dynamic_cast<BlockBasedTable*>(table_reader.release()));

FreeBSD clang version 4.0.0 (tags/RELEASE_400/final 297347) (based on LLVM 4.0.0)
Target: x86_64-unknown-freebsd11.1
Thread model: posix
InstalledDir: /usr/bin

[2017-08-09 09:25] DarkEld3r commented on #2564
@adamretter Sorry for bothering, but I have made the pull request (#2669) that fixes this issue. Could you please provide some information? Is there a hope for merging? :smile:

[2017-08-09 11:34] rockeet opened #2710 "Proposal: Delete input SST files earlier in compaction"
Currently, compaction input SST files are deleted after compaction completed. Ideally, input SST files can be deleted earlier:
1. We know a compaction may generates multiple output SST files, and there are many input SST files, so when an output SST file is finished, we can check which input SST's content is covered by the output SST files, such input SST files can be deleted as soon.
2. New reque

[2017-08-09 11:36] rockeet opened #2711 "Proposal: Delete input SST files earlier in compaction"
Currently, compaction source SST files are deleted after compaction completed. Ideally, input SST files can be deleted earlier:
1. We know a compaction may generates multiple output SST files, and there are many input SST files, so when an output SST file is finished, we can check which input SST's content is covered by output SST files, such input SST files can be deleted.
2. New request for such

[2017-08-09 12:21] #2711 closed

[2017-08-09 14:40] siddontang opened #2712 "repair coredump"
Hi

I try ldb repair but meet coredump with error msg

[code]

The coredump stack is:

[code]

Does it mean that the database has already been corrupted?

[2017-08-09 16:48] adamretter commented on #2564
@DarkEld3r I am not really involved in the C API. Perhaps @siying can get the right person to take a look?

[2017-08-10 01:24] yiwu-arbug commented on #2712
Can you double check if your ldb binary is linked with LZ4? If so, seems likely the db is corrupted.

[2017-08-10 01:26] yiwu-arbug commented on #2710
cc @ajkr @siying

[2017-08-10 01:35] yiwu-arbug commented on #2707
Will fix soon.

[2017-08-10 01:38] cld378632668 opened #2715 "Problem compiling rocksdb (or problem excuting make comand)"
When excuting make comand in rocksdb directory, it reports:
[code]
I'm new to c/c++ on linux,  what should I do next?
Thanks!

[2017-08-10 01:41] yiwu-arbug commented on #2705
@grooverdan will replace `&next_[0]` with `static_cast<void*>(&next_[0])` workaround the error?

[2017-08-10 01:43] yiwu-arbug commented on #2696
Closing the issue for now. @zhangjinpeng1987 reopen if you can provide more input.

[2017-08-10 01:43] #2696 closed

[2017-08-10 01:48] yiwu-arbug commented on #2715
Can you try `make clean` once and then `make all`? If the error persist maybe there's something wrong with your gcc..

[2017-08-10 01:52] yiwu-arbug commented on #2635
It should probably be "db/db_wrapper.h". Can you try if it works? If so, do you mind sending a pull request to fix it? Thanks!

[2017-08-10 02:20] siddontang commented on #2712
@yiwu-arbug

I think the DB is corrupted because I can even see the data deleted before.

[2017-08-10 02:20] #2712 closed

[2017-08-10 07:10] grooverdan commented on #2705
Sorry - wasn't sufficient. Didn't really have time to do much else about it today.

<pre>
${CXX} --version
+ powerpc64le-unknown-linux-gnu-g++ --version
powerpc64le-unknown-linux-gnu-g++ (GCC) 8.0.0 20170809 (experimental)

powerpc64le-unknown-linux-gnu-g++ -m64 -O3 -g -I /opt/ibm/java/include/ -mtune=native  -DROCKSDB_USE_RTTI -g -faligned-new -W -Wextra -Wall -Wsign-compare -Wshadow -Wno-unused-

[2017-08-10 21:17] merlimat opened #2717 "Assertion failure in GetFilter() when opening db"
I am seeing assertion failures when opening a db that was not gracefully closed.

[code]

Db Logs prior to assert failure:

[code]

Stack trace:

[code]

Db archive where the problem reproduces: https://www.dropbox.com/sh/kyfotpyqgvbrsce/AADxlJo8OX0ZPWIiqCVfaL_Ia?dl=0&preview=locations.tar.gz

Tried with RocksDB: 5.5.5 and 5.6.1 with RocksDB-JNI from MacOS.

[2017-08-11 03:14] zhangjinpeng1987 opened #2722 "Some deleted keys might appear after compaction"
We encounter a strange problem, some keys have been deleted might appear after compaction. These keys are continuous.
I dump the manifest, and find the sst file(307784) that contains these keys.
[code]
And then, I dump the sst file, and make a check if these keys are exist in this sst file, the answer is yes. And I check the LOG to find out when this sst file has been created.
[code]
When our cons

[2017-08-11 03:27] siddontang commented on #2722
Btw, When I try to repair the db, I meet the coredump, see #2712

[2017-08-11 08:36] cld378632668 commented on #2715
How to judge if there is wrong with gcc?
The gcc can serve other programs well.

[2017-08-12 00:15] zhangjinpeng1987 commented on #2722
This [pr](https://github.com/facebook/rocksdb/pull/2726) will fix it.

[2017-08-12 06:00] ilovezfs opened #2729 "5.7.1 undefined symbols build failure on macOS"
[code]
[code]
Full log: https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/6429/version=sierra/consoleText

[2017-08-12 15:33] qzo commented on #2531
I can confirm the issue. Everything newer than 5.3.6 (which is the last working version) starting with 5.4.5 (including the latest version 5.6.1) fails with a message like

C:\temp5>"c:\Program Files\Java\jdk1.8.0_144\bin\java.exe" -classpath . -Djava.library.path="C:\temp5" LoadTest
Exception in thread "main" java.lang.UnsatisfiedLinkError: C:\temp5\librocksdbjni-win64.dll: A dynamic link library

[2017-08-12 16:32] adamretter commented on #2729
I can' reproduce the problem you are seeing on my Mac:

macOS Sierra (10.12.5)
Apple LLVM version 8.1.0 (clang-802.0.42)
Target: x86_64-apple-darwin16.6.0

[2017-08-12 16:46] adamretter commented on #2531
@qzo Please see my comment above

[2017-08-12 18:15] qzo commented on #2531
I have read your comment many times. Not sure what else I can do, there's no more output. As I said, the behavior is different between 5.3.6 (and older versions, which work) and 5.4.5 (and later versions, which don't work).

[2017-08-12 19:30] ilovezfs commented on #2729
@adamretter it occurs on all 3 CI nodes (10.12, 10.11, and 10.10):

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/6429/
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/6429/version=sierra/console
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/6429/version=el_capitan/console
https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/6429/version=yosem

[2017-08-12 19:58] ilovezfs commented on #2729
@adamretter also note it occurs during `make tools`.

[2017-08-12 20:06] ilovezfs opened #2731 "5.7.1 rocksdb_lite use of undeclared identifier 'abort' on macOS"
This is with `ENV.append_to_cflags "-DROCKSDB_LITE=1"`

[code]
full log https://gist.github.com/ilovezfs/076b28dfafb66357b4adc73be1858967

[2017-08-14 04:48] #2488 closed

[2017-08-14 08:38] framlog opened #2733 "some problems with 5.6.1"
Hi,

What's the version of the stable release package?

I upgraded the rocksdb version from 4.6 to 5.6.1 recently, but it seems to have many problems. For example, we encounter a write stall after tcpcopy running a while with the pipeline write enabled (specifically, 9 of 10 write threads stall at waiting the condition variable, and only one thread can work normally.) Or I even got a core dump at

[2017-08-14 12:02] framlog commented on #2733
#1  0x00000000010cab4f in std::char_traits<char>::copy (__n=20, __s2=<optimized out>, __s1=0x12f456c0 "\200\326\367\023")
    at /opt/soft/gcc-5.4.0/gcc-build-5.4.0/x86_64-unknown-linux-gnu/libstdc++-v3/include/bits/char_traits.h:290
#2  std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> >::_S_copy (__n=20, __s=<optimized out>, __d=0x12f456c0 "\200\326\367\023")
    at /

[2017-08-14 14:17] adamretter commented on #2531
@qzo Thanks for your patience, I just tested again. I need to revise the library name in the code above. Also `java.library.path` should of course point to a directory containing the DLL rather than the DLL itself. Please can you try again with the changes?

[2017-08-14 15:25] adamretter commented on #2729
@ilovezfs Okay I just tried `make clean && make tools` on tag `v5.7.1` and all works fine here.

[2017-08-14 17:20] qzo commented on #2531
Your new version of the LoadTest class is what I've been using from the beginning (I fixed the library name and added the semicolon), so unfortunately I can't tell you anything new. If it's a new problem it might be some incompatibility with the new Windows 10 update ("Creator's Update"). But I'm only guessing. If there's anything else I can try, just tell me.

Just in case: I have latest Visual C

[2017-08-14 18:17] yiwu-arbug commented on #2733
Hi @framlog. The latest release is 5.7.1. All the versions we tagged on https://github.com/facebook/rocksdb/releases are considered stable at the time we release, though there can be issues found later on, and we bump minor version with hot fixes.

Regarding pipelined write, are you seeing the threads get deadlock at waiting the condition variable, or are they able to advance? If it is not deadloc

[2017-08-14 18:26] yiwu-arbug commented on #2731
@ilovezfs Thanks for the report. What compiler are you using?

[2017-08-14 18:31] yiwu-arbug commented on #2722
Fix included in 5.7.1.

[2017-08-14 18:31] #2722 closed

[2017-08-14 18:37] yiwu-arbug commented on #2715
I never see the issue before and we are not using assembly in our code explicitly. Can you Google search the error message and see if there are solutions?

[2017-08-14 18:39] yiwu-arbug commented on #2729
Not reproducing on my side either. MacOS 10.12.6 + Apple Clang 8.1.0

[2017-08-14 19:06] guozhangwang opened #2734 "PrepareForBulkload set num.levels to 2 causing exception"
When we set the `options.prepareForBulkload` to true, it auto-set the `num.levels` to 2 for optimized bulk load. However, for cases when there is already existing sst files for this rocksDB (we have scenarios where we have a "stale" rocksdb file and we have a log of updates after that stale checkpoint, and we are trying to bulk load these changes before reusing the store) we can encounter the foll

[2017-08-14 19:06] guozhangwang commented on #2734
cc @siying  @adamretter

[2017-08-14 19:25] adamretter commented on #2715
NB: This was cross-posted from Stackoverflow - https://stackoverflow.com/questions/45647631/make-compilation-error-of-open-source-project-on-linux-like-tmp-ccnvqmsf-s7

[2017-08-14 19:27] adamretter commented on #2531
@qzo Does `-Xcheck:jni` shed any further light on the problem?

[2017-08-14 19:28] adamretter commented on #2531
Also, could you try `dumpbin` and [`depwalker`](http://www.dependencywalker.com/) to check you don't have any missing dependencies?

[2017-08-14 19:37] ajkr commented on #2715
a user mentioned to us today that running `PORTABLE=1 make ...` fixed a similar issue on CentOS.

[2017-08-14 20:39] qzo commented on #2531
I haven't tried dumpbin yet, since I'll probably need to install Visual Studio - I'll do it later, if needed. But I've attached some output from Dependency Walker. I've tried it earlier, but found out, that the API-MS-WIN* error are misleading:
[https://social.msdn.microsoft.com/Forums/en-US/a28331ae-19a3-4a34-b3ba-1e8fd4430375/missing-apimswincore-dlls?forum=windowsgeneraldevelopmentissues](url)

[2017-08-14 23:15] ilovezfs commented on #2729
The install method is
[code]
If I skip straight to `make tools` then that step works. But if `make static_lib` has been run, then the `make tools` step fails.

I hope that helps.

[2017-08-14 23:17] ilovezfs commented on #2731
[code]

[2017-08-14 23:18] ilovezfs commented on #2731
[code]

[2017-08-14 23:33] siying commented on #2731
@yiwu-arbug I think we should remove it. In public .h file, call function abort() assuming it is there is not a good idea. I think we should simply return -1.

[2017-08-15 01:36] framlog commented on #2733
Thanks for reply.

Well, for the first problem, threads stalled at waiting the condition variable, but I don't sure about it's a bug of rocksdb after a review today since the server may restart while having a plethora of wallog. Also, I've read the logic of the write procedure but didn't think it had some bugs in it.
For the second problem, I'll get you know once we encounter that problem again

[2017-08-15 05:19] yiwu-arbug commented on #2707
A workaround is add USE_RTTI=1 when building, e.g. `USE_RTTI=1 make all`.

[2017-08-15 10:29] zawlazaw opened #2742 "Add SeekForPrev() to RocksJava"
Currently, the iterator in RocksJava does only support `Seek()`, but not `SeekForPrev()`.
According to the [Rocks Wiki](https://github.com/facebook/rocksdb/wiki/SeekForPrev), the latter one was added to RocksDb in 4.13.
Although possible, it is clumsy and inefficient to manually simulate the behavior of `SeekForPrev(`) in user code.

Adding `seekToPrev` to the `RocksIteratorInterface` (and its imp

[2017-08-15 12:08] zhangjinpeng1987 opened #2743 "delete_range and memtable prefix bloom filter bug"
When enable memtable prefix bloom filter, at the same time use delete_range may see keys have deleted by delete_range.
For example, when I put keys (`a111`, `b111`, `c111`, let we use FixedLength(1) as prefix extractor) and then flush them into sst file. After that, I delete_range(a111, c111), when I db.Get(`b111`), it will return the value in sst file.
Because here did't consider delete_range whe

[2017-08-15 12:09] zhangjinpeng1987 commented on #2743
@ajkr

[2017-08-15 13:41] adamretter commented on #2729
@ilovezfs Okay I can reproduce with `make clean && make static_lib && make tools`:

[code]

@yiwu-arbug Should that work?

@ilovezfs I guess for a quick fix you could work around my injecting another `make clean` into your build script?

[2017-08-15 13:51] ilovezfs commented on #2729
@adamretter yup, and then I hit: https://github.com/facebook/rocksdb/issues/2731

[2017-08-15 13:53] ilovezfs commented on #2729
@adamretter @yiwu-arbug presumably it should, since it used to work before this latest release.

[2017-08-15 15:32] adamretter commented on #2531
@qzo I am wondering if it is the version of the C++ redistributable that you have. RocksJava is built using Visual Studio 2015. On my Windows system I have C++ redistributables 2012, 2013 and 2015.

Perhaps you could try uninstalling 2017, installing 2015 and then re-installing 2017? I believe this issue also describes that problem - https://github.com/facebook/rocksdb/issues/2622

[2017-08-15 15:45] adamretter commented on #2622
@mkosieradzki So the article you linked seems to suggest copying the .dll's for the C++ runtime into the application package, and names the files as `mfc100u.dll` and `msvcr100.dll`.
However Visual Studio 2015, does not seem to have those files, the closest named files that I can find is `mfc140u.dll` and `msvcp140.dll`. However I am not at all sure they are the correct files.

Is it really a prob

[2017-08-15 15:55] mkosieradzki commented on #2622
It depends on the VS version.
VS2015 (internally named 14) uses msvcr140.dll

IMO. It is usually not a problem, I am just providing this specific solution for people that are very pushy on static linking which I find useful in limited number of scenarios.

People tend to do the following (false) distinction:
1. static linking - hooray! we don't have to install anything
2. dynamic linking - booo! w

[2017-08-15 15:57] adamretter commented on #2622
@mkosieradzki Strange. I cannot find a `msvcr140.dll` on my system, only a `msvcp140.dll`?!?

[2017-08-15 15:58] siddontang commented on #2743
Another serious problem when enable memtable prefix bloom filter.

After we ingest a SST, may k1 -> v1, k2 -> v2, ... kn-> vn, and delete k2.
Sadly, seeking k2 can get k2.

[2017-08-15 16:15] mkosieradzki commented on #2622
My bad. There is new layout in VS 2015 (I used the mechanism described above for older runtime versions) so I didn't noticed that they have changed the package layout in VS2015.

https://blogs.msdn.microsoft.com/vcblog/2015/03/03/introducing-the-universal-crt/

There are many good news in the linked article :), especially when targeting the newest versions of windows.

BTW. application local metho

[2017-08-15 16:17] mkosieradzki commented on #2622
Also yet another point against static linking:

[2017-08-15 17:42] yiwu-arbug commented on #2742
You are welcome to send us a pull request. Our Java binding and C binding are largely rely on community contribution.

[2017-08-15 17:59] adamretter commented on #2742
@zawlazaw is this something you could contribute?

[2017-08-15 19:04] qzo commented on #2531
Didn't help. After uninstalling 2017 redistributables, I got a different error (with the same stacktrace):
Can't find dependent libraries

Then after installing 2015 redistributables, I again got
A dynamic link library (DLL) initialization routine failed
Then after installing 2017 redistributables, again:
A dynamic link library (DLL) initialization routine failed

Then I checked "Programs and Feat

[2017-08-15 19:09] yiwu-arbug commented on #2729
The workaround is doing `DEBUG_LEVEL=0 make tools`. I'm still checking why `make tools` will build some of the test only code.

[2017-08-15 19:18] yiwu-arbug commented on #2729
Seems the inclusion of testutil.h is intentional. Please either `make clean` before `make tools`, or adding `DEBUG_LEVEL=0` for all your make commands. Let me know if it works for you.

[2017-08-15 19:19] yiwu-arbug commented on #2717
@maysamyabandeh any quick thoughts?

[2017-08-15 19:25] merlimat commented on #2717
Tell me if you need any other information that might help here.

[2017-08-15 19:27] yiwu-arbug commented on #2707
What's the command you use to build? `make all` are not compatible with `DEBUG_LEVEL=0`.

[2017-08-15 20:58] maysamyabandeh commented on #2717
[code]
The sst file is genuinely empty. The bug must be about dumping an empty sst file after a sudden crash.

[2017-08-15 21:54] zawlazaw commented on #2742
Yes, I will give it a try. The coding part is no problem. Further, the compilation chain works now (generating the jars via 'make rocksdbjavastatic' and adding them to a test project). To me the more challenging problems are 1. available time, 2. being unfamiliar with the typical github-workflow (clone, branch, pull-requests) and 3. the CLA.
However, since the coding part of this issue is rather t

[2017-08-15 23:05] yiwu-arbug commented on #2731
We tagged 5.7.2 with the fix.

[2017-08-15 23:05] #2731 closed

[2017-08-15 23:11] guozhangwang commented on #2734
@yiwu-arbug Thanks for your suggestion. As for `Issue a full CompactRange() with target level`, I saw there is this API:

[code]

Just clarify I should call with parameter `compactRange(false, 1, 2)`, right?

Also you mentioned `Reopen db once your old options.num_levels`.. do you mean the following:

After the database object is opened with the old num_levels, say the default value, 7, call `comp

[2017-08-16 04:08] rockeet commented on #2710
@ajkr @siying @IslamAbdelRahman Is there any update?

[2017-08-16 07:33] zhangjinpeng1987 commented on #2743
'''
Another serious problem when enable memtable prefix bloom filter.

After we ingest a SST, may k1 -> v1, k2 -> v2, ... kn-> vn, and delete k2.
Sadly, seeking k2 can get k2.
'''
@ajkr this [pr](https://github.com/facebook/rocksdb/pull/2745) don't fix the problem mentioned above.

[2017-08-16 08:37] ilovezfs commented on #2729
@yiwu-arbug hmm … this no longer seems to be a problem in 5.7.2.

[2017-08-16 09:40] zawlazaw commented on #2742
Since the above PR was my first github-contribution ever, I just wanted to mention that it was fun and less hard than expected. Getting the CLA was trivial, and for the git-workflow I followed the [GitHub Standard Fork & Pull Request Workflow](https://gist.github.com/Chaser324/ce0505fbed06b947d962).
While reading the code, I detected some other minor possible improvements (e.g., IMO `java/make run

[2017-08-16 11:32] zhangjinpeng1987 commented on #2743
`test_prefix_bloom_delete_after_ingest` in this [file](https://github.com/pingcap/rust-rocksdb/pull/118/files#diff-fcd9700172ff6f22606f4ecd7ab25a88L617) reproduce the exact situation described above.

[2017-08-16 12:25] zhangjinpeng1987 opened #2748 "Ingest file and prefix bloom bug"
I wrote a test case and found when delete a key covered by external sst file which ingest before, seek will see the deleted key.
[code]

[2017-08-16 12:25] zhangjinpeng1987 commented on #2748
@ajkr @siying

[2017-08-16 12:50] zhangjinpeng1987 commented on #2748
I found the reason, it is because of prefix seek mode.

[2017-08-16 12:57] siddontang commented on #2743
The second problem is our fault, we don't use total seek mode :sob:

Please ignore it.

[2017-08-16 14:24] #2729 closed

[2017-08-16 20:18] guozhangwang commented on #2734
@yiwu-arbug could you confirm my understanding? Thanks!

[2017-08-16 21:10] ajkr commented on #2748
Prefix seek's default behavior can be confusing. Let us know if you see any more suspicious behavior :).

[2017-08-16 21:10] #2748 closed

[2017-08-16 21:27] ajkr commented on #2743
Agreed. I updated the wiki (https://github.com/facebook/rocksdb/wiki/Prefix-Seek-API-Changes) slightly:

Before: "... we might return Valid()=false, or any key in the DB that is larger than the previous key"

After: "... we might return Valid()=false, or any key that is larger than the previous key"

In optimized prefix seek mode (default), we use a special memtable iterator that only sees keys in

[2017-08-16 21:32] yiwu-arbug commented on #2734
This steps:
1. compactRange(true, 1, path_id); // path_id = 0 if you don't have multiple db_paths
2. Reopen with old num_levels (e.g. 7)
3. Reopen again with options.prepareForBulkload.

Step 2 is to workaround max levels check during recovery.

[2017-08-16 22:08] guozhangwang commented on #2734
Thanks @yiwu-arbug !

[2017-08-16 23:57] #2734 closed

[2017-08-17 05:37] framlog commented on #2733
Asan didn't generate any useful information, it just repeated the core stack. Is it because I didn't enable asan properly(I compiled the library with `COMPILE_WITH_ASAN=1` but static link the library into the program) ?

[2017-08-17 07:06] zhangjinpeng1987 opened #2752 "bug with DeleteRange"
When I use `DeleteRange`, after compaction, some keys have been deleted by `Delete` reappear, and some keys not covered by `DeleteRange` disappear.
For the same data, we have 3 replicas, 1 replica is wrong, and the others are correct.
I can't find out where the problem is. @ajkr

[2017-08-17 07:59] #2673 closed

[2017-08-17 14:23] adamretter commented on #2742
I see that you have already sent a PR :-)

I am not sure I like the idea of make `rocksdbjavastatic` also executing `run_test`. I rather prefer to have small targets that can be combined when needed.

[2017-08-17 16:02] zawlazaw commented on #2742
(sorry for continuing OT): I agree, always running all tests is probably too much. My intention was to *force* test execution before *publishing* (similar to jenkins), so a better alternative might be to let `rocksdbjavastaticpublishcentral` additionally depend on `run_test`. However, this is really no longer related to `seekForPrev` :)
So back to meta-level: where to discuss such (and more advanc

[2017-08-17 21:50] #2743 closed

[2017-08-18 01:13] h-1 commented on #2668
Hi @mikhail-antonov , I am sure you're very busy. But have you had a chance to look into it? Thank you for the help.

[2017-08-19 02:24] vadsh commented on #2531
I have exactly the same problem described by qzo

[2017-08-19 04:02] zhangjinpeng1987 commented on #2752
In our case,  each region(key range) have 3 replicas distributed in 3 different node.

The following is the progress how we encounter this problem.
[code]
And then, we iterator all the keys for all 3 replicas and found that replica at node 2 missing 200 thousands kv pairs, and 6 thousands kv should have been deleted reappeared.

The following is the key events on node 2
[code]

[2017-08-19 04:06] zhangjinpeng1987 commented on #2752
[RangeDelAggregator::AddTombstone(RangeTombstone tombstone)](https://github.com/facebook/rocksdb/blob/master/db/range_del_aggregator.cc#L211) and [RangeDelAggregator::AddToBuilder](https://github.com/facebook/rocksdb/blob/master/db/range_del_aggregator.cc#L387) are a bit of suspicious

[2017-08-19 08:25] zhangjinpeng1987 commented on #2752
Sst in level greater than 0 also maybe overlap by the border user key.
i.e. we have a delete range [A, F), when compaction output first 1.sst, its largest key is `D`,   we will add delete range [A, F) into this sst, and reset its largest key to `E`(the next sst's smallest key) with seqno = `kMaxSequenceNumber` type = kTypeRangeDeletion.
When generate 2.sst we also add delete range [A, F) into this

[2017-08-19 14:45] jackbergus opened #2762 "Problem with comparator"
There are some problems while trying to extend the comparator

https://stackoverflow.com/questions/45603644/implementing-a-comparator-for-rocksdb

The problem seems to be with the header of the class: the destructor is defined in .h, but it is not exported in the .cpp, therefore any class trying to extend it, make the linking phase to fail.

I've just managed to solve the problem within my reposit

[2017-08-19 16:29] adamretter commented on #2531
@vadsh Did you try installing the C++ 2015 redistributable package from Microsoft?

[2017-08-20 01:42] siddontang commented on #2752
/cc @ajkr

[2017-08-21 02:51] maysamyabandeh commented on #2687
@adamretter since this is a bit unintuitive is it possible to automatically point the users to the wiki doc. For example we can augment the assert message to include that. Or perhaps we can do more?

[2017-08-21 09:17] zhangjinpeng1987 commented on #2752
I found the bug that delete range will wrongly delete keys.

Firstly, when added to sst, the DeleteRange [never split](https://github.com/facebook/rocksdb/blob/master/db/range_del_aggregator.cc#L452), so one DeleteRange may be added to multiple sst files.
Secondly, although the DeleteRange is added to sst, but the range of DeleteRange may be [broader](https://github.com/facebook/rocksdb/blob/maste

[2017-08-21 09:18] zhangjinpeng1987 commented on #2752
The solution is spit the delete range when add to sst.

[2017-08-21 20:45] vadsh commented on #2531
@adamretter
I have the following installed
Microsoft Visual Studio Enterprise 2015
Version 14.0.25431.01 Update 3

When I try to install C++ 2015 redistributable from this link provided by you in another thread 6 days ago:
https://www.microsoft.com/en-us/download/details.aspx?id=48145
I receive the following error message:
http://prntscr.com/gbcs90

Exactly as qzo did.

[2017-08-21 21:01] vadsh commented on #2531
@adamretter
Here are all the c++ redist i have installed:
http://prntscr.com/gbczvj

[2017-08-21 23:07] ajkr commented on #2752
Thanks a lot for investigating this. Can you describe your compaction config? Universal or level, and what kinds of manual compactions, if any?

One of this feature's built-in assumptions is that, when a range deletion gets split between files, any compaction will include either all or none of those files. `ExpandInputsToCleanCut` intends to guarantee this. So in your example, we should not be abl

[2017-08-22 00:23] zhangjinpeng1987 commented on #2752
@ajkr we use level compaction

[2017-08-22 00:55] ajkr commented on #2752
Do you call `CompactRange` or `CompactFiles`?

[2017-08-22 01:40] zhangjinpeng1987 commented on #2752
We have 4 column families, we don't trigger any manual compaction for the column family that lose some data, for another column family we do call CompactRange to compact the whole range.

[2017-08-22 01:51] zhangjinpeng1987 commented on #2752
Do you need the LOG?

[2017-08-22 02:23] ajkr commented on #2752
Sure, LOG would be helpful.

[2017-08-22 02:35] zhangjinpeng1987 commented on #2752
This is the [LOG](https://transfer.sh/JPAYX/LOG.tar.gz), and this is [all ranges](https://transfer.sh/AkYQf/delete-ranges) we have called delete range(for each column family).
And some regions' `write` column families lose some data, also some deleted keys reappear for these regions.
The following are the regions have problem.
[code]

[2017-08-22 09:13] nastarangithub opened #2770 "A performance related question"
Hi,
I'm using RocksDB inside a Java application and the platform is Ubuntu.
There is only one instance of the DB in whole application.
The block of code I'm using to initialize the instance is as follows:

[code]

The problem is that when the RocksDB size is more the 6.5G, the read operation is too slow.
I use `get` method to read a value by a key.
The keys are strings such as "cardno:603799712656

[2017-08-22 14:08] mkosieradzki opened #2771 "Expose replication-related APIs in C API"
Replication-related APIs including:
GetLatestSequenceNumber
GetUpdatesSince

Transaction::SetName
Transaction::Prepare

should be exposed in C API.

I will be happy to create a PR.

[2017-08-22 21:32] mkosieradzki opened #2775 "How to get Sequence Number for prepared writebatch when using 2PC?"
I am probably missing something or there is no such information stored.

I am implementing a distributed database based on a synchronously replicated RocksDB.

To synchronously replicate RocksDB I would like to use 2PC. My concept is fairly simple:
Prepare()
Replicate()
when got quorum acknowledgement
Commit()

Implementation-wise I am considering two alternative approaches:
### Custom LSN
Prepare

[2017-08-22 23:38] zhangjinpeng1987 commented on #2752
@ajkr Any discovery?

[2017-08-23 00:32] ajkr commented on #2752
Unfortunately, no, the compactions look pretty normal in your LOG file. I've looked at the code and written some tests for your theory about tombstone getting split between level, but couldn't find a way for it to happen so far. Is it reproducible?

One way to verify your split-level theory: you can check the manifest around the time of the compactions. You can check the min/max key of the input f

[2017-08-23 01:29] zhangjinpeng1987 commented on #2752
Unfortunately, the DB has been reopened.

[2017-08-23 01:30] zhangjinpeng1987 commented on #2752
BTW, it is hard to reproduce, we just meet once util now.

[2017-08-23 01:35] zhangjinpeng1987 commented on #2752
Is there any other possible that will cause data lose and deletions be dropped not correctly?

[2017-08-23 01:48] ajkr commented on #2752
Currently we don't know of any other reasons.

I noticed that your range deletions are probably never dropped. In your LOG there's a few files in L6 and compactions generally output to at most L3. Since range deletions are only dropped when compacted to the bottommost level, they shouldn't be dropped. You could use `sst_dump` to see whether the tombstones you expect to cover the reappearing keys a

[2017-08-23 02:11] zhangjinpeng1987 commented on #2752
If the delete range has no overlap with L6, L3/L2 also can be [bottommost level](https://github.com/facebook/rocksdb/blob/master/db/compaction.cc#L86).

[2017-08-23 03:31] zhangjinpeng1987 commented on #2752
Unfortunately, I don't find any useful clue with sst_dump.

[2017-08-23 08:19] zhangjinpeng1987 commented on #2752
I found a suspicious place in LOG, `56279.sst` is contained in compaction JOB 5850, but is deleted in JOB 5822. I can't understand how this could happen.
[code]

[2017-08-23 17:58] ajkr commented on #2762
I tried this and got the same error as you. It was fixable by adding `-fno-rtti` to my comparator's build flags. Does that work for you? Alternatively, rebuilding rocksdb library with `USE_RTTI=1` worked for me.

cc @siying we may need to update some docs.

[2017-08-23 17:59] ajkr commented on #2762
I am curious, though, what is the code change you have that fixes it?

[2017-08-23 18:23] zawlazaw opened #2778 "All travis-ci builds on osx are hanging"
According to here: https://travis-ci.org/facebook/rocksdb/pull_requests, all travis-ci builds since ~16 hours ago are hanging. They all finish their linux build jobs, but cannot start any osx build job.
Since my build [#8923](https://travis-ci.org/facebook/rocksdb/builds/267341384) is the first in the chain of hanging builds, I wonder whether I made a mistake.
I found the following bug report on t

[2017-08-23 18:48] jackbergus commented on #2762
With the current version, it works. Beforehand, the descructor was declared only in the .h file, and missing on the cpp one, hence there were some problems in the linking phase, because not all the methods were compiled correctly.

[2017-08-24 06:48] ajkr commented on #2752
Did 5822 finish after 5850 finished? Maybe there was a user iterator when 5850 finished, in which case the SST files are preserved. 5822 might be the first caller of `PurgeObsoleteFiles` when the SST files are unreferenced and thus eligible for deletion.

[2017-08-24 12:37] zhangjinpeng1987 commented on #2752
Yes, JOB 5822 was finished after JOB 5850.
Another question, when would delete a non-existing file?
[code]

[2017-08-24 13:42] framlog commented on #2733
I fixed this problem by         changing  [`PinSlice`](https://github.com/facebook/rocksdb/blob/7fbb9eccafb2421a020a60b26e0413d3cff1cdf0/table/get_context.cc#L114) to `PinSelf`, which I think it's an offset against the aim of the `PinnableSlice` though... But, I don't know the exact reason currently.

[2017-08-24 22:00] zawlazaw commented on #2778
Ok, finally my build (and later ones) finished with ~19 hours latency.
Looking at the list of open jobs today shows that it is typical to wait ca. 20 hours to get osx resources for testing, while the linux jobs start immediately.

[2017-08-24 23:44] zawlazaw commented on #2668
Using RocksDb 5.7.2, I did some straightforward benchmark on generated data rather than reading from a file. The benchmark has three parts:
- depth 1: generate key/value-strings ⇒ ca. 6M records/sec (thus, reading "input" is no issue here...)
- depth 2: ...additionally generate Slice instances ⇒ ca. 450k records/sec
- depth 3: ...additionally write the slices to the sst file ⇒ ca. 400k records/sec

[2017-08-24 23:52] siying commented on #2668
CC @scv119

[2017-08-25 00:00] IslamAbdelRahman commented on #2668
Thanks @zawlazaw for sharing such insights, @adamretter, Are we expecting such huge overhead from creating the slice ? is it because of memcpy ?

[2017-08-25 07:44] zawlazaw commented on #2668
I did another benchmark that solely focuses on creating slices. It first creates a single large byte-array that concatenates 35 million 30-byte-records. Then it proceeds in one of 3 variants:
- A: fetch all 35M records as an individual byte-array ⇒ ca. 15M records/sec
- B: fetch and do another copy of the fetched record ⇒ still ca. 13M records/sec (array-copy within java)
- C: fetch and create a s

[2017-08-26 11:31] benoitc commented on #1193
i can see some instructions to build onios but none on android . Is this possible to build rocksdb lite for android ? Any example on how to do it if possible?

[2017-08-26 13:28] zawlazaw commented on #2668
Note that I edited my above post on the Slice-creation benchmark by including DirectSlice.

As a follow-up, here is the final benchmark of writing sst files much faster than before, which solves the specific original issue. The trick is to use DirectSlice in the right way (which currently only works if all keys have the same length, similar for all values).

In order to not measure input data crea

[2017-08-26 21:33] zawlazaw commented on #2778
The problem does no longer exist, so I'll close this issue as "wasn't a real issue".

[2017-08-26 21:33] #2778 closed

[2017-08-27 00:23] zawlazaw commented on #2668
Sorry for writing so much, but I just realized that the master branch latterly contains ```SstFileWriter.put(byte[], byte[])``` (as an alternative to creating Slice or DirectSlice) thanks to PR [2746](https://github.com/facebook/rocksdb/pull/2746). An extended benchmark shows that this approach yields ca. **1.6M** records/sec - while providing the flexibility of variable-length keys/values! It wou

[2017-08-27 00:39] guozhangwang commented on #2533
@siying Unfortunately I cannot easily get a core dump as the above issue only happens during unit tests in jenkins builds.

[2017-08-27 11:57] zawlazaw commented on #2668
Hello again... I just implemented ```SstFileWriter.put(ByteBuffer, ByteBuffer)```. Not surprising, it yields ca. **2.3M** records/sec, same as if re-using the same DirectBuffer in Java. However, the strong benefit over ```SstFileWriter.put(DirectSlice, DirectSlice)``` is that every key/value can have an individual length, and the ByteBuffers can be filled/flipped in the standard ```java.nio``` way

[2017-08-27 12:03] zawlazaw commented on #2668
Final comment & repeated question: the above way of working with re-used ```ByteBuffer``` assumes that every C++-internal read access has finished as soon as the JNI method returns (because then the data can be changed immediately from Java code). Is it safe to assume this? Or is there some chance that a background-thread wants to access the C++-Slice at a later point again (and could then read co

[2017-08-27 22:16] benoitc commented on #2490
what was the issue?

[2017-08-28 02:02] zhangjinpeng1987 commented on #2752
@ajkr We encounter the same problem once again, i will keep this issue updated later.

[2017-08-28 05:30] zhangjinpeng1987 commented on #2752
I find a very suspicious place in [MANIFEST](https://transfer.sh/LaSHK/manifest) file, one sst file's smallest key is larger than largest key.
'''
{"Level": 1, "FileNumber": 185830, "FileSize": 34742680, "SmallestIKey": "'7A7480000000
000000FF2B5F728000000000FF0E33560000000000FAFA87C93C4F53FFE2' seq:1903186226, type:1", "LargestIKey": "'7A7480000000000000FF215F728000000000FF198E0B0000000000FAFA87C

[2017-08-28 11:00] zhangjinpeng1987 commented on #2752
After investigating the MANIFEST and LOG, we found `JOB 10643` L0->L1 compaction didn't take all overlapped sst files in L1, this result in overlap in L1 after job finished. This situation will cause the following compaction iterator is not incremental, this is the exact reason why smallest key is larger than largest key.

After investigating the manifest, the reason why sst's smallest key is larg

[2017-08-28 14:12] huachaohuang commented on #2752
Seems this snippet will produce a SST file with a wrong range:
[code]

MANIFEST:
[code]

[2017-08-28 14:19] thedrow opened #2793 "Put/Get std::string_view"
C++17 has introduced std::string_view which are very similar to the Slices API RocksDB provides.
Boost also has an implementation of string_view.
Put & Get do not allow to set anything else other than a Slice.
It'd be very useful to have an API for Put/Get that works for more string-like types such as string_view.

[2017-08-28 20:47] sagar0 commented on #2778
Late, but ...

We do occasionally see our travis builds having a considerable lag.

@zawlazaw You should see an option to restart a travis build once you create an account and log in to travis.

push with --force option is the only way to rebase.

[2017-08-28 21:55] ajkr commented on #2752
@huachaohuang The ["a", "b") deletion is newer than the newest snapshot. It should be dropped when compacted to bottommost level (L0 in your case) as it's not needed for correctness of any snapshot. So ["b", "c"] looks like the right range to me. Anything I missed?

[2017-08-28 23:29] ajkr commented on #2752
@zhangjinpeng1987 Thanks, understood.

Is it possible the ingested SST files contain range deletions?

[2017-08-28 23:43] zhangjinpeng1987 commented on #2752
@ajkr Never, ingested sst files only contain PUT.

[2017-08-28 23:51] huachaohuang commented on #2752
@ajkr Let's see another example and check what's happen:
[code]
MANIFEST:
[code]
000007_dump.txt
[code]
000010_dump.txt
[code]

I think the problem is in `RangeDelAggregator::AddToBuilder`, it only considers the smallest key of the first added tombstone. But in this case, the first added tombstone will be [b, c) because the snapshot between [b, c) and [a, b).

[2017-08-29 00:25] scv119 commented on #2668
@zawlazaw Thanks for working on this. It's interesting to me that `SstFileWriter.put(ByteBuffer, ByteBuffer)` provides better throughput (1.3 x) comparing the `SstFileWrite.put(byte[], byte[])`. Do you have any insight where these speed up comes from, as I'd expect the throughput would be very close.

Personally if the ByteBuffer provides better throughtput I think we should switch over to it.

To

[2017-08-29 13:48] mdcallag opened #2800 "sst file size mismatch with XFS"
I get an error and the message "sst file size mismatch" when trying to reopen a RocksDB database after a clean shutdown. This happens with XFS, Ubuntu 16.04 and Linux 4.8.

The root cause is a kernel bug - https://lkml.org/lkml/2017/3/20/15

This was briefly discussed at https://fb.facebook.com/groups/rocksdb.dev/permalink/1216227941809051/

And has been fixed by https://github.com/facebook/rocksd

[2017-08-29 13:48] mdcallag commented on #2800
Already fixed. Filed bug to help others who hit this bug.

[2017-08-29 13:48] #2800 closed

[2017-08-29 14:23] unoexperto commented on #908
@sanjosh How did you end-up dealing with visibility of changes made by write-process  in read-only processes ? Is re-opening DB the only way to see changes ?

[2017-08-29 15:10] sanjosh commented on #908
@unoexperto , yes you have to reopen the DB because the SST files get mapped in per-process memory.   The reader cannot see what the writer has written until the DB is reopened.  See https://github.com/sanjosh/smallprogs/tree/master/rocksdb_test

[2017-08-30 01:59] #2752 closed

[2017-08-30 02:36] magiczqw opened #2803 "RocksDB.loadLibrary cause SIGSEGV"
Hi all,
     I downloaded release v5.7.2, merged code for java samples from “Fix statistics in RocksJava sample”, but when I run RocksDBSample, I got SIGSEGV.
     I simplified the code as this:

[code]

Still, I got SIGSEGV. Here is the log:
[code]

[2017-08-30 03:37] h-1 commented on #2668
Thanks, @zawlazaw , for the extensive performance testing. I just gave a test case that had fixed length to isolate issues, actual data will have varied length. Looking at the Java performance, I think I will go with C++ for now. Though still have not tested performance in C++, if you have any numbers on C++, please do share. Thanks again for working on this issue.

[2017-08-30 08:02] alexBaiJW opened #2806 "Does the rocksdb support the HDFS as the storage backend?"

[2017-08-30 13:23] zawlazaw commented on #2668
@scv119 Here are some differences between ```byte[]``` and ```ByteBuffer``` that I am aware of (but I am no expert on that).

**Access at C-side**: If you pass ```byte[]``` via JNI, then at C-side you access the memory via a call to ```GetByteArrayElements``` (then do something with it) and finally call ```ReleaseByteArrayElements```. These two calls do a bit more than trivial stuff: In the worst

[2017-08-30 17:38] andresteves opened #2808 "Corrupted MANIFEST"
Hi,

I am unable to start the database instance. The error I came accross in the logs is
`Detected unclean shutdown - /datadrive/mongodb/mongod.lock is not empty.
2017-08-29T15:56:24.504+0000 I -        [initandlisten] Invariant failure: s resulted in status BadValue: Corruption: no meta-nextfile entry in descriptor at src/mongo/db/storage/rocks/src/rocks_engine.cpp 201
`
Is there anyway to repair

[2017-08-30 18:23] ajkr commented on #2808
Yes, our repair class is the way to go. I just updated the wiki (https://github.com/facebook/rocksdb/wiki/RocksDB-Repairer) with build/usage instructions. Let me know if you have more questions!

[2017-08-30 18:32] andresteves commented on #2808
Thank you very much @ajkr. I will come back in a couple of hours to report! Again thank you for the fast response

[2017-08-30 19:56] paulovap opened #2809 "[Android] SIGSEGV (signal SIGSEGV: invalid address (fault address: 0xa00004)) on Android NDK"
Hello Team,
I manage to compile RocksDB using Android NDK with a fairly trivial change(https://github.com/paulovap/rocksdb/commit/fa4f7b22bce379fed5a3591abf064f15fc1b5ff6) on CMakeFiles.txt, but got stuck in a SIGSEGV when Options object is being destroyed.

The code above is the entry point of the library. It simply creates rocksdb::Option on the stack and returns a string for the java part:
[cod

[2017-08-31 14:54] andresteves commented on #2808
Hi @ajkr I am trying to 'make -j64 ldb' but keeps on happening:

`virtual memory exhausted: Cannot allocate memory
virtual memory exhausted: Cannot allocate memory
virtual memory exhausted: Cannot allocate memory
virtual memory exhausted: Cannot allocate memory
Makefile:1725: recipe for target 'cache/lru_cache.o' failed
make: *** [cache/lru_cache.o] Error 1
make: *** Waiting for unfinished jobs...

[2017-08-31 17:07] ajkr commented on #2808
Can you try without the `-j64`? I should remove it from the wiki as that's just the parallelism setting that works best on my server, not for everyone.

[2017-08-31 17:45] yuslepukhin opened #2816 "Attemipting to switch to VS 2017 CI build reveals compiler internal error"
MSVC 2017 latest at this point in time compiler reports the following and aborts the build. This reproduces only when we build optimized debug build for CI.

Removing -DOPTDBG=1 allows the build to proceed. However, the latter may significantly slower the tests which do not run against  a RAM drive on AppVeyor (point to explore).

The bug does not reproduce with VS 2015.

`c:\dev\external_sst_erro

[2017-08-31 19:54] andresteves commented on #2808
Thanks @ajkr . That worked and I was able to recover the MANIFEST but lost all my sst files... Is that normal? I am now unable to login to mongodb with my normal credentials.

[2017-08-31 20:36] ajkr commented on #2808
can you show us the warnings/errors in the repairer's output?

[code]

[2017-08-31 21:31] siying commented on #2809
This is strange. As a C++ function, this shouldn't have any problem. I'm not an expert on JNI. I don't know what diference it can make.

Two members of ColumnFamilyOptions is of type SliceTransform. In your screen shot, we've seen prefix_extractor is null. How about memtable_insert_with_hint_prefix_extractor?

[2017-08-31 21:38] siying commented on #2793
Is it for performance improvement or the convenience of code using RocksDB? I don't see how performance can be improved with it.

[2017-08-31 23:17] yuslepukhin opened #2818 "BlobDBTest.ReadWhileGC test fails because it attempts to destroy database more than once"
WARNING: blob_db_test_je::BlobDBTest.ReadWhileGC State: Completed
WARNING: Note: Google Test filter = BlobDBTest.ReadWhileGC
WARNING: [==========] Running 1 test from 1 test case.
WARNING: [----------] Global test environment set-up.
WARNING: [----------] 1 test from BlobDBTest
WARNING: [ RUN      ] BlobDBTest.ReadWhileGC
WARNING: c:\dev\rocksdb\rocksdb\utilities\blob_db\blob_db_test.cc(62): error

[2017-08-31 23:27] #2818 closed

[2017-08-31 23:32] siying commented on #2818
@yiwu-arbug  is it a bug?

[2017-08-31 23:38] yiwu-arbug commented on #2818
Maybe a true IO error. @yuslepukhin is it resolved?

[2017-08-31 23:45] yuslepukhin opened #2820 "BlobDb::Open leaks memory"
After new the code returns 3 times w/o deleting the allocated DB. The ptr to the db is passed to the listeners before db is fully initialized and then become dangling ptrs if leaks are fixed.

https://github.com/facebook/rocksdb/blob/4a90cbf42970185ebd2d1c5aac253424ca443ccf/utilities/blob_db/blob_db.cc#L138

[2017-09-01 00:26] yiwu-arbug commented on #2820
Thanks for reporting. Will fix.

By the way, are you trying to use blob db?

[2017-09-01 06:10] thedrow commented on #2793
This is mainly for convenience of code using RocksDB API. I expect C++17 codebases to use that type so RocksDB should accept it one way or another.
It may be easier to simply add a constructor overload for string_view in Slice so that they'll point to the same data.
Another approach is to solely use string_views but that will break the API.

[2017-09-01 09:13] andresteves commented on #2808
Well on my stupidity I ran the repair again to the same log file...
But I knew the error and so I search on repair.cc code and the text show was:

[code]
and
[code]

Any of this helps?

Thanks

[2017-09-01 09:13] paulovap commented on #2809
memtable_insert_with_hint_prefix_extractor is also nullptr

[2017-09-01 09:29] qimj opened #2822 "Centos7 signal SIGSEGV with gcc7.1.0"
hi, all
I  compiled RocksDB5.7.3 with gcc 7.1.0 and run simple code like this:

[code]
and i got signal SIGSEGV here.

<img width="1383" alt="sig" src="https://user-images.githubusercontent.com/6648308/29963894-efea499c-8f3a-11e7-9a82-70d7c5fcf22b.png">

it seemed rocksdb::ColumnFamilyOptions::~ColumnFamilyOptions try to free some invalid address.

[2017-09-01 14:11] paulovap commented on #2809
If you remove does two lines it does not throw a SIGSEGV anymore:
![image](https://user-images.githubusercontent.com/2519883/29973039-7463ff72-8f2e-11e7-9cd7-3c64935949b3.png)

I wonder how assigning  to a size_t and a uint64_t would cause an illegal memory read in the destructor.

Anyway I tried to go further and open the database, but got a SIGABRT in the same class (AdvancedColumnFamilyOptions)

[2017-09-01 14:19] adamretter commented on #2809
Out of interest, if you work with `DBOptions` and `ColumnFamilyOptions` directly instead of `Options` do you get the same issues?

[2017-09-01 14:51] paulovap commented on #2809
Hi @adamretter,

SIGSEGV was thrown on `Options` only
![image](https://user-images.githubusercontent.com/2519883/29975113-87f19ee4-8f35-11e7-993d-56bb1ec87150.png)

[2017-09-01 15:05] adamretter commented on #2809
@paulovap Having looked through the code, like you I can't see why `Option::OptimizeForSmallDB` is a problem. Do you know if there are any tools like ASAN available on Android?

[2017-09-01 15:58] siying commented on #2822
The line number include/rocksdb/options.h:185 doesn't match the file in RocksDB 5.7.3. Can you check which release/commit you are using so that I can find the exact line it crashes?

[2017-09-01 21:14] #2820 closed

[2017-09-02 10:48] paulovap commented on #2809
Hi @adamretter I manage to run with ASAN, after digging through some obscure Android documentation (https://source.android.com/devices/tech/debug/asan)

The signal is caused by a WRITE memory access. Thought the output is not helpful.

This is the output:

[code]

[2017-09-02 14:58] Rafoula opened #2828 "ERROR INSTALL. make: *** [db/version_set.o] Error 1"
Hello,
I have linux 12.04 and I want to install rocksdb.
I Have gcc and g++ version : 4.7.
And after I follow these:

cd rocksdb
sudo make install

and I have this error :
"db/version_set.cc: In member function ‘uint64_t rocksdb::VersionStorageInfo::EstimateLiveDataSize() const’:
db/version_set.cc:2040:18: error: ‘class std::map<rocksdb::InternalKey*, rocksdb::FileMetaData*, rocksdb::VersionStorag

[2017-09-02 21:45] paulovap commented on #2809
I manage to reproduce the bug on my Mac as well:

clang version:

[code]

cmake configuration:
[code]

Following main code:
[code]

Compiled with the following flags:
[code]

Debugger results:
[code]

Valgrind:

[code]

[2017-09-03 00:08] #541 closed

[2017-09-03 00:09] #539 closed

[2017-09-03 00:09] #537 closed

[2017-09-04 03:35] #2822 closed

[2017-09-04 09:03] hshs1103 opened #2830 "L0->L0 Compaction procedure question"
Hi dear all,

Recently, I read 'Level-based Compaction Changes post' which was posted June 26, 2017.

In that post, you said that L0->L0 compaction can reduce L0 files.

I want to know how L0->L0 compaction works.

I have three questions.

For example, In post's case,

![l1-l2-contend](https://user-images.githubusercontent.com/20452176/30018912-b2a99432-9199-11e7-83b8-f75cf869b4c5.png)

1. Is it a

[2017-09-04 14:18] davidklassen opened #2831 "keep_log_file_num option does not work when db is opened in read only mode"
We mostly use RocksDB in read-only mode and the number of LOG.old.* files is constantly growing. It's a bit confusing since the process is able to write the LOG file but does not clean up.

[2017-09-04 17:55] ajkr commented on #2830
Q1: Yes, the dotted lines surround the input files for a compaction, and L0->L0 outputs a single large file. In that illustration there are two parallel compactions -- an L0->L0 taking all the files in L0, and an L1->L2 taking one L1 file and three L2 files. The L1->L2 began before the L0->L0 (maybe this detail is missing in my post).

We need to show two compactions because L0->L0 is only schedul

[2017-09-04 19:30] andre-paris opened #2832 "Can keys be expired with TTL on RocksJava?"
Found that I can open a db with TTL support using:
[code]
But not found a java implementation of `TtlCompactionFilter`.
I'm missing something?

Thanks

[2017-09-05 03:03] huachaohuang opened #2833 "overlapped files of delete range"
Hi, we have updated to v5.7.3, but we still encounter data loss, and it may still cause by delete range.
Here is the MANIFEST file [manifest.txt](https://github.com/facebook/rocksdb/files/1275935/manifest.txt). Look for file 27630 in line 42.
@ajkr

[2017-09-05 03:31] hshs1103 commented on #2830
Thank you for answering my question.

But the second question seems to have made you misunderstand.

My second question means that I want to know the location of the C++ code for L0 compaction.(ex, compaction.cc ).

It's hard to find because i'm not familiar with c++.

And, I want ask more questions.

In your answer, You said L0->L0 outputs a single large file. But I know that the size of the SST

[2017-09-05 06:36] ajkr commented on #2830
Here is the file with the compaction picking algorithm: https://github.com/facebook/rocksdb/blob/master/db/compaction_picker.cc.

The general code for level compaction starts in `SetupInitialFiles`. It'll call `PickIntraL0Compaction` under the conditions I mentioned (L0->L1 is necessary but impossible due to a parallel compaction). `FindIntraL0Compaction` selects the files for compacting into a si

[2017-09-05 06:44] ajkr commented on #2833
Do you have the LOG for generating file 27630? Also do you use any manual compactions on default column family?

[2017-09-05 07:02] huachaohuang commented on #2833
Sorry, the above case has been messed up, but we have just produced another case, here are the LOG and MANIFEST: [rocksdb.tar.gz](https://github.com/facebook/rocksdb/files/1276367/rocksdb.tar.gz)

[2017-09-05 07:59] zhangjinpeng1987 commented on #2833
I find compaction `JOB 1012` didn't pick 72629 and 72636, but the first output of `JOB 1012` 80784 overlap with 72629 and 72636 by delete range mark.

[2017-09-05 08:13] zhangjinpeng1987 commented on #2833
BTW, we didn't use any manual compaction on default column family.

[2017-09-05 08:42] zhangjinpeng1987 commented on #2833
Sst files 72629, 72636, 72647, 72653 are associated with the same delete range mark, and 72647 is nobody's input but deleted wrongly:
[code]
So the contact between 72653 and 72636 has been broken. When `JOB 1012` pick 72653 and executing `ExpandInputsToCleanCut`, 72629 and 72636 will never be picked.

[2017-09-05 10:06] MahiZoho opened #2834 "Regarding Block Cache Setup for ReadOptions and WriteOptions"
Hi,

I would like to setup block cache(2 GB) for ReadOptions(preferably) and WriteOptions. How could i do that?
I couldn't find any reference w.r.t

Please help me in setting it.

Thanks & Best Regards,
- Mahi

[2017-09-05 11:10] zhangjinpeng1987 commented on #2833
sst 72647 is dropped by DeleteFilesInRange, so there is conflict between delete range and DeleteFilesInRange.

[2017-09-05 12:07] Hemanth-Eduru opened #2835 "What is the best way to load huge data set Maintaining Atomicity"
1.What is the best way to load huge data set ( in to already existing DB)  Maintaining Atomicity.
I tried to use the batch but ran into memory issues( Insufficient RAM).
One possible way is to create and Ingest SST files and another possible way is to create a backup of Db before loading and restore it to previous version if that loading fails (or partially loads).
Is there  any Better way to do s

[2017-09-05 12:25] hshs1103 commented on #2830
Thanks again for answering my questions. Your answer is great help to me.

I'm looking at the compaction_picker.cc file now.

I look forward to your answer to the rest of the detailed questions that I have made.

[2017-09-05 16:29] BusyJay opened #2837 "Is there a way to delete files in a non-closed range?"
API `DeleteFilesInRange` will treat range as a closed range `[begin, end]`. But sometimes only files in range `[begin, end)` is meant to be deleted.

[2017-09-05 17:13] siddontang commented on #2837
@siying @ajkr

Now for DeleteRange it uses `[being, end)`, maybe it is better to unify all ranges in operations to left closed and right open.

[2017-09-05 18:48] ajkr commented on #2833
We need to fix `DeleteFilesInRange` to preserve contact between files. Even without range deletions this behavior can cause old versions of a key to reappear (if a user key is split between files and only the file containing newest version is deleted), which is confusing.

[2017-09-06 10:20] cooljiansir opened #2846 "Why "<=" here"
https://github.com/facebook/rocksdb/blob/79810e2d491895b5e4b9dab8fd6ad03ad1f2bb19/db/db_impl_write.cc#L865

`oldest_alive_log` should not be greater than any cf's `OldestLogToKeep()` definitely, why not use `==` instead of `<=` here, did i miss something?

[2017-09-06 13:20] gbitzes opened #2847 "Multi-threaded manual compaction?"
Hi,

After a bulk load, I'm calling CompactRange(nullptr, nullptr) to prepare the db for fast reads. However, by observing CPU usage on the target machine, and rocksdb's LOG file, I'm realizing that only one thread is used for compaction.

Is there some option for turning on multi-threaded manual compaction? I tried setting max_background_jobs to a high value, without any success.

Thanks

[2017-09-07 01:21] corndolly opened #2851 "How could i get the last flush timestamp?"
Hi, experts:
      I disable WAL for my rocksdb,   so i want to know the timestamp last flush operation happened?  How could i get this information?
Thanks!

[2017-09-07 18:47] siying commented on #2846
Is the question about whether the code has a bug, or whether the code can be made clearer to read?

[2017-09-07 18:49] siying commented on #2847
Unfortunately, currently it's not supported in leveled compaction.It is supported in universal compaction, following max_subcompaction.

[2017-09-08 01:15] zhangjinpeng1987 commented on #2833
Another corner case between DeleteFilesInRange and DeleteRange,
L2   sst1[a, c), sst2[c, e) sst3[e, g)
L3   sst4[a, d), ss5[d, g)
Suppose sst2 contains a DeleteRange[c, d) mark, after call DeleteFilesInRange(b, f), sst2 will be dropped, so the content [c, d) in L3 will reappear.
@ajkr

[2017-09-08 02:34] cooljiansir commented on #2846
Not a bug. Just a little confusing, I think that `oldest_alive_log <= OldestLogToKeep()`, isn't it?

[2017-09-08 03:37] ajkr commented on #2833
Oh, good point. We might need a more fundamental change to `DeleteFilesInRange`. We could:

- start from bottommost level and iterate upwards
- at each level:
  - pick the widest clean-cut set of files that fall entirely in the range.
  - reset the range to the min and max of the clean-cut set of files found above.

Then the files being deleted at level `i` are always in a narrower range than the

[2017-09-08 04:23] ajkr commented on #2837
Sounds good but we can't change the default behavior now for compatibility reasons. We could add a flag for excluding right endpoint and default it to false. Want to try implementing it?

[2017-09-08 04:27] ajkr commented on #2835
`IngestExternalFile` with a list of files will allow you to load atomically into a live DB. I think it is the best way.

[2017-09-08 04:36] ajkr commented on #2834
https://github.com/facebook/rocksdb/wiki/Block-Cache

[2017-09-08 04:36] #2834 closed

[2017-09-08 05:05] siddontang commented on #2837
/cc @zhangjinpeng1987

[2017-09-08 20:20] Srogozins opened #2858 "Getting internal compiler error when trying to build on Alpine"
I'm building using following Docker file instructions:

[code]

The build fails with error:
[code]

Doesn't tell much to me. Full build log:
[code]

[2017-09-08 20:25] adamretter commented on #2858
If it helps there are Docker files which are known to work here:
https://github.com/evolvedbinary/docker-rocksjava I couldn't get a build
with Alpine to work, but the CentOS 6 ones work just fine.

On 8 September 2017 at 16:21, Staņislavs Rogozins <notifications@github.com>
wrote:

--
Adam Retter

skype: adam.retter
tweet: adamretter
http://www.adamretter.org.uk

[2017-09-08 20:35] Srogozins commented on #2858
I chose Alpine because it's one of the rare distros that are lighweight and have python3.6 package available.

[2017-09-08 21:43] siying commented on #2858
[code]
I think they mean submitting a bug report to gcc?

[2017-09-08 22:04] ajkr commented on #2808
Do you know what version of rocksdb generated the SST files? Version 4.8 onwards should store column family names in SST files. Earlier versions probably need the manifest to recover files in non-default column families.

BTW, if you want to rerun, you can just move the files out of the `lost/` directory and back into your db directory.

[2017-09-09 20:24] Srogozins commented on #2858
Is it really a gcc bug though?

[2017-09-09 22:31] Srogozins commented on #2858
Looks like the issue was with the docker host running out of memory during build. The image builds on a machine with 16 GB RAM.

[2017-09-09 22:31] #2858 closed

[2017-09-11 11:11] wurikiji opened #2867 "Translating wiki documents and posting them to other repository"
I'm trying to translate wiki documents into Korean.
I wonder whether I could post them to other site/repository with `LICENSE-DOCUMENTATION` file.

[2017-09-11 13:07] andresteves commented on #2808
Hi @ajkr

The RocksDB version is 4.13.5.
I moved the files out of the `lost/` and started the mongodb service and that was when the files went missing.

Any idea why that happened? An update of mongodb (3.2 to 3.4) would cause that?

[2017-09-11 21:04] Rafoula opened #2870 "Install rocksdb in Linux 12.04"
Hello, I have Linux 12.04 and I want to install rocksdb.
Could you help me Someone?
I must install first gflags and these libraries? Or I could install without these libraries.
Libraries:
zlib - a library for data compression.
bzip2 - a library for data compression.
lz4 - a library for extremely fast data compression.
snappy - a library for fast data compression.
zstandard - Fast real-time compres

[2017-09-12 02:53] huachaohuang opened #2871 "WriteBatch corruption when using manual_wal_flush"
[code]

Here is the LOG file [LOG.old.1505097155505139.txt](https://github.com/facebook/rocksdb/files/1294603/LOG.old.1505097155505139.txt).

[2017-09-12 17:31] maysamyabandeh commented on #2775
The seq number has been exposed very recently only for the internal use cases. Exposing it via public API means more work to keep this seq number consistent. For example currently the seq number will be the same before and after recovery. However for soon-to-be-released WritePrepare transactions it takes a bit more work to keep the seq the same across WAL recovery.

However I am in favor of exposi

[2017-09-12 20:13] sagar0 opened #2874 "Improve readahead in RocksDB"
Readahead in RocksDB can be configured by setting `DBOptions.advise_random_on_open = false` and by providing a reasonable value to `ReadOptions.readahead_size` as mentioned here: https://github.com/facebook/rocksdb/wiki/Iterator#read-ahead . But RocksDB's read-ahead implementation incurs considerable overhead and is suitable only for a select few use-cases. RocksDB should optimize its read-ahead i

[2017-09-13 03:06] zhangjinpeng1987 commented on #2871
@ajkr Any clue?

[2017-09-13 18:14] yiwu-arbug commented on #2871
It is hard to debug without the corrupted WAL (.log file). If you can provide the WAL file we can take a look. If you cannot you can debug by looking into the corrupted WAL file. The error says recovery encounter a invalid value type: https://github.com/facebook/rocksdb/blob/eb6425303eb2474009a1a3a4857d7e49ccd19820/db/write_batch.cc#L356

cc @maysamyabandeh

[2017-09-13 18:16] yiwu-arbug commented on #2870
yes you can install without those libraries, as long as you don't need the compression support.

[2017-09-13 18:20] maysamyabandeh commented on #2871
The log says:
[code]
Are you sure the issue related to manual_wal_flush? Even if it was set, how can we be sure that is due to that specifically?

[2017-09-13 18:30] yiwu-arbug commented on #2851
Manually, you can look at the LOG file and search for flush event.

Programmatically, you can call `DB:: GetPropertiesOfAllTables` and check `table_properties.creation_time`.

[2017-09-13 19:51] siying commented on #2870
As what @yiwu-arbug said, we don't require any of them for RocksDB to be built and use. However, we suggest you at least install one of the compression libraries. Usually the recommendation is the lightweight compression Snappy or LZ4. Otherwise, you cannot compress data in the database.

[2017-09-14 02:07] javaforfun commented on #2871
That's because https://github.com/facebook/rocksdb/pull/2864

[2017-09-14 02:16] huachaohuang commented on #2871
Hi, the corrupted WAL was deleted after recovery, so we cannot provide it. We will try to reproduce the problem with absolute consistency mode.
We are not sure that this problem is due to `manual_wal_flush`, but since we only encounter this problem with `manual_wal_flush`, we think it may be a clue.

[2017-09-14 02:18] huangwei04 opened #2882 "block checksum mismatch"
The rocksdb got a error: "block checksum mismatch", when i test ceph performance.
 Can someone help me?

system:
  centos7

  file system:
  bluefs

  rocksdb version:
  commit e15382c09c87a65eaeca9bda233bab503f1e5772
  Author: Siying Dong <siying.d@fb.com>
  Date:   Thu Apr 27 08:12:28 2017

  log:
  000555.sst is lelve 1
./sst_dump --file=000550.sst --verify_checksum --command=verify
from [] to

[2017-09-14 02:32] siying commented on #2882
Is it a single occurrence, or it happens frequently? If it is a single occurrence, maybe it's real media or RAM hardware corruption.

[2017-09-14 02:53] huangwei04 commented on #2882
I encountered this error three times on different machines.

[2017-09-14 03:01] huangwei04 commented on #2882
I encountered this error three times on different machines. Every time it happens in Compacting:4@0 + 1@1 files to L1.  Is it a coincidence?

[2017-09-14 08:28] Rafoula commented on #2870
thank you @yiwu-arbug and @siying.
I have downloaded Snappy.
After,Firstly I downloaded rocksdb with this command:
                                      **$ git clone -b 4.9.fb https://github.com/facebook/rocksdb.git.**

Secondly I follow these commands:
                                    **cd rocksdb
                                    sudo make install**

But I have error like this:
  CC

[2017-09-14 09:01] Hemanth-Eduru opened #2883 "Iterator does NOT seems to be using the Block Cache"
I found that Iterator Next ( **rocksdb_iter_next()** )  does not seems to utilise the block cache.
This is the way I tested

1.  Create a DB and load with Sequential Data.
2.   Close the DB and  reopen the DB. (After configuring  Block Cache to 1 GB)
3.   Create an iterator and seek it to first .(using **rocksdb_create_iterator()**)
4.   Iterate through whole range of keys using the iterator.(usin

[2017-09-14 13:08] lni opened #2884 "The enable_pipelined_write option is not exposed in the C binding"
Looking at include/c.h, it seems that the enable_pipelined_write option is not exposed in the C binding?  Any reason why it is not exposed?

[2017-09-14 14:24] adamretter commented on #2870
@Rafoula Have you read - https://github.com/facebook/rocksdb/blob/master/INSTALL.md

Do you have a suitable compiler, e.g. at least GCC 4.8?

[2017-09-14 17:52] ajkr commented on #2883
Seems expected, can you iterate over the whole DB twice and check the stats? First time block is used should be a cache miss; subsequent times will be cache hit.

[2017-09-14 18:01] siying commented on #2882
@huangwei04 if you set options.paranoid_file_checks=true, will you catch something different error message?

[2017-09-14 18:44] Rafoula commented on #2870
@adamretter thank you! I had ggc 4.7 and this is the problem.

[2017-09-14 18:45] #2870 closed

[2017-09-15 00:27] huangwei04 commented on #2882
@siying Ok, i' try. The error did not appear in  last  week.
 Is there some way to recover the rocksdb?

[2017-09-15 00:47] huangwei04 commented on #2882
@siying Ok, i'll try. The error did not appear in last week.
Is there some way to recover the rocksdb?

[2017-09-15 00:48] huangwei04 commented on #2882
@siying Ok, i'll try it. The error did not appear in last week.
Is there some way to recover the rocksdb?

[2017-09-15 01:12] siying commented on #2882
@huangwei04 you should be able to open the DB, scan the DB with read_options.verify_checksum=false, and copy all the data to another DB.

[2017-09-15 01:25] Hemanth-Eduru commented on #2883
I Will repeat the test by iterating twice and will get back.
And isn't it logical that ( even for the first time ) if iterator next element in the cache (beacuse of sequential loading of keys) it may be fetched directly from cache?

[2017-09-15 02:20] Hemanth-Eduru commented on #2883
I repeated the test by iterating the whole range twice now I can see the Cache HIT being Non Zero.

[2017-09-15 03:28] ajkr commented on #2883
The iterator references the data block while it's in use. It only needs to get the block from block cache for the first key accessed in the block. Then subsequent accesses to keys in the same data block aren't expected to count as a hit or miss.

[2017-09-15 07:13] Hemanth-Eduru commented on #2883
It seems I miss interpreted the cache Hit and miss .
Closing the issue as it got resolved.

[2017-09-15 07:13] #2883 closed

[2017-09-15 08:29] JelteF opened #2891 "Can you set a prefix extractor after creating a database?"
The wiki FAQ states the following:

This makes it unclear to me if I can enable a prefix extractor on an already existing database after creating it. Does creating it count as changing it?

[2017-09-15 20:50] yiwu-arbug opened #2895 "Possible data race in HashLinkListRep"
There is an assert failure caught by unity_test:
[code]
https://gist.github.com/yiwu-arbug/8737a50ed2c46a3df2e4d9f747097f29

Reading through the code but couldn't find anything suspected. Could be a data race in HashLinkListRep itself or in the higher level WriteThread. Closing since not able to reproduce.

[2017-09-15 20:50] #2895 closed

[2017-09-16 02:14] huangwei04 commented on #2882
It happend again. I print out one of the sst files and found that the wrong data block  was continuous sometime.

LOG:

Footer Details:
--------------------------------------
  checksum: 1
  metaindex handle: 83CDB52153
  index handle: DBCDB521B49321
  footer version: 2
  table_magic_number: 9863518390377041911

Metaindex Details:
--------------------------------------
  Filter block handle: EC878

[2017-09-16 02:18] huangwei04 commented on #2882
It happend again. I printed out one of the sst files and found that the wrong data block was continuous sometime.

LOG:

Footer Details:

checksum: 1
metaindex handle: 83CDB52153
index handle: DBCDB521B49321
footer version: 2
table_magic_number: 9863518390377041911

Metaindex Details:

Filter block handle: EC878020C7BEB501
Properties block handle: B8C6B521C606

Table Properties:

data blocks: 1693

[2017-09-18 08:48] publicocean0 opened #2896 "question"
hi i m exalutating to use rocksdb, it seams very good code. I saw there is also transaction.
It is possible also to use two-phase transaction?

[2017-09-18 17:13] siying commented on #2882
Did you set you set options.paranoid_file_checks=true in your run?

Also, can you check whether in the corrupted pages, the data is repeated from some pages in the same file?

[2017-09-18 17:14] siying commented on #2896
2-phase commit is used in MyRocks for syncing up with MySQL binlogs, so it is a production-ready feature. If it can satisfy your specific requirement, you are welcome to use it.

[2017-09-18 20:21] publicocean0 commented on #2896
thanks for the support

[2017-09-18 20:21] #2896 closed

[2017-09-19 01:25] yuslepukhin opened #2902 "ForwardIterator::RenewIterators questions"
Should this code make use of svnew instead of sv_ https://github.com/facebook/rocksdb/blob/master/db/forward_iterator.cc#L629 ?

[2017-09-19 08:29] huachaohuang opened #2905 "Missing Histograms::SST_READ_MICROS statistics"
Seems `Histograms::SST_READ_MICROS` is always 0, am I missing something?

[2017-09-19 10:24] huangwei04 commented on #2882
yes, I have set it.
003826.sst is damaged when i dump the sst files. I think that it was ok when be created, otherwise there wouldn't be this log.

rocksdb log:
2017-09-19 12:15:01.658384 7f18276a8700  4 rocksdb: [/home/zstor/ceph/rpmbuild/BUILD/ceph-12.2.0/src/rocksdb/db/compaction_job.cc:1116] [default] [JOB 605] Generated table #3826: 68110 keys, 68399955 bytes

2017-09-19 12:15:01.658411 7f182

[2017-09-19 11:03] huangwei04 commented on #2882
yes, I have set it, but the Level 1 sst can be checked?

003826.sst is damaged when i dump the sst files.

rocksdb log:
2017-09-19 12:15:01.658384 7f18276a8700  4 rocksdb: [/home/zstor/ceph/rpmbuild/BUILD/ceph-12.2.0/src/rocksdb/db/compaction_job.cc:1116] [default] [JOB 605] Generated table #3826: 68110 keys, 68399955 bytes

2017-09-19 12:15:01.658411 7f18276a8700  4 rocksdb: EVENT_LOG_v1 {"time_m

[2017-09-19 11:14] huangwei04 commented on #2882
@siying  Yes, i have set it.
003826.sst is damaged when i dump the sst files. I think that it was ok when be created, otherwise there wouldn't be this log.

rocksdb log:
2017-09-19 12:15:01.658384 7f18276a8700  4 rocksdb: [/home/zstor/ceph/rpmbuild/BUILD/ceph-12.2.0/src/rocksdb/db/compaction_job.cc:1116] [default] [JOB 605] Generated table #3826: 68110 keys, 68399955 bytes

2017-09-19 12:15:01.658

[2017-09-19 11:53] huangwei04 commented on #2882
# This is a RocksDB option file.
#
# For detailed file format spec, please refer to the example file
# in examples/rocksdb_option_file_example.ini
#

[Version]
  rocksdb_version=5.4.0
  options_file_version=1.1

[DBOptions]
  avoid_flush_during_shutdown=false
  avoid_flush_during_recovery=false
  dump_malloc_stats=false
  info_log_level=DEBUG_LEVEL
  wal_recovery_mode=kTolerateCorruptedTailRecords

[2017-09-19 12:15] javaforfun commented on #2871
@yiwu-arbug @maysamyabandeh reproduced with wal_recovery_mode =  kAbsoluteConsistency
[code]
wal and log files: [data.tar.gz](https://github.com/facebook/rocksdb/files/1314146/data.tar.gz)

[2017-09-19 15:53] MShah890 opened #2906 "Makefile:1296 recipe for target 'cleanable_test' failed"
I am using UBUNTU 16.04 and I am trying to install rocksdb. I have successfully installed all dependencies.

I have moved to `rocksdb-master` directory and have run the `make` command and I get the following.

![image](https://user-images.githubusercontent.com/9371688/30601891-e0ea9c2c-9d17-11e7-9e89-9d2e5a0b92c7.png)

I am new to docker and rocksdb so please help out.

[2017-09-19 16:17] maysamyabandeh commented on #2871
@javaforfun can you tell more about how you reproduced it? Is it with killing the process?
If you are setting manual_wal_flush to true it means that WAL is buffered in application memory space and not flushed until i) you do that explicitly or ii) buffer is full. When is that you manually call FlushWA? This is in contrast to the previous behavior where the application memory buffer is flushed to t

[2017-09-19 17:03] siying commented on #2882
Just to verify, if you read using direct I/O, will it be corrupted too?

By the way, I don't think we ever released 5.4.0. There was a bug we fixed and backported to 5.4.6, with which we may ignore fsync() error code in flush: https://github.com/facebook/rocksdb/commit/2955407c3ab7e42ff71aa5fb7b5adf3d77ff53ab . However, you are seeing this in compaction output, so this is not the bug.

With option

[2017-09-19 20:09] mperham opened #2909 "How to use NewCompactOnDeletionCollectorFactory?"
Sorry if I'm missing something obvious but the wiki isn't very clear here:

https://github.com/facebook/rocksdb/wiki/Implement-Queue-Service-Using-RocksDB#reclaiming-space-of-deleted-items-faster

I don't know what that paragraph means -- could it be a little more explicit: how do I configure my DB to use this thing?

[2017-09-20 02:05] adsharma commented on #2902
I don't work on rocksdb these days. Could you please reassign to someone on
the team?

On Sep 19, 2017 10:25 AM, "Dmitri Smirnov" <notifications@github.com> wrote:

[2017-09-20 11:42] corndolly commented on #2851
Thanks for your comment.

[2017-09-20 13:21] Wbrta opened #2911 "Is the wiki about MANIFEST up to date?"
Recently I read code about `version_set.h/version_set.cc` but I doubt that `FileMetaData` do not contain the code about path or path size which appeared in wiki about MANIFEST. And the wiki about MANIFEST was updated in 04/06/2016.
So I want to know whether the wiki about MANIFEST is up to date.
By the way, I think the explanation about MANIFEST is not clear, especially the **Version Edit Layout**

[2017-09-20 15:10] publicocean0 opened #2912 "question about partition columnfamilies"
hi , i have a question about how colulumn families save data in the storage.
Is there a way for saving in different folders the different column families?
In the case the answer is negative , about your experience, has a  sense to create different instance of dbrocks in a single machine? this could create problems(for example, too much memory used  in a single normal machine)?

[2017-09-20 19:26] siying commented on #2902
@al13n321 is the only person familiar with ForwardIterator now. I'm not sure he has time to kindly answer the question.

[2017-09-20 21:18] ajkr commented on #2912
One common approach is run multiple rocksdb instances in the same process. Resource limits can be shared by opening the DBs with the same objects in `rate_limiter`, `env`, `write_buffer_manager`, etc.

[2017-09-20 21:21] ajkr commented on #2912
Also, from our FAQ (https://github.com/facebook/rocksdb/wiki/RocksDB-FAQ):

Q: What's the difference between storing data in multiple column family and in multiple rocksdb database?

A: The main differences will be backup, atomic writes and performance of writes. The advantage of using multiple databases: database is the unit of backup or checkpoint. It's easier to copy a database to another host

[2017-09-20 21:22] ajkr commented on #2911
Is this the wiki you're talking about (https://github.com/facebook/rocksdb/wiki/MANIFEST)? I didn't find any mention of `FileMetaData`.

[2017-09-20 21:23] #2851 closed

[2017-09-21 02:02] Wbrta commented on #2911
@ajkr Yes. `FileMetaData` is a struct in `version_edit.h` and class `VersionEdit` use it by `std::vector<std::pair<int, FileMetaData>> new_files_;` And `new_file` refers to `New File edit record` in wiki about MANIFEST.

[2017-09-21 08:15] hshs1103 opened #2914 "L0->L0 compaction test"
Hi, dear all

I want to see how often L0->L0 compaction occurs. So, I fixed compaction_picker.cc code.
Fixed code is same as below.

--------------------------------------------------------------------------------------

bool LevelCompactionBuilder::PickIntraL0Compaction() {
  start_level_inputs_.clear();
  const std::vector<FileMetaData*>& level_files =
      vstorage_->LevelFiles(0 /* level */);

[2017-09-21 18:35] publicocean0 commented on #2912
thanks, all clear and it is  what i expected.

[2017-09-21 19:15] ajkr commented on #2911
File number should be enough to reconstruct the path.

[2017-09-21 19:18] ajkr commented on #2911
You can use `ldb manifest_dump --verbose ...` to see the `VersionEdit`s in your manifest and correlate them to files in your directory. E.g., my manifest has

[code]

which corresponds to file 000019.sst.

[2017-09-21 19:20] #2912 closed

[2017-09-21 19:31] publicocean0 commented on #2912
Sorry, I m trying to use rocksdb with java. I have a problem with transactions. It seams there is a conflict in a makefile .

[2017-09-21 19:34] siying commented on #2912
CC @sagar0

[2017-09-21 19:49] sagar0 commented on #2912
@publicocean0  What conflict in makefile are you referring to? Could you please elaborate?

[2017-09-21 20:59] publicocean0 commented on #2912
I d like to use rocksdb in my new java project with transactions. I tried to apply patch as described  in https://github.com/adamretter/rocksdb/tree/java-transactions/java but it seams there some conflicts like those ones
`java/rocksjni/backupenginejni.cc:12:46: fatal error: include/org_rocksdb_BackupEngine.h: File o directory non esistente
 #include "include/org_rocksdb_BackupEngine.h"

[2017-09-21 21:10] sagar0 commented on #2912
It seems like you are referring to PR #1298 . We can accept it if @adamretter resurrects that PR.

[2017-09-21 21:29] publicocean0 commented on #2912
ah , uhmmm it seams blocked for almost a year. The probability he resurrects that PR seams very low.

[2017-09-21 21:42] sagar0 opened #2915 "[RocksJava] Support SstFileManager API in Java to control sst file deletion rate"
We should expose `SstFileManager` API in Java to enable controlled deletion of sst files.

[2017-09-21 21:54] maysamyabandeh commented on #2902
@ajkr  can you please chime in?
[code]

[2017-09-21 22:28] publicocean0 commented on #2912
but hearders in format org_rocksdb_.... how are created?
[code]
it seams you created on the fly this files and you put it in the folder "include".

[2017-09-21 22:39] maysamyabandeh commented on #2905
Probably
[code]

[2017-09-21 22:39] #2905 closed

[2017-09-21 22:44] maysamyabandeh commented on #2906
Feel free to ask help in the user group: https://www.facebook.com/groups/rocksdb.dev
Issue page is to be used to report bugs.

[2017-09-21 22:44] #2906 closed

[2017-09-21 23:03] maysamyabandeh commented on #2909
The code shows it is of type TablePropertiesCollectorFactory, which can be set in ImmutableCFOptions::table_properties_collector_factories.

[2017-09-21 23:03] #2909 closed

[2017-09-21 23:07] #2911 closed

[2017-09-21 23:13] ajkr commented on #2902
Yes that looks more correct, thanks.

[2017-09-21 23:31] maysamyabandeh commented on #2914
You can print such stats by running "stats" benchmark at the end. "Comp(cnt)" is the number of compactions for each level.
[code]

[2017-09-21 23:31] #2914 closed

[2017-09-22 00:43] publicocean0 commented on #2912
I cloned https://github.com/adamretter/rocksdb/tree/java-transactions/java and i fixed problems , now it can compile. I could create a fork and submit it to you. Anyway the version it is 5.0.0 not 5.8.0.
Eventually you can help to upgrade it to the current version?

[2017-09-22 00:57] #2902 closed

[2017-09-22 03:02] huachaohuang commented on #2905
Oh, I see, it is missing in v5.7.3, I think I just need to wait for v5.8 :)

[2017-09-22 03:26] hshs1103 commented on #2914
Thanks @maysamyabandeh.

But I want to know how many times L0->L0 Compaction was occured.

![image](https://user-images.githubusercontent.com/20452176/30728118-b7de3d18-9f90-11e7-873f-2d43cac5c648.png)

In this picture, L0 Comp(cnt) means that number of L0->L1 compactions. isn't it right?

[2017-09-22 05:10] stonelazy opened #2918 "Rocksdb dependency issue"
[code]

[2017-09-22 05:22] hshs1103 opened #2919 "[Question]db_bench test"
Hi, dear all

I want to see how many times L0->L0 compaction occurs.
So, i was experimenting with db_bench to check the frequency of L0->L0 compaction.

The figure below shows the results from db_bench.

![image](https://user-images.githubusercontent.com/20452176/30728287-db24bc42-9f91-11e7-8ed6-6896819aa81b.png)

As far as I know, comp (cnt) means the number of compactions to Ln-> Ln + 1.
That is

[2017-09-22 07:48] stonelazy commented on #2918
Am working in MAC.. been trying to debug for some days.. can someone please help me ?

[2017-09-22 08:48] huangwei04 commented on #2882
@siying
how does rocksdb calculate the remaining size  of path dynamically in function GetPathId ?
funtion: LevelCompactionBuilder::GetPathId
uint64_t current_path_size = ioptions.db_paths[0].target_size;

[2017-09-22 09:33] huangwei04 commented on #2882
@siying hi! There are two dir:db and db.slow to place sst files. db is on  ssd, db.slow is on hdd.  All the wrong sst files were on db.slow. I want to know that hwo rocksdb choose the dir when a sst be created.

[2017-09-22 13:20] publicocean0 opened #2920 "boolean return in delete operation (improvement)"
it is missing the information in the delete operation if it is completed (key is found and deleted) or not(key not found).

Boom/Cukoo filter can not give the warrenty about it.

[2017-09-22 16:01] mperham commented on #2909
@maysamyabandeh Thank you for your advice, I appreciate your time here.  I don't know C++ and am using the tecbot/gorocksdb bindings.  None of that appears to be in the Go binding.  Any chance you can show the actual C++ code necessary and I can adapt to the Go bindings?

[2017-09-22 16:42] siying commented on #2882
@huangwei04 which level belongs to which DB Path is never recalculated.

[2017-09-22 17:56] sagar0 commented on #2912
@adamretter -- what's the plan and what do you think of @publicocean0's proposal?
I'll let @adamretter chime in here, so that he can get credit for the initial implementation of Transactions in RocksJava (in PR #1298).

@publicocean0 -- Re: 5.0 vs 5.8, if at all we decide to proceed forward, you need to create a new pull request or rebase on the latest master so that the code can be merged.

[2017-09-22 18:28] ajkr commented on #2920
`Delete` adds a deletion marker that doesn't depend on whether the key exists or not. Getting the info you're asking for would make `Delete` take longer, so we can't.

[2017-09-22 18:28] #2920 closed

[2017-09-22 21:51] maysamyabandeh commented on #2909
Here is an example of how to assign this config: https://github.com/facebook/rocksdb/blob/master/db/table_properties_collector_test.cc#L385
About golang, you will have better luck asking in user group: https://www.facebook.com/groups/rocksdb.dev

[2017-09-23 01:08] ajkr commented on #2914
@hshs1103 - the "L0" line represents files that were output to L0. Unfortunately it combines stats for files generated by flush and files generated by L0->L0 compaction.

One way to check if L0->L0 happened is by looking at the W-Amp column. If it's 1.0, that means data was written exactly once to L0 (when flushed), and never rewritten. If it's above 1.0, then at least some of the data was rewritt

[2017-09-23 01:09] ajkr commented on #2919
@hshs1103 - the "L0" line represents files that were output to L0. Unfortunately it combines stats for files generated by flush and files generated by L0->L0 compaction.

One way to check if L0->L0 happened is by looking at the W-Amp column. If it's 1.0, that means data was written exactly once to L0 (when flushed), and never rewritten. If it's above 1.0, then at least some of the data was rewritt

[2017-09-23 01:11] ajkr commented on #2919
If you need to know the exact number of times it occurred, I'd suggest checking the logs. I don't know of a reliable way to get it from our stats.

For example:

[code]

[2017-09-23 01:42] huangwei04 commented on #2882
@siying  Thank you very much.  It would be something wrong whith the hdd disk.

[2017-09-24 07:10] kapitan-k commented on #2882
@huangwei04 FYI got "block checksum mismatch" two times. The first time it happened sporadically and it turned out to be a hdd failure. The second time I got it always at the same db size, at the same compaction and memtest revealed some errors so I had to change one memstick.

[2017-09-24 17:31] publicocean0 opened #2924 "possibility to load a columnfamily programmatlicaly after the opening"
It there no possibility to load a column family after the db opening(already created but not passed in the open routine)? It could be a new feature

[2017-09-25 00:20] publicocean0 commented on #2918
it seams you have not the library for mac os .Go in debug in loadLibraryFromJarToTemp function. You can check it

[2017-09-25 04:42] hshs1103 commented on #2919
@ajkr  thanks.
When i check the log as you said, the value comes out.
really really thank you!
please close this issue.

[2017-09-25 04:54] hshs1103 opened #2925 "[Question]Rocksdb linkbench"
Hi, dear all

I want to test with linkbench in rocksdb.

Is it possible experiment with linkbench in rocksdb version 5.7.1?

I found the following site after looking for a test method.

https://github.com/facebookarchive/linkbench/wiki/Running-linkbench-with-rocksdb

But I do not know how to starting the rocksdb server.

If you know how to use rocksdb with linkbench, please let me know.

[2017-09-25 19:25] #2919 closed

[2017-09-25 20:58] publicocean0 commented on #2912
ok , i will tell you about it . Before i studied a bit how it works better.

[2017-09-25 22:12] jormungander commented on #2531
I have the same issue on Windows 7.  Using the test code that @adamretter provided, it loads for 5.3.6, but does not load with 5.4.5 or after.

[2017-09-26 10:31] mkosieradzki opened #2929 "IO error: While fsync: a directory: Invalid argument - when using CIFS mount"
When trying to use RocksDB on CIFS mount I get `IO error: While fsync: a directory: Invalid argument` when calling `rocksdb_transactiondb_open`.

I have attached log.

[mylog.txt](https://github.com/facebook/rocksdb/files/1332785/mylog.txt)

[2017-09-26 10:47] topilski opened #2930 "Disable shlx instructon"
Hi, how to disable SHLX instruction? according issue https://github.com/fastogt/fastonosql/issues/45#issuecomment-332107389

[2017-09-26 13:06] UncP opened #2931 "on the choice of table_cache_numshardbits?"
[code]

If the block cache reaches 32MB, the `num_shard_bits` will always be 6, in this case i think there will be a performance issue.

Consider this situation, say we have 2 block caches, one with capacity 1GB, the other with capacity 16GB, and the `num_shard_bits` is 6. Now the size of each shard will be 16MB and 256MB.

when we want to find a slice in a shard, it seems that finding a slice in

[2017-09-26 16:07] maysamyabandeh commented on #2929
Dir fsync is necessary for correctness in posix fs. You can extend your code with a new env to add support for new filesystems.

[2017-09-26 16:07] #2929 closed

[2017-09-26 16:14] mkosieradzki commented on #2929
I did A LOT of research here and found the root cause.

I am not disabling fsync I am only silencing it when FS does not implement it see:
https://github.com/torvalds/linux/blob/6ed0529fef09f50ef41d396cb55c5519e4936b16/fs/sync.c#L187-L188

It returns EINVAL if fsync is not implemented by this specific FS.

If other error is returned I am not altering the flow.

Root cause is that that CIFS is not

[2017-09-26 16:16] maysamyabandeh commented on #2924
I recommend using User Group (https://www.facebook.com/groups/rocksdb.dev) for such questions, where the others users can chime in. Issues are better reserved for bug reports.

[2017-09-26 16:16] #2924 closed

[2017-09-26 16:19] maysamyabandeh commented on #2925
Linkbench sends SQL queries to MySQL. When MySQL uses MyRocks as the storage engine (which is based on RocksDB) the RocksDB is tested under linkbench.
MyRocks: https://github.com/facebook/mysql-5.6

I recommend using User Group (https://www.facebook.com/groups/rocksdb.dev) for such questions, where the others users can chime in. Issues are better reserved for bug reports.

[2017-09-26 16:19] #2925 closed

[2017-09-26 16:27] maysamyabandeh commented on #2930
I recommend posting a self-contained question to the User Group (https://www.facebook.com/groups/rocksdb.dev), where other Windows users can chime in.

[2017-09-26 16:33] maysamyabandeh commented on #2931
The best way to figure that is to run the bench. Feel free to share the results if you found a performance issue afterwards. In this particular case, the default function is used only if the users does not provide the number of shard bits.

[2017-09-26 16:33] #2931 closed

[2017-09-26 16:35] topilski commented on #2930
Reopen please, SHLX it is CPU instruction, and it independent on platform on which executed code on Linux/MacOSX you also will receive SIGILL signal.

[2017-09-26 16:48] topilski commented on #2930
You have similar issue: https://github.com/facebook/rocksdb/issues/2715 why you not close it?

[2017-09-26 17:51] mkosieradzki commented on #2929
I was apparently wrong. In the first place I did tests only with Sync WAL. After disabling sync wal application started to segfault so it's definitely a bad idea and apparently CIFS requires proper directory sync implementation in the first place :-(

[2017-09-26 18:21] mperham opened #2933 "Unable to backup"
Using 5.7.3, I get this error:

[code]

My data directory:

[code]

[2017-09-26 19:31] ajkr commented on #2933
The OPTIONS files shouldn't end in `.dbtmp`. Did RocksDB log any warning/error when generating them?

[2017-09-26 20:11] mperham commented on #2933
Yep, diving into LOG showed me that the system appears corrupt, due to an invalid merge operator.  Thank you!

Is it best practice to keep the backups (i.e. meta/ share/ private/) in the same directory as the hot store?

[2017-09-26 20:11] #2933 closed

[2017-09-26 20:25] mperham commented on #2933
This was the root cause:

https://github.com/tecbot/gorocksdb/issues/79

[2017-09-27 03:10] UncP commented on #2931
thanks for your reply!

[2017-09-27 12:00] koldat commented on #1541
@adamretter any feedback? The issue is that if one drops family, its files are not deleted, because RocksDB still tracks that reference.

[2017-09-27 17:17] mperham opened #2938 "Backup / Restore semantics?"
Can we restore a hot db?

I wrote a test which did this to a live, blank database:

[code]

which failed on the assertion.  Do we need to close and reopen the database?  What about any CF handles?

[2017-09-27 17:49] ajkr commented on #2938
Can you try close before the restore and open after? Restore isn't supported on a live DB.

[2017-09-27 18:12] mperham commented on #2938
Cool, it works when I close the DB and reopen.  Note the wiki page says "use these APIs" but doesn't say anything higher-level about needing to reopen the database.  I added a note that restored databases must be reopened.

[2017-09-27 18:12] #2938 closed

[2017-09-29 07:11] #2882 closed

[2017-09-30 10:05] huachaohuang opened #2951 "Speed up `DeleteFilesInRange()`"
In some of our tests, thousands of `DeleteFilesInRange()` may take hundreds of seconds to complete.
Is it reasonable to let `DeleteFilesInrange()` delete multiple ranges at a time to speed up continuous delete files operation?

[2017-09-30 10:20] zhangjinpeng1987 opened #2952 "OOM when using Seek with many tombstones"
We call `Seek` several times at our program's starting stage. I can see the memory usage increasing very quickly, and one call of `Seek` not return, eventually encounter OOM. It is about 20 minutes from I started the program to OOM happened.
As soon as i drop these `Seek`,  every thing is ok.
This problem can be easily reproduced using the existing data.

Following is what `pmap` printed.
[code]
A

[2017-09-30 10:58] zhangjinpeng1987 commented on #2952
I use valgrind to profile the memory usage and get the following informations.
[code]

[2017-10-02 12:03] adamretter opened #2954 "Unable to build with jemalloc on MacOS X"
After installing jemalloc on MacOS with Homebrew:

[code]
I am no longer able to build a release with `make rocksdbjavastatic`. I now get this error at the linker stage:

[code]

[2017-10-02 15:33] adamretter commented on #2918
@stonelazy did you get to the bottom of your issue?

[2017-10-02 15:36] adamretter commented on #2832
Compaction Filters are not yet supported in the Java API. I started implementing support for it here: https://github.com/facebook/rocksdb/pull/1241 I will try and bring that up to date.

[2017-10-02 15:38] adamretter commented on #2809
@siying any ideas why compiling with `ROCKSDB_LITE` would cause this?

[2017-10-02 15:43] adamretter commented on #2803
Your stack dump seems to show a null-pointer de-reference in jemalloc. Weirdly I don't seem to see any RocksDB code involved in the stack dump.

When you say:

is that a patch or PR or something? Where can I find it?

Do you also have the same issue with the latest 5.8.0 release?

[2017-10-02 15:45] #2742 closed

[2017-10-02 15:47] adamretter commented on #2687
@maysamyabandeh Yes I have some ideas about how to make this more Java like. I will send a PR soon.

[2017-10-02 15:49] adamretter commented on #2622
@yuslepukhin Do you have any thoughts on best practice here please?

[2017-10-02 15:50] adamretter commented on #2547
@EliFinkelshteyn Is this still an issue for you? Which platform are you on please?

[2017-10-02 15:55] adamretter commented on #2531
I am not sure how I can help further with this, as I am unable to reproduce the issue here. If anyone can tell me how to start step-by-step with a clean Windows 10 installation and reproduce the issue with Visual Studio 2015, I would be willing to follow the steps exactly, if I can reproduce it, we can likely fix it.

[2017-10-02 16:23] jormungander commented on #2531
I can't help you with Windows 10 repro steps, but I can say that I tried it on another, much cleaner, Windows 7 machine and had the same issue, even after building rocksdb locally.  Works fine on Linux for me though.  I will be getting a Windows 10 machine in the next month or two and I'll give it a try on that.

[2017-10-02 17:32] EliFinkelshteyn commented on #2547
@adamretter yes. Seems to be an issue on both OS X and Ubuntu. To get around it, I had to create and have to call a hacky `.close()` function:

[code]

[2017-10-02 17:39] #2511 closed

[2017-10-02 17:39] yuslepukhin commented on #2511
This was fixed after the comment apparently.

[2017-10-02 17:43] yuslepukhin opened #2955 "Superversion leaks in DBImpl::NewInternalIterator on error return."
### Expected behavior
Superversion is registered for cleanup at all times or released immediately

### Actual behavior
Superversion is only registered for cleanup for happy path. Otherwise the pointer is left dangling as NewErrorInternalIterator() does not care about it.

### Steps to reproduce the behavior
See https://github.com/facebook/rocksdb/blob/master/db/db_impl.cc#L911

[2017-10-02 19:57] yiwu-arbug commented on #2955
@yuslepukhin thanks for reporting! will fix.

[2017-10-02 23:48] sagar0 commented on #2832
@andre-paris Since creating a compaction filter is not yet supported, you can selectively expose `TtlCompactionFilter` in Java, similar to the way `RemoveEmptyValueCompactionFilter` and `CassandraCompactionFilter` are exposed. Please feel free to send a pull request.

[2017-10-02 23:48] #2832 closed

[2017-10-02 23:57] sagar0 commented on #2918
@stonelazy @publicocean0 @adamretter
It would be great if you could move this discussion to the RocksDB dev group: https://www.facebook.com/groups/rocksdb.dev . You should get more help from the RocksDB community there. We plan to use Github Issues as a place for bugs-only going forward.
I sincerely apologize for closing this issue.

[2017-10-02 23:57] #2918 closed

[2017-10-03 00:18] sagar0 commented on #494
Closing issues older than an year. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:18] #494 closed

[2017-10-03 00:20] sagar0 commented on #496
@sameermahajan I hope your issue is resolved.
Closing this issue as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:20] #496 closed

[2017-10-03 00:25] sagar0 commented on #519
I hope your issue is resolved.
Closing this issue as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:25] #519 closed

[2017-10-03 00:33] sagar0 commented on #544
`Iterator::SeekForPrev` has been implemented to solve this exact use case. https://github.com/facebook/rocksdb/wiki/SeekForPrev . I hope this solves your issue.

[2017-10-03 00:33] #544 closed

[2017-10-03 00:36] sagar0 commented on #548
Closing this issue as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:36] #548 closed

[2017-10-03 00:38] sagar0 commented on #559
Closing this issue as it is more than an year old without any response.

[2017-10-03 00:38] #559 closed

[2017-10-03 00:41] sagar0 commented on #566
We have been running continuous valgrind tests internally at Facebook without any issue.

I am closing this issue as it is quite old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:41] #566 closed

[2017-10-03 00:49] sagar0 commented on #594
We'd greatly appreciate if you could send us a pull request with the fix, if this is still relevant.
Otherwise, closing this as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:49] #594 closed

[2017-10-03 00:52] sagar0 commented on #605
I see that this has been fixed; so closing the issue.

[2017-10-03 00:52] #605 closed

[2017-10-03 00:55] sagar0 commented on #607
@superwood  I hope your issue is resolved with https://github.com/facebook/rocksdb/commit/b0fdda4ff07f2cc52b1f1ed77cfac47e02a86b96 .
I am closing this issue as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:55] #607 closed

[2017-10-03 00:59] sagar0 commented on #618
Closing this issue as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 00:59] #618 closed

[2017-10-03 01:02] sagar0 commented on #624
I hope you were able to figure out the rootcause.
I am closing this issue as it is more than an year old. If you still need further help, please post to our dev group: https://www.facebook.com/groups/rocksdb.dev .

[2017-10-03 01:02] #624 closed

[2017-10-03 01:05] sagar0 commented on #626
@superwood I hope your issue is resolved. If not, could you try with one of the latest RocksDB version to see if this is still a problem?
I am closing this issue for now as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 01:05] #626 closed

[2017-10-03 01:08] sagar0 commented on #627
I hope this issue is resolved.
Closing this issue as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-03 01:08] #627 closed

[2017-10-03 13:15] thatsafunnyname commented on #605
Cross reference the commits for the fix:
https://github.com/facebook/rocksdb/commit/4805fa0eae758bf3b5e5623cd81b4bf36af16618
https://github.com/facebook/rocksdb/commit/21700a5106c7be6f5c8bfe31f8f0cca622ad27ca

[2017-10-03 22:42] NicholasBertazzon opened #2965 "Hangs at RocksDB.loadLibrary();"
### Expected behavior
Load the library.

### Actual behavior
Hangs at "RocksDB.loadLibrary();" and exit with "Process finished with exit code -1073740791 (0xC0000409)". It was working flawlessly with RocksJava 5.7.3 . But not with 5.8.0.

### Steps to reproduce the behavior
The only thing I do is
`RocksDB.loadLibrary();`

OS: Windows 10 64bit
RocksDB version: 5.8.0 - Java (from maven)

[2017-10-04 07:46] qraz opened #2968 "Static library Windows build size"
I was building using vcpkg on Windows 7 with VS 2015 with update 3.

 When I built using static library option, the size of the binary is around 1 GB. I think it could be due to the debug information being added to the library, although it happens with release builds (750 MB) as well.

I've read this post replies to this https://www.facebook.com/groups/rocksdb.dev/permalink/1341600742605103/ sayin

[2017-10-04 13:31] adamretter commented on #2965
@NicholasBertazzon Yes, it seems I can reproduce this issue.

@yuslepukhin The Windows build seems to be broken in `lru_cache.cc` here:

[code]

The debugger seems to suggest the issue is with the line ` shards_ = new LRUCacheShard[num_shards_];`, but I am not sure why that would be as `num_shards_==16`.

@yuslepukhin Any chance you could shed some light on this?

[2017-10-04 19:00] siying commented on #2968
We use github issues for bug reports, which are expected to be closed after resolved. We recommend people to move open-ended questions to either RocksDB facebook group, or the Google group. It's very hard to keep an open discussion going here.

[2017-10-05 22:47] guozhangwang commented on #2533
We have finally got time to dig into this issue and found that the bug is actually ours, RocksDB 5.3.6+ version just add more restriction that exposed the issue.

Closing it for now.

[2017-10-10 05:45] zhangjinpeng1987 opened #2989 "Bug with delete range"
### Expected behavior
Compaction should not affect keys' visibility.

### Actual behavior
1) Open rocksdb with existing data in readonly model, Seek('key') can not get this key.
2) Use ldb compact the whole db.
3) Open rocksdb with the existing data in readonly model again, Seek('key') can get this key.

### Steps to reproduce the behavior
In our tests, only when we use delete range this strange b

[2017-10-10 11:41] zhangjinpeng1987 commented on #2989
I dump manifest and find overlap in level 4, this should not happen.

[code]
We can see that 732048's largest key is larger than 732198's smallest key.

[2017-10-11 02:47] zhangjinpeng1987 commented on #2989
[LOG.tar.gz](https://github.com/facebook/rocksdb/files/1374038/LOG.tar.gz)
[manifest.tar.gz](https://github.com/facebook/rocksdb/files/1374039/manifest.tar.gz)

[2017-10-11 09:43] Alexcei88 commented on #1563
Does it work successfully?

[2017-10-11 16:50] #2533 closed

[2017-10-11 21:58] #2955 closed

[2017-10-13 01:21] sinowood commented on #1563
Yes, x86 build works fine for me.

[2017-10-16 05:52] yanchenmochen opened #3010 "‘perf_context’ is not a member of 'rocksdb'"
when I compile the ceph12.2.0 using make, It will counter the fault
"/home/sqh/ceph/src/kv/RocksDBStore.cc": in the member function ‘ virtual int RocksDBStore::submit_transacti’
error: 'perf_context' is not a member of 'rocksdb' in /home/sqh/ceph/src/kv/RocksDBStore.cc:508
ang it will counter the same error in line 535,537,539,541,561,589,593,595.
How can I resolve this problem?

[2017-10-16 09:41] zhangjinpeng1987 commented on #2952
After my investigating with gdb, this issue and [another issue](https://github.com/facebook/rocksdb/issues/2989) essentially are the same issue, the irrational overlap produce endless loop in function `FindNextUserEntryInternal `.

[2017-10-16 09:41] #2952 closed

[2017-10-16 12:40] chenqinb opened #3012 "corrupt when value to long"
### Expected behavior
should not corrupt
### Actual behavior
corrupt
### Steps to reproduce the behavior
I have one Key-Value,like which only have a lots of merge operations.
eg:
key = 8618000000000
value = id1,id2,id3,......
the value is growning when the id append.Then the process corrupt.
How could I spilt the value to two or more Key-Value instace, in FullMerge2 or PartialMergeMulti?
like this

[2017-10-16 17:37] yuslepukhin opened #3013 "RecordTick in DbIter __dtor potentially wrong"
https://github.com/facebook/rocksdb/blob/5.11.fb/db/db_iter.cc#L153 potentially make the stats wrong.

The argument of -1 for uint64_t results in a max value for the type.

### Expected behavior

The number of ticks decreased

### Actual behavior

Depending on the impl we have a potential overflow.

### Steps to reproduce the behavior

Code review

[2017-10-17 05:52] zhangjinpeng1987 commented on #2989
Apparently there is something wrong with the smallest key of 729853, which is one of JOB 7103's output file. This is the oldest suspect place by time I can find.
[code]
@ajkr

[2017-10-17 09:55] zhangjinpeng1987 commented on #2989
@siying

[2017-10-17 10:29] zhangjinpeng1987 commented on #2989
I think the problem is at [here](https://github.com/facebook/rocksdb/blob/master/db/compaction_job.cc#L1054), because `meta->smallest` may be changed in `AddToBuilder`.

[2017-10-17 17:16] yiwu-arbug commented on #3010
Not familiar with Ceph, but you probably need to take this commit: https://github.com/ceph/ceph/commit/9d73a7121fdb1ae87cb1aa6f7d9d7a13f329ae68

[2017-10-17 17:16] #3010 closed

[2017-10-17 17:21] yiwu-arbug commented on #3012
We don't have API to split KVs. You can do it in application layer. However, can you provide more info of the corruption? Would be great you can provide reproduce steps so we can investigate further.

[2017-10-17 17:25] yiwu-arbug commented on #3013
We need a proper way to subtract from tickers :/  cc @ajkr

[2017-10-17 17:31] bramaswamy commented on #2166
Hi,

I would also like to disable KeepLogFileNum and also "How to clean the .sst file"?

Thanks
Balaji

[2017-10-17 18:13] #2989 closed

[2017-10-17 18:38] yiwu-arbug commented on #2166
@5chdn To completely disable info log, you can implement a `Logger` which does nothing and set it to options.info_log.
https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L378

@bramaswamy You can update options.delete_obsolete_files_period_micros to let the DB delete obsoleted files more eagerly.

Please reopen if it doesn't answer your questions.

[2017-10-17 18:38] #2166 closed

[2017-10-17 20:28] ajkr commented on #2989
great find :). sorry for the delay in replying - have been busy with several other things.

[2017-10-17 21:56] adamnovak opened #3036 "No way to not use libtbb if it is detected, even if it is only available as a dynamic library"
### Expected behavior

RocksDB should be able to build a library that does not use `libtbb` whether or not `libtbb` is available on the build system. This is useful for building static binaries (note that `libtbb-dev` in Ubuntu does not ship a static `libtbb.a`), and for building dynamic binaries intended to be used on systems where `libtbb` will not be available.

### Actual behavior

RocksDB det

[2017-10-17 22:26] yiwu-arbug commented on #3036
@adamnovak Thanks for reporting! Do you have a fix to the TBB lib detection in mind?

[2017-10-17 22:33] anip30 commented on #1412
We also hit the same issue? Should we upgrade the rocksdb?

[2017-10-17 23:01] adamnovak commented on #3036
The simplest thing would be to add an environment variable to override it.
There's already a `DISABLE_JEMALLOC` flag available.

On Tue, Oct 17, 2017 at 3:27 PM, yiwu-arbug <notifications@github.com>
wrote:

[2017-10-17 23:09] yiwu-arbug commented on #1412
@anip30 Looks like it is a real IO error and rocksdb should return error status. Is it a crash for you or are you getting an error returned? If it is crash inside rocksdb, are you able to get a stack trace?

[2017-10-17 23:11] yiwu-arbug commented on #3036
@adamnovak do you want to send us a pull request for it? Thanks!

[2017-10-17 23:26] anip30 commented on #1412
Hey. I think application got an exception but rocksdb crashed inside. We can't get rocksdb stack trace.

I just have

#0  0x00007fba5be45444 in rocksdb::VersionSet::LogAndApply(rocksdb::ColumnFamilyData*, rocksdb::MutableCFOptions const&, rocksdb::VersionEdit*, rocksdb::InstrumentedMutex*, rocksdb::Directory*, bool, rocksdb::ColumnFamilyOptions const*) () from /usr/lib/librocksdb.so.4.1
No symbol

[2017-10-18 08:31] zhangjinpeng1987 opened #3039 "Another bug with delete range"
In two situations delete range will not act correctly.

Case 1
1) A compaction job contains keys "A", "B", "D", "F" and a delete range mark ["C", "E").
2) Keys "A" and "B" produce first output file sst1 that its smallest key is "A" and largest key is "B".
3) Keys "D" and "F" have been added to sst2, and sst2's smallest is "D" currently.
4) Calling [AddToBuilder](https://github.com/facebook/rocksdb

[2017-10-18 09:17] zhangjinpeng1987 commented on #3039
My mistake.

[2017-10-18 09:17] #3039 closed

[2017-10-18 09:53] zhangjinpeng1987 commented on #2989
There is still one place i can't understand, why 729850 's largest key 's type is not `kTypeRangeDeletion`? @ajkr

[2017-10-18 13:02] chenqinb commented on #3012
Thanks for answer!
Append the IDs to the same key,about 800K per minitune.And after some times ,the count of IDs are very huge, then run out of memory, coredump in C++ new.
800K per mininute is mysterious, becasue it is the test env.But in the release env, the IDs is grown with time go.
In application layer, I don't know the size of the value, only in FullMerge2 I get the size.
Thanks answer again

[2017-10-18 22:28] zhenkai opened #3043 "Buffer overflow vulnerability with `char*` handling"
We found this problem when using custom C comparator through C API, but it seems this problem also exists for C++ API.

The API allows a custom comparator implementation to return `char*` as its name. However, rocksdb implementation doesn't validate that the C string name is properly terminated with null character.

Maybe it's related to how Slice constructor from `char*` is implemented:
`  Slice(

[2017-10-19 01:11] zhangjinpeng1987 commented on #2989
I think i got it.

[2017-10-19 06:13] huachaohuang opened #3044 "Ingest files of different column families atomically"
The `IngestExternalFile` interface can only ingest files of the same column family atomically. Is it possible that RocksDB can ingest files of different column families atomically? If it is possible  theoretically, we may give it a try :)

[2017-10-19 06:35] topilski opened #3045 "Build for android"
Hi, i'am trying to build rocksdb for android, but i receive error:
[code]

I'am using cmake and android toolchain file, cmake command line is:

`cmake .. -GNinja -DCMAKE_STRIP="/opt/android-ndk/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-strip" -DCMAKE_AR="/opt/android-ndk/toolchains/arm-linux-androideabi-4.9/prebuilt/linux-x86_64/bin/arm-linux-androideabi-

[2017-10-20 06:14] ajkr commented on #2989
looks like it ends in a user key with seqnum 13854437548. The largest key only gets overwritten if we extend the file's key-range due to a range deletion spanning past the final user key.

[2017-10-20 06:21] ajkr commented on #2989
It could've been that two versions of the same user key were output by compaction in adjacent files. Then the first file's key-range doesn't need to be extended even if a range deletion spans the two files, because its end user key already matches the next file's begin user key (and the logic that uses file endpoints only really looks at user key).

[2017-10-20 06:46] shanshan0309 opened #3049 "RocksDB failed to build (Release/x64) on windows due to warning C4189: 'ret': local variable is initialized but not referenced"
RocksDB failed to build (Release/x64) on VS2017 due to warning C4189. We noticed the warning C4189 is reported after commit [ebab2e2](https://github.com/facebook/rocksdb/commits/master) "Enable MSVC W4 with a few exceptions. Fix warnings and bugs". Could you please help take a look about this issue? Thank you very much!

**Failures:**
d:\rocksdb\src\db\column_family.cc(466): warning C4189: 'delete

[2017-10-20 10:54] markk12 opened #3051 "compactation synchronization& snapshot"
hi
i m using a column rocksdb for saving sequence.Sequence is a long.
for evoiding to create too many conflicts if i save the sequence value every time it is incremented
(2 different transaction conflict in the same cell also if the increment for long is atomic  ) i save sequence in async way periodically.
The problem now if there is a crash of the system ... the sequence is not updated.

How to r

[2017-10-20 12:00] markk12 commented on #1565
i m interested in it , but i dont understand how to read data .batch_result is batch class for executing a batch not for read what i executed before.

[2017-10-20 21:15] alexhultman commented on #3043
This makes no logical sense whatsoever. Fix your comparator because it is obviously broken.

[2017-10-20 21:22] zhenkai commented on #3043
well, of course I fixed my comparator... but rocksdb code could also do some defensive sanitizing when accepting a `char*` from user's code. At least the error msg would be much better when the comparator is broken.

[2017-10-20 21:26] alexhultman commented on #3043
Only because I'm bored and curious to how your brain works - describe how this would be done.

[2017-10-20 21:51] zhenkai commented on #3043
At least for this comparator name use case, a max length limit could do it.

[2017-10-20 21:59] alexhultman commented on #3043
Your "fix" to this "problem" would:

* Potentially break other comparators.
* Not really guarantee desired behavior.
* Introduce runtime overhead.
* Break the entire idea of C.

You could instead, and hear me out now, simply learn how C works and write correct C (or C++) code. Any C programmer *should* know a char pointer without any accompanying length information *has to* be 0-terminated. This h

[2017-10-21 07:23] benoitc commented on #2809
@adamretter did you fix it?

[2017-10-21 07:28] benoitc commented on #1193
bump

[2017-10-21 11:06] adamretter commented on #2809
@benoitc I haven't has a chance to dig into this further yet

[2017-10-23 08:03] zhangjinpeng1987 commented on #2989
@ajkr Thanks for your explanation, i think i get it.

Let's compare the largest key of first file and the smallest key of second file:
7A7480000000000000FF8F5F698000000000FF0000010380000000FF59CB540503800000FF0000000446000000FC seq:13854437548, type:1
007480000000000000FF8F5F698000000000FF0000010380000000FF59CD1D5E03800000FF00
05C5810B000000FC seq:0, type:15

The first byte of second file's smalle

[2017-10-23 08:27] mm304321141 opened #3058 "write stall , background job bug ?"
for testing mongo-rocks , set `write_buffer_size=65536` , run `jstests/core/*.js`
finally write stall at `jstests/core/index_big1.js`

[code]

4  log files , but all BGThreads are waiting cv
[code]

this is `tail -n 100 LOG`
[code]

is the `JOB 2322` has any problem ?

[2017-10-23 08:28] mm304321141 commented on #3058
version 5.3.3
@siying @IslamAbdelRahman @rockeet @lightmark

[2017-10-23 13:14] #3058 closed

[2017-10-23 14:45] maysamyabandeh commented on #3044
This qualifies as a feature request. Issues are to be used only for bug reports. Feel free to the user group (https://www.facebook.com/groups/rocksdb.dev) for such discussions.

[2017-10-23 14:45] #3044 closed

[2017-10-23 14:49] maysamyabandeh commented on #3045
A search for "android: in the user group will already provide some help.

[2017-10-23 14:49] #3045 closed

[2017-10-23 14:52] maysamyabandeh commented on #3049
@yuslepukhin could you take a look?

[2017-10-23 14:55] #3051 closed

[2017-10-24 08:47] wolfkdy commented on #1974
@igorcanadi  I'm a little superised to see this issue, and checked the code rocks_engine.cpp#L500 you posted, but find unrelated code. It is because you posted the code from the master-branch.
I also digged into rocks, the related code in rocks should be those described like below:
[code]
[code]
bottom-most level should be compacted if the option is figured as kIfHaveCompactionFilter

So, would yo

[2017-10-24 14:20] #3043 closed

[2017-10-24 17:53] igorcanadi commented on #1974
@wolfkdy the code you quote is from `DBImpl::CompactRange()`, while this issue is for a different function, `SuggestCompactRange()`

[2017-10-24 19:13] rbrasga commented on #3049
I think I am seeing the same problem. It shows up as a warning then again since 'warnings as errors' is enabled. Here is what I see:

Build FAILED.

       "C:\rocksdb\build\rocksdb.sln" (default target) (1)
        ->
       "C:\rocksdb\build\arena_test.vcxproj.metaproj" (def
       ault target) (3) ->
       "C:\rocksdb\build\rocksdb.vcxproj.metaproj" (defaul
       t target) (5) ->
       "C:\r

[2017-10-24 19:33] yuslepukhin commented on #3049
This is supposed to be fixed by d2a65c59e1ae270822c4c56176a7d1dcfb8e2033

[2017-10-24 21:02] rbrasga commented on #3049
@yuslepukhin I am using 57fcdc264aa0f2bb481fdad9d4a1a7846395c6e1, which is a couple commits ahead of that one. I still get the warnings.

[2017-10-25 06:40] houyujiangjun commented on #2770
you should cut your database into small pieces. and set MmapRead true.

[2017-10-25 11:35] wolfkdy commented on #1974
@igorcanadi  I've found the related code
[code]
It seems suggestCompactRange will compact data exist only above the bottom-most level.
mongoRocks3.2.10 uses suggestCompactRange, which means 90% of data will never be recycled if the db is dropped.
I saw mongoRocks master-branch has done compaction pretty better, it does not depend on the schedule framework of rocksdb, instead, it implements a prior

[2017-10-25 13:16] moderndeveloperllc opened #3070 "Unable to start mongodb do to [RocksCompactionThread] Invalid access at address: 0x1b"
### Expected behavior
Complete start up. The exact data works fine with 5.7.3.

### Actual behavior
[code]
### Steps to reproduce the behavior
This is using the v3.4.7-1.8 tar build from Percona. You can see the config file above.

[2017-10-25 18:05] igorcanadi commented on #1974
Exactly. That's what this issue is about.

[2017-10-25 21:04] ajkr commented on #2770
Try increasing your block cache size. Our default is only 8MB which is pretty small for a 6.5GB database.

I don't understand why mmap reads or cutting into smaller databases would help.

[2017-10-26 00:07] sagar0 commented on #1347
I hope your issue is resolved.
Closing this issue as it is more than an year old. Please feel free to reopen if you think this issue is still relevant and/or has been closed in error.

[2017-10-26 00:07] #1347 closed

[2017-10-26 00:10] guozhangwang opened #3072 "5.8.0 has a regression error on Windows compared to 5.7.3"
We found an issue running Kafka Streams with rocksDB 5.8.0 on Windows, while 5.7.3 does not have this issue. The summary as well as the proc-dump can be found on the JIRA itself:

https://issues.apache.org/jira/browse/KAFKA-6100

[2017-10-26 00:11] guozhangwang commented on #3072
Seems I cannot tag the labels or release numbers on it, so I'll just ping @siying @sagar0 here.

[2017-10-26 00:20] sagar0 commented on #3072
@guozhangwang -- Would you be kind enough to create a reproducible test case for us so that we could isolate it to RocksDB code? Is that on Windows 10 32- or 64-bit? As per https://github.com/facebook/rocksdb/wiki/JNI-Debugging, you should see an error report file generated. It would be great if you could provide that file.

Tagging @adamretter here, who mostly helps us with java (and windows) bui

[2017-10-26 05:48] shanshan0309 commented on #3049
@yuslepukhin, RocksDB still failed to build due to the warning C4244: 'argument': conversion from 'rocksdb::cassandra::ColumnTypeMask' to 'int8_t', possible loss of data with the latest revision 9b18cc2. Thanks.

[2017-10-26 08:52] killme2008 opened #3075 "Compile error with gcc 7.2.0"
### Expected behavior

`make rocksdbjavastaticrelease` should work.

### Actual behavior

Report error with gcc 7.2.0:

[code]

gcc version:

[code]

### Steps to reproduce the behavior

Run command:

[code]

Platform info:
[code]

[2017-10-27 04:56] sagar0 commented on #3072
Seems like Kafka downgraded RocksDB from 5.8.0 to 5.7.3 due to this issue: https://github.com/apache/kafka/pull/4136 .

[2017-10-27 21:08] adamretter commented on #3072
@sagar0 @guozhangwang I will see if I can use the "MDMP crash report data" file from the Kafka ticket to understand what happened... However the quickest way to resolve this would be to have a small reproducible test case, @guozhangwang can you provide that?

[2017-10-29 14:45] rfyiamcool opened #3089 "Disable shlx instructon"
Hi, how to disable SHLX instruction?

[2017-10-29 14:45] rfyiamcool commented on #3089
I konw .

[2017-10-29 14:45] #3089 closed

[2017-10-30 12:27] adamretter commented on #3072
I can't seem to get the PDB files from when I build RocksDB to load and work with the provided MDMP report. I am certainly no expert with Visual Studio, so I may be doing something wrong. Perhaps @yuslepukhin has some thoughts?

Otherwise, I think we will need a reproducible test case from @guozhangwang?

[2017-10-30 15:31] guozhangwang commented on #3072
@adamretter Thanks for looking into this. I will try to provide a minimal reproducible test case. But I cannot say for sure when I will get back to you..

[2017-10-31 01:11] yiwu-arbug opened #3096 "Concurrent writes may get Status::OK while it actually gets IOError on WAL write"
Concurrent writes may get Status::OK while it actually gets IOError on WAL write. This happens when multiple writes form a write batch group, and the leader get an IOError while writing to WAL. The leader failed to pass the error to followers in the group, and the followers end up return Status::OK() while actually writing nothing. The bug only affect writes in a batch group. Future writes after t

[2017-10-31 03:44] 502904420 commented on #734
You can load it using "System.oadLibrary("rocksdbjni")",it works well in Android;But first, you should copy "librocksdbjni.so" to library path of app

[2017-10-31 03:44] 502904420 commented on #734
You can load it using "System.loadLibrary("rocksdbjni")",it works well in Android;But first, you should copy "librocksdbjni.so" to library path of app

[2017-11-01 01:54] iKenApple commented on #2523
Have you set those two parameters WAL_ttl_seconds and WAL_size_limit_MB? By default, WAL files will be deleted as soon as possible. You can find explanation in option.h.

[2017-11-01 09:07] huachaohuang opened #3104 "Ingesting a file causes high read pressure"
In the current implementation, ingesting a file needs to check if the file is overlapped with each level. For each level, all files at that level will be opened and prefetched (512K), to collect all the delete ranges at that level. Then each delete range of that level will be checked to see if it is overlapped with the ingesting file.
For an instance with tens of thousands files, ingesting a file

[2017-11-01 18:59] ajkr commented on #3104
file ingestion has an optimization that prevented me from just checking file endpoints. That optimization allows files to be ingested into lower levels even if their endpoints overlap with files at higher levels, as long as the higher-level file does not have any keys in the ingested file's key-range. So even before range deletion it would open the higher-level file to check whether this condition

[2017-11-02 01:41] huachaohuang commented on #3104
I captured a flame graph when the disk was reading at full speed here:
https://transfer.sh/ul9GV/kernel.svg

[2017-11-02 02:06] jianqingdu opened #3109 "How to improve the performance of multiple Seek and Delete pattern"
### Expected behavior
10000 operation of Put should cost almost the same time with Seek and Delete

### Actual behavior
the Seek and Delete are hundreds time slower than the Put .
If comment the Delete operation, Put and Seek almost cost the same time.
So I want to know if this is an issue, or how to improve the performance if I want to use
this Seek and Delete pattern multiple times

### Steps to

[2017-11-02 09:17] jerousrb opened #3112 "may be a code bug"
in the file db/column_family.cc ,the destructor of ColumnFamilySet,  deleting cfd directly after dereferencing by call  cfd->Unref();

I think we can delete cfd  only when the  cfd->Unref()== true, others we no need to delete!

ColumnFamilySet::~ColumnFamilySet() {
  while (column_family_data_.size() > 0) {
    // cfd destructor will delete itself from column_family_data_
    auto cfd = column_fam

[2017-11-02 18:23] ajkr commented on #3112
Interesting question. The `ColumnFamilySet` is deleted only when the DB is destroyed, so maybe this let's us avoid memory leak in case there are CFD referrers that forget to call Unref(). Want to try fixing it as you suggested and see if valgrind/ASAN pass?

[2017-11-03 19:22] yiwu-arbug commented on #3075
Should be fixed in master after #3081. Will need to wait for 5.9 release for the fix.

[2017-11-03 19:22] #3075 closed

[2017-11-04 04:14] lght opened #3129 "[BUG] RocksDB panics on rocksdb::InternalKeyComparator::Compare"
This bug is a cross-post from [rust-rocksdb issue #148](https://github.com/spacejam/rust-rocksdb/issues/148)

I was working on a project that relies on rust-rocksdb, and got a core dump while the program was compacting the internal rocksdb.

Below is a core dump, and some basic analysis of the bug. I'm still working on figuring this bug out, but the bug seems to be coming from this C++ library.

L

[2017-11-05 13:59] felixbuenemann opened #3130 "stal lang lmdb"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2017-11-05 13:59] #3130 closed

[2017-11-05 14:00] felixbuenemann commented on #3130
Argh, focus jumped away from address bar, please delete if possible.

[2017-11-06 01:35] huachaohuang commented on #3104
Hi, any update or any idea how to optimize it? Anything we can help?
@ajkr

[2017-11-06 03:20] ltwy opened #3132 "why not support DeleteFilesInRange in java ?"
I want to use `DeleteFilesInRange` API  to delete a lot of SST files, but I can not find it in the Java API. Is there any other reason? If no other reason, I am going to add this interface in JNI.

[2017-11-06 08:15] huachaohuang opened #3133 "SeekForPrev with prefix_same_as_start does not work"
[code]

Seems something is wrong with `DBIter::PrevInternal()` if the previous key of the seek key is the first key in the database, hope that helps.

[2017-11-06 16:05] saurabhkadekodi opened #3135 "Segmentation fault when using rocksdb JNI and the Java wrapper"
### Expected behavior
RocksDB does not crash on key-value insertions.

### Actual behavior
Any insertion into the DB results in the following crash:
`SIGSEGV (0xb) at pc=0x000000012a774ec5, pid=48117, tid=0x0000000000006903`

### Steps to reproduce the behavior
Configuration:
[code]

The stacktrace of the crash is:
[code]

[2017-11-06 19:14] ajkr commented on #3132
No reason that I know of.

[2017-11-06 20:09] peteryao2017 commented on #1715
@adamretter  Did this issue get resolved? I am running into the same issue running Kafka 0.10.1.0 version of kafka-client and kafka-stream on windows 7.
My company has very strict rules about what you can install on your machine.
Is there any work around on this?

[2017-11-07 12:54] siddontang commented on #3104
@ajkr

Can we cache all the delete range blocks to avoid re-read from SST?

[2017-11-07 13:59] siddontang commented on #3104
Maybe we can also use a map to cache the files which contain the range del block to avoid checking all files.

[2017-11-07 15:08] huachaohuang commented on #3104
Can we just check file endpoints if we don't mind to disable this optimization?

Or, since we haven't use delete range in production, can we add an option to disable delete range, so that we don't need to check the delete ranges in file ingestion?

[2017-11-08 13:11] adamretter commented on #1715
@peteryao2017 If you have exactly the same problem. It is likely you need to download and install the `Microsoft Visual C++ 2015 Redistributable` from Microsoft.

[2017-11-08 13:12] adamretter commented on #3132
@Itwy please feel free to send a PR.

[2017-11-08 13:13] #3132 closed

[2017-11-08 13:15] adamretter commented on #3135
@saurabhkadekodi We are going to need to know quite a bit more from you to be able to help you.

Let's start with:

1. What version of RocksDB are you using?
2. What platform and version?
3. How can we reproduce what you are seeing? You have only provided the configuration and a truncated stack trace!

[2017-11-08 14:25] peteryao2017 commented on #1715
Thank you very much!
Peter

From: Adam Retter [mailto:notifications@github.com]
Sent: Wednesday, November 08, 2017 8:12 AM
To: facebook/rocksdb
Cc: Yao, Xiaodong; Mention
Subject: Re: [facebook/rocksdb] rocksdb UnsatisfiedLinkError (#1715)

@peteryao2017<https://github.com/peteryao2017> If you have exactly the same problem. It is likely you need to download and install the Microsoft Visual C++ 201

[2017-11-08 14:50] itwy commented on #3132
@adamretter What PR?

[2017-11-08 15:23] kapitan-k opened #3145 "No deletion of wal files"
### Expected behavior
Expecting RocksDB to delete wal files.
### Actual behavior
After some time of usage deletion stops.
### Steps to reproduce the behavior
Could you please check my options to be sane?
As you can see below, I set for example:
WAL_ttl_seconds=60,
WAL_size_limit_MB=360,
max_total_wal_size=1073741824,
delete_obsolete_files_period_micros=10000
I expect wal files to be deleted relati

[2017-11-08 18:28] ajkr commented on #3145
It looks like some of your column families are being flushed aggressively while others aren't getting flushed at all. RocksDB interleaves data from all column families in the WAL file, so we can't archive/delete a WAL until all column families have flushed data that WAL's data.

Does the total size of the WALs in your DB directory exceed 1GB (your `max_total_wal_size`)? When it does, we should aut

[2017-11-08 18:30] mdcallag opened #3146 "DumpSupportInfo doesn't log all supported compression types"
read DumpSupportInfo in https://github.com/facebook/rocksdb/blob/master/util/compression.h#L131

It is doesn't print out for all supported compression types from:

[code]

[2017-11-08 18:39] adamretter commented on #3132
@itwy I was suggesting that you might like to send us a PR!

[2017-11-08 18:43] mdcallag opened #3147 "bottommost_compression doesn't reject unsupported compression types"
I think this explains a user problem. They set bottommost_compression to kZSTD, but that is not supported, so they don't get compression and use 10X more space than expected.
https://groups.google.com/forum/#!topic/myrocks-dev/N95FCR2UGoA

My server supports kZSTDNotFinalCompression but not kZSTD.

When I try to set compression for a level to kZSTD the server doesn't start as expected:
[code]
When

[2017-11-08 18:53] kapitan-k commented on #3145
Thanks for your quick reply. As far as I know all files with .log ending are always wals, correct?
If true, the current total wal size in the wal_dir is ~36GB whilst having the max_total_wal_size of 1GB. (Line 10 of aboves LOG: "Write Ahead Log file in /perfdisk/bigdata_main: ...") with also a lots of wal files of zero bytes.
So this is not intentional behavior, right?
It seems like RocksDB just r

[2017-11-08 18:53] kapitan-k commented on #3145
Thanks for your quick reply. As far as I know all files with .log ending are always wals, correct?
If true, the current total wal size in the wal_dir is ~36GB whilst having the max_total_wal_size of 1GB. (Line 10 of aboves LOG: "Write Ahead Log file in /perfdisk/bigdata_main: ...") with also a lots of wal files of zero bytes.
So this is not intentional behavior, right?
It seems like RocksDB just r

[2017-11-08 19:03] itwy commented on #3132
@adamretter too busy for this shit. Do it yourself.

[2017-11-08 19:50] kapitan-k commented on #3145
But disk shouldn't be the problem anyway.

[2017-11-08 20:36] adamretter commented on #3132
@itwy are you not the same person as @ltwy?

[2017-11-08 22:06] itwy commented on #3132
Lol. You pinged me.

[2017-11-09 02:56] LinuxGit opened #3150 "rocksdb open `devices/system/cpu/online` frequently"
### Expected behavior
rocksdb open `devices/system/cpu/online` once

### Actual behavior
rocksdb open `devices/system/cpu/online` frequently

### Steps to reproduce the behavior
We use systemtap to trace vfs.open、vfs.read and vfs.write syscalls of [TiKV](https://github.com/pingcap/tikv) process . (TiKV use RocksDB as storage engine.)
And find that it opens `devices/system/cpu/online` frequently.
[

[2017-11-09 14:09] killme2008 commented on #2742
hello ,is it released?  @zawlazaw

[2017-11-09 14:26] saurabhkadekodi commented on #3135
1. I am using rocksdb JNI 5.8.0 (I believe that's the latest version).
2. This code is being run on Amazon EC2 instances running CentOS 6 and Java version 1.7.0
3. The rocksdb jni was used in a codebase where I exactly configured it like I have mentioned it above and the code crashed with a single key-value put (the first one).

[2017-11-09 14:32] adamretter commented on #3135
@saurabhkadekodi Okay but we have a entire test suite for RocksJava which is executed on Travis-CI and that does things like `put`, and that passes just fine. Can you reproduce the issue on your own machine or on a VirtualBox CentOS 6?

Can you add more line to the stacktrace above?

[2017-11-10 08:40] killme2008 opened #3154 "RocksDBJava: Consider using PhantomReference-based cleaner to replace finalize?"
A idea came from http://mail.openjdk.java.net/pipermail/core-libs-dev/2015-June/034425.htmlph

`finalize` in RocksDB objects is not a good practice and it will affect GC, make young GC takes more time even when you close the resource explicitly.

In our system ,we replace the finalize with  PhantomReference-based cleaner, the young GC cost time drop to almost half of the original.

Google guava li

[2017-11-10 10:37] #2733 closed

[2017-11-12 20:23] zawlazaw commented on #2742
@killme2008, currently it is inside branch 5.9.fb, so let's hope for next version :)

[2017-11-12 20:53] MPdaedalus commented on #2282
is there any progress on this issue? Maybe something like map.put(key,oldValue,newValue):boolean could be implemented for atomic updates, I know it would not be as efficient but if there is another way to do atomic updates for RockDb in java without using counters i'm all ears.

[2017-11-13 20:39] rajivshah3 opened #3161 "Error accessing persistence store"
When running the IOTA IRI software an exception about accessing the persistence store scrolls by repeatedly after about 30-60 min after starting. I've reported this at https://github.com/iotaledger/iri/issues/351 (more details there) but this might be a RocksDB issue.

[2017-11-13 22:29] #3161 closed

[2017-11-13 22:29] rajivshah3 commented on #3161
I just realized I ran out of disk space 🤦‍♂️

[2017-11-14 02:23] zhangjinpeng1987 commented on #3104
We only need read delete range marks from these files which overlap with the sst file is about to ingest.
@ajkr Is there anything can't satisfy if use this strategy?

[2017-11-14 02:38] zhangjinpeng1987 commented on #3104
We found some conflict when compaction type is not universal, since we need check overlap [here](https://github.com/facebook/rocksdb/blob/master/db/external_sst_file_ingestion_job.cc#L479), the [previous checks](https://github.com/facebook/rocksdb/blob/master/db/external_sst_file_ingestion_job.cc#L445) is redundant.

[2017-11-14 05:22] ajkr commented on #3104
The [previous check](https://github.com/facebook/rocksdb/blob/master/db/external_sst_file_ingestion_job.cc#L445) is needed in order to ingest files into the lowest possible level. For example,

- L1 has file1 containing keys A, B, C, Z
- ingested file has keys D, E, F
- L2 has file2 containing keys A, B

What we do is:

- at L1, IngestedFileOverlapWithLevel sets overlap_with_level=false
- at L1, I

[2017-11-14 05:28] ajkr commented on #3104
It feels kind of surprising that we check more than one file at each level. cc @IslamAbdelRahman - can we just check the one that overlaps (if multiple overlap that implies there must be keys overlapping the ingested range so no need to continue)?

[2017-11-14 07:19] yakexi07 opened #3166 "ardb restart"
when I restart ardb ,  log will be this ,  it took me 2 hours ,  do you have any settings to speed up  ? thank you , I waiting for your replay

[43621] 11-14 07:15:17,626 INFO [RocksDB]EVENT_LOG_v1 {"time_micros": 1510643717626275, "job": 1, "event": "recovery_started", "log_files": [16, 27, 28, 30, 31, 42, 43, 45, 46, 48, 49, 60, 61, 63, 64, 66, 69, 72, 74, 76, 80, 81, 84, 86, 89, 93, 95, 107, 11

[2017-11-14 08:20] mikhail-antonov commented on #3104
I'll look at the code around it, but first questions that comes to my mind

 - if the IngestExternalFile() is called with a long list of files, i expect from reading the above that we pay this price for every single file we ingest, and it happens sequentially?
 - for people who don't use range deletes, does this IO price still need to be paid, there's no flag to disable range deletes checking duri

[2017-11-14 10:03] squalfof commented on #3166
how about paste your ardb.conf, rocksdb.options here? really a lot of ```log``` files here

[2017-11-14 10:29] yakexi07 commented on #3166
my ardb.conf  rocksdb.options  is

rocksdb.options               write_buffer_size=512M;max_write_buffer_number=5;min_write_buffer_number_to_merge=2;compression=kSnappyCompression;\
                              bloom_locality=1;memtable_prefix_bloom_size_ratio=0.1;\
                              block_based_table_factory={block_cache=512M;filter_policy=bloomfilter:10:true};\

[2017-11-14 16:26] christian-esken opened #3167 "SIGSEGV in librocksdbjni when using options.setMaxOpenFiles()"
I want to reduce the memory footprint of RocksDB. As the DB got quite large, i changed options:
`options.setMaxOpenFiles(-1);  // original code. works properly if DB is small enough`
`options.setMaxOpenFiles(20);  // new code. Leads to SIGSEGV`

I am using RocksDB in Java 8, and tested with rocksdbjni 5.7.2, 5.7.3 and 5.8.0.

### Expected behavior
RocksDB should run properly and use less memory wh

[2017-11-14 21:59] bdarnell opened #3169 "Data corruption in 5.9 (possibly related to range deletion)"
When we upgraded CockroachDB from rocksdb 5.7 to 5.9, we started experiencing data corruption (cockroachdb/cockroach#19947). Bisection pointed to rocksdb commit 593d3de as the cuprit (this is not certain because our reproduction is not 100% reliable, but we've repeated it several times).

That commit causes certain blocks (including the range deletion block) to contain no restart points (other tha

[2017-11-15 03:01] squalfof commented on #3166
Just realized u raised this issue under rocksdb instead of ardb  : (
Thought u should close this issue here and raise it under ardb, that's more appropriate.

[2017-11-15 03:17] yakexi07 commented on #3166
I am sorry , thank  you

[2017-11-15 03:17] #3166 closed

[2017-11-16 01:09] zhangjinpeng1987 commented on #3169
@bdarnell Do you use DeleteFilesInRange together with DeleteRange?

[2017-11-16 01:15] bdarnell commented on #3169
No. We use DeleteRange but not DeleteFilesInRange.

[2017-11-16 06:42] zhangjinpeng1987 commented on #3169
After set restart interval to `kMaxInt32` for range deletion block, the `num_restarts` will always be 0, so when construct a block iterator to read this block at [here](https://github.com/facebook/rocksdb/blob/master/table/block.cc#L434), will construct a `EmptyInternalIterator` and will read nothing.
@ajkr If i am right?

[2017-11-16 06:48] zhangjinpeng1987 commented on #3169
To solve this problem should improve the implementation at [here](https://github.com/facebook/rocksdb/blob/master/table/block_builder.cc#L94), the first restart position 0, we also need to record it.

[2017-11-16 12:13] kapitan-k commented on #3145
I copied the database to a different server and everything is running smoothly.
The original server turned wild last days so I assume it to be a hardware failure and no problem with RocksDB. Thanks for your help.

[2017-11-16 12:13] #3145 closed

[2017-11-16 16:57] mdcallag opened #3175 "operator[] delete, operator[] new in lru_cache make tcmalloc report invalid free"
This is easy to reproduce. Build FB MySQL with MyRocks and tcmalloc, then run mysqld --help --verbose and tcmalloc reports an invalid free. I get this using a MyRocks build from November 3. This occurs when [~LRUCache](https://github.com/facebook/rocksdb/blob/master/cache/lru_cache.cc#L479) does delete on shards_ and then [LRUCacheShard::operator delete[]](https://github.com/facebook/rocksdb/blob/

[2017-11-16 17:06] mdcallag opened #3176 "static initializers create LRUCache too many times at process start"
Reproduction is: run mysqld with gdb after putting breakpoint on the LRUCache ctor and count how many times that is run from the statistic initializers in options_helper.h. It comes from this code and the template above it.
https://github.com/facebook/rocksdb/blob/master/options/options_helper.h#L391

There are ~10 calls from the sequence:
options_helper.h -> ColumnFamilyOptions -> BlockBasedTable

[2017-11-16 17:30] maysamyabandeh commented on #3176
There are two cases:
1) MyRocks should not have invoked the CF initialization that many times.
2) RocksDB should not re-create LRU cache that many time.
The latter can be avoid by myrocks setting the options properly as the option sanitizer in rocksdb sets the LRU automatically when the user failed to do so:
[code]

[2017-11-16 18:45] maysamyabandeh commented on #3175
@yiwu-arbug could you please chime in?

[2017-11-16 18:55] yiwu-arbug commented on #3175
I'm not familiar with tcmalloc. The reason to override new[] and delete[] is to have it call `aligned_malloc` instead of normal `malloc`. A quick search didn't find if tcmalloc support `aligned_malloc` or how can we change code to support it.

[2017-11-16 19:16] mdcallag commented on #3176
With respect to 1. above, 90% of this comes from static initializers. MyRocks isn't invoking it. It comes from
[code]

[2017-11-16 19:18] mdcallag commented on #3175
My question isn't about the need to override new[] and delete[]. My question is whether the current code overrides them correctly.

[2017-11-16 19:35] maysamyabandeh commented on #3176
Thanks @mdcallag. It seems to be known issue with local static variables in inline functions. Let me give it a try to moving it to .cc and see if it handles the issue: https://stackoverflow.com/questions/11962918/local-static-variable-is-instantiated-multiple-times-why
[code]

[2017-11-16 21:21] yiwu-arbug commented on #3175
@mdcallag do you happen to know where I can find documents and source code of tcmalloc? I can only find an introduction article about it.

[2017-11-16 22:40] yiwu-arbug commented on #3175
AFAIK the override operation should be correct, but the implementation of`port::cacheline_aligned_alloc` probably doesn't handle tcmalloc right https://github.com/facebook/rocksdb/blob/master/port/port_posix.cc#L187-L198
Maybe tcmalloc doesn't support aligned_alloc, or it support similar functionality by implementing another function. But we should at least add a macro to disable aligned_malloc, w

[2017-11-16 23:06] maysamyabandeh commented on #3176
The problem is that each .cc file will have a separate copy of this static variable and that is why its constructor is invoked multiple times. Since this is a temporary variable used only to get the offset of struct fields, it does not occur to me as a bug. The overhead of having 10 of this object is also seems to be negligible. It would still good to avoid it though.
@mdcallag let me know if the

[2017-11-16 23:21] tulshiba commented on #3175
Looks similar to this http://tracker.ceph.com/issues/21422

[2017-11-16 23:38] yiwu-arbug commented on #3175
@tulshiba Thanks much for the pointer. The latter link confirm it is fixed in gperftools-2.6.1-5.fc26 and gperftools-2.6.1-5.fc27. @mdcallag Do you mind trying a newer version of tcmalloc that come with gperftools?

[2017-11-17 00:40] mdcallag commented on #3175
Thanks for saving us a lot of time @tulshiba
Yes, @yiwu-arbug, I will try that.

[2017-11-17 00:42] mdcallag commented on #3176
Maybe not a bug. But not elegant and an accident waiting to happen in the future when more code gets associated with that call stack.

[2017-11-17 00:46] mdcallag commented on #3176
Actually, I will modify the opinion. The number of times the ctor/dtor for LRUCache gets called is a function of the number of entries in cf_options_type_info that satisfy some condition.
https://github.com/facebook/rocksdb/blob/master/options/options_helper.h#L391

You can see that from the line numbers here:
https://gist.github.com/mdcallag/80f9e4a51561124442254951d985ee9b

This isn't a once per

[2017-11-17 09:10] ajkr commented on #3104
Hi, want to try out #3179? In my testing it only reads range deletions from the relevant files.

[2017-11-17 15:55] huachaohuang commented on #3104
Awesome! We will test it out ASAP and give some feedback later.

[2017-11-17 18:44] maysamyabandeh commented on #3167
Thanks @christian-esken.

Here is the stack trace:
[code]
@ajkr does it ring a bell? Is there any data structure in this function that could be affected by files getting closed? tombstone_map for example?

[2017-11-17 20:18] yuslepukhin opened #3180 "Minor FilePrefetch issue"
https://github.com/facebook/rocksdb/blob/master/util/file_reader_writer.cc#L609
### Expected behavior
We want to read the data at least as early as the specified read offset and thus the offset needs to be rounded down.
### Actual behavior
By rounding up the read offset when pref-etching data we forgo up to the alignment length of the data that we may be interested in.
### Steps to reproduce the b

[2017-11-17 22:12] maysamyabandeh commented on #3180
@siying can you chime in?
[code]

[2017-11-17 23:09] mdcallag commented on #3176
I still disagree. Using data from the trace I shared above -- https://gist.github.com/mdcallag/80f9e4a51561124442254951d985ee9b

I grep'd for "options_helper" and then removed all lines with options_helper.h:382 and what remains is below. These are from entries in that static data structure that each trigger create/delete of LRUCache. This occurs once per each of those entries, not once per file.

[2017-11-17 23:24] maysamyabandeh commented on #3176
The number of lines in your paste is 10. The number of cc files that include options_helper.h are also 10.
[code]
My assumption was that what trigger the static initialization is different from file to file and that is why we see different line numbers in the stack traces. I could be wrong though. Given that the fix is ready in https://github.com/facebook/rocksdb/pull/3178 it should be easy to ver

[2017-11-18 01:12] #3176 closed

[2017-11-19 05:50] xoxoj opened #3181 "win7 vs2015 x86 NewIterator prefix seek crush.."
win7
vs2015
x86
rocksdb

remove the XPRESS depend

==========================================================

![rocksdb_error](https://user-images.githubusercontent.com/1118723/32987811-406300ac-cd30-11e7-90af-04dfdb2681a1.png)

code:

[code]

[2017-11-19 10:33] chitralverma commented on #1955
Hey, I'm running into the same issue, any resolutions for this one ?

[2017-11-19 18:28] warrenfalk opened #3184 "LRU Cache bug causes DLL load failure in windows in 5.8"
### Expected behavior
v5.8 Windows DLL doesn't crash on load

### Actual behavior
v5.8 Windows DLL crashes on load in call to `_aligned_malloc` in `port_win.h` with message "invalid parameter was passed to a function that considers invalid parameters fatal"

### Steps to reproduce the behavior
Build in windows and try to load DLL

I think this may also be related to many other reports of breakage

[2017-11-19 21:32] adamretter commented on #3184
@warrenfalk I wonder if this is the same issue as: https://github.com/facebook/rocksdb/issues/2965

[2017-11-19 23:39] adamretter commented on #1955
@chitralverma Please see above, I need further details to be able to understand the issue. Perhaps you could provide these?

[2017-11-20 03:33] hljyunxi opened #3186 "infinite loop when I call rocksdb iterator Next (rocksdb 3.8 branch)"
pIterator = stRocksDb.NewIterator("login");
    pIterator->SeekToFirst();
    while(pIterator->Valid())
    {
        std::string strKey = std::string(pIterator->key().data(), pIterator->key().size());
        std::string strVal = std::string(pIterator->value().data(), pIterator->value().size());

        uint64_t ullKey, ullDataId;
        DecodeKey(strKey, ullKey, ullDataId);

        std::vecto

[2017-11-20 09:38] christian-esken commented on #3167
For your information. On a recent test run (using maxOpenFiles 100)  in the same application I encountered a SEGV during a seek operation, and the stack trace also ends with rocksdb::RangeDelAggregator::ShouldDelete :

[code]

[2017-11-20 12:12] #3186 closed

[2017-11-20 15:54] maysamyabandeh commented on #3176
@mdcallag The issue is closed automatically by the landed PR. Feel free to reopen it if you still concerned whether the patch addresses the original issue.

[2017-11-20 21:57] yiwu-arbug commented on #3184
Just tagged 5.8.6 which include 0ec90a7 and 682db81.

@adamretter Can you help close #2965 if you think its the same issue?

[2017-11-20 21:57] #3184 closed

[2017-11-20 22:02] yiwu-arbug commented on #3184
Never mind. I'll close that one.

[2017-11-20 22:02] yiwu-arbug commented on #2965
Just tagged 5.8.6 which include 0ec90a7 and 682db81.

[2017-11-20 22:02] #2965 closed

[2017-11-21 13:43] Andymic opened #3191 "Write_stress cored dumped"
### Expected behavior
Expected to see the results of the stress test

### Actual behavior
Write to DB failed: IO error: While open a file for appending: /tmp/rocksdbtest-1000/write_stress/004853.sst: Too many open files Aborted (core dumped)

### Steps to reproduce the behavior
Distributor ID:	Ubuntu
Description:	Ubuntu 16.04.3 LTS
Release:	16.04
Codename:	xenial
Compilers: G++ and GCC 5
Installed

[2017-11-21 14:40] flozano commented on #2687
I'm getting this same error and I think I'm following the same alloc/free order as described above:
[code]
each `close****` method just does try{}catch() with error logging). There are no occurences of such errors in the log.

I've tried reordering above a little, and I still get the same assertion error. I'm using RocksDB 5.8.0, JDK 1.8.0_144, MacOS 10.12.

[2017-11-21 16:20] maysamyabandeh commented on #3181
Could not reproduce this. @xoxoj do you see that on master?
[code]

[2017-11-21 16:25] maysamyabandeh commented on #3181
oh I missed the note about XPRESS, which is a windows-only option. @yuslepukhin can you reproduce this?

[2017-11-21 16:35] maysamyabandeh commented on #3191
Thanks @Andymic Can you report on the following numbers?

- ulimit -a  ## Soft limit:
- ulimit -a -H  ## Hard limit:
- cat /proc/$PID/limits
- max_open_files config value in rocksdb

[2017-11-22 04:01] huachaohuang commented on #3104
Hi, we have been testing https://github.com/facebook/rocksdb/pull/3179 for a while, so far so good, it's very stable now, good job!

[2017-11-22 11:08] loadwiki commented on #2005
Hello guys！I have the similar situation. In my case log data is written to rocksdb,pure write no read.
My case:  key 32bytes,value 256 bytes; all k,v is random generated.
                 tps range:top 50k, low 8000,
                 write_buffer_size=128m,max_write_buffer_number=5
                 level0_slowdown_writes_trigger=default,delayed_write_rate=default
My target is a max smooth pure wri

[2017-11-22 12:50] loadwiki commented on #2005
@siying Following your suggestion above with smaller  level0_slowdown_writes_trigger bigger delayed_write_rate, either the overall write rate or the stability of write speed are not convenient.
Here is some conf and log info:
write_buffer_size=128m,max_write_buffer_number=5
level0_slowdown_writes_trigger=6,delayed_write_rate=64,
server config: 32 core 128G 4T sata disk
2017/11/22-20:14:37.197649 7

[2017-11-22 15:00] adamretter commented on #2965
@yiwu-arbug Thanks for fixing

[2017-11-22 15:00] adamretter commented on #3184
@warrenfalk thanks for reporting, and thanks @yiwu-arbug for fixing.

[2017-11-22 15:03] adamretter commented on #2954
@sagar0 Any progress on investigating this please?

[2017-11-22 16:54] miasantreble commented on #3169
@bdarnell thanks for report the regression, we've revert the commit and backported to 5.9.fb.
We will work on another fix that doesn't break CockroachDB. Closing the issue for now.

[2017-11-22 16:54] #3169 closed

[2017-11-23 00:30] inoas opened #3197 "OT:Relicensing"
OT: In the react repos I read you guys re-licensed rocksdb:
* How did you proceed with independent (e.g. not facebook employed) contributors who contributed based on the given license when their PRs where merged? Did you question them if the license change was okay?
* Where can I read more about this and how that was resolved?
* Was it no issue at all, and how so?

Ref: https://github.com/facebook

[2017-11-23 11:58] SunguckLee opened #3198 "Occasional performance drop on MongoRocks"
### Expected behavior
I have prepared mongodb 3.4.10 + RocksDB 5.9.
And ran sysbench(https://github.com/Percona-Lab/sysbench/tree/dev-mongodb-support-1.0) prepare for test with this options.
[code]

I have expected stable insert throughput. because there's no query(Find). only single thread inserts document to test collection (sbtest).

### Actual behavior
First  a few hours, everything is peacefu

[2017-11-23 12:01] SunguckLee commented on #3198
And this is rocksdb storage engine status during performance drop.

[code]

[2017-11-24 01:13] egn1 commented on #1302
Can it be that rocksdb binary is compiled with debug?

[2017-11-24 01:18] adamretter commented on #1302
Is this still an issue with 5.8.6?

[2017-11-24 06:38] egn1 commented on #1302
I don't know what version the lib is. It seems to be delivered together with [opendedup](http://opendedup.org/odd/overview/).

I have all redistributables installed. The strange thing is that there seems to be kind of circular dependency.N

![grafik](https://user-images.githubusercontent.com/7036868/33198240-334c9c26-d0ea-11e7-940d-b98a2910db6a.png)

[2017-11-27 10:00] wjlight commented on #2531
hi, I use rocksdbjni-5.8.6.jar in windows10,
`Exception in thread "main" java.lang.UnsatisfiedLinkError: C:\Users\xxx\AppData\Local\Temp\librocksdbjni948865322637392821.dll:A dynamic link library (DLL) initialization routine failed`
use VS2017,
When I use Dependency Walker, missing
`API-MS-WIN-CORE-APIQUERY-L1-1-0.DLL
API-MS-WIN-CORE-APPCOMPAT-L1-1-1.DLL
API-MS-WIN-CORE-COMM-L1-1-0.DLL
API-MS-WIN-

[2017-11-27 17:08] mdcallag commented on #3198
Thanks for the detailed report. I reshared it at
https://groups.google.com/forum/#!forum/mongo-rocks

There are compaction stalls. I am not sure whether that is the issue here. lz4 compaction for L1, L2 and maybe L3 will make the stalls worse compared to not using compression for L0/L1/L2.

Internally there is a query done to confirm PK is unique, but that should be in-memory only because inserts

[2017-11-27 19:43] igorcanadi commented on #3198
Thanks for the great report! `AddLiveFiles` using a lot of CPU is definitely not expected, but it is happening in the background thread, so it might not be the cause of the slowdown. Do you have data on total CPU usage during fast and slow periods? Are all CPU cores at 100% during the slow period?

[2017-11-27 23:00] hermanlee opened #3200 "SyncWAL() triggers a failure on Windows"
Testing of MyRocks being ported into MariaDB of the latest SyncWAL() changes have triggered an error on Windows builds:

https://jira.mariadb.org/browse/MDEV-13852

The check !it->writer->file()->writable_file()->IsSyncThreadSafe() fails for Windows. What is the expected behavior here. Is SyncWAL() not supposed to be called on Windows builds?

[2017-11-27 23:05] maysamyabandeh commented on #3200
@yuslepukhin can you chime in? Is sync thread-safe in windows? Should we override IsSyncThreadSafe() in io_win.h?

[2017-11-28 08:36] ananclub commented on #2707
sorry for reply late.

I use below command to build.

gmake DEBUG_LEVEL=0 CXX=c++ EXTRA_CXXFLAGS="-I/usr/local/include" EXTRA_CFLAGS="-I/usr/local/include" LDFLAGS="-L/usr/local/lib -llz4 -lpthread -lsnappy -lz -lbz2 -lgflags" -j8

now i use cmake to genarate Makefile,that works.

[2017-11-28 12:50] SunguckLee commented on #3198
Thanks for your attention.

Sorry I have forgotten checking rocksdb LOG.
After filing this issue, I have checked rocksdb LOG and found these L0 compaction stall message.
[code]
Also evaluating AddLiveFiles method, but there's no buggy things. As @mdcallag mentioned, this is compaction issue. The problem is too frequent compactions periodically.
When insert performance drop, these stall message is

[2017-11-29 03:50] javeme commented on #659
@adamretter Hi, I have some questions. what is the default MergeOperator with rocksdbjni? Does it achieve the counter or list-append operations? Thank you.

I only see two MergeOperator classes in rocksdbjni(CassandraValueMergeOperator and StringAppendOperator), does it mean that we can only use these two operators without implement in C++?

[2017-11-29 05:30] javeme opened #3206 "java UnsatisfiedLinkError when new CassandraValueMergeOperator()"
java UnsatisfiedLinkError when new CassandraValueMergeOperator()

[code]

Happens in version 5.8.6 on Mac.

[2017-11-29 07:10] zengqingfu1442 commented on #814
I have installed these on my system with yum,
[dzeng@dzeng rocksdb-master]$ rpm -qa | grep lz4
lz4-1.7.3-1.el7.x86_64
lz4-devel-1.7.3-1.el7.x86_64
[dzeng@dzeng rocksdb-master]$ rpm -qa | grep zstd
libzstd-devel-1.3.1-1.el7.x86_64
libzstd-1.3.1-1.el7.x86_64
zstd-1.3.1-1.el7.x86_64
[dzeng@dzeng rocksdb-master]$ rpm -qa | grep snappy
snappy-devel-1.1.0-3.el7.x86_64
snappy-1.1.0-3.el7.x86_64
[dzeng@dz