[2017-03-01 17:51] igorcanadi commented on #1445
I agree. @ummae would you mind sending a quick PR?

[2017-03-01 18:39] ummae commented on #1445
@igorcanadi okay, I will.

[2017-03-01 18:46] yiwu-arbug commented on #1938
I think this is intended behavior but @lightmark can confirm. The comparator take into account the full key, not just the prefix.

[2017-03-01 19:04] yiwu-arbug commented on #1936
We don't have secondary index of any kind. Even if we return sequence id for each write, we won't be able to use it to find a key quickly.

[2017-03-01 19:16] yiwu-arbug commented on #1936
Wait, if you can always get the unique_id when you have the key, how about you store your key in the form "unique_id+key" and
* when you want to query key, query "unique_id+key" instead
* when you want to query unique_id, have a iterator seek to "unique_id+(empty)", and look at the first key you encounter.
Depends on the encoding of "unique_id+key", you may need a custom key comparator.

[2017-03-01 19:20] yiwu-arbug commented on #1934
The CMake script probably don't support OSX. Can you try `make` instead?

[2017-03-01 19:23] mhlakhani commented on #1930
I've passed this on to https://github.com/raza15 who will be taking a look at this. Thanks for filing @yiwu-arbug!

[2017-03-01 19:50] jm4games commented on #1938
Comments in code state that the behavior of 'SeekForPrev' should be '<=' in sync with what the wiki article provides. So would that imply this is a bug?

[2017-03-01 21:27] yiwu-arbug commented on #1938
Are you seeking using the prefix or the fully key? Say you have {b1,c1,c2} in the DB then my understanding is SeekForPrev(c1) = c1 and SeekForPrev(c) = b1.

[2017-03-01 21:29] yiwu-arbug commented on #1930
@mhlakhani awesome! Let me know if you have any question!

[2017-03-02 02:14] yiwu-arbug commented on #1938
@jm4games are you able to share the simple test you have?

[2017-03-02 04:36] jm4games commented on #1938
@yiwu-arbug  Ok your last example cleared it up for me. I made the stupid assumption that it was only matching on the prefix which is not the case. It will want to match the full key. So like your example I was only supply part of the key (eg 'c') and not the full key which will end up giving ups c1. What I really need to be doing is supplying a full key that is the max of the range I want. The pr

[2017-03-02 04:36] #1938 closed

[2017-03-02 08:55] ayappanec commented on #1317
Right now, building rocksdbjava in PowerPC is broken due to JNI library name. I made a patch that fixes the issue in both PowerPC64 LE & BE. The commit here ->  https://github.com/ibmsoe/rocksdb/commit/457be9d9d85789915b45502a9abe33b9861708c2
"uname -m" and java's os.arch matches in PowerPC architecture. I made use of this advantage to fix the issue.

[2017-03-02 09:55] ayappanec commented on #1926
Any update on this ?

[2017-03-03 01:50] mbakke opened #1947 "Many tests fail with snappy-1.1.4"
Hello,

After updating to snappy version 1.1.4 on my system, this test consistently fails:

[code]

Update: There are many others with similar problems :)

[2017-03-03 02:31] yiwu-arbug commented on #1947
Thanks for reporting! We are on snappy 1.1.3 and haven't test with 1.1.4. Will investigate.

[2017-03-03 10:22] #1887 closed

[2017-03-04 01:07] zhangjinpeng1987 commented on #1888
The little WAL logs are created when flush memtable to sst(when we fire manual compaction for one column family), because we use 4 column families, so the WAL logs can not delete. Thanks all of you.

[2017-03-04 02:01] lightmark commented on #1938
It takes the full key.
if you have "c3" and "c4" and seekforprev("c4"), it should return "c4". I am not able to understand your use case though.

[2017-03-05 08:04] ummae commented on #1445
@igorcanadi I found [DateTieredDB](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/utilities/date_tiered_db.h) that seems work like what I expected to `DBWithTTL`. It need timestamp to put for keys, though. I am not sure still we need this logic on `DBWithTTL`. What do you think?

[2017-03-06 17:20] igorcanadi commented on #1445
DateTieredDB is a different concept from DBWithTTL internally. It uses column families to drop old data instead of compaction. If that suits your need, that's fine. If not, I think a patch that fixes DBWithTTL behavior will be accepted.

[2017-03-07 12:22] weihuazheng opened #1954 "How can i use rocksdb java to store data in-memery?"
i want to use rocksdb java to store data in-memery as possible

[2017-03-07 12:47] koushikpaul1 opened #1955 "Tomcat crashes while trying to close RocksDb"
I am facing the below issue while trying to close rocksdb in java. The tomcat immediately crashes while trying to close rocksdb. I am using rocksdbjni-4.9.0.jar.

[code]

[2017-03-07 16:52] ummae commented on #1445
@igorcanadi okay, there are two problems on the PR, please let me know what do you think about it

[2017-03-07 21:32] #1750 closed

[2017-03-08 07:38] kobikis opened #1964 "RocksDB 5.1.2 java crash after merge operation"
RocksDB 5.1.2 java crash after merge operation, In RocksDB 4.9.0 we never saw this issue.
Scenario:
put some serialized object to rocksdb
change the object and serialize it .
merge this serialized object with the same key to rocksdb.

test - http://pastebin.com/BMxuuH6k

BTW - if I change the merge to put operation everything is ok.

[code]

[2017-03-08 08:50] adamretter commented on #1964
@kobikis Do you get the same issue with the latest HEAD?

[2017-03-08 08:51] adamretter commented on #1955
Can you provide a link to the `hs_err_pid16470.log` file please?

[2017-03-08 09:06] adamretter commented on #1954
Take a read of the following two wiki pages:
* [How to persist in memory RocksDB database?](https://github.com/facebook/rocksdb/wiki/How-to-persist-in-memory-RocksDB-database%3F)
* [PlainTable-Format](https://github.com/facebook/rocksdb/wiki/PlainTable-Format)

It is not yet possible to set the table factory from the Java API, but I think it would be pretty trivial to add that.

[2017-03-08 09:07] koushikpaul1 commented on #1955
I have attached the file. please check.

[hs_err_pid371.txt](https://github.com/facebook/rocksdb/files/827114/hs_err_pid371.txt)

[2017-03-08 09:11] adamretter commented on #1926
@ayappanec Switching to the C++ style I think likely addresses @siying's concerns. Can you open a PR?

I have a concern though, that we have no way of preventing this from creeping in again in future because there is no IBM Java CI

[2017-03-08 09:28] adamretter commented on #1955
Could you follow the example here https://github.com/facebook/rocksdb/wiki/JNI-Debugging#linux to get me the relevant C++ line number of your top stack frame?

[2017-03-08 09:33] adamretter commented on #1937
So my first question would be, if you write the equivalent C++ code, do you also get 0?

[2017-03-08 09:36] weihuazheng commented on #1954
@adamretter  thanks a lot.

[2017-03-08 09:36] #1954 closed

[2017-03-08 09:37] adamretter commented on #1790
@tamird Would you be able to submit a PR please?

[2017-03-08 09:38] adamretter commented on #1785
@mdcallag I think maybe you are the most knowledgable on benchmarking? I also found something similar with the RocksJava benchmark tool flags - https://github.com/facebook/rocksdb/wiki/RocksJava-Performance-on-Flash-Storage

[2017-03-08 09:39] ayappanec commented on #1926
We have a Jenkins CI machine for Open Source projects in PowerPC64 LE. I will include rocksdb project with IBM java & Openjdk in PowerPC64 LE.

[2017-03-08 09:43] adamretter commented on #1926
@ayappanec Okay but is the output of that public and can we somehow get notifications if we break the build like we do with Travis on GitHub?

[2017-03-08 09:56] ayappanec commented on #1926
The output of that will be public. I will try to set notifications for facebook/rocksdb if there is any build break.

[2017-03-08 21:12] revans2 opened #1966 "SetupDelay can make delay_write_rate way too low"
We have a situation where we have a rocksdb instance (4.5.1) that is getting a high write rate with large batches, and has been up for over almost a month.  Over that month we have only hit about 200 delays, but most delays drops the delay_write_rate until at this point it is close to 26 KB/sec.  Once this happens a write of 15 MB can cause a delay of 10 mins.  Compaction completely finished 8 min

[2017-03-08 22:42] siying commented on #1966
CC @IslamAbdelRahman

[2017-03-08 22:50] IslamAbdelRahman commented on #1966
Hi @revans2, we are working on breaking the stalls if we have finished all bg work
https://github.com/facebook/rocksdb/pull/1884

[2017-03-09 00:57] siddontang opened #1969 "consider adding a PopSavePoint for WriteBatch"
Hi

I see that WriteBatch uses a stack to support save point, but it only supports SetSavePoint and RollbackToSavePoint. Sometimes, we may need set the save point and then pop it with no error.

Consider the following case with pseudo code.

[code]

For the above code, we only need one save point all the time, if no Pop, the save point stack size is 1000, seem no need here.

[2017-03-09 01:01] #1860 closed

[2017-03-09 01:02] #1846 closed

[2017-03-09 03:54] grooverdan commented on #1492
fixed in 816c1e30

[2017-03-09 03:54] #1492 closed

[2017-03-09 03:56] grooverdan commented on #1491
Works for me. Thanks. Sorry missed the notice.

[2017-03-09 03:56] #1491 closed

[2017-03-09 05:17] mikewang2016 commented on #1936
Thank you, but for most of the time, I can only get one of them, either key or unique_id, not both.

It will be great if RocksDB can export a function which queries data (key-value pair) by its sequence ID. Of course, I am not sure if other people has similar requirement.

[2017-03-09 10:14] koushikpaul1 commented on #1955
I am getting something like this ??:?  with the command

addr2line -e /usr/local/lib/librocksdbjni-linux64.so 0x175ab2

where 0x175ab2 is the problematic frame as given in the tomcat log provided above.

[2017-03-09 11:02] adamretter commented on #1955
Okay that may be because you are using the production binaries. Could you try building debug binaries (DEBUG_LEVEL=2) from HEAD and reproducing?

[2017-03-09 12:38] wrinkledcheese commented on #1820
I will give that a try.  For now I've just written a few patches to the FreeBSD ports that I haven't pushed upstream.

[2017-03-09 12:38] #1820 closed

[2017-03-09 14:41] revans2 commented on #1966
@IslamAbdelRahman That sounds like a perfect solution.  I'm not sure how you track issues.  Do you want me to just close this pointing to your fix?

[2017-03-09 16:35] igorcanadi opened #1974 "SuggestCompactRange() should execute compaction even if the data exists only on the bottommost level"
This is related to https://jira.percona.com/browse/PSMDB-127. When we drop an index or a collection in MongoRocks, we mark all the keys as dead through a compaction filter. We don't issue any deletes. Compaction filters will slowly get rid of those dead indexes as compactions on the dead data gets executed.

However, we have a pathological case if a data for a dropped index only exists on the bott

[2017-03-09 18:25] siying commented on #1974
"we mark all the keys as dead through a compaction filter" what does it mean?

[2017-03-09 18:27] siying commented on #1974
We can issue last level => last level compaction if the files are marked as need compaction. Anyone is welcome to contribute.

[2017-03-09 18:34] mdcallag commented on #1974
"we mark all the keys as dead through a compaction filter" what does it mean?

I think this means drop index is fast because index entries are not deleted, and then the compaction filter will (or can, or should) drop those entries later and they can be found because the leading bytes in their key is the index-id.

[2017-03-09 18:38] igorcanadi commented on #1974
What Mark said.

@siying - thanks. I opened this ticket so that we can track this work if we find it necessary.

[2017-03-09 20:17] yuslepukhin commented on #1925
@lightmark This is fixed in my latest commit

[2017-03-09 20:18] yuslepukhin commented on #1925
See c9df05d1e4dd28d23200422813f2238842899f58

[2017-03-09 20:47] yuslepukhin opened #1976 "db_bench v5.2 shows fillrandom performance degradation on windows"
As compared with 4.8. I am wondering if this is a repro on Linux.

5.2 bench command line everything is the same minus deprecated options

db_bench_je --benchmarks=fillrandom --disable_seek_compaction=1 --mmap_read=0 --statistics=1 --histogram=1 --num=10000000 --threads=1 --value_size=800 --block_size=65536 --cache_size=1048576 --bloom_bits=10 --cache_numshardbits=4 --open_files=500000 --verify_ch

[2017-03-09 21:40] yuslepukhin commented on #1920
@tamird CMake used to have support for other platforms but recently was removed for some reason. I did not participate.

[2017-03-09 21:43] IslamAbdelRahman commented on #1976
@yuslepukhin, I will take a look at the numbers for Linux but I noticed that you are using Direct I/O for reads and writes in 5.2

[2017-03-09 21:48] IslamAbdelRahman commented on #1976
Also for 5.2 if we enable Direct IO then we should set --skip_table_builder_flush=1

[2017-03-09 23:03] yuslepukhin commented on #1976
@IslamAbdelRahman Thanks for responding. 4.8 also makes use of direct IO its just the option name was different back then, before direct io became an official symbol so you will need to change that in the 4.8 command like. For the skip flash option my understanding that it was removed recently and the default is 1.

[2017-03-09 23:05] yuslepukhin commented on #1976
@IslamAbdelRahman I am willing to publish more scenarios. However, fillrandom is the only one that exhibits this kind of degradation.

[2017-03-09 23:09] yuslepukhin commented on #1976
@IslamAbdelRahman Not sure direct io was available on Linux at 4.8 time frame

[2017-03-09 23:22] grooverdan opened #1977 "test failure - DBTest2::ReadAmpBitmapLiveInCacheAfterDBClose"
at release 5.3 (fe1835617aa490f5d391f588a8735659f62c1270)

<pre>
Thread 1 "db_test2" hit Breakpoint 2, rocksdb::DBTest2_ReadAmpBitmapLiveInCacheAfterDBClose_Test::TestBody (this=0x9dc530) at /home/dan/repos/rocksdb/db/db_test2.cc:2074
2074      ASSERT_EQ(total_useful_bytes_iter1 + total_useful_bytes_iter2,
(gdb) p total_useful_bytes_iter1
$13 = 640000
(gdb) p total_useful_bytes_iter2
$14 = 640000

[2017-03-09 23:57] siying commented on #1976
We deprecated --disable_data_sync, so that after each SST file, data is fsynced. Is it possibly the problem. If you revert https://github.com/facebook/rocksdb/commit/eb912a927ec0858ac53d0706ffb23dab0a9a4585 in 5.2 and the number comes back, then it is the problem.

[2017-03-10 00:13] yuslepukhin commented on #1976
@siying I already tried off 0a4cdde50a2280c4aecd66ed430ce112bfed6933. The number does not come back. Given the fact that inserts are mostly in memory and flashes are in background I doubt that would be the cause.

[2017-03-10 00:17] siying commented on #1976
@yuslepukhin did you paste the wrong link?

[2017-03-10 00:38] yuslepukhin commented on #1976
@siying I believe that's the right one. It comes before disable_data_sync and already exhibits the issue

[2017-03-10 05:52] KarenHuang2016 opened #1979 "RocksDB failed to build (Release|x64) on windows due to warning C4244: '=': conversion from 'uint64_t' to 'double', possible loss of data"
Hi,
We (the MSVC++ team) do a nightly build of the latest RocksDB sources as a compiler "Real World Code" test. We noticed warning C4244 is reported after commit 5b11124 "add max to histogram stats". This warning is reported form file histogram.cc like below:
d:\rocksdb\src\util\histogram.cc(238): warning C4244: '=': conversion from 'uint64_t' to 'double', possible loss of data

//histogram.cc
voi

[2017-03-10 07:52] foreverhy opened #1980 "util/hash.cc::Hash"
[code]
The comments in this source code says cast to unsinged char is better, but will cause a disk format change. If we do not have any previous data generated by rocksdb, it is ok to do the following things in our own enviroment?
1. cast to unsinged char instead of singed char
1. enable undefined behavior sanitize by remove `__attribute__((__no_sanitize_undefined__))` at function `Hash`
[code]

[2017-03-10 10:30] baotiao opened #1981 "A tool show how many page cache rocksdb used"
I have wrote a tool to show how many page cache used by rocksdb
do you need it

[code]

[2017-03-10 16:19] #1966 closed

[2017-03-10 23:32] IslamAbdelRahman commented on #1981
Yes! that would be great.
Is there a way to know the page cache hit rate? that would be very useful in statistics

[2017-03-10 23:36] ajkr commented on #1979
it's fixed here: https://github.com/facebook/rocksdb/commit/900c62be61f71c8040c83e8348a2f1fe408c2087

[2017-03-10 23:36] #1979 closed

[2017-03-11 14:19] baotiao commented on #1981
This is the code, It is widely used in our production pika(https://github.com/Qihoo360/pika). Since out DBA always want to know how much page cache does rocksdb used.
I don't know where should I put the code. And we can have more information, such which sst file was in the paga cache, and so on.

I know we can write a script through ftrace to know the page cache hit rate, but we havn't the script,

[2017-03-13 18:28] yuslepukhin commented on #1976
@siying https://github.com/facebook/rocksdb/commit/eb912a927ec0858ac53d0706ffb23dab0a9a4585 mentions that performance gains can be achieved by other ways. What other ways he might have meant specifically?

[2017-03-13 18:48] siying commented on #1976
@yuslepukhin increasing number of flush and compaction threads.

[2017-03-13 18:52] siying commented on #1976
@yuslepukhin DB disable_data_sync=true doesn't have persistent guarantee users usually expect from a DB (after machine crash DB is re-openable, data is durable since flush, and data is durable since WAL sync). One reason we remove it is to avoid people from confusing. This option is designed for fast bulkloading: load all the data with this option, force a full compaction and trigger file system s

[2017-03-13 19:02] yuslepukhin commented on #1976
@siying Thanks for the explanation. This regression takes place exactly at the scenario you described.
Increasing number of flash threads does not have any effect here, tried it. There is never a pending flush, they are all scheduled right away. Comp actions are disabled.
I also tried not to sync with direct_io. This made very little difference.
We are talking 1.0-1.4 usec/op of difference.
There

[2017-03-13 21:26] siying commented on #1976
@yuslepukhin I assume you turn this option off in your production. Do you care about a benchmark that has it on?

With Direct I/O on, isn't Fsync() a no-op? Why will it be slower then?

[2017-03-14 00:43] yuslepukhin commented on #1976
@siying Rocksdb provides storage in our production but not fault tolerance or replication.
With that bulk data transfer speed is more important.

Not on Windows. If you look at the implementation it makes use of `FlushFileBuffers`. Just search the internet.

I actually do not believe it affects on this specific benchmark

[2017-03-14 12:46] StephanEwen opened #1988 "Performance issue with get() after concatenating merge()"
We are experiencing a performance problem associated with `get()` after `merge()`, where merge is appending (`StringAppendOperator`).

In our use case, we have potentially many values merged to the same key. When merging a significant amount of values (multiple thousand) to the same key, the `get()` performance drops a lot:

Merging (appending) 50k values of 72 bytes to one key:
  - `merge()` time

[2017-03-14 17:09] siying commented on #1976
@yuslepukhin by no-op, I didn't mean it doesn't need to do anything, I mean it doesn't waiting for many significant I/Os so it should be fast.

[2017-03-14 18:01] yuslepukhin commented on #1976
@siying `FlushFileBuffers` contrary to its documentation, name and signature affects far more things than a single file. Sigh :( However, this is not my focus at the moment.

[2017-03-14 18:38] yuslepukhin commented on #1976
Out of curiosity, why such a discrepancy between the commit date within the commit and actual commit in the master?
![image](https://cloud.githubusercontent.com/assets/11303988/23916841/bb61796e-08aa-11e7-83a0-ae2ca95f566c.png)

[2017-03-14 18:53] siying commented on #1976
The commit data probably was the commit time to private fork?

[2017-03-14 23:42] patedhav commented on #1964
I have noticed same issue with 5.0.2 and updated Adam about it and it is good to know that 4.9.0 was working as I have not tried with old version.

[2017-03-15 01:48] lgalanis commented on #1806
I ran into the same issue. Here is what I figured out (Centos 7 gcc 4.8.5):

1. Our build system will look for libraries only in the paths listed by g++ -print-search-dirs. Typically /usr/local/lib is not part of the list. The preprocessor will look in /usr/local/include, which leads to these confusions.
2. make sure the library and the build system agree on the namespace. nm -C /usr/local/lib/lib

[2017-03-15 13:17] StephanEwen commented on #1988
If someone could confirm that this is a valid issue, we would be up for contributing a patch for this.

[2017-03-15 17:55] StephanEwen commented on #1988
It is also affecting merges. Calling `compactRange()` before `get()` means that the compaction takes about 20s and then the `get()` call is very fast.

[2017-03-15 17:58] yuslepukhin commented on #1976
I have confirmed that the regression comes from https://github.com/facebook/rocksdb/commit/907f24d0e1b95332e9fb3b4835b2b65c06c3268a

This causes ~40% perf degradation in single thread benchmark with the settings we run it.
The previous commit does not exhibit the regression.

We will evaluate if the single thread bulk insert is important to us and if this commit delivers what it is purposed for. W

[2017-03-15 18:09] siying commented on #1976
@yuslepukhin oh, the regression may be caused by that we turned the default of allow_concurrent_memtable_write from false to true. If you load data in single thread, you can turn it off. Is the regression is still there if you explicitly set --allow_concurrent_memtable_write=false?

[2017-03-15 18:26] yuslepukhin commented on #1976
@siying It is false by default. The notable difference is that in this test memtable representation is vector which would not support concurrent writes. So far, it is clear that this commit does not work well for vector.

[2017-03-15 18:34] siying commented on #1976
@yuslepukhin I don't understand why there is a regression by it. For concurrent writes = false, the behavior should have no change. All the code path should stay the same.

This should return null: https://github.com/facebook/rocksdb/commit/907f24d0e1b95332e9fb3b4835b2b65c06c3268a#diff-c524911eb80f5abb845bf10cae90b210R1065

and this code path is not executed: https://github.com/facebook/rocksdb/co

[2017-03-15 18:35] StephanEwen commented on #1964
We encountered the same. RocksDB `4.11.2` worked, but `4.13.5` and `5.1.2` crash.

[2017-03-15 18:47] siying commented on #1976
@yuslepukhin I can reproduce it locally on Linux too. Let me investigate it.

[2017-03-15 19:44] siying commented on #1976
"--skip_table_builder_flush=" is deprecated in master but not in 5.2. So you need to specify it if you run benchmark in 5.2 branch. If you specify the parameter, will the performance gap narrow?

[2017-03-15 20:44] yuslepukhin commented on #1976
@siying  "--skip_table_builder_flush=" is on currently. I am not running 5.2 build, it is not necessary. So my scripts for 4.8 has it on. I have a build off the commit in question.

[2017-03-15 21:18] yuslepukhin commented on #1976
@siying On the same build switching to skiplist with 16 threads and concurrent updates makes results worse.

[2017-03-16 02:03] siying commented on #1976
@yuslepukhin the initial db_bench command you pasted, --skip_table_builder_flush was not specified in the run with 5.2. Do you mean you actually have it on, or you didn't run with 5.2 but master?

[2017-03-16 02:25] siying commented on #1988
I'm surprised that you can use StringAppendOperator in RocksJava. It is not user facing merge operator in C++ library. If we implement partial merge in StringAppendOperator, this can be much faster. If some keys are merged too many times even before flush, an option max_successive_merges can balance the merge and read-modify-write case, to avoid the worst-case read performance.

[2017-03-16 12:27] StephanEwen commented on #1988
If I see it correctly, the `StringAppendOperator` is the only merge operator that is by default part of the RocksDB Java API.

Do I understand you correctly that you suggest we could fix that by implementing a new merge operator that makes use of `PartialMergeMulti`? I saw that there is now also a function `FullMergeV2`, which seems to have a similar signature as `PartialMergeMulti`. Which one wou

[2017-03-16 17:32] #1888 closed

[2017-03-16 17:32] #1790 closed

[2017-03-16 17:34] #1848 closed

[2017-03-16 17:41] siying commented on #1462
Sorry I don't know how we can help. Can I close the issue?

[2017-03-16 18:52] yuslepukhin commented on #1976
@siying I ran it from master and this is how I learned it was deprecated.

[2017-03-16 21:56] siying commented on #1976
@yuslepukhin I'm not able to reproduce it with the command line you pasted with master. Is it Windows specific?

[2017-03-16 22:57] yuslepukhin commented on #1976
@siying The only thing windows specific is a --db path. In 4.8 there was a --bufferedio which was replaced by direct io everywhere.

[2017-03-16 22:58] yuslepukhin commented on #1976
@siying It is also a build with jemalloc

[2017-03-16 23:03] siying commented on #1976
@yuslepukhin there is another Windows specific thing: we don't support Direct I/O in linux until 5.1. And we moved the write buffering logic from Windows to shared code, so this code path changes in Windows, although it is supposed to be the same code.

[2017-03-16 23:27] yuslepukhin commented on #1976
@siying Sure, the profile shows Write() more expensive though, not file access path.

[2017-03-17 00:35] raza15 commented on #1930
Just wanted to confirm. The value of stats_dump_period_sec should be set 3600 by default (In the MutableDBOptions() constructor), right? This is indicated in the DBOptionsInterface.java file.

[2017-03-17 00:44] raza15 commented on #1930
But the default value is indicated as 600 in the options.h file. Which one to use?

[2017-03-17 20:01] mikhail-antonov opened #2001 "RocksJava BytewiseComparator semantics?"
Hi, I'm using RocksJava to generate SST file from my Java code, and have been seeing an issue where I'm writing out the data that are lexicographically sorted, but getting occasional error, that I've narrowed down to an attempt to append out-of-order key.

The error I'm getting:

`Caused by: org.rocksdb.RocksDBException: 
	at org.rocksdb.SstFileWriter.add(Native Method)
	at org.rocksdb.SstFileWri

[2017-03-17 20:03] mikhail-antonov commented on #2001
cc @adamretter @IslamAbdelRahman

[2017-03-17 20:05] yuslepukhin commented on #1976
Profiling results (sampled CPU). I can share precise CPU usage as well. One is no regression and the one with  regression.

![highlightsnoregression](https://cloud.githubusercontent.com/assets/11303988/24060864/5d5bd0a2-0b12-11e7-959e-7b12ee8e21d4.JPG)
![highlightregression](https://cloud.githubusercontent.com/assets/11303988/24060868/604cbca4-0b12-11e7-8b47-3b2b48c341fb.JPG)

[2017-03-17 20:07] yuslepukhin commented on #1976
@siying I think this the place we want to think how to get rid of data structures that allocate node per node. Perhaps a map that is based on a single allocation may help.

[2017-03-17 20:25] siying commented on #1976
@yuslepukhin let me try to figure out why. If you use --allow_concurrent_writes=false, the allocation should not happen.

[2017-03-17 20:27] yuslepukhin commented on #1976
@siying This is exactly that. This one is using vector memtable

[2017-03-17 20:40] siying commented on #1976
@yuslepukhin I can't see this in my profiling under Linux. Is it because the construction of this class requires an allocation? https://github.com/facebook/rocksdb/blob/master/db/write_batch.cc#L778-L779

[2017-03-17 20:47] siying commented on #1976
@yuslepukhin if this theory is correct, then this diff can eliminate the allocation:

[code]

[2017-03-17 21:03] yuslepukhin commented on #1976
@siying Construction of the class does not require an allocation, one allocation would not be an issue. Profile shows many inserts/erase into the map. If the switch is false. Perhaps we have some problem with switch value propagation.

[2017-03-17 21:09] yuslepukhin commented on #1976
@siying let me step into it

[2017-03-17 21:17] yuslepukhin commented on #1976
This is what I see on commit 907f24d0e1b95332e9fb3b4835b2b65c06c3268a

![capture](https://cloud.githubusercontent.com/assets/11303988/24063320/6b71474e-0b1c-11e7-8c58-f8807b7ce38b.PNG)

[2017-03-17 21:21] siying commented on #1976
This can only be executed if `parallel` is true, but
[code]
so immutable_db_options_.allow_concurrent_memtable_write is true? Let me see how can we end up with this.

[2017-03-17 21:28] siying commented on #1976
@yuslepukhin I still don't get how this code path can be triggered. Can you figure out by stepping into it?

[2017-03-17 21:29] yuslepukhin commented on #1976
@siying I do not specify the switch on the command line and db_bench has it `false` by default.

here is an exact command line I ran for both runs. You should be able to run if --bufferedio=0 is removed

d:\dmitrism\perf>db_bench_je --benchmarks=fillrandom --disable_seek_compaction=1 --mmap_read=0 --statistics=1 --hi
stogram=1 --num=10000000 --threads=1 --value_size=800 --block_size=65536 --cache_

[2017-03-17 22:00] yuslepukhin commented on #1976
@siying It appears that your theory is correct. For some reason std::map, at least on Microsoft does an allocation when MemTableInserter is instantiated. Very bad MS, very bad. The value of concurrent updates is still false.
![inserter](https://cloud.githubusercontent.com/assets/11303988/24064564/669b581c-0b22-11e7-9ff3-29a0c6f1e570.PNG)
![stack](https://cloud.githubusercontent.com/assets/11303988

[2017-03-17 22:03] IslamAbdelRahman commented on #2001
Thanks @mikhail-antonov for reporting the issue, I am not sure what is the purpose of us having a BytewiseComparator implementation in java.
Maybe @adamretter  will have more insight.

Is it possible to pass the native c++ comparator to SstFileWriter ?
Actually we recently updated the constructor so that we don't need to pass a comparator to SstFileWriter, but we did not update the jni interface
h

[2017-03-17 22:29] yuslepukhin commented on #1976
@siying Many thanks for your patience. May try Monday as internet is not working today. Will ask STL team as to what they think.

[2017-03-17 22:38] mikhail-antonov commented on #2001
@IslamAbdelRahman I think conceptually being able to implement custom comparator in Java and pass it down to RocksDB is good; in this specific case it doesn't seem it's useful, I think best is to update JNI wrapper to allow param-less constructor as you mentioned, let me have a look at it.

For now I've working that around by implementing custom comparator and passing it to SstFileWriter, but havi

[2017-03-18 00:14] mikhail-antonov commented on #1981
This is indeed a useful feature, impl may depend on the OS/kernel version.

http://www.brendangregg.com/blog/2014-12-31/linux-page-cache-hit-ratio.html - some notes covering older kernels, in new ones we should have much better tolling with BCC/BPF.

[2017-03-18 14:39] baotiao commented on #1981
@mikhail-antonov  but BCC/BPF is add in version 4.10,  many distribution still use old kernel veison, such as 3.10.

[2017-03-18 17:04] raza15 opened #2002 "Error: recipe for target 'ldb_cmd_test' failed"
Hi. I am trying to run rocksdb in debug mode on Ubuntu 16.04. I did all the required installations as indicated in INSTALL.md. I cloned a fresh repository and I run "make clean" and then "make check" from the root directory of the project. The "make check" runs several tests but then it fails with the following error:

  CC       db/compaction_job_stats_test.o
  CCLD     compaction_job_stats_test

[2017-03-18 19:29] mikhail-antonov commented on #1981
I think they were added in 3.15 first, but most good features start to be available in 4.x (the newer the better, obviously). I think my point is that would be good to provide an option for folks running new-ish kernel to be able to leverage it.

[2017-03-19 06:14] ZhenNan2016 opened #2003 "Assertion `prev_smallest_seqno > largest_seqno' failed"
the disk space was full. and then I'm trying to  restart the c++ application after the disk space  was released, but the rocksdb  throw  the following exception  :

db/compaction_picker.cc:1403: virtual rocksdb::Compaction* rocksdb::UniversalCompactionPicker::PickCompaction(const string&, const rocksdb::MutableCFOptions&, rocksdb::VersionStorageInfo*, rocksdb::LogBuffer*): Assertion `prev_smallest

[2017-03-20 02:31] yiwu-arbug commented on #1930
@raza15 seems the comment in java code is not updated. Let's update it to indicate the default value is 600.

[2017-03-20 02:33] raza15 commented on #1930
@yiwu-arbug  Alright I'll add to this change to my current PR

[2017-03-20 03:39] hedengcheng commented on #2003
Hi, @siying
Would you please have a look on this problem? We met it so many times.
Does this bug imply that RocksDB was not crash safe on "Dish Full" problem?

[2017-03-20 12:26] oranagra opened #2005 "heavy write load is unstable"
Hi,
I have a problem with heavy write load in which the throughput jumps from about 80,000 writes per seconds, down to some 300 writes per seconds and then back up.
these peaks repeat themselves about once or twice a second.
looking at the recent change log i saw `Improve Write Stalling System` (cd7c4143d795ab9a53e6eaeb4ee572b4e258313b) which was suppose to improve that situation, but i don't see

[2017-03-20 12:35] oranagra commented on #2005
@siying maybe you can take a look (seems to be related to the write stalling system which you recently improved).
thanks.

[2017-03-20 14:45] oranagra opened #2006 "reading a snapshot from a forked child process"
Hi,
I want to know if it's safe to fork a process that is reading/writing into a rocksdb database, and use the fork child in order to iterate on a snapshot of the database that was generated before the fork.

as far as i can tell, in order to do that, before calling fork(), i need to:
* Create a snapshot (GetSnapshot)
* Create an iterator reading that snapshot (NewIterator)
* while the fork child

[2017-03-20 15:01] StephanEwen commented on #1988
Bump.
Would be great if someone could give us a few pointers for this:
  - Between implementing `FullMergeV2` and `PartialMergeMulti`, which should be implemented (both?).
  - There is already the `StringAppendTESTOperator` which implements the `FullMergeV2` and `PartialMergeMulti` for string appends, but it explicitly states that this should only be used in tests (not in production). What are the

[2017-03-20 15:53] siying commented on #1988
@StephanEwen  both of FullMergeV2 and PartialMergeMulti should be implemented if the worst case read performance is a concern.

[2017-03-20 16:19] siying commented on #2005
Is it a problem because you cannot reach the write throughput you want, or because the latency is too high while a stalling is triggered?

[2017-03-20 16:21] siying commented on #2005
Is it possible to share your LOG file after the run?

[2017-03-20 16:25] oranagra commented on #2005
i don't have a target write throughput in mind.. i want the fastest i can get.
but i would like the throughput to be smooth and not jaggy.
ideally the throttling mechanism should slow down the intake to the sustainable speed of the disk.
but what happens now is that it keeps jumping between very high throughput and very low throughput.

i can reproduce and upload the log file...
but it is also eas

[2017-03-20 17:24] vmx opened #2008 "Public API is broken"
Commit 11526252cc0b5e1db82bf30dad7e202616f90dd4 introduced the inclusion of `port/likely.h` in `rocksdb/db.h` ([direct link to line](https://github.com/facebook/rocksdb/commit/11526252cc0b5e1db82bf30dad7e202616f90dd4#diff-2d5da900224eb97125a84105b6cafa19R19)). This breaks the public API as now another header search path (besides the normal RocksDB include directory) is needed.

An easy way to repr

[2017-03-20 17:30] lightmark commented on #2008
@maysamyabandeh

[2017-03-20 18:57] oranagra commented on #2005
@siying here's a debug log.
[var_opt_redislabs_flash_rocksdb_test_LOG.zip](https://github.com/facebook/rocksdb/files/856037/var_opt_redislabs_flash_rocksdb_test_LOG.zip)

again, this is a 30 second test that is very easy to run to reproduce the problem (and test theories)

[2017-03-20 19:06] siying commented on #2005
@oranagra in your specific case, you should increase Options.delayed_write_rate to much higher than 2MB/s. Set it 32MB/s or larger.

You are inserting keys in mostly sorted order (but not). It's very interesting. Is it close to your user case?

[2017-03-20 19:32] lightmark commented on #2008
https://github.com/facebook/rocksdb/pull/2009

[2017-03-20 19:38] oranagra commented on #2005
@siying thanks for your help.
i just tried increasing compaction readahead to 32 and 64mb, it doesn't seem to change anything.
it still juggles between 300 and 70k ops/sec, and the average throughput at the end is still about 20-23k ops/sec.

anyway, although i would love to improve the compaction speed, and overall throughput, the issue here is the fact that it seems to constantly switch between

[2017-03-20 19:54] #2008 closed

[2017-03-20 20:37] vmx opened #2010 "VersionBuilder hides failures"
The `VersionBuilder` doesn't propagate status codes. For example the [`FindTable()` call](https://github.com/facebook/rocksdb/blob/21d8c317966fb3ad0bae8cc03f16c505f2c0792f/db/version_builder.cc#L346) returns a status, but it isn't used. I thought it would be easy to fix, but the problem is that this code might run in multiple threads, hence you can't get a return value.

I'm happy to try a fix if

[2017-03-21 02:28] mikhail-antonov opened #2014 "Building RocksJava?"
Hey guys,

I have a question on RocksJava build. I'm currently using it (mostly in the context of using SstFileWriter API to prepare data for bulkload) and need to make a few fixes.

I wanted to make sure that the jars produced from my build (including .so libs) are followed the same process as what's being published to Maven Central (though I only intent to test linux64 versions ever).

Are steps

[2017-03-21 02:29] mikhail-antonov commented on #2014
@adamretter I suppose you're the one mostly involved in it?..

[2017-03-21 03:02] zttaotao2013 commented on #1743
i got caught the same question, hdfs 2.6 and java 8

[2017-03-21 15:40] siying commented on #2003
It means some L0 files don't followed the universal compaction rule: some files have overlapping sequence number ranges. On top of my head, I can't think of a reason why this can happen even with out of space condition. Can you dig the manifest file for the compaction/flush history and see when did the sequence number condition has been broken and in which way (compaction, flush, etc)?

[2017-03-21 16:49] siying commented on #1743
Guys, Facebook's internal HDFS branch has been diverted from the open-source one long ago, so it's hard for us to work on this. You are more than welcome to submit any fix to the HDFS Env and we will merge it if you reviewed each others' changes.

[2017-03-21 19:06] mhlakhani commented on #1930
@yiwu-arbug can we close this out now that the PR has landed?

[2017-03-21 19:36] yiwu-arbug commented on #1930
Yes!

[2017-03-21 19:36] #1930 closed

[2017-03-21 22:24] adamretter commented on #2014
The target that we use for producing the Maven artifacts is:

[code]

[2017-03-21 22:51] mikhail-antonov commented on #2014
Thanks! Let me poke around.

[2017-03-21 22:58] #2014 closed

[2017-03-22 00:29] vinniefalco opened #2020 "gcc: internal compiler error"
rocksdb suddenly no longer compiles under gcc, I get "internal compiler error." See:
https://travis-ci.org/vinniefalco/NuDB/jobs/213555724#L713

Building with clang works fine, see:
https://travis-ci.org/vinniefalco/NuDB/builds/213555723

[code]

[2017-03-22 02:56] clark010 opened #2022 "RocksJni DBOptions not support setEnv？"
I am using RocksDB's HDFS api and i write a newHDFSEnv class, but i found when using multi columnFamily, it can't set env through DBOptions（the feature only support in Options）, if there is other way to support set HDFSEnv in options？

[2017-03-22 03:22] ZhenNan2016 commented on #2003
hi，@siying
I can‘t get the manifest file for the compaction/flush history now，because  the server goes down and  it has disappeared.
Would you please check my options if has a error using, that leading to this exception? as follows :
        Options options;
        options.create_if_missing = true;
        options.keep_log_file_num = 100;
        options.recycle_log_file_num = 100;
        option

[2017-03-22 16:17] vincenthouy commented on #1897
I successfully found the problem in my process:  I wasn't providing any ColumnFamilyOptions while creating the multiple databases. By adding a ColumnFamilyOptions  for each Column Family creation, I didn't have any errors.  The provided column family could be initialized with a simple new ColumnFamilyOptions().

Error is not a parallelism errors since I could reproduce the crash a single creation

[2017-03-22 21:58] #1976 closed

[2017-03-22 22:18] siying commented on #2020
RocksDB now requires GCC 4.8 to build, and it has been a while. But either way you shouldn't get "internal compiler error". We don't see it in any of our CI systems, you can see our Travis builds: https://travis-ci.org/facebook/rocksdb

[2017-03-22 22:37] vinniefalco commented on #2020
I didn't write my .travis.yml (I'm largely a Windows developer) but I will try to figure out how to get Travis to use a more recent gcc. Thanks!

[2017-03-22 22:37] #2020 closed

[2017-03-22 23:24] siying commented on #2006
We don't know whether RocksDB can work with fork process. I'm not confident that it can be supported.

[2017-03-22 23:26] siying commented on #2002
Our CI builds work fine. Is it just ldb_cmd_test? If you comment out this test (https://github.com/facebook/rocksdb/blob/5.3.fb/Makefile#L420) what will you see?

[2017-03-22 23:34] siying commented on #2005
@oranagra a much larger delayed_write_rate will get you the throttling rate of much higher than 300. It's hard to get RocksDB to be extremely smooth but 300 probably can be avoided.

I suggest you run with level0_slowdown_writes_trigger=10 and level0_stop_writes_trigger to be 36 (the idea is that the gap of the two is high), with delayed_write_rate to be as high as 32MB.

If I understand correctly

[2017-03-23 00:13] raza15 commented on #2002
@siying this issue has been resolved and updated in the following merged PR: https://github.com/facebook/rocksdb/pull/2016

[2017-03-23 00:14] #2002 closed

[2017-03-23 03:31] zttaotao2013 commented on #1743
thank you for the reply！
now we intend to build a product on rocksdb with hdfs，what is the reason for hdfs branch diverted from the open-source ? Is exist Technical risk or other，Could Facebook open source again for it future ?

At 2017-03-22 00:49:49, "Siying Dong" <notifications@github.com> wrote:

Guys, Facebook's internal HDFS branch has been diverted from the open-source one long ago, so it's

[2017-03-23 07:07] oranagra commented on #2006
@siying thanks for replying.
i'm doing that and so far it works great.

since the fork child has a snapshot of the parent process memory at the time of forking, my only concern is to make sure that the neither process is making any modifications to existing files on the disk.

the child doesn't write to rocksdb (only reads), and since compaction should be suspended, i assume it won't do any change

[2017-03-23 09:00] oranagra commented on #2005
@siying thanks for your help.
with some changes in the direction you suggested (delayed_write_rate of 64mb), i'm able to get the fluctuation to be between 30k and 10k. this 3x fluctuation is still high, but a big improvement from 200x fluctuation of i had before.

looking at the commit comment of https://github.com/facebook/rocksdb/commit/cd7c4143d795ab9a53e6eaeb4ee572b4e258313b i was under the im

[2017-03-23 13:33] adamretter commented on #2022
You can find a patch here - https://github.com/adamretter/rocksdb/commit/175fdf72dcaecd7cee02411b3be6997a0b762899

I will submit a PR once I have added the other missing options.

[2017-03-23 14:55] clark010 commented on #2022
@adamfaulkner  thanks for the patch, it help me a lot.

[2017-03-23 16:31] #2022 closed

[2017-03-23 17:05] siying commented on #2005
@oranagra RocksDB will try to reach a sweet spot for the throttling rate. The throttling rate will always start since level0_slowdown_writes_trigger triggers. It means before this number, you'll see higher insert rate, and after that, it will be limited to a limited rate. So unfortunately, so far the fluctuation you mentioned is hard to avoid.

[2017-03-23 20:30] siying commented on #1743
@zttaotao2013 to clarify, the HDFS env in the RocksDB code-base is for open-source HDFS. We don't use this one internally. So hopefully the community can keep this Env updated with the latest open-source HDFS releases. You are more than welcome to contribute to make it happen.

[2017-03-23 20:38] weiyanwang commented on #1743
@zttaotao2013 I am from hdfs team at facebook, to answer your question:
what is the reason for hdfs branch diverted from the open-source ?
We divert many years ago to work on our internal features like federation/high availability/raid/append before open source to serve our need faster.
Could Facebook open source again for it future ?
Unfortunately, we don't have any plan to open source it because

[2017-03-24 02:49] ZhenNan2016 commented on #2003
hi, @siying

the disk space was full.  not released,  the rocksdb  throw the following exception:
./util/posix_logger.h:151: virtual void rocksdb::PosixLogger::Logv(const char*, __va_list_tag*): Assertion `sz == write_size' failed.

[2017-03-24 18:14] shuzhang1989 commented on #1743
@zttaotao2013 @xupeilin is there anything you can find from the jvm error log?

[2017-03-24 18:55] soerendd opened #2036 "Windows: Threads created by RocksDB are not impersonated"
presumptions:
- the thread which opens a rocksdb is impersonating a user - the process user is a different user
- the process user does not have sufficient access rights for the database directory

rocksdb opens the database with success. Some functions (compacting?) are failing because they try to open files or try to move (rename) files because they run in a background thread. On windows newly c

[2017-03-25 04:09] zttaotao2013 commented on #1743
@weiyanwang
thanks your the answers for me.
now i have another question puzzled me,i make a performance test on rocksdb with hdfs(the disk is ssd),found that the write throughput is very good,but the read throughput is pool:on ssd the disk utilization is over 80%，in the same read case ran on hdfs  the disk utilization is only 10-20%,could facebook share your experience that how improve the read th

[2017-03-25 04:36] weiyanwang commented on #1743
@zttaotao2013 Sorry we don't run rocksdb with hdfs, I don't have any idea what could go wrong. To debug this problem, first maybe you could test it with ssd directly and compare the utilization to make sure it's hdfs's problem. second check if your hdfs cluster is busy with other stuff which will affect performance results.  third maybe try to profile your codes to see if there is thread contentio

[2017-03-25 09:10] JevonQ commented on #1775
@IslamAbdelRahman, thanks for your reply. I still get the same error, as follows

[root@localhost rocksdb-5.1.2]# ./db_bench --benchmarks=readrandomwriterandom --key_size=512 --value_size=3584 --open_files=65528 --num_levels=3 --max_bytes_for_level_base=629145600 --target_file_size_multiplier=10 --block_size=131072 --compaction_pri=3 --target_file_size_base=1048576 --threads=1 --num=500000
Please

[2017-03-25 09:50] JevonQ commented on #1775
Finally, I noticed the following comments in file build_tools/build_detect_platform,
# Using gflags in rocksdb:
# Our project depends on gflags, which requires users to take some extra steps
# before they can compile the whole repository:
#   1. Install gflags. You may download it from here:
#      https://gflags.github.io/gflags/ (Mac users can `brew install gflags`)
#   2. Once installed, add th

[2017-03-25 09:53] JevonQ commented on #1775
Close this issue as it is resolved.

[2017-03-25 09:53] #1775 closed

[2017-03-27 16:51] siying commented on #1743
@zttaotao2013 how many read per second did you see in your use case on HDFS?

[2017-03-28 01:43] zttaotao2013 commented on #1743
@siying
i write 100M KV to rocksdb on hdfs using db_bench with the case bulkload,approxi-mately 40G data,then random read 5M KV from it,db_bench show the result is only 4.5K ops/sencond,the same case ran directly on ssd can reach 60K ops/second.

[2017-03-28 12:41] rockeet commented on #1720
Hi @IslamAbdelRahman, How about the status?

[2017-03-28 12:44] rockeet commented on #1842
Hi @siying @IslamAbdelRahman, Do you a look at this issue?

[2017-03-28 12:48] rockeet commented on #1356
I found this feature has been implemented in commit 182b940e, close this issue.

[2017-03-28 12:49] #1356 closed

[2017-03-28 12:55] hujincalrin opened #2047 "rocksdb 4.5.1 stuck when call get function"
My Java application uses rocksdb as an embedded storage level.
pom infos as below:

[code]

Recently, my application's query thread is stuck When called the get method.
The following is the call stack

[code]

When this occurs, it usually lasts for several hours.
I'm very confused about this, Who can give some advice

[2017-03-28 13:00] rockeet opened #2048 "RangeDelAggregator holds pointers which outlives the table readers that created them"
We implemented a custom SST and we are trying implement the full features of SST, including **range delete**, now we are trapped by  **range delete**...

In file `db/db_range_del_test.cc`:`508`, it says:

**This violate the general rule**, and makes our custom SST can not work for range delete, since our SST only use `mmap` and doesn't need block cache, when the SST is closed, the memory block ref

[2017-03-28 16:29] adamretter commented on #2047
According to the stack trace and your description, you are stuck in `memcpy`. Could it be that `memcpy` is blocking until you have sufficient memory available to perform the operation? i.e. are you running low on memory?

[2017-03-28 17:18] siying commented on #1743
Are you running HDFS on flash or hard disks? 4.5K ops/s sounds very good for a disk-based system.

[2017-03-28 17:59] siying commented on #1743
@zttaotao2013 by the way, what kind of SSD are you running on? 60K ops/s sounds is low. In the PCI-e based flash I'm running on, I'm getting a number higher that using just one read thread. How many reader threads are you using?

[2017-03-28 18:10] ajkr commented on #2048
What is the general rule it violates?

[2017-03-28 18:33] siying commented on #1842
A potential solution is to find boundary using block boundary keys, rather than file boundaries. Some algorithm can be designed to do some efficient binary search to find them. You are welcome to contribute.

[2017-03-28 19:31] ajkr commented on #2048
Sorry but we create a collapsed form of the range deletions for faster searching in RangeDelAggregator, and it's not trivial to remove range deletions from this representation as files are closed. Feel free to contribute ideas/code.

For now, can you copy the range deletion data into a Block object, then call NewIterator() on it, and register a cleanup function (RegisterCleanup()) that deletes the

[2017-03-29 00:09] mikhail-antonov commented on #2001
So https://github.com/facebook/rocksdb/pull/2028/ adds support for SstFileWriter constructor w/o explicit comparator to JNI api, I *think* with that current Bytewise comparator (both regular and reverse) should be obsolete? Having the only default comparator in Java that one is forced to use that's not compatibly with memcmp seems weird.

[2017-03-29 00:54] IslamAbdelRahman commented on #2001
@mikhail-antonov, Yes I think we should remove this comparator. It's confusing and we should remove it from the code base

[2017-03-29 01:46] hujincalrin commented on #2047
Does the memcpy function block query thread when there is insufficient memory?
I suspect that the number of records in my rocksdb is too large(100,000,000 or more), which causes the merge operation to be triggered when get function be called. Am I right?
Under what circumstances does the get function trigger the merge(AssociativeMergeOperator::FullMerge) operation?

[2017-03-29 01:51] zttaotao2013 commented on #1743
our ssd is Serial ATA Flash Disk(HDFS also run on it),not PCI-e based flash,the read thread num is 16.
we made the test that rocksdb random read 1 billion kv from 400G data directly on PCI-e based flash using 16 threads，the performance can reach 96K ops/s.

[2017-03-29 08:33] zedware commented on #1934
Encountered the same problem.

[2017-03-29 18:10] siying commented on #1743
@zttaotao2013 likely what happened is that, because your DB size is small. They actually cached in OS page cache, so when you run with local file system, reads are mostly from the memory. Using HDFS, however, OS page cache is not used, so every read will go through SSD.

[2017-03-30 08:31] zedware commented on #1934
make will see an error,

table/partitioned_filter_block_test.cc:59:22: error: no matching function for call to 'max'
      max_key_size = std::max(max_key_size, keys[i].size());
                     ^~~~~~~~
/Library/Developer/CommandLineTools/usr/bin/../include/c++/v1/algorithm:2654:1: note: candidate template ignored: deduced conflicting types for parameter '_Tp' ('unsigned long long' vs. 'unsig

[2017-03-30 16:24] adamretter commented on #2001
The Java implementations of `BytewiseComparator`, `ReverseBytewiseComparator` and `DirectBytewiseComparator` serve two purposes:

1. They prove that the ability to implement Comparators in Java is possible. Demonstrated by the `BytewiseComparatorTest`.
2. They serve as code examples for others who want to implement Comparators in Java.

One of the important things about (1) is that they try to pro

[2017-03-30 20:17] mikhail-antonov commented on #2001
@adamretter

Thanks for the detailed reply. I totally see the value of being able to implement custom comparators in Java and use it.

Well, unless I'm missing something, in the first post in this issue I've described how Java and native implementations are different?

https://gist.github.com/mikhail-antonov/ef4fd053f8e47947fc59e6cd559aa77d - is a test that fails for me, Java comparator that is.

[2017-03-31 06:41] harry-7 opened #2068 "RocksJava: Vagrant scripts have the depricated link for gflags"
The install commands for glflags library in the vagrant scripts [here](https://github.com/facebook/rocksdb/blob/master/java/crossbuild/build-linux-centos.sh#L11) have a link which returns 404 Not found error.
I think this should be replaced with
[code]

If this is indeed the case I will be happy to submit a PR fixing this

[2017-03-31 08:59] mm304321141 opened #2069 "ASSERT ! IngestExternalFile with allow_mmap_reads"
on Windows .

[io_win.cc : 724](https://github.com/facebook/rocksdb/blob/master/port/win/io_win.cc#L724)
[code]

try modify
[external_sst_file_ingestion_job.cc : 459](https://github.com/facebook/rocksdb/blob/master/db/external_sst_file_ingestion_job.cc#L459)
[code]

[2017-03-31 10:20] mm304321141 opened #2070 "ASSERT ! IngestExternalFile under UniversalCompaction"
assert here ...
[compaction_picker.cc : 1554](https://github.com/facebook/rocksdb/blob/master/db/compaction_picker.cc#L1554)
[code]

here is test code ...
[code]

[2017-03-31 13:39] manishbansal8843 opened #2071 "Getting java.lang.UnsatisfiedLinkError: Cannot load module /tmp/librocksdbjni858257496864179953.so"
Hi Team,

I am using kafka_2.11-0.10.2.0. I have downloaded the binaries directly from apache which contains rocksdbjni-5.0.1.jar. I am developing kafka streaming application. It is using RocksDB for internal purpose. However, during my application run, getting below error.

Exception in thread "StreamThread-1" java.lang.UnsatisfiedLinkError: /tmp/librocksdbjni858257496864179953.so (  0509-022 Can

[2017-03-31 14:01] adamretter commented on #2071
@manishbansal8843 We don't provide builds of the native component for AIX in the Jar file. As you are on AIX you will need to build your own.

[2017-03-31 14:01] #2071 closed

[2017-03-31 17:09] #2068 closed

[2017-04-04 13:29] HassanCehef opened #2085 "wiki: dead links on the page "Article about rocks""
Hi 😃

On the wiki, page https://github.com/facebook/rocksdb/wiki/Articles-about-Rocks, all the links pointing to the **rocksdb.org** blog are dead. They point to the old link structure `/blog/id/slug`, whereas the current structure seems to be `/blob/YYYY/MM/DD/slug`.

I can't submit a pull request against the wiki (I don't know if it's possible), so here's the list:
* Migrating: http://rocksdb.or

[2017-04-04 17:04] wolfkdy opened #2086 "Wiki may be wrong about table_cache_size"
I read the suggestion below on the wiki,
[code]
but in the code, I found
[code]
So, it means 4MB is enough for table_cache ?
I strongly doubt that the wiki is wrong.

[2017-04-04 23:45] yiwu-arbug commented on #2086
4194304 means 4M files here. Does it answer your question?

[2017-04-04 23:50] yiwu-arbug commented on #2085
Thank you for reporting! Will update the wiki.

[2017-04-04 23:52] yiwu-arbug commented on #2070
@IslamAbdelRahman do we support ingesting file with universal compaction?

[2017-04-04 23:56] IslamAbdelRahman commented on #2070
Thanks @mm304321141  for the report, IngestExternalFile does not support universal compaction right now. We are planning to support it very soon
CC: @mikhail-antonov

[2017-04-05 01:45] wolfkdy commented on #2086
yes, thanks.

[2017-04-05 07:42] jerousrb commented on #1014
Hello @hrjaco   Did you try it？  there any problems with running e.g. 10K rocksdb instances in the same process?   Do you know the max number of instances about rocksdb can support?    thanks

[2017-04-05 08:51] jerousrb commented on #942
@igorcanadi
hi  igorcanadi, Do you know the max num of  rocksdb instances supported?   there any problems if create 2K  rocksdb instance in the same process? thinks

[2017-04-05 12:00] manishbansal8843 opened #2091 "Not able to build rocksdb fat jar on AIX 6.1"
Getting below error while executing `make rocksdbjava` command:

[code]

Platform - AIX `6.1
GCC: 4.1.0
make: GNU Make 3.80

[2017-04-05 13:21] adamretter commented on #2091
@manishbansal8843 are you on `ppcle`?

I think @ayappanec has managed to build this on LinuxPPC, but I am not sure if anyone has tried on AIX. Also I think it might be the case that if you are on a big-endian architecture, then you might be in for a lot of work to port RocksDB to such a platform.

[2017-04-05 13:43] ayappanec commented on #2091
@adamretter is right. AIX being a big-endian architecture, it involves significant work to port RocksDB. I am actually part of the official IBM AIX Opensource team and we have a good amount of opensource packages ported to AIX. http://www-03.ibm.com/systems/power/software/aix/linux/toolbox/alpha.html

[2017-04-05 13:46] ayappanec commented on #2091
@manishbansal8843 First you need to get all the tools required to build RocksDB in AIX and then try porting it to AIX platform.

[2017-04-05 13:54] manishbansal8843 commented on #2091
@adamretter Yes it is POWER7 processor type which is BE.

@ayappanec I am not sure what all tools are required here. I thought only gcc and gmake is enough. Can you please help me walk-through the same.

[2017-04-05 14:02] ayappanec commented on #2091
@manishbansal8843 You need to figure out from the error. For example, you got a error "error: unordered_map: No such file or directory" . Find out which package provides this in linux. Then check it in AIX Toolbox link which i shared in the previous thread. If it is not there, then you may have to port that also.  It's going to take significant effort.

[2017-04-05 15:43] wolfkdy opened #2092 "Doubts about dropColumnFamily and compaction-filter to some prefix in a single cf"
If I use a single column family, I can use different prefixes to group data in the continous sst files. So I can use a compaction-filter to delete the data related.
I can either put data with the same prefix into different column families. And use dropColumnFamily to delete the data related.
I knew that a compaction-filter has to visit every key to filter. But I don't know if physical deletion to

[2017-04-06 06:15] poponion commented on #1179
Hi @siying   I met the same problem, but I don't know why set min_write_buffer_number_to_merge=1 will fix this issue?
RocksDB:4.4.1
My rocksdb option:
2017/04/05-11:10:16.656520 7f50387ff700        Options.write_buffer_size: 134217728
2017/04/05-11:10:16.656523 7f50387ff700  Options.max_write_buffer_number: 6
2017/04/05-11:10:16.656528 7f50387ff700        Options.compression[0]: NoCompression
2017

[2017-04-06 18:09] #2086 closed

[2017-04-06 18:27] yiwu-arbug commented on #2092
Compaction filter will visit every key to filter, but on compaction we are visiting them anyway. Dropping column family will remove the SST files of the column family, thus don't need to visit the keys again. You can dig into DBImpl::DropColumnfamily() in db/db_impl.cc. However having too many column families (>100 probably) might be problematic (you need to test it out). A third approach is to us

[2017-04-06 18:32] yiwu-arbug commented on #2085
Done.

[2017-04-06 18:32] #2085 closed

[2017-04-06 18:38] yiwu-arbug commented on #2036
cc @yuslepukhin for window question.

[2017-04-06 18:47] yiwu-arbug commented on #2010
I'm not familiar with the logic, but just reading the code, the only callsites of `VersionBuilder::LoadTableHandlers()` are `VersionSet::LogAndApply()`and `VersionSet::Recover()`, both of which return a status. A fix would be returning the status to these callers and handle the status there. It doesn't seems to me the fix is related to multithreading.

And it would be great if you can contribute t

[2017-04-06 19:09] vmx commented on #2010
@yiwu-arbug A lot more things are called. It hides failures when e.g. opening a table with e.g. two different prefix extractors of comparators. The reason is that `FindTable()` calls `GetTableReader()` which calls `NewTableReader()` on the table factory. This means that any failure that might happen when a new Table Reader is created is hidden. Hence I think there needs to be a proper fix for the

[2017-04-06 20:16] yiwu-arbug commented on #1969
Seems to me it make sense. As always, you are welcome to send a pull request!

[2017-04-06 20:24] yiwu-arbug commented on #1977
It works on my side. Any easy way to reproduce?

[2017-04-06 20:36] yiwu-arbug commented on #1980
Probably ok if you make the change and all tests pass.

[2017-04-06 21:01] yiwu-arbug commented on #2010
What do you mean by multithreading issue exactly?

[2017-04-06 21:30] vmx commented on #2010
The issue that `FindTable()` is called in a separate thread and hence doesn't propagate the status.

[2017-04-06 21:51] yiwu-arbug commented on #2010
Are you doing a manual flush or manual compaction and want to have the status propagated, or something else?

[2017-04-06 21:54] vmx commented on #2010
Just open and close a database with a plain table and a different prefix extractor several times. You will get a status `OK` back although it should fail.

[2017-04-07 01:42] siddontang commented on #1969
Hi @yiwu-arbug

I tried before, but found that WriteBatchWithIndex also needed to be changed, but I'm not familiar with it, maybe we can return an error simply for the transaction WriteBatch.

[2017-04-07 02:12] wolfkdy commented on #2092
Thanks,
[code]
So dropping a column family won't guarentee the semantic of "snapshot isolation" because a snapshot read followed by a immediate dropColumnFamily can read nothing.
am i right?

[2017-04-07 03:48] yiwu-arbug commented on #1969
For WriteBatchWithIndex, I didn't check carefully, but probably just relay the call to WriteBatch and call RebuildIndex will work, like what it is done in WriteBatchWithIndex::RollbackToSavePoint: https://github.com/facebook/rocksdb/blob/master/utilities/write_batch_with_index/write_batch_with_index.cc#L796

[2017-04-07 03:56] yiwu-arbug commented on #2092
I'm not familiar with snapshot. Probably someone else can answer the question. cc @siying @IslamAbdelRahman

[2017-04-07 08:42] manishbansal8843 commented on #2091
@ayappanec I tried some googling and got to know that above error is coming because rocksdb source code is using c++11 standards. Therefore i need a gcc and g++ compiler version >=4.8. Further after installing gcc and g++ 4.8.5, and setting environment variable EXTRA_CXXFLAGS=-std=c++11, i was able to proceed. However, after this, i am getting new errors as below.

[code]
Now above error is coming

[2017-04-07 09:22] ayappanec opened #2108 "Compilation broken with gcc 5*"
db/compaction_picker.cc: In member function ‘bool rocksdb::{anonymous}::LevelCompactionBuilder::SetupOtherInputsIfNeeded()’:
db/compaction_picker.cc:1157:14: error: converting to ‘bool’ from ‘std::nullptr_t’ requires direct-initialization [-fpermissive]
       return nullptr;
              ^
Makefile:1527: recipe for target 'jl/db/compaction_picker.o' failed
make: *** [jl/db/compaction_picker.o] E

[2017-04-07 09:37] ayappanec commented on #2091
Again make sure you got all the tools for compilation. Check for libstdc++ and it's devel package in your AIX machine.

[2017-04-07 13:42] adamretter commented on #2091
@manishbansal8843 @ayappanec I just found this other isuse https://github.com/facebook/rocksdb/issues/966 where @koldat claims to have RocksDB running on AIX. Maybe worth asking him if he could send a PR or patches?

[2017-04-07 15:42] ayappanec commented on #2091
@adamretter Great!. So somebody has successfully done it. @manishbansal8843 May be you can check with @koldat about the changes.

[2017-04-07 16:50] siying commented on #2092
@wolfkdy all the files are still there if you dropped a column family but you still keep a column family handle. Files are actually dropped when you destroyed the handled. Without a handle, you won't have a way to query the data there anyway, so the snapshot problem is not applicable.

[2017-04-08 05:30] wolfkdy commented on #2092
@siying @yiwu-arbug
Thanks, I almost got it. With your explaination, it will be easier to understand the code.
I'm from tencent and we are using mongorocks to store PB-level cold data.
Sincerely thanks to you and I'm sure things will continue.
Keep in touch.

[2017-04-09 13:52] hoganfan opened #2119 "fifo compaction style read too slow"
i use rocksdb to store log style data, and the key is uint64 type and auto increment.
one key only insert once time, so i use fifo compaction style to avoid compact.
the database is very large, i found that read operation is too slow.
and i know why, the reason is that the read amplification is too big when only use level 0.
how about compare the target key to the smallestkey and the largestkey fi

[2017-04-09 14:17] #2119 closed

[2017-04-10 05:40] manishbansal8843 commented on #966
@koldat Any progress on this? I am also trying to build rocksdb jni for one of my kafka streaming application. I am using AIX 6.1 and  g++ 4.8.5 to build the same. However, i am facing lot of issues. You can check issue #2091 . It would be great if you can provide any help here.

[2017-04-10 06:17] koldat commented on #966
We have ported changes to RocksDB5.1, because Rocks moved a lot from 4.1. It was not possible to merge. Unfortunately we have our own build for it to support all 5 platforms in one build easily (more Maven way). We have to separate the changes. I can push everything into my space is you are interested, but it is not "pull-requestable". We have to pull request the separated one.

And yes it works o

[2017-04-10 06:24] manishbansal8843 commented on #966
@koldat ohh great if it works on AIX 6.1. Yes kindly push it. Any kind of help would be appreciated.

[2017-04-10 12:32] rockeet commented on #2070
It seems that universal compaction requires seqnum not overlap with each sorted run, this condition can not be satisfied with keys non-overloap with each sorted run.

Our use case of `IngestExternalFile` is by MyRocks, we use universal compation in MyRocks.

@IslamAbdelRahman @siying @mikhail-antonov @ajkr Can any one propose a quick fix for this simple case?

[2017-04-10 16:48] koldat commented on #966
I did some rebase and merged master. Right now I am trying to make all platforms working (there was quite refactoring in master). I am almost there. You can take a look here for current state:
https://github.com/koldat/rocksdb/tree/aix_support_master

I think I will fix the rest tomorrow.

[2017-04-10 19:20] mikhail-antonov commented on #2070
The quickest and easiest solution we discussed was to run it as:

if (compaction == universal)
   - unconditionally insert file to L0
   - unconditionally force memtable flush before ingest.

That seems to cover existing problems. I have some WIP on it.

[2017-04-10 19:21] mikhail-antonov commented on #2070
in theory that would cause more read ampl, but in practice would depend on the ingest rate and volume

[2017-04-11 01:41] IslamAbdelRahman commented on #2070
Thanks @mikhail-antonov, unfortunately ingesting in L0 could be very bad for MyRocks case since they will insert a big amount of files.

@lightmark is going to work on a general solution to support IngestExternalFile with universal compaction. It will be very similar to the leveled compaction approach but it will require us to assign a global sequence number in a different way to the ingested file

[2017-04-11 03:12] rockeet commented on #2048
Thank you, we have worked around this issue by your advise!

[2017-04-11 06:25] koushikpaul1 opened #2129 "RocksDB cache data gets removed when tomcat shuts down."
RocksDB cache data is getting removed when tomcat is shutting down. The data persisting with .sst files can be fetched but those in cache only cannot be retrieved. The issue only arises when tomcat is closed.

I am using TTlDB and using jar rocksdbjni-4.9.0

[2017-04-11 06:29] #2108 closed

[2017-04-11 07:08] manishbansal8843 commented on #966
@koldat Thanks for sharing it. I have tried rebuilding it. However, i am getting link errors as below.

[code]
Any idea on this? Am i missing some packages to install as a pre-requisite.

[2017-04-11 08:50] koldat commented on #966
This is what we are using:

[code]
I am still having some test failures on Linux after merge. I can push 5.1.4 branch for you.

You also need to downgrade AIX assembler processor. Latest releases contains issues. I have:
bash-4.1# installp -l -d . | grep bos.adt.base
  bos.adt.base                6.1.6.15                   S  N usr,root

We are using GCC and all related packages (stdc, ...) in ver

[2017-04-11 12:07] loadwiki opened #2130 "c.cc: static fun CopyString, return c stye string without '\0'"
As describe in the title, does somebody have this problem?
I'm developing a c api for rocksdb branch(nemo-rocksdb).
After a simple test I find some string argument of my c func wrong.
Finally I find a func named CopyString ,which I copy from rocksdb/db/c.cc:
static char* CopyString(const std::string& str) {
  char* result = reinterpret_cast<char*>(malloc(sizeof(char) * str.size()));
  memcpy(resul

[2017-04-11 12:12] loadwiki commented on #2130
The issue still exist in latest version.
In a go project c-rocksdb(go wrapper for rocksdb),the issue also exist.
My question is , is there a problem  for rocksdb go wrapper?

[2017-04-11 12:55] tcwalther opened #2131 "Incorrect log message in BackgroundFlush"
The following log message in `BackgroundFlush` seems to have the wrong parameters passed:

[code]

In: https://github.com/facebook/rocksdb/blob/ff9728701614dcd5ea3ab019fe2fadebb6a8dd3f/db/db_impl_compaction_flush.cc#L1105-L1109

In particular, the _compaction slots allowed_ part prints `bg_flush_scheduled`, and the _compaction slots scheduled_ part prints `BGCompactionsAllowed() - bg_compaction_sc

[2017-04-11 13:05] arnaud-lb opened #2132 "PutCF() stalls after "New memtable created with log file: #1366. Immutable memtables: 1""
I'm seeing very long stalls in PutCF(), each time preceeded by these few log lines:

[code]

At the time the last line is logged, PutCF() stalls for a very long time, e.g. 30 min to more than one hour.

During this time, CPU usage is high (although not using all available cores). `perf top` shows `rocksdb::CompactionIterator::NextFromInput()` / `rocksdb::BuildTable()` as the nearly only CPU users:

[2017-04-11 14:29] arnaud-lb commented on #2132
Increasing `max_write_buffer_number` to `16` fixed the problem, at least temporarily.

[2017-04-11 14:30] ayappanec commented on #966
@koldat I actually recommend downloading AIX rpms from the official Toolbox. ftp://public.dhe.ibm.com/aix/freeSoftware/aixtoolbox/RPMS/ .
We actually do lot of testing here and we do have yum available for customers .  ftp://public.dhe.ibm.com/aix/freeSoftware/aixtoolbox/ezinstall/ppc/README-yum

[2017-04-11 15:04] koldat commented on #966
@ayappanec maybe, but we are using one I listed and it works perfectly. But thanks for pointer.

[2017-04-11 16:53] yiwu-arbug commented on #2129
Do you have WAL enable and how do issue WAL sync?

[2017-04-11 16:59] yiwu-arbug commented on #2130
I check a few C api and seems this is intended behavior. Since for example `rocksdb_get` also return the length of the value, we don't need to have '\0' at the end, and this allow us to return a value which may contain '\0' in the middle.

[2017-04-11 17:06] yiwu-arbug commented on #2131
Thank you for bring this up! Do you interest in sending a pull request to fix it?

[2017-04-11 17:11] yiwu-arbug commented on #2132
Does rocksdb log says something about "stall" or "stop"?

[2017-04-11 17:19] arnaud-lb commented on #2132
No, I'm not seeing anything like that in the log

[2017-04-11 17:25] yiwu-arbug commented on #2132
Then maybe this is not stall, but some deadlocking related to snapshot. cc @siying @IslamAbdelRahman @ajkr in case you have more info.

[2017-04-12 06:28] manishbansal8843 commented on #966
@koldat I tried using the instructions you shared. Although i am not able to check AIX assembler processor, still i tried to proceed with it. Also, my machine seems to have some firewall settings due to which on the fly download of various compressors like snappy and zlib etc are not working. For that, i have pre-downloaded them and commented the relevant lines in makefile. Now, i am facing issues

[2017-04-12 06:37] koldat commented on #966
This is my output:
[code]

Anyway you can comment out snappy build. And remove snappy from -D and linker. We were doing the same on beginning. I am not sure what problem you have. You have to look in configure script and log.

[2017-04-12 06:49] ayappanec commented on #966
@manishbansal8843 You need to have /opt/freeware/bin in your PATH variable.
export PATH=/opt/freeware/bin:$PATH

[2017-04-12 06:59] koldat commented on #966
Thanks @ayappanec , you are right. Here are our Jenkins env overrides:
JAVA_HOME=/usr/jenkins/ibm-java-ppc64-70
LIBPATH=/opt/freeware/lib
PATH=/opt/freeware/bin:/usr/bin:/etc:/usr/sbin:/usr/ucb:/usr/bin/X11:/sbin:/usr/jenkins/ibm-java-ppc64-70/jre/bin:/usr/jenkins/ibm-java-ppc64-70/bin:/usr/lib/apache-maven-3.2.1/bin

[2017-04-12 07:25] manishbansal8843 commented on #966
@koldat @ayappanec I have added /opt/freeware/lib to both LIBPATH and PATH. However, snappy issue is still coming. Further, after commenting snappy target in makefile, i am again getting the same linking errors as i got yesterday.

[code]

[2017-04-12 12:11] graetzer opened #2146 "Sequence Number of WriteBatch"
Is there a reason that the `WriteBatchInternal::Sequence(const WriteBatch*)` method,
is only available in a private header?

It would be really helpful to be able to know the sequence number of a WriteBatch in the WAL,
or at least the sequence number of a committed transaction. Then we could use this number, when we want to tail the WAL. Currently I can't really see another way, other than to use

[2017-04-12 17:48] mbakke opened #2148 "Test failure in SpatialDBTest.FeatureSetSerializeTest"
I'm seeing a test failure in `spatial-db-test`.

[code]

The contents of `serialized` here is "\030\000\000\000\000\000\000\000\000\n@\001a\004\001".

1. Is this the expected contents of the `serialized` string?
2. If so, why is it getting deserialized successfully?

The environment is zlib-1.2.11,  snappy-1.1.3, lz4-1.7.5, jemalloc-4.5.0, gcc-5.4.0 and glibc-2.25 on GNU Guix. Thanks in advance!

[2017-04-12 17:51] siying commented on #2148
Are you using SpatialDB? We are not actively maintaining it.

[2017-04-12 18:05] mbakke commented on #2148
I'm not. I only build RocksDB since Ceph requires it. At least I know it's safe to disable this test, thanks!

[2017-04-13 07:23] choleraehyq opened #2152 "Compile error using glibc 2.25"
[code]
gcc 6.3.1, glibc 2.25, arch linux, kernel 4.10.9

[2017-04-13 07:39] koldat opened #2153 "Crash on Solaris Sparc"
System: Solaris Sparc (big endian)

Just heads up. After merge from master our Solaris tests starts crashing. Everything was passing in 5.1.4. In latest release notes I noticed: "DB::Get in place of std::string accepts PinnableSlice, which avoids the extra memcpy of value to std::string in most of cases."

It is actually the problematic area. Maybe gcc compiler issue. I do not know. But if we are

[2017-04-13 09:31] zhangxqq opened #2154 "ios install"
according to the step, install in iOS platform, generate librocksdb.a,  use the command: lipo -info librocksdb.a, display only support: x86_64, how to generate static library support simulator and device

[2017-04-13 15:59] koldat commented on #1988
@StephanEwen did you try to use max_successive_merges as @siying recommended? I was facing similar issue when I had counter value that was changed a lot of times. I see it as works as designed, just change configuration.

[2017-04-13 18:39] adamretter commented on #1988
The `StringAppendOperator` in Java is just a simple wrapper around the C++ `StringAppendOperator` which is created by calling `rocksdb::MergeOperators::CreateFromStringId("stringappend")`, which ultimately calls `return std::make_shared<StringAppendOperator>(',')`.

The C++ hierarchy looks like: `StringAppendOperator` <- `AssociateMergeOperator` <- `MergeOperator`.

If you want a more performant v

[2017-04-13 22:20] siying commented on #2148
@mbakke yes it's safe to ignore. I just realized that it is failing on GCC-5 and passes on 4.8 and 4.9. We'll fix or disable the test.

[2017-04-14 19:59] siying commented on #2148
@mbakke I hope this is fixed with https://github.com/facebook/rocksdb/commit/ca96654d8550bca727ecdd2d79e211b82fc76ec4

[2017-04-14 19:59] #2148 closed

[2017-04-14 23:22] Downchuck opened #2162 "Lua specified merge operation"
Can the RocksDB Lua CompactionFilter work also be extended to support Lua-based merge operations?

[2017-04-17 05:23] young001 opened #2166 "why LOG.old.* keep growing even after set keep_log_file_num"
I use java,code is like
[code]
pom is
[code]

in the data dir, a lot LOG.old.* file generated,why? some bug or something other need to set?:
[code]

[2017-04-17 18:53] #1779 closed

[2017-04-18 08:48] mikhail-antonov commented on #2001
@adamretter any thoughts? I think that with JNI wrapper supporting comparator-less constructor Bytewise comparator in Java isn't needed for the most part, and it does seem to be incompatible with memcmp semantics.

[2017-04-18 09:45] bentorfs opened #2171 "Ticker and Histogram enumeration types out of sync with Java API"
**Problem:** The enumerations of tickers and histogram types for retrieving statistics are not in sync between the C++ source and the java API:

_Java version:_
https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/TickerType.java
https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/HistogramType.java
_C++ version:_
https://github.com/facebook/roc

[2017-04-19 13:22] koldat commented on #2153
I tried to investigate and it looks like __thread (TLS) is not working well on Solaris. Maybe some compiler options will help. I will try to find the root cause.

[2017-04-19 14:08] StephanEwen commented on #1988
We have started using internally a modified version of RocksDB where we use an implementation for appending like that of the `StringAppendTESTOperator`. Seems to work very well.

We could contribute that back, but in essence it is really just making the `StringAppendTESTOperator` something that sound less "unofficial" and exposing it in the Java API.

We built that on RocksDB 4.11.2, because the n

[2017-04-19 15:33] tamird opened #2176 "Xcode 6.3.2: error: unknown attribute '__no_sanitize__' ignored"
[code]
Note that this compiler "lies" about its version number; in particular, the macro `__clang_major__` has the value `6`:
[code]
Which confuses [the check in util/hash.cc](https://github.com/facebook/rocksdb/blob/v5.1.4/util/hash.cc#L17).

The full error:
[code]

cc @mberhault

[2017-04-19 16:02] koldat commented on #2153
I was looking further and it looks like that the problem is in compiler. It caches TLS pointer to perf_context in some register and this register is probably partially invalidated by some functionality. So that second usage in MultiGet gets broken pointer.

I made a "workaround" that calls on Solaris getPerfContext which disables this optimization and from that point everything works. Maybe it is

[2017-04-20 13:07] adamretter commented on #1988
What seems to be the problem with `merge()` after RocksDB 4.11.2. We have a test suite for merge operators: `java/src/test/java/org/rocksdb/MergeTest.java` which seems to call `merge` and succeed without `SIG_ABORT`

[2017-04-20 13:10] StefanRRichter commented on #1988
@adamretter, for example executing the code that @StephanEwen provided in the opening post of this issues does not work for me with RocksDB > 4.11.2.

[2017-04-21 04:39] clark010 opened #2192 "How config Options to support shared block cache in RocksJava api"
In C++ api, we can use

BlockBasedTableOptions table_options;
table_options.block_cache = cache;
Options options;
options.table_factory.reset(new BlockBasedTableFactory(table_options));

but i can not find the similar api in RocksJava, if there's plan to support this api
or if there is some other method to do this?

[2017-04-21 21:15] lightmark commented on #2171
Yes. Since we are short of ppl maintaining Java api, would you like to contribute?

[2017-04-21 21:16] lightmark commented on #2162
It can be extend but just not in our roadmap. Would you like to contribute?

[2017-04-22 02:24] jerousrb opened #2201 "how to split or merge RocksDB instance over HDFS"
Hi, Can I ask a few question?
     first,if we through the rocksDb env_hdfs with the deployment of a three node (D E F)distributed HDFS. we open a DB( named A) with two columnfamilys(named CF1 CF2) on node D; then we close DB A on node D. can we open this DB (with CF1) on node E, another this DB (with CF2) on node F , the both support write and read?   There are some problem with this use?

 anoth

[2017-04-23 12:42] koldat commented on #966
Fixes for AIX was merged in #2194

[2017-04-23 12:42] #966 closed

[2017-04-23 12:42] koldat commented on #2153
Fixed

[2017-04-23 12:42] #2153 closed

[2017-04-24 16:50] siying commented on #2201
All column families of a DB has to be opened all together. There isn't a way you can close a column family in one service and open it in another one.

[2017-04-24 22:56] lightmark commented on #2192
@adamretter

[2017-04-24 23:49] adamretter commented on #2192
@clark010 At the moment this is not possible in the API. No particular reason as far as I can see. The way that TableOptions in the Java API were implemented previously is perhaps a little strange but I think it was likely done, so that the options are kept on the Java side and only sent to C++ when a new TableFactory is created. This might need a little bit of revision.

We would like to see this

[2017-04-25 12:32] jerousrb commented on #2201
in the repair::AddTables， this function add all file into level 0,  How to distinguish between old and new data in different sstable(level 0 or level N)?   @siying

[2017-04-25 12:35] jerousrb commented on #2201
if we split manifest into two part, and update the reference sstale info in storage info,  can we split one db into two? @siying    @lightmark

[2017-04-25 19:14] Banu27 opened #2210 "Removing deprecated files in the java repo"
I found the presence of java files `BackupableDB.java` and `RestoreBackupableDB.java` confusing while trying to upgrade to recent versions of rocksdb from an older version that used these classes. Is there any reason they are still existing in the repo?

Thanks!

[2017-04-25 19:15] lightmark commented on #2201
Any key in SSTable file is associated with a sequence number which denotes whether it is newer or older. So even we put all files on Level 0, the consistency of db is preserved.

I don't think there is a way to split manifest...

[2017-04-26 00:11] adamretter commented on #2210
@Banu27 Good spot. Seems like these were previously left in by mistake. I have opened a PR to remove them and clean up the references here - https://github.com/facebook/rocksdb/pull/2212

[2017-04-26 11:03] lcy362 opened #2215 "rocksdbjni 5.2.1 in maven central repo not contain librocksdbjni-win64.dll"

[2017-04-26 14:34] adamretter commented on #2215
@lcy362 Apologies it seems to have been missed form the multi-platform jar, however it is present in the Win64 jar, so you could just use that as a workaround until the next release - https://search.maven.org/remotecontent?filepath=org/rocksdb/rocksdbjni/5.2.1/rocksdbjni-5.2.1-win64.jar

[2017-04-26 14:34] #2215 closed

[2017-04-26 19:05] andrewstellman opened #2216 "Include librocksdbjni-win64.dll in rocksdbjni-5.2.1.jar in Maven"
Version 5.1.2 of rocksdbjni included librocksdbjni-win64.dll, but it is not included in rocksdbjni-5.2.1.jar in the  Maven package. Reproduced by downloading from http://repo1.maven.org/maven2/org/rocksdb/rocksdbjni/ :

[code]

This same issue was reported and repaired with a previous version (#1177).

[2017-04-26 19:16] adamretter commented on #2216
I am closing this as a duplicate of: https://github.com/facebook/rocksdb/issues/2215

[2017-04-26 19:16] #2216 closed

[2017-04-27 19:42] paulhandy opened #2223 "RocksJava, Columns, and Compression"
On a linux machine, using version `5.1.2`, running with multiple column families, after the database has some 500k items in it (200MB or so), when closing the application and restarting it, it takes about an hour to get the database opened again. It was thought that the cause of this may be the compression (also possibly logs automatically written) used, since it appears to use Snappy on linux, an

[2017-04-27 23:32] vuzilla opened #2227 "Add Support for Bulk Loading older data with FIFO Compaction approach"
Our use case is this.
- We create a new cluster.  It starts receiving newer record updates almost immediately, but is not yet being read from.
- We want to back-fill the older data from another cluster.  However, we want the records currently being written to take precedence.

So for FIFO, we want to add SST files to the end of L0, so it's the last SST to be checked in L0.  In this case, there wou

[2017-04-28 08:29] acipolletti opened #2229 "Crash on win64"
Hi i successfully compiled a static 64 bits release of rocksdb library, using both vs2015 and vs2017.
After i create a very simple 64bits console application , using following code

#include <cassert>
#include "rocksdb/db.h"
#pragma comment(lib, "Rpcrt4.lib")

int main()
{
	rocksdb::DB* db;
	rocksdb::Options options;
    return 0;
}

but when start , the executable crash with the exception in the

[2017-04-28 18:30] siying commented on #2227
What @mikhail-antonov and @lightmark are doing about bulkloading old data should be easily applicable to FIFO compaction.

[2017-04-28 22:02] yuslepukhin commented on #2229
@acipolletti Run CMake with -DWITH_AVX2=0 as your hardware does not support AVX2 instructions.

[2017-04-29 00:22] #2223 closed

[2017-04-29 08:23] acipolletti commented on #2229
Fixed. Thanks a lot.

[2017-04-29 08:23] #2229 closed

[2017-04-30 02:03] Vegetable26 commented on #1842
Hello @siying, I have been considering contributing to RocksDB and was wondering if it'd be ok if I tried picking up this task?

Thanks!

[2017-05-01 02:45] siying commented on #1842
@Vegetable26 you'll be more than welcome to pick up this task.

[2017-05-01 18:30] muzhang commented on #943
However, DBOptions does not cover all the options in Options. For instance, setTargetFileSizeBase() is offered by the latter but is not included in the former. If I need to set the file size while using column family name, what should I do?

[2017-05-02 15:40] koldat commented on #2171
@adamretter I was facing same issue. In this case I would recommend to use portable (maybe slower) way (strings over numbers). I made a change in this way in our local repo using TickersNameMap. It works perfectly and does not require to maintain the enumerations at all. What do you think?

[2017-05-02 15:51] adamretter commented on #2171
@koldat Is it possible to see an example?

[2017-05-02 16:00] koldat commented on #2171
@adamretter Roughly like this:
[code]

[2017-05-02 16:11] adamretter commented on #2171
@koldat Sorry I can't understand what you mean from the above code, I don't see any enums involved there.

[2017-05-02 16:16] koldat commented on #2171
@adamretter That is actual usage. Enum can be:
[code]
There are more use cases:
1. C++ untroduces new ticker not maintained in enum. You can still query for it.
2. You can use bulk query to retireve all tickers as map<String, Long> values. Regardless on enum. We have for example monitoring solution that consume string -> value map.

[2017-05-02 21:20] bharatviswa504 opened #2241 "rocksdb v5.3.3 jars not available in maven"
RocksDB v 5.3.3 is released, but jars are not available in maven repo.

  Searched in the following locations:
      https://repo1.maven.org/maven2/org/rocksdb/rocksdbjni/5.3.3/rocksdbjni-5.3.3.pom
      https://repo1.maven.org/maven2/org/rocksdb/rocksdbjni/5.3.3/rocksdbjni-5.3.3.jar

[2017-05-02 22:32] yiwu-arbug commented on #2241
We found issue with java build with 5.3.3. We are likely to have a minor version release to fix that. Stay tune. cc @sagar0

[2017-05-03 04:14] #2210 closed

[2017-05-03 08:58] HassanCehef opened #2243 "Iterators that do not load value in memory"
Hi,

In the usage I do of rocks, I store meta-data as part of the key. It works perfectly fine with prefix iterators. Sometimes, I have to perform a sort of garbage collection, which executes Deletes depending on the metadata of the key (in a coarse way). The idea is that I iterate over all the keys I store, to know if I can get rid of some keys. Thus, in the garbage collection phase, I never have

[2017-05-03 09:13] jerousrb commented on #2201
we can scan the manifest and update the FileMetaData (smallest largest ) of all the sst table to build version. then write snapshot about the version . @lightmark

[2017-05-03 09:26] jerousrb opened #2244 "how filter some data from get and iterator?"
If i want to filter out some of the key data within the rocksdb，how to achieve?
for example，one rocksdb already contains  data in range[10-1000]，but now  i just want to read some range[600-1000] of the data. in particular, i hope the iterator also does not contain the out range[10-599] data for next \ pre seektofirst.  thinks!

  @siying  @lightmark

[2017-05-03 13:56] koldat commented on #2171
@adamretter What do you think? Should I go ahead and create pull request?

[2017-05-03 16:43] bharatviswa504 commented on #2241
@yiwu-arbug Thanks for info.. So, rocksdb 5.3.4 version jars when it will be available in maven?

[2017-05-03 17:07] sagar0 commented on #2241
@bharatviswa504 yeah, they will be available in maven soon. @adamretter is working on building the jars to add to maven repo.

[2017-05-03 17:58] #1969 closed

[2017-05-04 02:41] bharatviswa504 commented on #2241
@sagar0 Thanks for info..

[2017-05-04 08:10] lightmark commented on #2244
We have iterate_upper_bound but not iterate_lower_bound. It is symmetric, do you want to contribute?

[2017-05-04 12:18] rockeet commented on #1720
Hi @IslamAbdelRahman, How about the status?

[2017-05-04 20:10] mdcallag opened #2249 "huge fallocate calls fail and make XFS unhappy"
An internal bug is already open for this

RocksDB can call fallocate with len set to UINT64_MAX/10. The call is likely to fail with ENOSPC and the failure isn't logged by RocksDB.

The problem comes from:
[code]

which is used by:
[code]

And the fallocate call then comes from
[code]

[2017-05-04 21:01] ajkr commented on #2249
I'll try assigning `preallocation_size` to the sum of the input file sizes in case `CompactionOptions::max_output_file_size_ == INT64_MAX`.

[2017-05-04 22:53] ccleve opened #2251 "Rocksbdjni: java.lang.RuntimeException: librocksdbjni-win64.dll was not found inside JAR."
Version 5.2.1 fails with the exception in the title.  I can confirm that the .dll is not in the .jar.

Please double check that it's included in 5.3.4 when that comes out. Thanks. @adamretter

[2017-05-05 04:00] jerousrb commented on #2244
thanks for you answer. @lightmark
     this function  iterate_upper_bound   implementation is in the wrapper iterator （NewDBIterator）, why not to process iterate_upper_bound  in the  the bottom of the iterator （such as block iterator）, avoid reading more data into memory？

[2017-05-05 18:50] lightmark commented on #2244
We read block in a whole, so it makes little sense in block iterator. But I already has a PR to process it in two_level_iterator which may be what you want.
https://github.com/facebook/rocksdb/pull/2239

[2017-05-07 00:17] h-1 opened #2261 "Ingesting sst files with addFile error"
Hi,

I am trying to implement [Creating and Ingesting SST files](https://github.com/facebook/rocksdb/wiki/Creating-and-Ingesting-SST-files) in Java. I was able to create the SST files, but I am not able to ingest it into the db.

I tried `addFileWithFileInfo` but got this error: `java.lang.UnsatisfiedLinkError: org.rocksdb.RocksDB.addFile(JJ[JIZ)V` which seems like `addFile` is the old implemnetat

[2017-05-07 08:45] IslamAbdelRahman commented on #2261
Which RocksDB version are you using ?
CC: @mikhail-antonov

[2017-05-07 08:48] IslamAbdelRahman commented on #2243
Hi @HassanCehef
This is not possible, RocksDB stores multiple keys and values together in a single block, we need to read the whole block from the device and decompress it to extract the key and value. So it's not possible to *only read keys*

[2017-05-07 13:36] gra-moore opened #2262 "Build Issue with Master branch and Visual Studio 2017"
When building using cmake and visual studio 2017. The following compile error is raised:
[code]
The same error is generated 6 times, 3 from rocksdb and 3 from rocksdb-shared

To reproduce:
[code]
Then:
[code]
Visual Studio Version is: 15.1 26403.7

xutility is located: `d:\Programs\VS2017\VC\Tools\MSVC\14.10.25017\include\xutility`

[2017-05-07 20:50] h-1 commented on #2261
I am using [5.2.1](https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni/5.2.1).

[2017-05-08 06:02] HassanCehef commented on #2243
Hi @IslamAbdelRahman
Thanks for your answer. I will find a workaround then.

[2017-05-08 06:02] #2243 closed

[2017-05-08 09:42] lanxia opened #2263 "The performance issuse about prefix seek"
Recently, I have done many tests to compare the performance of **Seek** between the prefix mod and the non prefix mod. But all test shows that the performance of prefix seek is a bit slower than normal seek. This
result does not meet expectation. I doubt that my test is wrong in somewhere, anyone have experience with such test?

[2017-05-08 21:53] mikhail-antonov commented on #2261
I used SstFileWriter successfully from Java with subsequent ingest in C++, but not sure I did ingest from Java.

Looking at the code, https://github.com/facebook/rocksdb/blob/master/java/rocksjni/rocksjni.cc#L2174 - AddFile in JNI layer called IngestExternalFile internally (in C++).

Unsatisfied link error indicates that JNI signature doesn't match.. (JJ[Ljava/lang/String;IZ)V is the signature to

[2017-05-08 21:54] mikhail-antonov commented on #2261
Also this should be something we should be able to reproduce easily.

[2017-05-08 23:50] Downchuck commented on #2091
https://github.com/facebook/rocksdb/pull/2194

[2017-05-09 01:50] #2091 closed

[2017-05-09 04:14] h-1 commented on #2261
@mikhail-antonov

I actually tried the same thing you did. Created SST file with Java, loaded with C++. I had no problems as well. The problem only happens with Java loading. Below is a sample code that generates the error.

`   public static void main(String[] args) throws Exception {

    Options options = new Options();
    options.setCreateIfMissing(true);
    String filePath = "/Documents/sst

[2017-05-09 04:28] mikhail-antonov commented on #2261
Hmm...So this is Java method being called:

[code]

There's also a similar method in Java with signature:
[code]

But in JNI header, only the latter one has signature:
[code]

So that does look like a bug. Let me have a look. Thanks for the report!

[2017-05-09 22:02] min-mwei commented on #1988
Hi, guys. I think I found the crash issue by some luck. I did validate it on Mac and Linux by using the original test used in this thread.

[2017-05-10 09:03] StephanEwen commented on #1988
Awesome. I think with the latest master running again, we can contribute back the patch.
We are currently in the mid of our own release, but would happily do it once we are done (2 weeks or so).

[2017-05-10 18:07] #2152 closed

[2017-05-10 18:52] gauravyadav7 opened #2273 "Merge operator giving stale data"
I am using a rocksdb instance in production, with 128 column families and inserting/updating small key/value pairs in the order of 75000 keys/second. I am running a test which verifies these key/value pairs as well. After few hours, for few keys I get stale/old data. And when I try to re-lookup keys (without any further inserts/updates), I get the latest/right data back.
I have my custom merge ope

[2017-05-11 04:59] bharatviswa504 commented on #2241
@adamretter
@sagar0 I am still not able to use 5.3.4 rocksdb jar, as they are not available in maven.
Could you please let me know, when they will be available.

[2017-05-11 13:22] #1988 closed

[2017-05-11 20:16] sagar0 commented on #2241
5.3.4 jars will be available soon, may be in a few days. We were running into a jar build issue due to Centos 5 EOL, but it is now fixed in https://github.com/facebook/rocksdb/pull/2270.

[2017-05-11 21:12] adamretter commented on #2241
@bharatviswa504 I just released 5.3.4 to Maven Central. It will appear there during the next 2 hours (as they have a sync period from staging).

[2017-05-11 21:12] #2241 closed

[2017-05-11 21:14] adamretter commented on #2262
Any ideas @yuslepukhin?

[2017-05-11 21:16] adamretter commented on #2251
@ccleve I just released 5.3.4 to Maven Central (it will appear in the next 2 hours).

[2017-05-11 21:16] #2251 closed

[2017-05-11 21:17] adamretter commented on #1329
@kobikis Can we close this now?

[2017-05-11 21:18] #1270 closed

[2017-05-11 21:21] #1266 closed

[2017-05-11 21:22] adamretter commented on #679
@malexzx @DoktorSeltsam was this ever resolved?

[2017-05-11 21:40] adamretter commented on #2047
@hujincalrin I think that memcpy can on occasion block.

However, on second thoughts I think it just as likely that you are doing a large merge here and so the merge operation is allocating may strings.

When and how the merge operator is called is configured by the options `max_successive_merges` and `min_partial_merge_operands`

[2017-05-11 22:11] jamespedwards42 opened #2280 "librocksdbjni 5.3.4 undefined symbol: ZSTD_versionNumber"
I'm getting the following error message since upgrading from version 5.2.1 to 5.3.4 of rocksdbjni.  rocksdbjni  5.3.4 works fine locally on Mac0S with RocksDB 5.3.4 installed through brew. Running it against [RocksDB 5.3.4 on Debian Sid](https://hub.docker.com/r/comodal/debian-rocksdb/~/dockerfile/) is where I get the error.

`java: symbol lookup error: /tmp/librocksdbjni6228543948847813430.so: un

[2017-05-11 22:22] ccleve opened #2281 "Java, version 5.3.4 java.lang.UnsatisfiedLinkError"
[code]
fails on this line: `Options options = new Options();`

The Options class in the jar appears to be empty.
Happens in version 5.3.4 on Windows.

@adamretter

[2017-05-11 22:29] ccleve commented on #2281
The Options class is actually not empty (IDE glitch). But the error is still there.

[2017-05-11 22:30] jamespedwards42 commented on #2280
@adamretter Looks like your recent PR, https://github.com/facebook/rocksdb/pull/2279, will fix this?  I will try to run against it as soon as its out to confirm everything is working.

[2017-05-11 22:40] adamretter commented on #2280
@jamespedwards42 This shouldn't be happening regardless as when we build the native artifacts, they should be statically linked against their libraries. I will need to try and reproduce this, it will take me some time to setup a Debian environment...

[2017-05-11 23:58] ccleve commented on #2281
I'm on Windows

[2017-05-12 00:11] sagar0 opened #2282 "Support MergeOperator in Java"
[`MergeOperator`](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/merge_operator.h) functionality is not currently available in the [Java API](https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/MergeOperator.java). [`StringAppendOperator`](https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/StringAppendOperator.java) is the onl

[2017-05-12 01:30] mikhail-antonov commented on #2261
From what I can see, we only support passing in list of file_paths of the files being ingested in the new api - https://github.com/facebook/rocksdb/blob/master/include/rocksdb/db.h#L955

@adamretter @IslamAbdelRahman do we really need to many variances of AddFile methods in Java api? E.g. where would we need an api that accepts ExternalSstFileInfo object with populated fields (other than file_path

[2017-05-12 10:54] anhldbk commented on #513
@siying In case of many keys with large-sized values (and they are frequently accessed), how will Block Cache behave?

[2017-05-12 12:20] nihathrael commented on #2280
I have a very similar/the same error using Arch Linux:
```/usr/lib/jvm/java-8-jdk/bin/java: symbol lookup error: /tmp/librocksdbjni7451032689798428193.so: undefined symbol: ZSTD_versionNumber```

[2017-05-12 17:23] adamretter commented on #2261
So I started looking at this yesterday. @h-1 is getting this error because it seems that whoever added support for addFile missed off half the implementation that they intended :-(

addFile in the C++ code is now deprecated in favour of IngestExeternalFile. I will likely send a PR tomorrow now that addresses that.

[2017-05-12 17:38] yuslepukhin commented on #2262
We have not switched the compiler internally but I will take a look when I get a chance.

[2017-05-12 19:32] yiwu-arbug commented on #513
@anhldbk Our block size is variable, and will fit to boundary of keys. Say if there is a gigantic key-value, we may end up with a gigantic block containing only this key-value.

[2017-05-12 20:22] bharatviswa504 opened #2288 "UnsatisfiedLinkError when using BloomFilter"
[code]
When using below code, getting a stacktrace error `Unsatisfied linker error`:
[code]

[2017-05-12 20:23] bharatviswa504 commented on #2288
Could you any help me is this issue got fixed or anything wrong in above piece of code?

[2017-05-13 00:04] vuzilla commented on #2227
Is this the change you're referencing?
https://github.com/facebook/rocksdb/pull/2202

I can try the latest release out to verify that it works with FIFO Compaction.

Thanks

Vu

[2017-05-13 00:08] mikhail-antonov commented on #2227
#2144 for ingest of older data with universal compaction, see reviews and comments there, in progress
#2202 is for normal ingest (overwriting existing data) with universal compactions

[2017-05-13 00:11] mikhail-antonov commented on #2227
@vuzilla  i'm not sure current approach is easily portable to FIFO compactions (which I haven't looked at yet), but we can certainly look into it.

Conceptually the usecase you described is exactly what i want for universal in #2144

[2017-05-13 15:29] adamretter commented on #2288
@bharatviswa504 Can you please tell me which version of RocksDB and which platform?

[2017-05-13 15:41] adamretter commented on #2280
@jamespedwards42 Okay so I think I misunderstood what you were attempting to do.

Previously I thought you were using the Java artifacts that we release to Maven Central, but I see from your Dockerfile that you actually are building the tag from source code, and your Makefile target is `shared_lib`. What this implies to me is that when you run RocksJava, it cannot find the dynamically linked libra

[2017-05-13 15:49] nihathrael commented on #2280
Hi, I am using the jar file from Maven Central and get the aforementioned error, without using a custom build.

[2017-05-13 16:45] adamretter commented on #2280
@nihathrael okay I will take a look into that too

[2017-05-13 19:15] adamretter commented on #2280
@nihathrael @jamespedwards42 I don't understand exactly how the linking works as I am more of a Java than a C++ guy, but I have done some experiments and I believe that https://github.com/facebook/rocksdb/pull/2292 now fixes both of your issues.

Let me know, and if it works, we will try and cut another release ASAP.

[2017-05-13 19:49] bharatviswa504 commented on #2288
@adamretter RocksDb version is 5.3.4 and both on mac os and linux I have seen this issue.

[2017-05-13 23:05] jamespedwards42 commented on #2280
@adamretter I am in the same boat regarding Java versus C++.  I've never built the rocksdb jni library before; I just use what is available in the maven repo.  I will look into building it early this next week and give it a go.

[2017-05-14 00:07] adamretter commented on #2280
You can just run "make rocksdbjavastatic"

On 13 May 2017 7:06 p.m., "James Edwards" <notifications@github.com> wrote:

[2017-05-14 03:32] adamretter opened #2293 "Problem building on Windows 10"
Following the process described here: https://github.com/facebook/rocksdb/wiki/Building-on-Windows I am getting a failure when building the `HEAD` of the `master` branch on Windows 10 with Visual Studio 2015 Community.

[code]

[2017-05-14 03:52] adamretter commented on #2293
If I manually edit the file `build\java\rocksdb\rocksdbjni.vcxproj` and remove the entries "`rocksdblib.lib`", then the build succeeds, however the file `build\java\Release\rocksdbjni.lib` looks far too small at only ~312KB, whereas the `build\java\Release\rocksdbjni.lib` weighs in at ~4.10MB.

@yuslepukhin Any idea what's gone wrong with the Windows CMake build?

[2017-05-14 03:53] jamespedwards42 commented on #2280
@adamretter Looks like it fixed it!

I checked out your branch, `adamretter:java-zstd-linking`, and built with the following:
[code]

Currently running with that jar, with no issues.

[2017-05-14 04:04] adamretter commented on #2280
@jamespedwards42 Okay thanks for the feedback James. I will try and cut a new release once @sagar0 has confirmed he is happy and has merged that in.

[2017-05-14 04:06] adamretter commented on #2281
@ccleve Okay I can see the problem and reproduce it here

If I run `dumpbin /exports librocksdbjni-win64.dll` against the DLL from RocksDB 5.1.4, then I see all of the `Java_` exported functions that I would expect. However if I run it against a DLL from RocksDB 5.3.4 then I don't see any `Java_` JNI exported functions, just the RocksDB C++ API exported functions.

I am afraid to report that it lo

[2017-05-14 04:16] adamretter commented on #2288
@bharatviswa504 Okay so I think it is likely you are misusing the API by accident.

The following code will give the error you are seeing:
[code]

The reason it does so is that the Native library for RocksDB has not yet been loaded. That typically happens when one of the `Options`, `ColumnFamilyOptions` or RocksDB classes are used. As that is  normally the first class that you would use it isn't n

[2017-05-14 04:16] #2288 closed

[2017-05-14 05:10] adamretter commented on #2293
Also I just checked and the following works against the `v5.3.4` tag:
[code]

However, it does not work on `HEAD` of `master` so I guess something changed in `CMakeLists.txt`, I will start digging through the commits since `v5.3.4`...

[2017-05-14 05:45] bharatviswa504 commented on #2288
@adamretter Thank you. It is working now with given suggestion.

[2017-05-15 01:39] adamretter opened #2297 "Linking RocksJava on Windows 10"
I have been trying to build better RocksJava artifacts for our Windows users by including the 3rd-party compression libraries (Snappy, LZ4 and ZLib), as such I have followed a process which I have described here: https://github.com/facebook/rocksdb/wiki/Building-on-Windows

However, both the resultant `build\java\Release\rocksdbjni.lib` and `build\java\Release\rocksdbjni.dll` when examined with `d

[2017-05-15 05:12] anhldbk commented on #1311
@baotiao Should we use Rocksdb on a distributed file system?

[2017-05-15 05:15] anhldbk commented on #513
@yiwu-arbug So if I have a large key, I'd be better off splitting it into multiple smaller keys, right?

[2017-05-15 07:48] nihathrael commented on #2280
@adamretter I compiled your branch and everything works as expected. Thanks for the quick fix, much appreciated!

[2017-05-15 08:57] anhldbk commented on #1311
@niukey @baotiao : What do you guys think about DynomiteDB

Link: http://www.dynomitedb.com/docs/dynomite/v0.5.8/introduction/

[2017-05-15 18:12] #2280 closed

[2017-05-15 19:37] #2293 closed

[2017-05-15 21:24] sagar0 opened #2299 "RocksJava builds are failing on Travis"
All RocksJava builds on Travis are failing, across linux/mac with both gcc/clang.
Example: https://travis-ci.org/facebook/rocksdb/builds/232466228
[code]

[2017-05-15 21:36] adamretter commented on #2299
@sagar0 Yeah, I looked into Travis and saw the build failures for the file `util/build_version.cc` in RocksJava. Unfortunately the `Makefile` and the Travis config have become complicated to a state where I can't figure out why this fails for RocksJava and not for Rocks itself.

It seems that `util/build_version.cc` is not generated by the `Makefile` for when make is called with the targets `clean

[2017-05-15 22:47] yiwu-arbug commented on #2299
It looks to me `make clean` is executed after build_version.cc being generated. I'm trying to split the command into `make clean jclean && make rocksdbjava jtest`. Testing it out with a test branch: https://travis-ci.org/facebook/rocksdb/builds/232621078

[2017-05-15 23:01] yiwu-arbug commented on #2273
Is it possible the write and the read happen on different thread, and that you try to read the key before the write had returned? When you write, are you using transaction, write batch, or a simple Merge? When you read, are you using Get, MultiGet or iterators?

Also, can you try a more recent release (e.g. v5.3.4) to see if it can be reproduce? A standalone test will definitely help with the inve

[2017-05-15 23:04] yiwu-arbug commented on #2263
cc @lightmark any idea?

[2017-05-15 23:26] gauravyadav7 commented on #2273
My test runs with 64 threads, with all of them doing read and writes. My test always makes sure to read a key only after it has been successfully written. And I use these steps:

INSERT ->
1. rocksdb::WriteBatch batch
2. batch.Merge(columnFamilyHandle, key, value) // Multiple such entries before calling Write()
3. rocksDBInstance->Write(writeOptions_, batch)

LOOKUP ->
rocksDBInstance->Get(readOpt

[2017-05-15 23:35] yiwu-arbug commented on #2249
@ajkr Is this fixed?

[2017-05-15 23:53] yiwu-arbug commented on #2176
We should probably detect UBSAN support by compiling a test program like this: https://github.com/facebook/rocksdb/blob/master/build_tools/build_detect_platform#L198-L211
@tamird want to contribute? :)

[2017-05-15 23:58] yiwu-arbug commented on #2166
You can try setting delete_obsolete_files_period_micros to a smaller value: https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L460-L464

[2017-05-16 00:04] yiwu-arbug commented on #2146
We have no plan so far to expose sequence number of a write. I'm interested to know your use case though. Why do you want to tail the WAL?

[2017-05-16 01:08] graetzer commented on #2146
We are using RocksDB as a second storage engine for our database. We need a reliable count of inserted / deleted documents in our database without adding that much overhead.
We implemented this by periodically storing our counters in rocksdb. In the event of a crashed process, we restore the correct counter values by scanning the WAL for the PUTs and Deletes we miss. We needed the commit sequence

[2017-05-16 09:50] marijnfs opened #2304 "Linking issue"
I can't for the life of me figure out how to properly link rocksdb in windows (linux is no problem). I build rocksdb myself, had to deselect MT so that it was compilable, and add the Rpcrt4.lib to my project. Now I'm left with two linking errors, which seem to pertain to the compression? Any suggestion here?

[code]

[2017-05-16 12:20] adamretter commented on #2304
This is how we do it - https://github.com/facebook/rocksdb/wiki/Building-on-Windows

[2017-05-16 17:13] yiwu-arbug commented on #2299
Looks like it fix the issue. Will send a fix.

[2017-05-16 18:21] #2299 closed

[2017-05-16 22:14] #2244 closed

[2017-05-17 01:04] warrenfalk opened #2310 "Shared library dependency on libgflags.so.2 which isn't even used"
(Linux)
```make shared_lib``` will add ```-lgflags``` if gflags is detected on the build machine.

This results in a dependency on libgflags.so.2 even though that library is not used by the shared library.

Output of ```ld librocksdb.so.5.3.4```:
[code]

Output of ```ld -u -r librocksdb.so.5.3.4```:
[code]

[2017-05-17 07:27] scv119 opened #2313 "Java Merge API crashes if value is longer than certain length (like 32 bytes)"
Note this is a heisenbug.

Testing this on Mac 10.12.4 and java version "1.8.0_91"

Test case: https://github.com/scv119/rocksdb/commit/a568701e8e122ce853693047748aad4eec4d8360

Error Log:
[code]

JVM Crash Log:
https://gist.github.com/scv119/11d1a10a850c7596f889b267b97f5f0b
https://gist.github.com/scv119/d741212f9d0c1d2f7fba0bef5340dd8f
https://gist.github.com/scv119/354e75094e9c18a5b8dbe46c2ff0f

[2017-05-17 12:39] marijnfs commented on #2304
Thanks, i'm getting further with it but get stuck with the snappy instructions. When using the command line build commands I get
`fatal error C1083: Cannot open include file: 'Windows.h':`
and if I load the .sln in visual studio to add wherever the windows.h should be, I can't build it.

[2017-05-17 12:57] adamretter commented on #2304
@marijnfs Which version of Windows and which version of Visual Studio. I am using Windows 10 and Visual Studio 2015 Community

[2017-05-17 13:03] marijnfs commented on #2304
I'm using the exact same. If I want to build within visual studio it asks me to install Windows XP support? Really strange.

[2017-05-17 13:09] marijnfs commented on #2304
I tried the steps again and still get the same error (gflags builds btw).
The second error I get (in the same build) is:
`LINK : fatal error LNK1104: cannot open file 'snappy64.lib' [C:\Users\marijn\Software\snappy-visual-cpp\runtests\runtests.vcxproj]`
Something about the paths doesn't seem to work out?

[2017-05-17 13:16] adamretter commented on #2304
We don't build within Visual Studio, we do it all from the command line as indicated in that Wiki article so I am not sure I can comment on that. I will get a fresh copy of `snappy-visual-cpp` and see if I have any problems, it is not impossible that I perhaps forgot to document some required step

[2017-05-17 13:27] marijnfs commented on #2304
Yeah I wonder if there is some command to add include directories perhaps? Maybe something you already happen to have in your environment variables.

[2017-05-17 13:31] siying commented on #2313
Can you try to include this diff/ https://github.com/facebook/rocksdb/commit/3a04a254ac4b782fbe6b8521e0c77f3311f0d98c

[2017-05-17 17:28] sagar0 opened #2316 "cmake-mingw build is failing on travis"
After #2308 has been fixed, it exposed another underlying build failure in cmake-mingw on travis:
https://travis-ci.org/facebook/rocksdb/jobs/232938097
All jobs: https://travis-ci.org/facebook/rocksdb/builds/232938078

We need to investigate which PR introduced this code, and fix it.

[code]

[2017-05-17 18:26] scv119 commented on #2313
@siying seems that commit fix the issue, I no longer reproduce this in my unittest.

[2017-05-17 21:28] scv119 commented on #2313
I think this issue is resolved, I no longer encounter this bug once rebased onto the rev @siying provided.

[2017-05-17 21:28] #2313 closed

[2017-05-17 21:44] hari-rangarajan opened #2319 "RocksDb jni : 5.3.4 initialization error"
/devtools/jdk1.8.0_102/bin/java: symbol lookup error: /tmp/librocksdbjni4846178717713967486.so: undefined symbol: ZSTD_versionNumber

[2017-05-17 23:19] jamespedwards42 commented on #2319
@hari-rangarajan Should be fixed in the next release thanks to @adamretter: https://github.com/facebook/rocksdb/issues/2280

[2017-05-18 03:44] yizishou opened #2323 "How to improve performance to get all keys in the case of very big data"
I have hundreds of 8Bytes-Key-500M-Value pairs in my db, and I want to get a list of these keys.

But it takes me almost 10 minutes to finish the iteration.

I kept all options by default, is there any options can help?

[2017-05-18 05:42] sagar0 commented on #2316
Fixed by @tamird in #2315 .

[2017-05-18 05:42] #2316 closed

[2017-05-18 07:47] ewoutp opened #2326 "WritableFileWrapper does not implement use_direct_io & GetRequiredBufferAlignment"
The WritableFileWrapper should delegate these methods to its target, but instead it now uses the base implementation in WritableFile.

[2017-05-18 08:20] JelteF opened #2327 "Update github releases"
[HISTORY.md](https://github.com/facebook/rocksdb/blob/master/HISTORY.md) says that both rocksdb 5.4 and 5.5 have been released. However this is not reflected by the [github releases page](https://github.com/facebook/rocksdb/releases).

[2017-05-18 09:47] marijnfs commented on #2304
Another point that might cause the problems, I keep messages saying I should Install Windows XP support for C++? Is this necessary?

[2017-05-18 11:55] marijnfs commented on #2304
Ok I have made progress by installing the Windows XP support after some trail and error. Now the error I'm left with is:

`error : This project references NuGet package(s) that are mis sing on this computer. Enable NuGet Package Restore to download them.  For more information, see http://go.microsoft.com/fwlink/?LinkID=322105. Th e missing file is ..\packages\Snappy.1.1.1.7\build\native\Snappy.pro

[2017-05-18 12:49] warrenfalk opened #2328 "(C API) rocksdb_sstfilewriter_create_with_comparator ignores comparator"
Is it just me or does the implementation of ```rocksdb_sstfilewriter_create_with_comparator``` look identical to the implementation of ```rocksdb_sstfilewriter_create```?

I'm happy to submit a pull request for this, but I don't know what the intent of having a separate ```rocksdb_sstfilewriter_create_with_comparator``` function is.  It seems to me that ```rocksdb_sstfilewriter_create``` already s

[2017-05-18 14:08] #2319 closed

[2017-05-18 17:02] ObiWahn opened #2329 "CPU detection should be separated (TU) from SSE42 code"
man g++ ( -msse4.2 )

These switches enable the use of instructions in the MMX, SSE, SSE2, SSE3, SSSE3, SSE4.1, AVX, AVX2, AVX512F, AVX512PF, AVX512ER, AVX512CD, SHA, AES, PCLMUL, FSGSBASE, RDRND, F16C, FMA, SSE4A, FMA4, XOP, LWP, ABM, AVX512VL, AVX512BW, AVX512DQ, AVX512IFMA       AVX512VBMI, BMI, BMI2, FXSR, XSAVE, XSAVEOPT, LZCNT, RTM, MPX, MWAITX, PKU or 3DNow!
 extended instruction sets.  Eac

[2017-05-18 18:45] ObiWahn commented on #2329
There were some errors submitting your CLA:

    GitHub Username is already associated with an existing contributor.
    Email is already associated with an existing contributor.

If you would like to update an existing contributor account, please email cla@fb.com with your details.

[2017-05-18 21:17] yiwu-arbug commented on #2327
Both versions are going through release pipeline. Please refer to the github release page for the latest official release.

[2017-05-18 21:25] ObiWahn opened #2332 "Require a newer CMake minimum version in CMakeLists.txt"
It is quite hard to embed RocksDB using the source distribution in combination with CMake. I would like to contribute in that area. But to make proper use of CMake's target system and other newer features I would need CMake 3.0

- 3.2 would be fantastic
- official support for version 2.6.x already ended | x < 4

Embedding RocksDB should be as easy as:

[code]

[2017-05-18 21:31] yuslepukhin commented on #2297
@adamretter you are linking to DLLs so your symbols may be only in the import table but not in the executable. You may want to link to static version of the libraries which is somewhat better perfwise.

[2017-05-18 21:34] yuslepukhin commented on #2281
@adamretter You may want to check if your entry points are marked __dllexport when the code is compiled  with DLL target in mind. See the example in the c.h where the C interfaces are exported.

[2017-05-19 13:24] adamretter commented on #2297
@yuslepukhin Okay, excuse my ignorance but in the `thirdparty.inc` file that you added I have set the paths to be the `.lib` libraries. I was under the impression that `.lib` was a statically linked library?

[2017-05-19 13:29] adamretter commented on #2332
@ObiWahn Just to not that Travis only provides up to CMake 3.2.2

[2017-05-19 15:39] adamretter commented on #2304
@marijnfs Ah okay. Yes I get the NuGet error too and have devised a workaround - I have updated the Wiki page for you with the details.

[2017-05-19 17:57] yuslepukhin commented on #2297
@adamretter I understand the frustration that may come with it. The tidbit that is helpful to know is that you can not really tell if .lib is a static library. A size may give you a hint.
On Windows when you link to a library you always link to a .lib. However, that library may be a static library OR it may be a IMPORT library that accompanies a corresponding DLL.
When a DLL is build a correspondi

[2017-05-19 20:52] tomharper commented on #734
anyone working on this?

[2017-05-19 21:05] adamretter commented on #734
@tomharper not that I know of

[2017-05-20 22:25] freerangenerd opened #2340 "Compile error building for iOS"
Hi,

I'm trying to build the static library for iOS using this command:

<code>TARGET_OS=IOS make -e ROCKSDB_LITE=1 IOS_CROSS_COMPILE=1 static_lib</code>

I'm getting this failure:

<code>
mkdir -p ios-x86/util/
g++  -W -Wextra -Wall -Wsign-compare -Wshadow -Wno-unused-parameter -I. -I./include -std=c++11  -DROCKSDB_PLATFORM_POSIX -DROCKSDB_LIB_IO_POSIX  -DOS_MACOSX -DIOS_CROSS_COMPILE -DROCKSDB_L

[2017-05-22 10:38] VaronisDNMacClient opened #2342 "Forcing rocksdb to commit all merges"
I'm using `rocksdb C++ 4.6.0`

From what I saw, `rocksdb` is executing merge operations asynchronously and sometimes only on-demand.

This is problematic for me, because I sometimes have the following scenario:

Start up instance **A** of rocksdb using `rocksdb::Open()`
`merge` values into **A** using some `rocksdb::MergeOperator`
Shutdown **A**
Start up instance of **A** as **readonly** using usi

[2017-05-22 15:02] graetzer opened #2343 "Transaction::GetIterator does not honor ReadOptions"
The `TransactionBaseImpl::GetIterator` does not honor the `prefix_same_as_start` and `iterate_upper_bound` options for keys written in the current transaction.

The underlying `WBWIIteratorImpl` does not check these options. This means the iterator returns non-matching writes from the current transaction, which we did not expect to see based on the documentation.

This should either be documented

[2017-05-22 16:38] danhhz opened #2344 "IngestExternalFile and DeleteRange"
[CockroachDB](https://github.com/cockroachdb/cockroach) currently uses DeleteRange and intends to start using IngestExternalFile. Unfortunately, it looks like these two features don't play well together: ["file ingestion with range tombstones is currently unsupported"](https://github.com/facebook/rocksdb/blob/v5.3.4/db/external_sst_file_ingestion_job.cc#L413). Is fixing this on the roadmap? If so,

[2017-05-22 16:52] ajkr commented on #2344
Right, we didn't implement support yet as previously there was no need. It doesn't look very difficult (but maybe I'm missing something), so I can try doing it later this week.

[2017-05-22 16:55] danhhz commented on #2344
That would be great, thanks!

[2017-05-22 16:56] ajkr commented on #2344
In the meantime if you need to ingest a file into a DB containing range deletions, you can issue a full compaction first. That'll get rid of all the range deletions as long as there aren't snapshots older than them.

[2017-05-22 17:00] danhhz commented on #2344
Ah, good to know. I doubt we could ship it that way, but it'll help during development of our IngestExternalFile support.

[2017-05-22 17:27] #2261 closed

[2017-05-22 19:31] IslamAbdelRahman commented on #2344
@ajkr, Can you please refresh my memory regarding what was the issue that avoided us from supporting this ?

[2017-05-22 19:57] ajkr commented on #2344
I think lack of use case and maybe we didn't think of a way to detect whether a level's range deletions cover any keys in the ingested file. We should be able to Seek() each range's begin key in the to-be-ingested file, and verify it reaches a key beyond the range's end.

[2017-05-23 09:30] #2146 closed

[2017-05-23 14:31] adamretter commented on #2281
@ccleve We just released 5.3.6. I believe that should fix your issue.

[2017-05-23 14:31] #2281 closed

[2017-05-23 14:38] #1926 closed

[2017-05-23 14:39] adamretter commented on #2319
We have now release 5.3.6 which I believe addresses this.

[2017-05-23 14:40] adamretter commented on #2280
We just released 5.3.6 which I believe now addresses this.

[2017-05-23 14:41] adamretter commented on #738
@downchuck you will now find that ZSTD is included in the build.

[2017-05-23 14:41] #738 closed

[2017-05-23 14:51] ccleve commented on #2281
Confirmed: it does fix the issue. Thank you.

[2017-05-23 14:58] adamretter commented on #1964
@kobikis @patedhav @StephanEwen I believe this is now fixed. Can you please try version 5.3.6?

[2017-05-23 15:01] #1563 closed

[2017-05-23 15:04] #1211 closed

[2017-05-23 15:21] JeremyCoxBMI opened #2351 "SIGSEV running Rocksdbjni"
I get a core dump using Rocksdbjni running a program I have successfully run before.  It seems after a Java rebuild of my jar, the problem simply started.  EDIT: I double-checked all my logs; the problem has always existed.

The problem seems to be in the rockdb library (per the error message).
I updated to rocksdbjni 5.3.4 from 3.6  and recompiled rocksDB C++ library.  Neither helped.

The put co

[2017-05-23 15:34] adamretter commented on #2351
Your `hs_err` does not match the code that you posted. The hs_err shows that the problem is occurring when you call `get`.

[2017-05-23 17:30] JeremyCoxBMI commented on #2351
Oops!   I drilled down too far down the code.
A get is called first in the append operation!

     public void append(long key, long pos) {
        ArrayList<Long> temp = get(key);   **// GET call**
        if (temp == null)
            temp = new ArrayList<Long>();
        temp.add(pos);
        put(key, temp);
    }

    public void append(long key, PositionList p){
        ArrayList<Long> q = p

[2017-05-23 17:51] adamretter commented on #2351
@JeremyCoxBMI Would you be able to resolve the C++ line numbers in the stack trace for us please? See - https://github.com/facebook/rocksdb/wiki/JNI-Debugging#interpreting-hs_err_pid-files

[2017-05-23 19:10] sagar0 commented on #2340
@freerangenerd master and 5.5.fb are not the most stable branches at the moment. Can you try either 5.3 or 5.4 branches?

[2017-05-23 19:41] JeremyCoxBMI commented on #2351
I hope I did this correctly.

$ addr2line -e /data/1/b/tmp/librocksdbjni406370862549213581..so 0xb61ae
/rocksdb/./java/rocksjni/rocksjni.cc:465

[2017-05-23 20:13] adamretter commented on #2351
@JeremyCoxBMI, that line number doesn't seem to match inside the function `rocksdb_get_helper` in either version 3.6.1 or 5.3.4. Which version are you using?

[2017-05-23 20:44] freerangenerd commented on #2340
I am able to build the 5.4 branch. Thanks.

[2017-05-23 20:55] JeremyCoxBMI commented on #2351
IntelliJ says I have rocksdbjni 3.6.2 in my distro.

Apologies -- my update to 5.3.4 was not automaticaIly processed properly by the builder.

Let me know if there is value in trying the updated version. I can manually install the library.

[2017-05-23 21:48] adamretter commented on #2351
@JeremyCoxBMI Unfortunately I can't match that in 3.6.2 either. Could you try 5.3.6?

[2017-05-23 22:08] JeremyCoxBMI commented on #2351
#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007fb55fa6c9e3, pid=5366, tid=0x00007fb5dcf12700
#
# JRE version: Java(TM) SE Runtime Environment (8.0_131-b11) (build 1.8.0_131-b11)
# Java VM: Java HotSpot(TM) 64-Bit Server VM (25.131-b11 mixed mode linux-amd64 compressed oops)
# Problematic frame:
# C  [librocksdbjni3200687002803783170.so+**0x1f69

[2017-05-23 23:05] tomharper commented on #2340
Something seems to be wrong with the SSE4 detection code that is causing problems.

#ifdef HAVE_SSE42

#endif

Once I got past the Fast/Slow issue there was an underlying issue:

xcrun -sdk iphoneos g++  -W -Wextra -Wall -Wsign-compare -Wshadow -Wno-unused-parameter -I. -I./include -std=c++11  -DROCKSDB_PLATFORM_POSIX -DROCKSDB_LIB_IO_POSIX  -DOS_MACOSX -DZLIB -DBZIP2 -DROCKSDB_BACKTRACE -Wshorten

[2017-05-23 23:20] adamretter commented on #2351
@JeremyCoxBMI Sorry, to get the line numbers you will need to build a version from the tag `v5.3.6`, so that it includes the debug symbols. The versions we release to Maven Central are for production use.

[2017-05-24 10:06] maliubiao opened #2362 "SIGSEV in rocksdb::Arena::AllocateNewBlock"
for detail,  see the picture below ->
after I comment out  ROCKSDB_MALLOC_USABLE_SIZE,  librocksdb works again.

./CMakeLists.txt:#CHECK_FUNCTION_EXISTS(malloc_usable_size HAVE_MALLOC_USABLE_SIZE)
./CMakeLists.txt:#if(HAVE_MALLOC_USABLE_SIZE)
./CMakeLists.txt:#  add_definitions(-DROCKSDB_MALLOC_USABLE_SIZE)
./table/block.h:#ifdef ROCKSDB_MALLOC_USABLE_SIZE
./table/block.h://#ifdef ROCKSDB_MALLOC_U

[2017-05-24 13:30] PaulWoods4422 commented on #2297
Looking at your how to build on windows page I can see you are pulling in the import library for ZLib

( Notice ZLibDllRelease ) you want the static library at vc14\x64\ZlibStatRelease\zlibstat.lib
For Snappy there is no static lib target in the project, and it's not just a case of changing the configuration type unfortunately.  If I get time I will have a go at building Snappy as a static lib and

[2017-05-24 13:44] adamretter commented on #2297
@PaulWoods4422 Ah ha! Thank you Paul that is very useful. I have updated the Wiki page with your info about ZLib. I also opened an issue enquiring about a static library build for the Snappy port here - https://bitbucket.org/robertvazan/snappy-visual-cpp/issues/3/static-library

[2017-05-24 14:04] PaulWoods4422 commented on #2297
I found a project here that might be useful - I needed to convert the project file to VS2015, and then create a 64 bit config ( the same as you did for gFlags ) https://github.com/kmanley/snappy-msvc
I haven't tried the resulting library though.

[2017-05-24 15:50] JeremyCoxBMI commented on #2351
I downloaded v5.3.6 (not RocksDB 5.3.6) from
https://github.com/facebook/rocksdb/releases

I compiled it in C, but I believe I still need to compile the jar to include it in my project, and then import that jar into my project.

How should I compile the jar?

I thought I was supposed to compile via maven in the java/ subdirectory, but didn't work for me.  No build targets.

[2017-05-24 15:57] JeremyCoxBMI commented on #2351
I am trying

make jclean clean
make -j 4 rocksdbjavastatic

But is this the right compile option to include debugging?

[2017-05-24 16:01] adamretter commented on #2351
@JeremyCoxBMI Very close :-)

try:

[code]

[2017-05-24 17:54] JeremyCoxBMI commented on #2351
I'm at a loss -- I repeated this with a fresh clone just to be sure.  I added the Jar to my project, then made and ran.  I am still not getting line numbers.  :(

#
# A fatal error has been detected by the Java Runtime Environment:
#
#  SIGSEGV (0xb) at pc=0x00007f182ba3fa26, pid=10551, tid=0x00007f1878cba700
#
# JRE version: Java(TM) SE Runtime Environment (8.0_131-b11) (build 1.8.0_131-b11)
# Ja

[2017-05-24 18:25] adamretter commented on #2351
If you change:
[code]
to
[code]

do you get them?

[2017-05-24 20:09] JeremyCoxBMI commented on #2351
hurray!

[code]

[2017-05-24 20:29] adamretter commented on #2351
Okay so that makes sense, the line is here - https://github.com/facebook/rocksdb/blob/v5.3.6/java/rocksjni/rocksjni.cc#L559

So in my limited experience a SIGSEGV is often caused by working with memory that has already been freed. The only thing that I can see that might be happening from the stack trace at that line is that for some reason you have lost your db pointer. Is it possible you are doi

[2017-05-24 20:58] JeremyCoxBMI commented on #2351
This doesn't make sense -- although I will step through with the debugger.

Quick question -- if the constructor failed in anyway, I would get a RocksDBException thrown?
My interface layer constructs using this code, and I assumed the database was opened correctly since I did not exit.  Always best to check these assumptions. :D

[code]

[2017-05-24 22:14] adamretter commented on #2351
Indeed if `RocksDB#open(...)` fails, you should get an exception.

Please check you are not calling `close` or `finalize` by accident on RocksDB, also worth checking that you haven't used it accidentally in a `try-with-resources` where you didn't mean to.

To check my assumption about what is wrong you could compile and run with ASAN which could help shed some light on this: https://github.com/fac

[2017-05-25 14:44] JeremyCoxBMI commented on #2351
My program does this
1) open RocksDB
2) open text file
3) import text into memory
4) dump memory to RocksDB
5) close RocksDB

The crash is on the first get() call in my append operation on step 4.
The attached debug pictures show the only variable to change state is
[code]

![rocks_b4_get_screenshot from 2017-05-25 10-13-18](https://cloud.githubusercontent.com/assets/17282194/26453759/d2316620-413

[2017-05-25 14:44] JeremyCoxBMI commented on #2351
ASAN SIGSEV error

[ASAN_compile_error.txt](https://github.com/facebook/rocksdb/files/1029309/ASAN_compile_error.txt)

[2017-05-25 15:07] JeremyCoxBMI commented on #2351
FOUND THE BUG!

MISPLACED Brackets on the function body.

#Embarrassing.

Thanks for all the help.

[2017-05-25 15:07] #2351 closed

[2017-05-25 16:50] ajkr commented on #2344
#2370

[2017-05-25 16:55] danhhz commented on #2344
Awesome!

[2017-05-25 21:31] siying opened #2374 "Implement Statistics.getHistogramString in Java"
C++ has `Statistics::getHistogramString()` to allow users to print out a detailed distribution from it. The Java interface should expose it too.

[2017-05-27 04:47] yizishou commented on #2323
consider add a Key Iterator?

[2017-05-27 05:47] lightmark commented on #2323
We are gonna have blob storage soon. I think it is already in master branch, though not stable, if you want to try it.

[2017-05-27 15:57] benesch opened #2382 "RocksDB fails to compile with g++ 7.1"
[code]

This seems to be [reported downstream in Ceph](http://tracker.ceph.com/issues/19864) as well.

[2017-05-28 15:14] benesch commented on #2382
Actually, this seems to be a bug in GCC itself that's fixed in trunk: https://gcc.gnu.org/bugzilla/show_bug.cgi?id=80593

Leaving this open in case there's an easy fix. It's not clear to me why `write_thread.h` uses `std::aligned_storage` at all.

[2017-05-29 10:31] StefanRRichter commented on #1964
I can still observe problems with merge in 5.4.5. In one of our tests that performs a couple of merges, I can observe this in in almost every run:

[code]

except sometimes, when I first encounter this

[code]

I am running on MacOS 10.12.4, and saw the same test also segfault on Ubuntu.

[2017-05-29 13:10] StefanRRichter opened #2383 "Merged values can silently exceed the size limitation of byte[] in Java."
RocksDB's JNI bridge currently only offers `byte[]` as type for keys and values. Not only does this limits the maximum size of keys and values to 2^31, but it can also cause a problem with the merge operator.

When we merge multiple values under one key, they are internally concatenated to one value in RocksDB. This way, it is possible to accumulate a total value size per key that is larger than 2

[2017-05-30 12:23] marijnfs commented on #2304
I'm still not able to get everything compiled, especially because I need MT linking due to another lib (windows is such a pain). Do you perhaps have any precompiled libraries ready? (amd64)

[2017-05-30 15:42] adamretter commented on #1964
@StefanRRichter @kobikis Using the code that @kobikis provided in PasteBin, the following error:

[code]

Occurs because you are not freeing the column family handles before closing the database. There are also other objects that you have created which should also be freed in the correct order. For a rewritten example see: https://gist.github.com/adamretter/ff9d29b7cbe783cebbd52a8c7ad04137

This o

[2017-05-30 17:26] adamretter opened #2384 "WriteBatchThreadedTest heap-use-after-free"
[code]

[2017-05-30 18:21] adamretter commented on #2304
@marijnfs Where exactly do you get stuck? If you want a static library, then you should exclude Snappy, as we don't have a way to build that as a static library yet. If you just want binaries, you can find them on Maven Central.

[2017-05-30 18:29] yiwu-arbug commented on #2382
@joscollin reported it earlier: #2302. I guess working around a compiler bug is not a good idea, since it will make our code base messy. Closing for now.

[2017-05-30 18:29] #2382 closed

[2017-05-30 18:37] adamretter commented on #1964
Okay so I have spent some time on this now, and I can't seem to cause the issue using my [`TestMerge1.java`]( https://gist.github.com/adamretter/ff9d29b7cbe783cebbd52a8c7ad04137) on macOS 10.12.5, Ubuntu Linux on either PowerPC64le or x86_64.

@StefanRRichter @kobikis Can you try my version of your code please?

[2017-05-30 18:41] StefanRRichter commented on #1964
@adamretter the problem I reported was not on the code sample, but in one of our project test cases that use merging. It does not happen after one merge, but after a sequence of multiple merges.

[2017-05-30 19:04] StefanRRichter commented on #1964
Ok, I think I found the problem. What our test attempts to do is merging under a key that does not yet exist in the database. And it seems that the old version would just introduce the key to the DB as part of the merge call, but the new version behaves nondeterministic.

[2017-05-30 19:11] lxcode opened #2386 "5.4.5 build breaks on db_bench when using LITE"
Because of some uses of blob_db that aren't wrapped in ifdefs for ROCKSB_LITE, the db_bench tool breaks:

 CC       tools/ldb_cmd.o
  CC       tools/ldb_tool.o
  CC       tools/sst_dump_tool.o
  AR       librocksdb-lite.a
ar: warning: creating librocksdb-lite.a
  CC       tools/db_bench.o
  CC       tools/db_bench_tool.o
tools/db_bench_tool.cc:3419:13: error: use of undeclared identifier
'FLAGS_us

[2017-05-30 19:23] adamretter commented on #1964
@StefanRRichter Do you see this as a bug in RocksDB, or an issue outside of that?

[2017-05-30 19:27] StefanRRichter commented on #1964
I just went back to verify this, ensuring that the key was always present, but still seeing the problem. So unfortunately this was not the reason after all :(

[2017-05-30 20:32] adamretter commented on #1964
@StefanRRichter So what is the absolute minimal code that I need to reproduce the issue that you see?

[2017-05-30 20:34] StefanRRichter commented on #1964
I have created an example based on your previous snippet:
https://gist.github.com/StefanRRichter/1c21b0b861c8ec5bfa208a65de69dfc8

I noticed that the problem only occurs if we use `columnFamilyOptions.setMergeOperator(new StringAppendOperator());`

[2017-05-30 21:43] yiwu-arbug commented on #2386
Thanks for raising the issue. We just tag v5.4.6 with a hot fix to this: https://github.com/facebook/rocksdb/releases/tag/v5.4.6

[2017-05-30 21:43] #2386 closed

[2017-05-30 22:18] lxcode commented on #2386
Thanks! Could you do the rocksdb-5.4.6 tag as well? The FreeBSD port depends on the rocksdb-x.x.x-style tag instead of the vx.x.x one.

[2017-05-30 23:49] sagar0 opened #2387 "Java tests frequently keep failing on Travis"
Java tests frequently keep failing on Travis for unknown (random) reasons. A rerun of the same test almost always succeeds. We should strive to make these tests more stable.
(I believe we might be depending on some randomization somewhere, which could be resulting in these failures. I haven't spent enough time, but definitely worth investigating).

Example: https://travis-ci.org/facebook/rocksdb/b

[2017-05-30 23:50] yiwu-arbug commented on #2386
@lxcode done.

[2017-05-30 23:53] adamretter commented on #2387
@sagar0 Could it maybe be related to this - https://github.com/facebook/rocksdb/issues/2384

[2017-05-31 12:33] jsteemann opened #2388 "Multi-threading issue in rocksdb::WriteThread::Writer::CreateMutex()"
When we import data into RocksDB with multiple threads, we sometimes see multiple threads hanging in RocksDB code sections and not making any more progress.

Backtraces of the hanging threads all look like this:
[code]
Precisely, the threads are all hanging in `WriteThread::BlockingAwaitState(...)` in write_thread.cc:37 (note: the code is from RocksDB version 5.1.4):
[code]
I have attached to the

[2017-05-31 17:07] yiwu-arbug commented on #2388
Unless there is a bug, `CreateMutex()` shouldn't be called from multiple threads. Each thread entering `DBImpl::WriteImpl()` holds its own `Writer` object and call `AwaitState()` on its own. Some questions for you:

* What's your OS and compiler?
* How easy can you reproduce the deadlock? Can you try ASAN/TSAN to see if it help detect the real bug?
* Before it gets to deadlock, does any writes ret

[2017-05-31 18:19] jsteemann commented on #2388
Thanks for the reply. Here are the answers to your questions:
- 4.10.0-21-generic #23-Ubuntu and g++-6.3
- it's relatively easy to reproduce. I will try ASAN later and update this issue with any findings
- all writes up to the deadlock report success
- it's using `Transaction` with pessimistic locking
I'll also check whether the threads are using the same `Writer` objects or different ones. If it'

[2017-05-31 18:35] yiwu-arbug commented on #2388
And just in case, are you using `allow_2pc`?

[2017-05-31 18:52] jsteemann commented on #2388
No, two-phase commits are not involved.

[2017-05-31 18:55] Exaeta opened #2389 "Error in tempdir()"
```Error in tempdir() using tmp/rocksdb.XXXX: Parent directory (/tmp) does not exist at -e line 2.```

I have done ```export TMP=~/tmp``` but this did not fix this problem. How do I get the program to put the temporary files somewhere else? I don't have the ability to create /tmp and it does not exist on the system I am using.

[2017-05-31 21:04] ajkr commented on #2389
The environment variable to set is called `TEST_TMPDIR`.

[2017-06-01 01:07] petermattis opened #2391 "Remove blocks for deleted sstables from the block cache"
[Mentioned this in person to @siying and decided to file an issue]

A frequently asked question about CockroachDB is [why memory usage is high on an idle cluster](https://www.cockroachlabs.com/docs/operational-faqs.html#why-is-memory-usage-increasing-despite-lack-of-traffic). The answer has to do with the small amount of background traffic that is present on an idle cluster that results in `Merge`

[2017-06-01 06:57] ObiWahn commented on #2332
@adamretter Is Travis the only relevant place? You build on legacy systems like CentOS 6 with plain make right?

[2017-06-01 08:40] benoitc opened #2394 "new binding for Erlang applications"
not sure what is the best way to submit it so opening a ticket for it.

I created an Erlang binding for rocksdb:
https://gitlab.com/barrel-db/erlang-rocksdb

It support latest rocksdb and different OS platforms. The binding is used in the barrel database written in Erlang.

If the ticket is not the right way to add a binding just let me know how to process and I will do it :)

[2017-06-01 16:03] jsteemann commented on #2388
Quick update on this issue:
we ran a few more imports and the problem still occurred even with my suggested patch above. So I dug a bit more in the source and found that there was a also an issue with `Writer` threads not being correctly notified in all cases and starving then.

I peeked into the upstream RocksDB code, which seems to contain a fix for this problem already. Following is the change

[2017-06-01 17:35] #2389 closed

[2017-06-01 17:47] yiwu-arbug commented on #2388
Thank you much for investigation.

Regarding your patch. Both before and after the patch, `w->state` is set to `STATE_GROUP_LEADER` if `w` gets to the head of the lock-free linked list. The only difference is that before the patch it use `memory_order_relaxed` to set the state, and after the patch it use a stronger memory order. It has nothing to do with notifying other waiting threads. How the `W

[2017-06-01 18:11] maysamyabandeh commented on #2391
Would not be much simpler if one simply clears the block cache when the node is idle? This could be improved by a ::clear(float b) API that clears only the b% least recently used from the block cache.

[2017-06-01 18:16] maysamyabandeh commented on #2394
Thanks @benoitc. Feel free to go ahead with a PR updating https://github.com/facebook/rocksdb/blob/master/LANGUAGE-BINDINGS.md

[2017-06-01 18:39] petermattis commented on #2391
@maysamyabandeh I've had the same thought, though then the problem is shifted to determining when a node is idle. If this isn't addressed in some fashion at the RocksDB level, we'll eventually do something ourselves. It isn't high priority.

[2017-06-02 00:48] ajkr commented on #2344
It's supported now. Let us know your experience using it! :)

[2017-06-02 00:48] #2344 closed

[2017-06-02 02:05] siddontang opened #2398 "coredump with DeleteRange + IngestFile"
Hi @ajkr

We try to use DeleteRange + IngestFile now but meet coredump, any idea?

[code]

[2017-06-02 03:56] ajkr commented on #2398
Do you see it every time? #2399 fixes an issue with improperly cleaning up range deletion iterators. Although, for me, that issue only caused ASAN failure, not coredump, so I'm not sure yet if it's the same issue. Want to try out that patch?

[2017-06-02 06:49] siddontang commented on #2398
Hi @ajkr

Unfortunately, I update the master but still meet the coredump.

It happens every time when I run our TiKV tests.

[2017-06-02 07:30] jsteemann commented on #2388
Yes, the fact that it works for us now may be a side-effect of the changed memory order... I'll investigate further should the problem re-occur.
We'll also try an unpatched RocksDB 5.5 (or whatever version is the latest then) in a few weeks and see if the problem re-occurs with it. If yes, then I'll investigate further. And if not, then it's all good.
Please feel free to close this issue. Thanks f

[2017-06-02 17:21] yiwu-arbug commented on #2388
Sounds good.

[2017-06-02 17:21] #2388 closed

[2017-06-02 20:58] ajkr commented on #2398
The stack trace must be different, though, right? Because my fix makes ScopedArenaIterator no longer used for range deletions.

[2017-06-03 00:09] sagar0 commented on #2383
@StephanEwen also mentioned this in-person recently, and this is a valid concern.
@adamretter what do you think? Are there any good workarounds?

[2017-06-03 02:15] siddontang commented on #2398
yes, I think #2399 doesn't fix it 😢

[2017-06-03 17:06] ajkr commented on #2398
Can you post the updated stack trace?

[2017-06-04 01:54] siddontang commented on #2398
[code]

Seem still the same with origin core dump stack.

[2017-06-04 05:23] jserv opened #2404 "Unexpected "5.1fb" branch in Git repository"
All release branches follow the naming schema `major_ver.minor_ver.fb` such as "5.1.fb". However, there is an exception, branch "5.1fb", which can be found via `git branch -r`. The existence of branch "5.1fb" is misleading.

[2017-06-04 20:15] adamretter commented on #2383
Java uses `int` internally for the array index, however arrays are zero based addressing, so if I am not mistaken then the maximum theoretical size of a Java byte array is `2^31-1`. However, it seems in practice that it can actually be a little less than this depending on various VM and memory limits.

So that would allow you to have about 2GB of storage.

@StefanRRichter Do you really have a sing

[2017-06-04 20:42] adamretter commented on #2297
@PaulWoods4422 so using https://github.com/kmanley/snappy-msvc I followed this procedure:

1. Download snappy from http://code.google.com/p/snappy and extract to <snappy_dir>
2. Open Developer Command Prompt for VS2015
3. cd snappy_dir
4. git clone https://github.com/kmanley/snappy-msvc
5. cd snappy-msvc
6. devenv snappy.sln /upgrade
7. Open the solution in Visual Studio and create an x64 target f

[2017-06-04 21:00] adamretter commented on #1305
I also note that glibc 2.6 is now required to be able to use `sync_file_range` syscall which is needed by `ROCKSDB_RANGESYNC_PRESENT`. glibc 2.5 on CentOS 5 has an unsupported/broken `sync_file_range`. See https://bugzilla.redhat.com/show_bug.cgi?id=518581

As such our next best bet is likely CentOS 6 which probides glibc 2.16.

[2017-06-04 21:17] adamretter commented on #1964
@StefanRRichter I ran the test for 10,000+ iterations and was not able to trigger a failure :-/

[2017-06-05 13:39] adamretter commented on #2394
@benoitc I also added your Erlang binding to Wikipedia page - https://en.wikipedia.org/wiki/RocksDB#Third-party_Language_Bindings

[2017-06-05 15:06] danhhz commented on #2344
Thanks! I'll try it out this week.

One quick semantics question if you don't mind: if I have a span of keys that's only had DeleteRange called on it (yeah, doesn't make a ton of sense I know) and the range tombstone still exists (hasn't been compacted) and I call IngestExternalFile with data for that keyspan... what level is the file put into? L0? LMax?

[2017-06-05 18:20] ajkr commented on #2344
Generally, the file gets placed in a "newer" position than the overlapping range tombstone, which roughly means:

- range tombstone in level n for some n > 0 => we ingest to level n-1
- range tombstone in L0 => we ingest as a newer L0 file
- range tombstone in memtable => we flush first, then ingest the file as the newest in L0

[2017-06-05 19:54] ajkr commented on #2249
I haven't improved the logging yet. It's not trivial because none of our file reading/writing code has a logger, and we shouldn't return a failure status for `fallocate()` failing during `Append()`. Will probably end up passing a logger around to a lot more places to address this.

[2017-06-05 20:16] sagar0 opened #2410 "RangeSync is not enabled in JNI release builds"
While investigating a Cassandra performance issue (related to https://issues.apache.org/jira/browse/CASSANDRA-13476), @siying hypothesized that `sync_file_range` syscall is not getting invoked in the RocksJava build that we were using. Further investigation revealed that this syscall in [env/io_posix.cc](https://github.com/facebook/rocksdb/blob/master/env/io_posix.cc#L885) is wrapped in `#ifdef RO

[2017-06-05 20:18] sagar0 commented on #2410
Thanks to @adamretter for helping in upgrading RocksJava release build VMs to Centos 6, in #2405.

[2017-06-05 20:18] #2410 closed

[2017-06-05 20:37] ajkr commented on #2398
sorry I couldn't repro and the stack trace doesn't make sense to me (the line shown in frame 9 shouldn't call unique_ptr destructor). can you try `make clean && DEBUG_LEVEL=2 make ...` and send it again?

[code]

[2017-06-05 21:25] sagar0 commented on #1305
Seems like Redhat [discourages](https://access.redhat.com/documentation/en-US/Red_Hat_Enterprise_Linux/7/html/Developer_Guide/libraries.html#lib.compatibility.static) static linking, by saying:

[2017-06-06 01:26] grooverdan commented on #2382
FYI I have tested with x86_64-pc-linux-gnu-g++ (GCC) 8.0.0 20170605 (experimental) from their master and there is no warning for the jl/db/builder.o(db/builder.cc) build.

[2017-06-06 01:41] grooverdan opened #2412 "gcc-master (8.0.0 20170605) compiler fail -Werror=shadow (./include/rocksdb/c.h)"
I'm not sure if this is a valid construct however gcc-master is complaining:

<pref>
x86_64-pc-linux-gnu-g++ --version
x86_64-pc-linux-gnu-g++ (GCC) 8.0.0 20170605 (experimental)

 make -j24 --output-sync=target V=1 'OPT=-DSNAPPY=1 -DLZ4=1 -DZLIB=1 -DJEMALLOC=1 -DZSTD=1 -DNUMA=1' jtest
...
mkdir -p jl/db && x86_64-pc-linux-gnu-g++ -m64 -O3 -g -mtune=native -I /opt/ibm/java/include/ -std=c++11  -g

[2017-06-06 02:05] siddontang commented on #2398
Hi @ajkr

I follow your instruction but still get the same stack

[code]

[2017-06-06 03:10] siddontang commented on #2398
Hi @ajkr

I use a simple test to reproduce it but with rust language not C++ in our rust-rocksdb project.

Before I ingest file at https://github.com/pingcap/rust-rocksdb/blob/busyjay/delete-range-fix/tests/test_ingest_external_file.rs#L79, I add `db.delete_range_cf(handle, b"k1", b"k3").unwrap();`, then the following ingest will panic.

[2017-06-06 03:57] grooverdan opened #2414 "jtest -> rocksdb::WriteThread::ExitAsBatchGroupFollower(rocksdb::WriteThread::Writer*): Assertion `write_group->status.ok()' failed"
<pre>
 make -j32 --output-sync=target V=1 'OPT=-DSNAPPY=1 -DLZ4=1 -DZLIB=1 -DJEMALLOC=1 -DZSTD=1 -DNUMA=1' jtest

Run: org.rocksdb.WriteBatchThreadedTest testing now -> threadedWrites[WriteBatchThreadedTest(threadCount=1)]
Run: org.rocksdb.WriteBatchThreadedTest testing now -> threadedWrites[WriteBatchThreadedTest(threadCount=10)]
Run: org.rocksdb.WriteBatchThreadedTest testing now -> threadedWrit

[2017-06-06 08:29] StefanRRichter commented on #2383
@adamretter This problem came up for some users of Apache Flink. We use RocksDB as a backend for stateful stream processing. We use merging state to collect events, e.g. events that happen as part of user sessions, over time windows. It seems that there are users with that have many events and/or potentially large time windows (days, weeks). They are hitting this boundary. While there might be wor

[2017-06-06 09:58] adamretter commented on #2414
@grooverdan this looks similar to or is perhaps related to https://github.com/facebook/rocksdb/issues/2384

[2017-06-06 10:03] adamretter commented on #2383
@sagar0 @siying Can you guys comment on whether 2GB for a single value in RocksDB is a sensible idea?

[2017-06-06 10:06] adamretter commented on #1305
@sagar0 That may be the case but I think it has worked well for us so far. Linking against an older version of glibc has worked also when running against more modern versions, and it enables us to publish a Jar file which contains everything that a Java user needs (without them having to get into C++ and compiling and installing dependencies (e.g. snappy, zstd etc)

[2017-06-06 12:07] StefanRRichter commented on #2383
The alternative for our use case would be to introduce artificial subkeys, having one key/value pair per event. Would that make more sense from a performance point of view or just introduce more overhead due to redundant prefix keys? I assumed avoiding this that this is the exact case for using merge operator in the first place?

[2017-06-06 12:46] StefanRRichter commented on #1964
@adamretter Mh, that is very strange. I gave this example to some of my colleagues today, also to run it on different OSs, and the problem was easy to reproduce. We were using RocksDB 5.4.5.

I put the exact code we run and the maven dependency in this gist. We were running from the IDE: https://gist.github.com/StefanRRichter/d0f5ed3a354657da36fee1d56d279d3a

We obtained one longer backtrace that

[2017-06-06 13:03] adamretter commented on #1964
On which OS's did you see the problem? I was testing on mac OS 10.12.5.

[2017-06-06 13:23] AndreyMoiseev opened #2415 "JNI: include Win32 dll to Maven package"
As of now, only Win64 dll is included? Is it possible add also the Win32 dll?

[2017-06-06 13:31] StefanRRichter commented on #1964
I am on mac OS 10.12.5, too. Besides, we used Ubuntu 12.04.5 LTS and openSUSE Tumbleweed.

[2017-06-06 13:34] adamretter commented on #2415
@AndreyMoiseev I am not sure if we support Win32. Have you been able to build RocksDB from source on Win32?

[2017-06-06 15:07] StephanEwen commented on #2383
Is there anything forbidding this in principle? Form the Apache Flink use case perspective, degraded performance for such large values would be okay (much better than crashes) - users can look at their metrics and see why (super large values).

If there was a Java interface that did not use `byte[]` but rather something that mimics the C++ interface (a pointer (`long`) and a length (`long`) to ret

[2017-06-06 16:31] siying commented on #2383
@adamretter RocksDB does support 2GB single value. I do have a (disabled) use case that verifies we can handle it. It's hard to imagine why people use RocksDB in this way though. Whether we need to support it depends on whether there is a need. I'm OK with either way.

[2017-06-06 20:16] danhhz commented on #2344
I ran a quick test yesterday and this worked beautifully. More extensive testing will have to wait until we upgrade the version of RocksDB we're using, which might take a week or two. Thanks again for the fix!!!

[2017-06-07 04:43] grooverdan commented on #2414
@adamretter appears different.

Also occurs on x86_64 was below. status = rocksdb::Status::kCorruption (and therefore !ok)

<pre>
(gdb) bt
#0  0x00007f45047b2269 in raise (sig=11) at ../sysdeps/unix/sysv/linux/pt-raise.c:35
#1  0x00007f4502300bae in j9dump_create () from /opt/ibm/java/jre/lib/amd64/compressedrefs/libj9prt28.so
#2  0x00007f4501a91110 in doSystemDump () from /opt/ibm/java/jre/lib/am

[2017-06-08 01:11] maysamyabandeh commented on #2391
@petermattis We discussed it internally. Although the feature makes sense, due to other high priority tasks it is not likely that we would have cycles for this one. If your team want to work on a patch we would be happy to review it. Alternatively, as you suggested, you would need to detect the idle state and manually evict the stale cache items by lowering its capacity.

[2017-06-08 01:32] petermattis commented on #2391
@maysamyabandeh Thanks for the update. We'll likely tackle this on our end.

[2017-06-08 07:38] HannanShaik commented on #1193
+1

[2017-06-08 08:23] StefanRRichter commented on #2383
@siying If it is hard to imagine why people would do this, what is the best practise you would suggest instead? In case you want to collect (i.e. append) event's values for time windows under a composite key of (window_id | extract_key(event)) and iterate those event values as soon as the window is evaluated? For me this sounded like a good case for applying the merge operator and it seems that th

[2017-06-08 09:17] unoexperto opened #2425 "JNI: How do I specify comparator ?"
Guys, how do I specify custom comparator when I open DB using this version of `openReadOnly` ? I don't have `Options` object here.

[code]

[2017-06-08 13:35] JelteF opened #2426 "Is it bad to have a large numbers of column families"
I couldn't find anything in the wiki about this. Is it bad to to have a large number of column families in a single database? If so, at what kind of numbers will you start running into issues? A thousand, 10 thousand, 100 thousand, one million?

[2017-06-08 13:38] JelteF commented on #2327
Ok, good to know the idea behind this. I'll close the issue then. It is a bit confusing though to have the history file say something is released while it is not actually released.

[2017-06-08 13:38] #2327 closed

[2017-06-08 22:16] yiwu-arbug commented on #2414
Looks like in travis java_test the WriteBatchThreadedTest is also failing. Checking.

[2017-06-08 22:43] yiwu-arbug commented on #2384
@adamretter How can I compile java test with ASAN? I'm trying to reproduce.

[2017-06-08 22:45] sagar0 commented on #1193
You should use RocksDBLite for mobile use cases. Check out [ROCKSDB_LITE.md](https://github.com/facebook/rocksdb/blob/master/ROCKSDB_LITE.md), and some build related information in [INSTALL.md](https://github.com/facebook/rocksdb/blob/master/INSTALL.md).

[2017-06-08 22:49] adamretter commented on #2384
@yiwu-arbug details are here - https://github.com/facebook/rocksdb/wiki/JNI-Debugging#asan

[2017-06-08 22:53] yiwu-arbug commented on #2384
@adamretter nice wiki!

[2017-06-09 04:54] absolute8511 opened #2431 "How can I avoid the crc32 check while block cache is not enough"
I noticed a CPU cost issue while I am using the LRU block cache and with the config `cache_index_and_filter_blocks = true`  . Most of the CPU usage is in `rocksdb::crc32c::ExtendImpl<&(rocksdb::crc32c::Fast_CRC32(unsigned long*, unsigned char const**))>`.

After browsing the codes, I found while the filter block was evicted by LRU, we need reload next time. Every time we load these blocks we need

[2017-06-09 06:56] kayaklee opened #2432 "How can I make a self-defined sstable format"
I want to verify some ideas to optimize compaction, but I have to implement self-defined sst format file, include the read/write interface of sst. So I want know about that which interfaces should I overwrite to implement the new sst format, and how to ingest the self-defined sst files.

[2017-06-11 20:34] dibyendumajumdar commented on #2262
Hi, I am trying to build the latest 5.4.6 release and facing the same issue.

[2017-06-12 23:21] sagar0 commented on #2328
Yes, 'rocksdb_sstfilewriter_create_with_comparator' should be deprecated/removed, as passing in the comparator via Options is the suggested approach. Feel free to submit a pull request.
Its deprecated in C++ API: https://github.com/facebook/rocksdb/blob/master/include/rocksdb/sst_file_writer.h#L66-L78

[2017-06-13 15:15] twmht opened #2445 "compile error with db/db_test_util.cc"
Here is the build step

[code]

then make throws errors

[code]

Any idea?

[2017-06-14 04:54] clark010 commented on #2426
@JelteF I think if the table don't share memtables and table files, it will take the db to use a large memory and on it may generate a large num of files on disk.

[2017-06-14 06:06] zhangxqq opened #2448 "ios make static lib"
According to install introduction,  generate .a only support simulator and the .a file is too large,
How to solve it ?

[2017-06-14 19:38] tbarbugli commented on #2426
Each column family will use at least `write_buffer_size` memory (64MB by default) to store memtables. This should already limit your options to < 1,000

[2017-06-14 23:46] sagar0 commented on #2262
@dibyendumajumdar this fix is not in 5.4.6. If you plan to build with Visual Studio 2017, please try building master, for now. I can confirm that master's building fine with VS 2017.

[2017-06-14 23:46] #2262 closed

[2017-06-15 03:55] ngaut commented on #2398
Any update? Please let me know if you need help to reproduce the issue. @ajkr
Thanks.

[2017-06-16 03:57] kobegan opened #2458 "Tags v5.4.6 v5.4.5 crash in windows 7"
v5.4.6 v5.4.5 crash in windows 7. other releases work fine.
building params:
cmake -G "Visual Studio 14 2015 Win64" ..
MSBuild  rocksdb.sln /p:Configuration=Debug /p:Platform=x64 /m
After building done, I run db_test.exe in  Debug. However, its crash details as below.

Unhandled exception at 0x000000013F457BE7 in db_test.exe: 0xC000001D: Illegal Instruction.

Call Stack:
db_test.exe!std::_Uhash_co

[2017-06-16 06:37] zhangjinpeng1987 opened #2459 "Skip some SSTables we don't care about when iterate a range"
I saw cockroachdb create a patch for RocksDB that can skip some SSTables when iterate a range, this can speedup going through a range in some special situations. Is there any plan to support such cool feature in master?
https://github.com/cockroachdb/cockroach/blob/master/pkg/storage/engine/db.cc#L2049

[2017-06-16 07:54] siddontang commented on #2459
see https://github.com/facebook/rocksdb/pull/2265

[2017-06-16 21:12] PraveenSinghRao opened #2461 "LevelCompactionBuilder::GetPathId treats mutable_cf_options.max_bytes_for_level_base as L0 size while it is the size for L1"
While trying to split DB on different media (e.g. SSD/HDD) this causes a problem.

Not sure what L0 size should be, as it is not specified anywhere afaik.

[2017-06-18 23:37] gauravyadav7 commented on #2273
I was not able to reproduce this issue with latest (>5.0) version of RocksDB

[2017-06-18 23:37] #2273 closed

[2017-06-19 02:35] #2459 closed

[2017-06-19 14:18] vmx opened #2464 "Naming inconsistencies in C-API"
I found a naming [inconsistency in the C-API](https://github.com/facebook/rocksdb/blob/0d278456c9e94459aa62d50ba18b10bcc166a75f/include/rocksdb/c.h#L869-L872). I think setting MemTable factories should have a "memtable" prefix as `rocksdb_options_set_memtable_vector_rep()` has.

    rocksdb_options_set_hash_skip_list_rep() -> rocksdb_options_set_memtable_hash_skip_list_rep()
    rocksdb_options_se

[2017-06-20 09:02] isavin opened #2466 "rocksdbjni 5.4.6 not published on maven central"
On github the latest release is 5.4.6:
https://github.com/facebook/rocksdb/releases

But this version is not published in Maven Central, latest there is 5.4.5:
http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22rocksdbjni%22

[2017-06-20 09:19] smartseal opened #2467 "Can I use RocksDB purely in memory and use the pointer to record address for read?"
Hi all,
I am new to RocksDB and I have interest to use it in my projects. I have the following two questions first:
1) Can RocksDB used purely in memory without file support?
2) I want to access the record as fast a possible for reading. Can I got the underlying memory address of the value field of key/value and keep it by a pointer? I want to read the field of the value directly and not want to g

[2017-06-20 09:43] rockeet opened #2468 "Opimize Opportunity in Universal Compaction: Sorted Runs on Level0"
In some situations(especially in data loading phase), time adjacent memtable(or SST)s also have no overlapping key ranges, these memtable(or SST)s can be treated as a sorted run. This will greately reduce comapction overhead and read amplification.

[2017-06-20 14:07] clark010 commented on #2201
Hi, @jerousrb
    Have you already solved this problem? Or do you have any new idea about it?
Now i run into this problem too, that is, I want to split one db and merge part of it into another one,
my idea is:
1. Read all first db's sst files and skip all unnecessary keys then write left parts to a new sst file
    a. before reading, we need sort all sst files according to their levels and sequenc

[2017-06-20 16:49] sagar0 commented on #2466
There is no change in rockdbjni related code between 5.4.5 and 5.4.6. The only change between the two versions is a fix for rocksdb_lite [build issue](https://github.com/facebook/rocksdb/commit/8c1f5c254fdfcf36ffdc34c261e0cbba8d8861f2), which wouldn't affect rockdbjni, and hence we decided not to publish a new jar to maven.

[2017-06-20 16:49] #2466 closed

[2017-06-20 21:03] revans2 opened #2472 "Memory Corruption in JNI interface"
I noticed when trying to upgrade to v5.3.6 that when I ran the jtest that it failed 100% of the time with memory corruption errors.

[code]

[code]

or other times
[code]

I found that it only happens when debug is disabled `DEBUG=0` because of that travis does not appear to be detecting it.

I setup my own travis run https://travis-ci.org/revans2/rocksdb/builds/245099099 with this enabled and it

[2017-06-21 00:18] PraveenSinghRao commented on #2458
Most likely due to advanced instructions not supported by your processor. Please try -DPORTABLE=1 with cmake.

[2017-06-21 00:57] merlimat commented on #2472
@adamretter do you have any idea or suspicion on what could be the trigger of this issue?

[2017-06-21 05:48] sagar0 commented on #2472
Release jars are not typically built with DEBUG=0 flag at our end. They are built with something like `PORTABLE=1 make rocksdbjavastatic` (substitute with either `rocksdbjavastaticrelease` or `rocksdbjavastaticreleasedocker` based on the need). @adamretter please confirm.

I am not yet sure on what caused the corruption, but it is interesting to note in the above description is that ReadOptionsTes

[2017-06-21 13:38] revans2 commented on #2472
@sagar0 I am at a loss for this too because DEBUG=0 only appears to add `-DNDEBUG` to the command line and remove `-Werror`

[code]

but that warning scared me into thinking what else might be happening.

In the java Makefile it also removes `-ea -Xcheck:jni` from the command line.  It could be something related to the assertions not being enabled and we are triggering the issue in one of the asse

[2017-06-21 14:40] revans2 commented on #2472
It has something to do with assertions.  `-ea` on the java command line.  The patch

[code]

Fixes the problem.

My guess right now is that there is an assertion protecting the API from some very bad behavior, and there is a test that is doing that bad behavior.  With assertions disabled it lets the bad call through and memory is corrupted.  I feel much better now, but it would be nice to know wha

[2017-06-21 17:57] danhhz opened #2473 "IngestExternalFile: question on usage"
Hi, I'm working to use IngestExternalFile to power speedy ingest in https://github.com/cockroachdb/cockroach. As a result of some of the distributed consistency stuff, we have to handle retries. Things are much simpler if we can rely on it being safe to write an sstable, ingest it, write another _identical_ sstable, and then ingest that one. I can't see any reason why this wouldn't work and it's w

[2017-06-21 21:30] chshaiiith commented on #627
Hello, Please let me know how did you resolved this issue?

[2017-06-22 01:21] mikhail-antonov commented on #2473
IngestExternalFile will basically try to ingest file at the lowest possible level in the LSM  where the file "fits",  e.g. that this file will always override existing data associated with possible overlapping keyranges.

I actually don't think there's performance penalty to incur in this case as the reads will only touch the second file and never to go Ln to attempt to read first file.

I might b

[2017-06-22 01:45] IslamAbdelRahman commented on #2473
Hi @danhhz

Yes your understanding is correct, the file number 2 will be ingested in a level higher than file number 1 and with a higher sequence number.

And yes there will be a read penalty if you are using an Iterator, but If you are doing a point look up, it wont matter because we wont check the file in Level N if we found our key in Level N -1

Can you please clarify more what is the problem

[2017-06-22 02:10] guozhangwang opened #2476 "Do I have to close and re-open the store after restoring is completed with PrepareForBulkLoad?"
I am using `Options:: PrepareForBulkLoad` to restore a rocksDB instance before ready for queries, the steps are:

1. Open the store with the above config turned on, use batch write apis to put records into the store;
2. Close the store, and then re-open it with the above config turned off.

I'm wondering if I can save step 2) above? If yes how?

[2017-06-22 07:25] jerousrb commented on #2201
hi，@clark010
 now we decide to experiment this idea:
1. accoding to the verison info  and the manifest , we  scan all the sst file storage info, select the file (key range in right side) update the fd info(smallest or largest key)  then write to a new manifest; other info(CF info ) will keep with the left DB;
2. in the right db, add a new refer_table_reader to this file(the old file contain left a

[2017-06-22 14:38] zhangjinpeng1987 opened #2478 "coredump for invalid VersionEdit"
Compaction job 476 generate sst 1112, sst 1111, sst 1113. But sst 1112 is empty for unknow reason.
This is the log:
[code]

[2017-06-22 14:54] zhangjinpeng1987 commented on #2478
Is it because we enable sub_compaction, at the same time one sub compaction job output nothing?

[2017-06-22 20:32] chshaiiith opened #2479 "Can't build example programs"
I must be doing something different and I can't find a proper tutorial for it . I am unable to compile my code using rocksdb libraries. I am using Ubuntu 16.04.

g++ -std=c++11 -I/rocksdb/include -L/usr/local/lib -lrocksdb ../examples/options_file_example.cc

its giving the following error:
/tmp/cc3aegBw.o: In function `main':
options_file_example.cc:(.text+0x1f9): undefined reference to `rocksdb:

[2017-06-22 21:58] siying commented on #2384
@maysamyabandeh did this hack and the error seems go away:
[code]

The theory we have is that, in the write function in RocksDB.java:

[code]
Since we get the value of updates.nativeHandle_, Java thinks the write batch is not needed anymore, so it is GCed and executed the finalizer containing the C++ write batch, which is still being used in the native function write0().

CC @sagar0

[2017-06-22 22:18] siying commented on #2384
@yiwu-arbug and @maysamyabandeh  did another test where we explicitly call wb.close() and the test failure seems to go away.

[2017-06-22 22:20] adamretter commented on #2384
@siying I am back in the office now after a short visit back to the UK. I can take a look tomorrow...

[2017-06-22 22:41] rfyiamcool opened #2481 "Unexpected version incompatibility ?"
Due other reasons, we recently attempted to downgrade from rocksdb-5.0.2 to rocksdb-4.8. On some instances, we were then unable to restart rocksdb and got errors like:

Mon Feb 13 22:18:56 2017: what(): Error listing column families: Corruption: VersionEdit: new-file2 entry

Since kNewFile2 isn't very new, I assume there was some other change, possibly unintentional? Any ideas where to look?

[2017-06-22 22:41] #2481 closed

[2017-06-23 00:14] sagar0 commented on #2384
Fix : #2482

[2017-06-23 00:17] #2387 closed

[2017-06-23 00:33] sagar0 opened #2483 "Allow creating CompactionFilters in Java"
Similar to MergeOperators (#2282), CompactionFilter creation in Java should be allowed.

[2017-06-23 03:25] zhangjinpeng1987 commented on #2478
@ajkr Could you take a look, please.

[2017-06-23 05:04] zhangjinpeng1987 commented on #2478
By the way, we use `delete_range_cf` to delete a huge range.

[2017-06-23 12:31] jerousrb commented on #2201
hi，@siying @lightmark
In the RocksDB ,  the  memory  ,Arena allocate from system, can be shared in the Multiple DB instances ？
this memory   is shared among multiple CF ,yes ?

[2017-06-23 13:37] adamretter commented on #2282
So I have a work in progress for this. However, trying to figure out an efficient API is very hard as their is substantial cost for transferring the `operand_list` across the JNI boundary. I wonder if it is possible to publish an *experimental* API and get some feedback first?

[2017-06-23 13:52] adamretter commented on #2384
@siying It is hard to believe that this is an issue. However, your explanation is certainly plausible, and from the stack trace given by ASAN:

[code]

we see that it is the `Finalizer threa` (Finalizer Thread) which does the deletion, which implies GC!

[2017-06-23 16:03] mdcallag opened #2488 "problems with fast crc support"
There are a few problems with fast crc support in RocksDB:
1) LOG can claim the support is enabled even though it isn't used at run time
2) build_tools/build_detect_platform fails to compile the test code that detects SSE support and -DHAVE_SSE42 isn't added to the compiler command line. Note that RocksDB uses different methods at compile time and run time to determine whether fast crc support is

[2017-06-23 16:09] mdcallag commented on #2488
I wonder whether this is an issue for the distros that bundle RocksDB?

[2017-06-23 16:13] mdcallag opened #2489 "overhead from statistics and perf context"
The overhead for db_bench --statistics and the perf context code using in-memory fillseq:
* --statistics=1 costs about 30% of throughput
* compiling in but not using perf context costs about 10% of throughput

For context MySQL with their perf_schema code enabled at run time costs about 10% of throughput on some micro-benchmarks.

I built from HEAD at:
commit af1746751f2ff48381c53390bb7e4759b4d6bd

[2017-06-23 17:56] sagar0 commented on #2282
I do understand that this is a hard one and I +1 the idea of publishing an experimental API and seeking community feedback, if any.

[2017-06-23 18:03] unoexperto opened #2490 "Iterator ends prematurely"
Guys, I don't know who else to ask. I couldn't google the answer.

For some reason I have iterator ending prematurely. I'm using RocksDB 5.4.5. What could the reason for it ? I use custom comparator that looks like this

[code]

where `RawArticleId` is `case class RawArticleId(aid: Int, pid: KnownProviders)`

And I create DB with following options:

[code]

here is how I iterate through it

[code]

[2017-06-23 18:16] PraveenSinghRao commented on #2489
Was there a regression in benchmarks when statistics were enhanced? We see a regression (esp. in load part of load random benchmark) on Windows. Not sure if it is a Windows only issue.

[2017-06-23 18:28] ajkr commented on #2489
It didn't regress on Linux with glibc 2.22+ but may have regressed on windows as I'm not familiar with `GetCurrentProcessorNumber()`'s performance. Maybe we should bring back thread-local for all platforms where we don't have the glibc's optimized `sched_getcpu()`.

[2017-06-23 18:42] PraveenSinghRao commented on #2489
Actually on Windows it was at the time it moved to thread local. I will lookup the commit #.

I think it hasn't regressed further when it moved to per-core. I can verify.

[2017-06-23 18:49] ajkr commented on #2489
Oh, that's interesting. We use thread-local in several places (e.g., superversion, concurrent arena allocator, perf_context/io_context, and formerly stats). I wonder how all that is affecting windows perf.

Thanks for helping verify the core-local changes :).

[2017-06-23 19:26] vadimtk commented on #2488
Yes, we had problems with fast CRC support in Percona Server build.

[2017-06-23 19:55] #2490 closed

[2017-06-23 20:10] mdcallag commented on #2488
This line in RocksDB LOG explains whether fast CRC support might be used. It can say yes when support isn't used because of this bug.
 Fast CRC32 supported: 1

Code is here:
https://github.com/facebook/rocksdb/blob/master/util/crc32c.cc

To get fast crc32 support you want -DHAVE_SSE42 and probably some of -msse, -msse4.2 on compiler command line. Which mean you might need USE_SSE=1 set as an envir

[2017-06-23 21:26] mdcallag commented on #2489
Test scripts:
* for fillseq - https://gist.github.com/mdcallag/ca1da5f7a34a64c0e14359a113ef21e1
* for readwhilewriting - https://gist.github.com/mdcallag/56253a09d8278d582e60e575e1320c91
* for readrandom - https://gist.github.com/mdcallag/a859908a58d7243051aced4197250f13

I have 2 db_bench binaries and the scripts above assume that:
* db_bench.sse - regular build with fast crc support enabled
* db

[2017-06-23 21:27] mdcallag commented on #2489
And results for readonly that show:
* impact from --statistics is mostly less than 10% reduction in QPS
* impact from perf context compiled in but disabled at run time is a QPS loss between 15% and 20%

[code]

[2017-06-26 02:02] kobegan commented on #2458
@PraveenSinghRao I tried to rebuild the project with the config you mentioned, however, the crash issue still exists.

[2017-06-26 17:30] danhhz commented on #2473
Thanks for the answers! Sorry it's taken me so long to respond.

Okay, that's probably enough to answer my question, but I'm happy to provide some additional background if you're interested.

CockroachDB uses raft to ensure consistency across replicas. This is simplifying things a lot, but when a raft command is applied, we have to apply the side effects (the actual data modification) as well as u

[2017-06-26 19:17] danhhz opened #2496 "Next released version eta"
Hey! Do you have an estimate for when you'll cut the next release? There's a few commits that went in right after v5.4.6 9c9909bf7d978a4faab2def9f4570a7583899508 5a9b4d74354c1499839728831fecafd9b75b0af5 that we'd like. And we strongly prefer to use releases to picking some random commit at HEAD.

Thanks!

[2017-06-26 23:10] yiwu-arbug commented on #2496
cc @lightmark time for 5.5 release?

[2017-06-27 07:49] zhangjinpeng1987 commented on #2478
@siying Could you please take a look?

[2017-06-28 08:41] jsteemann opened #2509 "Get() with PinnableSlice for transaction.h?"
Since RocksDB 5.4.x there is a method `DB::Get()` that can store the lookup result in a `PinnableSlice`:

[code]

That method will work on the raw database, but not in the context of transactions.
Are there any plans to make an equivalent method (`Get` with `PinnableSlice` parameter) available in `utilities/transaction.h` as well? Thanks!

[2017-06-28 22:40] yuslepukhin opened #2511 "Superversion management in GetImpl"
Does this mean that Superversion is not returned in this case:

https://github.com/facebook/rocksdb/blob/master/db/db_impl.cc#L969

[2017-06-29 00:11] PraveenSinghRao commented on #2489
I verified that core_local has similar perf as thread local on Windows (both of which have lower perf than when statistics just modified member variables as in 4.8) for load part of RandomLoad benchmark.

I am curious how perf didn't change for linux. The benchmark issues the writes in a single thread. So multi-threaded optimization would not really benefit it. But statistics functions execute mor

[2017-06-29 00:17] siying commented on #2489
@lightmark fixed a recent performance regression: https://github.com/facebook/rocksdb/commit/0025a36409b2e3263a2909798a2c8c16942b9bae . Hopefully the perf_context regression problem has been solved.

[2017-06-29 00:21] ajkr commented on #2489
Thanks a lot for verifying, Praveen!

In my comment, I didn't mean to refer to the same benchmark that Mark used. My benchmark was more like multi-threaded read, in which case thread-local perf was similar to core-local perf, and both were faster than the global atomics in 4.8.

There is a blog post with more details: http://rocksdb.org/blog/2017/05/14/core-local-stats.html

[2017-06-29 08:02] #2458 closed

[2017-06-29 08:03] kobegan commented on #2458
This issue duplicates #2229. Close this one.

[2017-06-29 12:39] wouterbeek opened #2514 "Target given more than once in the same rule (make)"
When running `make shared_lib` I get the following warning message twice:

[code]

I have installed all dependencies listed in `INSTALL.md` and my OS is Fedora 25.

[2017-06-29 14:34] zhouyuan opened #2515 "poor fillrandom performance w/ direct IO"
Hi RocksDB developers,

I'm doing some fill random performance testing with  Direct_IO mode.  The performance looks like lower than the buffered IO, and the latency is also much higher. Are there any tunings I missed for the direct IO mode?

| base | use_direct_io_for_flush_and_compaction |
|------|----------------------------------------------|
|fillrandom   :      97.870 micros/op 10217 ops/sec;

[2017-06-29 15:58] danhhz commented on #2496
Thanks @yiwu-arbug. Ping @lightmark any thoughts on timing for when this might happen?

[2017-06-29 16:17] siying commented on #2515
Though the performance comparison between direct I/O and non-direct I/O depend on platform and workload, we are happy to look into your case. Can you provide your LOG file under the DB directory?

[2017-06-29 16:36] guozhangwang commented on #2476
@siying could you share some thoughts?

[2017-06-29 16:40] siying commented on #2476
It's not needed from correctness point of the view. But to serve good read/write performance after bulk loading, I suggest you reopen the DB with the configuration for normal load.

[2017-06-29 17:35] guozhangwang commented on #2476
Got it, thanks!

[2017-06-29 17:35] #2476 closed

[2017-06-29 18:19] PraveenSinghRao commented on #2461
I can create a fix. However what should be L0 size?

We could deduce it from write buffer size * compaction_trigger_for_L0 but what happens when the compaction trigger is turned off.

[2017-06-29 18:34] PraveenSinghRao commented on #2515
You might like to check writable_file_max_buffer_size setting - that is the amount buffered in memory before it is written via direct I/O. If that is 0 or too-small, many small writes would be done to disk tanking the perf. The default seems to be 1 MB though which should be more than enough. You can try something like 64kb to see if that works better for your platform.

[2017-06-30 01:26] yunjing opened #2523 "Obsolete WAL files don't always get deleted"
DB version is v5.4.6. I noticed that whenever the DB process restarts, it scans all WAL files, but not all WAL files got deleted after the recovery process finishes. Over the course of a month, it accumulated lots of obsolete WAL files, and the DB restart time gets longer and longer due to extended recovery time, most of is wasted on scanning obsolete files.

I tried to decrease delete_obsolete_fi

[2017-06-30 08:15] jocel1 opened #2524 "sst files are not removed with failing alter table"
Hi!

I'm trying to migrate an existing innodb file with about 160M rows on MariaDB 10.2.6
I first created the table without secondary index, INSERT / SELECT the datas (it takes about 1h), and then try to ALTER TABLE to add the secondary indexes + a UNIQUE KEY.
For some reason not related to RocksDB, I have duplicates on the UNIQUE KEY, and it fails at the end of the ALTER TABLE process:
ERROR 1062

[2017-06-30 14:58] zhouyuan commented on #2515
Hi @siying here are the LOGs for direct vs buffered io. IMO direct IO should be better for SSD cases.

[LOG.use_direct_io.txt](https://github.com/facebook/rocksdb/files/1115468/LOG.use_direct_io.txt)
[LOG.buffered_io.txt](https://github.com/facebook/rocksdb/files/1115469/LOG.buffered_io.txt)

@PraveenSinghRao thanks for the tip! I tried to set `writable_file_max_buffer_size ` to 65536 and the perf

[2017-06-30 17:58] siying commented on #2515
@zhouyuan I'm very confused. There isn't a write throttling triggered, so the speed is just be as fast as what you can insert to the memtable, which shouldn't change because of this parameter. In fact, the single compaction speed is actually faster in the direct I/O case (search "MB/sec" in both of the two log files). But you do flush much less frequently in the Direct I/O case. I don't understand

[2017-06-30 18:12] siying commented on #2515
Oh I realized you are doing --sync which syncs WAL. Then it makes sense to reduce `writable_file_max_buffer_size` to be smaller to avoid large I/O to block the I/O queue. Then setting it to 64KB may make sense. Maybe it can be slightly higher, to 256KB or something. You may consider to reduce `compaction_readahead_size` to slower either, to something like 256KB.

CC @lightmark

[2017-06-30 18:14] siying commented on #2515
I'm also realizing that you are using one thread to do the write. If you are doing WAL sync write, higher number of threads can trigger group commit, so you may get higher random write throughput.

[2017-06-30 18:25] siying commented on #2515
@zhouyuan what kind of SSD do you use? A PCI-e card? SATA SSD? Or remote flash like EBS?

[2017-06-30 19:56] siying commented on #2515
I ran the exactly same test on my host (with PCI-e flash card), and I saw 12% lower throughput with direct I/O option, which is reasonable to me. The direct I/O feature is not meant to always improve performance, but to give people more control of memory usage or I/O size. Since we don't use OS page cache in the direct I/O case, it is very likely that the performance is worse. But we use less reso

[2017-07-01 05:18] zhangjinpeng1987 opened #2530 "L0 -> L0 compaction generate a large sst file"
In heavy write situation L0->L0 compaction may generate large sst file, maybe we need improve the L0->L0 compaction mechanism.
[code]
@ajkr Please take a look when you are free.

[2017-07-02 15:57] ashkrit opened #2531 "Unable to load librocksdbjni-win64.dll in windows10"
I am using 5.4.5 version or rocksdb on windows 10 https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni/5.4.5

It fails with below error:
[code]
Has anybody faced similar issue on windows ?

[2017-07-03 14:39] zhouyuan commented on #2515
@siying my bad for the confusion and much appreciated for looking into this! I'm actually testing with one NVMe SSD, and the workload here is extracted from some small application, which will insert small KV pair heavily with a single thread. Thanks for the tips on `compaction_readahead_size `, I also find one useful turning on `subcompactions` from [here](https://github.com/facebook/rocksdb/wiki/

[2017-07-03 14:44] zhouyuan commented on #2515
closing here as proper turnings are able to bring the direct I/O performance back.

[2017-07-03 14:44] #2515 closed

[2017-07-03 16:02] scottfines opened #2532 "Malloc error when merge interacts with dropping column family(java-jni)"
I'm operating with Rocksdb v 5.4.5 through the RocksJava interface, and continue to run into a malloc error which causes my jvm to abort (SIGABRT). The simplest reproducing test case I have is as follows

[code]

The error that is output is:

[code]

This error does not occur at the same iteration each time--sometimes it will run for 10 iterations before failing, sometimes it fails the first time

[2017-07-04 06:08] rockeet commented on #2530
We also encountered this issue, in one of our case, with universal compaction, L0->L0 compaction input reached 2TB. The compressed "input_data_size" is 572GB, the decompressed is more than 2TB.

[2017-07-04 06:18] rockeet commented on #2468
This proposal may resolve [https://github.com/facebook/rocksdb/issues/2530#issuecomment-312788666](this issue) in data loading.

[2017-07-04 08:10] enothereska opened #2533 "Assertion failed: (is_last_reference)"
Hello,

Using 5.4.5, I keep getting the following error when using the Java JNI:
[code]

We're opening and closing a store several times in a row. This does not happen with previous versions (at least I've tested with 5.3.6 and 5.0.1).

Any hints as to what could be the problem?
Thanks
Eno

[2017-07-04 12:45] rockeet commented on #1880
We have a single RocksDB with more than 4TB data.

[2017-07-04 22:29] bdarnell commented on #2488
This has been a headache for CockroachDB too (https://github.com/cockroachdb/cockroach/issues/15589). Compiling with `-msse4.2` means that our binary releases don't work on older CPUs. We would prefer to compile without that flag (so that the compiler generates code for any `amd64` cpu), then use runtime feature detection to enable the SSE4.2 fast CRC.

[2017-07-05 16:58] siying commented on #2488
@bdarnell you are welcome to send a PR to add a flag to achieve what you want.

[2017-07-05 17:00] siying commented on #2468
@rockeet did you try the CompactionOptionsUniversal.allow_trivial_move=true?

[2017-07-05 19:56] adamretter commented on #2531
@ashkrit The file `librocksdbjni-win64.dll` is included within the Jar file. We need to understand why it won't load on your system, perhaps some missing dependency that you need to install. You could try extracting the .dll from the Jar, placing it in a known path and using a small Java program to try and load it to see if you can get more detailed error messages:

[code]

Then to compile and run

[2017-07-06 00:58] siying commented on #1538
The maximum plain table size is 2GB. Please tune the options to make sure single SST file doesn't exceed the size.

[2017-07-06 00:59] siying commented on #1538
We usually use target_file_size_mulitplier =1, and hardly use other value.

[2017-07-06 03:21] rockeet commented on #2468
@siying Yes, we have set allow_trivial_move=true

[2017-07-06 05:27] guozhangwang commented on #2533
@siying @adamretter Is this a blocker for JNI users for 5.4.5? If yes we will skip this release and use 5.3.6 for now. Please advice.

[2017-07-06 07:51] xieyilun opened #2538 "suggest to update “PlainTable Format” wiki"
1. remove "TotalOrderPlainTableFactory"

2. recommend use "CappedPrefixTransform" instead of "FixedPrefixTransform", because assertion not work in release

[2017-07-06 08:07] zhangjinpeng1987 opened #2539 "A strange overlap when pick compaction job"
I encounter a very strange problem that should not happen.
`JOB 249` compact 1@2 (85500.sst) + 111@3 files to L3, and output a lot of new sst files. After `JOB 249` has finished, `JOB 250` started. `JOB 250` compact 1@2(100876.sst) + 112@3 files to L3. I found that all the input sst files@L3 of `JOB 250` **are the output of** `JOB 249`.
IMO, 85500.sst and 100876.sst have no overlap, because they a

[2017-07-06 10:04] zhangjinpeng1987 commented on #2539
By the way, I'm using delete_range to delete a range.
It seems `ExpandInputsToCleanCut` can't cause this happen?
@ajkr What do you think about it?

[2017-07-06 13:05] unoexperto opened #2540 "RocksDB hangs infinitely when using column families"
Hey guys,

Could you please suggest why I might have RocksDB infinitely hangs on writes ? Originally I've been using batches but problem occurs with simply puts too. Another interesting point is that it hangs every time after exact same number of writes (or same volume of writes).

I'm using RocksDB JNI. Total size of my DB is ~91GB

First 100 lines of my log:
[code]

And here is zip with all logs

[2017-07-06 17:09] siying commented on #2538
Which assert doesn't work with FixedPrefixTransform?

[2017-07-07 03:29] ajkr commented on #2539
Do you have a large range deletion covering all of (or most of) L3's key-range? And is there a snapshot preventing the keys covered by the large range deletion from being dropped during compaction?

The situation you're seeing can happen even if the L2 files are non-overlapping. The L3 files with which 85500.sst is compacted may cover a wider range than 85500.sst itself. That's because (1) files f

[2017-07-07 07:12] xieyilun commented on #2538
util/slice.cc

virtual Slice Transform(const Slice& src) const override {
  assert(InDomain(src));
  return Slice(src.data(), prefix_len_);
}

make release，this assert doesn't work

[2017-07-07 17:10] siying commented on #2538
Oh you are using keys shorter than that?

[2017-07-07 19:05] adamretter commented on #2472
Okay do I think I can see what is happening here. If we study for example [`ReadOptionsTest#failsetSnapshotUninitialized()`](https://github.com/facebook/rocksdb/blob/master/java/src/test/java/org/rocksdb/ReadOptionsTest.java#L179

We can see that it explicitly calls `ReadOptions#close()` in `ReadOptionsTest#setupUninitializedReadOptions(ExpectedException)`[https://github.com/facebook/rocksdb/blob/

[2017-07-07 21:21] ajkr commented on #2539
BTW, you can set `max_compaction_bytes` really high such that your L2 files aren't compacted with all of L3 one-by-one. It should reduce write-amp by a lot, though the L2->L3 will take longer (hopefully you enable parallelism, in which case it should be fine).

[2017-07-07 23:39] EliFinkelshteyn opened #2547 "RocksDB deleted, but locks still exist"
Currently, if I have a connection open to a RocksDB, even if I delete the entire RocksDB on disk, I still can't create a new RocksDB in the same location due to the `No locks available` error. Is this intended behavior, and if so, is there any way to force close all connections to a RocksDB or any other way to force the release of a lock from some connection that wasn't picked up during garbage co

[2017-07-08 03:49] #2362 closed

[2017-07-08 04:16] zhangjinpeng1987 commented on #2539
@ajkr thanks for your reply, I'll think about it.

[2017-07-08 11:43] zhangjinpeng1987 opened #2550 "Ingest external sst file will block by the running compaction"
When ingest a external sst file, it will be blocked about 1 or 2 minute if the corresponding level has a running compaction, can this restrict be release?

[2017-07-08 13:56] benesch commented on #2488
@mdcallag can you verify that #2545 solves your second problem? I think #2513 has already fixed the first problem.

[2017-07-08 14:29] adamretter commented on #2532
The first issue that I notice is that - you should not close the `ColumnFamilyOptions` until after you have finished with and closed the `ColumnFamilyHandle`. Can you refactor for that and let me know if it solves your problem?

[2017-07-08 16:16] adamretter commented on #2532
@scottfines To make things clearer I have added to the Wiki on how the memory management for RocksJava should be taken care of. Please see:
1. https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management
2. https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#opening-a-database-with-column-families

[2017-07-08 17:49] scottfines commented on #2532
Thanks! the extra documentation is always helpful for schmoes like me :)

I tried this version of the test as well:

[code]

And still got the same error:

[code]

So it appears that bad management of CF options is not the culprit in this case.

[2017-07-08 17:55] scottfines commented on #2532
For kicks and giggles, just to see if manual resource closing was a problem, I also stripped it all out (obviously not a good idea in production):

[code]

and still got the malloc error.

AFAICT, there aren't any resources being manually closed; perhaps Java GC was a problem? To check, I re-ran my test with `-XX:+PrintGC` enabled, but there were no logged GC events before the error occurred. This

[2017-07-08 17:59] scottfines commented on #2532
I should also note that I periodically will get a SIGABRT error as well (with all forms of the test):

[code]

the associated error log is attached:

[hs_err_pid6810.txt](https://github.com/facebook/rocksdb/files/1133181/hs_err_pid6810.txt)

( I had to rename it to a .txt to get github to allow it)

[2017-07-08 21:23] adamretter commented on #2547
Are you using the Java API?

[2017-07-08 21:25] adamretter commented on #2533
@enothereska This is not a known issue. Can you provide us with the minimal code to reproduce please?

[2017-07-08 21:26] adamretter commented on #2533
@enothereska Please also first make sure that you are releasing column families in the correct order as described here: https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#opening-a-database-with-column-families