[2020-06-26 02:20] ajkr commented on #6561
@wouterbeek Should be fixed by #7011. Let us know if you still see the issue.

[2020-06-26 02:20] #6561 closed

[2020-06-26 19:14] ottok opened #7035 "RocksDB does not build in a reproducible way"
### Expected behavior

All open source software should build in a reproducible manner. See https://reproducible-builds.org/

This improves security. This also makes builds faster for users of ccache and alike, since builds that are reproducible are also able to re-use previously built objects.

### Actual behavior

RocksDB does not build in a reproducible manner. Two consecutive builds produce bin

[2020-06-26 19:50] JayKickliter commented on #6814
Related to #2343 ?

[2020-06-26 23:48] ableegoldman commented on #6856
Just realized I never followed up. Unfortunately the specific instance we saw the segfault on was taken down shortly after. The good/bad news is we haven't seen it happen again, but if it does I'll make sure it stays live for debugging

[2020-06-28 07:27] zwkno1 commented on #6560
Same error:

cmake ../  -DWITH_GFLAGS=1 -DWITH_SNAPPY=1 -DWITH_JEMALLOC=1 -DWITH_ZLIB=1 -DWITH_LZ4=1 -DWITH_ZSTD=1 -DWITH_BZ2=1 -DCMAKE_BUILD_TYPE=Release

...
[ 98%] Building CXX object db_stress_tool/CMakeFiles/db_stress.dir/no_batched_ops_stress.cc.o
[ 98%] Linking CXX executable db_repl_stress
[ 98%] Built target db_repl_stress
[ 99%] Linking CXX executable filter_bench
[ 99%] Built target fil

[2020-06-28 07:51] zwkno1 commented on #6560
i fix it.
https://github.com/facebook/rocksdb/pull/7040

[2020-06-29 04:10] Fugoes opened #7042 "Compiling with -march=armv8-a+crc+nocrypto results in linking error"
### Expected behavior

The shared library should link without error.

### Actual behavior

For the following program named `err.cpp`:
[code]
Compile and link it with:
[code]
There are linking errors:
[code]

### Steps to reproduce the behavior

Compile rocksdb's shared library (version 5.18.4, though I think many versions have this issue) with `-march=armv8-a+crc+nocrypto` compile option and follo

[2020-06-29 08:49] adamretter commented on #7042
To decipher `armv8-a+crc+nocrypto`

1. `armv8-a` = ARMv8 application architecture profile.
2. `crc` = With CRC extension.
3. `nocrypto` Without Cryptographic extension.

[2020-06-29 12:48] Fugoes commented on #7042
I understand the meaning of these flags. I could workaround this issue by using `armv8-a+nocrypto+nocrc`. But I think this might be a bug in the build system or the `util/crc32c_arm64.h` file?

[2020-06-29 20:32] adamretter commented on #7042
@Fugoes Sure. I didn't understand the flags though - which is why I added them for my own reference ;-)

[2020-06-29 21:24] adamretter commented on #7035
@ottok Would you like to send a PR that addresses this?

[2020-06-29 22:00] ottok commented on #7035
I looked at the code but I did not understand it well enough to be able to change it properly. I can help testing a patch if somebody creates one.

[2020-06-29 23:25] Fugoes commented on #7042
What's more, most aarch64 server or high ends Android phone should have both crc and crypto I think. I encounter this issue on a raspberry pi 4 b XD.

[2020-06-29 23:31] siying commented on #7042
For those who created the file, @HouBingjian , @Zhiwei-Dai and @guyuqi  any thought how we should resolve this?

[2020-06-30 08:13] ikenchina opened #7050 "RocksDB occupied massive memory and going up"
I calculated memory usage in worst case is about 100GB, but actually it occupied about 230GB.
pmap the process, it seems like maps massive sst files in resident memory occupied 194GB approximately, and the configuration of `max_open_files=20000`.
How to limit rocksdb map sst file to memory?

### Expected behavior
I have caculated max memory usage of rocksdb is about 100GB, but it occupied about 23

[2020-06-30 12:42] fauust opened #7051 "RocksDB build fails on riscv64"
### Expected behavior

Build is OK

### Actual behavior

Build fail with:
[code]
See full log at: https://buildd.debian.org/status/fetch.php?pkg=mariadb-10.3&arch=riscv64&ver=1%3A10.3.16-1&stamp=1561225015&raw=0

### Steps to reproduce the behavior

Build RocksDB on riscv64 arch.

https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=933151
https://jira.mariadb.org/browse/MDEV-23051

[2020-06-30 15:42] adamretter commented on #7051
@fauust AFAIK you are the first person to report about building on RiscV64. Congrats :-)

Do you know if there is any hardware available for Open Source projects, so that we can test this? We have kindly been given access to ppc64le, aarch64, and s390x by various groups, but we don't have a RISCv64 machine yet

[2020-06-30 16:14] zyj183247166 opened #7053 "(May a bug?)org.rocksdb.NativeLibraryLoader.loadLibrary.loadLibraryFromJarToTemp needs to check its parameter tmpdir."
Dear, I may find a bug.

1.  First, the issue code is in the file
[NativeLibraryLoader.java](https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/NativeLibraryLoader.java) and the method `loadLibraryFromJarToTemp`.
Although it checks if the new file is already existing, but it does't checks if the dir exists.
The code is as
[code]

2. When the directory of `tmpDir` is not

[2020-06-30 16:22] zyj183247166 commented on #7053
it needs to check if the tmpDir is exist. For example, check if the folder "wordcrash" is exist in the directory path stored in tmpDir variable ("D:\wordcrash\"). Note, check the folder. or the path.  Not just to check the tmpDir variable is null or is empty.

[2020-06-30 16:23] zyj183247166 commented on #7053
check the Folder of the variable.  Not check the variable itself.

[2020-06-30 17:18] adamretter commented on #7053
Thanks for reporting I will take a look tomorrow at this

[2020-07-01 01:53] grooverdan commented on #7051
successfully built per #7060. Runtime still unknown. For CI https://toolchains.bootlin.com/releases_riscv64.html downloads are painfully slow. If you can have them staticly installed that's probably ok.

[2020-07-01 07:49] liyaojian opened #7061 "recompile error"
### Expected behavior
compile correctly
### Actual behavior
compile error:
[code]
### Steps to reproduce the behavior
1.  first I run `cd rocksdb && CFLAGS=-fPIC CXXFLAGS=-fPIC make release` compiled correctly.
2. some other reasons I run `rm -rf rocksdb && git clone https://github.com/facebook/rocksdb && cd rocksdb && CFLAGS=-fPIC CXXFLAGS=-fPIC make release` error like above.

system: Ubuntu 16.

[2020-07-01 17:31] #7061 closed

[2020-07-02 23:59] yiwu-arbug opened #7073 "Feature request: Add a bitmask to enable individual perf context counter"
Currently we can change perf level to enable different set of perf context counters. However, sometimes we are only interested in a subset of timer counter and want to avoid overhead of the other counters, and using only perf level doesn't fit out needs. We propose allowing user to set a bitmask which can enable individual perf context counters. Currently there are ~70 perf context counters, so we

[2020-07-03 00:45] jay-zhuang opened #7075 "Failed to compile from cmake"
### Expected behavior
[code]
Successfully build.

### Actual behavior
Failed to compile `testharness`, it happens after https://github.com/facebook/rocksdb/commit/741b9ba96bb103f57380768508fa961f03427cb7, reverting the change fixes problem.
Error:
[code]

### Steps to reproduce the behavior
[code]

[2020-07-03 04:44] ajkr commented on #7075
hm looks like it's including some RocksDB headers through your system path: "/usr/local/include/rocksdb/status.h"

And some of the names in the compiled file look like "::testing::AssertionResult". My guess is your locally installed RocksDB predates the `ROCKSDB_NAMESPACE` macro leading it to expand to empty (normally the previously mentioned name would look like "rocksdb::testing::AssertionResult

[2020-07-03 21:41] adamretter commented on #7053
@zyj183247166 Thanks for your report.
I constructed a small test where I set the environment variable `ROCKSDB_SHAREDLIB_DIR` to `/no-such-path` and the result was this:

[code]

Apart from the fact that the error messages could be friendlier... I am not sure I agree/understand your assessment.

In response to your points:

Regards (3), the behaviour that you cited in Lucene is different. They att

[2020-07-04 05:36] zyj183247166 commented on #7053
Ok. Very thank you for replying me.  But i have many things to  refute you.
(1) The bug report in https://knowledge.broadcom.com/external/article/139684/cannot-start-em-after-applying-hf49-una.html. It is truly because of wrongly setting up RocksDB just as it said, but the exception reported in it is also truly that i am talking about all the way. And the really reason is the org/rocksdb/NativeLib

[2020-07-05 10:55] zyj183247166 commented on #7053
Maybe there exists some difference between scientific research and engineering.
In the ASE paper
"
Wang S, Chollak D, Movshovitz-Attias D, et al. Bugram: bug detection with n-gram language models[C]//Proceedings of the 31st IEEE/ACM International Conference on Automated Software Engineering. 2016: 708-719.
"
It give some bug examples. I screenshot some information of this paper as below:
"
Figure

[2020-07-05 11:25] manhhiep92 commented on #6490
Hi @ajkr I would like to look at this issue if no one is looking at it. Thanks!

[2020-07-06 13:25] songlong opened #7084 "rocksdb_undump not suport ColumnFamilyOptions"
### Expected behavior
     it can be resotred if used ColumnFamilyOptions when using rocksdb_undump tool.
### Actual behavior
    it can import  ColumnFamilyOptions feature, it is only default.
### Steps to reproduce the behavior
   1、rocksdb_dump
   2、rocksdb_undump

[2020-07-06 17:06] ottok commented on #7051
Note that riscv64 is one of the official platforms of Ubuntu nowadays, so it is not only a marginal thing. See https://launchpad.net/ubuntu/+source/mariadb-10.3

![image](https://user-images.githubusercontent.com/668724/86619955-2694c280-bfc4-11ea-91c8-03a5f3d77642.png)

[2020-07-06 18:38] adamretter commented on #7053
[code]

I don't think that is the case. I did test on more than one platform. So that we can be certain, I have pushed the test code to GitHub - https://github.com/adamretter/rocksdb-tmpdir-test. I also setup Travis-CI to run the tests on Linux, macOS, and Windows, you can see the output of the tests on all 3 platforms here - @zyj183247166 https://travis-ci.com/github/adamretter/rocksdb-tmpdir-tes

[2020-07-06 18:40] jay-zhuang commented on #7075
Thanks @ajkr . Yes, you're right, I have an older version of rocksdb installed on my host, which has header files in `/usr/local/include/rocksdb/...`.
The build passes after I uninstall the local rocksdb:
[code]

[2020-07-06 18:40] #7075 closed

[2020-07-06 18:46] adamretter commented on #7053
@zyj183247166 I put together an experimental change. Do you feel that this https://github.com/adamretter/rocksdb/commit/fe6b2365550616bed94386a63861b7a8d83e4298 improves the situation?

[2020-07-06 18:49] #5852 closed

[2020-07-06 19:31] theolivenbaum opened #7087 "Missing restore from index on C bindings"
The [How to backup RocksDB](https://github.com/facebook/rocksdb/wiki/How-to-backup-RocksDB%3F) wiki page mentions the following function that can be used to restore from a specific backup index:

[code]

But this seems to be missing from the C ABI, which exposes only [the method to restore from the latest index](https://github.com/facebook/rocksdb/blob/1b85d57cf5a2b41d6a026557adfb245d5235d4aa/incl

[2020-07-06 20:22] #6856 closed

[2020-07-06 20:39] adamretter commented on #5496
@koldat I ran your test against the HEAD and I think this is now fixed by https://github.com/facebook/rocksdb/pull/6709

[2020-07-06 20:39] #5496 closed

[2020-07-06 21:59] #6971 closed

[2020-07-06 22:39] ajkr commented on #7087
Agreed it is missing. Would you be interested in contributing it?

[2020-07-06 22:41] ajkr commented on #6490
Hi @manhhiep92 , thanks for your interest! Yes, nobody is working on it currently. Assigned to you.

[2020-07-07 03:52] theolivenbaum commented on #7087
Sure, I'll send a PR for it then!

On Tue, Jul 7, 2020, 12:39 AM Andrew Kryczka <notifications@github.com>
wrote:

[2020-07-07 06:25] zyj183247166 commented on #7053
Thank you very much. This issue can be closed. Everything will be fine and nothing will be changed. You have your viewpoint, but i will also insist my viewpoint.
Anyway, thank you very much.

[2020-07-07 06:52] adamretter commented on #7053
@zyj183247166 Your approach does not seem very constructive now. I am trying to work though the issue with you, so that we can come to the best conclusion. I would appreciate your feedback on my test project and CI output and also of my suggested change? I have also put time and effort in to try and understand what you are communicating and to try and address any issue that you are reporting. I wo

[2020-07-07 08:10] zyj183247166 commented on #7053
Thank you. But i have no more words. Everything that i want to convey has already been said.
Thank you all the same.

[2020-07-07 08:32] zyj183247166 commented on #7053
More,it  is unintentional that i give comment as below
"
Thank you very much. This issue can be closed. Everything will be fine and nothing will be changed. You have your viewpoint, but i will also insist my viewpoint.
Anyway, thank you very much.
"
Why i comment as this? it is because of my so so English. I wrongly understand your words "I put together an experimental change. Do you feel that thi

[2020-07-07 08:47] zyj183247166 commented on #7053
The added codes,
      "
      final File parentDir = new File(tmpDir);
      if (!parentDir.exists()) {
        throw new RuntimeException("Directory: " + parentDir.getAbsolutePath()
            + " does not exist!");
      }
      temp = new File(parentDir, jniLibraryFileName);
      "
should modify the last line " temp = new File(parentDir, jniLibraryFileName);" as "temp = new File(tmpDir, jniL

[2020-07-07 08:48] zyj183247166 commented on #7053
@adamretter

[2020-07-07 10:00] adamretter commented on #7053
@zyj183247166 We are using Java language level 7. It does allow a File object to be the first argument to constructing another File object -
https://docs.oracle.com/javase/7/docs/api/java/io/File.html#File(java.io.File,%20java.lang.String)

[2020-07-07 10:16] zyj183247166 commented on #7053
@adamretter Ok. I get it.

[2020-07-07 11:33] Warchant opened #7091 "Mingw cross-compilation build fails"
### Expected behavior
Can build rocksdb on MinGW (cross compilation on linux for mingw)

### Actual behavior
- https://github.com/facebook/rocksdb/blob/master/port/port_posix.h#L24 - redefinition error
- https://github.com/facebook/rocksdb/blob/master/port/port_posix.h#L54 - no header `endian.h`

### Steps to reproduce the behavior
[code]

See this error:
[code]

I am sure there are more errors.

[2020-07-07 13:51] theolivenbaum commented on #7087
@ajkr: here you have it: https://github.com/facebook/rocksdb/pull/7092
Took the opportunity to add also a link to [our fork of the C# package](https://github.com/curiosity-ai/rocksdb-sharp) that is more up-to-date than the one mentioned previously.

[2020-07-07 15:02] theolivenbaum commented on #7087
It seems like the PR now passes all CircleCI tests after fixing some minor formatting issues 😄

@ajkr any chance to get this merged sometime soon? this is a blocker for us to finish with our internal backup/restore work...

[2020-07-07 21:39] siying opened #7099 "[Project] Validate all key values using a checksum when options.paranoid_file_checks is set"
Right now, when options.paranoid_file_checks is set, we read back all key and values of a file generated without validating the keys and values:

https://github.com/facebook/rocksdb/blob/d47c8711908e84e6048d7a1233b20adc831c8590/db/compaction/compaction_job.cc#L667-L670
and
https://github.com/facebook/rocksdb/blob/94d04529def513600c05998af6d6904f40f94124/db/builder.cc#L250-L254

To improve the chec

[2020-07-09 00:43] ajkr commented on #7087
It is merged now.

[2020-07-09 00:43] #7087 closed

[2020-07-10 03:26] majianpeng opened #7109 "Endless loop in function WritableFileWriter::Append"
### Expected behavior
### Actual behavior
endless loop.
### Steps to reproduce the behavior
set rocksdb options: use_direct_io_for_flush_and_compaction=true &&writable_file_max_buffer_size=0. This make endless loop in
WritableFileWriter::Append
 if (use_direct_io() || (buf_.Capacity() >= left)) {
    while (left > 0) {
      size_t appended = buf_.Append(src, left);

[2020-07-10 20:59] mdcallag commented on #6276
AFAIK it was closed after you didn't reply to [a question](https://github.com/facebook/rocksdb/issues/6276#issuecomment-574370196)

[2020-07-10 21:27] #7053 closed

[2020-07-10 21:33] #6729 closed

[2020-07-11 02:48] szstonelee commented on #4097
I have the same issue. When calling db->Put(), no SST are generated in the folder. I can only list LOG, MANIFEST, CURRENT, IDENTITY, LOCK, OPTIONS.

It only happened in the Linux VM (Ubuntu 18.04, using Multipass) on my MAC. When I ran the application directly in MAC OS 10.15, I saw the SST files.

I tried with and without WAL, sync and no sync with each Put(). The result are same in VM and MAC OS

[2020-07-11 04:40] riversand963 commented on #4097
What is the value of `avoid_flush_during_shutdown` in your test?

[2020-07-11 06:54] szstonelee commented on #4097
@riversand963 Thank you for the quick reply.

I tried again.

As avoid_flush_during_shutdown is not explicitly set in my application, the default value should be false.

I tried with WAL enabled and disabled (write option of sync is true for each put). All results are same, only LOG files (Every log record is 0.0 for write and compaction), no SST files.

There are two test situations. One is the U

[2020-07-11 08:32] Layamon opened #7116 "about TODO(myabandeh): include delayed_prepared_ in min_uncommitted"
when I read code with my colleague, it seems a problem in function IsInSnapshot since we have not _include delayed_prepared_ in min_uncommitted_.

here is my question description:
time1: we have a long transaction T(seqno = s1 ) (T has been evicted to delay_prepared) runing when we get a snapshot S( **S->min_uncommited = prepared_txn.pop() > s1**).  we know that **record of T is not visible to S**

[2020-07-11 08:42] #7116 closed

[2020-07-11 08:42] Layamon commented on #7116
already fix in latest version😂

[2020-07-15 01:58] walterzhaoJR opened #7130 "why LOG.old.* keep growing even after set keep_log_file_num"
here is my conf
![image](https://user-images.githubusercontent.com/22393698/87494460-a46e6300-c681-11ea-952f-42630489926e.png)
but the log file:
![image](https://user-images.githubusercontent.com/22393698/87494476-b5b76f80-c681-11ea-84dc-5390cd171ea0.png)
![image](https://user-images.githubusercontent.com/22393698/87494488-bd771400-c681-11ea-8fb5-0cd4d05a9382.png)

[2020-07-15 17:43] mrambacher opened #7133 "EventListenerTest.OnFileOperationTest fails on MacOS"
The recently added OnFileOperationTest fails on MacOS.  I do not know if this is related to simulated sleeps or something else, but it consistently fails.

[ RUN      ] EventListenerTest.OnFileOperationTest
db/listener_test.cc:1057: Failure
Expected: (duration.count()) > (0), actual: 0 vs 0

### Steps to reproduce the behavior

make dbg
./listener_test

[2020-07-16 16:32] patkivikram commented on #7050
I set max_open_files=-1 and see similar behavior where the memory keeps on increasing over time and eventually the process goes OOM.

[2020-07-16 16:37] patkivikram commented on #5880
Is `block_cache_size` the way to limit the lru cache?

[2020-07-17 20:36] jay-zhuang opened #7146 "CircleCI test passes even there's failed test"
### Expected behavior
For example #7140 introduces a few test failure, but CircleCI test still passes:
https://app.circleci.com/pipelines/github/facebook/rocksdb/2447/workflows/39de8b0b-48f2-4c4f-82e7-5f3cda94a0ce/jobs/9322/steps

### Actual behavior
CircleCI build should fail.

### Steps to reproduce the behavior

[2020-07-17 23:01] siying commented on #7146
I observed the same issue once but didn't figure out the reason. It does print out
[code]
But it didn't terminate. I suspect that these lines have a bug somewhere: https://github.com/facebook/rocksdb/blob/master/Makefile#L853-L856

But I didn't find out after some debugging.

[2020-07-18 02:15] #7146 closed

[2020-07-18 02:17] jay-zhuang commented on #7146
Thanks @siying for the quick fix.

[2020-07-20 21:19] mrambacher commented on #7133
I did some further investigation into this test failure.  The OnFileOperationTest fails on MacOS sometimes when checking the result of the Flush operation.  For Posix File Systems, the flush operation is a no-op (does nothing and just returns OK), which will take very little time.

FWIW, When I added debugging, I noticed that if I use "steady_clock" instead of "system_clock", I no longer see durat

[2020-07-20 21:44] riversand963 commented on #7133
Thanks @mrambacher for the investigation. It looks like these tests do not really care about what time it is. It is "duration" that is more meaningful.
@roghnin can you follow up on this?

[2020-07-20 22:40] mrambacher commented on #7133
In my testing on MacOS, duration can be zero for the Flush operation when using system_clock.

[2020-07-21 01:19] roghnin commented on #7133
This makes sense to me, but I'm having a hard time trying to reproduce this on my machine. Do you happen to have the call stack of the failed assertion?

[2020-07-21 01:51] roghnin commented on #7133
If I got it correctly, the root problem is the behavior of the clock itself. Having the listener store "durations" won't fix the problem, as durations are calculated using timepoints.

I think we need to investigate more about `FileOperationInfo::TimePoint`: it's widely used in RocksDB to keep track of time, and the start and end timestamps are got not just for testing purposes. Maybe we should sw

[2020-07-21 03:26] mrambacher commented on #7133
My question is what is the use case where the user would care about the time of the operation versus the duration of the operation?  And given the duration, if they cared about the time, could the approximate it enough on their own (Time::now() - duration?).

[2020-07-21 05:32] riversand963 commented on #7133
They could do the approximation on their own in the listener, but this is one more call to `now()`. Currently, the `FileOperationInfo` is on the stack and short-lived, thus I am not too concerned about this extra timestamp in it.

[2020-07-21 05:51] theolivenbaum commented on #7087
Hi @ajkr - just noticed this one was missing from yesterday's [v6.11.4](https://github.com/facebook/rocksdb/releases/tag/v6.11.4) release , any chance it can get scheduled for the next one? Thanks!

[2020-07-21 06:27] ajkr commented on #7087
Right, this PR landed after the 6.11 branch got cut (~3 weeks ago) and since then we only backported bug fixes. This will definitely be in the 6.12 branch though as that branch is yet to be cut.

[2020-07-21 17:58] riversand963 commented on #7133
Chatted offline, to ensure `duration`, we'd better use steady_clock, as fixed in #7153 . Thanks @mrambacher and @roghnin taking a look at this.

[2020-07-21 18:23] patkivikram commented on #4112
We are still struggling with memory growth with the following settings
`"write_buffer_size": 8388608,
    "max_write_buffer_number": 2,
    "block_cache_size": 8388608,
    "bloom_filter_size": 3,
    "max_open_files": 500,
    "block_cache_compressed_size": 8388608,
    "compression": rocksdb.CompressionType.lz4_compression`

Not sure what else are we missing. Using rocksdb 6.10.2 on centos 75

[2020-07-22 04:10] zhanglistar commented on #4737
Here is a tool to load all file or directory to pagecache, https://github.com/hoytech/vmtouch
You can try this.

[2020-07-22 06:04] jevolk opened #7155 "Bug in MultiRead() coalescing (introduced 4fc216649d #6446) (pull request in #6979)"
I opened a pull request at #6979 describing and fixing a bug which makes the much anticipated and fabulous `MultiRead()` feature unusable in the 6.10 release. Since then this bug has also been cut into every 6.11.x release and that's not good folks! In case a PR without an associated issue gets lost down the cracks between github and phabricator I'm opening this here.

Please follow up on this, th

[2020-07-22 18:15] cheng-chang commented on #7155
@jevolk thanks for catching this. The bug won't cause correctness bug. The problem is it may merge all the requests into one big request even if the requests are not overlapped.

[2020-07-22 18:18] #7155 closed

[2020-07-22 23:28] akankshamahajan15 commented on #7130
Can you share the value of  Options.keep_log_file_num in LOG file and OPTIONS-000067.

[2020-07-23 06:38] wuzhihao7 commented on #5880
hello! I also encountered this problem, how did you solve it in the end?

[2020-07-24 07:22] gowthamgutha opened #7169 "Tailing iterator is not working in Java"
### Expected behavior
All the elements, whatever are put in the other thread should get printed (similar to `tail -f` on a file), blocking if necessary, when there are no elements.
### Actual behavior
Only the elements that are put within the sleep interval of `1 sec` are getting printed.
### Steps to reproduce the behavior
[code]

If the problem is calling the `seekToFirst()` that creates a snaps

[2020-07-24 13:26] koldat commented on #7033
It is most likely HW issue. That is why there is a checksum so it does not need to be RocksDB fault. You can try to fix SST using sst_tool in this PR #6955

[2020-07-24 13:49] patkivikram commented on #5880
@koldat I see that you are having heap memory issues as well. Our heap with our kafka streams app keeps on growing running in python and using centos. Our settings are
`ROCKS_DB_OPTIONS = {
    "write_buffer_size": 8388608,
    "max_write_buffer_number": 2,
    "block_cache_size": 8388608,
    "bloom_filter_size": 3,
    "max_open_files": 500,
    "block_cache_compressed_size": 8388608,
    "compr

[2020-07-27 21:52] szstonelee commented on #4097
@riversand963 I found it is something related to Jemalloc. I changed the lib from Jemalloc to libc, the .sst file showed in the Rocksdb folder for Linux VM in MacOS. Because MacOS does not use Jemalloc, so it did not happen in MacOS as I described above.

[2020-07-28 05:16] lithdew opened #7183 "Memory leak with C bindings."
### Expected behavior

Zero reachable bytes with the C bindings example provided.

### Actual behavior

[code]

### Steps to reproduce the behavior

Run valgrind's `memcheck` on `c_simple_example`.

[2020-07-28 05:50] MMLRDFly opened #7184 "java-api JVM Crash"
when i try get from an closed db ，JVM Crash，i want this throw an exception

[2020-07-28 06:02] adamretter commented on #7184
@MMLRDFly You should check `RocksDB#isOwningHandle()` before you make your calls. We don't do this internally as it add overhead where others might not want it.

[2020-07-28 06:02] #7184 closed

[2020-07-28 06:12] MMLRDFly commented on #7184
ok  i got it，thanks a lot

[2020-07-28 15:40] bluenote10 commented on #4586
I'm getting the same error on Ubuntu 16.04. Can you remember how you solved the problem?

[2020-07-28 15:48] hegjon opened #7185 "Make it possible to install libraries in a lib64 folder"
I am a Fedora packager and I would like to unretire RocksDB as an official Fedora package [1].

64-bit architectures for Fedora and RHEL/CentOS use /usr/lib64 as a standard location for their libraries.

The previous maintainer patched the Makefile [2], I would prefer to work as close to upstream as possible.

### Expected behavior
Make it easy to install libraries in /usr/lib64.

### Actual behav

[2020-07-28 16:20] adamretter commented on #7185
@hegjon Do you want to propose a PR which works with Make and CMake on RHEL/CentOS? It also needs to work on other Linux platforms too.

[2020-07-28 16:30] hegjon commented on #7185
I can start by proposing a PR for the Makefile where I will try to keep the defaults the same as before.

[2020-07-28 18:32] ajkr opened #7186 "cmake support for link-time optimization"
Among other things, link-time optimizations enable more devirtualization opportunities and inlining across translation units. This can save significant overhead introduced by RocksDB's pluggable interfaces/internal abstractions, like in the iterator hierarchy. https://github.com/facebook/rocksdb/pull/7181 added the corresponding support for Makefile.

With cmake we want to be able to enable LTO su

[2020-07-28 18:45] mrambacher commented on #7186
When someone ultimately gets this working, it might be nice to hide some of the CMake complexities under a "USE_LTO" flag, which would in turn set whatever additional CMake properties were required.

[2020-07-28 20:30] hegjon commented on #7185
cmake works out of the box with install folders and destdir/prefix/libdir.

[code]

[2020-07-28 20:35] hegjon opened #7188 "Fails to build for i686 on Fedora 32"
### Command
[code]

### Flags
[code]

### Actual behavior
[code]

### Details
https://kojipkgs.fedoraproject.org//work/tasks/5431/48035431/build.log
https://koji.fedoraproject.org/koji/taskinfo?taskID=48035431

[2020-07-28 20:37] hegjon commented on #7185
Builds on all arches except i686 https://koji.fedoraproject.org/koji/taskinfo?taskID=48035352. Made #7188 for the failed build.

[2020-07-29 09:53] byteink opened #7197 "double-lock in WriteImplWALOnly"
In WriteImplWALOnly, mutex_ is locked twice, cause deadlock.

First time:
https://github.com/facebook/rocksdb/blob/d9d190742c0a8a3d5ff0b0867383bd38c1d0f5f0/db/db_impl/db_impl_write.cc#L689

Then the second one in the call of WriteStatusCheck:
https://github.com/facebook/rocksdb/blob/d9d190742c0a8a3d5ff0b0867383bd38c1d0f5f0/db/db_impl/db_impl_write.cc#L838

[2020-07-29 17:34] zhichao-cao commented on #7197
Hi @byteink , you are right, will create a PR to fix it. Thanks for pointing out it!

[2020-07-29 17:55] mattchabala commented on #6608
@adamretter Has there been any updates or more information on what was causing this? I'm currently running into the same issue when using a custom Java Comparator with a TtlDB that uses `Options` instead of  `ColumnFamilyOptions`.

[2020-07-30 01:28] shoda-tibco opened #7201 "Trivial: db stat 'Interval WAL' bytes written in gigabytes but labelled as MB"
### Expected behavior
Interval WAL bytes written should be labelled with GB instead of MB.

### Actual behavior
Interval WAL bytes written labelled with MB.

### Steps to reproduce the behavior
Ensure stats are enabled and run with some writes for > 10 minutes, open log file.

[2020-07-30 02:16] grooverdan commented on #7042
In addition to the flags discussion here (that I'm following closely) note that @guyuqi who submitted the same code to mariadb (https://github.com/MariaDB/server/pull/772) missed a `getauxval` runtime check  https://github.com/docker-library/mariadb/issues/318 (and https://jira.mariadb.org/browse/MDEV-23030) on `HWCAP_PMULL` `(1 << 4))`) (wip fix - for maria- https://github.com/mysqlonarm/server/c

[2020-07-30 03:01] guyuqi commented on #7042
Yep, `HWCAP_PMULL` should be also checked in runtime routine like `HWCAP_CRC32` does. Sorry for missing it.
@grooverdan Thanks for your comments, it's informative.
@siying I would like to submit a PR to fix it.

[2020-07-30 06:12] dr-m commented on #7042
MariaDB/server#1645 introduces a revised runtime check for the CRC-32C acceleration:
[code]
I expect to merge it as soon as it has been validated on a (`pmull` capable) CI system.

[2020-07-30 06:42] koldat opened #7204 "L6 level files has deletion entries"
When using manual compactFile deleted entries are sometimes kept even on L6. There cannot be a file that overlays this (there is no L7) so why this happens?

### Expected behavior

No deletion entries on L6.

### Actual behavior

See that I already got to situation that I have deletions on L6. If I compact it manually (compactFile) it produces again SST with deletions. What is the reason?

2020/07

[2020-07-30 12:57] walterzhaoJR commented on #7130
Unfortunately, my environment has been cleaned up.
RocksDB Version is 5.18.3

[2020-07-30 18:13] akankshamahajan15 commented on #7130
Till 6.2 release, auto roll logger, options.keep_log_file_num enforcement is triggered by events like DB reopen or full obsolete scan happens.  In the mean time, the size and number of log files can grow without a limit. Patch has been added in the next release to put a stronger enforcement to the option, so that the number of log files can always under control.  So that might be the reason in you

[2020-07-30 19:20] sahibpandori opened #7206 "Eviction Statistics for Index and Filter Blocks are broken"
Due to side effects of the following pull requests, the block cache eviction metrics for both index and filter blocks are broken.
- https://github.com/facebook/rocksdb/pull/5298
- https://github.com/facebook/rocksdb/pull/5504

I'm wondering if these will be fixed anytime soon or if there's an alternative metric/methodology I could use to estimate memory usage of block cache? Thanks!

[2020-07-30 19:55] zhichao-cao commented on #7206
Hi @ltamasi , you may have more context on this issue.

[2020-07-31 18:47] Daniel-B-Smith opened #7212 "Stale reads when using `Iterator::Refresh()`"
### Expected behavior

The expected behavior is that reads through an iterator should see all writes that have completed prior to calling `Refresh()`.

### Actual behavior

Reads through such an iterator sometimes miss updates that were committed prior to calling `Refresh()`

### Steps to reproduce the behavior

Unfortunately, we don't have a great reproduction outside of the FoundationDB integrat

[2020-07-31 23:29] ajkr opened #7213 "fix cmake support for ROCKSDB_LITE"
### Expected behavior

When setting `ROCKSDB_LITE=On` in cmake, the compiler should be passed one `-O` flag (probably `-Os`?) regardless of the `CMAKE_BUILD_TYPE`.

### Actual behavior

Multiple `-O` flags may be passed, while only the last one takes effect. This results in unpredictable behavior.

### Steps to reproduce the behavior

[code]

[2020-08-01 01:56] walterzhaoJR commented on #7130
OK.Thank you

[2020-08-03 21:25] ltamasi commented on #7206
We don't have a specific ETA for the eviction stats at the moment but if you're just curious about the amount of memory used by the block cache, you can call `GetUsage` on the `Cache` object as described here: https://github.com/facebook/rocksdb/wiki/Memory-usage-in-RocksDB#block-cache . This is also available as the `rocksdb.block-cache-usage` DB property.

[2020-08-04 06:17] darionyaphet opened #7217 "rocksdb 6.11.4 building failed"
When I building rocksdb in gcc version 4.8.5 and Red Hat 4.8.5. It's report :

[code]

[2020-08-04 21:55] pgrivachev opened #7218 "Using TtlDB and deleteRange together"
I tried to use `deleteRange` for rocksdb that opened with `TtlDB.open`, but it does not work for me. Is there any limitation for using them together?

### Expected behavior
`deleteRange` should delete data

### Actual behavior
`deleteRange` does not delete data when using `TtlDB.open` for opening rocksdb.

### Steps to reproduce the behavior
Run the following code:

[code]
Expected output:
[code]

[2020-08-06 08:35] realSmushyTaco opened #7222 "Getting UnsatisfiedLinkError"
### Expected behavior
No error.
### Actual behavior
Crash:
[code]
### Steps to reproduce the behavior
[code]
Create an instance of this class and run the code and you'll get a crash. If it helps I'm using the latest Windows 10 version (64 bit) and I'm using rocksdb verion 6.11.4

[2020-08-06 08:47] realSmushyTaco commented on #7222
The crash refers to line 17 so it seems like just having the options variable there caused the crash for some reason.

[2020-08-06 09:09] adamretter commented on #7222
@realSmushyTaco The error:

[code]

Seems to indicate a problem in your code when calling `Options.newOptions()`. Have you loaded the native library first?

[2020-08-06 09:35] realSmushyTaco commented on #7222
@adamretter yes I have, check the code under steps to reproduce, the first thing I do is call `RocksDB.loadLibrary()`

[2020-08-06 09:46] adamretter commented on #7222
@realSmushyTaco Which version of RocksDB?

Just loading the options is a very simple thing - and we have many test cases for this. Can you please boil down your example to a minimum reproducible test case and make sure to express it in Java please.

[2020-08-06 10:01] realSmushyTaco commented on #7222
@adamretter as state on the bottom of the initial post I'm using 6.11.4 on the latest version of windows (64 bit). Regarding rewriting that in Java I just followed along with this tutorial: https://dev.to/thegroo/simple-rocksdb-with-java-crash-course-20o7 in Kotlin (But without all the extra annotation stuff they used), if you can't read Kotlin just read the code there, it's an accurate representa

[2020-08-06 10:34] adamretter commented on #7222
That may be the case.

However, there is more code there than you need to reproduce the error. To help us to help you, please follow our instructions of creating a minimal reproducible test-case in Java. I suspect that when you distill this down to the bare-minimum we can quickly identify the problem.

[2020-08-06 11:13] realSmushyTaco commented on #7222
[code]
That's the Java equivalent of the code that ran from the start up to the crash.

[2020-08-06 11:23] JanTuck commented on #7222
Relocation issue.

[2020-08-06 11:26] Proximyst commented on #7222
To explain more on Jan's comment:

The issue is that OP is relocating the library and its usages. This means the functions in the native code is not the same as expected (i.e. it is not `org.rocksdb`). If OP tries this without relocation, it should work just fine.

[2020-08-06 11:38] realSmushyTaco commented on #7222
[code]
Since you guys do support Java I assume somebody's had an issue with this before, any help with figuring out what exactly needs to be done to my build.gradle.kts fix my issue would mean a lot. If you don't know how to fix it I don't blame you gradle is confusing lol

[2020-08-06 12:15] adamretter commented on #7222
@realSmushyTaco It's not simple at all.

The C++ code for the JNI layer is written in such a way that certain function names (including namespaces) are expected. You would be best not to relocate the package names for RocksDB when you create your Uber jar.

[2020-08-07 04:46] huynhsamha opened #7225 "Limit memory usage when compaction with RocksDB Java"
### Expected behavior

I'm running a Java Thrift service wrapping RocksDB by using RocksDB Java. I see that in the compaction, RocksDB uses a lot of memory and makes the java service crash.

I'd like to limit memory usage when compaction.

### Actual behavior

This is a RAM statistics on the server I'm running the thrift service

![Untitled Diagram](https://user-images.githubusercontent.com/241957

[2020-08-07 15:07] huynhsamha commented on #7225
I've found the reason which made RocksDB use a lot of memory.

Because another java service I use to remove old data has called **many delete-keys-range requests** and led to increasing RAM usage.

Thanks!

[2020-08-07 15:07] #7225 closed

[2020-08-09 14:19] #7197 closed

[2020-08-10 07:17] ajkr commented on #6725
It looks possible now, just need to set a bunch of options...
[code]
The above does not include anything gtest related.

[2020-08-10 07:18] #6725 closed

[2020-08-10 19:30] pgrivachev commented on #7218
Looks like currently it is not supported for TtlDB
https://github.com/facebook/rocksdb/blob/fdf882ded218344c136c97daf76dfb59e4bc155f/utilities/ttl/db_ttl_impl.cc#L271

[2020-08-11 11:56] #7222 closed

[2020-08-12 06:54] rahmanharoon opened #7241 "Slack logo is not available in login or sign up page"
In login or signup page the slack logo on the top is not available on your website. Hope you guys will fix..

[2020-08-13 18:08] thatsafunnyname commented on #5931
I am also seeing the same ```definitely lost``` records reported by valgrind with RocksDB 6.11.4, it is enough to trigger a compaction with ```db_bench``` to see it.

I found this issue after seeing the same 2 valgrind stacks for ```__cxa_thread_atexit``` in a unit test from our build while upgrading from 5.15.10 to 6.11.4.

The 2 ```__cxa_thread_atexit``` leaks start to appear in ~ 5.18.0 with ht

[2020-08-13 19:00] siying commented on #5931
@thatsafunnyname the LRU cache leaking is intended. This can be avoided if you remove this line: https://github.com/facebook/rocksdb/blob/master/tools/db_bench_tool.cc#L2764 . This line is to intentionally leak blocks in the block cache to speed up the program shut down process.

I can't reproduce the __cxa_thread_atexit leak in my environment in master. Will try 6.11.4

[2020-08-13 19:09] siying commented on #5931
Hmm, I can't reproduce it in 6.11.4 either, Which allocator are you using? We usually allocator in glibc when running valgrind or asan (DISABLE_JEMALLOC=1), as jemalloc doesn't go well with valgrind or asan.

[2020-08-13 21:09] thatsafunnyname commented on #5931
Thanks for taking a look and trying to reproduce.

I had started with the allocator we run with, so jemalloc 5.2.0, but had also tried jemalloc 4.5.0 (valgrind support being dropped in v5) and jemalloc 3.6.0.
I saw the same 2 __cxa_thread_atexit leaks in all of them.
I just also tried building with jemalloc disabled to use the glibc allocator:

[code]

I checked db_bench is not using libjemalloc w

[2020-08-13 21:39] siying commented on #5931
@thatsafunnyname  DISABLE_JEMALLOC=1 should be applied in compiler time, rather than run time.

[2020-08-13 21:40] siying commented on #5931
@thatsafunnyname that's interesting. Thanks for trying it. Let us know what you found.

[2020-08-13 23:50] siying commented on #7241
Which login or signup page do you mean? I don't think https://rocksdb.org/ supports user account at all.

[2020-08-13 23:53] siying commented on #7217
No idea why it happens. How did you build gflags? Download from github and build?
Also, unless you run tests or benchmark, gflags should not be needed to build RocksDB. Set ROCKSDB_DISABLE_GFLAGS=1 for GNU make and -DWITH_GFLAGS=0 for cmake.

[2020-08-14 11:35] thatsafunnyname commented on #5931
**Update summary:**

  I ran into (```illegal instruction```) problems running valgrind with RDB built on AL2, I had to use ```PORTABLE=1``` when building RDB to avoid this, but when built with ```PORTABLE=1``` on an AL2 host I could **_not reproduce_** the ```__cxa_thread_atexit``` lost blocks.

  I did an AL2 on-host build of the latest valgrind (valgrind-3.17.0.GIT) and it had the same valgrind

[2020-08-14 12:56] thatsafunnyname commented on #5931
Using gcc (GCC) 5.3.1 20160406 (Red Hat 5.3.1-6) from devtoolset-4 on the RHEL7 host, valgrind reports the 2 ```__cxa_thread_atexit``` lost blocks records as does clang++ 3.7.1.

On a RHEL8.2 host on AWS with kernel 4.18.0-193.el8.x86_64 , RHEL-8.2.0_HVM-20200423-x86_64-0-Hourly2-GP2 (ami-098f16afa9edf40be) I had to build RDB with ```PORTABLE=1``` to avoid the illegal instruction error from valgri

[2020-08-14 13:42] thatsafunnyname commented on #5931
These are the steps to **_reproduce_** the ```__cxa_thread_atexit``` lost blocks, using a new RHEL7.7 host on AWS EC2.

As I can not reproduce it on "Amazon Linux 2" or RHEL8, and it only ever seems to be 24 bytes in each of the loss records (per ```__cxa_thread_atexit``` ?), I will add a valgrind suppresion for it.

On a RHEL7.7 host on AWS with kernel 3.10.0-1062.1.2.el7.x86_64 , RHEL-7.7_HVM-20

[2020-08-14 13:45] thatsafunnyname commented on #5931
Also noticed at https://jira.mariadb.org/browse/MDEV-21788

[2020-08-14 14:46] thatsafunnyname commented on #5931
```0x58E1C5D: __cxa_thread_atexit (in /usr/lib64/libstdc++.so.6.0.19)```

is

```0x58E1C5D: __cxa_thread_atexit (atexit_thread.cc:130)```

[code]

Similar issue reported at:

  https://github.com/cameron314/concurrentqueue/issues/152

and the upstream bug report, which I think this issue can be closed in favour of as "fixed in upstream".

  https://www.mail-archive.com/gcc-bugs@gcc.gnu.org/msg5516

[2020-08-14 18:30] #6432 closed

[2020-08-14 18:46] siying commented on #7204
Either this file is trivial moved from L0 all the way to L6, or some snapshot prevents those delete records from removed in compactions. Think about whether you have very old snapshots that didn't get released.

[2020-08-14 20:18] koldat commented on #7204
Yes it is most likely snapshot. I still do not understand why snapshot would be an issue. Compaction is creating new files with sequence greater then snapshot and current files are held because of snapshot. So why it should be keeping delete records when merging into L6? Maybe I missed something around sequences, that is not obvious to me.

Flow is that I do a lot of deletes of existing records an

[2020-08-14 22:15] siying commented on #7204
Snapshot doesn't hold any file. Instead, older version of a key is kept so that the snapshot can read it. If an older key is kept, then a later delete would need to be kept too.

[2020-08-14 22:35] koldat commented on #7204
Ok. I thought it works similar way as iterators.  Then behavior makes sense. Thanks for making it clear for me.

[2020-08-14 22:35] #7204 closed

[2020-08-17 16:04] javeme opened #7268 "Invalid column family specified in write batch"
When writing to the database after dropping and re-creating the CF, the following error will be encountered:
[code]

Reproduced code:
[code]

[2020-08-17 16:14] sab24 opened #7269 "missing exception specification '__attribute__((nothrow))'"
### Expected behavior
make static_lib
produce librocksdb.a

### Actual behavior
[code]

### Steps to reproduce the behavior
clone from master, run make static_lib on Macos 10.15

Received the warning instead of error when compiling with
[code]

[2020-08-17 17:39] pdillinger commented on #7269
Possibly relevant: https://github.com/jemalloc/jemalloc/issues/1557

[2020-08-17 18:24] sab24 commented on #7269
Thanks for the suggestion, but this happened with the latest Jemalloc on dev branch, where they write this should be fixed.

[2020-08-17 18:53] #4452 closed

[2020-08-17 19:17] adamretter commented on #7268
@javeme This is expected behaviour... The WriteBatch has a reference to a Column Family that you have subsequently dropped. You then try and write the WriteBatch to the database, obviously that is impossible (and therefore raises an exception) because the Column Family is no longer available.

[2020-08-17 22:46] pdillinger commented on #6698
Just had TimerTest.MultipleScheduleRepeatedlyTest hang for me in a valgrind run on Linux

[2020-08-18 03:48] CCPig opened #7276 "# V6.11.4 build success but apear the link problem"
**cmake -E chdir build cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_SNAPPY=1 -DUSE_RTTI=1 -DROCKSDB_BUILD_SHARED=off -DWITH_TESTS=0 -DWITH_GFLAGS=0 -DWITH_BENCHMARK_TOOLS=0 -DWITH_TOOL=0 -DWITH_CORE_TOOLS=0 -DCMAKE_VERBOSE_MAKEFILE=ON**

**cmake -E chdir build cmake --build . --config release --target rocksdb -- -j 8**

building is normal but linking to test instance makes those error:
[code]

[2020-08-18 05:05] jay-zhuang commented on #6698
#7277 may fix the problem.

[2020-08-18 05:59] darionyaphet opened #7278 "Building V6.11.4 failed"
When using `cmake .` and `make -j12` report some error.

[code]

[2020-08-18 06:59] iFA88 commented on #3216
Hey @christian-esken, thanks for your very detailed debugging, is very interesting. I face similar issue when I use my DB with many CFs and 1+ trillion keys. Several times my DB memory usage increases for 20-23 GB(all what i have free) in few hours, very randomly.
My issue is like what you describe, very slow memory increasing day for day.
I have dumped the memory from the process, and i have seve

[2020-08-18 08:37] javeme commented on #7268
@adamretter Sorry for lack of detailed description, I mean when the CF is created for the second time (when i = 1, not i=0), the new CF can't work.

[2020-08-19 00:00] akankshamahajan15 commented on #7278
I am not sure but I think this might be an issue related to gflags linking. Can you share the steps how did you install and build the gflags?  Also can you  run cmake with -DGFLAGS=0 or 1. If you don' need to run tests/benchmark, you can also do cmake with  -DWITH_GFLAGS=0 as gflags are not needed to build RocksDb in that case.

For reference: https://github.com/facebook/rocksdb/wiki/Building-on-W

[2020-08-19 02:00] mrambacher opened #7284 "db_bench throws an exception when passed an invalid benchmark"
### Expected behavior

I expected an error "no such benchmark"

### Actual behavior

Got a stack trace out.

### Steps to reproduce the behavior

./db_bench --db=/tmp --use_existing_db=false --benchmarks=fred --compression_type=none

Note that I think this is a regression introduced by a recent change in 6.11 (I do not recall seeing it previously).

[2020-08-19 06:58] akankshamahajan15 commented on #7284
thanks @mrambacher for raising it. @jay-zhuang Could you take a look? I think it shows data race in Timer called through StatsDumpScheduler.

[2020-08-19 20:11] jcalcote opened #7288 "Segfault in rocksdb::DBImpl::GetImpl when calling Java org.rocksdb.RocksDB.get (ver 6.11.4)."
I'm using RocksDB Java version 6.4.6 with Java 8 (java-1.8.0-openjdk-1.8.0.181-3.b13.el7_5.x86_64 on CentOS 7.6).

The Java stack dump output looks like this:

[code]

### Expected behavior
No segfault.

### Actual behavior
Segfaults sometimes - random, intermittent, but fairly frequent.

### Steps to reproduce the behavior
I'm opening my DB like this:
[code]

When the segfault happens, it occurs

[2020-08-19 20:14] akankshamahajan15 commented on #7284
Update: With the latest changes, it shows error in the deletion of unique_ptr Timer.

[2020-08-20 07:22] suimi opened #7291 "JVM crashed at MultiGet executed"
While Rocksdb was executing MultiGet, a fatal error occurred in the JVM resulting in a crash, the following is the two stacks that crashed

rocksdbjni version: 6.5.2

[code]

[code]

 any idea?  can avoid this problem?

[2020-08-20 11:27] adamretter commented on #7291
@suimi Do you still see the same problem in 6.11.x?

[2020-08-21 08:17] suimi commented on #7291
@adamretter  There is currently no upgrade to version 6.11.x, will try upgrade to 6.11.x for testing

[2020-08-21 15:51] akshaan opened #7299 "SST files written using SstFileWriter don't work with TtlDB.ingestExternalFiles"
When `ingestExternalFiles` is called on `TtlDB` with files written using `SstFileWriter`, the call returns without issue but any subsequent queries to the DB will fail with (often inscrutable) errors. This is because `TtlDB` requires a timestamp to be appended to each row whereas SST files from `SstFileWriter` don't have this by default. When querying `TtlDB`, the `get` call attempts to strip a ti

[2020-08-24 20:30] Kixunil opened #7307 "Compilation fails on Ubuntu 20.04"
According to https://github.com/romanz/electrs/issues/292 rocksdb fails to compile on Ubuntu 20.04.

Cc @burguesia

### Expected behavior
The library compiles

### Actual behavior
[code]

### Steps to reproduce the behavior
Run `"c++" "-O3" "-ffunction-sections" "-fdata-sections" "-fPIC" "-m64" "-I" "rocksdb/include/" "-I" "rocksdb/" "-I" "rocksdb/third-party/gtest-1.7.0/fused-src/" "-I" "snappy/"

[2020-08-24 20:31] alucarded opened #7308 "MultiThreaded/MultiThreadedDBTest.MultiThreaded sometimes fails"
### Expected behavior
Test is deterministic

### Actual behavior
Test sometimes fails, eg:
db_test: memtable/hash_linklist_rep.cc:563: rocksdb::{anonymous}::Node* rocksdb::{anonymous}::HashLinkListRep::GetLinkListFirstNode(rocksdb::{anonymous}::Pointer*) const: Assertion `header->GetNumEntries() <= threshold_use_skiplist_' failed.

### Steps to reproduce the behavior
Run db_test (reproduction rate

[2020-08-26 05:27] hasan169 commented on #6608
@adamretter

I am also facing this exception with this settings
[code]

[2020-08-26 06:30] x-x-p opened #7313 "Give me some help, for Stalling writes"
We use rocksdb to store key / value data. When the number of data reaches 800 million, the background log will always print 'stalling writes'. The following is rocksdb configuration and warn log. How can I optimize it?

## Options
[code]
## Logs
[code]

[2020-08-26 07:08] jurmous commented on #6608
@hasan169 Can you try to move `new CustomComparator(comparatorOptions)` into a variable instead of directly injecting it?

[2020-08-26 08:34] hasan169 commented on #6608
@jurmous

No luck.

[2020-08-27 03:29] #6698 closed

[2020-08-27 05:52] uditsharma opened #7318 "Iterator.seek(prefix) returning different response pre/post restart."
Code i am using to replicate.

`package rocksdb;

import org.rocksdb.*;

public class RocksExperiment {

    public static void main(String[] args) throws RocksDBException {
        RocksDB.loadLibrary();
        String path = "/home/learning/rocks";
        RocksDB db = getDB(path);
        createDataIfMissing(db);
        validate(db);
        db.close();
    }

    private static void validate(

[2020-08-28 21:47] #7185 closed

[2020-08-30 11:53] Cavallium opened #7326 "Database corrupted itself after a restart"
After closing a rocksdb database as usual, the database can't be opened anymore.
The database is almost a year old and it never had such problems.
The only special operation that I did recently was adding a new column family to the database, but it still worked afterwards.

### Expected behavior
Being able to open the database.

### Actual behavior
The database can't be opened anymore.
[code]

###

[2020-08-31 16:43] pdillinger commented on #7318
Iterating outside the prefix (with default options) is undefined behavior. https://github.com/facebook/rocksdb/wiki/Prefix-Seek#manual-prefix-iterating  You probably want auto_prefix_mode.

[2020-08-31 16:43] #7318 closed

[2020-08-31 18:01] cheng-chang commented on #7307
https://github.com/facebook/rocksdb/pull/7330

[2020-08-31 18:23] cheng-chang commented on #7313
you can increase cf_options's hard_pending_compaction_bytes_limit

[2020-08-31 18:35] cheng-chang commented on #7326
Can you access files under /srv/data/database_main_hot/? Is it a permission issue?

[2020-09-01 05:18] x-x-p commented on #7313
[code]
cf_options's hard_pending_compaction_bytes_limit is  big enough, my db folder size is only 200GB

[2020-09-01 08:56] Cavallium commented on #7326
Yes, I can access them, there are all the .sst files with the right permission, but the ones that are listed in the error are missing.

[2020-09-01 09:16] #7291 closed

[2020-09-02 08:57] wolfkdy opened #7340 "[BUG]FlushMemTable races with each other and crashes under DEBUG mode"
this issue is duplicated with https://github.com/facebook/rocksdb/issues/5126
I open another ticket as the previous one is opened one year ago and seems untracked now as no one contributed a unittest.
this issue won't be a problem in release mode as asserts are eliminated.
The two asserts won't be held.
[code]

### Steps to reproduce the behavior
+ flush thread 1 pick column family 0，1，2,  3 then

[2020-09-02 10:37] rockeet opened #7341 "make db_bench_tool_test failed"
### Expected behavior
`make db_bench_tool_test` should success

### Actual behavior
`make db_bench_tool_test` failed

### Steps to reproduce the behavior
run `make db_bench_tool_test`

[code]

[2020-09-02 18:00] riversand963 commented on #7340
Thanks @wolfkdy for reporting. We can schedule multiple bg threads and each of them flushes one column family. Will submit a fix for this.

[2020-09-02 19:36] jay-zhuang commented on #7341
Seems related to #6389

[2020-09-03 21:40] #6490 closed

[2020-09-05 08:05] thekvs opened #7352 "Fails to build with Clang 11"
[code]
RocksDB version 6.11.4
Clang version 11
Ubuntu 18.04.5 LTS

[2020-09-09 07:19] meilihao opened #7363 "[BUG] core dumped on vmull_p64 in crc32c_arm64.cc"
### Expected behavior
no error
### Actual behavior
core dumped
### Steps to reproduce the behavior
env:
os: ubuntu 16.04.6
cpu: Phytium ft2000plus
rocksdb: 6.11.4

mystep:
[code]

gdb log:
![2020-09-09_15-18-21](https://user-images.githubusercontent.com/4382586/92567139-d3830880-f2af-11ea-9479-c4fa5e57e068.png)

[2020-09-09 10:45] meilihao commented on #7363
`put a big value` will get the same error:
[code]

gdb:
![截图_2020-09-09_18-44-57](https://user-images.githubusercontent.com/4382586/92589070-96793f00-f2cc-11ea-9201-457dd1814212.png)

[2020-09-09 20:28] jay-zhuang commented on #7352
It should already be fixed by #7025

Please re-open if needed.

[2020-09-09 20:28] #7352 closed

[2020-09-10 06:53] shemul commented on #7313
@x-x-p https://github.com/facebook/rocksdb/wiki/Write-Stalls#causes-of-write-stalls

[2020-09-10 13:43] adammitchelldev opened #7370 "Java UX: using an iterator from WriteBatchWithIndex can segfault"
Just a UX issue with the JNI and `WriteBatchWithIndex` that caused us a headache; RocksDB causing avoidable segfaults is annoying to debug in Java.

In this case, creating an iterator with base for a WBWI is not supported in the default configuration (`overwriteKey = false`). The C++ behaviour appears to be to return a `nullptr` when this happens, so an acceptable Java fix may be to return `null`

[2020-09-10 16:20] #7313 closed

[2020-09-10 18:47] siying commented on #7363
If you store the result of std::string(1023,'c') into a variable and pass in the variable, would you see the same problem?

[2020-09-11 00:57] wolfkdy opened #7376 "[BUG/OPTIMIZE] misuse of wfe instruction on ARM"
https://github.com/facebook/rocksdb/blob/c7432cc3c0848ad4d2a34a3eb40ad94d37477856/port/port_posix.h#L170
I don't know why using wfe instruction here to yield cpu. But refering to some literals, this instruction is possible to turn cpu off for a while. We've observed significant performance downgrade due to this op. By using `yield` instruction,
[code]
performance could be 2x better.

I strongly en

[2020-09-11 05:34] meilihao commented on #7363
@siying I tried, core dumped too.

[2020-09-11 06:15] ajkr commented on #7313
Just to clarify, the limit you showed (256GB) does not mean RocksDB allows up to 256GB extra data to lie around uncompacted. It means it allows extra data to accumulate until it would require 256GB of compaction writes to return the LSM to its target shape according to your config. For example, if your LSM has write-amplification of 10x, then it'd allow the newest level to exceed its target size b

[2020-09-14 09:52] meilihao commented on #7363
@guyuqi can you fix this?

[2020-09-14 10:07] guyuqi commented on #7363
The PR #7233 is to fix this issue.

It needs to add PMULL/VPULL runtime-check to detect whether vmall instruction is supported or not.

[2020-09-14 16:06] pdillinger commented on #6653
Update:

Old bad: [----------] 48 tests from ParallelIO/DBBasicTestWithParallelIO (131162 ms total)

New, seems to be OK: [----------] 48 tests from ParallelIO/DBBasicTestWithParallelIO (1909 ms total)

I suspect this issue was fixed with #7101 where the problem manifesting on MacOS as complete hang would greatly and unpredictably slow down other non-Linux.

[2020-09-14 16:06] #6653 closed

[2020-09-14 16:45] siying commented on #7363
@meilihao can you confirm that https://github.com/facebook/rocksdb/pull/7233 would fix your issue?

[2020-09-15 00:18] jay-zhuang opened #7385 "block_size and block_restart_interval are not dynamically changeable"
### Expected behavior
The comment indicates `block_size` is changeable:
https://github.com/facebook/rocksdb/blob/9a5886bd8c71aaa4466e0a8b1d7d1f04ae452b6a/include/rocksdb/table.h#L166-L167

### Actual behavior
But it's actually not:

https://github.com/facebook/rocksdb/blob/b9bb59d49df264363d7250ceba59213706b3bb61/options/cf_options.cc#L511-L514
### Steps to reproduce the behavior
[code]

[2020-09-15 00:21] jay-zhuang commented on #7385
Assigning to @mrambacher for investigation. Thanks 🙏

[2020-09-15 01:49] meilihao commented on #7363
@siying It works. At least the program has not crashed so far, I want to test more.

[2020-09-16 09:13] lnparker opened #7391 "v6.4.6 segfault error in lru_cache when DeleteEntry"
### Actual behavior
segfault  : general protection ip:ac9501 sp:7fae9a5fa4e0 error:0

gcc:4.8.2
rocksdb:v6.4.6

[code]

### Steps to reproduce the behavior
sorry,  the crash is not  reproducible  since it happens after several days of processing of a rather large dataset.

[2020-09-16 09:37] meilihao commented on #7363
@siying My program is still running. LGTM.

[2020-09-16 15:34] xkszltl commented on #6179
Close since all 3 PR are in latest release.

[2020-09-16 15:34] #6179 closed

[2020-09-16 16:24] mrambacher opened #7393 "Crash in db_bench when --table_cache_numshardbits=20"
I think the problem is that the LRUCache wants the numshards to be <= 20 (or it returns nullptr) but the db_bench supports numshards==20.  When we get the impedance mismatch, there is no cache and we crash

A similar issue is likely to exist with tables if using options configuration and specifying the shard bits too high.

### Steps to reproduce the behavior

./db_bench --db=/data/db --use_existi

[2020-09-16 21:42] ajkr opened #7395 "Extend `CompactOnDeletionCollectorFactory` to consider range tombstones"
Range tombstone users should have a convenient way to mark files for compaction when range tombstone-heavy files are generated, just like point tombstone users can. We can adapt the `CompactOnDeletionCollectorFactory` to trigger based on a per-file range tombstone count threshold.

[2020-09-16 21:55] ajkr opened #7396 "Support `CompactionFilter` function called only during flush"
We offer a feature, `ReadOptions::read_tier = ReadTier::kMemtableTier`, for reads that access memtable only. This is naturally useful for things like application-level transaction conflict checking, where I/O is undesirable and only recent keys need to have conflict checking metadata attached in their values.

For such use cases, it makes sense to strip the conflict checking info during flush, as

[2020-09-17 07:35] zgaoq123 opened #7398 "crash : Illegal instructions --- in CMakeList.txt with -march=native"
### describe
The preconditions are: The CPU instruction set of server a is different from that of server B

### Expected behavior
server B start-up successfully

### Actual behavior
Failed to start-up

### Steps to reproduce the behavior
On Linux platform，compile and generate the executable file on server A.

But the executable file starts up on server B. When B start-up, it will directly report a

[2020-09-17 10:46] QuLogic commented on #7188
You could disable `FAIL_ON_WARNINGS`; `-Werror` shouldn't be added for distro builds anyway.

[2020-09-17 22:58] pdillinger commented on #7398
You have to set the PORTABLE flag to create a binary usable on machines with different instruction subsets under the same architecture.

[2020-09-17 22:58] #7398 closed

[2020-09-17 22:58] kevinliuca20 opened #7405 "SST files overlap at a level and keys are not ordered in a SST file"
We are upgrading our rocksdb storage from 5.7.2 to 6.4.6. After upgrading to the 6.4.6 version, we noticed some shards returned unexpected keys in the iteration. Then we dumped the manifest and sst files, and found the (smallest key, greatest key) of some SST files at the bottommost level overlapped,  and some SST files contained multiple sorted ranges but these ranges are overlapped.

For example

[2020-09-18 01:29] ajkr commented on #7405
One known possibility is block cache key conflict leading to an old block in cache being returned instead of a new block. That's aligned with seeing an ordered sequence of keys injected in the middle of another ordered sequence of keys. Another known possibility is faulty hardware.

More details on the key conflict possibility: block cache keys are composed of (inode number, inode generation (4 by

[2020-09-18 19:14] siying commented on #7376
@guyuqi @HouBingjian @Zhiwei-Dai  any comment on this?

[2020-09-18 19:36] ajkr opened #7408 "sanity check key ordering during flush/compaction"
When run on old platforms or faulty hardware, RocksDB can experience key ordering violations. This is just one possible mode of corruption but is relatively easy to check. It is particularly important to check during flush/compaction where the mis-ordering could be persisted resulting in permanent data loss.

Here is an example of how one RocksDB fork does the check: https://github.com/cockroachdb

[2020-09-18 21:09] areddy1213 opened #7410 "Corruption: Unable to read from file .log: read attempt would read beyond file bounds, with encryption enabled"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2020-09-18 21:21] areddy1213 commented on #7410
Hi Rocksb team,
  We have with encryption enabled and on Db::Open if a .log(wal) file is partially written or unwritten, is leading to this issue.
Which is due to the fact that when we do a DB::Open() in a encryption env if the file size is zero or less than the prefix length < 2*blockSize.  it leads to this issue.

But after some time(around 1-2 hrs) the log file is gone (deleted or merged.) and

[2020-09-19 08:10] Zhiwei-Dai commented on #7376
I believe that's a nice choice. Folly has accepted the pr 4 years ago.
https://github.com/facebook/folly/blob/master/folly/portability/Asm.h
https://github.com/facebook/folly/commit/add5a7aeacacb050c4b0bad84aac1475fa2658c9

[2020-09-20 16:25] thatnerdjosh commented on #5151
@adamretter is GCC 4.8 really needed to build this? Seems to work for me using macOS Catalina default and doing `brew install rocksdb`:

[code]

[2020-09-20 20:15] adamretter commented on #5151
@thatnerdjosh No. If using GCC, the minimum supported version is 4.8. Otherwise, clang is fine too.

[2020-09-21 07:55] lnparker commented on #7391
hello, anybody helps me , thank u !

[2020-09-21 10:27] adamretter commented on #4786
The investigation was done here - https://github.com/evolvedbinary/jni-benchmarks

The conclusion is that, we should make all JNI native methods static where possible to improve performance...

[2020-09-21 12:41] mohitmv opened #7416 "Compilation failing due to gtest"
The gtest present in `third-party/` is failing to compile because it's pick headers (`gtest.h` from another version of gtest installed in my system. The latest gtest have deprecated `TearDownTestCaseFunc` method. Now It has new name - `TearDownTestSuiteFunc`.

### Expected behavior
`-Ithird-party/gtest-1.8` should be the first include_dir while compiling `gtest-all.cc` , so that compiler doesn't p

[2020-09-21 14:54] mohitmv commented on #7416
btw - Another problem is, module `testharness` is used if `@WITH_BENCHMARK_TOOLS` is true, however it's generated only if `@WITH_TESTS` flag is true. Hence you will get linker error.

Hence You cannot use build benchmark tools if you don't wish to build/run tests.

[2020-09-21 16:35] jay-zhuang commented on #7391
Thanks @lnparker for reporting the issue. How often does it happen? It would be great if you could provide more information to help us reproduce the issue.

[2020-09-21 17:43] jay-zhuang commented on #7410
Thanks @areddy1213 for reporting the issue. Seems like WAL file is corrupted, can you share the WAL file? It would be great if you could provide more information on how to reproduce the issue.

[2020-09-22 04:00] areddy1213 commented on #7410
Hi Jay,
   Actually the file size is empty and has no data(size zero), but when we do DB::Open(...)  in a encrypted environment, rocksdb tries to read the file and if the prefix.length() (in this case 0.) is less than 2*encryption block size. It results in this error.

[2020-09-22 04:02] areddy1213 commented on #7410
When I manually try to delete this file, It results in a I/O error.

[2020-09-22 04:39] jay-zhuang commented on #7410
Sounds like a file system issue.
Is rocksdb running when you try to delete the WAL file?

[2020-09-22 05:29] KiranCS-17 opened #7422 "Read Performance for various workloads"
Is it possible to provide the read performance benchmarks for various workloads

[2020-09-22 10:16] software-zjz opened #7423 "error for compile with -fPIC"
The compilation error is shown below:

root@iZj6c0xle28c53ju72qg5hZ:/usr/local/src/rocksdb# make shared_lib
$DEBUG_LEVEL is 0
  GEN      util/build_version.cc
  CCLD     librocksdb.so.6.13.0
/usr/bin/ld: ./memory/concurrent_arena.o: relocation R_X86_64_TPOFF32 against symbol `_ZN7rocksdb15ConcurrentArena9tls_cpuidE' can not be used when making a shared object; recompile with -fPIC
/usr/bin/ld: ./m

[2020-09-22 10:17] software-zjz commented on #7423
cmake version is 3.5.1

[2020-09-22 15:13] mrambacher commented on #7423
What OS are you using?  Did you do a make clean first?

[2020-09-22 15:15] mrambacher commented on #7422
What workloads are you suggesting?  There are some performance results on the Wiki: https://github.com/facebook/rocksdb/wiki/Performance-Benchmarks

[2020-09-22 15:35] KiranCS-17 commented on #7422
Read performance benchmark with complex deep nested structures with depth = 10

[2020-09-22 17:17] areddy1213 commented on #7410
But the actual issue is this.... The file size is empty and has no data(size zero), but when we do DB::Open(...) in a encrypted environment, rocksdb tries to read the file and if the prefix.length() (in this case 0.) is less than 2*encryption block size. It results in this error.

[2020-09-22 17:29] siying commented on #7376
@wolfkdy feel free to send a Pull Request to get it fixed.

[2020-09-23 01:22] wolfkdy commented on #7376
@siying I‘ve discussed with @HouBingjian and @Zhiwei-Dai offline as we happen to be colleagues.
FB Folly uses `yield` to schedule cpu out, this is a way that certainly can not be wrong.
Apart from this, the op sequences on ARM which perfectly matches X86's `pause` is `"sevl; wfe"`.
The difference is `yield` schedules current thread out of the core while `sevl;wfe` will not.
**Zhiwei-Dai** made a p

[2020-09-23 10:33] lintanghui commented on #3760
same problem with write_memtable_time cost a lot of time. after set THP, it cannot resolve yet

[2020-09-23 18:40] ajkr opened #7429 "Add `ParseInternalKey()` runtime check in optimized builds that keys are eight bytes or longer"
This would be a sanity check that is expected to never fail except on faulty hardware, which we'd like to detect earlier.

[2020-09-23 18:46] ajkr opened #7430 "investigate making `ParseInternalKey()` return a `Status`"
`ParseInternalKey()` is unusual as it returns a `bool` instead of a `Status`. Now we have assertions to ensure clients actually check the `Status` objects they are returned, so `Status` is safer than `bool`. We can try making it a `Status` and see if performance regresses.

[2020-09-23 21:58] kevinliuca20 commented on #7405
Thank you very much. It contains lots of details which are very helpful.

We are using ext4 and your tool prints random generation numbers. The sst file numbers are around half million currently. Our comparator can handle the internal keys well and return the same result as the user keys, so [#4575](https://github.com/facebook/rocksdb/pull/4575) does not affect us? The block cache conflict and fau

[2020-09-24 02:49] areddy1213 commented on #7410
Also I ran db_wal_test (kSkipAnyCorruptedRecords) it is failing.

[2020-09-24 03:13] Zhiwei-Dai commented on #7376
In LinaroConnectVirtual2020, Martin Weidmann introduces the 2020 extensions to the A profile architecture. WFE/WFI with timeout appears in ARMv8.7. He said:
_A lot of potential usage of WFE/WFI is blocked by the unlimited time that the WFx might be asleep.
Armv8.7 introduces variants of WFE/WFI with a software specified timeout. (Specified in terms of time, not cycles)
WFET Xd / WFIT Xd
 Xd holds

[2020-09-24 17:12] jay-zhuang commented on #7410
Yeah, that's one of the issue. Also it's unable to read CURRENT file: `Corruption: CURRENT file does not end with newline`. Patches are welcomed. Or you could implement your own ENV to do the encryption.

[2020-09-24 18:40] yiwu-arbug commented on #7405
@ajkr Thank you for the detailed explanation of the issue. We hit the cache key issue last week and was about to file an issue. Do you know which kernel version is affected by the random inode generation issue? Thanks.

[2020-09-24 18:53] yiwu-arbug commented on #7405
Also, is it possible to make the cache key take into account the file checksum as well?

[2020-09-24 19:37] #6521 closed

[2020-09-24 20:18] pdillinger commented on #7405
Our relatively new "unique with extremely high probability" identifier for sst files is saved DB session id + file number. The DB session id is currently only available as a 20 byte human readable string, with about 100 bits of entropy. File numbers have 10-20+ bits of entropy. To generate efficient but effective cache keys from this, I would generate two 64-bit hashes from the DB session id, and

[2020-09-24 20:57] yiwu-arbug commented on #7405
That sounds awesome. With file number being part of the hash at least we are very unlikely to get conflict within the DB instance. I'm Interested in how the DB session id is generated. Any reference?

Also I'm thinking how to detect if cache conflict do happen. For compaction we can do key order check would be helpful. But looks like there's nothing we can do for point-get request. Thoughts?

[2020-09-24 21:32] pdillinger commented on #7405
It does cost some extra cache key bytes, at least when you want your cache optimized for the case of multiple DB instances accessing the same SST files. (NB: existing cache key requires shared storage to be considered same SST file; my proposal would generalize to copied files.)

https://github.com/facebook/rocksdb/blob/master/db/db_impl/db_impl.cc#L3704

Compare data block range to upper/lower bo

[2020-09-24 22:06] yiwu-arbug commented on #7405
Thanks. So it takes a uuid and then hash to generate 128bit random number. I search a bit and looks like the uuid file is based on /dev/urandom. Maybe it can directly read 128bit from /dev/urandom.

[2020-09-24 22:42] pdillinger commented on #7405
This way was kind of a matter of "if it ain't broke, don't fix it" and kind of a matter of only relying on what's already available in Env.

Improvement welcome, but e.g. adding more code to Env to do basically the same thing for this one case might not be an improvement ;)

[2020-09-24 22:59] yiwu-arbug commented on #7405
lol, totally agree. My comment was just a random thought.

[2020-09-25 16:10] siying commented on #7376
Sure. Feel free to send a PR to change to `yield`. The code was copied from folly, so it's safe to stick to what they use.

[2020-09-25 23:54] ajkr commented on #7405
Correction: it's actually _newer_ versions of ext4 that would be affected: https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=232530680290ba94ca37852ab10d9556ea28badf

[2020-09-26 00:28] siying commented on #7363
#7233 is merged.

[2020-09-26 02:32] #7363 closed

[2020-09-26 16:48] baaluo opened #7440 "I need a simple Hello world project, with cmake that has rocksdb linked and working.. Please"
Hi rocksdb,

I was trying to learn to use rocksdb in my c++ project, and even tho, I compiled it correctly,
I can't make a simple program to work..

I am using GCC 9.3.0 compiler cmake 3.18.3, I am on ubuntu 16.04

Here is my c++ code
[code]

Here is my CMAKE
My main.cpp file is located in programs directory

[code]

When I do `make` to compile my main.cpp
these errors it will throw
[code]

[2020-09-27 03:30] Connor1996 opened #7441 "CompactRange with change_level = true will move all the files of the level"
As comment of change_level said, compacted files will be moved to the minimum level capable of holding the data or given level.
https://github.com/facebook/rocksdb/blob/8f8264032dbf8667b0792f683b1221a74cf8e4bf/include/rocksdb/options.h#L1531-L1533
Whereas in `RefitLevel`, it moves all the files of the level to target but not compacted files https://github.com/facebook/rocksdb/blob/8f8264032dbf8667

[2020-09-29 07:26] reacer opened #7456 "compile simple_example.cc failed"
I compile rocksdb by docker. Dockerfile:

[code]
I compile simple_example.cc with
g++ -O2 -fno-rtti -std=c++11 simple_demo.cc -o simple_demo  -lrocksdb  -lrt -lpthread -ldl -lz -lbz2

error info:
[code]
![image](https://user-images.githubusercontent.com/7609565/94526394-09405f00-0268-11eb-912c-25608f7c3755.png)

[2020-09-29 16:19] ramvadiv commented on #7429
ParseInternalKey() already seem to have check for internal key to be >= 8 bytes (even in optimized builds). https://github.com/facebook/rocksdb/blob/master/db/dbformat.h#L328

@ajkr pointed of some crashes that indicate some corruption after this check   -  we are not able to clearly explain the root cause of those crashes yet (other than application causing a corruption to Internal Key memory are

[2020-09-29 18:33] ajkr commented on #7441
The goal of change_level is to support compaction migrations (e.g., changing num_levels, changing level_compaction_dynamic_level_bytes, etc.). Such migrations are only possible if we migrate all the files in the level. I agree it is pretty confusing because we allow `CompactRange()` to specify non-nullptr endpoints together with `change_level = true`, which almost guarantees the level change (`Ref

[2020-09-29 22:46] mrambacher commented on #7440
It looks as if you build RocksDB with BZ2 and Snappy.  Your CMake project will need those libraries.

You also appear to be missing the threading library.

You should be able to use the CMake settings from building RocksDB to figure out what packages you also need to include in your own.

[2020-09-29 22:51] mrambacher commented on #7341
Fixed by #7344

[2020-09-29 22:51] #7341 closed

[2020-09-29 22:55] #7133 closed

[2020-09-29 22:57] #7099 closed

[2020-09-29 23:07] mrambacher commented on #6550
@pdillinger Is this still an issue or should it now be closed?

[2020-09-29 23:35] mrambacher commented on #5297
@sagar0 @adamretter Is this still an issue?

[2020-09-29 23:45] #6392 closed

[2020-09-29 23:49] #5429 closed

[2020-09-30 00:01] mrambacher commented on #4873
The Configurable classes replaced these internal methods and use const references.

[2020-09-30 00:01] #4873 closed

[2020-09-30 00:40] ajkr commented on #5133
#6429 should have fixed this by moving global seqno out of the cached block.

[2020-09-30 00:40] #5133 closed

[2020-09-30 00:44] mrambacher commented on #6618
This was fixed by #6658

[2020-09-30 00:44] #6618 closed

[2020-09-30 00:45] #7284 closed

[2020-09-30 00:47] mrambacher commented on #5159
Fixed by #5402

[2020-09-30 00:47] #5159 closed

[2020-09-30 00:54] ajkr commented on #4998
Fixed by #6920.

[2020-09-30 00:54] #4998 closed

[2020-09-30 00:57] mrambacher commented on #3847
Closing per above comment.

[2020-09-30 00:57] #3847 closed

[2020-09-30 01:03] mrambacher commented on #4694
This sounds like a potential LD_LIBRARY_PATH issue.

[2020-09-30 01:03] #4694 closed

[2020-09-30 01:09] mrambacher commented on #5530
Fixed by #6660

[2020-09-30 01:09] #5530 closed

[2020-09-30 03:17] akrylysov opened #7465 "Missing GitHub releases"
Some of the recent versions mentioned in HISTORY.md are not tagged on GitHub, hence the releases are missing.

Can anyone tag the latest release 6.13 please?

[2020-09-30 03:27] SixPlusZero commented on #7465
Same here! I'd like the official support of secondary instance for RocksDB java use case, which should be included since 6.12 if the git commit history is correct.

[2020-09-30 03:52] pdillinger commented on #5276
Fixed in #7101, though further cleanup as described there would be nice

[2020-09-30 03:52] #5276 closed

[2020-09-30 06:50] #7456 closed

[2020-09-30 07:46] adamretter commented on #2282
We found that performance was quite bad with out initial implementation, we are exploring new routes to working around the performance issues and hope to send a PR in the next month or two.

[2020-09-30 07:47] #5151 closed

[2020-09-30 07:51] adamretter commented on #7465
Not all releases listed in History.md become public releases. Some of those are point or internal releases. Only major stable milestones become public releases.

[2020-09-30 07:53] adamretter commented on #5297
@mrambacher I could take a look at this in the next few days if you want confirmation?

[2020-09-30 09:08] lnparker commented on #7391
sorry, the crash is not reproducible since it happens after several days of processing of a rather large dataset.
gcc:4.8.2
rocksdb:v6.4.6
segfault : general protection ip:ac9501 sp:7fae9a5fa4e0 error:0

is it possible that the reason is because gcc version ? @jay-zhuang

[2020-09-30 10:29] mrambacher commented on #5849
This warning appears to be fixed on MacOS.  Hard to say exactly when since db_stress has been refactored quite a bit.

[2020-09-30 10:29] #5849 closed

[2020-09-30 13:00] mrambacher commented on #6769
I no longer see this issue.  It was most likely fixed as part of #6660

[2020-09-30 13:00] #6769 closed

[2020-09-30 13:21] mrambacher commented on #4477
@anand1976  Could this be the same issue as #3760?  Should we close this as a duplicate/abandoned or leave it open/unresolved?

[2020-09-30 13:36] mrambacher commented on #3816
I believe this was fixed by #6921

[2020-09-30 13:36] #3816 closed

[2020-09-30 18:25] jay-zhuang opened #7470 "flaky test: env_test: `GetUniqueId()` doesn't return unique id"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3708/workflows/14702f71-5afb-4b50-b0b0-0344cecfb0d1/jobs/35850/steps

[code]

[2020-09-30 18:28] jay-zhuang opened #7471 "flaky test: db_compaction_test"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3706/workflows/9bba0d7d-e6db-4354-a3a9-59f38d40e1f5/jobs/35800

[code]

[2020-09-30 18:29] jay-zhuang commented on #7471
Another failure for master: https://app.circleci.com/pipelines/github/facebook/rocksdb/3671/workflows/0b18720b-58ee-4829-baa1-ea93d7ce87af/jobs/34955

[2020-09-30 18:34] jay-zhuang opened #7472 "flaky test: error_handler_fs_test"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3647/workflows/f62e1cb0-fd3a-40aa-b675-75c0c9fe9811/jobs/34370

[code]
It's clang10-ubsan build.

[2020-09-30 19:37] siying commented on #6247
@Myasuka is the problem fixed?

[2020-09-30 19:38] siying commented on #4946
Is it fixed?

[2020-09-30 19:38] siying commented on #4674
We already turned to use CircleCI for Windows build.

[2020-09-30 19:38] #4674 closed

[2020-09-30 19:40] siying commented on #2874
Although there are outstanding works needed to improve readahead, the issues mentioned here seem to be stale. Close it and track it in somewhere else.

[2020-09-30 19:40] #2874 closed

[2020-09-30 19:56] ajkr commented on #4946
I think #5779 should've fixed it.

[2020-09-30 19:56] #4946 closed

[2020-09-30 20:46] jay-zhuang opened #7475 "TSAN: backupable_db_test-BackupableDBTest.TableFileWithoutDbChecksumCorruptedDuringBackup"
TSAN data race warning:

https://app.circleci.com/pipelines/github/facebook/rocksdb/3755/workflows/25d194f9-59f1-44c2-be41-17520f33b4ad/jobs/36985

[code]

[2020-09-30 20:53] jay-zhuang commented on #7471
I tried to re-run `db_compaction_test` 100 times (#7474), failed on a different test:
[code]

https://app.circleci.com/pipelines/github/facebook/rocksdb/3757/workflows/a5fdca9d-d94a-4852-9088-03926a8c1855/jobs/36987/steps

[2020-09-30 20:56] ajkr commented on #7429
Agreed `ParseInternalKey()` is not the place checks are needed. After creating this issue, I noticed some (most?) SIGSEGV crashes are before `ParseInternalKey()`, in particular when comparing a corrupt (zero length) key to a valid key. There may be an opportunity to do more validation in that area.

[2020-09-30 21:54] ajkr commented on #7471
I plan to look at `DBCompactionTestWithParam/DBCompactionTestWithParam.FlushAfterIntraL0CompactionCheckConsistencyFail/*` and `DBCompactionTestWithParam/DBCompactionTestWithParam.IntraL0CompactionAfterFlushCheckConsistencyFail/*`. The `DBCompactionTest.DeleteFileRange` is still available.

[2020-09-30 22:45] pdillinger commented on #6550
Still an issue. See #7477

[2020-10-01 00:07] ajkr commented on #7471
#7477 removed the assertions causing the `DBCompactionTestWithParam/DBCompactionTestWithParam.FlushAfterIntraL0CompactionCheckConsistencyFail/*` and `DBCompactionTestWithParam/DBCompactionTestWithParam.IntraL0CompactionAfterFlushCheckConsistencyFail/*` failures.

[2020-10-01 00:11] ajkr commented on #6550
#7477 landed. It was my third change to deflake this test and the adjacent test with a similar name. I am not aware of any unsolved problems at this point, but we will see.

[2020-10-01 00:11] #6550 closed

[2020-10-01 00:12] jay-zhuang commented on #7471
I'm unable to reproduce `DeleteFileRange()` issue again. As we haven't seen that for master branch yet. I'm going to close this issue for now.

[2020-10-01 00:12] #7471 closed

[2020-10-01 02:17] #7430 closed

[2020-10-01 03:39] #7475 closed

[2020-10-01 17:48] jay-zhuang commented on #7470
Seems like on `ext4` filesystem, the `GetUniqueId` may return the same id.
https://github.com/facebook/rocksdb/blob/e9befdebbf395e943ff496b5e43e033f1238bcfe/include/rocksdb/env.h#L714

The id has 3 parts:
https://github.com/facebook/rocksdb/blob/e5f755f55598256ae6cf80e716738a7d15439ca5/env/io_posix.cc#L347-L349

1. st_dev: device number is const
2. st_ino: inode number is not changed for ext4, in

[2020-10-01 19:05] jay-zhuang commented on #7470
Hi @anand1976 @pdillinger, do you think it could be a correctness issue, as `GetUniqueId()` may return the same id for different files? Seems the API is only used for cache prefix:
https://github.com/facebook/rocksdb/blob/27aa443a15e7885f11b1505b7f570117e72464ea/table/block_based/block_based_table_reader.h#L453-L456

[2020-10-01 19:11] jay-zhuang commented on #7470
The problem can be reproduced by:
https://github.com/jay-zhuang/rocksdb/commit/4540eb381d84bf9b88edef35ea9d387ce55c1a44

[2020-10-02 00:22] jay-zhuang opened #7492 "flaky test: ExternalSSTFileTest.PickedLevelBug"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3811/workflows/82d16d71-eacb-41d8-88a8-c54932612a5f/jobs/38046
[code]
It's a TSAN build.

[2020-10-02 00:26] jay-zhuang opened #7493 "flaky test: db_write_test"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3821/workflows/9613e59c-17b7-4213-acd9-2cf30c1b918a/jobs/38271

[code]
It's ubsan build.

[2020-10-02 00:28] jay-zhuang commented on #7493
another failed build for the same issue:
https://app.circleci.com/pipelines/github/facebook/rocksdb/3803/workflows/3c6e9350-8f01-4003-bcda-61d6f67cd4c9/jobs/37835

[2020-10-02 00:31] jay-zhuang opened #7494 "flaky test: db_sst_test DBWALTestWithParam/DBWALTestWithParam.WALTrashCleanupOnOpen/0"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3800/workflows/bf564abd-7342-4e41-8949-14c27c85ebd9/jobs/37766

[code]
It happens for non-shm test.

[2020-10-02 00:35] jay-zhuang commented on #7472
another build failure: https://app.circleci.com/pipelines/github/facebook/rocksdb/3783/workflows/104db80d-2a9b-4c3f-9615-b08050c88904/jobs/37465
cannot find the exception, not sure if it's timeout.

[2020-10-02 01:58] ramvadiv opened #7497 "Include Corrupt key info in ParseInternalKey()"
Follow-up task from PR #7457  for an item requested by @ajkr

There could probably be a follow-up task to combine this with #7420 by pushing down the option's value into  `ParseInternalKey()` (defaulting to false when unknown) and then including the corrupt key in the `Status::Corruption` there.

[2020-10-02 03:26] jay-zhuang commented on #7493
another one with just linux build:
https://app.circleci.com/pipelines/github/facebook/rocksdb/3827/workflows/a00a8295-b16c-4501-b3a1-c1bb1c1c808e/jobs/38430

[2020-10-02 18:48] mrambacher commented on #5569
Note that shared libraries built via cmake do not have this issue.

[2020-10-03 02:15] ajkr commented on #7497
As discussed, currently the `ParseInternalKey()` call sites pretty much ignore the returned `Status` and handle failure in their own way. After we change those call sites to use the `Status` from `ParseInternalKey()`, they may have additional info to incorporate into the `Status` before returning it. Here is an example of how to compose `Status` messages: https://github.com/facebook/rocksdb/blob/6

[2020-10-03 21:46] mrambacher opened #7503 "For Retryable and DataLoss errors, EventListener::OnBackgroundError status is not set on the way in or checked on the way out"
This was found by code inspection.

According to the documentation, the "bg_error" status is called with a non-OK status and the callback can set this to an "OK" value to suppress the error.  By code inspection, it appears that it is always called with an OK status (s is not set to the new error) and that status is never checked or used as part of the return status (s is not checked for).

### Exp

[2020-10-03 21:47] mrambacher opened #7504 "The FileSystemTracingWrapper makes an extra ElapsedNanos call on every traced operation, and other issues."
This was found during code inspection.  Most calls inside of the FileSystemTracingWrapper look like this:
 StopWatchNano timer(Env::Default());
  timer.Start();
  IOStatus s = // Do something
  uint64_t elapsed = timer.ElapsedNanos();
  IOTraceRecord io_record(env_->NowNanos(), TraceType::kIOFileName, __func__,
                          elapsed, s.ToString(), fname);
  io_tracer_->WriteIOOp(io_rec

[2020-10-04 17:24] ajkr commented on #7408
Fixed by #7467 (thanks @siying!).

[2020-10-04 17:24] #7408 closed

[2020-10-06 00:49] gaojieliu opened #7509 "RocksDB PlainTable doesn't work as expected with SstFileWriter"
Hi RocksDB folks:
I noticed some wired behavior while using PlainTable format with SstFileWriter and the rocksdbjni version being used is `6.11.4`.
Steps to reproduce this issue:
1. Initialize an Option with PlainTable format enabled.
2. Generated 100 ordered key/value pairs.
3. Write the ordered key/value pairs via SstFileWriter.
4. Ingest the generated sst file in #3 into a RocksDB database.
5.

[2020-10-06 04:08] jay-zhuang commented on #7472
It can be reproduce locally with command:
[code]
Call stack when it's hang
https://gist.github.com/jay-zhuang/296098f9932256c115487b6d2896d43d

[2020-10-06 16:57] anand1976 opened #7510 "Handle MultiRead return status"
### Expected behavior
In ```BlockBasedTable::RetrieveMultipleBlocks```, the return status of the ```MultiRead``` call should be handled - https://github.com/facebook/rocksdb/blob/master/table/block_based/block_based_table_reader.cc#L1696. In case of error, the error status should be reflected in each of the read requests.

### Actual behavior
The return status is ignored.

### Steps to reproduce t

[2020-10-06 19:50] jay-zhuang commented on #7470
Seems it's also causing #7405

[2020-10-06 20:33] #7493 closed

[2020-10-06 21:00] philipktlin opened #7512 "SST File doesn't clean up"
Scenario: I ran some batch process to insert records to RocksDB.  By observation, max SST file size is ~64M.  I expected that db will continue to write to SST file until it reaches/closes to max file size, why there are some SST files with smaller file size?  After processing records, my program will remove them from RocksDB and I expect SST files will be removed or size of SST files will reduce t

[2020-10-06 23:18] xphoenix opened #7513 "memtable_insert_hint_per_batch doesn't work with Merge ops"
[code]
### Expected behavior
Some speedup if merges applied to sorted run of keys

### Actual behavior
Nothing happens

### Steps to reproduce the behavior
Open ```write_batch.cc``` and look insde ```MemTableInserter```:
[code]

As I understand in case of ```cuncurrent_memtable_write``` ```MergeCF``` won't try to merge operands before insertion and goes directly to insert routine, why not use hint

[2020-10-08 16:44] jcalcote commented on #7288
Still seeing this crash - here's another instance:

[code]

[2020-10-09 06:54] Connor1996 commented on #7441
Thanks for explanation. No use case, just want to leverage it for unit test to reproduce some cases.

[2020-10-09 21:00] diegolovison commented on #5558
Hi, I have a reproducer for this in Java:

RocksDB Version: 6.11.4

[code]

The console will print: `the iterator shouldn't return data`

[2020-10-09 21:13] diegolovison commented on #5558
My issue is a little bit different from the title: db->Get() can't find some keys, but Iterator can list **them in the inverse order**

RocksDB Version: 6.11.4

[code]

The console will print: `Invalid state`

[2020-10-10 10:02] Myasuka commented on #6247
@siying thanks for your fix and this problem has gone with latest RocksDB-6.11.4

[2020-10-10 10:02] #6247 closed

[2020-10-10 16:53] denis2342 commented on #6624
did you open the PR yet?

[2020-10-10 19:08] ajkr opened #7530 "Preserve expected values file for failed crash tests"
In crash tests ("tools/db_crashtest.py"), `expected_values_file` is assigned `tempfile.NamedTemporaryFile()`, which is deleted as soon as it's closed according to Python docs. For debugging corruptions, it'd be good to preserve this file when the crash test fails. That way we can rerun the final failed command using the same expected state that the failed command had, and hopefully repro the corru

[2020-10-10 19:12] ajkr opened #7531 "Always print hex for keys with corrupt results in stress tests"
Currently some failures look like this:

[code]

However this is difficult to debug since the translation from integer used to generate the key into the actual key bytes is complex and configuration-dependent. That makes it difficult to do manual investigation like looking for the key in the SST files. It'd be good to accompany the key integer with the actual key bytes (in hex format) in all error

[2020-10-11 22:00] ajkr opened #7535 "crash test failing on non-tmpfs"
When run on non-tmpfs, `python tools/db_crashtest.py blackbox --simple` regularly fails with a `MultiGet()` error looking like this:

[code]

It's possible our CI always uses tmpfs which might have led us to miss this. cc @anand1976

[2020-10-12 06:07] zhousPole opened #7537 "use java api to report an error:org.rocksdb.RocksDBException: While open a file for random read: /eventData/20201012/db/000828.sst: Insufficient permissions"
version：6.11.4

Problem description：
1. Our java application is started with the root account, and then the current program runner is switched to a normal user through seteuid and setegid.
2. During the program execution, when root privileges are required, the current program runner is switched to root, switch to normal user after execution.
3. Then after the program runs for a period of time, the

[2020-10-12 15:44] question4you opened #7538 "When calling Open under windows, method never finishes"
Sometimes (in fact I saw it maybe a dozen times) when I start my program under windows and it calls DB::Open, it seems to never come out of this function. When I wait some minutes and then break the program in visual studio 2019, I always see that it seems to hang when it tries to get loader_mutex_ in TableCache::FindTable. When I look at the other threads, I only see two times a BGThread method w

[2020-10-12 16:45] jcalcote commented on #7288
Hello... anyone here? I reported this issue quite a while ago and no one has responded. Does anyone maintain this project anymore?

[2020-10-12 17:41] mrambacher commented on #7288
Do you know which handleTable/ColumnFamily is crashing?  Is it always the same or does it change?  Do you know if there are other gets or updates to that column family that do work?

[2020-10-12 18:30] jcalcote commented on #7288
The problem is completely intermittent (from our perspective). The columnFamily is used very often successfully, and suddenly this happens in the middle of (well - the end, since it crashes) a long-running session.

The initial issue for which this ticket was opened happened on column family 0 (the primary column family). The second posted instance above also happened on the primary columnFamily.

[2020-10-12 20:34] bachp commented on #6692
I think the proper solution would be to call [`find_dependency`](https://cmake.org/cmake/help/latest/module/CMakeFindDependencyMacro.html) for them in the `RocksDBConfig.cmake` file.

[2020-10-12 23:23] #7530 closed

[2020-10-12 23:28] jay-zhuang commented on #7470
As it's a known issue that is tracking in #7405. We're disabling this flaky test for now: #7511

[2020-10-12 23:28] #7470 closed

[2020-10-13 10:51] adamretter commented on #7537
@zhousPole I think you would need to use various operating system level tools to find out where and why your permissions error is occurring. I don't think this is really related to RocksDB.

[2020-10-13 11:14] adamretter commented on #7288
I wonder if this could be related to a GC issue. Do you have any idea if GC is run just before you see the issue? One option to test this theory would be to comment out the finalize method in RocksObject and build your own jars from code and test with those.

[2020-10-13 12:38] jaceding opened #7544 "Getting an existing value from rocksdb using the Java API is slow"
Using Java API to get an existing value from rocksdb is far slower than that from Java from map. Rocksdb also has memtable. Why is the speed so different?
[code]
output：
2ms
65ms
Why is the speed so different?

[2020-10-13 12:39] jaceding commented on #7544
Because JNI?

[2020-10-13 12:56] adamretter commented on #7544
@jaceding JNI does impose some overhead. You would have to compare the Java API against the C++ API to get a better comparison. Comparing against a Java HashMap does not really make sense.

We are doing some work on improving the API performance at the moment. You can see the progress here - https://github.com/evolvedbinary/jni-benchmarks/pull/3

Also have you tried using the ByteBuffer methods in

[2020-10-13 18:16] jay-zhuang opened #7546 "flaky test: db_sst_test WALTrashCleanupOnOpen/0"
https://app.circleci.com/pipelines/github/facebook/rocksdb/4073/workflows/7c98b767-27ee-4b59-af50-1f8cd4a415d3/jobs/44258

Failed in non-shm test:

[code]

[2020-10-13 18:17] jay-zhuang opened #7547 "flaky test: persistent_cache_test PersistentCacheTierTest.BasicTest"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3975/workflows/012e7658-0aab-4a1a-8a09-f1a28960166f/jobs/41905

Failed in non-shm test

[code]

[2020-10-13 18:21] jay-zhuang opened #7548 "flaky test: deletefile_test DeleteFileTest.BackgroundPurgeCFDropTest"
https://app.circleci.com/pipelines/github/facebook/rocksdb/3974/workflows/620fc2ff-19c2-4bb8-88cf-dfe225ebe4bd/jobs/41895/steps

It's a mini-tsan build.

[code]

[2020-10-14 00:49] ajkr opened #7552 "blackbox crash test failing when `db_stress` built with DEBUG_LEVEL=0"
Due to #7535 we must run crash tests on tmpfs. But with `DEBUG_LEVEL=0` we cannot run on tmpfs, otherwise it fails with

[code]

We used to be able to run blackbox crash test with `DEBUG_LEVEL=0`, so this is a regression. (Note whitebox crash tests could never be run with `DEBUG_LEVEL=0` since the killpoints are only enabled in debug mode.)

[2020-10-14 03:36] #7531 closed

[2020-10-14 06:29] xiezhaokun opened #7557 "C:\Users\admin\AppData\Local\Temp\librocksdbjni5734698881557363843.dll cannot be deleted"
### Expected behavior
C:\Users\admin\AppData\Local\Temp\librocksdbjni5734698881557363843.dll can be deleted when application shutdown

### Actual behavior
C:\Users\admin\AppData\Local\Temp\librocksdbjni5734698881557363843.dll cannot be deleted when application shutdown

### Steps to reproduce the behavior

[2020-10-14 10:03] adamretter commented on #7557
Typically this is a Windows issuer because the .dll is in use by some process. It could be your application, or it could be a virus scanner etc.

You can use the OpenedFilesView utility from http://www.nirsoft.net to monitor the DLL and find out which process is holding it open.

[2020-10-14 17:01] jcalcote commented on #7288
@adamretter - is there a way to tell when a gc run takes place? For instance, can I enable some java log4j package in my log4j2.xml file and see gc runs intermingled with my log entries? If not log4j, some lower-level logging mechanism? If there's a way to verify this, I'll be happy to turn on that logging and wait for this to happen again, then let you know.

[2020-10-14 17:03] akankshamahajan15 commented on #7504
I have fixed the issue 2 mentioned above. Working on  the remaining two issues

[2020-10-14 17:36] adamretter commented on #7288
@jcalcote You can use tools like JConsole or JFR (Java Flight Recorder) to watch them in real-time. You can also record logs with JFR. Another option is to have the JVM print GC debugging info, there are a variety of options depending on your setup and needs, see for example - https://www.baeldung.com/java-verbose-gc

[2020-10-14 17:46] ajkr opened #7559 "Add `strict_capacity_limit` block cache option to stress/crash tests"
As we learned recently with bugs in index partition pinning, there may be bugs when a subset of reads go through block cache. One way that might expose such bugs is by adding `strict_capacity_limit` to stress/crash tests to make block insertions fail at essentially arbitrary points. This would also give us confidence that our handling of block cache insertion failures is correct.

This issue requi

[2020-10-14 18:39] yiwu-arbug commented on #7405
Hi. Is there work on getting a fix for the cache key issue? Thanks @ajkr @pdillinger @zhichao-cao

[2020-10-14 18:39] mrambacher commented on #7559
Going through the ASSERT_STATUS_CHECKED checks, there are many places where the code simply ignores errors from inserting into the Cache.  This problem is along the same lines as you mentioned, but perhaps if there was some better way of handling or notifying those errors, something could be done in a more standard/common way...

[2020-10-14 18:51] jcalcote commented on #7288
@adamretter - I'm sorry, I was confused. I thought you were referring to some sort of RocksDB garbage collection process. I didn't realize you were talking about Java GC. Ok - I know what to do now.

[2020-10-16 06:04] helyho commented on #4112
use jemalloc and config like this:
cache_index_blocks=false
cache_index_and_filter_blocks_with_high_priority=true
partition_filters = true
index_type = rocksdb::BlockBasedTableOptions::IndexType::kTwoLevelIndexSearch

my process's rss almost hold on a stale size

[2020-10-16 15:37] toktarev commented on #4112
@helyho I created PR which fixed problems with RAII in the RocksDB code

Nobody cares.

[2020-10-17 00:08] gaojieliu commented on #7509
Any update?
I am wondering whether Plain Table format could work with SstFileWriter at all or not?

cc @adamretter

[2020-10-17 14:34] mrambacher opened #7565 "Make/build_detect_platform fails to detect installed components; needs to use FLAGS"
I found this issue with Snappy on my Mac, but it is a more general problem.

On my Mac, I have snappy installed in the normal place.  The check for build_detect_platform fails to detect it; snappy will not compile without the -std=c++11 on my machine.  Because this flag is not passed in, I cannot use snappy.  FWIW, I have snappy 1.1.8 on my machine.

A more general problem is that the check for in

[2020-10-18 07:17] marcdk commented on #5016
Hi @royforu

I'm hoping you could help me out on the exact issue you were having in https://github.com/facebook/rocksdb/issues/5016#issuecomment-468998289

Did you find out what Java setting was incorrect?

The build is taking place in IBM Cloud with OpenJDK8:
[code]

Thanks for any help!!

[2020-10-18 08:15] marcdk commented on #5487
Hi @javeme @miasantreble

Did you guys perhaps figure out the issue?  I'm getting a similar error:
[code]

The build is taking place in IBM Cloud with OpenJDK8:
[code]

Thanks for any help!!
[hs_err_pid31862.log](https://github.com/facebook/rocksdb/files/5397200/hs_err_pid31862.log)

[2020-10-19 02:15] software-zjz commented on #7423
OS is centOs 7,make clean was done, thanks.

[2020-10-19 03:41] javeme commented on #7268
@adamretter Is it possible to prevent it from causing the rocksdb instance to be no longer available after WriteBatch is written by mistake?

[2020-10-19 08:20] nankcj opened #7569 "No way to SetBackgroundThreads ( High and Low) by options file (ini format)"
### Expected behavior
i want to use DBOptions section file, which like in  https://github.com/facebook/rocksdb/blob/master/examples/rocksdb_option_file_example.ini

to set  high and low background threads

### Actual behavior

 options.env->SetBackgroundThreads(4,  rocksdb::Env::LOW);

options.env->SetBackgroundThreads(8, rocksdb::Env::HIGH);

### Steps to reproduce the behavior

[2020-10-19 10:32] adamretter commented on #7268
@javeme Why would the WriteBatch be written by mistake? I am not sure I understand your question... Is this a different question than before?

[2020-10-19 18:55] jagij commented on #7510
Master has been updated in the mean time. This link should work:
https://github.com/facebook/rocksdb/blob/00751e4292e55c1604b28b7b93fe7a538fa05f29/table/block_based/block_based_table_reader.cc#L1748

[2020-10-19 19:06] adamretter commented on #5016
@marcdk Here is an example of building on s390x Ubuntu, perhaps it helps you? - https://github.com/facebook/rocksdb/pull/6168

[2020-10-19 23:22] yiwu-arbug commented on #5954
Came across this and find a related golang issue (golang 1.12 fixed it): https://github.com/golang/go/issues/26650

[2020-10-20 01:24] zhousPole commented on #7537
Ok thanks, we have solved this problem。But now there is a new problem，When our JAVA application was running for about 20 hours, rockssb failed to write again, indicating that there are too many open files，
Is there a file descriptor leak in rocksdb?

[2020-10-20 03:29] javeme commented on #7268
@adamretter They are the same question.
Because there are multiple threads, when a thread deletes a table (a very low-frequency operation), it may be writing this table at the same time (a very high-frequency operation). At present, we use locks to solve this problem.
We get the CF handle according to the CF name for each write operation, if only the write operation is wrong but the rocksdb instan

[2020-10-20 07:08] adamretter commented on #7268
@javeme you need to use locks or some other synchronisation primitive in your application as you describe. Your issue is an application issue not a RocksDB issue

[2020-10-20 07:08] #7268 closed

[2020-10-20 08:38] marcdk commented on #5016
Thanks @adamretter, I've built with your fork/PR6168, but I get the same result as in https://github.com/facebook/rocksdb/issues/5487#issuecomment-711133303

[2020-10-20 08:56] adamretter commented on #5016
@marcdk Okay as the build is working, your issue is at runtime now. I will reply in #5487

[2020-10-20 08:57] adamretter commented on #5487
@marcdk Can you resolve the line number in your hs_err_pid file for us around the problematic frame please - https://github.com/facebook/rocksdb/wiki/JNI-Debugging#interpreting-hs_err_pid-files

Also with that we need to know exactly which version of the source code you are using.

[2020-10-20 09:43] adamretter commented on #7537
@zhousPole you can use the `lsof` tool to find out where the open file handles are being used...

[2020-10-20 15:30] itsbilal opened #7576 "Repeated WAL entries when WriteOptions.sync=true is specified"
At CockroachDB, we have built a sync loop that calls `FlushWAL(sync=true)`  on regular intervals:

https://github.com/cockroachdb/cockroach/blob/c0f7137093a5a08825ca1614841439a812ae7216/pkg/storage/rocksdb.go#L360

We recently made a change to pass in `WriteOptions.sync = true` to all non-batch mutation operators, and we started seeing sporadic failures in many of our integration tests, with some

[2020-10-21 00:37] jay-zhuang commented on #7565
+1
(a workaround for me is using cmake, with flag `-WITHSNAPPY=1`).

[2020-10-21 05:10] marcdk commented on #5487
Thank you @adamretter, that was a really helpful link.  Both `master` and your fork point to the same line.

`adamretter:feature/travis-s390x` `e9569b7e8d1904426246da1fadb6e713ec88dedb`
[code]
[code]
`facebook:rocksdb/master` `b4cd51d847bb41bb80df999393b2acac4f67219d`
[code]
[code]

So the offending line is:
`697:	_Sp_counted_base<_Lp>* __tmp = __r._M_pi;`

[shared-header-and-logs.tar.gz](https://

[2020-10-21 05:19] marcdk commented on #5487
I'm still looking and trying the other debug methods and will let you know if I have more information.

[2020-10-21 06:00] zhousPole commented on #7537
Ok thanks, I checked the code and found that the ColumnFamilyHandle was not closed. Is it due to this reason? I have closed it now, and then observe whether the problem will occur

[2020-10-21 09:00] adamretter commented on #7537
@zhousPole I would think so, as the ColumnFamilyHandle will hold the references to the SST files that it uses.

[2020-10-21 09:00] #7537 closed

[2020-10-21 09:17] adamretter commented on #5487
@marcdk Your line numbers don't correspond with the problematic frame. Did you build from source with DEBUG_LEVEL=2 to preserve symbols and debug info?

[2020-10-21 10:31] marcdk commented on #5487
I did not... I've rebuilt with DEBUG_LEVEL=2, but I'm again led to a c++ header file.

[code]

[code]

Again thanks for your help @adamretter and I'm continuing to look myself as well.

[2020-10-21 10:46] adamretter commented on #5487
Hmm that's a different problematic frame than before. I'm travelling at the moment but I can try and take a look tomorrow

[2020-10-21 12:20] marcdk commented on #5487
again, thanks @adamretter! Safe Travels.

[2020-10-21 15:14] marcdk commented on #5487
@adamretter, I've figured out the error of my ways! The built .jar file wasn't being used ...
Thank you so much for your support!! Appreciate it a lot :)

[2020-10-21 15:16] adamretter commented on #5487
@marcdk okay great. Have you solved your issue now?

[2020-10-21 15:48] marcdk commented on #5487
Yes, thanks @adamretter

[2020-10-21 19:32] #5487 closed

[2020-10-22 03:01] z-Dapor opened #7582 "Cross-building ERROR"
**version**:    ## **rocksdb-6.13.3** from release :https://github.com/facebook/rocksdb/releases/tag/v6.13.3

**FLOW**: https://github.com/facebook/rocksdb/blob/master/java/RELEASE.md

**RUN**: make jclean clean rocksdbjavastaticreleasedocker

ERROR:
![image](https://user-images.githubusercontent.com/21967676/96819143-828d3500-1455-11eb-8330-9a9e0d75fb33.png)

There is no specific error message.
c

[2020-10-22 03:05] z-Dapor commented on #7582
found librocksdbjni-osx.jnilib and librocksdbjni-linux32.so version compile success,but linux-64 compile failed.

[2020-10-22 04:47] #7582 closed

[2020-10-22 04:47] z-Dapor commented on #7582
fix: increment memory

[2020-10-22 08:01] javeme commented on #7268
@adamretter I found this issue is the same as [Using a closed column family handle leads to persistent error](https://github.com/facebook/rocksdb/issues/592). Is there any way to solve it, I am happy to contribute code.

[2020-10-22 11:16] adamretter commented on #7268
@javeme So your problem is using a Column Family which you have closed? If so, then to me that sounds like a synchronisation isssue in your app

[2020-10-22 11:22] adamretter commented on #7582
@z-Dapor Indeed, the `killed` part indicates that you likely ran out of memory

[2020-10-22 12:53] xphoenix opened #7583 "What is the difference between FullMergeV2(existing == nullptr) and PartialMergeMulti"
As per my understand ```FullMergeV2``` with ```_existing_value==nullptr``` effectively means that rockdb found sequence of merge operation witthout base PUT value. That looks exactly the same situation as ```PartialMergeMulti``` should solves.

So the question is - why both needs? Am I miss something?

[2020-10-22 13:52] kaifula opened #7584 "boost::multiprecision and rocksdb::Slice string interaction c++"
Hi, i'm getting strange results if i try to use boost::multiprecision as keyvalues in my rocksda batabase.

[code]
Output:
[code]

[2020-10-22 13:57] javeme commented on #7268
@adamretter my problem is using a CF which is dropped, and then cause persistent error of whole rocksdb instance. I agree https://github.com/facebook/rocksdb/issues/592#issuecomment-120924003 that we need to check all writes in the batch to see if they're pointing to the dropped-cf.

[2020-10-22 21:47] jay-zhuang opened #7588 "[CI] VS 2017 failed to install"
VS failed to install:
https://app.circleci.com/pipelines/github/facebook/rocksdb/4311/workflows/fba3d4f9-86d4-4a10-a924-fe00f7b521ee/jobs/50010

Error log:
[code]

Seems like it's a VS installer issue: https://developercommunity.visualstudio.com/content/problem/1229444/unable-to-install-win81-sdk-cab-file-contains-noth.html

[2020-10-23 07:54] absolute8511 opened #7590 "PORTABLE=1 will disable SSE by default in makefile"
I build with the
[code]
the make_config.mk showed no -DHAVE_SSE42  will be used which will disable the fast crc32
[code]

While I build with the default `make static_lib` without using the PORTABLE, the content in the make_config.mk showed
[code]

I can force using the sse by `USE_SSE=1  PORTABLE=1 make static_lib`.

So, is it expected for a portable build?

[2020-10-23 08:29] adamretter commented on #7590
@absolute8511 As SSE is a processor extension set, I would expect it to be disabled for portable builds for the reason that (I would guess) that not all processors have SSE. Does that make sense?

[2020-10-23 08:35] adamretter commented on #5487
@marcdk Out of interest, what was the problem?

[2020-10-23 08:42] #7538 closed

[2020-10-23 08:44] question4you opened #7591 "Rocksdb hangs in open function under windows sometimes (Visual Studio 2019)"
Sometimes (in fact I saw it maybe a dozen times) when I start my program under windows and it calls DB::Open, it seems to never come out of this function. When I wait some minutes and then break the program in visual studio 2019, I always see that it seems to hang when it tries to get loader_mutex_ in TableCache::FindTable. When I look at the other threads, I only see two times a BGThread method w

[2020-10-23 09:00] absolute8511 commented on #7590
Yeah, I think it makes sense, and just to confirm. But I see it can be detected on the running machine, maybe it will not
 affect the portable?

[2020-10-23 09:11] adamretter commented on #7590
@absolute8511 I guess at the moment it is decided at compile time rather than runtime.

[2020-10-23 16:25] marcdk commented on #5487
Hi @adamretter, the application was bundled with a `rocksdbjni-6.8.1.jar`, but I had not replaced it with the s390x version ...

[2020-10-26 16:52] ajkr opened #7599 "use `OutputValidator` in `SstFileWriter`"
#7134 and #7467 add kv checksum and key order verification to files as they're created via `OutputValidator`. The verifications currently apply to files generated by flush and compaction. It'd be good to extend it to cover `SstFileWriter`-generated files as well.

[2020-10-26 18:00] ajkr opened #7600 "A failed `SstFileWriter::Add()` should not apply any internal state changes"
#7448 accidentally changed the API contract of `SstFileWriter::Add()` and dependent functions (`SstFileWriter::Put()`, etc.). Now there is a case where the KV may be added to the table builder _and_ the returned `Status` is non-OK, i.e., when the `InvalidatePageCache()` fails. If there are clients that retry, they may now attempt to add an already existing key to a table builder. Ideally, clients

[2020-10-26 21:10] pdillinger commented on #7590
FWIW, for Facebook developers, USE_SSE=1 is default

    build_tools/fbcode_config.sh:test "$USE_SSE" || USE_SSE=1
    build_tools/fbcode_config.sh:export USE_SSE

And note (from build_detect_platform):

    # The USE_SSE flag now means "attempt to compile with widely-available
    # Intel architecture extensions utilized by specific optimizations in the
    # source code." It's a qualifier on POR

[2020-10-27 06:11] #7544 closed

[2020-10-27 11:54] Myasuka commented on #5559
@adamretter Where did you build the release ARM version of RocksDB? On a ARM-based AWS?

[2020-10-27 13:46] mrambacher opened #7602 "The Relationship between ImmutableCFOptions , MutableCFOptions, and ColumnFamilyOptions should be cleaned up"
As the code is currently written, you can create ImmutableCFOptions and MutableCFOptions from a ColumnFamilyOptions but the inverse is not true.  This limitation is at least partially true because the ImmutableCFOptions uses "raw pointers" in it instead of the "shared" pointer.

I think an ImmutableCFOptions may also contain some of the options from DBOptions, and that should probably also be clea

[2020-10-28 09:35] adamretter commented on #5559
@Myasuka We have a dedicated machine that was provided to us.

[2020-10-28 11:50] GOGOYAO commented on #6109
Is there some discuss about this anywhere?

[2020-10-29 04:37] c0dzilla commented on #7288
@jcalcote - Were you able to diagnose the problem? I'm facing a similar issue.

[2020-10-29 14:08] Myasuka opened #7610 "Cannot build rocksJava linux32-musl binary"
### Expected behavior
Running `make rocksdbjavastaticrelease` on mac could build all unix jars including `librocksdbjni-linux32-musl.so`.

### Actual behavior
Only `librocksdbjni-linux32.so` is built and cannot find the binary `librocksdbjni-linux32-musl.so`.

I noticed that we have `linux32-musl` definition in `Vagrantfile`,  but current [`Makefile`](https://github.com/facebook/rocksdb/blob/39421

[2020-10-29 14:10] Myasuka commented on #7610
@adamretter how did you build such linux32-musl binary to include in the release jar?

[2020-10-29 16:19] adamretter commented on #7610
@Myasuka I use Docker to build the release, e.g. `PORTABLE=1 ROCKSDB_DISABLE_JEMALLOC=true make clean rocksdbjavastaticreleasedocker`

[2020-10-29 22:16] ajkr opened #7614 "Incompatible `LoadLatestOptions()` API change"
Regression test is here: https://github.com/ajkr/rocksdb/tree/incompat-load-latest-options

Output:

[code]

Here's a backport of the test on top of the 6.13 release branch, which shows this `LoadLatestOptions()` scenario used to return `InvalidArgument`: https://github.com/ajkr/rocksdb/tree/6.13.incompat-load-latest-options

[2020-10-29 23:22] mrambacher commented on #7614
Fixed.

[2020-10-29 23:30] ajkr commented on #7614
Sorry I should have included in the description, this is specifically about the "TableOptions/BlockBasedTable" section and the provided repro included the fix from #7612. Did you mean it is fixed for "TableOptions/BlockBasedTable" somewhere too?

[2020-10-30 07:38] GOGOYAO opened #7616 "Failed to compile rocksdbjava on mac"
I want to get rocksdbjni with hdfs. But on the official maven repo, the rocksdbjni does not support hdfs. So I have to try to compile it by myself.

### Expected behavior
Succeed to compile.
### Actual behavior
![image](https://user-images.githubusercontent.com/18675094/97672772-94aa4b80-1ac5-11eb-8c3b-c21a92f06911.png)

### Steps to reproduce the behavior
rocksdb version v6.6.4
gcc version 4.9.4(

[2020-10-30 08:34] Myasuka commented on #7610
@adamretter Thanks for your reply. I have several questions:

1. I remember RocksDB community used `make clean rocksdbjavastaticreleas` to release previously, why we change the command now?
1. Why we need to disable `jemalloc` to build? In my point of view, `jemalloc` should be a powerful memory allocator.

[2020-10-30 08:39] adamretter commented on #7610
@Myasuka

1. When I started doing release for RocksJava (~4 years ago) I had problems with the VirtualBox builds. I then added the Docker builds, as I found that was faster and worked better across all platforms. We have been using the Docker builds for at least 3 years (I think) for all of the RocksJava releases.

2. jemalloc support on Mac in RocksDB is broken and has been for some time I think.

[2020-10-30 14:23] adamretter commented on #7616
@GOGOYAO I am on macOS Catalina 10.15.6 with Apple clang version 11.0.3 (clang-1103.0.32.62), and OpenJDK 1.8.0_252.

Running `ROCKSDB_DISABLE_JEMALLOC=true make -j8 rocksdbjava` works perfectly here on the `HEAD` of the master branch.

I note you are using GCC, could you try with the build-in clang instead?
...or I wonder if your problem specifically with RocksJava version 6.6.4? Can you try with

[2020-10-30 15:45] ajkr commented on #7614
Fixed by #7615 (thanks!)

[2020-10-30 15:45] #7614 closed

[2020-10-31 02:09] GOGOYAO commented on #7616
I use built-in clang and try your command. It works.

[2020-10-31 02:20] GOGOYAO opened #7620 "rocksdbjava error: Exception in thread "main" java.lang.UnsatisfiedLinkError: /tmp/librocksdbjni4785964616785894573.so:"
I want to use HdfsEnv in rocksdbjava, which is not supported on Maven central repo. So I compile it following the wiki.
Then I add the dependency like this:
[code]
And I use rocksdbjava like this:
[code]

I can compile my code, but I can not run it.

### Expected behavior
succeeded to run my code.
### Actual behavior

[code]

### Steps to reproduce the behavior

[2020-10-31 15:06] xkszltl opened #7623 "Use CMAKE_CXX_COMPILER_LAUNCHER instead of RULE_LAUNCH_COMPILE"
https://github.com/facebook/rocksdb/blob/25d54c799ce5fb6887a151f4f584bf8d84c1256e/CMakeLists.txt#L60-L61

This should be replaced with the new way of using `CMAKE_CXX_COMPILER_LAUNCHER` var instead of global property.
https://cmake.org/cmake/help/v3.19/variable/CMAKE_LANG_COMPILER_LAUNCHER.html

When combined with `set(... CACHE ...)` or `option()`, it will allows user overwrite when ccache is not

[2020-11-01 12:50] adamretter commented on #7620
@GOGOYAO It looks like you have built a version of RocksJava which is dynamically linked against jemalloc, but the system you are running it on does not have the same jemalloc library installed.

[2020-11-01 12:50] #7620 closed

[2020-11-01 12:51] #7616 closed

[2020-11-01 15:07] #5124 closed

[2020-11-02 02:05] JiYou commented on #115
With the latest code,

`brew install gflags` would solve the deps.

then use normal cmake && make to compile it.

[2020-11-02 02:06] GOGOYAO commented on #7620
@adamretter I have compile rocksdbjava with `ROCKSDB_DISABLE_JEMALLOC=true make -j8 rocksdbjava` but I get the same error. Any more ideas?

[2020-11-02 08:02] adamretter commented on #7620
@GOGOYAO If you have compiled it with `ROCKSDB_DISABLE_JEMALLOC=true make -j8 rocksdbjava` I cannot see how you could have any errors about jemalloc!?!

[2020-11-02 08:47] QuellaZhang opened #7625 "[std:c++latest] error C2668: 'folly::bit_cast': ambiguous call to overloaded function"
Hi All,

RocksDB failed to build on MSVC under /std:c++latest mode due to "error C2668: 'folly::bit_cast': ambiguous call to overloaded function" on https://github.com/facebook/rocksdb/blob/master/third-party/folly/folly/synchronization/DistributedMutex-inl.h#L1377, we changed the "bit_cast" to "folly::bit_cast" as workaround. This is a third-party library, not sure if it needs to be modified by y

[2020-11-02 12:29] sunby commented on #7600
If this issue is not assigned, I want to have a try.

[2020-11-02 19:07] ajkr commented on #7600
Great, let me know if you have any questions.

[2020-11-02 22:18] ajkr commented on #7600
By the way, my current thinking on this is we can permit `InvalidatePageCache()` failures without failing the `SstFileWriter::Add()`.  We just need to call `PermitUncheckedError()` on any intentionally ignored status.

[2020-11-02 23:08] ajkr opened #7630 "`CompressionOptions::enabled` in `ColumnFamilyOptions::bottommost_compression_opts` not always respected"
### Expected behavior

Enabling `CompressionOptions::enabled` in `ColumnFamilyOptions::bottommost_compression_opts` should be sufficient to make those options take effect.

### Actual behavior

Those options take effect conditionally on `ColumnFamilyOptions::bottommost_compression`. If `ColumnFamilyOptions::bottommost_compression` uses the default value to fallback to `ColumnFamilyOptions::compres

[2020-11-02 23:08] ajkr opened #7631 "`ColumnFamilyOptions::bottommost_compression_opts` sometimes ignored"
### Expected behavior

Enabling `CompressionOptions::enabled` in `ColumnFamilyOptions::bottommost_compression_opts` should be sufficient to make those options take effect.

### Actual behavior

Those options take effect conditionally on `ColumnFamilyOptions::bottommost_compression`. If `ColumnFamilyOptions::bottommost_compression` uses the default value to fallback to `ColumnFamilyOptions::compres

[2020-11-03 00:33] ajkr commented on #7630
oops I got an error when opening this and retried in #7631.

[2020-11-03 00:33] #7630 closed

[2020-11-03 04:00] sunby commented on #7600
@ajkr Thanks for your help! I still have a question:
Should we do the same thing to `InvalidatePageCache()`s called by `Rep::DeleteRange` and `SstFileWriter::Finish` ?

[2020-11-03 17:28] jcalcote commented on #7288
@adamretter - I found out this morning that the Java core files were generated while our QA team was doing HA failover testing. In other words, these cores are being generated because our java process had received a SIGTERM and RockDB had probably started shutting down when our application sent it another request. Classic case of right hand not knowing what the left hand was doing. This suddenly b

[2020-11-03 17:41] adamretter commented on #7288
@jcalcote many thanks for the update. I feel confident in closing this ticket now :-)

[2020-11-03 17:41] #7288 closed

[2020-11-04 01:16] akankshamahajan15 commented on #7552
@ajkr Can you explain how  can it be reproduced locally or where can I run this to reproduce it (or how)

I ran the test locally (on devserver) compiled the rocksdb with DEBUG_LEVEL=0 and then exported the DEBUG_LEVEL=0 and TEST_TMPDIR=/dev/shm and ran the script 'python3 tools/db_crashtest.py blackbox --simple' with ```mmap_reads = 0```, ```use_direct_reads=1``` and I get the error
```"/dev/shm/r

[2020-11-04 22:24] ajkr commented on #7552
Thanks for taking a look. Yes, I see the same thing as you after specifying `DEBUG_LEVEL=0` for the `db_crashtest.py` command (I did not know `DEBUG_LEVEL` was used outside of build commands). Maybe we should sanitize direct I/O to disabled instead of failing in this case.

[2020-11-06 07:20] lintanghui commented on #4477
meet similar question. when timeout happen, one thread was in 99.9% CPU usage at top monitor with thread mode. this thread was writing memtable in my program.
![image](https://user-images.githubusercontent.com/13373613/98337192-34765500-2043-11eb-8fa3-2e272823f9f3.png)

and rocksdb statics show write cost of P100 is reach 1000ms.
![image](https://user-images.githubusercontent.com/13373613/98337070

[2020-11-06 08:28] lday0321 commented on #5931
We aslo meet this memory leak error with ASAN check:
[code]

[2020-11-06 18:42] saurabh1007 opened #7646 "No Space Left on device"
Hi,
We keep getting these errors
org.rocksdb.RocksDBException: IO error: /rocksdata/EVENT_STORE/164054106.sst: No space left on device
        at org.rocksdb.RocksDB.write0(Native Method) ~[rocksdbjni-4.0.jar:?]
        at org.rocksdb.RocksDB.write(RocksDB.java:546) ~[rocksdbjni-4.0.jar:?]

This is happening when we still have a lot of space left on the disk. We do see a spike in IOPS just before

[2020-11-07 13:43] saurabh1007 commented on #7646
If this helps:
`Filesystem volume name:   rocks_vol
Last mounted on:          /rocksdata
Filesystem UUID:          UUID
Filesystem magic number:  0xEF53
Filesystem revision #:    1 (dynamic)
Filesystem features:      has_journal ext_attr dir_index filetype needs_recovery extent 64bit flex_bg sparse_super large_file huge_file uninit_bg dir_nlink extra_isize
Filesystem flags:         signed_director

[2020-11-08 16:58] chenrui333 opened #7648 "rocksdb 6.13.3 build issue"
👋  trying to build the latest release, but run into some issue, here is the error log:

[code]

full build log, https://github.com/Homebrew/homebrew-core/runs/1350019021
relates to https://github.com/Homebrew/homebrew-core/pull/64069

[2020-11-08 18:35] Myasuka commented on #7610
@adamretter sorry to bother you again, I have another questions, how do you publish ppc64le binary files?
Did you also run `PORTABLE=1 make clean rocksdbjavastaticdockerppc64le` and `PORTABLE=1 make clean rocksdbjavastaticdockerppc64lemusl` on mac laptop?

[2020-11-09 09:56] adamretter commented on #7610
@Myasuka The ppc64le binaries can only be build on a PPC64le machine. The same goes for the aarch64 binaries needing an ARM machine. You might be able to set something up with cross-compilation, but I that's not something I needed.

[2020-11-09 09:57] #7610 closed

[2020-11-09 17:26] jay-zhuang commented on #7648
Is that a permission problem?
`Operation not permitted`

[2020-11-10 04:45] rainays opened #7652 "undefined reference to Gflags"
I encountered an error about gflags when compiling. I modified the namespace and environment variables in accordance with several similar issues, and tried to link to the gflags library, but they were all unsuccessful.
Here are the error messages I get：

[code]

[2020-11-11 02:23] cheng-chang commented on #6288
Now, when `track_and_verify_wals_in_manifest = true`, if a WAL is fully synced, the WAL will be tracked in MANIFEST. So during recovery, we can check whether the WAL is synced, if it is, then even in point-in-time recovery, errors should be reported.

Maybe in the future, we can track the last synced size of the WAL, so that if the recovery error happens before the synced size, then we report erro

[2020-11-12 04:32] #7631 closed

[2020-11-12 07:51] yinsudahuizhuan opened #7664 "Compaction Stats missing"
I used to check the compaction stats when using db_bench, but it does not work with the newest work.

### Expected behavior
illrandom   :      50.704 micros/op 19722 ops/sec;   38.5 MB/s

** Compaction Stats [default] **
Level    Files   Size     Score Read(GB)  Rn(GB) Rnp1(GB) Write(GB) Wnew(GB) Moved(GB) W-Amp Rd(MB/s) Wr(MB/s) Comp(sec) CompMergeCPU(sec) Comp(cnt) Avg(sec) KeyIn KeyDrop
-------

[2020-11-12 07:54] yinsudahuizhuan commented on #7664
db/internal_stats.cc

void InternalStats::DumpCFFileHistogram(std::string* value) {
  assert(value);
  assert(cfd_);

  std::ostringstream oss;
  oss << *value;
  oss << "\n** File Read Latency Histogram By Level [" << cfd_->GetName()
      << "] **\n";

  for (int level = 0; level < number_levels_; level++) {
    if (!file_read_latency_[level].Empty()) {
      oss << "** Level " << level << " rea

[2020-11-12 14:42] mrambacher commented on #7664
I believe this issue was introduced in #7461

The issue can probably be resolved by changing the line " *value = oss.str(); " to "value->append(oss.str());"

[2020-11-12 19:18] ltamasi commented on #7664
Thanks for reporting @yinsudahuizhuan ! I'll put out a patch to fix this.

[2020-11-13 01:33] #7664 closed

[2020-11-13 09:37] x-x-p opened #7670 "当服务器断电后，服务重启，rocksdb恢复过程中断言崩溃"
rocksdb版本：6.5.2
在 data_block_hash_index.cc中 DataBlockHashIndex::Initialize()函数中， num_buckets 解码出来为65024，但size只有91。如下图：
![bug](https://user-images.githubusercontent.com/49055325/99057374-acf68c00-25d6-11eb-93c4-cf7d519fc968.png)

[2020-11-13 09:57] walterzhaoJR commented on #7130
Excuse me.I want to ask which commit corresponds to the modification of the  question.
@akankshamahajan15
Thank you very much!

[2020-11-16 07:50] Wwwwwxh opened #7677 "Makefile:265: make_config.mk: No such file or directory"
in  centos 8.2  make  shared_lib success
in  centos 7.2.1511 make  shared_lib failed

[2020-11-16 07:50] Wwwwwxh commented on #7677
[root@fe578a8f1d66 rocksdb-6.13.3]# make shared_lib
make: which: Command not found
make: which: Command not found
make: -c: Command not found
$DEBUG_LEVEL is 0
make: -c: Command not found
make: -c: Command not found
make: -c: Command not found
make: -c: Command not found
make: -c: Command not found
make: -c: Command not found
Makefile:265: make_config.mk: No such file or directory
make: -c: Comman

[2020-11-16 13:12] adamretter commented on #7677
@Wwwwwxh Looks like you are missing some tools on your CentOS 7 system, including `which`.

Can you tell me what version of RocksDB you are trying to build?

[2020-11-16 18:13] ajkr commented on #7646
What filesystem is it? We've seen transient ENOSPC on btrfs. Also what version of RocksDB are you using? If it's 4.0 as the jar name suggests, there's been a couple (or more) improvements made since then that may help with this situation:

- Since 5.16, RocksDB automatically resumes accepting writes after the disk no longer reports it's full.
- We fixed a bug in a certain configuration that led to

[2020-11-16 18:17] #7648 closed

[2020-11-16 18:32] ajkr commented on #7652
Can you show the gflags install directory, the gflags version, and the command being used to link? (Run `make V=1 ...` to show commands run by our Makefile.)

[2020-11-16 18:38] #7552 closed

[2020-11-16 19:46] pdillinger commented on #7652
Also, you would see this if forgetting to "make clean" between config changes. (Mentioning that in case you forgot it this time.)

[2020-11-16 20:46] akankshamahajan15 commented on #7130
https://github.com/facebook/rocksdb/pull/5370

[2020-11-16 21:31] adamretter commented on #6814
See https://github.com/facebook/rocksdb/pull/7214

[2020-11-16 21:32] adamretter commented on #2343
See https://github.com/facebook/rocksdb/pull/7214

[2020-11-16 21:37] bijanoviedo opened #7681 "SIGSEGV in rocksdb::DB::GetIntProperty"
### Expected behavior

`rocksdb::DB::GetIntProperty(ColumnFamilyHandle*, const Slice&, uint64_t*)` should not segfault.

### Actual behavior

Segfault occurs sporadically.

gcc: 8.3.1
rocksdb: 6.13.2

Backtrace from core dump:

[code]

(I have a signal handler installed so the real stacktrace begins on `#5`). The segfault is happening on [this line] (https://github.com/facebook/rocksdb/blob/v6.13.

[2020-11-17 01:01] DengJin88 commented on #6281
would you please paste the links of your references?

[2020-11-17 02:03] wolfkdy commented on #6281
@DengJin88 the transaction manager part is mainly individual work, you may refer to https://www.researchgate.net/publication/37423502_Generalized_Snapshot_Isolation_and_a_Prefix-Consistent_Implementation for the theoretical part

[2020-11-17 02:17] Wwwwwxh commented on #7677
RocksDB  version  5.18.3

[2020-11-17 08:48] adamretter commented on #7677
@Wwwwwxh Did you try installing the missing commands?

[2020-11-17 08:55] Wwwwwxh commented on #7677
try installing the missing commands
find out why
missing commands      which
thank you

[2020-11-17 21:50] pdillinger commented on #6644
I'm concerned that the factory interface

[code]

requires any shared objects to live forever. Or more precisely: exactly as long as the factory. If the factory keeps ownership, it doesn't know that it's ever safe to deallocate (before its own deallocation); alternately, the factory cannot share the object if it passes on ownership.

This suggests a shared_ptr+weak_ptr solution. Though it might se

[2020-11-17 23:29] #7269 closed

[2020-11-18 13:35] Phantomape commented on #7652
Came across the same error above along with ```DSO missing from command line``` error using ubuntu 16.04 (which use libgflags-dev 2.1.2-3). However I succeed in compiling in ubuntu 18.04 (which use libgflags-dev 2.2.1-1). I use docker to run these containers, which should be fairly easy to reproduce

[2020-11-18 15:23] pkubaj opened #7691 "Build error on powerpc64 with Clang 11.0.0"
### Expected behavior
rocksdb doesn't build.

### Actual behavior
It should build.

### Steps to reproduce the behavior
Build rocksdb using Clang 11.0.0 on powerpc64 - I'm using FreeBSD head, but building on Linux should also yield the same results.

Building fails with:
[code]

[2020-11-18 20:02] jay-zhuang commented on #7691
I guess we should change `unsigned len` to `unsigned long len` here: https://github.com/facebook/rocksdb/blob/e731f4402258554812c46334dc0d9483e6cc769b/util/crc32c_ppc.c#L70
And
https://github.com/facebook/rocksdb/blob/e731f4402258554812c46334dc0d9483e6cc769b/util/crc32c_ppc.c#L29-L30
@pkubaj we don't have ppc environment with clang11 for test, would you please try that out?

[2020-11-18 20:03] adamretter commented on #7691
At the moment our ppc64le Jenkins CI and Travis CI systems both use gcc 5.4.0-6ubuntu1~16.04.12 5.4.0 20160609.

I could attempt to setup a ppc64le CLANG 11 environment on the Jenkins CI, assuming that I can get and install a Clang 11 for Ubuntu 16 on ppc64le.

[2020-11-18 20:08] adamretter commented on #7691
It looks like Clang 11 only became available in the Ubuntu package repo in Ubuntu 20.10 (groovy).
However, it looks like the LLVM project provide pre-built binaries. I will see what I can do...

[2020-11-18 20:47] adamretter commented on #7691
The ppc64le Clang 11 binaries are available from here: https://releases.llvm.org/download.html#11.0.0

The exact download is: https://github.com/llvm/llvm-project/releases/download/llvmorg-11.0.0/clang+llvm-11.0.0-powerpc64le-linux-ubuntu-16.04.tar.xz

Unfortunately whilst it claims to be usable for Ubuntu 16.04, it appears the binaries have been compiled against GLIBC 2.27, yet Ubuntu 16.04 has G

[2020-11-18 21:59] rustyx opened #7695 "RocksDB Java API for reopening a database"
RocksDB Java API is difficult to use in combination with Spring. In Spring, beans are created once and "wired" everywhere they are needed at application startup. It's all but impossible to re-wire Spring beans, short of restarting the application. This makes the `RocksDB.open()` API, which always returns a new object, difficult to use when a database needs to be re-opened. A typical use-case when

[2020-11-19 02:00] ajkr commented on #7652
Thanks. Yes with gflags 2.1 there's a known problem (#6628). I'm not sure when that'll be fixed, but it should be able to be worked around by explicitly setting `-DGFLAGS_NAMESPACE=gflags`.

[2020-11-19 02:43] Phantomape commented on #7652
Hmm, I'm not sure that's the case, cause in ubuntu 16.04 container mentioned above,I saw this in my gflags header file ```gflags_declare.h```
![image](https://user-images.githubusercontent.com/8809221/99614026-9c6d6800-2a53-11eb-920d-152d463031bd.png)
And the command ```nm -D libgflags.so```, I can see ```google``` is actually the namespace for these undefined functions
![image](https://user-image

[2020-11-19 11:03] SaschaSchlemmer commented on #908
Somewhat related to multi-process read access to one database I wonder If one can backup a database from another process i.e. open a database as read-only and then use that for backup?

[2020-11-19 20:02] adamretter commented on #7691
@pkubaj @jay-zhuang I was able to compile LLVM11 from source code on Ubuntu 16.04. I was also able to reproduce the same error:

[code]

I will add an LLVM11 target to the ppc64le CI and test your proposed patch...

[2020-11-20 03:25] runzhiwang opened #7704 "Crash when DBImpl::Open"
rocksdbjni with version 6.8.1
![image](https://user-images.githubusercontent.com/51938049/99754353-30f2cb80-2b23-11eb-840c-df25a065facd.png)

[2020-11-20 04:05] sunxiao2010n opened #7705 "Is there a problem of ExportColumnFamily, how do I import column family without metadata?"
I used ExportColumnFamily() to export data.

  _virtual Status ExportColumnFamily(ColumnFamilyHandle* handle,
                                    const std::string& export_dir,
                                    ExportImportFilesMetaData** metadata);_

 sst files were exported to the export_dir. but the returned metadata contains no files

 _struct ExportImportFilesMetaData {
   std::string db_co

[2020-11-20 11:09] adamretter commented on #7704
There is nothing that immediately jumps out here. Could you install the debuginfos as it suggest and see whether that provides a more detailed Stacktrace?

[2020-11-20 14:48] adamretter commented on #7691
Okay I had to start again with LLVM 11 on pcc64le as the instructions I had followed to build it resulted in a debug build which was too slow to be useful. I have now built and bootstrapped llvm from source. I also setup a build Matrix in the CI.

<img width="954" alt="Screenshot 2020-11-20 at 15 46 43" src="https://user-images.githubusercontent.com/1264057/99813299-cbfd9c80-2b47-11eb-97b7-62c0af8

[2020-11-20 14:49] adamretter commented on #7691
@jay-zhuang Unfortunately your proposed fix doesn't seem to be enough and reveals other errors. I will see if I can get to the bottom of it...

[2020-11-21 09:40] darionyaphet opened #7708 "Why don't support some method using right reference"
### Expected behavior

Why don't support some method using right reference  for example:

[code]

[2020-11-23 03:38] pdillinger commented on #7708
Slice is a no-op for destruction, so there's no reason for move semantics on Slice.

If you are thinking about std::string&&, even that is not helpful because RocksDB doesn't keep K&V strings around as individual buffers after the call to Put. The data is packed into other structures. So move semantics would accomplish nothing except have RocksDB free your data ever so slightly before you would fr

[2020-11-23 03:38] #7708 closed

[2020-11-24 00:30] hdevalence opened #7710 "RocksDB fails to build on M1 Apple Silicon due to incorrect ifdefs"
### Expected behavior

RocksDB builds on M1 Apple Silicon (in this case via rust-rocksdb bindings)

### Actual behavior

RocksDB does not build, erroring as follows:
[code]

A few lines up is this ifdef (pointed out by @teor2345:

https://github.com/facebook/rocksdb/blob/29f7bbef995bdf83098963799c66af742e95373f/util/crc32c.cc#L407

It looks like these functions are meant to always be defined, and

[2020-11-24 00:43] hdevalence commented on #7710
Hmm, it looks like here https://github.com/facebook/rocksdb/blob/29f7bbef995bdf83098963799c66af742e95373f/util/crc32c.cc#L497 , there's a path for ARM64_CRC, but only on Linux.  Is there some Linux-specific behavior intended?

[2020-11-24 06:24] hdevalence commented on #7710
This patch seems to resolve the issue, I'm not sure why ARM64 support is linux-conditional: https://github.com/hdevalence/rocksdb/commit/ed1882ef51197d8d824ac50d946a7fff850066a1

More context in this comment: https://github.com/rust-rocksdb/rust-rocksdb/issues/482#issuecomment-732553563

[2020-11-24 09:53] adamretter commented on #7710
@hdevalence Hi Henry I have been seeing the same issue on the Apple DTK (A12Z). I started looking into it but didn't spend much time on it yet.

I suspect that was simply because the ARM64 platforms that were available for testing/dev were Linux.

I will apply the patch and run some tests and ARM Mac and ARM Linux and report back...

[2020-11-24 13:58] nikitamikhaylov opened #7711 "Is there a race in code?"
Could you please explain this piece of code? https://github.com/facebook/rocksdb/blob/0355d14dd9c9e41d37bb3a462c5a1ddbc8962392/util/timer.h#L78-L105

I think there is a race on `thread_` variable, because we can call Start(), then call Start() and Shutdown() in parallel. So, there will be a situation when `running_=false`, but `thread_` is not nullptr, so if `reset` will be called a bit earlier th

[2020-11-24 14:21] adamretter commented on #7710
@hdevalence For the DTK I needed a few more changes than you suggested.

Would you be willing to try the attached patch please?
[arm64_crc.patch.txt](https://github.com/facebook/rocksdb/files/5590467/arm64_crc.patch.txt)

[2020-11-25 06:06] ufo2243 opened #7712 "Is there any way to determine the exact last write/sequence number in the rocksdb's backup"
After I called rocksdb::BackupEngine::CreateBackupWithMetadata() , the information I can get from Backup is only a id and a timestamp.
What I what to do here is that if I can have the last operation in the backup I can log all the operations after backing up rocksdb somewhere else.

[2020-11-25 12:36] adamretter commented on #7691
Okay so with the attached patch [ppc-clang11.patch.txt](https://github.com/facebook/rocksdb/files/5596665/ppc-clang11.patch.txt), I am now hitting a different error related to gcc vs clang and asm headers on ppc:

[code]

It seems that they already solved this in MariaDB - https://bugs.llvm.org/show_bug.cgi?id=28286... So I will take a look at how they fixed that there and see if we can do somethi

[2020-11-26 02:28] jiacai2050 commented on #4880
Same issue here.

It turns out that I install an old version rocksdb via `brew install rocksdb`, after `brew remove rocksdb` everything is fine.

[2020-11-26 05:51] runzhiwang commented on #7704
![image](https://user-images.githubusercontent.com/51938049/100312904-6fd6c480-2fee-11eb-8e7c-fc8fe893c6ae.png)
@adamretter Thanks the suggestion, I install the debuginfos, but no more detaild stacktrace.

[2020-11-26 10:29] adamretter commented on #4880
@jiacai2050 I don't see any issues with rocksdb latest version in Homebrew:

[code]

[2020-11-26 11:08] adamretter commented on #7704
@runzhiwang Perhaps if you resolve the line number from `rocksdb::DBImpl::Open` it could give us some clue. See - https://github.com/facebook/rocksdb/wiki/JNI-Debugging

[2020-11-26 12:08] runzhiwang commented on #7704
![image](https://user-images.githubusercontent.com/51938049/100349133-eb526900-3022-11eb-9525-0022a7eff443.png)
![image](https://user-images.githubusercontent.com/51938049/100349214-16d55380-3023-11eb-93c2-e513421b206e.png)

@adamretter  I have use addr2line, but no clue.

[2020-11-26 14:48] adamretter commented on #7704
@runzhiwang  You need to build `DEBUG_LEVEL=2` versions of the RocksDB binaries to be able to get the line numbers

[2020-11-27 15:34] InoMurko opened #7717 "xcode 11 catalina build"
Steps:
Catalina + XCode 11
[code]
Output:
[code]

Is this a known error or a missing dependency?

[2020-11-27 19:31] adamretter commented on #7717
@InoMurko I just checked and I see a very similar problem on HEAD. It looks like the culprit is the `tools` target... I will take a look...

[2020-11-28 02:42] xiaoqge opened #7719 "Regarding the issue of writing stalls"
Regarding the issue of stalling, I hope to get some help, I have spent 3 weeks on this issue and still have not been resolved. I understand that the issue should not be posted here, but I have not been resolved when I ask for help elsewhere，Please allow me to spend a few minutes to introduce my rocksdb problem

I used to put rocksdb on the ssd disk, but there will be a problem of slower and slower

[2020-11-28 15:23] jurmous opened #7720 "Java: Support Apple Silicon/M1 machines"
When I run an application on an Apple Silicon based JVM depending on the RocksDB JVM library it fails with UnsatisfiedLinkError.

### Expected behavior
Maven dependency includes Mac Arm64 compilation

### Actual behavior
Maven dependency does not include Mac Arm64 compilation

### Steps to reproduce the behavior
Run RocksDB inside a Apple Silicon JVM application. UnsatisfiedLinkError is thrown.

D

[2020-11-28 15:35] xiaoqge commented on #7719
[https://github.com/twmht/python-rocksdb/issues/88](url) My usage problem, close

[2020-11-28 15:35] #7719 closed

[2020-11-28 23:10] adamretter commented on #7720
@jurmous I am waiting for https://github.com/facebook/rocksdb/pull/7714 to get merged before I add the update for RocksJava. If you want to test #7714 and give us some feedback that would be great...

[2020-11-29 08:32] rainays commented on #7652
thanks for reply, package version is 2.2.2 and install directory /usr/lib64

[2020-11-29 08:34] rainays commented on #7652
thanks,  I've tried this, but not work

[2020-11-29 08:36] rainays commented on #7652
thank you, it works!

[2020-11-29 16:23] jurmous commented on #7720
I posted my feedback in #7714.

[2020-11-30 22:14] #7652 closed

[2020-12-01 01:56] jay-zhuang commented on #7711
Thanks @nikitamikhaylov for reporting the issue. Yes, there's race condition for timer `start` and `shutdown`. I'm working on a fix for that.

[2020-12-01 12:59] theolivenbaum opened #7727 "Strange disk usage on backup"
Hi,

We saw a strange issue in a production system this week - appreciate any guidance in investigating it.

The system is a >2TB RocksDB store, configured for incremental backup that is triggered every night. As part of the backup task, we also purge older backups so that we keep only the N latest ones. All following the [Wiki Backup Page](https://github.com/facebook/rocksdb/wiki/How-to-backup-Ro

[2020-12-01 19:21] #7691 closed

[2020-12-01 19:59] abbccdda opened #7729 "Benchmark for external sst file injection efficiency"
Hey there, do we have any benchmark numbers around external sst file injection, compared with write batches? We want to evaluate the benefit of creating external sst files to speed up the RocksDB restoration process, and would like to know whether there are already existing work covering that. So far I don't see any related benchmark in the `db_bench`.

[2020-12-01 21:24] gaojieliu opened #7730 "Core dump while using rocksdbjni-6.11.4"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Stacktrace:
[code]

We didn't find out a good way to reproduce this issue reliably, and we would like to check with RocksDB dev team to see whether this stacktrace is familiar or not.

[2020-12-01 21:57] adamretter commented on #7730
@pdillinger @ajkr Have you seen anything like this originating from `rocksdb::ColumnFamilyData::ReturnThreadLocalSuperVersion`?

[2020-12-02 00:09] pkubaj commented on #7691
Thanks!

[2020-12-02 00:56] runzhiwang commented on #7704
@adamretter Thanks the suggestions. Could you give the command used to build` DEBUG_LEVEL=2`, with `-g` option, versions of the RocksDB, and deploy it to maven repository ?

[2020-12-02 08:35] a574258039 commented on #262
您好，我们发现了类似的问题，请问这个org.rocksdb.RocksDBException: unknown WriteBatch tag 是什么原因那？

[2020-12-02 11:15] ikenchina opened #7735 "Encountered bad file descriptor error"
Rocksdb returned IO error when wrote a batch.
`
IO error: While pread offset 19862407 len 1146: /db/db/1/1/1958633.sst: Bad file descriptor
`

Rocksdb switched to read-only mode, and has not invoked `rocksdb::EventListener::OnBackgroundError`
It works fine after reopen it.

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2020-12-02 17:43] adamretter opened #7736 "Unable to build with llvm/clang 11"
From the `HEAD` of the `master` branch on Ubuntu 16.04 (Xenial) for both x86_64 and ppc64le with `clang version 11.0.0 (https://github.com/llvm/llvm-project.git 176249bd6732a8044d457092ed932768724a6f06)`:

Running the command:
[code]

Or the command:
[code]

Ultimately results in the error:

[code]

Compiling with `gcc (Ubuntu 5.4.0-6ubuntu1~16.04.12) 5.4.0 20160609` instead works just fine.

[2020-12-03 01:44] ajkr commented on #7735
Do you use `Merge()` with `max_successive_merges` or in-place memtable updates? If so it is possible reads are done in the write path. If the read encounters an error, we fail the write and enter read-only mode (as you observed).

[2020-12-03 02:02] ikenchina commented on #7735
I didn't use `Merge()` and in-place memtable, i only write a new key for testing performence.

[2020-12-03 03:59] ajkr commented on #7735
Oh, then it is an error encountered during a background operation. Then the error is saved, the DB enters read-only mode , and future write operations are returned the saved error.

[2020-12-03 04:23] ikenchina commented on #7735
So, does rocksdb invoke `rocksdb::EventListener::OnBackgroundError` for this issue?

[2020-12-03 07:41] ajkr commented on #7735
Yes, it is supposed to call `OnBsckgroundError()` in this scenario. I just tried to test it on master branch by removing some files while the DB was running and verified it got called. What version are you using?

Probably, but it's not really recommended. That capability (manipulating background error from a callback) was added for outdated political reasons and should be removed. An alternative

[2020-12-03 08:03] popduke opened #7741 "Exception thrown from getApproximateMemTableStats when less than 2 records in the range"
In rocksdb java[6.13.3], when calling getApproximateMemTableStats with a range containing 0 or 1 record, following exception will be thrown:

java.lang.ArrayIndexOutOfBoundsException: 1
	at org.rocksdb.RocksDB.getApproximateMemTableStats(RocksDB.java:3147)
	at org.rocksdb.RocksDB.getApproximateMemTableStats(RocksDB.java:3161)

### Expected behavior
No exception thrown
### Actual behavior
ArrayInde

[2020-12-03 10:42] ikenchina commented on #7735
I used v5.14.3 version.
Ok, i got it.
Thanks.

[2020-12-03 10:42] #7735 closed

[2020-12-03 15:35] rohitjoshi commented on #678
[AWS has released Arm-based AWS Graviton2 processor](https://aws.amazon.com/ec2/instance-types/r6/) which are much faster and cost effective.  Any plan to officially support ARM platform?

[2020-12-03 17:40] adamretter commented on #678
@rohitjoshi We do support ARM, and for example, the RocksJava binary releases ship with aarch64 support. We also just added compilation support for Apple Silicon.

[2020-12-03 22:43] patkivikram opened #7742 "Why don't I see read stats in my log"
Tried on rocksdb 6.10.3 and 6.1.2 the LOG file does not contain the read stats
[code]
### Expected behavior
The File Read Latency Histogram By Level should not be empty
### Actual behavior
It is empty

### Steps to reproduce the behavior

[2020-12-04 08:19] #7677 closed

[2020-12-04 18:53] adamretter commented on #7736
Looking at https://en.cppreference.com/w/cpp/memory/new/operator_delete it appears that:
[code]

May be a C++17 language feature. However, AFAIK, RocksDB is C++14

[2020-12-04 22:37] pdillinger opened #7746 "DBTest2.PartitionedIndexUserToInternalKey failing on ppc64le"
DBTest2.PartitionedIndexUserToInternalKey failing (always or very often?) on ppc64le, as seen in Travis at least since version 6.13

[2020-12-05 20:23] akankshamahajan15 commented on #7746
Working on the issue and fix.

[2020-12-09 14:48] ottok commented on #7035
This is still and issue. Any tips on how to solve it would be appreciated.

[2020-12-10 06:20] cculianu opened #7764 "mingw link error on v6.14.6"
### Expected behavior

Building using mingw doesn't produce link errors.

### Actual behavior

Building using mingw produces link errors:

[code]

### Steps to reproduce the behavior

1. Use Windows
2. Install mingw and cmake
3. Use it to build.
4. Get link error.

This used to work on rocksdb v6.6.4.

I ended up troubleshooting it and this is the culprit in `CMakeLists.txt`:

https://github.com/f

[2020-12-10 20:28] jurmous commented on #7720
@adamretter Thanks for all the work on the Apple Silicon compilation issues! Do you have any update on the RocksJava Apple Silicon support? Or do you need help?

[2020-12-10 20:35] adamretter commented on #7720
@jurmous I can likely send a PR tomorrow if that works for you?

[2020-12-11 00:21] jay-zhuang commented on #7736
Try `ROCKSDB_DISABLE_ALIGNED_NEW=1`
https://github.com/facebook/rocksdb/blob/6cacb0d3a146604a432a06847234b78db096e198/.circleci/config.yml#L209

[2020-12-11 15:55] adamretter commented on #7710
Closed by https://github.com/facebook/rocksdb/pull/7714

[2020-12-11 15:55] #7710 closed

[2020-12-11 15:57] adamretter commented on #7720
@jurmous okay so there is no problem with building RocksDB and RocksJava from source and running it on Apple Silicon now.

I will shortly send a PR to differentiate between Mac binaries for x64 and aarch64. We can then package both into the next release of RocksJava that is published on Maven central.

[2020-12-11 16:52] jurmous commented on #7720
@adamretter Thanks for checking it out!

Cool that there is no problem building the libraries!

Yes both directions would be valid. Universal makes some things easier I guess and the Mac binary is not that large compared to linux64.

[2020-12-12 07:55] cculianu commented on #4112
I also am seeing memory usage explode over time in my db.  Any ways to fix?

[2020-12-12 09:41] toktarev commented on #4112
It;s time to call this ticket "THE WALL OF CRYING"

[2020-12-14 21:39] jay-zhuang commented on #7588
Seems a visualstudio download site issue, which is fixed.

[2020-12-14 21:39] #7588 closed

[2020-12-15 03:48] huynhsamha opened #7771 "SIGSEGV with RocksJava at rocksdb::DB::Put"
### Actual behavior

I'm using RocksJava as DB in a Thrift Service. I load test my service in 3 days. My service was crashed with SIGSEGV.

I saw the error log file **hs_err_pidxxxx.log**:

[code]

**Stack Log**

[code]

My RocksDB version is **6.11.4** (`librocksdbjni-linux64.so`)

JDK version

[code]

I've checkout RocksDB source at branch  **6.11.4** and I think [method DB::Put](https://github.

[2020-12-15 07:21] huynhsamha commented on #7771
This is the **log from RocksDB** when my service crash. The service crashed at **18:42**

[code]

[2020-12-16 03:03] runzhiwang commented on #7704
@adamretter  Hi, I build rocksdb with command: ROCKSDB_DISABLE_JEMALLOC=true make -j8 rocksdbjava, then use the jar, but throw exception.
![image](https://user-images.githubusercontent.com/51938049/102299646-3c081280-3f8e-11eb-836a-15f2fb6215ab.png)

[2020-12-16 16:14] jarifibrahim opened #7773 "Question: How does rocksDB deal with stale data on the last level?"
Hi guys, I work on Badger DB and I had a question about compaction.
How does rocksdb deal with stale data on the last level of the LSM Tree?
We have a situation where our last level has most of the stale data (which will be dropped can be dropped by the next compaction).

I am wondering how does rocksDB deal with this situation? Does it have same level compactions (apart from the L0 to L0 ones)?

[2020-12-16 17:57] adamretter commented on #7704
@runzhiwang It looks like you dynamically linked it on a platform that happy Snappy installed, and then tried to run it on a platform which didn't have Snappy

[2020-12-16 18:38] siying commented on #7773
A "TTL" feature is used to make sure all updates reach the last level in certain amount of time: https://github.com/facebook/rocksdb/blob/master/include/rocksdb/advanced_options.h#L678-L694

The option name is a little bit confusing, but reading the comment you can get the purpose. We have some optimizations on progress to improve the feature to reduce the spiking behavior of the option.

[2020-12-17 05:25] alexey-milovidov opened #7778 "RocksDB is using `strerror` function that is not thread-safe."
`rocksdb/env/io_posix.cc:69`

See https://github.com/ClickHouse/ClickHouse/pull/16366

[2020-12-20 04:56] deepakojha123 opened #7784 "Rocksdb failed to recover after disk full error"
Hi,

We saw an issue with rocksdb v6.4.6 where after disk full error rocksdb failed to recover and went into crashloop during WAL recovery. The error was as follows:
"Corruption: SST file is ahead of WALs"

Our use case: We open a single DB instance with multiple column-families and we do only sync writes. We use kPointInTimeRecovery mode. The rocksdb logs indicate a corrupted WAL file which was s

[2020-12-20 20:39] ajkr commented on #7784
I stressed version 6.4 with `ENOSPC` and also saw the DB fail with the newest WAL having zero bytes most times. @anand1976 do you happen to have a guess why? Unfortunately the only time it doesn't happen is when run under a debugger.

We shouldn't need to fail when there's a zero-byte WAL, anyways. Maybe when calculating `corrupted_wal_number`, we can increase it as long as the next newer WAL cont

[2020-12-21 00:20] mrambacher commented on #7035
I have some ideas on how we could potentially fix this issue.  I will take a look.

[2020-12-21 10:19] feliwir commented on #6995
I can't compile either with latest clang on Ubuntu. Can the PR please be merged or looked at?

[2020-12-21 18:09] matthewvon opened #7792 "cmake build with WITH_DYNAMIC_EXTENSION=1 does not work."
Example command:

cmake -DWITH_GFLAGS=0 -DWITH_DYNAMIC_EXTENSION=1 ..

Example output with "make -j 30":

[ 63%] Linking CXX executable db_sanity_test
../librocksdb.so.6.14.0: undefined reference to `dlclose'
../librocksdb.so.6.14.0: undefined reference to `dlsym'
../librocksdb.so.6.14.0: undefined reference to `dlopen'
../librocksdb.so.6.14.0: undefined reference to `dlerror'
collect2: error: ld

[2020-12-21 18:21] mrambacher commented on #7035
I have some ideas on how to fix this issue but need guidance on what the community wants.  Currently, the build_version contains two strings:
- "rocksdb_build_git_sha"  -> The SHA obtained by "git rev-parse HEAD"
- "rocksdb_build_compile_date -> The date at which this library was built.

The latter field is the one causing the non-reproducible builds.

My suggestion is to do the following:
For "co

[2020-12-21 18:27] ottok commented on #7035
Personally I would always use the git commit ID and only it, and not allow builds that have uncommitted changes, as they cannot be tracked in any way. Also, if you want traceability, supporting reproducible builds should be a priority for you :)

But if you want to support these other options as well and find value in branch names and dates too, then what you suggested is OK.

[2020-12-21 18:34] mrambacher commented on #7035
If you do not allow builds with uncommitted changes, there will have to be some switches so that developers can do a build to address issues and add features. Though I understand it would be nice for a "production build" to not allow uncommitted changes.

[2020-12-21 18:59] adamretter commented on #7035
@mrambacher I think all of your suggestions sound correct to me.

I also like the general idea of adding `rocksb_build_git_branch`, however the git command you suggested won't work for tags which is generally what I build RocksJava releases from. Instead could you use `git symbolic-ref -q --short HEAD || git describe --tags --exact-match`

[2020-12-21 20:29] ArunGust opened #7794 "error: failed to run custom build command for `librocksdb-sys v5.18.5`"
### Expected behavior

### Actual behavior

--- stderr
  error occurred: Command "D:\\Program Files (x86)\\Microsoft Visual Studio\\2019\\Community\\VC\\Tools\\MSVC\\14.28.29333\\bin\\HostX64\\x64\\cl.exe" "-nologo" "-MD" "-Z7" "-Brepro" "-I" "rocksdb/include/" "-I" "rocksdb/" "-I" "rocksdb/third-party/gtest-1.7.0/fused-src/" "-I" "snappy/" "-I" "lz4/lib/" "-I" "zstd/lib/" "-I" "zstd/lib/dictBuild

[2020-12-21 20:30] #7794 closed

[2020-12-21 20:30] ArunGust commented on #7794
Sorry, wrong git

[2020-12-22 05:24] pdillinger commented on #7746
https://travis-ci.org/github/facebook/rocksdb/jobs/750937923

I believe the issue is that an automatic flush can be triggered before sufficient entries have been added. I don't know why, except maybe you're dangerously close to exceeding the write buffer size and/or dangerously close to not splitting a partition.

[2020-12-22 19:25] akankshamahajan15 commented on #7746
Oh! I will check it again. Since its not reproducible so difficult to understand the issue but keeping your suggestions in mind, I will try to change the test.

[2020-12-23 01:09] gouaic opened #7807 "Fc"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2020-12-23 14:21] #7807 closed

[2020-12-23 15:33] katusk opened #7809 "DB name ending with a non-ASCII character causes assertion"
### Expected behavior

After providing a DB name ending with a non-ASCII character, the DB should open without any errors or assertions.

### Actual behavior

After providing a DB name ending with a non-ASCII character, one gets an assertion on Windows -- even if WITH_WINDOWS_UTF8_FILENAMES is set to ON. Tested on Microsoft Windows (Version 10.0.18363.1256) with Visual Studio 2019 Developer Comman

[2020-12-23 17:39] mrambacher commented on #7809
Quickly looking at the code, this seems to be a more generic problem.  As pointed out The RocksDBOptionsParser::TrimAndRemoveComment has this issue, but the standard RocksDB trim (in util/string_util) and db_bench_tool do as well.

The OptionTypeInfo::NextToken uses is_space to tokenize strings, which may also be a problem with UTF-8 strings.

[2020-12-23 18:51] mrambacher commented on #6995
In what version of RocksDB are you seeing this issue?  I am attempting to reproduce it in master, but do not see the failure.

[2020-12-23 18:55] adamretter commented on #6995
This not the same issue, but I had problems also with Clang 11 on Ubuntu - https://github.com/facebook/rocksdb/issues/7736

[2020-12-23 23:00] mrambacher commented on #6995
I installed clang via "sudo apt install clang" on my ubuntu box, which installed clang v10:
clang --version
clang version 10.0.0-4ubuntu1
Target: x86_64-pc-linux-gnu
Thread model: posix
InstalledDir: /usr/bin

I did not see the same build issue, but saw an issue with atomic functions:

[ 66%] Building CXX object CMakeFiles/rocksdb_reduce_levels_test.dir/tools/reduce_levels_test.cc.o
/usr/bin/ld: C

[2020-12-24 12:31] adamretter commented on #6995
@mrambacher I see that there are some Clang 10 jobs on CircleCI, but none using CMake. Perhaps the first step would be to add jobs there for Clang 10 and 11 (for https://github.com/facebook/rocksdb/issues/7736). Would you like me to try?

[2020-12-24 12:47] mrambacher commented on #6995
@adamretter Thanks for the offer.  Please do!

[2020-12-26 21:12] mrambacher commented on #6995
I tried to build the latest master on Ubuntu 20.x with clang-11 and do not see the options_helper error, only the undefined reference to atomic_is_lock_free.

[2020-12-27 21:39] #6691 closed

[2020-12-27 21:54] #7307 closed

[2020-12-28 07:35] CoderSong2015 opened #7815 "Secondary Instance will lost manifest data when calling TryCatchUpWithPrimary"
### Expected behavior
Secondary Instance could read all primary's manifest data after calling TryCatchUpWithPrimary()
### Actual behavior
Secondary Instance will lost manifest data when the MANIFEST file switch twice before TryCatchUpWithPrimary() called
### Steps to reproduce the behavior
Calling TryCatchUpWithPrimary after primary instance switch MANIFEST twice.

@riversand963

[2020-12-29 13:41] #6456 closed

[2020-12-30 23:10] alexey-milovidov opened #7821 "Use after free in LockFile"
ASan report: https://clickhouse-test-reports.s3.yandex.net/18650/dc320ec68f991b51ff899046add900aa4ec4291a/stress_test_(address)/stderr.log

Found by ClickHouse tests here: https://github.com/ClickHouse/ClickHouse/pull/18650

[2021-01-03 20:54] mrambacher commented on #7717
The problem is that "make tools" is compiling with DEBUG_LEVEL=1 whereas the base library is compiled with DEBUG_LEVEL=0.  The tools code ends up including the SyncPoint code, which is compiled out in non-debug releases.  If the "make tools" was changed to "DEBUG_LEVEL=0 make tools", I believe it would compile successfully.

[2021-01-04 05:51] pdillinger commented on #4120
For the record, the code used to look like this:

https://github.com/facebook/rocksdb/blob/662b8febcb785821b428023b4ce342d16d207bcb/util/bloom.cc#L296-L306

The cited Kirsch+Mitzenmacher result is just an asymptotic result, as m and n go to infinity. This code seems to use the result to avoid actually verifying the practical limitations of their code, and the practical issues were significant. Not

[2021-01-04 17:06] #6683 closed

[2021-01-04 17:21] pdillinger opened #7830 "Support GetLogicalBlockSizeOfFd on non-Linux"
Work was started in #7763. Test db_logical_block_size_cache_test is currently compile-time Linux only

[2021-01-05 11:58] advancedwebdeveloper opened #7833 "Build failed, on ppc64 (Qemu): invalid operands (*UND* and *ABS* sections) for `&'"
Hi.
Here is what I got:

[2021-01-05 12:22] advancedwebdeveloper commented on #7833
It was a part of my attempt to compile https://github.com/apache/nifi-minifi-cpp - so here is a compressed build folder, featuring rocksdb related sub-dir.:

https://drive.google.com/file/d/1YOQx1zp_c3sRCqkh2t686x8qiIrOb80a/view?usp=sharing

[2021-01-05 17:06] abbccdda opened #7835 "Rocks JNI crash due to segfault in GC"
We hit a fatal error in the RocksDB JNI layer:

[code]

Was wondering if anyone has seen a similar issue before?

[2021-01-06 10:20] adamretter commented on #7835
Which version of RocksJava?

Can you show the first few frames of the stack from `/mnt/run/hs_err_pid20824.log` please

[2021-01-06 10:26] adamretter commented on #7833
@advancedwebdeveloper Can you please tell me, which version of RocksDB and which version of CMake?

We build the RocksJava ppc64le binaries using:
* Ubuntu 16.04.7
* gcc (Ubuntu/IBM 5.4.0-6ubuntu1~16.04.12) 5.4.0 2016060
* GNU Make 4.1
* IBM J9 VM build 2.7, JRE 1.7.0

We don't use CMake in that process. Have you tried using just the `make` approach?

[2021-01-06 13:02] advancedwebdeveloper commented on #7833
Cloudera [insists](https://github.com/apache/nifi-minifi-cpp#aptitude-based-linux-distributions) on RocksDB 4.1. But let me check which version was download by the build script.

[2021-01-06 16:42] adamretter commented on #7833
@advancedwebdeveloper Can you try using the `make` approach instead of `cmake` please?

[2021-01-06 17:09] advancedwebdeveloper commented on #7833
Let me try

[2021-01-07 12:49] advancedwebdeveloper commented on #7833
@adamretter , still compiling.
I mentioned some related stuff, out here:

.
Here is what being available, on Windows 10:

.
Hence that pseries-2.8+ can't run, on

. And "series" prefix != "power".
Consider wrong tuning being (improper auto-identification?) performed.

CC @bencz @danielhb @rpsene

[2021-01-07 13:03] bencz commented on #7833
This is not an error related to QEmu, but to the assembler being used ... because it is an error of invalid operators in the assembly code being compiled

[2021-01-07 13:06] bencz commented on #7833
Maybe, this assembly code was written for ppc64el?
Did you try to build on some ppc64el server ?

[2021-01-07 13:17] bencz commented on #7833
Well... I just build it on Debian on ppc6el it works well... let'me try on ppc64be ( on Power8 )

[2021-01-07 13:35] adamretter commented on #7833
@bencz I think you mean 'ppc64le' not 'ppc64el' ;-)

Our binaries that we build and publish are indeed 'ppc64le'

[2021-01-08 00:02] advancedwebdeveloper commented on #7833
I pinged cause I thought that you can elaborate the differences in instruction sets

[2021-01-08 06:58] alexey-milovidov commented on #7821
Fix: https://github.com/ClickHouse-Extras/rocksdb/pull/4/files

[2021-01-08 16:35] advancedwebdeveloper commented on #7833
crc related stuff was compiled - but some other things didn't:

I am compressing the build folder - and I will share the zip file, so you can check in detail

[2021-01-08 21:01] sfackler opened #7846 "One-off "DeleteRangeCF not implemented" error calling TransactionDb::write"
Running RocksDB 6.15.2 on x86_64 Linux.

We ran into a "DeleteRangeCF not implemented" error when calling `TransactionDb::write` with a batch containing a range delete, which appears to come from the default implementation of `WriteBatch::Handler::DeleteRangeCF`. It seems that the failure is rare, since we've been making batch writes with range deletes for quite a while without issue.

I'm assumin

[2021-01-09 02:58] zhaojintaozhao commented on #7326
I also had the same problem. When database restart, it lost sst files. How did you solve it？

[2021-01-09 13:25] YanB25 commented on #7217
Same error, but a slightly different message.
[code]

[2021-01-09 13:37] adamretter commented on #7217
@YanB25 Do you see the same issue with newer RocksDB versions?

[2021-01-09 13:43] YanB25 commented on #7217
@adamretter Hi, I tried both master branch and `v6.15.2` and they both failed with the same error. Thanks!

[2021-01-09 14:13] adamretter commented on #7217
@YanB25 Okay thanks. Given a clean Ubuntu 18.04 install, can you tell me what commands you run to setup the system and build RocksDB. I can then try and reproduce your issue.

[2021-01-09 14:35] YanB25 commented on #7217
@adam-singer Thank you very much! Firstly I'm not sure whether a conflict version of `gflag` has been installed in the server. I was wondering if I could give priority to the `gflag` installed by `apt` in the building process.

Here's my command to build RocksDB

[code]

I also tried running `make -j` in the project root.

[2021-01-09 18:45] adamretter commented on #7217
@YanB25 So I started with a clean Ubuntu 18.04.5 Server Install and from there did the following setup:

[code]

Which yielded the following installed versions:
[code]

I then installed all the optional library dependencies for building RocksDB:
[code]

I then attempted to build the RocksDB source code using Clang:
[code]

This eventually yielded an error during one of the linking processes. Howev

[2021-01-09 19:37] siying commented on #7217
For a long time, I wasn't able to build RocksDB with libgflags fetched from apt. Not sure why. What I usually do is to download source code of libgflags, build and install. It's usually from a different error though. But I'm curious if you do the same, whether it would work.

[2021-01-09 19:52] adamretter commented on #7217
So the issue I am seeing, i.e.:
[code]

Seems to be some sort of issue with Clang vs GCC, most of the advice I have found seems to suggest to link against `libc++` instead of `libstdc++` when compiling with clang.

I have attempted this by installing further LLVM/Clang dependencies:

[code]

And then re-attempting to build by running:
[code]

This now leaves me with what appears to be a gflags rel

[2021-01-09 21:15] adamretter commented on #7217
After uninstalling the apt version of gflags (2.2.1-1 https://packages.ubuntu.com/bionic/libgflags-dev), I have then built and installed version 2.2.2 of gflags from source and see the same error as reported by @YanB25.

My process for installing gflags was:
[code]

The error I now see is:
[code]

My initial guess is that RocksDB CMake is trying to build a shared library, but that I have static gf

[2021-01-09 22:12] adamretter commented on #7217
So I also installed also the gflags shared library from source code by doing the following:

[code]

I now see both static and shared libgflags libraries in `/usr/local/lib/`:
[code]

After that, rebuilding RocksDB using CMake worked perfectly. I think the default RocksDB CMake approach is to build all the things which include both shared and static libraries, and therefore you need both shared an

[2021-01-09 23:16] mrambacher commented on #7217
@adamretter The problem with Ubuntu "is_lock_free"  build error via CMAKE is an open PR/issue (#7060, #7828, #6995).  On Ubuntu, we need to link against -latomic.

As for the GFLAGS issue, there are potentially a few different things going on, and I am not sure which is in play.    One possibility is that we (or the linker) is grabbing the wrong library (linking against libgflags.a instead of libg

[2021-01-10 02:54] YanB25 commented on #7217
@adamretter Your instructions solve the problem perfectly! Thank you very much. They are very helpful.

[2021-01-11 03:16] #7217 closed

[2021-01-11 20:17] ajkr commented on #7326
@zhaojintaozhao Can you provide more details? Is there an error message or a LOG file we can see? How did you notice SST files were lost?

[2021-01-12 03:26] Layamon opened #7856 "is WriteUnprepared ready?"
Is it ready now? thx

### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2021-01-13 02:23] deepakojha123 commented on #7784
@ajkr I have created a patch with your suggested fix. Please take a look.

[2021-01-13 11:44] Sweetjy opened #7861 "key in db_bench test？"
I use `./db_bench --benchmarks="fillseq,stats" --db=/data/rocksdbtest_fillseq --wal_dir=/data/rocksdbtest_fillseq --num=800000
` to test the rocksdb, and use  `./sst_dump --file=/data/rocksdbtest_fillseq/000007.sst --command=scan --read_num=5` to inspect the kv-pairs, but I get this:
![image](https://user-images.githubusercontent.com/47705757/104448174-c9637480-55d7-11eb-9746-75206453d5fc.png)
why

[2021-01-13 11:45] Sweetjy opened #7862 "why does the key in db_bench look like this?"
I use `./db_bench --benchmarks="fillseq,stats" --db=/data/rocksdbtest_fillseq --wal_dir=/data/rocksdbtest_fillseq --num=800000
` to test the rocksdb, and use  `./sst_dump --file=/data/rocksdbtest_fillseq/000007.sst --command=scan --read_num=5` to inspect the kv-pairs, but I get this:
![image](https://user-images.githubusercontent.com/47705757/104448174-c9637480-55d7-11eb-9746-75206453d5fc.png)
why

[2021-01-13 13:01] PFedorovMsk opened #7863 "Different Slice sizes on "put" operation and comparison"
Hello!
I put into my rocksdb::DB a key and value, each of which is an 8 byte rocksdb::Slice (the original data type is long long).
I also use my own comparator class, in which I check the sizes of the compared Slices. And from time to time I see that some slices are 16 bytes in size instead expected 8 bytes
Is this normal behavior or a bug?

I am using rocksdb 5.14.2 on Centos 6/7 and Debian 9+.
A

[2021-01-13 17:36] jay-zhuang commented on #7863
I don't think it's expected, are you able to share the code to reproduce the issue?

[2021-01-13 17:36] jurmous commented on #7720
@adamretter Were you already able to give some thought on the best approach? And were you able to create a PR? Thanks! 😊

[2021-01-13 17:47] jay-zhuang commented on #7861
Duplicated to #7862

[2021-01-13 17:47] #7861 closed

[2021-01-13 17:53] adamretter commented on #7720
@jurmous Sorry for the delay, I do have some preliminary work here. I had to pause whilst other priorities took over, but I hope to get back to it ASAP.

[2021-01-14 09:21] PFedorovMsk commented on #7863
In my custom comparaotor:
[code]

Usage:

[code]

[2021-01-14 15:36] jurmous commented on #7720
Ok, I understand. Good luck with the other priorities! Let me know if I can help when you are able to get back to it!

[2021-01-14 23:00] mrambacher commented on #7863
My guess is that sometimes you are being (erroneously) passed an InternalKey rather than a UserKey.

Do you know what under which circumstances you get the larger key?  Perhaps a stack trace/abort when you got a larger key might be helpful in debugging this.

[2021-01-15 17:03] Phantomape opened #7868 "Zeros for bloom filter stats"
I'm trying to see how bloom filter affects the point lookup(theoretically it should reduce the number of sst files opened). Here is my source code(mainly copied from the simple_example.cc with slight modifications)
[code]

### Expected behavior

stats should show something related to the bloom filter

### Actual behavior

![image](https://user-images.githubusercontent.com/8809221/104756488-d713288

[2021-01-15 18:24] pdillinger commented on #7868
You might need to flush before Gets for them to come from SST files rather than memtable. These stats are only for SST file bloom filters

[2021-01-15 19:06] stefan-zobel opened #7869 "rocksdbjni: Possible NPE in RocksDB.setOptions"
Version:
**RocksJava 6.15.2**

The Java code in RocksDB.java (method setOptions() in line 3575) derefences the ColumnFamilyHandle argument to obtain the native handle without checking it for null first (the code uses **columnFamilyHandle.nativeHandle_** without checking _columnFamilyHandle_ for **null** first).

Actual:

[code]

Expected:

[code]

[2021-01-16 16:29] Phantomape commented on #7868
Thanks, it works now

[2021-01-16 16:29] #7868 closed

[2021-01-18 06:57] spihiker opened #7878 "Questions about file system"
XFS is the default file system in centos7. When user rocksdb in production environment,What file system is recommanded？
Thanks.

[2021-01-19 02:07] mrambacher commented on #7535
Looking at this a little further, can someone explain to me what TEST_TMPDIR is supposed to mean?  On Linux, it IS the test directory to run under.  If it it set, the TestDirectory will exactly that value.
   const char* env = getenv("TEST_TMPDIR");
    if (env && env[0] != '\0') {
      *result = env;
    } else {
      char buf[100];
      snprintf(buf, sizeof(buf), "/tmp/rocksdbtest-%d", int(ge

[2021-01-19 13:15] aleksuss opened #7881 "Undefined behaviour in multithreaded code"
I decided to bump version of rocksdb up to 6.13.3 in [rust-rocksdb](https://github.com/rust-rocksdb/rust-rocksdb) but stuck with undefined behaviour while rust tests executed. I figured out that the reason of such behaviour is multithreaded execution of rust tests. Every test creates an instance of the database. Current release of `rust-rocksdb` crate uses `rocksdb` version 6.11.4. With this versi

[2021-01-19 13:32] aleksuss commented on #7881
By the way, if I remove line with `delete db;` everything works as excepted 🤔

[2021-01-19 20:28] ajkr commented on #7863
There were bugs where we passed internal keys to the user comparator. One was #4575.

[2021-01-19 22:19] ajkr commented on #7881
I built with assertions enabled; the error then is:

[code]

After adding the following code above `delete db;`, running the repro does not produce any error on my machine:

[code]

Did this repro code produce the same stack trace for you as the original report (failing in `rocksdb::PeriodicWorkScheduler::Register()`)?

[2021-01-20 08:35] aleksuss commented on #7881
After adding:
[code]
the stacktrace hasn't been changed:
[code]
But I didn't try to add a definition `ROCKSDB_ASSERT_STATUS_CHECKED`.

By the way. I'm testing it on macos big sur 11.1.

[2021-01-20 16:40] jay-zhuang commented on #7881
Seems the same issue as #7711 which happens when closing the last cf and re-open.

[2021-01-21 02:51] ajkr commented on #7881
Thanks for the extra info. Indeed your repro worked on my machine after running it in a loop (should've tried that earlier :/ ). Anyway, we can do a workaround for now (#7888) as the long-term fix appears tricky.

Will you be able to upgrade to the latest minor version (6.15.x), or will you need the fix backported farther to the 6.13 release series?

[2021-01-21 10:31] aleksuss commented on #7881
The latest minor version of 6.15.x with the fix would be great. It seems that #7888 really fix the issue. Thanks. Will be waiting for a new tag with the fix 👍🏻

[2021-01-21 16:55] #7881 closed

[2021-01-21 20:46] ajkr commented on #7881
Sure, here is the 6.15.4 tag with the fix: https://github.com/facebook/rocksdb/releases/tag/v6.15.4

[2021-01-22 08:23] aleksuss commented on #7881
@ajkr thanks !

[2021-01-22 15:18] bernochoa commented on #7423
Getting the same error after upgrading RocksDB version from 6.10.2 to 6.15.4 for compilation inside an Ubuntu-based Docker container.

[2021-01-22 16:43] mrambacher commented on #7423
I am having trouble reproducing your problem; I ran a build on Ubuntu without any issues.

Can you see if the -fPIC option is added on your builds (do V=1 make shared_lib).  Perhaps delete the object files reported in the message and re-run make with V=1.

Also, are you doing make or cmake?

[2021-01-22 18:10] bernochoa commented on #7423
The V=1 doesn't seem to help, I'm afraid. I can't see the flag being added to the g++ linking step. What I have been doing is essentially:

`FROM jupyter/minimal-notebook
USER root
RUN apt-get update -y && apt-get -y install build-essential cmake autoconf libsnappy-dev zlib1g-dev libzstd-dev \
            libbz2-dev libgflags-dev liblz4-dev wget liblzma-dev libssl-dev libcurl4-openssl-dev
RUN wget

[2021-01-22 22:10] pdillinger commented on #4120
Someone found a similar flaw in Google code (https://github.com/google/guava/blob/d3c306e9e4220d80f111348a92f5cb56d8ad965c/guava/src/com/google/common/hash/BloomFilterStrategies.java#L41) and wrote a paper about it (and more), https://arxiv.org/pdf/2009.11789.pdf  (Thanks for citing my Ph.D. dissertation!)

[2021-01-26 17:32] gaojieliu commented on #7730
@pdillinger @ajkr
Kindly ping again.
Have you seen anything similar as this? Do you know whether the latest release has already fixed this issue or not?

[2021-01-26 18:30] pdillinger commented on #7730
Internal search doesn't show anything.

[2021-01-27 08:04] liu2008aaa commented on #7835
I have same problem,Part of my log information:
[code]
the rocksdb version of java is
``` <rocksdb.version>6.5.2</rocksdb.version> ```

[2021-01-27 09:20] adamretter commented on #7835
@liu2008aaa Version 6.5.2 is from 1.5 years ago. Any chance you could try with a more recent version?

[2021-01-27 11:29] liu2008aaa commented on #7835
Ok，me try it。thanks

[2021-01-28 05:29] huangwei04 opened #7905 "segfault at error 4 in libtcmalloc"
When I  test CEPH performance whit vdbench, an OSD coredump。

message log
Jan 28 04:13:28 ceph04 kernel: [494544.449442] rocksdb:low16[639204]: segfault at 24 ip 00007f3396e14d63 sp 00007f33791e7648 error 4 in libtcmalloc.so.4.4.5[7f3396ddf000+46000]

core trace
Program terminated with signal 11, Segmentation fault.
#0  0x00007f3396e14d63 in tc_malloc () from /lib64/libtcmalloc.so.4
Missing separa

[2021-01-29 01:42] #7035 closed

[2021-01-29 08:18] Yrp commented on #7720
Hi, guys. Any progress?

[2021-01-29 09:22] nivekuil commented on #7869
Indeed, I just ran into this.
[code]

[2021-01-29 09:29] adamretter commented on #7869
@stefan-zobel @nivekuil looks sensible. Would you be willing to send a PR?

[2021-01-29 09:48] adamretter commented on #7720
@jurmous @Yrp you can find the start of my work on Universal Binaries for RocksDB here -
https://github.com/adamretter/rocksdb/tree/macos-multi-arch

Running `make static_lib_ub` will give you a Universal Binary for both
x86_64 arm64.

Building the universal binaries can be done in macOS on either Intel
or Apple Silicon as long as you have macOS bigSur and the latest
XCode.

[2021-01-29 12:09] DeepWu commented on #7730
Hello, I have encountered a similar mistake, if you have any ideas, I will be very grateful  @adamretter

(gdb) where
#0  0x00007f7fe867e207 in raise () from /lib64/libc.so.6
#1  0x00007f7fe867f8f8 in abort () from /lib64/libc.so.6
#2  0x00007f7fe7d99169 in os::abort(bool, void*, void const*) () from /opt/bin/etl-jre-x86_64/lib/server/libjvm.so
#3  0x00007f7fe7fc02fa in VMError::report_and_die(int

[2021-01-29 14:57] stefan-zobel commented on #7869
@adamretter sure, https://github.com/facebook/rocksdb/pull/7909
@nivekuil this one can't be related to your SIGSEGV

[2021-01-30 15:54] jurmous commented on #7720
@adamretter Thanks for all the work already! ❤️

I have checked out your branch and tried to run `make static_lib_ub` on root.
I get however an error about an unknown CPU target:
(Big Sur 11.1 & Xcode 12.4 on an M1 machine)
[code]

'make static_lib` runs fine btw.

This work is for the generic static library if I am correct? If this works correctly further work has to be done to build a universal

[2021-01-30 19:17] sfackler commented on #7846
This was actually a bug fix/behavior change introduced in 5.15.

[2021-01-30 19:17] #7846 closed

[2021-01-30 19:33] sfackler opened #7913 "TransactionDB now explicitly rejects range deletes in 6.15."
#7572 added missing error checks to various places. However, one in particular (https://github.com/facebook/rocksdb/pull/7572/files#diff-8d4f52efb53431efba2194e523696a9e147c6b24421f12d81b7aae9678495994R513-R516) caused TransactionDBs to start explicitly rejecting range deletes. The old behavior, where the delete would commit but fail to take locks on the affected keys, seems pretty clearly wrong,

[2021-01-31 10:12] qqnidaye opened #7915 "How to run a manual compaction as fast as possible?"
Is there a way to run a manual compaction by multi threads?

I have  with 8T data on a big machine with 256-core and 1T ram, I want to run a manual compation as fast as possible.

I know sub compactions, I also know a manual compaction is divided into many `CompactionJob`, and these `CompactionJob` are run sequentially.

The question is: How to run these `CompactionJob`  concurrently?

[2021-02-01 00:32] huangwei04 commented on #7905
closed by https://github.com/ceph/ceph/pull/29087/commits

[2021-02-01 10:27] Cavallium opened #7917 "Add ByteBuffer support for keyMayExist"
RocksDB.get() allows you to use ByteBuffer instead of byte[].
RocksDB.keyMayExist, instead, only allows byte[] in its arguments.

[2021-02-01 18:50] ottok commented on #7035
Thanks @mrambacher. I will report back to you in a couple of weeks if RocksDB (and MariaDB) is really reproducible now with these changes.

[2021-02-01 19:24] mrambacher commented on #7035
@ottok FWIW, I did not get the libraries to be identical on separate builds, but did not track down further what the issue was.  Libraries are still different, even if the input source files are the same.  Please let me know if there are any further issues.

[2021-02-01 21:37] ajkr commented on #7905
Assuming the fix was elsewhere. Let us know if any change is needed from RocksDB.

[2021-02-01 21:37] #7905 closed

[2021-02-01 23:36] deepakojha123 commented on #7784
It turns out that 6.4.6 has a bug which was fixed in PR #5856. The condition is precisely what we are hitting: a point-in-time recovery with a corrupted wal file and a crash during recovery after flushing some CFs. Now the flushed CFs moved past the corrupted wal while remaining CFs still behind. Next Open will hit the corruption error. The fix is to update the Manifest atomically for all CFs afte

[2021-02-01 23:36] #7784 closed

[2021-02-02 15:11] akrylysov commented on #7465
Thanks for a new release!

[2021-02-02 15:11] #7465 closed

[2021-02-02 15:11] #5853 closed

[2021-02-02 15:19] kana112233 opened #7922 "The repo‘s Wiki all page can be edited"
### Expected behavior
https://github.com/facebook/rocksdb/wiki/How-to-persist-in-memory-RocksDB-database%3F
The wiki page can be edited by anyone who already logged in.
### Actual behavior
https://github.com/facebook/rocksdb/wiki/How-to-persist-in-memory-RocksDB-database%3F
### Steps to reproduce the behavior
1. goto https://github.com/facebook/rocksdb/wiki/How-to-persist-in-memory-RocksDB-databas

[2021-02-02 18:28] ajkr commented on #7922
Despite that, I can't really think of any time we saw a bad edit. Have you seen any? If not I'd rather leave it open to editing.

[2021-02-02 22:54] deepakojha123 commented on #7410
@jay-zhuang  I have created a PR for the fix for error with zero byte WAL files with encryption. Please take a look.

[2021-02-03 02:30] kana112233 commented on #7922
I clicked the the [link,](https://github.com/facebook/rocksdb/wiki/How-to-persist-in-memory-RocksDB-database%3F) then I only jumped to the edited page. I guess the page‘s content is missing.

[2021-02-03 22:32] ajkr commented on #7913
Thanks for pointing this out - I didn't realize it was allowed by previous versions. Working on a fix now.

That might work depending on which kind of transaction DB you're using. With `TxnDBWritePolicy::WRITE_COMMITTED` it should work. With others (write-prepared or write-unprepared), calling `Write()` APIs on the underlying `DB` should fail. In `OptimisticTransactionDB` it should work.

But, I s

[2021-02-03 23:00] sfackler commented on #7913
We're using a `TransactionDB` with `WRITE_COMMITTED`, yeah.

That proposal seems good to me!

[2021-02-04 01:16] jay-zhuang commented on #7922
Thanks @kana112233 for reporting the issue. Seems sidebar link address is not updated. I just fixed that link. Thanks.

[2021-02-04 01:16] #7922 closed

[2021-02-04 08:18] burtonli opened #7930 "Incorrect timestamps returns by MultiGet when hit row cache"
### Expected behavior
Timestamps returned by MultiGet should be matched with timestamps of WriteOptions when records were written .

### Actual behavior
When hit record cache, the returned timestamps are matched with the timestamp of ReadOptions.

### Steps to reproduce the behavior

Initial DB with enough capacity for row_cache.

1. Write record A with V1+ timestamp "1000"
2. Write record A with

[2021-02-04 16:42] Warchant opened #7934 "Generate rocksdb.pc (pkg-config) file in CMake"
Target `gen-pc` in Makefile generates `rocksdb.pc`.
https://github.com/facebook/rocksdb/blob/21218316dabca5ffd02e5d10793fb1894e3870ae/Makefile#L2097-L2108

Please, add this target in CMakeLists.txt and also add `install` step for this file.

[2021-02-04 18:51] jay-zhuang commented on #7930
Yes, currently timestamp + row_cache is not supported yet.

[2021-02-05 23:57] #7913 closed

[2021-02-08 08:34] simonHome opened #7940 "java.lang.UnsatisfiedLinkError: org.rocksdb.RateLimiter.newRateLimiterHandle(JJIBZ)J"
BlockBasedTableConfig tableConfig = new BlockBasedTableConfig().setFilterPolicy(null);
            final RateLimiter rateLimiter = new RateLimiter(10000000,10000, 10);
            Options options = new Options().setCreateIfMissing(Boolean.TRUE)
                    .setCreateMissingColumnFamilies(Boolean.TRUE)
                    .setMaxOpenFiles(50)
                    .setMaxTableFilesSizeFIFO(1

[2021-02-08 09:05] #7940 closed

[2021-02-08 17:59] riversand963 commented on #7815
Thanks @CoderSong2015. This is a bug due to current (hacky) way to handle the primary's MANIFEST switch.
After the primary switches to the new MANIFEST, the first certain number of `VersionEdit`s in the file is a summary of current state, while `VersionEdit`s corresponding to newer updates follow. When it calls `TryCatchUp`, the secondary has already consumed the summary edits and must skip them.

[2021-02-09 01:09] ytrezq opened #7945 "Please solve your RocksDB repairer context switch overhead or make it parallel."
It is currently used in Openethereum.

ssd speed considerably increased since the time it was designed. In my case, I’m seeing currently use 100% cpu on 1 thread and spend 20% in kernel time under Linux. This results in a constant read speed of sst files at 700Mb/s on my Xeon 6250L well below the capacity of my ssd and without switching back to rust code (it’s the same function in the Rocksdb libr

[2021-02-09 15:15] sodonnel opened #7947 "Segfault using rocksdbjni opening the DB instance"
### Expected behavior

RocksDB does not crash

### Actual behavior

In a multi threaded Java application working with many RockDB instances, we saw the crash below. This happened only once in our workflow, but I thought I would log the failure in case this is a rare bug.

Strangely, the crash seems to have occurred when the DB was getting opened, perhaps when parsing options.

We are using rocksdb

[2021-02-09 17:56] jcalcote opened #7948 "SegFault in rocksdb:DBImpl::NewIterator"
We're currently on Rocks Java 6.11.4 (planning to move up to latest soon), but I thought I'd put this one out here to see if it looks familiar to anyone on the dev team. We're obviously opening a new iterator to do a pass though the db. We hit this SIGSEGV at `rocksdb::DBImpl::NewIterator(rocksdb::ReadOptions const&, rocksdb::ColumnFamilyHandle*)+0x52`:

[code]

gdb core:
[code]

[2021-02-10 14:03] vrqq opened #7954 "db_bench is not compatibility with -DROCKSDB_ASSERT_STATUS_CHECKED"
### Expected behavior
In **db_bench_tools.cc**
There are too much code like ```FLAGS_env->GetChildren(FLAGS_db, &files)``` or ```FLAGS_env->GetTestDirectory(&default_db_path)``` that not to check the status returned.
Does it necessary to support run bench test with that additional check? (like in DEBUG mode)

I have found that some hint in code below, so maybe it's need to be fixed.
[code]

### St

[2021-02-10 16:18] vrqq commented on #7954
And also on:
https://github.com/facebook/rocksdb/blob/master/port/win/win_logger.cc#L59

BTW: Add auto test case with ROCKSDB_ASSERT_STATUS_CHECKED

[2021-02-11 03:48] vrqq commented on #7954
**Bug 2**: Since the definition ROCKSDB_ASSERT_STATUS_CHECKED change the structure of ```rocksdb::Status```, we have to build the user code also with this definition.
And there's ```#include "port/stack_trace.h"``` in include/rocksdb/status.h, it should be in folder 'include'

[2021-02-11 07:49] olegloktev commented on #4112
Hi, I am being struggled with growing memory issue for some time in my c++ project on linux. I found that using seek by iterators may cause more memory consuming but I'm pretty sure that I dispose it when it's not needed. I've tried to use jemalloc (set in LD_PRELOAD) and set rocks options mentioned in this thread but still see how memory usage increases. I will appreciate if someone can give some

[2021-02-11 07:55] olegloktev commented on #4112
Is it a commercial secret or you don't know for sure?
If it is a secret (why?) or anybody knows how to fix it please don't hesitate to contact me by mail

loktevoleg123@gmail.com
--

[2021-02-11 08:04] vitalyisaev2 commented on #4112
@toktarev

Has it been already merged?

[2021-02-11 08:20] toktarev commented on #4112
@vitalyisaev2, no I closed my PR.

Review process is very long here.

[2021-02-11 08:22] toktarev commented on #4112
Welcome to the club !

[2021-02-11 08:26] koldat commented on #4112
@olegloktev go through this thread and my recommendations. I am not sure why @toktarev is so negative about this. I had never a problem with rocksdb guys, they always accepted my PRs. I have also found that memory grows was never a problem of rocksdb, but my setup. It is basically doing what it is asked for. No reason to cry about it. Please take a look on configuration examples of people here or

[2021-02-11 08:32] toktarev commented on #4112
Sure, everything is fine, everybody should be positive, we should close this issue.

People don't have problem with RocksDB, they are just negative - this is their problem.

[2021-02-11 08:33] toktarev commented on #4112
---. I had never a problem with rocksdb guys, they always accepted my PRs

Sure, because you are positive :)

[2021-02-11 08:49] koldat commented on #4112
@toktarev I am not positive guy in general. But just saying everything is bad and no one helps does not fix the issue. I was just saying to @olegloktev, please read what was written, learn from it and share your problem. Then I can try to help.

[2021-02-11 08:52] toktarev commented on #4112
Ok. let's be more clear.

I've already described some ways how to help with memory growth, but it looks like special hacks and workarounds.

From my point of view good quality means that memory will not grows if anyone will run original test without special configuration settings.

If no, and person need to "dance around the three" to make memory consumption stable - this is problem.

Of course th

[2021-02-11 09:00] koldat commented on #4112
We have like 40 instances running in a cluster where each is having roughly 1-2TB of data (each around 10k SST files). Here is example of memory stability over 30 days. It is a huge one (IO throughput like 1TB IO writes per day).

It is definitely not a "dance around". Just following recomendations.

![image](https://user-images.githubusercontent.com/16866502/107617244-d499d680-6c4f-11eb-92bd-68ae

[2021-02-11 09:27] cculianu commented on #4112
I agree with this. Quality software doesn't eat gigs of memory "by default" unless you do a special voodoo ritual.  RocksDB is generally very fast and of high quality in some ways -- but not in the area of memory consumption.  There it could use improvement.  The fact that it's so difficult to constrain its memory use -- is a huge red flag.

[2021-02-11 09:34] koldat commented on #4112
Sure, here is example of instance that is configured to not eat that much cache over the last 60 days. Again pretty stable. I am just saying it is all about configuration. Question is if defaults are good. But there is never configuration that works for all so authors of software needs to instruct library what they need.

![image](https://user-images.githubusercontent.com/16866502/107620120-80ddbc

[2021-02-11 09:41] toktarev commented on #4112
@koldat

Of course, I (together with team-mates) spent many time and made our RocksDB stable as well.

We are talking about quality.

[2021-02-11 09:49] cculianu commented on #4112
This.  Quality in software.  Relevant talk by a game industry legend: https://youtu.be/pW-SOdj4Kkk

[2021-02-11 10:09] toktarev commented on #4112
Actually this is very big surprise for me that C++ application has such problems with memory.

I understand when Java application dies due to frequent GCs and so  on ..

But C++ application written in Silicon Valley, hmmm ....