[2015-04-06 20:50] siying commented on #499
Can putting all the files into one directory and run RepairDB, will it work?

[2015-04-06 20:50] igorcanadi commented on #510
Did you `make all` before `make install`?

[2015-04-06 20:51] siying commented on #500
Others can confirm but as far as I know, we don't have it for now.

[2015-04-06 20:52] siying commented on #494
@ekg are the answers good enough? Can we close the issue?

[2015-04-06 20:54] siying commented on #490
Is your data pre-sorted before bulk loading? if it is, https://reviews.facebook.net/D34797 will give you a good performance boost.

[2015-04-06 20:55] siying commented on #496
Some times people need to run "make clean" before building to clean up some of the issues.

[2015-04-06 20:59] siying commented on #360
@nichdiekuh ping

[2015-04-06 21:00] siying commented on #346
@njanin @pihomeserver  Is it still an issue?

[2015-04-06 21:06] siying commented on #280
@ankgup87 did you figure out the reason of it? Was it solved?

@mdcallag also recently found that block cache can use more memory than given because of memory allocation mis-alignment.

[2015-04-06 21:07] siying commented on #223
@zhibaodhu the EnvPosixTest.AllocateTest issues was fixed a while ago. Did you have a chance to retry it?

[2015-04-06 21:21] siying commented on #565
@superwood can you tell us what was the last commit in your build? I want to find the line based on line number.

[2015-04-06 21:29] siying commented on #531
3ebebfccd8f33e55899905f462682a0d9d4736be

[2015-04-06 21:29] #531 closed

[2015-04-06 21:44] pihomeserver commented on #346
@siying : no i now use influxdb  0.9 wich is pure Go and without rocksdb ....

[2015-04-06 22:17] ekg commented on #544
That would be great. I think this is an essential feature of a sorted
key/value store.
On Apr 6, 2015 10:20 PM, "Siying Dong" <notifications@github.com> wrote:

[2015-04-06 23:11] igorcanadi commented on #563
https://reviews.facebook.net/D36573

[2015-04-07 22:29] yhchiang commented on #537
Thanks for reporting this!  We are currently working on a solution to have those java generated .o files stored in a separate directory.  In this way we can have stateless Makefile to keep c++ and java binaries independent.  Should have the fix soon.

[2015-04-07 23:27] msb-at-yahoo commented on #499
To work with column families, we'd need to augment the SST to include the column familiy name, and then teach repair.cc to use it, right?  Would there be a problem with adding a new metadata block?

[2015-04-08 00:41] yhchiang commented on #537
The issue should be addressed once @meyering's patch is pushed (https://reviews.facebook.net/D36645.)  Feel free to let me know if the patch works / not works after it has been pushed.

[2015-04-08 00:50] igorcanadi commented on #563
@msb-at-yahoo can you confim that https://github.com/facebook/rocksdb/commit/c66483c132bd52bc1f22f6a91843476fd375043c fixes this issue?

[2015-04-08 11:38] haneefmubarak commented on #568
And actually, I made a mistake - sorry 'bout that. Closing.

[2015-04-08 11:38] #568 closed

[2015-04-08 14:46] adamretter opened #571 "IteratorWithBase on WriteBatchWithIndex sometimes returns empty key"
I am seeing a strange issue with WriteBatchWithIndex. Whilst I am using this from Java, I suspect the underlying problem is in the C++ code of WriteBatchWithIndex or its BaseDeltaIterator. I am not the strongest C++ developer, so I would appreciate it if someone could take a look.

[code]

First, I write various PUT and DELETE into the `writeBatch`.

Subsequently, in a loop after calling `next()`

[2015-04-08 15:43] adamretter commented on #571
Perhaps related, or a separate issue. Sometimes when I call `getKey` on the `iterator` from the above example I get a SIGSEGV:

[code]

The except from RocksIterator is:

[code]

[2015-04-08 16:15] siying commented on #571
I know it's hard but can you give repro steps? Can't think of anything based on your description.

[2015-04-08 17:32] superwood commented on #565
the last commit:

commit 1fdd726a8254c13d0c66d8db8130ad17c13d7bcc
Author: Igor Canadi <icanadi@fb.com>
Date:   Wed Oct 8 10:04:12 2014 -0700

    Hotfix RocksDB 3.5

    Summary: We'll release this as 3.5.1

    Test Plan: Tested in master

    Reviewers: tnovak, yhchiang, sdong, ljin

    Reviewed By: ljin

    Subscribers: leveldb

    Differential Revision: https://reviews.facebook.net/D24639

[2015-04-08 17:42] adamretter commented on #571
@siying Thanks, unfortunately this is embedded deep within another app and reproducing it is non-trivial. If I can provide any further information or work out a simpler reproducible example I will of cause post it.

[2015-04-08 18:22] msb-at-yahoo commented on #563
Looks good to me.  I don't use "make install" so I don't have any feedback on that bit from the review.

[2015-04-08 18:24] igorcanadi commented on #563
Tnx Maurice.

[2015-04-08 18:24] #563 closed

[2015-04-08 19:11] igorcanadi commented on #565
This issue was fixed by https://github.com/facebook/rocksdb/commit/2fb1fea30fd027bbd824a26b682d04d91a8661dc in September of last year. Any reason you're not running newer version of RocksDB?

Also, when running in production, please compile rocksdb by using `make release`. That will turn off assertions and greatly improve performance.

[2015-04-08 19:11] #565 closed

[2015-04-08 20:04] siying commented on #571
@adamretter  double check one another thing. You don't update the same key multiple times in the write batch, right?

[2015-04-08 20:12] adamretter commented on #571
@siying Well that is possible yes. Is that not allowed, I thought it was?

If I did update it in the write batch once or more, should I not see an entry for it in the write batch, even if it was just the last update that was made to the write batch?

[2015-04-08 20:19] siying commented on #571
@adamretter it is allowed but for newIteratorWithBase(), where in the merge logic, I remember we don't correctly handle this case. But anyway I don't see how you can see key/value you never inserted.

[2015-04-09 17:05] igorcanadi commented on #500
Sorry @Raduh , only way to install rocksdb currently is from source. :(

[2015-04-09 17:05] #500 closed

[2015-04-09 20:33] igorcanadi commented on #566
@ekg is this also in perf_context_test?

[2015-04-09 20:37] igorcanadi commented on #360
Closing this since we now have FreeBSD support. Please open a new issue if FreeBSD compile doesn't work for you.

[2015-04-09 20:37] #360 closed

[2015-04-09 20:42] igorcanadi commented on #261
@naveenatceg any updates? :)

[2015-04-09 20:43] igorcanadi commented on #298
@ankgup87 do you have any other questions? Can we close this issue?

[2015-04-09 21:38] adililhan opened #572 "make check returned error"
When I write `make check` returned this error trace

[code]

[2015-04-09 21:55] siying commented on #572
You need to "make clean" before building, if you change between "release" and "debug" builds.

[2015-04-09 22:08] igorcanadi commented on #438
Attached diff: https://reviews.facebook.net/D36789

[2015-04-10 05:39] yinhm commented on #548
@siying You can download the attached db file here: https://www.dropbox.com/s/rd4shgjckg10cb7/TestNewSliceTransform.tgz?dl=0

Due to this issue, I switched from Plain Table to Block-based Table: https://github.com/yinhm/friendfeed/blob/master/storage/store.go#L103

[2015-04-10 06:04] naveenatceg commented on #261
Hey Igor,
               Sorry for dropping ball on this, been busy with other stuff :(. Here's the code I used to test:
[code]

The all() call does something very simple to open the iterator.
[code]

[2015-04-10 10:17] adililhan commented on #572
yes, i write "make clean" before "make check" and success.

Is that correct?

[code]

[2015-04-10 16:24] igorcanadi commented on #572
after "make check" if you want to compile binary to use in production (without assertions), run this: `make clean; make static_lib` or `make clean; make shared_lib`

[2015-04-10 16:37] igorcanadi commented on #261
Yup, this is what's probably happening. You need to iterate over bunch of deletions on SeekToFirst(). One way to confirm this is by utilizing our perf_context functionality: https://github.com/facebook/rocksdb/blob/master/include/rocksdb/perf_context.h

From C++:

    rocksdb::SetPerfLevel(rocksdb::kEnableCount);
    rocksdb::perf_context.Reset();

    // do your thing -- SeekToFirst()

    cout <

[2015-04-10 18:39] DerekSchenk commented on #547
@yhchiang I've been trying, unsuccessfully, to get a working test case.  I think ( unconfirmed ) that the issue is related to an Iterator (B) inside an Iterator (A) where the inner iterator (B) deletes the key currently being pointed to by A.  The use case is a compaction process that iterates revision pointers (A), processing the targeted keys (B) and removing old revisions.  I restructured the c

[2015-04-11 11:33] adamretter commented on #571
@siying Erm... that sounds *worrying*, could you elaborate on `we don't correctly handle this case`? Do you mean there is an issue with updating the same key multiple times in a write batch?

[2015-04-11 11:34] adamretter commented on #571
In the real application, we use a custom Comparator, which is my own C++ code. As mentioned I am not a strong C++ programmer, is there anyway that a custom Comparator could corrupt the key returned by the iterator?

[2015-04-11 13:27] adamretter opened #573 "SIGABRT make check fails on OSX"
This on the current `HEAD` of master:

``
$ make clean jclean check
``

Eventually leads to:

[code]

[2015-04-11 14:25] adamretter commented on #573
Having repeated this 3 times now, the error above has only occurred 2 out of the 3 times. That worries me that we now have an instability in Rocks.

[2015-04-11 20:27] siying commented on #571
I actually don't remember the details but I am sure when I wrote it I determined that this case was not to supported in my mind and I didn't write any unit test to verify the behavior of that.

If a comparator is not total ordered, I don't know what will happen. Think of Binary search is not working and/or a merge heap is confused. But I cannot think of reasons you can see keys you never inserted.

[2015-04-12 16:47] adamretter commented on #571
@siying I think there might be a problem in WriteBatchWithIndex. Coming at it in the other direction, I sometimes see a SIGSEGV caused by my Comparator when it is invoked from `BaseDeltaIterator`. I have to run my system several times, and this only occasionally happens.

The relevant excepts from the dump (hs_err_pid):

[code]

My `AdamComparator::Compare comparator` is made up of the following C

[2015-04-12 20:38] siying commented on #571
If you can find the line numbers in the call stack, it will be very helpful.

In the comparator, I assume you called BytesToInt(a, 0) and (b,0) and return the difference while the numbers are small enough so they never overflow? Also they are always 4bytes never bigger?

On Apr 13, 2015, at 1:47 AM, "Adam Retter" <notifications@github.com<mailto:notifications@github.com>> wrote:

@siying<https://g

[2015-04-12 21:46] adamretter commented on #571
@siying Sorry, which line numbers are you after? The output I pasted from lld shows the line numbers in my comparator. Perhaps you mean for `BaseDeltaIterator`, if so then lldb reports:

[code]

So that seems to say to me line 95 of `write_batch_with_index.cc`.

Regards the 4 bytes - I am trying to decode a Java Integer which I believe is 4 bytes. My key is a composite thing, hence a custom compar

[2015-04-12 22:52] rdallman opened #574 "3.10 performance regression?"
I hope that this is just me doing something wrong during the build process. I've done some sanity checking but can't seem to get things back to normal. Hoping that I can get some help debugging/building/benchmarking to make sure that it's just me who's insane :) Context: we updated from 3.8 to 3.10 and saw a performance regression where throughput was halved and latency was ~7x worse in our tests.

[2015-04-13 01:17] siying commented on #571
Line 95 doesn't seem to e a statement. Does addr2line point to the same line?

[2015-04-13 01:20] siying commented on #571
Just to double check, it is a single threaded program and no other thread is updating the write bath, right?

[2015-04-13 01:28] siying commented on #574
Your run on 3.10 is insanely slow, which is not expected. If you don't care, can you send us the database information "LOG" files for both runs to us? We'll have more information using that. Also, if you run with "-statistics", it will be also helpful for us to identify problems.

By the way, something not related: as a recommendation, we run benchmarks using "tools/benchmark.sh". We usually updat

[2015-04-13 07:10] adililhan commented on #572
thank you

[2015-04-13 07:10] #572 closed

[2015-04-13 08:00] adamretter commented on #571
@siying Hmm yeah so line 95 is the closing brace `}` of `Next`. I guess that tells us it just happens somewhere in `Next` which we already knew.

I am on a Mac and so we don't have `addr2line` the nearest I think is `atos` which also suggests like 95, i.e.:

[code]

[2015-04-13 08:01] adamretter commented on #571
@siying As far as I am aware all interactions with the WriteBatch should be single-threaded. I could add some explicit synchronization and re-run if you would like?

[2015-04-13 11:43] atishbits commented on #562
@siying I am not sure of how to use compaction filters. Is there a merge operator like description somewhere for extending the internal CompationFilter class?

Looking at common/rocksdb/db/db_test.cc, I found the following to be relevant to extend the default filter:
[code]
Clearly the above filter allows me to modify the value of the key, however how can I delete the key itself (in my case, if th

[2015-04-13 11:57] atishbits commented on #562
Looks like I spoke too soon. Found what I was looking for in rocksdb/db/c_test.c. Will dig deeper and get back here. Your suggestion works, thanks @siying

[2015-04-13 17:39] igorcanadi commented on #562
Thanks @siying! @atishbits can we close this issue?

[2015-04-13 17:56] igorcanadi commented on #573
I'm able to repro, although it's not 2/3 for me -- it's about 1/10.

Don't worry about instability :) Those things are usually due to instability in tests rather than RocksDB.

[2015-04-13 18:17] adamretter commented on #573
Glad you can reproduce @igorcanadi. I guess My Mac is much older and therefore under more strain than yours; Perhaps that explains why I see it more frequently.

Either way, I'll stop worrying now I know it's in your hands. Thanks.

[2015-04-13 18:21] igorcanadi commented on #573
Close to fixing :)

[2015-04-13 18:37] igorcanadi commented on #573
https://reviews.facebook.net/D36939

[2015-04-13 18:39] igorcanadi commented on #573
Should be fixed now. Let me know if you still see issues.

[2015-04-13 18:41] igorcanadi commented on #574
I see this:

`WARNING: Assertions are enabled; benchmarks unnecessarily slow`

Maybe we added bunch of assertions that are slowing down db_bench. This is also something to fix, but can you please run db_bench without assertions? You can get db_bench without assertions by running `make release`.

I look into this soon.

[2015-04-13 21:11] adamretter commented on #573
@igorcanadi Well the problem just seems to have moved now. Instead after your fix, I now get this:

[code]

[2015-04-13 21:26] igorcanadi commented on #573
I'm pretty sure those two are unrelated :) But I'll take a look at the other one.

[2015-04-13 21:28] adamretter commented on #573
Thanks @igorcanadi... of course from my perspective, the subject of this issue ticket is still valid ;-)

[2015-04-13 22:05] igorcanadi commented on #573
How does it look like now? https://reviews.facebook.net/D36951

[2015-04-13 22:10] adamretter commented on #573
@igorcanadi On the 3rd run, I see yet another different issue (i.e. before your D36951 is applied):

[code]

I do wonder how my machine triggers these so easily compared with you guys...

[2015-04-13 22:19] siying commented on #571
I reread the original post. How does 12 bytes decoded to 4374136231? I assume it is not the leading 4 bytes, as it takes more than 4 bytes. If you are in a debugger, can you check the pointer address (Slices::data_) to the key you got (all zeros) is in the range of write batch's buffer?

Still thinking of what information you can collect for us to look.

By threading, in the life time of the itera

[2015-04-13 22:25] igorcanadi commented on #574
Able to repro and confirmed that his happens only in DEBUG build.

[2015-04-13 22:27] adamretter commented on #571
@siying It is not the same 12 bytes! The SIGSEGV just occurs outside of my control during use occasionally, so I cannot say that it is for the same key/value that I was accessing at the start of this issue.

I have a Transaction object which encapsulates the WriteBatchWithIndex. There should be one thread only which accesses by Transaction object, it may call `newIteratorWithBase` and `dispose` on

[2015-04-13 22:28] igorcanadi commented on #573
The second test should be addressed by the diff. @siying knows more about the third test failure, so I'm assigning this to him.

[2015-04-13 22:33] rdallman commented on #574
thanks for looking into this guys. glad it's not an issue. I'll just have to figure out what incantation of gcc flags I need to compile with for these wacky Go bindings we're using (assume these are somewhere in the make file, I'll dig around tonight)

[2015-04-13 22:33] rdallman commented on #574
thanks for tips @siying

[2015-04-13 22:33] igorcanadi commented on #574
@rdallman it is still an issue, it's just not a big issue. I managed to bisect to this diff: https://reviews.facebook.net/D32787. Can you please reopen the issue?

[2015-04-13 22:34] rdallman commented on #574
![giphy](https://cloud.githubusercontent.com/assets/2935111/7126923/9474c940-e1f2-11e4-8fe8-06f5923c60b4.gif)

[2015-04-13 22:43] igorcanadi commented on #574
Should be fixed with https://reviews.facebook.net/D36963

[2015-04-13 22:45] igorcanadi commented on #574
@rdallman make sure to always compile with `OPT=-DNDEBUG` when you're compiling for production.

[2015-04-13 22:48] rdallman commented on #574
ahh, that's the guy I want. thanks @igorcanadi

[2015-04-13 22:53] adamretter commented on #573
Hmm I bet @siying really loves me right now ;-)

[2015-04-13 23:00] igorcanadi commented on #574
This is fixed now on master and 3.10.fb branch. Tnx for reporting @rdallman !

[2015-04-13 23:00] #574 closed

[2015-04-13 23:09] siying commented on #573
@adamretter your problems are always hard:)

[2015-04-13 23:20] igorcanadi commented on #573
I get 4/50 failures for the last test. So I can repro as well :)

[2015-04-14 03:19] atishbits commented on #562
Sure @igorcanadi. Marking closed.

[2015-04-14 03:19] #562 closed

[2015-04-14 09:18] siying commented on #573
Have a patch to simplify the test: https://reviews.facebook.net/D36999 Hopefully it tells us more information if it still fails. I don't have a Mac to verify it.

[2015-04-14 14:50] igorcanadi commented on #223
Closing this issue since it's likely fixed. Please reopen if you see any other issues.

[2015-04-14 14:50] #223 closed

[2015-04-14 14:51] igorcanadi commented on #346
Closing this since it's no longer an issue.

[2015-04-14 14:51] #346 closed

[2015-04-14 16:13] ekg opened #576 "open a db multiple times with "read_only""
`rocksdb::DB::OpenForReadOnly` will fail if the db has been opened by another process. However, if the db is being opened read-only, what is preventing multiple accessors? These work fine internally within one process, with multiple threads accessing the db.

Could I resolve this by forcing the opening process not to take a lock on the db if it is read-only?

[2015-04-14 16:29] igorcanadi commented on #576
we lock the DB only if it's not read-only: https://github.com/facebook/rocksdb/blob/master/db/db_impl.cc#L809. Are you sure one process is not opening the DB in write mode?

[2015-04-14 16:36] ekg commented on #576
I'm opening it as such: https://github.com/ekg/vg/blob/master/index.cpp#L82 via https://github.com/ekg/vg/blob/master/index.cpp#L93-L97. This is called from here https://github.com/ekg/vg/blob/master/main.cpp#L1960 in the case of the failing process.

So it looks like I'm opening it read-only. Is there an obvious problem with this method? I'm not able to open from a second process.

Options are se

[2015-04-14 16:39] ekg commented on #576
I suspect the problem is on my end as I'm not getting the same problem consistently. I'll reply if I find out otherwise.

[2015-04-14 16:39] #576 closed

[2015-04-14 19:38] igorcanadi commented on #573
@siying I can trigger the failure on my dev server when I run parallel `make check`

[2015-04-14 19:39] siying commented on #573
What's the failure message?

[2015-04-14 19:45] igorcanadi commented on #573
Same as @adamretter 's

[2015-04-14 20:43] siying commented on #573
@igorcanadi  with my latest patch?

[2015-04-14 20:46] coderplay opened #577 "jvm got SIGSEGV when recovering a db with merge operator applied"
I just run a program to put some counters data and kill it to see if I can recover it from the log. But got a SIGSEGV.

I test the same code several times,  100% got that signal. After removed all code related to  merge operator,  no signals got.

rocksdb jni lib version: 3.9.1

[code]

[2015-04-14 21:17] igorcanadi commented on #573
Looks like it's passing with your latest pathc

[2015-04-15 02:41] superwood opened #578 "a core dump after delete db;."
the version is  3.10.fb
commit 3e32a88fe7a26db93669c299ef8389b4a1a33f50

After  delete  db, the process seems ok。 But when process exit after delete db, A core dump there。

There is the bt

#0  0x0000003ec8032925 in raise () from /lib64/libc.so.6
#1  0x0000003ec8034105 in abort () from /lib64/libc.so.6
#2  0x000000000040c53e in rocksdb::port::PthreadCall (label=0x5b4dce "lock", result=Unhandled dw

[2015-04-15 02:47] igorcanadi commented on #578
Are you exiting thread in static destructors? All threads accessing RocksDB should be joined before `int main()` exits. I remember we had some issues with that in the past.

[2015-04-15 03:05] superwood commented on #578
I  call  pthread_cancel  to stop threads which may write and read RocksDB。

[2015-04-15 03:18] igorcanadi commented on #578
Can you try joining the thread rather than cancelling? Canceling threads cleanly is very tricky.

[2015-04-15 18:32] taotaotw commented on #308
Hi, all,  when will the next version of jar be released to maven? thanks!

[2015-04-15 18:56] ivan-gusev opened #579 "pre-allocated space not released on ext4 partitions"
Apparently CentOS ext4 kernel module has changed the way it handles fallocate and ftruncate and starting version 2.6.32-358 ftruncate is not sufficient to release previously pre-allocated space.

Below are test results for different combinations of kernel and filesystems. First two show the first centos kernel that got affected. The last two show difference between ext4 and xfs on latest centos ke

[2015-04-15 19:50] igorcanadi commented on #579
Thanks for the report @ivan-gusev! Any idea how can we release the space if `ftruncate` is not enough?

[2015-04-15 20:02] vladb38 commented on #579
We are still investigating this issue but at the moment we do not have a good answer. Would it be possible to allocate the shorter size in the fallocate call or is the extra space being used in the meanwhile?

[2015-04-15 20:13] igorcanadi commented on #579
@vladb38 shorter size in sst files or .log files?

[2015-04-15 20:15] igorcanadi commented on #579
Here's the reason we preallocate: https://reviews.facebook.net/D7953

[2015-04-15 20:15] vladb38 commented on #579
sst files. We did not see problems with the log files so far.

[2015-04-15 20:18] vladb38 commented on #579
I see. XFS uses speculative preallocation which might cause the increase in file usage, in case it is not disabled via an option. It seems that ext4 has the opposite problem, in that it makes use wrongly of the information that fallocate provides.

[2015-04-15 20:19] igorcanadi commented on #579
most sst files should be preallocated correctly (they are preallocated to the expected final file_size). can you share some data? how big are the differences for specific sst files?

[2015-04-15 20:20] igorcanadi commented on #579
BTW @vladb38 you guys should add yourself to https://github.com/facebook/rocksdb/blob/master/USERS.md :)

[2015-04-15 20:21] pshareghi commented on #579
@igorcanadi , you can see two examples above 14MB vs the expected 4.7MB, and 27MB vs the expected 14MB.

[2015-04-15 20:21] vladb38 commented on #579
Ivan's data from above is quite accurate. The most extreme case we have seen is an set file with 6MB apparent size but 106MB allocated, the 100MB difference being extents marked as unwritten, EOF.

[2015-04-15 20:30] ivan-gusev commented on #579
There is already "punch holes" code in Close(), but so far I cant figure out why it is not being applied to SST files. Not sure what class is used for SST files, PosixWritableFile or PosixMmapFile.
https://github.com/facebook/rocksdb/blob/master/util/env_posix.cc#L756

[2015-04-15 20:40] igorcanadi commented on #579
@ivan-gusev https://github.com/facebook/rocksdb/blob/master/db/compaction_job.cc#L1082 -- we use NewWritableFile(), which in turn does this: https://github.com/facebook/rocksdb/blob/master/util/env_posix.cc#L1175-L1185

mmap writes are turned off by default so PosixWritableFile() is used.

[2015-04-15 20:42] fyrz commented on #308
@criccomini any plans yet ?

[2015-04-15 20:57] pshareghi commented on #579
Correct, we have not turned on mmap writes. So, PosixWritableFile makes sense.

[2015-04-15 21:44] pshareghi opened #583 "fallocate test in build_detect_patform is broken on Centos 6"
When building Rocksdb on Centos 6, we noticed that the ROCKSDB_FALLOCATE_PRESENT flag is never present, although our kernel support fallocate and the FALLOC_FL_PUNCH_HOLE flag.

The reason for test failure is that FALLOC_FL_PUNCH_HOLE is defined in ```linux/falloc.h``` which is missing from the test in build_detect_platform script
[code]

I will add a separate pull request to merge our fix.

[2015-04-15 21:56] igorcanadi commented on #583
Nice find!

[2015-04-15 21:59] pshareghi commented on #583
The bug is fixed in https://github.com/facebook/rocksdb/pull/584

[2015-04-15 21:59] #583 closed

[2015-04-15 22:19] ivan-gusev commented on #579
Hi,

Now that we got #584 fixed here is xfs vs ext4 with 'punch hole' enabled. Still no improvement in disk space usage, even though you can see that fallocate is called with '03' second argument right after ftruncate.

**2.6.32-504.12.2.el6.x86_64 (on xfs)**

`40400 open(“/xfs/store_0/418200.sst", O_RDWR|O_CREAT|O_TRUNC, 0644) = 25316`
`40400 fallocate(25316, 01, 0, 13841203) = 0`
`40400 ftruncat

[2015-04-15 23:40] naveenatceg commented on #308
Hey guys, I am working on the release, some changes in the Makefile has broken the release process. Should be out sometime next week.

[2015-04-16 09:08] fyrz commented on #308
@naveenatceg if you encounter any problems feel free, i`ll would help to get things correct.

[2015-04-16 11:46] adamretter opened #586 "WriteBatchWithIndex wrong comparator"
The WriteBatchWithIndex when operating on the default column family does not correctly use the comparator specified in Options when the DB is created/opened. It will always use ByteWiseComparator unless a comparator is explicitly specified in the construction of the WriteBatchWithIndex.

[2015-04-16 16:37] igorcanadi commented on #586
Is this a bug or an issue with documentation? I thought it's the expected behavior. WriteBatchWithIndex doesn't have access to default column family's comparator. @siying will know more.

[2015-04-16 17:31] adamretter commented on #586
Ah ok, if this is expected behaviour then that is fine, but perhaps we could make it clearer in the comments in the code and on the wiki

[2015-04-16 20:32] naveenatceg commented on #308
Thanks @fyrz. I have released 3.10.0 jars to maven.

[2015-04-16 21:58] taotaotw commented on #308
thanks @naveenatceg @fyrz

[2015-04-17 17:05] siying commented on #586
@adamretter WriteBatchWithIndex doesn't figure out default comparator by itself because it doesn't have a pointer to DB so it doesn't know. You can tell us by not using functions like:

  void Put(ColumnFamilyHandle* column_family, const Slice& key,
           const Slice& value) override;

Just pass a default column family handle. While if you use interface like this:

  void Put(const Slice& key

[2015-04-17 17:58] coderplay commented on #577
No one care about this critical issue? That will cause data corrupt, lost all of the data!

[2015-04-17 18:50] fyrz commented on #577
@coderplay we care. Can you perhaps isolate the problem and provide a working sample which causes the error ?

[2015-04-17 21:28] coderplay commented on #577
@fyrz  Thanks for your reply. Seems the  jni lib for 3.10 is just public on yesterday. I will try 3.10 and write a simple demo.

[2015-04-17 22:33] tfarina opened #587 "Typo in https://github.com/facebook/rocksdb/blob/master/examples/c_simple_example.c#L30?"
The comment there reads "...for backing up or database", did it mean to say 'our' instead of 'or'?

[2015-04-18 02:52] agiardullo commented on #587
https://reviews.facebook.net/D37347

[2015-04-20 22:02] sureshkrishnan1 opened #588 "Rocksdb memory leak from BlockBasedTable::ReadFilter and BlockBasedTable::CreateIndexReader"
I have a rocksdb DB of size ~125GB (version 3.9.1). The memory used by rocksdb keeps going up over time. Our OOM killer kills the process when it hits ~8GB (it gets there in ~1 hour). And the leak seems to be happening along the read path (both point lookups and row iteration).

Google's tcmalloc shows that allocations along ReadFilter() and CreateIndexReader() are contributing to the leak. Both o

[2015-04-20 22:12] igorcanadi commented on #588
With `cache_index_and_filter_blocks = false` RocksDB will keep all indexes and bloom filters in memory. With database of 150GB this can easily be 8GB or more. You can get amount of memory taken by index and filter blocks like this:

     std::string mem;
     db->GetProperty("rocksdb.estimate-table-readers-mem", &mem);

What does this property say?

[2015-04-20 22:13] igorcanadi commented on #588
Increasing block_size will decrease memory usage for indexes.

[2015-04-20 22:35] sureshkrishnan1 commented on #588
I get back "0".

Let me try setting cache_index_and_filter_blocks to true. Will setting it to true limit rocksdb memory usage to the block size cache (which I'm setting to 128MB)?

[2015-04-20 22:53] igorcanadi commented on #588
Yes, it will limit memory usage to block cache, although the performance might suffer, since you'll have to do many page reads for each read request.

[2015-04-20 23:00] sureshkrishnan1 commented on #588
Let's say I can allocate 2GB to the block cache. Do you think that's an acceptable size to cache bloom filters/indices? Or would you still recommend that I increase my block size? My average row size is ~1K and I'd like to avoid reading and uncompressing too much data for point lookups.

I'm running off of an SSD, so I'm not too worried about additional seeks. Would you recommend using use_block_b

[2015-04-21 01:05] sureshkrishnan1 commented on #588
I tried setting cache_index_and_filter_blocks to true, but it dropped read performance by ~100x, so that change is a non-starter. Most of CPU (90%) is being spent in ReadBlockContents() (ultimately in pread64 and snappy::RawUncompress). The remaining 10% is being spent in the destruction of *FilterBlockReader and BinarySearchIndexReader (it seems to be freeing a bunch of memory).

Two questions:
1

[2015-04-21 01:07] siying commented on #588
@sureshkrishnan1 what block cache size do you use?

[2015-04-21 01:11] sureshkrishnan1 commented on #588
I'm using a block size of 8K.

[2015-04-21 01:12] siying commented on #588
@sureshkrishnan1 I mean block cache size. What do you set to table_options.block_cache

[2015-04-21 01:15] sureshkrishnan1 commented on #588
The DB was populated with: table_options.block_cache = rocksdb::NewLRUCache(128 * 1024 * 1024);

I recently increased it to 2GB, but it didn't help. The 100x drop in performance was measured with a 2GB block cache size.

[2015-04-21 01:24] sureshkrishnan1 commented on #588
I thought a bit about using block based builders, but I don't think it'll help as I periodically scan over all the data and this will ultimately cause all the filter blocks to be brought into memory.

[2015-04-21 02:01] sureshkrishnan1 commented on #588
I guess I could set ReadOptions.fill_cache to false for my bulk scans. It still doesn't fix the underlying problem of bringing too much into memory though.

[2015-04-21 16:26] igorcanadi commented on #588
Can you try increasing block size?

[2015-04-21 17:02] sureshkrishnan1 commented on #588
Igor, I'm about to try a block size of 32K. It'll take some time to load up 125GB of data, but I'll keep you posted on how it goes.

[2015-04-21 17:53] igorcanadi commented on #588
@siying any idea why would "rocksdb.estimate-table-readers-mem" return 0?

[2015-04-21 18:02] sureshkrishnan1 commented on #588
I think I ran it right at the beginning (after the DB was initialized) before the readers got a chance to load up data. I've now added a way to print it out periodically.

For a 16GB rocksdb database, the value of this flag (with old settings, i.e. 8K block size) is 1GB. Here are the values of other rocksdb properties:
rocksdb.estimate-num-keys: 88160282
rocksdb.is-file-deletions-enabled: 0

For 8

[2015-04-21 18:37] igorcanadi commented on #588
LOL, it's wrong output: https://github.com/facebook/rocksdb/blob/master/db/db_filesnapshot.cc#L79. IsFileEnabled() returns true when file deletions are disabled :(

[2015-04-21 18:41] sureshkrishnan1 commented on #588
Glad to know that it's a minor typo :)

[2015-04-21 22:20] sureshkrishnan1 commented on #588
Okay, so I tried a synthetic workload with both 32K and 8K block sizes. Loaded the db to 25GB in both cases. Using an 8K block size used up more memory for filters, but not by too much.

With 8K block size  rocksdb.estimate-table-readers-mem is 869,905,706 (829MB), and with 32K block size it is 664,033,011 (633MB). Memory usage by the binary varies from 1.2GB -> 2GB (depends on compactions and oth

[2015-04-22 00:09] sureshkrishnan1 commented on #588
Question: Is there a way to tell rocksdb to create a sparser index (with block based tables)?

[2015-04-22 16:10] igorcanadi commented on #588
hmmm, interesting. i would expect that increasing block size 4x will bring down the index size 4x. the only way block based tables can create sparser indexes is by increasing block sizes unfortunately.

how big is your working set size? is most of your data cold (i.e. never accessed)? if that's true we could make cache_index_and_filter_blocks=true work OK while keeping the memory usage low.

[2015-04-22 17:31] sureshkrishnan1 commented on #588
There is one strange observation I haven't been able to explain. In both cases, I wrote between 300 - 400 million rows (the data was very compressible though).

Rocksdb's estimate of the total number of rows (rocksdb.estimate-num-keys) was ~4 billion when block size was 32K and ~2 billion when block size was 8K. I can't explain the blow up from 400 million to 4 billion (the key is a randomly gener

[2015-04-22 17:39] igorcanadi commented on #588
Are you using jemalloc or tcmalloc?

[2015-04-22 20:17] sureshkrishnan1 commented on #588
tcmalloc.

[2015-04-22 22:15] yanfang724 opened #590 "Missing Symbol RocksDBJNI 3.10.0 in Mac"
When running rocksdbjni 3.10.0 in Mac, have the following error:

[code]

Mac version: 10.9.5
Java version: 1.7.0_65

Thank you.

[2015-04-22 23:40] adamretter commented on #590
I am on Mac OS X 10.10.3 and have not yet experienced this problem. Is there some simple mechanism for reproducing your issue?

[2015-04-22 23:46] tfarina opened #591 "https://github.com/facebook/rocksdb/blob/master/examples/c_simple_example.c is missing Copyright header"
https://github.com/facebook/rocksdb/blob/master/examples/c_simple_example.c has no Facebook copyright header.

[2015-04-23 00:53] yanfang724 commented on #590
I got this problem by simply running

[code]

This problem does not exist in 3.9.0.

[2015-04-23 00:57] yanfang724 commented on #590
Similar issue here:
https://github.com/emcrisostomo/fswatch/issues/65

I think it occurs in some old versions of Mac. (Well, not that old...)

[2015-04-23 09:54] msb-at-yahoo opened #592 "Using a closed column family handle leads to persistent error"
We've observed some situations in production where all writes fail with "Invalid column family specified in write batch".  We're still investigating, but in an attempt to reproduce the behavior, we've noticed that once a write fails because it used a dropped column family, a subsequent write will fail as well.

is this expected?  if yes, how to get writes working again?

with the code below on OSX

[2015-04-23 10:08] msb-at-yahoo commented on #592
a modestly simpler version:

[code]

[code]

[2015-04-23 16:26] igorcanadi commented on #592
Yes, this is expected behavior, although I agree that it's kind of confusing. As soon as any error happens in write, we mark the database read-only. I think we should restrict this to only IO errors.

[2015-04-23 18:19] naveenatceg commented on #590
Hey guys, can you try using the maven release ?
https://oss.sonatype.org/content/repositories/releases/org/rocksdb/rocksdbjni/3.10.0/

I have also noticed that it can sometime be related to the gcc version you guys are using:
[code]

[2015-04-23 23:38] yanfang724 commented on #590
Actually I do not have gcc... Mac removes gcc in 10.9 . See here https://support.enthought.com/hc/en-us/articles/204469410-OS-X-GCC-Clang-and-Cython-in-10-9-Mavericks

Not sure if this is related to this issue.

[2015-04-24 00:49] igorcanadi commented on #438
Hey @xinxinsh ! You can now use jemalloc with RocksDB (check out https://github.com/facebook/rocksdb/commit/fd7a35731854528dde10deb3444a82ae4c1a9206)
!

[2015-04-24 05:10] msb-at-yahoo commented on #592
thanks.  no promises, but if i get some time i'll look into fixing the error handling.

in my application, i had a race between DropColumnFamily() and Put() on the same column family handle.  the subsequent failures were confusing and scary, since it looked like we'd managed to
clobber the internal cf handle data structure in rocksdb.

[2015-04-26 07:57] aklobanov opened #594 "build for iOS"
two issues:
1) correct command line to build for iOS is: declare -x TARGET_OS=IOS;make static_lib
2) error occurs in file util/file_util.cc at line:
      s = srcfile->Read(bytes_to_read, &slice, buffer);
the error is:
util/file_util.cc:43:25: error: implicit conversion loses integer precision: 'uint64_t' (aka 'unsigned long long') to 'size_t'
      (aka 'unsigned long') [-Werror,-Wshorten-64-to-3

[2015-04-26 17:03] jhess2991 commented on #594
Getting the same issue

[2015-04-27 08:10] kharus commented on #590
Having the same issue. Using repository jars.
dyld: lazy symbol binding failed: Symbol not found: __ZNKSt8__detail20_Prime_rehash_policy11_M_next_bktEm

[code]
[code]
[code]

[2015-04-27 09:20] kharus commented on #590
I unpacked jar and check jnilib dependencies
[code]
It looks to me that it compiled with brew compiler (I conclude it from /usr/local/Cellar) and carries brew dependencies.

[2015-04-27 16:22] jhess2991 commented on #594
@aklobanov will pass if you remove -Werror from the WARNING_FLAGS in Makefile

[2015-04-27 16:29] aklobanov commented on #594
i've simply added the cast:       s = srcfile->Read((unsigned long)bytes_to_read, &slice, buffer);
but on my opinion You should check this code behavior because it can potentially brings a problem.

[2015-04-27 17:57] igorcanadi commented on #594
@aklobanov this is a good fix because bytes_to_read will be always smaller than 4K. https://github.com/facebook/rocksdb/blob/master/util/file_util.cc#L40

Can you please send pull request? Also, we use `static_cast<unsigned long>()` instead of C-style casts.

[2015-04-27 18:17] aklobanov commented on #594
@igorcanadi i wasn't change any repository here - i've done the change on my local copy downloaded as zip archive from this site. So i can not send the pull request.
Also i'm not sure that the cast mentioned above is right for this code:
  while (size > 0) {
    uint64_t bytes_to_read =
        std::min(static_cast<uint64_t>(sizeof(buffer)), size);
    if (s.ok()) {
      s = srcfile->Read(bytes_t

[2015-04-27 19:56] naveenatceg commented on #590
hey @kharus, I concluded the same thing  from the dynamic dependencies and have been digging around for a bit.

[code]

My guess is the previous builds worked because it used the standard OS X gcc verison.

Unfortunately, OS X does not support GCC anymore:
http://stackoverflow.com/questions/19535422/os-x-10-9-gcc-links-to-clang

The correct solution to this problem will be to include the dependenc

[2015-04-27 21:40] naveenatceg commented on #590
From the path, it looks like there is also a darwin version dependency:

[code]

So even install gcc4.9.0 from brew really doesn't solve the problem for everyone.

[2015-04-28 06:08] kharus commented on #590
Is it possible to build jar with clang/Xcode?
I made a local build with clang but I cannot reproduce full jar release
make jclean clean rocksdbjavastaticrelease
Something fails inside centos linux32.
But it shouldn't be related to host machine clang/gcc.

[2015-04-28 07:57] malexzx opened #595 "Rocksdb infinite hangs when using column families with TTL and batch size = 97mb"
Conditions to hang database at Write(batch)  - master branch code
[code]
Steps to reproduce (all together):
1) Use column families.
2) Use TTL feature.
3) Use batch with size > 96mb

Code:
[code]
rocksdb compiled on RHEL5, RHEL6, RHEL7, Ubuntu 15.04 with
make release (and reprodused problem on all platforms)

program output:
[code]
gdb output:
[code]

[2015-04-28 09:06] malexzx commented on #595
I found that it also reprodused without TTL now.

[2015-04-28 10:16] adamretter commented on #590
It is meant to be entirely possible to build Rocks with Clang, so I think we should just use Clang on Mac OS X. In fact, I am on a Mac and it looks to me like my system is using Clang to build RocksDB, so perhaps it is just a problem with the Maven builds?

From my system -

[code]

[2015-04-28 10:59] stephan-hof opened #596 "CompactRange (c++) causes segfault"
Hi guys,

I need a bit of support. In my application code there is this line
[code]
Unfortunately the program aborts with a segfault. I already attached gdb to it having the following back-trace

[code]

I investigated the rocksdb code a bit and the following two parts puzzle me how they interact with 'level_files_brief_'

[code]
In my case NumberLevels() is 10.

[code]
In my case num_non_empty_le

[2015-04-28 16:47] igorcanadi commented on #596
Thanks for a great bug report!

Wow I'm not sure how we never caught this before. Fix here: https://reviews.facebook.net/D37779

[2015-04-28 16:48] igorcanadi commented on #596
(BTW to test it out, you can do `arc patch D37779` on the repository. You'll need to install arcanist -- https://secure.phabricator.com/book/phabricator/article/arcanist/)

[2015-04-28 16:51] igorcanadi commented on #595
Thanks for the great bug report! I'm able to reproduce and will investigate.

[2015-04-28 17:13] naveenatceg commented on #590
@kharus @adamretter What about < OSX 10.8, which doesn't have clang (or whatever version of gcc it had) ? As you point from the example above @adamretter, from your otool output, snappy points to a custom location. Ideally, the solution would be to package all of dependencies together, just like how it's done for Linux (the .so files are bundled in the Jar). For now, let me evaluate, if doing a cl

[2015-04-28 18:56] adamretter commented on #590
@naveenatceg I can't help you with <10.8 and I am not interested in supporting it personally. The last few versions of Mac OS X have been free upgrades, so there is little reason not to update!

[2015-04-29 06:47] stephan-hof commented on #596
Hi the patch works in my scenario. Thanks for the quick response.

[2015-04-29 06:47] #596 closed

[2015-04-29 06:51] igorcanadi commented on #596
Glad to help @stephan-hof !

[2015-04-29 07:51] msb-at-yahoo opened #597 "Surprising behavior re: DB::GetOptions().comparator"
i'm not sure if this is best documented as a quirk or fixed in the implementation, but the value of the comparator pointer returned via DB::GetOptions() is surprising in a few ways:

1. The value doesn't match.
2. The name doesn't match.
3. The Compare() result doesn't always match.

It's pretty clear why this is the case: the column family's options returned by GetOptions() have been modified to

[2015-04-29 16:58] feng-tao opened #598 "timing granularity error in java performance benchmark stats reporting"
In Stats class of DbBenchmark.java, the start time(start_) and finish time(finish_) are captured with "System.nanoTime()" which is in nanoseconds range. But elapsed time with second as unit in "report" function is calculated as " double elapsed = (finish_ - start_) * 1e-6;" . I think this is erroneous as it should be calculated as " double elapsed = (finish_ - start_) * 1e-9;"

I guess it got mist

[2015-04-30 03:57] elgeish opened #599 "SIGSEGV in Java_org_rocksdb_Options_disposeInternal"
I'm getting the following crash intermittently:

[code]

[2015-04-30 05:54] msb-at-yahoo commented on #597
I think changing documentation is better than fixing the code in this case.  If I knew I needed to save the original options at Open(), I would have done so.

[code]

[2015-04-30 11:30] adamretter commented on #599
This is caused by `disposeInternal` being called more than once on Options

[2015-04-30 16:27] igorcanadi commented on #597
Yeah, I agree. We were actually trying to get rid of this call, but some clients inside of Facebook are using it. I'll apply your patch.

[2015-04-30 16:29] igorcanadi commented on #597
https://github.com/facebook/rocksdb/commit/fd96b554026d5c1d4278d4b2fef7ba09a7fc8d83

[2015-04-30 18:52] feng-tao commented on #598
anyone could help to response. It should be simple fix otherwise the java microbenchmark is incorrect

[2015-04-30 20:35] adamretter opened #600 "make check fails on Mac OS X"
On HEAD of `master` when running `make clean jclean check` I get a build failure on Mac OS X about too many open files:

[code]

This is a relatively recent development and did not occur previously.

`sysctl kern.maxfiles` reports `12288` on my system, and after the build fails `lsof | wc -l ` reports `11481`. Is it possible that building rocks and running check requires opening another 807 files?

[2015-04-30 21:43] adamretter commented on #598
@feng-tao Yes I think you are correct. It looks like this mistake is repeated in several places in `DbBenchmark.java`. I will prepare a patch...

[2015-04-30 22:19] adamretter commented on #598
@feng-tao Hopefully this one nails it - https://github.com/facebook/rocksdb/pull/601. Please do check my conversions.

[2015-05-01 02:45] msb-at-yahoo commented on #597
thanks!

fwiw, my use case is for a temporary tool, and if GetOptions() wasn't available I would have figured out another way.

[2015-05-01 02:45] #597 closed

[2015-05-01 06:21] naveenatceg commented on #590
Made a new release with 3.10.1 (compiled with clang), Yan verified that it works.

[2015-05-01 09:09] elgeish commented on #599
I'm not sure that's possible, since dispose() guards against that by checking owningHandle_:
  public final synchronized void dispose() {
    if (isOwningNativeHandle() && isInitialized()) {
      disposeInternal();
    }
    nativeHandle_ = 0;
    disOwnNativeHandle();
  }

I'll need to look at the core dump to figure out the values of those variables

[2015-05-01 23:14] igorcanadi commented on #595
@malexzx can you verify that this issue is fixed with https://github.com/facebook/rocksdb/commit/d2346c2cf0490de4823fd449c2082cd82a871cc2?

[2015-05-02 04:50] malexzx commented on #595
Thanks for fast fix,
It worked!

[2015-05-02 12:33] elgeish commented on #599
The debugger confirms that disposeInternal is called only once (this is rocksdb v3.5.1 by the way):

Breakpoint reached at org.rocksdb.RocksObject.dispose(RocksObject.java:42)
org.rocksdb.RocksIterator@15b92f8a[java.lang.Thread.getStackTrace(Thread.java:1552), org.rocksdb.RocksObject.dispose(RocksObject.java:42), org.apache.samza.storage.kv.RocksDbKeyValueStore$RocksDbIterator.close(RocksDbKeyValu

[2015-05-02 19:12] igorcanadi commented on #595
Glad to hear!

[2015-05-02 19:12] #595 closed

[2015-05-04 22:13] zhijing opened #602 "vallen is 0 but value is good when call rocksdb_get()"
I am trying to define my own merger operator. it works fine without any errors. but when I call rocksdb_get after then, I can get the value as expected, but the vallen is 0. any suggestions?

[2015-05-06 16:27] superwood opened #603 "it takes a long time to recover the db ,why?"
there is the info from gdb

#0  0x00000000004e63c9 in GetNumber (this=0x27b2000, edit=0x7fff5a1d2610) at ./db/version_edit.h:54
#1  CheckConsistencyForDeletes (this=0x27b2000, edit=0x7fff5a1d2610) at db/version_set.cc:1625
#2  rocksdb::VersionSet::Builder::Apply (this=0x27b2000, edit=0x7fff5a1d2610) at db/version_set.cc:1648
#3  0x00000000004dc3d9 in rocksdb::VersionSet::Recover (this=0x27e01e0, c

[2015-05-06 16:28] superwood commented on #603
the data size is 100GB

[2015-05-06 16:32] igorcanadi commented on #603
how did you compile the binary? looks like you have debug checks enabled. Read this to understand more: https://github.com/facebook/rocksdb/blob/master/Makefile#L24-L35

[2015-05-06 16:37] superwood commented on #603
i compile it for some debug-info.

[2015-05-06 16:48] igorcanadi commented on #603
Yes. It slow entire DB operation.

[2015-05-06 16:48] igorcanadi commented on #603
even if you compile with DEBUG_LEVEL=0, we still have some debugging information.

[2015-05-06 17:20] #602 closed

[2015-05-06 18:26] ovjh opened #604 "MultiGet api support for TTLDb"
This I think is a feature request. Today TTLDB lacks MultiGet api support. It would be good to have for all those who want to switch from normal DB to TTLDB.

[2015-05-07 06:17] fyrz commented on #598
@feng-tao i close this one. If any problems remain please feel free to reopen.

[2015-05-07 06:17] #598 closed

[2015-05-08 19:52] igorcanadi commented on #603
Did this solve your problem?

[2015-05-11 08:53] ekg commented on #499
@siying This sounds like a nice strategy, but compaction is _really_ slow. It's the biggest bottleneck in my use of rocksdb. For our application I take about 5 hours to generate the data to put into the db and 50 hours to compact/compress it. I'm using the bulk load pattern from the tests. The data generation is parallel, while the compaction is effectively single threaded. Benchmarking with gprof

[2015-05-11 09:30] dhruba commented on #499
1. do you want to insert all the newly (independently) generated database chunks into an existing database or do you want to insert them into an empty database?
2. do all the newly (independently) generated database chunks have mutually-exclusive range of keys?

[2015-05-12 04:42] DerekSchenk commented on #547
After running this in a test lab for a few weeks with no issues I promoted it to production to 6 machines.  Within 12hrs I've had 6 crashes due to a SIGSEGV.  All of the machines produce the same error, which is a partial dump written to console with the following

[code]
The rest of the dump is never written, however the error location is always the same.
All machines are running the same OS patc

[2015-05-12 11:47] DerekSchenk commented on #547
The finalize() method appears to be a red herring.  Running the updated library with the finalize() in RocksObject removed did not resolve the issue.  Over the last 7 hours since updating one of the patched and one of the un-patched boxes both died.

I see that there is a fix in 3.10.1 for a SIGSEGV in compaction, so I want to try it next, however the version in maven does not work on Centos due t

[2015-05-12 12:02] adamretter commented on #547
I am interested to see that you have ruled out the issue of `finalize` as there was some concern between the interaction of `dispose` and `finalize` previously. I am afraid that I cannot help with in-depth C/C++ related issues, but perhaps someone else here can?

[2015-05-12 12:14] fyrz commented on #547
@adamretter we should give the garbage collection related resource removal high priority.

[2015-05-12 12:15] adamretter commented on #547
@fyrz You mean switching from finalize/dispose to implementing Closeable so we can do ARM?

[2015-05-12 14:12] fyrz commented on #547
@adamretter yep.

[2015-05-12 21:18] siying commented on #597
@igorcanadi I don't remember we sanitize comparator anymore. In which use case do we do that?

[2015-05-12 23:51] igorcanadi commented on #597
We do this in column family: https://github.com/facebook/rocksdb/blob/master/db/column_family.cc#L123

[2015-05-12 23:55] igorcanadi commented on #499
If you're using bulk load optimization, that will optimize write amplification (how much data you write to disk), and unfortunately not performance. CompactRange() is still single-threaded unfortunately, although @rven1 is going to fix that soon.

Bulk load will disable your compactions until the end. I actually found that you can get better performance if you compact as you go. That way compactio

[2015-05-13 00:05] siying commented on #597
@igorcanadi was it a merge error? I thought it was removed through https://reviews.facebook.net/D15489 .

[2015-05-13 00:21] igorcanadi commented on #597
oh wow, looks like a merge error, yes

[2015-05-14 21:38] thatsafunnyname opened #605 "ldb (ldb_cmd.h HexToString) usage of sscanf is O(N) which makes ldb O(N^2)"
Hello and thank you for RocksDB,

  ldb (ldb_cmd.h HexToString) usage of sscanf is O(N) making ldb O(N^2).  I noticed this on RHEL7 with glibc-2.17-55.el7_0.5.x86_64 while loading some large hex values.  Here is a reproducer for a bash shell:

[code]

Just to demonstrate the perl time and max line length:

[code]

An ltrace while ldb was running:

[code]

This is the glibc bug:

  https://sourcewa

[2015-05-15 01:29] pshareghi opened #606 "undefined symbol: clock_gettime"
Using
 Centos 6
 GCC 4.9 using devtools-3
 Java 7
 Kernel 2.6.32-504.12.2.el6.x86_64

I am getting the following error after running a test for a while.
/usr/java/latest/bin/java: symbol lookup error: /tmp/librocksdbjni2974434001434564758..so: undefined symbol: clock_gettime

The same test runs fine on RocksDb 3.6. My investigation shows that librt.so is not linked with RocksDb correctly. My test

[2015-05-15 01:51] igorcanadi commented on #606
Interesting. We do set -lrt when we compile: https://github.com/facebook/rocksdb/blob/master/build_tools/build_detect_platform#L125

Do we need to set something other than `-lrt`? Do you see that flag in your compile log?

[2015-05-15 09:20] superwood opened #607 "Sometimes, a deadlock occurs when manual compaction."
All  the  read  and write opertion are blocked 。 the  process seems deadlock.

There is  the  thread  stack info
#0  0x0000003864a0b5bc in pthread_cond_wait@@GLIBC_2.3.2 () from /lib64/libpthread.so.0
#1  0x000000000050468d in rocksdb::port::CondVar::Wait (this=Unhandled dwarf expression opcode 0xf3

) at port/port_posix.cc:83
#2  0x00000000005365d5 in WaitInternal (this=0x7f6aa95e5448) at util/in

[2015-05-15 16:28] igorcanadi commented on #607
Is this the only thread? Can you send the stacks of other threads? Can you send us your LOG file?

[2015-05-15 18:10] DerekSchenk commented on #606
I'm experiencing the same issue using the rocksdbjni 3.10.2 jar from Maven, running on Centos 6.6.

Using
Centos 6.6
2.6.32-504.16.2.el6.x86_64 #1 SMP Wed Apr 22 06:48:29 UTC 2015 x86_64 x86_64 x86_64 GNU/Linux
java version "1.8.0_40"

I was using version 3.9.1 previously, and had no issues.  This is the nm results:
[code]

I build the library from the latest, this is the results:

** To save othe

[2015-05-15 18:58] DerekSchenk commented on #547
The current version of RocksDBJNI 3.10.1 in Maven does not work on Centos (undefined symbol: clock_gettime).  I used the workaround defined in issue 606 using LD_EXPORT and was able to update one of the machines.

I had to add a cron job to run every minute to check the console output for SEGV and kill/restart the process.  For some reason when this issue happens the JVM does not die, but hangs an

[2015-05-15 18:59] pshareghi commented on #606
One thing I don't understand is how clock_gettime was not included at all in Rocksdb 3.6, but now it shows up unlinked.

I don't have time to try and build but one suggestion I found online is to use
-Wl,--no-as-needed

http://stackoverflow.com/questions/17150075/undefined-reference-to-clock-gettime-although-lrt-is-given

From ld man:
[code]

[2015-05-15 19:03] pshareghi commented on #606
@igorcanadi if you can explain how clock_gettime was not included at all in Rocksdb 3.6 or 3.9.1, but now it shows up unlinked, that would be very helpful. Also, it looks like the code in older Rocksdb versions did not reference clock_gettime at all. I looked at build_detect_platform, but I don't see a big change that may have caused the code to start using clock_gettime. Any idea?

[2015-05-15 19:08] DerekSchenk commented on #606
I found the same article, and I tried to change the build_detect_platform and set the following:
[code]
But the output of nm is still:
[code]
I also see that clock_gettime was not included in the 3.9.1 release, so it looks new to 3.10.

It's worth noting that setting the workaround you defined
export LD_PRELOAD=/lib64/rtkaio/librt.so.1
worked to let me startup the code.

[2015-05-16 00:10] pshareghi commented on #606
@DerekSchenk What are you running that you get the clock_gettime error? I didn't see the error in our production env. I only noticed it when I tried to write a million dummy KVs to a dummy db to see the effect of Snappy compression vs NO_COMPRESSION. Do you know if it happens during read, write, or is it the statistics gathering piece of code that is causing this issue?

[2015-05-16 19:52] DerekSchenk commented on #606
@pshareghi I'm not 100% certain, but it seems to happen when I initialize the database.  I think it's caused because I use ".createStatistics()", but I do have compression enabled as well.  I'd need to try a few scenarios to see for sure.  If it's in fact the statistics I can disable that and work without it, but at the moment I can't upgrade at all.

[2015-05-17 05:05] pshareghi commented on #606
I think it is statistics calculation that triggers the issue. I checked my LOG file when the problem happened, and it was in the middle of printing out the statistics.

[2015-05-17 18:19] adamretter opened #608 "WriteBatchWithIndex seems slow"
I am trying to atomically write 5,305,512 key/value pairs into RocksDB. The performance of this feels slow to me, at about 60 seconds.

I am writing to a single WriteBatchWithIndex through calling `org.rocksdb.WriteBatchWithIndex#put(byte[], int, byte[], int, long)`, this takes some ~50 seconds. Whereas subsequently writing that batch into Rocks using `org.rocksdb.RocksDB#write(org.rocksdb.WriteOp

[2015-05-18 07:14] yhchiang commented on #608
cc @igorcanadi, @siying, and @agiardullo who know more about WriteBatchWithIndex().

[2015-05-18 18:01] siying commented on #608
@adamretter WriteBatchWithIndex is slower than WriteBatch since it needs to insert into the index too, which is a binary search. If you are build a super large batch in WriteBatchWithIndex, it can be even slower than inserting to DB as what you see, since it needs to build a binary index on the fly.

For your case, it is possible that your slowness is caused by resizing the underlying buffer in Wr

[2015-05-18 18:18] adamretter commented on #608
@siying It is very hard for me to know how much to preallocate in advance as I use the WriteBatchWithIndex for every update operation on the database. It might contain anywhere between 5 key/value pairs and tends of millions. Apart from pre-allocating, what other options are available for speeding this up?

[2015-05-18 18:20] siying commented on #608
@adamretter  do you have to put 5 million keys in one write batch? Can you write to smaller batches?

[2015-05-18 18:23] adamretter commented on #608
@siying Afraid not. I need to write objects into Rocks atomically. To do that I shred them into key/value pairs. Depending on the size of the object and how many objects the end-user elects to store will determine how many key/value pairs go into the write batch. This is actually not a big one - just about 75MB of object data.

[2015-05-18 18:29] siying commented on #608
@adamretter I can't think of a way to solve the problem for you now. std::string's resizing is not exponential. If we implement a WriteBatchWithIndex::ReserveBuffer() for you to call while the size grows, so that you can get size of the buffer by yourself and call ReserveBuffer() in an exponential way. Will that help you?

[2015-05-19 15:59] DerekSchenk commented on #606
@pshareghi Thanks for the tip - I can confirm that the issue is triggered when including statistics.  I removed the call to .createStatistics() and I can use the 3.10 version.  This was not an issue in the 3.9 release.  While I do use the stats I can live without them for know.

[2015-05-19 16:01] DerekSchenk commented on #547
Having run the 3.10 version over the weekend I haven't seen any SEGV's.  I'll be updating 3 more machines and will continue to monitor.  Crossing fingers...

[2015-05-19 16:49] igorcanadi commented on #606
RocksDB 3.6 did call clock_gettime: https://github.com/facebook/rocksdb/blob/rocksdb-3.6.1/util/env_posix.cc#L1362 so I have no idea why it's showing up as unlinked right now and it worked before :(

[2015-05-19 16:51] igorcanadi commented on #606
@DerekSchenk thanks for the report that our compilation doesn't work on gcc 4.7. We fixed this with https://github.com/facebook/rocksdb/commit/74f3832d85e932ed485a4f8d8c01b0adc6b3e502. We should probably set up contbuild using 4.7 to make sure this doesn't happen again.

[2015-05-19 16:59] igorcanadi commented on #606
Are you both guys running with shared library?

[2015-05-19 17:01] DerekSchenk commented on #606
@igorcanadi Something that occurred to me - is it possible that the newer build running against gcc 4.8 has linked a newer version of glibc (ie 2.2.5), and all my Centos 6.6 machines are runing glibc 2.12?  That may explain how it worked in 3.9 (using gcc 4.7), and why it works on other platforms?

 I am pulling the jar from Maven, and it uses the shared library.  When I built it myself I also bui

[2015-05-19 17:02] igorcanadi commented on #606
@DerekSchenk can you try building with gcc 4.7 on master now? If this works, it will partially verify your hypothesis.

[2015-05-19 17:02] igorcanadi commented on #606
what does `ldd binary` give you?

[2015-05-19 17:04] igorcanadi opened #611 "RocksDB 3.11"
@fyrz and @adamretter -- we're releasing RocksDB 3.11 probably today. Any patches you want to get in?

[2015-05-19 17:04] DerekSchenk commented on #606
# ldd --version
ldd (GNU libc) 2.12
Copyright (C) 2010 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
Written by Roland McGrath and Ulrich Drepper.

[2015-05-19 17:04] adamretter commented on #611
@igorcanadi That is a bit short notice!

[2015-05-19 17:05] igorcanadi commented on #606
`ldd librocksdb.so`

[2015-05-19 17:06] igorcanadi commented on #611
Yeah I know, sorry. We have some hi-pri patches that we need to release for our internal use-cases. We're back to quick release cycle, so we should be releasing 3.12 in 4 weeks.

[2015-05-19 17:07] adamretter commented on #611
@igorcanadi Any chance of getting a semblance of a roadmap/release schedule into GitHub milestones, so that not FBers can contribute/follow?

[2015-05-19 17:09] DerekSchenk commented on #606
This is the output:

Version 3.9
[code]
Version 3.10
[code]

And my attempt to build from head last week
[code]

I just updated on my build machine and will try building again using 4.7.

[2015-05-19 17:11] igorcanadi commented on #605
Oh wow, thanks for the report. For the record, I created internal task t7123250 to track fixing this.

[2015-05-19 17:15] igorcanadi commented on #611
Yeah, we should definitely do that. I know we promised this at 3.10 release already.

BTW we don't have fixed roadmap and milestones and don't target particular features for certain releases. Our goal is to do time-based releases. Develop into master branch and then just release every 4 weeks. Whatever feature gets in, it gets released. Features that don't get in, don't get released. It's very sim

[2015-05-19 17:19] adamretter commented on #611
@igorcanadi ah okay... I had no idea! Last question, how do you decide to go from a minor x.x release to the next major x.0 release?

[2015-05-19 17:22] igorcanadi commented on #611
We moved to 3.0 because we introduced column families. I'm not sure when we'll go with 4.0 :) Maybe when we add full transaction support :)

[2015-05-19 17:28] DerekSchenk commented on #606
@igorcanadi The master build 'make shared_lib' now works on gcc 4.7, however it still looks as though it's not linked properly.

I should have probably know this already as the gcc version 4.7 is not fully installed either.  The most up to date version of gcc you can get for Centos 6 through yum is 4.6, so I've got 4.7 and 4.8 installed in alternate locations.  The yum command `yum install gcc47-c

[2015-05-19 18:13] igorcanadi commented on #606
@DerekSchenk I'm not sure why our compiler doesn't complain about that. I fixed it here: https://github.com/facebook/rocksdb/commit/04feaeebb922c3af6fb08762326753d93231e000

[2015-05-19 19:52] DerekSchenk commented on #606
@igorcanadi Thanks - that fix worked.  I was able to compile and run this time.  I was hoping one of the tests would it the clock_gettime call and confirm if it was working or not.  Do you know what test would be a good one to confirm?

Off topic, not sure if you want this in a different issue, but the check run fails on one of the environment tests.
[code]

[2015-05-19 20:02] igorcanadi commented on #606
Yes, please create the different issue for this one.

`db_test` calls clock_gettime a lot, so if it succeeded, then all is fine.

[2015-05-19 20:59] pshareghi commented on #606
@igorcanadi I am building using
I am not building shared libraries. My build command is
make rocksdbjavastatic

Also, I am using GCC 4.9
[code]

[code]

[2015-05-19 21:30] pshareghi commented on #606
@DerekSchenk try this super simple test. I shamelessly modified RocksDbSample.java. Even though I commented out createStatistics(), it still dies halfway.
https://gist.github.com/pshareghi/4f8852fc92272098b8da

[2015-05-20 01:52] DerekSchenk commented on #606
@pshareghi I pulled down the RocksDbSample.java, and using the copy I built it worked (completed the test) if I removed the call to .createStatistics(),  as well as the Statistics creation 'Statistics stats = options.statisticsPtr();', and the lines following 'db.getProperty("rocksdb.stats");'.

With those lines included the test fails every time with the missing symbol error.

I got looking at th

[2015-05-20 02:03] igorcanadi commented on #606
Oh interesting. I'm actually not familiar with RocksJava compilation, but this change looks good to me. @yhchiang @fyrz @adamretter can you please evaluate the change? @DerekSchenk feel free to send the PR :)

[2015-05-20 03:08] DerekSchenk commented on #606
@igorcanadi I've created a PR (should have probably waited until morning :) ) for this issue.  Hope everything is fine.

[2015-05-20 04:40] yhchiang commented on #606
@DerekSchenk:  Thanks for the patch.  The patch looks good to me.  Once you've signed the Contributor License Agreement, I will proceed the merge :)

[2015-05-20 07:44] adamretter commented on #606
@igorcanadi I have never used the static build of Rocks Java and I don't really know enough about C++ to say whether these linked changes are correct. @yhchiang seems to think they are fine, so that is also fine by me :-)

[2015-05-20 10:40] fyrz commented on #547
@DerekSchenk any news ?

[2015-05-20 11:18] fyrz commented on #606
same with me.

[2015-05-20 11:19] fyrz commented on #611
@igorcanadi nothing to be comitted by me this time. I`ll going to move the pull request to 3.12.

[2015-05-20 11:56] DerekSchenk commented on #606
@yhchiang I've signed the CLA.

[2015-05-20 13:51] thatsafunnyname commented on #605
Thanks, to speed up the proof of concept I was working on I went with:

    static string HexToString(const string& str) {
      string parsed;
      if (str[0] != '0' || str[1] != 'x') {
        fprintf(stderr, "Invalid hex input %s.  Must start with 0x\n", str.c_str());
        throw "Invalid hex input";
      }
      unsigned int len = str.length();
      if (len & 1) {
        fprintf(stderr,

[2015-05-20 15:24] igorcanadi commented on #605
Tnx, this looks pretty good! Would you like to submit a pull request? I can comment on the code there.

[2015-05-20 15:24] igorcanadi commented on #611
Tnx guys. I'm closing this issue, we'll be releasing soon

[2015-05-20 15:24] #611 closed

[2015-05-20 16:08] DerekSchenk commented on #547
@fyrz As far as I can tell it's resolved the issue. I've not had any SEGV's since updating it.  It appears that 3.10 fixes the issue.  I was hoping to make it to the end of the week clean, and if so then I think this is resolved.

[2015-05-20 16:10] DerekSchenk commented on #606
@igorcanadi  I see that your releasing 3.11 shortly.  Is there any chance that this patch will make it, so that the Maven package for RocksDB java gets updated with the fix?

[2015-05-20 16:21] igorcanadi commented on #606
3.11 is already released internally. We can create 3.11.1 with the patch.

[2015-05-20 22:14] pshareghi commented on #606
Thanks everyone!

[2015-05-21 04:32] sureshkrishnan1 commented on #588
Got caught-up with a few things so couldn't post an update on this bug. The read performance (point lookups) with 32K was just not acceptable. Latencies spiked, CPU usage went up (snappy decompression started showing up in profiles), and so I had to revert back to 8K. I just ended up clubbing multiple rows together so as to have fewer rocksdb rows. This reduced bloom filter usage, which was also a

[2015-05-21 11:52] thatsafunnyname commented on #605
In the short and medium term I do not anticipate spending any time developing using RocksDB (or other FB code), I found this during a $work hackathon.  I think a patch (or pull request) is going to require a CLA agreement and an internal approval process which I do not think is worth it for this, so I would just like to report the issue.  Using std::hex in a stringstream is (I think) a succinct ap

[2015-05-21 14:17] igorcanadi commented on #605
Yeah, that's true, a patch would require a CLA :(

Anyhow, thanks for your contribution!

[2015-05-21 14:20] igorcanadi commented on #588
Thanks for the update!

Unfortunately we don't have this option yet :(

[2015-05-25 18:15] adamretter commented on #608
@siying I am not sure I can estimate the size up-front before storing a complex object so manually resizing the buffer is probably not useful. However, I wonder if it would be more efficient to have a master WriteBatch and then sub-WriteBatches that could be merged to the master, each complex object I am storing could be written to its own sub-WriteBatch and then merged with the master WriteBatch

[2015-05-26 08:38] superwood commented on #607
threads  have the some stacks .  The WARN LOG is
"[default] Stopping writes because we have 4 immutable memtables (waiting for flush), max_write_buffer_number is set to 4"

the rocksdb options about flush  and  compaction are
Options.max_background_compactions: 8
Options.max_background_flushes: 8

why does rocksdb stop flush immutable memtables  to sst ?
how can i slove the problem.

[2015-05-26 13:56] igorcanadi commented on #607
This has been solved in 3.11 release (https://github.com/facebook/rocksdb/commit/b0fdda4ff07f2cc52b1f1ed77cfac47e02a86b96 is the commit). Can you please try verifying if this has been solved for you?

[2015-05-26 17:35] siying commented on #608
@adamretter if my previous guess that the bottleneck is string resizing is correct, then your approach will help you have a better estimation of final write buffer size, which you can pass through its constructor. The total time can be faster. You can give it a try and see whether you see a speed-up.

[2015-05-27 10:40] adamretter opened #616 "Iterator on WriteBatchWithIndex sometimes does not return all keys"
I am seeing a strange problem which I am struggling to track down. Unfortunately the problem is non-deterministic, I have a suite of tests and if I run them 5 times, then the problem may only occur 3 times; It seems that **_sometimes**_ a NewIteratorWithBase taken on a Column Family for a WriteBatchWithIndex can miss some keys.

For background, I am working from Java and I have a WriteBatchWithInd

[2015-05-28 11:04] ekg opened #618 "in memory without ramfs or tmpfs"
Is there a way to load the compressed tables into memory without using a tmpfs or ramfs?

[2015-05-28 13:13] DerekSchenk commented on #606
@igorcanadi Do you have an approx date for a 3.11.1 release?  I'd like to get this update rolled out to address a SEGV issue I'm having.

[2015-05-28 15:21] yhchiang commented on #616
Not familiar with the WriteBatchWithIndex.  @siying and @agiardullo: have you ever seen this issue in RocksDB C++ or have any idea on what might go wrong?

[2015-05-28 17:04] siying commented on #616
@igorcanadi has more practical experience on using this class.

[2015-05-28 17:15] siying commented on #616
You are updating entries in WriteBatchWithIndex while iterating it? This is not a target use case and we don't have any unit test coverage to it. I'm not sure whether we support it. @igorcanadi @agiardullo  do you ever use WriteBatchWithIndex in this way?

[2015-05-28 17:51] adamretter commented on #616
@siying Okay that is interesting. I can't really think of an efficient way to remove a set of keys which are composite (i.e. remove a set of keys by prefix) without iterating. I could construct a list of keys to remove first and then iterate the list, removing each one from the WriteBatchWithIndex, but that seems kinda indirect.

[2015-05-28 18:22] agiardullo commented on #616
@siying, I’ve personally never iterated through a wbwi while modifying it.  And not too familiar with the internals of this class to know whether this is supported.

On May 28, 2015, at 10:51 AM, Adam Retter <notifications@github.com<mailto:notifications@github.com>> wrote:

@siying<https://github.com/siying> Okay that is interesting. I can't really think of an efficient way to remove a set of key

[2015-05-29 05:42] fyrz commented on #616
@adamretter did you check for string termination issues ? Sounds somehow like one, we did also see such a behavior with Slices, if you remember that.

[2015-05-29 05:48] fyrz commented on #618
@ekg did you have a look at `MemEnv` ?

[2015-05-29 06:54] ekg commented on #618
Is there a test case showing how to use it to open a db from disk? I
haven't found one and my attempts at getting it to work have failed.
On May 29, 2015 6:49 AM, "Jörg Maier" <notifications@github.com> wrote:

[2015-05-29 07:02] adamretter commented on #616
@fyrz Sorry you might need to jog my memory a bit here. From the Java API side the keys and values are always byte[], where do you think I might have issues with C-style string termination?

[2015-05-29 07:05] fyrz commented on #618
@ekg it`s a hacky way and i think it was also not the devs intention. But a possible way would be to use the `BackupableDB` to backup to a `MemEnv` which incorporates a virtual directory layout. After backing things up you can use the memory environment. Theoretically this should work, but i didnt test it.

[2015-05-29 09:10] ekg opened #619 "scaling is not linear per CPU"
I have a read-bound application (aligning DNA reads to a graph reference genome). I notice that I can align about 1000 reads/second on a single CPU. However, using 32 provides only 8000 reads/second. Obviously there is some contention preventing near-linear scaling. Is it possible this is driven by rocksdb itself? Or am I seeing some kind of system-level contention?

In principle, what might be li

[2015-05-29 09:13] ekg commented on #521
I'm not seeing this behavior when running in-memory with cache sharding. See #619.

[2015-05-29 09:14] ekg commented on #619
If interested my rocksdb code is @ https://github.com/ekg/vg/blob/master/index.cpp

[2015-05-29 09:28] haneefmubarak commented on #619
Try systematically going from 1, 2, 3 ... 32 cores. See how many reads / second you can achieve in each scenario and then post the results here. What hardware are you running / testing on?

---

AFAIK there aren't any 32 core general processors that are widely available yet. Given that I'm guessing that you are either using SMT (hyperthreading) or a multiple processor system. If you are using SMT,

[2015-05-29 12:27] longdafeng commented on #557
@fpiccinini , I also met this problem.

My environment is JDK 6, I am using 3.10.1 from Maven repository . it report "org/rocksdb/RocksDB : Unsupported major.minor version 51.0"

I am going to build one jar under JDK6 by myself. But I wonder whether it works fine or not under JDK 6?

[2015-05-29 13:37] mdcallag commented on #619
Is the block cache large enough to cache the database?
Is max_open_files large enough to cache all database files?

How many CPU cores do you have? And is that with or without hyperthreading?

What is your workload for which you want better scaling? Read-only? Read-write where each thread does both reads & writes? Or read-write where some threads only do reads? Threads that do reads & writes can g

[2015-05-29 13:40] mdcallag commented on #521
Even in memory there are possible sources of contention:
1) block cache mutexes -- workaround is to use more shards for the block cache LRU
2) files -- make sure max_open_files is large enough to cache open files

[2015-05-29 14:31] igorcanadi commented on #616
Yes, I think we are expected to support read-our-own-changes in mongo even while iterating, although I'm not sure how often that happens. Is there anything fundamentally hard about this problem? Can we add unit-tests and make sure we support it?

[2015-05-29 14:53] igorcanadi commented on #618
@ekg you can use `vmtcouch` command to preload your table into OS cache. You can even make them pinned in memory.

[2015-05-29 14:53] igorcanadi commented on #606
How about next Wednesday?

[2015-05-29 14:55] DerekSchenk commented on #606
Sure that would be great.  Thanks.

[2015-05-29 16:41] siying commented on #616
@igorcanadi not sure. Need to check the codes and write unit tests for it.

[2015-05-29 17:30] siying commented on #619
@ekg give options.max_open_files=-1. This will remove the table cache contention. For your 32 cores, how many sockets are they in, and how many physical cores?

[2015-05-29 17:41] siying commented on #619
Our own benchmark shows we scale pretty well up to 16 cores and still serve more requests until 32 cores in a 32 core server: https://github.com/facebook/rocksdb/raw/gh-pages/talks/2014-03-27-RocksDB-Meetup-Lei-Lockless-Get.pdf

We call it scaling to multicores because, there are two sockets, each has 16 cores. It is a reasonable results for a scalable system.

If you have stats on, can you shared

[2015-05-29 17:48] mdcallag commented on #619
Siying - for which workloads are you making that claim?
1) read-only with cached database
2) read-only with not-cached database and enough IO throughput
3) read-only with not-cached database and not enough IO throughput
4) not read-only with cached database
5) not read-only with not cached database and enough IO throughput
6) not read-only with not cached database and not enough IO throughput

And

[2015-05-29 17:54] siying commented on #619
@mdcallag  it's "memory-only" (not backed by persistent storage at all) workload shown by here: https://github.com/facebook/rocksdb/wiki/RocksDB-In-Memory-Workload-Performance-Benchmarks
it's "read while writing" tests with ever thing only going to memory. As normal db_bench setting: threads don't mix read and write. One writer thread and lots of reader threads.

I should have been more clear with

[2015-06-01 09:54] fyrz commented on #557
@longdafeng compiling RocksJava will not be possible with standard JDK 6 tooling, because we are using diamond operator syntax and other Java 7 related stuff.

[2015-06-01 15:21] fyrz commented on #606
@igorcanadi did you release 3.11.1 yet ? It would be great if we can get 3.11.1 on maven central because it affects also the latest maven artifacts 3.10 - 3.10.1

[2015-06-01 17:58] paultuckfield commented on #619
compile this tool:  https://github.com/yoshinorim/quickstack, then use it to take 5-10 samples of stack traces.        I have a somewhat fancy script that post processes this output, if it works it'll save you some time, but it might be finicky outside my environment:  https://gist.github.com/paultuckfield/4fe3eef495918cc81beb

[2015-06-02 12:47] superwood opened #623 "options about compression seems not work."
I  set the compression  options ：
options.compression_per_level.resize(options.num_levels);//  num_levels=7
options.compression = kZlibCompression;
options.compression_per_level[0] = kSnappyCompression;
options.compression_per_level[1] = kSnappyCompression;
 options.compression = kZlibCompression;
for(int i = 4;i<options.num_levels;i++){
  options.compression_per_level[i] = kZlibCompression;
}

bu

[2015-06-02 16:26] siying commented on #623
You probably called options.OptimizeLevelStyleCompaction() after setting those.

[2015-06-02 16:47] superwood commented on #623
I did the  options.OptimizeLevelStyleCompaction(memtable_memory);  after the options about compress

[2015-06-02 16:50] superwood commented on #623
you means the options.OptimizeLevelStyleCompaction(memtable_memory) must be called before setting  options.compression?

[2015-06-02 16:51] superwood commented on #623
I got it ,3q.

[2015-06-03 00:09] luengnat commented on #410
Any more updates to this issue? I saw some code got committed

[2015-06-03 04:10] agiardullo commented on #410
Optimistic Transaction support is now in the RocksDB master branch.  Please take a look and let us know if this works for you.

https://github.com/facebook/rocksdb/wiki/Optimistic-Transactions

[2015-06-03 06:35] fyrz commented on #623
@superwood can you close that issue if the problem is solved ?

[2015-06-03 14:20] ekg commented on #618
@igorcanadi Thanks, vmtouch seems to do the trick. However, as non-root I'm not sure I can use `mlock` to make large files sticky.

[2015-06-03 17:22] igorcanadi commented on #606
There you go guys: https://github.com/facebook/rocksdb/releases/tag/rocksdb-3.11.1

[2015-06-03 17:25] DerekSchenk commented on #606
@igorcanadi Thanks!  What's the process for getting this updated on maven central?

[2015-06-03 17:26] igorcanadi commented on #606
I have no idea. @fyrz and @adamretter would know :)

[2015-06-03 18:35] changhuilin opened #624 "sst_dump seems having some problems"
Hi, all.

I am trying to dump info from an SST file.
The key-value pairs are in the form
"key-tttt-xxxx" : "val-tttt-xxxx" (xxxx is index numbers, starting from 0)

== 1 ==
However, for some files, I got assertion failure when I do

./sst_dump --command=raw --file=/path/to/file

It complains:
"sst_dump: ./db/dbformat.h:89: rocksdb::Slice rocksdb::ExtractUserKey(const rocksdb::Slice&): Assertion `i

[2015-06-03 20:26] adamretter commented on #606
@igorcanadi @DerekSchenk To do this someone needs to have permission for the group id `org.rocksdb` I guess that is @criccomini. It would be good actually to get some more people approved for this.

[2015-06-03 20:52] adamretter commented on #616
@siying @igorcanadi I have also started occasionally seeing SIGSEGV and I am wondering if this is related. When it occasionally occurs, it is always when I am removing from a WriteBatchWithIndex that I am iterating. My JVM crash report looks like -

[code]

[2015-06-03 21:03] siying commented on #616
@adamretter your question is always really hard. Can you assert in your comparator to see whether the segfault was caused by we pass an invalid memory area, or the data is not correct?

[2015-06-03 21:04] igorcanadi commented on #616
I'm just writing a unit test for this :)

[2015-06-03 21:42] adamretter commented on #616
@siying Well you know, I am a Java guy and C++ is hard for me ;-) I have a plan to move away from my custom comparator, I think I can get my keys into a different shape so that they are bytewise comparable, doing so should then let us rule out my rusty C++ coding. In the mean time, I think maybe @igorcanadi will find something

[2015-06-03 21:54] siying commented on #616
I read the codes a little bit and feel like it's not safe to do the way you do it:

[code]

The reason is following: iterator.key() is a pointer pointing to internal buffer. The moment you do "remove", the buffer may get resized and technically the old buffer can get recycled immediately, this can be done before the updating is complete so it's not guaranteed what key is operated.

You may try to

[2015-06-03 22:00] igorcanadi commented on #616
Unfortunately (or, fortunately), everything works as expected: https://reviews.facebook.net/D39501

Hopefully @siying found the problem in your code.

[2015-06-03 22:05] siying commented on #616
@igorcanadi the way you delete row is not the same as @adamretter 's usage. If you delete using iterator.Entry().key, that will be similar. Still it depends on how malloc/free works to trigger wrong behavior, but valgrind might give a warning.

[2015-06-03 22:08] igorcanadi commented on #616
I wasn't trying to map @adamretter usage, my goal is to verify that we can mutate and iterate at the same time.

[2015-06-04 01:01] superwood opened #626 "Something wrong with memory while doing compaction."
The size of rocksdb (RocksDB version: 3.11.0)   is  300G .  The memory used by rocksdb keeps going up over time while compacting. Our OOM killer kills the process when it hits  64GB.

the stack message is
#0  0x00000039f040e6fd in write () from /lib64/libpthread.so.0
#1  0x000000000053bace in rocksdb::(anonymous namespace)::PosixWritableFile::Flush (this=0x5eb2a00)

[code]
#2  0x00000000005946ba i

[2015-06-04 03:33] lshmouse opened #627 "Undefined reference to `rocksdb::ReadOptions::ReadOptions()' when compiling the example."
When compiling the rocksdb example from http://rocksdb.org/, we found the error of undefined reference to `rocksdb::ReadOptions::ReadOptions()'.
Had someone encountered the same problem?
- Complie env.
  OS: Ubuntu 14.04.1 LTS, g++ 4.8.2
- Install the rocksdb lib by cmd
  `
  sudo make install
  `
- Compile the example by:
  `
  g++ rocksdb_example.cc -o rocksdb_example -L/usr/local/lib -lrocksdb

[2015-06-04 19:03] tristanz opened #628 "Clarify tailing iterator semantics"
Are there any more details on how exactly tailing iterators behave?  The documentation says data "is not guaranteed to be seen."

I have a logging application where I are append to a topic (`key=topic:auto_increment`).  I'd like to tail this log.  I can keep track of the tail and when things are written.  I'm trying to find the most efficient way to tail this topic.   Am I right to assume that eve

[2015-06-04 19:09] fyrz commented on #628
@tristanz that means if you use seek you are working on a snapshot which prevents by definition access to changes which happened after snapshot creation. If you use just next you are fine.

[2015-06-04 19:12] tristanz commented on #628
@fyrz perfect, thanks.

[2015-06-04 19:15] fyrz commented on #606
@adamretter another requirement is that people need access to MacOS.

[2015-06-04 22:22] superwood commented on #626
while  doing  Manu compcation ,the  memory   memory used by rocksdb keeps going up

[2015-06-04 23:40] adamretter commented on #606
@fyrz Ah yes, that's right. I wonder how @igorcanadi is doing with getting us a Mac build machine?

[2015-06-05 00:41] tristanz commented on #628
Ok, I'm actually still slightly confused by the semantics.  Is no `Seek()` safe?  In other words, do tailing iterators only allow you to iterate through the entire database?  I need to `Seek` to a known position  before tailing with `Next` calls.

[2015-06-06 07:52] gra-moore commented on #600
With the latest release of RockSB (3.11.1), on Mac OS X

I get the same exception:

[ RUN      ] DBTest.DynamicCompactionOptions
db/db_test.cc:11535: Failure
Put(Key(start + stride * i), RandomString(&rnd, 1024))
IO error: /tmp/rocksdbtest-894613663/db_test/004152.sst: Too many open files
libc++abi.dylib: terminating with uncaught exception of type testing::internal::GoogleTestFailureException: db

[2015-06-07 00:38] superwood opened #629 "Memory leake with zlib compression optional."
The size of rocksdb (RocksDB version: 3.11.0) is 300G . The memory used by rocksdb keeps going up over time while compacting. Our OOM killer kills the process when it hits 64GB.   while  optionals about compression reseted with  snappy , every thing is ok.

the stack message is
#0 0x00000039f040e6fd in write () from /lib64/libpthread.so.0
#1 0x000000000053bace in rocksdb::(anonymous namespace)::Po

[2015-06-07 13:10] mdcallag commented on #629
Two things have confused me in the past about RocksDB memory usage. The first is that if metadata (index and bloom filter) blocks are not in the block cache then you can use more memory as you keep more files open when the database grows. You don't report the option ("cache_index_and_filter_blocks").

The other problem was a bug where the size of memory allocated per block in the block cache was m

[2015-06-07 17:29] gra-moore commented on #600
At least in my case, the max number of allowed open files was very low. Fixed that and check passes OK.

[2015-06-08 10:11] fyrz commented on #606
@igorcanadi did you also see this: http://stackoverflow.com/questions/30706348/rocksdb-make-error ?

[2015-06-08 11:07] agnibha commented on #547
Hey @fyrz, I've got a similar, though not exact, issue on my JVM instance. The error line is:

Problematic frame:
C  [librocksdbjni3669584487950246590..so+0xce15d]  Java_org_rocksdb_DBOptions_disposeInternal+0x1d

This is happening during the db.open(), I believe. My OS is CentOS version 6.6. And my RocksDBJNI version is 3.10.1. The only option I'm passing the DB is setCreateIfMissing(true).

I've

[2015-06-08 12:06] DerekSchenk commented on #547
@agnibha Are you explicitly calling DBOptions.dispose(),  are you able to recreate the issue every time, or is it inconsistent, and what GC options are you using.

[2015-06-08 12:10] agnibha commented on #547
No @DerekSchenk. I'm never calling the dipose() explicitly.

But, I'm making a few changes to the job. Let me see if the problem is consistent. I'll update with results.

[2015-06-08 16:58] igorcanadi commented on #606
Ah, crap. My least-favorite kind of bugs. I hope https://reviews.facebook.net/D39681 will fix.

[2015-06-09 05:15] agnibha commented on #547
Seems like it was a file permissions issue. Ignore my comments on this thread plz.

[2015-06-09 09:45] paralleld commented on #588
why my 6.2G uses 19G ram for rocksdb.estimate-table-readers-mem.
All options are default.  The key and value are both 1KB

[2015-06-09 14:05] DerekSchenk commented on #547
@fryz I've been running for a while now with no issues, so it appears that 3.10.1 fixes my problem.  At the moment I'm running with a workaround using 3.10.1 and have statistics turned off due to issue 606.  Once 3.11.1 gets pushed to Maven and I can update I think I'd be good to close off this issue.

[2015-06-09 14:08] DerekSchenk commented on #606
@igorcanadi @adamretter @fryz Any idea on when a 3.11.1 might make it to Maven?  I'm looking to update a large number of instances to address the SIGSEGV issue 547 that I was having, and I'd like to update them all with an "official" 3.11.1 release from Maven.  Let me know if there is anything I can do to assist.

[2015-06-09 23:20] siying commented on #616
@igorcanadi 's test shows it is not safe to mutate the WriteBatchWithIndex while iterating through the iterator generated by NewIteratorWithBase(). We are going to fix it.

[2015-06-10 17:44] igorcanadi commented on #588
Oh wow. Are your keys very very compressible? That sounds a bit off.

[2015-06-11 01:15] paralleld commented on #588
The pattern is like k[0-9]{13}[A]{1024}. Yes, it's very compressible.

[2015-06-14 06:13] pyscala commented on #606
@igorcanadi @adamretter @fryz  when 3.11.1 might download from Maven? I really need it, thank you so much !

[2015-06-14 07:33] snowtopcoffee opened #632 "make jtest error: compactRangeToLevelColumnFamily and compactRangeToLevel"
version: master 3.11.1 and 3.11.2
OS: debian 7.6 64bit / Linux 3.16.0-0.bpo.4-amd64
g++: (Debian 4.7.2-5) 4.7.2
java: openjdk Java(TM) SE Runtime Environment (build 1.7.0_03-b04)
glibc: libc-2.13.so

compiling is ok. make jtest has two errors. I doubt that it may be caused by glibc, because i have passed all tests in my desktop fedora with libc-2.18.so.  I tried to upgrade the glibc of server, and

[2015-06-15 01:52] immesys opened #633 "32 bit shift of 32 bit literal"
Over here https://github.com/facebook/rocksdb/blob/master/util/thread_status_impl.cc#L103 , 1LU is used instead of 1LLU leading to these errors on a 32 bit build:

[code]

[2015-06-15 02:00] immesys opened #634 "missing _mm_crc32_u64 on 32 bit build"
On an Ubuntu 14.04.2 32 bit system with gcc 4.8.2, I get the following build error:

[code]

I don't know if it is supposed to exist on a 32 bit system or not, but `__SSE4_2__` is defined, so the code assumes it exists.

[2015-06-15 02:06] immesys opened #635 "db_test fails on 32 bit system"
On an Ubuntu 14.04.2 32 bit (i686) system with gcc 4.8.2, after correcting #633 and hacking around #634, db_test fails with the following:

[code]

This may be a consequence of my hack to fix #634 (#undef **SSE4_2** at the top of util/crc32c.cc) but I doubt it.

[2015-06-15 02:13] immesys commented on #635
BTW the above was from the v3.11 tag, I initially reproduced the same thing at master but thought I ought to test an actual release as well.

[2015-06-15 05:17] immesys commented on #635
I noticed that most of the documentation targets gcc 4.9+. I just recompiled master with gcc 4.9.2 and this still happens.

[2015-06-15 05:45] fyrz commented on #606
@pyscala it really depends on @criccomini.

[2015-06-15 14:36] FelixGV commented on #606
I believe @naveenatceg can also publish the artifacts to Maven.

[2015-06-15 17:13] archiecobbs opened #636 "Reproducible SEGV using Java API on Mac OS X in 3.10.1"
I can reliably generate SEGV on Mac OS X using the Java API.

In my application I can tolerate exactly 0% application segfaults so this is a serious problem :)

But first, let me digress for a dumb but important question...

When a project gives you a Java API that is based on a JNI wrapper around some shared library, the project can take one of two stances:

1. The project guarantees that as long

[2015-06-16 03:30] yedf opened #637 "another strategy to speed up writing"
Compared to original leveldb
    mergedb: 853.131 micros/op;    4.6 MB/s
    leveldb: 1913.242 micros/op;    2.0 MB/s

In my strategy, size of n+1 level's data is only about twice the size of n level's data. And every compaction will compact all adjacent non-empty levels from level0 to a single level, which resulting less writes.
Suppose a LevelDB with 7 levels, there will be about 20 levels in my

[2015-06-16 04:35] mdcallag commented on #637
In testing (db_bench, some real workloads) I usually get write-amp of ~5
for n >= 2 when level n+1 is 10X larger than level n. So using 68 as the
estimate for the total write-amp is pessimistic. Why don't you compare this
to universal (size-tiered) compaction?

You are making a tradeoff -- more space-amp and read-amp for less
write-amp. Your comparison should mention the impact on all three.

On T

[2015-06-16 04:43] allenlz commented on #236
Rocksdb released to 3.11. Great work. And I found a new wiki page about the Repairer: https://github.com/facebook/rocksdb/wiki/RocksDB-Repairer
Does rocksdb support to reconstruct DB with more than one column family right now?
Thanks.

[2015-06-16 07:12] yedf commented on #637
In my real application, the db is about 1TB on a 2TB hard disk. In the default setting of LevelDB, there will be 7 levels and write-amp will be about 68. If the write buffer size is 64MB, there is also 6 levels, and write-amp will be larger than 46.

[2015-06-16 07:54] yedf commented on #637
For space-amp, the worst case for levelDB is about 2.1 if the top level's data size is the same as second level, which I observed in my real application.
For a ratio of 2 instead of 10, the worst case is about 3 if the size on top level is the same as second. I do a compact if top 4 level's size is larger than 2.3*size of top level, which reduce the space-amp to at most 2.3.

[2015-06-16 17:47] igorcanadi commented on #236
Unfortunately we still don't support repairing DB with more than one column family :(

[2015-06-16 19:18] mdcallag commented on #637
I can't talk about LevelDB as I don't use it any more. I can talk about
RocksDB.

With the default fanout of 10 the space-amp for leveled compaction is
~1.1X. You are proposing to use a fanout of 2 in which case the space-amp
can be ~2. The benefit of using a fanout of 2 is reduced  write-amp but
that comes at the cost of increased space-amp. Either configuration is fine
if the resulting performan

[2015-06-16 20:18] fyrz commented on #606
@FelixGV as far as i know both work for the same company

[2015-06-16 21:06] fyrz commented on #636
@archiecobbs at the moment we have situation 2 in the Java API of RocksDB. We are going to improve a lot on how things are implemented but currently it is implemented that way.

One of these rules is that you need to guarantee that there is no `iterator` which is disposed after the corresponding `db` was closed. If you do so you hit a guaranteed segmentation fault.

[2015-06-16 21:10] fyrz commented on #632
@igorcanadi do you know any issues with `libc-2.18` ? I have only `libc-2.19` on my machine and I cant reproduce that problem.

[2015-06-16 21:18] archiecobbs commented on #636
Thanks for that info. I will look forward to the improved JNI implementation and wiki documentation.

I'm pretty sure my code properly closes all iterators before closing the snapshot or db instance from whence they came (it tracks them explicitly in order to ensure this happens).

And in any case, it looks like `AbstractRocksIterator` contains code that protects against that happening anyway:

[2015-06-16 21:19] igorcanadi commented on #632
Hm, this is interesting. I am not aware of any issues with libc-2.13 :( We're running libc-2.17 and 2.20 here.

[2015-06-16 21:27] FelixGV commented on #606
Not anymore (:
On Tue, Jun 16, 2015 at 13:18 Jörg Maier <notifications@github.com> wrote:

[2015-06-16 21:52] fyrz commented on #636
@archiecobbs the problem is that you can`t even close a rocksdb instance without hitting an assertion before that code hits.

Can you narrow down the portion of code responsible for it ? Also it would be interesting to see results with enabled assertions and `-Xcheck:jni`.

[2015-06-16 22:43] archiecobbs commented on #636
@fyrz Assertions are already enabled (this is a TestNG unit test).

I tried adding `Xcheck:jni` but that didn't change anything.

[2015-06-16 22:45] archiecobbs commented on #636
FYI, the crash always seems to occur within `org.rocksdb.RocksDB.iterator(JJ)J` and the bad memory address is always zero.

[2015-06-17 02:08] yedf commented on #637
With the default fanout of 10, the space-amp of overwriting records is ~1.1X only when the top level is almost full. In other cases, space-amp is larger than 1.1X, 2.1X in worst case when top level is the same size as second level. And the space-amp of MergeDB is reduced by a little extra write-amp.

Although I didn't add log to measure the write-amp, but the real performance observed supports the

[2015-06-17 04:55] mdcallag commented on #637
My point is that the per-level write-amp from RocksDB with leveled
compaction is usually much level than the per-level fanout. With the
default fanout of 10 I usually get a write amp of 5 to 7 per level. I was
surprised when I first looked at the data that the write-amp in practice
was less than I predicted on paper. I know this because I measured it.
RocksDB writes this into LOG so you can measur

[2015-06-17 07:03] yedf commented on #637
Without this option "level_compaction_dynamic_level_bytes" on, the space-amp can be 2.1X if level N (the non-empty level with largest n) size equal to the size of N-1 level. Now, with this option on, the space-amp is reduced to 1.1X.

I may do a thorough bench test if I got enough free time.

[2015-06-17 07:07] mdcallag commented on #637
Yes we agree about that. This is a lousy behavior in leveled compaction
that isn't widely understood. Hopefully we can increase awareness about it,
change the default for this option to true, and motivate others (like
Cassandra) to match the improvement in RocksDB.

On Wed, Jun 17, 2015 at 9:04 AM, yedf <notifications@github.com> wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2015-06-17 07:47] adamretter commented on #236
@igorcanadi Is this a planned feature, can it be added?

[2015-06-17 17:11] igorcanadi commented on #236
@adamretter not at this point. the problem is that sst files don't have information about which column family they belong to -- the only information about that is in the MANIFEST. So if the MANIFEST is gone, we have no idea where to put those files.

Do you have a legitimate use-case for DB::Repair()? There are two reasons why we're not very exicted about supporting this:
* Last time we encountere

[2015-06-18 01:30] yedf commented on #637
I thought about the space-amp, and found that it is a quite simple problem for me. If I set kExtraSpace = 0.25, then I will only pay 4 extra write, and gain a space-amp of only 1.3X. because the space-amp is mainly influenced by the fanout of largest level.

The key of my strategy is not only the fanout. Suppose the fanout of RocksDB is 2, then for a db with 20 levels, there may be 20*3 writes, re

[2015-06-18 04:39] igorcanadi commented on #637
This sounds very similar to multi-level universal compaction. Did you check out:  https://github.com/facebook/rocksdb/wiki/Universal-Compaction

How does it compare?

[2015-06-18 21:57] naveenatceg commented on #606
@adamretter @fyrz Do you guys want to make the release for 3.11.1 ? I can add you guys to the sonatype rocksdb (To release to Maven).

[2015-06-18 22:07] adamretter commented on #606
@naveenatceg I don't know how to cut a release so would need some instructions... In the meantime, can you add me to the Sonatype list of authorized users to do a release?

[2015-06-18 22:49] naveenatceg commented on #606
Sure, let me see what the process to do that. The instructions to make a release are documented in the README file in the java folder.

[2015-06-19 03:24] yedf commented on #637
The core concept is similar.

There maybe another problem for Universal-Compaction. It will take a long time to do a universal compaction including all data. If you stop writing after several files generated, then you may stop writing for a long time. If you keep writing with slow speed, then there may be too much files to slow down read operations.

The main difference between mergeDb and univers

[2015-06-19 06:24] mdcallag commented on #637
Large files with universal compaction is a problem today. Each compaction
step (N input sorted runs, 1 output sorted run) is single-threaded. That
thread can slow down from disk reads, decompression & compression before
write. Sharding is the workaround today (via many column families or
separate LSM instances). We have work in progress to make this better.

On Fri, Jun 19, 2015 at 5:24 AM, yedf <

[2015-06-19 16:16] siying commented on #637
@yedf For our "universal compaction":
(1) if you set max_num_compactions > 1, smaller compactions can happen when a full compaction is going on, similar to what you mentioned.
(2) start from last release, universal compaction's outputs are put into a leveled structure when possible, as you mentioned
(3) Number of total levels are just logical numbers. In current universal compaction, you can set i

[2015-06-20 14:01] yedf commented on #637
I did not see universal compaction before. Since my strategy is similar as it, the effect should be similar. Setting default configuration to universal compaction maybe a good idea.

[2015-06-22 16:18] sshivaji opened #640 "Merge Operator Set example and optimizations?"
I have got the Uint64 example to work fine using the example from https://github.com/facebook/rocksdb/blob/master/db/merge_test.cc

Is there an example for List or Set? Do I have to redefine counters, merge based counters and a set add operator all over again? Is it possible to trim down the lines of code?

WIP code at https://github.com/sshivaji/polyglot/blob/leveldb/src/book_make.cpp (just moved

[2015-06-22 17:53] archiecobbs commented on #636
I have been trying to figure this out and have some clues.

First, the trouble always occurs with reverse iterators. So I started inspecting the code and noticed the following difference between how `SeekToLast` and `SeekToFirst` are handled in `managed_iterator.cc`:

    void ManagedIterator::SeekToLast() {
      MILock l(&in_use_, this);
      if (NeedToRebuild()) {
        RebuildIterator();

[2015-06-22 18:03] archiecobbs commented on #636
More specifics on possible bug scenarios:
* `SeekToLast()` does not appear to clear the `_valid` flag if `mutable_iter_->SeekToLast()` fails
* `Prev()` does not appear to clear the `_valid` flag if `mutable_iter_->Prev()` fails.

[2015-06-22 18:56] agiardullo commented on #640
I’m not sure what you are asking.  Do you want to store a List/Set as a value in a rocksdb key?  If so, you’d have to write your own merge operator to do this.

But depending on what you are trying to accomplish, you may want to consider storing each element in your list/set as separate keys (and then iterate through the keys to find all the values).

On Jun 22, 2015, at 9:18 AM, Shivkumar Shivaji

[2015-06-22 18:59] archiecobbs commented on #636
I tested pull request #641 but it did not help. This makes sense because it looks like the `ManagedIterator` class is not being used during my test.

[2015-06-22 19:00] rven1 commented on #636
You need to set options managed when you create the iterator to get managed_iterators. It is false by default.

[2015-06-22 19:10] archiecobbs commented on #636
Thanks. I am taking a break from this for now.

I've tried building a simpler test case but had no luck - I can't get it to crash.

As things currently stand, the Java version of RocksDB is simply not usable.

Segfaults are unacceptable, and unfortunately I don't have a well-defined set of rules to follow that will guarantee no segfaults in RocksDB. I have added assertions to the code to verify th

[2015-06-22 19:51] sshivaji commented on #640
An example with List would be great.

However, for the Int example, I implemented Counters, MergeBasedCounters, and the UINT64AddOperator. Do I have to repeat all steps for the List merge?

Is there an example or way to accomplish this without defining a new Counters class (for lists)?

I had to do this:
//    std::shared_ptr<rocksdb::DB> dc (db);
//    MergeBasedCounters counters(dc);
//    count

[2015-06-23 05:26] fyrz commented on #636
@archiecobbs you can`t use `ManagedIterator` in RocksJava because it`s not exposed at the moment. You are using the `default` iterator.

[2015-06-23 18:27] archiecobbs commented on #636
I understand that. The `ManagedIterator` stuff is a red herring, even though it has its own, different bug: see pull request.

This bug, which has nothing to do with `ManagedIterator` is still valid and 100% reproducible.

Thanks.

[2015-06-23 20:51] siying opened #642 "Parallel Writes to mem tables, etc"
Let's use this issue to track the efforts to improve write throughput to mem tables.

As a discussion with @guyg8, I'll work on branch `sdong_write` and port necessary from branch `write_throughput`, which contains changes @guyg8 made. Hopefully branch `sdong_write`  can have a running codes after a week and let's see whether there can be any improvements.

[2015-06-25 17:57] siying commented on #642
Let me report some status here.

I built a prototype of parallel writer in memtable insert. The basic work flow is:

1. The first writer (call leader in this context) wakes up and build the write batch group
2. It writes updates of the write batch group to WAL
3. It wakes up all writer threads for the write batch group
4. Each thread woken independently update mem table for their updates. The conc

[2015-06-25 21:37] guyg8 commented on #642
ThreadSanitizer algorithm's is designed for blocking-based synchronization (like locks). (Because its “happens-before-relation” is similar to http://dl.acm.org/citation.cfm?id=1542490).
It is expected that ThreadSanitizer  reports data-races for the lock-free-skip-list and the concurrent arena because they are both based on lock-less synchronization.

The lock-free-skip-list is designed to work on

[2015-06-27 00:14] siying commented on #642
@guyg8 from my understanding of TSAN, if you use atomic object TSAN will not complain in many cases. We do have low-lock codes (search compare_exchange for example) in current code base and we make them pass TSAN too. You can give a try.

[2015-06-27 01:08] siying commented on #642
@guyg8 another question. I want to make sure I did something correct. I compiled the branch of `write_throughput` and run a write-only test with this commend:

./db_bench -benchmarks=fillrandom -threads=32 -batch_size=1 -memtablerep="lock_free_skip_list" -value_size=0 --num=1000000 -level0_slowdown_writes_trigger=9999 -level0_stop_writes_trigger=9999 -disable_auto_compactions --max_write_buffer_nu

[2015-06-28 16:27] guyg8 commented on #642
TSAN reports on data races that are identified at runtime. Any program with “X.compare_exchange” (in which "X.compare_exchange" is really needed) contains a data race.

In particular, it is easy to find data-races in the master branch of rocksdb.
Here is a (partial) output example:

-bash-4.1$ ./db_bench --benchmarks=readwhilewriting,noOne  --num=2 --threads=8  --duration=20 -memtablerep="skip_lis

[2015-06-29 08:04] guyg8 commented on #642
As far as I understand, TSAN should be used to find unexpected data-races. Notice that (almost) every multi-threaded program has some data-races (e.g., the implementation of the mutex itself contains data-races).

Regarding class “ConcurrentArena” and class “Arena”.
In ConcurrentArena, we assume that the read-only methods of Arena can be “safely” called without any synchronization. I am not sure t

[2015-07-08 01:18] siying commented on #642
Send a code review: https://reviews.facebook.net/D41373

[2015-07-08 20:12] siying opened #648 "Issue of Changing Iterator Direction from Forward to Backward"
Change Iterator Direction from Forward to Backward: Either Next() + Prev(), Seek() + Prev() needs changing iterator direction. Here are known bugs and implementation constraints about it.

How changing direction is implemented? In DBIter, we keep calling Prev() to internal iterator, until we find another user key that is smaller than the current one. In merge iterator (which is most likely the int

[2015-07-08 23:28] hwpw commented on #133
may I know how this was fixed? I now have the same problem.

[2015-07-08 23:38] igorcanadi commented on #133
@hwpw can you open a separate issue for your problem? This is likely a result of either:
1) you keep using DB* even after the destructor kicks in, or
2) you destruct RocksDB as part of static destruction. You need to delete DB* before `int main()` finishes.

[2015-07-09 00:11] hwpw opened #649 ""pure virtual method called" in destructor"
(gdb) bt
#0  0x00007f60147b4925 in raise () from /lib64/libc.so.6
#1  0x00007f60147b6105 in abort () from /lib64/libc.so.6
#2  0x000000000054fe05 in __gnu_cxx::__verbose_terminate_handler() () at ../../../../gcc-4.8.4/libstdc++-v3/libsupc++/vterminate.cc:95
#3  0x000000000051dc56 in __cxxabiv1::__terminate(void (*)()) () at ../../../../gcc-4.8.4/libstdc++-v3/libsupc++/eh_terminate.cc:38
#4  0x0000

[2015-07-09 00:13] hwpw commented on #649
Hi Igor,
Yes, I destruct rocksdb as part of static destruction. Should I not supposed to do so?

Thanks,
Wei

Igor Canadi <notifications@github.com>
4:38 PM (33 minutes ago)

to facebook/rocks., me
@hwpw can you open a separate issue for your problem? This is likely a result of either:
1) you keep using DB* even after the destructor kicks in, or
2) you destruct RocksDB as part of static destructio

[2015-07-09 00:14] hwpw commented on #133
issue link: https://github.com/facebook/rocksdb/issues/649

On Wed, Jul 8, 2015 at 4:38 PM, Igor Canadi <notifications@github.com>
wrote:

[2015-07-09 01:43] igorcanadi commented on #649
Yes, please delete RocksDB before the static destruction kicks in. RocksDB depends on statically allocated objects.

[2015-07-10 19:02] igorcanadi commented on #649
@hwpw is this issue resolved now?

[2015-07-10 19:12] hwpw commented on #649
yes it is resolved by explicitly destructing it before static destruction kicks in. Thanks!

[2015-07-10 19:12] #649 closed

[2015-07-13 12:14] igorcanadi commented on #592
I'm looking into this. What should happen if one write in the batch is to the dropped column family (and there are other writes in the batch)? Should we apply other writes and not apply the dropped-cf write? If that's the behavior we want, it would be a bit un-intuitive that DB::Write() returns an error even if other writes are applied. This will also be a problem in group commit -- all writes fro

[2015-07-13 12:26] dhruba commented on #592
From an API perspective, it will be great is we can keep the 'atomic' semantics of a single Write(). Either all writes to all column families should be successful or none at all.

Ignoring the performance penalty, is the above semantics 'possible' to implement?

[2015-07-13 13:16] igorcanadi commented on #592
Ignoring the performance penalty, it is possible. We can check every write in the batch when we enter the write-thread.

[2015-07-13 13:18] dgrnbrg opened #650 "Expose WriteBatchWithIndex to C API"
Hello, I'm interested in using WBWI from Rust, which requires adding support for it to the C API.

Thanks!

[2015-07-13 13:19] dgrnbrg commented on #604
+1 to this!

[2015-07-13 13:21] dgrnbrg opened #651 "Question about C iterator API allocation"
I'm trying to understand the allocation semantics of the iterator API in C. When are the keys & values that I inspect via the iterator freed? Are they pinned in memory via MMAP, and the files locked from being GCed? Or are they malloced, and a bulk free occurs when I destroy the iterator? Or are they freed every time I move the iterator, so they're only valid for a brief inspection?

[2015-07-13 17:36] siying commented on #651
@dgrnbrg keys and values you iterate can be freed, not necessarily being mmaped. The block cache entry, or reusable temp buffer can be freed after the iterator moves away from the current key.

[2015-07-13 17:50] yuslepukhin commented on #651
You might want to keep in mind Jemalloc if you are running with it. If you have a different allocator on the client side then you might want to use rocskdb_free C API.

Thanks,
Dmitri

From: Siying Dong [mailto:notifications@github.com]
Sent: Monday, July 13, 2015 10:37 AM
To: facebook/rocksdb
Subject: Re: [rocksdb] Question about C iterator API allocation (#651)

@dgrnbrg<https://github.com/dgrnb

[2015-07-13 17:57] siying commented on #651
I think my previous comment is confusing. Iterator's semantic only guarantees you can read Iterator.key() and value() before iterator's position moves or it is destroyed. For example, if you keep the pointer pointed by key() and value() and you call Next(), or Seek(), the accessing your old pointer is an undefined behavior and you can get whatever corrupted data. This can happen because multiple r

[2015-07-13 18:20] dgrnbrg commented on #651
So, to make sure I understand: the key & value are both only valid until I change the iterator, once the iterator has been moved, I cannot rely on the key & value (and as a result, I should copy the key and value to my own buffers if I need to use them after traversing). Is that correct?

[2015-07-13 18:21] dgrnbrg commented on #651
@yuslepukhin What should I be calling `rocksdb_free` on? It seemed that @siying said that the key & value are just views that are only valid while the iterator is pointing at them.

[2015-07-13 18:24] yuslepukhin commented on #651
You should call it if something returns you a memory that you are responsible to free such as error messages. For issue at hand this point is mute.

From: David Greenberg [mailto:notifications@github.com]
Sent: Monday, July 13, 2015 11:22 AM
To: facebook/rocksdb
Cc: Dmitri Smirnov
Subject: Re: [rocksdb] Question about C iterator API allocation (#651)

@yuslepukhin<https://github.com/yuslepukhin> W

[2015-07-13 18:25] siying commented on #651
@dgrnbrg the iterator itself.

[2015-07-13 18:28] siying commented on #651
@dgrnbrg the iterator itself, not the data. You should not free the pointer pointed to rocksdb_iter_key(), as it might point to a shared memory in some internal block cache, etc. You can check our unit test to see how iterators are used: https://github.com/facebook/rocksdb/blob/76d3cd328659809584e50bd195a3f03d2aa659c8/db/c_test.c#L530-L547

[2015-07-13 20:24] adamretter commented on #592
@igorcanadi @dhruba I agree that we should keep the atomic semantics.

Perhaps though there is a quicker way than checking all writes in the batch; I would think that generally there are few column families but many writes. So why not have the write batch maintain a HashSet of column family ids, each write to the batch could add its column family id to that set. Then at the time of writing the bat

[2015-07-13 20:26] adamretter commented on #650
@dgrnbrg I previously added support for WBWI to the Java API. I guess you could look at that work and the conventions of the existing C API.

[2015-07-13 20:52] dhruba commented on #592
Igor: is the check of the existence of the column family and the issuance of the Write call protected by the dbmutex and/or super-version?

[2015-07-14 04:45] igorcanadi commented on #592
No, it wouldn't need to be protected by dbmutex, it would just need to be executed in the write thread.

[2015-07-16 01:34] dgrnbrg commented on #651
Thank you for your explanations! With this, I've been able to encode their semantics into the Rust type system.

[2015-07-16 01:34] #651 closed

[2015-07-17 01:07] gustavoanatoly opened #658 "RocksDB jni error (rocksdb::MergeOperators::CreateFromStringId)"
Hi, Devs.

I would like to share an error occurred when Samza tests are running via:
[code]
The class tested is: (https://github.com/apache/samza/blob/master/samza-kv-rocksdb/src/test/scala/org/apache/samza/storage/kv/TestRocksDbKeyValueStore.scala)

The discussion can be found in: (https://issues.apache.org/jira/browse/SAMZA-449)
OS: OSX (Yosemite) 10.10.3

Thanks.

[code]

[2015-07-17 05:13] anagav opened #659 "Custom merge operator in java"
Hi,

What is the timeline for having a custom merge operator in rocksdbjni ?

Thanks,
Ashish

[2015-07-17 16:31] igorsol commented on #634
I have the same issue with Ubuntu 14.04 and gcc 4.8.2

[2015-07-17 16:49] igorcanadi commented on #634
Is it 32 or 64 bit?

[2015-07-17 16:50] igorcanadi commented on #634
maybe we should also guard it with `#ifdef __LP64__`

[2015-07-17 17:12] siying commented on #634
Everything about determine whether it can be used is here: https://github.com/facebook/rocksdb/blob/master/util/crc32c.cc#L369-L384

If you can improve these functions in appropriate way and send a pull request for it, we will greatly appreciate it.

[2015-07-17 20:15] igorsol commented on #634
In my case it is 32-bit Ubuntu.

[2015-07-18 10:15] adamretter commented on #659
@anagav At the moment there is no time-frame that I am aware of. Implementation of this is probably only 1 days work; However, from our experience with Comparators, JNI callback from C++ to Java can be significantly slower than the native C++ implementation. If performance of this is an issue, I would suggest to implement your merge operator in C++ and then just set it from Java by name in the Opt

[2015-07-18 23:19] adamretter commented on #616
@siying @igorcanadi Any update on this?

[2015-07-18 23:27] adamretter commented on #616
I have found another problem pattern related to removal when iterating a `WriteBatchWithIndex`; Like the other issue,  this issue also only occurs occasionally:

[code]

[2015-07-20 00:55] anagav commented on #659
@adamretter  thanks for the suggestion. Will write my custom merge operator in c++ and invoke it from java.

[2015-07-20 18:44] jayadev opened #662 "RocksDB WAL growing to a 100GB with 1000's of column families"
We have few boxes with 1000's of column families and we are observing the WAL size growing to 100GB in a matter of 3-4 days, with a very modest write rate ( > 1000 writes/sec)

write_buffer_size = 4MB , max_write_buffer_number = 2 , max_total_wal_size = 0 , #of column families = 1500 [rocksdb 3.11.2]

As per the comment in options.h , if max_total_wal_size is not set (default of 0), then it should

[2015-07-20 20:22] msb-at-yahoo commented on #662
To clarify terminology, a "tablet" in our system is mapped 1:1 to a column family in RocksDB

[2015-07-20 23:02] #587 closed

[2015-07-22 00:20] sheki commented on #606
FWIW I see this when I try to embed RocksDB statically in a Go-Binary.

[2015-07-22 19:59] dch opened #666 "Shared library naming on OSX appearse to be incorrect"
The typical format is `libname.Major[.Minor[.Patch].dylib` but rocksdb has the order swapped around, presumably as this is consistent with Linux. Ses
https://developer.apple.com/library/mac/documentation/DeveloperTools/Conceptual/DynamicLibraries/100-Articles/DynamicLibraryDesignGuidelines.html for specfics.

[code]

The correct naming should be with `.dylib` at the end:
[code]

This simplistic di

[2015-07-22 20:13] adamretter commented on #666
@dch You can detect the platform and change something conditionally using for example:

[code]

[2015-07-22 20:24] #659 closed

[2015-07-22 20:27] adamretter commented on #658
Hmm you are getting a `SIGILL`, I have to admit that I am not familiar with that but a quick Google seems to imply that this is because of an invalid instruction, which could have been caused by corruption. Can you reproduce this issue consistently and on more than one machine?

[2015-07-22 20:30] adamretter commented on #640
@sshivaji I have a working Merge Operator which I use here which is basically a merge on a byte array, so it will add/remove entries from a key/value where the value is a byte array. I would like to make this generic and get it back into the Rocks code base as a Utility for everyone to benefit from, however that will take some time. If you haven't solved this contact me privately and I can share w

[2015-07-22 20:51] siying commented on #616
@adamretter  "writeBatchWithIndex.remove(cf, iterator.key());" is not correctly. The right way is to copy out iterator.key() to a string, and then call writeBatchWithIndex.remove() with that string.

[2015-07-22 20:52] siying commented on #662
Yes it is expected. Usually we use max_total_wal_size to solve the problem.

[2015-07-22 20:56] gustavoanatoly commented on #658
Hi, @adamretter

*"..which could have been caused by corruption."*

Do you have any idea where this corruption happens?

*"Can you reproduce this issue consistently and on more than one machine?"*

I can reproduce  consistently on my environment running Mac OSX (Yosemit 10.10.3) but the same patch run perfectly on other devs environment that I asked to test, for example Yan Fang's env. Please take

[2015-07-22 21:05] siying commented on #658
Stack: [0x00000001100a7000,0x00000001101a7000],  sp=0x00000001101a0400,  free space=997k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [librocksdbjni1383296511323822335..jnilib+0x54ac]  rocksdb::MergeOperators::CreateFromStringId(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&)+0xb1c

Java frames: (J=compiled Java co

[2015-07-22 21:39] adamretter commented on #616
@siying Okay I am getting confused by two different things in this thread now I think:

1. The comment from yourself:
"@igorcanadi 's test shows it is not safe to mutate the WriteBatchWithIndex while iterating through the iterator generated by NewIteratorWithBase(). We are going to fix it."

Is this something you are still going to fix? and if so any idea when?

2. Your most recent comment that:
"

[2015-07-22 21:45] adamretter opened #668 "Java Test suite again fails on Mac OS X"
[code]

[2015-07-22 21:50] adamretter opened #669 "C++ Test suite again fails on Mac OS X"
[code]

[2015-07-22 22:36] adamretter commented on #600
I am seeing this issue again, if I restart my Mac OS X 10.10.4 system, and make sure that I am not running any applications and then run `make clean jclean check` I get the error:

[code]

[2015-07-22 22:39] gustavoanatoly commented on #658
Hi, @siying

Let me try isolate better where exactly exception happens,  in *org.apache.samza.storage.kv.TestRocksDbKeyValueStore.testTTL()* as soon as possible I give an answer here.

Thanks.

[2015-07-23 00:25] siying commented on #616
@adamretter oh we fixed the bug we found. Now we it passed all our existing tests.

Interesting then. What kind of problem did you see?

[2015-07-23 01:57] Downchuck commented on #499
@igorcanadi have there been any updates on multi-threaded CompactRange()? I'm also seeing this as a bottleneck.

[2015-07-23 03:30] siying commented on #499
No but now we have a patch that if you insert keys in sorted order, and issue a CompactRange() in the end, it can be just trivial move, without rewriting the data.

[2015-07-23 07:37] mohamedmansour commented on #169
@vinniefalco my coworkers over at Bing just merged a performant windows port @yuslepukhin Windows Port from Microsoft #646 yay!

[2015-07-23 09:26] #169 closed

[2015-07-23 11:11] adamretter commented on #616
@siying So if I understand you, you have fixed the issue that:

Is that correct?

If so my only issue now is (2) above, i.e. `iterator.value()` seeming to disappear after `WBWI#remove` even though the JNI code seems to imply a copy.

[2015-07-23 14:55] adamretter opened #671 "How to Backup Rocks and linked resources"
I am storing metadata about files into RocksDB, however the binary files themselves are living on the filesystem alongside my Rocks data dir.

Whilst I can use BackupEngine to backup the database, I wondered if there was an elegant solution for also backing up my binary files.

I know that I can scan through my metadata stored in RocksDB to find the binary files that I need to backup. However, to

[2015-07-23 15:27] Downchuck commented on #499
@igorcanadi @siying What about running a bulk load, to insert all data, then simply selecting from that now-sorted (not-compacted) database and creating a new database while running compactions?

It seems like a bit of extra work, but, it seems like a possible way of running compactions in parallel.

[2015-07-23 17:17] siying commented on #499
@Downchuck something you can give a try.

[2015-07-23 17:37] siying commented on #616
I reread your codes. Yes if you deleted the current key, current value() will be undefined if you read now. Why do you want to read the current key. You should do Next() and process the next key.

[2015-07-23 17:51] siying commented on #671
include/rocksdb/utilities/checkpoint.h will create a checkpoint with the same sequence number across of column families to another directory, with all file needed hard linked from the source files. We recently made it consistent across all column families.

[2015-07-23 18:54] naveenatceg commented on #606
@adamretter Can you create an account here: https://issues.sonatype.org ? I can request sonatype to give you access to RockDB repository.

[2015-07-23 20:23] adamretter commented on #606
@naveenatceg My Sonatype user name is `adamretter`, email is adam.retter AT googlemail DOt com

[2015-07-23 20:51] adamretter commented on #671
@siying Okay that looks interesting, but it is not clear from looking at the header file, how I work with a Checkpoint object. 1) How can I use the `BackupEngine` on the checkpoint? and 2) How can I open the Snapshot created by the Checkpoint?

[2015-07-23 20:52] adamretter commented on #616
@siying I am sorry you have lost me, is there a good day/time to catch you on IRC?

[2015-07-23 20:59] siying commented on #671
@adamretter
1. so far it is not supported.
2. You simply open the DB using the checkpoint directory, and it will be a DB stay at the time.

[2015-07-23 20:59] siying commented on #616
I'm in freenode_rocksdb "sdong" now.

[2015-07-23 21:19] adamretter commented on #671
@siying Hmm so I would need to open another database? i.e. I don't want to shutdown my running database to do a checkpoint/backup. Is that possible?

[2015-07-23 21:36] adamretter commented on #616
@siying Thanks for your time in IRC I have learn a few things :-)

To help others that come across such issues let me explain what the problem I experienced was, given this example (with commented issue):

[code]

Calling `iterator.key()` or `iterator.value()` causes JNI to copy the value from C++ into a Java byte[]. So I assummed that I had a copy of the data, and so could not understand how the

[2015-07-26 09:52] gcsideal opened #673 "db/column_family_test.cc:1101: Failure on v3.11.2"
I've packaged RocksDB v3.11.2 for Debian/Sid. It seems to be working, but the self test fails with the following.
[ RUN      ] ColumnFamilyTest.SanitizeOptions
[       OK ] ColumnFamilyTest.SanitizeOptions (0 ms)
[ RUN      ] ColumnFamilyTest.ReadDroppedColumnFamily
db/column_family_test.cc:1101: Failure
Value of: kKeysNum * ((i == 2) ? 1 : 2)
  Actual: 10000
Expected: count
Which is: 9231
termina

[2015-07-26 13:05] rchatsiri opened #674 "Rocksdblib cannot build completed in json_document.cc source code."
That attach log file with error in build step. Visual Studio 2013 (Version 12) cannot find `json_document.cc` in folder of project, but  i see usually all file depend on folder such as  `E:\rocksdb\include\rocksdb\utilities\json_document.h` and `rocksdb\utilities\document\json_document.cc`.

Why VC++ 2013 represent an error cannot read file from folder when build all project? Follow an fatal error

[2015-07-26 19:41] 4tXJ7f commented on #668
This issue should be fixed in https://github.com/facebook/rocksdb/commit/f73c801432bed1482b52ae8efdc699b00d7fcbdf . Could you please try again? :)

[2015-07-27 10:34] adamretter commented on #668
@4tXJ7f Great stuff. All fixed, thanks.

[2015-07-27 10:34] #668 closed

[2015-07-27 10:45] adamretter opened #675 "Ideas for changing the Java RocksIterator"
At present the design of the Java RocksIterator is not very Java'esk. That is to say that as a Java developer you will typically hold the assumption that calling `getKey()` or `getValue()` on the iterator will be stable until you call `next()`, `prev()`, `seek...`. This is not the case; see: https://github.com/facebook/rocksdb/issues/616#issuecomment-124246253

I would suggest that the Java RocksI

[2015-07-27 12:25] adamretter commented on #600
Well I don't know how many file handles RocksDB needs, but the following settings (on Yosemite) at least let me run the test suite until it fails (for other reasons):

[code]

[2015-07-27 12:27] adamretter commented on #669
On a run against the current head today, I instead see:

[code]

So it seems like there is some definite instability in Rocks at the moment.

[2015-07-27 23:10] adamretter commented on #671
@siying ...Would really appreciate a follow-up on this so I can move forward (and close this ticket ;-))

[2015-07-27 23:13] siying commented on #671
@adamretter You can create checkpoint when DB is running. After the checkpoint is created, you can create the checkpoint as a separate DB, while in the whole process the original DB is still running.

[2015-07-27 23:13] siying commented on #671
CC @rven1

[2015-07-27 23:15] adamretter commented on #671
@siying Okay, but can I open the second DB created by the checkpoint, without shutting down my first DB? If so, do I need to use a separate Env?

[2015-07-27 23:18] siying commented on #671
@adamretter  yes you can do that and you don't need a separate Env. Just remember to delete the checkpoint directory after using them.

[2015-07-31 01:44] yanfang724 commented on #606
@naveenatceg any specific data about the releasing 3.11.1? This issue occurs in Samza as well. So kinda block the next release. Thank you.

[2015-07-31 16:43] OverlordQ opened #677 "Reading LevelDB files"
So judging from previous blog posts[1] and a conversation on twitter[2], I'm lead to believe that I should be able to read in a leveldb and begin working with it with rocks. However, I've noticed the first issue in doing this is that rocks is looking for sst files when leveldb is using ldb files.

`Can't access /27799377.sst: IO error: /path/goes/here/27799377.sst: No such file or directory`

The

[2015-07-31 21:49] naveenatceg commented on #606
Hey @yanfang724, I don't have time to do this now. Adam will doing it. I have requested an account to be created for him: https://issues.sonatype.org/browse/OSSRH-16875

[2015-07-31 22:48] nickpan47 commented on #606
Hi, Naveen,

Thanks for keep the ball rolling!

-Yi

On Fri, Jul 31, 2015 at 2:49 PM, Naveen Somasundaram <
notifications@github.com> wrote:

[2015-08-01 00:51] leenux opened #678 "How to cross compile on ARM platform?"
I tried to cross compile rocksdb, with gcc-linaro-arm-linux-gnueabihf-g++, but an error.
arm.sh content is:
# !/bin/sh

export HOST=arm-linux-gnueabihf
export CC="${HOST}-gcc"
export CXX="${HOST}-g++"
export LD="${HOST}-ld"
export AR="${HOST}-ar"
export NM="${HOST}-nm"
export AS="${HOST}-as"
export RANLIB="${HOST}-ranlib"
export STRIP="${HOST}-strip"
export OBJCOPY="${HOST}-objcopy"
export OBJDUMP

[2015-08-03 09:16] malexzx opened #679 "cmake script on win32 produce additional output"
While making *.vcxproj on win32 configuration using cmake, it calls commands that produces additional CR-LF output. In the result, the following compilation faults.:

[code]

The solution is to write after the next string
`string(CONCAT GIT_DATE_TIME ${DATE} ${TIME})`
these two lines
`string(REGEX REPLACE "\n" "" GIT_DATE_TIME ${GIT_DATE_TIME})`
`string(REGEX REPLACE "\r" "" GIT_DATE_TIME ${GIT_DA

[2015-08-03 17:21] siying commented on #677
@OverlordQ how did you open levelDB database using RocksDB? Can you share your statement to open it?

[2015-08-03 17:30] OverlordQ commented on #677
Not using rocksdb directly, using a python wrapper[1] around it. The leveldb code was utilizing plyvel[2]. The only options passed to either DB open was setting create_if_missing to True. If need be, I can probably try to put together a pure C++ repro case.

1 - http://github.com/stephan-hof/pyrocksdb.git
2 - https://plyvel.readthedocs.org/en/latest/

[2015-08-03 17:41] siying commented on #677
It's probably because LevelDB renamed file names from "*.sst" to "*.ldb" and rocksDB is not yet recognize them. We should add the support. In the mean time, do you mind trying to rename all the "XXX.ldb" to "XXX.sst" and see whether you can open it?

[2015-08-03 17:53] OverlordQ commented on #677
Running the `simple_example.cc` against the leveldb results in [this](http://sprunge.us/XNIG) LOG output.

[2015-08-03 17:55] siying commented on #677
@OverlordQ yes, I confirmed that you are right and they cannot be opened. The only way for now to make it work is to manually rename all those xxxxx.ldb files to xxxx.sst, before opening it.

[2015-08-03 18:13] OverlordQ commented on #677
Aside from that, it's safe to ignore the `Unable to load table properties for file --- NotFound:` and other warnings until all the leveldb files get compacted into rocks files?

[2015-08-03 18:33] siying commented on #677
@OverlordQ "Unable to load table properties for file" is OK.

[2015-08-03 18:47] OverlordQ commented on #677
Just of note, once the DB is loaded and operations begin on it, a slightly different but similar warning appears:

`Cannot find Properties block from file.`

[2015-08-03 18:57] siying commented on #677
@OverlordQ that should be fine too. Did you see the data of the DB correct?

[2015-08-04 00:11] naveenatceg commented on #606
@adamretter You should have permission to access the sonatype!

[2015-08-04 08:42] adamretter commented on #606
@naveenatceg, cool thanks :-)

[2015-08-04 09:52] domsj opened #680 "Discrepancy between c.h and c.cc"
In https://github.com/facebook/rocksdb/commit/384400128f6eb9f1111f41efd9712c6879411cfc
rocksdb_options_set_no_block_cache and rocksdb_options_set_block_size_deviation are removed from the implementation but not from the .h.

(Noticed this while working on my ocaml rocksdb binding.)

[2015-08-04 18:05] facebook-github-bot-5 commented on #144
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #172
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #192
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #210
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #261
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #280
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #291
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #297
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #298
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #300
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #417
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #438
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #469
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #490
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #494
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #496
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #510
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #519
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #530
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #537
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #538
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #539
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #541
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #544
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #547
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #548
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #559
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #566
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #571
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #573
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #577
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #578
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #579
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #586
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #590
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #591
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #594
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:05] facebook-github-bot-5 commented on #599
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 18:24] DerekSchenk commented on #636
@archiecobbs I've never been able to create a test case that proves it, but I think there could be a condition in the Java code that causes finalize() to be called prematurely.  I saw different results as I played with differed GC settings, where G1 was almost unusable (SEGV) and CMS was better.

The use of finalize() to do cleanup is not ideal even just for the extra GC overhead.  Switching to a

[2015-08-04 21:52] archiecobbs opened #682 "[Java] RocksIterator.prev() goes forward instead of backward"
Bug: `RocksIterator.prev()` sometimes results in a key which is _larger_ than the previous key.

To run this test:

    $ git clone git@gist.github.com:c34e092a88d58d3c7a67.git bug
    $ cd bug
    $ ./run.sh

Here's an example output:

    ...
    created KVIterator[minKey=null,maxKey=95,reverse]
    seek to 95
    valid, seek to previous before 95
    resulting starting position is {9f,712a3083a

[2015-08-04 21:55] archiecobbs commented on #636
@DerekSchenk Some feedback on your question...

I ran the test with a version of `RocksObject.java` that simply had the `dispose()` line in `finalize()` commented out. This did not seem to change the results.

When I run the test (either with or without the `finalize()` tweak), the result varies.

The most common failure is this: the test appears to hang, but in fact there are two or three test th

[2015-08-04 21:58] siying commented on #682
You probably used prefix iterator and trying to issue a Prev(). It is, however, is not supported. I just tried submit a patch to explicitly disallow it: https://reviews.facebook.net/D43431

What's your file format and mem table format used?

[2015-08-04 22:04] archiecobbs commented on #682
Sorry, I don't know what a prefix iterator is or whether or not I'm using one. I'm just creating a database with the default options and then using a Java `RocksIterator`:

    public static void main(String[] args) throws Exception {

        // Create database
        final Options options = new Options()
          .setCreateIfMissing(true)
          .setMergeOperatorName("uint64add");
        o

[2015-08-04 22:21] siying commented on #682
Interesting. You are not using prefix iterating (prefix_extractor is null). It is interesting then. What read option do you use?

[2015-08-04 22:29] archiecobbs commented on #682
Reading from a snapshot.

[2015-08-04 22:48] siying commented on #682
I still couldn't run your project. I have some difficulty in building rocksjava and is trying to resolve it. In the mean time, if you set max_sequential_skip_in_iterations to MAX, will it still fail?

[2015-08-04 23:08] archiecobbs commented on #682
The `rocksdbjni-3.10.1.jar` JAR file is included in the gist, so the test shouldn't have to resolve anything. I'm curious what error you are seeing when you invoke `./run.sh` ?

I added this and the result is the same:

    diff --git a/Test.java b/Test.java
    index cb6e37e..a2e1808 100644
    --- a/Test.java
    +++ b/Test.java
    @@ -28,6 +28,7 @@ public class Test {
             // Create da

[2015-08-04 23:10] archiecobbs commented on #682
Correction to previous comment: the iteration is sometimes from a snapshot, and other times not. It also does other random puts, removes, write batches, etc.

[2015-08-04 23:17] yhchiang commented on #675
Thanks for spotting and fixing the problem.  The suggestion sounds a good plan to me.  Please feel free to submit the pull request once it's ready!

[2015-08-04 23:34] siying commented on #682
@archiecobbs turn out to be, I didn't run "make jclean" before build java.
There is a known issue that changing direction for merge iterator might be wrong. It's not yet fixed. We probably want find a way to fix it some time this week.

[2015-08-05 00:33] #666 closed

[2015-08-05 01:18] AaronCsy commented on #291
hi @skanskan
Sorry for late.
we use the ssdb-rocks for supporting the Client-Server service for RocksDB, and we simply developed a client of RocksDB by studying from ssdb-rocks and added it to YCSB-master. The added process is shown in ycsb guide actually.

[2015-08-05 03:11] anagav opened #683 "release rocksdbjni 3.13.0"
Hi,

What is the timeline of publishing rocksdb-jni 3.13.0 to maven? I see there is a java release today.

https://github.com/facebook/rocksdb/commit/102ac118b26a8906f95f57975b6ae1f3a17c30c5

[2015-08-05 08:02] MarkusTeufelberger commented on #192
I'm no longer actively using RocksDB anyways, but it might still be a useful feature regardless. Domo Arigato, Mr. Roboto!

[2015-08-05 15:46] archiecobbs commented on #682
@siying Thanks. It looks like issue #648 is the issue you are referring to... correct?

[2015-08-05 18:03] facebook-github-bot-8 commented on #603
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:03] facebook-github-bot-8 commented on #604
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:03] facebook-github-bot-8 commented on #605
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:03] facebook-github-bot-8 commented on #607
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 18:03] facebook-github-bot-8 commented on #608
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-05 22:15] adamretter commented on #573
@igorcanadi @siying If the latest patch got applied, we can close this ticket.

[2015-08-05 22:16] #586 closed

[2015-08-05 22:17] #590 closed

[2015-08-05 22:28] adamretter commented on #675
@yhchiang Thanks I have re-opened this, so that I don't forget and will attempt to close with a pull-request in the near future.

[2015-08-05 22:33] adamretter commented on #683
@anagav I can try and take a look at this perhaps by the end of the week.

[2015-08-05 22:58] #573 closed

[2015-08-05 23:45] anagav commented on #683
cool.. thanks @adamretter

[2015-08-06 15:17] archiecobbs commented on #648
This bug makes RocksDB essentially unusable for any application that ever needs to search for the greatest key strictly less than some upper bound... because doing so necessarily involves performing a `seek()` followed by a `prev()`. I'm rather shocked that more people aren't hitting it.

[2015-08-06 17:22] siying commented on #648
@archiecobbs we committed a patch: https://reviews.facebook.net/D43557 which is supposed to solve the misplaced iterator caused by merge operators. It should solve most of your problems. Problems related to prefix extractor is still unsolved but as long as you don't use it, you should be fine.

[2015-08-06 17:50] archiecobbs commented on #648
Thanks! I have tested this change it it appears to fix the test case in issue #682.

[2015-08-06 17:52] archiecobbs commented on #682
Looks like this got fixed by 8e01bd1144abc43ebe68d8ea7393a3f1a31abd06 (see issue #648).

[2015-08-06 17:52] #682 closed

[2015-08-06 18:00] archiecobbs commented on #636
After applying the fix in #648 (duplicated by #682), I'm no longer able to reproduce this problem.

So it appears that here's what was happening: the iterator bug was causing the test to go into a loop that was eating up all of memory, and the JVM then either crashed with a SEGV or hanged.

It's also possible some other fix recently applied fixed this issue for another reason. In any case, the tes

[2015-08-06 18:00] #636 closed

[2015-08-06 20:28] siying commented on #648
Adding a test case to repro the last data race case: https://reviews.facebook.net/D43671

[2015-08-07 15:47] bafla133 opened #684 "Creating multiple instance of rocksdb with MPI"
Hallo,
I have posted this thread in stackoverflow. I am getting no answer and I hope you can help me (and others) with  the probelm.
http://stackoverflow.com/questions/31872945/rocksdb-fails-to-create-more-than-one-database-instance-concurrently
Thanks.

[2015-08-07 18:15] agiardullo commented on #684
As Adam mentioned on stackoverflow, you shouldn't have the same database open multiple times.  I'm not sure what you are intending to do, but if you want to have separate databases, you should use a unique DBPath for each instance.  If you want to have multiple threads accessing the same databases, you can open the instance once and setup a ThreadPool in your Env.

[2015-08-07 19:11] bafla133 commented on #684
Aha. I thought I can access the database with different instances. Ok I will try to do it  using a thread pool. Thanks

[2015-08-08 18:42] Andymic opened #687 "make check fails at 'CCLD db_test'"
I am on Ubutun 15.04 and using gcc version 4.9.2

  GEN      util/build_version.cc
  CC       db/db_bench.o
  CC       util/testutil.o
  CCLD     db_bench
  CC       table/table_reader_bench.o
  CC       util/testharness.o
  CC       table/mock_table.o
  CC       util/mock_env.o
  CC       third-party/gtest-1.7.0/fused-src/gtest/gtest-all.o
  CCLD     table_reader_bench
  CC       util/cache_bench

[2015-08-10 10:44] bafla133 commented on #684
I have just updated the code, adding an environment. Could you guys please take a look at it ? I need for my Bachelorthesis and its very important. Thanks.

[2015-08-10 10:54] adamretter commented on #684
@bafla133 I am more of a Java guy than a C++ guy so I can't be much help here. Perhaps you could try the IRC channel, people tend to be more active in there on the US timezone.

[2015-08-10 11:44] bafla133 commented on #684
Ok. Thanks :)

[2015-08-10 17:22] 4tXJ7f commented on #687
It looks like an issue with make running the prerequisites for `all` in parallel. Which version of make are you using? What was command that you used?

[2015-08-10 17:27] siying commented on #687
Can you try "make clean" and retry? If you try to make release build, and then build tests, you will likely to fail with this error.

[2015-08-11 21:15] nickpan47 commented on #606
@adamretter, how is the status of releasing of RocksDB 3.11.1? Thanks a lot!

[2015-08-12 10:36] cardamon opened #688 "SIGSEGV in RocksDB JNI 3.10.1"
Hi!

Occasionally (rarely), we're getting a segfault:
[code]
The stack top:
[code]
RocksDB#write is being used in code that is something like:
[code]

[2015-08-13 20:59] senior7515 opened #690 "Set PORTABLE=1 the default for Makefile"
# The issue:

Right now the 'default' build is to build with -march=native. Specified in the INSTALL.md. However, this default installation has the unexpected behavior that when you run it you get a `SIGILL`

The default compiler flags for both satic (librocksdb.a) and dynamic librocksdb.so.3.11.2 are compiled with  `-march=native`
## Background

[code]

The issue with this is that my build box CP

[2015-08-14 23:07] archiecobbs opened #691 "[Java] Assertion failure + JVM crash with rocksdbjni running under Tomcat"
Using rocksjni with a Java web application running in Tomcat, the JVM crashed with this log message:

[code]

Here's the relevant code:

[code]

The class `org/rocksdb/InfoLogLevel` is certainly present, inside the rocksdbjni JAR file under `WEB-INF/lib`, so what's going on?

Here's my theory: as we all know Tomcat creates separate `ClassLoader`s for each web application. A web application's Java

[2015-08-15 01:14] archiecobbs commented on #691
Commit b46b15b92d79301ad925d64f9d98c36b8d533ebf appears to fix this problem.

[2015-08-17 12:52] flozano opened #692 "rate_limiter problem (Illegal instruction in CalculateRefillBytesPerPeriod)"
I'm trying to use Mongo-rocks CentOS 7 RPMs and I think I'm hitting an issue with the rate limiter in rocksdb:
[code]

[2015-08-17 16:37] igorcanadi commented on #692
Hmmm. This looks like the rocksdb was compiled with PORTABLE flag set turned off (which is the default). When PORTABLE flag is turned off, we compile RocksDB to optimize for native architecture. This makes the binary work only on that specific architecture.

[2015-08-17 17:32] flozano commented on #692
Thanks a lot for the quick answer. I'll try to recompile myself under the same machine (vagrant instance) to see what happens.

Open candid question: Is it worth it to disable the PORTABLE? does it really squeeze more performance in a significant way?

[2015-08-17 17:35] igorcanadi commented on #692
The biggest gain from using PORTABLE=0 is with CRC32: https://github.com/facebook/rocksdb/blob/master/util/crc32c.cc#L318. When we compile on SSE4.2 architecture we use a crc32 machine instruction, which makes checksumming much much faster.

[2015-08-17 18:32] flozano commented on #692
Out of curiosity, I've tried running the thing in two different computers and enabled virtualbox support for SSE4.1/4.2 (checked in /proc/cpuinfo) but got the same result. I guess some other option only available on high-end xeon's is being used.

I will wait for my ongoing mongo-rocks build to finish and try again.

[2015-08-17 18:40] igorcanadi commented on #692
Yeah -march=native enables all kinds of things. You can try `-march=sse4.2` to only enable sse4.2 support.

[2015-08-17 19:11] flozano commented on #692
It seems the original issue could be solved, as it proceeds further down in the startup, but it still fails:
[code]

[2015-08-17 19:21] flozano commented on #692
Of course, at this stage I have no idea if this is from mongodb or from rocksdb...

[2015-08-17 19:33] flozano commented on #692
OK, the issue now is related to compression, so I'm closing this one and keep investigating myself... @igorcanadi thanks a lot for the hint! I guess I should have checked #690 before.

[2015-08-17 19:33] #692 closed

[2015-08-17 20:34] igorcanadi commented on #692
No worries. Let me know if you see any other issues!

[2015-08-18 11:13] bafla133 commented on #684
I had another related question guys.
I could do what I wanted, while having multiple databases. This means one environment with multiple databases. Every processor has one database.
What about duplicates ? do I need to use a flag or a parameter to avoid duplicates? Would every database run for itself without considering the duplicates in other databases ?

[2015-08-18 15:03] igorcanadi commented on #692
@flozano what makes you think this is related to compression? Can you copy/paste the error message? It is likely because RocksDB was compiled without support for snappy. Try `sudo apt-get install libsnappy-dev` before you compile RocksDB. Or you can try running MongoRocks with `--rocksdbCompression=none`

[2015-08-18 15:37] adamretter commented on #684
Across databases, you have to manage duplicates yourself

[2015-08-18 17:31] flozano commented on #692
That was the reason, RocksDB was compiled without support for snappy or zlib. I should have been more specific in the comment above :+1:

[2015-08-18 17:33] flozano commented on #692
The remaining issue now is that mongorocks RPMs don't work very well, but that's already reported in https://github.com/mongodb-partners/mongo-rocks/issues/9

[2015-08-20 21:21] lookforsandy opened #696 "Put request hangs on 3.11.0"
We are experiencing PUT request hang on 3.11.0.
## Below is the stack trace:

Thread 58 (Thread 0xfff126f080 (LWP 1332)):
#0  __pthread_cond_wait (cond=0x1010e048, mutex=0x1010e020) at pthread_cond_wait.c:158
#1  0x00000062882e76d8 in ?? () from /usr/lib64/librocksdb.so.3.11
#2  0x00000062879cba4c in start_thread (arg=0xfff126f080) at pthread_create.c:310
#3  0x00000062878fa21c in __thread_start (

[2015-08-21 13:22] lambdaburrito commented on #680
good spot! i just encountered this while working on a binding for node.js

[2015-08-21 16:53] igorcanadi commented on #696
Can you please send a couple of more last LOG lines? All of these LOG lines are just file deletions. It would be good to get the full output for JOB 134.

[2015-08-21 18:21] lookforsandy commented on #696
Here you go.
--------------------
2015/08/20-01:42:14.041963 ff547ff080 EVENT_LOG_v1 {"time_micros": 1440034934041934, "job": 132, "event": "flush_started", "num_memtables": 1, "num_entries": 28252, "num_deletes": 0, "memory_usage": 4091941}
2015/08/20-01:42:14.041990 ff547ff080 [default] [JOB 132] Level-0 flush table #1097: started
2015/08/20-01:42:14.853984 ff547ff080 [default] [JOB 132] Level-0

[2015-08-21 21:12] Gadreel commented on #144
The package in Maven Central is perfect for this:

http://search.maven.org/#search%7Cga%7C1%7Ca%3A%22rocksdbjni%22

But a bit out of date.  Up vote :)

[2015-08-21 21:18] Gadreel commented on #683
+

[2015-08-24 20:17] lookforsandy commented on #696
Hitting this issue on GET path as well.
Able to consistently reproduce the issue.

Thread 48 (Thread 0xffd57fe080 (LWP 1669)):
#0  0x00000062882e21e8 in ?? () from /usr/lib64/librocksdb.so.3.11
#1  0x00000062882bf2e0 in rocksdb::ReadBlockContents(rocksdb::RandomAccessFile*, rocksdb::Footer const&, rocksdb::ReadOptions const&, rocksdb::BlockHandle const&, rocksdb::BlockContents*, rocksdb::Env*, boo

[2015-08-24 21:15] agiardullo opened #697 "[Java] Java support for Transactions"
Received a request for Java support for RocksDB Transactions.  Filing this issue to track.  Anyone interested in working on this?

By transactions, I am referring to the `transaction.h`, `transaction_db.h`, `optimistic_transaction_db.h` APIs in `include/rocksdb/utilities/`.

[2015-08-24 21:50] adamretter commented on #697
@agiardullo I would be interested to pick this up, but I cannot say when at the moment as I am pretty busy.

[2015-08-24 22:02] sidhhu commented on #606
any updates on when this will be published. Thank!

[2015-08-24 23:23] igorcanadi commented on #696
Your GET call seems to be stuck on reading blocks from files. That shouldn't wait for any lock. Are you running on a normal filesystem? Can you explain your reproduction steps?

Also, since you're able to reproduce this reliably, can you check if it reproduces with 3.13?

BTW Your configuration seems suboptimal. You're memtable size is 4MB, but your L1 size is configured to be ~640MB. Usually we r

[2015-08-25 00:45] lookforsandy commented on #696
Sorry if my comments caused confusion. GET path hang was hit only once.
Able to reproduce consistently on PUT path. I will try out the suggested configuration and 3.13.
Mean while any luck with PUT hang stack ? Do you think suboptimal config might be reason for PUT hang as well?

[2015-08-25 03:07] mdcallag commented on #696
If Get was stuck on a call to read in the kernel/filesystem then I suspect
a problem with your storage.

On Mon, Aug 24, 2015 at 5:46 PM, Sandeep <notifications@github.com> wrote:

--
Mark Callaghan
mdcallag@gmail.com

[2015-08-25 16:48] igorcanadi commented on #696
@lookforsandy We did have some hang bugs in the past, but they only happened when RocksDB's stall mechanism kicked in. When stalls are triggered, we actually stop the writes until compaction finishes -- we had a bug where compaction wasn't started and writes were waiting until it finishes. Ooops.

However, this doesn't seem like the case here.

From your LOG files, it doesn't seem like stalls were

[2015-08-25 20:18] siying commented on #696
@igorcanadi @rven1 do you still remember the bug we found about missing scheduled flush/compaction? I don't remember the details. Can that be related?

[2015-08-25 20:19] siying commented on #690
Can we close it?

[2015-08-25 20:37] igorcanadi commented on #696
@siying I remember the bug. It only triggered when stall happened. Also, when more than one column families were used. None of this is the case here.

[2015-08-25 20:39] siying commented on #696
@lookforsandy just to confirm, by "hang", you mean hanging forever, or stopping for very long and recovering later?

[2015-08-27 01:49] renato2099 commented on #606
any news on this? we also need it please!

[2015-08-27 03:53] darshan-ghumare opened #700 "RocksDB benchmarking"
Hi,

I have modified example/c_simple_example.c os that it will only do put,

// Put key-value
rocksdb_writeoptions_t *writeoptions = rocksdb_writeoptions_create();
const char key[] = "key";
char *value = NULL;
unsigned long i = 0, n = atol(argv[1]), size = atol(argv[2]);
value = (char *) malloc(size);
assert(value);
for (i = 0; i < n; i++) {
    rocksdb_put(db, writeoptions, key, strlen(key), val

[2015-08-27 23:54] lookforsandy commented on #696
@siying It is a complete hang.

[2015-08-28 19:44] mingqlin opened #703 "RocksDB Java Windows Development Environment"
Latest maven RocksDB Java jar (http://mvnrepository.com/artifact/org.rocksdb/rocksdbjni/3.10.1) only appears to support Linux and MacOs. Anyone know how to use RocksDB Java library in Windows Development environment?

[2015-08-28 20:54] archiecobbs commented on #683
Yes!

Please consider including building and publishing rocksjni to maven as part of the normal release process.

Thanks.

[2015-08-31 18:33] navina commented on #606
@naveenatceg  / @adamretter : Guys, any updates on the RocksDB 3.11.1 release? This is blocking Samza release. If you guys don't have time, please forward the steps of the process. I will push it out!

Thanks!

[2015-08-31 18:50] igorcanadi commented on #606
@yhchiang is currently trying out the release process for Java. Will try to push it on our end. Sorry that it ended up blocking your release.

[2015-08-31 18:58] yhchiang commented on #606
Yep, as @igorcanadi mentioned that I am currently tryout out the release process for Java.  I'm currently hitting an issue related to vagrant.  Will keep you posted once I have any update.

[2015-08-31 19:11] adamretter commented on #606
Sorry for dropping the ball on this guys, I have just been absolutely swamped with work. If @yhchiang is having a go now, then I won't interrupt him ;-)

[2015-08-31 19:44] navina commented on #606
@igorcanadi  Thanks for the follow-up!
@yhchiang do you have any ETA that you can share with us? Thanks!

[2015-09-01 00:20] 4tXJ7f commented on #700
I don't think that `strlen(value) + 1` does what you want: strlen will counts the number of chars until it encounters a \0, which is a random amount in your case because you never initialize the memory (your malloc implementation/OS might always zero it out).

[2015-09-01 02:22] igorcanadi commented on #691
@adamretter any thoughts on @archiecobbs 's fix?

[2015-09-01 04:08] darshan-ghumare commented on #700
Thanks :)

// Put key-value
rocksdb_writeoptions_t *writeoptions = rocksdb_writeoptions_create();
const char key[] = "key";
char *value = NULL;
unsigned long i = 0, n = atol(argv[1]), size = atol(argv[2]);
value = (char *) malloc(size);
assert(value);
value[size - 1] = '\0';
for (i = 0; i < n; i++) {
    rocksdb_put(db, writeoptions, key, strlen(key), value, size,
            &err);
    assert(!er

[2015-09-01 14:59] igorcanadi commented on #700
Default RocksDB settings are not very performant. Unfortunately we can't change them because that would break existing use cases. To tune RocksDB and make it more performant, please refer to RocksDB Tuning Guide: https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide

[2015-09-01 17:22] yuslepukhin opened #704 "Moving general Env parts to file_reader_writer breaks Windows port"
https://reviews.facebook.net/D42321 imposed severe performance penalties on the Windows port and makes it nonfunctional. So much so that unit tests are visibly slow.

To re-cap. The change moved common parts of counters, buffering and rate-limiting to a platform independent code within file_reader_writer.cc.

The problem is that these parts are platform dependent on Windows and there is no easy wa

[2015-09-01 17:25] siying commented on #704
I want to understand more about why rate limiting and double buffering are hard to solve for Windows. Can you explain it a little bit more?

[2015-09-01 17:33] siying commented on #704
I briefly looked at WinWritableFile::Append(). Is it possible for it just simply call WinWritableFile::WriteBuffered()? At the same time, we can make the same option use_os_buffer_ in class WritableFileWriter so it Append() is just a pass through if specified. If you want, we can also add a callback WritableFile::IfMaintainWriteBuffer() or something like that. If returning true, we simply pass thr

[2015-09-01 17:37] siying commented on #704
By the way, you don't need to use ReadAhead wrapper. The default setting is new_table_reader_for_compaction_inputs=false and compaction_readahead_size=0 so that code path is not involved at all. Are you worrying about it because you want to use the feature?

[2015-09-01 17:59] siying commented on #704
I mean, at least we can do something like this: https://reviews.facebook.net/differential/diff/224721/
From there we can try to see how to move some platform independent codes into common code paths. Sounds a good plan?

[2015-09-01 19:26] yuslepukhin commented on #704
@siying My responses might be slow today.

Passing through the env options to the new wrappers is easy and not really an issue.

We need to maintain our own buffer when dealing with unbuffered calls satisfies the following conditions:
- alignment on the physical disk sector (may add a method to env to obtain it)
- disk offset on writes must be on the alignment granularity.
- write only whole pages

[2015-09-01 20:08] siying commented on #704
@yuslepukhin  is the approach of https://reviews.facebook.net/differential/diff/224721/ good for you for a quick unblock?

[2015-09-01 20:11] siying commented on #704
@yuslepukhin the read ahead wrapper is totally new thing. All it wants to solve is to use a different file input stream that can be tuned for compactions, and not share with normal reads. It's not a final implementation and by itself there is room to improve. We'll be happy to think of a cleaner abstraction to nicely do it.

[2015-09-01 20:15] yuslepukhin commented on #704
@siying I looked at that and my initial patch had a similar concept. However, that would represent a different behavior to other code since unit tests would fail. I can create a pull request and then can answer your questions as to what and why.

[2015-09-01 20:49] siying commented on #704
@yuslepukhin in short term, I'm willing to provide a simply interface to unblock you. Going forward, I hope the port of platforms to be as thin as possible. The thinner the port is, the less likely our future changes will cause problems for you. I will be happy to change the codes in file_reader_writer.cc so that our application buffering works perfect for you. In the writer part, we can add align

[2015-09-01 21:20] yuslepukhin commented on #704
@siying Thanks. Let me try to re-work this in the next couple of days.

[2015-09-02 00:34] agiardullo commented on #616
Can this issue be closed now?

[2015-09-02 00:36] agiardullo commented on #571
Adam, do you think this is the same issue as https://github.com/facebook/rocksdb/issues/616 ?

If so, can this be closed or is there still something remaining to be debugged?

[2015-09-02 09:50] adamretter commented on #571
@agiardullo I don't think it is the same issue.

[2015-09-02 22:02] lookforsandy opened #706 "Deterministic memory usage of RocksDB."
I have observed in some tests that memory consumption of RocksDB increases as DB size grows.
1. Does RocksDB use memory deterministically ?
2. Is memory consumption expected to increase over time even when the flag "cache_index_and_filter_blocks = true" ?
3. What are the major consumers of memory inside RocksDB ?

I am trying to find a way to keep the memory consumption of RocksDB constant even if

[2015-09-02 22:07] siying commented on #706
Memory can be used by block cache (if cache_index_and_filter_blocks = true) as well as mem tables. You can track the later case by getting GetProperty() with property "rocksdb.size-all-mem-tables". Adding block cache size and this one is supposed to give you a pretty close estimation of memory usage (assuming you have cache_index_and_filter_blocks = true).

[2015-09-02 22:53] lookforsandy commented on #706
@siying Thanks a lot for your response.
Just to confirm again, say if I have 3 memtables each of 4M ; Block Cache of 128M ;  and  cache_index_and_filter_blocks = true.
Does that mean RocksDB will never consume more than 140M (plus some memory for internal data structures) during its lifetime even if DB grows over time.

[2015-09-03 00:52] siying commented on #706
@lookforsandy mostly, except if you have some stale iterators, they might pin down the old memetables from being released, increasing total memory usage. You can tell it by querying property "rocksdb.size-all-mem-tables".

[2015-09-03 04:13] yhchiang commented on #703
We currently not yet include windows binary in the jar file, and we are trying to find some way to include that :)

Meanwhile, you can also try to build the RocksDB Java by running `make rocksdbjavastatic` in the Windows environment, but let me know if it doesn't work for you.

[2015-09-03 04:18] yhchiang commented on #688
Hey @cardamon.  Sorry for the late reply.  As it happens occasionally, can I also know in which case you are more likely to reproduce the crash?

[2015-09-03 07:37] cardamon commented on #688
We only have two crash logs and they look pretty much identical except for the memory addresses and such.

There has been no crash since this issue was created.
If it ever happens again I may be able to figure out some more by comparing the crash log to the logs of the program...

[2015-09-03 16:45] siying commented on #703
Windows build is through CMake: https://github.com/facebook/rocksdb/blob/master/CMakeLists.txt CC @yuslepukhin

[2015-09-03 18:30] yuslepukhin commented on #703
@mingqlin We have not tried to build Java lib on Windows nor did we look into that. Let us know if we can help.

[2015-09-03 18:50] siying commented on #703
@yuslepukhin perhaps all what they need is a .dll.

[2015-09-03 21:29] yuslepukhin commented on #704
@siying Please, clarify as what UseDirectIO() means in practice. Thx.

[2015-09-03 21:34] siying commented on #704
https://github.com/facebook/rocksdb/commit/0886f4f66a9313adca3cd7b4a87968a973bd6594 added it. Someone wants to find a way to disable range sync.

[2015-09-04 16:06] mingqlin commented on #703
it is not very efficient for windows developers to manually build dll before using RockDB, please consider adding dll to future maven package.

[2015-09-07 11:16] venugopalkandru opened #708 "Rocksdb incremental memory usage by using iter_next"
We are having around 16 rocksdb databases with size of 200GB each.
Iterating through all the dbs in a loop is consuming nearly 8GB of memory which is much more.

For better clarity, we had conducted a test by creating a db with 1 record,
by connecting and iterating through db for 1million times in a loop, we observed memory usage has been increased linearly.
Please find the attached piece of code.

[2015-09-08 15:01] igorcanadi commented on #708
Hey @venugopalkandru . It looks like in the test you never free the iterator.

[2015-09-08 17:10] igorcanadi commented on #673
That's interesting. Seems like we weren't able to read the data from the dropped column family.

I tried running this test 100 times on my system (centos something) and it didn't fail. Does it fail deterministically in your case?

Can you please try the test on master?

[2015-09-08 17:25] gcsideal commented on #673
Yes, it's failed all the time. Some days ago I've tried it again with the latest stable (3.13.1) release. It doesn't fail. This issue can be closed.

[2015-09-08 18:15] igorcanadi commented on #673
Cool. Let us know if you see some other test failures!

[2015-09-08 18:15] #673 closed

[2015-09-08 23:10] yuslepukhin commented on #704
@siying Please, clarify the rationale behind read ahead buffer in random access class so better understand it.

[2015-09-08 23:17] siying commented on #704
@yuslepukhin if users specify compaction_readahead_size>0 (default is 0), for compaction inputs, the ReadaheadRandomAccessFile will be used as a wrapper of RandomAccessFile to serve compaction inputs (and only compaction inputs), in which we read ahead amount of bytes for as prefetching data for compaction. Based on our benchmarking, it can achieve better throughput of compactions, without tuning

[2015-09-08 23:33] yuslepukhin commented on #704
@siying Thanks. It is was not intuitive to have read ahead for random access. It is fine, I will just forward the call in that case since Windows caches too much. Would not want os dpenedant options.

[2015-09-09 14:33] venugopalkandru commented on #708
thanks @igorcanadi ,
We also came to know that we need to free Block based table options, LRU cache along with options.
That way memory leak is not happening => closing this.

[2015-09-09 14:33] #708 closed

[2015-09-09 18:18] JohnPJenkins opened #709 "ColumnFamilyOptions::OptimizeLevelStyleCompaction unconditionally uses snappy"
I recently downloaded and am playing around with RocksDB and was getting runtime errors when running examples/simple_example.cc. Digging into it, I found out that the kSnappyCompression option is used whether or not RocksDB was configured to use it. Would fix it myself, but I'm not sure what the alternative "optimal" compression settings are when snappy isn't around. No compression? zlib/lz4/etc.

[2015-09-09 18:32] igorcanadi commented on #709
Good find. If snappy is not available, we should use lz4. Zlib is a bit too heavy on CPU to use it as a default compression library.

[2015-09-09 18:38] JohnPJenkins commented on #709
Sounds good. I'll whip up a PR.

[2015-09-10 06:12] stephan-hof opened #715 "Mention 'compaction_readahead_size' in 'Whats new in rocksdb 4.0.0'"
Hi I have seen that you release rocksdb 4.0

would be nice if you can mention the new 'compaction_readahead_size' option in the "HISTORY.md" file.
If found it accidentally by calling diff on the include directory between 3.13 and 4.0

[2015-09-10 18:10] navina commented on #606
ping @yhchiang ! any updates here?

[2015-09-11 01:49] yuslepukhin commented on #704
@siying Curious if FlushJobTest.NonEmpty and CompactionJobTest.Simple currently pass on Linux?

[2015-09-11 10:24] dhruba commented on #530
Closing this, please reopen if you feel that you have additional inputs to this problem.

[2015-09-11 10:24] #530 closed

[2015-09-11 17:15] siying commented on #704
@yuslepukhin all the tests pass on Linux. We always keep all tests clean. What error did you see?

[2015-09-11 17:16] siying commented on #704
@yuslepukhin these are two tests writing to "table/mock_table.h". Maybe something in mock_table does not work well.

[2015-09-14 13:33] JohnPJenkins opened #717 "PDF version of the corporate CLA"
I need to send a pdf copy of the corporate CLA to my legal department in order to make contributions (i.e. #710). It can be sent to jenkins AT mcs DOT anl DOT gov. Thanks for your help!

[2015-09-14 15:20] edi-bice commented on #606
Happy fifth monthversary

[2015-09-14 21:46] JohnPJenkins opened #718 "gflags macro checking?"
While the CLA process plays out...

I wanted to build the DB benchmarks, so I installed gflags locally (my primary workstation is non-root), setting EXTRA_CXXFLAGS/LDFLAGS appropriately. However, for db_bench I got the "Please install gflags [...]" message at runtime. I ended up not setting the GFLAGS macro - oops! Two questions:

1. the most recent gflags release sets the macro GFLAGS_NAMESPACE t

[2015-09-14 22:46] JeevithaK opened #719 "Sudden memory growth during RocksDB compaction"
Hi,

I have a rocksdb with ~280GB data and our process is running with memory limit set to 16G. Every few days, our process is getting killed by oom-killer.
According to the heap profiles collected just before crash: ~75% of memory is used by TableIndexReader & Filter data created as a result of BackgroundCompaction.

Increasing the memory limit to 24G didn't help either. It eventually hits the li

[2015-09-14 22:49] JeevithaK commented on #719
When the memory usage was climbing up, I inspected the db compaction stats. It looked like:

[2015-09-15 14:54] JohnPJenkins commented on #718
Oops, nevemind where GFLAGS comes from - it's an artifact of build_detect_platform. I'll close this and make another issue.

[2015-09-15 14:54] #718 closed

[2015-09-15 16:59] igorcanadi commented on #719
I'm just about to write a wiki page on how RocksDB uses memory. Here's the short story:
1. block cache -- just a normal LRU cache that keeps the block. the size is configurable, default is 8MB
2. indexes -- you can estimate the size we need for indexes like this: (database_size / block_size) * average_key_size. Default block size is 4KB (uncompressed, so this can go down to 2KB if you have 0.5 com

[2015-09-15 17:01] igorcanadi commented on #719
Also, from your options I see that you set L1 size to 512MB.

    options->target_file_size_base = 64 * 1024 * 1024;
    options->max_bytes_for_level_base = 8 * options->target_file_size_base;

 We usually recommend setting L0 size to be equal to L1 size. L0 size is `write_buffer_size * level0_file_num_compaction_trigger`. So in your case, I would set write_buffer_size to 64MB. Default is 4MB.

[2015-09-15 18:11] yhchiang commented on #606
Hey @navina, sorry for the delay as I was in vacation last week.  We are trying to publish the rocksjava 3.13.1 package this week.  Will leave a comment here when the package is available.

[2015-09-15 19:41] nickpan47 commented on #606
Hi, Yueh-Hsuan,

Thanks a lot for the update. We were looking for RocksDB 3.11.1. Is there
any compatibility issues between RocksDB 3.11 vs RocksDB 3.13?

Thanks a lot!

-Yi

On Tue, Sep 15, 2015 at 11:11 AM, Yueh-Hsuan Chiang <
notifications@github.com> wrote:

[2015-09-15 21:08] navina commented on #606
Thanks for the update, @yhchiang !

[2015-09-15 21:50] yhchiang commented on #606
@nickpan47: we guarantee that rocksdb file format is always forward compatible (newer version is always able to open a older version).  In other words, you will be able to open a v3.11.1 rocksdb database using rocksdb v3.13.1.

But note that there're some public API changes listed in the release page:
https://github.com/facebook/rocksdb/releases

[2015-09-15 23:05] yhchiang commented on #606
Have uploaded the rocksdb 3.13.1 package to OSSRH (https://oss.sonatype.org/#nexus-search;quick~rocksdb) and should be synced to central repository soon.  Let me know if you encounter any problem.

[2015-09-16 00:06] JeevithaK commented on #719
Hi Igor,

Really appreciate your quick response!

Few months ago, we had similar memory growth problems and we tried changing the block size to 32K. Since that resulted in performance degradation we ended up increasing the process memory limit and went back to 8K. I will change the block size to 16K and check if the performance is acceptable.

Some questions for our understanding:
1. Since we are

[2015-09-16 01:46] anagav commented on #606
@yhchiang I see only .so files in the jar published. Its missing all the .class files, so no rocksdb java classes are being resolved while compilation.

[2015-09-16 03:07] anagav commented on #606
nvm, I see the class files now.

[2015-09-16 14:17] archiecobbs commented on #691
Updated with to latest master in 3b2aa14.

[2015-09-16 15:15] adamretter commented on #691
@igorcanadi I should be able to look at this next week. Sorry for the delay I'm away at a conference

[2015-09-16 16:37] igorcanadi commented on #719
That is correct.

What you could do is decrease target_file_size_base. That way, each compaction should be smaller, which means the memory spikes will also be smaller. The temporary doubling of space will also have less of an effect.

You could try to estimate how much percent of DB is going through the compaction. If the percent is too big, it would be better to decrease compaction size by decrea

[2015-09-16 18:56] JeevithaK commented on #719
I will play with target_file_size_base and target_file_size_multiplier options and check if that reduces memory pressure during compaction.

Thank you!

[2015-09-17 12:02] jsteemann opened #722 "Invalid example for block_cache"
Wiki page https://github.com/facebook/rocksdb/wiki/Basic-Operations#cache contains the following example, which cannot be compiled with current RocksDB (a5e312a7a475c6607845ccca3330d73bb88f7740):
[code]
This example won't work anymore, because `rocksdb::Options` doesn't have a member `block_cache`.
The option in question seems to have been moved into struct `BlockBasedTableOptions`.
The example sh

[2015-09-17 16:32] igorcanadi commented on #722
Tnx for reporting this. I updated the wiki: https://github.com/facebook/rocksdb/wiki/Basic-Operations

[2015-09-17 16:32] #722 closed

[2015-09-17 16:46] jsteemann commented on #722
thanks!

[2015-09-17 22:21] igorcanadi commented on #604
Looks like this already exists: https://github.com/facebook/rocksdb/commit/ade4034a9d4d42caed8d9e635a905fdf1152b361

[2015-09-17 22:21] #604 closed

[2015-09-17 22:22] igorcanadi commented on #604
@ovjh @dgrnbrg let me know if i'm missing something :)

[2015-09-18 01:39] igorcanadi opened #724 "Travis green even when Java test fails"
An example: https://travis-ci.org/facebook/rocksdb/jobs/80884084

There were 2 failures:
1) testFatalLogLevelWithDBOptions(org.rocksdb.InfoLogLevelTest)
2) testFatalLogLevel(org.rocksdb.InfoLogLevelTest)

[2015-09-18 01:40] igorcanadi commented on #724
assigning to YH, but also pinging @adamretter

[2015-09-18 14:54] #724 closed

[2015-09-18 18:20] vinniefalco opened #726 "Windows port fails on Windows 7"
`env_win.cc` calls `GetSystemTimePreciseAsFileTime` which is only supported on Windows 8 or later:
https://msdn.microsoft.com/en-us/library/windows/desktop/hh706895(v=vs.85).aspx

[2015-09-18 21:07] siying commented on #726
CC @yuslepukhin

[2015-09-21 11:25] simpleshao opened #729 "Failed to link with Xcode7 simulator"
error is:
(builder.o), building for iOS simulator, but linking in object file built for OSX, for architecture x86_64
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2015-09-21 13:22] JohnPJenkins commented on #717
Received it yesterday. Thanks!

[2015-09-21 13:22] #717 closed

[2015-09-21 16:14] OverlordQ commented on #677
Just to follow up, yes data reads fine, it's just when copying the DB from leveldb nodes it requires the extra manual step of renaming all the files from .ldb to .sst. It then gives the 'properties' errors reported above until those particular files get 'rocksified'

[2015-09-22 00:44] yuslepukhin commented on #726
@vinniefalco I am aware of it but to date there is not a viable alternative. We are building it only on server platform here. I would not be able to justify to build it on Windows 7.

[2015-09-22 00:46] siying commented on #726
@yuslepukhin @vinniefalco is there a way to add a guard somewhere and call a different function in older Windows?

[2015-09-22 00:48] yuslepukhin commented on #726
@siying Sure one can such a thing providing it they can live with certain failure cases and it is clearly documented. I was not able to come with alternative for us.

[2015-09-22 02:48] vinniefalco commented on #726
What's the failure case?

[2015-09-22 02:52] vinniefalco commented on #726
@siying If you want to conditionally compile code based on the version of Windows being targeted I believe you need to simply check `_WIN32_WINNT` (see https://msdn.microsoft.com/en-us/library/6sehtctf.aspx). I've never done it but maybe something along these lines:
[code]

[2015-09-22 05:56] #210 closed

[2015-09-22 10:52] thatsafunnyname commented on #605
Also see https://reviews.facebook.net/D46785
Thanks.

[2015-09-22 17:13] yuslepukhin commented on #726
@vinniefalco The way to compile conditionally is well understood.
However, you may have to invest into researching the alternative implementation. There are two requirements for NowMicros() interface 1) Has to be a system time, thus QPC does not fit 2) Has to have micros resolution. While many interfaces on Windows claim to return needed resolution of microseconds or even FILETIME, in practice it

[2015-09-22 21:17] noahdesu opened #732 "running make check in custom directory"
I'm trying to run `make check` so that the tests use a custom directory (rather than e.g. `/tmp/rocksdbtest-0/db_test/LOG`). Looking at the Makefile it seems as though `TMPD=/path/ make check` should work, but /tmp is still being used. Am I invoking make check incorrectly?

[2015-09-22 21:32] agiardullo commented on #732
That should work.  What file(s) do you see being used in /tmp?  And what version rocksdb are you running?

[2015-09-22 21:46] noahdesu commented on #732
I'm using master, but I've also tested with 3.12.1 and saw the same issue.

I'm running like this:

[code]

And I can example what's going on, and I don't see my TMPD utilized. I don't see any files open in the directory I specified:

[code]

But in tmp there are plenty of rocksdb files open.

[code]

[2015-09-22 21:48] siying commented on #732
It is `TEST_TMPDIR=<your_tmp_dir>`

[2015-09-22 21:50] noahdesu commented on #732
Doh. Thanks!

On Tue, Sep 22, 2015 at 3:49 PM, Siying Dong <notifications@github.com>
wrote:

[2015-09-23 01:27] edsrzf opened #733 "Build an amalgamation"
Would there be interest in a RocksDB amalgamation? The idea is similar to the SQLite amalgamation: https://www.sqlite.org/amalgamation.html

In summary, it would be a way of distributing all of RocksDB in 3 source files:
* A .h file that contains all RocksDB public headers (except c.h) concatenated
* c.h
* A .cc file that contains all RocksDB .cc files concatenated with private header inclusions e

[2015-09-23 08:31] igorcanadi commented on #733
That's pretty interesting. Can you build it on top of our existing unity build? https://github.com/facebook/rocksdb/blob/master/Makefile#L600

[2015-09-23 09:18] dhruba commented on #733
Sounds like a good idea. Will this patch involve modifications to the Makefile only or also to rocksdb source code?

[2015-09-23 11:20] fourlastor opened #734 "[Java] initializing the native library on Android fails"
Hello,

I'm not sure if you're already supporting Android as a platform (I'm guessing yes because a quick search shows there are precompiler directives to check `OS_ANDROID`).

Basically trying to initialize the native library via `RocksDB.loadLibrary()` fails at https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/NativeLibraryLoader.java#L101 due to missing `Files`, `Fi

[2015-09-23 11:34] adamretter commented on #734
Okay so those classes came in NIO.2 which means you will need at least Java 7. I am not familiar with Android development, so do you have Java 7 SDK classes available?

[2015-09-23 11:35] fourlastor commented on #734
Android doesn't have those classes in nio https://developer.android.com/reference/java/nio/package-summary.html

[2015-09-23 13:35] adamretter commented on #734
Hmm so it seems like Android is based on and has stayed with JDK 6. Unfortunately the Rocks Java API requires at least Java 7.

[2015-09-23 13:55] fourlastor commented on #734
Would it be feasible to switch to something like [Okio](https://github.com/square/okio)? Or would it be too much of a dependency?

[2015-09-23 19:15] edsrzf commented on #733
My plan is:

* Start with the unity build
* Write a script to do some preprocessing to expand private inclusions
* The concatenated header can be created by simply using the cat Unix utility (I think)
* Add a Makefile rule

My choice would be to write the script in Python, but I can write it in bash or even C++ if others have preferences.

I don't anticipate having to modify any RocksDB source cod

[2015-09-23 19:57] edsrzf commented on #733
Actually cat won't work for the public header due to dependencies between the headers (duh), so the script will probably have to generate that too.

[2015-09-24 12:37] DerekSchenk commented on #606
I tried to upgrade to 3.13.1 but ran into 2 issues.  The first is that the published library on OSSRH was not compiled with SNAPPY linked, so if you have compression enabled your out of luck.  The send was that backwards compatibility was broken because the ColumnFamilyDescriptor constructor was changed from taking a String arg to byte[].  Any chance of recompiling with SNAPPY included, and added

[2015-09-25 01:37] edsrzf commented on #733
I've been playing with this a little bit and am curious about the unity build. What is it actually used for and why does it have a main function? It contains some stuff that wouldn't be needed in an amalgamation, like source used for the ldb command-line tool. Is that intentional?

[2015-09-25 21:00] igorcanadi commented on #733
@edsrzf I don't know who and why uses unity. It was contributed by our open source community very early on: https://github.com/facebook/rocksdb/pull/228

[2015-09-26 01:12] edsrzf commented on #733
@miguelportilla or @vinniefalco can you please advise? If I make unity.cc compile to a library instead of an executable and remove unnecessary, non-library sources, will it mess you up?

[2015-09-26 02:54] vinniefalco commented on #733
@edsrzf Well, if stuff like the ldb command-line tool made it into the unity.cc file then it probably shouldn't belong there. The main purpose of unity.cc is to allow rocksdb developers to know if they would break a unity build (for example, by introducing two variables at file-scope with the same name). We don't use the unity.cc file directly (we use this instead: https://github.com/ripple/ripple

[2015-09-26 03:06] edsrzf commented on #733
Thanks for the response.

I don't plan to change unity.cc into an amalgamation, but generate an amalgamation from unity.cc. The only changes I'd make would be:

* Change the .cc file inclusions to use `#include` with quotes instead of angle brackets
* Get rid of the main function and compile as a library
* Remove ldb files and any others that seem irrelevant

It doesn't sound like any of those thi

[2015-09-26 03:35] Downchuck opened #736 "OS X Build require ignoring unused private fields"
OPT needs this on OS X to compile master.
[code]

[2015-09-26 12:39] vinniefalco commented on #733
@edsrzf The changes you listed seem benign

[2015-09-26 16:49] Downchuck opened #738 "ZSTD Not included in JNI build"
In Makefile there are lib.a builds for four compression libraries (libz, libbz2, libsnappy, liblz4), but the new experimental zstd is missing.

[2015-09-26 16:58] Downchuck commented on #738
In ./build_tools/rocksdb-lego-determinator run_no_compression, ztsd is not explicitly excluded as the other compression libraries are.

[2015-09-28 18:04] igorcanadi commented on #729
Did you `make clean` before trying to compile again?

[2015-09-28 19:37] igorcanadi commented on #736
Should be fixed by https://github.com/facebook/rocksdb/commit/0fdb4f1688ebe160944c30c213f5afad4b13fb0f. Thanks for the report.

[2015-09-28 19:37] #736 closed

[2015-09-28 23:57] Downchuck opened #739 "Tests seem to break when running parallel compile"
Running "make -j" seems to work fine until it hits the tests section, then things get sad.