[2019-05-10 09:04] cburgdorf commented on #908
@riversand963 I'm trying to figure out if the feature I'm looking for is already available and if so how I would use it. I tried digging into #4899 and the changelog but I don't have much understanding of the internals to get the plain English answer that I'm looking for. Can you help me out?

Basically, what I need is:

1. One processes maintaining a read/write connection to the DB
2. Multiple re

[2019-05-10 16:40] riversand963 commented on #908
Hey @cburgdorf, #4899 is available in 6.1, though we have not officially announced this feature yet.
If your code always disables WAL, you can already try it out with 6.1. There are two new functions `rocksdb::DB::OpenAsSecondary` that you can call to open a DB in secondary mode. You can check https://github.com/facebook/rocksdb/blob/master/include/rocksdb/db.h#L184 for more details.
The secondary

[2019-05-10 17:22] cburgdorf commented on #908
Hey @riversand963 thank you very much for your detailed answer! That is very helpful :+1:
I'll try to see if I can get that working. I have created a [tracking issue](https://github.com/twmht/python-rocksdb/issues/50) in `python-rocksdb` to expose the new `OpenAsSecondary` function.

[2019-05-10 21:27] caronzh03 opened #5297 "BlockBasedTableConfig is not loaded from Options file"
### Expected behavior
Given an options file auto-generated by a previously built rocksdb instance, `OptionsUtil.loadLatestOptions()` should load that options file and deserialize the `[TableOptions/BlockBasedTable "default"]` section into a `BlockBasedTableConfig` object.

### Actual behavior
`OptionsUtil.loadLatestOptions()` does not parse the `[TableOptions/BlockBasedTable "default"]` section of

[2019-05-11 14:39] wolfkdy commented on #4402
The proposal of parallel occ for rocksdb
https://groups.google.com/forum/#!topic/rocksdb/KS047z_pQJQ

[2019-05-14 03:25] BusyJay opened #5303 "Build fail with gcc 9"
### Expected behavior

Compilation completes successfully.

### Actual behavior

Compilation failure:

[code]

### Steps to reproduce the behavior

[code]
Simple make command can reproduce the error.

[2019-05-14 07:25] wanghenshui commented on #5303
Introduced by gcc 9's new warning checker [-Werror=deprecated-copy]

Here is a fix example:
https://github.com/tsduck/tsduck/issues/205

[2019-05-15 21:15] ableegoldman commented on #4195
Hi @christian-esken @adamretter  --I know this was a while ago but when adding CompactRangeOptions you deprecated several of the existing RocksDB.compactRange() to leverage this new options object. However none of the new APIs allow you to specify a CompactRangeOptions without also specifying a begin, end range.

Is this a gap in the API? We would like to compact the entire range (and don't know t

[2019-05-15 21:31] ableegoldman commented on #4195
Ah nvm, I was working with v5.18 but I see this is fixed in v6 by passing in null -- ignore the above

[2019-05-16 12:09] BusyJay commented on #5303
It doesn't compile with clang 8 either unfortunately.

[code]

[2019-05-17 01:42] zhangjinpeng1987 opened #5317 "level 6 overlap bug"
### Expected behavior
RocksDB version: 5.15.10
L6 sst should not have overlap.

### Actual behavior
I dumped the manifest and found overlap.
[code]

The configurations can be checked in [LOG](https://github.com/facebook/rocksdb/files/3189558/LOG.log) file

### Steps to reproduce the behavior
I tried to dump the manifest file, and found assert error, i skip the assert and ldb printed the overlap in

[2019-05-17 01:45] zhangjinpeng1987 commented on #5317
Unfortunately the original MANIFEST file cannot submitted as an attachment.

[2019-05-17 22:56] klion26 opened #5318 "RocksDBException: While open a file for appending xxx.sst No such file or directory"
Run a program in Flink using RocksDB, and encountered this Exception(have set max_open_files to -1), Googled and find the issues, but didn't figure it out.

What could be the reason? any feedback is welcome.

### Expected behavior
No Exception

### Actual behavior
RocksDBException: While open a file for appending xxx.sst No such file or directory

[2019-05-20 04:39] portsip opened #5321 "Rocksdb requires snappy even I specified use zlib"
### Expected behavior
Hi, on the windows 10 and VS2019, I've compiled rocksdb with -DWITH_ZLIB=ON and linked to ZLIB, but when test the simple_example.cc, it'failed with DB::Open and the error is "Compression type Snappy is not linked with the binary".

Before DB::Open I've added options.compression = CompressionType::kZlibCompression", but still got the same error.

How can I use the zlib to inst

[2019-05-20 12:13] jsteemann opened #5322 "Block cache is not transparent"
When enabling the block cache for storing uncompressed data blocks and at the same time enforcing the block cache's `strict_capacity_limit`, reads that try to populate the block cache but fail due to the capacity restriction fail with Status::Incomplete.

I had hoped that the block cache would behave transparently, i.e. serve an item from the cache if it's present in it, and fall back to reading i

[2019-05-20 15:45] steven05jiang commented on #5151
Thanks @adamretter. I looks like the similar issue.

[2019-05-20 18:38] sagar0 commented on #5318
RocksDB could throw this error if it can't find the file/directory that it is trying to open for writing, from here: https://github.com/facebook/rocksdb/blob/6.1.fb/env/env_posix.cc#L291

RocksDB logs could provide more information about the life of "xxx" file. Do you see anything in there? Or did some external process affect xxx.sst?

Could you also provide more information about your setup?
- Di

[2019-05-20 18:38] yiwu-arbug commented on #5317
Some more info below and I'm wondering if there are any advice on how we can investigate further. Thanks.

We get a copy of corrupted instance. Unfortunately the application fall into crash loop and both the info log and history in MANIFEST has been purged.

Some of the files in the bottom level consist of ranges of keys in sorted order, but it is not sorted between these ranges. For example, for

[2019-05-20 20:56] pombredanne opened #5324 "Some files still reference the old PATENTS file"
Text such as :
[code]
is still present in some notices, even though this PATENTS file is now gone.

See: https://github.com/facebook/rocksdb/search?q=patents&unscoped_q=patents

- https://github.com/facebook/rocksdb/blob/cd43446d017fd3929e5883bccf1206afafd57952/util/crc32c_ppc.h
- https://github.com/facebook/rocksdb/blob/6c2bf9e916db3dc7a43c70f3c0a482b8f7d54bdf/util/ppc-opcode.h
- https://github.c

[2019-05-20 21:00] pombredanne opened #5325 "Ambiguous license notice in code files"
Code files have this type of notice:
[code]
Taken alone such a notice is a tad ambiguous? fdo both the GPL and the Apache license apply?

Of course the README makes this clear that this is a choice (e.g. OR, not AND):

[code]

It would be great to have clear source code-level notices.

[2019-05-20 21:25] sagar0 commented on #5324
Thanks for brining this to our attention. I believe this is unintentional.
#5326 -- to fix this.

[2019-05-21 17:16] sagar0 commented on #5317
How many DB instances run on the problematic node? If more than one, are all the DBs on the node experiencing similar issues?

Since you said you don't have a copy of the log, do you have any other information/clue on how these file could have been generated? I can't think of how this could happen, and it is relatively hard to figure this out without a reproducible test case.

@yiwu-arbug @zhangji

[2019-05-21 19:04] yiwu-arbug commented on #5317
@sagar0 There's only 1 instance got in the issue. Sent the manifest to you offline. It feels scary rocksdb can get into such a corrupted state. Does it feel more like a corrupted key in the middle of a file cause disorder in merge sort, or some memory corruption inside rocksdb, or something else?

[2019-05-21 19:46] ajkr commented on #5317
Do you have this patch? #4575. I am not sure it's related - just thinking about if there might be some edge case if RocksDB wrongly determines a file is bottommost when it actually is not.

[2019-05-21 20:30] yiwu-arbug commented on #5317
@ajkr Thanks for the pointer! The instance is on 5.15 and not include the patch. But it is using byte-wise comparator.

[2019-05-21 23:18] ajkr commented on #5265
Sorry @siying I missed your question until just now. It sounds reasonable.

Soon, I will have the misfortune of applying Cockroach-specific PRs to 6.2.fb. At that point, it might be feasible to submit a new PR with that optimization for seeking directly to the range tombstone end key.

[2019-05-22 10:52] nullne commented on #761
@yinyi26 which version do you update to ?

[2019-05-22 18:36] rbost commented on #5169
Fixed in 468ca61

[2019-05-22 18:36] #5169 closed

[2019-05-23 18:11] sagar0 commented on #5324
Fixed in #5326.

[2019-05-23 18:11] #5324 closed

[2019-05-24 12:03] klion26 commented on #5318
Sadly, the log was deleted when the job failed.

- We use local filesystem
- Not a newly created DB, there has been some data already in it.
- No changes (but after restarting the job, the error is gone)
- There is no other process having write access to the DB directory
- I've searched the issue in flink jira, but didn't find it.

[2019-05-24 19:22] iFA88 opened #5358 "Compaction doens't happen during write"
Greetings!

I use `RocksDB version: 6.0.2` with many column families.
I'm synchronizing my database from an other database with about 1-5MB `WriteBatch` chunks. The process takes many days to complete and during the writes the `*.log` growing up which is normal behavior.
I have noticed, that few hours/days later the compaction doesn't does his work and i have 10-20 .log file which total size is 20

[2019-05-25 07:54] edwinchoi commented on #5234
+1
I really wish the Java API placed more emphasis on detecting unstable states and making them observable from the JVM rather than relying on the system to abend the process when it tries to do something that isn't kosher. In your case, if you enable assertions you _should_ get an AssertionError, but that's because the disposal of the handle was done in Java. If an object becomes unreachable and

[2019-05-27 13:05] iFA88 commented on #5358
Some update. I have restarted my application because it was 378 `.log` file in the database directory, with total of 100gb size. The database size was in that moment ~650Gb.
During starting my app the `recovery_started` has been started and recovered all LOG files like:
[code]
The recovering has been taken ~15 minutes, after this was some table events for 1.5 minutes and then all `.log` files has

[2019-05-28 21:28] xenog commented on #5303
I managed to build and install RocksDB on my Fedora 30 system with these commands:

[code]

I hope that information is useful for anyone else trying.

[2019-05-30 16:31] vanturman commented on #5012
So, could you tell me how to solve this problem? I tried to fix this the whole day but still can not fix it. Thx @suzanne-stathatos

[2019-05-30 16:40] suzanne-stathatos commented on #5012
@vanturman I included Rpcrt4.lib in my cmake file. Alternatively, you could include it in the source code file that uses rocks, per the suggestion here https://stackoverflow.com/questions/1991941/how-to-solve-link-error-on-call-to-uuidtostring

[2019-05-30 16:40] #5012 closed

[2019-05-30 16:51] vanturman commented on #5012
Thx. I have tried your solution but it doesn't seem work. I think this is the key point that causes this link problem below.

Only the rocksdb c interface is in the symbol file of the lib. The rocksdb.dll file in the bin directory also only has the c interface.
The C++ interface for rocksdb does not include export declspecs at all, so rocksdb would need to be built as a static library, not a share

[2019-05-31 06:22] maohaihua commented on #5065
May it is the reason,so close the issue.

[2019-05-31 06:22] #5065 closed

[2019-05-31 10:34] mm304321141 opened #5392 "DeleteRange Bug: random test failed"
Here is some code to test `DeleteRange`
I build this test at RocksDB v5.9 , and found `DeleteRange` has some bug ?
we switch to v5.18 recently , this test still touch assert ...
I tried branch master , it's still not fixed :c

is this test has issues ? or it's really a bug of `DeleteRange` ?

this test may take a few minutes , pls run in debug mode and be patient wait ~
`./test /path/to/db/dir`

[

[2019-05-31 15:39] siddontang commented on #5287
@ajkr

have you met this problem already? how about the phenomenon?

[2019-05-31 15:48] ajkr commented on #5287
Hi @siddontang, we didn't meet this problem in production. Rather it was found via code inspection. I'd guess the symptom would be the DB is unable to open after machine crash/restart since a file mentioned in the manifest cannot be found on the disk (or with limited `max_open_files`, maybe it'll fail later when a read/compaction attempts to access such a file).

[2019-05-31 16:24] ajkr commented on #5392
Sorry you ran into this. There is a known problem that `WriteBatchWithIndex` is incompatible with `DeleteRange` yet does not return an error to the user. It was previously reported here: https://github.com/facebook/rocksdb/issues/5260.

[2019-05-31 17:06] ajkr commented on #5260
@siying What do you think of the above mentioned idea to use a regular iterator that treats the write batch as the newest level in the LSM, rather than `BaseDeltaIterator`? Do you think it's feasible?

[2019-05-31 19:30] miasantreble commented on #5239
We can either 1) keep `num_non_empty_levels_` at 0 since there isn't really anything in the level, or 2) add more checks in version_set before reading `smallest_key` or `largest_key`.
@ajkr do you mind comment on which one makes more sense?

[2019-05-31 19:43] ajkr commented on #5239
I think we need to store the smallest/largest keys in SST properties meta-block. Then we can get the correct ones during `Repair`. We aren't able to infer the proper smallest/largest keys by looking at the range tombstone meta-block due to how range tombstones are implicitly truncated by forging smallest/largest keys in the MANIFEST, but the truncation is not reflected in any way in the SST.

Hm,

[2019-05-31 19:54] ajkr commented on #5239
Also, it looks like RepairDB doesn't guarantee files are added to L0 in the right order. Without that guarantee it seems dangerous to use this feature at all because newer key versions could be covered by older key versions. I wonder why we don't handle that or if I'm missing something.

[2019-05-31 21:59] #4995 closed

[2019-06-02 02:32] mm304321141 commented on #5392
ok, let's remove the `WriteBatchWithIndex`
`Assertion failed: (i0->value() == i1->value())`
[code]

[2019-06-02 08:14] louishust opened #5404 "How to merge bugfix from master?"
Hi, I am newbee of rocksdb and try to develop some feature based on release tag: v6.0.2, but there are some compile error which is fixed in master branch, so I want to know the official process how to merge specific commit (bugfix) from master?
Thanks a lot!

[2019-06-03 08:40] libaineu2004 opened #5405 "VC++ MFC Detected memory leaks"
### Expected behavior
I used VS2015 to create a new MFC multi-document project, and then introduced the db
library into the project, only the private declaration in the class:
#include <rocksdb/db.h>
CString strFilePath = GetCurPrjDir() + _T("\\ConfigData\\testdb");
std::string dbpath = CT2A(strFilePath.GetBuffer());
rocksdb::DB* db;
rocksdb::Options options;
options.create_if_missing = true;

Whe

[2019-06-03 17:20] siying commented on #5404
Which compilation error did you see?

[2019-06-03 19:34] ajkr commented on #5392
(1) `Put`, (2) `DeleteRange`, (3) `Merge`, then (4) `Flush` seems to be a sequence of death. Good job finding it. Our correctness test uses a merge operator that only returns the latest operand for the key so wouldn't be able to detect old versions reappearing. Seems like a big deficiency in retrospect.

Here's a simplified repro:

[code]

[2019-06-03 22:12] rbrasga opened #5409 "Assert Failures on test case DynamicUniversalCompactionReadAmplification"
In reference to the test case DynamicUniversalCompactionReadAmplification at:
db/db_universal_compaction_test.cc : 454 to 558

This test case failure was mentioned here (as a result of different changes) and apparently never resolved: https://github.com/facebook/rocksdb/pull/4562

### Expected behavior

I expect `make commit_prereq` to run successfully to completion

The comment in the code states

[2019-06-03 22:43] anand1976 commented on #5405
What objects are being leaked? Does it report a stack profile of those allocations?

[2019-06-03 23:19] rbrasga commented on #5409
Also, make this change on line 501 resolved the issue:

-`for (int i = 0; i < 11; i++) {`
+`for (int i = 0; i < 9; i++) {`

[2019-06-04 00:02] rbrasga commented on #5409
A different potential fix is:

db/db_universal_compaction_test.cc:469
-  options.write_buffer_size = 100 << 10;     // 100KB
+  options.write_buffer_size = 120 << 10;     // 120KB

[2019-06-04 00:34] louishust commented on #5404
@siying

[code]

which was fixed in master `d9d3cacaf558e55892a68d66cc7a160213205a3f`.

Cause I checkout a new myself branch with tag: v6.0.2, which not contains the bugfix,
i want to know the regular process of how to merge the bugfix patch ?

[2019-06-04 00:38] siying commented on #5404
@gfosco should we just backport this to 6.0.2 and release the fix? It doesn't feel good to have some users fail to build our most recent release version in some environments.

[2019-06-04 00:51] louishust commented on #5404
@siying Is there a document describe the relation between each branch and how to release a version, how to merge bugfix on already released version?
I am confused about the branches relationship

[2019-06-04 02:02] libaineu2004 commented on #5405
Detected memory leaks!
Dumping objects ->
{6845} normal block at 0x0131EAB0, 64 bytes long.
 Data: <0L1 0L1 0L1 0L1 > 30 4C 31 01 30 4C 31 01 30 4C 31 01 30 4C 31 01
{6844} normal block at 0x0131CE68, 8 bytes long.
 Data: << 1     > 3C FB 31 01 00 00 00 00
{6843} normal block at 0x0131CE30, 8 bytes long.
 Data: <0 1     > 30 FB 31 01 00 00 00 00
{6842} normal block at 0x01314C30, 52 bytes long.
 D

[2019-06-04 02:06] vanturman commented on #5012
I don't mean to bother you. However, could you tell me how to include Rpcrt4.lib in the cmake file. Is  cmake file the vcpkg/ports/rocksdb/portfile.cmake file, right? Thx a lot.

[2019-06-04 09:29] ras0219-msft commented on #5012
@vanturman You'll need to include rpcrt4.lib in your consuming project

[2019-06-04 17:24] #5392 closed

[2019-06-04 22:23] rbrasga commented on #5409
Note: those changes work for the default unit tests, but fail for ASAN.

[2019-06-05 06:21] vanturman commented on #5012
@ras0219-msft Thanks a lot.

[2019-06-05 07:20] feliwir opened #5417 "Assertion failed in BlockAccessCipherStream"
Hey, i get an assertion failed exception inside the `BlockAccessCipherStream:737` when opening a TransactionDB or OptimisitcTransactionDB:
`assert(fileOffset < dataSize);` with dataSize being 0 and fileOffset being 16.
I use the LZ4 compression and a custom comparator. My RocksDB version is 6.1.1, but it happened for other versions aswell.

### Expected behavior
The database is created succesfully

[2019-06-05 14:22] redmeadowman opened #5418 "Segfault in BG Compaction"
I frequently see a SIGSEGV in the BG thread performing compaction.  This is in version 6.2.0 (just pulled latest code 6/4/2019).

Program received signal SIGSEGV, Segmentation fault.
[Switching to Thread 0x7feb863a5700 (LWP 3638)]
0x00007ffff4ce3b59 in std::string::assign(std::string const&) ()
   from /lib64/libstdc++.so.6
(gdb) up
#1  0x00007ffff734d465 in operator= (__str=..., this=0x7feb863a1b

[2019-06-05 17:29] rbrasga commented on #5409
It looks like my issue was ROCKSDB_JEMALLOC is enabled during the normal 'unit' test run, and disabled during the 'asan' test run.

\+#ifdef ROCKSDB_JEMALLOC
\+  options.write_buffer_size = 120 << 10;     // 120KB (75% buffer)
\+#else
\+  options.write_buffer_size = 100 << 10;     // 100KB
\+#endif

[2019-06-06 08:50] kyleyuanmh commented on #1820
Is there someone has found the solution? I confront the same problem :

" Please install gflags to run rocksdb tools "

[2019-06-06 13:14] biocodz commented on #5303
I encounter the same problem using GCC 9.1 on Ubuntu 18.04
The `deprecated-copy` error explanation is as follows.
[Here](https://github.com/facebook/rocksdb/blob/master/db/version_edit.h#L55) a copy assignment operator is defined.
[Here](https://github.com/facebook/rocksdb/blob/master/db/version_edit.h#L87) `FileDescriptor fd;` is declared and [Here](https://github.com/facebook/rocksdb/blob/master

[2019-06-06 13:54] kyleyuanmh commented on #1775
Is there some solution to solve this problem??

[2019-06-06 14:00] kyleyuanmh commented on #4694
can someone help to solve this problem:

[root@node1 tools]# ./benchmark.sh bulkload
===== Benchmark =====
Start bulkload at 2019年 06月 06日 星期四 21:46:07 CST
Bulk loading 8000000000 random keys
./db_bench --benchmarks=fillrandom --use_existing_db=0 --disable_auto_compactions=1 --sync=0 --db=/raid/db --wal_dir=/raid/wal --num=8000000000 --num_levels=6 --key_size=20 --value_size=400 --block_size=8192

[2019-06-06 23:10] yiwu-arbug commented on #5317
Adding option to keep info log on crash loop, so that next time we at least have some log for debugging.. #5423

[2019-06-07 15:15] biocodz commented on #5303
Voila, a pull request [here](https://github.com/facebook/rocksdb/pull/5426)

[2019-06-07 21:17] pgiffuni opened #5429 "Problems building with clang 8 (on FreeBSD)"
I noticed while building with the latest cockroachdb:
'/usr/ports/databases/cockroach/work/cockroach-v19.1.1/src/github.com/cockroachdb/cockroach'
Running make with -j4
GOPATH set to /usr/ports/databases/cockroach/work/cockroach-v19.1.1
[  0%] Building CXX object CMakeFiles/rocksdb.dir/db/builder.cc.o
[  3%] Building CXX object CMakeFiles/rocksdb.dir/db/column_family.cc.o
[  3%] Building CXX objec

[2019-06-08 01:09] ljgreen commented on #4694
you should install gflags.
sudo apt-get install libgflags-dev
https://github.com/gflags/gflags

[2019-06-08 05:40] kyleyuanmh commented on #4694
thats the problem: i have already installed the gflags and libgflags; it still not work..

[2019-06-09 18:33] ljgreen commented on #4694
you should add -DBUILD_SHARED_LIBS=ON when using cmake

[2019-06-09 20:16] ljgreen commented on #761
Why the same issue occurs?

When I test with ./db_bench --benchmarks="fillsync"

open error: Invalid argument: Compression type Snappy is not linked with the binary.

I have already installed the snappy, but it does not work.

Some one could help me figure out ?

Thanks

[2019-06-09 22:17] ljgreen commented on #761
Finally, I address the issue by upgrading the snappy verison. If you have the same problem, you can also solve that.
libsnappy-dev_1.1.7 is required.

[2019-06-10 05:25] kyleyuanmh commented on #4694
i did that, and i install gflags with ccmake with configure option:

 BUILD_PACKAGING                  ON
 BUILD_SHARED_LIBS                ON
 BUILD_TESTING                    ON
 BUILD_gflags_LIB                 ON
 BUILD_gflags_nothreads_LIB	  ON
 CMAKE_BUILD_TYPE                 Release
 CMAKE_INSTALL_PREFIX             /usr/local
 REGISTER_BUILD_DIR               ON
 REGISTER_INSTALL_PREFIX

[2019-06-10 21:42] ljgreen commented on #4694
Which system do you use ? In addition, you can try to install glog after gflags installation.
Both are required by the rocksdb benchmark.

[2019-06-10 21:45] ljgreen commented on #4694
BTW, cmake verison in my computer is cmake version 3.10.2. Probably it could also affects the compiling results. Hope it could help you more or less.

[2019-06-12 02:41] kyleyuanmh commented on #4694
[root@node1 ~]# cat /proc/version
Linux version 3.10.0-957.12.2.el7.x86_64 (mockbuild@kbuilder.bsys.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC) ) #1 SMP Tue May 14 21:24:32 UTC 2019

i updated the cmake to the newer version.
# cmake --version
cmake version 3.15.0-rc1

CMake suite maintained and supported by Kitware (kitware.com/cmake).

[2019-06-12 21:17] maysamyabandeh commented on #5409
@rbrasga The test seems to be badly designed and present different behaviors in different platforms. The proper fix seems to be a redesign of the test rather than tweaking the numbers. Let's keep this issue open in case one was interested in working on it.

[2019-06-12 21:37] maysamyabandeh commented on #5417
This feature was introduced in https://github.com/facebook/rocksdb/pull/2424.
@feliwir If you provide the stack trace as well as a unit test that could be run independently, the author, @ewoutp, might be able to help.

[2019-06-12 21:41] sagar0 commented on #5417
Without having a trace I cannot be certain, but I guess #5396 could fix some of the issues.

[2019-06-12 21:57] maysamyabandeh commented on #5429
@pgiffuni Thanks for the report. I wonder what is the least intrusive fix to this. We can of course rename all the names inside InternalStats class but would be better to avoid all the renaming. Is there a way to silence clang 8 on this? Would using namespace on InternalStats help?

[2019-06-12 22:08] maysamyabandeh commented on #5418
Thanks @redmeadowman for the report. You seem to be hit by a bug but from the stack trace itself I cannot figure the root cause. Can you run your code with ASAN? That should give more details about the bug. You can enable ASAN by the setting env variable COMPILE_WITH_ASAN=1 before running make.

[2019-06-12 22:36] redmeadowman commented on #5418
Hi @maysamyabandeh, I will try to do that in the next few days and post the result.
In the mean time, here is another clue. I found if I set KCompactionStyleUniversal before opening the database then I don't see the crash.

// The default compaction style causes a SIGSEGV, so change to this one
m_db_options.compaction_style = rocksdb::kCompactionStyleUniversal;

[2019-06-14 12:06] feliwir commented on #5417
I'll check if i can reproduce the stack trace and add it here then.

[2019-06-14 12:24] feliwir commented on #5417
So this is the stack trace from gdb:
https://gist.github.com/feliwir/1a08274a1a0f66b3cb5be3ef8b34e6b3

[2019-06-14 14:04] graetzer opened #5455 "Corruption error when calling GetUpdatesSince()"
When using the `GetUpdatesSince(..)` method we regulary see a corruption error with the message "NO MORE DATA LEFT".

It seems to me like there is a condition in the `TransactionLogIteratorImpl::NextImpl()` method, that would always lead to this error when a new WAL file is openened (while concurrently scanning the WAL). The code in question is this piece:

[code]
Seems like the sequence number re

[2019-06-15 09:23] adamretter opened #5460 "mingw compilation fails on Ubuntu 18.04 (Bionic)"
Compiling RocksDB on Ubuntu 18.04 (Bionic) with mingw fails.

The steps I took:
[code]

The error:
[code]

@tamird Any ideas about how to fix this? I tried modifying `port/sys_time.h` to be like:
[code]

But that just leads to problems elsewhere in the compilation related to `localtime_r`.

This is the last issue I need to solve to enable us to update Travis CI to Xenial (https://github.com/facebo

[2019-06-15 11:49] tamird commented on #5460
Xenial has a newer version of mingw-w64 which is more standards compliant. Per the [man page of `localtime_r`](https://linux.die.net/man/3/localtime_r):
[code]

Here's time.h in trusty (v3.1.0): https://github.com/mirror/mingw-w64/blob/v3.1.0/mingw-w64-headers/crt/time.h

Here's time.h in xenial (v5.0.1): https://github.com/mirror/mingw-w64/blob/v5.0.1/mingw-w64-headers/crt/time.h

So I think you

[2019-06-15 19:56] adamretter commented on #5460
@tamird thanks for the suggestion, unfortunately it doesn't seem to help.

[2019-06-16 14:56] tamird commented on #5460
I was able to reproduce. Here's what fixed it:
[code]

My guess is that #define in `port/sys_time.h` is too late. Hope this helps!

[2019-06-16 17:39] wangshuaifei opened #5462 "Segmentation fault in open with rocksdb-5.16.6"
### Expected behavior
open success in c++ api

### Actual behavior
open failed

### Steps to reproduce the behavior
# db.h code is
#ifndef MY_DB_H
  2 #define MY_DB_H
  3
  4 #include<stdio.h>
  5 #include<string.h>
  6 #include<iostream>
  7 #include "rocksdb/db.h"
  8 #include <unistd.h>
  9
 10 namespace wfs{
 11
 12 static std::string DBPath= "/root/wfs";
 13 static rocksdb::DB *db;
 14
 15 in

[2019-06-16 18:29] adamretter commented on #5460
@tamird That fixes the issue. Awesome! - thank you very much :-)

[2019-06-16 18:29] #5460 closed

[2019-06-17 00:48] yiwu-arbug opened #5463 "Range scan optimization #5111 cause MyRocks test failure"
#5111 caused MyRocks test rocksdb.optimizer_loose_index_scans to fail initially. #5428 partly revert the optimization, but MyRocks test rocksdb.group_min_max is still failing after that. The patch is reverted by #5440. Open an issue to track.

### Expected behavior
The optimization should not fail MyRocks test.

### Actual behavior
Both rocksdb.optimizer_loose_index_scans and rocksdb.group_min_max

[2019-06-17 01:01] yiwu-arbug commented on #5463
Hi @ltamasi and @siying. I added some more assert on top of #5428 and run the rocksdb.group_min_max. I find although `iterate_lower_bound` pointer is not changed, the content of it has changed for the same iterator.

My debug patch: https://github.com/yiwu-arbug/rocksdb/commit/98677c70496d3763b22f5d4bd513a638cdddd023
Sample output when I run rocksdb.group_min_max: https://gist.github.com/yiwu-arbu

[2019-06-17 10:59] jevolk opened #5466 "v5.17 unconditionally spawns a thread on DB open which does nothing"
Circa release 5.17 the following code was added to `rocksdb::SanitizeOptions()`
[code]
forcing the creation of a `rocksdb::SstFileManager` which contains a `rocksdb::DeleteScheduler` member which then contains a call to `new rocksdb::port::Thread` which is already improperly typedef'ed to `std::thread` rather than using `Env` threading callbacks (see #4654). I don't see any condition which makes i

[2019-06-17 17:48] maysamyabandeh commented on #5455
Thanks @graetzer. Changing it to ::TryAgain makes sense to me. Are you interested in submitting a PR?

[2019-06-17 18:25] maysamyabandeh commented on #5462
This does not seem like a bug; more like how to use rocksdb. Such question are better posted in user group where many other users could help learning how to work with rocksdb: https://www.facebook.com/groups/rocksdb.dev

[2019-06-17 18:25] #5462 closed

[2019-06-17 18:39] yiwu-arbug commented on #5463
Checked with @siying and confirmed MyRocks may change iterate bounds between seek. Not sure if this is official supported API, but will fix for it.

[2019-06-18 01:26] graetzer commented on #5455
Sure thing https://github.com/facebook/rocksdb/pull/5474

[2019-06-18 07:03] meeepo opened #5478 "why ssd iops very low on cloud ssd?"
I use tidb and it use rocksb as storage engine and running on aliyun cloud server with cloud ssd.

The ssd iops performance test is 15k iops via 4k write block size and 1k iops via 3k write block size(it's looks like a disk bug and appear on all cloud ssd)

And i found disk util very high to over 80%,iostat shows that avgrq-sz about 6.25,that means my ssd iops performance down to only 1/15 .

I tr

[2019-06-18 08:12] wangshuaifei commented on #5462
Could you help me?what is wrong when I use api ? Thanks

[2019-06-18 18:43] #5478 closed

[2019-06-19 06:46] zhangjinpeng1987 opened #5486 "block-size not sanitized, set it larger than 4GB by mistake may cause data corruption"
### Expected behavior

When set block-size larger than 4GB, it should be forbidden.

### Actual behavior

When i set block-size as 8GB, RocksDB started up and encountered "Corruption: bad entry in block" error after some compaction.

### Steps to reproduce the behavior

1. Load data
2. Set block-size = 8GB
3. Compact range
4. Read data

@siddontang @yiwu-arbug

[2019-06-19 07:16] bugwz commented on #1179
Have you solved this problem?I have same one。

[2019-06-19 10:36] javeme opened #5487 "SIGSEGV (0xb) rocksdb::LRUHandleTable::~LRUHandleTable()+0x40"
### Actual behavior
Error info:
[code]

Stack: [0x000070000db7c000,0x000070000dc7c000],  sp=0x000070000dc79110,  free space=1012k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
[code]
### Steps to reproduce the behavior
This error will occur every time we run [dropTable()](https://github.com/hugegraph/hugegraph/blob/master/hugegraph-rocksdb/src/main/java/com/baidu/

[2019-06-19 12:14] javeme opened #5488 "RocksDBException: Too many open files in system"
### Expected behavior
Close file descriptor after dropping ColumnFamily.

### Actual behavior
When we frequently create and drop ColumnFamily([test scenario](https://github.com/hugegraph/hugegraph/blob/master/hugegraph-test/src/main/java/com/baidu/hugegraph/tinkerpop/StructureStandardTest.java)), the number of open file descriptors continues to grow until an error occurs:
[code]
Looking at the num

[2019-06-19 15:10] #5455 closed

[2019-06-19 16:00] koldat opened #5489 "Merge operation is not working properly for huge values"
### Expected behavior
Merge call should return correct value on subsequent call to Get. This is not happening when value becomes huge. It is returning older version of merge when there is no "sleep" before get which breaks contract that merge is atomic operation.

### Actual behavior
Get call after Merge does not return last value that should be seen. It happens only after some time (compaction fi

[2019-06-19 16:12] xin-au commented on #974
Wondering if I use `public static RocksDB open(final String path)`, there are no arguments I could close them, should I just call `rocksDB.close()`?

[2019-06-19 19:13] adamretter commented on #974
@xin-au Not sure I understand. If you open RocksDB like that, there are no column families, so you only need to call rocksdb.close

[2019-06-19 20:08] xin-au commented on #974
@adamretter , thanks for your response! And sorry for my unclear words. I just used function `public static RocksDB open(final String path)` without `column families`. And when I run some app tests, I noticed that seems my rocksdb not close properly, I did close the db and close the iterator, but I got the error :
[code]
What do you think? Is there anything I need to be aware when I close rocksdb?

[2019-06-19 21:49] miasantreble commented on #5486
I wrote a test but was unable to reproduce the failure, do you mind taking a look?
[code]

[2019-06-19 22:45] miasantreble commented on #5488
Hi, thanks for reporting.
Are you able to reproduce this issue in c++?
I wrote a test but doesn't seem to repro
[code]
Also it would be helpful if you can paste the content from lsof, so that we can identify the issue.
This is from my test:
[code]

[2019-06-19 23:01] miasantreble commented on #5489
Hi, thanks for reporting, can you please paste the error message you got?
I ran your test from master branch and it seems to work:
[code]

[2019-06-19 23:07] yiwu-arbug commented on #5486
@miasantreble try having two >4GB size values in a data block?

[2019-06-19 23:13] siying commented on #5486
@miasantreble as what @yiwu-arbug said, our restart offset is encoded as fixed uint32. If there is only one key in the block, the offset of the key is 0. But if there are multiple keys, the offset of the key might excceeds max of uint32_t. There is also a a keys per restart index setting, so that you might want to have many keys, or tune the restart index to be 1 to reproduce it.

But clearly bloc

[2019-06-20 03:40] javeme commented on #5488
@miasantreble Thanks for your reply, Is the version you tried in [5.14.2, 5.17.2, 5.18.3]?
Seems the version of the dependent library is too low on my mac, the c++ rocksdb can't be compiled.
If you really can't reproduce it in c++, we may try with a virtual machine. Or maybe it’s just a issue in jni?

The content from lsof:
[code]

[2019-06-20 03:44] javeme commented on #5488
I tried a minimal complete program that can be reproduced every time on version rocksdbjni 5.14.2.
[code]

[2019-06-20 06:31] koldat commented on #5489
I have made some changes to the test so you can see how unstable it is. I guess it has something with compaction, because I also randomly gets assertion during test here:
[code]

Anyway, here is my change:
[code]

Output is really weird:
[code]

Without sleep:
[code]

But sometimes with assert:
[code]

BTW it is probably not OS specific (this one was tested on latest debian). I am having same issu

[2019-06-20 06:45] koldat commented on #5489
Just to be complete. Here is test for master branch. See how random it is. It passed in first stage and fails in second. But the drop in size is there consistently.

[code]

[2019-06-20 08:35] koldat commented on #5489
The same on older 5.12.fb (my stable branch I use)
[code]

[2019-06-20 11:03] adamretter commented on #5488
Apart from loading the native library, the Java API does not do any file IO itself, so I doubt this is a file IO problem in the Java API.

[2019-06-20 15:24] zerapat commented on #4946
where do you add it? I tried passing via export RUSTFLAGS="-Wno-error=shadow" ang get following error: error[E0602]: unknown lint: `no_error=shadow`
  |
  = note: requested on the command line with `-W no_error=shadow`

[2019-06-20 15:46] knz commented on #4946
`-Wno-error=shadow` is a flag for the C++ compiler, not the rust compiler. I don't think it has anything to do with RUSTFLAGS.

[2019-06-20 15:47] knz commented on #4946
@sagar0 the issue repros with 8.0.0 release, not just RC.

[2019-06-20 20:39] #5486 closed

[2019-06-20 20:49] miasantreble commented on #5487
Hi, thanks for reporting.
Do you think it would be possible to reproduce the error in a standalone test? either in c++ or java?
Right now all I can tell is the `block_cache` ownership got messed up but there isn't much to investigate how that happened.

[2019-06-20 21:32] miasantreble commented on #5489
The difference between first stage and second stage is whether a TTLDB is used: https://github.com/facebook/rocksdb/blob/master/utilities/merge_operators/string_append/stringappend_test.cc#L584-L596

[2019-06-20 23:49] koldat commented on #5489
Yes, but issue is in both. See Size output. It drops down in both cases. It is probably that visible on huge values when compaction happens, but maybe points to serious issue, because merge must be atomic and consistent by its definition.

[2019-06-21 12:31] koldat opened #5496 "RocksDB crashes when one uses verify_compression with SST writer and ZSTD"
### Expected behavior
Rocksdb should not verify compression if dictionary is not set instead of crashing. It is almost impossible to find the root cause when one uses Java where `verify_compression` default value is set to true (instead of C++ default).

### Actual behavior
Application crashed in zstd library (no assertion like in debug).

### Steps to reproduce the behavior
I am using 6.1.2 versi

[2019-06-21 17:16] #5287 closed

[2019-06-21 20:01] miasantreble commented on #5496
Complete call stack in master(1bfeffab2dbff7eaf74a61cf52d57cf1404ef159)
[code]

[2019-06-21 20:23] miasantreble commented on #5496
@koldat are you suggesting that in `BlockBasedTableBuilder::WriteBlock` we should also check `uncompression_info.context_.uncomp_cached_data_.zstd_ctx_ != nullptr` before calling `UncompressBlockContentsForCompressionType`?
Hi @ajkr , do you know if this is a zstd specific requirement?

[2019-06-21 20:43] koldat commented on #5496
Yes that would be best, exception or error status. Or indictate that these options are not supported during open.

I would also change that default in Java binding that is inconsistent with c++. I can create pull request.

[2019-06-22 22:44] mango009 opened #5500 "proper way to clean up iterator"
I almost always get a core dump upon program existing. It is a simple program that uses Iterator in a std::unique_ptr.  The last statement of the program is to close the database by issuing a Close() call . Is there a specific way to ensure database clean up?

[code]

[2019-06-24 14:42] javeme commented on #5487
Ok, I will try to reproduce in a standalone test.

[2019-06-24 17:07] miasantreble commented on #5500
is it possible to paste your simple program? My guess is that you are doing double deletion but need to see your code to be sure

[2019-06-26 06:58] feliwir commented on #5417
So has anyone been able to figure out the problem with the stack trace? @sagar0 @maysamyabandeh

[2019-06-27 12:33] wolfkdy opened #5512 "memory leaked?"
https://github.com/facebook/rocksdb/blob/9dbcda9e3b9b59b76b247e24e9ebc4b9263197ff/db/db_impl/db_impl.cc#L3061

may be a stupid question, but I believe it leaks here. If not, someone would figure out how it is destroyed?

[2019-06-27 16:56] siying commented on #5512
Does alloca() allocate memory from the stack?

[2019-06-27 17:27] wolfkdy commented on #5512
shame, I did'nt recognize function alloca. It is from glibc, not somewhere from rocksdb.
This function allocates memory from stack but I never heard or used it.

[2019-06-27 17:32] #5512 closed

[2019-06-29 08:41] gdyang1990 commented on #5418
Is there any progress？We have encountered the same situation.

[2019-06-29 18:46] KOBA789 commented on #4215
@yaojingguo FYI: `postimg.org` seemed to be renamed with `postimg.cc`

https://s9.postimg.cc/h8c9jz0zz/Screen_Shot_2016_08_09_at_5_21_47_PM.png

[2019-06-30 15:34] Connor1996 commented on #5418
Hi @redmeadowman, does the crash happen right after opening, and then after several times of segfault and restart it recovers automatically?

[2019-07-01 04:17] zhuam opened #5523 "Rocksdb 6.0.1 crashed rocksdb::DBIter::FindNextUserEntryInternal"
Rocksdb 6.0.1 crashed

Instructions: (pc=0x00007f24c551a4f6)
0x00007f24c551a4d6:   f3 0f 6f 57 d5 f3 0f 6f 4e d5 b2 d5 66 0f ef d1
0x00007f24c551a4e6:   66 0f 38 17 c2 0f 83 17 03 00 00 f3 0f 6f 57 e5
0x00007f24c551a4f6:   f3 0f 6f 4e e5 b2 e5 66 0f ef d1 66 0f 38 17 c2
0x00007f24c551a506:   0f 83 fc 02 00 00 48 8b 47 f5 48 8b 4e f5 48 39

Register to memory mapping:

RAX=0x00007f1ff8010f40 is an

[2019-07-01 08:37] chrisxrepo commented on #5124
you can use a new jemalloc

[2019-07-01 18:04] redmeadowman commented on #5418
No, my code loads some large tables, then the balancing/compaction starts and it crashes during that phase.

[2019-07-02 09:29] huydx opened #5530 "Rocksdb not link against libdl"
### Expected behavior
Build shared lib with `make shared_lib`
Generated librocksdb.so file should link with libdl.
Not link against libdl will make build with app fail with `.so` file when it try to use `dlopen` method.

### Actual behavior
It's not linked with libdl

### Steps to reproduce the behavior
I'm using centos:latest docker file

Install latest dependencies using
[code]

Install shared l

[2019-07-02 18:49] #5463 closed

[2019-07-02 19:23] sagar0 commented on #5530
Wondering if there's a need to install any special package for getting libdl?
@mrambacher since you introduced support for loading dyanamic libraries into RocksDB, any chance you know about this?

[2019-07-02 19:29] mrambacher commented on #5530
What operating system and compiler are you using?  We did not have to
install any special packages here, but I can look into it for you if I know
what I am trying to find.

On Tue, Jul 2, 2019 at 3:23 PM Sagar Vemuri <notifications@github.com>
wrote:

[2019-07-02 20:03] sagar0 commented on #5523
Hi @zhuam - Is this consistently reproducible? If so, could you provide us a small narrowed down test case with the non-RocksDB code stripped out? That should greatly help in debugging further.

[2019-07-03 03:52] huydx commented on #5530
@mrambacher I'm using gcc-c++ default package of centos 7. (which version at 4.8 I think). It could be easy reproduced inside container with Dockerfile looks like

[code]

[2019-07-03 18:11] JimChengLin opened #5536 "RocksDB WALIterator C wrapper has memory leak"
### Expected behavior
calling `rocksdb_wal_iter_get_batch` should not make memory leak

### Actual behavior
`rocksdb_wal_iter_get_batch` causes memory leak

### Steps to reproduce the behavior
call `rocksdb_wal_iter_get_batch`

### Fix
https://github.com/facebook/rocksdb/pull/5515

[2019-07-04 01:32] richardyc opened #5538 "SstFileReader in Java API"
C++ currently has API for reading SST files with SstFileReader [sst_file_reader.h](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/sst_file_reader.h). However, rocksdbjni does not have SstFileReader API. Having this over the current option `DB::IngestExternalFile()` could bring support for:

- Ability to read sst files directly pulled from Snapshots. Current `DB::IngestExternalFile

[2019-07-04 15:21] huydx commented on #5530
gentle ping @mrambacher , any update for the issue?

[2019-07-05 09:58] sachinteotia30 opened #5541 "RocksDB fails to delete all the compacted files after compaction"
We use rocksDB to handle kafka keystores in our product. The issue is that whenever the rocksDB compaction starts, it takes 2 candidate files for compaction. Then generate a new compacted file but delete only one of the candidate file.

Thus, the other candidate file remains dangling and the number of sst files keeps on increasing in the system.

### Expected behavior
After compaction, all the com

[2019-07-06 22:48] michaelr524 commented on #932
Hi
I can't find anywhere a way to set prefix_extractor from Java.
Is this currently implemented?

[2019-07-09 16:22] mrambacher commented on #5530
The yum command you sent me does not appear to work.  Yum could not install gcc-g++ for me and I had no g++ compiler and could not build anything Rocks-related.

When I changed it to "yum install gcc-c++", everything builds and runs fine.  I also have a libdl.so on my machine and the env_test passes:

ldd env_test
	linux-vdso.so.1 =>  (0x00007fff479ad000)
	libdl.so.2 => /lib64/libdl.so.2 (0x00007f

[2019-07-09 16:36] koldat opened #5552 "100% CPU - Regression for Window 7 in WinEnvIO::NowMicros()"
### Expected behavior
NowMicros() function should return time from Unix epoch, but is returning high resolution counter that has no defined start and should be used for measuring time only. This function is used in RepeatableThread::wait. Thread than calculates wait_until thus conditional variable can do TimedWait.

But CondVar::TimedWait is using time in Unix epoch again thus issue.

[code]

Regr

[2019-07-09 21:08] miasantreble commented on #5538
Thanks @richardyc , will you be interested in contributing a PR for this?

[2019-07-09 21:28] richardyc commented on #5538
I should be able to contribute a PR for this in the coming weeks.

[2019-07-09 22:38] nlevitt opened #5555 "recent releases on maven repo?"
Latest per https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni is 6.0.1 whereas https://github.com/facebook/rocksdb/releases is at 6.1.2.

(Maybe uploading to maven central could be an automated thing that happens when you publish a release?)

[2019-07-10 07:35] adamretter commented on #5555
@nlevitt Apologies, I did not see that there was a new release. I will try and publish new RocksJava releases in the next couple of days.

[2019-07-10 08:45] koldat commented on #5552
It is regression of #5062

@siying @anand1976 @burtonli @mrambacher @vagogte @yuslepukhin can you comment on this?

[2019-07-10 12:33] yangdongsheng opened #5558 "db->Get() can't find some keys, but Iterator can list them."
We are using rocksdb in ceph to store monitor data, but we found there is a strange state in rocksdb in our cluster: we can get some keys in Iterator but rocksdb return NoEntry when we call db->Get() for these keys.

### Expected behavior
We can get values by db->Get() with the key get from iterator.

### Actual behavior
db->Get() return NoEnt with some keys get from iterator.

### Steps to reprod

[2019-07-10 15:06] yangdongsheng commented on #5558
There is another test program to list all keys in the same state:
[code]

Result:
[code]

[2019-07-10 23:01] richardyc commented on #2715
Also experienced a similar issue with `gcc (Ubuntu 6.5.0-2ubuntu1~14.04.1) 6.5.0 20181026`. Solved the issue using `PORTABLE=1 make ...`.
Detailed error message:
[code]

[2019-07-11 03:11] Yikun opened #5559 "No arm64/aarch64 support for rocksdbjni-xxx.jar"
We are working on the ARM64 support for Storm project, and the Storm project [is using](https://github.com/apache/storm/blob/fb76dd/pom.xml#L1038) `rocksdbjni` to play rocksdb.

Unfortunately, there is no aarch64 support in rocksdbjni-xxx.jar, so we will get back some error like when we running the storm test in aarch64 env:

[ERROR] testTickTupleWorksWithSystemBolt  Time elapsed: 0.609 s  <<< ERR

[2019-07-11 03:24] Yikun commented on #5559
I try to build the `rocksdbjni` by manaully, I can build the 6.2.0 version(current master) successfully after patching https://github.com/facebook/rocksdb/pull/5363 .

The build steps looks like:
[code]
Finally, we will get the `rocksdbjni-6.2.0-linux64.jar` which contains the aarch64 so lib.
[code]

[2019-07-11 03:45] beifuyiqiedeqilin opened #5560 "rocksdbjni Multi-thread call RocksDB.get() performance unstable"
**environment:**
 rocksdbjni version  5.18.3
Linux version 4.18.0-22-generic (buildd@lgw01-amd64-033) (gcc version 7.3.0 (Ubuntu 7.3.0-16ubuntu3)) #23~18.04.1-Ubuntu SMP Thu Jun 6 08:37:25 UTC 2019

**Test Code: **
[code]

when i  changed  threadCount  form 2 to 4, then to 8. The statistics for get as follow:

Count: 10000001 Average: 2.3833  StdDev: 16.02
Min: 1  Median: 1.5892  Max: 16047
Percen

[2019-07-11 03:55] amandeep1991 commented on #4787
@adamretter : Thanks a lot Adam for this fix, I urgently required this and you made it so simple for us.

@zhenyuyin: Thanks for your efforts as well.

I was using it for for spark-nlp library:
- Environment:
1. windows 10 Enterprise 64 bit
2. scala 2.11.8
3. spark 2.3.3
4. spark-nlp 1.7.3
- Replaced 'http://static.adamretter.org.uk/librocksdbjni-win64.dll' from 'rocksdbjni-5.1.4.jar' jar which wa

[2019-07-11 04:38] yangdongsheng commented on #5558
More information:
I updated my rocksdb to master (82d8ca8ade08b2c26acad33d954ba0b4cd770e2d) and compile again.
Then my simple_example above can't output the same result, instead, it aborted with a core dump:
[code]

seems the keys is not well sorted.

@siying  Any suggestion? Thanx

[2019-07-11 09:31] legend0011 opened #5561 "top showed memory is much larger than heap profiler showed memory"
I use rocksdb in container, so the memory usage is really important for me. I found that rocksdb use much more memory than I expected. Therefore, I heap profile rocksdb and found that memory use in heap is 75MB, but pmap or top showed that it use 250MB+ memory, why?
How can I reduce the gap?

The gap between heap allocated memory and RES column in "top" command should be small.

### Steps to repro

[2019-07-11 20:05] siying commented on #5558
@yangdongsheng it is likely that the data inside the SST files are not in the sorted order.
In your specific crash, is ikey_.user_key == saved_key_.GetUserKey() or smaller?

[2019-07-11 22:05] riversand963 commented on #5561
Does your heap profiler account for only memory allocated from the heap?
IIRC, pmap shows the memory map of the process which include libraries, etc. Can you share the command you used including the options?

[2019-07-12 02:14] haiping-kernel opened #5564 "fail to open db after ingesting sstfile"
I create sst file with SstWriter, there is no error when put() and finsh(), then I ingest them to an empty database. ALL options are default. but when I open db , there is an error:
**void rocksdb::DataBlockHashIndex::Initialize(const char*, uint16_t, uint16_t*): Assertion `size > num_buckets_ * sizeof(uint8_t)' failed.**

[2019-07-12 02:14] legend0011 commented on #5561
yes, I used google gperf tool, it only account for memory allocated from the heap.
pmap command I used is like this: pmap [pid]
the pmap result showed that a row labeled  [ anon ] whose memory is always growing, I don't know what it represents for, for there are other rows which are also labeled [ anon ], the row is like this:
[code]

[2019-07-12 02:49] legend0011 commented on #5561
I know that pmap shows virtual memory usage, which is the same as column VIRT in 'top' result, so it will be much larger than we actually use. But the RES column in 'top' command is the actual memory we use, which is still much larger than heap profiler result.

And I understand that memory usage contains memory from stack and heap. The heap profiler shows memory allocated from heap. Therefore, my

[2019-07-12 05:33] yangdongsheng commented on #5558
Hi @siying ,thanx for your reply.

**(1) I did a test as below, add some debug info in iter.cc**
[code]

And run the ldb dump as below:
[code]

The assert should be fail on this compare:
[code]

**(2) when I try to dump the all keys with ldb, it shows that:**
[code]
There are two strange thing:
a) the auth10782 ~ auth10810 are not sorted. This is the reason the assert failed.
b) there are some dup

[2019-07-12 12:48] adamretter commented on #5559
@Yikun I produce the RocksJava builds and publish them to Maven Central. Unfortunately I have no access to Arm64 hardware for either CI or releases. If there was access available to such hardware, I could also attempt to build for Arm64, as I do for ppc64le.

[2019-07-12 17:16] riversand963 commented on #5564
@haiping-kernel , which version of RocksDB are you using?
By empty database, does the database already exist but has no data, or is it freshly created?
The error message is complaining that you enabled hash index for data blocks, which should be disabled by default according to https://rocksdb.org/blog/2018/08/23/data-block-hash-index.html.
Sounds your use case is pretty straightforward, can you p

[2019-07-12 18:25] riversand963 commented on #5541
Base on the information that is present here, I wonder whether there is an iterator on the column family. If so, did you create the iterator before the compaction started? Did you delete it?

[2019-07-12 19:03] riversand963 commented on #5560
I suspect that the long Get latency may have been caused by I/O. Can you share your working set size, block cache configuration, storage device info, etc?

[2019-07-13 00:41] haiping-kernel commented on #5564
@
thanks, yes , I am just making a demo case , the version is 6.0.
sorry the code can not be copyed, it is of my company.  but the key lines are :

_rocksdb::SstFileWriter(rocksdb::EnvOptions(), options);
writer->Finish();
rocksdb::IngestExternalFileOptions ingest_options;
db->IngestExternalFile(files, ingest_options);_
all options are default., and all status are ok.

I create 5 sst-files ,they m

[2019-07-13 00:42] haiping-kernel commented on #5564
@riversand963

[2019-07-13 00:55] haiping-kernel commented on #5564
the other case is , when I ingest two sst-files of these five, I can Get the value of some keys. but after ingesting 4 files,  key NotFound...  I think it is may because the overlapped data. but my test before told me it can work.  confusing , is this  undefined ingesting overlapped sstfiles to different columnfamilies., or I try it in a wrong way ??

[2019-07-13 06:33] JimChengLin commented on #5536
The patch is getting merged.

[2019-07-13 06:33] #5536 closed

[2019-07-15 02:06] riversand963 commented on #5564
[code]
Unable to reproduce based on the information disclosed.

[2019-07-15 02:17] beifuyiqiedeqilin commented on #5560
@riversand963 @adamretter
I don't down what does 'working set' mean?
block cache configuration already written in test case
[code]
storage device info as follow:
[code]
without any other jvm arguments configed,

any other configuration needed?

[2019-07-15 11:57] YJieZhang commented on #5462
兄弟，这个问题解决了吗

[2019-07-15 16:05] vitvakatu opened #5569 "Current version and compatibility version are not set correctly on Mac OS"
## Expected behavior

`current version` and `compatibility version` fields are set correctly in `dylib` on Mac OS.

### Actual behavior

[code]

`current version` and `compatibility version` are not set correctly, which means linker shows invalid behaviour in some cases. We faced this problem when the linker sets the path only to a current revision of the library (e.g. `librocksdb.5.18.3.dylib` in

[2019-07-15 17:23] riversand963 commented on #5569
Thanks @vitvakatu for reporting. Are you interested in submitting a PR to fix this?

[2019-07-15 19:20] #5552 closed

[2019-07-16 03:39] Shuo-Jia opened #5575 "rocksdbjava with hdfs options can‘t stop"
### Expected behavior
after execute，the rocksdbjava with hdfs option client can stop

### Actual behavior
can’t stop

### Steps to reproduce the behavior
I have found the direct reason of this problem that is campaign! if the Level0FileNumCompactionTrigger = n，the rocksdbjava client will can‘t stop after execute n+1 time when just the compaction starts.I have test the 5.9.2 and 6.1.1 and they will

[2019-07-16 09:28] yangdongsheng commented on #5558
Hi @siying  any suggestion about the trigger of this case? If we can find out the possible trigger, we can workaround in ceph-mon.

BTW, there is no power-cut or ceph-mon restart when we found this problem in our production.

Thanx a lot.

[2019-07-16 17:01] siying commented on #5558
I take a look at the database. Yes it is corrupted. 640760.sst contains some same data ranges twice. I suspect that what happened was that, RocksDB once by mistake put overlapping files in the same non-0 level. All the information that can help further debugging is gone, so I have no idea how it can actually happen. I do remember we fixed at least one bug in the previous months related to this, so

[2019-07-16 17:42] riversand963 commented on #5575
Thanks @Shuo-Jia for reporting. Since you have found the cause, are you interested in contributing a fix to improve RocksDB Java with HDFS?

[2019-07-16 17:43] riversand963 commented on #5564
Another thing to check is whether the external SSTs are corrupted when you try to ingest them.

[2019-07-16 18:05] riversand963 commented on #5530
This is what I got on my machine.
[code]

[2019-07-17 05:50] yangdongsheng commented on #5558
On 07/17/2019 01:02 AM, Siying Dong wrote:

Hi @Siying thanx for your information. Could you help to provide the
commit ID of this fix?

I will considering to increase the debug level in our production.

Do you mean  db_->IngestExternalFile ? No, I did not operate this kind
of operation.

Thanx

[2019-07-17 06:19] Shuo-Jia commented on #5575
Yeah，but now that I haven't found a more fundamental reason, I may need to understand how Rocksdbjava operates HDFS to To find out which link is wrong.I wonder if more detailed documentation is available.

[2019-07-17 06:48] zxylvlp opened #5582 "Merge two rocksdb database with cfs with not same cf name but not same cf id"
We want to implement a merge operation of two rocksdb instance in our distributed table store like hbase.
Firstly, we try repairdb, but we found that repairdb need same cf name with same cf id. It's not a strongly guarantee in rocksdb implements.
Then, we try to use ingest file, bug ingest file need has table properties ingest-file.version and ingest-file.global_seq which not exists in normal sst.

[2019-07-17 17:49] siying commented on #5558
I can only find a bug related to DB::CompactFiles() and one related to delete range. Do you use these two features? If not then we don't have recent fixes for something like that.

[2019-07-17 17:57] siying commented on #5558
Also, it will be helpful to turn options.force_consistency_checks = true. In this way, RocksDB will crash your service immediately after it tries to get a corrupted state like this, and we will be able to debug what exactly happened.

[2019-07-18 00:12] anand1976 commented on #5582
Cc @riversand963 to see if he has any thoughts on this.

[2019-07-18 02:53] yangdongsheng commented on #5558
Hi @siying ,
(1) we are not using CompactFiles() in ceph-mon

(2) there is an option to use DeleteRange() in ceph-mon.
[code]

but in our production, we disabled this feature, enable_rmrange == false;

(3) I will try to consider introduce an option about force_consistency_checks in ceph, then we can enable it in rocksdb.

Thanx

[2019-07-18 06:54] feliwir commented on #5417
Any updates?

[2019-07-18 09:02] jerryliurui opened #5591 "iOS RocksDB Crash"
Hi
My iOS  app which used rocksdb to read and write received many crash like attach image.

so please help me.

![屏幕快照 2019-07-18 下午4 59 11](https://user-images.githubusercontent.com/6234801/61444246-9823cd00-a97d-11e9-892f-f12b147abb30.png)

[2019-07-18 09:17] jerryliurui commented on #5591
enum Code {
    kOk = 0,
    kNotFound = 1,
    kCorruption = 2,
    kNotSupported = 3,
    kInvalidArgument = 4,
    kIOError = 5,
    kMergeInProgress = 6,
    kIncomplete = 7,
    kShutdownInProgress = 8,
    kTimedOut = 9,
    kAborted = 10,
    kBusy = 11,
    kExpired = 12,
    kTryAgain = 13
  };

my errorcode.

Is that possible i have missed：
    kCompactionTooLarge = 14,
    kColumnFamily

[2019-07-18 18:00] nlevitt commented on #5555
🥺

[2019-07-18 19:35] ltamasi commented on #5179
The issue should now be fixed in master by https://github.com/facebook/rocksdb/commit/3bde41b5a3f71a67cfee67d2a26244b80c777148, which decoupled the filter block reader from the filter block itself and moved the reader out of the block cache.

[2019-07-18 23:37] siying commented on #5591
SyncPoint? Do you build release or debug build?

[2019-07-19 00:44] Tristan1900 opened #5595 "SIGSEGV when using Logger"
Hello there,
I am not sure if I use it wrong but when I turn on the RocksDB logging, this SIGSEGV  bug will quickly show up in like 2 seconds. I am previously using `5.8.3` but this bug persists when I try higher version `5.17.2`. Hope someone can shed some light on this. Thanks!

### Expected behavior
The RocksDB logging should work fine.

### Actual behavior
This SIGSEGV appears after a few seco

[2019-07-19 01:53] taibai233 commented on #4879
I still meet the bugs in rocksdb 5.18.0，is that fixed in this version？

[2019-07-19 01:53] Yikun commented on #5559
@adamretter As I know, there are two way to have the ARM resource,
1. OpenLab can provide ARM64 vitual machine resource for open source use, you could post a "Test Request" in https://github.com/theopenlab/openlab/issues, and the team will give you a tmp vm for testing. If you have any other question you can feel free to contact me.
2. drone ci also provide ARM64 container to do some test work, li

[2019-07-19 03:53] jerryliurui commented on #5591
Just Run: TARGET_OS=IOS make static_lib.

[2019-07-19 05:45] gaoxiangxyz commented on #5179
@ltamasi Which release will include this fix?

[2019-07-19 08:25] flike commented on #1055
I need a compaction filter on a column family, and I write code like this:
[code]
then I call
[code]
and in some case the Filter(level int, key, val []byte) (bool, []byte) function will coredump,because db is nil.
now I check db if is nil, in Filter function first. did I do this with right way,Is there a better way? Thank you.

[2019-07-19 15:41] richardyc opened #5597 "[JNI jar] UnsatisfiedLinkError using compiled jar"
I try to use my Mac OS X 10.14.5 with openjdk version "1.8.0_212" to compile a crossbuild jar using `make jclean clean rocksdbjavastaticrelease`. I used the resulting `rocksdbjni-6.2.0.jar` and tests passed on my Mac using the jar.

However, when running in Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-1040-aws x86_64) using the same `rocksdbjni-6.2.0.jar`, I encountered
[code]

However, when I `jar xvf ro

[2019-07-19 17:01] #5597 closed

[2019-07-19 17:03] richardyc commented on #5597
The issue was internal version conflict, I also imported rocksdbjni jar that does not have this change, and for some reason the jar is looking for the native library that does not yet have this change. Removing the duplicated import solved the issue.

[2019-07-19 17:06] siying commented on #5591
@jerryliurui yes it is debug build. To build release you need to either put `TARGET_OS=IOSrelease`, or "TARGET_OS=IOS DEBUG_LEVEL=0 make static_lib".

I'm not trying to explain the problem though. It's not expected even with debug build.

[2019-07-19 17:43] anand1976 commented on #5595
Is it possible to run with a debug RocksDB library so we can tell precisely where in ```rocksdb::LoggerJniCallback::Logv``` the problem is?

[2019-07-19 18:14] richardyc opened #5599 "[RocksDB Java Release] io_posix.cc FALLOC_FL_KEEP_SIZE not defined"
During compile for a new jar using `make jclean clean rocksdbjavastaticrelease`, I encountered `error: ‘FALLOC_FL_KEEP_SIZE’ undeclared` error in `io_posix.cc` during Vagrant build in CentOS.

A similar issue came up as well in [a post on stack overflow](https://stackoverflow.com/questions/57056860/how-to-fix-this-compile-error-during-rocksdbmake-static-lib).

It seems like there is some trouble w

[2019-07-22 07:04] jerryliurui commented on #5591
Thank You！
I will try it！

[2019-07-22 16:37] Tristan1900 commented on #5595
Thanks for the reply @anagav, could you please give me some pointers for how to do that? Thank you.

[2019-07-22 21:15] udoprog commented on #3408
Link for anyone looking this up in the future:
Note that this is now fixed in #4469 without having to use a custom env by using the `WITH_WINDOWS_UTF8_FILENAMES` option which defines `ROCKSDB_WINDOWS_UTF8_FILENAMES`.

[2019-07-23 08:24] oskin1 opened #5611 "[RocksDB Java] Fatal error at frame rocksdb::MemTable::GetMinLogContainingPrepSection()+0x1259"
### Expected behavior

The test looks like:
[code]

Store is a wrapper over RocksDb:
[code]

### Actual behavior

[code]

### Steps to reproduce the behavior

[2019-07-23 11:50] rba4062 commented on #1820
@wrinkledcheese - were you able to solve this issue. If yes, which OS version and how. I have tried several things mentioned in the readme etc, but unable to find the issue here.

I am trying to compile it on Ubuntu 18.04 and was using the following command

[code]

Gflags is correctly installed in my machine

[code]

[2019-07-23 11:53] rba4062 commented on #1775
@JevonQ Were you able to solve this issue. If yes, which OS version and how. I have tried several things mentioned in the readme etc, but unable to find the issue here.

I am trying to compile it on Ubuntu 18.04 and was using the following command

[code]

Gflags is correctly installed in my machine

[code]

[2019-07-23 12:00] Wayne-II commented on #1820
The -j flag can be problematic.  Try without -j 4.  Aside from that, I suspect the second last post prior to closing the ticket was the solution that worked for me.  We did not move forward with rocksdb.

[2019-07-23 13:03] wouterbeek opened #5612 "CMake build fails due to unsigned/signed comparison"
### Expected behavior

The following to succeed:

[code]

### Actual behavior

The following error:

[code]

### Steps to reproduce the behavior

Run the following (I'm using Fedora 30, GCC 9.1, CMake 3.14):

[code]

[2019-07-23 13:54] Domos commented on #4334
I ran into the same issue with ROCKSDB_LITE build.
Then I realized my project does not have ROCKSDB_LITE compiler flags.
https://github.com/facebook/rocksdb/blob/327c4807a7fe8532326323e2753670daf06a0f6b/include/rocksdb/options.h#L994
Suggest to add target_compile_definitions() in the CMAKE config.

[2019-07-23 17:18] anand1976 commented on #5599
Thanks for reporting the issue. Yes, please go ahead and create the PR. Ideally, we should conditionally include ```linux/falloc.h``` under ```#if defined(OS_LINUX) && !defined(FALLOC_FL_KEEP_SIZE)```.

[2019-07-23 17:28] anand1976 commented on #5612
I don't have the environment to reproduce it. Could you try changing the comparison to ```static_cast<int>(no_files_limit.rlim_cur) >= std::numeric_limits<int>::max()``` and see if it works?

[2019-07-23 17:35] anand1976 commented on #5595
Maybe try ```DEBUG_LEVEL=2 make -j64 rocksdbjava```? https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#compiling-from-source

[2019-07-23 21:03] wouterbeek commented on #5612
Your proposed change silences the warning, but I think it's not correct: an unsigned integer that is larger than the maximum positive integer (2,147,483,647) but smaller than the maximum unsigned integer (4,294,967,295) will be cast to a negative integer.  In other words, the `if` condition will never succeed.

I think all these comparisons with type `T` on the left-hand side should be rewritten t

[2019-07-23 23:30] anand1976 commented on #5612
That wouldn't work either since we want to limit max open files to 2,147,483,647.

Another alternative is to ```static_cast``` the rhs to ```unsigned long```.

[2019-07-24 00:23] lth opened #5618 "PopSavePoint discards lock information"
### Expected behavior
If you have:
[code]

Then the write batch is rolled back to the first savepoint, meaning that both keys A and B are rolled back. I also expect that keys A and B will both be unlocked as well.

### Actual behavior
Only A is unlocked, and B remains locked. The problem is that every savepoint tracks keys locked since its last savepoint, and that information is used for unlocking

[2019-07-24 02:26] taibai233 opened #5619 "what happened “L0 files seqno 835331395 835687080 vs. 835554394 835606848“”"
My version is 5.18.0.
I just continuously put kvs to my rocksdb. This happen about 4 hours after the start.

the log shows "L0 files seqno 835331395 835687080 vs. 835554394 835606848"

so , may I ask what this log means, and what cause this abort ?

[2019-07-24 09:22] koushiro commented on #5612
I'm using Arch Linux, GCC 9.1.0, CMake 3.15.0.
The same problem :(

[2019-07-24 23:21] yiwu-arbug commented on #5418
Hit the same issue in one of our use case. From core dump it is caused by compaction picking a file with smallest_key > largest_key, so `ExpandInputsToCleanCut` here (https://github.com/facebook/rocksdb/blob/v5.18.3/db/compaction_picker.cc#L1488) clear the `start_level_inputs_` array, and cause segfault here (https://github.com/facebook/rocksdb/blob/v5.18.3/db/compaction_picker.cc#L171). Still inv

[2019-07-25 12:40] jerryliurui commented on #5591
HI
I saw this line in makefile like:
# * DEBUG_LEVEL=0; this is the debug level we use for release. If you're
# running rocksdb in production you most definitely want to compile RocksDB
# with debug level 0. To compile with level 0, run `make shared_lib`,
# `make install-shared`, `make static_lib`, `make install-static` or
# `make install`

So Just Run: TARGET_OS=IOS make static_lib whether is equ

[2019-07-25 18:49] rockbmb commented on #3408
@udoprog thanks for the heads-up!
I'll make sure the people currently working on one of the projects that ran into this hear about it.

[2019-07-26 03:09] rhli commented on #5259
Hi, can you still reproduce this if using lock to serialize IngestExternalFile()?  Thanks.

[2019-07-26 09:12] clicx opened #5631 "too many threads created while opening db"
Using gdb to start a app that opening rocksdb, there are two many thread creating message and continue for several minutes, whats are the doing:

[New Thread 0x7fff9ffff700 (LWP 7185)]
[New Thread 0x7fff9f7fe700 (LWP 7186)]
[New Thread 0x7fffbcff9700 (LWP 7187)]
[Thread 0x7fffbcff9700 (LWP 7187) exited]
[Thread 0x7fff9ffff700 (LWP 7185) exited]
[New Thread 0x7fffbcff9700 (LWP 7188)]
[Thread 0x7fff

[2019-07-26 18:40] #5618 closed

[2019-07-26 19:00] linux-china commented on #5555
Any news?  😄

[2019-07-27 04:00] chang290 opened #5640 "Files_grabbed_for_purge_ is sometimes not cleared properly, causing writeImpl to block 1000ms+"
rocksdb 5.15 ~ current master

1、Write a large number of kvs to rocksdb in a sequential manner.
Since the written kvs do not overlap, the compact directly moves sst from L0 to L1, from L1 to L2, and so on.
Therefore no sst files are deleted during the compact process.

2、Each time FindObsoleteFiles is called, the data is written to the files_grabbed_for_purge_ array via the MarkAsGrabbedForPurge f

[2019-07-27 04:05] #5640 closed

[2019-07-27 04:05] chang290 opened #5641 "Files_grabbed_for_purge_ is sometimes not cleared properly, causing writeImpl to block 1000ms+"
1、Write a large number of kvs to rocksdb in a sequential manner.
Since the written kvs do not overlap, the compact directly moves sst from L0 to L1, from L1 to L2, and so on.
Therefore no sst files are deleted during the compact process.

2、Each time FindObsoleteFiles is called, the data is written to the files_grabbed_for_purge_ array via the MarkAsGrabbedForPurge function.

3、However, in the Pur

[2019-07-27 04:22] Tristan1900 commented on #5595
@anand1976 Thanks for the help, but I haven't got time to compile from the source. One update is that we previously use alpine base image and when we change to Ubuntu, those errors gone.

[2019-07-29 13:52] edtbl76 opened #5643 "ASAN:SIGSEGV on 'make jtest run' in 5.17"
I'm attempting to perform JNI debugging in 5.17.2.
The JNI and tests compile fine, but I get an immediate segmentation fault when attempting to run the tests.

### Expected behavior

tests execute successfully

### Actual behavior

**(CentOS 7.2) w/ gcc 4.8.5
COMMAND:   LD_PRELOAD=/usr/lib64/libasan.so.0 make jtest run**

/bin/sh: line 1:  6832 Segmentation fault      perl -le 'use File::Temp "tem

[2019-07-30 11:47] clicx opened #5650 "crash when opening(creating) db"
### Expected behavior
should work normally
### Actual behavior
segment fault.
### Steps to reproduce the behavior
master branch of newest code.

#0  __atomic_add (__val=1, __mem=0x8000008) at /usr/include/c++/4.8.2/ext/atomicity.h:53
#1  __atomic_add_dispatch (__val=1, __mem=0x8000008) at /usr/include/c++/4.8.2/ext/atomicity.h:96
#2  _M_add_ref_copy (this=0x8000000) at /usr/include/c++/4.8.2/bits/

[2019-07-30 18:08] edtbl76 commented on #5643
This just needs to be documented. The JNI-Debugging page probably should have a note about handling segv in ASAN. (Maybe even a link to the Address Sanitizer options would suffice)

ASAN_OPTIONS=handle_segv=0:print_stats=true:halt_on_error=false:allow_addr2line=true LD_PRELOAD=/usr/lib64/libasan.so.0 make jtest_run

[2019-07-30 18:08] #5643 closed

[2019-07-31 02:29] koushiro commented on #5612
Has been fixed in #5651

[2019-07-31 02:33] QiAnXinCodeSafe opened #5654 "Never used variable 'tmp_slice'"
https://github.com/facebook/rocksdb/blob/b538e756c29eac69e5362d9dff52833200d3e242/table/plain/plain_table_reader.cc#L736

advice: delete the variable which is never used

[2019-07-31 07:37] liangjk opened #5656 "possible fitting low-pri threads but not doing flush job"
### Expected behavior

as long as bg_flush_scheduled_ < bg_job_limits.max_flushes we can add a flush job

### Actual behavior

only if bg_flush_scheduled_ + bg_compaction_scheduled_ < bg_job_limits.max_flushes

### Steps to reproduce the behavior
delete "+ bg_compaction_scheduled_"
at db/db_impl/db_impl_compaction_flush.cc:1915

[2019-07-31 17:09] siying commented on #5654
It's interesting that the compiler never complains about it. Are you interested in sending a pull request to delete it?

[2019-07-31 22:47] wouterbeek commented on #5612
Thnaks for fixing!

[2019-07-31 22:47] #5612 closed

[2019-08-01 01:57] QiAnXinCodeSafe commented on #5654
yes，I make a pr，please  reviewed，thanks！

https://github.com/facebook/rocksdb/pull/5660

[2019-08-01 02:40] HanZijie opened #5661 "How does rocksdb reduce the expense of compaction"
## Questions on multiple compactions

#### Question
If the we always pick the most densely populated SST, The density of SST in lower level will become less and less. There will be more overlapping SST because the density of SST in the lower level is very small. So how do they solve this problem?

[2019-08-01 02:46] QiAnXinCodeSafe commented on #5654
I am  so sad，because ‘You’re not authorized to merge this pull request.’

[2019-08-01 05:18] siying commented on #5654
@QiAnXinCodeSafe in fact, we are not authorized to merge anything either. We are using a system which a bot runs unit tests and merge it. However, for your case, you probably need to sign CLA first.

[2019-08-01 15:18] edtbl76 commented on #5124
Have you noticed any benefit in doing so? 3.6 is still the "approved" version distributed with most platforms.

[2019-08-01 18:30] maysamyabandeh commented on #5650
Unfortunately there is not enough information in the description to reproduce the issue.

[2019-08-01 18:31] #5661 closed

[2019-08-01 18:46] maysamyabandeh commented on #5656
That is the intended behavior: https://github.com/facebook/rocksdb/blob/1dfc5eaab03f998ab13a6953b53e41cdfd2c8237/include/rocksdb/options.h#L569

[2019-08-01 18:46] #5656 closed

[2019-08-01 21:05] edtbl76 commented on #4112
[@koldat](https://github.com/facebook/rocksdb/issues/4112#issuecomment-473219190)

I'm actually seeing similar behavior. I'm also using the JNI. Can you provide the versions you tested with?

Thanks in advance!

[2019-08-01 23:39] jbayardo opened #5663 "RocksDb duplicates the size of database over time"
We have a very high usage RocksDb database, where the workload is _always_ Get -> Put/Delete for the same key (done in parallel by up to 64 threads). Configurations is default, except for:

- MaxBackgroundCompactions=64
- MaxBackgroundFlushes=1
- IncreaseParallelism=32
- WAL disabled
- FSync disabled
- Keep a Bloom filter with K=10 and a hash index
- Using whole key filtering
- No prefix extractor

[2019-08-02 06:03] koldat commented on #4112
There is not much difference, because it is not a leak. For Java I recommend you to use jemalloc and set fixed heap (same xmx and xms). Then play with configuration like I described.

In Java you have to be careful to close all objects properly. These are tiny in Java so gc does not care about these much, but can hold a lot of native. So leaking several iterators can generate a lot of memory. You

[2019-08-02 07:58] AlexanderStets commented on #5559
@Yikun could you share your rocksdbjni-6.2.0-linux64.jar with the aarch64 so lib inside?

[2019-08-02 14:19] adamretter commented on #5555
@nlevitt @linux-china I have released 6.0.2, 6.1.1 and 6.1.2.

Sorry about the delays here at my end.

[2019-08-02 14:19] #5555 closed

[2019-08-02 14:45] edtbl76 commented on #4112
Thanks, thats great info! There are quite a few scenarios where Rocks can suffer from weakly constrained memory growth based on configuration alone.  I completely agree that this more than likely isn't a leak. Do you know if anyone is using jemalloc as the default memory allocator in production?

[2019-08-02 14:50] koldat commented on #4112
Yes we are using that in production in all our services. It lowers process memory consumption and stabilize it, because it has smaller fragmentation than standard allocator especially when it runs together with JVM.

[2019-08-02 14:52] edtbl76 commented on #4112
The fragmentation avoidance is exactly what I was considering. I imagine that works very well w/ partitioned indexes. Thanks again!

[2019-08-03 08:36] skp33 opened #5666 "Combine multiple Rocksdb databases"
There is a use case for which I have to read huge Parquet file and convert into Rocksdb binary, So I decided to use spark (because everybody is familiar with it in my team).

And from Rocksdb side I know it's not distributed and you can not parallelize.

So what I have done is that I have created multiple instances of Rocksdb parallelly using Spark for each task.

![](https://i.stack.imgur.com/2Hy

[2019-08-03 18:17] bcashier opened #5667 "[Noob Question] Better way to store HashMap/Array into RocksDB"
Hi,

I am willing to store HashMap / Array into RocksDB, is there a feature for this ? Or a best approach to do that please ?

I am thinking to store them in form of JSON as value, but that will not let me make modifications quickly since I have first to deserialize the JSON and then make modification, and finally serialize back.

Thanks in advance

[2019-08-03 18:21] bcashier opened #5668 "[Noob Question] Use wildcard to display ordered keys"
Hi,

Is there a way to use wildcard in order to display ordered keys (By ASC => Time of insertion) ?

For example, I am inserting keys in this format:

[code]

And then, iterate to display all keys containing: "`save:*`"

Thank you

[2019-08-03 18:30] adamretter commented on #5559
@Yikun I opened https://github.com/theopenlab/openlab/issues/329

[2019-08-04 17:04] ottok commented on #5223
Hello!

If somebody watching this makes an attempt to make a patch, I an happy to
include it in the next upload of MariaDB to Debian experimental.

[2019-08-04 20:02] wjwithagen commented on #5223
@ottok
Willing to make a patch, but I do need to know what preprocessor defines are available.
on kFreeBSD
Run something like:
  `clang -dM -E - < /dev/null`
and pastebin the result.
But I'm not sure how we moved from RocksDB to MariaDB??

[2019-08-05 02:07] Yikun commented on #5559
@AlexanderStets Sorry, the jar file size is over 10MB, I can't attach it in here. and now you can build using the master version RocksDB, the steps looks like:
1. install the java sdk and export java home
2. build the aarch64 rocksdb jni jar.
[code]

[2019-08-05 02:08] Yikun commented on #5559
@adamretter OK, the request is approved, and the resource info has been sent to you.

[2019-08-05 16:39] #5667 closed

[2019-08-05 16:40] #5668 closed

[2019-08-05 16:41] #5650 closed

[2019-08-05 16:42] #5654 closed

[2019-08-05 16:53] maysamyabandeh commented on #5663
Thanks for well-written post. Running a vaguely-described workload for 15 days is not exactly a constructive way to reproduce an issue. This is more suited in dev group where other users could help you with suggestions on how to inspect the db as well as the configuration to look for potential issues.

[2019-08-05 16:54] #5666 closed

[2019-08-05 22:58] adamretter commented on #5559
I just released RocksDB v6.2.2 to Maven Central. It includes aarch64 support. @Yikun would you be able to test and let me know that it works for you?

[2019-08-05 23:01] adamretter commented on #5559
@Yikun @AlexanderStets btw - I also created a Docker Build Environment for building RocksJava on aarch64 - [evolvedbinary/rocksjava:centos7_arm64v8-be](https://cloud.docker.com/u/evolvedbinary/repository/docker/evolvedbinary/rocksjava)

[2019-08-06 03:58] ottok commented on #5223
the librocksdb in Debian does actually not even try to build for kFreeBSD (https://buildd.debian.org/status/package.php?p=rocksdb). MariaDB steps into the picture as it is the place where RocksDB is tried to build for all Debian platforms (https://buildd.debian.org/status/package.php?p=mariadb-10.3&suite=sid).

The kFreeBSD testing images directory is empty at the moment (https://d-i.debian.org/da

[2019-08-06 08:06] Yikun commented on #5559
@adamretter Great, and I saw the rocksdbjni.jar in mvn repo. But it seems does not work, when I run the storm rocksdb related test case, the exception is still raised:

And after some investigation, I found that ther

[2019-08-06 09:21] wjwithagen commented on #5223
@ottok
I'm fine with that.
When it arisses again, feel free to contact.

[2019-08-06 14:27] #5663 closed

[2019-08-07 07:54] wzw921026 opened #5677 "memory used is larger than excepted"
the two block cache are 16G
block_cache = NewClockCache(16LL << 30, 10, true);
block_cache_compressed = NewClockCache(16LL << 30, 10, true);

but memory used in command "top" is exceed 50G
I print some property, but didn't catch the problem

std::string _index;
db->GetProperty("rocksdb.estimate-table-readers-mem", &_index);
std::string _memtable;
db->GetProperty("rocksdb.cur-size-all-mem-tables",

[2019-08-07 10:46] QiAnXinCodeSafe opened #5678 "Never used variable ‘table_properties’"
https://github.com/facebook/rocksdb/blob/6e78fe3c8d35fa1c0836af4501e0f272bc363bab/table/meta_blocks.cc#L399

[2019-08-08 21:02] miasantreble commented on #5678
Thanks for reporting, would you be interested to group a fix together with your another PR https://github.com/facebook/rocksdb/pull/5660? If you see similar issues elsewhere feel free to add to your PR

[2019-08-09 01:58] #5678 closed

[2019-08-09 09:42] Aravindhan1995 opened #5682 "JVM crashes on using RocksDB"
I am using rocksdbjni-6.0.1.jar for my application,  The data is consecutively fetched from the Rocksdb using RocksDB iterator.

**code reference**

[code]

**getting the following issue**  and the JVM crashes.

Stack: [0x00007f83ce377000,0x00007f83ce478000],  sp=0x00007f83ce4764f8,  free space=1021k
Native frames: (J=compiled Java code, j=interpreted, Vv=VM code, C=native code)
C  [libc.so.6+0x16

[2019-08-09 11:48] adamretter commented on #5682
What is the signal when the JVM crashes? SIGSEGV? or other?

[2019-08-09 12:05] adamretter commented on #5559
@Yikun it looks that way, sorry. I added some improvements myself also - https://github.com/facebook/rocksdb/pull/5674/files

@gfosco could you ensure that #5258 and #5674 get into the next release please?

[2019-08-09 12:57] Aravindhan1995 commented on #5682
Hi adamretter,

Current thread (0x00007fc97003f000):  JavaThread "processor-5" [_thread_in_native, id=24635, stack(0x00007fc93475b000,0x00007fc93485c000)]

siginfo:si_signo=SIGSEGV: si_errno=0, si_code=128 (), si_addr=0x0000000000000000

[2019-08-09 13:16] adamretter commented on #5682
@Aravindhan1995 does this happen on 6.2.2?

If so, can you prepare a reproducible test case?

[2019-08-11 07:29] Aravindhan1995 commented on #5682
I am using 6.0.1, The JVM crashes when there is continuous/concurrent put operation on one end and continuous/ concurrent seek on the other end. The system is running fine initially but crashes suddenly. In some cases, it crashes in  10 mins and in some cases it crashes in 30 mins.

[2019-08-11 10:43] adamretter commented on #5682
@Aravindhan1995 I am afraid I would need much more detail to be able to reproduce your issue.

As requested, can you please try with 6.2.2 first. If the issue persists then I would need to be able to reproduce the problem here. So you would need to tell me exactly how to go from nothing to demonstrating the problem that you have via. the minimum required steps.

[2019-08-11 11:26] fengchangfight opened #5688 "I got issue running make static_lib on mac os Mojave"
GEN      util/build_version.cc
  GEN      util/build_version.cc
  CC       cache/clock_cache.o
  CC       cache/lru_cache.o
In file included from ./cache/lru_cache.h:13,
                 from cache/lru_cache.cc:14:
./cache/sharded_cache.h:51:32: error: 'MemoryAllocator' was not declared in this scope
                std::shared_ptr<MemoryAllocator> memory_allocator = nullptr);

### Expected behavi

[2019-08-11 12:09] Aravindhan1995 commented on #5682
@adamretter,

Thanks for your reply, I would for sure share the test plan and even produce sample code snippet to reproduce the issue.
I have certain doubts regarding the usage which may have cause for the crash

1) I am getting a new **RocksIterator** instance inside a method scope and seeking data and closing it, should I need to check whether rocksIterator.isOwningHandle() is true and then clos

[2019-08-11 12:17] Aravindhan1995 opened #5689 "RocksDB java in windows requires c++ visual studio redistributable/"
HI,

In my application, I am using rocksdbjni-6.0.1.jar which has windows dll bundled inside.
I am pretty much aware that for rocksDB run time environment requires visual studio c++ redistributable. Is there any way to run the rocksDB without c++ redistributable. I have tried several ways.
One of the ways is biding the msvcr110.dll and msvcp110.dll in run time and this also has failed.

Please sug

[2019-08-11 13:03] adamretter commented on #5689
AFAIK all applications compiled with C++ on Windows, require the target Windows machine to have the C++ redistributable runtime installed.

[2019-08-11 13:32] adamretter commented on #5682
Calling `RocksIterator#close()` will only cause the object to be closed the first time it is called, so you don't need to worry. The same goes for `ReadOptions` or any class that extends `RocksObject`.

You can use Java's `try-with-resources` to simplify your code where appropriate.

[2019-08-12 02:06] fengchangfight commented on #5688
i used make clean before make static_lib, and problem solved

[2019-08-12 07:23] Aravindhan1995 opened #5690 "closing RocksDB in java in multithreaded environment"
Hi,
I am calling the API, **rocksDB.close();** during the application shutdown, while the data is stored and fetched in RocksDB from other threads parallelly. Is there a way to safely close the RocksDB without crashing of the application.
Note: I am aware  there is API named cancelBackGroundWork in c++, but I couldn't find it on the java API, please suggest a proper way to close the DB in the conc

[2019-08-12 10:14] adamretter commented on #5690
Calling `#close()` on any RocksObject is a thread-safe operation, and it will ensure that the underlying resources are only freed once.

Within your own application, you are responsible for making sure you have finished using the database before calling `RocksDB#close()`.

[2019-08-12 10:14] #5690 closed

[2019-08-12 10:22] Aravindhan1995 commented on #5690
Thank you @adamretter.

[2019-08-13 13:10] chinyajie commented on #864
I have the same probloem.

[2019-08-13 18:52] #5688 closed

[2019-08-14 04:01] chinyajie commented on #864
I got it now.

Because in reduce_levels_test, the real level of files_ could be more(128) than  num_levels_. The arg level is got from Option, it would be the real level number, but num_levels_ not.
You can get more information in function VersionSet::ReduceNumberOfLevels.

It said
  // we need to allocate an array with the old number of levels size to
  // avoid SIGSEGV in WriteSnapshot()
  // ho

[2019-08-14 14:46] mrambacher opened #5701 "RocksDB is missing CassandraPartitionMetaMergeOperator source file for Rocksandra"
We were attempting to rebuild the RocksDB distribution for Rocksandra.  The Rocksandra code uses/refers to the CassaandraPartitionMetaMergeOperator class but this class file is not part of the RocksDB distribution.  Inspecting the JAR file for RocksDB for Rocksandra shows a corresponding class file.    So at some point someone built the JAR file from some source but we cannot find that source file

[2019-08-14 19:44] edtbl76 commented on #2954
Did anyone find a resolution w/ running the tests? When running tests or any code against an OSX built JNI, I get the same SIGSEGVs.

The PR change to build-tools doesn't resolve the issue.

[2019-08-14 21:30] edtbl76 commented on #857
as of 5.18.3 this is not the case.
I compiled the JNI on a CentOS system and attempted to build an application that references that JNI:
Caused by: java.lang.RuntimeException: librocksdbjni-osx.jnilib was not found inside JAR.

[root@localhost target]# jar tf rocksdbjni-1.2.0-SNAPSHOT-linux64.jar | grep librocksdbjni*
librocksdbjni-linux64.so
[root@localhost target]#

This was compiled w/ the PORT

[2019-08-15 17:30] sagar0 commented on #5701
@mrambacher I believe Rocksandra is currently being built from this fork/branch: https://github.com/DikangGu/rocksdb/tree/ig_stable and the CassaandraPartitionMetaMergeOperator code is here: https://github.com/DikangGu/rocksdb/blob/ig_stable/utilities/cassandra/merge_operator.h#L48

cc: @DikangGu , @wpc who maintain the IG Rocksandra fork.

[2019-08-15 18:27] #4877 closed

[2019-08-19 21:35] pdillinger commented on #4120
FWIW, my above proposed cuckoo hashing scheme shows up in this paper published Aug 2018: https://www.vldb.org/pvldb/vol11/p1041-breslow.pdf

[2019-08-20 15:32] folex commented on #677
Seems like it's still a trouble, and `.ldb` files aren't working.

I can see [there's some logic](https://github.com/facebook/rocksdb/blob/e1c468d16ff3400508570fbbed4d4b01f3505471/db/db_impl/db_impl.cc#L3138-L3140) for handling .ldb files, and it seems like e.g., `rocksdb_ldb check_consistency` works on LevelDB database, but `rocksdb_ldb scan` – doesn't.

[code]
[code]
[code]
[code]

[2019-08-20 17:05] siying commented on #677
Yes, it's likely still to be the case. And the code might have moved on so it is harder to fix. If you are interested, you can try to add a helper function to migrate a LevelDB directory to RocksDB.

[2019-08-21 05:33] sachinteotia30 commented on #5541
Thanks, @riversand963, yes there was an open iterator and that was stoping the compaction.

Thanks once again. Your one suggestion saved my life. I will close this ticket with that.

[2019-08-21 05:33] #5541 closed

[2019-08-23 05:07] xkszltl opened #5730 "Compile error with MSVC"
This is a regression introduced recently.
Log attached:
[code]

[2019-08-23 06:53] dongdaoguang opened #5731 "SIGSEGV when using direct_reads"
Hello there,
I am not sure if I use it wrong but when I turn on the RocksDB use_direct_reads, this SIGSEGV bug will show up when open the db. I used version 5.9.2. Hope someone can shed some light on this. Thanks!

### Expected behavior
The RocksDB direct I/O mode work fine.

### Actual behavior
This SIGSEGV appears when open db.

### Steps to reproduce the behavior
1. set use_direct_reads = true

[2019-08-24 02:12] xkszltl commented on #5730
The latest working version is v6.1.2
v6.2.2 also has compile error:
[code]

[2019-08-25 17:16] cighao opened #5732 "What's the relationship between logfile_number_, logs_ and alive_log_files"
Recently, I'm reading the source code about write-ahead logging. But I'm confused about the variables, `logfile_number_`, `logs_` and `alive_log_files`. I don't know the relationship between these variables and how they work for WAL? When switching WAL, a new log file is created, but the memtable is flushed background. How to avoid the old log files being deleted before memtable is flushed? Thanks

[2019-08-25 21:56] chenrui333 opened #5733 "Compile error for v6.2.2 brew upgrade"
Relates to https://github.com/Homebrew/homebrew-core/pull/43450
Build log: https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/47139/version=mojave/console

Build steps

[code]

Error when `system "make", "tools"`

[code]

[2019-08-25 23:07] yiwu-arbug opened #5734 "db_encryption_test fail on assert"
### Expected behavior
`ENCRYPTED_ENV=1 ./db_encryption_test` should pass

### Actual behavior
It is failing with the following stack. The failing assert was added in #5160 :
[code]

### Steps to reproduce the behavior
run the test.

[2019-08-26 02:51] wangxiyuan opened #5736 "DBTestUniversalCompaction.RecalculateScoreAfterPicking (db_universal_compaction_test) sometimes fails on ARM"
We are now testing Rocksdb on ARM. When running `make check_some` on master branch. There a test failed:

db_universal_compaction_test

db/db_universal_compaction_test.cc:1781: Failure
Value of: 5
Expected: NumSortedRuns()
Which is: 6
terminate called after throwing an instance of 'testing::internal::GoogleTestFailureException'
  what():  db/db_universal_compaction_test.cc:1781: Failure
Value of:

[2019-08-26 19:28] adamretter commented on #5595
@Tristan1900 Alpine uses a completely different glibc, so code has to be specifically compiled for it. That will have been your problem.

[2019-08-26 22:00] pdillinger opened #5743 "PlainTable hard codes num_probes=6 for Bloom filter, regardless of bloom_bits_per_key"
### Expected behavior

When using PlainTable with Bloom filter, expect it to choose reasonable num_probes based on bloom_bits_per_key setting.

### Actual behavior

Always uses num_probes = 6 even when that's really bad for speed and false positive rate.

### Steps to reproduce the behavior

Just based on code inspection: https://github.com/facebook/rocksdb/blob/62829ff7510b3e0e5cd9c76316544b35274

[2019-08-27 08:43] ananclub opened #5746 "VS BUILD ERROR C2131"
block_cache_analyzer\block_cache_trace_analyzer.cc	1212

[2019-08-27 08:58] ananclub commented on #5205
maybe strlen end of '\0'

[2019-08-27 11:46] LoveTommy opened #5747 "segfault in LevelCompactionBuilder::SetupInitialFiles"
I receive segfault in LevelCompactionBuilder::SetupInitialFiles about "assert(!level_and_file.second->being_compacted);"

(gdb) bt
#0  0x00007f0854f4e0c1 in pthread_kill () from /lib/x86_64-linux-gnu/libpthread.so.0
#1  0x00000000007a1d1d in handle_fatal_signal (sig=6) at /home/wanggang01/dbdir/innosql-v4b-0627/mysql-5.7.20/sql/signal_handler.cc:220
#2  <signal handler called>
#3  0x00007f0853d660

[2019-08-27 11:47] LoveTommy commented on #5747
MariaDB has the same problem: https://jira.mariadb.org/browse/MDEV-16523

[2019-08-28 00:35] ananclub commented on #5746
vs 2017&2019 release has same error

not support dynamic array.

4>block_cache_trace_analyzer.cc
5>block_cache_trace_analyzer.cc
4>F:\project\rocksdb\tools\block_cache_analyzer\block_cache_trace_analyzer.cc(653,57): warning C4244:  “参数”: 从“uint64_t”转换到“unsigned int”，可能丢失数据
4>F:\project\rocksdb\tools\block_cache_analyzer\block_cache_trace_analyzer.cc(1212,24): error C2131:  表达式的计算结果不是常数
4>F:\projec

[2019-08-28 08:09] wangxiyuan opened #5751 "Jtest fail on ARM"
There is one test failed on my local ARM machine when running `make jtest`

getOutOfArrayMaxSizeValue(org.rocksdb.RocksDBTest)
[code]

While when I was debugging this test with `jdb`, and set a breakpoint at [L351](https://github.com/facebook/rocksdb/blob/master/java/src/test/java/org/rocksdb/RocksDBTest.java#L351), I hit a strange behavior. If I print `run` at once, the test will fail. But if I w

[2019-09-02 03:41] pipamc opened #5763 "When calling getUpdatesSince get IO error: while stat a file for size"
Now I use rocksdb with v5.18.3 and use getUpdatesSince API to sync data to downstream. But I got error
**IO error: while stat a file for size: /data2/data/kyra/kyra_instance_1166609718592933888/data/10.68.60.2:10       090/archive/183996.log: No such file or directory**
and I check the directory, the file does not exist any more. After I read the code, I found there is one bad case when getUpdates

[2019-09-02 16:18] csyjia commented on #1775
Please remember to "make clean" before "make" after installing gflags.

[2019-09-03 06:26] Aravindhan1995 commented on #5689
This issue is resolved.
Solution :
The **vcruntime140.dll** and **msvcp140.dll** can be bundled independently, Rocksdb refers to these dll's in run time. Thanks for your support.

[2019-09-03 06:26] #5689 closed

[2019-09-03 13:35] focus-zhaos commented on #1820
thanks！solve it

[2019-09-03 18:23] riversand963 commented on #5751
I do not have access to ARM. Look forward to feedback from people who can give this a shot.

[2019-09-03 18:26] riversand963 commented on #5631
Can you share more information on how your code uses RocksDB, e.g. how many `DB` instances you try to create in your program?

[2019-09-03 18:31] riversand963 commented on #5746
Have you given it a shot to fixing these compilation errors according to the messages from the compiler? With out information about version number/commit hash, it is difficult for other people to match the warnings/errors to the exact line numbers if they cannot reproduce it.
I haven't been able to test this, but if you (or anybody else with access to VS build) can eliminate these errors, a PR wil

[2019-09-03 18:43] riversand963 commented on #5763
Just to confirm, you are using `recycle_log_file_num = 1`? Seems the race condition you described is not handled in wal manager code.
Would you be willing to contribute a fix together with a unit test?

[2019-09-04 01:06] wangxiyuan commented on #5751
@riversand963 I can provide a ARM VM temporarily. Please let me know if you need one. Thanks.

[2019-09-04 11:27] #5564 closed

[2019-09-04 11:30] pipamc commented on #5763
no, I just use default settings, recycle_log_file_num = 0

[2019-09-04 20:00] huitseeker commented on #5303
@miasantreble should we mark this as fixed by https://github.com/facebook/rocksdb/pull/5553 ?

[2019-09-05 02:19] haiping-kernel opened #5770 "is there any way faster to ingest sst file"
I have hundreds of sst files,  total size 400G. when I ingest them to empty databases(64 rocksdb instance)  in disk parallel, it use time 2 hours,  is there any way faster?????

[2019-09-05 08:13] Yikun commented on #5559
@adamretter When will the next release coming? and do you know how to make sure the `rocksdbjni` works well?

Note that: We (I and @wangxiyuan) do some test on rocksdb in aarch64, like `make check_some` https://github.com/facebook/rocksdb/issues/5736 and `make jtest`  https://github.com/facebook/rocksdb/issues/5751, but seems got some error. Do you know these cases are necessary for rocksdbjni or

[2019-09-05 09:24] adamretter commented on #5559
@gfosco were you able to make sure those two PRs mentioned above (#5258 and #5674) will be in the next release?

@Yikun I usually assume that someone has run `make jtest`, before pushing the tag. However, I don't know that whoever does the `tagging` process (@gfosco ?) tests on all architectures.

[2019-09-05 17:11] anand1976 commented on #5770
Can you provide a snippet of the code you're using to ingest? And what is the bottleneck you're observing - is it the copy to disk?

[2019-09-05 17:30] siying commented on #5770
@haiping-kernel if the input data is pre-sorted, so that those SST files are already key range partitioned, it will be really fast to ingest. Otherwise, some compaction might be needed. If you are OK with temporarily doubling the space when ingesting the data, you can first disable automatic compaction, ingest them all, and do a manual full compaction in the end.

[2019-09-06 00:21] #5734 closed

[2019-09-06 09:49] Myasuka opened #5774 "Performance regression compare 5.18.3 with 5.17.2"
### Expected behavior
RocksDB-5.18.3 has better or at least equivalent performance compared with RocksDB-5.17.2

Apache Flink maintains its own rocksDB due to some necessary feature which [not accepted](https://github.com/facebook/rocksdb/pull/4463) by rocksDB community. Current RocksDB version is 5.17.2 and we plan to upgrade to 5.18.3 recently to use write buffer manager to control the native me

[2019-09-06 21:55] anand1976 commented on #5774
Couple of questions -
1. Can you reproduce the regression using db_bench?
2. Can you try with the latest RocksDB release? 5.18.3 was quite a long time ago.

[2019-09-08 15:13] Myasuka commented on #5774
@anand1976 , thanks for your reply.

- Since [db_bench](https://github.com/facebook/rocksdb/wiki/Benchmarking-tools) has many parameters to configure, would you please share some official shell snippet to run the performance benchmark?
- I have tested our flink bechmark with latest rocksDB-6.2.2. However, the performance regression still exists.

State operation | with RocksDB 5.17.2 | RocksDB 6.2

[2019-09-09 07:08] fc13240 opened #5781 "How to use EncryptedEnv in java api?"
### Expected behavior
I want use EncryptedEnv in java api.

### Actual behavior
How to use EncryptedEnv in java api?

### Steps to reproduce the behavior

[2019-09-09 17:36] anand1976 commented on #5781
Right now, there's no support for it in RocksJava. Cc @adamretter

[2019-09-09 18:14] anand1976 commented on #5774
The file https://github.com/facebook/rocksdb/blob/master/tools/benchmark.sh has examples of pre-determined benchmarks, as does this wiki page https://github.com/facebook/rocksdb/wiki/performance-benchmarks.

The exact db_bench options to set depends on the structure of the database and the type of workload you want to simulate. I'd suggest taking something like ValueStateBenchmark.valueGet since i

[2019-09-09 19:45] ltamasi commented on #5179
@gaoxiangxyz The fix will be a part of the 6.4 release. Thanks once again for reporting!

[2019-09-09 19:45] #5179 closed

[2019-09-09 21:34] maysamyabandeh commented on #5417
@ewoutp did you have a chance to take a look?

[2019-09-09 21:36] maysamyabandeh commented on #5083
@yiwu-arbug are you still planning to look into this?

[2019-09-09 21:40] maysamyabandeh commented on #4177
@siying Is persistent cache still going to be deprecated?

[2019-09-09 21:42] siying commented on #4177
@maysamyabandeh well, though it's not in active development and we don't suggest everyone use it, it's still good for some experiments, so it may not be a good idea to remove the code, unless we have a good replacement for experiments.

[2019-09-09 21:44] maysamyabandeh commented on #2687
@adamretter Is the PR you had in mind already landed?

[2019-09-09 23:00] yiwu-arbug commented on #5083
No plan. We identified this is not a bottleneck for us.

[2019-09-10 09:19] gaoxiangxyz commented on #5179
@ltamasi thank you

[2019-09-10 17:08] adamretter opened #5787 "RocksDB Crashes when compiled with jemalloc on MacOS"
I guess this is the follow on issue from https://github.com/facebook/rocksdb/issues/2954

After compiling RocksDB (today's git `HEAD` of `master`) on MacOS, if you run `make jtest` then you get a SIGSEGV in a call to `jemalloc`.

* macOS Mojave - 10.14.5
* Apple LLVM version 10.0.1 (clang-1001.0.46.4)
* Oracle JDK 1.7.0_80-b15 64-Bit Server VM
* jemalloc 5.2.1 (installed via homebrew)

The `jtest`

[2019-09-10 17:22] mpoeter commented on #5083
@maysamyabandeh @yiwu-arbug Unfortunately I had to put my experiments on ice for the last few months. I still want to keep working on this at some point, I just have to find the time for it.
Anyway, after some more considerations I think I will probably go with a fully lock-free queue, even if that means I have to introduce some reclamation scheme.

[2019-09-10 18:27] adamretter opened #5789 "Clarification on max_total_wal_size"
I understand that `max_total_wal_size` is defined per-database. The [C++ doc](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L457) describes that when set to `0` it should be calculated dynamically as:

Using RocksDB git HEAD at 2019-06-23, if I set `max_total_wal_size = 0`, and then for each of my 15 CFs (Column Families) set:
[code]

We don’t do any manual flushes, and

[2019-09-10 18:58] anand1976 commented on #5789
Yes, it is the total WAL size across all column families. The WAL is shared by all column families, so the max WAL size is the aggregate.

[2019-09-10 19:38] adamretter commented on #5789
@ananclub Okay, so the settings I posted:
[code]

were set for me by RocksDB when I called `OptimizeLevelStyleCompaction` on each Column Family.

Doing so, it seems that I have ended up with a very large dynamic WAL `max_total_wal_size`.
Is there any way to have a smaller dynamic WAL `max_total_wal_size`?

[2019-09-10 20:10] siying commented on #5789
@anand1976 I looked at the implementation of `max_total_wal_size = 0` but I feel it is odd. It appears that DBImpl::max_total_in_memory_state_ should be the actual value to use, but in db_impl_compaction_flush.cc, the value is updated in a way that makes no sense to me. Maybe we should track back the history and see how this problematic line was added.

[2019-09-10 23:02] #5599 closed

[2019-09-10 23:18] #5538 closed

[2019-09-10 23:30] anand1976 commented on #5789
@siying I don't see anything wrong in how ```max_total_in_memory_state_``` is being updated in db_impl_compaction_flush.cc. It seems to be adjusting the value in case there was any change to the ```write_buffer_size``` or ```max_write_buffer_number``` parameters. Am I missing something?

[2019-09-10 23:33] siying commented on #5789
@anand1976 do you mean https://github.com/facebook/rocksdb/blob/1b4c104a678ce211fb919a701f9aa35843b6278f/db/db_impl/db_impl_compaction_flush.cc#L3036-L3038 ?

[2019-09-10 23:35] siying commented on #5789
@anand1976 oh I got it. Hmm, Maybe there is not bug there.

[2019-09-10 23:35] siying commented on #5789
I don't know what's the problem then.

[2019-09-10 23:46] anand1976 commented on #5789
@adamretter You can always explicitly set ```max_total_wal_size```.  Interestingly, we have the ```db_write_buffer_size``` and ```write_buffer_manager``` options to limit the overall memory consumption by memtables, but they don't seem to influence the default ```max_total_wal_size``` calculation.

Cc @maysamyabandeh @riversand963 who may have more expertise in how the WAL works.

[2019-09-10 23:57] siying commented on #5789
@anand1976 db_write_buffer_size  and write_buffer_manager are for control memtable memory. max_total_wal_size is to control WAL size limit. These can mostly mean the same thing but not absolute. They also pick memtable to flush in different ways as far as I remember.

[2019-09-11 18:02] anand1976 commented on #5789
@adamretter Are you writing evenly to all the CFs? If so, then I think there may be a bug because every CF memtable should get flushed regularly, and none of them should hold a reference to very old log files. You can dump the manifest to see the log number for each CF (and min_log_number_to_keep if you've enabled 2pc).

[2019-09-11 18:15] adamretter commented on #5789
@anand1976 I am not quite sure what you mean by "evenly"?

If it is about the amount of data in each CF... then some of our CFs have much more data than others.

Could you point me to some documentation about how to dump the manifest?

[2019-09-11 18:36] anand1976 commented on #5789
Its possible one or more CFs have not been flushed for a very long time.

To dump manifest - ```ldb manifest_dump --path=<path_to_manifest_file>```

[2019-09-11 21:09] siying commented on #5789
@adamretter I guess the only task left is to improve the comment to the option?

[2019-09-12 22:49] adamretter opened #5795 "RocksJava using ZStd for bottommostCompression gives SIGSEGV"
On Ubuntu 18.04 x64 - in RocksJava after setting:

[code]

I am getting the following crash.

[code]

The backtrace:

[code]

I need to investigate...

[2019-09-13 11:34] thatsafunnyname commented on #4884
Merged into master with https://github.com/facebook/rocksdb/commit/79496d71ed9789b33340ba786b83d4a2e8033b00 .
Released with version 6.0.0 - https://github.com/facebook/rocksdb/blob/master/HISTORY.md#600-2192019
Thanks.

[2019-09-13 11:34] #4884 closed

[2019-09-13 23:30] #1474 closed

[2019-09-17 12:30] renhwztetecs opened #5814 "rocksdb causes the hdd disk to have a very high latency"
when I use the following rocksdb options, I found that when the front-end business pressure is relatively large, the HDD disk pressure is relatively large, and the application delay is high. Is there any problem with the rocksdb options configuration?
thanks

max_write_buffer_number=8
min_write_buffer_number_to_merge=2
recycle_log_file_num=4
compaction_style=kCompactionStyleLevel
write_buffer_size

[2019-09-19 01:48] wenweihu86 opened #5828 "how to subscribe rocksdb increased data ?"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2019-09-20 08:06] Yikun commented on #4277
I also encountered this when I set DEBUG_LEVEL=1 (default) in my aarch64 enviroment with gcc 7.4.0.

[2019-09-20 08:27] chenyou-fdu commented on #5743
I prepared a PR for this issue
https://github.com/facebook/rocksdb/pull/5833

[2019-09-21 02:57] Yikun commented on #4277
I think we could remove this invalid assert directly to fix this problem, see pr: https://github.com/facebook/rocksdb/pull/5836

[2019-09-21 03:52] chenrui333 commented on #5733
Relates to https://github.com/Homebrew/homebrew-core/pull/44432

[2019-09-21 06:36] qingping209 commented on #5828
https://github.com/facebook/rocksdb/wiki/Replication-Helpers

[2019-09-23 04:31] gauravkoradiya opened #5840 "Installtion Error for windows"
### Expected behavior
It should successfully installed without any error.

### Actual behavior
Getting error in last step of the install rocksdb:

[code]

[code]

### Steps to reproduce the behaviour
installed java 1.7.0_80.
All the above step compiled successfully without any error.

[2019-09-23 06:27] gauravkoradiya commented on #5840
got it. It resolved by replace "-D" with "-DWITH"

[2019-09-23 10:57] DangZhonghua opened #5842 "With write_prepare policy, after XA prepare but not commit, then shutdown the rocksdb, shutdown processing core."
### Expected behavior
With myrocks, in XA transaction scenario, with write prepare policy, after XA prepare, but before commit this transaction, shutdown the mysql server, the shutdown process core because the prepareheap assert fail in its destructor, the assert need make sure the prepare heap empty when destroy itself. But in XA scenario, the prepareheap high possibilty non-empty since there are

[2019-09-23 14:29] gimer commented on #4946
Hi, this fix probably has invalid formatting and few other issues, but it seems to be compiling,
(I haven't checked `ROCKSDB_LITE` ifdef branch though).

The fix consists of fairly simple changes:
 1. promotes InternalCFStatsType and InternalDBStatsType to top rocksdb namespace
 2. turns both enums into enum classes
 3. fixes usage

https://github.com/nemtech/rocksdb/commit/f413c0b454965409f727694

[2019-09-23 18:06] maysamyabandeh commented on #5842
Thanks for reporting the issue @DangZhonghua.
WritePrepared was developed having local transactions in mind. Extending it to XA is a direction that we are interested in as well. Can you share more about your use case? Is it experimental or for production use?
As for the assert statement, we should figure a way to keep it but to enable it only for rocksdb tests as it has caught many bugs already.
I

[2019-09-23 19:15] #4277 closed

[2019-09-23 21:08] #5814 closed

[2019-09-23 21:09] #5828 closed

[2019-09-23 21:10] #5840 closed

[2019-09-24 01:31] DangZhonghua commented on #5842
1)Thanks for reply the issue @maysamyabandeh .
Basically speaking, our use case is:  intend to support XA transaction when mysql server using rocksdb engine including the local and replication deployment. Of course, there some different issues for supporting XA, but these issues are related with SQL layer.
Since there are gap between XA prepare and commit, so this assert failiure issue could be tr

[2019-09-24 06:23] xuchaoqian commented on #5176
Just use SeekForPrev...

[2019-09-24 06:23] #5176 closed

[2019-09-24 14:46] maysamyabandeh commented on #5842
The idea was to detect PrepareHeap leaks during testing where all transactions commit/rollback.

2.2 sounds like a good idea. We should also count the rollbacks in.

With MySQL 8, which is in the roadmap of MyRocks, XA is going to be supported both for WriteCommitted and WritePrepared. The issues I mentioned are speculations about efficiency of WritePrepared in presence of rouge XA transactions. H

[2019-09-24 19:37] ajkr opened #5848 "`db_crashtest` verification fails on file ingestion heavy workload"
When running super heavy file ingestion stress test, verifying the state of the database sometimes fails. This might be a problem with the stress test, or an actual problem with file ingestion, but either way it seems worth figuring out.

### Expected behavior

We'd like to see this message:

[code]

### Actual behavior

But instead sometimes we see a message like this:
[code]

### Steps to reprod

[2019-09-24 20:20] shoda-tibco opened #5849 "db_stress fails to build on macos"
### Expected behavior
db_stress builds.

### Actual behavior
[code]

### Steps to reproduce the behavior

Using rocksdb v6.2.4 source
macos high sierra

[code]

[2019-09-25 01:28] ajkr commented on #5848
I'm not able to add an assignee, but @sumeerbhola plans to investigate this.

[2019-09-25 07:51] jognien opened #5852 "[RocksJava] Open Secondary instance?"
It's a new feature in 6.1.
but can't find OpenAsSecondary in the RocksDB_jni 6.2.2.
Is it possible to provide support in the future?

[2019-09-25 10:28] DangZhonghua commented on #5842
@maysamyabandeh
Thanks a lot for XA roadmap information and the expert concern about the write prepared which give me a lot background knowledge.
The fix can be re-implemented using the idea of 2.2:  prepared_count-(commit+rollback)?
Thanks a lot!

[2019-09-25 14:35] maysamyabandeh commented on #5842
Thank you for reporting the issue. Yes `prepared_count-(commit+rollback)` sounds good to me.

[2019-09-25 18:31] akrylysov opened #5853 "HISTORY.md and "releases" discrepancies"
1. `HISTORY.md` mentions a few versions that are missing from the releases page - e.g. 6.4.0 and 6.3.*.
2. The releases page has a few versions that are missing from `HISTORY.md` - e.g. 6.2.4 and 6.2.3.

[2019-09-26 07:31] Yikun commented on #5751
Is the `db.merge` operation an **asynchronous** operation? I encountered the same problem in my aarch64 env.

The behavior of this operations is like: the merge operations is not completed after the 10 times db.merge. looks like we need wait a moment and then trigger the final `RocksDBException`.

If it is, I think maybe we should fix the test case.

[2019-09-26 18:55] riversand963 commented on #5852
I may not have bandwidth for this recently. Would you be willing to contribute this API to RocksJava?

[2019-09-26 20:01] adamretter commented on #5852
I can probably add this

[2019-09-27 04:08] cooldoger opened #5857 "[Improvement] Better False Positive rates for large BloomFilter"
We have a use-case that want to have lower False Positive rates with large BloomFilter size. (As we're using FIFO compaction, so there're large number of L0 sstable files, which needs to be filtered out by BF). Currently, even we set the `bits_per_key` from default 10 to 250, we only get 0.178% FP rates. We believe it could do better.

cc. @siying, @pdillinger

### Expected behavior

### Actual be

[2019-09-27 14:38] sumeerbhola commented on #5848
@petermattis found a bug in db_stress.cc where it was not acquiring a lock for a key being updated in TestPut(), if there was a preceding TestIngestExternalFile(), which allowed multiple threads to concurrently mutate the same key using TestPuts. I will send a PR to fix it.

[2019-09-27 15:41] pdillinger commented on #5857
Background in https://github.com/facebook/rocksdb/issues/4120

[2019-09-30 01:36] willkozheng opened #5866 "Compile error in release version"
cmake  -DCMAKE_BUILD_TYPE=release .
gcc version 9.2.0 (GCC)

 make VERBOSE=1

[ 30%] Building CXX object CMakeFiles/testutillib.dir/db/db_test_util.cc.o
/opt/gcc/bin/g++  -DGFLAGS=1 -DHAVE_PCLMUL -DHAVE_SSE42 -DLZ4 -DOS_LINUX -DROCKSDB_FALLOCATE_PRESENT -DROCKSDB_LIB_IO_POSIX -DROCKSDB_MALLOC_USABLE_SIZE -DROCKSDB_NO_DYNAMIC_EXTENSION -DROCKSDB_PLATFORM_POSIX -DROCKSDB_PTHREAD_ADAPTIVE_MUTEX -DROC

[2019-09-30 18:09] andrewjstone opened #5868 "Custom user comparator called on internal keys when opening a new DB"
### Expected behavior
I expected that a custom comparator would only be called on user keys.

### Actual behavior
When a new DB is created via `rocksdb::TransactionDB::Open` the comparator gets called with a non-user generated key, since there are no keys in the empty, newly created DB.

### Steps to reproduce the behavior
* Create a user comparator. Include an assert.
* Call TransactionDB::Open o

[2019-09-30 18:45] riversand963 commented on #5868
I tried the following on 6.2 branch. My code change can be found below.
[code]
Then I ran
[code]
The test can finish successfully without hitting the assertion failure.

By looking at your stack trace, it seems that the `std::sort(...)` function is called on a non-empty list of L0 files, indicating the db is not empty.

[2019-09-30 19:04] andrewjstone commented on #5868
Thanks @riversand963 . I appreciate this. It does appear that it is operating on an existing database. I believe there is a bug in our test driver and for some reason the db is not being deleted. Sorry for the bother.

[2019-09-30 19:04] #5868 closed

[2019-10-01 18:08] cooldoger opened #5873 "rocksjava crossbuild fails"
`$ make rocksdbjavastaticrelease`
should build the JAR for macos, linux32 and linux64

It fails to build on linux32/linux64. Here are the issues:
1. Unable to download package
This is a workaround to download from http instead of https: https://github.com/cooldoger/rocksdb/commit/2d7772925ae7ec23787f49e0ebec7e4153ee8c20

2. missing cmake
[code]
This is a change to install cmake: https://github.com

[2019-10-01 18:31] siying commented on #5853
Feel free to send a pull request to respective versions to fix them. CC @gfosco

[2019-10-01 18:33] siying commented on #5849
I can blindly fix this specific warning for you, but I suspect that it will fix the whole db_stress for you (I personally use Windows). If you are interested, you can send a pull request to fix them all and I'll merge them. Let me know what you want me to do.

[2019-10-01 18:36] siying commented on #5866
This usually means that you had a previous DEBUG build and you started a release build before doing a cleaning. Please try to run "make clean" before running make.

[2019-10-01 18:38] siying commented on #5866
I don't think RocksDB's tests are buildable in release build. Can you try to exclude tests from your build?

[2019-10-01 19:07] cooldoger commented on #5873
Docker image is also missing cmake3:
[code]

@adamretter have you updated the image: https://github.com/evolvedbinary/docker-rocksjava/commit/1f592ae3b20ff9ddb7dd4c5c364c5e21c34038e8

[2019-10-03 15:22] koldat opened #5878 "RocksDB crash during ingest external file"
There is an issue that under some conditions ingest file tries to erase uninitialized iterator:
[code]

Why it happens? On some NFS databases we are hitting some OS race condition where ingest move file succeeds, but compaction job that is started immediately does not see that file yet. It looks like this:

[code]

You can see file was ingested, but then it is not readable. Compaction fails with I

[2019-10-03 16:39] koldat commented on #5795
I already created issue for this. It is Java API issue (different defaults).

#5496

[2019-10-03 16:46] koldat commented on #5682
I would recommend you to run with -ea. It will enable assertions and can help you to identify issue. But as @adamretter said, always use try-with-resources. Even your "if" is having race condition. One thread can close and second still tries to use already released object. If you do not have assertions you can easily crash, because object pointers has meaningless values in native code.

[2019-10-03 17:39] Aravindhan1995 opened #5880 "RAM size increase on using RocksDB Java"
I am using RocksDB as Queue for my application, The load is 5000 inserts and deletes per minute, and continuous read using rocks iterator. The RAM size increases over time.
**Configuration Details:**
JVM RAM: 2GB
DB WRITE BUFFER SIZE: 256 MB
 Each day 50-100 MB of RAM increases for the process. I am closing all the rocks objects, I am not sure what is the reason for the increase in memory.

[2019-10-03 18:32] yiwu-arbug commented on #5878
Just curious, will fsync before ingestion fix the issue for NFS? i.e. https://github.com/facebook/rocksdb/commit/2730fe693edf306aad11a48491cfe3be4c178a47#diff-261eab396686c00f04a2b8c21aae214b

[2019-10-03 19:15] vovasq commented on #675
Hello @siying, seems to be that i met kind of the same problem:

I find place from where to iterate by following code:
[code]

Saves rocks iterator and by need invoke follwoing method:

[code]
I supposed that by calling `next()` it should set to `next` variable `Record` wraps next entry ordered by key, but it is not. Search through rocksdb wiki did not help :(
Thank you in advance :)

[2019-10-03 23:44] anand1976 commented on #5880
Can you obtain a heap profile? And is the DB size constant?

[2019-10-05 10:27] koldat commented on #5880
You should set max_open_files=100 or something like that. Otherwise it is unbounded. RocksDB is keeping indices of all opened files in memory.

[2019-10-05 10:37] koldat commented on #5878
Thanks @yiwu-arbug it is very nice change! I have merged it into our production build. Hopefully will help. We are using SSTFileWriters which are flushing at and. To be sure I have added use_fsync=true for writer. I will keep you posted.

Your change is maybe fixing root cause, but the crash is happening because iterators are not properly used in subsequent parts of RocksDB. It took me a while to

[2019-10-05 15:20] warrenfalk opened #5887 "Db open memory usage regression"
There was a serious DB::Open() regression between 5.17.2 and 6.2.4 which results in memory usage of Open() in the latter to be at 4500% of the former (making it impossible to even open on the machine I was using)

### Expected behavior

DB::Open() finishes in a reasonable amount of time using a reasonable amount of memory in version v6.2.4 just like it did in v5.17.2

### Actual behavior

DB::Open

[2019-10-05 15:31] warrenfalk commented on #5887
Database that reproduces issue (only 96MB uncompressed)

http://www.filedropper.com/example-db-origtar

[2019-10-05 18:59] icreator opened #5888 "java writeBatch with ColumnFamilies error"
### Expected behavior
I use WriteBatch with ColumnFamilies:
`            writeBatch.put(columnFamilyHandle, key, value);
`
Then
`            rocksDB.write(writeOptions, writeBatch);
`
Then close DB.
After Open DB in ColumnFamilies must be stored data.
### Actual behavior
But after Open DB in ColumnFamilies no has stored data.

### Steps to reproduce the behavior
+ create DB with ColumnFamilies
+ a

[2019-10-06 06:07] icreator commented on #5888
sorry I foun my error

[2019-10-06 06:08] #5888 closed

[2019-10-06 08:27] Aravindhan1995 commented on #5880
@koldat Thank you very much, will change the number and update you the result.

[2019-10-07 18:54] Saloed opened #5891 "RocksJava BytewiseComparator iteration order"
Iteration order is different for `util.BytewiseComparator` and `BuiltinComparator.BYTEWISE_COMPARATOR`

java version: `openjdk 11.0.4`
RocksDB version: `rocksdbjni 6.2.2`

### Expected behavior
Expected the same iteration order, according to [documentation](https://github.com/facebook/rocksdb/blob/master/java/src/main/java/org/rocksdb/util/BytewiseComparator.java#L20)

### Actual behavior
Iteratio

[2019-10-07 23:25] anand1976 commented on #5887
@warrenfalk The tar is incomplete. Can you upload a good version?

[code]

[2019-10-08 00:06] yiwu-arbug opened #5892 "OnFlushCompleted is called before flush completed"
### Expected behavior
When `OnFlushCompleted` is called, we assume the corresponding memtable has finished flush - the data has been persisted as SST file, and the LSM has been updated with the result.

### Actual behavior
When there are concurrent flush job on the same CF, `OnFlushCompleted` can be called before the flush result being install to LSM. For example:
1. Flush job for memtable A start

[2019-10-08 00:37] warrenfalk commented on #5887
I should have double checked.  Sorry about that.  Let's try this:

https://drive.google.com/file/d/1kjVoeB__YlmXEwwJQ66A5ib_moDjOp6n/view?usp=sharing

[2019-10-08 18:33] yiwu-arbug commented on #5892
@siying Is this expected behavior? Thanks.

[2019-10-09 01:12] riversand963 commented on #5892
Thanks @yiwu-arbug for reporting. Probably not expected behavior. The assumption used to be one flush job per column family. Since atomic flush, it has changed such that multiple flush jobs can work on different (but consecutive) memtables of the same column family.
I am on business trip today, and will take a deeper look after I get back tomorrow.

[2019-10-09 12:52] adamretter commented on #5873
@cooldoger Nope I haven't. I have only used `make` within the Docker images in the past. I will update them to include CMake for you.

[2019-10-09 17:33] maysamyabandeh commented on #5891
@adamretter could you take a look?

[2019-10-09 17:36] cooldoger commented on #5873
The build is still failing, seems it's using older cmake version, error message:
[code]

[2019-10-09 20:03] adamretter commented on #5873
@cooldoger I have been looking into that this afternoon and hope to have something soon...

[2019-10-09 20:15] cooldoger commented on #5873
In vagrant host, I have to link cmake3 to cmake to make it work: https://github.com/cooldoger/rocksdb/commit/755f3e4c13ef34a65add38ccc21dd5c4889f4f80

[2019-10-09 21:12] adamretter commented on #5873
@cooldoger or you can use `alternatives` like in the Docker builds.

[2019-10-10 00:14] biocodz opened #5899 "Segmentation Fault opening DB using All Static Linkage"
I consistently encounter SIGSEGV when my binaries are All Static i.e. include All dependent libraries statically linked.

(!) Occasionally ( 1 in 20 or so ) it runs OK.

{!} The SIGSEGV happens on SECOND opening of the DB (i.e. it is opened once OK, then closed : [~KeyValueDatabase() { delete kvdb; }](https://github.com/biocore/sortmerna/blob/master/include/kvdb.hpp#L25), and crashes when opening

[2019-10-10 06:39] Aravindhan1995 commented on #5880
@koldat after reducing the number of MAX_OPEN_FILES to 20, still the RAM keeps on increasing.

[2019-10-10 07:41] koldat commented on #5880
You can take a look on some of my tips in #4112 There are many reason and I posted what we use to stop memory growing. Key is:

- max_open_files
- Two level index
- Controlled cache
- Xms/Xmx on same value during start
- JEMalloc (do not use 5.x version that cause deadlock in JVM and no one knows why (Oracle). Use older 4.x version)

[2019-10-10 09:50] #5878 closed

[2019-10-10 23:09] yiwu-arbug commented on #5892
@riversand963 thanks for taking a look. It seems that the behavior is not introduced by the recent atomic flush feature, but exists since when `OnFlushCompleted` callback was added (https://github.com/facebook/rocksdb/commit/28c82ff1b3275652b2eac66dac3f2a6e44af2cd8). The logic of `TryInstallMemtableFlushResults` was added since https://github.com/facebook/rocksdb/commit/1ca0584345af85d2dccc434f451

[2019-10-11 00:04] yiwu-arbug commented on #5892
@riversand963 I'm working on a fix. Should I call `OnFlushCompleted` after flush result committed (it could be call from a different flush thread), or should I keep the existing behavior and add a `OnFlushResultCommitted` callback? Thanks.

[2019-10-11 00:21] #5873 closed

[2019-10-11 19:17] riversand963 commented on #5892
@yiwu-arbug I looked at API comments and original implementation. It seems that the contract is: `NotifyOnFlushCompleted()` is called after flush succeeds and committed to MANIFEST. I prefer to keep this behavior (fixing current code). Any thoughts @siying ?

[2019-10-12 11:08] wouterbeek commented on #2445
I just had this issue today on master.  I don't think it is fixed yet:

[2019-10-12 11:15] wouterbeek commented on #5866
This may be a duplicate of #2445 .

Configuring the build with `cmake .. -DCMAKE_BUILD_TYPE=Release -DWITH_TESTS=OFF` fixes the issue.

Arguably option `WITH_TESTS` should be `OFF` by default in release mode.

[2019-10-12 11:52] zhouyouWiFiSong opened #5911 "rocksdb::Zlib_Uncompress link error"
version: 5.18.3, ubuntu 16.04.5

[2019-10-12 12:13] zhouyouWiFiSong opened #5912 "Illegal instruction"
thanks

[code]

[2019-10-12 13:42] Little-Wallace opened #5913 "IntraL0Compaction cause consitency corruption"
### Expected behavior

### Actual behavior
We use RocksDB as storage library of [TiKV](https://github.com/tikv/tikv/pull/5333), and we set `force_consistency_checks` be true in product environment. It crash because of `CheckConsistency` failed. The error is "L0 files seqno 3001491972 3004797440 vs.  3002875611 3004524421". The message appeared many times in stderr.

This is our [RocksDB Branch](ht

[2019-10-12 19:44] sab24 opened #5914 "Missing #include <array> in util/bloom_test.cc"
Macos 10.13.6
### Expected behavior
Complete compilation
### Actual behavior
Error
### Steps to reproduce the behavior
git clone https://github.com/facebook/rocksdb.git
cd rocksdb
mkdir build
cd build
cmake ..
make

/Users/sab24/Downloads/rocksdb/util/bloom_test.cc:475:26: error: implicit instantiation of undefined template 'std::__1::array<char, 3000>'
  std::array<char, 3000> data_;

Adding

#in

[2019-10-14 03:39] gaoxiangxyz opened #5915 "Too many WAL files"
### Expected behavior
max_total_wal_size is set to 512M，so WAL file size should be less than 512M

### Actual behavior
There are a lot of WAL files and size is much larger than 512M

### Steps to reproduce the behavior
[log.zip](https://github.com/facebook/rocksdb/files/3722823/log.zip)

[2019-10-14 06:09] tchaikov commented on #5866
@siying this issue should be addressed by #5916

[2019-10-14 07:04] #5911 closed

[2019-10-14 10:37] LordWinterstorM opened #5917 "Open new Rocksdb load CPU on Windows"
Hello! I use multiple instance of RocksDb, until version 6.0.2 it was ok.
I use more than 100 different RocksDB
Since 6.1.1 each new open Rocks load my CPU + 25% and not free resource
System Windows
(On Linux works well)

### Expected behavior
val options = new Options().setCreateIfMissing(true)
val db1 = RocksDB.open(options, s"c:/db/rocks1")
val db2 = RocksDB.open(options, s"c:/db/rocks2")
val d

[2019-10-14 22:49] #5914 closed

[2019-10-15 07:34] Myasuka commented on #5774
@siying This is the issue which I talked about the performance regression, would you please also take a look at this problem?

[2019-10-16 09:29] momo54 opened #5927 "cache 0"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2019-10-16 14:24] shoda-tibco opened #5931 "Memory leak reported out of __cxa_thread_atexit"
We upgraded to 6.2.4 recently and have started seeing leaks reported out of __cxa_thread_atexit on linux. These leaks are reproducible with db_bench.

[code]

### Expected behavior
No leaks reported by Valgrind or AddressSanitizer

### Actual behavior
Leaks reported by Valgrind and AddressSanitizer

### Steps to reproduce the behavior:
[Dockerfile to build rocksdb and valgrind](https://github.com/

[2019-10-16 15:41] koldat commented on #5917
If you have Windows 7, then it is most likely this regression I was hitting as well: #5552

[2019-10-16 16:24] biocodz commented on #5899
Closing, as this appears to be a problem with the Ubuntu 16.04 runtime libraries. Exact same binaries built on Centos7 work fine on both Ubuntu and Centos.

[2019-10-16 16:24] #5899 closed

[2019-10-16 17:40] #5892 closed

[2019-10-16 19:20] siying commented on #3977
@ajkr do you have any suggestion how we should fix the issue?

[2019-10-16 19:23] siying commented on #3977
@petermattis do you mean that sometimes we can cut the file so that the file only contain tombstone information without actual keys?

[2019-10-16 19:25] s-murugesapa commented on #1775
I've seen this error too. but my situation was bit different.
I am **not supposed to run “mkdir build && cd build”** but just “make release” from main folder. I kept digging into gflags and its nothing to do with it.

[2019-10-16 21:57] #5059 closed

[2019-10-18 02:09] naturlich opened #5938 "Is there any limitation of WriteBatch?"
Hi,
I want to delete multiple key-val pairs (several millions to  billion pairs) atomically from rocksdb by using WriteBatch method.
Is any limitation of the WriteBatch method, e.g. the maximum number of  key-val pairs , memory usage or others?
Thanks

[2019-10-20 17:46] petermattis commented on #4731
Turns out that this idea is incompatible with range tombstones as we only truncate range tombstone to atomic compaction unit boundaries. If we allow compaction the suffix of an atomic compaction unit without also compacting the prefix, we can end up in a scenario where a range tombstone in the prefix inadvertently starts deleting keys in the suffix when they are compacted to the bottommost level a

[2019-10-20 17:46] #4731 closed

[2019-10-20 18:05] petermattis commented on #3977
@siying Yes.

Looking at this again another thought comes to mind: it is unfortunate that compactions have to read their inputs in their entirety even if a range tombstone is shadowing a large swath of the data. The very large compactions described above wouldn't be a problem if they could be performed very quickly. And in the scenario depicted there the range tombstone is completely shadowing the

[2019-10-22 03:10] maobaolong commented on #2806
if this feature can be achieved, we can using rockdb on many fs as storage backend, such s3, oss, alluxio, cepth, because hdfs fs api has become a fs api stander, just like posix.

[2019-10-22 03:58] yiwu-arbug commented on #5913
@siying This is a false-positive reported by `force_consistency_checks=true` if there's a intra-L0 compaction compacts an ingested file. It prevent the `force_consistency_checks` flag to be useful. Do you mind suggesting how we should fix it? We are thinking adding a flag in `FileMetaData` to note if the file comes intra-L0 compaction of ingested file, and skip those files in `CheckConsistency`. T

[2019-10-22 09:54] lni opened #5954 "fsync on macos should use fcntl (fd, F_FULLFSYNC)"
### Expected behavior
According to many online resources including the macos manpage, fcntl (fd, F_FULLFSYNC) should be called to ensure that data is actually flushed onto the permanent storage.

### Actual behavior

when searching the repo, F_FULLFSYNC is not found in the code

### Steps to reproduce the behavior

search the repo to see whether F_FULLFSYNC is used

[2019-10-22 15:09] BradBarnich commented on #5938
would you be able to use DeleteRange?

[2019-10-22 18:28] siying commented on #5938
I can't think of a limit before you run out of memory. But it's not a good practice to insert large write batch. It's hard to predict the performance impact.

[2019-10-22 18:33] adamretter commented on #5938
@siying any guidance on what constitutes "large"?

[2019-10-22 18:40] siying commented on #5938
@adamretter good question. I don't know. Thinking about you are writing one such an entry to WAL, and inserting them to memtable in one operation. In the mean time, we double the memory usage. Or course, the impact will be workload specific. Maybe they don't care about slowing down other writes and have plenty of DRAM to waste. But I would be really cautious when one write batch is larger than a f

[2019-10-22 23:15] BradBarnich commented on #5912
did you build RocksDB with `PORTABLE=1`?

I've seen similar issues moving compiled bits from Intel to AMD without `PORTABLE`

[2019-10-23 03:20] Little-Wallace commented on #5913
And we find another problem which is also caused by IntraL0Compaction.

- First we have flushed many sst in L0,  we call them [s1, s2, s3].

- There is an immutable memtable request to be flushed, but because flush thread is busy, so it has not been picked. we call it m1.  And at the moment, one sst is ingested into L0. We call it s4. Because s4 is ingested after m1 became immutable memtable, so i

[2019-10-23 08:08] yiwu-arbug commented on #5913
@siying @maysamyabandeh @ajkr mind take a look? Turns out this is a data corruption issue involving intra-L0 compaction and file ingestion. Thanks!

[2019-10-23 09:28] mysunshin-zc commented on #5559
Excuse me，When the development of aarch64 rockdb will be updated！

[2019-10-23 09:28] mysunshin-zc commented on #5559
Excuse me，When the development of aarch64 rockdb will be updated！

[2019-10-23 15:04] scharfstein-dev opened #5959 "6.x spin locking regression"
We are using RocksDB for our Java application using the JNI. This mostly works well, however we noticed a regression in one scenario where the customer is using Windows Server 2016. On RocksDB 5.18.3, we did not encounter any problems, however upgrading to the 6.x line (at least for 6.0.2 and 6.2.2, which we both tested) we saw the following behavior: After about a day of heavy load, the DB would

[2019-10-23 15:36] adamretter commented on #5559
@gfosco @siying any update on this please?

[2019-10-23 19:39] siying commented on #5559
If there are not conflicts, I'm OK with backporting them to 6.3 and up. @gfosco any thought on it?

[2019-10-23 21:00] ajkr commented on #5913
We ran into this too, see https://github.com/cockroachdb/rocksdb/pull/67. Sorry I did not upstream it as my solution was simply to weaken L0 consistency checks, which felt a bit heavy handed. But I will submit it upstream now as it seems to affect more than just us.

[2019-10-23 21:29] siying commented on #5913
@Little-Wallace hmm... That is a good point. I don't know the best way to solve this bug. Should we avoid picking those two memtables together? CC @riversand963 any thoughts on it?

[2019-10-23 22:25] siying commented on #5559
@adamretter I cherry picked https://github.com/facebook/rocksdb/pull/5674 to both of 6.3.fb and 6.4.fb branch. But I see merge conflict when trying to merge it to 6.5.fb, 6.4.fb and 6.3.fb. Any idea why? I don't remember whether you have commit permission to those branches, but if you have it, feel free to backport them by yourself.

[2019-10-23 23:02] riversand963 commented on #5913
A few thoughts.
1. Ingestion of external SST file does not necessarily trigger a flush of existing memtables. If the keys do not overlap, we proceed to ingestion without flushing first. Therefore, the sequence of events described in this issue is what we expect.
2. Based on 1, relaxing consistency check for L0 seems reasonable. Original consistency check does not take this case into account and is

[2019-10-23 23:32] siying commented on #5913
@riversand963 I was mostly referring to the bug @Little-Wallace mentioned. I think the non-overlapping scenario is discussed in https://github.com/facebook/rocksdb/pull/5958

[2019-10-24 21:04] adamretter commented on #5559
@siying unfortunately I don't have permission to push to those branches:

[code]

[2019-10-25 17:06] javeme commented on #5488
Found the cause: it seems that the [native handle](https://github.com/facebook/rocksdb/blob/v5.14.2/java/src/main/java/org/rocksdb/RocksDB.java#L1727) of ColumnFamilyHandle is leaked, then it has no effect to release native handle when calling [ColumnFamilyHandle.close()](https://github.com/facebook/rocksdb/blob/v5.14.2/java/src/main/java/org/rocksdb/ColumnFamilyHandle.java#L104)

[2019-10-25 17:20] javeme commented on #5488
This issue seems to be resolved: https://github.com/facebook/rocksdb/pull/4770/commits/e552a5dc3142ee38d31365ed3d4e82b20c955d30#diff-1d8e426769eb85777e184c4d254d3306L2361

[2019-10-27 16:37] Aravindhan1995 opened #5972 "delayed data fetching in RocksDB ( Java ) as queue"
I am using RocksDB as the queue for my application. The logic is based on the incremental numbers as keys in a single column family. The insert rate is 5000 inserts per minute. The data is fetched from RocksDB using RocksIterator. There is delete after every data processing. The setup is put under load test,  Initially, the fetching speed was very high ( 1 ms ). After 10 days the inserts are stopp

[2019-10-27 16:58] markpapadakis opened #5973 "Prefix extractor and ordered iteration, and non-blocking semantics"
According to this [wiki page](https://github.com/facebook/rocksdb/wiki/Prefix-Seek-API-Changes)

According to the [tuning guide](https://github.com/facebook/rocksdb/wiki/RocksDB-Tuning-Guide)

For most of the datasets I am managing, being able to extract the prefix and build the per-SSTable bloom filter by using that prefix(as opposed to the whole key) is very important, for it can be used to skip

[2019-10-28 05:37] Little-Wallace opened #5974 "[Bug Report] two_write_queue is conflict with IngestExternalFile"
### Expected behavior

I'm trying to replace  `DBImpl` with `TransactionDB`  to improve our project performance, following the method described in this blog: [unordered_write](https://rocksdb.org/blog/2019/08/15/unordered-write.html).
I enable the param `unordered_write` and `two_write_queue` to improve performance of write with multiple thread. We expect TransactionDB could perform as DBImpl.

##

[2019-10-28 05:56] Little-Wallace commented on #5974
I thank we could use one `thread_local` variable here to avoid `EnterUnbatched ` twice.

[2019-10-28 09:34] spetrunia opened #5975 "MultiGet() crashes when running with BlockBasedTableOptions::no_block_cache=true"
Transaction::MultiGet call crashes with assertion if one runs with Block Cache
disabled:

[code]

crashes with
[code]

[code]

A complete testcase is here:
[psergey-no-block-cache-crash.diff.txt](https://github.com/facebook/rocksdb/files/3778001/psergey-no-block-cache-crash.diff.txt)

[2019-10-28 09:39] spetrunia commented on #5975
A smaller testcase, without garbage comments: [psergey-no-block-cache-crash-v2.diff.txt](https://github.com/facebook/rocksdb/files/3778018/psergey-no-block-cache-crash-v2.diff.txt)

[2019-10-28 12:38] T0mmyliu opened #5977 "coredump when multithread call delete range and use allow_concurrent_memtable_write = true"
I have two threads which can call delete_range, and I use allow_concurrent_memtable_write = true, and coredump at post_process_info->num_entries (memtable line 551), the post_process_info is nullptr. I change allow_concurrent_memtable_write to fasle or use lock
to limit only one thread can delete range, tt won't core.

I use tag: v6.1.2

[2019-10-28 18:28] Aravindhan1995 commented on #5682
Hi Team,
This is fixed after using **try with resources in Java**. Thanks for the timely help.

[2019-10-28 18:28] #5682 closed

[2019-10-28 23:14] adamretter commented on #5972
@Aravindhan1995 I don't think this is a RocksJava specific question (which is my area of expertise), so you would need one of the other team members to comment. The mailing list is a better place for questions

[2019-10-29 03:08] naturlich commented on #5938
Thanks! We reduced the on big write batch to multiple small write batches to avoid the large memory usages.

[2019-10-29 03:08] #5938 closed

[2019-10-29 03:46] T0mmyliu commented on #5977
You can use this code to reproduce:
TEST(Basic, SingleThread)
{
  rocksdb::DB* db;
  rocksdb::Options options;
  options.create_if_missing = true;
  options.allow_concurrent_memtable_write = false;

  char* tmpfile;
  tmpfile = tmpnam(nullptr);

  rocksdb::DB::Open(options, tmpfile, &db);

  std::thread t1(DeleteRange, db);
  std::thread t2(DeleteRange, db);

  sleep(3);
  stop = true;
  t1.join()

[2019-10-29 04:01] T0mmyliu commented on #5977
This code is not thread safe
[code]

[2019-10-29 04:56] riversand963 commented on #5977
`GetPostMap()`  is a non-public member function of `MemTableInserter`. There are several places where we construct `MemTableInserter` objects.

- https://github.com/facebook/rocksdb/blob/master/db/write_batch.cc#L1957
- https://github.com/facebook/rocksdb/blob/master/db/write_batch.cc#L1995
- https://github.com/facebook/rocksdb/blob/master/db/write_batch.cc#L2018

In these places, I cannot find mu

[2019-10-29 05:25] koldat commented on #5972
There is an article for this https://github.com/facebook/rocksdb/wiki/Implement-Queue-Service-Using-RocksDB

Anyway what I do it to implement with not a single delete.

1. Create family for your queue
2. Store somewhere a read index (last key you have processed).
3. Just iterate like you do (seek to last processed)
4. Every 10000 messages or something you simply call deletefiles in range. It will

[2019-10-29 06:26] T0mmyliu commented on #5977
all my test code is
[code]

[2019-10-29 06:30] T0mmyliu commented on #5977
thank you for reply, I will try to reproduce it at 6.1.fb.

[2019-10-29 07:08] T0mmyliu commented on #5977
I reproduce crash at 6.1.fb

Try
[code]

[2019-10-29 16:50] ltamasi commented on #5975
Yes, it seems like the MultiGet code path relies on a block cache being present. Cc @anand1976

[2019-10-29 17:04] javeme opened #5980 "v6.4.0 core dump while RocksDB.listColumnFamilies()"
### Actual behavior
The following error would always occur, we used the code on master branch(v6.4.0):
[code]
No such issue in version v6.3.6

### Steps to reproduce the behavior
[code]

Detailed log: [hs_err_pid85880.log](https://github.com/facebook/rocksdb/files/3784800/hs_err_pid85880.log)

Env: Mac OS X 10.11.6
git latest commit: 013babc6858c79ca7e476fe7b146544bb4dd6bd2

[2019-10-29 17:17] avijayanhwx opened #5981 "RocksDB write batch operation fails with error and crashes while writing a batch with sync enabled."
### Version
      <groupId>org.rocksdb</groupId>
      <artifactId>rocksdbjni</artifactId>
      <version>6.0.1</version>

### Steps to reproduce the behavior
We have a RocksDB Java setup where we create a DB with sync enabled in Write options. Our RocksDB client is here -
https://github.com/apache/hadoop-ozone/blob/master/hadoop-hdds/common/src/main/java/org/apache/hadoop/hdds/utils/db/RDBStore.j

[2019-10-29 17:32] javeme opened #5982 "crash caused by concurrent CF iterations and drops"
### Actual behavior

The library used is from https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni/6.3.6
[code]

another time:
[code]

### Steps to reproduce the behavior
Unknown currently

Reproducible version: 6.3.6, 6.2.x, 6.1.x, 6.0.x (all from [maven rocksdbjni](https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni))

### Env

System Details

Distributor ID:	Ubuntu
Description:	Ubunt

[2019-10-29 18:13] maysamyabandeh commented on #5974
@yiwu-arbug Is this the same problem you faced?

[2019-10-29 18:16] siying commented on #5974
btw @yiwu-arbug can you take a look at https://github.com/facebook/rocksdb/pull/5716 ?

[2019-10-29 18:23] siying commented on #5974
@maysamyabandeh @Little-Wallace is @yiwu-arbug 's teammate. So the answer to your question must be no.

[2019-10-29 19:48] yiwu-arbug commented on #5974
Yes, I was referring to this issue found by @Little-Wallace.

[2019-10-29 19:49] yiwu-arbug commented on #5974
Sorry it fell off my radar. Will take a look.

[2019-10-29 19:51] yiwu-arbug commented on #5974
Shall we enable unordered_write in db_crashtest.py?

[2019-10-29 20:55] riversand963 commented on #5977
It's weird. I ported your test to our unit test framework, and it seems to be running OK. I also tried changing the thread func to execute the aforementioned infinite loop, but could not see the crash.

[code]

[2019-10-29 21:48] maysamyabandeh commented on #5982
Perhaps if you could run your program under valgrind or compiled with ASAN, it would give more accurate hints of where the bug is.

[2019-10-29 21:58] maysamyabandeh commented on #5981
The error message indicate that transaction write_policy is changed between the two DB opens. If you dont change that in your code (or you dont use transactions at all), it means that WAL is corrupted. You can use "./ldb --dump_wal" tool to further investigate the WAL content.

[2019-10-29 23:05] maysamyabandeh commented on #5980
@adamretter could you take a look?

[2019-10-30 03:29] #5488 closed

[2019-10-30 08:43] #5641 closed

[2019-10-30 08:56] adamretter commented on #5980
@maysamyabandeh sure.

[2019-10-30 17:02] javeme commented on #5982
Does it seem the iterator has lost SuperVersion reference?

[2019-10-30 17:48] anand1976 commented on #5975
I overlooked this case - thanks for catching it. Let me create a PR for the fix. Its simple to fix as there's no real reason MultiGet needs to rely on a block cache.

[2019-10-30 18:32] siying commented on #5975
It also reminds us that crash test doesn't cover the scenario that no block cache is used.

[2019-10-30 21:27] masokan opened #5988 "Support cloud file system schemes in HDFS URIs"
### Expected behavior
When a cloud file system scheme is specified in HDFS URI, RocksDB should use the cloud file system for its storage.
### Actual behavior
RocksDB is trying to use the default file system
### Steps to reproduce the behavior
In Hadoop configuration, define the default file system as HDFS.  Also, add configuration parameters for a cloud storage like GCS.  In a program that uses Ro

[2019-10-30 22:45] riversand963 commented on #5988
We have been able to run dbstress on hdfs with fsname "hdfs://<.+>". Can you try something like the following?
[code]

Under the hood, `hdfsConnectNewInstance(host, port)` will be called. Not sure whether this works with "gs://".
The configuration you make in Hadoop configuration will not be processed by RocksDB.
It will also be better if you could provide more information about your use case. For

[2019-10-31 01:01] masokan commented on #5988
If I specify hdfs://namenode:port for the URI, it works.  However, gs://mybucket does not work even though GS is one of the configured file systems.  I have a patch that fixes this problem.  If someone assigns this ticket to me, I can create a pull request.  Thanks.

[2019-10-31 01:52] darionyaphet commented on #5988
Is it currently supported rocksdb on `HDFS` ?

[2019-10-31 03:29] riversand963 commented on #5988
@masokan Feel free to submit a PR. Are you going to use the GCS Cloud Storage Connector for Hadoop?

[2019-10-31 03:41] riversand963 commented on #5988
You can run RocksDB on HDFS, but there are caveats.

- Certain RocksDB operations may require random write in certain situations. For example, file ingestion may write a global sequence number to an offset within an SST if configured by user.

- There are also cases in which RocksDB may access file system metadata more often than ideal since RocksDB was originally for local, POSIX filesystem whose

[2019-10-31 14:42] masokan commented on #5988
@riversand963 Great feedback.  Thanks!  Sure I will submit a PR soon.
Functionally, I am aware of one limitation of HDFS (and cloud file systems): there is no file locking support.  If table locking is done outside RocksDB, this limitation can be dealt with.
As far as performance is concerned, in my use case I will try to avoid the situations you mentioned.  With my patch, I did some preliminary t

[2019-10-31 17:21] adamretter commented on #5980
@javeme I am afraid I cannot reproduce what you are seeing.

This is the test case here:

[code]
---
I compiled RocksDB from `master` (v6.6.0) using: `ROCKSDB_DISABLE_JEMALLOC=true make rocksdbjava`

---
## My System

* macOS 10.14.5

* openjdk version "1.8.0_201"
    OpenJDK Runtime Environment (Zulu 8.34.0.1-CA-macosx) (build 1.8.0_201-b10)
    OpenJDK 64-Bit Server VM (Zulu 8.34.0.1-CA-macosx)

[2019-10-31 17:22] adamretter commented on #5980
@javeme can you provide a reproducible example?

[2019-10-31 21:24] #5981 closed

[2019-10-31 22:23] maysamyabandeh commented on #5982
I think you got it right. The iterator must be closed before the column family is dropped.

[2019-10-31 22:36] riversand963 commented on #5927
This should have been opened by mistake. Feel free to re-open if otherwise.

[2019-10-31 22:36] #5927 closed

[2019-11-01 02:33] #5733 closed

[2019-11-01 02:34] chenrui333 commented on #5733
It got fixed.

[2019-11-01 11:31] javeme commented on #5982
@maysamyabandeh Thank you very much.
Can we let iterator-constructor increase the reference to ColumnFamilyData, because the release of iterator is controlled by java GC when using JNI, so it is is easy to cause this issue.

[2019-11-01 14:37] sfackler opened #5996 "v6.4.6 is missing the FALLOC_FL_KEEP_SIZE fix."
### Expected behavior

The source should compile on CentOS

### Actual behavior

[code]

### Steps to reproduce the behavior

Compile the source tarball on a CentOS 6 distribution (using devtoolset for a modern C++ toolchain).

It seems like this PR needs to be backported: https://github.com/facebook/rocksdb/pull/5708.

[2019-11-01 20:31] masokan commented on #5988
@riversand963 I have checked in my changes to @masokan /rocksdb.  I have difficulty submitting a pull request.  Please help.

I tested the fix by running some tests to access HDFS and GCS.  I do not have access to S3 or Azure to test them.

Following are some differences in the behavior of RocksDB between the current release and after the fix for this issue:

- When a HDFS URI is specified without

[2019-11-01 21:59] maysamyabandeh commented on #5982
CC @adamretter who knows the Java world better.

[2019-11-01 23:57] maysamyabandeh commented on #5996
Thanks for the report. I just backported that: https://github.com/facebook/rocksdb/commits/6.4.fb

[2019-11-01 23:57] #5996 closed

[2019-11-02 04:32] javeme commented on #5982
hi @maysamyabandeh @adamretter

I analyzed the code, maybe there are 2 ways to solve this issue:

1. The first is in the Java layer, let org.rocksdb.RocksIterator hold a ColumnFamilyHandle reference, to prevent the ColumnFamilyHandle from being released before org.rocksdb.RocksIterator.
2. The second is in the C++ layer, let the InternalIterator pin ColumnFamilyData(increase CFD refs), witch can g

[2019-11-02 10:52] chang290 opened #6003 "FindObsoleteFiles holds on db_mutex for > 1s"
Rocksdb Version: 5.15.10

### Expected behavior
Each set operation delay should be kept within milliseconds

### Actual behavior
After a period of execution, when there are more SST files, there is a periodic high latency every options.delete_obsolete_files_period_micros.

### Steps to reproduce the behavior
Compile and execute using the following code:
1) Write data in the order of Key;
2) Set op

[2019-11-02 12:26] vamossagar12 opened #6004 "Prefix Seek API In Java performance"
I am looking to implement the Prefix seek mode implementation provided in the Java APIs. 1 of the questions that we had is that are there any performance implications which can arise due to frequent conversion of Java objects to native code via JNI.

Something similar to this: https://github.com/facebook/rocksdb/issues/538#issuecomment-83145980

Is this something which we need to be mindful of if

[2019-11-02 17:07] javeme commented on #5982
Both the above two ways can solve this issue, and I have submitted a patch(using the first way).

ps. we also tried the second way, the attachment shows the code diff: [fix-coredump-by-iter-ref-cfd.diff.txt](https://github.com/facebook/rocksdb/files/3800742/fix-coredump-by-iter-ref-cfd.diff.txt)

[2019-11-04 08:30] veryl commented on #5418
I meet the same SIGSEGV by use rocksdb 5.10.2 when use TwoPartComparator.

[2019-11-04 12:13] koldat commented on #6004
I agree. There is a PR from me very long time. I did not heard back from RocksDB team. We are using that in our production very long time and it helps a lot (direct buffers).

PR: #2283

Then you can simply extend it for function you are interested in.

[2019-11-04 12:15] koldat commented on #6004
@siying @adamretter  Can we agree on final "no" or "yes"? I can then rebase to master. I need to do that with every release in our builds and it looks to me that it is demanded by other people as well.

[2019-11-04 15:47] masokan commented on #5988
@maysamyabandeh can you please reassign this to me?  I can create a pull request for review.  Thanks.

[2019-11-04 19:31] maysamyabandeh commented on #5982
I would like to hear @adamretter's take on this. But iterator's keeping references to no-longer-existing CFs sounds a bit scary to me. I am afraid it might cause more problems than it fixes.
At the moment, there is no bug in the code and it would be fine as long as the developer follows the suggested discipline of closing iterators explicitly before dropping the cf.

[2019-11-04 19:34] maysamyabandeh commented on #5982
Here is the suggested discipline (curtesy of @sagar0): https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management

[2019-11-04 19:35] maysamyabandeh commented on #5988
1. You don't need the assign feature to create a PR.
2. I recommend making sure @riversand963 is onboard before working on the PR.

[2019-11-04 22:16] masokan commented on #5988
@maysamyabandeh Thanks.  @riversand963 do you have any comments before I create a PR?  Thanks,

[2019-11-04 23:01] maysamyabandeh commented on #6003
DBImpl::FindObsoleteFiles's high latency has been observed before, and since it holds on db_mutex it affects p99.9 latency of the entire db . Feel free to submit a PR if you have a patch to improve it.
I should warn that this part of the code base is not well maintained, and changes to it should be done with extra caution.

[2019-11-04 23:07] yiwu-arbug commented on #6003
#5796 might help.

[2019-11-04 23:18] maysamyabandeh commented on #6003
@chang290 could you try with https://github.com/facebook/rocksdb/pull/5796?

[2019-11-05 14:01] javeme commented on #5982
@maysamyabandeh I agree with this point.

Still we need to consider how to deal with the following scenarios:

If someone **A** is querying with iterators, and someone else **B** wants to drop the CF, what should we do:
1. Don't allow to drop CF, return error or the B must wait for A until the end of query. (**B wait A**)
2. Allow to drop CF, and
   - Interrupt the query in progress. (**B interrup

[2019-11-05 19:32] maysamyabandeh commented on #5982
You are right that concurrent cf drop is not a well-explored topic. It seems that a simple RW lock on the user side could care of most of the cases. To address further liveness issues, the user can implement fancier synchronization methods. Since it does not seem to be a popular use case, it seems better to keep the complexity on the user side rather than pushing it to inside rocksdb.

[2019-11-05 21:59] koldat commented on #5959
First what I would do is to do set of thread dumps (kill -3, jcmd, jstack,... ) and retrieve rocksdb log file. Then you can see just from that dumps if jni calls are really stuck.

On windows you can also make pdb for dll and then heap dump of app. Then we can see full stacks down to native level. It can be easy proof of deadlock.

[2019-11-06 16:44] scharfstein-dev commented on #5959
Thanks for the hints, I will try to produce some thread dumps! About the PDB option: we are not building RocksDB on our own but just depending on "org.rocksdb/rocksdbjni" in our Gradle build. Do you know if an official PDB build is available as well?

[2019-11-06 16:56] koldat commented on #5959
I do not know. We are using our builds. @adamretter, does official JNIs have debug symbols for Windows?

Otherwise I can send you our jar having all symbols for all platforms, just for debug purposes. Or it is also possible to override DLL just by putting that in current directory of app. Then it will not use dll from jar, but provided one. You can then build DLL to produce PDB for exactly the ver

[2019-11-07 06:18] CAIQT opened #6012 "OpenAsSecondaryWALTailing in rocksdb_db_secondary_test Failed"
### Expected behavior
Pass test. (Built with vs2017, running in Win10 x64)

### Actual behavior
Raise Exception.  Program crashed.
![Untitled](https://user-images.githubusercontent.com/3953402/68364596-666f8580-0169-11ea-9dc9-3336b8785b86.png)

### Steps to reproduce the behavior
build with vs2017 with debug configuration, and simply run **rocksdb_db_secondary_test**

[2019-11-07 06:39] CAIQT commented on #6012
I found that it may caused by the following codes in function _RemoveOldMemTables()_ in **db/memtable_list.cc**  :
`
  for (auto it = memlist.rbegin(); it != memlist.rend(); ++it) {
    MemTable* mem = *it;
    if (mem->GetNextLogNumber() > log_number) {
      break;
    }
    current_->Remove(mem, to_delete);
`

The iterator **it** turns invalid after `current_->Remove(mem, to_delete);`

[2019-11-07 17:22] pdillinger commented on #4997
#3518 looks like you fixed the deletion by surprise, but in our current environment, not deleting by surprise is essentially as bad. I think it's ok to allow the option *only* for read-only backup engine.

[2019-11-07 20:02] #5975 closed

[2019-11-08 16:17] pdillinger opened #6017 "Test DBFlushTest.FireOnFlushCompletedAfterCommittedResult hangs sometimes"
Seen at least two hangs in Travis, and I can reproduce on my devserver, generally in under a minute, with

    while ./db_flush_test --gtest_filter=*FireOnFlushCompletedAfterCommittedResult*; do :; done

[2019-11-08 16:34] pdillinger commented on #6017
Relatively new test from pull #5908

[2019-11-08 18:14] riversand963 commented on #6012
PR is under review. Let's migrate our discussions to PR :). I will be closing this issue to avoid duplication. Thanks @CAIQT for reporting the issue.

[2019-11-08 18:14] #6012 closed

[2019-11-08 18:55] yiwu-arbug commented on #6017
Reproduced on my side. Looking.

[2019-11-08 22:00] pdillinger commented on #5110
I agree. I've clarified this a bit in the wiki to make it clear that prefix_same_as_start = false (the default) may have different behaviors as the implementation chooses.

[2019-11-08 22:00] #5110 closed

[2019-11-08 22:34] yiwu-arbug opened #6019 "Proposal: BlobDB GC with merge operator"
I understand BlobDB's GC is still under development, but the existing partial implementation is when GC try to update blob index in LSM, it will make use of write callback for write conflict check (https://github.com/facebook/rocksdb/blob/master/utilities/blob_db/blob_db_impl.cc#L1431). Per our experiment it will hurt user write performance during GC, since GC writer will need to drain the writer

[2019-11-09 14:41] gritzko commented on #4334
@Domos I almost went insane. Thank you!

[2019-11-11 06:03] tabokie commented on #6019
While working on the prototype, I found that merge operator only provides an incomplete abstraction of "state transition".
A complete state transition should cover value-type transition, as per the doc:
[code]
For example, I can't leverage current merge operator interface to delete a key (which involves changing value_type from `kTypeValue` to `kTypeDeletion`)
I want to know what's the official sa

[2019-11-11 08:53] javeme commented on #5982
For concurrent CF iteration and drop, the user-side implementation cost is higher, and each user has to achieve their different implementations by themselves. Whereas it's more friendly and secure to push it to inside rocksdb, and the implementation on the rocksdb side is not complex. A discipline can work, but it will increase the error risk and difficulty for users, especially if the user does n

[2019-11-11 17:34] ltamasi commented on #6019
@yiwu-arbug We're actually taking a different approach for garbage collection in BlobDB; I expect the pre-existing partial implementation to go away in the next couple of weeks.

[2019-11-12 00:27] siying commented on #5982
@javeme the whole point of having SuperVersion is to avoid the cost of acquiring DB mutex for each get or iterator, which used to be a major bottleneck to the system. Bringing back DB mutex in the normal read paths will almost definitely introduce performance bottleneck. Even if DB mutex is not held, frequent referencing ColumnFamilyData is not what we want to do in the long term. It is true that

[2019-11-12 05:29] yiwu-arbug commented on #6019
@ltamasi sure. It'd be great if you can share some info of the new GC approach. But we look forward to any advancement to the BlobDB project anyway.

[2019-11-12 18:40] yiwu-arbug commented on #6019
Let's get a hacky working prototype and see how's the result before worrying about API.

[2019-11-13 00:41] yiwu-arbug opened #6026 "File ingest may skip necessary memtable flush if unordered_write is enabled"
### Expected behavior
File ingestion job need to flush memtable if key range of the file being ingest overlap with key wrote before the job and haven't flush.

### Actual behavior
When unordered_write is enabled, a key can have seqno assigned and wrote to WAL before an ingestion job starts, and pending writing to memtable. If the ingestion job check memtable key range before the key landing in mem

[2019-11-13 00:42] yiwu-arbug commented on #6026
@maysamyabandeh I plan to fix it by having ingestion job wait on `switch_cv_` before checking memtable key range. What do you think? Thanks.

[2019-11-13 15:28] biocodz opened #6031 "Compile error: db/db_impl/db_impl.cc:1899 : may be used uninitialized"
OS: Ubuntu 16.04
Compiler: GCC 9.2.1
RocksDB release: master head

Static library build fails (shared library OK):
[code]

Note that building `v6.4.6` works OK.

[2019-11-13 15:53] javeme commented on #5982
@siying thanks,  I get the context.

I will try to follow the path you said, and have found two implementations:

1. The first way is to let SuperVersion reference ColumnFamilyData, but ColumnFamilyData does not reference SuperVersion, SuperVersion is moved to the upper layer of ColumnFamilyData, so that the code using ColumnFamilyData are changed to use SuperVersion, this implementation seems rea

[2019-11-14 00:44] #4120 closed

[2019-11-14 00:44] #5857 closed

[2019-11-14 01:53] siying commented on #5982
I agree that 1 is very complicated to implement. 2 is very tricky too. ColumnFamilyHandle right now is a simple wrapper of ColumnFamilyData, so other than as a pointer to ColumnFamilyData it is immutable and can be freely used in all the threads. Introducing a super version, which can be changed would make it really complicated.

I think we might be able to just resolve the circular reference when

[2019-11-14 12:15] cighao opened #6033 "Why use batched write in DBImpl::WriteImpl() when disable WAL"
When disabling WAL and enabling concurrent memtable writes, why do we still use batched write in DBImpl::WriteImpl() to serialize the writes. In DBImpl::WriteImpl(),
(1) it selects a leader, then get a global sequence
(2) pick up the followers
(3) set sequence for the followers
(4) concurrently write data to memtable
(5) wait for all requests which are in this batch to be finished
(6) update the g

[2019-11-14 18:54] yiwu-arbug commented on #6033
@cighao what you propose is more close to the recently introduced `unordered_write` option. The catch with that is on read, some keys with seq < last_seq may not landed in memtable yet. If your application can live with that (e.g. have external mechanism to skip keys still being written, etc), the `unordered_write` option is actually pretty neat.

[2019-11-15 04:39] javeme commented on #5982
It seems that circular reference can't be broken, and there is no chance to delete ColumnFamilyData since each other's refs are greater than 0. Therefore, we are unable to clean up ColumnFamilyData forever. (◞‸◟)

[2019-11-15 05:11] javeme commented on #5982
If we can't take advantage of circular reference, can we do ColumnFamilyData.Ref() at the time of SuperVersion.Ref() like [ColumnFamilyData::GetReferencedSuperVersion()](https://github.com/facebook/rocksdb/blob/f0b469e563aaecea561b5396c955a4afa5492d73/db/column_family.cc#L1054), and do ColumnFamilyData.Unref() when dereferencing SuperVersion? Only hold DB mutex when deleting ColumnFamilyData with

[2019-11-15 09:38] schaebo commented on #5781
@anand1976: Do you know what would be needed to make it available for the Java API, if someone would want to provide a PR for it ?

[2019-11-15 11:59] markpapadakis opened #6040 "iterate_upper_bound semantics/performance opportunities"
I should have probably looked at the actual implementation, but if `rocksdb::ReadOptions::iterate_upper_bound` is defined, then maybe, when iterating, instead of comparing each key against the prefix key provided in Seek(), the upper bound can be used to determine, well, the upper bound using e.g binary search, so that you can safely assume that within a range [start, end) all keys will be >= pref

[2019-11-15 20:55] siying commented on #5982
I'm not sure I understand it. If SuperVersion has reference 1 by CFD and CFD has reference 1 by SuperVersion, can a function call TryDeleteCft() simply dereferences super version, which would triggers a SuperVersion::Cleanup(), which dereference CFD and destroy it?

[2019-11-15 22:00] #5974 closed

[2019-11-15 22:14] yiwu-arbug commented on #6026
@maysamyabandeh ping

[2019-11-17 14:58] leaout opened #6044 "random read test."
### Expected behavior
I stored 300000000 key-value in 7 column families.
then testing random read.   expected  more than 10000 ops/sec
### Actual behavior
about 10 ops/sec
but, when i ran it several times , the performance increased.
### Steps to reproduce the behavior
db options:
avoid_unnecessary_blocking_io=false
  two_write_queues=false
  allow_ingest_behind=false
  writable_file_max_buffer_si

[2019-11-18 04:01] javeme commented on #5982
Is the TryDeleteCfd() probably like this?
[code]

Still 2 key questions to confirm with you:

1. There are about 20 places to try to delete cfd, do we need to replace them with TryDeleteCfd()? Or just call TryDeleteCfd() in ~ColumnFamilyHandleImpl() method?
[code]

2. Similarly, we should also add TryDeleteSuperVersion() method, and have to replace all super_version->Unref() with TryDeleteSuperVer

[2019-11-18 16:24] maysamyabandeh commented on #6026
Sorry @yiwu-arbug for delayed response. I had not got the notification.
Your solution sounds good. Can you remind me how this behavior is broken with unordered_write? How does the normal write enforce this?

[2019-11-18 18:29] yiwu-arbug commented on #6026
Ingestion job enters writer queue so that for normal write, when ingestion job checks memtable key range, there are no ongoing memtable writes. With unordered_write we need to make sure no ongoing memtable write as well.

[2019-11-18 19:07] maysamyabandeh commented on #6026
Makes sense. Thanks for working on this. Looking forward to the patch.

[2019-11-18 23:12] StephanTLavavej opened #6048 "autovector::iterator shouldn't const-overload dereference operators"
### Expected behavior

Dereferencing a `rocksdb::autovector::iterator` shouldn't be affected by whether the `iterator` is top-level `const`.

### Actual behavior

`rocksdb::autovector::iterator::operator*()` and `operator->()` are `const`-overloaded, which doesn't conform to the C++ Standard's iterator requirements.

### Steps to reproduce the behavior

Here is a test case that works with `std::ve

[2019-11-19 18:31] aseidlitz commented on #513
as per https://github.com/facebook/rocksdb/wiki/RocksDB-FAQ:
The maximum recommended sizes for key and value are 8MB and 3GB respectively.

[2019-11-19 19:24] siying commented on #513
@ekg actually, the int32 limit is not related to compaction style. The main reasons are (1) in all current implementation of memtable, we encode key and value size as varint32; (2) in all current implementation of SST tables, we encode key and value size as varint32. No fundamental reason that they cannot be extended to varint64, but it's a pain to make a change and so far there isn't a strong rea

[2019-11-19 19:45] ekg commented on #513
It does seem arbitrary to me to use 32 bits. You never know when you might
need a really big key and value. 32 bits is pretty small.

Are you concerned about performance costs of 64 bit values? It would seem
to matter only for small keys, and maybe not very much because you're using
a varint encoding.

To be clear, I'm not stuck because of this. It's just a curiosity to me.
I've moved a number of

[2019-11-19 20:05] siying commented on #513
@ekg it has been the case since LevelDB and we never revisited it.

[2019-11-19 21:15] adnavare commented on #2635
Hi I am facing this same error when compiling rdb. I don't see db/dh_wrapper.h in my current rdb directory. So i have replaced it with just db_wrapper.h. But now after changing that i am seeing the error

 ../db_wrapper.h:49:38: error: ‘Arguments’ does not name a type
     static Handle<Value> Close(const Arguments& args);

Can someone please help me in compiling this tool.

[2019-11-20 01:33] siying commented on #6031
I hope https://github.com/facebook/rocksdb/pull/6054 can fix it.

[2019-11-20 01:47] siying commented on #6033
As what @yiwu-arbug  said, it's mostly unordered_write feature. If you are able to handle relaxed consistency guarantee, you can give it a try. This feature can achieve up to 3x peak write throughput.

[2019-11-20 01:47] #6033 closed

[2019-11-20 01:50] siying commented on #6040
@yiwu-arbug did a set of improvements so that the upper bound check is avoided if the whole data block or the whole SST file is inside the upper bound. Do you still see key comparison for upper bound for every key?

[2019-11-20 01:53] siying commented on #6044
What's your block cache size? If you never set it, it is a default 8MB block cache and it will be too small.

In general, it is a good idea to report perf_context so that we can break down the latency. Here is how to get it: https://github.com/facebook/rocksdb/wiki/Perf-Context-and-IO-Stats-Context

[2019-11-20 14:15] leaout commented on #6044
std::shared_ptr<rocksdb::Cache> cache = rocksdb::NewLRUCache(64<<20);
    rocksdb::BlockBasedTableOptions table_options;
    table_options.block_cache = cache;
    options_.table_factory.reset(rocksdb::NewBlockBasedTableFactory(table_options));

@siying , I setted , but it seem to   not work.

[2019-11-20 18:14] siying commented on #6044
@leaout can you post perf context profile for your query?

[2019-11-20 19:06] siying commented on #6031
https://github.com/facebook/rocksdb/pull/6054 should fix it.

[2019-11-20 19:06] #6031 closed

[2019-11-21 02:59] leaout commented on #6044
user_key_comparison_count = 2113124, block_cache_hit_count = 38471, block_read_count = 29935, block_read_byte = 26614743, block_read_time = 239801853834, block_cache_index_hit_count = 0, index_block_read_count = 0, block_cache_filter_hit_count = 0, filter_block_read_count = 0, compression_dict_block_read_count = 0, block_checksum_time = 35958815, block_decompress_time = 394606542, get_read_bytes =

[2019-11-21 07:48] markpapadakis commented on #6040
@siying I am merely suggesting that if there's an upper bound key specified, then binary search can be used to determine the upper bound in a block's/SSTable's keys range, so that when iterating a [start, end) range, there won't be no need to invoke the comparator for the keys in that range to determine if the iteration is within that range, because the end of the range has been determined earlier

[2019-11-21 10:50] 77aditya77 opened #6063 "Support needed on Performance Issue"
Hi,

I am using RocksDB JNI and I found that reads are getting exponentially slow for this program

`long n = 0;
        int counter = 0;
        try(
                final Options options = new Options()
                        .setCreateIfMissing(true)
                        .setComparator(new Comparator(new ComparatorOptions()) {

                    @Override
                    public String

[2019-11-21 10:53] 77aditya77 commented on #6063
_Forgive me for the breakage in code paste. The code starts with the character "`"._

[2019-11-21 16:26] kwek20 opened #6065 "ignore_unknown_options mention wrong options"
### Expected behavior
When i load a map with config values, and one of those has a typo/unknown key, RocksDB lets me know there is something wrong with the map in a more meaningful manner.

Example: `DBOptions found unexpected key: "avoid_unecesary_blocking_io"` (typo)
Or, a parameter which will be filled with an error message, or `DBOptions.printErrors()`. Anything :D

If you have a lot of option

[2019-11-21 19:22] siying commented on #6044
@leaout how many queries is it for?

[code]
Block reading time is really relatively long: 8 miiliseconds per block read, and each block is about 900 byte read. Are you running on hard drives? If it is hard drive, then it is expected. If it is flash, check why one I/O takes so long. But I wouldn't expect even close to10K QPS for hard drives.

Also, since you are running Get() most of the them, I su

[2019-11-22 03:04] leaout commented on #6044
@siying about 30000 get() ops,
running on hard drive,
already set "options_.bloom_locality = 5" ,

another test:
when stored 30000000 key-value pairs in rokcsdb, get() runs very fast.
but if stored ten times(30000*10000)  key-value pairs, get() runs slow. have divided into 7 column families.

I want to know how to improve get() perfmance if stored large data.

[2019-11-22 06:09] zcdqs commented on #4729
I have the same problem and it is solved by using gcc 4.9(from scl) other than 4.8 of centos 7

[2019-11-22 21:29] siying commented on #6044
"options_.bloom_locality = 5" does not turn on bloom filter. You can find how you can turn on bloom filters here: https://github.com/facebook/rocksdb/wiki/RocksDB-Bloom-Filter

Performance for simple Get() with reasonable amount of DRAM is very straight-forward if you run on hard drives. Turn on bloom filter, and it should do approximately I/O per request. Using certain amount of threads, you woul

[2019-11-22 21:40] pdillinger commented on #4997
Proposal: if the option is set to something other than default and opening !read_only, ignore the configured value (treat as default) and issue a warning to the log. Use the value if opening read_only. With this we should be able to delete the confusing logic around this option in the backup deletion and collection code.

Proposed addition to HISTORY.md under "unreleased" "Public API Change":
* Th

[2019-11-22 22:01] ajkr commented on #4997
Does the problem still happen if users follow the procedure of occasionally opening a writable backup engine with `max_valid_backups_to_open = MAX_INT`? Just curious - in any case I am happy to see the option disabled for writable backup engines, as the proper procedure for using it is too surprising/error-prone.

Sounds good to me.

[2019-11-22 23:24] pdillinger commented on #4997
In theory, that should be OK, but I agree it's just too hazardous. I looked at Facebook-internal uses of the option in forming my proposal. ;)

[2019-11-23 22:47] wangyi-fudan opened #6077 "introducing wyhash hash function"
Dear All:
I would like to introduce wyhash (https://github.com/wangyi-fudan/wyhash)
It is a 64-bit little endian portable hash function. It is the fastest one that passed all strict hash function tests (https://github.com/rurban/smhasher). I think rockdb can make use of it to increase performance.

[2019-11-24 05:53] WangEP opened #6078 "memtablerep_bench cannot run"
### Expected behavior
I want to test the performance, so I compile and run the memtablerep_bench program. but I got an error:
ERROR: flag 'benchmarks' was defined more than once (in files '/rocksdb/tools/db_bench_tool.cc' and '/rocksdb/memtable/memtablerep_bench.cc').

I already install the gflags, and there are no error during compiling.

[2019-11-24 11:58] sarsanaee commented on #4729
So it seems that was a compiler version issue! Alright, I close it then!

[2019-11-24 11:58] #4729 closed

[2019-11-24 20:55] adamretter opened #6082 "Develop a newer String Append merge operator"
See - https://github.com/facebook/rocksdb/pull/4806#issuecomment-557926928

[2019-11-25 05:44] zhichao-cao opened #6083 "Can we manually run one of the Travis build job?"
If one travis build job fails, can we manually run it instead of do a push again to run the whole Travis CI checks? For example re-run one of the 16 Travis CI check?

[2019-11-25 11:46] adamretter commented on #6083
Travis CI does have a "Restart Job" option, but I am not sure it is available to those outside the FB team. If you don't see it in the Travis UI then I guess not.

[2019-11-25 11:46] #6083 closed

[2019-11-25 17:44] ltamasi commented on #6048
Thanks for reporting! Fixed in 75dfc7883d08e323d8368e33410b3bb1e7fad5a1.

[2019-11-25 17:44] #6048 closed

[2019-11-25 21:09] yiwu-arbug opened #6087 "Proposal: expose SyncPoint API"
RocksDB unit tests and stress test use the `SyncPoint` utility heavily to in order to inject delay, failure or custom logic to simulate specific execution sequence. However the facility is only available to rocksdb tests and only available in debug build. If we can expose `SyncPoint` as public API (under /utilities directory), application specific integration test framework can inject delay or err

[2019-11-26 03:45] ChinaXing opened #6091 "column family support open/close"
### Expected behavior
each column family hold memtable, when we have many column family, we want to idle close them to release some memory, and lazy open when we want to write to them
### Actual behavior
column family must be open at db::open, and can't close on-fly
### Steps to reproduce the behavior

[2019-11-26 18:45] pdillinger commented on #4997
Essentially fixed by #6072

[2019-11-26 18:45] #4997 closed

[2019-11-27 09:26] Yikun commented on #5559
I noticed that the [rocksdbjni v6.4.6](https://mvnrepository.com/artifact/org.rocksdb/rocksdbjni/6.4.6) has been released, I saw all related changes has been merged.

And I try to use it in the Apache Storm project, the results shows that it works well in aarch64 platform.

Thanks for the efforts of the team!

[2019-11-27 11:52] adamretter commented on #5559
@Yikun you are welcome. We will also soon incorporate support for musl-libc platforms including arm-64v8.

[2019-11-27 17:01] pdillinger commented on #6017
Hung again: https://travis-ci.org/facebook/rocksdb/jobs/617562157?utm_medium=notification&utm_source=github_status

[2019-11-28 02:17] yiwu-arbug commented on #6017
will check next week.

[2019-11-29 07:51] shenyuhit opened #6108 "how can i get the new ColumnFamilyHandle* when i use OpenAsSecondary"
1、open db use OpenAsSecondary  and use TryCatchUpWithPrimary to catchup!
    2、now the primary create a new ColumnFamily  col_new
    3、how can i get the hanlde of col_new  ( the ColumnFamilyHandle*  object ) ??

[2019-11-29 08:44] #6108 closed

[2019-11-29 08:57] lnparker opened #6109 "how to generate sst file into hdfs using mapreduce"
### Expected behavior
generate sst file into hdfs using mapreduce
### Actual behavior
successfully create file in hdfs using org.apache.hadoop.fs.FileSystem.create func , and use org.rocksdb.SstFileWriter.open to open and write the file, but mapreduce fails : "no such file". It seems that SstFileWriter can not read the file in hdfs.
### Steps to reproduce the behavior

[2019-11-29 08:58] lnparker commented on #6109
is there any solution to this problem ..?

[2019-11-30 08:26] jerousrb opened #6110 "IngestExternalFile not update the next file num"
hi guys，
the funtion about “ Status DBImpl::ReserveFileNumbersBeforeIngestion “ want to update the next file num,
but versions_->LogAndApply using a default dummy_edit ，
so  the next file num will not be save to the manifest.
if crash the file num will be refuse.

by the way，What is the problem if the file name is repeated between cf?
 tks！

[2019-12-02 03:56] #6110 closed

[2019-12-02 07:57] hjiayz opened #6112 "Mismatched free() / delete / delete []"
valgrind message:
Mismatched free() / delete / delete []

https://github.com/facebook/rocksdb/blob/e8f997ca597761087c46ad6657aebe7c73a45e38/include/rocksdb/c.h#L1532

https://github.com/facebook/rocksdb/blob/e8f997ca597761087c46ad6657aebe7c73a45e38/db/c.cc#L3890
new rocksdb_snapshot_t;

https://github.com/facebook/rocksdb/blob/e8f997ca597761087c46ad6657aebe7c73a45e38/db/c.cc#L4256
free

[2019-12-02 07:59] #4999 closed

[2019-12-03 06:29] javeme commented on #5982
@siying Any suggestions? so that we can continue.

[2019-12-03 06:49] lnparker opened #6118 "rocksdbJava : java.lang.UnsatisfiedLinkError: org.rocksdb.Env.getDefaultEnvInternal()"
I am trying to use MapReduce to generate SST files, but I get the error when I create a new `HdfsEnv` object, like below :
[code]
### Steps to reproduce the behavior
* I have tried maven rocksjni `6.4.6`, `6.3.6`, and `6.0.2` but all come with the error.
* I have tried  jdk1.8 and jdk1.7 both to compile the project, but  all come with the error.

[2019-12-03 07:03] lnparker commented on #6118
i find out that Class Env is the father Class of HdfsEnv, so it calls Env construct function. Finally it calls  _getDefaultEnvInternal_ in Env construct function. The corresponding error information is below:
_at org.rocksdb.Env.getDefaultEnvInternal(Native Method)
	at org.rocksdb.Env.<clinit>(Env.java:16)_

[2019-12-03 07:11] lnparker commented on #6118
i also compile and package the project with dependencies, which means that the jar package contains lib-rocksdbjni-linux64/32.so .

[2019-12-03 07:17] lnparker commented on #6118
@adamretter hello Adam, can u help me with this problem. thx

[2019-12-03 09:40] lnparker commented on #6118
hi @adamretter  adam, ps, my code is like below, is this the right way to generate sst file into hdfs  in mapreduce ? thx.

[code]

@adamretter

[2019-12-03 21:26] anand1976 commented on #6112
I think there should be a ```void rocksdb_transaction_free_snapshot(rocksdb_snapshot_t* snapshot)``` that will ```delete``` the allocated structure.

[2019-12-04 00:07] riversand963 commented on #6109
Closing because we use issues to report bugs and track up-for-grab tasks.
Could you migrate this question to the Google group or public RocksDB developer group on Facebook? Thanks

[2019-12-04 00:07] #6109 closed

[2019-12-04 00:11] riversand963 commented on #6091
Thanks @ChinaXing for posting. Since this is a feature request for which the issue is not intended, could you move this post to https://www.facebook.com/groups/rocksdb.dev? Thanks.
I will be closing this issue.

[2019-12-04 00:11] #6091 closed

[2019-12-04 00:34] siying commented on #5982
@javeme I actually means:

[code]
and
[code]
May have some bugs there though.

[2019-12-04 00:36] siying commented on #5982
Hmm,
[code]
may need to be moved after Cleanup() in some way.

[2019-12-04 00:51] siying commented on #6087
If a clear interface can be defined for SyncPoint, it sounds good to me.

[2019-12-04 02:05] riversand963 commented on #5988
@masokan , I think it will be good if you can contribute a PR to make it work on GCS, but I very likely won't have bandwidth to review the PR in the short term.

[2019-12-04 08:27] adamretter commented on #5982
@javeme To answer the original concern about the Java API. I do not want to introduce book-keeping (reference counting) or synchronisation into that API unless absolutely necessary. Whilst doing so might make it easier for some users who are sharing objects in a concurrent manner, it will have a negative impact for other users who want the fast possible single-thread performance, or who have diffe

[2019-12-04 10:14] promethe42 commented on #5429
Same issue here when building on Android (Termux, Tab S6, Snapdragon 855 64bit).

[code]

But IMHO this is related to clang being in version > 8 and it's the same issue.

[2019-12-04 13:19] adamretter commented on #6118
@lnparker can you share the full error message and stack that you get please?

We have tests like: `DefaultEnvTest#backgroundThreads()` which seem to show that `Env::getDefaultEnvInternal()` work correctly without error.

[2019-12-04 14:15] Eternity-Yarr commented on #3135
@maheshsenni is it possible that youve tried to call put on closed RocksDB instance?

[2019-12-04 14:21] Eternity-Yarr commented on #3135
So, the real minimal way to reproduce is:
[code]

Why it doesn't throw the `RocksDbException`, tho?

[2019-12-04 19:17] pdillinger commented on #5736
Reproduced for me running ./db_universal_compaction_test alone. (But it passed during "make check" for me.)

<blockquote><pre>
[ RUN      ] UniversalCompactionNumLevels/DBTestUniversalCompaction.RecalculateScoreAfterPicking/0
db/db_universal_compaction_test.cc:1782: Failure
Expected equality of these values:
  NumSortedRuns()
    Which is: 6
  5
[  FAILED  ] UniversalCompactionNumLevels/DBTestUniv

[2019-12-04 21:29] yiwu-arbug commented on #6087
Thanks!

[2019-12-05 08:38] LordWinterstorM commented on #5917
fixed in "6.4.6"

[2019-12-05 08:38] #5917 closed

[2019-12-05 10:11] lnparker commented on #6118
@adamretter
 i have sent the error stack to your email, please check it . thanks.

[2019-12-05 12:15] adamretter commented on #6118
@lnparker I have not received any email from you. Could you post it here?

[2019-12-05 14:55] javeme commented on #5982
@maysamyabandeh Ok, we'll try the way siying said.

[2019-12-06 03:03] lnparker commented on #6118
@adamretter here is the error information. plx help me checking it, thanks.
![image](https://user-images.githubusercontent.com/5960644/70292074-fe6b9800-1817-11ea-945a-b8837ec01eb5.png)

[2019-12-06 03:05] lnparker commented on #6118
![WechatIMG310](https://user-images.githubusercontent.com/5960644/70292169-5c987b00-1818-11ea-889e-58a3082fe94d.png)

[2019-12-06 05:16] gaojieliu opened #6127 "core dump when opening many rocksdb database files"
I was using the debug version of the latest code of master branch, and this core dump happened when opening a lot of database files, and we didn't see this issue with 5.15.10, and we started seeing this issue from 5.17.2.

Here is the stacktrace:
[code]
Let me know if you want me to extract info for any frame.

[2019-12-06 17:23] pdillinger opened #6129 "rocksdb_filterpolicy_create_bloom_full (C interface) uses old block-based filter"
TIL we have a C wrapper struct rocksdb_filterpolicy_t : public FilterPolicy. A derived class of that wrapper is defined in rocksdb_filterpolicy_create_bloom_format. However, this code was not properly updated for the "full bloom filter" implemented ~4 years ago, so a filter policy from rocksdb_filterpolicy_create_bloom_full effectively uses block-based filter instead of full filter. This was not d

[2019-12-06 19:11] dvdplm opened #6130 "Q: rename a column family?"
We have a database that uses the "default" column family along a bunch of other columns. We would like to simplify our API and therefore move the data in the "default" column to another column family.
Is there a way to achieve this without a full dump/restore cycle? We want all other `n` columns left intact and the data in `default` to end up in column `n+1`; i.e. a "rename" operation of sorts. Ho

[2019-12-06 20:40] yiwu-arbug commented on #6129
@pdillinger Can you clarify if the issue with `rocksdb_filterpolicy_create_bloom_format` is because it doesn't implement the `GetFilterBitsBuilder` and `GetFilterBitsReader` interfaces? Thanks.

[2019-12-06 21:08] pdillinger commented on #6129
That's correct, along with the new GetBuilderWithContext. To properly wrap the built-in BloomFilterPolicy you have to override GetBuilderWithContext, and you don't have to override GetFilterBitsBuilder if you override GetBuilderWithContext.

[2019-12-06 22:04] masokan commented on #5988
@riversand963 , Thanks.  I will create the PR.

[2019-12-09 12:09] javeme commented on #5982
@siying Do you mean that let SuperVersion hold a pointer to ColumnFamilyData, but does not increase the reference count of ColumnFamilyData?

And change all the `delete cfd` statements to `cfd->TryDeleteCfd()`? like:
[code]
=>
[code]

[2019-12-09 12:42] javeme commented on #5982
If CFD has reference 1 by SuperVersion, then cfd->Unref() will always return false (due to circular reference), therefore there is a problem: when do we call TryDeleteCfd()?

I think TryDeleteCfd() can only be called when the CFD reference is 0 (means cfd->Unref() returns true). To make an opportunity to call TryDeleteCfd(), I have found two ways:
1. Let cfd->Unref() return true when CFD reference

[2019-12-09 17:23] #5736 closed

[2019-12-09 18:26] siying commented on #5982
I mean SuperVersion holds a reference to CFD. It's the point of fixing the crash.

[2019-12-09 18:27] siying commented on #5982
Can TryDeleteCfd() always deference CFD by 1, and also dereference super version by 1?

[2019-12-09 18:58] gaojieliu commented on #6127
@siying
Can you or ask someone else take a look at this issue?
This is a serious issue from my understanding.

[2019-12-09 20:21] #6129 closed

[2019-12-09 23:59] ltamasi commented on #6127
I'm assuming you're running out of threads. This is just a stab in the dark but I think this could potentially be related to a change in 5.17.2 that creates a default `SstFileManager` for each database unless one is provided by the user in `DBOptions` (Cc @anand1976 to make sure I got that right). As a workaround, you could try creating an `SstFileManager` yourself in your application code, and us

[2019-12-10 00:25] anand1976 commented on #6127
Yes, a default ```SstFileManager``` object is created, which creates a ```DeleteScheduler``` object which in turn creates a background thread to handle file deletion. How many database instances are you opening in one process, and what is your max open files limit (i.e ```ulimit -n```?

[2019-12-10 00:40] gaojieliu commented on #6127
@ltamasi
I was thinking about the same max-thread problem, but after I bumping it up to 163570, and the issue is still there.

@anand1976
There are many (10k+) databases in one instances.
ulimit -n is 4M
With version: 5.15.10, there is no crashing issue in the same instance, which seems to be wired if it is caused by the max open file limit issue with 5.17.2.

Is `SstFileManager` option available

[2019-12-10 00:46] ltamasi commented on #6127
Seems so, see `setSstFileManager` in `DBOptions.java`.

Again, this is just a hunch, but if you open 10k+ databases in a single process, 5.17.2 would attempt to launch 10k+ threads (unless you share an `SstFileManager` between them per the above).

[2019-12-10 00:47] gaojieliu commented on #6127
@ltamasi
Make sense, since I did see a lot of threads got created with the new version.
I will try to reuse the same `SstFileManager` across all the databases.

Thanks a lot.

[2019-12-10 01:43] gaojieliu commented on #6127
@ltamasi
I was using the following code to setup Options:

[code]

The `sstFileManager` is shared by all the databases.

But rocksdb still crashed with the same stack (many threads), and here is the stacktrace of one thread:
[code]

Maybe the java implementation didn't take care of the shared `SstFileManager`, could you share more insights?

[2019-12-10 03:23] ltamasi commented on #6127
No, I think you've hit a similar but separate issue: the threads that periodically dump and persist statistics are also per-database, and AFAIK there is no way to share them currently (sigh). (These are the only places in the code where `RepeatableThread`s are used I believe.)

As a workaround, you could try setting these two in `DBOptions` to zero:

[code]

[2019-12-10 05:09] gaojieliu commented on #6127
@ltamasi
I tried to set `stats_dump_period_sec` to be 0, but in RocksDB Java wrapper, there seems no way to set `stats_persist_period_sec`, so I still ran into too many thread issue, and the stack trace is exactly same as before:
[code]

Let me know if there is some way to disable it through RocksDB Java wrapper.

[2019-12-10 05:37] javeme commented on #5982
Yes no problem. In fact I have proposed this way in https://github.com/facebook/rocksdb/issues/5982#issuecomment-554841692, I thought you may disagree 🥇
[code]
I will submit a patch after a while, thanks.

[2019-12-10 17:58] ltamasi commented on #6127
Based on my reading of the code, you should be able to set it using the `setDBOptions` API right after you open the database, which would shut down the background thread. (This would help assuming you're opening those 10k database consecutively as opposed to concurrently.) Otherwise, I don't think there is a way to set it through the Java API currently.

[2019-12-10 18:58] gaojieliu commented on #6127
@ltamasi
I don't think it is possible to set `stats_persist_period_sec` to be 0 through `setDBOptions` API right after opening the database since that option is not available in Java API.
I could definitely set `stats_dump_period_sec` through `Options` object.
I tried to use a debug version of rocksdb jar to set the default value of `stats_persist_period_sec` to be 0, the crashing issue was gone.

[2019-12-10 19:27] ltamasi commented on #6127
I was thinking about using the API that enables you to dynamically set mutable options by name. @adamretter, could you confirm if that's available through the Java API? (My cursory reading of the Java code suggests so.) If not, that leaves adding the missing code to the Java wrapper. @adamretter, would you be able to help with that?

[2019-12-10 23:34] #6130 closed

[2019-12-11 01:54] wolfkdy opened #6150 "FreeDeadColumnFamilies may release dbMutex, then races with another FreeDeadColumnFamilies"
### Expected behavior
In the body of FreeDeadColumnFamilies, dbMutex shall never be released.
[code]

however, when calling delete cfd, in the destruction function, dbMutex may be released.
[code]
So if two FreeDeadColumnFamilies races, the line below may be re-entered.
[code]
### Actual behavior

### Steps to reproduce the behavior

[2019-12-11 02:25] gaojieliu commented on #6127
@adamretter
Could you help prioritize this ask? and let us know if you need more details.
We were thinking to contribute this feature if RocksDB team doesn't have time to work on it, and the code change could be simply enough for the new committers.