[2018-11-20 14:59] jtelleria commented on #4422
Thank you

[2018-11-20 16:01] mdcallag opened #4700 "NO_FILE_CLOSES ticker is never incremented"
### Expected behavior

NO_FILE_CLOSES ticker should be incremented when a file is closed

### Actual behavior

There is no code that increments the ticker, per Sergey Petrunia

* In RocksDB, the only mentions of NO_FILE_CLOSES are:

include/rocksdb/statistics.h|144| NO_FILE_CLOSES,
include/rocksdb/statistics.h|387| {NO_FILE_CLOSES, "rocksdb.no.file.closes"},
java/rocksjni/portal.h|3204| case rocks

[2018-11-20 19:42] ajkr commented on #4667
I am not sure merge operator is able to provide this capability, even with a `MergeV3` interface like you proposed. The problem is the merging happens only on the read path, at which point it is too late to prevent refcount from going negative - that needs to be done on the write path.

Is `TransactionDB`'s `GetForUpdate` followed by `Put` or `Delete` a suitable alternative?

[2018-11-20 21:01] ajkr commented on #4409
@adamretter what do you think of the proposed solution?

[2018-11-20 21:02] ajkr commented on #4421
Let me close this since I think it's the same issue as #4409, for which I'm finding an owner.

[2018-11-20 21:02] #4421 closed

[2018-11-20 22:11] ajkr commented on #4700
I don't know why it was removed: https://github.com/facebook/rocksdb/commit/63f216ee0a2a6e28f9dfe24913d134d3a7fa3aca#diff-214a2fd7e8fddb41fe137f734f5b316fL23.

[2018-11-20 22:15] ajkr commented on #4700
Guess it was because it needs to be incremented in a static callback function that doesn't have access to a `Statistics` object. Now I'm feeling that author's pain...

[2018-11-21 00:04] ajkr commented on #4694
Sorry for the difficulty. Do you have gflags installed? It is a requirement for running some RocksDB command-line tools like db_bench.

[2018-11-21 00:07] ajkr commented on #4694
For reference: https://github.com/facebook/rocksdb/blob/master/INSTALL.md#dependencies

[2018-11-21 04:28] hermanlee opened #4706 "MyRocks fails cmake check on thread_local"
https://github.com/facebook/mysql-5.6/issues/904

Since the original MyRocks cmake code was pulled in from the rocksdb cmake file and there are some MyRocks builds which hit problems here, I wonder if it is possible for building RocksDB to hit similar issues depending on compiler warnings. Opening up the issue to let the rocksdb team triage this. Sergey's proposed fix in MyRocks is to add code tha

[2018-11-21 10:25] lepere opened #4707 "assert failed in VersionSet::ApproximateSize"
### Expected behavior
no failed assert

### Actual behavior
Assert failed with the following backtrace:

[code]

### Steps to reproduce the behavior

The problem arises when calculating the size of the database with my function "int DataBaseROCKS :: get_db_size (INT64 * p_db_size))".
In this function, we call:
_db-> DisableFileDeletions (); // so list of file will not change until enable deletion

[2018-11-21 10:33] lepere commented on #4707
The version of RocksDB is 5.15.10.

[2018-11-22 02:32] #4700 closed

[2018-11-23 13:54] christian-esken commented on #3167
Is there interest in keeping this bug report open? For me it is not relevant any longer, as the affected DB now always runs with "options.setMaxOpenFiles(-1);".

[2018-11-23 16:38] #4699 closed

[2018-11-26 05:38] riversand963 commented on #4706
@hermanlee thanks for bringing this issue up.
I agree it's better to fail the compilation than generate a library causing crashes. My concern here is how to make sure the very simple code snippet used for testing support for thread local can always succeed across multiple platforms and compilers. On a test machine, compiling the test code with flags `-W -Wextra -Wall -Wsign-compare -Wshadow -Wno-u

[2018-11-26 08:44] jerousrb opened #4718 "Upper layer business cycle called the interface flush will cause data loss"
### Expected behavior
no data loss
### Actual behavior
loss the data write to the older wal log
Rocksdb VERSION is 5.1.2
### Steps to reproduce the behavior
1.Start a cycle thread to call the flush interface to ensure data persistence  (cycle time is one minute)
2.Continuously write data by ycsb about 64-threaded
3.If you configure the option of write_buffer_manager , or  inside the db_mutex call

[2018-11-26 17:41] riversand963 commented on #4718
Thanks @jerousrb for reporting. Would it be possible for you to do the following two things:

1. Can you write a unit test to reproduce this bug?
2. Can you try if the unit test fails for more recent versions of RocksDB?

Thanks

[2018-11-27 00:04] ajkr commented on #3167
I recall we fixed an issue with `RangeDelAggregator` holding pointers into range tombstone meta-blocks of files that had been closed. This should be fixed now, I think...

[2018-11-27 02:09] ajkr commented on #4409
ping @adamretter

[2018-11-27 02:17] ajkr commented on #3167
Tried reproing on 5.8 unsuccessfully :/. Maybe just close then.

[2018-11-27 02:17] #3167 closed

[2018-11-27 05:32] #3278 closed

[2018-11-27 11:17] tdas opened #4721 "Java exceptions thrown when extracting the shared library in NativeLibraryLoader.loadLibrary is swallowed by RockDB Java class"
### Expected behavior
Generally, when a Java exception is caught and rethrown as a different exception, the new exception has the caught exception as the `cause`. It is expected that if `NativeLibraryLoader.loadLibrary` throws an error while loading the library, `RocksDB` java class will expose that underlying exception.

### Actual behavior
Error while loading native library from Java cannot be d

[2018-11-28 03:32] adamretter commented on #4721
Yes this looks like a mistake, I would think that:

[code]

should have been:
[code]

Would you care to send a PR?

[2018-11-28 13:09] lepere commented on #4707
it is : Assertion failed: (size >= val), function ApproximateSize, file /Users/didier/Work/Trunk/ADE/tp/RocksdbSrc/db/version_set.cc, line 4049.

[code]

The crash seems random, and I was not able to create a piece of code that generates the problem all the time. Sorry

[2018-11-28 13:11] lepere commented on #4707
the Options file:

[OPTIONS-000126.txt](https://github.com/facebook/rocksdb/files/2624615/OPTIONS-000126.txt)

[2018-11-28 15:19] toktarev commented on #4112
This stack allocates huge number of memory without limit and max_open_files = 20.

[code]

[2018-11-28 15:20] toktarev commented on #4112
cache_index_blocks=false
cache_index_and_filter_blocks_with_high_priority=true
partition_filters = true
index_type = rocksdb::BlockBasedTableOptions::IndexType::kTwoLevelIndexSearch

[2018-11-28 21:20] guillaumepitel commented on #2282
That would be a very lovely feature to have. For now, we are avoiding Gets for updates by using key suffix + a background sweep on the base which does the merge + put + delete. That's nasty, but still has significantly better performance than pure get/put. The PR here https://github.com/facebook/rocksdb/pull/3432 seems to have proposed some interesting ideas, and it feels like apart from requiring

[2018-11-28 23:31] hshankar opened #4726 "target_file_size_base does not seem to take effect if done after database has some data"
### Expected behavior
If I change target_file_size_base, new data should be written with the newer value.

### Actual behavior
Seems like the file sizes stay the same as before.

### Steps to reproduce the behavior

1. Open a db with target_file_size_base = 20 MB, write some data into it (say 2 GB)
2. Notice that the sst files are 20 MB each.
3. Now close the DB, and reopen with target_file_size_b

[2018-11-29 01:48] tdas commented on #4721
https://github.com/facebook/rocksdb/pull/4728

[2018-11-29 04:02] sarsanaee opened #4729 "make db_bench problem"
Hi,

I'm building db_bench with ```make db_bench``` but I got some errors like:

[code]

I was wondering if I made a mistake in installing gflags but I guess I installed them fine because ```make all``` for examples works OK! And I'm using centos!!

[2018-11-29 05:00] ajkr commented on #4729
What is the gflags version and what operating system are you using? Also can you provide the output of `ldd ./db_bench`? Thanks.

[2018-11-29 05:09] sarsanaee commented on #4729
Thank you for the reply!

Here is the output of my uname -a "Linux rachmaninoff2 3.10.0-862.14.4.el7.x86_64 #1 SMP Wed Sep 26 15:12:11 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux"

I just clone the master branch of the gflags and installed it!

[2018-11-29 05:17] ajkr commented on #4729
Want to take a look at my comment in #4694 and see if that helps? CentOS linking problems come up surprisingly often :/.

[2018-11-29 08:15] zhaoyanzhyn opened #4730 "when use List<ColumnFamilyHandle> to create List<RocksIterator> the value length is not right."
### Expected behavior
        when i use List<ColumnFamilyHandle> to create List<RocksIterator> the length is wrong, usually larger than the actually，and the size is not right too.
### Actual behavior
       List<RocksIterator> rocksIterators = ttlDB.newIterators(handleList,readOptions);
### Steps to reproduce the behavior

[2018-11-29 13:28] petermattis opened #4731 "CompactionPicker::ExpandToCleanCuts only needs to expand to the right"
The comment on `CompactionPicker::ExpandToCleanCuts` says:

[code]

Note that the requirement is that a compaction that includes `<user-key>#<seq>` also includes all older versions of the same `<user-key>` from the input level. These older versions will all occur in tables to the right of the current inputs. Tables to the left will have larger sequence numbers (or smaller user keys).

The current

[2018-11-30 06:41] sarsanaee opened #4737 "Load all the stored database into the memory"
Hi,

I need to load all the key-values stored on the storage into the memory, however, it seems that it doesn't load like all 20GB that I have on the disk into the memory. How can I make it load everything into the memory first? Is there a flag for that?

Thanks

[2018-11-30 23:18] anand1976 commented on #4726
I cannot reproduce it. Can you attach the LOG file?

[2018-11-30 23:34] anand1976 commented on #4730
There's not enough information to troubleshoot. Can you share the exact length of the returned List? Also, what do you mean by length is not right and size is not right too? Aren't they one and the same?

[2018-11-30 23:46] anand1976 commented on #4737
There is no flag to do that. If you really want to pre-load everything, you could open the DB and iterate through all the keys. There is no guarantee the files will remain cached in memory though.

[2018-12-01 00:48] hshankar commented on #4726
LOG:

[2018-12-01 00:55] hshankar commented on #4726
Correction: I do see some 100 MB files now, though. May be it was my mistake. It is possible that we did not have enough data when I checked last. Is there a tool to rewrite existing data with the new options?

Also, is there any known option that must not be changed after data has been written to the db, or everything is allowed to be changed after data is written? What about block_size

[2018-12-01 02:03] sarsanaee commented on #4737
Thank you for the message!

It should be it the memory when we could have an abundant amount of memory! I see no reason to send any data to the disk when have pretty sufficient memory. Just a question, so why people call this in-memory? I'm asking this because latency-sensitive applications require memory or cache latency, and storage latency is unacceptance for the microsecond latency constraints

[2018-12-03 15:33] rohitjoshi commented on #1352
I have the same requirement as @hshankar.  Can we expose the GetKeys() operation from LRU so we don't have to duplicate/maintain keys at the application layer?

[2018-12-03 17:14] jcalcote commented on #4667
Hi Andrew (@ajkr) - TransactionDB would indeed be ideal if this were an isolated database. Unfortunately, it's just a secondary column family that gets updated on the same batch write as the primary column family in a regular RocksDB. Additionally, I'm accessing it though RocksJava, which (AFAIK) doesn't expose TransactionDB. (I'm ok with exposing small portions of RocksDB functionality via the Ja

[2018-12-03 22:07] jcalcote commented on #4667
Would FB be willing to accept a submission for a RemoveZeroValueCompactionFilter class in the java interface (which exposes a new remove_zerovalue_compactionfilter C++ object)?

I've implemented one - I think this solves my problem. I'd like to submit it back upstream if anyone is interested. I believe it's useful for the purpose of keeping column families in check the use reference-counted values

[2018-12-04 08:29] rockeet opened #4746 "Proposal: Separate Env into Thread and FileSystem"
### Expected behavior
`Thread` and `FileSystem` are independent components, when we implement a new `FileSystem`, we need not to implement `Thread`.

### Actual behavior
`Thread` and `FileSystem` functions are wrapped by `Env`. If we just want to implement a new `FileSystem`, we also need to implement `Thread`.

I know we can use `EnvWrapper` or `delegate to default env` to mitigate this issue, bu

[2018-12-04 13:32] toktarev commented on #438
Could you please provide an instruction: how to enable jemalloc for rocksdb and ensure that jemalloc was linked and used ?

[2018-12-04 16:49] jcalcote commented on #4667
After digging into them, I can now see that compaction filters, as they're presented today, will not accomplish the thing I'm trying to do. I see that for column families whose values are designed to be set with a merge operator, a compaction filter will be called on each merge. The problem (for me) is that the filter is called before the merge and, while it does present the merge operand, it does

[2018-12-04 18:16] siying commented on #438
If you use GNU make, build will by default detect whether jemalloc has been installed in your build system and use it if it is the case. See: https://github.com/facebook/rocksdb/blob/v5.17.2/build_tools/build_detect_platform#L362-L380

If you use cmake, you need to explicitly set flag WITH_JEMALLOC=1, which is by default off: https://github.com/facebook/rocksdb/blob/v5.17.2/CMakeLists.txt#L47. See

[2018-12-04 19:12] toktarev commented on #438
What if I use Rocksdb as shared lib for my Java application

will it still use JEMalloc in this case ?

[2018-12-04 19:12] toktarev commented on #438
JVM uses tmalloc

[2018-12-04 19:22] siying commented on #438
CC @sagar0 @adamretter for RocksJava question.

[2018-12-04 19:34] anand1976 commented on #4731
Thanks for the suggestion. You're right that we only need to expand to the right. We'll consider this.

[2018-12-04 21:43] mrambacher commented on #4746
I wholeheartedly agree with this suggestion.

There are many classes that attempt to implement parts of the functionality of an Env and attempt to implement/override one portion or another (like HdfsEnv and MockEnv do for FileSystem and others do for overriding timers.  It would be much simpler if these interfaces would be split into separate classes.

[2018-12-07 12:01] Nashatyrev commented on #4667
@jcalcote I'm also looking for ref-counting and working with Java interface.
However I'm trying to address `get+put/get+delete` performance overhead.

I believe it does. `GetForUpdate` is also there

[2018-12-07 19:22] twblamer opened #4759 "rocksdbjavastatic build target fails on gcc 6.2.1"
### Expected behavior
Building the static jar file with gcc 6.2.1. RocksDB release 5.17.2.

### Actual behavior
[code]

Upgrading to gcc 6.4.1 made the problem go away for me, but that may not be an option for others.

### Steps to reproduce the behavior

This occurs with the gcc-6.2.1 package in Fedora 25: `gcc-6.2.1-2.fc25.x86_64`

[code]

[2018-12-07 22:23] benclay opened #4760 "Incorrect index eviction metric with two-level indexes"
We are seeing that using:

* kTwoLevelIndexSearch and
* cache_index_and_filter_blocks = false

is leaving the `BLOCK_CACHE_INDEX_BYTES_EVICT` metric at zero, while `BLOCK_CACHE_INDEX_BYTES_INSERT` keeps climbing. I believe this is because PutDataBlockToCache() is called for the lower-level index blocks, but the deletion callback is always bound to the naive DeleteCachedEntry<Block>() data deletion

[2018-12-08 07:58] guillaumepitel commented on #2282
We've started working with @gfouquier on a Java-side MergeOperator based on PR #3432 by @publicocean0 however there seems to be quite a few redunduncy between the init.[cc|h] and the portal.[cc|h] and a lot of thing are not working anymore probably due to evolutions in the master.

I'm not sure why @GalRogozinski unassigned @adamretter from this issue, since he seems by far the most experienced in

[2018-12-09 08:10] GalRogozinski commented on #2282
It was a github bug. I just mentioned @adamretter and it unassigned him. I am not even supposed to have permissions here.

I just mentioned him again because maybe it will assign him back :trollface:

[2018-12-10 14:09] twblamer commented on #4759
FWIW, the project FAQ page just says 4.7 and up: https://github.com/facebook/rocksdb/wiki/RocksDB-FAQ

[2018-12-10 17:19] maframan opened #4763 "Info about docs"
### Expected behavior
Please, provide me the configuration properties to set compression mode for data and index individually because in the docs "https://github.com/facebook/rocksdb/wiki/Compression" is not clear how this configuration must be set .
### Actual behavior
Documentation not clear.
### Steps to reproduce the behavior
N/A

[2018-12-10 20:21] ajkr commented on #4763
Right now it's only possible to toggle whether compression is enabled for index blocks, and if it is enabled, then we use the same compression options that we use for data blocks. Is this what you wanted, or did you want to use different compression algorithms for data blocks vs index blocks?

[2018-12-10 22:50] siying commented on #4763
I updated the wiki a little bit.

[2018-12-10 22:58] siying opened #4765 "Turn thread-local super version to from a pool of super versions"
Right now, we reduce the mutex contention of grabbing and referencing count super version using thread-local super version. See https://github.com/facebook/rocksdb/blob/v5.17.2/db/column_family.cc#L1027-L1070

This works well for Get(), but we can't directly use it in iterators. Instead, when creating a new iterator we still increase the reference count while getting it from the thread local cache

[2018-12-11 03:46] adamretter commented on #4667
`TransactionDB` is absolutely available in the Java API, as is `OptimisticTransactionDB`!

[2018-12-11 04:01] adamretter commented on #4730
@zhaoyanzhyn  I am not sure which version of RocksJava you are describing, but at least with the latest version the behaviour you are describing seems impossible. See - https://github.com/facebook/rocksdb/blob/v5.17.2/java/src/main/java/org/rocksdb/RocksDB.java#L1697

[2018-12-11 04:08] adamretter commented on #4409
@ajkr Okay, so it looks like I missed this one. I also noticed that the javadoc is wrong for the function. I will send a PR.

[2018-12-11 06:08] adamretter commented on #2954
@sagar0 I am experiencing this problem again, I think I have a solution, will send a PR shortly.

[2018-12-11 06:55] adamretter commented on #2954
Okay I managed to enable the build to complete successfully with jealloc on macOS, but actually using RocksJava with jemalloc eventually causes the tests to crash, i.e. running `make -j4 jtest` will lead to this:

[code]
...
[code]
See attached:

[hs_err_pid39108.log](https://github.com/facebook/rocksdb/files/2666328/hs_err_pid39108.log)

[2018-12-11 08:07] adamretter commented on #4421
I agree it is likely the same issue as #4409

[2018-12-11 09:40] maframan commented on #4763
Thanks for your answers.
We're using Java (rocksdbjni 5.7.3), compressing data with Snappy.
I looked for the option enable_index_compression in BlockBasedTableConfig class, but there is not and we noticed that compression seems to significantly worsen the reading times.
Do you know how we can disable index compression in our classes?

[2018-12-11 12:04] adamretter commented on #4763
@maframan I am currently updating `org.rocksdb.BlockBasedTableConfig` to expose the missing options, should have something in a day or two.

[2018-12-11 16:20] jwasinger commented on #4765
Hi @siying , I'd like to try and take this on.

[2018-12-11 17:18] #4409 closed

[2018-12-11 19:02] siying commented on #4765
@jwasinger awesome! Let me know if you need any help. CC @ajkr

[2018-12-11 19:03] siying commented on #4765
I can't assign it to you. I don't know much about github system, but you are more than welcome to work on it!

[2018-12-11 19:17] jwasinger commented on #4765
Thanks :) .  I will reach out with questions as they arise.

[2018-12-11 19:37] siying commented on #4765
Btw this is @nbronson 's suggestion.

[2018-12-11 19:46] ajkr commented on #4765
I think it's a good idea to have a pool of cached super versions for iterators. A couple thoughts:

(1) Before extending this change to `Get`, let's make sure it doesn't regress performance. I suspect it might not be as fast as thread local.
(2) I think random might make more sense than core-local for this case. If we did core-local, then a long-held iterator could prevent all other iterators crea

[2018-12-11 20:12] siying commented on #4765
@ajkr how about core ID as a hint and can fall back to random?

[2018-12-11 20:14] siying commented on #4765
@ajkr I updated the original description according to your comment.

[2018-12-11 20:19] #4721 closed

[2018-12-11 22:54] ajkr commented on #4765
sure, that sounds good. then a thread serially creating short-lived iterators might get some benefit.

[2018-12-12 06:35] jerousrb commented on #4718
@riversand963
ok I would do this unit test later.   thanks~

[2018-12-12 10:12] guillaumepitel opened #4773 "rocksdbjava : ByteWiseComparatorTest fails with "free(): invalid next size (fast)" when jtest"
Normally, **make jtest** compiles rocksjni in DEBUG mode, and all tests are OK. I wanted to run the test with non-debug compilation, and **ByteWiseComparatorTest** fails

### Steps to reproduce the behavior

1 - in **java/Makefile** modify the cmdline below the **run_test:** task to start like this : "java -ea $(JAVA_ARGS) ..."  (this is necessary so that test that must fail on assert actually fai

[2018-12-12 11:39] yangzhijia opened #4774 "The tombstone is not destroyed by the compact range"
Rocksdb version: 5.10.4
### question
In our environment, we use delete range to delete the data, and then we call the compact range method for destroy the tombstone.  We found that there were many tombstones left at the bottommost level.

### Actual behavior
 As we know the key covered by a tombstone may still be visible to a snapshot. We dump the manifest and found something unusual.
`AddFile: 4

[2018-12-12 15:01] guillaumepitel commented on #4773
I've made more tests. All tests involving Comparators fail in a similar way.

[2018-12-12 15:59] adamretter commented on #4730
I am going to close this. Please re-open if it is still relevant.

[2018-12-12 15:59] #4730 closed

[2018-12-12 16:01] adamretter commented on #4670
@sagar0 we could publish a debug version to Maven Central as well if it is desirable. Let me know...

[2018-12-12 16:04] adamretter commented on #4763
@maframan I have implemented `BlockBasedTableConfig#setEnableIndexCompression(boolean)` - https://github.com/adamretter/rocksdb/commit/60cfccaadfefba2e4423732d7d9e06c20f1e2bc9

I hope to send it as part of a larger PR to bring the API up to date.

[2018-12-12 16:06] adamretter commented on #4601
I think that OR #4609 was merged so this can now be closed.

[2018-12-12 16:06] #4601 closed

[2018-12-12 16:12] adamretter commented on #3468
I am closing this as there has been no update from @bajrachar

@bajrachar If you still have the issue, please reopen and if you could provide the minimum code to reproduce please.

[2018-12-12 16:12] #3468 closed

[2018-12-12 16:13] adamretter commented on #3072
I am closing this ticket as there has been no updated from @guozhangwang
Please re-open if you still have the problem with the latest release of RocksJava.

[2018-12-12 16:13] #3072 closed

[2018-12-12 16:16] adamretter commented on #3355
As there has been no update on this issue from @lwjyqjykn I am closing it.

[2018-12-12 16:16] #3355 closed

[2018-12-12 18:05] abhimadan commented on #4774
The range tombstone doesn't actually have a sequence number of `kMaxSequenceNumber`. That's a fake key we use to indicate that a range tombstone extends past the end of the file. However, this still means that you have range tombstones at the bottommost level. Do you have any snapshots created before the range tombstones that are preventing the tombstones from being dropped?

[2018-12-12 19:04] toktarev commented on #4112
[w.pdf](https://github.com/facebook/rocksdb/files/2673169/w.pdf)

[2018-12-12 19:06] toktarev commented on #4112
<img width="351" alt="ww" src="https://user-images.githubusercontent.com/4003874/49892493-29681980-fe5a-11e8-98f6-697aa54d2d8b.png">

[2018-12-12 19:07] toktarev commented on #4112
[w.pdf](https://github.com/facebook/rocksdb/files/2673181/w.pdf)

it is possible to see here last profilng result

[2018-12-13 08:50] maframan commented on #4763
@adamretter Thanks a lot! When will it be available?

[2018-12-13 13:34] HustCoderHu opened #4777 "create_javah will no longer be supported starting with version 10 of JDK"
cmake with -DWITH_JNI=1
[code]

[2018-12-13 13:36] #4777 closed

[2018-12-13 14:44] toktarev commented on #4112
partition_filters = false
no_block_cache = true
cache_index_and_filter_blocks = false
cache_index_and_filter_blocks_with_high_priority = false
filter_policy = nullptr
max_open_files=2

After switching to these parameters I see stable memory RSS during 16 minutes and further ....

The key problem here is:

There is no explicit memory leak but during long running write process - the number of sst fi

[2018-12-13 15:39] guillaumepitel commented on #4670
It may be related to #4773 : the problem also occurs in a Mutex.Lock()

The problem doesn't appear in DEBUG mode, though. But it's reproducible

[2018-12-13 20:01] guillaumepitel commented on #4330
You cannot use Slice.data() to obtain a regular null-terminated string. The idea behind a Slice is that the length of the char[] is stored in Slice.size().

What you should do, if you want to print the value, is to create a new string s and do : s.assign(
value.data(),value.size())

[2018-12-14 02:42] ajkr commented on #4112
Thanks for the update. Is there anything remaining for us to answer or investigate?

FWIW, when I ran the initial provided code and set `max_open_files=20`, it stabilized at 30MB RSS. If there's any other concern, could you please provide updated code for us to use?

[2018-12-14 03:10] adamretter commented on #4773
@guillaumepitel did you mean to close this?

[2018-12-14 03:11] adamretter commented on #4763
@maframan I am not certain but I hope it should be available with the next release.

[2018-12-14 03:36] adamretter commented on #4330
@guillaumepitel the reporter is using the Java API I believe,

[2018-12-14 10:03] toktarev commented on #4112
[code]

This code shows infinite leak.

If we comment line:
cf_options.table_factory.reset(makeDictionaryTableFactory());

Rss become stable.

Block cache + TableCache (max_open_file_size) are culprits of infinite memory growth.

[2018-12-14 10:54] toktarev commented on #4112
[code]

one more question:

It is very strange logic for LRU cache
"Insert failed due to LRU cache being full"

of Cache is full - we should just skip addition or remove last element from cache and replace but we definetelly shouldn't stop out application with such errir.

[2018-12-14 11:22] guillaumepitel commented on #4773
Absolutely. Although I tested the problem on the master branch after I found it on my branch, I have probably made the same mistake during the make phase, which created a discrepancy between the librocks.so and rocksjni.so with one in DEBUG and the other in RELEASE

[2018-12-14 11:50] adamretter commented on #4773
@guillaumepitel Ah I see. So the problem was with your build not with Rocks itself.

[2018-12-14 12:34] toktarev commented on #4112
lru_cache.cc:

[code]

As I understand I shouldn't see usage_t printing at all because I trasformed capacity=0.
In real execution I see non-zero usage's printing.

[2018-12-14 14:43] toktarev commented on #4112
[code]

[2018-12-14 14:50] benoitc opened #4783 "improve build speed"
build of rocksdb takes more than 5mn on an imac pro last generation with 10 cores . I tried different settings to build it in parallel but without sucess.

 I would like to propose to make the build of utilities optionnal at least to make it faster. Not sure about what can be done for the rest. The build of leveldb is significantly faster.

[2018-12-14 15:15] toktarev commented on #4112
Seems this is not a bug, because it is possible that record is added in cache but is not added to the lru_list, however it looks suspicious.

[2018-12-14 19:41] guillaumepitel commented on #2282
I may speak only for me, but I understand that this issue is about the first case. And by the way, we have a working version here, based on #3432 from @publicocean0 - it's not yet ready for a proper PR though, and we're first testing it heavily.

[2018-12-15 10:40] guillaumepitel commented on #2282
@adamretter you seem to worry about JNI performance, so I think I could share some stuff I'm working on.

1. attach/detach thread is extremely costly, at least when the C++ code is in a C++ non-JVM thread an calls back a Java method. We can avoid systematic attach/detach by tracking the threads destruction, taking care to attach the thread as a daemon thread to avoid blocking at JVM destruction (p

[2018-12-16 14:31] adamretter opened #4786 "Investigate performance of static vs instance JNI methods"
Just a note for myself so I don't forget...

Almost all JNI native methods used in RocksJava could be made static, as they do not rely on any instance variables. Investigate the performance/memory difference...

[2018-12-16 17:58] jwasinger commented on #4765
@siying @ajkr , I've done a bit of a dive through the docs and codebase to get myself up to speed.  I still have a lot of reading to do to get a full idea of what is going on.

One question: Is the bottleneck here due to lifetime of the `SuperVersion` reference being held longer for iterators than for `Get`?  Presumably preventing the referenced resources from being garbage collected/compacted as

[2018-12-17 03:49] zhenyuyin opened #4787 "RocksDBException: Snappy not supported or corrupted Snappy compressed block contents"
I am using RocksJava version.
Some problems have been encountered. Can someone help me with this?
The required compression library is installed in the Linux environment, but the Windows environment does not know how to install these libraries.

After the database file generated in the Linux environment is copied to Windows Eclipse, the data cannot be read.

[code]

Windows environment, how to inst

[2018-12-17 08:32] adamretter commented on #4787
So the RocksJava that we release for Windows does not have any compression support compiled in.

This is because historically it has been very difficult to build the required compression dependencies on Windows and statically compile them in.

I did make some progress on getting this to work here - https://github.com/facebook/rocksdb/wiki/Building-on-Windows

@zhenyuyin If I built Windows binaries

[2018-12-17 09:58] zhenyuyin commented on #4787
This is an excellent database, I am willing to help with the test.

[2018-12-17 10:05] yangzhijia commented on #4774
Sorry for the delay, thanks a lot for your reply. I will check if any snapshots were created before the range tombstones and not be released.
Another question is:
Consider a compaction generate two files in the same level.
[code]
Will the tombstone[e,1,i] be stored in 2.sst?
If not, when we new iterator and seek("g"),  how to find that  it has been deleted, @abhimadan

[2018-12-17 11:08] adamretter commented on #4787
@zhenyuyin Okay, give me a few days...

[2018-12-17 18:04] sagar0 commented on #2282
@mrambacher:

The ultimate aim of this issue is to allow RocksJava API users to allow accessing custom merge operators without modifying RocksDB library code.
We should allow the merge operators to be written in Java, but before that a good first step would be allow custom-written C++ merge operators to be exposed to be used in the java API. Maybe something like (just thinking out loud):
[code]

[2018-12-17 18:19] abhimadan commented on #4774
Yes, the tombstone will be stored in both files. As you've noticed, seeking in the DB becomes tricky when a range tombstone that covers some keys in a file doesn't exist in that file, so we duplicate the range tombstone across all files whose boundaries it overlaps.

[2018-12-17 18:36] mrambacher commented on #2282
@sagar0:
I generated a [PR](https://github.com/facebook/rocksdb/pull/4775) that shows the basic thinking of what I am proposing.  We are also trying to add functionality to RocksDB without modifying the Rocks code itself.  I have not added MergeOperators to the list for this PR, but am working on it now.

To add a MergeOperator written in C++ from a custom shared library to the rocks code, you wou

[2018-12-17 20:02] gfouquier commented on #2282
On Mon, Dec 17, 2018 at 7:36 PM mrambacher <notifications@github.com> wrote:

we are currently working on this part, based on #3432
<https://github.com/facebook/rocksdb/pull/3432>but more integrated into
rocksdb. Our current approach is to modify the java MergeOperator class
which inherit from RocksCallbackObject and allows to instantiate
JniCallback onthe c++ side.

[2018-12-17 22:42] abhimadan commented on #3959
Closing this issue since read performance with range tombstones is a lot better now. The ideas for tombstone-aware flush/compaction scheduling and smarter compaction boundaries are not implemented yet, but I'll make separate issues for those.

[2018-12-17 22:42] #3959 closed

[2018-12-18 00:30] #2954 closed

[2018-12-18 06:02] neondude commented on #4330
@guillaumepitel yes, I am trying to implement a custom merge operator. As you pointed out the issue was because I used Slice.data() instead of creating a new string.

Instead of using Slice.data(), creating a new string using Slice.data() and Slice.size() has resolved this issue.

[2018-12-18 06:02] #4330 closed

[2018-12-19 03:15] adamretter commented on #4670
@sagar0 @ajkr Any further thoughts on whether you also want a debug version published?

[2018-12-19 15:44] adamretter commented on #4787
@zhenyuyin Okay I have built a binary for RocksJava for Windows x64 that I think includes support for compression types: Snappy, ZStd, LZ4, ZLib, and XPress.

It's available from: http://static.adamretter.org.uk/librocksdbjni-win64.dll

If you could give it a test and let me know if it works for you on Windows?

[2018-12-20 03:13] HustCoderHu opened #4802 "db_bench readrandom value_size 1024B stuck at 72m ops"
### Expected behavior
Would have finished at least.

### Actual behavior
It got stuck at 72300000 ops.
Ram and ssd still had much free space(ram 10g+, ssd 500g+), and cpu utilization was nearly 0. I guess deadlock occurred

### Steps to reproduce the behavior
version: last commit on Dec 15, 2018  a914a1c6dc37c63ac06186767235aa9d8f17469c
[code]

heres the LOG
<https://raw.githubusercontent.com/Hust

[2018-12-20 04:08] miasantreble commented on #4802
@HustCoderHu thanks for reporting the issue, would it be possible to get `pstack` on the process when the suspected deadlock happens? that would help us identify the problem.

[2018-12-20 04:33] HustCoderHu commented on #4802
[code]

[2018-12-20 09:43] adamretter opened #4803 "DB::GetDbIdentity has wrong name or description"
From `db.h`:

[code]

I am not sure if the function should be renamed `SetDbIdentity` or if the description is wrong?

[2018-12-20 10:09] zhenyuyin commented on #4787
win10 64
Snappy, ZStd, LZ4, ZLib, XPress
It works fine !

[2018-12-20 10:28] zhenyuyin opened #4804 "keyMayExist"
For the user, we only care about whether the key exists. As for how the underlying layer is implemented, we don't care.
The key may exist, such an interface should not be provided to us, what we need is whether the key exists.

@Override
Public boolean exist(byte[] key) {
         return db.keyMayExist(key, null) ? get(key) != null : false;
}

All programmers using rocksdb will write a similar met

[2018-12-20 12:55] gfouquier commented on #2282
I submitted a pull request to support merge operators in java here :
https://github.com/facebook/rocksdb/pull/4805

On Mon, Dec 17, 2018 at 9:01 PM Geoffroy Fouquier <g.fouquier@gmail.com>
wrote:

[2018-12-20 17:24] riversand963 commented on #4803
I think the description is inaccurate. The function reads the IDENTITY file and stores the id in the variable `identity`.

[2018-12-20 19:33] miasantreble commented on #4802
I ran the command and it completed successfully:
[code]

[2018-12-20 21:23] abhimadan opened #4807 "Improve lifetime management in RangeDelAggregator"
Currently, any range tombstone iterator passed to `RangeDelAggregator` is retained for the aggregator's entire lifetime. For long range scans, this can have a significant memory cost. Ideally, we would free iterators when the top-level `DBIter` moves past its corresponding file's range (L1+ only), and re-create them if `DBIter` moves back to the file. This would manifest as a `RemoveTombstones` me

[2018-12-20 22:16] abhimadan opened #4808 "Avoid re-fragmenting memtable range tombstones on each read"
Each time `MemTable::NewRangeTombstoneIterator` is called, the tombstones in the dedicated range deletion memtable are fragmented. Range deletions are probably issued as frequently as other forms of writes, so it should be possible to do some more work to avoid this in the average case. The fragmented tombstones can be cached, though I think doing more work on the write path is preferable, since w

[2018-12-20 22:35] abhimadan opened #4809 "Schedule Lmax compactions after releasing snapshots holding range tombstones"
Just like we do for point deletions in [`ComputeBottommostFilesMarkedForCompaction`](https://github.com/facebook/rocksdb/blob/4fce44fc8b8184f4800a792cf2753667e9efc9b3/db/version_set.cc#L2015-L2034), when we detect that the oldest snapshot covers all keys in a file in Lmax, and that file contains range deletions, we should mark the file as eligible for compaction.

[2018-12-21 00:34] abhimadan opened #4811 "Take range deletions into account in SubcompactionState::ShouldStopBefore"
Overlap with the grandparent level is used to control the size of future compactions, but we don't take range deletions into account when doing this, which makes it possible to unintentionally create large compactions in the future. We should also check range deletions for grandparent-level overlaps and select a grandparent boundary as the output file's upper bound (but set the seqnum to `kMaxSequ

[2018-12-21 00:35] abhimadan opened #4812 "Support DeleteRange in transactions"
Now that DeleteRange is performant, it would be nice to support it in transactions as well.

[2018-12-21 03:53] #4804 closed

[2018-12-22 07:02] adamretter opened #4818 "Close on TTLDB causes segfault when destructing"
The following simple code will cause a segfault. `ttl_db-test.cc`:

[code]

Compile the above file inside a rocksdb git clone with:
[code]

Running the code above (`./ttl_db-test`) shows a segfault. The lldb trace is:
[code]

The lldb backtrace is:
[code]

[2018-12-22 07:54] adamretter commented on #4787
@zhenyuyin Thanks for testing. I will make sure the next release for Windows of RocksJava ships with the compression libraries.

[2018-12-22 07:54] #4787 closed

[2018-12-23 09:50] #4774 closed

[2018-12-25 16:50] mdcallag commented on #4802
Given the command line and the thread stack show DoWrite I assume that this occurs with fillrandom, not readrandom.

Grep LOG for "error" and first is this which is fixed by using ulimit to change per-user limit for open SST or by configuring RocksDB to keep fewer open files.

2018/12/19-17:04:13.811622 7f51917fa700 [WARN] [db/db_impl_compaction_flush.cc:2601] Compaction error: IO error: While ope

[2018-12-26 11:08] zhenyuyin commented on #4787
java.lang.UnsatisfiedLinkError:C:\Users\Administrator\AppData\Local\Temp\librocksdbjni7322072655408916458.dll: 操作系统无法运行 %1。
win7 64  unusable

[2018-12-26 11:51] adamretter commented on #4787
@zhenyuyin Sorry I am not sure I understand your problem... You previously said that compression worked fine!

[2018-12-27 08:58] zhenyuyin commented on #4787
@adamretter
Win10 can be used normally, but it cannot run when running on win7 64 operating system.
Failed to load librocksdbjni-win64.dll

[2018-12-27 09:07] adamretter commented on #4787
@zhenyuyin does the released version (without compression) from Maven Central work on Windows 7?

[2018-12-27 09:44] zhenyuyin commented on #4787
@adamretter
Maven released no compressed version, can be used in win7, I said that there is a compressed version, can not be loaded on win7

[2018-12-27 09:51] adamretter commented on #4787
It's hard to know why this is. Perhaps it's the XPress compression that ships with Windows?

[2018-12-27 10:11] zhenyuyin commented on #4787
I saw that the dll file size on maven is 6734848, but the dll size with compression support is 4704256.
More compression library support, the file size has become smaller. I think it should be something you gave me this dll less

[2018-12-27 10:19] toktarev opened #4821 "Error writing data: Corruption: bad entry in block"
### Expected behavior

No such problem

### Actual behavior

Error writing data: Corruption: bad entry in block

### Steps to reproduce the behavior

I have difficult business code which uses a about 4 column families, Merge operator and execute frequent writes.

After about 200_000_000 records has been written I see that application hunging and after that the only one message I see is:

Error wri

[2018-12-27 10:22] toktarev commented on #4821
Configuration parameters:

[code]

[2018-12-28 06:31] adamretter opened #4822 "TickerType.BLOCK_CACHE_COMPRESSED_ADD returns 0"
The following C++ example works fine `block_cache_compressed_integration.cc`:

[code]

Run:
[code]

But the Java equivalent (`BlockBasedTableConfigTest.java`) always fails with `TickerType.BLOCK_CACHE_COMPRESSED_ADD` returning 0:

[code]

[2018-12-28 08:15] adamretter commented on #4787
@zhenyuyin Could you try this one please - http:///static.adamretter.org.uk/rocksdbjni-shared-no-xspress.dll

[2018-12-28 12:48] nillith opened #4824 "change compression algorithm"
The code below gives a strange error: **Invalid argument: Compression type Snappy is not linked with the binary**

	#include<rocksdb/db.h>
	#include<iostream>

	using namespace rocksdb;
	using namespace std;
	int main() {
		Options options;
		options.IncreaseParallelism();
		options.OptimizeLevelStyleCompaction();
		options.create_if_missing = true;
		options.compression = ::rocksdb::CompressionTy

[2018-12-28 14:51] nillith commented on #4824
Looks like I need to call `options.compression_per_level.clear()`

[2018-12-28 15:10] leejw51 opened #4825 "mingw64 rocksdb link issue"
### Expected behavior
I am using mingw64 on windows

### Actual behavior
I installed by "pacman -S rocksdb"
by somehow
g++ a.c -lrocksdb

C:\msys64\tmp\cc1MC5r2.o:a.c:(.text+0xc7): undefined reference to `rocksdb::DBOptions::IncreaseParallelism(int)'
C:\msys64\tmp\cc1MC5r2.o:a.c:(.text+0xde): undefined reference to `rocksdb::ColumnFamilyOptions::OptimizeLevelStyleCompaction(unsigned long long)'
C:

[2018-12-28 15:11] leejw51 commented on #4825
I'm struggling with this issuse for a week.
any ideas?
maybe librocksdb is broken?

[2018-12-28 15:16] leejw51 commented on #1920
could you revive this thread?

[2018-12-28 18:07] siying commented on #4825
I'm not aware of anyone active in issues who is using MingW. I suggest you try https://www.prod.facebook.com/groups/rocksdb.dev/ where there might be wider audience.

[2018-12-28 18:07] siying commented on #4825
Or maybe @adamretter has any experience on this?

[2018-12-28 18:09] siying commented on #1920
@leejw51 sure we can revive it, but finding someone to work on it may be challenging. Anyone is welcome to pick it up.

[2018-12-28 18:58] ajkr commented on #4824
Seems you figured it out. @miasantreble want to land #4325?

[2018-12-28 18:58] #4824 closed

[2018-12-28 19:58] biocodz opened #4826 "ERROR: string sub-command REGEX, mode MATCH needs at least 5 arguments total to command."
OS: Windows 10
[code]
I'm testing the following function:
[code]
The error thrown is
[code]
This seems to be a bug i.e. String REGEX MATCH doesn't work inside `foreach` loop.
Note that similar REGEX below works fine i.e. when not in a loop
[code]

[2018-12-28 20:00] biocodz commented on #4826
Sorry, wrong forum

[2018-12-28 20:00] #4826 closed

[2018-12-29 01:54] jiaweichiu opened #4828 "Manual compaction not causing merges after snapshot releases"
Without snapshots, when I force a compaction, I observe full merges happening. Subsequent GETs will lead to no full/partial merges.

When I have a snapshot between several "merge" calls and I force a compaction, I observe a partial merge and a full merge. This is correct and expected. Say MMM-Snapshot-MMMM-GET where each M denotes a merge call. Then we see a full merge of MMM and a partial merge o

[2018-12-29 07:10] HustCoderHu opened #4830 "create_javah: not supported with Java (11.0.1)"
cmake -DCMAKE_BUILD_TYPE=Release -DWITH_JNI=1 -DUSE_RTTI=1 ..

[code]

[2018-12-29 07:45] zhenyuyin commented on #4787
It works fine !

[2018-12-29 11:42] toktarev commented on #4821
[code]

[2018-12-29 18:21] gocarlos opened #4831 "default installation folder shoulbe be /usr/local, not /usr"
### Expected behavior

by default user compiles/installed packages should land on /usr/local/ not /usr/

### Actual behavior

installation files land on /usr/* instead of /usr/local

### Steps to reproduce the behavior

[code]

[2018-12-30 01:35] adamretter commented on #4787
@zhenyuyin okay great so I think the problem was that xpresss is not present in Win 7

[2018-12-30 04:51] adamretter commented on #4822
I have debugged this as far as possible. From the Java side it appears that the compressed cache is setup correctly on the options. I can't figure out why the `BLOCK_CACHE_COMPRESSED_ADD` is not being incremented

[2018-12-31 07:53] brary opened #4834 "Support prepareForBulkLoad() in DBOptions in rocksjni"
Hi, I have multiple column families and with multiple column families you can't use Options to open a database. You have to use `DBOptions`. If I want to use `prepareForBulkLoad()` in such scenerio how can I use it since there is no function `prepareForBulkLoad()` in `DBOptions`.

[2019-01-02 00:49] jiaweichiu commented on #4828
Looks like during the first manual compaction, the memtable is flushed as expected as L0 table and the partial merge and full merge happen. However, during the second manual compaction, there seems to be no flushing of the memtable which explains why there is no full merge. I probably need to force a compaction on the disk.

[2019-01-02 02:49] jiaweichiu commented on #4828
Using CompactFiles, we do see the merge happening. Issue can be closed.

[2019-01-02 02:49] #4828 closed

[2019-01-02 10:19] thatsafunnyname commented on #1474
Could this be opened?  https://github.com/facebook/rocksdb/pull/4835 is the PR, thanks.

[2019-01-02 20:52] sagar0 commented on #4834
You could try setting the options directly in the mean time in your application code.
https://github.com/facebook/rocksdb/blob/b9d6eccac14588d03f083d22d577da0c0285143f/options/options.cc#L362-L405

[2019-01-02 22:12] benoitc commented on #4783
@riversand963I'm not sure i understand the reason why that ticket has been claused. Yes I did `build in parallel`. I do think it's a bug when the build last more than 6mn on a 20 core machine (with -j10) like the imac pro. If the build last two long it prevents some devs to use it.

I think it would be a good addition to add a way to remove the utilities one by one or all from the build when the u

[2019-01-02 22:16] siying commented on #4783
@benoitc not a bad idea. Can be done through a flag. Are you interested in contributing?

[2019-01-02 22:21] benoitc commented on #4783
i will send a pr asap

On Wed 2 Jan 2019 at 23:17, Siying Dong <notifications@github.com> wrote:

--
Sent from my Mobile

[2019-01-03 04:10] adamretter commented on #4834
@brary @sagar0 So RocksDB in its C++ API does not support `PrepareForBulkLoad()` on its DBOptions class. It would need to be exposed in RocksDB C++ first, and then we could expose it in RocksJava.

[2019-01-03 05:30] adamretter commented on #4825
@siying I am afraid that I have no experience with MingW.

I did read that the CockroachDB team are using MSYS2 instead of MingW as they understood that MingW is now defunct - search in this page for mingw - https://www.cockroachlabs.com/blog/windows-binary/

[2019-01-03 05:35] adamretter commented on #4830
At the moment we don't support Java 11. RocksJava is designed for Java 7.

However, if you can see a mechanism for modifying the CMake build to generate the Java headers that works for Java 7 and Java 11 then please do send us a PR.

[2019-01-04 19:45] suzanne-stathatos commented on #4334
any update on this issue? were you able to get it to run?

[2019-01-04 20:51] twblamer opened #4847 "Java implementation of Env.setBackgroundThreads() seems to handle argument incorrectly"
https://github.com/facebook/rocksdb/blob/v5.17.2/java/rocksjni/env.cc#L29

This code maps the second parameter from Java to C++ as follows:
- `org.rocksdb.Env.FLUSH_POOL` → `rocksdb::Env::Priority::LOW`
- `org.rocksdb.Env.COMPACTION_POOL` → `rocksdb::Env::Priority::HIGH`

AFAICT, this is doing the opposite of what it should. The `HIGH` priority thread pool is for flushes and the `LOW` priority thr

[2019-01-04 22:16] ajkr commented on #4847
Yes you are right.. Do you want to contribute a fix?

[2019-01-04 22:47] twblamer commented on #4847
I think the fix has two parts:
1. Fix the mapping within the switch block in `java/rocksjni/env.cc`
2. Change the single-arg version of `Env.setBackgroundThreads()` in `java/src/main/java/org/rocksdb/Env.java` to pass `COMPACTION_POOL` instead of `FLUSH_POOL`. This is consistent with the `SetBackgroundThreads` API in `include/rocksdb/env.h.`.

AFAICT, there will be no change in behavior for Java c

[2019-01-05 12:50] adamretter commented on #4847
@ajkr @twblamer Actually I have already fixed that - https://github.com/facebook/rocksdb/pull/4833/files#diff-aca5328bce113ce416df389234f688f7R47

[2019-01-05 13:34] promethe42 commented on #4334
Yes. We got it to run without trouble. So I can't reproduce.

[2019-01-08 11:37] yangzhijia opened #4854 "Call the db->get() API, but the value returned has already been deleted"
### Question
In our environment,
1. we put some kv into rocksdb (k1->v1) (k2->v2) ……
2. use rocksdb::WriteBatch to delete k1 k2, and call db->Write()
3. delete range()
4. compact range()
5. db->get() k1 k2

The value returned is v1 v2

I dumped all sst files with hex format , and found that the key was in 518249.sst
[code]
![image](https://user-images.githubusercontent.com/10767033/50826546-e32da9

[2019-01-08 16:00] xmm1989218 opened #4855 "is there a way to stop running CompactRange task?"
is there a way to stop running CompactRange task?

[2019-01-08 22:34] sagar0 commented on #4854
Delete Range improved significantly over the last few months. Are you able to reproduce this issue with the latest version of RocksDB, 5.17.2 ?

[2019-01-08 22:53] sagar0 commented on #4855
For questions, discussions, feature requests, etc. post to RocksDB dev group https://www.facebook.com/groups/rocksdb.dev.

Did you try using `CancelAllBackgroundWork`?

[2019-01-09 02:49] yangzhijia commented on #4854
We use rocksdb as the local storage in our production environment. The lastest version of rocksdb has not been used so far. Is there any bugs with Delete Range which causes the above problems?

[2019-01-09 07:40] youngxiao commented on #4329
@ajkr Thanks,it really works.

[2019-01-10 00:11] amy-shu opened #4862 "UnsatisfiedLinkError when using Options().setCreateIfMissing(true)"
Error:
[code]
Code:
```new Options().setCreateIfMissing(true)```

Rocksdb version: 5.15.10
Java version: 1.8.0_144
MacOSX

[2019-01-10 18:43] LeTurt opened #4865 "DB shutdown takes too long and and sometimes corrupts data if process is killed"
TurtleCoinD uses RocksDB and the shutdown time of the RocksDB takes anything from 1 second to 1 hour. This leads to users often killing the process, which sometimes leads to corruption of the DB when user gets bored and kills it.

### Expected behavior
The database should exit cleanly, fast, and definitely not corrupt itself in any case.

### Actual behavior
It takes 1s-1h to shutdown and corrupts

[2019-01-10 19:08] siying commented on #4865
Can you provide more detail on what it takes 2 sec to 1 hour and why killing it causes corruption? Corruption is not expected when the process is killed at any time. If you see it, it's a bug.
Can you paste the error message reporting it is corrupted?
Do you know what RocksDB does in the 1 sec to 1h? Did you disable WAL sync so it was doing memtable flush?

[2019-01-10 20:22] LeTurt commented on #4865
Thanks for your quick reply! The corruption error message is actually coming when trying to reload the blockchain after a restart when the user killed the process on exit. Unfortunately I do not have a log of a case where the shutdown takes too long at hand. But I will try to get one and get back to you.

It is also possible that there is some related issue in the some of the TC legacy codebase th

[2019-01-11 05:00] adamretter commented on #4862
Which version of Mac OS X do you have?

[2019-01-11 05:23] varadharajan opened #4869 "Master branch build failing with jemalloc on Ubuntu 18.04"
### Actual behavior
[code]

### Steps to reproduce the behavior

On a fresh Ubuntu 18.04 installation, i installed the compression related dependency libs + libjemalloc-dev and tried compiling, which resulted in the above failure. However, i was able to build the 5.17.2 release though. I think this is something to do with https://github.com/facebook/rocksdb/pull/4844 ? (cc @yiwu-arbug). Please let

[2019-01-11 18:07] amy-shu commented on #4862
10.12.6

[2019-01-11 21:35] xunjieli opened #4873 "options_helper.cc passes const std::unordered_map by value"
### Expected behavior
In options_helper.cc,
GetStringFromStruct, SerializeSingleStructOption and GetStringFromStruct should pass
std::unordered_map by const reference

### Actual behavior
GetStringFromStruct, SerializeSingleStructOption and GetStringFromStruct makes a copy of
std::unordered_map during each method invocation

### Steps to reproduce the behavior
Obtain a heap profile during DB initi

[2019-01-11 22:30] LeTurt commented on #4865
Closing for now, we need to investigate this issue deeper. Sorry for the overly eager reporting, I had the impression when discussion with them peers and looking at the daemon output that there was DB corruption. After looking deeper need to investigate the overall pattern more. Thanks for the help.

[2019-01-11 22:30] #4865 closed

[2019-01-12 00:14] jcalcote opened #4877 "Java native library crashing with SIGILL (ILL_ILLOPN) on global constructor init."
I'm getting a SIGILL in a global constructor when the librocksdbjni.so file is loaded by my Java code. At first I thought I might have had an image file corruption, but md5sum against both the so and the containing jar on identical systems (one that fails and one that works fine) shows the images to be identical.

This is a 5.2.0 build of RocksDB - kinda old, I know, but for what we need it for, i

[2019-01-12 02:13] jevolk opened #4878 "GetAggregatedIntProperty() broken when one column lacks the property."
#### Background
I have disabled the block_cache on the "default" column by setting the `no_block_cache` table option. This prevents the internal default creation of that cache. The rest of my columns have block caches.

##### Actual behavior
Calling `GetAggregatedIntProperty()` returns false with the keys:
- `rocksdb.block-cache-capacity`
- `rocksdb.block-cache-usage`
- `rocksdb.block-cache-pinned

[2019-01-12 02:50] adamretter commented on #4862
@amy-shu I spent a little time doing some Googling on the error. It seems that this is specific to macOS and that you will require at least macOS 10.13.

[2019-01-12 02:55] adamretter commented on #4877
@jcalcote Yes, if you want to build a portable executable you can set the `PORTABLE` option when compiling. e.g.

[code]

[2019-01-12 04:14] jcalcote commented on #4877
Thanks Adam.

On Fri, Jan 11, 2019, 7:55 PM Adam Retter <notifications@github.com wrote:

[2019-01-12 09:54] yangzhijia opened #4879 "Compaction bug"
### Behavior
We use rocksdb as the local storage in our production environment. Our cluster was upgraded rocksdb from 5.10.4 to 5.17.2 and open the assertion. We meet a coredump with rocksdb when we call manual compaction and our cluster crash and will not recover.

This is the coredump backtrace:
![image](https://user-images.githubusercontent.com/10767033/51071218-4b86ce80-1688-11e9-8786-0d454982

[2019-01-12 16:24] AnythingTechPro opened #4880 "CMake: error: no member named 'NowCPUNanos'"
Attempting to compile the ```master``` branch using CMake:

[code]

[2019-01-15 04:53] abhimadan commented on #4879
(Note: I will only be able to respond sporadically, as I am no longer at Facebook.)

So this looks to me as though the problem lies in `CompactionJob::FinishCompactionOutputFile`. This function tries to truncate tombstone start keys to not overlap with previous files in the level, but it looks like that somehow failed here. Typically, a compaction is single-threaded and creates output files in use

[2019-01-15 17:28] thatsafunnyname opened #4884 "Increment NUMBER_BLOCK_NOT_COMPRESSED when !GoodCompressionRatio"
Hello and thanks for RocksDB,

### Expected behavior

NUMBER_BLOCK_NOT_COMPRESSED would be incremented when !GoodCompressionRatio

### Actual behavior

NUMBER_BLOCK_NOT_COMPRESSED is not incremented when !GoodCompressionRatio

### Steps to reproduce the behavior

Use ```ldb load``` to write 10,000 keys where the value is 16,384 bytes, default compression is snappy.  3 different types of values:

[2019-01-15 19:32] ajkr commented on #4879
If you have some test code that can reproduce the issue, that'd be helpful. Also does it only happen when run on a DB that was upgraded from RocksDB 5.10?

[2019-01-15 22:49] amy-shu commented on #4862
That worked, thank you!

[2019-01-15 22:49] #4862 closed

[2019-01-17 15:53] bachp opened #4892 "Resulting CMake Config is not relocatable"
### Expected behavior

The generated [CMake Config](https://cmake.org/cmake/help/latest/manual/cmake-packages.7.html#config-file-packages) under `/usr/lib/cmake/rocksdb` is relocatable and does not contain any fixed paths to the build location.

### Actual behavior

The generated [CMake Config](https://cmake.org/cmake/help/latest/manual/cmake-packages.7.html?highlight=config#config-file-packages)

[2019-01-17 20:56] goldyfruit commented on #946
Same here.
```ceph-osdomap-tool: /build/ceph-12.2.10/src/rocksdb/db/version_edit.h:188: void rocksdb::VersionEdit::AddFile(int, uint64_t, uint32_t, uint64_t, const rocksdb::InternalKey&, const rocksdb::InternalKey&, const SequenceNumber&, const SequenceNumber&, bool): Assertion `smallest_seqno <= largest_seqno' failed.
*** Caught signal (Aborted) **
 in thread 7fa6e9a087c0 thread_name:ceph-osdomap

[2019-01-17 23:22] riversand963 commented on #4878
@jevolk make sense. Would you like to contribute a PR for this?

[2019-01-18 04:07] DatongLi commented on #3501
Is the blob_db ready to use in industry?

[2019-01-18 07:18] yangzhijia commented on #4879
using subcompaction

1. Two subcompactions (sub1, sub2) boundary is set to [1, 100)  [100, 200)
2. A delete range is [80, 120)
3. When the compaction iterator meet the key ```79```, and the next valid key is ```131```, and the output file is determined to be closed (big enough or too much overlap).
4. Then we call FinishCompactionOutputFile(),  the next key is set to 121, and we get a output file

[2019-01-18 09:00] rrahul300 commented on #662
Facing the same issue.Does it mean default value(0) for max_total_wal_size doesn't work and explicitly setting size of max_total_wal_size is needed???

[2019-01-18 23:10] gaojieliu opened #4900 "Core dump when opening a new rocksdb database"
We are using **org.rocksdb:rocksdbjni:5.14.2**, and the core dump happened when opening a new rocksdb database and it doesn't happen consistently.
When this issue happened, there were several RocksDB open/close/data read operations.
Here is the stack generated by Java, and we haven't got core dump file yet since it is not easy to reproduce:
[code]

When I tried to use `addr2line` to get the line n

[2019-01-19 00:51] neutronsharc commented on #3438
Hi the team,
We encounter this same issue repeated in our rocksdb v 5.9.  The rocksdb log:

[code]

@toktarev   Did you set "ROCKS_COMPACTION_READAHEAD_SIZE=0" to avoid this problem?

[2019-01-19 03:15] adamretter commented on #4900
I am afraid there is not much I can tell from the stack trace. If you build a debug version of RocksJava and then run that, any line numbers will then be resolvable with addr2line - https://github.com/facebook/rocksdb/wiki/JNI-Debugging

[2019-01-22 06:35] ganibc opened #4903 "Linker error when using derived class of rocksdb::WriteBatch::Handler (undefined reference to typeinfo)"
I want to log WriteBatch entries using Iterate function.
I assume I need to inherit Handler class and override the functions. But I'm getting linking error.

### Expected behavior
No linker error

### Actual behavior
Linker error:
/tmp/cc2MSMuY.o:(.data.rel.ro+0xc8): undefined reference to `typeinfo for rocksdb::WriteBatch::Handler'

### Steps to reproduce the behavior
1. Download and build static

[2019-01-22 07:33] ganibc commented on #4903
Adding -frtti fix the issue

[2019-01-22 07:33] #4903 closed

[2019-01-22 17:34] gaojieliu commented on #4900
Thanks @adamretter for your reply.
We will try to gather more info with the debug version of RocksJava.

[2019-01-23 00:18] sagar0 commented on #3446
Thanks for the reminder. I'll merge #3446.

[2019-01-23 18:39] sagar0 commented on #3446
Merged #4682. Thanks for the contribution.

[2019-01-23 18:39] #3446 closed

[2019-01-24 10:02] xkszltl opened #4917 "[MSVC] Build failure with error C2131 error"
Get the following error recently on Win10 with VS 2017

[code]

[2019-01-24 10:05] xkszltl commented on #4917
https://github.com/facebook/rocksdb/blame/e07aa8669daa887a7599d4588e15529d9b087c70/tools/db_bench_tool.cc#L4675

This line uses dynamic array, which is not standard C++.

[2019-01-24 16:17] zhichao-cao commented on #4917
Fixing it now.

[2019-01-25 19:58] anand1976 commented on #4880
It is defined here - https://github.com/facebook/rocksdb/blob/master/include/rocksdb/env.h#L388

[2019-01-25 21:10] anand1976 commented on #4884
Thanks for reporting this and the PR with the fix

[2019-01-26 00:08] gaojieliu commented on #4900
@adamretter
I followed the instruction to build a debug version of RocksJava:
make jclean clean
export DEBUG_LEVEL=1
make rocksdbjava

When I copied the generated rocksdb java jar: rocksdbjni-5.14.2-linux64.jar into my war, it cored dump during start with the following stack:
(gdb) info stack
#0  0x00007f1dd0602207 in raise () from /lib64/libc.so.6
#1  0x00007f1dd06038f8 in abort () from /lib64/li

[2019-01-26 03:33] adamretter commented on #4900
You likely want:
[code]

[2019-01-29 18:41] mvandeberg opened #4930 "Performance degradation with high volume writes and deletes"
I am developing a drop in replacement for Boost multi-index containers that instead uses rocksdb as the backing data store. My implementation is correct and yields correct results for our existing workload and tests, but I am observing significant performance degradations at scale. Most of the runtime of the application is being spent in `DBIter::SeekToFirst` and `DBIter::Next`.

My application fr

[2019-01-31 06:18] rockeet opened #4933 "Proposal: Add DB::CompactRanges()"
### Expected behavior
When we attemp to compact multile ranges, we expect to call `DB::CompactRanges(multiRanges, ...)`, if there are many ranges lie in same SST file(s), we expect `CompactRanges` will process the ranges once.

### Actual behavior
When we attemp to compact multile ranges, we need to call `DB::CompactRange(oneRange, ...)` multi times, if there are many ranges lie in same SST file(s

[2019-01-31 22:28] suzanne-stathatos opened #4936 "[Windows] Compiler error on Win32 using ATL DeleteFile"
I'm trying to build rocksdb to be used by my project. I am using its cmake.
Cmake commands are:
cmake -G Visual Studio 15 -DFAIL_ON_WARNINGS=0 ..
and building it with
msbuild rocksdb.sln

### Expected behavior
It builds and runs ok

### Actual behavior
It builds fine, but when I try to run it in my program, I get this error

c:\program files (x86)\microsoft visual studio\2017\professional\vc\tools

[2019-01-31 22:38] sgerbino commented on #4930
I wanted to provide some additional information on this thread. The application makes heavy use of `DB::Iter`. Essentially, the implementation has `lower_bound`, `upper_bound`, `find`, returning a wrapped `DB::Iter`.

The most common usage is similar to this pattern:
[code]

RocksDB is set up to have 1 database per `boost::multi_index_container`.
Each one of the indices are represented as a column

[2019-01-31 23:20] #4936 closed

[2019-02-01 06:41] ghost opened #4939 "error"
ubuntun18

orange@orange:~/work/rust/material/main/cpprust$ g++  rocksmain.cpp -o rocksmain  librocksdb.a  -lpthread
librocksdb.a(block_based_table_reader.o): In function `rocksdb::BlockBasedTable::PutDataBlockToCache(rocksdb::Slice const&, rocksdb::Slice const&, rocksdb::Cache*, rocksdb::Cache*, rocksdb::ReadOptions const&, rocksdb::ImmutableCFOptions const&, rocksdb::BlockBasedTable::CachableEnt

[2019-02-01 07:30] #4939 closed, assigned to nobody

[2019-02-01 10:52] cburgdorf commented on #908
@dgryski Yes, that still seems to be the case.

[2019-02-01 17:35] riversand963 commented on #908
@cburgdorf @dgryski , we are currently working on the support for this, allowing multiple processes to read from the same database and tailing the logs of a primary process. :)

[2019-02-01 18:11] cburgdorf commented on #908
@riversand963 ha! Sounds awesome :+1: !

[2019-02-04 23:12] kraj opened #4946 "Clang 8.0 (RC) finds shadow enum values"
With clang 8.0 RC1 arm/musl I see this error

[code]

[2019-02-07 19:13] gaojieliu commented on #4900
@adamretter
We did more debugging on our end, and we figured out that we passed a already-freed `Options` object when opening a new RocksDB database because of a bug.
After we fixed the bug, the crash didn't happen again.

Thanks for your help.

[2019-02-07 19:13] #4900 closed

[2019-02-08 01:58] bharatviswa504 opened #4959 "RocksdB backup sync"
![image](https://user-images.githubusercontent.com/8586345/52454740-c74a2e80-2b01-11e9-91c7-68903292d96f.png)

[2019-02-08 01:59] bharatviswa504 commented on #4959
I have written a sample program and it is working on my machine, just want to know if it has any caveats or surprises by using this way?

[2019-02-09 00:11] mellery451 commented on #4484
I'd be happy to submit a patch for this.

The conventional way to do this is to make use of the `BUILD_SHARED_LIBS` setting (https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html) and then `add_library` without an explicit type will do the right thing. Would it be sufficient to just build one library type based on this setting, or do we need the ability to build BOTH library types wi

[2019-02-09 01:03] ael-code commented on #4484
In any case you will expose the `BUILD_SHARED_LIBS` variable as CMake option as suggested in the documentation [you linked](https://cmake.org/cmake/help/latest/variable/BUILD_SHARED_LIBS.html):

[2019-02-09 02:06] mellery451 commented on #4484
yes - I agree it would be exposed as an option. The main difference in functionality is that you would have to run the cmake configuration step twice if you wanted to produce both kinds of libraries whereas the dual option approach would support the existing model of building BOTH libraries at the same time (if that's what you wanted).  I prefer the standard approach, but I'm happy to do the two-o

[2019-02-09 10:21] yaojingguo opened #4967 "doc: wrong description about compaction picking in Leveled Compaction wiki page"
[Leveled Compaction](https://github.com/facebook/rocksdb/wiki/Leveled-Compaction) says:

Since `level0_file_num_compaction_trigger` is a small value as a file size (its default value is `4`) , I think that such a comparison does not make much sense. And I browsed the source code and but failed to find the code which does the comparison. So I think that the above sentence should be removed.

[2019-02-11 11:54] ananclub opened #4968 "MSVC build failure with error C3646"
rocksdb\port\jemalloc_helper.h(17): error C3646: “__attribute__”: 未知重写说明符

MSVC not support "__attribute__((__weak__))"

[2019-02-11 18:52] sagar0 commented on #4959
This is a tough question to answer without knowing a lot of additional details of your use-case and setup environment. For example:
- Are the two nodes exact replicas of each other?
- How is the traffic split between the two ... i.e. does your application use queuing service (say, like kafka) to write to one node (maybe primary/master), and offload the replication logic for slaves? If this is the

[2019-02-11 18:59] sagar0 commented on #4484
The standard approach of generating one library-type at a time might be good as I believe that is what most users would prefer. A user would typically need either a static lib or shared lib in their use-case, but not both simultaneously.

[2019-02-11 19:10] sagar0 commented on #4946
We are not building with clang 8.0 yet, so can't comment on the error or the right fix for this. But would you like to contribute the fix?

[2019-02-11 19:13] sagar0 commented on #4917
Fixed in #4918 .

[2019-02-11 19:13] #4917 closed

[2019-02-11 19:25] sagar0 commented on #4880
We do have a CMake build target for both mac and linux and it seems to be building fine on travis. You can see the build history here: https://travis-ci.org/facebook/rocksdb/branches .

I wonder if it is due to some mis-configuration in your build environment. I'll close this issue for now, but feel free to provide more information and, if relevant, we can reopen to investigate further.

[2019-02-11 19:25] #4880 closed

[2019-02-11 19:42] sagar0 commented on #4879
Closing this issue as it is fixed in #4898 .

[2019-02-11 19:42] #4879 closed

[2019-02-11 21:45] ajkr commented on #4967
it should say "file count" not "file size", but even then it's not exactly correct as there are other L0 compaction triggers now.

[2019-02-12 08:06] darionyaphet opened #4975 "delete a not exist key and return ok"
When I delete a not exist key, the status is `OK` but I think it should be `IsNotFound`.

[code]

### Expected behavior

`deleteStatus IsNotFound`

### Actual behavior

`deleteStatus is OK`

### Steps to reproduce the behavior

[2019-02-12 09:13] sel-fish commented on #4975
Rocksdb will not try to get the key when delete, just append a record the mark the key is deleted.

[2019-02-12 10:14] darionyaphet commented on #4975
@sel-fish thanks !  RocksDB will support `exist(key)` to check whether key is exist ？

[2019-02-12 14:23] #4975 closed

[2019-02-12 22:22] kraj commented on #4946
I do not have solution for it yet and time is also a crunch, I will add `-Wno-error=shadow` to make it toe the line for now.

[2019-02-13 22:50] evanmcc commented on #2343
I ran into this as well and produced this test script that shows the `iterator_upper_bound` issue:
https://gist.github.com/evanmcc/da9769290f32f0861f5f99b5caa9ede2

If this is valid and you can tell me where a corresponding unit test would go, I'd be happy to submit a PR to add (obviously failing) test.

[2019-02-13 22:53] siying commented on #2343
@miasantreble worked upper bound support in transactions this in our last TechDebt week. We hit some problems and we haven't yet had time to finish it.

[2019-02-14 01:17] evanmcc commented on #2343
excellent.  we can work around this for now, but it'd be lovely to have it over the longer term.

[2019-02-14 02:37] #4854 closed

[2019-02-14 14:54] matthewvon opened #4983 "Windows NowNanos() overflows"
### Expected behavior
NowNanos() in port/win/env_win.cc is expected to provide an ever increasing clock.

### Actual behavior
This line causes an int64_t overflow: https://github.com/facebook/rocksdb/blame/master/port/win/env_win.cc#L970

### Steps to reproduce the behavior
int main()
{
    // 10000000 is value from QueryPerformanceFrequency()
    unsigned __int64 a = 1413478673602;  // sample Que

[2019-02-14 18:42] davideideticom opened #4984 "Segmentation fault in db_bench when num_multi_db > 1"
We are running this benchmark on a dual socket 24 core AMD EPYC server.  Attempts to reproduce on a lower core count machine (VM with 2 CPUs) did not result in a segfault.

### Expected behavior
slow db_bench run in debug mode

### Actual behavior
db_bench segfaults on cleanup in sharded_cache.cc

### Steps to reproduce the behavior
Checkout tag "v5.18.3"
make db_bench
run:
  ./db_bench --compress

[2019-02-14 21:33] bharatviswa504 commented on #4959
Thank You @sagar0  for info.
We are using another API getUpdatesSince() together with the checkpoint to solve the issue.

[2019-02-14 21:33] #4959 closed

[2019-02-15 04:13] weihuayang opened #4986 "rocksdb key number"
--key_size=100 --value_size=40 --block_size=8192 --compression_type=snappy --bytes_per_sync=8388608 --write_buffer_size=134217728 --target_file_size_base=134217728 --max_bytes_for_level_base=1073741824 --verify_checksum=1 --delete_obsolete_files_period_micros=62914560 --max_bytes_for_level_multiplier=8 --statistics=0 --stats_per_interval=1 --stats_interval_seconds=60 --histogram=1 --memtablerep=sk

[2019-02-15 20:40] ajkr opened #4990 "truncate manifest after sync failure"
If it's a flush or compaction, the SSTs corresponding to a manifest entry that fails to sync are deleted. However, the manifest entry may still be visible after restart (e.g., if it's a lost async page write, the page cache may still contain it). Then crash-recovery fails for non-existent SSTs.

plan: truncate to `manifest_file_size_` here: https://github.com/facebook/rocksdb/blob/dc3528077a4f3972

[2019-02-15 20:46] ajkr opened #4991 "compaction gets stuck forever on L0->base during write burst"
RocksDB gets stuck in L0->L0 and L0->base compactions in very write-heavy benchmarks. base->base+1 almost never happens and base level's score is usually reported as zero due to pending L0->base.

It is caused by interactions between:

(1) intra-L0 compaction,
(2) Siying's optimization to use L0 size as base level target size in write-heavy scenario, and
(3) An existing workaround to disable base-

[2019-02-15 21:05] ajkr opened #4992 "Add compression options to TableProperties"
It looks like only compression name is given to TableProperties. Since we are planning to use dictionary compression and to use different compression level, it is quite useful to add compression options to it, even just integers. For example, in MyRocks, if the feature is available, we can query from information_schema.rocksdb_sst_props to see if all sst files are converted to ZSTD dictionary comp

[2019-02-15 21:10] ajkr opened #4993 "allow info loggers to be line buffered"
It's sometimes hard to debug RocksDB hanging because the info logs are block-buffered so the last log line prior to the hang may be stuck in application buffer. We could have our Logger class support line-buffered I/O.

[2019-02-15 23:32] ajkr opened #4994 "try ioprio_set() with direct I/O instead of throttling background activity"
- need to enable direct I/O first since disk writes from page cache would all get same priority
- assign flush/compaction threads lower priorities than threads for user reads/writes
- measure changes in compaction stalling and p99/p100 user read/writes
- also compare against having a rate limiter with "ideal" rate (i.e., minimum value to avoid stalling)
- cassandra (https://issues.apache.org/jira/

[2019-02-15 23:33] #4168 closed

[2019-02-15 23:36] ajkr opened #4995 "CompactRange avoid double-compacting data in bottom level"
Depending on the config, CompactRange does following compactions:
L0->L1
L1->L2
...
Ln-1 -> Ln
Ln -> Ln
The final Ln -> Ln compaction is partly unnecessary as it recompacts all the files that were just generated by the Ln-1 -> Ln. We should avoid recompacting such files. That rule should be applied to Lmax only.

[2019-02-15 23:43] ajkr opened #4996 "assertion failure for `./db_stress -use_direct_io_for_flush_and_compaction=true -mmap_read=true`"
### Expected behavior
It should either return an unsupported error message or allow the configuration.

### Actual behavior
Triggers an assertion:
[code]

### Steps to reproduce the behavior
Build `db_stress` with assertions enabled, then run
`./db_stress -use_direct_io_for_flush_and_compaction=true -mmap_read=true`

[2019-02-16 00:05] ajkr opened #4997 "remove `max_valid_backups_to_open backup` option"
I believe it is fundamentally flawed and should be removed. When set, it messes up reference counting and causes shared files to be deleted by surprise.

[2019-02-16 00:13] siying commented on #4991
I didn't know we have (3). When did we introduce it?

[2019-02-16 00:25] ajkr opened #4998 "wrong level argument passed to LevelIterator"
@abhimadan found this. https://github.com/facebook/rocksdb/blob/4db46aa2e678cdd59ae27653fbefeb438512ec8a/db/version_set.cc#L4393 passes `static_cast<int>(which)` but should be `c->level(which)`. The impact should be assessed.

[2019-02-16 00:40] ajkr commented on #4991
Looks like 235b162be13910a5f5b72cf0b30bd3255de14d67.

The more concerning part to me is using my L0 compaction scoring based on file size together with your base-level compaction scoring based on comparison to L0 size. I think that makes the base level's score unfairly low.

[2019-02-16 00:42] siying commented on #4991
Oh I did it. Oops.

[2019-02-16 01:45] siying commented on #4991
The LSM-tree shape looks much better with (3) than without. Is it a side effect?

[2019-02-16 02:18] ajkr commented on #4991
Yeah, you're right, the experiments in the description do not prove (3) should be removed. I should've also measured without (3) together with L0 scoring change. Both the strategies shown in the description end up top-heavy and not really satisfying the nice smooth shape we want.

[2019-02-17 10:08] gencer commented on #2304
@adamretter , I have the same issue. The fact is, I installed RocksDB using `vcpkg`. VS finds the include files, I manually added `rocksdb-sharedd.lib` and `zlibd.lib` files, however I got following issues on new created project. (_Multi Threaded Debug DLL_)

[code]

I am suspecting that there are _more dependencies_ than `zlib` and `vcpkg` did not installed them.

[2019-02-17 10:36] gencer commented on #2304
Ah, It seems the problem is here: https://github.com/Microsoft/vcpkg/issues/2411

[2019-02-17 17:19] hjiayz opened #4999 "C-api"
C-API
https://github.com/facebook/rocksdb/blob/a62c6626e0ae27390013abcc94b42cecd6eb4497/db/c.cc#L3769

how to release rocksdb_snapshot_t?
free?

https://github.com/facebook/rocksdb/blob/a62c6626e0ae27390013abcc94b42cecd6eb4497/db/c.cc#L3818
miss columnfamily version

https://github.com/facebook/rocksdb/blob/a62c6626e0ae27390013abcc94b42cecd6eb4497/db/c.cc#L3925
miss columnfamily version

[2019-02-18 07:18] yebangyu opened #5000 "coredump when destructor of BlobDBImpl called"
version of rocksdb:  latest, master branch

how to reproduce:

int main() {
  rocksdb::blob_db::BlobDB* db = nullptr;
  auto status = rocksdb::blob_db::BlobDB::Open(db_options, db_opt, db_path,
  column_families,&handles,&db);
  assert(status.ok() && db);
  delete db;
}

we run the program above about 1000000 times and it does cause 4 cores which have the same backtrace

the implementation of ~Blo

[2019-02-18 13:20] yunchih commented on #3908
Add `-ljemalloc` to the `PLATFORM_LDFLAGS` variable in `make_config.mk`

[2019-02-19 17:38] siying commented on #4991
@ajkr I agree. We should rethink it more.

[2019-02-19 17:44] siying commented on #4999
Are you interested in contributing the code?

[2019-02-20 00:00] veerav123 commented on #4112
Is it resolved?

[2019-02-21 01:43] siying commented on #5000
https://github.com/facebook/rocksdb/pull/5005

[2019-02-21 01:43] siying commented on #5000
https://github.com/facebook/rocksdb/pull/5005

[2019-02-21 08:28] Bingo403 commented on #4112
the same problem.

[2019-02-21 23:59] pgoodman opened #5006 "How to properly use DestroyColumnFamilyHandle?"
### Expected behavior

No aborts / assertion failures.

### Actual behavior

Aborts / assertion failures.

### Steps to reproduce the behavior

I have two RocksDB instances, one of which uses multiple column families. It seems that there is no way to properly close these databases without one of them reporting either a double free, or one of the ColumnFamilySets freeing a ColumnFamilyData (the def

[2019-02-22 00:02] pgoodman commented on #5006
One sample backtrace, where I have destroyed the default column family in the instance with multiple column families, and CloseHelper is oblivious to this because the `default_cf_handle_` is non-null.

NOTE! Destroying the default column family on the instance with only one CF magically works...

[code]

[2019-02-22 00:04] pgoodman commented on #5006
Another sample backtrace, this one where I haven't destroyed the default column family in the instance with multiple column families, and so it is still somehow referenced...

[code]

[2019-02-22 06:12] gdyang1990 opened #5007 "IngestExternalFile and Compaction caused deadlock bug"
We use the IngestExternalFile interface to load a bunch of data into RocksDB. And we found that in some scenarios this call will always block.

The release version we use is 5.17.2

Through pstack analysis, it seems that RocksDB seems to be deadlocked. A few key call stacks are as follows:

IngestExternalFile stack
[code]

BackgroundCompaction stack
[code]

By reading the source code, IngestExtern

[2019-02-22 10:37] SeterKwok opened #5008 "Memory leak in Test"
https://github.com/facebook/rocksdb/blob/db2445ad244fd9fefe02900fc99e47aafddbfe52/java/src/test/java/org/rocksdb/WriteBatchTest.java#L195

There is an unused WriteOptions called wOpt, which is expected to use here. Creating a new WriteOptions will lead to a memory leak.

[2019-02-22 16:19] riversand963 commented on #5007
Thanks @gdyang1990 for reporting. I believe this should have been fixed by 9be3e6b48884c80733fa791b982a02f62a199e92. Can you confirm your RocksDB version?

[2019-02-22 22:58] yiwu-arbug opened #5010 "CPU overhead on file ingestion"
### Expected behavior
We have a data import tool which can huge amount of SST files into a DB, one file at a time. When we have many small SST files we see high CPU overhead on ingestion. Profiling shows the overhead comes from reconstruction of `Version`, especially when it memcpy all smallest and largest key to the version's own arena:
![ingest](https://user-images.githubusercontent.com/2606959/

[2019-02-23 01:19] suzanne-stathatos opened #5012 "Problem with unresolved external symbols on windows"
### Expected behavior
It builds and compiles.

### Actual behavior
I get the following linking errors
Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2019	unresolved external symbol __imp__RpcStringFreeA@4 referenced in function "public: virtual class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > __thiscall rocksdb::Env::GenerateUniqueId(v

[2019-02-25 03:04] gdyang1990 commented on #5007
Thank you for your reply.
Yes. It has been fixed.  The version we used was 5.17.2, and the bug was fixed after this version.

[2019-02-25 03:04] #5007 closed

[2019-02-25 16:19] johnzeng opened #5013 "Wiki mistake"
### Expected behavior
In https://github.com/facebook/rocksdb/wiki/Compaction

CompactionOptionsUniversal::compression_size_percent - If this option is set to be -1 (the default value), all the output files will follow compression type specified. If this option is not negative, we will try to make sure compressed size is just above this value. In normal cases, at least this percentage of data will

[2019-02-26 09:30] royforu opened #5016 "make rocksdbjava failed on ubuntu"
Hello everyone,

## Expected behavior
It builds and compiles.

## Actual behavior
when i compiled with command `make static_lib`, it just be fine. And it produced `librocksdb.a` well. After that, I compiled with command `make rocksdbjava`, it showed the following messages:
[code]

=====================================

what kind of problems went wrong?
Steps to reproduce the behavior
just make roc

[2019-02-26 13:15] adamretter commented on #5016
Are you building from GitHub source?

I found on Ubuntu that I needed to apply at least this patch to build - https://github.com/facebook/rocksdb/pull/4943

[2019-02-27 00:55] sagar0 opened #5020 "Java test failures on Travis"
### Expected behavior
Travis java tests run cleanly.

### Actual behavior
Some Pull-requests are failing with the below error.
java_test on Travis is flaky and failing occasionally with:

[code]

Examples:
https://travis-ci.org/facebook/rocksdb/builds/498968761
https://travis-ci.org/facebook/rocksdb/builds/499512338

### Steps to reproduce the behavior

[2019-02-27 01:47] hjiayz commented on #4999
miss rocksdb_transactiondb_open_column_family

[2019-02-27 03:29] jwasinger commented on #4808
Do I understand this correctly?  Fragmented tombstones should computed during write and cached.  Reads would reference the cache instead of recomputing.

@abhimadan Can you elaborate?  Is this different than what I have proposed above?

[2019-02-27 03:46] abhimadan commented on #4808
What I meant by caching the fragmented tombstones was that, during the first read after the range deletion, the fragmented memtable tombstones would be stored and used for subsequent reads until the next range deletion invalidates the cache. So basically the "caching" happens on the read path.

On the write path, I was thinking of using a data structure that would fragment a tombstone appropriatel

[2019-02-27 04:20] jwasinger commented on #4808
Yes, I would be interested in seeing this.

Read path caching seems like it would be the easiest to implement in the short term.  I have to look more closely at the write path idea.

[2019-02-27 11:02] adamretter commented on #5020
@sagar0 I previously saw intermittent failures like this, but not for some time so I assumed I had fixed the issue. I guess I need to look again...

[2019-02-27 11:06] adamretter commented on #5020
Looks like a regression.

[2019-02-27 14:55] suiyuan2009 commented on #4998
how do you find this?

[2019-02-27 16:00] ajkr commented on #4998
IIRC, @abhimadan was reading the code and noticed that level is determined differently here compared to a few lines above: https://github.com/facebook/rocksdb/blob/a661c0d2085b6de1ff745eb83f056a87801985b4/db/version_set.cc#L4371

[2019-02-27 17:17] riversand963 commented on #5013
I think the wiki matches the comment at https://github.com/facebook/rocksdb/blob/master/include/rocksdb/universal_compaction.h#L60, which is the same as what you specify as expected. Do you mean you observed the db is not behaving in this way?

[2019-02-27 17:20] riversand963 commented on #5008
I think the original wOpt will be GCed after it goes out of scope. Have you observed increased memory consumption due to this?

[2019-02-28 02:01] johnzeng commented on #5013
Sorry, my mistake...I misread the code

[2019-02-28 02:01] #5013 closed

[2019-02-28 03:39] 914022466 opened #5028 "Segmentation fault at rocksdb::DBWithTTLImpl::Get"
when program run for n days (n > 10) ，it suddenly happens a segmentation fault.
![lark20190228113501](https://user-images.githubusercontent.com/13954644/53539543-ea8a5b80-3b4c-11e9-85ab-bf4d4ca5fc57.png)
after it,rocksdb seems to be wrong
![image](https://user-images.githubusercontent.com/13954644/53539585-1c9bbd80-3b4d-11e9-9563-768acd9d0f4b.png)
our read rocksdb code is:
[code]

[2019-02-28 03:42] SeterKwok commented on #5008
No, in fact I haven't do a memory leak test... Just a small suggestion.
wOpt is in a try-with-resource statement but `new WriteOptions()` is not. So I think the latter will not be GCed. That's why I think it's better to use wOpt here instead of creating a new one.

[2019-02-28 16:41] gbitzes opened #5029 "rocksdb creates LOCK and LOG files even if DB does not exist, and create_if_missing is false"
### Expected behavior
If create_if_missing is false, and we point rocksdb to open some non-sense location such as "/etc", rocksdb should fail to open the directory, without modifying anything inside said directory.

### Actual behavior
rocksdb adds files like `LOCK`, `LOG` into the directory.

[2019-02-28 17:44] riversand963 commented on #5008
I believe Java does not require the programmer to take care of object destruction. Every object has a scope, when it goes out of scope, JVM has a way of identifying the object's memory as garbage and reclaim it at a proper time.
That being said, you are right that there is a redundancy here. Would you be willing to submit a PR to fix it?

[2019-02-28 17:58] riversand963 commented on #5029
Thanks @gbitzes for reporting. Would you like to submit a PR to fix this?

[2019-03-01 06:50] SeterKwok commented on #5008
I admit it is not a serious problem and this object may be automatically GCed... However, referring to [the doc](https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management), I think it's better to use wOpt, which will be closed explicitly. I may fix it when I have time.

[2019-03-01 19:02] riversand963 commented on #5008
Thanks.
I believe the underlying object will be managed by JVM such as [hotspot](https://en.wikipedia.org/wiki/HotSpot). If you create an object in your java code, JVM knows about it and takes care of its reclamation.
It's true that we should intentionally make the programs more GC-friendly by avoiding unnecessary object re-creations.

[2019-03-01 19:40] siying commented on #5008
@riversand963 I think it's a good idea to follow the best practice even in test code. Users may copy the code in their application which is bad.
And yes, we should call WriteOptions.close(). @SeterKwok are you interested in contributing an improvement?

[2019-03-01 19:45] siying commented on #5008
Regarding finalizer, this is what book "Effective Java" says: http://www.informit.com/articles/article.aspx?p=1216151&seqNum=7

[2019-03-01 20:21] avisrivastava254084 commented on #5028
@914022466 Can you give some details about the language used? It looks like C++, isn't it?
And is it safe to presume that just the three lines pasted above if somehow made run for n days with n being greater than 10, it would result in segmentation fault?

[2019-03-02 00:51] sagar0 commented on #5020
[code]
This crashes 50% of the time on my system. `getApproximateSizes` test in org.rocksdb.RocksDBTest class is the one that crashes. But I couldn't find the root cause yet, as the test crashes in two different places ... each roughly with 25% chance.

Investigating with gdb:
Crash 1:
[code]

Crash 2:
[code]

Note that the second crash is in "dum_st" (dump stats) thread.

[2019-03-02 00:54] sagar0 commented on #5020
I'll disable `org.rocksdb.RocksDBTest. getApproximateSizes` until we find the root-cause and have a fix, as this is currently causing lot of people to complain about Travis failures for their PRs.

[2019-03-02 01:05] sagar0 commented on #5020
Mac OS X java_test too started failing in the past day, with a different stack ... I haven't looked deeper into it yet.

[2019-03-02 02:16] aaudiber opened #5036 "Cannot iterate over db when useFixedLengthPrefixExtractor is set"
### Expected behavior

When using `HashLinkedListMemTableConfig` and `useFixedLengthPrefixExtractor`, it should still be possible to iterate over all values in the db.

### Actual behavior

It does not appear to be possible. Creating an iterator and seeking to the first element leaves the iterator invalid.

### Steps to reproduce the behavior

Rocks version: 5.15.10

This junit test fails on the l

[2019-03-03 07:53] royforu commented on #5016
Hi @adamretter
Yes, i build it from github source and still the same error message after patch 4943
Error: Could not find class file for 'org.rocksdb.AbstractCompactionFilter'.

[2019-03-03 12:23] lpl6338236 commented on #4112
Same problem with 5.14.2.
It seems all data of open sst files are cached in memory, instead of just the file descriptor.

[2019-03-03 19:28] jwasinger commented on #4808
@abhimadan @ajkr , I have implemented read "caching" for the fragmented tombstones as a preliminary step towards closing this issue.  Can you link me to the detailed description of the proposal for a special range deletion memtable?  It sounds very interesting.

Thanks,
Jared

[2019-03-03 19:49] abhimadan commented on #4808
Hi Jared, sorry about the delay. Here's [the doc I was talking about](https://docs.google.com/document/d/1NfjELi8Zz27TUZ3HoxujPRLKe6ifx_Jg9cAEF6WtZNg/edit#heading=h.1w0pjit7yac): (just the "Range Tombstone Data Format" section).

[2019-03-03 19:57] jwasinger commented on #4808
Thanks @abhimadan :) !

[2019-03-04 02:03] hjiayz commented on #4999
miss rocksdb_transactiondb_create_iterator_cf

[2019-03-04 02:07] hjiayz commented on #4999
miss rocksdb_transactiondb_merge_cf

[2019-03-04 10:49] royforu commented on #5016
Hi @adamretter
i found my java setting doesn't work well and maybe it's the cause to compile failure.
i try build it on centos and it build well.  thx for help~~

[2019-03-04 13:36] iSynaptic commented on #4999
@siying If @hjiayz isn't interested in contributing the code, I am. I'm one of the maintainers on the Rust language bindings for RocksDB and I too have noticed a number of missing operations/overloads in the C API for the `TransactionDB` and `Transaction` classes.

Beyond signing a CLA, what else is necessary to contribute?  Also, is there a release schedule for the native and Java libraries? I as

[2019-03-04 18:40] riversand963 commented on #5036
Hi @aaudiber , can you try the following:
[code]

[2019-03-04 18:58] aaudiber commented on #5036
@riversand963 using `setTotalOrderSeek(true)` fixes the issue, thanks!

[2019-03-04 19:12] riversand963 commented on #5036
SGTM. I'm closing this issue now, feel free to reopen should anything comes up.

[2019-03-04 19:12] #5036 closed

[2019-03-04 22:21] sam-guo commented on #4112
We are seeing the same issue that memory keeps increasing until oom-killer kills it. We've set the cache_index_and_filter_blocks = True, but it does not seem to help, same behavior (which I am very surprised). This only happens when we use Iterator to do seek etc. Waiting for a solution - either permanent or a workaround. Thanks.

[2019-03-04 22:56] #5008 closed

[2019-03-04 23:39] sayaji15 opened #5038 "RocksDB crash observed when we try to read a key while it is in the process of close()"
RocksDB version: 5.11.3

We observed a crash when a thread was trying to read from rocksdb and another thread was trying to close the db. This ended up killing our JVM.
Shouldn't it just fail the read operation ?Is this a known issue? If yes, is it fixed in the newer version?

[code]

[2019-03-04 23:43] siying commented on #5038
"a thread was trying to read from rocksdb and another thread was trying to close the db" -- this is not thread safe. Users are responsible to make sure no read/write request going to RocksDB before trying to close it.

[2019-03-05 03:07] keenbo opened #5040 "assert failed : void rocksdb::VersionSet::SetLastSequence(uint64_t): Assertion `s >= last_sequence_' failed."
### Expected behavior

### Actual behavior
Core

### Steps to reproduce the behavior
version rocksdb-5.18.3
I could not reproduce the behavior. But I have the core file.
****/rocksdb/db/version_set.h:874: void rocksdb::VersionSet::SetLastSequence(uint64_t): Assertion `s >= last_sequence_' failed.
[code]

[2019-03-05 07:12] royforu commented on #5016
Hi @adamretter
i try to reinstall ubuntu again and build and find it's fine to compile well.
So my previous problem is that my java setting isn't correct.
So this issue should be closed.
Thanks for your reply & help.

[2019-03-05 07:12] #5016 closed

[2019-03-05 18:35] riversand963 commented on #5040
Thanks @keenbo for reporting. Could you use the core file to get more information, e.g. stack traces of all the threads, the value of `last_sequence_`, etc? The LOG file and OPTIONS file in the database directory may also contain useful information. Could you post their contents as well?

[2019-03-05 19:15] veerav123 commented on #4112
I am still seeing the same issue with cache_index_and_filter_blocks = true. My
process is not doing any writes. It is doing only reads.

On Mon, Mar 4, 2019 at 2:22 PM sam-guo <notifications@github.com> wrote:

[2019-03-05 19:29] toktarev commented on #4112
I really like this issue :)

+1 new complain every day )

[2019-03-05 20:05] vitalyisaev2 commented on #4112
I had a kind of similar problem with [gorocksdb](https://github.com/tecbot/gorocksdb), a Go RocksDB wrapper. Every iteration over whole database caused the increase of `RSS`. My research on this topic is [here](https://github.com/vitalyisaev2/gorocksdb_merge_operator_issue). I thought I have fixed this problem by rewriting `MergeOperator` implementation from `Go` to `C++`, so the leak is highly li

[2019-03-05 20:20] veerav123 opened #5042 "Reopening Memory grows without limit (#4112)"
Re-opening #4112 Memory grows without limit as it is out of date, but many are facing the same issue.

https://github.com/facebook/rocksdb/issues/4112

[2019-03-06 00:34] anand1976 commented on #4112
@veerav123 I'm not sure what exact problem you are seeing, but responding to the most recent report by @toktarev. The following combination of options can cause unbounded memory consumption growth -
[code]
This is due to the fact that the top level filter partition is pinned in memory for each open file, and if strict_capacity_limit is false, will not be bounded by the block cache size. If ```max_

[2019-03-06 00:54] anand1976 commented on #4986
The number of keys in a ```Version``` is an approximation - https://github.com/facebook/rocksdb/blob/3c5d1b16b129de040e1adaca89c6957c0fb3ace8/db/version_set.cc#L1400. It is obtained by sampling a few SST files, so its likely to be inaccurate. Merges and deletes can further skew the number.

[2019-03-06 13:39] toktarev commented on #4112
Setting `pin_top_level_index_and_filter` to false causes performance degradation.

[2019-03-06 13:46] nihathrael commented on #2531
I retried this today with RocksDB version 5.17.2 on Windows 10 Pro Version 1809 Build 17736.316 and it works. Either the problem was fixed or my specific setup works for some reason.
If I can provide any data to help with narrowing down the bug, let me know what you need!

[2019-03-06 17:34] sam-guo commented on #4112
@anand1976 thanks for the info. I am using RocksJava, how can I set strict_capacity_limit = true (to avoid the memory problem)? I don't see the call available on either "Options" or "BlockBasedTableConfig" classes.

[2019-03-06 17:45] koldat commented on #4112
It is on Cache object. Create it using LRUCache.

st 6. 3. 2019 18:35 odesílatel sam-guo <notifications@github.com> napsal:

[2019-03-06 18:00] veerav123 commented on #4112
@anand1976 ,   I have the following code and I still see the memory growing unbounded:
[code]

[2019-03-06 19:29] toktarev commented on #4112
The problem of memory growth is not actually because of RocksDB's memory leak

I suspect that it is just Arena's leak

http://codearcana.com/posts/2016/07/11/arena-leak-in-glibc.html

RocksDB introduced MemoryAllocator in last versions and now it is possible to organise kind of pooling for block caches's blocks.

However Arena still allocates a lot of new memory and it causes unbounded RSS growth.

[2019-03-06 19:30] toktarev commented on #4112
everybody can try MALLOC_ARENA_MAX=1 and check if it helped

However it will affect performance.

[2019-03-06 19:49] veerav123 commented on #4112
@toktarev why not use WITH_JEMALLOC parameter when RocksDB is built? I'll try that and update it here

[2019-03-06 19:51] toktarev commented on #4112
@veerav123

this is environment parameter  and should be set before execution of corresponding binary file

[2019-03-06 19:51] toktarev commented on #4112
JEMALLOC is a good point to check

[2019-03-06 19:53] veerav123 commented on #4112
@toktarev yes I meant to check using RocksDB built with jemalloc which might handle these memory arena and fragmentation issues better than glibc

[2019-03-06 20:21] toktarev commented on #4112
iirc @koldat  uses jemalloc in his tests and has the same complaining with the corresponding diagram

[2019-03-06 20:44] koldat commented on #4112
We are not having any problems after I use rocksdb the way I described many times in this thread. Our read write load is very high and dB size is around terabytes. Still we are able to handle that with limited docker instance with 5gb ram limit including our Java app which is itself quite hungry. My guess is that rocksdb is taking max 2gb. All is running perfectly stable for months.

What I took a

[2019-03-06 22:10] gnayli commented on #4869
I hit the same issue when making it on ubuntu 18.04

[2019-03-07 00:06] adamretter commented on #2531
For some previous versions a dependency on AVX2 exetebsions crept in. More recently we are building a more CPU portable version for RocksJava.

[2019-03-07 02:24] toktarev commented on #4112
4.Jemalloc. It helps to keep memory stable. We have quite aggressive setup, but still no noticeable performance impact.

Seems that it was a key point.

[2019-03-07 02:30] guangruifu opened #5047 "db_stress verification failed on HDFS 2.7.6"
### Expected behavior

db_stress should be able to pass verification in HDFS environment

### Actual behavior
[code]
### Steps to reproduce the behavior
Build and run db_stress with USE_HDFS enabled

[2019-03-07 09:34] toktarev opened #5048 "We are not having any problems after I use rocksdb the way I described many times in this thread. Our read write load is very high and dB size is around terabytes. Still we are able to handle that with limited docker instance with 5gb ram limit including our Java app which is itself quite hungry. My guess is that rocksdb is taking max 2gb. All is running perfectly stable for months."
We are not having any problems after I use rocksdb the way I described many times in this thread. Our read write load is very high and dB size is around terabytes. Still we are able to handle that with limited docker instance with 5gb ram limit including our Java app which is itself quite hungry. My guess is that rocksdb is taking max 2gb. All is running perfectly stable for months.

What I took a

[2019-03-07 09:36] toktarev commented on #5048
@koldat , thanks a lot of such great help
Could you please explain how do you live with
"strictly limited caches".

Throwing of
s = Status::Incomplete("Insert failed due to LRU cache being full.");

in background processes like compaction and flush + failed writes and iterations/reads can lead to unpredictable system behaviour.

How do you handle this problem.

Thanks in advance.

[2019-03-07 09:55] keenbo commented on #5040
Thanks very much @riversand963
I check the program again. The incorrect usage of the WriteBatch in my program made the error happen.

[2019-03-07 09:56] #5040 closed

[2019-03-07 10:17] koldat commented on #5048
I am not using pinning of index blocks thus cache should always have space as cache I use id also quite big (512 MB). In worst case it would throw and exception and application needs to handle that by its own.

I do not think that if background process would fail it will cause unpredictable behavior. Why do you think so? I guess the library should handle that as failed job and job will be schedule

[2019-03-07 10:22] koldat commented on #4112
BTW here is JEMALLOC setting I use:
export LD_PRELOAD=/usr/lib/libjemalloc.so.2
export MALLOC_CONF=abort_conf:true,narenas:16,lg_tcache_max:13

We use latest jemalloc (5.x)

[2019-03-07 10:25] adamretter commented on #4869
There is a fix here - https://github.com/facebook/rocksdb/pull/4943

[2019-03-07 10:25] toktarev commented on #5048
--Why do you think so
because when we turned `strict_capacity=true` we saw tons of messages in our log with the following message:  ```Insert failed due to LRU cache being full```
I am not sure if it is correct behaviour and what kind of problems it can cause

[2019-03-07 10:26] toktarev commented on #5048
---I am not using pinning of index blocks

which parameters do you use.

I see such error on default BlockBasedTableOptions where
pin_l0_filter_and_index_blocks_in_cache=false

[2019-03-07 11:02] koldat commented on #5048
I just scanned all our rocksdb LOGs we have and there is not a single message like "Insert failed due to LRU cache being full".

We are having defaults so pin_l0_filter_and_index_blocks_in_cache=false

What is size of your cache?

And I forgot to mention that for sequence scans we use:
readOpts = new ReadOptions();
readOpts.setFillCache(false);

I also guess that functionality like open iterators,

[2019-03-07 11:06] toktarev commented on #5048
We see message "Insert failed due to LRU cache being full" in the application LOG not in RocksDB log

[2019-03-07 11:17] #4600 closed

[2019-03-07 15:02] toktarev commented on #4112
@koldat
Where you able to have stable memory consumption running my benchmark which I specified here:
https://github.com/facebook/rocksdb/issues/4112#issuecomment-447276776.

I made the following steps:

Install Jemalloc using Macos using

[code]

1) Downloaded master branch of RocksDB

2) make static_lib

3) strict_capacity_limit = true

4) export MALLOC_CONF=abort_conf:true,narenas:16,lg_tcache_

[2019-03-07 15:08] toktarev commented on #4112
[code]

[2019-03-07 19:49] veerav123 commented on #4112
@anand1976 @koldat
Is ```max_open_files``` a data build time change?

If I built the data with ```max_open_files=-1```, can I use ```max_open_files=500``` during run time?

[2019-03-07 20:19] siying commented on #5048
@toktarev if you see this message, it pretty much means that if you turn strict mode to false, RocksDB will use more memory to cache blocks for capacity of block cache.

[2019-03-07 20:43] koldat commented on #4112
Yes you can set this to any value any time without any breakage. Like most of database settings.

[2019-03-08 03:11] toktarev commented on #5048
[code]

as we can see from the code this message can be thrown if strict_capacity_limit_=true

[2019-03-08 19:57] qzo commented on #2531
5.17.2 works for me as well, thank you. I'm on Ivy Bridge (no AVX2) btw.

[2019-03-08 21:39] anand1976 commented on #5006
You need to call ```DropColumnFamily()``` followed by ```DestroyColumnFamilyHandle()```.  The default column family should not be dropped, although it is not enforced by the code.

[2019-03-08 22:32] mellery451 commented on #4831
not sure why, but it's being explicitly defaulted to `/usr` : https://github.com/facebook/rocksdb/blob/05ebfebc177418a29acbb88a66c0b02058150a2a/CMakeLists.txt#L787. I don't know the reason for that change, but you can at least override it when configuring by passing `-DCMAKE_INSTALL_PREFIX=/usr/local`. Yeah, it's a little odd to have to explicitly set it "back* to typical defaults, but at least it

[2019-03-08 23:17] pgoodman commented on #5006
@anand1976 Thanks for clarifying that. When I remove my calls to `DestroyColumnFamilyHandle`, I now get:
[code]

Here is what I'm doing, I've tried different variations with things commented out or not:
[code]

In the above code, `rocks_db` is a `std::unique_ptr<rocksdb::DB>`. If I do `rocks_db->Close()` or if I don't intentionally leak the `DB`, then the assertion is triggered. I am not currently

[2019-03-09 01:06] #4869 closed

[2019-03-09 02:21] #2531 closed

[2019-03-09 02:53] darionyaphet opened #5056 "SetDBOptions can't detection the wrong value"
When I using `SetDBOptions` to set configuration and the value is not correct, it should return a status with a error message but it's ok() .

### Expected behavior
`it should return a status with a error message. `

### Actual behavior
`but it's ok() . `

### Steps to reproduce the behavior

[code]

[2019-03-09 09:41] xocodergit opened #5057 "Is it allow to call DB::Get during compaction?"
Hi guys, I use compaction filter to filter keys that are not need anymore. but in my design. the key and value cannot indicates whether this key is need to filter or not, i need to check **another value** so i can decide whether this key is need to filter.

so my question is : **can I call DB::Get in CompactionFilter::Filter?**

**thanks a lot!**

[2019-03-09 12:43] yangzhijia opened #5058 "The questions about prefix seek method"
### Behavior

We use prefix seek method to seek the key, we found that the result was smaller than the key.

for example:  iter->seek(234) the return value is 223

### Questions
I noticed that there are 4 rules to follow when we implemented prefix_extractor ourselves.
// 1) key.starts_with(prefix(key))
// 2) Compare(prefix(key), key) <= 0.
// 3) If Compare(k1, k2) <= 0, then Compare(prefix(k1), pr

[2019-03-11 02:29] zhangjinpeng1987 opened #5059 "Improvement for upper/lower bound"
Current behavior when scan a range with lower & upper bound is set:
Fetch a key from memtable/sst/block, compare the key with lower/upper bound, return invalid if the key exceed bound. So there is one comparing for each key.

Improvement suggestion:
When a sst is totally covered by lower & upper bound, all keys returned from this sst don't need to compare with bound.
When a block is totally covere

[2019-03-11 11:51] toktarev commented on #4112
@veerav123

did jemalloc help ?

[2019-03-11 18:12] misnomer1 opened #5060 "RocksDB startup fails on dual socket NUMA host"
RocksDB fails to startup on a dual socket NUMA host with error (I tested single socket NUMA host and rocksDB startsup and works well)

rocksdb::LRUCache::LRUCache(unsigned long, int, bool, double, std::shared_ptr<rocksdb::MemoryAllocator>)+0x93

I did not find any open issues reported. Can anyone let me know if this is a bug

[2019-03-11 22:28] veerav123 commented on #4112
No, it didn't help.

On Mon, Mar 11, 2019 at 4:51 AM toktarev <notifications@github.com> wrote:

[2019-03-11 23:25] briangu commented on #1055
I think an interesting use case here if the default CF contains the list of other CFs, effectively using the default CF for bookkeeping.  For example, if CFs are created dynamically and the list of known CF names is not static.

[2019-03-12 03:42] lingbin commented on #5058
Perhaps the core of the question should be why the fourth condition is needed?
When will the prefix calculation be performed twice (or more than twice) on a key?

[2019-03-12 03:54] yangzhijia commented on #5058
Yes，that is exactly what I care about.

[2019-03-12 07:00] liukun4515 opened #5064 "UnsatisfiedLinkError for Rocksdb java"
### Expected behavior
Use java API like the example:
[example](https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#opening-a-database)

My code
[code]
### Actual behavior
 Some error when  i run the code

[code]

### Steps to reproduce the behavior

My os is macos 10.10.5
JDK is 8

[2019-03-12 09:29] maohaihua opened #5065 "wrong result when convert between Slice and std::stringstream"
when I convert between std::stringstream and rocksdb::Slice, if direct using stringstream.str() it will get the wrong result, but if using middle string it will get the right result.

       std::stringstream sskey,ssvalue;
        std::string strkey,strvalue;

        sskey<<1<<"-pointId-"<<"078191cb-2514-4f66-a334-ae1e0e2089ad";
        ssvalue<<1<<"-x0797-";

        strkey = sskey.str();

[2019-03-12 17:18] anand1976 commented on #5056
It does return error for some types of mis-configuration. For integer and double, the standard rules of strtol/strtoll/strtoull/strtod are applied, i.e ignore whitespace, discard invalid characters etc. For those, no error is reported.

[2019-03-12 17:48] anand1976 commented on #5058
There was some legacy code that would do prefix(prefix(key)) during filter block construction to check if the prefix being added to the filter was same as the last entry added. It would do prefix(last_entry), and last_entry could either be a whole key or prefix.

Its no longer done that way. During filter construction, we record the last whole key added as well as last prefix added in separate var

[2019-03-12 17:50] anand1976 commented on #5059
This is a good suggestion. Thanks.
Are you interested in submitting a PR for it?

[2019-03-12 17:52] anand1976 commented on #5060
RocksDB is used pretty widely on dual-socket hosts without any problems. Can you give more details on what the error is?

[2019-03-12 18:01] anand1976 commented on #5057
At the moment, we don't support it. I can't think what specifically can go wrong, but we have generally advised users against doing it.

[2019-03-12 18:25] yiwu-arbug commented on #5059
I plan to try the idea this month. Will update.

[2019-03-12 19:05] anand1976 commented on #5065
I couldn't reproduce this. I don't see anything wrong in the code either.

[2019-03-12 20:58] ajkr commented on #5059
@yiwu-arbug Another thing I noticed is we're actually doing two comparisons for each key that comes from an SST: here (https://github.com/facebook/rocksdb/blob/8a1ecd1982341cfe073924d36717e11446cbe492/table/block_based_table_reader.cc#L2505-L2511) and then again here (https://github.com/facebook/rocksdb/blob/ca89ac2ba997dfa0e135bd75d4ccf6f5774a7eff/db/db_iter.cc#L454-L457). I feel the former one i

[2019-03-12 21:04] misnomer1 commented on #5060
I updated RocksDB to latest 5.18 and it is not starting up after that. All the logs I have is a problematic frame (I am using Java RocksDB wrapper)

rocksdb::LRUCache::LRUCache(unsigned long, int, bool, double, std::shared_ptrrocksdb::MemoryAllocator)+0x93

Is this thread related by any chance?
https://github.com/facebook/rocksdb/pull/3750

[2019-03-12 23:20] misnomer1 commented on #5060
This is probably related to AVX2 instructions set not available on the host. I am building the binary on AVX2 supported host.

[2019-03-13 00:28] maohaihua commented on #5065
I also think it should get the same result,but actually only value slice is correct. I use Rocksdb in ROS(Robot Operating System）(http://www.ros.org/) Kinetic, are there some relations?

correct result:
[ INFO] [1552436857.881305122]: [1552436857.881287138]: write 1-pointId-078191cb-2514-4f66-a334-ae1e0e2089ad 1-x0797-

[ INFO] [1552436857.881378524]: [1552436857.881370160]: 00write 1-pointId-0781

[2019-03-13 00:56] liukun4515 opened #5068 "org.rocksdb.RocksDBException: unknown WriteBatch tag"
I use the rocksdbjava by：

[code]
Call the `write(new WriteOptions(), WriteBatch);` concurrently in multithreads.

### Expected behavior

Non-error in writing data

### Actual behavior

Java exception stack trace.

I wrapped the RocksDB in my project.
[code]

### Steps to reproduce the behavior

My os is Ubuntu 16.04.4 LTS

Java version ：
java version "1.8.0_171"
Java(TM) SE Runtime Environment (b

[2019-03-13 02:37] yangzhijia commented on #5058
Thanks for your reply and explain,  as you said i check the code，the last prefix was indeed recorded by the prev_prefix_start_ variable.
So the above problem is not caused by the prefix seek. I still can not understand why seek(key) will return a value that smaller than (key).
[code]

[2019-03-13 02:45] #5056 closed

[2019-03-13 05:50] adamretter commented on #5068
I just want to be certain of something. Are you sharing `WriteBatch` between threads? If so that won't work without you adding appropriate synchronisation, as `WriteBatch` is not thread-safe.

[2019-03-13 08:26] liukun4515 commented on #5068
I don't share `WriteBatch` between threads, but diff threads use the same `RocksDB` instance.

I forget to release the c++ object by [memory management](https://github.com/facebook/rocksdb/wiki/RocksJava-Basics#memory-management).
After I released the c++ object, there is no error.

But I'm confused about the exception `unknown WriteBatch tag`

[2019-03-13 08:29] liukun4515 commented on #5068
Before i know the `memory management`, there is no error using one thread writing data.
@adamretter

[2019-03-13 09:13] yebangyu opened #5069 "seems a bug for snapshot in blobdb"
version：master，latest
how to reproduce：
auto* db = Open(...);
for (int i  = 0;  i < 10000000; ++i) {
 db->put(i, i);
}
// stop any read or writes and try to get a snapshot
std::vector<std::string> snapshot_files;
auto status = db->GetLiveFiles(snapshot_files, &manifest_file_size);
assert(status.ok());

ok，now ,  snapshot_files contains these files:

000025.sst
000019.sst
000012.sst
CURRENT
MANIFES

[2019-03-13 17:11] siying commented on #5057
As what @anand1976 said, we strongly recommended users not do it. This can get tricky.
There are people doing it (like MyRocks) and it works OK. But you need to be really careful about it.
One major risk is that, if the database is blocking all writes because the compaction falls behind, and the compaction itself tries to insert, it is a deadlock condition.
Another thing to keep in mind is that co

[2019-03-13 17:59] siying commented on #5069
Any chance that you forgot the truncate `MANIFEST-000020` to `manifest_file_size` after you copy the files?

[2019-03-14 00:45] simpkins opened #5073 "RepairDB() drops unflushed non-default column families"
Calling RepairDB() on a valid DB that was shut down cleanly can drop all data in non-default column families if they were not explicitly flushed.

### Expected behavior

RepairDB() does not lose data if called on a database that does not actually have any corruption that needs to be repaird.

### Actual behavior

RepairDB() drops non-default column families that do not have data that was flushed i

[2019-03-14 01:31] ajkr commented on #5073
@simpkins - There should be a "lost/" directory containing the WALs and MANIFESTs that were deleted by running `RepairDB`.

[2019-03-14 02:57] simpkins commented on #5073
Yes, the data that was dropped is archived into lost/ and can be manually recovered by a human afterwards, but it still seems like a bug that calling RepairDB() on a valid DB removes this data and requires manual recovery afterwards.

Note that this behavior is the same even if you call RepairDB() with an explicit list of all column families that should be present.

[2019-03-14 16:56] veerav123 commented on #4112
@toktarev , try 5.15 and all the tuning/config suggestions from @koldat, that seems to work

[2019-03-14 17:01] toktarev commented on #4112
@veerav123 only for 5.15 or later as well ?

[2019-03-14 17:26] veerav123 commented on #4112
I tried 5.15.10. I believe the later ones should also work

[2019-03-14 17:31] toktarev commented on #4112
@veerav123 how many levels do you use ?

[2019-03-14 17:39] toktarev commented on #4112
you wrote before

-No, it didn't help.

I just try to understand what did you change

[2019-03-14 17:48] veerav123 commented on #4112
@toktarev , My response "-No, it didn't help." was for using jemalloc alone.
But I all these suggestion from @koldat here:
https://github.com/facebook/rocksdb/wiki/Partitioned-Index-Filters ->[I did all that is suggested under "How to Use it"]

[2019-03-14 17:53] toktarev commented on #4112
could you please send little bench mark which shows stable RSS during long time of heave writes and reads ?

I used the  same configuration
max_open_files=2

[code]

but still see that memory grows and . grows and grows

[2019-03-14 17:59] toktarev commented on #4112
I suspect that @koldat 's setting give us considerably  better  memory consumption that without it.

But I still don't believe that there is some limit where RocksDb stops consumes memory

RSS peak always grows in limit

We can just considerably reduce the speed of this growth.

Probably it is fine for some projects.

[2019-03-14 18:09] toktarev commented on #4112
I used custom MemoryAllocator + JeMalloc and see that there is one place which allocated and allocated - it is Arena's buffer for the list of files which should be compacted.

The more we write the more sst files we have and that buffer directly depends on the number of sst files.

this is why it allocates and allocates buffer of bigger size on each compaction.

On some projects it can be very slo

[2019-03-14 19:00] miasantreble commented on #4995
@ajkr trying to understand the problem better, is the goal to skip bottom level compaction or to skip files that were newly created from level Ln-1 as part of the current compaction?

[2019-03-14 20:11] ajkr commented on #4995
The latter. The Ln->Ln compactions currently take all files in Ln as input. However, some of those files were recently created by an Ln-1->Ln compaction as part of the same manual compaction. For those files we just created in Ln, there should be no need to put them through any more compactions.

[2019-03-14 20:12] ajkr commented on #4995
I think Yoshi had some important insights into this in the internal task.

[2019-03-15 07:30] koldat commented on #4112
@toktarev I have quickly tried your sample (rewritten to Java) and RSS really slowly growing. But not that much it produces thousands of files and I was still under 100MB. It is hard to say if it is fragmentation or not with these small numbers.

You are having very small buffers and file sizes. It is not normal setup for your expectations. I would also recommend these as good starting point:
writ

[2019-03-15 09:08] toktarev commented on #4112
@koldat thanks for this detailed help and explanations

[2019-03-15 09:15] toktarev commented on #4112
--What we use a lot is SSTFileWriter

Not it is clear why you don't experience a problems with memory growth.
Our system doesn't allow such architecture.

[2019-03-15 09:40] toktarev commented on #4112
--This difference report is oscillating around 1.5MB - Thus no leak

Actually no.

My test prints RSS peak.

RSS grows in my test.

[2019-03-15 09:42] toktarev commented on #4112
I don't use some additional stuff (Java, JeMalloc reports and so on).

1) Download last RocksDB (from master)
2) make static_lib with pre-installed JEMalloc
3) Running of C++ test which prints RSS and RSS peak.

[2019-03-15 10:48] koldat commented on #4112
@toktarev RSS memory is memory that kernel allocated to process. Thus it is good indicator, but not precise. Use Total memory from jemalloc. It is sum of all malloc calls substracted by free calls. Everything else is fragmentation.

[2019-03-15 11:20] xocodergit commented on #5057
Got it, thanks to @anand1976 and @siying

[2019-03-15 11:20] #5057 closed

[2019-03-15 11:33] toktarev commented on #4112
Wrong fragmentation makes OOM killer to kill process on many machines.
So ...

[2019-03-15 11:42] xocodergit opened #5075 "why not rocksdb clear the merge-list when 'Get' called?"
Hi guys, i'm using 'merge' to findout the final status of data.
But i've found-out that the merge-list is finally cleared in DB::Merge rather than DB::Get, I don't exacly understand what is this design for.

Because in this design, **MergeOperator::Merge will be call in every DB::Get if the length of merge-list not reach 'max_successive_merges'**, which will cause a obviously waste of performance.

[2019-03-15 11:54] koldat commented on #4112
@toktarev we should not blame Rocksdb for memory fragmentation. It is issue of memory allocation in general (glibc, jemalloc). Anyway, if you want to solve problem then you should help software with cooperative setup. I can damage any application out there including Linux/Windows itself if I want. I am not sure what this issue is about then. Leak is not there (you can clearly see that from jemallo

[2019-03-15 12:02] toktarev commented on #4112
---@toktarev we should not blame Rocksdb for memory fragmentation

We should.

If process allocated char buffers of different sizes in many places it should take care about fragmentation problems.

Last RocksDB version even includes MemoryAllocator to resolve partly this issue.

I understand that you are contributor and that you loves RocksDB too much, but I don't experience here some cultural sen

[2019-03-15 12:26] koldat commented on #4112
I am not part of Rocksdb team. I was trying to be constructive to solve your issue where you are not, but OK I am giving up. Thanks

[2019-03-15 12:32] toktarev commented on #4112
--I am not part of Rocksdb team

i know, but I see label Contributor on your message.

--I was trying to be constructive to solve your issue where you are not

The only one constructive thing here is to detect which buffer do we allocate, what for
and can we just pool them to get rid of fragmentation problems.

[2019-03-15 23:24] miasantreble commented on #4992
CompressionOptions has a few fields, do we want to add all of them to TableProperties or just `level`?

[2019-03-16 17:58] hnakamur commented on #4999
Hi, I just sent a pull request to add missing C APIs https://github.com/facebook/rocksdb/pull/5077

@hjiayz As for `rocksdb_transaction_get_snapshot`, the comment says `This snapshot should be freed using rocksdb_free` at https://github.com/facebook/rocksdb/blob/a62c6626e0ae27390013abcc94b42cecd6eb4497/include/rocksdb/c.h#L1489-L1491

@hjiayz @iSynaptic Thank you for creating the Rust language bin

[2019-03-16 18:21] iSynaptic commented on #4999
@hnakamur Thanks for doing this! Once it becomes available in a release, I'll work on adding support in the Rust binding.

[2019-03-18 18:38] anand1976 commented on #5075
This is more of a question about how RocksDB works than an issue. The public RocksDB Facebook group is a better forum for questions.

There is a tradeoff here between ```Get``` performance and memory usage. Since memtables are append only, doing a merge on ```Get``` being called will result in both the merged value, as well as the prior partial value, to be present in the memtable. The ```max_succ

[2019-03-18 20:53] sayaji15 commented on #908
"we are currently working on the support for this, allowing multiple processes to read from the same database and tailing the logs of a primary process. :)"
@riversand963  Can you please elaborate on this? When will this be available?

[2019-03-18 21:44] riversand963 commented on #908
@sayaji15, there is #4899 to achieve part of the goals. With this PR, a RocksDB instance can tail the MANIFEST of another active instance. I have not implemented the part of WAL-tailing-and-replaying yet, but plan to do so in the near future.

[2019-03-18 23:16] maysamyabandeh commented on #5073
Thanks @simpkins for the report. I confirm that I can reproduce the issue using the test that you provided.
Apparently the assumption of repair db has been that it would be run only after a disaster so the recovery process has taken the liberty to favor simplicity. It currently discards the manifest, where the column families are registered, and recreate a new manifest by inspecting the existing S

[2019-03-18 23:18] #5075 closed

[2019-03-19 08:56] adamretter commented on #5068
@liukun4515 Okay so it sounds like your problem is solved. The error `unknown WriteBatch tag` is coming internally from the RocksDB C++ code.

[2019-03-19 08:56] #5068 closed

[2019-03-19 10:02] #5058 closed

[2019-03-19 10:10] mpoeter opened #5083 "Snapshot management scales poorly"
`GetSnapshotImpl` and `ReleaseSnapshot` acquire the global `mutex_` to perform their operations. This can result in high contention and therefore bad scalability for workloads that make heavy use of snapshots. This can be seen by running the "randomwithverify" benchmark (this seems to be the only one that uses snapshots).

This is a screenshot from a VTune analysis of the "randomwithverify" benchm

[2019-03-19 10:56] AnatoliyAksenov opened #5084 "ldb repair abort"
### Expected behavior

Hi

I tried to use ldb repair after db corruption by oom_killer.
My repair log:
[code]
I've use rocksdb as part of mariadb (myrocks). Before corruption I had been executed `alter table add index comment 'cf_nnn'` operation for a few minutes.
The command `ldb list_column_families` shows `cf_nnn` column family.
After corruption by oom_killer it has been restarted every 60 seco

[2019-03-19 14:55] maysamyabandeh commented on #5084
Repair only recover column families whose data are persisted in sst files. Otherwise it would simply drop them. But in your case it seems that it is successfully recovered!
We should look into the cause of periodic 60s crash. It might be the case that this is more of a myrocks issue. Does core dump or mysql error file tell anything about the crash?

[2019-03-19 16:14] AnatoliyAksenov commented on #5084
I have this log about db crash:
[code]
after `"recovery"` by mysql_ldb and starting mariadb I have another log:
[code]
I think recovery by mysql_ldb didn't pass.

[2019-03-19 16:54] maysamyabandeh commented on #5083
The overhead is not zero but it is also not the major bottlenecks in the benchmarks that I work with, like sysbench read-write, read-only, update-noindex. I, as probably many others, tried a couple of approaches in the past but did not see a tangible improvement in the benchmark results.
If you have any ideas feel free to try it out and if it made tangible improvement with reasonable complexity fe

[2019-03-20 18:33] maysamyabandeh commented on #5073
I clarified this issue in the wiki: https://github.com/facebook/rocksdb/wiki/RocksDB-Repairer#limitations until it is properly fixed.

[2019-03-20 20:05] ajkr commented on #5073
One thing we talked about doing years ago is having a `RepairDBRollback()`, so users who don't like the effects of `RepairDB()` can rollback to the previous state without having to manually copy files. This isn't quite as good as preventing `RepairDB()` from making the DB worse in the first place, but might be a compromise to consider.

[2019-03-20 20:39] maysamyabandeh commented on #5084
Thanks. It seems to be suffering from the same issue as in https://github.com/facebook/rocksdb/issues/5073
https://github.com/facebook/mysql-5.6/blob/269d05b0beb761d9f9ba057f12b62b0077a3c4a2/storage/rocksdb/ha_rocksdb.cc#L4677
Repair is a best effort tool. One of its current limitations is that a column family that is created recently and not flushed yet, will be dropped. How MyRocks should handle

[2019-03-20 20:39] #5084 closed

[2019-03-21 15:07] mpoeter commented on #5083
I originally found this bottleneck while profiling ArangoDB which uses RocksDB as its storage engine. It looks like the only benchmark in  `db_bench` that uses snapshots is `randomwithverify`. I ran `db_bench` with the following parameters:
[code]
For which the profiler recorded the following CPU utilization.
![image](https://user-images.githubusercontent.com/8653812/54760317-21094280-4bf0-11e9-86

[2019-03-21 18:30] yiwu-arbug commented on #5083
rocksdb internally has another way to get consistent view for Get() or range scan when user don't provide a snapshot. It is by holding a sequence number and a `SuperVersion` reference.  The later holds a version of the LSM tree. The sequence number can be acquired without lock, and the `SuperVersion` is stored thread-locally and can be acquire without lock in most cases. If lock contention on `Get

[2019-03-21 18:36] yiwu-arbug commented on #5059
I did a quick prototype and number of key comparison is reduced by 1/3 for long range scan, when I apply both of (a) avoid recheck upper-bound when it is greater than block's largest key, and (b) avoid checking upper-bound at the point @ajkr points out. I also find that rocksdb is not updating perf_context.user_key_comparison_count correctly for range scan. I'll work on a PR and share more concret

[2019-03-22 02:25] erickulcyk opened #5091 "Mutex bottleneck upon reading from database"
This is using 5.14.3 on Windows, I believe I am only able to read about 15MB/s from the database or so.  When I profiled rocksdb, it appears that resizing of a vector when reading data in is causing a big bottleneck.  It is unclear if there is a setting to fix this value, as making the block size bigger did not work.
![Capture](https://user-images.githubusercontent.com/648433/54796821-08f4eb80-4c0

[2019-03-22 04:38] venkataramkumar opened #5092 "Unable to execute java program for rocksdb in windows platform"

[2019-03-22 05:09] venkataramkumar opened #5093 "org.rocksdb.RocksDBException:"
org.rocksdb.RocksDBException: 5
	at org.rocksdb.RocksDB.open(Native Method)
	at org.rocksdb.RocksDB.open(RocksDB.java:231)
	at DumpLabel.DumpLabelDb.main(DumpLabelDb.java:18)

[2019-03-22 05:15] adamretter commented on #5092
Which version of RocksDB? Which version of Windows?

[2019-03-22 06:30] venkataramkumar commented on #5092
i added rocksdbjni-5.0.1.jar and Windows 7 machine

[2019-03-22 07:40] adamretter commented on #5092
You should try the latest version. It includes some portability fixes for Windows.

[2019-03-22 07:40] #5092 closed

[2019-03-22 08:26] jerousrb opened #5094 "maybe a bug"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2019-03-22 09:30] venkataramkumar commented on #5092
Thanks its working

[2019-03-22 09:33] #5093 closed

[2019-03-22 09:35] jerousrb commented on #5094
the rocksdb version is 5.1.2

[2019-03-22 22:08] yiwu-arbug commented on #5059
Patch to fix perf_context.user_key_comparison_count: https://github.com/facebook/rocksdb/pull/5098

[2019-03-23 08:51] CaixinGong opened #5100 "The prefix_extractor option makes no effect in a transaction."
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

[2019-03-23 09:03] CaixinGong commented on #5100
Inside a transaction, the prefix_extractor option does not work.
I guess that prefix bloom filter only works in memtable and sstable, but not works in the transaction buffer.
It seems not reasonable from the perspective of iterator semantic.
The following are the example code:

Options options;
TransactionDBOptions txn_db_options;
**options.prefix_extractor.reset(NewFixedPrefixTransform(3));**
opt

[2019-03-23 22:04] yiwu-arbug commented on #5059
Fixing duplicated per-key upper bound check: #5101

[2019-03-25 18:37] miasantreble commented on #5100
The behavior you are expecting is controlled by the ReadOptions.prefix_same_as_start, see
https://github.com/facebook/rocksdb/blob/master/include/rocksdb/options.h#L1148-L1154
However I don't think this option is currently honored by transaction iterators...

[2019-03-26 02:05] CaixinGong commented on #5100
In this case, the outputs are the same with ReadOptions.prefix_same_as_start set or not.
It's should return no records.
I'd like to know whether it is necessary to make transaction iterators support this option.

[2019-03-26 13:36] CaixinGong opened #5109 "Prefix seek APIs fail with SliceTransform::InDomain(key) returning false"
### The following sample code will assert fail in both Put() and SeekToFirst().

[code]
### Expected behavior

Though SliceTransform::InDomain(Slice("fo")) returns false,  both the Put() and SeekToFirst() should be success.

### Actual behavior
But, both Put and SeekToFirst fail.
The Put() will success if options.memtable_prefix_bloom_size_ratio is not set.
The SeekToFirst() will be called and fai

[2019-03-26 14:10] CaixinGong opened #5110 "The result of prefix seek is wrong with read_options.prefix_same_as_start set to false"
### The sample code is
[code]

### Expected behavior
The output should be
[code]
That is, the results of two iteration should be the same.

### Actual behavior

The actual results are

[code]
### Steps to reproduce the behavior
Run the above code

[2019-03-26 17:35] miasantreble commented on #5109
you used a slicetransform that requires keys of at least length 3 but you provided a key of length 2, it is expected that slicetransform will give up and assert. Why do you think it should succeed and what do you want it to do with the key that violates the contract? As for SeekToFirst, the db is empty so there is nothing to seek to

[2019-03-26 17:35] #5109 closed

[2019-03-26 17:35] maysamyabandeh commented on #4812
Since DeleteRange and WritePrepared Transactions are developed in parallel we need to make sure that they are consistent with each other. One difference to watch out for is that in WritePrepared the prepare and commit sequence numbers are separate: the prepare sequence number is stored in DB with the key/value and commit is stored outside.
I went through the code to figure the potential places tha

[2019-03-26 17:37] miasantreble commented on #5100
that feature is currently not supported, you are more than welcome to submit a pull request to implement that feature.

[2019-03-26 20:37] siying commented on #5059
Whether this generates net saving depends on how likely the one in table reader can actually invalidate the iterator. For example, in your primary key point-lookup operation, it's more likely that the upper bound check will filter out most SST files from putting into the iterator heap. Any iterator put into the iterator heap will generate more than one comparisons. I'm sure that in the case you me

[2019-03-26 22:30] yiwu-arbug commented on #5059
The actual improvement and db_bench result: #5111

[2019-03-26 22:35] yiwu-arbug commented on #5059
@siying Appreciate your comment! For background, the optimization targets for queries like "select count(*)" for relatively small tables in our system (so that the table can still be cached in memory, but the scan is long enough). Sorry I didn't provide enough test result, as it take me a while to get them. But they are in #5111. db_bench do show CPU savings for particular workload. Sure for whole

[2019-03-26 23:23] miasantreble commented on #3940
@rashmishrm  has implemented this in https://github.com/facebook/rocksdb/pull/5063

[2019-03-26 23:23] #3940 closed

[2019-03-26 23:50] ajkr commented on #4812
Unfortunately I don't know much about write-prepared to answer your question, but here's some more detail about that seqnum from the `DeleteRange` side.

`max_covering_tombstone_seq` is the seqnum of the newest range tombstone we've found so far that covers the user key `Get()` is looking up. (Side note: I suppose it could've also been called `first_covering_tombstone_seq` because `Get()` looks at

[2019-03-27 01:25] ajkr commented on #4812
I always have trouble remembering this one. Luckily @abhimadan documented it here: https://github.com/facebook/rocksdb/wiki/DeleteRange-Implementation#internal-key-range-tombstone-boundaries.

[2019-03-27 02:28] CaixinGong commented on #5109
No, I think this is a bug.
The slice_transform.h file tells the following information about InDomain():
(https://github.com/facebook/rocksdb/blob/master/include/rocksdb/slice_transform.h)

This method is invoked for every key that is inserted into the db. If this method returns true, then Transform is called to translate the key to its prefix and that returned prefix is inserted into the bloom fil

[2019-03-27 04:21] miasantreble commented on #5109
Why is it a bug? `FixedPrefixTransform` requires the prefix to be at least some length and you broke the contract. If you don't like its requirement maybe you should consider using your own SliceTransform

`memtable_prefix_bloom_size_ratio` being zero means bloom filter is disabled, which explains the behavior.

[2019-03-27 04:31] CaixinGong commented on #5109
The slice_transform.h file tells the following information about  [InDomain()](https://github.com/facebook/rocksdb/blob/master/include/rocksdb/slice_transform.h) :
`If this method returns false, then the call to Transform is skipped and no prefix is inserted into the bloom filters.`
Now, the phenomena does not conform to the description.
I think the transform should skip the key and not assert fai

[2019-03-27 06:31] yebangyu commented on #5069
Thank you siying, I will have a try. thx

[2019-03-27 06:31] #5069 closed

[2019-03-27 09:10] grove opened #5117 "Creating and dropping column families has gotten much slower"
### Expected behavior
Creating and dropping column families should be fast.

### Actual behavior
It used to be fast in version 4.1-4.9, but has since gotten a lot slower. I've tested this across several versions and it looks like it has gotten increasingly worse.

AFAICT the behaviour is not entirely linear either. Here's some timings that've gotten from 5.17.2:

100 column families: 10.7 seconds

[2019-03-27 14:00] absolute8511 opened #5118 "DeleteRange can not be handled corrected while memtable_insert_with_hint_prefix_extractor is enabled"
I set the memtable_insert_with_hint_prefix_extractor with rocksdb::NewFixedPrefixTransform(length) and do some DeleteRange and then Put. We can not scan the full data if there are some DeleteRanges.

some example can reproduce this:

[code]
Is it a known bug? And I did not see any test case for this in https://github.com/facebook/rocksdb/blob/master/db/db_range_del_test.cc

[2019-03-27 18:06] riversand963 commented on #5047
Thanks @guangruifu for reporting.
Are you able to reproduce this deterministically?
The db_stress has many configuration options. I can set up a hdfs on my local machine and test. At the same time, have you conducted more experiments to narrow down the possible cause for this? For example, change the ratio of different operations, change the number of column families to 1, etc.?

[2019-03-27 18:25] #5060 closed

[2019-03-27 18:30] anand1976 commented on #5042
Hope the discussion in #4112 helped.

[2019-03-27 18:33] anand1976 commented on #3972
Closing  the issue since the PR #4332 has landed.

[2019-03-27 19:59] siying commented on #5059
How about a compromise: we check the upper bound in block based table after Seek(), and not after Next()?

[2019-03-27 22:17] yiwu-arbug commented on #5059
Do you mind explain a little bit more? `DBIter` need to check upper bound on Next() to make sure key is within bound. The proposed optimization is to use block boundaries key to reduce this per-key key comparison. It is mostly useful for relatively longer range scan, where the iterator points to a place out of block initially seek to.

[2019-03-27 22:19] siying commented on #5059
@yiwu-arbug I mean we do per key check inside block based table only in Seek(), and remove it for Next(). In this way relatively longer range scan will be fast, and the cases where most levels can be filtered out by per key filtering can also be fast.

[2019-03-27 23:04] yiwu-arbug commented on #5059
The proposed change doesn't touch the Seek() flow at all. Its capability to filter out levels remain the same.

[2019-03-27 23:09] yiwu-arbug commented on #5059
@siying I get what you mean. I'll update #5101 to address your comment.

[2019-03-28 00:45] riversand963 commented on #5047
@guangruifu , after some investigation, it turns out to be the result of a bug in db_stress.
In the constructor of `StressTest`, original code incorrectly passed an `Option` object to `DestroyDB` without setting its `env` member to `FLAGS_env` (hdfs env in this case). Consequently, the old db in hdfs is not deleted. During validation, you will see values from previous runs, causing the validation

[2019-03-28 00:56] SmZhongDa commented on #280
Hi @igorcanadi  . I am coming into this problem. I am using iterators, resulting in much more memory than specified by block cache. Is there any solution? Thanks.

[2019-03-28 06:24] CaixinGong commented on #5109
I hope that I can illustrate the bug clearly this time.

A part of functions of SliceTransform and FixedPrefixTransform is defined as following:
[code]

[code]
When I insert the key "fo",  the key "fo" will be inserted into memtable, with  _MemTable::Add_ function called. Then, the following code will be ran to add the prefix to the bloom filter.

[code]
Thus prefix_extractor_->Transform("fo") ass

[2019-03-28 06:34] CaixinGong commented on #5100
I am trying to implement it.

[2019-03-28 06:54] dovefi opened #5124 "v5.18.3 build faild about JEMALLOC"
i build rocksdb v5.18.3  at **CentOS Linux release 7.2.1511**,  it got errors below
[code]
but v5.17.2 is fine

[2019-03-28 07:04] adamretter commented on #5124
I believe this was fixed recently.

On Thu, 28 Mar 2019, 13:54 dovefi, <notifications@github.com> wrote:

[2019-03-28 07:11] rockeet commented on #5110
Try to delete line `NewFixedPrefixTransform(3)`

[2019-03-28 07:20] dovefi commented on #5124
thx, may be i should the master branch

[2019-03-28 11:23] CaixinGong commented on #5110
I am trying to use the prefix seek.
If the line is deleted, I cannot utilize prefix seek.

[2019-03-28 17:31] igorcanadi commented on #280
Hey @SmZhongDa did you check out https://github.com/facebook/rocksdb/wiki/Memory-usage-in-RocksDB?

[2019-03-28 17:59] maysamyabandeh commented on #4812
Thanks @ajkr for the clear explanation. It was very helpful. I update the issue description will the list of required changes that we have figured so far.

[2019-03-28 18:10] maysamyabandeh commented on #4812
@ajkr One more question, I do not see `MaxCoveringTombstoneSeqnum` taking into account the snapshot number with which we are doing the read. How does it know if the DeleteRange Tombstone is in the read snapshot (and not newer than that)?

[2019-03-28 19:23] ajkr commented on #4812
@maysamyabandeh The `FragmentedRangeTombstoneIterator` has some internal logic preventing it from considering range tombstones newer than this `read_seq`: https://github.com/facebook/rocksdb/blob/89ab1381f8efe38002f43ecbeb56aa8451529436/db/memtable.cc#L436. That `read_seq` appears to come from here in the case of `Get()`:  https://github.com/facebook/rocksdb/blob/89ab1381f8efe38002f43ecbeb56aa8451

[2019-03-28 22:49] totalslacker commented on #5064
Same here with mac os 10.12.6 and idk 1.8.0_101.

[2019-03-29 03:01] SmZhongDa commented on #280
@igorcanadi Thanks for your reply.
I have checked it.But it does not match the situation I have encountered.
Scenes
1.one DB are opened  on a single JAVA process and all operations are performed via JNI.
2.The heap size for JVM is configured at 32GB(-Xmx30240M -Xms30240M).
3.The size of DB's Block cache is 2GB and DB has 8 write buffers each of size 64MB.
3.DB's size is around 20GB and total numbe

[2019-03-29 03:06] SmZhongDa commented on #280
@igorcanadi Thanks for your reply.
I have checked it.But it does not match the situation I have encountered.
Scenes
1.one DB are opened on a single JAVA process and all operations are performed via JNI.
2.The heap size for JVM is configured at 32GB(-Xmx30240M -Xms30240M).
3.The size of DB's Block cache is 2GB and DB has 8 write buffers each of size 64MB.
4.DB's size is around 20GB and total number

[2019-03-29 03:14] SmZhongDa commented on #280
@igorcanadi Thanks for your reply.
I have checked it.But it does not match the situation I have encountered.

**Scenes**
1.one DB are opened on a single JAVA process and all operations are performed via JNI.
2.The heap size for JVM is configured at 32GB(-Xmx30240M -Xms30240M).
3.The size of DB's Block cache is 2GB and DB has 8 write buffers each of size 64MB.
4.DB's size is around 20GB and total n

[2019-03-29 03:23] adamretter commented on #5064
I am afraid that your libc library, which is shipped with your version of MacOS is too old.

You need to either:

1. build your own binaries from source (which will then use your version of libc).
2. if you wish to use the shipped binaries, update to a newer version of Mac OS. I am not sure of the minimal version exactly, but the binaries were built using 10.14.3 (Mojave)

[2019-03-29 03:23] #5064 closed

[2019-03-29 06:27] rockeet commented on #5110
RocksDB doc says: With `prefix_extractor`, Iterator does not ensure total ordering.

[2019-03-29 09:38] bilifornew opened #5126 "assert fail"
https://github.com/facebook/rocksdb/blob/d77476ef557078d89f545efbe33bc8825b07237a/db/db_impl_compaction_flush.cc#L142

when rocksdb do flush job, it  holds all column family which need to be flushed, and then flush column family one by one.

consider below scenario:
1. flush thread 1 pick column family a、b、c, then flush a (release the mutex lock).
2. user write column family c and memtable full, c

[2019-03-29 16:27] riversand963 commented on #5047
#5122 is in master now, and I believe this issue should be resolved. Closing this for now, feel free to reopen should anything further comes up.

[2019-03-29 16:27] #5047 closed

[2019-03-29 17:18] riversand963 commented on #5126
In `MemTableList::PickMemtablesToFlush`, memtables that have already been picked by flush thread 1 will not be picked by flush thread 2. Therefore, when flush thread 1 starts to flush column family c, it should still be able to see that it needs to flush some memtables.
Have you encountered such an assertion failure? If so, could you present a unit test that can reproduce this interleaved executio

[2019-03-29 21:11] #4269 closed

[2019-03-31 01:35] oferze commented on #5029
It's been a month and I since the OP didn't reply, I don't think they are going to submit a PR.
I would have done it but don't have the capacity at the moment.
Just writing here, hoping this would jump up in the queue.

It's a real issue, since sometimes I use `rocksdb_open` or even `rocksdb_open_for_read_only` just to check whether a directory contains a valid RocksDB storage or not.

The former,

[2019-03-31 14:48] mpoeter commented on #5083
Thanks @yiwu-arbug, but according to the comment in the code "accessing members of this class is not thread-safe and requires external synchronization (ie db mutex held or on write thread)", so I don't think that would help in this case.

After a few iterations I now have a solution that scales quite well. I ran the following benchmark with varying number of threads:
[code]
The original code produ

[2019-04-01 06:27] bilifornew commented on #5126
When thread 1 starts to flush column family c, all memtables has been  flushed by thread 2 though it's scheduled earlier.

We encounter this fail with v5.18.3, when we rollback to v5.16.6 everythis is ok.

[2019-04-01 17:08] yiwu-arbug commented on #5083
@mpoeter may I know what's your change?

[2019-04-01 17:59] mpoeter commented on #5083
I reimplemented the `SnapshotList` and removed the locks in `GetSnapshotImpl` and `ReleaseSnapshot`. Inserting new snapshots via `SnapshotList::New` is lock-free. `SnapshotList::Delete` marks a snapshot as deleted (no lock required). If the currently deleted snapshot was the oldest, we remove all the deleted threads until the first snapshot that is not marked as deleted; for this a spin-lock is us

[2019-04-01 18:57] yiwu-arbug commented on #5083
Making `SnapshotList` lock-free is nice. Regarding `SuperVersion` it can be obtained lock-free, see `ColumnFamilyData::GetThreadLocalSuperVersion()`.

[2019-04-01 19:04] siying commented on #5083
@maysamyabandeh MyRocks uses 2PC, and has binlog dependency. It's likely that another application doesn't depend on those functionalities. So I would be careful in using sysbench to rule out a performance bottleneck.

[2019-04-01 21:38] #5042 closed

[2019-04-01 22:08] ajkr opened #5133 "assertion failure when attempting to ingest same file multiple times (using multiple hardlinks)"
[code]

Test case: https://github.com/ajkr/rocksdb/commit/54ec875880da8d926b0c3d9f95242b40282c66ea

Failure output:
[code]

[2019-04-01 22:11] ajkr commented on #5133
Feel free to assign this to me. I just need help deciding on a solution. The easy way is to make file ingestion validation not go through block cache. But I wonder if there is anything else we should do to prevent users from getting into a state where their DB has multiple files with the same value for `GetUniqueId()`.

[2019-04-01 22:14] igorcanadi commented on #280
In the link https://github.com/facebook/rocksdb/wiki/Memory-usage-in-RocksDB there are three method calls that can be used to check the total amount of memory RocksDB is using (GetProperty on memtable and table memory). What are the outputs of those method calls?

Unfortunately I don't know much about Java side of things and can't help there.

[2019-04-01 22:19] riversand963 commented on #5133
@ajkr, thanks for reporting. Would it be easier if just require the user not to ingest the same file twice, or detect whether there are multiple hard links to the same file? I am asking because I am trying to understand the use case.

[2019-04-01 22:23] ajkr commented on #5133
Maybe. The use case is an application finishes ingesting a file before it crashes, but crashes before it marks its ingestion is successful. Then after it restarts it will retry ingesting the same file, not knowing that at the RocksDB level it finished before the crash. For that case it is nice if the ingestion operation is idempotent.

[2019-04-01 22:41] riversand963 commented on #5133
I see. So in your example, the block cache outlives the crashed application?

[2019-04-01 22:53] ajkr commented on #5133
Good question. Our block cache does not survive the crash recovery. But if there are reads after the crash recovery but before the second ingestion attempt, the block cache may be repopulated enough to cause the problem. My understanding of the scenario is not good enough to say 100% this is the case, though.

[2019-04-01 23:11] ajkr commented on #5133
Too bad the manifest doesn't have unique ID. That might be an easy way to fail file ingestion here. I wonder what you and @siying think about that approach.

[2019-04-02 14:12] jgrnt opened #5137 "Invalid data returned when iterating"
### Expected behavior
When accessing the same value via an iterator or the `get` method I expect to get the same value, but it seems I get a stale value in case an iterator is used in my configuration.

I've included the following minmal example, which shows the observed behaviour:
[code]

For this example we quickly get different values for the same key. This is unexpected.
If I change `it.seek(n

[2019-04-02 15:12] bdarnell commented on #5133
I don't think that would work here. If we bypassed the cache, the second ingest would succeed, but then we'd have imported two copies of the same file (by inode) that would be assigned two different sequence numbers. Only one of those sequence numbers can appear in the block cache.

I think we need the second ingest to fail, but with an error that cleanly indicates that this file has already been

[2019-04-02 18:34] petermattis commented on #5133
I've asked @ajkr this question elsewhere: is there a reason RocksDB uses the inode number for the cache handle for sstable blocks instead of the file number? The file number seems like a more obvious choice. RocksDB knows the file number for any sstable it reads or writes in the normal code paths (though there appears to be some plumbing to get this down into `BlockBasedTable`. And for ingested ss

[2019-04-02 18:50] ajkr commented on #5133
I'd guess it uses unique id because the block cache may be shared across
multiple rocksdb instances, each of which numbers its files independently.

On Tue, Apr 2, 2019, 11:34 AM Peter Mattis <notifications@github.com> wrote:

[2019-04-02 19:17] petermattis commented on #5133
multiple rocksdb instances, each of which numbers its files independently.

That's a good point, though a per-instance unique ID could have solved that. I believe this unique ID wouldn't have to be persisted, so it could be stored in process (or it could be something like the pointer value of the `rocksdb::DBImpl`. I suppose at some point though it feels like you're just getting to something like

[2019-04-02 21:10] yiwu-arbug opened #5139 "assert fail on Seek() with format_version>=3"
### Expected behavior
No assert failure

### Actual behavior
At this line: https://github.com/facebook/rocksdb/blob/d9d3cacaf558e55892a68d66cc7a160213205a3f/table/block.cc#L384
The seek key `target` is a user key. When `key_includes_seq_=false`, there's assert failure on `ExtractUserKey`.

### Steps to reproduce the behavior
Create table with format_version>=3. Seek() for a key with length <= 8.
h

[2019-04-02 21:10] yiwu-arbug commented on #5139
cc @maysamyabandeh

[2019-04-02 21:50] yiwu-arbug commented on #5139
Trying to work on a fix, but currently failing on multiple tests, including TableTest::PrefetchTest. It seems that `BlockBasedTable::Prefetch` is not being used anywhere (introduced in https://github.com/facebook/rocksdb/commit/f29b33c73b78310f678831ad2bab3597f4f84788). Can we remove it directly? cc @siying

[2019-04-02 21:53] #4992 closed

[2019-04-02 21:54] yiwu-arbug commented on #5139
If it is not suitable to remove, can anyone confirm if `BlockBasedTable::Prefetch` should accept internal key or user key as param? It seems to me the original patch assume user key, but a later patch https://github.com/facebook/rocksdb/commit/78837f5d612d800177cf8fda54ac24eff0aaad00 change the test to pass internal key.

[2019-04-02 22:06] yiwu-arbug commented on #5059
Blocking on fixing issue with format_version>=3 (see https://github.com/facebook/rocksdb/pull/5101#discussion_r271065295). Fix of the issue is blocking by #5139, which by itself is a major issue.

[2019-04-02 22:08] yiwu-arbug commented on #5139
Removing `TableReader::Prefetch`: https://github.com/facebook/rocksdb/pull/5141

[2019-04-02 22:35] yiwu-arbug commented on #5139
Sorry, my initial assumption is not correct. IndexBlockIter::Seek should accept internal key as param instead. Closing.

[2019-04-02 22:35] #5139 closed

[2019-04-02 23:33] yiwu-arbug commented on #5059
Retrying PR5101: #5142

[2019-04-03 00:57] siying commented on #5133
@ajkr we do plan to add a unique DB ID to manifest. We can't prioritize in the near future though.

Btw, <db, file_name> is not guaranteed to identify the same file all the time. We may put block to block cache while we write 0003.sst, while before the compaction finishes, the file is closed, so that file is abandoned. After reopening the DB, 0003.sst will be garbage collected, and a new 0003.sst

[2019-04-03 05:13] laotan332 opened #5143 "MergeHelper::MergeUntil Can’t Call FullMerge function When the input entry consist of the same user_key"
https://github.com/facebook/rocksdb/wiki/Merge-Operator-Implementation
As stated in the documentation：
 when compaction was working, we need to stop the stacking and process the stack in any one of the following cases(whichever occurs first):
1. a Put/Delete is encountered - we call FullMerge(value or nullptr, stack)
2. End-of-key-history is encountered - we call FullMerge(nullptr, stack)
3. a Sup

[2019-04-03 12:54] datonli opened #5145 "compile err when output port dir as header dir included"
### Expected behavior
Output port dir as include dir
It should work.

### Actual behavior
rocksdb/tools/ldb_cmd.cc:1003:24: error: 'DIR' has not been declared

### Steps to reproduce the behavior
This caused by barking up  #include <dirent.h> while found port/dirent.h
It could simply change port/dirent.h as port/port_dirent.h to avoid this problem.

[2019-04-03 18:02] sagar0 commented on #5145
@datonli Which version of RocksDB were you trying to use? And on what OS/version?

[2019-04-03 20:34] #4613 closed

[2019-04-04 02:22] ajkr commented on #5133
I'll try it this week and see how hard it is.

[2019-04-04 02:53] steven05jiang opened #5151 "Installation instruction for MacOS is not working"
In the installation [instruction](https://github.com/facebook/rocksdb/blob/master/INSTALL.md) for OS X, the step failed at:

Error message is

Do you have the latest instruction for MacOS? Thanks.

[2019-04-04 06:32] adamretter commented on #5151
Does it work if you skip the step:

[code]

[2019-04-04 11:33] datonli commented on #5145
I've committed a pull request to fix this problem. Please review it @sagar0
 [https://github.com/facebook/rocksdb/pull/5152](url)

[2019-04-04 14:18] brary opened #5153 "make rocksdbjava failed on mac"
make rocksdbjava

### Expected behavior
 builds rocksdb

### Actual behavior
 fails and throws error

### Steps to reproduce the behavior
 export JAVA_HOME=/Library/Java/JavaVirtualMachines/jdk1.8.0_144.jdk/Contents/Home/
 make rocksdbjava

Tried with 4 different branches: master, 5.17.fb, 6.0.fb, 6.1.fb and all 4 failed.

Logs:
25 warnings
javah -cp target/classes -d ./include -jni org.rocksdb.Ab

[2019-04-04 14:49] steven05jiang commented on #5151
@adamretter the "brew install rocksdb" works fine and rocksdb_stress passes. The concern is more on my local build env because I'm trying to compile on my laptop. Can you please provide some steps to setup/verify the env?

[2019-04-04 14:53] AnythingTechPro opened #5154 "Compilation on galaxy s10+ Android 9 Pie via makefile error"
I ran the build command on the master branch
[code]

Error traceback output log
[code]

[2019-04-04 16:54] siying commented on #5133
@ajkr I referred to the problem of copying SST files around for the problem that <db_id, sst_number> cannot be permanently identify which file it is in the life time.

Back to the original issue, with option `IngestExternalFileOptions.write_global_seqno = false;` by @riversand963  , we won't update SST file to be loaded. So I can't think of a problem of loading the same file to multiple DBs. Did y

[2019-04-04 17:11] mpoeter commented on #5083
@yiwu-arbug my implementation is only partially lock-free - removing entries from the list still requires a lock. That's why most threads only mark their snapshot as "deleted" and leave removal of that entry to the owner of the oldest active snapshot. The main reason is that I want to avoid the additional complexity of introducing a reclamation scheme like EBR (epoch based reclamation) or DEBRA. A

[2019-04-04 18:26] ajkr commented on #5133
Oh sorry this problem reminded me of the problems with running RocksDB on an object store. Never mind.

We do use that. We only intend to load the file into one DB. The problem happens with move-based ingestion (i.e., `write_global_seqno == false`) if the DB crashes after the file got committed to the DB but before the source file got deleted. So after recovery, the source file is still around, an

[2019-04-04 18:30] ajkr commented on #5133
There is a workaround now though to make a copy of a file before using move-based ingestion if it has multiple hardlinks. The assumption is that any hardlink besides the one created by `SstFileWriter` would be in the RocksDB directory, indicating a previous move-based ingestion might've succeeded. I do wonder if other users of move-based ingestion can run into these problems, though.

[2019-04-05 00:56] sagar0 commented on #5145
Fixed in #5152 . Thanks for the issue and the pull request.

[2019-04-05 00:56] #5145 closed

[2019-04-06 10:07] wolfkdy commented on #4402
update:
xiangyao yu's tictoc paper figures out a parallel first-commit-wins occ conflict-checking&commit strategy. Per here:https://15721.courses.cs.cmu.edu/spring2018/papers/04-occ/yu-sigmod2016.pdf

[2019-04-07 05:08] TimHe95 opened #5158 "'make all' fails because gflag problem"
1. `cd rocksdb-master`
2. `make all`
Result:
[code]

3. Run:
`find / -name gflags.h`
It shows:
[code]

So I think I have install gflags properly.

### Envs:
* gcc (GCC) 5.3.1 20160406 (Red Hat 5.3.1-6)
* `uname -r` 3.10.0-514.26.2.el7.x86_64
* CentOS 7.3

What have I miss?

Thank you.

[2019-04-08 00:23] #5158 closed

[2019-04-08 00:32] TimHe95 opened #5159 "'Make All' problem with suggested fix"
### My Env:
* CentOS 7.3 (`uname -r`3.10.0-514.26.2.el7.x86_64)
* gcc (GCC) 4.8.5 20150623 (Red Hat 4.8.5-36)

### Expected behavior
I follow the install cmd [here](https://github.com/facebook/rocksdb/blob/master/INSTALL.md). During `make all`(all the dependencies has been installed), I encountered:

### Actual behavior
[code]

### Suggested Fix
**ADD** `#define __STDC_FORMAT_MACROS` just **BEFORE

[2019-04-08 03:52] zwang752 commented on #3968
Did you solve this problem?

[2019-04-08 04:43] adamretter commented on #3968
Rather than copy, you could attempt a symlink

[2019-04-08 05:30] adamretter commented on #5153
The jar files that it is failing with errors on, are downloaded from the web! Are you perhaps behind some sort of proxy? The issue is specific to you not being able to download the necessary jar dependencies.

[2019-04-08 05:30] #5153 closed

[2019-04-08 07:36] adamretter commented on #5151
@steven05jiang I am not sure I follow you? For compiling from source, I simply do:

[code]

[2019-04-09 21:11] philipktlin opened #5164 "Bad_alloc error on RPi"
### Expected behavior
Expect to run without exceptions

### Actual behavior
Got std::bad_alloc error

Configuration
- Runs on Raspberry Pi 3 (CPU: 4× ARM Cortex-A53, 1.2GHz, 1GB LPDDR2 (900 MHz))
- Used recommended parameter
// Optimization functions (https://github.com/facebook/rocksdb/blob/313e8772856524d1a05419b11e4837ed4030427b/options/options.cc#L468)
DBOptions* DBOptions::OptimizeForSmallDb(

[2019-04-10 00:24] siying commented on #5164
Maybe we should update OptimizeForSmallDb() but I think if we want to limit the memory usage, it's a good idea to set following:
[code]
And I hope it will make things better. To debug where the memory is used, https://github.com/facebook/rocksdb/blob/master/include/rocksdb/utilities/memory_util.h#L20-L48 is something you can try out. It doesn't cover everything, but a good portion.

[2019-04-10 00:42] siying commented on #5164
My previous comment has a typo. I already edited it in-place. It should be `options.cache_index_and_filter_blocks = true`.

[2019-04-10 00:56] siying commented on #5164
I'm also trying to change the behavior of OptimizeForSmallDb() for future releases.

[2019-04-10 15:33] rbost opened #5169 "Wrongly documented write POSIX call on BSD causing IOErrors during compaction"
### Expected behavior
On Mac OS, compaction always succeeds even when having to write very large buffers when flushing.

### Actual behavior

When flushing a buffer larger to 2^31 bytes, the `write` call in `PosixWritableFile::Append` (io_posix.cc, line 757) returns `-1` and sets `errno` to `EINVAL`.
This makes the compaction fail (and subsequent call to `Merge` return an error). The error cannot

[2019-04-10 19:16] philipktlin commented on #5164
Thanks for your fast response.  I will try out your suggested parameters today and run for few hours; will post back once test is done.

[2019-04-11 00:07] xuchaoqian opened #5176 "Is there any way to seek to last key directly without a specific key in prefix seek mode?"
### Expected behavior
[code]

### Actual behavior
A note on the document: SeekToLast() is not supported well with prefix iterating. In the other word, it's undefined now.

### Steps to reproduce the behavior

[2019-04-11 07:09] BEWINDOWEB opened #5177 "java.lang.UnsatisfiedLinkError: C:\Users\admin\AppData\Local\Temp\librocksdbjni5734698881557363843.dll"
### Expected behavior and Actual behavior
* windows 10 / x64
* jdk8
* rocksdb 5.17.2
caused by :
[code]
and throws exception imformation:
[code]
there is no librocksdbjnixxx.dll in temp dir, but it does exist in jar:
![image](https://user-images.githubusercontent.com/6178098/55937330-49beae00-5c6b-11e9-9624-321b6254e827.png)

### i've tried but doesn't work:
* uninstall vs runtime 2017, reinstall

[2019-04-11 07:18] zhangqiang4002 opened #5178 "DB.Write: IO error: While pwrite to file at offset 222298112: ./data/localdb/000022.sst: Invalid argument"
### Expected behavior
Create xxxx.sst file in data directory
### Actual behavior
No sst file created， and DB.Write(const WriteOptions& options, WriteBatch* updates) function return with error：
`IO error: While pwrite to file at offset 222298112: ./data/localdb/000022.sst: Invalid argument`

### Steps to reproduce the behavior

1. Invoke DB.Write(const WriteOptions& options, WriteBatch* updates)  t

[2019-04-11 07:52] adamretter commented on #5177
If you follow the code in `NativeLibraryLoader#loadLibraryFromJarToTemp(String)`, you should see that the Jar file is unpacked to the temp directory when it is first run.

[2019-04-11 08:20] BEWINDOWEB commented on #5177
yes, i debug it and find the file, but after execute:
[code]
files gone and threw 'java.lang.UnsatisfiedLinkError' exception, System.load is a java standard function, i don't know why it cannot load.

[2019-04-11 09:09] wangxiyu191 commented on #4946
It looks like that some enums in InternalDBStatsType and Tickers have same name.

./db/internal_stats.h
[code]
./include/rocksdb/statistics.h
[code]

Is there any suggestion for fixing this warning?
Just change the name of enums in InternalDBStatsType (such as WAL_FILE_BYTES to INTERNAL_WAL_FILE_BYTES) or avoid using enum here?

[2019-04-11 09:24] zhangqiang4002 commented on #5178
I fix it by
`use_direct_io_for_flush_and_compaction=false `

[2019-04-11 12:10] #5178 closed

[2019-04-11 15:28] gaoxiangxyz opened #5179 "Crash when set partitioned_filter = true and max_open_files = 128"
### Expected behavior

### Actual behavior
crash if set options.max_open_files = 128, work fine if not set.

### Steps to reproduce the behavior

version:5.18.3

config:
[code]

two crash stack trace:
[code]

[code]

[2019-04-11 16:05] gaoxiangxyz commented on #5179
It seems the table_ is deleted. in some tests on windows, it is crash at
`auto block_cache = table_->rep_->table_options.block_cache.get(); `
at  line 259 of partitioned_filter_block.cc.

[2019-04-11 16:47] pmg1991 opened #5180 "rocksdb 5.18.3 jar not available in maven"
RocksDB v 5.18.3 is released, but jars are not available in maven repo.

    Could not find org.rocksdb:rocksdbjni:5.18.3.
    Searched in the following locations:
    https://repo1.maven.org/maven2/org/rocksdb/rocksdbjni/5.18.3/rocksdbjni-5.18.3.pom
    https://repo1.maven.org/maven2/org/rocksdb/rocksdbjni/5.18.3/rocksdbjni-5.18.3.jar

[2019-04-11 17:07] maysamyabandeh commented on #5179
Thanks for reporting. The complexity with limited fd size is that the top-level filter object should be removed from block cache each time the table is closed, and we do that in this line: https://github.com/facebook/rocksdb/blob/master/table/block_based_table_reader.cc#L3292
Otherwise next time the table is opened it would access the outdated object from block cache.

It seems like for some reaso

[2019-04-11 20:20] maysamyabandeh commented on #5179
A related bug is fixed now. Not sure if what is that your case is suffering from or not: https://github.com/facebook/rocksdb/pull/5182

[2019-04-11 22:46] philipktlin commented on #5164
Try out recommended table option; but it doesn't work out.  I still got bad_alloc error in my log.

"To debug where the memory is used, https://github.com/facebook/rocksdb/blob/master/include/rocksdb/utilities/memory_util.h#L20-L48 is something you can try out."  Do you mean I update the code to call these method?  why not use dump statistics?  What should I look at first in the statistic dumps?

[2019-04-11 23:00] maysamyabandeh commented on #5179
Based on the code inspection the problem seems to be that the partition filter object is shared between multiple table readers. This is because the key that is used to store the partition filter reader is the offset of the top-level index. So a new table reader would find the partition filter reader of another table reader (that reads from the same table), and starts using it, the original table r

[2019-04-11 23:23] siying commented on #5164
@philipktlin memory dump will be even better!

[2019-04-11 23:29] adamretter commented on #5177
I think it is more likely that you are missing some libraries that are required by the DLL, as opposed to the DLL being deleted. What happens if you try building from source locally?

[2019-04-11 23:37] philipktlin commented on #5164
I am new to RPi; do you know how to do memory dump on RPi?

[2019-04-12 00:34] BEWINDOWEB commented on #5177
no, i think not. The classloader will load:
* java1.8\jre\bin\instrument.dll
* java1.8\jre\bin\net.dll
* java1.8\jre\bin\nio.dll
one by one, and it works fine,then it load:
* ........\Local\Temp\librocksdbjni4239644554011197516.dll
the program stopped and said UnsatisfiedLinkError: librocksdbjni.dll refused to access.
And i check the permission of that file, it's OK.
So i don't know what to do , i

[2019-04-12 04:40] adamretter commented on #5177
I would start by placing a breakpoint on the line:
[code]
When it hits the breakpoint, check your filesystem to make sure the temp DLL file actually exists ;-)

[2019-04-12 06:36] BEWINDOWEB commented on #5177
i've tried it yesterday, and the file is exist, but after throwing exception, it will be deleted.

and i found somebody encountered the same problem at 2017-11-03 19:41, https://www.cnblogs.com/wuxun1997/p/7780188.html, he hasn't fixed it yet.

Classloader.java, line 1941:
[code]
cause the exception.

[2019-04-12 11:23] adamretter commented on #5177
Right! Because the exception happens before it is deleted I suspect you are missing some required libraries.

Next step... can you try building RocksDB from source? The details of how to do that are on the GitHub Wiki.

[2019-04-12 14:12] iSynaptic commented on #5180
Yes, I too would like this on Maven, since it has some much needed performance improving APIs.

[2019-04-15 09:39] zhuam opened #5194 "double free error"
We use the master branch, compiled locally, called through Java jni, and scanned all keys through Snapshot  RocksIterator  ReadOptions and read all the data correctly, but when I execute system. exit (0) or kill Java processes, a double free error occurs.
[code]

[2019-04-15 11:25] wangxiyu191 commented on #5109
@CaixinGong  https://github.com/facebook/rocksdb/commit/cca141ecf8634a42b5eb548cb0ac3a6b77d783c1 This commit fix this bug. Refer to #5190.

[2019-04-15 12:24] knz commented on #4946
The change is due to more strict warnings in Clang 8, as detailed here:

https://bugs.llvm.org/show_bug.cgi?id=24718

https://reviews.llvm.org/rG20ea72476c31f96ee526b06f050aef05956be9fd

[2019-04-15 17:25] riversand963 commented on #5194
@zhuam thanks for reporting. According your description, the operations sound simple. Do you mind sharing the code snippet that can reproduce the double-free?

[2019-04-15 17:29] riversand963 commented on #5159
@TimHe95 I haven't run RocksDB on the same platform as yours. Would it be possible for you to submit a PR?

[2019-04-15 17:43] yiwu-arbug opened #5196 "DBIter and HashSkipListRep don't check InDomain() before using prefix extractor"
DBIter and HashSkipListRep don't check InDomain() before using prefix extractor, which can cause crash or unexpected behavior.
https://github.com/facebook/rocksdb/blob/29111e92b4dac98c7748f6fa2be7c894f38e3673/db/db_iter.cc#L465
https://github.com/facebook/rocksdb/blob/29111e92b4dac98c7748f6fa2be7c894f38e3673/memtable/hash_skiplist_rep.cc#L182

### Expected behavior
RocksDB either correctly handle

[2019-04-15 18:00] riversand963 commented on #5169
Make sense. Thanks @rbost for reporting and writing the test program. Would you like to contribute a PR to fix this? We probably need to fix `io_posix.cc`.

[2019-04-16 05:31] zhuam commented on #5194
@riversand963 Thank you for your reply, such as

package com.feeyo.newdb.storage.rocksdb;

import static java.nio.charset.StandardCharsets.UTF_8;

import java.util.ArrayList;
import java.util.List;

import org.rocksdb.ColumnFamilyDescriptor;
import org.rocksdb.ColumnFamilyHandle;
import org.rocksdb.ColumnFamilyOptions;
import org.rocksdb.DBOptions;
import org.rocksdb.Options;
import org.rocksdb.Re

[2019-04-16 05:32] zhuam commented on #5194
[am@gdb01 newdb]$ *** Error in `/usr/local/software/jdk1.8.0_131/bin/java': double free or corruption (out): 0x00007fa944d77220 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x81489)[0x7fa94c99a489]
/tmp/librocksdbjni5040108181873856658.so(_ZNSt13unordered_mapISsN7rocksdb14OptionTypeInfoESt4hashISsESt8equal_toISsESaISt4pairIKSsS1_EEED1Ev+0x86)[0x7fa809923b46]
/lib64/libc.so.6(+0x39b69)[0x7fa9

[2019-04-16 11:25] tristanbf commented on #5194
@riversand963 here is the basic info of the host

[code]

rocksdb is compiled by a shell function:

[code]

after build a debug revision, we got more info about the backtrace:

[code]

[2019-04-16 20:37] rbost commented on #5169
Sure, I will be happy to propose a PR. I already have wrappers on top of the `write` and `pwrite` calls, but I still have to integrate them to `io_posix.cc` (and do some tests). Just give me a few days :)

[2019-04-17 09:11] kaviranga opened #5205 "How to insert int value to rocksdb using c"
I've used following example to insert int value to rocksdb using "c"  language

       #include<stdio.h>
       #include<string.h>
       #include<stdlib.h>
       #include<assert.h>

       #include<unistd.h>

       const char DBPath[] = "/tmp/test_sample";

      #include "rocksdb/c.h"

      int main(int argc, char **argv){

	  // Intialize basic parameters
	  rocksdb_t *db;
	  rocksdb_options

[2019-04-17 10:08] BenHuddleston opened #5206 "NotifyOnFlushCompleted not called if flush not successful"
### Expected behavior
NotifyOnFlushCompleted function is called regardless of the status of the flush and the status is passed through via the FlushInfo to the OnFlushCompleted event listener.

### Actual behavior
NotifyOnFlushCompleted is only called if the flush is successful.

### Steps to reproduce the behavior
Initiate a shutdown of a database between a NotifyOnFlushBegin and NotifyOnFlushCom

[2019-04-18 17:15] iSynaptic commented on #5180
@siying 5.18.x and 6.x versions of the Java API have not been released. Do you know if something blocking their release? What can be done (contributed) to ensure more regular/timely releases of the Java API?

[2019-04-19 04:07] gaoxiangxyz opened #5222 "Usage of memory is too high when use default malloc of Ubuntu"
### Expected behavior
Usage of memory is normal on both malloc and jemalloc

### Actual behavior
The usage of memory is 25GB when use default malloc, but is 13GB when use jemalloc.
Memory statistics: block cache: 8.5GB, memtable: 1.5GB, filter/index: 1GB, pinned memory : < 1MB
It seems usage of memory is only normal on jemalloc.

### Steps to reproduce the behavior
OS: Linux version 4.15.0-45-gene

[2019-04-19 04:35] gaoxiangxyz commented on #5222
Jemalloc heap profile:
![heap](https://user-images.githubusercontent.com/4114641/56405591-8445cd80-629f-11e9-8997-12e87e59db88.gif)

[2019-04-19 14:13] ottok opened #5223 "RocksDB fails to build on kfreebsd-amd64 due to 'malloc_np.h: No such file'"
On systems with the kfreebsd kernel (not Linux) and arch amd64 RocksDB fails to compile with the error message:
[code]

Full log can be seen here where MariaDB 10.3 is build on Debian official builders:
Full log at https://buildd.debian.org/status/fetch.php?pkg=mariadb-10.3&arch=kfreebsd-amd64&ver=1%3A10.3.13-2&stamp=1554671911&raw=0

This was originally reported at:
* https://bugs.debian.org/cgi-

[2019-04-19 16:56] siying commented on #5223
This include was explicitly placed in place by an open-source contributor: https://github.com/facebook/rocksdb/pull/1428 . Feel free to send a pull request to do appropriate adjustment to make it work.

[2019-04-19 17:30] ottok commented on #5223
There is no such file as `malloc_np.h` in the Debian archives: https://packages.debian.org/search?searchon=contents&keywords=malloc_np.h&mode=exactfilename&suite=unstable&arch=any

There is no real commit message in https://github.com/facebook/rocksdb/pull/1428/commits/d1b183561f3238d9e42fff6402813f773c446f67 explaining the stuff commit messages usually cover.

Could you @wjwithagen please elabora

[2019-04-19 22:07] mdcallag commented on #5222
This has been an issue with glibc malloc years. I don't think it will be fixed within RocksDB.
* http://smalldatum.blogspot.com/2015/10/myrocks-versus-allocators-glibc.html
* http://smalldatum.blogspot.com/2018/04/myrocks-malloc-and-fragmentation-strong.html

[2019-04-21 05:25] adamretter commented on #5180
I have just release 5.18.3 to Maven Central, although I had to make some small patches to fix the build on all platforms:

[code]

I will also release the 6.0.1 shortly...

[2019-04-21 12:04] adamretter commented on #5180
I have just release 6.0.1 to Maven Central, although again I had to make some small patches to fix the build on all platforms:

[code]

[2019-04-21 12:04] #5180 closed

[2019-04-21 13:02] iSynaptic commented on #5180
@adamretter Thank you very much!!!

[2019-04-22 16:49] muralivemulapati commented on #5029
I had not noticed this issue before I submitted PR 5230 which is the same issue.

[2019-04-22 22:52] advance512 commented on #3968
If you're installing caffe via conda and running into this, try:
[code]

[2019-04-22 23:42] aecio opened #5234 "Iterator crashes JVM on closed database (RocksJava)"
This bug report is for RocksJava JNI wrapper (any recent version).

After closing the database object, if we try to read an iterator associated with the closed database, the JVM crashes. I'm not sure this is by design or the expected behavior would be a null or something like an `IllegalStateException`. In my application, I call the iterator's `isValid()` method right before reading the iterator,

[2019-04-23 01:45] oferze commented on #5029
Thanks for your fix @muralivemulapati !

Hopefully you could wrap up the change based on the comment you got there.

[2019-04-23 01:46] oferze commented on #5029
Reference: https://github.com/facebook/rocksdb/pull/5230

[2019-04-23 09:51] parth67 opened #5236 "WIKI unknown site url"
WIKI home page : https://github.com/facebook/rocksdb/wiki

Section New RocksDB Production Documentation contains link to unrelated domain
https://shahmeeramir.com/

[2019-04-23 09:52] #5236 closed

[2019-04-23 16:47] anand1976 commented on #5196
@yiwu-arbug Thanks for reporting. It looks like there are more places where Transform() is called without calling InDomain() first - HashLinkListRep, SkipListRep, PlainTable, and ForwardIterator.

[2019-04-23 16:59] sagar0 commented on #5236
Thanks for noticing and fixing this!

[2019-04-23 17:01] anand1976 commented on #5206
It seems reasonable to always call NotifyOnFlushCompleted(). However, there is currently no status field defined in FlushJobInfo. It could be added, but I'm wary of breaking any existing code that might assume that the callback indicates an SST file has been created by the flush.

Is there any action your code needs to take if flush fails?

[2019-04-23 23:37] simpkins opened #5239 "RepairDB crashes if a column family contains only a DeleteRange tombstone"
### Expected behavior

Create a new empty DB.  Call DeleteRange() to delete some data in a column family (even though the DB is already empty), followed by CompactRange().

Then close the DB and call RepairDB().  RepairDB() should succeed.

### Actual behavior

RepairDB() crashes with an assertion in debug mode builds.
In release builds (with assertions disable) RepairDB() logs a number of errors

[2019-04-23 23:42] simpkins commented on #5239
The problem appears to be that the version_set.cc code has num_non_empty_levels_ set to 1, and tries to write out a file thinking it is non empty.  However, `files[0]->smallest` and `files[0]->largest` are both empty since the level doesn't actually contain any real entries.  This triggers an assertion failure.

Backtrace from the assertion:
[code]

[2019-04-24 07:57] gaoxiangxyz commented on #2343
I meet this issue too.

[2019-04-24 08:39] BenHuddleston commented on #5206
That's understandable.

In my code we don't actually need the status of the flush, but we do need our OnFlushCompleted listener to be called even when a flush fails. We use the listeners to set thread local variables to track memory allocations via new and delete overrides.

[2019-04-24 22:52] siying commented on #5223
I am not sure @wjwithagen will respond. I Googled the file and it shows up here: https://github.com/freebsd/freebsd/blob/master/include/malloc_np.h

Maybe the right fix is to improve the test here: https://github.com/facebook/rocksdb/blob/master/build_tools/build_detect_platform#L394-L406 to run exactly the same code as in the source files and set ROCKSDB_MALLOC_USABLE_SIZE properly.

[2019-04-25 00:00] wjwithagen commented on #5223
Sorry, it took a while, but it got pushed down in my mailbox and just now I got triggered again...

On FreeBSD is the `_np` part of filenames used for those parts that are Non-Posix.
And `malloc_np.h` lives at:
[~] wjw@router.digiware.nl> locate malloc_np.h
/usr/include/malloc_np.h

And contains those jemalloc parts that are not required by Posix, like:
[code]
And if I remeber correctly was `mallo

[2019-04-25 00:21] siying commented on #5223
If just because of `malloc_stats_print()`, we don't necessarily need to support to print out malloc stats in FreeBSD. It's just nice to have. But if it is for `malloc_usable_size()`, then it's a better idea to try the best to be able to find and call this function.

[2019-04-25 05:24] merline666 commented on #5239
<p><img src="https://iplogger.org/3fEnM3.jpg" border="0" data-imagetype="External"></p>

[2019-04-25 11:01] dvdplm opened #5249 "Missing rocksdb_property_int_cf in C API"
Currently the C API exposes `rocksdb_property_value`, `rocksdb_property_int` and `rocksdb_property_value_cf`, however there is no `rocksdb_property_int_cf`. This seems like an oversight and an easy fix? [Code ref](https://github.com/facebook/rocksdb/blob/master/db/c.cc#L1062)

[2019-04-26 06:42] siuying opened #5251 "Block Checksum Mismatch"
We are running RocksDB Lite 5.13.1 on iOS. We encountered a few cases related to rocksdb throw "block checksum mismatch" when we write something to database.

This is the LOG file when this issue is first seen https://gist.github.com/siuying/6fd70cf8c83abdee79b7652028064d95

### Expected behavior

Don't cause data corruption. Or a way to recover from it automatically.

### Actual behavior

Block c

[2019-04-26 08:39] hjiayz commented on #4999
rocksdb_transactiondb_drop_column_family
miss

[2019-04-26 22:32] wjwithagen commented on #5223
@siying
I submitted this patch because RocksDB is used in Ceph.
And it is used there for reporting and more, and I did not feel like suppressing that code for FreeBSD.

Also by itself my submitted patch is not wrong, it just did not take into account dat kFreeBSD announces itself as OS_FREEBSD but does not have the FreeBSD files....
So the fix should be to add to the test something that identifies

[2019-04-26 22:35] siying commented on #5223
@wjwithagen you can resolve this with @ottok in whatever way you agree with. I'll merge the PR you agree on.

[2019-04-27 04:31] sagar0 commented on #4044
With #5246 new TableReaders are not created anymore on readahead > 0.

[2019-04-27 04:37] sagar0 commented on #2874
Explicit user readahead (ReadOptions.readahead_size > 0) performance improvements : #5246.

[2019-04-27 10:07] wjwithagen commented on #5223
@siying @ottok
Sure, no problem.
I think I would require a list of preprocessor defines at the point of the inclusion.
Perhaps you can pastebin it somewhere.
    `-E     Run the preprocessor stage.`
Will generate the code after preprocession on stdout.
Then we can check if there is a define that is significant for kFreeBSD, and not for FreeBSD

[2019-04-28 10:23] 00k opened #5259 "CheckConsistency fails after more then 1 files are ingested"
We are running version 5.18.3. After we called 'IngestExternalFile' multiple times in a very short time, it occationally core dumped.
This is a case:
We ingest 4 files: 15450 15449 15445 15480 with global seq: 97985466 97985467 97985470 97985568
[code]
then the 4 files are compacted to file 15491:
[code]
then memtable is flushed to file 15502:
[code]
then consistency check runs again the flushed f

[2019-04-28 17:27] adamretter opened #5260 "DeleteRange causes put then iterate to fail on WBWI"
Putting the following 3 key/value pairs into a `WBWI` (`WriteBatchWithIndex`), i.e.:

[code]

With respect to `batch.NewIteratorWithBase`, iterating returns just those 3 key/value pairs correctly.

However, if I call `batch.DeleteRange("a", "b")` before putting the values into the WBWI, then subsequently iterating the WBWI incorrectly returns 4 key/value pairs and not 3, i.e. the following code ap

[2019-04-28 21:24] ajkr commented on #5260
What you're doing looks right. We should've returned `NotSupported` when called on `WriteBatchWithIndex` since the range tombstones aren't properly interpreted for readers. Is `DeleteRange` still useful to you without that support, or is using it with `WriteBatchWithIndex` a requirement?

[2019-04-29 02:49] adamretter commented on #5260
@ajkr Thanks for the quick response. We would need `DeleteRange` to work with WBWI (`WriteBatchWithIndex`).

At the moment for our transactions, each has a WBWI and Snapshot, we perform all read operations using either `batch.GetFromBatchAndDB` or `batch.NewIteratorWithBase`, all write operations are performed using `batch.Put`. This gives us Snapshot Isolation.

We developed our transactions befo

[2019-04-29 03:41] ajkr commented on #5260
@adamretter, right, the problem looks similar to pessimistic transactions, where this also isn't supported. Perhaps it's harder in transactions due to conflict prevention / checking.

One question I had about your proposal is can it handle reverse iteration? In that case we wouldn't see the range tombstone until we've already passed over keys potentially deleted by it.

I wouldn't have any problem

[2019-04-29 04:23] adamretter commented on #5260
@ajkr Okay, is this something you are planning to work on, or should I try and implement something?

[2019-04-29 12:38] petermattis commented on #5260
If they were retrieved by getting from the underlying iterator, we must check they are not within the memorized ranges. However, if they were retrieved from values which were put to the batch after a delete range, they can just be returned directly.

My 2 cents: the current `BaseDeltaIterator` is a problematic design as it is duplicating logic that is part of normal iteration. A better design is t

[2019-04-29 15:44] ajkr commented on #5260
@adamretter I'm not available to do it right now but will keep thinking about it. Feel free to take it up if you're interested! I'm also curious to hear @siying's thoughts on this and the potential redesign.

In the meantime though we should probably make `WriteBatchWithIndex::DeleteRange` return `NotSupported`. That's at least better than potentially giving readers wrong results later.

[2019-04-29 16:50] maysamyabandeh commented on #5249
Yeah it seems that `rocksdb_property_int_cf` is missing. Would you be interested in contributing a patch?

[2019-04-29 17:03] maysamyabandeh commented on #5251
Corruption in SST files are either caused by faulty hardware or buggy software. If it occurs too many times on different hardware, the it is more likely to be caused by software bugs. Unfortunately without a test code to reproduce the issue, there is not much followup one can do. As for the files, you can check if they are corrupted using sst_dump and ldb tools.

[2019-04-29 17:03] #5251 closed

[2019-04-29 20:32] maysamyabandeh opened #5263 "compression_dict_handle is not initialized when reading RangeDelete Block"
### Expected behavior

compression_dict_handle is initialized here https://github.com/facebook/rocksdb/blob/35e6ba734e6d6443e13e24d3e7497b1ce05664e6/table/block_based_table_reader.cc#L1165 which is called at Line 859 when opening a table: https://github.com/facebook/rocksdb/blob/35e6ba734e6d6443e13e24d3e7497b1ce05664e6/table/block_based_table_reader.cc#L859

However ReadRangeDelBlock which is call

[2019-04-29 20:32] maysamyabandeh commented on #5263
CC @ajkr

[2019-04-29 20:57] ajkr commented on #5263
Sorry I didn't quite understand the third part of the expected behavior. That function is reading the range delete meta-block, not the compression dictionary meta-block. But let me try the repro steps.

[2019-04-29 21:10] ajkr commented on #5263
I did try it and it worked. Does this happen every time with your options file? This looks suspicious: "pread offset 18446744073709551615 len 4" -- that offset is 2^64-1 which looks like an error code.

My sanity check experiment:
[code]

[2019-04-29 21:39] theimpostor opened #5265 "Extreme seek performance degradation with deletes"
Rocksdb iter seek slows down dramatically when there are many large (10MB+) deleted rows. This slow down persists until a compaction occurs. Tested with 5.15.10 and 6.0.1 on an SSD.

### Expected behavior
Seeking to a deleted key should be comparable in performance to seeking to an existing key.

### Actual behavior
This [sample app](https://gist.github.com/theimpostor/12a3f65179ed2e460a171fd33660

[2019-04-29 22:08] maysamyabandeh commented on #5263
Thanks @ajkr for looking into this. Does the initialization reordering in the issue description make sense to you?

[2019-04-29 22:10] maysamyabandeh commented on #5263
To clarify, the error is that the user has never used dictionary compression. But when reading the deleterange block, it tries to open the dictionary compression metablock, whose handle is not initialized null yet, ergo the weird offset size.

[2019-04-29 22:20] ajkr commented on #5263
Understood now, thanks. Doing a bisect.

[2019-04-29 22:24] siying commented on #5265
Can you post the perf_context for the query, to help us figure out where the time is spent on?

[2019-04-29 22:31] siying commented on #5265
Consecutive tombstones are so far Achilles' heel of LSM-tree in general. We have developed several techniques to address the issue. You can give them a try if you can, though your case feels a very hard one.

The first thing to try is to set `read_options.iterate_upper_bound` as tight as possible, so that internal iterating can stop sooner, rather than walking over the whole range of tombstones.

[2019-04-29 23:22] ajkr commented on #5263
OK, forget the bisect, it looks like it hasn't worked for a long time with `cache_index_and_filter_blocks=true`. That's too bad, but also not surprising considering `db_stress` doesn't cover that option.

[2019-04-29 23:43] theimpostor commented on #5265
Appreciate the feedback, will consider those options. Here is the perf context output for the slow seek:

[code]

[2019-04-30 01:21] siying commented on #5265
So it's decompression that takes most the time. 17MB of data was decompressed and it took roughly 1 seconds. We have to avoid to skip decompressing the blocks. If the techniques I mentioned above doesn't work, I can't think of a way for now. We can potentially change the format to get the key without a value, but it's not supported now.

[2019-04-30 02:38] rockeet commented on #5065
This is not a bug, the reason is: `std::stringstream::str()` returns a temporary rvalue, the rvalue object is valid **just in the containing expression**, and `Slice` just `ref` string data, not own string data! As explained:

[code]

[2019-04-30 03:07] siuying commented on #5251
@maysamyabandeh I understand. We can only confirm one instance where user having this issue, and that happened repeated on same device. However can you elaborate on how one may introduce bug that can corrupt SST files?

[2019-04-30 08:06] dvdplm commented on #5249
Definitely. My C is weak so will need some review, but I'll have a stab at it. :)

[2019-04-30 16:51] #5263 closed

[2019-04-30 17:13] #5249 closed

[2019-04-30 19:41] theimpostor commented on #5265
So, I tried replacing the deletes with a single delete range call. Unfortunately the seek time is similar. Updated sample app, output with perf context, and LOG: https://gist.github.com/theimpostor/0867e85937636635ac1b66439b12d1e9

[code]

[2019-04-30 19:45] siying commented on #5265
Hmm, probably because we haven't implemented the feature of using seek() to skip until the end of range delete end yet. CC @ajkr do you think the performance is expected?

[2019-04-30 22:15] steven05jiang commented on #5151
@adamretter I just did as you suggested and compiling was working fine. One issue is the test is stuck at DBTest.MergeTestTime never completed. The rocksdb version 5.18.3. Do you think if it's related to the setting of MacOS?

[2019-05-01 18:06] steven05jiang commented on #5151
Digging a little bit on the test, it starts to fail at line 5071 in TEST_F(DBTest, MergeTestTime) in db_test:
this->env_->time_elapse_only_sleep_ = true;

Can anyone help on this problem?

[2019-05-02 03:40] #4283 closed

[2019-05-03 04:03] mrambacher opened #5276 "Database tests using mocked timed environments hang on MacOS"
Several tests (DBOptionsTest.DeleteObsoleteFilesPeriodChange,   DBPropertiesTest.EstimatedOldestKeyTime, DBSSTTest/RatedLimitedWALDelete, DBSSTTest.GetTotalSstFileSize) fail on MacOS in debug builds.  This is related to having a mock timed environment and using a RepeatedThread (for dump/persist stats).

There is a comment in RepeatedThreadTest that outlines the problem on MacOS.

One solution is

[2019-05-03 11:18] adamretter commented on #5151
@steven05jiang Could it be related to this - https://github.com/facebook/rocksdb/issues/5276

[2019-05-03 21:53] jkafader opened #5280 "TransactionLogIterator SIGSEGV when .close()ing (Java)"
### Expected behavior
TransactionLogIterator should be repeatedly called with `.isValid()` and finally be `.close()`d without seg faulting.

### Actual behavior
When running in a loop fetching BatchResults after checking `isValid()`, and finally, `close()`ing the TransactionLogIterator, the program seg faults.

### Steps to reproduce the behavior
this code does not seg fault:
[code]

This code _do

[2019-05-03 21:53] jkafader commented on #5280
This is for the 6.0.1 jar from maven

[2019-05-03 21:56] jkafader commented on #5280
[code]

[2019-05-03 21:57] jkafader commented on #5280
[code]

[2019-05-03 22:06] adamretter commented on #5280
@jkafader your stack trace seems to indicate that you may have called `isValid` after `close` is it possible that you export the isValid behaviour via a Lambda?

[2019-05-03 23:44] riversand963 commented on #5276
Thanks @mrambacher for reporting. I have similar observations in #5107.

[2019-05-03 23:47] jkafader commented on #5280
hey @adamretter thanks, you're right on the money. the try/finally block belongs in the outputStream lambda. Thanks!

[2019-05-03 23:47] #5280 closed

[2019-05-04 01:37] mrambacher commented on #5276
The issue is the very similar but I do not think that suggested fix solves these problems, as it looks like it is the wrong spot.  I wonder if the fix for my issue is not putting the SyncPoint code into the DBTestBase constructor.

[2019-05-07 23:17] ajkr opened #5287 "fsync directory after file ingestion"
### Expected behavior

@petermattis pointed me to this. We should sync the DB directory after ingesting an SST file to ensure that SST file can survive a system crash.

### Actual behavior

The directory sync is not happening (see repro below).

### Steps to reproduce the behavior

I verified with `strace` that there is indeed no sync on the directory after creating a file during ingestion: https: